//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Cek Nilai Kurs
  @description: Individu - Presentation Needs - Cek Nilai Kurs
  -------------------------------------------------------------------------------//

//cek-nilai-kurs
.ocbc-presentation-needs__pane(data-presentation='cek-nilai-kurs')

  //- exchange-rate-calculator-table
  include ../../../layout/cek-nilai-kurs-calculator-table.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Nilai Kurs Khusus untuk Anda',
      description: 'Bergabung di premier banking Anda akan mendapatkan tarif dan biaya khusus',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda ',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Kurs',
          title: 'Lihat Kurs Rupiah Menguat',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Kurs',
          title: 'Tips Menukar Valas Ketika Mau Liburan',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }

  include ../../../layout/card-article.pug
