//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Index
  @description: Individu - Presentation Needs - Index
  -------------------------------------------------------------------------------//

//- Presentation Needs
//ocbc-presentation-needs
.ocbc-presentation-needs
  //ocbc-presentation-needs__close
  ='\n'
  button(type='button').ocbc-presentation-needs__close.js-close-presentation-needs
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  //ocbc-presentation-needs__wrapper
  .ocbc-presentation-needs__wrapper
    //- Kelola Keuangan Pribadi
    include kelola-keuangan-pribadi.pug
    //- Promo Terbaru
    include promo-terbaru.pug
    //- Cek Nilai Kurs
    include cek-nilai-kurs.pug
    //- Tarif Biaya Suku Bunga
    include tarif-biaya-suku-bunga.pug
    //- Rencanakan Liburan
    include rencanakan-liburan.pug
    //- Tukar Poin Seru
    include tukar-poin-seru.pug
    //- Mulai Investasi
    include mulai-investasi.pug
    //- Rumah Impian
    include rumah-impian.pug
    //- Pendidikan  Anak
    include pendidikan-anak.pug
    //- Perlindungan Terbaik
    include perlindungan-terbaik.pug
