//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Kelola Keuangan Pribadi
  @description: Individu - Presentation Needs - Kelola Keuangan Pribadi
  -------------------------------------------------------------------------------//

//kelola-keuangan-pribadi
.ocbc-presentation-needs__pane(data-presentation='kelola-keuangan-pribadi')

  //- section-banner
  -
    data = {
      isNyala: true,
      description: 'Layanan untuk nabung, nyicil rumah, dan mengembangkan bisnis dengan mudah di satu tempat',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Aktifkan',
          to: '#'
        },
        outline: {
          text: 'Lihat Simulasi',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card-nyala
  -
    data = {
      title: 'Kenali Nyala yang sesuai untukmu',
      card: [
        {
          image: 'nyala.jpg',
          title: 'Untuk kamu yang ingin kebebasan di setiap transaksi harian',
          item: [
            'Bebas 10x biaya transfer dan tarik tunai* ',
            'Bonus Cashback hingga Rp250 ribu untuk Nasabah baru',
          ],
          button: {
            text: 'Selengkapnya',
            to: '#'
          }
        },
        {
          image: 'nyala-individu.jpg',
          title: 'Untuk kamu yang butuh fokus mengembangkan asset dan uang',
          item: [
            'Bebas biaya transfer serta pembelian dan pembayaran online hingga 50x**',
            'Cicilan kartu kredit 0% selama 3 bulan'
          ],
          button: {
            text: 'Selengkapnya',
            to: '#'
          }
        },
        {
          image: 'nyala-bisnis.jpg',
          title: 'Untuk kamu yang perlu mengatur keuangan bisnis dan pribadi supaya lebih cuan',
          item: [
            'Akses pinjaman konfirmasi instan',
            'Dedicated Relationship Manager sebagai penasehat keuangan pribadi dan bisnis'
          ],
          button: {
            text: 'Selengkapnya',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-nyala.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Welcome Gift Cashback Rp1.650.000',
      description: 'Upgrade ke Premier Banking dan dapatkan layanan perbankan spesial',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Nyala',
          title: 'Menjaga Dana Pendidikan Anak dari Sekarang',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Nyala',
          title: 'Cara mengamankan pendidikan Anak',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
