//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Mulai Investasi
  @description: Individu - Presentation Needs - Mulai Investasi
  -------------------------------------------------------------------------------//

//mulai-investasi
.ocbc-presentation-needs__pane(data-presentation='mulai-investasi')

  //- section-banner
  -
    data = {
      title: 'Tidak Ada Kata Terlambat Berinvestasi',
      description: 'Saatnya investasi Reksa Dana mulai dari Rp100 Ribu #BeraniCuan',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Ajukan Investasi',
          to: '#'
        },
        outline: {
          text: 'Lihat Simulasi',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan rencana investasi lainnya',
      button: {
        to: '#',
        text: 'Lihat Produk Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Investasi SBN Online',
          description: 'Dapatkan pembayaran kupon secara rutin sesuai jatuh tempo',
          button: 'Ajukan',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Fixed Income Fund',
          description: 'Investasi dengan fokus utama minimal 80% pada obligasi',
          button: 'Ajukan',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Fx Today & Non Today',
          description: 'Jual Beli Valas dengan Kurs bersaing',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Suku Bunga Spesial',
      description: 'Simpan dana Rp500 Juta ke atas dan nikmati fasilitas pengelolaan keuangan',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda ',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Investasi',
          title: 'Generasi Milenial Bisa Investasi',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Investasi',
          title: 'Ketahui Perbedaan Investasi dan Tabungan',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
