//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Pendidikan Anak
  @description: Individu - Presentation Needs - Pendidikan Anak
  -------------------------------------------------------------------------------//

//pendidikan-anak
.ocbc-presentation-needs__pane(data-presentation='pendidikan-anak')

  //- section-banner
  -
    data = {
      isNyala: true,
      description: 'Dapatkan bunga menarik dengan lakukan penempatan online deposito melalui ONe Mobile',
      image: {
        desktop: 'pendidikan-d.jpg',
        mobile: 'pendidikan-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Aktifkan',
          to: '#'
        },
        outline: {
          text: 'Lihat Simulasi',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan solusi untuk rencana pendidikan terbaik',
      button: {
        to: '#',
        text: 'Lihat Produk Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Deposito',
          description: 'Bunga lebih optimal dibandingkan pembukaan di counter',
          button: 'Ajukan',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Reksa Dana',
          description: 'Berinvestasi mudah dengan dana mulai dari Rp100 ribu',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Asuransi',
          description: 'Dapatkan pertanggungan hingga Rp500 juta',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Fasilitas Perbankan Eksklusif',
      description: 'Premier Banking dapat mengelola keuangan Anda menjadi aset',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda',
      card: [
        {
          image: 'individu-1.jpg',
          label: 'Pendidikan',
          title: 'Menjaga Dana Pendidikan Anak dari Sekarang',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'individu-2.jpg',
          label: 'Pendidikan',
          title: 'Cara mengamankan pendidikan Anak',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
