//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Perlindungan Terbaik
  @description: Individu - Presentation Needs - Perlindungan Terbaik
  -------------------------------------------------------------------------------//

//perlindungan-terbaik
.ocbc-presentation-needs__pane(data-presentation='perlindungan-terbaik')

  //- section-banner
  -
    data = {
      title:  'Proteksi Kesehatan untuk Kebutuhan Keluarga',
      description: 'Tidak perlu khawatir dengan membayar biaya pengobatan membengkak',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Ajukan Asuransi',
          to: '#'
        },
        outline: {
          text: 'Lihat Simulasi',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan solusi untuk perlindungan keluarga',
      button: {
        to: '#',
        text: 'Lihat Produk Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Proteksi Jiwa',
          description: 'Dapat membayar uang tunai jika terjadi risiko',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Proteksi Rawat Inap',
          description: 'Menyediakan pertanggungan rawat inap atas kecelakaan dan masa pemulihan',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Proteksi Penyakit Kritis',
          description: 'Membayar pertanggungan terdiagnosa penyakit kritis',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Proteksi Kesehatan dan Aset',
      description: 'Nasabah Premier Banking dapat fasilitas perlindungan kesehatan dan aset',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Asuransi',
          title: 'Pentingnya Mempunyai Perlindungan Jiwa',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Asuransi',
          title: 'Pentingnya Menjaga Kesehatan Keluarga',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
