//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Promo Terbaru
  @description: Individu - Presentation Needs - Promo Terbaru
  -------------------------------------------------------------------------------//

//promo-terbaru
.ocbc-presentation-needs__pane(data-presentation='promo-terbaru')

  //- section-banner
  -
    data = {
      title: 'Banyak Promo Menanti',
      description: 'Menabung untuk liburan, dapat cashback Rp600 Ribu',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Lihat Caranya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan promo menarik lainnya',
      button: {
        to: '#',
        text: 'Lihat Promo Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Coba Kuliner Baru',
          description: 'Dapatkan diskon dan voucher cashback di restaurant pilihan',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Mencoba Wahana Baru',
          description: 'Dapatkan harga spesial untuk bermain bersama keluarga di Theme Park',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Belanja Sepuasnya',
          description: 'Dapatkan diskon dan gratis cicilan di berbagai merchant terbaik',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Promo Spesial',
      description: 'Nikmati harga spesial dari berbagai merchant terbaik',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda ',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Pendidikan',
          title: 'Menjaga Dana Pendidikan Anak dari Sekarang',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Pendidikan',
          title: 'Cara mengamankan pendidikan Anak',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
