//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Rencanakan Liburan
  @description: Individu - Presentation Needs - Rencanakan Liburan
  -------------------------------------------------------------------------------//

//rencanakan-liburan
.ocbc-presentation-needs__pane(data-presentation='rencanakan-liburan')

  //- section-banner
  -
    data = {
      title: 'Menabung dengan Mata Uang Asing',
      description: 'Buka Tanda 360 Plus untuk kemudahan menabung mata uang asing sesuai destinasi liburanmu',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Buka Tabungan',
          to: '#'
        },
        outline: {
          text: 'Lihat Biaya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan lainnya untuk mewujudkan rencana liburan',
      button: {
        to: '#',
        text: 'Lihat Produk Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Taka Bunga Pasti',
          description: 'Dana liburan terpenuhi dengan suku bunga hingga 5,25%',
          button: 'Buka Tabungan',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Tanda Premium',
          description: 'Tabungan dengan keuntungan bebas biaya tarik tunai',
          button: 'Buka Tabungan',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'On Cash Loan',
          description: 'Wujudkan liburan dengan pinjaman tunai tanpa syarat agunan',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Fasilitas Eksklusif',
      description: 'Gratis penjemputan dari Bandara ke tempat tujuan',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda ',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Liburan',
          title: 'Tips Travelling dengan Keluarga',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Liburan',
          title: 'Kapan Idealnya Menabung Untuk Liburan? Lihat Tipsnya',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
