//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Rumah Impian
  @description: Individu - Presentation Needs - Rumah Impian
  -------------------------------------------------------------------------------//

//rumah-impian
.ocbc-presentation-needs__pane(data-presentation='rumah-impian')

  //- section-banner
  -
    data = {
      title: 'Perencanaan Matang Beli Rumah',
      description: 'Cepat punya rumah dengan KPR OCBC NISP yang memberikan tenor hingga 25 tahun',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Ajukan KPR',
          to: '#'
        },
        outline: {
          text: 'Lihat Simulasi',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan solusi untuk rencana memiliki rumah',
      button: {
        to: '#',
        text: 'Lihat Produk Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'KPR Kendali',
          description: 'Kendalikan bunga KPR lebih ringan dari saldo tabungan',
          button: 'Ajukan',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Taka Bunga Pasti',
          description: 'Menabung untuk beli rumah dengan suku bunga hingga 5,25%',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Reksa Dana',
          description: 'Berinvestasi mudah dengan dana mudah mulai dari Rp100 Ribu',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Tarif dan Biaya Khusus',
      description: 'Nasabah Premier Banking mendapatkan tarif dan biaya khusus bertransaksi',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda ',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'KPR',
          title: 'Cara Generasi Milenial Beli Rumah',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'KPR',
          title: 'Punya Keinginan Beli Rumah Pertama? Ini Tipsnya',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
