//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Tukar Poin Seru
  @description: Individu - Presentation Needs - Tukar Poin Seru
  -------------------------------------------------------------------------------//

//tukar-poin-seru
.ocbc-presentation-needs__pane(data-presentation='tukar-poin-seru')

  //- section-banner
  -
    data = {
      title: 'Harta Karun Poin Seru',
      description: 'Ikuti perburuan Grand Prize Poin Seru<br/>Apartement Sky House Alam Sutera+',
      image: {
        desktop: 'tukar-poin-seru-d.jpg',
        mobile: 'tukar-poin-seru-m.jpg'
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Mau dapat poin atau tukar poin, semua sama serunya!',
      button: {
        to: '#',
        text: 'Cari Tahu Lebih Detail'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Mitra Poin Seru',
          endless: true,
          partners: [
            {
              image: 'mitra-1.png',
              name: 'Mitra 1'
            },
            {
              image: 'mitra-2.png',
              name: 'Mitra 2'
            },
            {
              image: 'mitra-3.png',
              name: 'Mitra 3'
            },
            {
              image: 'mitra-4.png',
              name: 'Mitra 4'
            },
            {
              image: 'mitra-5.png',
              name: 'Mitra 5'
            },
            {
              image: 'mitra-6.png',
              name: 'Mitra 6'
            },
            {
              image: 'mitra-7.png',
              name: 'Mitra 7'
            },
            {
              image: 'mitra-8.png',
              name: 'Mitra 8'
            }
          ]
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Dapat Poin Seru',
          description: 'Dapatkan bonus poin berlipat ganda dengan menabung dan bertransaksi',
          button: 'Dapatkan Sekarang',
          to: '#'
        },
        {
          icon: 'btn-widget-default.svg',
          title: 'Redeem Poin Seru',
          description: 'Menangkan voucher belanja, gadget, dan logam mulia di Lelang Poin dan SurePrize.',
          button: 'Redeem Sekarang',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi Anda ',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Poin',
          title: 'Tukar Poin Dapat Apartemen',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Poin',
          title: 'Beli Handphone Cuma Pakai Poin',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
