//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Amnesti Pajak
  @description: Tentang Kami - Informasi - Tab - Amnesti Pajak
  -------------------------------------------------------------------------------//

//ocbc-tax-amnesty
.ocbc-tax-amnesty
  //- CSR Program
  -
    data = [{
      title: 'Penjelasan Amnesti Pajak',
      description: 'Amnesti Pajak merupakan kesempatan bagi wajib pajak untuk berpartisipasi dalam percepatan pembangunan ekonomi Indonesia. Bank OCBC NISP mendukung program Amnesti Pajak melalui layanan perbankan dan produk investasi unggulan untuk mengelola dan mengembangkan dana repatriasi nasabah dari luar negeri.',
      img: 'penjelasan-amnesti-pajak.jpg'
    }]
  include ../../../components/tax-amnesty-section.pug

  //- USP Car
  -
    data = {
      title: 'Keuntungan Amnesti Pajak',
      list: [
        {
          title: 'Title of USP',
          description: 'Penghapusan pajak yang seharusnya terutang.',
          img: 'fragment-default.svg'
        },
        {
          title: 'Title of USP',
          description: 'Tidak dikenai sanksi administrasi dan sanksi pidana perpajakan.',
          img: 'fragment-default.svg'
        },
        {
          title: 'Title of USP',
          description: 'Tidak dilakukan pemeriksaan, pemeriksaan bukti permulaan, dan penyidikan.',
          img: 'fragment-default.svg'
        },
        {
          title: 'Title of USP',
          description: 'Penghentian proses pemeriksaan, pemeriksaan bukti permulaan, atau penyidikan.',
          img: 'fragment-default.svg'
        },
        {
          title: 'Title of USP',
          description: 'Pembebasan pajak penghasilan untuk balik nama harta tambahan.',
          img: 'fragment-default.svg'
        },
        {
          title: 'Title of USP',
          description: 'Jaminan rahasia data pengampunan pajak tidak dapat dijadikan dasar penyelidikan dan penyidikan tindak pidana apapun.',
          img: 'fragment-default.svg'
        }
      ]
    }
  include ../../../layout/product-detail-fragment.pug

  //- Vertical Tab

  -
    data = [
      {
        text: 'Syarat & Ketentuan',
        target: 'syarat-ketentuan'
      }
    ]

  //ocbc-vertical-tab__page
  .ocbc-vertical-tab__page
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-3.ocbc-col-lg-12.ocbc-col-sm-12
          include ../../../components/vertical-tab.pug
        .ocbc-col-xl-9.ocbc-col-lg-12.ocbc-col-sm-12
          .ocbc-vt-content.ocbc-vt-content--active(data-pane='syarat-ketentuan')
            include amnesti-tab-content/syarat-ketentuan.pug


  //- FAQ Dropdown
  -
    data = {
      title: 'Pertanyaan Populer Tentang Amnesti Pajak:',
      question: [
        {
          val: 1,
          text: 'Apa itu Amnesti Pajak?'
        },
        {
          val: 2,
          text: 'Cara bertransaksi dengan QR Payment di ONe Mobile'
        },
        {
          val: 3,
          text: 'Apa itu ONe Mobile'
        },
        {
          val: 4,
          text: 'Apakah ONe Mobile aman untuk bertransaksi'
        }
      ],
      answer: [
        {
          val: 1,
          text: 'Amnesti Pajak (Pengampunan Pajak) adalah penghapusan pajak yang seharusnya terutang dimana Wajib Pajak (WP) tidak akan dikenakan sanksi administrasi perpajakan dan sanksi pidana di bidang perpajakan apabila mengikuti Amnesti Pajak dengan cara mengungkap harta dan membayar uang tebusan.'
        },
        {
          val: 2,
          text: 'Cukup satu aplikasi untuk kemudahan dan kenyamanan transaksi perbankan Anda. Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
        },
        {
          val: 3,
          text: 'ONe mobile adalah sebuah aplikasi berbasis digital yang siap membantu Anda betransaksi lebih mudah dan cepat'
        },
        {
          val: 4,
          text: 'Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
        }
      ],
    }

  .ocbc-faq-dd__prod-detail
    .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            include ../../../components/faq-dropdown.pug

  //- Border Upselling Card
  -
    modifier = '';
    data = {
      border: true,
      title: 'Permintaan Amnesti Pajak',
      description: 'Tim kami siap membantu memberikan solusi',
      button: 'Hubungi Kami',
      to: '#'
    }
  include ../../../layout/card-upselling.pug
