//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Berita Perusahaan
  @description: Tentang Kami - Informasi - Tab - Berita Perusahaan
  -------------------------------------------------------------------------------//

extends ../../../layout/press-conference.pug

block filter
  -
    data = [
      {
        title: 'Tahun',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Tahun',
            checked: true
          },
          {
            name: '2020',
            text: '2020'
          },
          {
            name: '2019',
            text: '2019'
          },
          {
            name: '2018',
            text: '2018'
          },
          {
            name: '2017',
            text: '2017'
          },
          {
            name: '2016',
            text: '2016'
          }
        ]
      },
      {
        title: 'Bulan',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Bulan',
            checked: true
          },
          {
            name: 'januari',
            text: 'Januari'
          },
          {
            name: 'februari',
            text: 'Februari'
          },
          {
            name: 'maret',
            text: 'Maret'
          },
          {
            name: 'april',
            text: 'April'
          },
          {
            name: 'mei',
            text: 'Mei'
          },
          {
            name: 'juni',
            text: 'Juni'
          },
          {
            name: 'juni',
            text: 'Juni'
          },
          {
            name: 'juli',
            text: 'Juli'
          },
          {
            name: 'agustus',
            text: 'Agustus'
          },
          {
            name: 'september',
            text: 'September'
          },
          {
            name: 'october',
            text: 'October'
          },
          {
            name: 'November',
            text: 'November'
          },
          {
            name: 'desember',
            text: 'Desember'
          }
        ]
      },
      {
        title: 'Kategori',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Kategori',
            checked: true
          },
          {
            name: 'partnership',
            text: 'Partnership'
          },
          {
            name: 'pencapaian',
            text: 'Pencapaian'
          },
          {
            name: 'pendidikan',
            text: 'CSR - Pendidikan'
          },
          {
            name: 'lingkungan',
            text: 'CSR - Lingkungan'
          },
          {
            name: 'sosial',
            text: 'CSR - Sosial'
          }
        ]
      }
    ]
  include ../../../layout/filter.pug

block list
  -
    data = {
      card: [
        {
          image: 'informasi-1.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-2.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-3.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-4.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-1.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-2.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-3.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'informasi-4.jpg',
          label: '8 Maret 2020',
          title: 'OCBCNISP x IFC Pembiayaan Berkelanjutan',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  .ocbc-card-article__sort
    include ../../../components/sort-fragment.pug
  .ocbc-row.ocbc-card-article__list
    each val in data.card
      .ocbc-col-xl-6.ocbc-col-md-12.ocbc-card-article__item
        - data = val;
        include ../../../components/card-article.pug
