//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Info Lelang
  @description: Tentang Kami - Informasi - Tab - Info Lelang
  -------------------------------------------------------------------------------//

.ocbc-auction-info-page
  -
    data = [
      {
        val: 1,
        text: 'Rumah'
      },
      {
        val: 2,
        text: 'Ruko'
      },
      {
        val: 3,
        text: 'Gudang'
      }
    ]
  include ../../../layout/filter-card.pug

  -
    data = {
      card: [
        {
          image: 'placeholder.jpg',
          title: 'Kode Aset: BGR00007',
          description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
        },
        {
          image: 'placeholder.jpg',
          title: 'Kode Aset: BGR00007',
          description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
        },
        {
          image: 'placeholder.jpg',
          title: 'Kode Aset: BGR00007',
          description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
        },
        {
          image: 'placeholder.jpg',
          title: 'Kode Aset: BGR00007',
          description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
        },
        {
          image: 'placeholder.jpg',
          title: 'Kode Aset: BGR00007',
          description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
        },
        {
          image: 'placeholder.jpg',
          title: 'Kode Aset: BGR00007',
          description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
        },
      ]
    }

  include ../../../layout/card-auction-info.pug

  -
    data = [
      {
        text: 'Syarat & Ketentuan',
        target: 'syarat-ketentuan'
      },
      {
        text: 'Informasi Kontak',
        target: 'informasi-kontak'
      }
    ]

  //ocbc-vertical-tab__page
  .ocbc-vertical-tab__page
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-3.ocbc-col-lg-12.ocbc-col-sm-12
          include ../../../components/vertical-tab.pug
        .ocbc-col-xl-9.ocbc-col-lg-12.ocbc-col-sm-12
          .ocbc-vt-content.ocbc-vt-content--active(data-pane='syarat-ketentuan')
            include vtc-info-lelang/syarat-ketentuan.pug
          .ocbc-vt-content(data-pane='informasi-kontak')
            include vtc-info-lelang/informasi-kontak.pug

  -
    modifier = '';
    data = {
      border: true,
      primary: true,
      title: 'Masih Punya Pertanyaan?',
      description: 'Tim kami siap membantu memberikan solusi',
      button: 'Hubungi Kami',
      to: '#'
    }

  include ../../../layout/card-upselling.pug
