//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Lembaga
  @description: Tentang Kami - Informasi - Tab - Lembaga
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Daftar Lembaga/Profesi Penunjang Pasar Modal',
    list: [
      {
        institution: 'Biro Administrasi Efek (BAE)',
        cards: [
          {
            company: 'PT Sirca Datapro Perdana',
            address: [
              'Jl. Johar No. 18, Menteng',
              'Jakarta 10340 – Indonesia'
            ],
            phone: [
              {
                to: '+62213140032',
                number: '(62-21) 314 0032'
              },
              {
                to: '+62213900645',
                number: '390 0645'
              }
            ],
            fax: [
              {
                to: '+62213900652',
                number: '(62-21) 390 0652'
              },
              {
                to: '+62213900671',
                number: '390 0671'
              }
            ],
            site: 'www.sircadp.com'
          }
        ]
      },
      {
        institution: 'Akuntan Publik',
        cards: [
          {
            company: 'Kantor Akuntan Publik Tanudiredja,<br/>Wibisana, Rintis & Rekan',
            address: [
              '(firma anggota Jaringan Global PwC)',
              'Jl. HR. Rasuna Said Kav. X-7 No. 6',
              'Jakarta 12940 – Indonesia'
            ],
            phone: [
              {
                to: '+622152112901',
                number: '(62-21) 5211 2901'
              }
            ],
            fax: [
              {
                to: '+622152905555',
                number: '(62-21) 5290 5555'
              }
            ],
            site: 'www.pwc.com/id'
          }
        ]
      },
      {
        institution: 'Wali Amanat',
        cards: [
          {
            company: 'PT Bank Mega Tbk',
            address: [
              'Menara Bank Mega Lt. 16',
              'Kav. 12-14 A',
              'Jakarta 12790'
            ],
            phone: [
              {
                to: '+622179175000',
                number: '(62-21) 7917 5000'
              }
            ],
            fax: [
              {
                to: '+62217990720',
                number: '(62-21) 799 0720'
              }
            ],
            site: 'www.bankmega.com'
          }
        ]
      },
      {
        institution: 'Pemeringkat Efek',
        cards: [
          {
            company: 'Domestik<br/>PT Pemeringkat Efek Indonesia (Pefindo)',
            address: [
              'Panin Tower, Senayan City Lt. 17',
              'Jl. Asia Afrika Lot 19',
              'Jakarta 10270 – Indonesia'
            ],
            phone: [
              {
                to: '+622172782380',
                number: '(62-21) 7278 2380'
              }
            ],
            fax: [
              {
                to: '+622172782370',
                number: '(62-21) 7278 2370'
              }
            ],
            site: 'www.pefindo.com'
          },
          {
            company: 'Internasional<br/>Fitch Ratings Singapore Pte, Ltd',
            address: [
              'One Raffles Quay',
              'South Tower # 22-11',
              'Singapore 048583'
            ],
            phone: [
              {
                to: '+6567967200',
                number: '(65) 6796 7200'
              }
            ],
            site: 'www.fitchratings.com'
          },
          {
            company: 'PT Fitch Ratings Indonesia',
            address: [
              'DBS Bank Tower, Lt. 24, Suite 2403',
              'Jl. Prof Dr. Satrio Kav. 3-5',
              'Jakarta 12940–Indonesia'
            ],
            phone: [
              {
                to: '+622129886800',
                number: '(62-21) 2988 6800'
              }
            ],
            fax: [
              {
                to: '+622129886822',
                number: '(62-21) 2988 6822'
              }
            ],
            site: 'www.fitchratings.co.id'
          }
        ]
      },
      {
        institution: 'Notaris',
        cards: [
          {
            company: 'Notaris Fathiah Helmi',
            address: [
              'Graha Irama Lt. 6-C',
              'Jl. HR Rasuna Said Kav. 1-2 BI X-1',
              'Jakarta 12940 – Indonesia'
            ],
            phone: [
              {
                to: '+622152907304',
                number: '(62-21) 5290 7304'
              },
              {
                to: '+622152907306',
                number: '(62-21) 5290 7306'
              }
            ],
            fax: [
              {
                to: '+62215261136',
                number: '(62-21) 526 1136'
              }
            ]
          }
        ]
      },
      {
        institution: 'Kustodian',
        cards: [
          {
            company: 'PT Kustodian Sentral Efek Indonesia',
            address: [
              'Gedung Bursa Efek Indonesia',
              'Tower I, Lantai 5',
              'Jl. Jendral Sudirman Kav. 52–53',
              'Jakarta 12190'
            ],
            phone: [
              {
                to: '+622152991099',
                number: '(62-21) 5299 1099'
              }
            ],
            fax: [
              {
                to: '+622152991199',
                number: '(62-21) 5299 1199'
              }
            ],
            site: 'www.ksei.co.id'
          }
        ]
      }
    ]
  };

include ../../../layout/card-address.pug
