//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Partner Kami
  @description: Tentang Kami - Informasi - Tab - Partner Kami
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Kartu Kredit',
      target: 'kartu-kredit'
    },
    {
      text: 'Kredit Kepemilikan Rumah',
      target: 'kredit-kepemilikan-rumah'
    },
    {
      text: 'ON Cash Loan',
      target: 'on-cash-loan'
    }
  ]

//ocbc-partner-kami
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='kartu-kredit')
          include vtc-partner/kartu-kredit.pug
        .ocbc-vt-content(data-pane='kredit-kepemilikan-rumah')
          include vtc-partner/kredit-kepemilikan-rumah.pug
        .ocbc-vt-content(data-pane='on-cash-loan')
          include vtc-partner/on-cash-loan.pug
