//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Pengumuman
  @description: Tentang Kami - Informasi - Tab - Pengumuman
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: '2020',
      target: 'announcement-2020'
    },
    {
      text: '2019',
      target: 'announcement-2019'
    },
    {
      text: '2018',
      target: 'announcement-2018'
    },
    {
      text: '2017',
      target: 'announcement-2017'
    },
    {
      text: '2016',
      target: 'announcement-2016'
    }
  ]

//ocbc-announcement
.ocbc-vertical-tab__page.ocbc-announcement
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='announcement-2020')
          include vtc-pengumuman/2020.pug
        .ocbc-vt-content(data-pane='announcement-2019')
          include vtc-pengumuman/2019.pug
        .ocbc-vt-content(data-pane='announcement-2018')
          include vtc-pengumuman/2018.pug
        .ocbc-vt-content(data-pane='announcement-2017')
          include vtc-pengumuman/2017.pug
        .ocbc-vt-content(data-pane='announcement-2016')
          include vtc-pengumuman/2016.pug
