//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - KPKB iB
  @description: Bunga & Biaya Syariah - Vertical Tab - KPKB iB
  -------------------------------------------------------------------------------//


include table/kpkb-ib.pug
