//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - KPR iB Murabahah
  @description: Bunga & Biaya Syariah - Vertical Tab - KPR iB Murabahah
  -------------------------------------------------------------------------------//


include table/kpr-ib-murabahah.pug
