//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - KPR iB MMQ
  @description: Bunga & Biaya Syariah - Vertical Tab - KPR iB MMQ
  -------------------------------------------------------------------------------//


include table/kpr-ib-mmq.pug
