//-------------------------------------------------------------------------------
  @name: Design System - Writing Style & Guideline - Content
  @description: Design System - Writing Style & Guideline - Content
  -------------------------------------------------------------------------------//

//ocbc-ds__content
.ocbc-ds__content
  //- writing-style-guideline
  include writing-style-guideline/index.pug
