//-------------------------------------------------------------------------------
  @name: Design System - Writing Style & Guideline - Navigation Content
  @description: Design System - Writing Style & Guideline - Navigation Content
  -------------------------------------------------------------------------------//

extend ../design-system/navigation.pug

//- menu content
block menu
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-brand-guideline.html') Brand Guideline
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-elements.html') Elements
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-components.html') Components
    |!{''}
    |
  h5.ocbc-ds__menu__title.ocbc-ds__menu__title--active
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-writing-style-guideline.html') Writing Style & Guideline
    |!{''}
    |
  -
    brandMenu = [
      {
        target: 'dsForeword',
        text: 'Foreword'
      },
      {
        target: 'dsPrinciples',
        text: 'Principles'
      },
      {
        target: 'dsVoice&Tone',
        text: 'Voice & Tone'
      },
      {
        target: 'dsContentStructure',
        text: 'Content Structure'
      },
      {
        target: 'dsConvention&Rules',
        text: 'Convention & Rules'
      }
    ]
  ul.ocbc-ds__menu-list
    each val, index in brandMenu
      li.ocbc-ds__menu-list__item(class=(index == 0 ? 'ocbc-ds__menu-list__item--active' : ''))
        |!{''}
        |
        a.ocbc-ds__menu-list__link.js-ds-menu-list-link(href='#'+val.target)
          | !{val.text}

