//-------------------------------------------------------------------------------
  @name: Result Share Asuransi - Product Category
  @description: Result Share Asuransi - Product Category
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Solusi untuk Proteksi Kesehatan Anda',
    card: [
      {
        to: 'individu-wealth-management-reksa-dana.html',
        image: 'product-category-4.jpg',
        title: 'Reksadana',
        item: [
          'Uang Muka dimulai dari Rp 300,000,000',
          'Bebas Biaya Administrasi',
          'Bebas Biaya Tarik Tunai'
        ]
      },
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-2.jpg',
        title: 'Tabungan Berjangka',
        item: [
          '12 Mata Uang dalam 1 Tabungan',
          'Bebas Biaya Administrasi',
          'Bebas Biaya Tarik Tunai'
        ]
      }
    ]
  }

include ../../layout/card-product-category.pug
