//-------------------------------------------------------------------------------
  @name: Result Share Asuransi - Table
  @description: Result Share Asuransi - Table
  -------------------------------------------------------------------------------//

extends ../../layout/table-result-share.pug

block table
  -
    data = {
      table : [
        {
          description: 'Anda harus berkontribusi bulanan sebesar',
          value: 'USD1104/mo'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3 juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari. Pengembalian uang penuh untuk transplantasi organ hingga US$ 50k untuk biaya operasi)'
      ]
    }

  include ../../components/table-result.pug

  -
    data = {
      table : [
        {
          description: 'Proteksi Anda',
          value: 'USD1104/mo'
        },
        {
          description: 'Proteksi Pasangan',
          value: 'USD1104/mo'
        },
        {
          borderTop: true,
          description: 'Total Anda harus berkontribusi sebesar <strong>(per bulan)</strong>',
          value: 'USD2208/mo'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3 juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari. Pengembalian uang penuh untuk transplantasi organ hingga US$ 50k untuk biaya operasi)'
      ]
    }

  //Table Hasil Untuk Pasangan
  //include ../../components/table-result.pug


  -
    data = {
      table : [
        {
          description: 'Proteksi Anda',
          value: 'USD1104/mo'
        },
        {
          description: 'Proteksi Tertanggung 1',
          value: 'USD1104/mo'
        },
        {
          description: 'Proteksi Tertanggung 2',
          value: 'USD1104/mo'
        },
        {
          borderTop: true,
          description: 'Total Anda harus berkontribusi sebesar <strong>(per bulan)</strong>',
          value: 'USD 3312/mo'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3 juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari. Pengembalian uang penuh untuk transplantasi organ hingga US$ 50k untuk biaya operasi)'
      ]
    }

  //Table Hasil Untuk Keluarga
  //include ../../components/table-result.pug
