//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Kartu Kredit',
      subcategory: [
        {
          text: 'OCBC NISP Platinum',
          target: 'platinum'
        },
        {
          text: 'OCBC NISP Titanium',
          target: 'titanium'
        },
        {
          text: 'OCBC NISP Voyage',
          target: 'voyage'
        },
        {
          text: 'OCBC NISP 90°N',
          target: '90n'
        }
      ]
    },
    {
      text: 'Kartu Debit',
      subcategory: [
        {
          text: 'OCBC NISP Debit GPN',
          target: 'gpn'
        },
        {
          text: 'OCBC NISP Debit',
          target: 'debit'
        },
        {
          text: 'OCBC NISP Debit Premier',
          target: 'premier'
        },
        {
          text: 'OCBC NISP Debit Online',
          target: 'online'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Kartu Kredit
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='platinum')
          include vtc-kartu-transaksi/platinum.pug
        .ocbc-vt-content(data-pane='titanium')
          include vtc-kartu-transaksi/titanium.pug
        .ocbc-vt-content(data-pane='voyage')
          include vtc-kartu-transaksi/voyage.pug
        .ocbc-vt-content(data-pane='90n')
          include vtc-kartu-transaksi/90n.pug
        // Kredit Debit
        .ocbc-vt-content(data-pane='gpn')
          include vtc-kartu-transaksi/gpn.pug
        .ocbc-vt-content(data-pane='debit')
          include vtc-kartu-transaksi/debit.pug
        .ocbc-vt-content(data-pane='premier')
          include vtc-kartu-transaksi/premier.pug
        .ocbc-vt-content(data-pane='online')
          include vtc-kartu-transaksi/online.pug
