//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Kredit Pemilikan Rumah',
      subcategory: [
        {
          text: 'KPR OCBC NISP',
          target: 'kpr-ocbc-nisp'
        },
        {
          text: 'KPR Kendali',
          target: 'kpr-kendali'
        }
      ]
    },
    {
      text: 'Kredit Multi Guna',
      subcategory: [
        {
          text: 'KMG OCBC NISP',
          target: 'kmg-ocbc-nisp'
        }
      ]
    },
    {
      text: 'Kredit Pembelian Mobil',
      subcategory: [
        {
          text: 'KPM OCBC NISP',
          target: 'kpm-ocbc-nisp'
        }
      ]
    },
    {
      text: 'Kredit Peminjaman',
      target: 'kredit-peminjaman'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Kredit Pemilikan Rumah
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='kpr-ocbc-nisp')
          include vtc-pinjaman/kpr-ocbc-nisp.pug
        .ocbc-vt-content(data-pane='kpr-kendali')
          include vtc-pinjaman/kpr-kendali.pug
        // Kredit Multi Guna
        .ocbc-vt-content(data-pane='kmg-ocbc-nisp')
          include vtc-pinjaman/kmg-ocbc-nisp.pug
        // Kredit Pembelian Mobil
        .ocbc-vt-content(data-pane='kpm-ocbc-nisp')
          include vtc-pinjaman/kpm-ocbc-nisp.pug
        // Kredit Peminjaman
        .ocbc-vt-content(data-pane='kredit-peminjaman')
          include vtc-pinjaman/kredit-peminjaman.pug
