//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Tabungan',
      subcategory: [
        {
          text: 'Tanda 360 Plus',
          target: 'tanda-360-plus'
        },
        {
          text: 'Tanda Premium',
          target: 'tanda-premium'
        },
        {
          text: 'Tanda Valas SGD',
          target: 'tanda-valas-sgd'
        },
        {
          text: 'Tanda Junior',
          target: 'tanda-junior'
        },
        {
          text: 'TabunganKu',
          target: 'tabunganku'
        },
        {
          text: 'OCBC NISP SimPel',
          target: 'ocbc-nisp-simpel'
        }
      ]
    },
    {
      text: 'Giro',
      subcategory: [
        {
          text: 'Taka Hadiah',
          target: 'taka-hadiah'
        },
        {
          text: 'Tabungan Berjangka',
          target: 'tabungan-berjangka'
        },
        {
          text: 'Taka Bunga Pasti',
          target: 'taka-bunga-pasti'
        }
      ]
    },
    {
      text: 'Deposito',
      subcategory: [
        {
          text: 'Deposito IDR',
          target: 'deposito-idr'
        },
        {
          text: 'Deposito Valas',
          target: 'deposito-valas'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Tabungan
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='tanda-360-plus')
          include vtc-simpanan/tanda-360-plus.pug
        .ocbc-vt-content(data-pane='tanda-premium')
          include vtc-simpanan/tanda-premium.pug
        .ocbc-vt-content(data-pane='tanda-valas-sgd')
          include vtc-simpanan/tanda-valas-sgd.pug
        .ocbc-vt-content(data-pane='tanda-junior')
          include vtc-simpanan/tanda-junior.pug
        .ocbc-vt-content(data-pane='tabunganku')
          include vtc-simpanan/tabunganku.pug
        .ocbc-vt-content(data-pane='ocbc-nisp-simpel')
          include vtc-simpanan/ocbc-nisp-simpel.pug
        // Giro
        .ocbc-vt-content(data-pane='taka-hadiah')
          include vtc-simpanan/taka-hadiah.pug
        .ocbc-vt-content(data-pane='tabungan-berjangka')
          include vtc-simpanan/tabungan-berjangka.pug
        .ocbc-vt-content(data-pane='taka-bunga-pasti')
          include vtc-simpanan/taka-bunga-pasti.pug
        // Deposito
        .ocbc-vt-content(data-pane='deposito-idr')
          include vtc-simpanan/deposito-idr.pug
        .ocbc-vt-content(data-pane='deposito-valas')
          include vtc-simpanan/deposito-valas.pug
