//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - Card USP
  @description: Individu - Wealth Management - Great Optima Link - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Perlindungan 99 tahun',
      description: 'Memberikan fasilitas untuk melakukan transaksi valas',
      img: 'insurance-white.svg'
    },
    {
      title: 'Jaminan Polis',
      description: 'Mudah melakukan transaksi kapanpun dan dimanapun',
      img: 'easy-terms-white.svg'
    },
    {
      title: 'Beragam Pilhan Dana',
      description: 'Tersedia dalam berbagai  pilihan mata uang',
      img: 'options-white.svg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
