//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - FAQ Dropdown
  @description: Individu - Wealth Management - Great Optima Link - FAQ Dropdown
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Here are some answers to our most popular questions about Great Optima Link:',
    question: [
      {
        val: 1,
        text: 'How does interest applied to this account?'
      },
      {
        val: 2,
        text: 'Cara bertransaksi dengan QR Payment di ONe Mobile'
      },
      {
        val: 3,
        text: 'Apa itu ONe Mobile'
      },
      {
        val: 4,
        text: 'Apakah ONe Mobile aman untuk bertransaksi'
      }
    ],
    answer: [
      {
        val: 1,
        text: 'If you haven’t yet activated your account for online and mobile banking, visit the Activate Now page of our website to get started.<br/><br/>You’ll need your ScotiaCard number, credit card number, or account number for your line of credit, investment, loan, or mortgage. If you have both a Scotiabank debit card and a credit card/account number, please use your ScotiaCard number to register.'
      },
      {
        val: 2,
        text: 'Cukup satu aplikasi untuk kemudahan dan kenyamanan transaksi perbankan Anda. Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      },
      {
        val: 3,
        text: 'ONe mobile adalah sebuah aplikasi berbasis digital yang siap membantu Anda betransaksi lebih mudah dan cepat'
      },
      {
        val: 4,
        text: 'Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      }
    ],
  }

//ocbc-faq-dd__prod-detail
.ocbc-faq-dd__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          include ../../components/faq-dropdown.pug
