//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - Product Banner
  @description: Individu - Wealth Management - Great Optima Link - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Great Optima Link',
    description: 'Produk asuransi jiwa yang memberikan proteksi dan keleluasaan dalam berinvestasi',
    image: {
      desktop: 'asuransi-optima-d.jpg',
      mobile: 'asuransi-optima-m.jpg'
    },
    button: {
      primary: {
        text: 'Ajukan',
        to: '#'
      }
    }
  }

include ../../components/product-detail-banner.pug
