//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - Product Detail Fragment
  @description: Individu - Wealth Management - Great Optima Link - Product Detail Fragment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Keuntugan Lainnya',
    list: [
      {
        title: 'Alokasi investasi lebih maksimal',
        description: 'Bisa ditransaksikan di seluruh cabang Bank OCBC NISP',
        img: 'investation.svg'
      },
      {
        title: 'Bonus Loyalitas',
        description: 'Untuk Transaksi FX Non-Today dapat dilakukan mulai dari valuta Tom hingga valuta Forward 12 bulan',
        img: 'mega-menu-widget-3.svg'
      },
      {
        title: 'Jaringan Luas',
        description: 'Akses lebih dari 55.500 ATM di Indonesia dan 8.100 di Singapura dan Malaysia',
        img: 'global-business.svg'
      },
      {
        title: 'Notifikasi Langsung',
        description: 'Notifikasi melalui SMS atau email untuk kemudahan dan keamanan Anda',
        img: 'smartphone.svg'
      }
    ]
  }


//ocbc-prod-detail-fragment__page
.ocbc-prod-detail-fragment__page.ocbc-prod-detail-fragment__page--more-space-b
  include ../../layout/product-detail-fragment.pug
