//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - Vertical Tab
  @description: Individu - Wealth Management - Great Optima Link - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Syarat & Ketentuan',
      target: 'syarat-ketentuan'
    },
    {
      text: 'Partner Kami',
      target: 'partner-kami'
    },
    {
      text: 'Disclaimer',
      target: 'disclaimer'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12.ocbc-col-sm-12
        include ../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12.ocbc-col-sm-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='syarat-ketentuan')
          include tab-content/syarat-ketentuan.pug
        .ocbc-vt-content(data-pane='partner-kami')
          include tab-content/partner-kami.pug
        .ocbc-vt-content(data-pane='disclaimer')
          include tab-content/disclaimer.pug
