//-------------------------------------------------------------------------------
  @name: Design System - Brand Guideline- Content
  @description: Design System - Brand Guideline- Content
  -------------------------------------------------------------------------------//

//ocbc-ds__content
.ocbc-ds__content

  //- brand-guideline
  include brand-guideline/index.pug
