//-------------------------------------------------------------------------------
  @name: Design System - Brand Guideline - Navigation
  @description: Design System - Brand Guideline - Navigation
  -------------------------------------------------------------------------------//

extend ../design-system/navigation.pug

//- menu content
block menu
  h5.ocbc-ds__menu__title.ocbc-ds__menu__title--active
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-brand-guideline.html') Brand Guideline
    |!{''}
    |
  -
    brandMenu = [
      {
        target: 'dsLogo',
        text: 'Logo'
      },
      {
        target: 'dsColors',
        text: 'Colors'
      },
      {
        target: 'dsGrid&Layout',
        text: 'Grid & Layout'
      },
      {
        target: 'dsObjectStyle',
        text: 'Object Style'
      },
      {
        target: 'dsTypography',
        text: 'Typography'
      },
      {
        target: 'dsIconography',
        text: 'Iconography'
      },
      {
        target: 'dsImagery',
        text: 'Imagery'
      }
    ]
  ul.ocbc-ds__menu-list
    each val, index in brandMenu
      li.ocbc-ds__menu-list__item(class=(index == 0 ? 'ocbc-ds__menu-list__item--active' : ''))
        ='\n'
        a.ocbc-ds__menu-list__link.js-ds-menu-list-link(href='#'+val.target)
          | !{val.text}
        |!{''}
        |

  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-elements.html') Elements
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-components.html') Components
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-writing-style-guideline.html') Writing Style & Guideline
    |!{''}
    |
