//-------------------------------------------------------------------------------
  @name:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Aksi Korporasi Ekuitas
  @description:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Aksi Korporasi Ekuitas
  -------------------------------------------------------------------------------//

//- Table
include table/aksi-korporasi-ekuitas.pug
