//-------------------------------------------------------------------------------
  @name:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Grafik Harga Saham
  @description:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Grafik Harga Saham
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Grafik Harga Saham',
    head: {
      title: 'Bank OCBC NISP Tbk. PT',
      link: {
        to: 'https://www.google.com/search?q=idx+ocbc',
        target: '_blank',
        text: 'IDX: NISP'
      }
    },
    body: {
      legend: {
        text: 'Grafik Harga Saham Legend',
        image: 'grafik-harga-saham-legend.svg'
      },
      chart: {
        text: 'Grafik Harga Saham Chart',
        image: 'grafik-harga-saham-chart.svg'
      }
    }
  }
include ../../../../components/stock-graph.pug
