//-------------------------------------------------------------------------------
  @name:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Kebijakan Dividen
  @description:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Kebijakan Dividen
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Kebijakan Dividen
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Kebijakan Dividen'
      }
    ];

  include ../../../../layout/announcement-list.pug
