//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Graphic Result
  @description: Hasil Perhitungan Kalkulator Pendidikan - Graphic Result
  -------------------------------------------------------------------------------//

extends ../../layout/graphic-result-share.pug

block graphic
  //- Tidak Tahu Dana
  include graphic/tidak-tahu-dana.pug
