//-------------------------------------------------------------------------------
  @name: Result Share Pendidikan - Index
  @description: Result Share Pendidikan - Index
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-share.pug

block head
  -
    head = {
      title: 'Let’s save more to achieve your Goal!',
      note: 'Terima kasih telah meluangkan waktu untuk menyelesaikan kalkulator kami. Berdasarkan informasi yang Anda masukkan, hasil Anda diilustrasikan dalam tabel di bawah ini.'
    };
    calc = {
      title: 'Life Goals: Pendidikan',
      date: 'Tanggal: 14/04/2020 13:07:19'
    }

block body
  //- Graphic Result
  include graphic-result.pug

  //- Product Category
  include card-product-category.pug

  //- Contact
  include contact.pug

  //- Disclaimer
  include disclaimer.pug
