//-------------------------------------------------------------------------------
  @name: Kalkulator - Tab - Life Goals
  @description: Kalkulator - Tab - Life Goals
  -------------------------------------------------------------------------------//

-
  data = {
    innerTabs: true,
    card: [
      {
        icon: 'fragment-default.svg',
        title: 'Pendidikan',
        description: 'Penjelasan singkat yang dimiliki dari konten tersebut dapat diletakkan disini dengan syarat maksimal panjang 3 baris ke bawah.',
        button: 'Hitung Simulasi',
        to: 'kalkulator-pendidikan.html'
      },
      {
        icon: 'fragment-default.svg',
        title: 'Perlindungan Kesehatan',
        description: 'Penjelasan singkat yang dimiliki dari konten tersebut dapat diletakkan disini dengan syarat maksimal panjang 3 baris ke bawah.',
        button: 'Hitung Simulasi',
        to: 'kalkulator-asuransi.html'
      },
      {
        icon: 'fragment-default.svg',
        title: 'Kepemilikan Rumah',
        description: 'Calculate how long it will take you to pay off a balance, depending on the amount of your repayments and your card type.',
        button: 'Hitung Simulasi',
        to: 'kalkulator-kpr.html'
      },
      {
        icon: 'fragment-default.svg',
        title: 'Pensiun',
        description: 'Penjelasan singkat yang dimiliki dari konten tersebut dapat diletakkan disini dengan syarat maksimal panjang 3 baris ke bawah.',
        button: 'Hitung Simulasi',
        to: 'kalkulator-pensiun.html'
      }
    ]
  };

.ocbc-card-suggestion--inner-tabs
  include ../../../layout/card-suggestion.pug
