//-------------------------------------------------------------------------------
  @name: Kalkulator - Tab - Loans
  @description: Kalkulator - Tab - Loans
  -------------------------------------------------------------------------------//

-
  data = {
    innerTabs: true,
    card: [
      {
        icon: 'fragment-default.svg',
        title: 'Kredit Kepemilikan Mobil',
        description: 'Penjelasan singkat yang dimiliki dari konten tersebut dapat diletakkan disini dengan syarat maksimal panjang 3 baris ke bawah.',
        button: 'Hitung Simulasi',
        to: 'kalkulator-kpm.html'
      },
      {
        icon: 'fragment-default.svg',
        title: 'KTA',
        description: 'Calculate how long it will take you to pay off a balance, depending on the amount of your repayments and your card type.',
        button: 'Hitung Simulasi',
        to: '#'
      }
    ]
  };

.ocbc-card-suggestion--inner-tabs
  include ../../../layout/card-suggestion.pug
