//-------------------------------------------------------------------------------
  @name: Product Detail - Tab Content - 
  @description: Product Detail - Tab Content -
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Bunga &amp; Biaya
.ocbc-vt-content__table
  include ../../../components/table-bunga-biaya.pug
