//-------------------------------------------------------------------------------
  @name: Product Detail - Tab Content -
  @description: Product Detail - Tab Content -
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Biaya Penerbitan
p.ocbc-vt-content__penerbitan
  | (Sight/Usance/UPAS):
h4
  | 0.25%
p
  | p.q. minimum eq. USD 50
