//-------------------------------------------------------------------------------
  @name: Product Detail - Tab Content - Syarat & Ketentuan
  @description: Product Detail - Tab Content - Syarat & Ketentuan
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Syarat & ketentuan yang perlu diketahui
.ocbc-vt-content__body
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li
      | Isi formulir pembukaan rekening OCBC NISP
    li.ocbc-vt-content__li
      | Membawa KTP dan kartu NPWP
    li.ocbc-vt-content__li
      | Pilih 1 base currency yang akan menjadi mata uang utama
    li.ocbc-vt-content__li
      | Mata uang lainnya akan terbentuk secara otomatis
    li.ocbc-vt-content__li
      | Setoran awal menyesuaikan base currency yang dipilih
