//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Product Banner
  @description: Jasa Layanan - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    mode: bannerMode,
    title: 'Jasa & Layanan',
    description: 'Menyediakan jasa & layanan untuk mempermudah kegiatan perbankan nasabah',
    image: {
      desktop: 'jasa-layanan-d.jpg',
      mobile: 'jasa-layanan-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
