//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab
  @description: Jasa Layanan - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Data Pendukung Laporan SPT',
      target: 'data-pendukung-laporan-spt'
    },
    {
      text: 'Transfer Rupiah',
      target: 'transfer-rupiah'
    },
    {
      text: 'Surat Referensi Bank',
      target: 'surat-referensi-bank'
    },
    {
      text: 'Surat Dukungan Bank',
      target: 'surat-dukungan-bank'
    },
    {
      text: 'Safe Deposit Box',
      subcategory: [
        {
          text: 'Individu',
          target: 'individu'
        },
        {
          text: 'Premier Banking',
          target: 'premier-banking'
        }
      ]
    },
    {
      text: 'Surat Konfirmasi Bank',
      target: 'surat-konfirmasi-bank'
    },
    {
      text: 'Remittance',
      target: 'remittance'
    },
    {
      text: 'Pembayaran Tagihan',
      target: 'pembayaran-tagihan'
    },
    {
      text: 'e-Tax',
      target: 'e-tax'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--landing-detail.ocbc-vt-content--active(data-pane='data-pendukung-laporan-spt')
          include tab-content/data-pendukung-laporan-spt.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='transfer-rupiah')
          include tab-content/transfer-rupiah.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='surat-referensi-bank')
          include tab-content/surat-referensi-bank.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='surat-dukungan-bank')
          include tab-content/surat-dukungan-bank.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='individu')
          include tab-content/individu.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='premier-banking')
          include tab-content/premier-banking.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='surat-konfirmasi-bank')
          include tab-content/surat-konfirmasi-bank.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='remittance')
          include tab-content/remittance.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='pembayaran-tagihan')
          include tab-content/pembayaran-tagihan.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='e-tax')
          include tab-content/e-tax.pug
