/* ==========================================================================
   OCBC Page: Sitemap
   ========================================================================== */

.#{$prefix}sitemap {
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__section {
    padding-top: 48px;
    padding-bottom: 48px;
    border-top: solid 1px color(gray, 6);
    &__title {
      @include font-size(h2);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 32px;
    }
    &:last-child {
      padding-bottom: 0;
    }
    @include small {
      padding-top: 32px;
      padding-bottom: 32px;
      &__title {
        margin-bottom: 24px;
      }
    }
  }
  &__row {
    margin-left: -20px;
    margin-right: -20px;
    @include clearfix;
    @include small {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__col {
    width: 25%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 48px;
    &__title {
      @include font-size(h4);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 16px;
    }
    &:nth-child(4n+1) {
      clear: both;
    }
    &:nth-last-child(-n+4) {
      margin-bottom: 0;
    }
    @include medium {
      width: 50%;
      &:nth-child(4n+1) {
        clear: initial;
      }
      &:nth-last-child(-n+4) {
        margin-bottom: 48px;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
    @include small {
      float: none;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 32px;
      &:nth-child(2n+1) {
        clear: initial;
      }
      &:nth-last-child(-n+2) {
        margin-bottom: 32px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    margin: 0 0 16px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__lnk {
    @include font-size(body);
    position: relative;
    display: inline-block;
    color: color(gray, 2);
    text-decoration: none;
    transition: color 0.25s ease;
    @include remove-tap-highlight;
    @include border-bottom-hover-slide;
    &:hover {
      color: color(primary, 1);
      @include element(after) {
        transform: scaleX(1);
      }
    }
  }
}
