/* ==========================================================================
   OCBC Page: Tentang Kami
   ========================================================================== */

.#{$prefix}card-article {
  &__tentang-kami {
    padding-bottom: 32px;
    @include small {
      padding-bottom: 0;
      .#{$prefix}card-article {
        padding-top: 0;
      }
    }
  }
}
