/* ==========================================================================
   OCBC Page: Sitemap Dev
   ========================================================================== */

.#{$prefix}sitemap-dev {
  &-header {
    padding: 16px 0;
    border-bottom: solid 1px color(gray, 6);
    height: 72px;
    @include clearfix;
    @include small {
      height: 64px;
    }
    &__logo {
      float: left;
    }
    .#{$prefix}img {
      height: 40px;
      display: block;
      @include small {
        height: 32px;
      }
    }
    &__title {
      float: right;
      margin-bottom: 0;
      font-weight: fw(bold);
      @include font-size(h4, desktop);
      line-height: 4rem;
      br {
        display: none;
      }
      @include small {
        text-align: right;
        @include font-size(small, mobile);
        line-height: 1.8rem;
        br {
          display: block;
        }
      }
    }
  }
  &-content {
    padding: 48px 0;
  }
  &-section {
    margin-bottom: 32px;
    @include clearfix;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-title {
    font-weight: fw(medium);
    @include font-size(h4);
    margin-bottom: 0;
    float: left;
    @include small {
      float: none;
      margin-bottom: 16px;
    }
  }
  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 240px;
    @include medium {
      padding-left: 212px;
    }
    @include small {
      padding-left: 0;
    }
  }
  &-item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    .#{$prefix}lnk {
      text-decoration: none;
      transition: color 0.25s ease;
      &:hover {
        color: color(primary, 1);
      }
    }
  }
}
