/* ==========================================================================
   OCBC Page: Tentang Kami
   ========================================================================== */

.#{$prefix}card-article {
  &__prod-detail{
    padding-bottom: 32px;
    @include small {
      padding-bottom: 0;
    }
  }
}

.#{$prefix}prod-detail-banner{
  z-index:2;
}
