/* ==========================================================================
   OCBC Layout: Auction Iinfo
   ========================================================================== */

.#{$prefix}auction-info-page {
  padding-top: 16px;
  @include small {
    padding: 8px 0;
  }
  .#{$prefix}vertical-tab__page{
    padding-bottom: 32px;
  }
  &__pagination{
    margin-bottom: 32px;
    @include small {
      margin-top: 32px;
    }
  }
}
