/* ==========================================================================
   OCBC Layouts: CSR Descriptions
   ========================================================================== */

.#{$prefix}csr-description {
  margin-bottom: 96px;
  @include large {
    margin-bottom: 72px;
  }
  @include medium {
    margin-bottom: 56px;
  }
  @include retina {
    margin-bottom: 48px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &-container{
    overflow: hidden;
    position: relative;
    padding: 64px 0 112px;
    @include medium {
      padding: 0 0 48px;
    }
    @include retina {
      padding-bottom: 40px;
    }
  }
  &-content{
    position: relative;
    @include medium {
      padding-top: 448px;
    }
    @include retina {
      padding-top: 408px;
    }
  }
  &__definition {
    @include font-size(h4);
    font-weight: fw(regular);
    margin-bottom: 64px;
    color: color(gray, 2);
    max-width: 912px;
    @include large {
      margin-bottom: 56px;
    }
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 44px;
    }
    @include retina {
      margin-bottom: 40px;
    }
  }
  &__img-circle {
    @include image(cover, center center);
    &-wrapper {
      position: absolute;
      height: 820px;
      width: 820px;
      border-radius: 50%;
      overflow: hidden;
      right: -375px;
      top: 224px;
      @include large {
        height: 640px;
        width: 640px;
        right: -280px;
        top: 240px;
      }
      @include medium {
        width: 400px;
        height: 400px;
        right: auto;
        top: 24px;
        left: -72px;
      }
      @include retina {
        width: 360px;
        height: 360px;
      }
    }
  }
}
