/* ==========================================================================
   OCBC Layout: Tab X
   ========================================================================== */

.#{$prefix}tabs {
  $tx: &;
  @import "ocbc-tab-controll";
  @import "ocbc-tab-pane";

  &--border-controll {
    #{$tx}__controll {
      &-container {
        box-shadow: none;
      }

      &-wrapper {
        @include element(after) {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: $z-tab-border;
          border-bottom: solid 1px color(gray, 5);

          @include small {
            left: 16px;
            right: 16px;
          }
        }
      }

      &__item {
        padding-top: 0;
      }

      @include small {
        box-shadow: none;
      }
    }
  }

  &--calc {
    #{$tx}__controll {
      &-container {
        box-shadow: none;

        .#{$prefix}container {
          padding-left: 0;
          padding-right: 0;
        }

        .#{$prefix}row {
          margin-left: 0;
          margin-right: 0;
        }

        .#{$prefix}col-xl-12 {
          padding-left: 0;
          padding-right: 0;
        }
      }

      &__item {
        padding-top: 0;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }

      @include small {
        box-shadow: none;
      }
    }

    #{$tx}__pane {
      padding-top: 32px;
      padding-bottom: 0;
    }
  }

}
