/* ==========================================================================
   OCBC Layout: Popup File Report
   ========================================================================== */

.#{$prefix}popup-file-report {
  $pfr: &;
  z-index: $z-bod-popup;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(white);
  transition: all 0.45s cubic-bezier(0.57, 0.07, 0.27, 0.91);
  transform: translateY(100%);
  @include scroll(y, touch, show);
  .#{$prefix}popup-file-report-show & {
    transform: none;
    #{$pfr}__close,
    #{$pfr}__filter,
    #{$pfr}__box {
      opacity: 1;
      transform: none;
    }
    #{$pfr}__filter {
      transition-delay: 0.45s;
    }
    #{$pfr}__box {
      transition-delay: 0.55s;
    }
    #{$pfr}__close {
      transition-delay: 0.65s;
    }
  }
  &__close {
    display: block;
    width: 32px;
    height: 32px;
    background-color: color(gray, 4);
    position: fixed;
    top: 40px;
    right: 40px;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    z-index: $z-bod-popup-close;
    color: color(white);
    cursor: pointer;
    @include remove-tap-highlight;
    opacity: 0;
    transform: translateY(16px);
    transition: all .45s ease;
    transition-delay: 0s;
    &:hover {
      .#{$prefix}fi {
        transform: rotate(90deg);
      }
    }
    .#{$prefix}fi {
      display: block;
      font-size: 1.6rem;
      line-height: 3.2rem;
      transition: all .35s ease;
    }
    @include large {
      top: 32px;
      right: 32px;
    }
    @include small {
      top: 16px;
      right: 16px;
    }
  }
  &__wrapper {
    position: relative;
    padding: 88px 0 64px;
    @include medium {
      padding: 64px 0;
    }
    @include small {
      padding: 64px 0 48px;
    }
  }
  &__content {
    position: relative;
    z-index: $z-bod-popup-content;
  }
  &__filter{
    margin-bottom: 32px;
    opacity: 0;
    transform: translateY(16px);
    transition: all .45s ease;
    transition-delay: 0s;
    @include small {
      margin-bottom: 40px;
    }
    @include retina {
      margin-bottom: 32px;
    }
  }
  &__box {
    opacity: 0;
    transform: translateY(16px);
    transition: all .45s ease;
    transition-delay: 0s;
  }
  &__section {
    margin-bottom: 48px;
    opacity: 0;
    transform: translateY(16px);
    animation: .5s ease 0s normal forwards 1 show-section-report;
    &:last-child {
      margin-bottom: 0;
    }
    @include small{
      margin-bottom: 32px;
    }
  }
  &__title{
    @include font-size(h3);
    font-weight: fw(bold);
    margin-bottom: 32px;
    @include small {
      margin-bottom: 16px;
    }
  }
}

// --- show-section-report
@keyframes show-section-report {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

