.#{$prefix}card-file-report {
  &__item {
    margin-bottom: 24px;
    &:nth-child(3n+1) {
      clear: both;
    }
    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      margin-bottom: 0;
    }
    @include medium {
      &:nth-child(3n+1) {
        clear: initial;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
      &:nth-last-child(3) {
        margin-bottom: 24px;
      }
    }
    @include small {
      margin-bottom: 16px;
      &:nth-child(3n+1) {
        clear: initial;
      }
      &:nth-child(2n+1) {
        clear: initial;
      }
      &:nth-last-child(2),
      &:nth-last-child(3) {
        margin-bottom: 16px;
      }
    }
  }
}
