/* ==========================================================================
   OCBC Layouts: Card USP
   ========================================================================== */

.#{$prefix}card-usp {
  @include medium {
    padding: 16px 0 16px;
  }

  &__list {
    display: table;
    border-spacing: 24px;
    width: 100%;

    @include large {
      border-spacing: 0;
      display: block;
    }
  }

  &__item {
    width: 33%;
    display: table-cell;
    border-radius: 8px;
    background-color: color(white);
    position: relative;
    overflow: hidden;
    vertical-align: top;
    @include shadow(6);

    @include large {
      display: block;
      width: 100%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__margin {
    margin-left: -36px;
    margin-right: -36px;

    @include large {
      margin-left: -12px;
      margin-right: -12px;
    }
  }
}
