/* ==========================================================================
   OCBC Component: Content Detail
   ========================================================================== */

.#{$prefix}content-detail {
  $cd: &;
  padding: 192px 0 32px;
  @include large {
    padding-top: 184px;
  }
  @include medium {
    padding-top: 152px;
    padding-bottom: 28px;
  }
  @include small {
    padding-top: 144px;
    padding-bottom: 24px;
  }
  &__content {
    width: 100%;
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  &__share-floating {
    position: fixed;
    top: 96px;
    margin-left: -208px;
    opacity: 0;
    @include mq(1272px) {
      display: none;
    }
    .#{$prefix}content-detail--show-share-floating & {
      opacity: 1;
      transition: opacity .35s ease, transform 0.35s ease;
    }
    .#{$prefix}content-detail--absolute-share-floating & {
      position: absolute;
      bottom: 0;
      top: auto;
      opacity: 1;
      transform: none;
      transition: none;
      .#{$prefix}scroll-down & {
        transform: none;
        transition: none;
      }
    }
    // window scroll
    .#{$prefix}scroll-down & {
      transform: translateY(-72px);
      transition: transform .5s ease, opacity .25s ease;
    }
  }
  &__head {
    margin-bottom: 16px;
    transition: all .5s ease .65s;
    position: relative;
    z-index: $z-content-detail-head;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
    #{$cd}__col:last-child {
      text-align: right;
      font-size: 0;
      line-height: 1;
    }
    @include small {
      margin-bottom: 24px;
      #{$cd}__col:last-child {
        text-align: left;
      }
    }
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(regular);
    color: color(gray, 1);
    margin-bottom: 24px;
  }
  &__row {
    display: table;
    width: 100%;
    @include small {
      display: block;
    }
  }
  &__col {
    display: table-cell;
    vertical-align: middle;
    @include small {
      display: block;
      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
  &__date {
    color: color(gray, 1);
    margin-right: 8px;
    &-author {
      @include font-size(body);
      color: color(gray, 2);
      margin-bottom: 0;
    }
    @include small {
      display: block;
      margin-right: 0;
      margin-bottom: 4px;
    }
  }
  &__img {
    $img: &;
    margin-bottom: 48px;
    border-radius: 8px;
    overflow: hidden;
    transition: all .5s ease .75s;
    position: relative;
    z-index: $z-content-detail-img;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
    @include small {
      margin-bottom: 40px;
      border-radius: 0;
      margin-left: -16px;
      margin-right: -16px;
    }
    &__el{
      display: block;
    }
    // --- override owl carousel
    // --- owl-nav
    @include carousel-nav-red('relative');
    &.owl-carousel {
      @include small {
        width: auto;
      }
      .owl-nav {
        z-index: $z-banner-nav;
        position: absolute;
        left: 32px;
        bottom: 24px;
        transform: none;
        top: auto;
        @include medium {
          left: 24px;
          bottom: 16px;
        }
        @include small {
          display: none;
        }
      }
      button.owl-prev,
      button.owl-next {
        position: static;
      }
      button.owl-prev{
        margin-right: 32px;
        @include medium {
          margin-right: 24px;
        }
      }
    }
  }
  &__body {
    transition: all .5s ease .85s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
    .#{$prefix}card--code-promo {
      margin-bottom: 32px;
    }
  }
  &__txt {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 40px;
    }
    @include small {
      margin-bottom: 32px;
    }
  }
  &__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list {
    $l: &;
    margin-bottom: 24px;
    padding-left: 20px;
    &:last-child {
       margin-bottom: 0;
    }
    &__item {
      @include font-size(body);
      font-weight: fw(regular);
      color: color(gray, 2);
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__title-content {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
  }
  &__subtitle-content {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
  }
  &__tag-label {
    font-size: 0;
    line-height: 1;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
    transition: all .5s ease .95s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
    .#{$prefix}tag-label {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
