/* ==========================================================================
   OCBC Layouts: Card Product Category
   ========================================================================== */

.#{$prefix}card-prod-category {
  position: relative;
  z-index: $z-product-category;
  padding: 32px 0 16px;
  &__item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__title {
    @include font-size(h4);
    color: color(gray, 1);
    margin-bottom: 12px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
  }
  @include small {
    padding: 24px 0;
    &__item {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 16px;
    }
  }
  // -- detail
  &--detail{
    padding: 64px 0 48px;
    @include medium {
      padding: 56px 0 40px;
    }
    @include small {
      padding: 48px 0;
    }
  }
  // -- landing
  &--landing{
    padding: 32px 0 48px;
    @include medium {
      padding-bottom: 40px;
    }
    @include small {
      padding-top: 40px;
      padding-bottom: 48px;
    }
  }
}
