/* ==========================================================================
   OCBC Layout: Landing Tabs
   ========================================================================== */

.#{$prefix}landing-tabs {
  &__item{
    display: none;
    opacity: 0;
    transform: translateY(-8px);
    visibility: hidden;
    transition: all 0.35s ease;

    &--active{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);

      // display: block;
    }
  }
}
