/* ==========================================================================
   OCBC Layouts: Text Column
   ========================================================================== */

.#{$prefix}txt-col {
  &-container {
    padding: 64px 0;
    &--gray {
      background-color: color(gray, 7);
    }
    @include medium {
      padding: 56px 0;
    }
    @include small {
      padding: 48px 0;
    }
  }
  &__content {
    font-size: 0;
    line-height: 1;
  }
  &__list {
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;
    @include large {
      margin-left: -24px;
      margin-right: -24px;
    }
    @include small {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &__item {
    width: 50%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 64px;
    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(2n+1) {
      clear: both;
    }
    @include large {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include small {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      margin-bottom: 48px;
      &:nth-last-child(2) {
        margin-bottom: 48px;
      }
      &:nth-child(2n+1) {
        clear: initial;
      }
    }
  }
}
