/* ==========================================================================
   OCBC Layouts: Card Nyala
   ========================================================================== */

.#{$prefix}card-nyala-c {
  $nc: &;
  // padding bottom total is 64px: 52px + 12px (from item)
  padding: 116px 0 52px;
  @include medium {
    padding: 64px 0 48px;
  }
  @include small {
    padding: 48px 0 32px;
  }
  &__title {
    // margin bottom total is 32px: 20px + 12px (from item)
    margin-bottom: 20px;
    @include font-size(h4);
    font-weight: fw(bold);
    @include medium {
      margin-bottom: 16px;
    }
    @include medium {
      margin-bottom: 0;
    }
  }
  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
    @include medium {
      float: none;
      width: 312px;
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
      vertical-align: top;
      padding-top: 0;
      padding-bottom: 0;
      white-space: initial;
      margin-right: 16px;
      &:last-child{
        margin-right: 32px;
      }
    }
    @include small {
      padding-left: 0;
      padding-right: 0;
      &:last-child{
        margin-right: 16px;
      }
    }
  }
  &__list {
    @include medium {
      margin-left: -32px;
      margin-right: -32px;
      padding: 16px 32px;
      font-size: 0;
      line-height: 1;
      @include scroll("x", "touch", "hide");
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding: 16px;
    }
  }
}
