/* ==========================================================================
   OCBC Layouts: Card Address
   ========================================================================== */

.#{$prefix}card-address {
  padding-top: 64px;
  padding-bottom: 20px;
  @include medium {
    padding-top: 56px;
    padding-bottom: 24px;
  }
  @include small {
    padding-top: 40px;
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 1);
    margin-bottom: 48px;
    @include medium {
      margin-bottom: 32px;
    }
  }
  &__list {
    // 52 + 12 padding item
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 52px;
    @include clearfix;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      @include font-size(body);
      font-weight: fw(bold);
      color: color(gray, 1);
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 12px;
    }
    @include medium {
      margin-bottom: 44px;
    }
    @include small {
      margin-bottom: 24px;
      margin-left: 0;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
      &__title {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 16px;
      }
    }
  }
  &__item {
    padding: 12px;
    float: left;
    @include small {
      float: none;
      padding: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
