/* ==========================================================================
   OCBC Layouts: Contact Channel
   ========================================================================== */

.#{$prefix}contact-channel {
  $cf: &;
  &-container {
    padding: 64px 0;
    @include medium {
      padding-bottom: 56px;
    }
    @include small {
      padding-bottom: 48px;
    }
  }
  &__item {
    margin-bottom: 80px;
    &.#{$prefix}col-xl-3 {
      &:nth-last-child(-n+4) {
        margin-bottom: 0;
      }
      &:nth-child(4n+1) {
        clear: both;
      }
    }
    &.#{$prefix}col-xl-6 {
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include large {
      margin-bottom: 72px;
      &.#{$prefix}col-lg-4 {
        &:nth-last-child(-n+4) {
          margin-bottom: 72px;
        }
        &:nth-child(4n+1) {
          clear: initial;
        }
        &:nth-last-child(-n+3) {
          margin-bottom: 0;
        }
        &:nth-child(3n+1) {
          clear: both;
        }
      }
    }
    @include medium {
      &.#{$prefix}col-md-6 {
        &:nth-last-child(-n+3) {
          margin-bottom: 72px;
        }
        &:nth-child(3n+1) {
          clear: initial;
        }
        &:nth-last-child(-n+2) {
          margin-bottom: 0;
        }
        &:nth-child(2n+1) {
          clear: both;
        }
      }
    }
    @include small {
      margin-bottom: 64px;
      &.#{$prefix}col-md-6 {
        &:nth-last-child(-n+3) {
          margin-bottom: 64px;
        }
        &:nth-last-child(-n+2) {
          margin-bottom: 0;
        }
      }
    }
    @include extra-small {
      margin-bottom: 48px;
      &.#{$prefix}col-md-6,
      &.#{$prefix}col-xl-6 {
        &:nth-last-child(-n+2) {
          margin-bottom: 48px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:nth-child(2n+1) {
          clear: initial;
        }
      }
    }
  }
}
