/* ==========================================================================
   OCBC Layout: Tabs Pane
   ========================================================================== */

&__pane {
  display: none;
  padding-bottom: 32px;

  &[data-pane='professionals'] {
    padding-bottom: 0;
    .#{$prefix}vertical-tab {
      &__page {
        padding-bottom: 0;
      }
    }
  }

  .#{$prefix}filter-card {
    padding-top: 48px;
    position: relative;
    z-index: $z-filter-card;

    &--tab-mb {
      margin-bottom: 16px;
    }

    .#{$prefix}select {
      &__list {
        width: 100%;
      }
    }
  }

  &--active {
    display: block;
  }

  @include small {
    padding-bottom: 24px;

    .#{$prefix}filter-card {
      padding-top: 32px;
      padding-bottom: 16px;

      &--tab-mb {
        margin-bottom: 0;
      }
    }
  }
}
