/* ==========================================================================
   OCBC Layout: Graphic Result
   ========================================================================== */

.#{$prefix}graphic-result {
  padding-top: 48px;
  padding-bottom: 32px;

  @include small {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  &--share {
    padding-top: 0;
    .#{$prefix}card-legend {
      .#{$prefix}card__title {
        display: block;
        text-overflow: initial;
      }
    }
  }

  &__head {
    display: table;
    max-width: 912px;
    width: 100%;
    margin-bottom: 32px;

    &__left,
    &__right {
      display: table-cell;
      vertical-align: top;
    }

    &__left {
      padding-right: 24px;
      @include retina {
        padding-right: 16px;
      }
    }

    &__right {
      text-align: right;
      @include small {
        width: 84px;
      }
    }
  }

  &__title {
    @include font-size(h3);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  &__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 0;
    margin-top: 16px;
    max-width: 496px;
    @include medium {
      padding-right: 48px;
    }
    @include small {
      padding-right: 0;
      margin-right: -84px;
    }
  }

  .#{$prefix}calc__flds--box {
    max-width: 912px;
    margin-bottom: 24px;
    .#{$prefix}calc__flds__item {
      max-width: 600px;
    }
  }
  .#{$prefix}card--risk-profile {
    max-width: 912px;
    margin-bottom: 24px;
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      .#{$prefix}card__box {
        border-radius: 0;
      }
    }
  }

}
