/* ==========================================================================
   OCBC Component: Calc Form
   ========================================================================== */

.#{$prefix}calc {
  overflow: hidden;
  background-color: color(gray, 7);

  &__content {
    padding: 136px 0 64px; 
    min-height: 728px;
    position: relative;

    @include medium {
      min-height: initial;
      padding: 112px 0 56px;
    }

    @include small {
      padding: 104px 0 48px;
    }
  }

  &__title {
    @include font-size(h3);
    color: color(gray, 1);
    margin-bottom: 48px;

    @include retina {
      margin-bottom: 40px;
    }

    &-section {
      @include font-size(h3);
    }
  }

  &__form {
    $f: &;

    &-wrapper {
      max-width: 600px;
      position: relative;
      z-index: $z-calc-form;

      @include large {
        max-width: 568px;
      }

      @include medium {
        max-width: initial;
      }
    }

    &__section {
      display: none;

      &--active {
        display: block;

        #{$f}__content {
          opacity: 0;
          display: block;
          transform: translateY(16px);
          animation: 0.5s ease 0s normal forwards 1 active-section-calculator;
        }
      }

      &--hide {
        #{$f}__content {
          display: block;
          opacity: 1;
          transform: translateY(0);
          animation: 0.3s ease 0s normal forwards 1 hide-section-calculator;
        }
      }
    }

    &__content {
      display: none;
    }
  }

  &__flds {
    $fld: &;

    &--box {
      padding: 24px;
      border-radius: 8px;
      background-color: color(white);
      @include shadow(4);

      @include small {
        border-radius: 0;
        padding: 24px 16px;
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    .#{$prefix}field {
      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      &--hide {
        display: none;
      }
    }

    &__row {
      margin-left: -12px;
      margin-right: -12px;
      @include clearfix;

      @include large {
        margin-left: -8px;
        margin-right: -8px;
      }

      @include medium {
        margin-left: -12px;
        margin-right: -12px;
      }

      @include small {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &__col-6 {
      width: 50%;
      float: left;
      padding: 0 12px;
      margin-bottom: 32px;

      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(2n + 1) {
        clear: both;
      }

      @include large {
        padding: 0 8px;
      }

      @include medium {
        padding: 0 12px;
      }

      @include small {
        width: 100%;
        float: none;
        padding: 0;

        &:nth-last-child(2) {
          margin-bottom: 32px;
        }

        &:nth-child(2n + 1) {
          clear: initial;
        }
      }
    }

    &__multiple {
      #{$fld}__item {
        display: block;
        opacity: 0;
        transform: translateY(8px);
        animation: 0.5s ease 0s normal forwards 1 show-item;
        @supports (-ms-ime-align: auto) {
          opacity: 1;
        }
      }
    }

    &__del {
      display: none;

      &__btn {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        text-align: center;
        border: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: color(white);
        cursor: pointer;
        line-height: 24px;
        background-color: color(gray, 4);
        transition: all 0.25s ease;

        .#{$prefix}fi {
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1;
          vertical-align: middle;
          transition: all 0.25s ease;
          transform: rotate(0deg);
          transform-origin: center center;
        }

        &:hover {
          background-color: color(gray, 3);

          .#{$prefix}fi {
            transform: rotate(90deg);
          }
        }

        @include large {
          &:hover {
            background-color: color(gray, 4);

            .#{$prefix}fi {
              transform: rotate(0deg);
            }
          }

          &:active {
            background-color: color(gray, 3);

            .#{$prefix}fi {
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    &__add {
      $add: &;
      margin-top: 48px;
      padding-left: 30px;
      position: relative;
      text-align: left;

      &__btn {
        padding: 0;
        border: 0;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.25s ease;
        @include font-size(body);
        color: color(gray, 1);
        text-align: left;

        &:hover {
          color: color(primary, 1);

          #{$add}__circle {
            border-color: color(primary, 1);
            color: color(gray, 1);
          }
        }

        @include large {
          &:hover {
            color: color(gray, 1);

            #{$add}__circle {
              border-color: color(gray, 1);
              color: color(primary, 1);
            }
          }

          &:active {
            color: color(primary, 1);

            #{$add}__circle {
              border-color: color(primary, 1);
              color: color(gray, 1);
            }
          }
        }
      }

      &__circle {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        position: absolute;
        left: 0;
        top: 1px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        line-height: 18px;
        border: solid 2px color(gray, 1);
        color: color(primary, 1);
        transition: all 0.25s ease;

        .#{$prefix}fi {
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1;
        }
      }

      &--disabled {
        opacity: 0.6;

        #{$add}__btn {
          cursor: default;
          @include remove-tap-highlight;

          &:hover {
            color: color(gray, 1);

            #{$add}__circle {
              border-color: color(gray, 1);
              color: color(primary, 1);
            }
          }
        }
      }
    }
  }

  &__submit {
    display: table;
    width: 100%;
    margin-top: 48px;

    &__col {
      display: table-cell;
      vertical-align: top;
      padding-left: 24px;

      &:first-child {
        width: 48px;
        padding-left: 0;
      }
    }

    @include small {
      .#{$prefix}btn--primary {
        width: 100%;
      }
    }

    @include retina {
      margin-top: 40px;
    }
  }

  &__pane {
    display: none;

    &--active {
      display: block;
      opacity: 0;
      transform: translateY(8px);
      animation: 0.5s ease 0s normal forwards 1 active-pane-calculator;
    }
  }

  &__img {
    display: block;
    transition: transform 0.45s ease;

    .#{$prefix}calc--img-hide & {
      transform: translateY(24px);
    }

    &-container {
      width: 604px;
      margin-right: -108px;
      float: right;

      @include mq(1280px) {
        width: 556px;
        margin-right: -28px;
      }

      @include large {
        width: 376px;
        margin-right: -32px;
      }
    }

    &-wrapper {
      width: 604px;
      position: fixed;
      bottom: 0;
      z-index: $z-calc-img;

      .#{$prefix}calc--img-scrolled & {
        position: absolute;
      }

      @include mq(1280px) {
        width: 556px;
      }

      @include large {
        width: 376px;
      }

      @include medium {
        display: none;
      }
    }
  }

  &--country .ocbc-card__flag.riskprofile{
    width: 32px;
    height: 32px;
    border-radius: 0;
    border: none;
  }

  & .ocbc-card--big .ocbc-card__box {
      display:block;
  }
  & .ocbc-card--big .ocbc-card__box {

      border-radius: 8px;
      padding: 24px;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .05), 0 1px 18px 0 rgba(0, 0, 0, .05), 0 3px 5px 0 rgba(0, 0, 0, .05);
  }
  &  .ocbc-card--big.ocbc-card--big-white .ocbc-card__box {
      background-color:#fff;
  }
  & .ocbc-card--big-contentrow{
      margin-bottom:24px;
  }
  & .ocbc-card--big .ocbc-card__title-icon {
      display: table;
      margin-bottom: 10px;
      width: 100%;
      table-layout: fixed;
  }
  & .ocbc-card--big .ocbc-card__icon {
      display: table-cell;
      vertical-align: top;
      padding-top: 4px;
      width: 38px;
      text-align: center;
      padding-right: 10px;
  }
  & .ocbc-card--big .ocbc-card__title {
      display: table-cell;
      vertical-align: top;
      font-weight: 700;
      margin-bottom: 0;
      font-size: 2rem;
      line-height: 3.2rem;
      
  }
  & .ocbc-card--big .ocbc-card__desc {
      color: #667584;
  }

  & .ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds{
    display:inline-block; margin-right: 24px;
  }

  & .ocbc-mutualfund-composition-table-container{
    padding-top:40px;
  }

  & .ocbc-mutualfund-composition-table{
    width:100%;
  }
  
  & .ocbc-mutualfund-composition-table-product{
      font-weight:700;
    }

  & .ocbc-mutualfund-composition-table-product i{ 
      font-weight:300; color:#aaa;
    }

  & .ocbc-mutualfund-composition-table-return{
      font-weight:700; text-align:right;width:1%;
    }

  & .ocbc-mutualfund-composition-table-label{
      width:1%;
    }

  & .ocbc-mutualfund-composition-table td{
      padding:5px 10px;
    }

  & .ocbc-mutualfund-composition-table--products tr:last-child td{
    background-color:#eee;
    }

  & .ocbc-mutualfund-composition-legend{
    display:inline-block; height:10px; width:10px; border-radius:5px; background:#000;
  }

  & .ocbc-mutualfund-composition-legend--l1{
    background-color:#005073;
  }

  & .ocbc-mutualfund-composition-legend--l2{
    background-color:#FDB014;
  }

  & .ocbc-mutualfund-composition-legend--l3{
    background-color:#C41432;
  }

  & .ocbc-mutualfund-composition-table-label .ocbc-lnk{
    color:#666; position:relative; opacity: 1; border:0;text-decoration:none; font-size:.9em;
  }

  & .ocbc-mutualfund-composition-table-label .ocbc-lnk::after{
    content: ""; display: block;  position: absolute; bottom: -1px; left: 0; right: 0; border-bottom: solid 1px #eb2629; transition: all 0.25s ease; transform: scaleX(0);  margin-left: 0; width: auto; height: auto;  z-index: 1; transform-origin: left center;
  }

  & .ocbc-mutualfund-composition-table-label .ocbc-lnk:hover {
    color: #eb2629;
  }

  & .ocbc-mutualfund-composition-table-label .ocbc-lnk:hover::after {
    transform: scaleX(1);
  }



  
  & .ocbc-card--big .ocbc-card__box {
    display:block;
  }

  &  .ocbc-card--big .ocbc-card__box {
      border-radius: 8px;
      padding: 24px;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .05), 0 1px 18px 0 rgba(0, 0, 0, .05), 0 3px 5px 0 rgba(0, 0, 0, .05);
  }

  & .ocbc-card--big.ocbc-card--big-white .ocbc-card__box {
      background-color:#fff;
  }

  & .ocbc-card--big-contentrow{
      margin-bottom:24px;
  }

  & .ocbc-card--big .ocbc-card__title-icon {
      display: table;
      margin-bottom: 10px;
      width: 100%;
      table-layout: fixed;
  }

  & .ocbc-card--big .ocbc-card__icon {
      display: table-cell;
      vertical-align: top;
      padding-top: 4px;
      width: 38px;
      text-align: center;
      padding-right: 10px;
  }

  & .ocbc-card--big .ocbc-card__title {
      display: table-cell;
      vertical-align: top;
      font-weight: 700;
      margin-bottom: 0;
      font-size: 2rem;
      line-height: 3.2rem;
      
  }

  & .ocbc-card--big .ocbc-card__desc {
      color: #667584;
  }

  & .ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds{
    display:inline-block; margin-right: 24px;
  }








}

// --- active-section-calculator
@keyframes active-section-calculator {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// --- hide-section-calculator
@keyframes hide-section-calculator {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(16px);
  }
}

// --- active-pane-calculator
@keyframes active-pane-calculator {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// --- show-item
@keyframes show-item {
  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

