/* ==========================================================================
   OCBC Layout: Achievement
   ========================================================================== */

.#{$prefix}achievement {
  padding: 64px 0 32px;
  @include medium {
    padding: 40px 0 24px;
  }
  &__filter {
    @include small {
      margin-bottom: 32px;
    }
  }
  &__list {
    @include large {
      padding-left: 44px;
    }
    @include medium {
      padding-left: 36px;
    }
    @include small {
      padding-left: 8px;
    }
  }
  &__wrapper {
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;
    @include small {
      margin-left: 0;
      margin-right: 0;
    }
    @include element(after) {
      content: '';
      display: block;
      clear: both;
    }
    .#{$prefix}card {
      float: left;
      width: 50%;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 32px;
      &__box {
        width: 100%;
      }
      &__txt {
        min-height: 236px;
        @include large {
          min-height: 248px;
        }
        @include medium {
          min-height: auto;
        }
      }
      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
      @include medium {
        width: 100%;
        &__box {
          width: 392px;
          margin-left: auto;
          margin-right: auto;
        }
        &:nth-last-child(2) {
          margin-bottom: 32px;
        }
        &:nth-child(2n+1) {
          clear: initial;
        }
      }
      @include small {
        float: none;
        margin-bottom: 24px;
        padding-left: 0;
        padding-right: 0;
        &__box {
          width: 100%;
        }
        &:nth-last-child(2) {
          margin-bottom: 24px;
        }
      }
    }
  }
  &__pagination {
    padding-top: 64px;
  }
}
