/* ==========================================================================
   OCBC Layout: Footer
   ========================================================================== */

.#{$prefix}footer {
  $f: &;
  background-color: color(white);
  padding-top: 44px;
  @include small {
    padding-top: 24px;
  }
  &__ecosystem{
    margin-bottom: 16px;
    @include small {
      margin-bottom: 32px;
    }
  }
  &__contact{
    #{$f}-nav__title {
      margin-bottom: 8px;
      @include small {
        margin-bottom: 12px;
      }
    }
  }
  .#{$prefix}lnk {
    &__logo {
      display: block;
      height: 22px;
      line-height: 22px;
      text-decoration: none;
      margin-bottom: 16px;
      font-size: 0;
      &:last-child{
        margin-bottom: 0;
      }
      @include small {
        margin-bottom: 32px;
      }
    }
  }
  // --- ocbc-footer__top
  &__top {
    padding-bottom: 40px;
    @include small {
      padding-bottom: 24px;
      @include element(after){
        content: none;
      }
    }
  }
  &-nav {
    $fns: &;
    width: 14.166%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
    &:last-child {
      width: 15%;
    }
    @include mq(1240px) {
      width: 14%;
      &:last-child {
        width: 16%;
      }
    }
    @include large {
      width: 25%;
      margin-bottom: 32px;
      &:last-child {
        width: 25%;
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
      &:nth-child(5){
        clear: both;
      }
    }
    @include small {
      width: 100%;
      margin-bottom: 0;
      float: none;
      &:last-child {
        width: 100%;
      }
      &__title {
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 24px;
        }
      }
      &--accordion {
        margin-bottom: 16px;
        #{$fns}__title {
          margin-bottom: 4px;
          &:last-child {
            margin-bottom: 8px;
          }
        }
      }
      &:nth-last-child(-n + 3) {
        margin-bottom: 16px;
      }
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
      &:nth-child(5){
        clear: initial;
      }
    }
  }
  // --- /ocbc-footer__top

  // --- ocbc-footer__bottom
  &__bottom {
    &__wrapper {
      padding: 12px 0;
      border-top: solid 1px color(gray, 4);
      @include medium {
        padding: 16px 0;
      }
    }
  }
  &__basic-pg-lnk {
    float: right;
    text-align: right;
    @include large {
      float: right;
    }
    @include medium {
      float: left;
      text-align: left;
    }
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 60px;
      @include medium {
        line-height: 1;
      }
    }
    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 32px;
      @include font-size(micro);
      &:last-child {
        margin-right: 0;
      }
      @include mq(1280px) {
        margin-right: 24px;
      }
      @include medium {
        margin-right: 16px;
        margin-bottom: 16px;
      }
    }
    .#{$prefix}lnk {
      text-decoration: none;
      position: relative;
      transition: color 0.25s ease;
      @include border-bottom-hover-slide;
      &:hover {
        color: color(primary, 1);
        // <pseudo-element/>
        @include element(after) {
          transform: scaleX(1);
        }
        // -- premier site
        .#{$prefix}premier-site & {
          color: color(premier, 1);
        }
        // -- private site
        .#{$prefix}private-site & {
          color: color(private, 1);
        }
      }
    }
  }
  &__copyright {
    @include clearfix;
    .#{$prefix}regulator {
      margin-bottom: 12px;
      @include small {
        margin-bottom: 8px;
      }
    }
    &__txt {
      margin: 0;
      @include font-size(micro);
    }
  }
  // --- /ocbc-footer__bottom
}
