/* ==========================================================================
   OCBC Layouts: Main Banner Presentation needs
   ========================================================================== */

.#{$prefix}main-banner-presentation-needs {
  position: relative;
  .#{$prefix}main-banner {
    z-index: $z-main-banner;
  }
  .#{$prefix}needs-container {
    position: relative;
    // margin-top 272: height(200) + space from bottom (72)
    margin-top: -272px;
    z-index: $z-needs-container;
    @include mq(1280px) {
      // margin-top 248: height(200) + space from bottom (56)
      margin-top: -256px;
    }
    @include large {
      // margin-top 224: height(200) + space from bottom (32)
      margin-top: -232px;
    }
    @include small {
      // margin-top 178: height(162) + space from bottom (16)
      margin-top: -178px;
    }
    &--as-tabs{
      .#{$prefix}presentation-needs__wrapper{
        box-shadow: none;
      }
    }
  }
  .#{$prefix}card-needs {
    margin-bottom: 72px;
    @include mq(1280px) {
      margin-bottom: 56px;
    }
    @include large {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 16px;
    }
  }
  &__close-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: right;
    margin-top: 40px;
  }
}

@import "ocbc-card-needs";
@import "ocbc-presentation-needs";
