/* ==========================================================================
   OCBC Layout: Filter Card
   ========================================================================== */

.#{$prefix}filter-card {
  $fc: &;
  &__wrapper {
    display: inline-block;
    min-width: 392px;

    @include small {
      display: block; 
      min-width: initial;
    }
  }

  .#{$prefix}select {
    &__list {
      width: calc(100% - 48px);

      @include small {
        width: 100%;
      }
    }

    &__item {
      padding: 6px 54px 8px 24px;

      &:last-child {
        margin-bottom: 4px;
      }

      &__text {
        @include font-size(body);
      }
    }

    &__text {
      @include font-size(h3);
      font-weight: fw(bold);
      padding-top: 8px;
    }
  }

  //modifier
  &--landing-page{
    padding-top: 64px;
    @include small{
      padding-top: 0;
    }
    #{$fc}__title{
      margin-bottom: 40px;
      @include small{
        padding-top: 32px;
      }
    }
  }
}
