/* ==========================================================================
   OCBC Layouts: Result List
   ========================================================================== */

.#{$prefix}result-list {
  @include small {
    padding-top: 16px;
  }

  &__title-quick-links {
    @include font-size(h4);
    color: color(gray, 1);
    margin-bottom: 24px;
    display: none;

    @include small {
      margin-bottom: 16px;
    }

    &--show {
      display: block;
    }
  }

  &__filtered {
    display: none;
    @include font-size(body);

    @include small {
      display: block;
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
