/* ==========================================================================
   OCBC Layouts: Label Comparison 
   ========================================================================== */

.#{$prefix}label-comparison {
  $c: &;
  @include shadow(4);
  position: relative;
  background-color: color(white);
  
  &__scrollable {
    padding: 12px 0;
  }
}