/* ==========================================================================
   OCBC Layout: Content Tab
   ========================================================================== */

.#{$prefix}content-tab {
  padding: 64px 0 32px;
  @include medium {
    padding: 56px 0 28px;
  }
  @include small {
    padding: 48px 0 24px;
  }
  &__content {
    max-width: 808px;
    &__item {
      margin-bottom: 64px;
      &:last-child {
        margin-bottom: 0;
      }
      @include medium {
        margin-bottom: 56px;
      }
      @include small {
        margin-bottom: 32px;
      }
    }
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
  }
  &__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__iframe {
    width: 100%;
    height: 448px;
    border: 0;
    border-radius: 1px;
    @include medium {
      height: 408px;
    }
    @include small {
      height: 190px;
    }
  }
}
