/* ==========================================================================
   OCBC Layout: Card Head Product
   ========================================================================== */

.#{$prefix}card-head-product {
  $ps: &;
  width: 100%;
  min-height: 800px;
  overflow: hidden;
  position: relative;
  @include large {
    min-height: initial;
  }
  .#{$prefix}container,
  .#{$prefix}row,
  .#{$prefix}col-xl-12 {
    height: 100%;
  }
  .#{$prefix}col-xl-12 {
    position: static;
  }
  .#{$prefix}half-offset-container {
    bottom: 0;
    top: 0;
    height: 100%;
  }
  &__content {
    position: relative;
    padding: 72px 0 96px;
    @include medium {
      padding: 64px 0 72px;
    }
    @include small {
      padding: 48px 0;
    }
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 32px;
    max-width: $container-max-width;
    @include large {
      padding-right: 32px;
    }
    @include small {
      padding-right: 16px;
      margin-bottom: 16px;
    }
  }
  &__list {
    line-height: 1;
    font-size: 0;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    // --- override
    @include carousel-nav-red;
    @include carousel-nav-red-position(all, bottom, 348px);
    @include carousel-nav-red-position(prev, left, -24px);
    @include carousel-nav-red-position(next, right, 24px);
    @include large {
      @include carousel-nav-red-position(all, bottom, 278px);
    }
    .#{$prefix}card {
      &:first-child {
        .#{$prefix}card__box {
          border-radius: 8px 0 0 8px;
        }
      }
      &:last-child {
        .#{$prefix}card__box {
          border-radius: 0 8px 8px 0;
        }
      }
    }
    // --- override owl carousel
    .owl-item {
      font-size: 0;
      line-height: 1;
      // edge only
      @supports (-ms-ime-align: auto) {
        margin-right: -2px;
      }
      .#{$prefix}card {
        margin-right: 0;
        &:first-child {
          .#{$prefix}card__box {
            border-radius: 0;
          }
        }
        &:last-child {
          .#{$prefix}card__box {
            border-radius: 0;
          }
        }
      }
      &:first-child {
        .#{$prefix}card {
          .#{$prefix}card__box {
            border-radius: 8px 0 0 8px;
          }
        }
      }
      &:last-child {
        .#{$prefix}card {
          .#{$prefix}card__box {
            border-radius: 0 8px 8px 0;
          }
        }
      }
    }
    // --- /override owl carousel
    &--with-nyala {
      .#{$prefix}card {
        &:first-child {
          margin-right: 24px;
          .#{$prefix}card__box {
            border-radius: 8px;
          }
        }
        &:nth-child(2) {
          .#{$prefix}card__box {
            border-radius: 8px 0 0 8px;
          }
        }
        &:last-child {
          .#{$prefix}card__box {
            border-radius: 0 8px 8px 0;
          }
        }
      }
      // --- override owl carousel
      .owl-item {
        // -- reset card
        .#{$prefix}card {
          margin-right: 0;
          &:first-child {
            .#{$prefix}card__box {
              border-radius: 0;
            }
          }
          &:last-child {
            .#{$prefix}card__box {
              border-radius: 0;
            }
          }
        }
        // -- special
        &:first-child {
          .#{$prefix}card {
            margin-right: 24px;
            &:first-child {
              .#{$prefix}card__box {
                border-radius: 8px;
              }
            }
          }
        }
        &:nth-child(2) {
          .#{$prefix}card {
            .#{$prefix}card__box {
              border-radius: 8px 0 0 8px;
            }
          }
        }
        &:last-child {
          .#{$prefix}card {
            .#{$prefix}card__box {
              border-radius: 0 8px 8px 0;
            }
          }
        }
      }
      // --- /override owl carousel
    }
    @include small {
      display: block;
      width: auto;
      margin-left: -16px;
      padding-left: 16px;
      border-radius: 0;
      @include scroll("x", "touch", "hide");
      // --- temporary if image using img tag
      .#{$prefix}card {
        white-space: initial;
        &:last-child {
          margin-right: 16px;
        }
      }
      &--with-nyala {
        .#{$prefix}card {
          &:first-child {
            margin-right: 16px;
          }
        }
      }
    }
    &--no-carousel {
      .#{$prefix}card {
        margin-right: 24px;
        .#{$prefix}card__box {
          border-radius: 8px;
        }
        &:first-child,
        &:last-child {
          .#{$prefix}card__box {
            border-radius: 8px;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        @include small {
          margin-right: 16px;
          &:last-child {
            margin-right: 16px;
          }
        }
      }
    }
  }
}
