/* ==========================================================================
   OCBC Layout: Icon Text
   ========================================================================== */

.#{$prefix}icon-text {
  margin-right: 48px;
  &:last-child {
    margin-right: 0;
  }
  &-wrapper {
    font-size: 0;
    line-height: 0;
  }
  @include medium {
    margin-right: 32px;
  }
}
