/* ==========================================================================
   OCBC Layout: Widget
   ========================================================================== */

.#{$prefix}card-info-section {
  padding: 64px 0;
  background-color: color(gray, 6);
  @include medium {
    padding: 56px 0;
  }
  @include small {
    padding: 48px 0;
  }
  .#{$prefix}card-info__item {
    @include medium {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include small {
      margin-bottom: 16px;
    }
  }
}
