/* ==========================================================================
   OCBC Layouts: Presentation Needs
   ========================================================================== */

.#{$prefix}presentation-needs {
  $pj: &;
  position: relative;
  display: none;
  z-index: $z-presentation-needs;
  background-color: color(white);

  &--no-pb {
    #{$pj}__wrapper {
      padding-bottom: 0;

      @include medium {
        padding-bottom: 0;
      }
    }
  }

  &__close {
    position: absolute;
    top: 40px;
    right: 40px;
    outline: 0;
    border: 0;
    z-index: $z-presentation-needs-close;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(color(gray, 1), 0.4);
    @include remove-tap-highlight;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(8px);
    visibility: hidden;

    @include large {
      top: 32px;
      right: 32px;
    }

    @include small {
      top: 16px;
      right: 16px;
    }

    .#{$prefix}fi {
      font-size: 1.6rem;
      line-height: 32px;
      color: color(white);
    }

    &:hover {
      background-color: rgba(color(gray, 1), 0.7);
      transform: translateY(-2px);
      @include shadow(6);
    }
  }

  &__wrapper {
    padding-bottom: 32px;
    overflow: hidden;
    @include shadow(16);

    @include medium {
      padding-bottom: 24px;
    }
  }

  &__pane {
    display: none;
    opacity: 0;
    transform: translateY(-8px);
    visibility: hidden;
    transition: all 0.35s ease;
  }

  &--expand {
    #{$pj}__close {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }

    #{$pj}__pane {
      transform: translateY(0);

      &--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
