/* ==========================================================================
   OCBC Layout: Card Upselling
   ========================================================================== */

.#{$prefix}card-upselling {
  $cu: &;
  padding: 32px 0;

  @include medium {
    padding: 24px 0;
  }

  // -- more-pb
  &--more-pb {
    padding: 0 0 64px;

    @include medium {
      padding: 0 0 56px;
    }

    @include small {
      padding: 0 0 48px;
    }
  }

  // -- more-py
  &--more-py {
    padding: 64px 0;

    @include medium {
      padding: 56px 0;
    }
    @include small {
      padding: 48px 0;
    }
  }

  // -- more-pt
  &--more-pt {
    padding-top: 64px;

    @include medium {
      padding-top: 56px;
    }

    @include small {
      padding-top: 48px;
    }
  }

}
