/* ==========================================================================
   OCBC Layouts: Card Advisor
   ========================================================================== */

.#{$prefix}card-advisor {
  padding: 64px 0 48px;
  background-color: color(gray, 7);
  @include medium {
    padding: 48px 0 36px;
  }
  @include small {
    padding: 48px 0;
  }
  &__title {
    margin-bottom: 8px;
    font-weight: fw(bold);
    @include font-size(h4);
    @include small {
      margin-bottom: 16px;
    }
  }
  &__item {
    padding-top: 16px;
    padding-bottom: 16px;
    @include small {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
