/* ==========================================================================
   OCBC Layout: Highlight Promo
   ========================================================================== */

.#{$prefix}highlight-promo {
  $hp: &;
  padding: 64px 0;

  @include medium {
    padding: 56px 0;
  }

  @include small {
    padding: 48px 0;
  }

  &__title {
    margin-bottom: 4px;
    @include font-size(h4);
    font-weight: fw(bold);

    @include small {
      margin-bottom: 16px;
    }
  }

  &__icon {
    height: 52px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-top: -24px;

    @include small {
      margin-top: -10px;
      height: 32px;
      margin-right: 8px;
    }
  }

  &__lnk-all {
    line-height: 1;
    position: absolute;
    top: 6px;
    right: 12px;

    @include small {
      margin-top: 24px;
      position: static;
    }
  }

  &__list {
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;

    @include small {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .#{$prefix}card{
    &__label {
      @include ellipsis;
      @include small {
        white-space: initial;
      }
    }
    &--promo {
      width: 33.3333333%;
      float: left;
      padding: 12px;

      @include medium {
        width: 50%;
      }

      @include small {
        width: 100%;
        float: none;
        margin-bottom: 16px;
        padding: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }

      // --- modifier
      &--rectangle {
        width: 66.6666666%;

        @include medium {
          width: 100%;
        }
      }
    }
  }

  &--inner-tabs {
    padding: 32px 0 20px;

    .#{$prefix}card--promo {
      @include medium {
        width: 100%;
        max-width: 100%;
      }
    }

    @include small {
      padding: 24px 0;

      #{$hp}__list {
        margin-bottom: 0;
      }
    }
  }
}
