/* ==========================================================================
   OCBC Layout: Popup General
   ========================================================================== */

.#{$prefix}popup-general {
  $pg: &;
  z-index: $z-general-popup;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(white);
  transition: all 0.45s cubic-bezier(0.57, 0.07, 0.27, 0.91);
  transform: translateY(100%);
  @include scroll(y, touch, show);
  &--show {
    transform: none;
    #{$pg}__close,
    #{$pg}__content,
    #{$pg}__box {
      opacity: 1;
      transform: none;
    }
    #{$pg}__content {
      transition-delay: 0.55s;
    }
    #{$pg}__close {
      transition-delay: 0.65s;
    }
  }
  &--full-content {
    #{$pg}__content {
      max-width: initial;
      @include medium {
        padding-right: 0;
      }
    }
  }
  &__close {
    display: block;
    width: 32px;
    height: 32px;
    background-color: color(gray, 4);
    position: fixed;
    top: 40px;
    right: 40px;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    z-index: $z-general-popup-close;
    color: color(white);
    cursor: pointer;
    @include remove-tap-highlight;
    opacity: 0;
    transform: translateY(16px);
    transition: all .45s ease;
    transition-delay: 0s;
    &:hover {
      .#{$prefix}fi {
        transform: rotate(90deg);
      }
    }
    .#{$prefix}fi {
      display: block;
      font-size: 1.6rem;
      line-height: 3.2rem;
      transition: all .35s ease;
    }
    @include large {
      top: 32px;
      right: 32px;
    }
    @include small {
      top: 16px;
      right: 16px;
    }
  }
  &__wrapper {
    position: relative;
    padding: 88px 0 64px;
    @include medium {
      padding: 64px 0;
    }
  }
  &__content {
    position: relative;
    z-index: $z-general-popup-content;
    opacity: 0;
    transform: translateY(16px);
    transition: all .45s ease;
    transition-delay: 0s;
    max-width: 808px;
    @include medium {
      padding-right: 48px;
    }
    @include small {
      padding-right: 24px;
    }
    &__item {
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
      // data pane
      &[data-pane] {
        display: none;
      }
      &--active {
        &[data-pane] {
          display: block;
        }
      }
    }
  }

  // content
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(gray, 1);
    &--regular {
      font-weight: fw(regular);
    }
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
   .#{$prefix}private-site & {
      color: color(private, 1);
    }
  }
  &__subtitle{
    @include font-size(body);
    color: color(gray, 1);
    font-weight: fw(bold);
    margin-bottom: 16px;
  }
  &__list {
    $l: &;
    margin-bottom: 24px;
    padding-left: 20px;
    &:last-child {
       margin-bottom: 0;
    }
    &-wrapper {
      margin-bottom: 16px;
      &:last-child {
         margin-bottom: 0;
      }
    }
    &__item {
      @include font-size(body);
      font-weight: fw(regular);
      color: color(gray, 2);
      padding-left: 4px;
      margin-bottom: 8px;
      &:last-child {
         margin-bottom: 0;
      }
      #{$pg}__list {
        padding-left: 20px;
        &__item {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }
    // -- h4
    &--h4 {
      > #{$l}__item {
        @include font-size(h4);
        font-weight: fw(bold);
        color: color(gray, 1);
        margin-bottom: 32px;
        > #{$pg}__list:first-child {
          margin-top: 16px;
          @include small {
            margin-top: 8px;
          }
        }
        > #{$pg}__desc:first-child {
          margin-top: 16px;
          @include small {
            margin-top: 8px;
            margin-bottom: 8px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        #{$pg}__list {
          &__item {
            margin-bottom: 16px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    // --mbm
    &--mbm {
      #{$l}__item {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a {
      text-decoration: none;
      transition: color .25s ease;
      &:hover {
        color: color(primary, 1);
      }
    }
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    #{$pg}__list-wrapper & {
      margin-bottom: 8px;
    }
  }

  &__note{
    @include font-size(micro);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  ol#{$pg}__list {
    list-style: decimal;
  }
  ul#{$pg}__list {
    list-style-type: disc;
  }

  // table select
  &__tbl-select {
    &__filter {
      display: none;
      @include small {
        display: block;
        padding-top: 8px;
        margin-bottom: 24px;
      }
    }
    &__item {
      margin-bottom: 48px;
      &:last-child {
        margin-bottom: 0;
      }
      @include small {
        margin-bottom: 0;
        display: none;
        &--active {
          display: block;
        }
      }
    }
  }
  // end content

  &__img {
    display: block;
    &-list {
      font-size: 0;
      line-height: 1;
      margin-bottom: 32px;
      &__item {
        display: inline-block;
        vertical-align: top;
        width: 184px;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        @include small {
          display: block;
          margin-bottom: 24px;
          margin-right: 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__tbl {
    margin-bottom: 16px;
    margin-right: -208px;
    @include large {
      margin-right: -144px;
    }
    @include medium {
      margin-right: -48px;
    }
    @include small {
      margin-right: -40px;
      padding-right: 16px;
    }
  }

  &__filter {
    margin-bottom: 32px;
    .#{$prefix}filter-card {
      .#{$prefix}select__list {
        width: 100%;
      }
    }
    @include small {
      margin-bottom: 24px;
    }
  }
}
