/* ==========================================================================
   OCBC Layout: Header Calc
   ========================================================================== */

.#{$prefix}header-calc {
  $h: &;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $z-header;
  background-color: color(white);
  transition: transform 0.35s ease;
  opacity: 1;
  @include shadow(8);

  // --- wrapper
  &__wrapper {
    position: relative;
    @include clearfix;
  }

  // --- logo
  &__logo {
    font-size: 0;
    padding: 16px 0;
    float: left;
    .#{$prefix}lnk {
      display: inline-block;
    }
    .#{$prefix}img {
      height: 40px;
    }
    @include large {
      padding: 12px 0;
    }
    @include retina {
      padding: 14px 0;
      .#{$prefix}img {
        height: 36px;
      }
    }
  }

  // --- btn
  &__btn {
    font-size: 0;
    padding: 16px 0;
    float: right;
    @include large {
      padding: 12px 0;
    }
  }

}
