/* ==========================================================================
   OCBC Layout: Search Filter
   ========================================================================== */

.#{$prefix}filter {
  $sf: &;
  max-width: 288px;
  @include small {
    max-width: initial;
  }

  &__show {
    display: none;

    @include small {
      font-size: 0;
      display: block;
      &__btn {
        padding: 0;
        outline: 0;
        border: 0;
        font-size: 0;
        cursor: pointer;
        background-color: transparent;
        @include remove-tap-highlight;
      }

      &__icon {
        width: 100%;
        vertical-align: top;

        &-wrapper {
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          padding: 2px;
          margin-right: 8px;
        }
      }

      &__txt {
        display: inline-block;
        vertical-align: middle;
        color: color(gray, 1);
        @include font-size(body);
      }
    }
  }

  &__scrollover {
    @include small {
      display: block;
      position: fixed;
      z-index: $z-search-filter-mobile;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: color(white);
      transform: scaleY(0);
      transform-origin: center bottom;
      transition: all .6s ease;
      transition-delay: 400ms;
      @include scroll(y, touch, hide);
    }
  }

  &__wrapper {
    @include small {
      min-height: 100%;
      position: relative;
      padding: 64px 16px 112px;
    }
  }

  &__close {
    display: none;

    @include small {
      display: block;
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: $z-search-filter-close;
      opacity: 0;
      transform: translateY(8px);
      transition: all .45s ease;
      transition-delay: 200ms;
      &__btn{
        padding: 0;
        outline: 0;
        border: 0;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        background-color: color(gray, 4);
      }
      &__icon {
        font-size: 1.8rem;
        line-height: 32px;
        color: color(white);
      }
    }
  }

  &__list {
    @include small {
      opacity: 0;
      transform: translateY(8px);
      transition: all .45s ease;
      transition-delay: 100ms;
    }
  }

  &__apply {
    display: none;

    @include small {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 16px;
      z-index: $z-search-filter-apply;
      opacity: 0;
      transform: translateY(8px);
      transition: all .45s ease;
      transition-delay: 0ms;
    }
  }

  &__item {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  // --- show
  &--show {
    @include small {
      #{$sf}__scrollover {
        transform: scaleY(1);
        transition: all .5s ease;
        transition-delay: 0ms;
      }
      #{$sf}__close,
      #{$sf}__list,
      #{$sf}__apply {
        opacity: 1;
        transform: translateY(0);
      }
      #{$sf}__close {
        transition-delay: 500ms;
      }
      #{$sf}__list {
        transition-delay: 600ms;
      }
      #{$sf}__apply {
        transition-delay: 700ms;
      }
    }
  }

}
