/* ==========================================================================
   OCBC Layout: Card Head Product
   ========================================================================== */

.#{$prefix}card-premier-product {
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(gray, 1);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
    @include small {
      margin-bottom: 16px;
    }
  }
  &__list {
    line-height: 1;
    font-size: 0;
    .#{$prefix}card {
      width: 25%;
      &:first-child {
        .#{$prefix}card__box {
          border-radius: 8px 0 0 0;
        }
      }
      &:nth-child(4) {
        .#{$prefix}card__box {
          border-radius: 0 8px 0 0;
        }
      }
      &:nth-last-child(4) {
        .#{$prefix}card__box {
          border-radius: 0 0 0 8px;
        }
      }
      &:last-child {
        .#{$prefix}card__box {
          border-radius: 0 0 8px 0;
        }
      }
    }
    @include medium {
      .#{$prefix}card {
        width: 50%;
        &:nth-child(2) {
          .#{$prefix}card__box {
            border-radius: 0 8px 0 0;
          }
        }
        &:nth-child(4),
        &:nth-last-child(4) {
          .#{$prefix}card__box {
            border-radius: 0;
          }
        }
        &:nth-last-child(2) {
          .#{$prefix}card__box {
            border-radius: 0 0 0 8px;
          }
        }
      }
    }
    @include small {
      .#{$prefix}card {
        width: 100%;
        &:first-child {
          .#{$prefix}card__box {
            border-radius: 8px 8px 0 0;
          }
        }
        &:nth-child(2),
        &:nth-last-child(2) {
          .#{$prefix}card__box {
            border-radius: 0;
          }
        }
        &:last-child {
          .#{$prefix}card__box {
            border-radius: 0 0 8px 8px;
          }
        }
      }
    }
  }
}
