/* ==========================================================================
   OCBC Layout: Calculator Graphic
   ========================================================================== */

.#{$prefix}calc-graphic{
  &__desc {
    max-width: 704px;
    &__txt {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include medium {
      white-space: normal;
    }
    @include small {
      padding-right: 24px;
    }
  }
  .#{$prefix}card-legend {
    margin-bottom: 24px;
  }
  .#{$prefix}graphic-bar {
    max-width: 912px;
    margin-bottom: 24px;
  }
  @include medium {
    &__chart {
      margin: -8px -32px 0;
      padding: 8px 32px 0;
      @include scroll("x", "touch", "hide");
    }
    .#{$prefix}card-legend {
      .#{$prefix}card--legend {
        &:last-child {
          margin-right: 32px;
        }
      }
    }
    .#{$prefix}graphic-bar {
      white-space: normal;
      max-width: initial;
      width: 944px;
      padding-right: 32px;
    }
  }
  @include small {
    &__chart {
      margin: -8px -16px 0;
      padding: 8px 16px 0;
      @include scroll("x", "touch", "hide");
    }
    .#{$prefix}card-legend {
      .#{$prefix}card--legend {
        &:last-child {
          margin-right: 16px;
        }
      }
    }
    .#{$prefix}graphic-bar {
      white-space: normal;
      max-width: initial;
      width: 928px;
      padding-right: 16px;
    }
  }
}
