/* ==========================================================================
   OCBC Layout: Investment Pie Chart
   ========================================================================== */

.#{$prefix}inv-pie-chart {
  &-container{
    margin-bottom: 96px;
    @include medium {
      margin-bottom: 72px;
    }
    @include small {
      margin-bottom: 48px;
    }
  }
}
