/* ==========================================================================
   OCBC Layouts: Card Legend
   ========================================================================== */

.#{$prefix}card-legend {
  font-size: 0;
  line-height: 1;
  .ocbc-card--legend {
    margin-right: 24px;
    transition: all 0.75s ease;
    @for $i from 1 through 5 {
      $timer: 900 + ($i * 50);
      &:nth-child(#{$i}) {
        transition-delay: #{$timer}ms;
      }
    }
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
    &:last-child {
      margin-right: 0;
    }
    @include large {
      margin-right: 16px;
    }
  }
}
