/* ==========================================================================
   OCBC Layouts: Card Country
   ========================================================================== */

.#{$prefix}card-country {
  max-width: 600px;

  @include small {
    max-width: initial;
  }

  .ocbc-card--country {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  
}
