/* ==========================================================================
   OCBC Layouts: Product Detail Fragments
   ========================================================================== */

.#{$prefix}prod-detail-fragments {
  $pdf: &;
  transition: all 0.75s ease 1.5s;

  .#{$prefix}site-content--hide & {
    opacity: 0;
    transform: translateY(8px);
  }
  @include small {
    padding: 40px 0;
  }

  &__block {
    @include small {
      padding: 16px 0 0;
    }

    .#{$prefix}prod-detail-fragment {
      max-width: 288px;
      width: 100%;
      @include medium {
        width: 100%;
      }
      @include small {
        width: 100%;
      }
    }

    #{$pdf}__list {
      margin-left: -12px;
      margin-right: -12px;

      @include large {
        margin-left: -32px;
        margin-right: -32px;
      }

      @include small {
        margin-left: -16px;
        margin-right: -16px;
      }
    }

    #{$pdf}__item {
      padding: 24px 0;

      @include element(before){
        content: '';
        clear: both;
        display: block;
      }

      @include element(after){
        content: '';
        clear: both;
        display: block;
      }

      @include large {
        padding: 24px 0;
        margin-bottom: 0;
      }

      .#{$prefix}prod-detail-fragment {
        &__title {
          color: color(gray, 1);
        }
      }
    }
  }

  &__clear {
    display: block;
    clear: both;
  }

  &__title {
    // margin bottom total is 24px: 12px + 12px (from item)
    margin-bottom: 12px;
    font-weight: fw(regular);

    @include medium {
      margin-bottom: 16px;
    }
  }

  &__item {
    padding: 12px;

    &:nth-child(4n + 1) {
      clear: both;
    }

    @include medium {
      padding: 0 12px;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(4n + 1) {
        clear: initial;
      }
    }

    @include small {
      padding: 0 8px;
    }
  }

  &--how-to-join {
    #{$pdf}__item {
      &:last-child {
        padding-bottom: 0;

        @include small {
          padding-bottom: 24px;
        }
      }
    }
  }

}
