/* ==========================================================================
   OCBC Layout: Image Promo
   ========================================================================== */

.#{$prefix}image-promo {
   height: 480px;
   position: relative;
   margin-bottom: 48px;
   @include small {
      height: 260px;
      margin-bottom: 40px;
   }
   &__list {
      font-size: 0;
      overflow: hidden;
      border-radius: 8px 0 0 8px;
      padding-bottom: 16px;
      @include small {
         display: block;
         width: auto;
         margin-left: -16px;
         padding-left: 16px;
         border-radius: 0;
         @include scroll("x", "touch", "hide");
      }

      // --- override
      @include carousel-nav-red;
      @include carousel-nav-red-position(all, bottom, 16px);
      @include carousel-nav-red-position(prev, left, 16px);
      @include carousel-nav-red-position(next, left, 96px);
      .owl-stage-outer {
         border-radius: 8px;
         @include small {
            overflow: hidden !important;
         }
      }
      // --- /override
   }
}
