/* ==========================================================================
   OCBC Layouts: Exchange Rate Table
   ========================================================================== */

.#{$prefix}xr-tbl {
  padding: 32px 0;

  @include small {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__caption {
    color: color(gray, 2);
    margin-bottom: 16px;
  }

  &__btn {
    margin-top: 32px;

    @include small {
      margin-top: 8px;
    }
  }

  &--currency {
    padding-bottom: 64px;

    @include medium {
      padding-bottom: 56px;
    }

    @include small {
      padding-bottom: 32px;
    }
  }
}
