/* ==========================================================================
   OCBC Layout: Mutual Funds
   ========================================================================== */

.#{$prefix}mutual-funds{
  padding-bottom: 64px;
  @include medium {
    padding-bottom: 48px;
  }
  @include small {
    padding-bottom: 40px;
  }
  &__filter {
    @include small {
      margin-bottom: 24px;
    }
  }
  &__list {
    @include large {
      padding-left: 36px;
    }
    @include medium {
      padding-left: 44px;
    }
    @include small {
      padding-left: 8px;
    }
  }
}
