/* ==========================================================================
   OCBC Layout: Tabs Controll
   ========================================================================== */

&__controll {
  $tc: &;
  &-container {
    position: relative;
    z-index: $z-tab-controll;
    background-color: color(white);
    @include shadow(8);
    // -- premier site
    .#{$prefix}premier-site & {
      background-color: color(premier, 3);
    }
    // -- private site
    .#{$prefix}private-site & {
      background-color: color(private, 1);
    }
  }
  &-wrapper {
    position: relative;
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: $z-tab-button;
    transform: translateY(-50%);
  }
  @include large {
    @include scroll("x", "touch", "hide");
    &-wrapper {
      margin-left: -32px;
      margin-right: -32px;
      #{$tc} {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }
  @include small {
    &-container {
      box-shadow: none;
    }
    &-wrapper {
      margin-left: -16px;
      margin-right: -16px;
      #{$tc} {
        padding-left: 16px;
        padding-right: 16px;
        @include shadow(8);
      }
    }
    &__btn {
      position: static;
      transform: none;
      padding: 40px 16px 16px;
      text-align: center;
      .#{$prefix}btn{
        width: 100%;
        max-width: 343px;
      }
    }
  }
}
