/* ==========================================================================
   OCBC Layout: Popup BOD
   ========================================================================== */

.#{$prefix}popup-bod {
  $pb: &;
  z-index: $z-bod-popup;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: color(white);
  transition: all 0.45s cubic-bezier(0.57, 0.07, 0.27, 0.91);
  transform: translateY(100%);
  @include scroll(y, touch, show);
  .#{$prefix}popup-bod-show & {
    transform: none;
    #{$pb}__close {
      opacity: 1;
      transform: none;
      transition-delay: 0.7s;
    }
    #{$pb}__img-circle {
      opacity: 1;
      transform: none;
      transition-delay: 0.65s;
    }
    #{$pb}__head,
    #{$pb}__body {
      opacity: 1;
      transform: none;
    }
    #{$pb}__head {
      transition-delay: 0.55s;
    }
    #{$pb}__body {
      transition-delay: 0.65s;
    }
  }
  &__close {
    display: block;
    width: 32px;
    height: 32px;
    background-color: color(gray, 4);
    position: fixed;
    top: 40px;
    right: 40px;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 50%;
    z-index: $z-bod-popup-close;
    color: color(white);
    cursor: pointer;
    @include remove-tap-highlight;
    opacity: 0;
    transform: translateY(16px);
    transition: all .45s ease;
    &:hover {
      .#{$prefix}fi {
        transform: rotate(90deg);
      }
    }
    .#{$prefix}fi {
      display: block;
      font-size: 1.6rem;
      line-height: 3.2rem;
      transition: all .35s ease;
    }
    @include large {
      top: 32px;
      right: 32px;
    }
    @include small {
      top: 16px;
      right: 16px;
    }
  }
  &__wrapper {
    position: relative;
    padding: 96px 0 64px;
    @include medium {
      padding: 64px 0;
    }
    @include small {
      padding: 40px 0 48px;
    }
  }
  &__img-circle {
    position: fixed;
    top: 0;
    margin-left: -220px;
    width: 969px;
    height: 969px;
    background-position: center center;
    background-size: contain;
    z-index: $z-bod-popup-img-circle;
    opacity: 0;
    transform: scale(1.1);
    transition: all .75s ease;
    @include medium {
      position: absolute;
      width: 768px;
      height: 768px;
      top: -24px;
      margin-left: 0;
      left: -40px;
    }
    @include small {
      width: 462px;
      height: 462px;
    }
    @include retina {
      width: 406px;
      height: 406px;
    }
  }
  &__content {
    position: relative;
    z-index: $z-bod-popup-content;
  }
  &__left {
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 40px;
    }
    @include retina {
      margin-bottom: 32px;
    }
  }
  &__right {
    @include large {
      padding-left: 68px;
    }
    @include medium {
      padding-left: 12px;
    }
    @include small  {
      padding-left: 8px;
    }
  }
  &__head {
    top: 96px;
    bottom: 8px;
    position: fixed;
    max-width: 340px;
    margin-left: -12px;
    min-height: 404px;
    max-height: 628px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(16px);
    transition: all .5s ease;
    @media screen and (max-height: 500px) {
      top: 0;
      position: relative;
    }
    @include large {
      margin-left: 0;
    }
    @include medium {
      top: 0;
      position: relative;
      @media screen and (max-height: 500px) {
        position: relative;
      }
    }
    @include small {
      max-width: 343px;
      min-height: initial;
    }
  }
  &__img {
    display: block;
    margin: 0 auto;
    &-wrapper {
      width: 100%;
      height: 100%;
    }
    @include small {
      max-height: 100%;
      max-width: initial;
      &-wrapper {
        height: 432px;
      }
    }
  }
  &__name-position {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: color(gray, 3);
    color: color(white);
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    z-index: $z-bod-popup-name-position;
  }
  &__name {
    @include font-size(h4);
    margin-bottom: 0;
  }
  &__position {
    @include font-size(body);
    margin-bottom: 0;
  }
  &__body {
    opacity: 0;
    transform: translateY(16px);
    transition: all .5s ease;
    &__item {
      margin-bottom: 48px;
      &:last-child {
        margin-bottom: 0;
      }
      @include small {
        margin-bottom: 40px;
      }
      @include retina {
        margin-bottom: 32px;
      }
    }
    h4 {
      color: color(gray, 1);
      margin-bottom: 16px;
      @include font-size(h4);
      @include small {
        margin-bottom: 8px;
      }
    }
    p {
      color: color(gray, 2);
      margin-bottom: 0;
    }
  }
}
