/* ==========================================================================
   OCBC Layouts: Card Partner
   ========================================================================== */

.#{$prefix}card-partner {
  $cp: &;

  &__item {
    margin-bottom: 24px;

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2n+1) {
      clear: both;
    }

    @include small {
      margin-bottom: 16px;

      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 16px;
      }

      &:nth-child(2n+1) {
        clear: initial;
      }
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(regular);
    margin-bottom: 32px;

    @include small {
      margin-bottom: 16px;
    }
  }
}
