/* ==========================================================================
   OCBC Layout: Header
   ========================================================================== */

.#{$prefix}header {
  $h: &;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $z-header;
  background-color: color(white);
  transition: transform 0.35s ease;
  @include shadow(8);
  // window scroll
  .#{$prefix}scroll-down & {
    transform: translateY(-100%);
    transition: transform 0.5s ease;
  }
  // -- premier site
  .#{$prefix}premier-site & {
    background-image: lg(premier-light, 'to-bottom');
  }
  // -- private site
  .#{$prefix}private-site & {
    background-image: linear-gradient(to top, color(private, 1), color(private, 2) 13%, color(private, 3));
  }
  @include large {
    box-shadow: none;
    background-color: transparent;
  }
  // --- wrapper
  &__wrapper {
    position: relative;
    @include clearfix;
  }

  // --- top
  &__top {
    float: left;
    margin-right: 35px;
    @include large {
      float: none;
      position: relative;
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 32px;
      padding-right: 32px;
      z-index: $z-header-top;
      background-color: color(white);
      @include shadow(8);
      // -- premier site
      .#{$prefix}premier-site & {
        background-image: lg(premier-light, 'to-bottom');
      }
      // -- private site
      .#{$prefix}private-site & {
        background-image: linear-gradient(to top, color(private, 1), color(private, 2) 13%, color(private, 3));
      }
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  // --- logo
  &__logo {
    font-size: 0;
    padding: 16px 0;
    float: left;
    .#{$prefix}lnk {
      display: inline-block;
    }
    .#{$prefix}img {
      height: 40px;
    }
    @include large {
      padding: 12px 0;
      float: none;
      transition: all 0.25s ease;
      transition-delay: 250ms;
      .#{$prefix}search-form--show & {
        opacity: 0;
        transform: translateY(-4px);
        transition-delay: 150ms;
      }
    }
    @include retina {
      padding: 14px 0;
      .#{$prefix}img {
        height: 36px;
      }
    }
  }

  // --- burger-menu
  &__burger-menu {
    display: none;
    @include large {
      display: block;
      position: absolute;
      z-index: $z-header-burger-menu;
      top: 12px;
      right: 14px;
      transition: all 0.25s ease;
      transition-delay: 450ms;
      // --- ocbc-search-form--show
      .#{$prefix}search-form--show & {
        opacity: 0;
        transform: translateY(-4px);
        transition-delay: 0ms;
      }
    }
    @include small {
      right: 6px;
    }
  }

  // --- search-btn
  &__search-btn {
    position: absolute;
    z-index: $z-header-search-btn;
    top: 0;
    // temp: hide jadi nasabah;
    right: 440px;
    //right: 280px;
    // end temp: hide jadi nasabah;
    padding: 24px 0;
    font-size: 0;
    line-height: 1;
    transition: all 0.3s ease;
    transition-delay: 350ms;
    .#{$prefix}btn-icon {
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
        &:hover {
          color: color(gray, 1);
        }
      }
    }
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 200ms;
    }
    @include large {
      padding: 0;
      top: 12px;
      right: 200px;
      margin-right: 0;
      transition-delay: 300ms;
      .#{$prefix}search-form--show & {
        opacity: 0;
        transform: translateY(-4px);
        transition-delay: 100ms;
      }
      .#{$prefix}btn-icon {
        width: 40px;
        height: 40px;
      }
    }
    @include small {
      right: 130px;
    }
  }

  // --- login
  &__login {
    position: absolute;
    z-index: $z-header-login;
    top: 0;
    // temp: hide jadi nasabah;
    right: 155px;
    //right: 0;
    // end temp: hide jadi nasabah;
    padding: 22px 0;
    font-size: 0;
    line-height: 1;
    cursor: pointer;
    transition: all 0.25s ease;
    transition-delay: 500ms;
    -webkit-tap-highlight-color: transparent;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 50ms;
    }
    .#{$prefix}btn-icon-txt {
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
        &:hover {
          color: color(gray, 1);
          @include large {
            color: color(white);
          }
        }
      }
    }
    &.show-menu {
      .#{$prefix}header__log-lnk__wrapper {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
      }
      .#{$prefix}btn-icon-txt {
        color: color(primary, 1);
        // -- premier site
        .#{$prefix}premier-site &,
        // -- private site
        .#{$prefix}private-site & {
          color: color(gray, 1);
        }
        &__icon__img {
          &--default {
            opacity: 0;
          }
          &--hover {
            opacity: 1;
          }
        }
      }
      @include element(after) {
        transform: scaleX(1);
      }
    }
    @include element(after) {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 24px;
      left: 50%;
      margin-left: -12px;
      z-index: $z-header-login-after;
      background-color: color(primary, 1);
      transition: all 0.25s ease;
      transform: scaleX(0);
      transform-origin: center center;
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        background-color: color(gray, 1);
      }
      @include large {
        bottom: -12px;
      }
    }
    @include large {
      right: 80px;
      top: 12px;
      padding: 0;
      transition-delay: 350ms;
      .#{$prefix}search-form--show & {
        opacity: 0;
        transform: translateY(-4px);
        transition-delay: 50ms;
      }
      .#{$prefix}btn-icon-txt {
        width: 40px;
        height: 40px;
        padding: 8px 0;
        &__icon {
          margin-right: 0;
        }
        &__txt {
          display: none;
        }
      }
    }
    @include small {
      right: 45px;
    }
  }

  // --- region
  &__region {
    position: absolute;
    z-index: $z-header-login;
    top: 0;
    right: 305px;
    padding: 22px 0;
    font-size: 0;
    line-height: 1;
    cursor: pointer;
    transition: all 0.25s ease;
    transition-delay: 500ms;
    -webkit-tap-highlight-color: transparent;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 50ms;
    }
    .#{$prefix}btn-icon-txt {
      &__icon{
        margin:0 4px;
      }
      &__txt{
        width:0;
      }
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
        &:hover {
          color: color(gray, 1);
          @include large {
            color: color(white);
          }
        }
      }
    }

    &.show-menu {
      .#{$prefix}header__log-lnk__wrapper {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 0);
      }
      .#{$prefix}btn-icon-txt {
        color: color(primary, 1);
        // -- premier site
        .#{$prefix}premier-site &,
        // -- private site
        .#{$prefix}private-site & {
          color: color(gray, 1);
        }
        &__icon__img {
          &--default {
            opacity: 0;
          }
          &--hover {
            opacity: 1;
          }
        }
      }
      @include element(after) {
        transform: scaleX(1);
      }
    }
    @include element(after) {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      height: 2px;
      width: 24px;
      left: 50%;
      margin-left: -12px;
      z-index: $z-header-login-after;
      background-color: color(primary, 1);
      transition: all 0.25s ease;
      transform: scaleX(0);
      transform-origin: center center;
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        background-color: color(gray, 1);
      }
      @include large {
        bottom: -12px;
      }
    }
    @include large {
      right: 140px;
      top: 12px;
      padding: 0;
      transition-delay: 350ms;
      .#{$prefix}header__log-lnk__wrapper{
        left:45%;
      }
      .#{$prefix}search-form--show & {
        opacity: 0;
        transform: translateY(-4px);
        transition-delay: 50ms;
      }
      .#{$prefix}btn-icon-txt {
        width: 40px;
        height: 40px;
        padding: 6px 0;
        &__txt {
          display: none;
        }
      }
    }
    @include small {
      right: 85px;
    }
  }



  // --- login link
  &__log-lnk {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: color(white);
    @include shadow(8);
    &__a {
      white-space: nowrap;
      display: block;
      padding: 8px 24px;
      text-decoration: none;
      position: relative;
      @include font-size(label);
      transition: background-color .25s ease;
      &:hover {
        background-color: color(gray, 6);
        @include element(after){
          opacity: 0;
        }
      }
      @include element(after){
        content: "";
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: -1px;
        border-bottom: solid 1px color(gray, 7);
        transition: opacity .25s ease;
      }
      &:last-child {
        @include element(after){
          content: none;
          display: none;
        }
      }
    }
    &__wrapper {
      position: absolute;
      top: 68px;
      padding-top: 8px;
      left: 50%;
      transform: translate(-50%, 4px);
      transition: all .3s ease;
      visibility: hidden;
      opacity: 0;
      // temp: hide jadi nasabah;
      @include mq(1366px) {
        left: 35%;
      }
      @include mq(1280px) {
        left: -25%;
      }
      // end temp: hide jadi nasabah;
      @include large {
        left: -45%;
        padding-top: 0;
        top: 56px;
      }
    }
  }

  // --- side-menu
  &__side-menu {
    float: left;
    &__bg {
      display: none;
    }
    @include large {
      position: fixed;
      z-index: $z-header-side-menu;
      top: 64px;
      right: 0;
      bottom: 0;
      left: 0;
      padding-right: 0;
      background-color: rgba(color(black), 0.8);
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease;
      transition-delay: 0.75s;
      &__bg {
        display: block;
        width: 272px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: color(white);
        transform: scaleX(0);
        transform-origin: center right;
        transition: all 0.5s ease;
        transition-delay: 0.35s;
        z-index: $z-header-side-menu-bg;
        @include shadow(8);
      }
      &__scrollover {
        position: absolute;
        z-index: $z-header-side-menu-scrollover;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 272px;
        padding: 24px 16px;
        opacity: 0;
        transition: all 0.5s ease;
        transition-delay: 0s;
        transform: translateX(16px);
        @include scroll(y, touch, hide);
      }
      // show-navigation
      .#{$prefix}show-navigation & {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
        &__bg {
          transform: scaleX(1);
          transition-delay: 0.2s;
        }
        &__scrollover {
          opacity: 1;
          transition-delay: 0.55s;
          transform: translateX(0);
        }
      }
    }
  }

  // --- register
  &__register {
    // temp: hide jadi nasabah;
    //display: none; dimunculin
    // end temp: hide jadi nasabah;
    position: absolute;
    z-index: $z-header-register;
    top: 0;
    right: 0;
    padding: 16px 0;
    transition: all 0.25s ease;
    transition-delay: 550ms;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 0ms;
    }
    @include large {
      position: static;
      padding: 0;
      margin-bottom: 32px;
      transition: none;
      transition-delay: none;
      .#{$prefix}search-form--show & {
        opacity: initial;
        visibility: initial;
        transform: none;
        transition-delay: none;
      }
      .#{$prefix}btn {
        width: 100%;
      }
    }
  }

  // --- lang
  &__lang {
    position: absolute;
    z-index: $z-header-lang;
    top: 0;
    // temp: hide jadi nasabah;
    right: 364px;
    //right: 195px;
    // end temp: hide jadi nasabah;
    padding: 24px 0;
    font-size: 0;
    line-height: 1;
    transition: all 0.25s ease;
    transition-delay: 400ms;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 150ms;
    }
    @include large {
      position: static;
      padding: 0 8px 0 6px;
      margin-bottom: 16px;
      transition: none;
      transition-delay: none;
      .#{$prefix}search-form--show & {
        opacity: initial;
        visibility: initial;
        transform: none;
        transition-delay: none;
      }
    }
  }

  // --- nav
  .#{$prefix}nav {
    transition: all 0.25s ease;
    transition-delay: 300ms;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 250ms;
    }
    @include large {
      padding: 0;
      transition: none;
      transition-delay: none;
      .#{$prefix}search-form--show & {
        opacity: initial;
        visibility: initial;
        transform: none;
        transition-delay: none;
      }
    }
  }

  // --- mega-menu
  &__mega-menu {
    $mm: &;
    position: fixed;
    left: 0;
    top: 72px;
    right: 0;
    z-index: $z-header-mega-menu;
    @include scroll(y, touch, show);
    visibility: hidden;
    @include element(after) {
      content: "";
      background: color(white);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: $z-header-mega-menu-after;
      box-shadow: inset 0 8px 10px 1px rgba(#000, 0.05), inset 0 3px 14px 3px rgba(#000, 0.05), inset 0 4px 5px 0 rgba(#000, 0.05);
      transform: scaleY(0);
      transform-origin: top center;
      transition: transform 0.35s ease 0.15s;
      .#{$prefix}mega-menu--show & {
        transform: none;
        transition: transform 0.35s ease 0s;
      }
    }
    @include large {
      position: static;
      max-height: initial;
      height: auto;
      visibility: visible;
      opacity: 1;
      overflow-y: initial;
      overflow-x: initial;
      padding-left: 8px;
      padding-bottom: 4px;
      display: none;
      @include element(after) {
        content: none;
      }
    }
    &__home-lnk {
      display: none;
      $hl: &;
      @include large {
        display: block;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 4px;
        border-bottom: solid 1px color(gray, 6);
        font-size: fz(small, mobile);
        line-height: lh(small, mobile);
        opacity: 0;
        transform: translateX(8px);
        transition: all 0.4s ease;
        .#{$prefix}lnk {
          text-decoration: none;
          padding: 4px 8px;
          color: color(gray, 1);
        }
        .#{$prefix}mega-menu-accordion-lvl-1--expand & {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    &__wrapper {
      height: 100%;
      @include large {
        height: auto;
      }
    }
    .#{$prefix}container {
      height: 100%;
      @include large {
        height: auto;
        padding: 0;
      }
    }
    &__wrapper {
      @include large {
        opacity: 0;
        transform: translateX(8px);
        transition: all 0.4s ease;
        .#{$prefix}mega-menu-accordion-lvl-1--expand & {
          opacity: 1;
          transform: none;
        }
      }
    }
    .#{$prefix}mega-menu {
      &__col,
      &__widget-btn__item {
        opacity: 0;
        transform: translateY(8px);
        visibility: hidden;
        transition: none;
        @include large {
          opacity: 1;
          transform: none;
          visibility: visible;
        }
      }
    }
  }

  // --- contact-us
  &__contact-us {
    position: absolute;
    z-index: $z-header-contact-us;
    top: 0;
    // temp: hide jadi nasabah;
    right: 255px;
    //right: 100px;
    // end temp: hide jadi nasabah;
    padding: 24px 0;
    font-size: 0;
    line-height: 1;
    transition: all 0.25s ease;
    transition-delay: 450ms;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 0;
      visibility: hidden;
      transform: translateX(-8px);
      transition-delay: 100ms;
    }
    .#{$prefix}btn-icon-txt {
      &__icon {
        margin-right: 0;
      }
      &__txt {
        display: none;
      }
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
        &:hover {
          color: color(gray, 1);
        }
      }
    }
    @include large {
      position: static;
      padding-top: 12px;
      padding-bottom: 4px;
      border-bottom: solid 1px color(gray, 6);
      transition: none;
      transition-delay: none;
      .#{$prefix}search-form--show & {
        opacity: initial;
        visibility: initial;
        transform: none;
        transition-delay: none;
      }
      .#{$prefix}btn-icon-txt {
        padding: 4px 8px;
        color: color(gray, 1);
        @include remove-tap-highlight;
        &__icon {
          display: none;
        }
        &__txt {
          display: inline-block;
        }
        // -- premier site
        .#{$prefix}premier-site .#{$prefix}header &,
        // -- private site
        .#{$prefix}private-site .#{$prefix}header & {
          color: color(gray, 1);
        }
      }
    }
  }

  // --- search
  &__search {
    position: absolute;
    z-index: $z-header-search;
    top: 0;
    padding-top: 16px;
    left: 339px;
    width: 616px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease;
    transition-delay: 250ms;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 1;
      visibility: visible;
    }
    @include large {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding-top: 0;
      padding: 0 16px;
    }
  }
}
