/* ==========================================================================
   OCBC Layouts: Card Board of Directors
   ========================================================================== */

.#{$prefix}card-bod {
  $cb: &;

  &__item {
    margin-bottom: 72px;

    &:nth-child(2n + 1) {
      clear: both;
    }

    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }

    @include large {
      margin-bottom: 64px;
    }

    @include medium {
      margin-bottom: 56px;

      &:nth-child(2n + 1) {
        clear: initlal;
      }

      &:nth-last-child(2) {
        margin-bottom: 56px;
      }
    }

    @include retina {
      margin-bottom: 40px;

      &:nth-last-child(2) {
        margin-bottom: 40px;
      }
    }
  }
}
