/* ==========================================================================
   OCBC Layout: Tabs Controll
   ========================================================================== */

.#{$prefix}one-mobile-scroll {
  $obs: &;
  &__section {
    width: 100%;
    min-height: 656px;
    max-height: 1100px;
    position: relative;
    &:nth-child(1) {
      #{$obs}__phone {
        display: block;
      }
    }
    @include medium {
      padding: 56px 0;
      &:first-child {
        #{$obs}__phone {
          &__img {
            display: none;
            &:first-child {
              display: block;
            }
          }
        }
      }
      &:nth-child(2) {
        #{$obs}__phone {
          &__circle{
            &__item {
              &:nth-child(1) {
                width: 116px;
                height: 116px;
                left: -126px;
                top: 66px;
              }
              &:nth-child(2) {
                width: 180px;
                height: 180px;
                left: -64px;
                top: 242px;
              }
              &:nth-child(3) {
                width: 96px;
                height: 96px;
                left: 168px;
                top: 32px;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        #{$obs}__phone {
          &__circle{
            &__item {
              &:nth-child(1) {
                width: 192px;
                height: 192px;
                left: -142px;
                top: 152px;
              }
              &:nth-child(2) {
                width: 60px;
                height: 60px;
                left: 172px;
                top: 336px;
              }
              &:nth-child(3) {
                width: 134px;
                height: 134px;
                left: 132px;
                top: 24px;
              }
            }
          }
        }
      }
    }
    @include small {
      padding: 48px 0;
    }
  }
  &__phone {
    display: none;
    position: fixed;
    top: 55%;
    margin-left: 172px;
    transform: translateY(-50%);
    @include large {
      margin-left: 120px;
    }
    @include medium {
      width: 190px;
      height: 394px;
      position: relative;
      display: block;
      margin-left: 0;
      transform: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
      transition: all 1.5s ease 0.5s;
      .#{$prefix}site-content--hide & {
        opacity: 0;
        transform: translateY(24px);
      }
    }
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      padding: 8px;
      &-wrapper {
        position: absolute;
        width: 262px;
        height: 546px;
        border-radius: 32px;
        background-color: color(white);
        overflow: hidden;
        z-index: $z-mobile-scroll-phone-img;
        top: 0;
        left: 0;
        @include medium {
          width: 190px;
          height: 394px;
        }
      }
    }
    &__frame {
      position: relative;
      z-index: $z-mobile-scroll-phone-frame;
      width: 262px;
      height: 546px;
      border-radius: 32px;
      background-color: color(white);
      box-shadow: 7px 18px 43px 0 rgba(color(black), 0.08);
      @include medium {
        width: 190px;
        height: 394px;
      }
    }
    &__circle {
      position: absolute;
      top: 0;
      width: 262px;
      height: 546px;
      z-index: $z-mobile-scroll-phone-circle;
      &__item {
        position: absolute;
        border-radius: 50%;
        background-color: color(gray, 6);
        &:nth-child(1) {
          width: 232px;
          height: 232px;
          top: -20px;
          left: -78px;
          background-image: lg(primary);
          @include medium {
            width: 168px;
            height: 168px;
            left: -56px;
            top: 0;
          }
        }
        &:nth-child(2) {
          width: 72px;
          height: 72px;
          top: 362px;
          left: -172px;
          @include medium {
            width: 52px;
            height: 52px;
            left: -74px;
            top: 276px;
          }
        }
        &:nth-child(3) {
          width: 162px;
          height: 162px;
          top: 272px;
          left: 172px;
          @include medium {
            width: 116px;
            height: 116px;
            left: 122px;
            top: 210px;
          }
        }
      }
    }
  }
  .#{$prefix}container,
  .#{$prefix}row,
  .#{$prefix}col-xl-12 {
    height: 100%;
  }
  &__content {
    height: 100%;
    position: relative;
  }
  &__txt {
    position: absolute;
    top: 50%;
    max-width: 496px;
    left: 49%;
    transform: translateY(-50%);
    @include large {
      padding-right: 48px;
    }
    @include medium {
      position: static;
      transform: none;
      padding-left: 32px;
      padding-right: 32px;
      transition: all 1.5s ease 1s;
      .#{$prefix}site-content--hide & {
        opacity: 0;
        transform: translateY(24px);
      }
    }
    @include small {
      padding-left: 24px;
      padding-right: 24px;
    }
    @include retina {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
    &__primary {
      color: color(primary, 1);
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
  }
}
