/* ==========================================================================
   OCBC Layouts: Auction Infos
   ========================================================================== */

.#{$prefix}card-auction-info {
  padding: 32px 0 64px;
  &__item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__title {
    @include font-size(h4);
    margin-bottom: 12px;
  }
  // -- detail
  &--detail{
    padding: 60px 0 48px;
  }
  @include small {
    padding: 24px 0;
    &__item {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 16px;
    }
    // -- detail
    &--detail{
      padding: 48px 0;
    }
  }
}
