/* ==========================================================================
   OCBC Layouts: Schedule
   ========================================================================== */

.#{$prefix}schedule {
  $s: &;
  &__container {
    padding: 32px 0;
    @include small {
      padding: 24px 0;
    }
  }
  &--dates-schedule {
    padding-bottom: 0;
    @include small {
      padding-top: 16px;
    }
    #{$s}__item {
      &:last-child {
        #{$s}__content-wrapper {
          padding-bottom: 0;
        }
        #{$s}__desc {
          margin-bottom: 0;
        }
      }
    }
  }
}
