/* ==========================================================================
   OCBC Layout: Table Result
   ========================================================================== */

.#{$prefix}table-result {
  padding-top: 48px;
  padding-bottom: 32px;

  @include small {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  &__title {
    @include font-size(h3);
    color: color(gray, 1);
    margin-bottom: 16px;
  }

  &--no-calc {
    padding-top: 120px;

    @include small {
      padding-top: 104px;
    }
  }

  &--share {
    padding-top: 0;
  }

  &__content {
    max-width: 912px;
  }

  &__head {
    display: table;
    width: 100%;
    margin-bottom: 32px;

    &__left,
    &__right {
      display: table-cell;
      vertical-align: middle;
    }

    &__right {
      text-align: right;
    }
  }

  &__title {
    @include font-size(h3);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  &__body {
    .#{$prefix}tbl-calc {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
