/* ==========================================================================
   OCBC Layouts: Card Article
   ========================================================================== */

.#{$prefix}card-article {
  position: relative;
  padding: 32px 0 20px;

  &-container {
    padding: 32px 0;

    &--gray {
      background-color: color(gray, 6);
    }
  }

  &--more-pb {
    padding-bottom: 52px;
  }

  &--is-more-pt {
    padding-top: 64px;
  }

  &--is-more-pb {
    padding-bottom: 52px;
  }

  @include medium {
    padding: 28px 0;

    &-container {
      padding: 28px 0;
    }

    &--more-pb {
      padding-bottom: 44px;
    }

    &--is-more-pt {
      padding-top: 56px;
    }

    &--is-more-pb {
      padding-bottom: 44px;
    }
  }

  @include small {
    padding: 24px 0;

    &-container {
      padding: 24px 0;
    }

    &--is-more-pt {
      padding-top: 48px;
      padding-bottom: 0;
    }

    &--more-pb {
      padding-bottom: 48px;
    }

    &--is-more-pb {
      padding-bottom: 24px;
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 12px;
    color: color(gray, 1);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }

    @include small {
      margin-bottom: 16px;
    }
  }

  &__item {
    padding-top: 12px;
    padding-bottom: 12px;

    @include small {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__more {
    position: absolute;
    top: 2px;
    right: 12px;

    @include small {
      position: static;
      margin: 24px 0;
    }
  }

  &__sort {
    text-align: right;
    margin-bottom: 12px;

    @include small {
      margin-bottom: 24px;
    }
  }
}
