/* ==========================================================================
   OCBC Layout: Promo Banner
   ========================================================================== */

@mixin promo-banner-show($pb) {
  #{$pb}__label,
  #{$pb}__title,
  #{$pb}__desc,
  .#{$prefix}btn-txt-lnk {
    opacity: 1;
    transform: translateX(0);
  }
  #{$pb}__label {
    transition-delay: 0.65s;
  }
  #{$pb}__title {
    transition-delay: 0.8s;
  }
  #{$pb}__desc {
    transition-delay: 0.95s;
  }
  .#{$prefix}btn-txt-lnk {
    transition: opacity 0.75s ease 1.1s, transform 0.75s ease 1.1s,
      color 0.3s ease 0s;
  }
}

//  --- start promo banner
.#{$prefix}promo-banner {
  $pb: &;
  overflow: hidden;
  position: relative;
  // --- override owl carousel
  .owl-item {
    &.active {
      @include promo-banner-show($pb);
    }
  }
  // --- owl-nav
  @include carousel-nav-red('relative');
  &.owl-carousel {
    .owl-nav {
      z-index: $z-banner-nav;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 64px;
      margin: 0 auto;
      height: 48px;
      font-size: 0;
      line-height: 1;
      padding: 0 12px;
      max-width: $container-max-width;
      opacity: 0;
      transform: translateX(8px);
      animation: .75s ease 1.3s normal forwards 1 show-nav;
      @include mq(1272px) {
        padding: 0 32px;
      }
      @include small {
        display: none;
      }
    }
    button.owl-prev,
    button.owl-next {
      position: static;
    }
    button.owl-prev{
      margin-right: 32px;
    }
  }
  /*
  // --- owl-dots
  .owl-dots {
    position: absolute;
    bottom: 36px;
    width: 100%;
    height: auto;
    z-index: $z-banner-dots;
    font-size: 0;
    line-height: 1;
    text-align: center;
    .owl-dot {
      margin: 0 8px;
      padding: 0;
      // --- clickable area
      width: 16px;
      height: 16px;
      // --- /clickable area
      border: 0;
      outline: 0;
      display: inline-block;
      vertical-align: middle;
      border-radius: 8px;
      @include remove-tap-highlight;
      transition: width 0.35s ease;
      // --- indicator
      span {
        display: block;
        width: 8px;
        height: 8px;
        margin: 0 auto;
        border-radius: 4px;
        background-color: color(gray, 1);
        transition: all 0.35s ease;
      }
      // --- /indicator
      &:hover:not(.active) {
        span {
          background-color: color(primary, 1);
        }
      }
      &.active {
        width: 60px;
        cursor: default;
        span {
          width: 52px;
        }
      }
    }
    @include small {
      bottom: 9px;
      .owl-dot {
        // --- clickable area
        width: 12px;
        height: 12px;
        // --- /clickable area
        border-radius: 6px;
        margin: 0 1px;
        span {
          // --- indicator
          width: 6px;
          height: 6px;
          // --- /indicator
          border-radius: 3px;
        }
        &.active {
          width: 46px;
          span {
            width: 40px;
          }
        }
      }
    }
  }
  */
  // --- /override owl carousel

  // --show
  &--show {
    @include promo-banner-show($pb);
  }
}


@keyframes show-nav {
  from {
    opacity: 0;
    transform: translateX(8px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
