/* ==========================================================================
   OCBC Layout: Announcement
   ========================================================================== */

.#{$prefix}announcement {
  $a: &;
  padding: 48px 0 32px;
  @include medium {
    padding: 40px 0 24px;
  }
  &__title{
    @include font-size(h4);
    font-weight: fw(regular);
    margin-bottom: 16px;
    color: color(gray, 1);
  }
  &__section {
    margin-bottom: 48px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title{
      @include font-size(body);
      margin-bottom: 16px;
      color: color(gray, 2);
    }
    @include small {
      margin-bottom: 32px;
    }
    .#{$prefix}vertical-tab__page & {
      margin-bottom: 48px;
      @include small {
        margin-bottom: 40px;
      }
    }
  }
  &__item {
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
