/* ==========================================================================
   OCBC Layout: Press Conference
   ========================================================================== */

.#{$prefix}press-conference {
  padding: 64px 0 32px;
  @include medium {
    padding: 40px 0 24px;
  }
  &__filter {
    @include small {
      margin-bottom: 24px;
    }
  }
  &__list {
    @include large {
      padding-left: 36px;
    }
    @include medium {
      padding-left: 44px;
    }
    @include small {
      padding-left: 8px;
    }
  }
  &__wrapper {
    @include small {
      position: relative;
      .#{$prefix}card-article__sort {
        position: absolute;
        top: -48px;
        left: 92px;
        margin-bottom: 0;
      }
    }
    .#{$prefix}card {
      &__box {
        height: 360px;
        @include large {
          height: 352px;
        }
        @include small {
          height: 343px;
        }
      }
    }
  }
  &__pagination{
    margin-top: 44px;
    @include small {
      margin-top: 32px;
    }
  }
}
