/* ==========================================================================
   OCBC Layout: Basic Page
   ========================================================================== */

.#{$prefix}basic-page {
  $bp: &;
  padding: 136px 0 64px;

  @include medium {
    padding: 120px 0 56px;
  }

  @include small {
    padding: 112px 0 48px;
  }

  &__content {
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
  }

  &__head {
    margin-bottom: 40px;
  }

  &__body {
    .#{$prefix}call-fragments-container {
      padding-top: 0;

      .#{$prefix}container {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__item {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
      .#{$prefix}lnk,
      a {
        text-decoration: none;
        transition: color .25s ease;
        &:hover {
          text-decoration: underline;
          color: color(primary, 1);
        }
      }
    }

  }

  &__title {
    @include font-size(h2);
    font-size: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;

    @include small {
      margin-bottom: 8px;
    }

    &-list {
      @include font-size(body);
      color: color(gray, 2);
      margin-top: 16px;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    @include font-size(h3);
    font-size: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
  }

  &__desc {
    display: inline-block;
    @include font-size(body);
    margin-bottom: 24px;
    color: color(gray, 2);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    margin-bottom: 24px;
    padding-left: 18px;

    &:last-child {
      margin-bottom: 0;
    }

    &__item {
      @include font-size(body);
      padding-left: 4px;
      margin-bottom: 16px;
      color: color(gray, 2);

      &:last-child {
        margin-bottom: 0;
      }

      #{$bp}__list {
        margin: 8PX 0;
        padding-left: 20px;

        &__item {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  ol#{$bp}__list {
    list-style: decimal;
  }

  ul#{$bp}__list {
    list-style-type: disc;
  }

  &__table {
    &__desc {
      @include font-size(body);
      color: color(gray, 2);
      margin-top: 16px;
      margin-bottom: 0;
    }

    &__item {
      margin-bottom: 64px;

      &:last-child {
        margin-bottom: 0;
      }

      @include medium {
        margin-bottom: 56px;
      }

      @include small {
        margin-bottom: 48px;
      }
    }
  }

  &__chart {
    padding: 32px 0 64px;
    &__legend {
      margin-bottom: 40px;

      @include small {
        margin-bottom: 24px;
      }

      &__img {
        &-d {
          display: block;
          height: 24px;
          width: auto;

          @include small {
            display: none;
          }
        }

        &-m {
          display: none;

          @include small {
            display: block;
            max-height: 56px;
            width: auto;
          }
        }
      }
    }
    &__diagram {
      &__img {
        display: block;
      }
      @include small {
        @include scroll("x", "touch", "show");
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 8px;
        &__img {
          max-width: initial;
          max-height: 192px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
    @include medium {
      padding: 24px 0 56px;
    }
    @include small {
      padding: 24px 0 48px;
    }
  }

  .#{$prefix}contact-channel__list {
    margin-bottom: 64px;
    @include medium {
      margin-bottom: 56px;
    }
    @include small {
      margin-bottom: 48px;
    }
  }

  // -- modifier
  &--v-tab {
    padding-top: 104px;
    padding-bottom: 0;

    #{$bp}__content {
      max-width: initial;
    }

    @include medium {
      padding-top: 88px;
      padding-bottom: 56px;
    }

    @include small {
      padding-top: 72px;
      padding-bottom: 48px;
    }
  }

  &--sitemap {
    padding-top: 112px;
    padding-bottom: 64px;
    #{$bp}__content {
      max-width: initial;
    }
    @include small {
      padding-top: 88px;
      padding-bottom: 48px;
    }
  }
}
