/* ==========================================================================
   OCBC Layouts: Table Striped
   ========================================================================== */

.#{$prefix}tbl-striped {
  $ts: &;

  &-container {
    #{$ts}__wrapper {
      margin-top: 16px;
    }
  }

  &__item {
    margin-bottom: 48px;
    &:last-child  {
      margin-bottom: 0;
    }
    @include retina {
      margin-bottom: 40px;
    }
  }
}
