/* ==========================================================================
   OCBC Layout: Regular Content
   ========================================================================== */

.#{$prefix}reg-content {
  $rc: &;
  padding: 64px 0 32px;
  @include medium {
    padding: 56px 0 24px;
  }
  @include small {
    padding: 40px 0 24px;
  }
  &__body {
    &__item {
      margin-bottom: 48px;
      &:last-child {
         margin-bottom: 0;
      }
      @include small {
        margin-bottom: 40px;
      }
    }
  }
  &__max-w {
    max-width: 808px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title{
    @include font-size(body);
    font-weight: fw(bold);
    margin-bottom: 16px;
    color: color(gray, 1);
  }
  &__desc {
    @include font-size(body);
    margin-bottom: 24px;
    color: color(gray, 2);
    &:last-child {
       margin-bottom: 0;
    }
  }
  &__list {
    $l: &;
    margin-bottom: 24px;
    padding-left: 18px;
    &:last-child {
       margin-bottom: 0;
    }
    &__item {
      @include font-size(body);
      padding-left: 4px;
      color: color(gray, 2);
      margin-bottom: 8px;
      &:last-child {
         margin-bottom: 0;
      }
      #{$rc}__list {
        padding-left: 20px;
        &__item {
          padding-left: 0;
          margin-bottom: 0;
        }
      }
    }
    &--item-mbm {
      #{$l}__item {
        margin-bottom: 24px;
        &:last-child {
           margin-bottom: 0;
        }
      }
    }
  }
  ol#{$rc}__list {
    list-style: decimal;
  }
  ul#{$rc}__list {
    list-style-type: disc;
  }
}
