/* ==========================================================================
   OCBC Layout: Site Content
   ========================================================================== */

.#{$prefix}site-content {
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  &--hide {
    opacity: 0;
  }
  .#{$prefix}popup-bod-show & {
    transform: scale(0.95) translateY(-80px);
    transition: all 0.45s ease;
    transition-delay: 0s;
  }  
  .#{$prefix}popup-file-report-show & {
    transform: scale(0.95) translateY(-80px);
    transition: all 0.45s ease;
    transition-delay: 0s;
  }
}
