/* ==========================================================================
   OCBC Layout: Success State
   ========================================================================== */

.#{$prefix}success {
  display: table;
  padding: 64px 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  table-layout: fixed;
  @include bg-image(cover, right top, no-repeat);
  // --- firefox
  @include firefox-browser {
    height: 100vh;
  }
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
    transition: all 2.5s ease 0s;

    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: scale(1.15);
    }
  }

  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, left top);

    &--m {
      display: none;
    }

    @include small {
      background-position: center bottom;

      &--d {
        display: none;
      }

      &--m {
        display: block;
      }
    }
  }

  &__v-align {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    z-index: $z-banner-txt;
  }

  @include small {
    display: block;
    padding: 56px 8px 48px;

    &__v-align {
      display: block;
    }

    &__container {
      min-height: initial;
      margin-top: 0;
    }
  }

  &__icon{
    display: block;
    &-wrapper {
      width: 56px;
      height: 56px;
      margin-bottom: 16px;
      transition: all 0.75s cubic-bezier(.53,.52,.31,1.46) 1s;
      .#{$prefix}site-content--hide & {
        transform: scale(0);
      }
      @include small {
        margin-bottom: 24px;
      }
      @include retina {
        width: 48px;
        height: 48px;
        margin-bottom: 16px;
      }
    }
  }

  &__sub {
    @include font-size(h2);
    font-weight: fw(regular);
    margin-bottom: 8px;
    transition: all 1s ease 1s;

    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
  }

  &__desc {
    color: color(gray, 2);
    margin-bottom: 32px;
    transition: all 1s ease 1.25s;

    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
  }

  &__btn-wrapper {
    transition: all 1s ease 1.5s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
  }

  .#{$prefix}btn {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    @include small {
      margin-right: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
