/* ==========================================================================
   OCBC Layout: How To
   ========================================================================== */

//  --- how to
.#{$prefix}how-to {
  $ht: &;

  &__content {
    min-height: 800px;
    position: relative;

    @include medium {
      min-height: initial;
      margin-left: -32px;
      margin-right: -32px;
    }

    @include small {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  // --- step
  &__step {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .6s ease-in;
    z-index: $z-how-to-step;
    max-width: 392px;

    @include medium {
      .#{$prefix}feature--digital-channel & {
        max-width: initial;
        width: 100%;
      }
    }

    .#{$prefix}select {
      &__text {
        color: color(white);
        border-color: color(white)
      }
    }

    &__title {
      @include font-size(h2);
      font-weight: fw(bold);
      margin-bottom: 24px;
      color: color(white);
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      counter-reset: step;
    }

    &__item {
      @include font-size(h4);
      font-weight: fw(regular);
      position: relative;
      cursor: pointer;
      min-height: 68px;
      padding-left: 56px;
      padding-top: 2px;
      margin-bottom: 28px;
      color: rgba(color(white), .7);
      transition: all .3s ease;
      @include remove-tap-highlight;

      @include element(before) {
        position: absolute;
        left: 0;
        top: 0;
        @include font-size(h4);
        font-weight: fw(bold);
        color: color(primary, 1);
        counter-increment: step;
        content: counter(step);
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        padding: 4px 0;
        border-radius: 50%;
        background-color: color(white);
      }

      @include element(after) {
        content: '';
        position: absolute;
        top: 48px;
        bottom: -20px;
        left: 20px;
        border-right: solid 1px color(white);
      }

      &:last-child {
        margin-bottom: 0;
        min-height: initial;

        @include element(after) {
          content: none;
          display: none;
        }
      }

      &:hover {
        color: color(white);
      }

      &--active {
        font-weight: fw(bold);
        color: color(white);
      }
    }

    @include large {
      max-width: 340px;
    }

    @include medium {
      max-width: 100%;
      top: 48px;
      transform: none;
      padding-left: 32px;
      padding-right: 32px;

      &__title {
        margin-bottom: 0;
      }

      &__list {
        display: none;
      }
    }

    @include small {
      padding-left: 16px;
      padding-right: 16px;

      &__title {
        @include font-size(h2, mobile);
        margin-bottom: 16px;
      }
    }
  }

  &__filter {
    max-width: 392px;

    @include large {
      max-width: 340px;
    }

    @include medium {
      margin-top: 16px;
      max-width: initial;
    }

    @include small {
      margin-top: 0;
    }

    .#{$prefix}filter-card__wrapper {
      min-width: initial;
      width: 100%;
      max-width: 392px;

      @include medium {
        max-width: initial;
      }
    }

    .#{$prefix}filter-card {
      .#{$prefix}select__list {
        width: 100%;
      }
    }
  }

  // --- sub filter
  &__sub-filter {
    padding-top: 48px;

    @include medium {
      padding-top: 24px;
    }

    &__pane {
      display: none;

      &--active {
        display: block;
      }
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;

      @include medium {
        margin-left: -32px;
        margin-right: -32px;
        padding-left: 32px;
        padding-right: 32px;
        @include scroll("x", "touch", "hide");
      }

      @include small {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
      }
    }

    &__item {
      @include font-size(h4);
      font-weight: fw(regular);
      transition: all .2s ease-out;
      color: rgba(color(white), .7);
      cursor: pointer;
      margin-bottom: 24px;
      @include remove-tap-highlight;

      &--active,
      &:hover {
        color: color(white);
      }

      &--active {
        font-weight: fw(bold);
      }

      @include medium {
        margin-bottom: 0;
        display: inline-block;
        margin-right: 24px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  // --- frame
  &__frame {
    &-wrapper {
      width: 272px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 36px;
      overflow: hidden;
      @include shadow(16);
      z-index: $z-how-to-frame;

      .#{$prefix}feature--digital-channel & {
        border-radius: 34px;
      }

      // Desktop App
      .#{$prefix}feature--desktop & {
        width: 400px;
        border-radius: 0;
        box-shadow: none;
        margin-top: 30px;
      }

      @include large {
        width: 240px;

        // Desktop App
        .#{$prefix}feature--desktop & {
          width: 280px;
          margin-top: 21px;
        }
      }

      @include medium {
        display: none;
      }
    }
  }

  &__carousel {
    position: relative;
    z-index: $z-how-to-carousel;

    @include medium {
      .owl-stage {
        .#{$prefix}feature--hold-transition & {
          transition: none !important;
        }
      }

      .owl-item {
        padding-left: 32px;
        padding-right: 32px;
      }
    }

    @include small {
      .owl-item {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  // --- overidde
  .owl-carousel {
    .owl-item {
      .#{$prefix}how-to {

        &__screen,
        &__label,
        &__title,
        &__desc,
        &__risk,
        &__next {
          transform-origin: left center;
          opacity: 0;
          transition: all .5s cubic-bezier(.15, .41, .52, .97);
          transition-delay: 0s;
        }

        &__screen {
          transform: translateX(-8px);

          // Desktop App
          .#{$prefix}feature--desktop & {
            transform: translateY(4px);
          }

          @include medium {
            transform: none;
            opacity: 1;
            transition: none;

            // Desktop App
            .#{$prefix}feature--desktop & {
              transform: none;
            }

          }

        }

        &__label,
        &__title,
        &__desc,
        &__risk,
        &__next {
          transform: translateX(-16px);
        }

        &__risk {
          &__circle {
            transform: scale(0);
            transition: all .3s cubic-bezier(.15, .41, .52, .97);
            transition-delay: 0s;
          }
        }
      }

      &.active {
        .#{$prefix}how-to {

          &__screen,
          &__label,
          &__title,
          &__desc,
          &__risk,
          &__next {
            transform: translateX(0);
            opacity: 1;
          }

          &__screen {
            transition-delay: .1s;
            @include medium {
              transition-delay: 0s;
            }
          }

          &__label {
            transition-delay: .2s;
          }

          &__title {
            transition-delay: .3s;
          }

          &__desc,
          &__risk {
            transition-delay: .4s;
          }

          &__next {
            transition-delay: .5s;
          }

          &__risk {
            &__circle {
              transform: scale(1);

              &:nth-child(1) {
                transition-delay: .6s;
              }

              &:nth-child(2) {
                transition-delay: .64s;
              }

              &:nth-child(3) {
                transition-delay: .68s;
              }

              &:nth-child(4) {
                transition-delay: .72s;
              }
            }
          }
        }

        ~.owl-item {
          .#{$prefix}how-to {
            &__screen {
              transform: translateX(8px);

              // Desktop App
              .#{$prefix}feature--desktop & {
                transform: translateY(4px);
              }
              @include medium {
                transform: none;
                // Desktop App
                .#{$prefix}feature--desktop & {
                  transform: none;
                }
              }
            }

            &__label,
            &__title,
            &__desc,
            &__risk,
            &__next {
              transform: translateX(16px);
            }
          }
        }
      }
    }

    .owl-dots {
      display: none;
    }

    @include medium {
      .owl-dots {
        display: block;
        position: absolute;
        font-size: 0;
        line-height: 1;
        bottom: 44px;
        left: 0;
        width: 100%;
        z-index: $z-how-to-dots;
        text-align: center;

        .owl-dot {
          display: inline-block;
          padding: 4px !important;
          margin: 0 8px;

          span {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: color(gray, 5);
            transition: all 0.35s ease;
          }

          &.active {
            span {
              width: 52px;
              background-image: lg(primary);
            }
          }
        }
      }
    }
  }

  // --- /overidde

}
