/* ==========================================================================
   OCBC Layout: Error State
   ========================================================================== */

.#{$prefix}err {
  display: table;
  padding: 64px 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  table-layout: fixed;
  @include bg-image(cover, right top, no-repeat);
  @include firefox-browser {
    height: 100vh;
  }
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
    transition: all 2.5s ease 0s;

    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: scale(1.15);
    }
  }

  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, right top);

    &--m {
      display: none;
    }

    @include small {
      background-position: center bottom;

      &--d {
        display: none;
      }

      &--m {
        display: block;
      }
    }
  }

  &__v-align {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    z-index: $z-banner-txt;
  }

  &__container {
    margin-top: 124px; // 226 - 102 (padding-top - padding-bottom)
    min-height: 472px;
  }

  @include small {
    display: block;
    padding: 56px 8px 48px;

    &__v-align {
      display: block;
    }

    &__container {
      min-height: initial;
      margin-top: 0;
    }
  }

  &-top {
    transition: all 1.5s ease 0.75s;

    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
  }

  .#{$prefix}card--rec-container {
    margin-top: 96px;

    transition: all 1.5s ease 1s;

    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }

    @include small {
      margin-top: 40px;
    }
  }

  &__hero {
    // desktop karena di mobile masih sama ukurannya
    @include font-size(hero, desktop);
    color: color(gray, 2);
    margin-bottom: 8px;
  }

  &__sub {
    @include font-size(h2);
    font-weight: fw(regular);
    margin-bottom: 8px;

    @include small {
      margin-bottom: 16px;
    }
  }

  &__desc {
    color: color(gray, 2);
    margin-bottom: 32px;

    @include small {
      margin-bottom: 16px;
    }
  }

  .#{$prefix}btn {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    @include small {
      margin-right: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
