/* ==========================================================================
   OCBC Layout: Management Structure
   ========================================================================== */

.#{$prefix}management-structure {
  padding: 48px 0 32px;
  @include small {
    padding: 40px 0 24px;
  }
  .#{$prefix}vertical-tab__page {
    padding: 0;
  }
  &__title{
    font-weight: fw(regular);
    margin-bottom: 40px;
    @include medium {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 16px;
    }
    &--people{
      font-weight: fw(regular);
      margin-bottom: 24px;
      @include small {
        margin-bottom: 16px;
      }
    }
  }
  &__org{
    &__img-d {
      display: block;
    }
    &__img-m {
      display: none;
    }
    @include small {
      @include scroll("x", "touch", "show");
      margin-left: -16px;
      margin-right: -16px;
      padding-bottom: 8px;
      &__img-d {
        display: none;
      }
      &__img-m {
        display: block;
        max-width: initial;
        max-height: 700px;
        padding-left: 16px;
        padding-right: 16px;
      }
      &__img-s {
        max-height: 400px;
      }
    }
  }
  &__note{
    margin-top: 40px;
    @include font-size(label);
    color: color(gray, 2);
    margin-bottom: 0;
    .#{$prefix}vertical-tab__page & {
      margin-bottom: 48px;
    }
    @include small{
      margin-top: 32px;
      .#{$prefix}vertical-tab__page & {
        margin-bottom: 40px;
      }
    }
  }
  &__legend {
    margin-bottom: 24px;
    &-img{
      height: 22px;
      width: auto;
    }
  }
}
