/* ==========================================================================
   OCBC Layouts: Card Nyala Benefit
   ========================================================================== */

.#{$prefix}card-nyala-benefit {
  position: relative;
  width: 100%;
  min-height: 376px;
  overflow: hidden;
  @include large {
    min-height: initial;
  }
  .#{$prefix}container,
  .#{$prefix}row,
  .#{$prefix}col-xl-12 {
    height: 100%;
  }
  .#{$prefix}col-xl-12 {
    position: static;
  }
  .#{$prefix}half-offset-container {
    bottom: 0;
    top: 0;
    height: 100%;
    @include small {
      margin-right: 0;
    }
  }
  &__content {
    position: relative;
    padding: 32px 0 24px;
    @include small {
      padding: 24px 0 8px;
    }
  }
  .#{$prefix}card {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    @include small {
      white-space: initial;
      margin-right: 16px;
      &:last-child {
        margin-right: 16px;
      }
    }
  }
  &__list {
    width: auto;
    margin-left: -8px;
    margin-right: -8px;
    padding: 8px 8px 16px;
    font-size: 0;
    line-height: 1;
    overflow: hidden;
    @include small {
      display: block;
      width: auto;
      margin-right: -16px;
      margin-left: -16px;
      padding: 8px 0 16px 16px;
      border-radius: 0;
      @include scroll("x", "touch", "hide");
    }
    // --- override
    @include carousel-nav-red;
    @include carousel-nav-red-position(all, bottom, 164px);
    @include carousel-nav-red-position(prev, left, -24px);
    @include carousel-nav-red-position(next, right, 24px);
    @include large {
      @include carousel-nav-red-position(prev, left, -12px);
      @include carousel-nav-red-position(next, right, 12px);
    }
    .owl-item {
      .ocbc-card {
        &:last-child {
          margin-right: 24px;
        }
      }
    }
    // --- /override
  }
}
