/* ==========================================================================
   OCBC Layouts: Product Service
   ========================================================================== */

.#{$prefix}product-services {
  &-container {
    position: relative;
    padding: 64px 0 52px;
    background-color: color(gray, 7);
    &__title {
      @include font-size(h3);
      color: color(gray, 1);
      font-weight: fw(regular);
      text-align: center;
      max-width: 572px;
      margin: 0 auto 36px;
    }
    @include medium {
      padding: 56px 0 44px;
    }
    @include small {
      padding: 48px 0;
      &__title {
        text-align: left;
        margin: 0 0 48px;
      }
    }
  }
  &__list {
    font-size: 0;
    line-height: 1;
  }
  &__item {
    width: 25%;
    padding: 12px 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    @include element(after) {
      position: absolute;
      top: 50%;
      content: '';
      height: 128px;
      right: 0;
      border-right: solid 1px color(gray, 4);
      transform: translateY(-50%);
    }
    &:nth-child(4n),
    &:last-child {
      @include element(after) {
        content: none;
        display: none;
      }
    }
    @include medium {
      width: 50%;
      &:nth-child(2n) {
        @include element(after) {
          content: none;
          display: none;
        }
      }
    }
    @include small {
      width: 100%;
      padding: 0;
      margin-bottom: 48px;
      &:last-child {
        margin-bottom: 0;
      }
      @include element(after) {
        content: none;
        display: none;
      }
    }
  }
}
