/* ==========================================================================
   OCBC Layouts: Card Article Program
   ========================================================================== */

.#{$prefix}card-article-program {
  position: relative;
  padding: 32px 0 20px;
  &--pt-0-pb-more {
    padding-top: 0;
    padding-bottom: 52px;
  }
  &--more-pt {
    padding-top: 64px;
  }
  @include medium {
    padding: 28px 0;
    &--pt-0-pb-more {
      padding-top: 0;
      padding-bottom: 44px;
    }
    &--more-pt {
      padding-top: 56px;
    }
  }
  @include small {
    padding: 24px 0;
    &--pt-0-pb-more {
      padding-top: 0;
      padding-bottom: 48px;
    }
    &--more-pt {
      padding-top: 48px;
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 12px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
    @include small {
      margin-bottom: 16px;
    }
  }

  &__item {
    padding-top: 12px;
    padding-bottom: 12px;

    @include small {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
