/* ==========================================================================
   OCBC Layout: Card Bod Section
   ========================================================================== */

.#{$prefix}card-bod-section {
  padding: 32px 0 64px;
  @include medium {
    padding: 28px 0 56px;
  }
  @include small {
    padding: 24px 0 48px;
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 24px;
  }
  &__item {
    margin-bottom: 48px;
    &:nth-last-child(3),
    &:nth-last-child(2),
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(3n+1) {
      clear: both;
    }
    @include medium {
      margin-bottom: 40px;
      &:nth-last-child(3) {
        margin-bottom: 40px;
      }
      &:nth-child(3n+1) {
        clear: initial;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include small {
      margin-bottom: 32px;
      &:nth-last-child(3),
      &:nth-last-child(2) {
        margin-bottom: 32px;
      }
      &:nth-child(2n+1) {
        clear: initial;
      }
    }
  }
}
