/* ==========================================================================
   OCBC Layouts: Exchange Rate Calculator
   ========================================================================== */

.#{$prefix}xr-calc {
  $xc: &;
  position: relative;
  padding: 96px 0 32px;

  @include medium {
    padding: 72px 0 24px;
  }

  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;


    // <pseudo-element/>
    @include element(before) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $z-banner-img-grad;
      background-image: linear-gradient(180deg,
          rgba(color(white), 0) 23%,
          rgba(color(white), 0.26) 43%,
          color(white) 96%);
    }

    // <pseudo-element/>
    @include element(after) {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $z-banner-img-grad + 1;
      background-image: linear-gradient(270deg,
          rgba(color(white), 0) 55%,
          rgba(color(white), 0.9) 89%);

      @include medium {
        background-image: linear-gradient(270deg,
            rgba(color(white), 0) 0%,
            rgba(color(white), 0.9) 50%);
      }
    }
  }

  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, right top);

    &--m {
      display: none;
    }

    @include small {
      &--d {
        display: none;
      }

      &--m {
        display: block;
      }
    }
  }

  &__txt-wrapper {
    position: relative;
    z-index: $z-banner-txt;
  }

  &__title {
    margin-bottom: 16px;
    font-weight: fw(bold);
    color: color(gray, 1);
    @include font-size(h2);

    @include medium {
      margin-bottom: 48px;
    }
  }

  // page modifier
  &--currency {
    padding-top: 64px;

    @include medium {
      padding-top: 56px;
    }

    @include small {
      padding-top: 40px;
    }
  }

  // light
  &--light {
    #{$xc} {
      &__title {
        color: color(white);
      }
      &__img-wrapper {
        // <pseudo-element/>
        @include element(before) {
          content: none;
          display: none;
        }
        // <pseudo-element/>
        @include element(after) {
          content: none;
          display: none;
        }
      }
    }
    .#{$prefix}widget-xr-calc__title {
      color: color(white);
    }
  }
}
