/* ==========================================================================
   OCBC Layouts: Card Product SME
   ========================================================================== */

.#{$prefix}card-product-sme {
  position: relative;
  padding-bottom: 52px;
  &--pt-sec{
    padding-top: 64px;
  }
  @include medium {
    padding-bottom: 36px;
    &--pt-sec{
      padding-top: 48px;
    }
  }
  @include small {
    padding-bottom: 48px;
    &--pt-sec{
      padding-top: 48px;
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: fw(bold);
    @include font-size(h4);
    @include small {
      margin-bottom: 16px;
    }
  }
  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
    @include small {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
