/* ==========================================================================
   OCBC Layout: Slider Testimonial
   ========================================================================== */

//  --- mixin show
@mixin slider-testimonial($st) {

  #{$st}__quote,
  #{$st}__name,
  #{$st}__desc,
  #{$st}__btn-lnk {
    opacity: 1;
    transform: translateX(0) scale(1);
  }

  #{$st}__quote {
    transition-delay: 0.5s;
  }

  #{$st}__name {
    transition-delay: 0.75s;
  }

  #{$st}__desc {
    transition-delay: 0.9s;
  }

  #{$st}__btn-lnk {
    transition-delay: 1.05s;
  }
}

//  --- start slider testimonial
.#{$prefix}slider-testimonial {
  position: relative;
  $st: &;


  // --- override owl carousel
  .owl-item {
    img {
      &#{$st}__quote {
        width: 149px;

        @include mq(1280px) {
          width: 136px;
        }

        @include large {
          width: 92px;
        }

        @include retina {
          width: 80px;
        }
      }
    }

    &.active {
      @include slider-testimonial($st);
    }
  }

  @include carousel-nav-red('relative');

  &.owl-carousel {
    .owl-nav {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      height: 48px;
      text-align: right;
      font-size: 0;
      line-height: 1;
      padding: 0 12px;
      max-width: $container-max-width;
    }

    button.owl-prev,
    button.owl-next {
      position: static;

      &.disabled {
        opacity: 1;
        transform: none;
        background-image: none;
        background-color: color(gray, 4);
      }
    }

    button.owl-prev {
      margin-right: 32px;
    }

    @include large {
      .owl-nav {
        padding-left: 32px;
        padding-right: 32px;
      }

      button.owl-prev {
        margin-right: 24px;
      }
    }

    @include medium {
      padding-bottom: 120px;

      .owl-nav {
        text-align: left;
      }
    }

    @include small {
      padding-bottom: 112px;

      .owl-nav {
        padding-left: 16px;
        padding-right: 16px;
        height: 40px;
        bottom: 48px;
      }

      button.owl-prev,
      button.owl-next {
        width: 40px;
        height: 40px;
      }
    }

    @include retina {
      button.owl-prev {
        margin-right: 16px;
      }
    }
  }

  @include medium {
    padding-top: 48px;
    padding-bottom: 48px;

    &--m-no-padding {
      padding-top: 0;
    }
  }

  @include small {
    &--m-no-padding {
      &.owl-carousel {
        padding-bottom: 64px;

        .owl-nav {
          bottom: 0;
        }
      }
    }
  }

  // ---/ override owl carousel

  // --reverse
  &--reverse {
    &.owl-carousel {
      .owl-nav {
        text-align: left;
      }
    }
  }

  // --internship
  &--internship {
    margin-bottom: 32px;

    @include medium {
      padding-top: 48px;
      margin-bottom: 24px;
    }

    @include small {
      &.owl-carousel {
        padding-bottom: 64px;

        .owl-nav {
          bottom: 0;
        }
      }
    }
  }

  // --show
  &--show {
    @include slider-testimonial($st);
  }
}
