/* ==========================================================================
   OCBC Layouts: Card Location
   ========================================================================== */

.#{$prefix}card-location {
  &-container {
    padding-top: 16px;
    padding-bottom: 8px;
    @include small {
      padding-top: 0;
      padding-bottom: 16px;
    }
    &--career {
      padding-top: 0;
      .#{$prefix}card--location {
        min-height: 392px;
        .#{$prefix}card__desc {
          margin-bottom: 8px;
        }
        @include large {
          min-height: 464px;
        }
        @include medium {
          min-height: initial;
        }
      }
      @include small {
        padding-top: 16px;
        margin-top: -32px;
      }
    }
  }
  &__item {
    @include small {
      &:first-child {
        margin-top: -16px;
      }
    }
  }
}
