/* ==========================================================================
   OCBC Layout: Form
   ========================================================================== */

.#{$prefix}form {
  $frm: &;
  &-container{
    padding: 64px 0;
    #{$frm} {
      max-width: 600px;
    }
  }
  &-preloader {
    display: none;
    position: fixed;
    z-index: $z-form-placeholder;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(color(secondary, 7), .8);
    .#{$prefix}preloader {
      position: absolute;
      width: 56px;
      height: 56px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    // -- inline
    &--inline {
      position: absolute;
      background-color: rgba(color(secondary, 7), .6);
    }
  }
}
