/* ==========================================================================
   OCBC Layout: OCBC Result Share
   ========================================================================== */

.#{$prefix}share-result {
  $cs: &;
  overflow: hidden;
  min-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: color(white);

  &__bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-share-result-bg;

    &__content {
      position: relative;
    }

    &__img {
      height: 742px;
      width: auto;
      display: block;

      &-wrapper {
        position: absolute;
        top: 0;
        right: -315px;
      }
    }
  }

  &__content {
    position: relative;
    z-index: $z-share-result-content;
  }

  &__head {
    padding: 80px 0 32px;
  }

  &__logo {
    margin-bottom: 72px;
    font-size: 0;
    line-height: 1;

    .#{$prefix}lnk {
      display: inline-block;
    }

    &__img {
      display: block;
      width: auto;
      height: 84px;
    }
  }

  &__desc {
    max-width: 704px;
    margin-bottom: 32px;

    &__title {
      @include font-size(h3, desktop);
      font-weight: fw(bold);
      margin-bottom: 16px;
      color: color(gray, 1);
    }

    &__note {
      @include font-size(h4, desktop);
      font-weight: fw(regular);
      color: color(gray, 2);
      margin-bottom: 0;
    }
  }

  &__calc {
    &__title {
      @include font-size(h4, desktop);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 16px;
    }

    &__note {
      @include font-size(h4, desktop);
      font-weight: fw(regular);
      color: color(gray, 1);
      margin-bottom: 8px;
    }

    &__date {
      @include font-size(h4, desktop);
      font-weight: fw(regular);
      color: color(gray, 2);
      margin-bottom: 0;
    }
  }

  // --- Overrride
  .#{$prefix}card-prod-category__item {
    @include medium {
      width: 33.333333%;
    }

    @include small {
      width: 33.333333%;
    }
  }

  .#{$prefix}prod-detail-fragments__item {
    @include medium {
      width: 33.333333%;
      padding-top: 12px;
      padding-bottom: 12px;
      margin-bottom: 0;

      &:nth-child(4n + 1) {
        clear: both;
      }
    }

    @include small {
      width: 33.333333%;
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  .#{$prefix}prod-detail-fragments {
    padding-top: 32px;
    padding-bottom: 60px;

    @include small {
      .#{$prefix}row {
        margin-left: -12px;
        margin-right: -12px;
      }

      .#{$prefix}col-xl-12 {
        padding-left: 12px;
        padding-right: 12px;
      }
    }
  }

  .#{$prefix}prod-detail-fragment__more {
    margin-bottom: 36px;
  }

  @include small {
    .#{$prefix}tbl-calc {
      &__tbl {
        margin-left: 0;
        margin-right: 0;
        border-radius: 8px;
        padding: 24px;
      }

      &__title {
        @include font-size(h4, desktop);
      }
    }

    .#{$prefix}card-prod-category {
      &__title {
        margin-bottom: 12px;
        @include font-size(h4, desktop);
      }

      &__list {
        margin-left: -12px;
        margin-right: -12px;
      }

      &__item {
        margin-bottom: 0;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }

    .#{$prefix}card--prod-category {
      .#{$prefix}card__title {
        @include font-size(h4, desktop);
      }
    }
  }

  .#{$prefix}tbl-calc__tbl {
    box-shadow: none;
  }

  .#{$prefix}disclaimer {
    padding-top: 32px;
    padding-bottom: 64px;
  }

  .#{$prefix}card--prod-category {
    .#{$prefix}card__box {
      box-shadow: none;
      border: solid 1px color(gray, 6);

      &:hover {
        transform: none;
      }
    }
  }

  .#{$prefix}card-legend {
    .#{$prefix}card--legend {
      transition: none;
      .#{$prefix}card__box {
        cursor: default;
        box-shadow: none;
        border: solid 1px color(gray, 6);
      }

      .#{$prefix}site-content--hide & {
        opacity: 1;
        transform: none;
      }
    }
  }

  .#{$prefix}graphic-bar__visual__bar {
    cursor: default;
  }

  .#{$prefix}graphic-bar {
    &__box {
      .#{$prefix}site-content--hide & {
        opacity: 1;
      }
    }

    &__visual {
      &__bar {
        .#{$prefix}site-content--hide & {
          transform: none;
        }
      }

      &__area {
        .#{$prefix}site-content--hide & {
          transform: none;
        }
      }
    }

    &__range {
      @include element(after) {
        .#{$prefix}site-content--hide & {
          transform: none;
        }
      }

      &__item {
        .#{$prefix}site-content--hide & {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  // --- /Overrride

}
