/* ==========================================================================
   OCBC Layouts: Card Promo
   ========================================================================== */

.#{$prefix}card-promo {
  $cp: &;
  padding: 64px 0 0;
  @include medium {
    padding-top: 40px;
  }
  @include small {

  }
  &__filter {
    @include small {
      margin-bottom: 24px;
    }
  }
  &__list {
    @include large {
      padding-left: 24px;
    }
    @include medium {
      padding-left: 36px;
    }
    @include small {
      padding-left: 8px;
    }
  }
  &__sort {
    text-align: right;
    margin-bottom: 32px;
    @include small {
      position: absolute;
      top: -48px;
      left: 92px;
      margin-bottom: 0;
    }
  }
  &__wrapper {
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 12px;
    @include clearfix;
    @include small {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 16px;
    }
    @include element(after) {
      content: '';
      display: block;
      clear: both;
    }
    .#{$prefix}card {
      float: left;
      width: 50%;
      padding-left: 12px;
      padding-right: 12px;
      margin-bottom: 40px;
      &__box {
        height: auto;
      }
      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
      @include medium {
        width: 100%;
        margin-bottom: 32px;
        &:nth-last-child(2) {
          margin-bottom: 32px;
        }
        &:nth-child(2n+1) {
          clear: initial;
        }
      }
      @include small {
        float: none;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 32px;
        &:nth-last-child(2) {
          margin-bottom: 32px;
        }
      }
    }
  }
}
