 /* ==========================================================================
   OCBC Layouts: Card Report
   ========================================================================== */

.#{$prefix}card-report {
  &__title {
    @include font-size(h4);
    margin-bottom: 16px;
    color: color(gray, 1);
    font-weight: fw(regular);
  }
  &__item {
    margin-bottom: 40px;
    padding-bottom: 48px;
    position: relative;
    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
    &:nth-child(2n+1) {
      clear: both;
    }
    @include large {
      margin-bottom: 32px;
      padding-bottom: 40px;
      &:nth-last-child(3) {
        margin-bottom: 0;
      }
      &:nth-child(2n+1) {
        clear: initial;
      }
      &:nth-child(3n+1) {
        clear: both;
      }
    }
    @include medium {
      margin-bottom: 32px;
      &:nth-last-child(3) {
        margin-bottom: 32px;
      }
      &:nth-child(3n+1) {
        clear: initial;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include small {
      margin-bottom: 40px;
      padding-bottom: 0;
      &:nth-last-child(2),
      &:nth-last-child(3) {
        margin-bottom: 40px;
      }
      &:nth-child(2n+1),
      &:nth-child(3n+1) {
        clear: initial;
      }
    }
    @include retina {
      margin-bottom: 32px;
      &:nth-last-child(2),
      &:nth-last-child(3) {
        margin-bottom: 32px;
      }
    }
    .#{$prefix}card__btn-more {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 12px;
      @include small {
        position: static;
        padding: 0;
      }
    }
  }
}
