/* ==========================================================================
   OCBC Layouts: Card Suggestion
   ========================================================================== */

.#{$prefix}card-suggestion {
  padding: 64px 0 32px;
  @include medium {
    padding: 48px 0 24px;
  }
  &__title {
    // margin bottom total is 24px: 16px + 8px (from item)
    margin-bottom: 8px;
    @include font-size(h4);
    font-weight: fw(bold);
    @include medium {
      margin-bottom: 16px;
    }
  }
  &__list {
    // margin bottom total is 32px: 16px + 16px (from item)
    padding-bottom: 16px;
    @include medium {
      padding-bottom: 32px;
    }
  }
  &__item {
    padding-top: 16px;
    padding-bottom: 16px;
    @include medium {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__btn{
    position: absolute;
    top: 0;
    right: 12px;
    @include small{
      position: static;
      margin: 24px 0;
    }
  }


  // page modifier
  //-- detail
  &--detail {
    padding: 32px 0;
    @include medium {
      padding: 24px 0 16px;
    }
  }

  //-- landing
  &--landing {
    padding: 32px 0;
    transition: all .75s ease 1s;
    @include medium {
      padding: 40px 0 16px;
    }
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
  }

  &--inner-tabs {
    // layout level
    .#{$prefix}card-suggestion {
      padding: 32px 0;
      @include small {
        padding: 40px 0 24px;
      }
      &__list {
        margin-bottom: 0;
      }
      &__item {
        @include medium {
          padding-top: 16px;
          padding-bottom: 16px;
          margin-bottom: 0;
        }
        @include small {
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
