/* ==========================================================================
   OCBC Layouts: Card Mutual Funds
   ========================================================================== */

.#{$prefix}card-mutual-funds {
  &__wrapper {
    margin-top: -12px;
    margin-bottom: -4px;
    @include large {
      margin-top: 0;
      margin-bottom: -8px;
    }
    @include medium {
      margin-bottom: 0;
    }
  }
  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
    @include large {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include retina {
      margin-bottom: 16px;
    }
  }
}
