/* ==========================================================================
   OCBC Layouts: Calculator Result
   ========================================================================== */

.#{$prefix}calc-result {
  padding-top: 96px;
  padding-bottom: 8px;
  background-color: color(gray, 6);
  @include large {
    padding-top: 88px;
  }
  @include medium {
    padding-top: 64px;
    padding-bottom: 0;
    &.show-fields {
      @include shadow(6);
    }
  }
  &__form {
    display: table;
    width: 100%;
    @include medium {
      display: block;
    }
  }
  &__flds {
    $fld: &;
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;
    @include large {
      margin-left: -8px;
      margin-right: -8px;
    }
    @include medium {
      margin-left: 0;
      margin-right: 0;
      transition: all .3s ease;
      .show-fields & {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
    &-wrapper {
      display: table-cell;
      vertical-align: top;
      padding-right: 72px;
      @include large {
        padding-right: 8px;
      }
      @include medium {
        display: none;
        padding-right: 0;
      }
    }
    &__item {
      float: left;
      @include medium {
        float: none;
        margin-bottom: 24px;
        opacity: 0;
        transform: translateY(8px);
        transition: all .3s ease;
        transition-delay: 0s;
        &:last-child {
          margin-bottom: 0;
        }
        .show-fields & {
          opacity: 1;
          transform: none;
          transition-delay: .1s;
        }
      }
    }
    &--items-5{
      #{$fld}__item {
        width: 20%;
        padding: 0 12px;
        @include large {
          padding: 0 8px;
        }
        @include medium {
          padding: 0;
          width: 100%;
        }
      }
    }
    .#{$prefix}field {
      margin-bottom: 0;
      padding-bottom: 24px;
      position: relative;
      @include medium {
        padding-bottom: 0;
      }
      &__note {
        position: absolute;
        left: 0;
        bottom: 0;
        @include medium {
          position: static;
        }
      }
      .#{$prefix}select {
        &__list {
          right: auto;
          max-width: initial;
          @include medium {
            right: 0;
            max-width: 100%;
          }
        }
        &__item {
          white-space: nowrap;
          @include medium {
            white-space: normal;
          }
        }
        .mCustomScrollBox {
          max-width: initial;
          @include medium {
            max-width: 100%;
          }
        }
        &__text {
          @include ellipsis;
        }
      }
    }
  }
  &__submit {
    width: 130px;
    padding-top: 24px;
    padding-left: 8px;
    display: table-cell;
    vertical-align: top;
    text-align: right;
    @include medium {
      display: block;
      width: auto;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 0;
      text-align: left;
      position: relative;
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 32px;
      padding-right: 32px;
      transition: all .3s ease;
      &__btn {
        display: none;
      }
      .show-fields & {
        background-color: color(white);
        &__btn {
          display: block;
        }
      }
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__label {
    display: none;
    @include medium {
      display: block;
      @include font-size(body, mobile);
      font-weight: fw(bold);
      margin-bottom: 0;
      .show-fields & {
        display: none;
      }
    }
  }

  &__btn-arrow {
    display: none;
    @include medium {
      width: 48px;
      height: 48px;
      display: block;
      background-color: transparent;
      position: absolute;
      top: 4px;
      right: 18px;
      padding: 0;
      border: 0;
      transition: all .3s ease;
      transform-origin: center center;
      .show-fields & {
        transform: rotateX(180deg);
      }
      .#{$prefix}fi {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
      }
    }
    @include small {
      right: 2px;
    }
  }
}
