/* ==========================================================================
   OCBC Layout: Feature
   ========================================================================== */

//  --- feature
.#{$prefix}feature {
  $f: &;
  min-height: 708px;
  position: relative;

  @include medium {
    min-height: initial;
  }

  &__img {
    max-width: initial;
    width: 1124px;
    position: absolute;
    top: -84px;
    right: -376px;
    opacity: 0.18;

    &-wrapper {
      position: absolute;
      z-index: $z-feature-img;
      width: 50%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      background-image: lg(primary);
    }

    @include large {
      top: -32px;
      width: 960px;
      right: -320px;
    }

    @include medium {
      width: 640px;
      right: -160px;
      top: -36px;

      &-wrapper {
        width: 100%;
        height: 348px;
      }
    }

    @include small {
      width: 496px;
      right: -112px;
      top: -36px;
    }

    @include mq(374px) {
      width: 460px;
      right: -80px;
      top: -32px;
    }

    @include retina {
      width: 440px;
      right: -72px;
    }
  }

  &__content {
    position: relative;
    z-index: $z-feature-content;
  }

  //modifier
  &--digital-channel {
    min-height: 800px;

    #{$f}__img {
      &-wrapper {
        @include small {
          height: 388px;
        }
      }
    }

    @include medium {
      min-height: initial;
    }
  }

  &--inverse{
    #{$f}__img {
      opacity: 1;
      &-wrapper {
        background-image: initial;
        background-color: color(gray, 7);
      }
    }
  }

  // Desktop App
  &--desktop {
    #{$f}__img {
      &-wrapper {
        @include small {
          height: 288px;
        }
      }
    }
  }
}
