/* ==========================================================================
   OCBC Layout: Search Result
   ========================================================================== */

.#{$prefix}search-result {
  padding: 64px 0;
  @include medium {
    padding: 40px 0 48px;
  }
  &__filter{
    @include small {
      margin-bottom: 32px;
    }
  }
  &__result{
    @include large {
      padding-left: 44px;
    }
    @include medium {
      padding-left: 36px;
    }
    @include small {
      padding-left: 8px;
    }
  }
  &__sort {
    text-align: right;
    @include small {
      position: absolute;
      top: -56px;
      left: 92px;
    }
  }
}
