/* ==========================================================================
   OCBC Layouts: Card Product Comparison
   ========================================================================== */

.#{$prefix}card-product-comparison {
  background-color: color(gray, 7);
  padding: 40px 0 8px;
  &__title {
    @include font-size(h4);
    color: color(gray, 1);
    margin: 0 0 16px;
    font-weight: fw(bold);
  }
  &__scrollover {
    @include medium {
      padding-bottom: 8px;
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 32px;
      padding-right: 32px;
      @include scroll("x", "touch", "show");
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__clearfix {
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;
  }
  &__item {
    float: left;
    width: 33.333333%;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    margin-bottom: 24px;
    @include clearfix;
    @include medium {
      width: 50%;
    }
    @include small {
      float: none;
      display: inline-block;
      width: 328px;
    }
  }
}
