/* ==========================================================================
   OCBC Layouts: Card needs
   ========================================================================== */

.#{$prefix}card-needs {
  z-index: $z-card-needs;
  width: 100%;
  left: 0;
  height: 200px;
  transition: all 0.75s ease;
  transition-delay: 1.25s;
  .#{$prefix}site-content--hide & {
    opacity: 0;
    transform: translateY(8px);
  }
  @include small {
    height: 162px;
  }
  &-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .#{$prefix}col-xl-12 {
    position: static;
  }
  &__content {
    position: relative;
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 24px;
    max-width: $container-max-width;
    @include mq(1272px) {
      padding-right: 32px;
    }
    @include small {
      padding-right: 16px;
      margin-bottom: 8px;
    }
  }
  &__light {
    color: color(white);
  }
  .ocbc-card {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
    @include small {
      padding-right: 0;
      margin-right: 16px;
      white-space: initial;
      &:last-child {
        margin-right: 16px;
      }
    }
  }
  &__list {
    font-size: 0;
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    padding-bottom: 16px;
    @include small {
      display: block;
      width: auto;
      margin-left: -16px;
      padding-left: 16px;
      border-radius: 0;
      @include scroll("x", "touch", "hide");
    }

    // --- override
    @include carousel-nav-red;
    @include carousel-nav-red-position(all, bottom, 64px);
    @include carousel-nav-red-position(prev, left, -24px);
    @include carousel-nav-red-position(next, right, 24px);
    .owl-item {
      .ocbc-card {
        &:last-child {
          margin-right: 24px;
        }
      }
    }
    // --- /override
  }
}
