/* ==========================================================================
   OCBC Layouts: Card Career List
   ========================================================================== */

.#{$prefix}card-career-list {
  position: relative;
  margin-top: 64px;
  padding: 64px 0;
  background-color: color(gray, 7);
  @include small {
    padding: 48px 0 32px;
  }
  &__list {
    @include small {
      @include scroll("x", "touch", "hide");
      margin: 0 -16px;
      padding: 0 16px 16px;
      .#{$prefix}row {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  &__title {
    margin-bottom: 20px;
    font-weight: fw(bold);
    @include font-size(h4);
    @include small {
      margin-bottom: 16px;
    }
  }
  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
    @include small {
      float: none;
      display: inline-block;
      width: 288px;
      padding: 0;
      margin-right: 16px;
    }
  }
}
