/* ==========================================================================
   OCBC Layout: Saving Comparison
   ========================================================================== */

.#{$prefix}saving-comparison {
  $sc: &;
  &__section {
    position: relative;
    transition: all .35s ease;

    &--chosen-prod {
      padding-top: 72px;
    }

    &--lbl-comp {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      transition: all .3s ease;
      transform: translateY(0%);

      &__active {
        position: fixed;
        z-index: $z-floating-comparison;
        transform: translateY(0%);

      }
    }
    &--prod-comp {
      top: 0;
    }

    &-wrapper {
      position: relative;
      display: none;
      opacity: 0;
      visibility: hidden;
      transition: all .35s ease;
    }
  }
  &__section-wrapper {
    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
}