/* ==========================================================================
   OCBC Layouts: Card Icon Title
   ========================================================================== */

.#{$prefix}card-icon-title{
  position: relative;
  padding: 8px 0 64px;
  width: 600px;
  @include small {
    padding: 0 0 48px;
    width: 100%;
  }
  &__list {
    margin: 0 -12px;
    @include medium {
      margin: 0 -32px;
    }
    @include small {
      margin: 0 -16px;
    }
  }
  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
