/* ==========================================================================
   OCBC Layout: Main Banner
   ========================================================================== */

//  --- mixin show
@mixin main-banner-show($mb) {
  #{$mb}__img-wrapper {
    opacity: 1;
    transform: scale(1);
    transition: opacity 3.5s ease, transform 5s ease;
    transition-delay: 0s;
  }
  #{$mb}__title,
  #{$mb}__desc,
  #{$mb}__btn{
    opacity: 1;
    transform: translateX(0);
    transition: all 1.75s ease;
  }
  #{$mb}__title {
    transition-delay: 1s;
  }
  #{$mb}__desc {
    transition-delay: 1.5s;
  }
  #{$mb}__btn {
    transition-delay: 2s;
  }
}

//  --- start main banner
.#{$prefix}main-banner {
  $mb: &;
  .#{$prefix}main-banner-card-journey & {
    height: 100%;
    overflow: hidden;
  }
  &.owl-carousel {
    display: block;
  }
  // --- override carousel
  .owl-stage-outer,
  .owl-stage,
  .owl-item {
    width: 100%;
    height: 100%;
  }
  .owl-item {
    &.active {
      @include main-banner-show($mb);
    }
  }
  // --- /override carousel

  // --show
  &--show {
    @include main-banner-show($mb);
  }
}
