/* ==========================================================================
   OCBC Layouts: Product Category Fragments
   ========================================================================== */

.#{$prefix}prod-category-fragments {
  &-container{
    padding-bottom: 64px;
    @include medium {
      padding-bottom: 48px;
    }
  }
  &__item {
    padding: 0;
  }
  &__list{
    padding-left: 12px;
    padding-right: 12px;
    @include medium {
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 0;
      padding-right: 0;
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
