/* ==========================================================================
   OCBC Layouts: Card Nyala
   ========================================================================== */

.#{$prefix}card-nyala {
  // padding bottom total is 32px: 20px + 12px (from item)
  padding: 64px 0 20px;
  @include medium {
    padding: 48px 0 24px;
  }
  &__title {
    // margin bottom total is 24px: 12px + 12px (from item)
    margin-bottom: 12px;
    @include font-size(h4);
    font-weight: fw(bold);
    @include medium {
      margin-bottom: 16px;
    }
  }
  &__item {
    padding-top: 12px;
    padding-bottom: 12px;
    @include medium {
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
