/* ==========================================================================
   OCBC Layouts: Card Chosen Product 
   ========================================================================== */

.#{$prefix}card-chosen-prod {
  padding: 32px 0;
  @include small {
    white-space: nowrap;
    overflow-x: scroll;
  }
  &__space {
    @include small {
      display: none;
    }
  }
  .#{$prefix}card {
    &--chosen-product {
      padding: 0 12px;

      @include small {
        float: none;
      }
    }
  }
  &__wrapper {
    white-space: nowrap;
    overflow-x: hidden;
    &-skeleton {
      display: inline-block;
    }
    .#{$prefix}card {
      &--chosen-skeleton {
        @include medium {
          display: none;
        }
      }
    }
  }
}