/* ==========================================================================
   OCBC Layouts: FAQ Accordion
   ========================================================================== */

.#{$prefix}faq-ac {
  $fac: &;
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:only-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  &--expand {
    padding-bottom: 12px;

    &:last-child, &:only-child {
      padding-bottom: 0;
    }

    #{$fac}__content {
      opacity: 1;
      transform: none;
    }

    #{$fac}__icon {
      &:before {
        opacity: 0;
        transform: rotate(90deg);
      }

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &-container {
    padding-top: 8px;
  }

  &__head {
    @include font-size(body);
    padding: 12px 113px 12px 0;
    display: block;
    border-bottom: 1px solid color(gray, 3);
    position: relative;
    margin-bottom: 0;
    transition: all .3s ease-out;
    cursor: pointer;
  }

  &__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      width: 12px;
      height: 2px;
      position: absolute;
      background-color: color(gray, 1);
      top: 7px;
      left: 2px;
      transition: all .3s ease-out;
      border-radius: 1px;
    }

    &:before {
      opacity: 1;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &__body {
    display: none;
  }
  &__content {
    transform: translateX(8px);
    opacity: 0;
    transition: all .3s ease;
    padding-top: 24px;
    &-wrapper {
      margin-bottom: 40px;
    }
  }

  &__b,
  b {
    color: color(gray, 1);
    margin-bottom: 8px;

    #{$fac}__span {
      font-weight: fw(regular);
      margin: 0 8px;
    }
  }

  &__ul,
  ul {
    list-style-type: disc;
  }

  &__ol,
  ol,
  &__ul,
  ul {
    padding-left: 18px;
    margin-bottom: 24px;

    #{$fac}__ul,
    ul,
    #{$fac}__ol,
    ol {
      margin-bottom: 0;
    }

    #{$fac}__no-list {
      list-style-type: none;
      padding-left: 0;
    }
  }

  &__ico {
    width: 20px;
    height: 20px;

    &-wrapper {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 2px;
      margin-right: 8px;
    }
  }

  &__h6,
  h6 {
    color: color(gray, 1);
    @include font-size(body);
    margin-bottom: 8px;
  }

  &__p,
  &__li,
  p,
  li,
  span,
  &__span,
  b,
  &__b {
    color: color(gray, 2);
  }

  &__iframe,
  iframe {
    width: 100%;
    height: 453px;
    margin: 8px 0;

    @include small {
      height: 220px;
    }
  }

  &__call-center {
    margin-bottom: 8px;
  }

  &__ul, ul, &__ol, ol, &__p, p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

