/* ==========================================================================
   OCBC Layouts: Main Banner Presentation Journey
   ========================================================================== */

.#{$prefix}main-banner-presentation-journey {
  position: relative;
}

.#{$prefix}presentation-journey {
  $pj: &;
  position: relative;
  display: none;
  &__close {
    outline: 0;
    border: 0;
    position: relative;
    z-index: $z-presentation-journey-close;
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(color(gray, 1), 0.4);
    @include remove-tap-highlight;
    text-align: center;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(8px);
    visibility: hidden;
    @include small {
      top: 16px;
      right: 16px;
    }
    .#{$prefix}fi {
      font-size: 1.4rem;
      line-height: 48px;
      color: color(white);
    }
    &:hover {
      background-color: rgba(color(gray, 1), 0.7);
      transform: translateY(-2px);
      @include shadow(6);
    }
  }
  &__pane {
    display: none;
    opacity: 0;
    transform: translateY(-16px);
    visibility: hidden;
    transition: all 0.45s ease;
  }
  &--expand {
    #{$pj}__close {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
    #{$pj}__pane {
      transform: translateY(0);
      &--active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
