//-------------------------------------------------------------------------------
  @name: Kalkulator Pendidikan - Calculator Form
  @description: Kalkulator Pendidikan - Calculator Form
  -------------------------------------------------------------------------------//

extends ../../layout/calculator.pug

block title
  -
    title = 'Rencanakan Masa Tua Anda';

  
    .ocbc-card.ocbc-card--big.ocbc-card--big-white.ocbc-card--big-contentrow
      .ocbc-card__box
        .ocbc-card__title-icon
          .ocbc-card__icon
            img(src='img/riskprofile/riskprofile-2.png' alt='Perlindungan Kesehatan')
          h4.ocbc-card__title Profil risiko kamu : Balance
        p.ocbc-card__desc
          | Anda termasuk Investor yang berhati-hati dalam mengambil risiko, namun Anda juga mencari peluang sedikit pertumbuhan atas investasi Anda untuk jangka waktu menengah.
    .ocbc-card.ocbc-card--big.ocbc-card--big-white.ocbc-card--big-contentrow
      .ocbc-card__box
        h4.ocbc-card__title Komposisi Portfolio
        p.ocbc-card__desc
          | Berdasarkan profil resiko kamu, kita merekomendasikan komposisi portfolio investasi yang lebih berat ke Obligasi dan pasar uang untuk meningkatkan diversifikasi di reksadana saham untuk return di atas angka inflasi dengan resiko yang moderat.
        p.ocbc-card__desc
          | Pilihan produk bisa dirubah dengan mengklik tombol ubah di list produk.
        .ocbc-row
          .ocbc-col-xl-3.ocbc-col-lg-3.ocbc-col-sm-4
            #piechart
            script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
            script(type='text/javascript').
              // Load google charts
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);
              // Draw the chart and set the chart values
              function drawChart() {
              var data = google.visualization.arrayToDataTable([
              ['Jenis Reksadana', 'komposisi'],
              ['Deposit', 40],
              ['Bond', 40],
              ['Equity', 20],
              ]);
              // Optional; add a title and set the width and height of the chart
              var options = {pieHole: 0.3,'height':250 , colors:['#005073', '#FDB014', '#C41432' ], legend: 'none'};
              // Display the chart inside the <div> element with id="piechart"
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
              }
          .ocbc-col-xl-2.ocbc-col-lg-7.ocbc-col-sm-8
            .ocbc-mutualfund-composition-table-container
              table.ocbc-mutualfund-composition-table
                tr
                  td &nbsp;
                tr
                  td
                    span.ocbc-mutualfund-composition-legend.ocbc-mutualfund-composition-legend--l1
                    b 40%
                    |  Deposit
                tr
                  td
                    span.ocbc-mutualfund-composition-legend.ocbc-mutualfund-composition-legend--l2
                    b 40%
                    |  Bond
                tr
                  td
                    span.ocbc-mutualfund-composition-legend.ocbc-mutualfund-composition-legend--l3
                    b 20%
                    |  Equity
          .ocbc-col-xl-7.ocbc-col-lg-7.ocbc-col-sm-12
            .ocbc-mutualfund-composition-table-container
              table#pick-product-composition.ocbc-mutualfund-composition-table.ocbc-mutualfund-composition-table--products
                tr
                  td(colspan='2')
                  td.ocbc-mutualfund-composition-table-return Return
                tr
                  td.ocbc-mutualfund-composition-table-product Ashmore Pasar Uang
                  td.ocbc-mutualfund-composition-table-label
                  td.ocbc-mutualfund-composition-table-return 2.61%
                tr
                  td.ocbc-mutualfund-composition-table-product
                    i (pilih produk di bawah)
                  td.ocbc-mutualfund-composition-table-label
                  td.ocbc-mutualfund-composition-table-return
                tr
                  td.ocbc-mutualfund-composition-table-product Ashmore Dana Prestasi
                  td.ocbc-mutualfund-composition-table-label
                  td.ocbc-mutualfund-composition-table-return 11.31%
                tr
                  td.ocbc-mutualfund-composition-table-product(colspan='2') Rate of return
                  td.ocbc-mutualfund-composition-table-return
    // product selection
    .ocbc-card-needs__content
      h4.ocbc-card-needs__title Pilih produk investasi sesuai komposisi portfolio bond (40%)
      // ocbc-card-needs__list
      .ocbc-card-needs__list.owl-carousel.js-card-needs-list
        .ocbc-card.ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds
          input.ocbc-card__input(type='radio' name='prod_select')
          .ocbc-card__box
            .ocbc-card__risk
              p.ocbc-card__risk__lbl
                | Tipe produk 
                b Bond
            .ocbc-card__detail
              p.ocbc-card__type Reksa Dana Pendapatan Tetap
              p.ocbc-card__company Ashmore Dana Obligasi Nusantara
              .ocbc-card__curr-amount
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr NAB
                  p.ocbc-card__amount IDR 16,037.43/unit&#x9;(31/07/2021)
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr AUM
                  p.ocbc-card__amount IDR 1.24 Triliun&#x9; (31/07/2021)&#x9;
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr Return
                  p.ocbc-card__amount 5.25% Annual&#x9; (31/07/2021)&#x9;
        .ocbc-card.ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds
          input.ocbc-card__input(type='radio' name='prod_select')
          .ocbc-card__box
            .ocbc-card__risk
              p.ocbc-card__risk__lbl
                | Tipe produk 
                b Bond
            .ocbc-card__detail
              p.ocbc-card__type Reksa Dana Pendapatan Tetap
              p.ocbc-card__company Ashmore Dana Obligasi Nusantara
              .ocbc-card__curr-amount
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr NAB
                  p.ocbc-card__amount IDR 16,037.43/unit&#x9;(31/07/2021)
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr AUM
                  p.ocbc-card__amount IDR 1.24 Triliun&#x9; (31/07/2021)&#x9;
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr Return
                  p.ocbc-card__amount 5.25% Annual&#x9; (31/07/2021)&#x9;
        .ocbc-card.ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds
          input.ocbc-card__input(type='radio' name='prod_select')
          .ocbc-card__box
            .ocbc-card__risk
              p.ocbc-card__risk__lbl
                | Tipe produk 
                b Bond
            .ocbc-card__detail
              p.ocbc-card__type Reksa Dana Pendapatan Tetap
              p.ocbc-card__company Ashmore Dana Obligasi Nusantara
              .ocbc-card__curr-amount
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr NAB
                  p.ocbc-card__amount IDR 16,037.43/unit&#x9;(31/07/2021)
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr AUM
                  p.ocbc-card__amount IDR 1.24 Triliun&#x9; (31/07/2021)&#x9;
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr Return
                  p.ocbc-card__amount 5.25% Annual&#x9; (31/07/2021)&#x9;
        .ocbc-card.ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds
          input.ocbc-card__input(type='radio' name='prod_select')
          .ocbc-card__box
            .ocbc-card__risk
              p.ocbc-card__risk__lbl
                | Tipe produk 
                b Bond
            .ocbc-card__detail
              p.ocbc-card__type Reksa Dana Pendapatan Tetap
              p.ocbc-card__company Ashmore Dana Obligasi Nusantara
              .ocbc-card__curr-amount
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr NAB
                  p.ocbc-card__amount IDR 16,037.43/unit&#x9;(31/07/2021)
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr AUM
                  p.ocbc-card__amount IDR 1.24 Triliun&#x9; (31/07/2021)&#x9;
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr Return
                  p.ocbc-card__amount 5.25% Annual&#x9; (31/07/2021)&#x9;
        .ocbc-card.ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds
          input.ocbc-card__input(type='radio' name='prod_select')
          .ocbc-card__box
            .ocbc-card__risk
              p.ocbc-card__risk__lbl
                | Tipe produk 
                b Bond
            .ocbc-card__detail
              p.ocbc-card__type Reksa Dana Pendapatan Tetap
              p.ocbc-card__company Ashmore Dana Obligasi Nusantara
              .ocbc-card__curr-amount
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr NAB
                  p.ocbc-card__amount IDR 16,037.43/unit&#x9;(31/07/2021)
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr AUM
                  p.ocbc-card__amount IDR 1.24 Triliun&#x9; (31/07/2021)&#x9;
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr Return
                  p.ocbc-card__amount 5.25% Annual&#x9; (31/07/2021)&#x9;
        .ocbc-card.ocbc-card--needs.ocbc-card--country.ocbc-card--mutual-funds
          input.ocbc-card__input(type='radio' name='prod_select')
          .ocbc-card__box
            .ocbc-card__risk
              p.ocbc-card__risk__lbl
                | Tipe produk 
                b Bond
            .ocbc-card__detail
              p.ocbc-card__type Reksa Dana Pendapatan Tetap
              p.ocbc-card__company Ashmore Dana Obligasi Nusantara
              .ocbc-card__curr-amount
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr NAB
                  p.ocbc-card__amount IDR 16,037.43/unit&#x9;(31/07/2021)
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr AUM
                  p.ocbc-card__amount IDR 1.24 Triliun&#x9; (31/07/2021)&#x9;
                .ocbc-card__curr-amount__row
                  p.ocbc-card__curr Return
                  p.ocbc-card__amount 5.25% Annual&#x9; (31/07/2021)&#x9;
    .ocbc-calc__submit
      .ocbc-calc__submit__col
        button.ocbc-btn-round.js-back-form(onclick="location.href='kalkulator-pendidikan-result.html'")
          i.ocbc-fi.ocbc-fi-chevron-left
      .ocbc-calc__submit__col
        button.ocbc-btn.ocbc-btn--primary.js-form-next(onclick="location.href='kalkulator-pendidikan-result.html'") Simpan
