//- sitebanner
.ocbc-prod-detail-banner--sme-landing
  // ocbc-prod-detail-banner
  .ocbc-prod-detail-banner.ocbc-prod-detail-banner--light
    .ocbc-prod-detail-banner__img-wrapper
      .ocbc-prod-detail-banner__img-bg.ocbc-prod-detail-banner__img-bg--d(style='background-image: url(img/dummy/banner/product-detail/layanan-calculator.jpg)')
      .ocbc-prod-detail-banner__img-bg.ocbc-prod-detail-banner__img-bg--m(style='background-image: url(img/dummy/banner/product-detail/layanan-calculator-m.jpg)')
    .ocbc-prod-detail-banner__txt-wrapper
      .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            .ocbc-prod-detail-banner__txt
              h1.ocbc-prod-detail-banner__title Kalkulator &amp; Perencanaan Keuangan
              h4.ocbc-prod-detail-banner__desc
                | Yuk atur dan rencanakan keunganmu dengan menggunakan simlasi atau chat dengan Rachel
              .ocbc-prod-detail-banner__btn
                a.ocbc-btn.ocbc-btn--primary(href='#')
                  | Chat dengan Rachel

//- sitetabs
.ocbc-tabs__controll-container
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        // ocbc-tabs__controll-wrapper
        .ocbc-tabs__controll-wrapper
          // ocbc-tabs__controll
          ul.ocbc-tabs__controll
            li.ocbc-tabs__controll__item(onclick="location.href='kalkulator-pendidikan.html'") Pendidikan
            li.ocbc-tabs__controll__item Perlindungan kesehatan
            li.ocbc-tabs__controll__item Kepemilikan rumah
            li.ocbc-tabs__controll__item.ocbc-tabs__controll__item--active(onclick="location.href='kalkulator-pensiun.html'") Pensiun