//-------------------------------------------------------------------------------
  @name: Kalkulator Pensiun - Calculator Form
  @description: Kalkulator Pensiun - Calculator Form
  -------------------------------------------------------------------------------//

extends ../../layout/calculator.pug

block title
  -
    title = 'Rencanakan Masa Tua Anda';
    form = {
      action: 'hasil-perhitungan-kalkulator-pensiun.html',
      label: 'pensiun'
    };

block form
  //- Step 1
  include form/step-form-1.pug
  //- Step 2
  include form/step-form-2.pug
  //- Step 3
  include form/step-form-3.pug
  //- Step 4
  include form/step-form-4.pug


block image
  -
    image = {
      src: 'pensiun.png',
      alt: 'Pensiun Banner'
    }
