/*CHAT TRIGGER ICON*/
.dolphin-chat-icon{position:fixed; bottom:0; right:30px; z-index:9999; width:250px; height:175px; cursor:pointer;}
.dolphin-chat-icon .avatarimg{width:130px; height:140px; position:absolute; right:0; bottom:-10px; z-index:9; transition:all .5s;}
.dolphin-chat-icon .avataranim{width:105px; height:75px; position:absolute; right:0px; bottom:60px; z-index:6; animation: shake 3s infinite; -webkit-animation: shake 3s infinite;  -moz-animation: shake 3s infinite; }
.dolphin-chat-icon .avatarimg img , .dolphin-chat-icon .avataranim img{width:100%; height:100%; vertical-align:bottom;}

@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); -webkit-transform: translate(0, 0) rotate(0deg); -moz-transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(-1px, 1px) rotate(1deg); -webkit-transform: translate(-1px, 1px) rotate(1deg); -moz-transform: translate(-1px, 1px) rotate(1deg);}
    50% { transform: translate(1px, -1px) rotate(0deg); -webkit-transform: translate(1px, -1px) rotate(0deg); -moz-transform: translate(1px, -1px) rotate(0deg);}
    75% { transform: translate(-1px, 1px) rotate(-1deg); -webkit-transform: translate(-1px, 1px) rotate(-1deg); -moz-transform: translate(-1px, 1px) rotate(-1deg);}
    100% { transform: translate(0, 0) rotate(0deg); -webkit-transform: translate(0, 0) rotate(0deg); -moz-transform: translate(0, 0) rotate(0deg);}
  }

.dolphin-chat-icon .balloon{position:absolute; bottom:100px; right:50px; ; z-index:8; opacity:1; line-height:18px; transition:all .2s ease-out;} 
.dolphin-chat-icon .balloon .box{background-color:#fff;  border-radius:10px; padding:8px 15px; color:#333;max-width:180px; box-shadow:0 4px 3px rgba(0,0,0,.1);}
.dolphin-chat-icon .balloon:after{content:''; display:block; background:url(../images/balooon_handler.png) no-repeat 0 0; background-size: cover; width:15px; height:11px; position:absolute; bottom:-11px; right:40px;z-index:2;}
.dolphin-chat-icon:hover .avatarimg{bottom:0;} 
.dolphin-chat-icon .balloon.off{bottom:80px; opacity:0;}