//-------------------------------------------------------------------------------
  @name: Basic Page - Suku Bunga Dasar - Content
  @description: Basic Page - Suku Bunga Dasar - Content
  -------------------------------------------------------------------------------//

//- Basic Page Template
extends ../../layout/basic-page.pug

block head
  -
    modifier = 'v-tab';

//- Content
block content
  -
    data = [
      {
        text: 'SBDK',
        target: 'sbdk'
      },
      {
        text: 'SBDB',
        target: 'sbdb'
      }
    ]

  //ocbc-vertical-tab__page
  .ocbc-vertical-tab__page
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='sbdk')
          include tab-content/sbdk.pug
        .ocbc-vt-content.ocbc-vt-content(data-pane='sbdb')
          include tab-content/sbdb.pug

