//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Colors
  @description: Design System - Content - Brand: Colors
  -------------------------------------------------------------------------------//

+ds__contentItem('Colors', 'Brand Guideline')
  //ocbc-ds__content__brand__colors
  .ocbc-ds__content__brand__colors
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | Color is an essential element for OCBC NISP. We have optimized the use of the color of primary red and expand it to hues of complementary colors for our color palette.
      p.ocbc-ds__content__brand__head__desc
        | Guidance on color coding is provided to ensure all the digital materials remain consistent with the OCBC NISP brand.
    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Primary Color
        p.ocbc-ds__content__brand__item__desc
          | We have simplified the primary red into only three variations, mainly used for active main CTAs and other actionable design elements, such as links, selectors, radio buttons and checkboxes, to represent the selected state.
        .ocbc-ds__content__brand__colors__list
          -
            primaryColors = [
              {
                bg: 'red-1',
                title: 'Red-1',
                hex: '#EB2629'
              },
              {
                bg: 'red-2',
                title: 'Red-2',
                hex: '#F14545'
              },
              {
                bg: 'red-3',
                title: 'Red-3',
                hex: '#C41432'
              },
              {
                bg: 'grad-red',
                title: 'Gradient-Red',
                hex: '#F14545 to #C41432'
              }
            ];
          each val in primaryColors
            .ocbc-ds__content__brand__colors__item
              .ocbc-ds__content__brand__colors__bg(class='ocbc-ds__content__brand__colors__bg--'+val.bg)
              .ocbc-ds__content__brand__colors__txt
                p.ocbc-ds__content__brand__colors__title
                  | !{val.title}
                p.ocbc-ds__content__brand__colors__hex
                  | !{val.hex}
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Secondary Color
        p.ocbc-ds__content__brand__item__desc
          | Additional colors are used to support and complement the primary color.
        .ocbc-ds__content__brand__colors__list
          -
            secondaryColors = [
              {
                bg: 'black',
                title: 'Black',
                hex: '#313131'
              },
              {
                bg: 'white',
                title: 'White',
                hex: '#FFFFFF'
              },
              {
                bg: 'overlay',
                title: 'Overlay',
                hex: '#08090F (80%)'
              },
              {
                bg: 'green',
                title: 'Green',
                hex: '#449B94'
              },
              {
                bg: 'yellow',
                title: 'Yellow',
                hex: '#D6AD14'
              }
            ];
          each val in secondaryColors
            .ocbc-ds__content__brand__colors__item
              .ocbc-ds__content__brand__colors__bg(class='ocbc-ds__content__brand__colors__bg--'+val.bg)
              .ocbc-ds__content__brand__colors__txt
                p.ocbc-ds__content__brand__colors__title
                  | !{val.title}
                p.ocbc-ds__content__brand__colors__hex
                  | !{val.hex}
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Shades of Gray
        p.ocbc-ds__content__brand__item__desc
          | Alternatives of monochromatic gray spectrum to support both primary and secondary color.
        .ocbc-ds__content__brand__colors__list
          -
            shadeOfGrayColors = [
              {
                bg: 'gray-1',
                title: 'Gray-1',
                hex: '#80909F'
              },
              {
                bg: 'gray-2',
                title: 'Gray-2',
                hex: '#939FAB'
              },
              {
                bg: 'gray-3',
                title: 'Gray-3',
                hex: '#C2C9D1'
              },
              {
                bg: 'gray-4',
                title: 'Gray-4',
                hex: '#DAE0E6'
              },
              {
                bg: 'gray-4',
                title: 'Gray-4',
                hex: '#F0F1F5'
              }
            ];
          each val in shadeOfGrayColors
            .ocbc-ds__content__brand__colors__item
              .ocbc-ds__content__brand__colors__bg(class='ocbc-ds__content__brand__colors__bg--'+val.bg)
              .ocbc-ds__content__brand__colors__txt
                p.ocbc-ds__content__brand__colors__title
                  | !{val.title}
                p.ocbc-ds__content__brand__colors__hex
                  | !{val.hex}
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Premier Color
        p.ocbc-ds__content__brand__item__desc
          | Treatment of gold is used exclusively for information related to Premier banking.
        .ocbc-ds__content__brand__colors__list
          -
            premierColors = [
              {
                bg: 'majestic-gold-1',
                title: 'Majestic Gold 1',
                hex: '#8B7866'
              },
              {
                bg: 'majestic-gold-2',
                title: 'Majestic Gold 2',
                hex: '#BFAD98'
              },
              {
                bg: 'majestic-gold-3',
                title: 'Majestic Gold 3',
                hex: '#6E5C4A'
              },
              {
                bg: 'grad-premier-1',
                title: 'Gradient-Premier-1',
                hex: '#BFAD98 to #6E5C4A'
              },
              {
                bg: 'grad-premier-2',
                title: 'Gradient-Premier-2',
                hex: '#BFAD98 to #8B7866'
              }
            ];
          each val in premierColors
            .ocbc-ds__content__brand__colors__item
              .ocbc-ds__content__brand__colors__bg(class='ocbc-ds__content__brand__colors__bg--'+val.bg)
              .ocbc-ds__content__brand__colors__txt
                p.ocbc-ds__content__brand__colors__title
                  | !{val.title}
                p.ocbc-ds__content__brand__colors__hex
                  | !{val.hex}
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Private Color
        p.ocbc-ds__content__brand__item__desc
          | Treatment of silver is used exclusively for information related to Private banking.
        .ocbc-ds__content__brand__colors__list
          -
            privateColors = [
              {
                bg: 'dark-silver',
                title: 'Dark Silver',
                hex: '#6A6D73'
              },
              {
                bg: 'grad-private-1',
                title: 'Gradient-Private-1',
                hex: '#AAA7AE to #6A6D73'
              },
              {
                bg: 'grad-private-2',
                title: 'Gradient-Private-2',
                hex: '#E7E7E7 to #BDBDBD'
              }
            ];
          each val in privateColors
            .ocbc-ds__content__brand__colors__item
              .ocbc-ds__content__brand__colors__bg(class='ocbc-ds__content__brand__colors__bg--'+val.bg)
              .ocbc-ds__content__brand__colors__txt
                p.ocbc-ds__content__brand__colors__title
                  | !{val.title}
                p.ocbc-ds__content__brand__colors__hex
                  | !{val.hex}
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Font Color
        p.ocbc-ds__content__brand__item__desc
          | These are the accessible options for the color used for content on OCBC NISP public website.
        .ocbc-ds__content__brand__colors__list
          -
            fontColors = [
              {
                bg: 'red',
                title: 'Red',
                hex: '#EB2629'
              },
              {
                bg: 'black',
                title: 'Black',
                hex: '#313131'
              },
              {
                bg: 'gray',
                title: 'Gray',
                hex: '#667584'
              },
              {
                bg: 'white',
                title: 'White',
                hex: '#FFFFFF'
              }
            ];
          each val in fontColors
            .ocbc-ds__content__brand__colors__item
              .ocbc-ds__content__brand__colors__bg(class='ocbc-ds__content__brand__colors__bg--'+val.bg)
              .ocbc-ds__content__brand__colors__txt
                p.ocbc-ds__content__brand__colors__title
                  | !{val.title}
                p.ocbc-ds__content__brand__colors__hex
                  | !{val.hex}
