//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Grid & Layout
  @description: Design System - Content - Brand: Grid & Layout
  -------------------------------------------------------------------------------//

+ds__contentItem('Grid & Layout', 'Brand Guideline')
  //ocbc-ds__content__brand__grid-layout
  .ocbc-ds__content__brand__grid-layout
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | It’s important to bring consistency in every aspect of the design. Maintaining consistency in using the grid system provides the foundation for positioning elements onscreen. It helps create an experience that facilitates understanding and brings order to the page.
    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Desktop Grid
        p.ocbc-ds__content__brand__item__desc
          | We are using the 12-grids system as a baseline that follows below specification.
        .ocbc-ds__content__brand__grid-layout__img-wrapper
          img.ocbc-ds__content__brand__grid-layout__img.ocbc-ds__content__brand__grid-layout__img--desktop(src='img/ds/desktop-grid.png', alt='Desktop Grid')/
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Responsiveness
        p.ocbc-ds__content__brand__item__desc
          | The screen layout and every different component on the screen should be adaptable to various sizes, orientations, resolutions, and aspect ratios.
        .ocbc-ds__content__brand__grid-layout__img-wrapper
          img.ocbc-ds__content__brand__grid-layout__img.ocbc-ds__content__brand__grid-layout__img--responsive(src='img/ds/responsive-grid.png', alt='Responsive Grid')/
