//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Iconography
  @description: Design System - Content - Brand: Iconography
  -------------------------------------------------------------------------------//

+ds__contentItem('Iconography', 'Brand Guideline')
  //ocbc-ds__content__brand__iconography
  .ocbc-ds__content__brand__iconography
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | Icons take a helpful part in terms of breaking down the information that needs a graphic representation by making it easily scannable and hierarchical.
      p.ocbc-ds__content__brand__head__desc
        | Using line illustrations, we are applying the hint of red color for the main focus of the icon with a combination of black and white color, maintaining the 6pt black outline.
    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Icon Font
        p.ocbc-ds__content__brand__item__desc
          | Icon Font is icon using font family OCBC NISP Icon (Custom Icon Font)
        .ocbc-ds__content__brand__iconography__scrollover
          .ocbc-ds__content__brand__iconography__tbl-wrapper
            .ocbc-ds__content__brand__iconography__tbl
              .ocbc-ds__content__brand__iconography__row.ocbc-ds__content__brand__iconography__row--title
                .ocbc-ds__content__brand__iconography__col
                  p.ocbc-ds__content__brand__iconography__label
                    | Name
                .ocbc-ds__content__brand__iconography__col
                  p.ocbc-ds__content__brand__iconography__label
                    | Icon
                .ocbc-ds__content__brand__iconography__col
                  p.ocbc-ds__content__brand__iconography__label
                    | How to Use (in HTML)
              -
                fontIconList = [
                                {
                                  icon: "exit-small",
                                  name: "Exit Small"
                                },
                                {
                                  icon: "play-button",
                                  name: "Play Button"
                                },
                                {
                                  icon: "add",
                                  name: "Add"
                                },
                                {
                                  icon: "arrow-right",
                                  name: "Arrow Right"
                                },
                                {
                                  icon: "burger-menu",
                                  name: "Burger Menu"
                                },
                                {
                                  icon: "calendar",
                                  name: "Calendar"
                                },
                                {
                                  icon: "call",
                                  name: "Call"
                                },
                                {
                                  icon: "checklist",
                                  name: "Checklist"
                                },
                                {
                                  icon: "chevron-down",
                                  name: "Chevron Down"
                                },
                                {
                                  icon: "chevron-left",
                                  name: "Chevron Left"
                                },
                                {
                                  icon: "chevron-right",
                                  name: "Chevron Right"
                                },
                                {
                                  icon: "chevron-up",
                                  name: "Chevron Up"
                                },
                                {
                                  icon: "ewallet",
                                  name: "e-Wallet"
                                },
                                {
                                  icon: "exit",
                                  name: "Exit"
                                },
                                {
                                  icon: "facebook",
                                  name: "Facebook"
                                },
                                {
                                  icon: "instagram",
                                  name: "Instagram"
                                },
                                {
                                  icon: "login",
                                  name: "Login"
                                },
                                {
                                  icon: "pie-chart",
                                  name: "Pie Chart"
                                },
                                {
                                  icon: "question-mark",
                                  name: "Question Mark"
                                },
                                {
                                  icon: "refresh",
                                  name: "Refresh"
                                },
                                {
                                  icon: "search",
                                  name: "Search"
                                },
                                {
                                  icon: "switch",
                                  name: "Switch"
                                },
                                {
                                  icon: "twitter",
                                  name: "Twitter"
                                },
                                {
                                  icon: "youtube",
                                  name: "Youtube"
                                },
                                {
                                  icon: "twitter-circle",
                                  name: "Twitter Circle"
                                },
                                {
                                  icon: "instagram-circle",
                                  name: "Instagram Circle"
                                },
                                {
                                  icon: "phone-circle",
                                  name: "Phone Circle"
                                },
                                {
                                  icon: "copylink",
                                  name: "Copylink"
                                },
                                {
                                  icon: "linkedin",
                                  name: "Linkedin"
                                },
                                {
                                  icon: "whatsapp",
                                  name: "Whatsapp"
                                },
                                {
                                  icon: "line",
                                  name: "Line"
                                }
                              ];
              each val in fontIconList
                .ocbc-ds__content__brand__iconography__row
                  .ocbc-ds__content__brand__iconography__col
                    p.ocbc-ds__content__brand__iconography__name
                      | !{val.name}
                  .ocbc-ds__content__brand__iconography__col
                    i(class='ocbc-fi ocbc-fi-'+val.icon)
                  .ocbc-ds__content__brand__iconography__col
                    p.ocbc-ds__content__brand__iconography__tag
                      | &lt;i class="ocbc-fi ocbc-fi-#{val.icon}"&gt;&lt;i&gt;
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Icon Image
        p.ocbc-ds__content__brand__item__desc
          | Icon image is icon using image file (png, svg image)
        .ocbc-ds__content__brand__iconography__scrollover
          .ocbc-ds__content__brand__iconography__tbl-wrapper
            .ocbc-ds__content__brand__iconography__tbl
              .ocbc-ds__content__brand__iconography__row.ocbc-ds__content__brand__iconography__row--title
                .ocbc-ds__content__brand__iconography__col
                  p.ocbc-ds__content__brand__iconography__label
                    | Name
                .ocbc-ds__content__brand__iconography__col
                  p.ocbc-ds__content__brand__iconography__label
                    | Icon
                .ocbc-ds__content__brand__iconography__col
                  p.ocbc-ds__content__brand__iconography__label
                    | How to Use (in HTML)
              -
                iconImageList = [
                                  {
                                    icon: "account.svg",
                                    name: "Account"
                                  },
                                  {
                                    icon: "advice-lc.svg",
                                    name: "Advice LC"
                                  },
                                  {
                                    icon: "advice.svg",
                                    name: "Advice"
                                  },
                                  {
                                    icon: "all-result.svg",
                                    name: "All Result"
                                  },
                                  {
                                    icon: "atm.svg",
                                    name: "ATM"
                                  },
                                  {
                                    icon: "btn-widget-default.svg",
                                    name: "Button Widget Default"
                                  },
                                  {
                                    icon: "cabang-private.svg",
                                    name: "Cabang Private"
                                  },
                                  {
                                    icon: "cabang.svg",
                                    name: "Cabang"
                                  },
                                  {
                                    icon: "calculator.svg",
                                    name: "Calculator"
                                  },
                                  {
                                    icon: "calendar.svg",
                                    name: "Calendar"
                                  },
                                  {
                                    icon: "call-center.svg",
                                    name: "Call Center"
                                  },
                                  {
                                    icon: "card-recommendation.svg",
                                    name: "Card Recommendation"
                                  },
                                  {
                                    icon: "card-suggestion-2.svg",
                                    name: "Card Suggestion 2"
                                  },
                                  {
                                    icon: "card-suggestion-3.svg",
                                    name: "Card Suggestion 3"
                                  },
                                  {
                                    icon: "checklist-gold.svg",
                                    name: "Checklist Gold"
                                  },
                                  {
                                    icon: "checklist.svg",
                                    name: "Checklist"
                                  },
                                  {
                                    icon: "close.svg",
                                    name: "Close"
                                  },
                                  {
                                    icon: "communication.svg",
                                    name: "Communication"
                                  },
                                  {
                                    icon: "copylink.svg",
                                    name: "Copylink"
                                  },
                                  {
                                    icon: "debit-tanpa-beban.svg",
                                    name: "Debit Tanpa Beban"
                                  },
                                  {
                                    icon: "deposit-star.svg",
                                    name: "Deposit Star"
                                  },
                                  {
                                    icon: "deposit.svg",
                                    name: "Deposit"
                                  },
                                  {
                                    icon: "digital-channel.svg",
                                    name: "Digital Channel"
                                  },
                                  {
                                    icon: "dining.svg",
                                    name: "Dining"
                                  },
                                  {
                                    icon: "document.svg",
                                    name: "Document"
                                  },
                                  {
                                    icon: "dream-home.svg",
                                    name: "Dream Home"
                                  },
                                  {
                                    icon: "e-channel.svg",
                                    name: "e-Channel"
                                  },
                                  {
                                    icon: "easy-terms.svg",
                                    name: "Easy Terms"
                                  },
                                  {
                                    icon: "easy-terms-white.svg",
                                    name: "Easy Terms White"
                                  },
                                  {
                                    icon: "education.svg",
                                    name: "Education"
                                  },
                                  {
                                    icon: "elements.svg",
                                    name: "Elements"
                                  },
                                  {
                                    icon: "elevation.png",
                                    name: "Elevation"
                                  },
                                  {
                                    icon: "email.svg",
                                    name: "Email"
                                  },
                                  {
                                    icon: "ewallet.svg",
                                    name: "e-Wallet"
                                  },
                                  {
                                    icon: "exchange-value.svg",
                                    name: "Exchange Value"
                                  },
                                  {
                                    icon: "experience.svg",
                                    name: "Experience"
                                  },
                                  {
                                    icon: "filter.svg",
                                    name: "Filter"
                                  },
                                  {
                                    icon: "focus.svg",
                                    name: "Focus"
                                  },
                                  {
                                    icon: "focus-en.svg",
                                    name: "Focus English"
                                  },
                                  {
                                    icon: "form.svg",
                                    name: "Form"
                                  },
                                  {
                                    icon: "foreign-currency-white.svg",
                                    name: "Foreign Currency White"
                                  },
                                  {
                                    icon: "fragment-default.svg",
                                    name: "Fragment Default"
                                  },
                                  {
                                    icon: "global-business.svg",
                                    name: "Global Business"
                                  },
                                  {
                                    icon: "graph.svg",
                                    name: "Graph"
                                  },
                                  {
                                    icon: "hajj.svg",
                                    name: "Hajj"
                                  },
                                  {
                                    icon: "hand-dollar.svg",
                                    name: "Hand Dollar"
                                  },
                                  {
                                    icon: "handshake.svg",
                                    name: "Handshake"
                                  },
                                  {
                                    icon: "idea.svg",
                                    name: "Idea"
                                  },
                                  {
                                    icon: "important.svg",
                                    name: "Important"
                                  },
                                  {
                                    icon: "insurance.svg",
                                    name: "Insurance"
                                  },
                                  {
                                    icon: "insurance-white.svg",
                                    name: "Insurance White"
                                  },
                                  {
                                    icon: "investasi-private.svg",
                                    name: "Investasi Private"
                                  },
                                  {
                                    icon: "investation.svg",
                                    name: "Investation"
                                  },
                                  {
                                    icon: "join-premier-banking.svg",
                                    name: "Join Premier Banking"
                                  },
                                  {
                                    icon: "kurs.svg",
                                    name: "Kurs"
                                  },
                                  {
                                    icon: "layan-trust-private.svg",
                                    name: "Layan Trust Private"
                                  },
                                  {
                                    icon: "legacy-transfer-plan-private-black.svg",
                                    name: "Legacy Transfer Plan Private Black"
                                  },
                                  {
                                    icon: "legacy-transfer-plan-private.svg",
                                    name: "Legacy Transfer Plan Private"
                                  },
                                  {
                                    icon: "light-bulb.svg",
                                    name: "Light Bulb"
                                  },
                                  {
                                    icon: "live-no-worries.svg",
                                    name: "Live no Worries"
                                  },
                                  {
                                    icon: "login-gray.svg",
                                    name: "Login Gray"
                                  },
                                  {
                                    icon: "login-primary.svg",
                                    name: "Login Primary"
                                  },
                                  {
                                    icon: "login-white.svg",
                                    name: "Login White"
                                  },
                                  {
                                    icon: "login.svg",
                                    name: "Login"
                                  },
                                  {
                                    icon: "mastercard-bird.svg",
                                    name: "Mastercard Bird"
                                  },
                                  {
                                    icon: "mastercard-diamond.svg",
                                    name: "Mastercard Diamond"
                                  },
                                  {
                                    icon: "mastercard-gift.svg",
                                    name: "Mastercard Gift"
                                  },
                                  {
                                    icon: "mastercard-global.svg",
                                    name: "Mastercard Global"
                                  },
                                  {
                                    icon: "mastercard-voyage.svg",
                                    name: "Mastercard Voyage"
                                  },
                                  {
                                    icon: "mastercard.svg",
                                    name: "Mastercard"
                                  },
                                  {
                                    icon: "mega-menu-widget-1.svg",
                                    name: "Mega Menu Widget 1"
                                  },
                                  {
                                    icon: "mega-menu-widget-2.svg",
                                    name: "Mega Menu Widget 2"
                                  },
                                  {
                                    icon: "mega-menu-widget-3.svg",
                                    name: "Mega Menu Widget 3"
                                  },
                                  {
                                    icon: "mega-menu-widget-4.svg",
                                    name: "Mega Menu Widget 4"
                                  },
                                  {
                                    icon: "mega-menu-widget-5.svg",
                                    name: "Mega Menu Widget 5"
                                  },
                                  {
                                    icon: "mega-menu-widget-6.svg",
                                    name: "Mega Menu Widget 6"
                                  },
                                  {
                                    icon: "moneybag-private.svg",
                                    name: "Moneybag Private"
                                  },
                                  {
                                    icon: "mortgage.svg",
                                    name: "Mortgage"
                                  },
                                  {
                                    icon: "network.svg",
                                    name: "Network"
                                  },
                                  {
                                    icon: "no-result.svg",
                                    name: "No Result"
                                  },
                                  {
                                    icon: "nyala-individu.svg",
                                    name: "Nyala Individu"
                                  },
                                  {
                                    icon: "ocbc-logo.svg",
                                    name: "OCBC Logo"
                                  },
                                  {
                                    icon: "operational.svg",
                                    name: "Operational"
                                  },
                                  {
                                    icon: "partnership.svg",
                                    name: "Partnership"
                                  },
                                  {
                                    icon: "options-white.svg",
                                    name: "Options White"
                                  },
                                  {
                                    icon: "party.svg",
                                    name: "Party"
                                  },
                                  {
                                    icon: "phone-gray.svg",
                                    name: "Phone Gray"
                                  },
                                  {
                                    icon: "phone-primary.svg",
                                    name: "Phone Primary"
                                  },
                                  {
                                    icon: "phone-white.svg",
                                    name: "Phone-white"
                                  },
                                  {
                                    icon: "phone.svg",
                                    name: "Phone"
                                  },
                                  {
                                    icon: "plane.svg",
                                    name: "Plane"
                                  },
                                  {
                                    icon: "plus.svg",
                                    name: "Plus"
                                  },
                                  {
                                    icon: "potency.svg",
                                    name: "Potency"
                                  },
                                  {
                                    icon: "print.svg",
                                    name: "Print"
                                  },
                                  {
                                    icon: "privilege-services-white.svg",
                                    name: "Privilege Services White"
                                  },
                                  {
                                    icon: "privilege-services.svg",
                                    name: "Privilege Services"
                                  },
                                  {
                                    icon: "promo.svg",
                                    name: "Promo"
                                  },
                                  {
                                    icon: "quote.svg",
                                    name: "Quote"
                                  },
                                  {
                                    icon: "rachel.png",
                                    name: "Rachel"
                                  },
                                  {
                                    icon: "report.svg",
                                    name: "Report"
                                  },
                                  {
                                    icon: "rocket.svg",
                                    name: "Rocket"
                                  },
                                  {
                                    icon: "saving-star.svg",
                                    name: "Saving Star"
                                  },
                                  {
                                    icon: "search-gray.svg",
                                    name: "Search Gray"
                                  },
                                  {
                                    icon: "separated-account.svg",
                                    name: "Separated Account"
                                  },
                                  {
                                    icon: "share.svg",
                                    name: "Share"
                                  },
                                  {
                                    icon: "shopping-bag.svg",
                                    name: "Shopping Bag"
                                  },
                                  {
                                    icon: "smartphone.svg",
                                    name: "Smartphone"
                                  },
                                  {
                                    icon: "spirit.svg",
                                    name: "Spirit"
                                  },
                                  {
                                    icon: "success.svg",
                                    name: "Success"
                                  },
                                  {
                                    icon: "suitcase.svg",
                                    name: "Suitcase"
                                  },
                                  {
                                    icon: "supply-chain.svg",
                                    name: "Supply Chain"
                                  },
                                  {
                                    icon: "switch.svg",
                                    name: "Switch"
                                  },
                                  {
                                    icon: "tailor-made-solution-private-black.svg",
                                    name: "Tailor Made Solution Private Black"
                                  },
                                  {
                                    icon: "tailor-made-solution-private.svg",
                                    name: "Tailor Made Solution Private"
                                  },
                                  {
                                    icon: "trade-center.svg",
                                    name: "Trade Center"
                                  },
                                  {
                                    icon: "trade-financing.svg",
                                    name: "Trade Financing"
                                  },
                                  {
                                    icon: "transaction.svg",
                                    name: "Transaction"
                                  },
                                  {
                                    icon: "transfer.svg",
                                    name: "Transfer"
                                  },
                                  {
                                    icon: "twitter.svg",
                                    name: "Twitter"
                                  },
                                  {
                                    icon: "typography.svg",
                                    name: "Typography"
                                  },
                                  {
                                    icon: "universal.svg",
                                    name: "Universal"
                                  },
                                  {
                                    icon: "upload.svg",
                                    name: "Upload"
                                  },
                                  {
                                    icon: "visa.svg",
                                    name: "Visa"
                                  },
                                  {
                                    icon: "wealth-discovery.svg",
                                    name: "Wealth Discovery"
                                  },
                                  {
                                    icon: "wealth-discovery-white.svg",
                                    name: "Wealth Discovery White"
                                  },
                                  {
                                    icon: "wealth-management-private-black.svg",
                                    name: "Wealth Management Private Black"
                                  },
                                  {
                                    icon: "wealth-management-private.svg",
                                    name: "Wealth Management Private"
                                  },
                                  {
                                    icon: "wealth-management.svg",
                                    name: "Wealth Management"
                                  },
                                  {
                                    icon: "wealth-management-white.svg",
                                    name: "Wealth Management White"
                                  },
                                  {
                                    icon: "whatsapp.svg",
                                    name: "Whatsapp"
                                  },
                                  {
                                    icon: "wifi.svg",
                                    name: "Wifi"
                                  }
                                ];
              each val in iconImageList
                .ocbc-ds__content__brand__iconography__row
                  .ocbc-ds__content__brand__iconography__col
                    p.ocbc-ds__content__brand__iconography__name
                      | !{val.name}
                  .ocbc-ds__content__brand__iconography__col
                    img.ocbc-ds__content__brand__iconography__icon-img(src='img/icon/'+val.icon, alt=val.name)/
                  .ocbc-ds__content__brand__iconography__col
                    p.ocbc-ds__content__brand__iconography__tag
                      | &lt;img src="img/icon/#{val.icon}" alt="#{val.name}"/&gt;
