//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Imagery
  @description: Design System - Content - Brand: Imagery
  -------------------------------------------------------------------------------//

+ds__contentItem('Imagery', 'Brand Guideline')
  //ocbc-ds__content__brand__imagery
  .ocbc-ds__content__brand__imagery
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | OCBC NISP photography is all about being real. It is a powerful way to communicate our unique branding identity.
      p.ocbc-ds__content__brand__head__desc
        | To ensure the unique, observed, and authentic in our photography, imagery should come from our own photoshoot and the existing image library. The use of stock images is not recommended unless necessary.
    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Images
        .ocbc-ds__content__brand__item__img-wrapper
          ='\n'
          img.ocbc-ds__content__brand__item__img(src='img/ds/imagery-images.png', alt='Images')/
          |!{''}
          |
        .ocbc-ds__content__brand__item__list
          p.ocbc-ds__content__brand__item__list__desc
            | The selection of images should be compelling, strong, should feel natural and unstaged.
          ul.ocbc-ds__content__brand__item__list__ul
            li.ocbc-ds__content__brand__item__list__li
              | Real
              br/
              | Tells meaningful stories that true to the heart
            li.ocbc-ds__content__brand__item__list__li
              | Empowering
              br/
              | Photos and situations have to make users feel more persuasive and confident. The gallery should showcase the process instead of the result
            li.ocbc-ds__content__brand__item__list__li
              | Welcoming
              br/
              | It gives a sense of comfort as people entering the OCBC NISP website, and they always feel welcome, not strange
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Photo Guideline
        .ocbc-ds__content__brand__item__list
          p.ocbc-ds__content__brand__item__list__desc
            | In photography, we have two layers of how we do the storytelling through photo:
            br/
            | All focus on the unique things that make OCBC NISP great: the people and the product.
          ul.ocbc-ds__content__brand__item__list__ul
            li.ocbc-ds__content__brand__item__list__li
              | Focus on People
              br/
              | A celebration of doing things they love and living their lives. The photos should be reflecting real-life situations. Where possible, we focus on real characters, real environments, and genuine activities. We want to show real people from all walks and ages of life who are at ease with themselves.
            li.ocbc-ds__content__brand__item__list__li
              | Focus on Product
              br/
              | What makes OCBC NISP great through the varied range of its products.

          .ocbc-ds__content__brand__item__img-wrapper
            ='\n'
            img.ocbc-ds__content__brand__item__img(src='img/ds/imagery-photo-guideline.png', alt='Photo Guideline')/
            |!{''}
            |
