//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand
  @description: Design System - Content - Brand
  -------------------------------------------------------------------------------//

//- ocbc-ds__content__section
+ds__contentSection('Brand')
  //- logo
  include logo.pug

  //- colors
  include colors.pug

  //- grid-layout
  include grid-layout.pug

  //- object-style
  include object-style.pug

  //- typography
  include typography.pug

  //- iconography
  include iconography.pug

  //- imagery
  include imagery.pug

