//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Logo
  @description: Design System - Content - Brand: Logo
  -------------------------------------------------------------------------------//

+ds__contentItem('Logo', 'Brand Guideline')
  //ocbc-ds__content__brand__logo
  .ocbc-ds__content__brand__logo
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | The OCBC NISP Logo reflects the bank’s strong Asian heritage and represents a long-term relationship with customers based on mutual growth driven by knowledge principle.
      p.ocbc-ds__content__brand__head__desc
        | The OCBC NISP logo and sub-logos are the most important parts of the OCBC NISP brand that they have to be always legible, prominent, and unobstructed in any of our digital applications.
      p.ocbc-ds__content__brand__head__desc
        | To ensure brand attribution and recognition, the following section provides what you need to know about how to use the OCBC NISP logo.
    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Primary Logo
        p.ocbc-ds__content__brand__item__desc
          | Use the primary logo whenever possible. This primary logo should be prioritized in all design output.
        .ocbc-ds__content__brand__logo__img-wrapper
          ='\n'
          img.ocbc-ds__content__brand__logo__img.ocbc-ds__content__brand__logo__img--primary(src='img/ds/primary-logo.png', alt='Primary Logo')/
          |!{''}
          |
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Inverse Logo
        p.ocbc-ds__content__brand__item__desc
          | Use this logo only when there is a conflict in using color variations of the primary logo.
        .ocbc-ds__content__brand__logo__img-wrapper
          ='\n'
          img.ocbc-ds__content__brand__logo__img.ocbc-ds__content__brand__logo__img--inverse(src='img/ds/inverse-logo.png', alt='Inverse Logo')/
          |!{''}
          |
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Nyala Logo
        p.ocbc-ds__content__brand__item__desc
          | Provided for Nyala campaign and placed on a white or light-colored background.
        .ocbc-ds__content__brand__logo__nyala
          .ocbc-ds__content__brand__logo__nyala__item
            .ocbc-ds__content__brand__logo__nyala__img-wrapper
              ='\n'
              img.ocbc-ds__content__brand__logo__nyala__img(src='img/ds/nyala.png', alt='Nyala')/
              |!{''}
              |
            p.ocbc-ds__content__brand__logo__nyala__title
              | Nyala Basic
          .ocbc-ds__content__brand__logo__nyala__item
            .ocbc-ds__content__brand__logo__nyala__img-wrapper
              ='\n'
              img.ocbc-ds__content__brand__logo__nyala__img(src='img/ds/nyala-individu.png', alt='Nyala Individu')/
              |!{''}
              |
            p.ocbc-ds__content__brand__logo__nyala__title
              | Nyala Individu
          .ocbc-ds__content__brand__logo__nyala__item
            .ocbc-ds__content__brand__logo__nyala__img-wrapper
              ='\n'
              img.ocbc-ds__content__brand__logo__nyala__img(src='img/ds/nyala-business.png', alt='Nyala Business')/
              |!{''}
              |
            p.ocbc-ds__content__brand__logo__nyala__title
              | Nyala Business
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Elevation Logo
        p.ocbc-ds__content__brand__item__desc
          | Provided for Elevation card promotion and placed on a white or light-colored background.
        .ocbc-ds__content__brand__logo__elevation
          ='\n'
          img.ocbc-ds__content__brand__logo__elevation__img(src='img/ds/elevation.png', alt='Elevation')/
          |!{''}
          |
