//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Object Style
  @description: Design System - Content - Brand: Object Style
  -------------------------------------------------------------------------------//

+ds__contentItem('Object Style', 'Brand Guideline')
  //ocbc-ds__content__brand__object-style
  .ocbc-ds__content__brand__object-style
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | Use these specifications to create alternate appearance of the block color element that shows different state. It also shows the visual hierarchy and depth of field of the components created.
    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Line
        .ocbc-ds__content__brand__object-style__list
          .ocbc-ds__content__brand__object-style__list__item
            h4.ocbc-ds__content__brand__object-style__list__title
              | Line - 1px
            .ocbc-ds__content__brand__object-style__line
              -
                line1List = [
                  {
                    className: 'red',
                    desc: 'Red'
                  },
                  {
                    className: 'black',
                    desc: 'Black'
                  },
                  {
                    className: 'gray',
                    desc: 'Gray'
                  },
                  {
                    className: 'mid-gray',
                    desc: 'Mid-Gray'
                  },
                  {
                    className: 'light-gray',
                    desc: 'Light-Gray'
                  },
                  {
                    className: 'gold',
                    desc: 'Gold'
                  }
                ];
              each val in line1List
                .ocbc-ds__content__brand__object-style__line__item.ocbc-ds__content__brand__object-style__line__item--1(class='ocbc-ds__content__brand__object-style__line__item--'+val.className)
                  p.ocbc-ds__content__brand__object-style__line__item__desc
                    | !{val.desc}
          .ocbc-ds__content__brand__object-style__list__item
            h4.ocbc-ds__content__brand__object-style__list__title
              | Line - 2px
            .ocbc-ds__content__brand__object-style__line
              -
                line2List = [
                  {
                    className: 'red',
                    desc: 'Red'
                  },
                  {
                    className: 'black',
                    desc: 'Black'
                  },
                  {
                    className: 'white',
                    desc: 'White'
                  },
                  {
                    className: 'gray',
                    desc: 'Gray'
                  },
                  {
                    className: 'gold',
                    desc: 'Gold'
                  }
                ];
              each val in line2List
                .ocbc-ds__content__brand__object-style__line__item.ocbc-ds__content__brand__object-style__line__item--2(class='ocbc-ds__content__brand__object-style__line__item--'+val.className)
                  p.ocbc-ds__content__brand__object-style__line__item__desc
                    | !{val.desc}
      .ocbc-ds__content__brand__item
        h2.ocbc-ds__content__brand__item__title
          | Shadow
        .ocbc-ds__content__brand__object-style__shadow
          -
            shadowList = [
              {
                className: '4dp',
                desc: 'Shadow - 4DP'
              },
              {
                className: '6dp',
                desc: 'Shadow - 6DP'
              },
              {
                className: '8dp',
                desc: 'Shadow - 8DP'
              },
              {
                className: '16dp',
                desc: 'Shadow - 16DP'
              }
            ];
          each val in shadowList
            .ocbc-ds__content__brand__object-style__shadow__item(class='ocbc-ds__content__brand__object-style__shadow__item--'+val.className)
              p.ocbc-ds__content__brand__object-style__shadow__item__desc
                | !{val.desc}
