//-------------------------------------------------------------------------------
  @name: Design System - Content - Brand: Typography
  @description: Design System - Content - Brand: Typography
  -------------------------------------------------------------------------------//

//--- Mixin ---
mixin fontTable(datas)
  each val in datas
    .ocbc-ds__brand__row.ocbc-ds__brand__fz
      .ocbc-ds__brand__col
        p.ocbc-ds__content__brand__fz-label
          | !{val.text.left}
      .ocbc-ds__brand__col
        p.ocbc-ds__content__brand__fz-label
          | !{val.text.center}
      .ocbc-ds__brand__col
        #{val.tag}(class=val.className) !{val.text.right}

//- ds__contentItem
+ds__contentItem('Typography', 'Brand Guideline')
  //ocbc-ds__content__brand__typography
  .ocbc-ds__content__brand__typography
    .ocbc-ds__content__brand__head
      p.ocbc-ds__content__brand__head__desc
        | Strong typography comes from a strong typeface. The way we use typography influences how content is read and interpreted. In OCBC NISP public website, we are applying several treatments of typefaces.

    .ocbc-ds__content__brand__list
      .ocbc-ds__content__brand__item
        //- ds__contentBodyItem
        +ds__contentBodyItem('Font Type: Fira Sans')
          //ocbc-ds__content__table-row
          .ocbc-ds__content__table-row
              .ocbc-ds__content__table-col
                p.ocbc-txt__small.ocbc-txt--gray-2.ocbc-ds__body__subtitle Glyphs
                .ocbc-ds__brand__row
                  .ocbc-ds__brand__col
                    p.ocbc-txt__h1.ocbc-txt--bold Aa
                  .ocbc-ds__brand__col
                    p.ocbc-txt__h1 Aa
              .ocbc-ds__content__table-col
                p.ocbc-txt__small.ocbc-txt--gray-2.ocbc-ds__body__subtitle Characters
                .ocbc-ds__brand__row
                  .ocbc-ds__brand__col
                    p.ocbc-txt__h2.ocbc-txt--bold
                      | 0123456789
                      br/
                      | ABCDEFGHIJ
                      br/
                      | KLMNOPQRS
                      br/
                      | TUVWXYZ
                  .ocbc-ds__brand__col
                    p.ocbc-txt__h2
                      | 0123456789
                      br/
                      | ABCDEFGHIJ
                      br/
                      | KLMNOPQRS
                      br/
                      | TUVWXYZ

      ='\n'
      .ocbc-ds__content__brand__item
        //- ds__contentBodyItem
        +ds__contentBodyItem('Font Weight')
          p.ocbc-txt__h2.ocbc-txt--bold Fira Sans Bold
          p.ocbc-txt__h2.ocbc-txt--medium Fira Sans Medium
          p.ocbc-txt__h2.ocbc-txt--regular Fira Sans Regular

      ='\n'
      .ocbc-ds__content__brand__item
        //- ds__contentBodyItem
        +ds__contentBodyItem('Desktop Font Size')
          -
            desktopFontSize = [
                                {
                                  tag: 'h1',
                                  className: 'ocbc-txt__hero ocbc-txt--regular',
                                  text: {
                                    left: 'Hero',
                                    center: '56px/72px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h1',
                                  className: 'ocbc-txt__h1 ocbc-txt--regular',
                                  text: {
                                    left: 'H1',
                                    center: '48px/56px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h2',
                                  className: 'ocbc-txt__h2 ocbc-txt--regular',
                                  text: {
                                    left: 'H2',
                                    center: '32px/40px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h3',
                                  className: 'ocbc-txt__h3 ocbc-txt--regular',
                                  text: {
                                    left: 'H3',
                                    center: '24px/32px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h4',
                                  className: 'ocbc-txt__h4 ocbc-txt--regular',
                                  text: {
                                    left: 'H4',
                                    center: '20px/32px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h4',
                                  className: 'ocbc-txt__h4 ocbc-txt--regular',
                                  text: {
                                    left: 'Title',
                                    center: '20px/32px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'p',
                                  className: 'ocbc-txt__body ocbc-txt--regular',
                                  text: {
                                    left: 'Body',
                                    center: '16px/24px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'p',
                                  className: 'ocbc-txt__small ocbc-txt--regular',
                                  text: {
                                    left: 'Label',
                                    center: '14px/22px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'p',
                                  className: 'ocbc-txt__micro ocbc-txt--regular',
                                  text: {
                                    left: 'Caption',
                                    center: '12px/16px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                }
                              ];

          +fontTable(desktopFontSize)

      ='\n'
      .ocbc-ds__content__brand__item
        +ds__contentBodyItem('Mobile Font Size')
          -
            mobileFontSize = [
                                {
                                  tag: 'h1',
                                  className: 'ocbc-txt__m-hero ocbc-txt--regular',
                                  text: {
                                    left: 'Hero',
                                    center: '32px/40px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h1',
                                  className: 'ocbc-txt__m-h1 ocbc-txt--regular',
                                  text: {
                                    left: 'H1',
                                    center: '24px/32px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h2',
                                  className: 'ocbc-txt__m-h2 ocbc-txt--regular',
                                  text: {
                                    left: 'H2',
                                    center: '20px/32px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h3',
                                  className: 'ocbc-txt__m-h3 ocbc-txt--regular',
                                  text: {
                                    left: 'H3',
                                    center: '18px/24px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h4',
                                  className: 'ocbc-txt__m-h4 ocbc-txt--regular',
                                  text: {
                                    left: 'H4',
                                    center: '18px/24px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'h4',
                                  className: 'ocbc-txt__m-h4 ocbc-txt--regular',
                                  text: {
                                    left: 'Title',
                                    center: '18px/24px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'p',
                                  className: 'ocbc-txt__m-body ocbc-txt--regular',
                                  text: {
                                    left: 'Body',
                                    center: '16px/24px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'p',
                                  className: 'ocbc-txt__m-small ocbc-txt--regular',
                                  text: {
                                    left: 'Label',
                                    center: '14px/22px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                },
                                {
                                  tag: 'p',
                                  className: 'ocbc-txt__m-micro ocbc-txt--regular',
                                  text: {
                                    left: 'Caption',
                                    center: '12px/16px',
                                    right: 'The quick brown fox jumps over the lazy dog'
                                  }
                                }
                              ];

          +fontTable(mobileFontSize)
