//-------------------------------------------------------------------------------
  @name: Kalkulator KPM - Calculator Form
  @description: Kalkulator KPM - Calculator Form
  -------------------------------------------------------------------------------//

extends ../../layout/calculator.pug

block title
  -
    title = 'Wujudkan Kendaraan Impian Sekarang';
    form = {
      action: 'hasil-perhitungan-kalkulator-kpm.html',
      label: 'kpm'
    };

block form
  //ocbc-calc__form__content
  .ocbc-calc__form__section.ocbc-calc__form__section--active
    .ocbc-calc__form__content
      //ocbc-calc__flds
      .ocbc-calc__flds
        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          //ocbc-field
          .ocbc-field
            p.ocbc-field__label
              | Wilayah
            .ocbc-field__select
              .ocbc-select-wrapper.js-select.js-select-zone(data-width='full')
                ='\n'
                select.ocbc-select__element(name='wilayah', data-label='Pilih Wilayah')
                  option(value='', selected)
                    | Pilih Wilayah
                  option(value='1')
                    | Wilayah 1: Sumatera & Kepulauan Sekitarnya
                  option(value='2')
                    | Wilayah 2: DKI, Banten & Jabar
                  option(value='3')
                    | Wilayah 3: Selain Wilayah 1 & Wilayah 2
                |!{''}
                |

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          //ocbc-calc__flds__row
          .ocbc-calc__flds__row
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Harga On the Road
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-input-otd(type='text', name='nominal', placeholder='Masukkan Nominal')/
                  |!{''}
                  |
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              //ocbc-field
              .ocbc-field
                p.ocbc-field__label
                  | Tenor
                .ocbc-field__select
                  .ocbc-select-wrapper.js-select.js-select-tenor(data-width='full')
                    ='\n'
                    select.ocbc-select__element(name='tenor', data-label='Pilih Tenor')
                      option(value='', selected)
                        | Pilih Tenor
                      option(value='1')
                        | 12 Bulan
                      option(value='2')
                        | 24 Bulan
                      option(value='3')
                        | 36 Bulan
                      option(value='4')
                        | 48 Bulan
                    |!{''}
                    |

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          .ocbc-field
            p.ocbc-field__label
              | Hitung Berdasarkan
            .ocbc-field__input-group
              .ocbc-field__input.ocbc-field__input--radio
                ='\n'
                input.ocbc-input.ocbc-input--radio.js-payment-type(type='radio', name='type_cicilan', value='1', checked='checked')/
                ='\n'
                label.ocbc-field__input--radio__label
                  | Uang Muka (%)
                |!{''}
                |
              .ocbc-field__input.ocbc-field__input--radio
                ='\n'
                input.ocbc-input.ocbc-input--radio.js-payment-type(type='radio', name='type_cicilan', value='2')/
                ='\n'
                label.ocbc-field__input--radio__label
                  | Angsuran
                |!{''}
                |

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          //ocbc-calc__flds__row
          .ocbc-calc__flds__row
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Uang Muka (%)
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-input-dp(data-payment='uang-muka', type='text', name='uang_muka', value='25%')/
                  |!{''}
                  |
                p.ocbc-field__note
                  | Minimum 25% dari Harga On the Road
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Angsuran
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-input-installment(data-payment='angsuran',type='text', name='angsuran', value='Rp0', readonly='readonly')/
                  |!{''}
                  |
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Jumlah Uang Muka
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-input-dp-total(type='text', name='jumlah_uang_muka', value='Rp0', readonly='readonly')/
                  |!{''}
                  |

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          //ocbc-calc__flds__row
          .ocbc-calc__flds__row
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Pembiayaan
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-input-cost-total(type='text', name='uang_muka', value='Rp0', readonly='readonly')/
                  |!{''}
                  |
                p.ocbc-field__note
                  | Minimum 50% dari Harga On the Road
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Bunga
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize(type='text', name='angsuran', value='Rp0', readonly='readonly')/
                  |!{''}
                  |
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Total Hutang
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize(type='text', name='angsuran', value='Rp0', readonly='readonly')/
                  |!{''}
                  |

      //ocbc-calc__submit
      .ocbc-calc__submit
        ='\n'
        button.ocbc-btn.ocbc-btn--primary.js-form-submit(type='submit', disabled='disabled')
          | Hitung
        |!{''}
        |

block image
  -
    image = {
      src: 'kpm.png',
      alt: 'KPM'
    }
