//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil - Tab - Latar Belakang
  @description: Tentang Kami - Profil - Tab - Latar Belakang
  -------------------------------------------------------------------------------//

-
  data = {
    years: [
      {
        number: 1941,
        color: 'blue'
      },
      {
        number: 1963,
        color: 'blue'
      },
      {
        number: 1967,
        color: 'blue'
      },
      {
        number: 2008,
        color: 'red'
      },
      {
        number: 2015,
        color: 'red'
      },
      {
        number: 2019,
        color: 'red'
      }
    ],
    content: [
      {
        year: 1941,
        title: 'Bank NISP Memulai Perjalanan di Dunia Perbankan',
        desc: 'NV Nederlandsch Indische Spaar En Deposito Bank atau dikenal sebagai Bank NISP pertama kali berdiri di Bandung dan beroperasi pada tanggal 4 April 1941.',
        image: {
          color: 'blue',
          img: 'image-circle-3.jpg'
        }
      },
      {
        year: 1963,
        title: 'Blanditiis soluta vero asperiores dignissimos harum',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis soluta vero asperiores dignissimos harum earum tenetur ad placeat nulla nostrum, velit',
        image: {
          color: 'blue',
          img: 'image-circle-3.jpg'
        }
      },
      {
        year: 1967,
        title: 'Soluta nobis deleniti earum, dolore est',
        desc: 'Eveniet illo officiis nemo illum iure molestias praesentium ut soluta minima porro dolorem ducimus maxime molestiae ullam pariatur et laboriosam est itaque',
        image: {
          color: 'blue',
          img: 'image-circle-3.jpg'
        }
      },
      {
        year: 2008,
        title: 'Bersatu untuk Bersinergi',
        desc: 'NV Nederlandsch Indische Spaar En Deposito Bank atau dikenal sebagai Bank NISP pertama kali berdiri di Bandung dan beroperasi pada tanggal 4 April 1941.',
        image: {
          color: 'red',
          img: 'image-circle-3.jpg'
        }
      },
      {
        year: 2015,
        title: '2015 OCBC Overseas Investments Pte. Ltd',
        desc: 'OCBC Overseas Investments Pte. Ltd. yang merupakan anak perusahaan dari Oversea-Chinese Banking Corporation Limited (OCBC Bank) telah menjadi pemegang saham mayoritas',
        image: {
          color: 'red',
          img: 'image-circle-3.jpg'
        }
      },
      {
        year: 2019,
        title: '2019 OCBC Overseas Investments Pte. Ltd',
        desc: 'Oversea-Chinese Banking Corporation Limited (OCBC Bank) telah menjadi pemegang saham mayoritas, dengan kepemilikan per akhir tahun 2017 sebesar 85,1%',
        image: {
          color: 'red',
          img: 'image-circle-3.jpg'
        }
      }
    ]
  }
include ../../../components/company-history.pug

-
  data = {
    title: 'Profil Pemegang Saham Pengendali: OCBC BANK',
    description: 'Sejak tahun 2005, OCBC Overseas Investments Pte. Ltd. yang merupakan anak perusahaan dari Oversea-Chinese Banking Corporation Limited (OCBC Bank) telah menjadi pemegang saham mayoritas, dengan kepemilikan per akhir tahun 2017 sebesar 85,1%. Selanjutnya, OCBC Bank sebagai pemegang saham pengendali senantiasa memberikan dukungan penuh kepada Bank OCBC NISP.',
    link: {
      to: '#',
      text: 'Selengkapnya'
    },
    image: {
      color: 'gray',
      img: 'image-circle-2.jpg'
    }
  }
include ../../../components/company-shareholder.pug
