//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil - Tab - Pencapaian
  @description: Tentang Kami - Profil - Tab - Pencapaian
  -------------------------------------------------------------------------------//

extends ../../../layout/achievement.pug

block filter
  -
    data = [
      {
        title: 'Tahun',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Tahun',
            checked: true
          },
          {
            name: '2020',
            text: '2020'
          },
          {
            name: '2019',
            text: '2019'
          },
          {
            name: '2018',
            text: '2018'
          },
          {
            name: '2017',
            text: '2017'
          },
          {
            name: '2016',
            text: '2016'
          },
          {
            name: '2015',
            text: '2015'
          },
          {
            name: '2014',
            text: '2014'
          },
          {
            name: '2013',
            text: '2013'
          },
          {
            name: '2012',
            text: '2012'
          }
        ]
      },
      {
        title: 'Kategori',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Kategori',
            checked: true
          },
          {
            name: 'cs',
            text: 'Customer Service'
          },
          {
            name: 'bisnis',
            text: 'Bisnis'
          },
          {
            name: 'sme',
            text: 'SME'
          },
          {
            name: 'retail',
            text: 'Retail'
          },
          {
            name: 'digital',
            text: 'Digital'
          }
        ]
      }
    ]
  include ../../../layout/filter.pug

block list
  -
    dataList = {
      card: [
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'Indonesia Public Company Award',
          award: 'Indonesia Excellent Performance Public Company 2019',
          location: 'Warta Ekonomi, Indonesia'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'Indonesia Public Company Award',
          award: 'Best SME Bank in Indonesia',
          location: 'Alpha Southeast Asia Singapore'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'SME Bank of the Year – Indonesia Category',
          award: 'Retail Banking Awards',
          location: 'Asian Banking & Finance, Singapore'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'Indonesia Public Company Award',
          award: 'Indonesia Excellent Performance Public Company 2019',
          location: 'Warta Ekonomi, Indonesia'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'Indonesia Public Company Award',
          award: 'Best SME Bank in Indonesia',
          location: 'Alpha Southeast Asia Singapore'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'SME Bank of the Year – Indonesia Category',
          award: 'Retail Banking Awards',
          location: 'Asian Banking & Finance, Singapore'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'Indonesia Public Company Award',
          award: 'Indonesia Excellent Performance Public Company 2019',
          location: 'Warta Ekonomi, Indonesia'
        },
        {
          logo: 'default-circle-black.png',
          date: 'September 2019',
          from: 'Indonesia Public Company Award',
          award: 'Best SME Bank in Indonesia',
          location: 'Alpha Southeast Asia Singapore'
        }
      ]
    };

  - data = dataList.card
  include ../../../components/card-achievement.pug
