//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil - Tab - Struktur Manajemen
  @description: Tentang Kami - Profil - Tab - Struktur Manajemen
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Struktur Organisasi',
      target: 'struktur-organisasi'
    },
    {
      text: 'Dewan Komisaris',
      target: 'dewan-komisaris'
    },
    {
      text: 'Direksi',
      target: 'direksi'
    },
    {
      text: 'Komite',
      target: 'komite'
    }
  ]

//ocbc-management-structure
.ocbc-management-structure
  //ocbc-vertical-tab__page
  .ocbc-vertical-tab__page
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-3.ocbc-col-lg-12.ocbc-col-sm-12
          include ../../../components/vertical-tab.pug
        .ocbc-col-xl-9.ocbc-col-lg-12.ocbc-col-sm-12
          .ocbc-vt-content.ocbc-vt-content--active(data-pane='struktur-organisasi')
            include vertical-tab-content/struktur-organisasi.pug
          .ocbc-vt-content(data-pane='dewan-komisaris')
            include vertical-tab-content/dewan-komisaris.pug
          .ocbc-vt-content(data-pane='direksi')
            include vertical-tab-content/direksi.pug
          .ocbc-vt-content(data-pane='komite')
            include vertical-tab-content/komite.pug
