//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil - Tab - Visi & Misi
  @description: Tentang Kami - Profil - Tab - Visi & Misi
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Visi',
    desc: 'Menjadi bank pilihan dengan standar dunia yang diakui kepeduliannya dan terpercaya.',
    image: {
      color: 'red',
      img: 'image-circle-3.jpg',
      large: true
    }
  }

include ../../../components/vision-section.pug

-
  data = {
    text: [
      {
        title: 'Misi 1',
        description: 'Menyediakan dan mengembangkan pelayanan keuangan yang inovatif, berkualitas dan melebihi harapan masyarakat yang dinamik dengan hasil terbaik.',
      },
      {
        title: 'Misi 2',
        description: 'Menciptakan lingkungan kerja yang dapat meningkatkan profesionalisme dan mendorong pembaharuan organisasional dengan semangat kekeluargaan.',
      },
      {
        title: 'Misi 3',
        description: 'Membina jaringan kerjasama yang saling menguntungkan dan dilandasi rasa saling percaya.',
      },
      {
        title: 'Misi 4',
        description: 'Membangun kepercayaan publik melalui perilaku etikal, peduli dan hati-hati (prudent).',
      }
    ],
    image: {
      color: 'gray',
      img: 'image-circle-2.jpg'
    }
  }

include ../../../components/mission-section.pug
