//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Digital Channel - Vertical Tab - Velocity Mobile
  @description: Bunga & Biaya Digital Channel - Vertical Tab - Velocity Mobile
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black
    | Velocity Mobile

  .ocbc-vt-content__content-wrapper.ocbc-vt-content__content-wrapper--mb-4
    include table/limit-transaksi.pug
    p.ocbc-vt-content__label-table
      | * Limit transaksi per bulan

  .ocbc-vt-content__content-wrapper.ocbc-vt-content__content-wrapper--mb-4
    include table/pembayaran-pembelian.pug
    p.ocbc-vt-content__label-table
      | * Di luar Tabel Biaya di atas, pembayaran & pembelian lainnya tidak dikenakan biaya (gratis)
