//-------------------------------------------------------------------------------
  @name: Individu Private - Breadcrumbs
  @description: Individu Private - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'individu.html',
      text: 'Individu'
    },
    {
      to: 'individu-private.html',
      text: 'Private Banking'
    },
    {
      to: 'individu-private-banking-layanan-private.html',
      text: 'Layanan Private'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
