//-------------------------------------------------------------------------------
  @name: Individu - Private - Layananan - Main Banner
  @description: Individu - Private - Layananan - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Layanan Private',
    description: 'Layanan Perbankan Istimewa dengan Penawaran Eksklusif Hanya untuk Anda Nasabah Private Banking.',
    image: {
      desktop: 'private-d.jpg',
      mobile: 'private-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
