//-------------------------------------------------------------------------------
  @name: Korporasi - Presentation Needs - Ekspansi Bisnis Global
  @description: Korporasi - Presentation Needs - Ekspansi Bisnis Global
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='ekspansi-bisnis-global')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Pembiayaan Terpadu Barang Ekspor',
      description: 'Pembiayaan jangka pendek dengan sistem terpadu untuk barang ekspor.',
      image: {
        desktop: 'sme-1-d.jpg',
        mobile: 'sme-1-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan layanan lain untuk kelancaran ekspansi bisnis',
      button: {
        to: '#',
        text: 'Lihat Semua Produk'
      },
      card: [
        {
          icon: 'trade-financing.svg',
          title: 'Trade Receivable Financing',
          description: 'Fasilitas pembiayaan piutang menggunakan metode pembiayaan open account',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'advice-lc.svg',
          title: 'Advise LC',
          description: 'Penerusan LC ekspor oleh bank OCBC NISP kepada penerima LC',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'document.svg',
          title: 'Outward Documentary Collection',
          description: 'Jasa penagihan atas dokumen tanpa LC',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita Inspirasi Korporasi',
      card: [
        {
          image: 'nyala-1.jpg',
          label: 'Korporasi',
          title: 'Berbisnis Memanfaatkan Teknologi Digital',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'individu-3.jpg',
          label: 'Korporasi',
          title: 'Faktor yang Menentukan Daya Saing Komoditi Ekspor',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }
  include ../../../layout/card-article.pug
