//-------------------------------------------------------------------------------
  @name: Korporasi - Presentation Needs - Koneksi Bisnis Baru
  @description: Korporasi - Presentation Needs - Koneksi Bisnis Baru
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='koneksi-bisnis-baru')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Semakin Banyak Partner Semakin Untung',
      description: 'Dapatkan fasilitas Kredit hingga Rp 15 Miliar dengan mereferensikan partner bisnis Anda',
      image: {
        desktop: 'sme-4-d.jpg',
        mobile: 'sme-4-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Referensi lainnya',
      button: {
        to: '#',
        text: 'Lihat Semua Produk'
      },
      card: [
        {
          icon: 'account.svg',
          title: 'Ajak Buka Rekening Giro',
          description: 'Dapatkan e-voucher Rp300 Ribu dengan mereferensikan partner bisnis buka rekening Giro',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'partnership.svg',
          title: 'Ajak Partner Buka Tabungan',
          description: 'Dapatkan kesempatan memenangkan Motor Yamaha dengan ajak partner buka rekening',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'join-premier-banking.svg',
          title: 'Bergabung di Premier Banking',
          description: 'Dapatkan Poin Seru senilai hingga Rp750 Ribu dengan ajak partner bergabung di Premier Banking',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita Inspirasi Korporasi',
      card: [
        {
          image: 'nyala-1.jpg',
          label: 'Korporasi',
          title: 'Pelajari Mata Uang yang Sering Digunakan untuk Berbisnis',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'individu-3.jpg',
          label: 'Korporasi',
          title: 'Cara Antisipasi Nilai Tukar Valas untuk Bisnis',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }
  include ../../../layout/card-article.pug
