//-------------------------------------------------------------------------------
  @name: Korporasi - Presentation Needs - Pembiayaan Operasional
  @description: Korporasi - Presentation Needs - Pembiayaan Operasional
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='pembiayaan-operasional')

  //- section-banner
  -
    data = {
      light: true,
      title: 'Kredit untuk Modal Usaha',
      description: 'Proses kredit yang cepat dengan fasilitas fleksibel dalam bentuk Demand Loan',
      image: {
        desktop: 'sme-5-d.jpg',
        mobile: 'sme-5-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan layanan kebutuhan usaha lainnya',
      button: {
        to: '#',
        text: 'Lihat Semua Produk'
      },
      card: [
        {
          icon: 'mastercard.svg',
          title: 'Kredit Investasi',
          description: 'Investasi usaha terpenuhi dengan jangka waktu pembiayaan sampai dengan 10 tahun ',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'mastercard.svg',
          title: 'Kredit Program',
          description: 'Program kredit yang dapat disesuaikan dengan perkembangan bisnis',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'suitcase.svg',
          title: 'Business Smart',
          description: 'Rekening dengan 10 mata uang untuk transaksi bisnis',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita Inspirasi Korporasi',
      card: [
        {
          image: 'nyala-1.jpg',
          label: 'Korporasi',
          title: '5 Tips Berinvestasi untuk Bisnis Anda',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'individu-3.jpg',
          label: 'Korporasi',
          title: 'Kembangkan Bisnis Anda Secara Internasional',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }
  include ../../../layout/card-article.pug
