//-------------------------------------------------------------------------------
  @name: Hubungi Kami - Lokasi Kami - Banner
  @description: Hubungi Kami - Lokasi Kami - Banner
  -------------------------------------------------------------------------------//

-
  formPage = 'lokasi-kami';
  data = {
    title: 'Lokasi Kami',
    image: {
      desktop: 'search-banner-d.jpg',
      mobile: 'search-banner-m.jpg'
    },
    placeholder: ''
  }
include ../../components/search-banner.pug
