//-------------------------------------------------------------------------------
  @name: Hubungi Kami - Lokasi Kami - Result List
  @description: Hubungi Kami - Lokasi Kami - Result List
  -------------------------------------------------------------------------------//

extends ../../layout/search-result.pug

//- filter
block filter
  -
    data = [
      {
        title: 'Filter',
        element: 'checkbox',
        filter: 'filter-search',
        items: [
          {
            image: 'all-result.svg',
            name: 'all',
            text: 'Semua Hasil',
            total: '52',
            checked: true
          },
          {
            image: 'atm.svg',
            name: 'atm',
            text: 'ATM',
            total: '7'
          },
          {
            image: 'cabang.svg',
            name: 'cabang',
            text: 'Cabang',
            total: '30'
          },
          {
            image: 'cabang.svg',
            name: 'premier-center',
            text: 'Premier Center',
            total: '1'
          },
          {
            image: 'call-center.svg',
            name: 'syariah-center',
            text: 'Syariah Center',
            total: '2'
          },
          {
            image: 'trade-center.svg',
            name: 'trade-center',
            text: 'Trade Center',
            total: '1'
          }
        ]
      }
    ]

  include ../../layout/filter.pug

//- result
block result

  .ocbc-result-list-container
    // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-result-list-wrapper di hide dengan fungsi jQuery $('.ocbc-result-list-wrapper').hide(timing) atau $('.ocbc-result-list-wrapper').fadeOut(timing) atau fungsi hide lainnya
    .ocbc-result-list-wrapper
      p.ocbc-result-list__filtered
        | Semua Hasil (52)
      .ocbc-result-list
        -
          data = [
            {
              icon: 'atm.svg',
              title: 'Jakarta - Bendungan Hilir 1',
              description: [
                'OCBC NISP KCP Bendungan Hilir Jl. Bendungan Hilir Raya No. 25 Tanah Abang, Bendungan Hilir, Jakarta 10210'
              ],
              item: [
                'ATM Tanpa Kartu (QR & OTP)',
                'ATM Setor & Tarik Tunai'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/Bank+OCBC+NISP+JAKARTA+-+BENDUNGAN+HILIR/@-6.2132817,106.8106773,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f6abbffd3365:0x8d4ff1842b44f82b!8m2!3d-6.213287!4d106.812866'
              }
            },
            {
              icon: 'cabang.svg',
              title: 'Jakarta - Bendungan Hilir 1',
              description: [
                'OCBC NISP KCP Bendungan Hilir<br/>Jl. Bendungan Hilir Raya No. 25 Tanah Abang, Bendungan Hilir, Jakarta 10210<br/>Telp: <a href="tel:+622126508459" target="_blank">(021) 26508459</a><br/>Fax: <a href="tel:+622157900992" target="_blank">(021) 57900992</a>',
                'Jam Operasional:<br/>Weekday 08.00-15.00<br/>Weekend 08.00-12.00'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/Bank+OCBC+NISP+JAKARTA+-+BENDUNGAN+HILIR/@-6.2132817,106.8106773,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f6abbffd3365:0x8d4ff1842b44f82b!8m2!3d-6.213287!4d106.812866'
              }
            },
            {
              icon: 'atm.svg',
              title: 'Jakarta - Central Park',
              description: [
                'Jl. LetJen S Parman Kav 28, Jakarta '
              ],
              item: [
                'Tarik Tunai Tanpa Kartu (QR & OTP)',
                'Setor & Tarik Tunai'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/Central+Park/@-6.1773633,106.7884836,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f6f5802f381d:0xe816d65037c3207a!8m2!3d-6.1773686!4d106.7906723'
              }
            },
            {
              icon: 'cabang.svg',
              title: 'Jakarta - Citra Garden Sektor 1',
              description: [
                'OCBC NISP KCP Citra Garden<br/>Perumahan (Ruko) Citra Garden 1 Blok 1 No. 13, Jakarta Barat 11840<br/>Telp: <a href="tel:+622126508401" target="_blank">(021) 26508401</a><br/>Fax: <a href="tel:+62215403917" target="_blank">(021) 5403917</a>',
                'Jam Operasional:<br/>Weekday 08.00-15.00'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/Bank+OCBC+NISP+JAKARTA+-+CITRA+GARDEN+SEKTOR+1/@-6.1453287,106.6941333,17z/data=!3m1!4b1!4m5!3m4!1s0x2e69f8738510f65f:0x23d8fa619f1bb98!8m2!3d-6.145334!4d106.696322'
              }
            },
            {
              icon: 'mastercard-diamond.svg',
              title: 'Jakarta - Green Garden',
              description: [
                'OCBC NISP KCP Green Garden<br/>Komplek Perumahan Green Garden Blok I-9 No. 24, Jl. Raya Panjang (Arteri Kedoya) Jakarta 11520<br/>Telp: <a href="tel:+622126508403" target="_blank">(021) 26508403</a><br/>Fax: <a href="tel:+622158304619" target="_blank">(021) 58304619</a>',
                'Jam Operasional:<br/>Weekday 08.00-15.00'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/OCBC+NISP/@-6.1657941,106.7498726,15z/data=!4m8!1m2!2m1!1sJakarta+-+Green+Garden+ocbc!3m4!1s0x2e69f7b1bf903ae3:0x7e634b8662d6af12!8m2!3d-6.1668023!4d106.7630775'
              }
            },
            {
              icon: 'call-center.svg',
              title: 'Jakarta - Jelambar',
              description: [
                'OCBC NISP KCP Jelambar<br/>Perumahan Taman Duta Mas Blok D. 9/A Kav. 10, Jl. Pangeran Tubagus Angke, Jelambar Baru, Jakarta Barat 11460<br/>Telp: <a href="tel:+622126508433" target="_blank">(021) 26508433</a><br/>Fax: <a href="tel:+62215675296" target="_blank">(021) 5675296</a>',
                'Jam Operasional:<br/>Weekday 08.00-15.00'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/OCBC+NISP+Duta+Mas+Jelambar/@-6.1642858,106.7706769,14z/data=!4m8!1m2!2m1!1socbc+Jakarta+-+Jelambar!3m4!1s0x2e69f62fa409ae83:0x9febc8f67b08f943!8m2!3d-6.1452247!4d106.78042'
              }
            },
            {
              icon: 'cabang.svg',
              title: 'Jakarta - Kebon Jeruk',
              description: [
                'Rukan Graha Mas Kebon Jeruk Blok C/3, Jl. Raya Perjuangan, Kebon Jeruk, Jakarta 11530<br/>Telp: <a href="tel:+622126508407" target="_blank">(021) 26508407</a><br/>Fax: <a href="tel:+62215305785" target="_blank">(021) 5305785</a>',
                'Jam Operasional:<br/>Weekday 08.00-15.00'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/Bank+OCBC+NISP+JAKARTA+-+KEBON+JERUK/@-6.1641999,106.7706769,14z/data=!4m8!1m2!2m1!1socbc+Jakarta+-+Kebon+Jeruk!3m4!1s0x2e69f71af0436315:0xa68ba9c0a3ead9a3!8m2!3d-6.190806!4d106.760852'
              }
            },
            {
              icon: 'trade-center.svg',
              title: 'Jakarta - Slipi 1',
              description: [
                'OCBC NISP KCP Slipi<br/>Gedung Samudera Indonesia Lt. 1 Suite 101 & 102, Jl. Letjend. S. Parman Kav. 35 Slipi, Jakarta 11480<br/>Telp: <a href="tel:+622126508426" target="_blank">(021) 26508426</a><br/>Fax: <a href="tel:+62215309116" target="_blank">(021) 5309116</a>',
                'Jam Operasional:<br/>Weekday 08.00-15.00<br/>Weekend 08.00-11.00'
              ],
              link: {
                text: 'Lihat Maps',
                target: '_blank',
                to: 'https://www.google.com/maps/place/OCBC+NISP/@-6.1969691,106.795562,16.2z/data=!4m8!1m2!2m1!1socbc+Jakarta+-+Slipi+1!3m4!1s0x0:0xa54fd93601998744!8m2!3d-6.1973337!4d106.7972066'
              }
            }
          ]
        include ../../layout/card-location.pug

    -
      data = {
        prevTo: '#',
        nextTo: '#',
        list: [
          {
            to: '#',
            text: '1'
          },
          {
            to: '#',
            text: '2'
          },
          {
            to: '#',
            text: '3'
          },
          {
            to: '#',
            text: '3dot'
          },
          {
            to: '#',
            text: '25'
          }
        ]
      }
    include ../../components/pagination.pug

    -
      data = {
        icon: 'no-result.svg',
        text: 'Halaman yang Anda Cari Tidak Tersedia'
      }
    include ../../components/no-result.pug
