//-------------------------------------------------------------------------------
  @name: Karir - Presentation Needs - Index
  @description: Karir - Presentation Needs - Index
  -------------------------------------------------------------------------------//

//- Presentation Needs
//ocbc-presentation-needs
.ocbc-presentation-needs.ocbc-presentation-needs--no-pb
  //ocbc-presentation-needs__close
  ='\n'
  button(type='button').ocbc-presentation-needs__close.js-close-presentation-needs
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  //ocbc-presentation-needs__wrapper
  .ocbc-presentation-needs__wrapper
    //- Potensi
    include potensi.pug
    //- Pengalaman
    include pengalaman.pug
    //- Profesional
    include profesional.pug
    //- Keseharian
    include keseharian.pug
