//-------------------------------------------------------------------------------
  @name: Karir - Presentation Needs - Keseharian
  @description: Karir - Presentation Needs - Keseharian
  -------------------------------------------------------------------------------//

//naik-haji
.ocbc-presentation-needs__pane(data-presentation='keseharian')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Gak Cuma Kerja dan Ngejar Passion',
      description: 'Bawa perubahan sambil mengumpulkan pengalaman dengan kegiatan komunitas bersama karyawan OCBC NISP',
      image: {
        desktop: 'karir-d.jpg',
        mobile: 'karir-m.jpg'
      },
      button: {
        primary: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
