//-------------------------------------------------------------------------------
  @name: Karir - Presentation Needs - Pengalaman
  @description: Karir - Presentation Needs - Pengalaman
  -------------------------------------------------------------------------------//

//naik-haji
.ocbc-presentation-needs__pane(data-presentation='pengalaman')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Ikuti Program Internship Khusus Mahasiswa Tingkat Akhir',
      description: 'Temukan kesempatan mempelajari industri perbankan yang memantapkan aspirasi karirmu setelah lulus nanti',
      image: {
        desktop: 'karir-d.jpg',
        mobile: 'karir-m.jpg'
      },
      button: {
        primary: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
