//-------------------------------------------------------------------------------
  @name: Karir - Presentation Needs - Potensi
  @description: Karir - Presentation Needs - Potensi
  -------------------------------------------------------------------------------//

//naik-haji
.ocbc-presentation-needs__pane(data-presentation='potensi')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Jawab Tantangan Melalui Program Young Bankers OCBC NISP',
      description: 'Temukan program pembelajaran terstruktur dan fasilitas lengkap untuk membangun pondasi kuat di dunia perbankan',
      image: {
        desktop: 'karir-d.jpg',
        mobile: 'karir-m.jpg'
      },
      button: {
        primary: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
