//-------------------------------------------------------------------------------
  @name: Karir - Presentation Needs - Profesional
  @description: Karir - Presentation Needs - Profesional
  -------------------------------------------------------------------------------//

//naik-haji
.ocbc-presentation-needs__pane(data-presentation='profesional')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Berkarir Secara Profesional Bersama OCBC NISP',
      description: 'Temukan peluang bekerja menjanjikan dan buat perubahan di dalam karir profesional',
      image: {
        desktop: 'karir-d.jpg',
        mobile: 'karir-m.jpg'
      },
      button: {
        primary: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
