//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Ikhtisar Data Keuangan Penting
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Ikhtisar Data Keuangan Penting
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'financial-overview';
    title = 'Ikhtisar Data Keuangan Penting';
    subTitle = 'Dalam jutaan Rupiah, kecuali dinyatakan lain';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th Keterangan 
    th.ocbc-tbl-striped__th 2019
    th.ocbc-tbl-striped__th 2018
    th.ocbc-tbl-striped__th 2017
    th.ocbc-tbl-striped__th 2016
    th.ocbc-tbl-striped__th 2015

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan=6) Laporan Posisi Keuangan
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan=6) Laporan Laba Rugi dan Penghasilan Komprehensif Lainnya
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset
    td.ocbc-tbl-striped__td 180.706.987
    td.ocbc-tbl-striped__td 173.582.894
    td.ocbc-tbl-striped__td 153.773.957
    td.ocbc-tbl-striped__td 138.196.341
    td.ocbc-tbl-striped__td 120.480.402
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jumlah Aset Produktif
    td.ocbc-tbl-striped__td 168.616.528
    td.ocbc-tbl-striped__td 160.473.383
    td.ocbc-tbl-striped__td 142.761.899
    td.ocbc-tbl-striped__td 127.530.027
    td.ocbc-tbl-striped__td 110.685.337