//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Ikhtisar Data Keuangan Penting
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Ikhtisar Data Keuangan Penting
  -------------------------------------------------------------------------------//

//- Table
include table/ikhtisar-data-keuangan.pug
