//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Informasi Kuantitatif Exposure Risiko
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Informasi Kuantitatif Exposure Risiko
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Informasi Kuantitatif Exposure Risiko
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Informasi Kuantitatif Exposure Risiko Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Informasi Kuantitatif Exposure Risiko Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Informasi Kuantitatif Exposure Risiko Tahun 2017',
        target: '2017',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
