//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Informasi Penggabungan
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Informasi Penggabungan
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Informasi Penggabungan
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Informasi Penggabungan',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
