//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Laporan Keuangan Bulanan
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Laporan Keuangan Bulanan
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Laporan Keuangan Bulanan

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Laporan Keuangan Bulanan
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Bulanan Tahun 2020',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Bulanan Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Bulanan Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Bulanan Tahun 2017',
        target: '2017',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Bulanan Tahun 2016',
        target: '2016',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Bulanan Tahun 2015',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Laporan Keuangan Triwulan
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2020',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2017',
        target: '2017',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2016',
        target: '2016',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2015',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2014',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2013',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2012',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Laporan Keuangan Triwulan Tahun 2011',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
