//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - LCR (Liquidity Coverage Ratio)
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - LCR (Liquidity Coverage Ratio)
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | LCR (Liquidity Coverage Ratio)
//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Basel III Liquidity Standard
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Liquidity Coverage Ratio (LCR) Tahun 2020',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Liquidity Coverage Ratio (LCR) Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Liquidity Coverage Ratio (LCR) Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Liquidity Coverage Ratio (LCR) Tahun 2017',
        target: '2017',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Liquidity Coverage Ratio (LCR) Tahun 2016',
        target: '2016',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Liquidity Coverage Ratio (LCR) Tahun 2015',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
