//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - NSFR (Net Stable Funding Ratio)
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - NSFR (Net Stable Funding Ratio)
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | NSFR (Net Stable Funding Ratio)
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'report.svg',
        title: 'NSFR (Net Stable Funding Ratio) Tahun 2020',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'NSFR (Net Stable Funding Ratio) Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'NSFR (Net Stable Funding Ratio) Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
