//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Pengungkapan Basel III
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Pengungkapan Basel III
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Pengungkapan Basel III
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Pengungkapan Basel III Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Pengungkapan Basel III Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Pengungkapan Basel III Tahun 2017',
        target: '2017',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Pengungkapan Basel III Tahun 2016',
        target: '2016',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Pengungkapan Basel III Tahun 2015',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
