//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Presentasi Kinerja
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Keuangan - Presentasi Kinerja
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Presentasi Kinerja
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2019',
        target: '2019',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2018',
        target: '2018',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2017',
        target: '2017',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2016',
        target: '2016',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2015',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2014',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2013',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2012',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'Presentasi Kinerja Tahun 2011',
        target: '2015',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug
