//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - Tab Content - Disclaimer
  @description: Individu - Wealth Management - Great Optima Link - Tab Content - Disclaimer
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Disclaimer
.ocbc-vt-content__body
  p.ocbc-vt-content__p
    | Great Optima Link (GOL) adalah produk asuransi jiwa PT Great Eastern Life Indonesia (“Great Eastern Life”), bukan merupakan produk PT Bank OCBC NISP, Tbk ("Bank OCBC NISP") dan Bank OCBC NISP bukan merupakan agen asuransi dari Great Eastern Life, maupun perusahaan pialang asuransi dari Great Eastern Life. Great Eastern Life bertanggung jawab sepenuhnya atas produk Great Optima Link dan isi polis asuransi yang diterbitkan untuk produk Great Optima Link, sehingga Bank OCBC NISP tidak bertanggung jawab dalam bentuk apapun terhadap produk Great Optima Link dan isi polis yang diterbitkan sehubungan dengan produk Great Optima Link.
    br/
    br/
    | Produk ini bukan merupakan produk simpanan bank dengan demikian tidak termasuk dalam program penjaminan pemerintah atau Lembaga Penjamin Simpanan. Premi yang dibayarkan oleh Pemegang Polis sudah termasuk biaya akuisisi, administrasi, pengelolaan dana, komisi bank dan komisi tenaga pemasaran.
    br/
    br/
    | Informasi pada dokumen ini harus dibaca dan tunduk kepada ketentuan-ketentuan polis dan ketentuan-ketentuan lainnya yang terkait dengan produk Great Optima Link yang berlaku saat ini maupun perubahannya dikemudian hari.
