//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Great Optima Link - Tab Content - Partner Kami
  @description: Individu - Wealth Management - Great Optima Link - Tab Content - Partner Kami
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Partner Kami',
    list: [
      {
        logo: 'partner3.png',
        name: 'Loan Market'
      },
      {
        logo: 'partner5.png',
        name: 'UrbanAce'
      },
      {
        logo: 'partner4.png',
        name: 'KPR Online'
      },
      {
        logo: 'partner2.png',
        name: 'CekAja.com'
      },
      {
        logo: 'partner1.png',
        name: 'Cermati'
      }
    ]
  }
include ../../../layout/card-partner.pug
