//-------------------------------------------------------------------------------
  @name: Individu - Premier - Premier Product
  @description: Individu - Premier - Premier Product
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Teristimewa hanya untuk Anda',
    card: [
      {
        image: 'card-1.jpg',
        title: 'Personal Assistant',
        description: 'Jajaran analisis terpercaya yang dapat memberikan hasil optimal untuk investasi nasabah',
        to: '#'
      },
      {
        image: 'card-2.jpg',
        title: 'Asset Management',
        description: 'Mengelola keuangan dan aset yang sesuai dengan kebutuhan finansial nasabah',
        to: '#'
      },
      {
        image: 'card-3.jpg',
        title: 'Premier Lounge',
        description: 'Transaksi tanpa antri dan tempat privasi di OCBC premier Singapura dan Malaysia',
        to: '#'
      },
      {
        image: 'card-4.jpg',
        title: 'Market Outlook',
        description: 'Informasi dan Ulasan Analisa Pasar Terkini',
        to: '#'
      },
      {
        image: 'card-5.jpg',
        title: 'Transaksi by Phone',
        description: 'Lakukan transaksi Valas hanya melalui telepon tanpa repot ke kantor cabang',
        to: '#'
      },
      {
        image: 'card-6.jpg',
        title: 'Medical Check on Call',
        description: 'Periksa kesehatan ditengah kesibukan lebih mudah dan cepat dengan fasilitas khusus',
        to: '#'
      },
      {
        image: 'card-7.jpg',
        title: 'Event Special',
        description: 'Ikuti acara spesial hanya untuk nasabah Premier Banking dan nikmati harga spesial',
        to: '#'
      },
      {
        image: 'card-8.jpg',
        title: 'Airport Pick Up',
        description: 'Fasilitas penjemputan dari bandara ke tempat tujuan. Fasilitas tersedia di Jakarta, Surabaya dan Singapura',
        to: '#'
      },
    ]
  };

include ../../layout/card-premier-product.pug
