//-------------------------------------------------------------------------------
  @name: Individu - Premier - Card Up Selling
  @description: Individu - Premier - Card Up Selling
  -------------------------------------------------------------------------------//

-
  modifier = 'more-py'
  data = {
    border: true,
    title: 'Lihat Detail Informasi OCBC Premier Banking Di sini',
    button: 'Selengkapnya',
    to: '#'
  }

include ../../layout/card-upselling.pug
