//-------------------------------------------------------------------------------
  @name: Individu - Premier - Form Section
  @description: Individu - Premier - Form Section
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Nikmati Layanan Premier Banking Sekarang',
    description: 'Masukkan Informasi Anda dan Customer Care Kami akan menghubungi anda untuk menjelaskan lebih lanjut tentang Layanan Premiere Banking',
  };

include ../../components/form-section.pug
