//-------------------------------------------------------------------------------
  @name: Individu - Premier - Main Banner
  @description: Individu - Premier - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            middle: true,
            image: {
              desktop: 'premier-d.jpg',
              mobile: 'premier-m.jpg'
            },
            title: 'Layanan Premier untuk Pencapaian Terbaik',
            description: 'OCBC NISP Premier Banking hadirkan layanan prioritas untuk wujudkan setiap kebutuhan perbankan Anda',
            button: {
              text: 'Selengkapnya',
              to: '#'
            },
            secondaryButton: {
              text: 'Hubungi Kami',
              to: 'hubungi-kami.html',
            },
          }
        ];
include ../../layout/main-banner.pug
