//-------------------------------------------------------------------------------
  @name: Individu - Premier - Product Section
  @description: Individu - Premier - Product Section
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Lengkapi Pengalaman Banking dengan Layanan Personal 24/7',
    description: 'Miliki kartu OCBC NISP Voyage dan nikmati pelayanan prioritas selayaknya asisten pribadi untuk semua kebutuhan perbankan Anda.',
    image: 'premier-card.png',
    button: {
      text: 'Cari Tahu',
      to: '#'
    }
  };

include ../../components/product-section.pug
