//-------------------------------------------------------------------------------
  @name: Individu - Premier - Product Category Fragment
  @description: Individu - Premier - Product Category Fragment
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Holistic Wealth Management',
      description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
      img: {
        default: 'wealth-management.svg',
        hover: 'wealth-management-white.svg'
      }
    },
    {
      title: 'Privileges Services',
      description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
      img: {
        default: 'privilege-services.svg',
        hover: 'privilege-services-white.svg'
      }
    },
    {
      title: 'Wealth Discovery',
      description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
      img: {
        default: 'wealth-discovery.svg',
        hover: 'wealth-discovery-white.svg'
      }
    }
  ]
include ../../layout/product-category-fragment.pug
