include ../config/config.pug

doctype html
html(lang='en')
  block siteHeader
  head
    meta(charset='utf-8')/
    meta(http-equiv='refresh', content=timeRefresh)/
    meta(http-equiv='X-UA-Compatible' content='IE=9')/
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')/
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no,minimal-ui')/
    ='\n\n'

    // primary information
    title #{siteTitle + ' '+ suffixSiteTitle}
    meta(name='description', content=siteTitle + ' '+ suffixSiteDescription)/
    meta(name='keywords', content=siteTitle + ', ' + suffixSiteKeywords)/

    //- HTML5 IE
    ='\n\n'
    // ie fix for html5 tags
    //[if lt IE 9]><script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script><![endif]
    ='\n\n'

    // author
    meta(name='author' content=author)/
    meta(name='copyright' content=copyright)/

    ='\n\n'

    //- user agent crawler
    -
      robotsContent = 'noindex, nofollow';
    if seoFriendly
      -
        robotsContent = 'index, follow';

    // user agent crawler
    meta(name='robots', content=robotsContent)/
    meta(name='googlebot', content=robotsContent)/
    meta(name='googlebot-news', content=robotsContent)/
    meta(name='msnbot', content=robotsContent)/
    meta(name='webcrawlers', content=robotsContent)/
    meta(name='spiders', content=robotsContent)/
    ='\n\n'

    //- canonical
    if seoFriendly
      // canonical
      link(rel='canonical', href=cannonical)/

    ='\n\n'

    //- og facebook
    if ogFacebook.enable
      // og facebook general
      meta(property='og:locale', content='en_US')/
      meta(property='og:type', content=ogFacebook.type)/
      meta(property='og:title', content=siteTitle + ' '+ suffixSiteTitle)/
      meta(property='og:description', content=siteTitle + ' '+ suffixSiteDescription)/
      meta(property='og:url', content=siteURL)/
      meta(property='og:site_name', content=siteDomain)/
      meta(property='og:image', content=ogFacebook.image)/
      meta(property='og:image:type', content=ogFacebook.imageType)/

    ='\n\n'

    //- Twitter Card
    if twitterCard.enable
      // twitter card
      meta(name='twitter:card' content=twitterCard.sizeCard)/
      meta(name='twitter:title', content=siteTitle + ' '+ suffixSiteTitle)/
      meta(name='twitter:description', content=siteTitle + ' '+ suffixSiteDescription)/
      meta(name='twitter:site', content=twitterCard.twitterId)/
      meta(name='twitter:site:id', content=twitterCard.twitterId)/
      meta(name='twitter:domain', content=siteDomain)/
      meta(name='twitter:image:src', content=twitterCard.image)/
      meta(name='twitter:creator', content=twitterCard.twitterId)/

    ='\n\n'

    // ============ icon ============
    // web favicon
    link(rel='shortcut icon' href=icons.webFavicon)/

    ='\n\n'

    // android add to home screen
    link(rel='manifest' href=manifest)/
    meta(name='mobile-web-app-capable' content='yes')/
    meta(name='theme-color' content=siteTheme)/
    link(rel='icon' type='image/png' sizes='16x16' href=icons.homescreen.android.s16)/
    link(rel='icon' type='image/png' sizes='32x32' href=icons.homescreen.android.s32)/
    link(rel='icon' type='image/png' sizes='96x96' href=icons.homescreen.android.s96)/
    link(rel='icon' type='image/png' sizes='144x144' href=icons.homescreen.android.s144)/
    link(rel='icon' type='image/png' sizes='192x192' href=icons.homescreen.android.s192)/

    ='\n\n'

    // windows microsoft
    meta(name='msapplication-TileColor' content=siteTheme)/
    meta(name='msapplication-TileImage' content=icons.homescreen.microsoft.s144)/
    meta(name='theme-color' content=siteTheme)/

    ='\n\n'

    // apple add to home screen
    meta(name='apple-mobile-web-app-capable' content='yes')/
    meta(name='apple-mobile-web-app-status-bar-style' content=siteTheme)/
    link(rel='apple-touch-icon' href=icons.homescreen.iOS.default)/
    link(rel='apple-touch-icon' sizes='57x57' href=icons.homescreen.iOS.s57)/
    link(rel='apple-touch-icon' sizes='60x60' href=icons.homescreen.iOS.s60)/
    link(rel='apple-touch-icon' sizes='72x72' href=icons.homescreen.iOS.s72)/
    link(rel='apple-touch-icon' sizes='76x76' href=icons.homescreen.iOS.s76)/
    link(rel='apple-touch-icon' sizes='114x114' href=icons.homescreen.iOS.s114)/
    link(rel='apple-touch-icon' sizes='120x120' href=icons.homescreen.iOS.s120)/
    link(rel='apple-touch-icon' sizes='144x144' href=icons.homescreen.iOS.s144)/
    link(rel='apple-touch-icon' sizes='152x152' href=icons.homescreen.iOS.s152)/
    link(rel='apple-touch-icon' sizes='180x180' href=icons.homescreen.iOS.s180)/
    link(rel='apple-touch-startup-image' href=icons.homescreen.iOS.default)/
    ='\n\n'

    //- rachel page
    if page == 'rachel'
      include ../pages/individu-wealth-management-rachel/chat-bot/css.pug

    // style
    link(rel='stylesheet', href=cssMain)/
    link(rel='stylesheet', href=cssCustom)/
    ='\n\n'

  body(class=holdTransitionClass + (site ? ' ocbc-' + site + '-site' : '' ))

    //- sitemap-dev page
    if page === 'sitemap-dev'

      block siteContent

    else

      //- not error state page
      if page !== 'error-state' && page !== 'share' && page !== 'share-chart' && page !== 'calculator' && page !== 'form-success'
        ='\n\n'
        //- header
        -
          site = site;
        include ../layout/header.pug

        //- Home
        if page == 'home'
          ='\n\n'
          include ../components/cookies.pug

        //- Article Detail
        if page == 'article-detail'
          include ../components/scroll-indicator.pug

      //- if calculator
      else if page == 'calculator'
        - headerBack = headerBack;
        include ../layout/header-calc.pug

      ='\n\n'
      //- content
      //ocbc-site-content
      .ocbc-site-content.ocbc-site-content--hide.js-site-content
        block siteContent

      //- not error state page
      if page !== 'error-state' && page !== 'share' && page !== 'share-chart' && page !== 'form-success'
        //- footer
        include ../layout/footer.pug

      //- about us profile || premier || private || career be the one
      if page == 'about-us-profile' || page == 'premier' || page == 'private' || page == 'career-be-the-one'
        ='\n\n'
        //-  Popup BOD
        include ../components/popup-bod.pug

      //- about us investor relations
      if page == 'about-us-investor-relations'
        ='\n\n'
        //-  Popup File Report
        include ../components/popup-file-report.pug

      //- about us governance
      if page == 'about-us-governance'
        -
          option = 'rups';
        ='\n\n'
        //-  Popup File Report RUPS
        include ../components/popup-file-report.pug

      ='\n\n'
      //- bg-overlay
      //ocbc-bg-overlay
      .ocbc-bg-overlay

      //- Chat Bot
      if page == 'rachel'
        include ../pages/individu-wealth-management-rachel/chat-bot/chat-message.pug

      ='\n\n'
      // script
      if enableRecapthca
        script(src=jsRecaptcha)
      script(src=jsVendor)
      script(src=jsMain)
      script(src=jsCustom)

      script(src='https://www.ocbcnisp.com/-/media/Base-Themes/OCBC/Scripts/bottom/mainmin.js?v=3')

      //- if calculator page
      if page == 'calculator'
        script(src=jsCalculator)

      //- if calculator-result-chart
      if page == 'calculator-result-chart' || page == 'share-chart'
        script(src=jsCalculatorChart)

      //- if calculator-result page
      if page == 'calculator-result' || page == 'share' || page == 'calculator-result-chart' || page == 'share-chart'
        script(src=jsCalculatorResult)

      //- rachel page
      if page == 'rachel'
        include ../pages/individu-wealth-management-rachel/chat-bot/js.pug

      ='\n\n'

