//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil  - Main Banner
  @description: Tentang Kami - Profil  - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Informasi',
    description: 'Informasi dan berita terkini tentang kegiatan korporasi OCBC NISP',
    image: {
      desktop: 'tentang-kami-informasi-d.jpg',
      mobile: 'tentang-kami-informasi-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
