//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil  - Tab
  @description: Tentang Kami - Profil  - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'berita-perusahaan',
          text: 'Berita Perusahaan'
        },
        {
          target: 'pengumuman',
          text: 'Pengumuman',
        },
        {
          target: 'info-lelang',
          text: 'Info Lelang'
        },
        {
          target: 'amnesti-pajak',
          text: 'Amnesti Pajak'
        },
        {
          target: 'partner-kami',
          text: 'Partner Kami'
        },
        {
          target: 'lembaga',
          text: 'Lembaga/Profesi Penunjang Pasar Modal'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='berita-perusahaan')
    include tab-content/berita-perusahaan.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='pengumuman')
    include tab-content/pengumuman.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='info-lelang')
    include tab-content/info-lelang.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='amnesti-pajak')
    include tab-content/amnesti-pajak.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='partner-kami')
    include tab-content/partner-kami.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='lembaga')
    include tab-content/lembaga.pug
