//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Advise SKBDN
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Advise SKBDN
  -------------------------------------------------------------------------------//

include table/advise-skbdn.pug
