//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Advise LC
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Advise LC
  -------------------------------------------------------------------------------//

include table/advise-lc.pug
