//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Inward Documentary Collection (Inkaso Masuk)
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Inward Documentary Collection (Inkaso Masuk)
  -------------------------------------------------------------------------------//

include table/inward.pug
