//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Letter of Credit
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Letter of Credit
  -------------------------------------------------------------------------------//

include table/lc.pug
