//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Layanan Pembayaran Pajak - MPN G2
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Layanan Pembayaran Pajak - MPN G2
  -------------------------------------------------------------------------------//

include table/pajak.pug
