//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Remittance
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Remittance
  -------------------------------------------------------------------------------//

include table/remittance.pug
