//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Surat Kredit Berdokumen Dalam Negeri (SKBDN)
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Surat Kredit Berdokumen Dalam Negeri (SKBDN)
  -------------------------------------------------------------------------------//

include table/skbdn.pug
