//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Supply Chain Solution Financing Services for Distributors and Suppliers
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Supply Chain Solution Financing Services for Distributors and Suppliers
  -------------------------------------------------------------------------------//

include table/supply.pug
