//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Virtual Account
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Virtual Account
  -------------------------------------------------------------------------------//

include table/va.pug
