//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Terintegrasi
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Terintegrasi
  -------------------------------------------------------------------------------//

//- Regular Content Template
extends ../../../layout/regular-content.pug

//- Head
block head
  -
    bodyMax = true;

//- Body
block body
  //ocbc-reg-content__body__item
  .ocbc-reg-content__body__item
    p.ocbc-reg-content__desc
      | Sebagai salah satu bentuk pengawasan Otoritas Jasa Keuangan (“OJK”) terhadap penerapan Tata Kelola oleh Lembaga Jasa Keuangan (LJK), maka pada tanggal 18 November 2014, OJK mengeluarkan Peraturan No. 18/POJK.03/2014 tentang Penerapan Tata Kelola Terintegrasi bagi Konglomerasi Keuangan dan pada tanggal 25 Mei 2015 mengeluarkan Surat Edaran No. 15/SEOJK.03/2015 tentang Penerapan Tata Kelola Terintegrasi bagi Konglomerasi Keuangan.

    p.ocbc-reg-content__desc
      | PT Bank OCBC NISP, Tbk (Bank OCBC NISP), PT OCBC Sekuritas Indonesia dan PT Great Eastern Life Indonesia merupakan LJK yang tergabung dalam Konglomerasi Keuangan Indonesia di bawah Oversea-Chinese Banking Corporation Limited selaku pemegang saham pengendali terakhir (ultimate shareholder). Bank OCBC NISP telah ditunjuk sebagai Entitas Utama dalam Konglomerasi Keuangan OCBC di Indonesia dan PT Great Eastern Life Indonesia dengan PT OCBC Sekuritas Indonesia sebagai perusahaan terelasi (sister company).

    p.ocbc-reg-content__desc
      | Sebagai Entitas Utama, Bank OCBC NISP wajib menerapkan Tata Kelola Terintegrasi dengan baik dan efektif. Dalam melakukan penerapan tersebut, Entitas Utama senantiasa berkoordinasi dengan masing-masing LJK dengan memastikan penerapan kelima prinsip dasar Tata Kelola (“Good Corporate Governance”) yaitu: transparansi (transparency), akuntabilitas (accountability), pertanggung jawaban (responsibility), independensi (independency) dan kewajaran (fairness).

  ='\n\n'
  //ocbc-announcement
  p.ocbc-reg-content__title
    | Laporan Tahunan Pelaksanaan Tata Kelola Terintegrasi
  //ocbc-announcement__section
  .ocbc-announcement__section
    -
      data = [
        {
          to: '#',
          icon: 'report.svg',
          title: 'Tata Kelola Terintegrasi 2018'
        },
        {
          to: '#',
          icon: 'report.svg',
          title: 'Tata Kelola Terintegrasi 2017'
        },
        {
          to: '#',
          icon: 'report.svg',
          title: 'Tata Kelola Terintegrasi 2016'
        },
        {
          to: '#',
          icon: 'report.svg',
          title: 'Tata Kelola Terintegrasi 2015'
        }
      ];
    include ../../../layout/announcement-list.pug
  ='\n'
  // /ocbc-announcement
  ='\n\n'
