//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola  - Tab - Tata Kelola Perusahaan
  @description: Tentang Kami - Tata Kelola  - Tab - Tata Kelola Perusahaan
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Rapat Umum Pemegang Saham',
      target: 'rapat-umum-pemegang-saham'
    },
    {
      text: 'Laporan Tata Kelola Perusahaan',
      target: 'laporan-tata-kelola-perusahaan'
    },
    {
      text: 'Tabel Afiliasi',
      target: 'tabel-afiliasi'
    },
    {
      text: 'Pedoman Kerja',
      target: 'pedoman-kerja'
    },
    {
      text: 'Kebijakan Terkait Tata Kelola',
      target: 'kebijakan-terkait-tata-kelola'
    },
    {
      text: 'Kode Etik',
      target: 'kode-etik'
    },
    {
      text: 'Anggaran Dasar',
      target: 'anggaran-dasar'
    },
    {
      text: 'ASEAN Corporate Governance',
      target: 'asean-corporate-governance'
    },
    {
      text: 'Whistleblowing',
      target: 'whistleblowing'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='rapat-umum-pemegang-saham')
          include vtc-tata-kelola-perusahaan/rapat-umum-pemegang-saham.pug
        .ocbc-vt-content(data-pane='laporan-tata-kelola-perusahaan')
          include vtc-tata-kelola-perusahaan/laporan-tata-kelola-perusahaan.pug
        .ocbc-vt-content(data-pane='tabel-afiliasi')
          include vtc-tata-kelola-perusahaan/tabel-afiliasi.pug
        .ocbc-vt-content(data-pane='pedoman-kerja')
          include vtc-tata-kelola-perusahaan/pedoman-kerja.pug
        .ocbc-vt-content(data-pane='kebijakan-terkait-tata-kelola')
          include vtc-tata-kelola-perusahaan/kebijakan-terkait-tata-kelola.pug
        .ocbc-vt-content(data-pane='kode-etik')
          include vtc-tata-kelola-perusahaan/kode-etik.pug
        .ocbc-vt-content(data-pane='anggaran-dasar')
          include vtc-tata-kelola-perusahaan/anggaran-dasar.pug
        .ocbc-vt-content(data-pane='asean-corporate-governance')
          include vtc-tata-kelola-perusahaan/asean-corporate-governance.pug
        .ocbc-vt-content(data-pane='whistleblowing')
          include vtc-tata-kelola-perusahaan/whistleblowing.pug
