//-------------------------------------------------------------------------------
  @name: Karir - Card Head Product
  @description: Karir - Card Head Product
  -------------------------------------------------------------------------------//

-
  data = {
    cardWithNyala: false,
    title: 'Informasi lengkap tentang Karir di OCBC NISP',
    card: [
      {
        isNyala: false,
        image: 'home-korporasi.jpg',
        title: 'Be The ONe',
        to: 'karir-be-the-one.html'
      },
      {
        isNyala: false,
        image: 'home-sme.jpg',
        title: 'Live As The ONe',
        to: 'karir-live-as-the-one.html'
      },
      {
        isNyala: false,
        image: 'for-the-one.jpg',
        title: 'For The ONe',
        to: 'karir-for-the-one.html'
      }
    ]
  };

include ../../layout/card-head-product.pug
