//-------------------------------------------------------------------------------
  @name: Karir - Card needs
  @description: Karir - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
          light: true,
          title: 'Temukan kesempatanmu di OCBC NISP',
          card: [
            {
              target: 'potensi',
              title: 'Gali Potensi Jadi Banker Berbakat',
              image: 'potency.svg'
            },
            {
              target: 'pengalaman',
              title: 'Cari Pengalaman di Dunia Perbankan',
              image: 'experience.svg'
            },
            {
              target: 'profesional',
              title: 'Sukses Wujudkan Karir Profesional',
              image: 'success.svg'
            },
            {
              target: 'keseharian',
              title: 'Keseharian di OCBC NISP',
              image: 'calendar.svg'
            }
          ]
        };
include ../../layout/card-needs.pug
