//-------------------------------------------------------------------------------
  @name: Karir - Main Banner
  @description: Karir - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            image: {
              desktop: 'karir-d.jpg',
              mobile: 'karir-m.jpg'
            },
            title: 'Be the One to Make Change',
            description: 'Saatnya berkembang secara personal dan profesional dengan memulai karir bersama OCBC NISP			'
          }
        ];
include ../../layout/main-banner.pug
