//-------------------------------------------------------------------------------
  @name: Karir - Networks
  @description: Karir - Networks
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Jaringan Kami',
    companies: [
      {
        logo: 'lion-global.png',
        name: 'Lion Global'
      },
      {
        logo: 'great-eastern.png',
        name: 'Great Eastern'
      },
      {
        logo: 'ocbc-nisp.png',
        name: 'OCBC NISP'
      },
      {
        logo: 'ocbc-bank.png',
        name: 'OCBC Bank'
      },
      {
        logo: 'bank-of-ningbo.png',
        name: 'Bank of Ningbo'
      },
      {
        logo: 'ocbc-bank-2.png',
        name: 'OCBC Bank'
      },
      {
        logo: 'ocbc-wing-hang.png',
        name: 'OCBC Wing Hang'
      },
      {
        logo: 'ocbc-al-amin.png',
        name: 'OCBC Al Amin'
      },
      {
        logo: 'ocbc-nisp.png',
        name: 'OCBC NISP'
      },
      {
        logo: 'ocbc-bank.png',
        name: 'OCBC Bank'
      },
      {
        logo: 'bank-of-ningbo.png',
        name: 'Bank of Ningbo'
      },
      {
        logo: 'ocbc-bank-2.png',
        name: 'OCBC Bank'
      }
    ]
  }

include ../../components/networks.pug
