//-------------------------------------------------------------------------------
  @name: Karir - Section Image Description
  @description: Karir - Section Image Description
  -------------------------------------------------------------------------------//

-
  data = {
    image: 'karir.jpg',
    title: 'Be The ONe',
    description: 'Di sini bukan cuma kerja, tapi ditempa biar jadi karyawan tahan banting. Di sini tempat adu ide-ide menawan sekalian ngulik berbagai tren baru layaknya ilmuwan. Di sini semua bisa mutualan sama atasan. Di sini sehabis pulang ngantor bisa seru-seruan bersama teman seperjuangan. Di sini bisa jadi pahlawan dengan mewujudkan impian banyak orang.'
  }

include ../../components/section-image-description.pug
