//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Floating Card
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Floating Card
  -------------------------------------------------------------------------------//

//ocbc-card--ca__prod-detail
.ocbc-card--ca__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          -
            data = {
              title: "Bisnis Lancar dengan Kredit Modal Kerja",
              btnList: [
                {
                  type: "primary",
                  to: "#",
                  txt: "Ajukan"
                },
                {
                  type: "secondary",
                  to: "#",
                  txt: "Lihat Simulasi"
                }
              ]
            }
          include ../../components/card-apply.pug
