//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Card USP
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Fleksibel',
      description: 'Fasilitas rekening koran, demand loan dan cicilan',
      img: 'placeholder.jpg'
    },
    {
      title: 'Cepat',
      description: 'Proses kredit cepat & nyaman',
      img: 'placeholder.jpg'
    },
    {
      title: 'Berbagai Pilihan',
      description: 'Tersedia revolving dan non-evolving',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
