//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Highlight Promo
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Highlight Promo
  -------------------------------------------------------------------------------//

-
  data = {
    icon: '',
    title: 'Promo untuk Anda',
    card: [
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'product-detail-1.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'individu-5.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'individu-4.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      }
    ]
  };

//ocbc-card--promo__prod-detail
.ocbc-card--promo__prod-detail
  include ../../layout/highlight-promo.pug
