//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Main Banner
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Kredit Modal Kerja',
    description: 'Solusi yang memberikan kemudahan memenuhi kebutuhan operasional usaha',
    image: {
      desktop: 'product-detail-2-d.jpg',
      mobile: 'product-detail-2-m.jpg'
    },
    button: {
      primary: {
        text: 'Ajukan',
        to: '#'
      },
      outline: {
        text: 'Lihat Simulasi',
        to: '#'
      }
    }
  }

include ../../components/product-detail-banner.pug
