//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Nyala Banner
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Nyala Banner
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Lengkapi keuntungan Tanda 360 dengan Nyala',
    description: 'Bebas biaya transaksi kemana saja dan dapatkan cashback Rp50 Ribu setiap bulan',
    button: 'Cari Tahu',
    to: '#',
    isRed: true
  }

include ../../components/nyala-banner.pug
