//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - One Mobile
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'velocity',
    image: {
      desktop: 'velocity-d.jpg',
      mobile: 'velocity-m.jpg'
    },
    title: 'Download Velocity App'
  }

include ../../components/one-mobile.pug
