//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Product Detail Fragment
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Product Detail Fragment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Keuntungan Lainnya',
    list: [
      {
        title: 'Reward Point',
        description: 'Kumpulkan poin untuk setiap transaksi dan tukar dengan hadiah menarik',
        img: 'fragment-default.svg'
      },
      {
        title: 'Bebas Biaya',
        description: 'Tak takut lagi dengan biaya administrasi dan transaksi jika saldo sudah mencapai Rp10 Juta',
        img: 'fragment-default.svg'
      },
      {
        title: 'Reward Point',
        description: 'Kumpulkan poin sebanyak-banyaknya dan dapatkan hadiah menarik hanya untuk Anda',
        img: 'fragment-default.svg'
      },
      {
        title: 'Promo Menarik',
        description: 'Dapatkan penawaran menarik dari berbagai merchant terbaik hanya untuk Anda',
        img: 'fragment-default.svg'
      }
    ]
  }

//ocbc-prod-detail-fragment__page
.ocbc-prod-detail-fragment__page
  include ../../layout/product-detail-fragment.pug
