//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Vertical Tab
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Syarat & Ketentuan',
      target: 'syarat-ketentuan'
    },
    {
      text: 'Dokumen yang dibutuhkan',
      target: 'dokumen'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12.ocbc-col-sm-12
        include ../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12.ocbc-col-sm-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='syarat-ketentuan')
          include tab-content/syarat-ketentuan.pug
        .ocbc-vt-content(data-pane='dokumen')
          include tab-content/dokumen.pug
