//-------------------------------------------------------------------------------
  @name: Kalkulator Asuransi - Calculator Form
  @description: Kalkulator Asuransi - Calculator Form
  -------------------------------------------------------------------------------//

extends ../../layout/calculator.pug

block title
  -
    title = 'Rencanakan Proteksi Anda';
    form = {
      action: 'hasil-perhitungan-kalkulator-asuransi.html',
      label: 'asuransi'
    };

block form
  //ocbc-calc__form__content
  .ocbc-calc__form__section.ocbc-calc__form__section--active
    .ocbc-calc__form__content
      //ocbc-calc__flds
      .ocbc-calc__flds
        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          //ocbc-calc__flds__row
          .ocbc-calc__flds__row
            .ocbc-calc__flds__col-6
              //ocbc-field
              .ocbc-field
                p.ocbc-field__label
                  | Proteksi Kesehatan untuk
                .ocbc-field__select
                  .ocbc-select-wrapper.js-select.js-select-insurance(data-width='full')
                    ='\n'
                    select.ocbc-select__element(name='insurance_for', data-label='Saya')
                      option(value='saya', selected)
                        | Saya
                      option(value='pasangan')
                        | Saya & Pasangan
                      option(value='keluarga')
                        | Saya & Keluarga
                    |!{''}
                    |

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          -
            data = {
              class: 'js-usia-anda',
              name: 'usia_anda',
              label: 'Berapa Usia Anda',
              rangeType: 'year',
              min: '0',
              max: '100',
              from: '0',
              postfix: ' Tahun'
            };
          include ../../components/input-range-slider.pug

        //ocbc-calc__pane (default display none: nanti akan di trigger oleh JS ketika user pilih select option)
        .ocbc-calc__pane(data-pane='pasangan')
          //ocbc-calc__flds__item
          .ocbc-calc__flds__item
            -
              data = {
                class: 'js-usia-pasangan',
                name: 'usia_pasangan',
                label: 'Berapa Usia Pasangan Anda',
                rangeType: 'year',
                min: '0',
                max: '100',
                from: '0',
                postfix: ' Tahun'
              };
            include ../../components/input-range-slider.pug

        //ocbc-calc__pane (default display none: nanti akan di trigger oleh JS ketika user pilih select option)
        .ocbc-calc__pane(data-pane='keluarga')
          //ocbc-calc__flds__del (ini digunakan untuk templating delete (tombol X), digunakan pada JS)
          .ocbc-calc__flds__del
            ='\n'
            button(type='button').ocbc-calc__flds__del__btn.js-delete-family-insurance
              i.ocbc-fi.ocbc-fi-exit
            |!{''}
            |
          //ocbc-calc__flds__multiple
          .ocbc-calc__flds__multiple
            //ocbc-calc__flds__item
            .ocbc-calc__flds__item
              -
                data = {
                  class: 'js-usia-tertanggung',
                  name: 'usia_tertanggung[]',
                  label: 'Berapa Usia Tertanggung 1',
                  rangeType: 'year',
                  min: '0',
                  max: '100',
                  from: '0',
                  postfix: ' Tahun'
                };
              include ../../components/input-range-slider.pug
          //ocbc-calc__flds__add
          .ocbc-calc__flds__add
            ='\n'
            button(type='button', data-label='Berapa Usia Tertanggung').ocbc-calc__flds__add__btn.js-clone-family-insurance
              ='\n'
              span.ocbc-calc__flds__add__circle
                ='\n'
                i.ocbc-fi.ocbc-fi-add
                |!{''}
                |
              |!{''}
              | Tambah Tertanggung (Max. 5 Tertanggung)
              |
            |!{''}
            |
      //ocbc-calc__submit
      .ocbc-calc__submit
        ='\n'
        button.ocbc-btn.ocbc-btn--primary.js-form-submit(type='submit', disabled='disabled')
          | Selanjutnya
        |!{''}
        |

block image
  -
    image = {
      src: 'asuransi.png',
      alt: 'Asuransi Banner'
    }
