//-------------------------------------------------------------------------------
  @name: Korporasi - Layanan - Tab - Trade Finance
  @description: Korporasi - Layanan - Tab - Trade Finance
  -------------------------------------------------------------------------------//

-
  data = [
    {
      val: 1,
      text: 'Semua'
    },
    {
      val: 2,
      text: 'Impor dan Pembelian Domestik'
    },
    {
      val: 3,
      text: 'Ekspor dan Penjualan Domestik'
    },
    {
      val: 4,
      text: 'Garansi'
    },
    {
      val: 5,
      text: 'List 5'
    }
  ]
include ../../../layout/filter-card.pug

-
  data = {
    card: [
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Trade Finance',
        description: 'Layanan transaksi pembelian barang atau jasa dari dalam negeri'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Letter of Credit (LC)',
        description: 'Layanan transaksi pembelian barang atau jasa dari luar negeri'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Surat Kredit Berdokumen Dalam Negeri (SKBDN)',
        description: 'Layanan transaksi pembelian barang atau jasa dari dalam negeri'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Inward Documentary Collection (D/P atau D/A)',
        description: 'Layanan untuk menyelesaikan proses transaksi impor tanpa LC'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Local Inward Documentary Collection (Inkaso Masuk)',
        description: 'Layanan proses pembelian barang atau jasa domestik tanpa SKBDN'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Advise LC',
        description: 'Layanan penerusan LC ekspor oleh bank OCBC NISP kepada penerima LC'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Advise SKBDN',
        description: 'Layanan penerusan SKBDN oleh bank OCBC NISP kepada penerima SKBDN'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Outward Documentary Collection',
        description: 'Layanan jasa penagihan pembayaran atas dokumen tanpa LC'
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Local Outward Documentary Collection (Inkaso Keluar)',
        description: 'Layanan jasa penagihan pembayaran atas dokumen tanpa SKBDN'
      }
    ]
  }

include ../../../layout/card-product-category.pug
