//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Calculator Result
  @description: Hasil Perhitungan Kalkulator KPR - Calculator Result
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-result.pug


block title
  -
    label = 'kpr';
    fields = 'items-5';

block form

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Pembelian dalam waktu
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-jangka-waktu(type='text', name='jangka_waktu', placeholder='Masukkan Tahun')/
        |!{''}
        |
      p.ocbc-field__note
        | > max. 20 Tahun

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Dana Saat Ini
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-dana-saat-ini(type='text', name='dana_saat_ini', placeholder='Masukkan Nominal')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Simpanan/bulan
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-simpanan-perbulan(type='text', name='simpanan_perbulan', placeholder='Masukkan Nominal')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Pengembalian Tahunan
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-pengembalian-tahunan(type='text', name='pengembalian_tahunan', placeholder='Masukkan Nominal')/
        |!{''}
        |
