//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Card Article
  @description: Hasil Perhitungan Kalkulator KPR - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'kpr-1.jpg',
        label: 'Kepemilikan Rumah',
        title: 'Cara mengamakankan simpanan untuk Pembelian Rumah', 
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'kpr-2.jpg',
        label: 'Kepemilikan Rumah',
        title: 'Langkah yang Tepat Untuk Rumah Pertama Anda',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

include ../../layout/card-article.pug
