//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Card Upselling
  @description: Hasil Perhitungan Kalkulator KPR - Card Upselling
  -------------------------------------------------------------------------------//

-
  data = {
    border: true,
    title: 'Tanya Staf Kami untuk Kebutuhan Rumah Anda',
    description: 'Talk to our Mortgage Specialist to Start your application or customise package',
    button: 'Tanya Staf Kami',
    to: '#'
  }

include ../../layout/card-upselling.pug
