//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Graphic Result
  @description: Hasil Perhitungan Kalkulator KPR - Graphic Result
  -------------------------------------------------------------------------------//

extends ../../layout/graphic-result.pug

block graphicTitle
  -
    title = 'Let’s save more to achieve your Goal!';

block btnOptions
  -
    data = [
      {
        icon: 'print.svg',
        label: 'Print',
        class: 'print',
        to: 'hasil-perhitungan-kalkulator-kpr-share.html#print',
        classButton: 'js-calc-result-print'
      },
      {
        icon: 'share.svg',
        label: 'Share',
        class: 'share',
        classButton: 'js-calc-result-share',
        list: [
          {
            icon: 'whatsapp.svg',
            text: 'Whatsapp',
            to: 'hasil-perhitungan-kalkulator-kpr-share.html#whatsapp',
            target: '_blank',
            action: 'share/whatsapp/share'
          },
          {
            icon: 'email.svg',
            text: 'Email',
            to: 'hasil-perhitungan-kalkulator-kpr-share.html#email',
            target: '_blank',
          },
          {
            icon: 'fragment-default.svg',
            text: 'Simpan',
            to: 'hasil-perhitungan-kalkulator-kpr-share.html#save',
            target: '_blank'
          }
        ]
      }
    ];

  include ../../layout/icon-text.pug

block graphic
  //- Graphic
  include graphic/index.pug
