='\n\n'
// Widget Chat Bot
.dolphin-chat-icon.ocbc-chat-bot
  //avatar
  .avatarimg
    ='\n'
    img(src='webchat/img/avatar.png', alt='Widget Rachel', data-pagespeed-url-hash='2967361105', onload='pagespeed.CriticalImages.checkImageForCriticality(this);')/
    |!{''}
    |
  #speech_balloon.balloon
    .box
      | Chat Me Up
='\n'
// /Widget Chat Bot
