// Chat Bot CSS
link(rel='stylesheet', href='webchat/css/red.css')/
link(rel='stylesheet', href='webchat/css/custom-red.css')/
link(rel='stylesheet', href='webchat/css/lightslider.css')/
link(rel='stylesheet', href='webchat/css/widget.css')/
link(rel='stylesheet', href='webchat/css/fonts.css')/
link(rel='stylesheet', href='webchat/css/font-awesome.css')/
link(rel='stylesheet', href='webchat/css/ocbcnisp.css')/
link(rel='stylesheet', href='webchat/css/chatbot-custom.css')/
='\n'
// /Chat Bot CSS
='\n\n'
