='\n\n'
// Chat Bot JS
script(src='webchat/js/jquery-2.1.3.min.js')
script(src='webchat/js/jquery.stylesheet.js')
script(src='webchat/js/iframeResizer.contentWindow.js')
script(src='webchat/js/iframeResizer.js')
script(src='webchat/js/lightslider.js')
script(src='webchat/js/lazyload.min.js')
script(src='webchat/js/cryptojs/pbkdf2.js')
script(src='webchat/js/cryptojs/aes.js')
script(src='webchat/js/cipher/aes-util.js')
script(src='webchat/js/stp.js')
script(src='webchat/js/sjs.js')
script(src='webchat/js/fuse.js')
script(src='webchat/js/speech.js')
script(src='webchat/js/chat.js')
script(src='webchat/js/custom.js')
script.
  function init(){$(document).ready(function(){Chat.init({connect_message:'Do you have questions ? <br/>Come chat with us, we are here to help you',loading_message:'Thank you for using our chat <br/>Please wait a moment...',loader_sub_header:'Connecting...',login_sub_header:'Please tell us about yourself',url:'https://chatbot.ocbcnisp.com',client_id:'a41a7bdd4fd586da08cbaa4d2352392e',client_secret:'a3ba3579b35d346778847e324d10ab5e',type_placeholder:'Type message...',avatar:'webchat/img/avatar.png',agent_avatar:'webchat/img/avatar.png',header:'<img src="webchat/img/rachel.svg" class="rachel_nametag" />',chat_sub_header:'Reach Your Life Goals',triggerMenu:'hi',guestName:"Guest OCBC NISP",errorLocationMessage:'Mohon aktifkan setelan lokasi pada browser anda. Silakan klik disini untuk melihat cara aktifasinya ya: <a href="https://support.apple.com/en-us/HT204690" target="_blank">Safari</a>, <a href="https://support.microsoft.com/en-us/help/17479/windows-internet-explorer-11-change-security-privacy-settings" target="_blank">IE</a>, <a href="https://support.mozilla.org/en-US/kb/does-firefox-share-my-location-websites" target="_blank">Mozilla Firefox</a>, <a href="https://support.google.com/chrome/answer/114662" target="_blank">Chrome</a>, <a href="https://support.microsoft.com/en-us/help/4468240/windows-10-location-service-and-privacy-microsoft-privacy" target="_blank">Microsoft Edge</a>,  <a href="https://help.opera.com/en/geolocation/" target="_blank">Opera</a>',enable_voice:false});});}init();
script.
  $(document).ready(function(){
    setTimeout(function(){
      $("#speech_balloon").removeClass("off");
    },1000);

    $(".trigger_chat_button").click(function(e){
      Chat.onIconClick();
      e.preventDefault();
    });

  });
