//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rumah - Card Article
  @description: Individu - Wealth Management - Rumah - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'life-goals-3.png',
        label: 'Kepemilikan rumah',
        title: 'Tips Memilih Rumah yang Tepat',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'life-goals-4.png',
        label: 'Kepemilikan rumah',
        title: 'Tips Memilih Rumah yang Tepat',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

//ocbc-card-article__prod-detail
.ocbc-card-article__prod-detail
  include ../../layout/card-article.pug
