//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rumah - Card USP
  @description: Individu - Wealth Management - Rumah - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Perencanaan Matang',
      description: 'Tim OCBC NISP siap membantu perencanaan membeli rumah',
      img: 'placeholder.jpg'
    },
    {
      title: 'Persiapan Pembelian',
      description: 'Memperlancar pembelian rumah',
      img: 'placeholder.jpg'
    },
    {
      title: 'Portfolio yang Tepat',
      description: 'Disesuaikan dengan kebutuhan hidup untuk hasil yang optimal',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
