//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rumah - Card Upselling
  @description: Individu - Wealth Management - Rumah - Card Upselling
  -------------------------------------------------------------------------------//

-
  data = {
    border: true,
    title: 'Ingin Wujudkan Life Goals Impian?',
    description: 'Rachel akan bantu kamu raih tujuan finansial lewat investasi',
    button: 'Ngobrol sama Rachel',
    to: 'individu-wealth-management-rachel.html'
  }

include ../../layout/card-upselling.pug
