//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rumah - CSR Program
  @description: Individu - Wealth Management - Rumah - CSR Program
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Harga Rumah Semakin Mahal',
      description: 'Harga properti terus meningkat sebanyak 30% per tahun sehingga peluang untuk membeli rumah semakin sulit',
      img: 'rumah-1.png',
      large: true
    },
    {
      reverse: true,
      title: 'Fasilitas KPR',
      description: '76% warga Indonesia membeli rumah dengan fasilitas KPR sebagai pilihan utama',
      img: 'rumah-2.png',
      large: true
    },
    {
      title: 'Generasi Milenial Susah Beli Rumah',
      description: 'Daya beli rumah di generasi milenial terus menurun karena meningkatnya harga properti',
      img: 'rumah-3.png',
      large: true
    }
  ]

include ../../layout/csr-program.pug
