//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rumah - Product Banner
  @description: Individu - Wealth Management - Rumah - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Membeli Rumah Impian',
    description: 'Miliki rumah tanpa khawatir kekurangan kebutuhan finansial',
    image: {
      desktop: 'life-goals-2-d.png',
      mobile: 'life-goals-2-m.png'
    },
    button: {
      primary: {
        text: 'Mulai Simulasi',
        to: 'kalkulator-kpr.html'
      }
    }
  }

include ../../components/product-detail-banner.pug
