//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - ProHire
  @description: Karir - Be The ONe - Vertical Tab - ProHire
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Pro Hire
    ='\n'
    img.ocbc-vt-content__img-content(src='img/dummy/page/karir/prohire.jpg', alt='Image Karir')/
    |!{''}
    |
    h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold.ocbc-vt-content__title--narrow
      | Say Hello to an Amazing Team
    p.ocbc-vt-content__p
      | If you haven’t yet activated your account for online and mobile banking, visit the Activate Now page of our website to get started.<br><br>You’ll need your ScotiaCard number, credit card number, or account number for your line of credit, investment, loan, or mortgage. If you have both a Scotiabank debit card and a credit card/account number, please use your ScotiaCard number to register.

    -
      data = {
        title: 'Kesempatan Karir di OCBC NISP',
        card: [
          {
            to: '#',
            title: 'Retail Banking',
            icon: 'cabang.svg'
          },
          {
            to: '#',
            title: 'Business Banking',
            icon: 'suitcase.svg'
          },
          {
            to: '#',
            title: 'Digital',
            icon: 'digital-channel.svg'
          },
          {
            to: '#',
            title: 'Support Services',
            icon: 'handshake.svg'
          }
        ]
      }

    include ../../../../layout/card-icon-title.pug

    h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold.ocbc-vt-content__title--narrow
      | Our Business Area
    p.ocbc-vt-content__p
      | Whether you’re driven by data, a marketing whiz or passionate about customer service, our diverse business will provide endless opportunities to grow your career. It’s a place where your talent and skills can take you in unexpected directions.<br><br>Explore our teams and find your perfect fit.
