//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab
  @description: FAQ - Vertical Tab
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title.ocbc-vt-content__title--black Internet Banking

//ocbc-faq-ac-container
.ocbc-faq-ac-container
  include faq-accordion/digital-channel/daftar-one-mobile.pug
