//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab
  @description: FAQ - Vertical Tab
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title.ocbc-vt-content__title--black Kartu ATM

.ocbc-faq-ac-container
  include faq-accordion/general/pemblokiran-atm-call-center.pug
  include faq-accordion/general/pemblokiran-atm-one-mobile.pug
  include faq-accordion/general/penggantian-atm.pug
