//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab
  @description: FAQ - Vertical Tab
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title.ocbc-vt-content__title--black Private Banking

//ocbc-faq-ac-container
.ocbc-faq-ac-container
  include faq-accordion/general/biaya-transaksi.pug
