//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab
  @description: FAQ - Vertical Tab
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title.ocbc-vt-content__title--black Simpanan
//ocbc-faq-ac-container
.ocbc-faq-ac-container
  include faq-accordion/individu/pembukaan-rekening.pug
  include faq-accordion/individu/biaya-transaksi.pug
