//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab
  @description: FAQ - Vertical Tab
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title.ocbc-vt-content__title--black SMS Banking OCBC NISP

//ocbc-faq-ac-container
.ocbc-faq-ac-container
  include faq-accordion/digital-channel/penggunaan-one-mobile.pug
