//-------------------------------------------------------------------------------
  @name: Design System - Content - Home
  @description: Design System - Content - Home
  -------------------------------------------------------------------------------//

+ds__contentItem('Design System', 'OCBC’s Public Website')
  h2.ocbc-ds__intro__title
    | Building an Exceptional Experience With You
  p.ocbc-ds__intro__desc
    | Welcome to OCBC NISP Design System. This guideline contains all the tools and resources you need to build and maintain the brand identity of OCBC NISP through the website. Our main goal for this design system development is to create consistency, quality, and efficiency in our digital landscapes, specifically for the creation of the public website
  .ocbc-ds__intro__screen
    ='\n'
    img.ocbc-ds__intro__screen__img(src='img/ds/introduction-screen.png', alt='Introduction Screen')/
    |!{''}
    |
  .ocbc-ds__intro__get-started
    h2.ocbc-ds__intro__get-started__title
      | Getting Started
    p.ocbc-ds__intro__get-started__desc
      | You will find the fundamentals of design rules you need when working for the public website:
    .ocbc-ds__intro__get-started__list
      -
        getStartedList = [
          {
            icon: 'elements.svg',
            title: 'Elements',
            desc: 'Essential components as building blocks as you develop new products and features'
          },
          {
            icon: 'communication.svg',
            title: 'Communication',
            desc: 'Storytelling toolkits for thoughtful product experience'
          },
          {
            icon: 'fragment-default.svg',
            title: 'Imagery',
            desc: 'Develop visual assets that express characteristics of our brand personality'
          },
          {
            icon: 'typography.svg',
            title: 'Typography',
            desc: 'Maintain visual hierarchy throughout all of the content'
          }
        ]
      each val in getStartedList
        .ocbc-ds__intro__get-started__item
          .ocbc-ds__intro__get-started__box
            .ocbc-ds__intro__get-started__item__icon-wrapper
              ='\n'
              img.ocbc-ds__intro__get-started__item__icon(src='img/icon/'+val.icon, alt=val.title)/
              |!{''}
              |
            h4.ocbc-ds__intro__get-started__item__title
              | !{val.title}
            p.ocbc-ds__intro__get-started__item__desc
              | !{val.desc}
