//-------------------------------------------------------------------------------
  @name: Product Detail - Card USP
  @description: Product Detail - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Dua Rekening Terpisah',
      description: 'Kelola transaksi bisnis dan personal lebih maksimal',
      img: 'placeholder.jpg'
    },
    {
      title: 'Bebas Transfer Antar Bank',
      description: 'Bebas transaksi di dalam negeri dengan semua metode',
      img: 'placeholder.jpg'
    },
    {
      title: 'KTA Plafon Rp200 Juta',
      description: 'Pinjaman mudah dan approval kurang dari 1 jam saja',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
