//-------------------------------------------------------------------------------
  @name: Product Detail - FAQ Dropdown
  @description: Product Detail - FAQ Dropdown
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Pertanyaan Populer Tentang Nyala Bisnis',
    question: [
      {
        val: 1,
        text: 'Berapa Bunga dan Biaya KTA melalui Nyala Bisnis?'
      },
      {
        val: 2,
        text: 'Cara bertransaksi dengan QR Payment di ONe Mobile'
      },
      {
        val: 3,
        text: 'Apa itu ONe Mobile'
      },
      {
        val: 4,
        text: 'Apakah ONe Mobile aman untuk bertransaksi'
      }
    ],
    answer: [
      {
        val: 1,
        text: '- Limit pinjaman mulai dari Rp25.000.000,- s.d Rp200.000.000,-<br/>- Jangka waktu 12,24 dan 36 bulan<br/>- Bunga: 1,59% flat per bulan untuk jangka waktu 36 bulan'
      },
      {
        val: 2,
        text: 'Cukup satu aplikasi untuk kemudahan dan kenyamanan transaksi perbankan Anda. Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      },
      {
        val: 3,
        text: 'ONe mobile adalah sebuah aplikasi berbasis digital yang siap membantu Anda betransaksi lebih mudah dan cepat'
      },
      {
        val: 4,
        text: 'Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      }
    ],
  }

//ocbc-faq-dd__prod-detail
.ocbc-faq-dd__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          include ../../components/faq-dropdown.pug
