//-------------------------------------------------------------------------------
  @name: Product Detail - Main Banner
  @description: Product Detail - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Nyala Bisnis',
    description: 'Layanan saldo gabungan untuk mengatur keuangan pribadi dan bisnis secara terpadu',
    image: {
      desktop: 'individu-nyala-bisnis-d.jpg',
      mobile: 'individu-nyala-bisnis-m.jpg'
    },
    button: {
      primary: {
        text: 'Ajukan',
        to: '#'
      }
    }
  }

include ../../components/product-detail-banner.pug
