//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Nyala Bisnis - Nyala How To
  @description: Individu - Nyala - Nyala Bisnis - Nyala How To
  -------------------------------------------------------------------------------//

-
  data = {
    image: {
      desktop: 'ajukan-nyala-bisnis-d.jpg',
      mobile: 'ajukan-nyala-bisnis-m.jpg'
    },
    title: '4 Tahap Buka Nyala Bisnis',
    description: 'Tidak butuh waktu lama untuk mengajukan Nyala Bisnis dengan ONe Mobile',
    button: {
      text: 'Lihat Kelebihannya',
      to: '#'
    },
    list: [
      'Download ONe Mobile',
      'Pilih Nyala Bisnis',
      'Lengkapi data diri dan data usaha',
      'Nikmati layanan Nyala Bisnis'
    ]
  }

include ../../components/nyala-how-to-banner.pug
