//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Nyala Bisnis - Product Category Card
  @description: Individu - Nyala - Nyala Bisnis - Product Category Card
  -------------------------------------------------------------------------------//

-
  data = {
    sectionDetail: true,
    title: 'Lihat Kelebihan Layanan Nyala Lainnya',
    card: [
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Nyala',
        item: [
          'Bebas biaya transfer hingga 10x',
          'Reksa Dana Online',
          'Bonus Cashback Rp250 Ribu'
        ]
      },
      {
        to: '#',
        image: 'placeholder.jpg',
        title: 'Nyala Individu',
        item: [
          'Bebas biaya transfer hingga 50x',
          'Dedicated Relationship Manager',
          'Cicilan kartu kredit 0%'
        ]
      }
    ]
  }

include ../../layout/card-product-category.pug
