//-------------------------------------------------------------------------------
  @name: Bisnis SME Layanan - Tab
  @description: Bisnis SME Layanan - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug


//- variation
block variation
  - tabsControllBorder = true

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'manage',
          text: 'Manage'
        },
        {
          target: 'grow',
          text: 'Grow'
        },
        {
          target: 'live',
          text: 'Live'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='manage')
    include tab-content/manage.pug

  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='grow')
    include tab-content/grow.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='live')
    include tab-content/live.pug
