//-------------------------------------------------------------------------------
  @name: Korporasi - Card Head Product
  @description: Korporasi - Card Head Product
  -------------------------------------------------------------------------------//

-
  data = {
    cardWithNyala: false,
    title: 'Produk dan layanan yang menjawab semua kebutuhan',
    card: [
      {
        isNyala: false,
        image: 'korporasi-1.jpg',
        title: 'Simpanan & Investasi',
        to: 'sme.html'
      },
      {
        isNyala: false,
        image: 'korporasi-2.jpg',
        title: 'Pinjaman',
        to: 'commercial.html'
      },
      {
        isNyala: false,
        image: 'korporasi-3.jpg',
        title: 'Treasuri',
        to: 'enterprise.html'
      },
      {
        isNyala: false,
        image: 'korporasi-4.jpg',
        title: 'Layanan',
        to: 'wholesale.html'
      }
    ]
  };

include ../../layout/card-head-product.pug
