//-------------------------------------------------------------------------------
  @name: Korporasi - Highlight Promo
  @description: Korporasi - Highlight Promo
  -------------------------------------------------------------------------------//

-
  data = {
    icon: '',
    title: 'Highlight Promo',
    card: [
      {
        isRectangle: true,
        to: 'promo-detail.html',
        title: 'NTB Program',
        img: 'korporasi-1.jpg',
        label: 'Promo Korporasi',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Refer Your Partner',
        img: 'korporasi-2.jpg',
        label: 'Promo Korporasi',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Upsize Program',
        img: 'korporasi-3.jpg',
        label: 'Promo Korporasi',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Customer Get Customer',
        img: 'korporasi-4.jpg',
        label: 'Promo Korporasi',
        date: '1 Sept 2019 - 1 Sept 2020'
      }
    ],
    hasMore: true
  };

include ../../layout/highlight-promo.pug
