//-------------------------------------------------------------------------------
  @name: Korporasi - Main Banner
  @description: Korporasi - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            image: {
              desktop: 'korporasi-d.jpg',
              mobile: 'korporasi-m.jpg'
            },
            title: 'Yakin Jalankan Bisnis Jauh dari Pesimis',
            description: 'OCBC NISP hadirkan solusi beragam untuk penuhi semua kepentingan bisnis.'
          },
        ];
include ../../layout/main-banner.pug
