//-------------------------------------------------------------------------------
  @name: Korporasi - Promo Banner
  @description: Korporasi - Promo Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      light: true,
      image: {
        desktop: 'korporasi-d.jpg',
        mobile: 'korporasi-m.jpg'
      },
      label: 'Promosi - Korporasi',
      title: 'Special Pricing Khusus untuk Nasabah Baru Rekening Giro',
      description: 'Tingkatkan saldo rekening Giro Anda dan dapatkan keuntungan berlipat',
      button: {
        text: 'Berita Lainnya',
        to: '#'
      }
    },
    {
      image: {
        desktop: 'bisnis-d.jpg',
        mobile: 'bisnis-m.jpg'
      },
      label: 'Promosi - Korporasi',
      title: 'Special Pricing Khusus untuk Nasabah Baru Rekening Giro',
      description: 'Tingkatkan saldo rekening Giro Anda dan dapatkan keuntungan berlipat',
      button: {
        text: 'Berita Lainnya',
        to: '#'
      }
    },
  ];

include ../../layout/promo-banner.pug
