/* ==========================================================================
   Functions
   ========================================================================== */

// color
@function color($color-name, $color-variant: false) {
  @if $color-variant != false {
    @return map-get(map-get($colors, $color-name), $color-variant);
  } @else {
    @return map-get($colors, $color-name);
  }
}

// linear-gradient
@function lg($color-name, $direction: 113deg, $from: 0%, $to: 100%) {
  @if $direction == 'to-bottom' {
    @return linear-gradient(
      to bottom,
      map-get(map-get($gradient, $color-name), 0) $from,
      map-get(map-get($gradient, $color-name), 100) $to
    );
  } @else {
    @return linear-gradient(
      $direction,
      map-get(map-get($gradient, $color-name), 0) $from,
      map-get(map-get($gradient, $color-name), 100) $to
    );
  }
}

// font family
@function ff($name) {
  @return map-get($font, $name);
}

// font size
@function fz($name, $type: "desktop") {
  @return map-get(map-get(map-get($font, $name), $type), font-size);
}

// line height
@function lh($name, $type: "desktop") {
  @return map-get(map-get(map-get($font, $name), $type), line-height);
}

// font weight
@function fw($weight) {
  @return map-get(map-get($font, weight), $weight);
}

// screen
@function screen($size) {
  @return map-get($screen, $size);
}
