//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil  - Main Banner
  @description: Tentang Kami - Profil  - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Profil OCBC NISP',
    description: 'Sekilas informasi mengenai perkembangan Bank OCBC NISP',
    image: {
      desktop: 'tentang-kami-profil-d.jpg',
      mobile: 'tentang-kami-profil-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
