//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil  - Tab
  @description: Tentang Kami - Profil  - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'latar-belakang',
          text: 'Latar Belakang'
        },
        {
          target: 'visi-misi',
          text: 'Visi & Misi'
        },
        {
          target: 'struktur-manajemen',
          text: 'Struktur Manajemen'
        },
        {
          target: 'pencapaian',
          text: 'Pencapaian'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='latar-belakang')
    include tab-content/latar-belakang.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='visi-misi')
    include tab-content/visi-misi.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='struktur-manajemen')
    include tab-content/struktur-manajemen.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='pencapaian')
    include tab-content/pencapaian.pug
