//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Digital Channel - Breadcrumbs
  @description: Bunga & Biaya Digital Channel - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'bunga-dan-biaya.html',
      text: 'Bunga & Biaya'
    },
    {
      to: 'bunga-dan-biaya-digital-channel.html',
      text: 'Bunga & Biaya Digital Channel'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
