//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Digital Channel - Product Banner
  @description: Bunga & Biaya Digital Channel- Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Bunga & Biaya Digital Channel',
    description: 'Informasi lengkap bunga dan biaya transaksi untuk layanan Digital Channel OCBC NISP',
    image: {
      desktop: 'bunga-biaya-d.jpg',
      mobile: 'bunga-biaya-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
