//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab
  @description: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'digital-channel',
          text: 'Digital Channel'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='digital-channel')
    include tab-content/digital-channel.pug