//-------------------------------------------------------------------------------
  @name: Basic Page - Suku Bunga Dasar - Content - SBDB
  @description: Basic Page - Suku Bunga Dasar - Content - SBDB
  -------------------------------------------------------------------------------//

//ocbc-basic-page__body__item
.ocbc-basic-page__body__item
  //table
  .ocbc-basic-page__table
    //ocbc-basic-page__table__item
    .ocbc-basic-page__table__item
      include table/sbdb-idr-table.pug

    //ocbc-basic-page__table__item
    .ocbc-basic-page__table__item
      include table/sbdb-usd-table.pug
