//-------------------------------------------------------------------------------
  @name: Basic Page - Suku Bunga Dasar - Content - SBDK
  @description: Basic Page - Suku Bunga Dasar - Content - SBDK
  -------------------------------------------------------------------------------//

//ocbc-basic-page__body__item
.ocbc-basic-page__body__item
  //table
  .ocbc-basic-page__table
    //ocbc-basic-page__table__item
    .ocbc-basic-page__table__item

      include table/sbdk-table.pug

      p.ocbc-basic-page__table__desc
        | *) Khusus untuk Bank OCBC NISP tidak termasuk Kredit Mikro

  p.ocbc-basic-page__title-list
    | Keterangan :
  ol.ocbc-basic-page__list
    li.ocbc-basic-page__list__item
      | Suku Bunga Dasar Kredit (SBDK) digunakan sebagai dasar penetapan suku bunga kredit yang akan dikenakan oleh Bank kepada nasabah. SBDK belum memperhitungkan komponen estimasi premi risiko yang besarnya tergantung dari penilaian Bank terhadap risiko masing-masing debitur atau kelompok debitur. Dengan demikian, besarnya suku bunga kredit yang dikenakan kepada debitur belum tentu sama dengan SBDK.
    li.ocbc-basic-page__list__item
      | Dalam Kredit Konsumsi non KPR tidak termasuk penyediaan dana melalui kartu kredit dan kredit tanpa agunan.
    li.ocbc-basic-page__list__item
      | SBDK diatas berlaku efektif 15 April 2020 hingga ada perubahan dan informasi lebih lanjut.
