//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Kesehatan - Card Article
  @description: Individu - Wealth Management - Kesehatan - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'life-goals-7.png',
        label: 'Perlindungan Kesehatan',
        title: 'Tips Berolahraga di Pagi Hari',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'life-goals-8.png',
        label: 'Perlindungan Kesehatan',
        title: 'Tips Berolahraga di Pagi Hari',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

//ocbc-card-article__prod-detail
.ocbc-card-article__prod-detail
  include ../../layout/card-article.pug
