//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Kesehatan - Card Apply
  @description: Individu - Wealth Management - Kesehatan - Card Apply
  -------------------------------------------------------------------------------//

//ocbc-card--ca__prod-detail
.ocbc-card--ca__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          -
            data = {
              title: 'Siap mengatasi masalah kesehatan',
              btnList: [
                {
                  type: 'primary',
                  to: 'kalkulator-asuransi.html',
                  txt: 'Mulai Simulasi'
                }
              ]
            }
          include ../../components/card-apply.pug
