//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Kesehatan - Card USP
  @description: Individu - Wealth Management - Kesehatan - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Proteksi Jiwa',
      description: 'Melindungi gaya hidup di masa yang akan datang',
      img: 'placeholder.jpg'
    },
    {
      title: 'Proteksi Rawat Inap',
      description: 'Pertanggungan rawat inap dan perawatan intensif',
      img: 'placeholder.jpg'
    },
    {
      title: 'Proteksi Penyakit Kritis',
      description: 'Membayarkan uang pertanggungan yang ditentukan',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
