//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Kesehatan - CSR Program
  @description: Individu - Wealth Management - Kesehatan - CSR Program
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Perokok Berpotensi Terserang Penyakit',
      description: 'Pria yang merokok memiliki probabilitias 49% terserang penyakit kritis sebelum usia 65 tahun',
      img: 'kesehatan-1.png',
      large: true
    },
    {
      reverse: true,
      title: 'Kelamaan Duduk Tidak Baik',
      description: 'Pekerja kantor yang duduk lebih dari 10 jam sehari memiliki risiko kematian sebesar 48%',
      img: 'kesehatan-2.png',
      large: true
    },
    {
      title: 'Minum Kopi Berlebihan Tidak Baik',
      description: 'Kopi dapat menyebabkan masalah pada lambung jika dikonsumsi berlebihan',
      img: 'kesehatan-3.png',
      large: true
    }
  ]

include ../../layout/csr-program.pug
