//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Kesehatan - Product Banner
  @description: Individu - Wealth Management - Kesehatan - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Perlindungan Diri & Keluarga',
    description: 'Mewujudkan impian tanpa khawatir dengan kebutuhan perlindungan kesehatan',
    image: {
      desktop: 'life-goals-4-d.png',
      mobile: 'life-goals-4-m.png'
    },
    button: {
      primary: {
        text: 'Mulai Simulasi',
        to: 'kalkulator-asuransi.html'
      }
    }
  }

include ../../components/product-detail-banner.pug
