//-------------------------------------------------------------------------------
  @name: Design System - Content - Writing Style & Guideline: Content Structure
  @description: Design System - Content - Writing Style & Guideline: Content Structure
  -------------------------------------------------------------------------------//

+ds__contentItem('Content Structure', 'Writing Style & Guideline')
  .ocbc-ds__content__wsg
    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Headline')
        p.ocbc-ds__body__desc
          | Be enticing when writing a headline. The title should be related and recap the key idea of the content. There's room for exploration here as long as it is clear, so it's still easy to understand.

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Sub-Headline')
        p.ocbc-ds__body__desc
          | Writing for the sub-headline follows the same principles as writing the headline: to allure and entice the reader to notice. The content enhances and functions as supporting details of what we put on the headline.

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Body Content')
        p.ocbc-ds__body__desc
          | The primary text contains the complete full information about the content.

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('List & Bulleted List')
        p.ocbc-ds__body__desc
          | List and bulleted list organize written information for users. It helps make information more scannable and easier to understand. We apply this type of content, specifically in the product category & product USP section, to give key details of the product.

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Call To Action')
        p.ocbc-ds__body__desc
          | The CTA should give users clear instructions on what to do next, provoke an immediate response with words that familiar with them.
        .ocbc-ds__content__wsg__list
          .ocbc-ds__content__wsg__item
            p.ocbc-ds__content__wsg__list__desc
              | However, we limit CTA's choice to build continuity across the website so the users won't be overwhelmed by it.
            ul.ocbc-ds__content__wsg__list__ul.ocbc-ds__content__wsg__list__ul--body
              li.ocbc-ds__content__wsg__list__li
                | To view the full length of a content -> <strong>Baca / Read</strong>
              li.ocbc-ds__content__wsg__list__li
                | To move to a specific page -> <strong>Cari Tahu / Find More</strong>
              li.ocbc-ds__content__wsg__list__li
                | To see the option from a range of choices -> <strong>Selengkapnya /  See More</strong>
              li.ocbc-ds__content__wsg__list__li
                | To apply a loan or open savings directly from the product page -> <strong>Ajukan / Apply</strong>
              li.ocbc-ds__content__wsg__list__li
                | To contact customer service -> <strong>Hubungi Kami / Contact Us</strong>
              li.ocbc-ds__content__wsg__list__li
                | To send a form -> <strong>Kirim / Submit</strong>
              li.ocbc-ds__content__wsg__list__li
                | To start simulation -> <strong>Mulai Simulasi / Start Simulation</strong>
