//-------------------------------------------------------------------------------
  @name: Design System - Content - Writing Style & Guideline: Convention & Rules
  @description: Design System - Content - Writing Style & Guideline: Convention & Rules
  -------------------------------------------------------------------------------//

+ds__contentItem('Convention & Rules', 'Writing Style & Guideline')
  .ocbc-ds__content__wsg
    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Addressing Users')
        p.ocbc-ds__body__desc
          | As we speak in a friendly manner, we refer our clients as "Anda" in Indonesian. Please mind balancing the usage of salutation to avoid redundancy.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Kredit Modal Kerja membantu mendapatkan tanah kosong untuk permulaan bisnis Anda.

            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Kredit Modal Kerja membantu mendapatkan tanah kosong untuk permulaan bisnis kamu.

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Active Voice')
        p.ocbc-ds__body__desc
          | Use the active voice whenever possible to make it easier to understand for users.
        .ocbc-ds__content__wsg__exp
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Download ONe Mobile OCBC NISP untuk bertransaksi online di mana saja, kapan saja.
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Download ONe Mobile OCBC NISP untuk bertransaksi online di mana saja, kapan saja.
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | ONe Mobile OCBC NISP dapat didownload untuk transaksi online di mana saja, kapan saja.
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | ONe Mobile OCBC NISP dapat didownload untuk transaksi online di mana saja, kapan saja.

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Avoid the Superlatives')
        p.ocbc-ds__body__desc
          | Try to avoid expressions that are too informal, unsophisticated, vague, exaggerated, or subjective, as well as those that are generally unnecessary or incorrect.
        .ocbc-ds__content__wsg__exp
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Layanan perbankan serba ada untuk semua kebutuhan yang bebas dari biaya admin rekening, biaya tarik tunai di ATM mana saja, dan transfer ke semua bank.
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | No Transfer Fees
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Layanan perbankan yang menjamin semua urusan perbankan jadi lebih mudah dengan gratis biaya admin rekening, biaya tarik tunai di ATM mana saja, dan transfer ke semua bank.
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Get Free Transfer Fee

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Case/Capitalization')
        p.ocbc-ds__body__desc
          | In most writing, use sentence case. Only capitalizing the first word in sentences. Use title case when referring to the headline.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--mb64.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                ul.ocbc-ds__content__wsg__exp__ul
                  li.ocbc-ds__content__wsg__exp__li
                    | Tanda 360 Plus
                  li.ocbc-ds__content__wsg__exp__li
                    | ONe Mobile
                  li.ocbc-ds__content__wsg__exp__li
                    | OCBC NISP SimPel
        p.ocbc-ds__body__desc
          | Titles of works are always written in title case, while all names related to brand or product should follow their style.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Salurkan ZIS (Zakat, Zakat Fitrah, Infaq/Shadaqah) langsung melalui e-Channel OCBC NISP.
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Salurkan ZIS (Zakat, Zakat Fitrah, Infaq/Shadaqah) Langsung Melalui e-Channel OCBC NISP.

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Periods')
        p.ocbc-ds__body__desc
          | Use periods to end a sentence. We are not using periods for the headline, list, or bullet list.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl
                  | Headline
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Ingin Ini-itu Semuanya Bisa Terwujud
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl
                  | List
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Dapatkan bunga menarik dengan lakukan penempatan online deposito khusus melalui ONe Mobile.
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl
                  | Bullet List
                ul.ocbc-ds__content__wsg__exp__ul
                  li.ocbc-ds__content__wsg__exp__li
                    | Poin Reward setiap transaksi
                  li.ocbc-ds__content__wsg__exp__li
                    | Cicilan Ringan
                  li.ocbc-ds__content__wsg__exp__li
                    | Penawaran di Merchant Rekanan

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Asterisks')
        p.ocbc-ds__body__desc
          | Use asterisks to highlight legal disclaimers that users need to read more in content. Put it in the end. It goes after every other punctuation mark.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--mhs
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Investasi reksa dana mulai dari Rp10 ribu.*
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | *Investasi reksa dana mulai dari Rp10 ribu
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Investasi reksa dana mulai dari Rp10 ribu*.

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Ampersands')
        p.ocbc-ds__body__desc
          | Use the ampersands when the space is limited, specifically in headlines and USP section. For description or body copy there are options to use both ampersands or not. Keep in mind that the subjects must be related for better understanding.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl
                  | Headline
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Mudah & Cepat Apapun Kegiatan Perbankannya
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl
                  | Description
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Informasi lengkap bunga dan biaya transaksi untuk produk Individu OCBC NISP

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Numbers')
        p.ocbc-ds__body__desc.ocbc-ds__body__desc--mb16
          | In general, write one to nine as words and write anything larger than nine in numeral (10, 11, 12, and so on). For some cases there are exception to use numeral directly:
        ol.ocbc-ds__content__wsg__list__ol.ocbc-ds__content__wsg__list__ol--body
          li.ocbc-ds__content__wsg__list__li
            | When starting a sentence
          li.ocbc-ds__content__wsg__list__li
            | In headlines or buttons with minimal space
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--mb64
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Tabungan untuk transaksi sehari-hari dengan 12 pilihan mata uang dalam satu rekening
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | 12 Currencies in 1 Account
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Tabungan untuk transaksi sehari-hari dengan dua belas pilihan mata uang dalam satu rekening
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Twelve Currencies in One Account
        p.ocbc-ds__body__desc
          | For telephone number, use dashes without spaces between numbers.
          br/
          | For hotline number, keep the number without spaces.
          br/
          | Use space every four digits number for easier readibility.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 08xx-xxxx-xxxx
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 1500999
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 1789 2456 3654 4987
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 08xxxxxxxxxx
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 1500 999
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 1789254636544987

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Date & Time')
        p.ocbc-ds__body__desc
          | Date and time are formatted according to the language.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Sabtu, 10 Maret 2020
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Saturday, March 10 2020
                br/
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--mb8
                  | Use the 24-clock format:
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 15:24
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Sabtu, 10-03-2020
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Saturday, 10-03-2020
                br/
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--mb8
                  | Use the 24-clock format:
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 03:24 PM
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--mt24.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl
                  | For specific display in system use abbreviation:
                p.ocbc-ds__content__wsg__exp__item__desc
                  | 10 Mar 2020

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Punctuation - Currency')
        p.ocbc-ds__body__desc
          | For Rupiah, the writing is presented in symbol and not separated by space.
          br/
          br/
          | For foreign currency, use currency codes with a space between the code and amount. The nominal is written based on english convention and using comma as a separator.
          br/
          br/
          | If the display amount is reach 100,000 above you can write using combination of letters and numbers. Please note that this is applied only for marketing purpose in  headline or body copy.
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Rp50,000
                p.ocbc-ds__content__wsg__exp__item__desc
                  | USD 5,000
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Rp700,000,234.27
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Rp600 Ribu
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Rp 50.000
                p.ocbc-ds__content__wsg__exp__item__desc
                  | US$ 5,000
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Rp 700.000.234,27
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Rp600ribu

    .ocbc-ds__content__wsg__item
      +ds__contentBodyItem('Glossary')
        p.ocbc-ds__body__desc
          | List of standardized spelling
        .ocbc-ds__content__wsg__exp.ocbc-ds__content__wsg__exp--no-mh
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
              .ocbc-ds__content__wsg__exp__box
                ul.ocbc-ds__content__wsg__exp__ul.ocbc-ds__content__wsg__exp__ul--none
                  li.ocbc-ds__content__wsg__exp__li
                    | e-Channel
                  li.ocbc-ds__content__wsg__exp__li
                    | email
                  li.ocbc-ds__content__wsg__exp__li
                    | ONe Mobile
                  li.ocbc-ds__content__wsg__exp__li
                    | Nyala
