//-------------------------------------------------------------------------------
  @name: Design System - Content - Writing Style & Guideline: Foreword
  @description: Design System - Content - Writing Style & Guideline: Foreword
  -------------------------------------------------------------------------------//

+ds__contentItem('Foreword', 'Writing Style & Guideline')
  //.ocbc-ds__content__wsg__overview
  .ocbc-ds__content__wsg__overview
    p.ocbc-ds__content__wsg__overview__desc
      | As one of the reputable banks in Indonesia, our content strives to live up the brand value of OCBC NISP "With You" and demonstrate it through the experience and knowledge sharing for the customer in realizing goals.
    p.ocbc-ds__content__wsg__overview__desc
      | This guide addresses what you need in terms of providing content in OCBC NISP: a current source of truth for anyone who writes, edits, update or translate particularly for the public website.

