//-------------------------------------------------------------------------------
  @name: Design System - Content - Writing Style & Guideline
  @description: Design System - Content - Writing Style & Guideline
  -------------------------------------------------------------------------------//

//- ocbc-ds__content__section
+ds__contentSection('Writing Style & Guideline')
  //- foreword
  include foreword.pug

  //- principles
  include principles.pug

  //- voice-tone
  include voice-tone.pug

  //- content-structure
  include content-structure.pug

  //- convention-rules
  include convention-rules.pug
