//-------------------------------------------------------------------------------
  @name: Design System - Content - Writing Style & Guideline: Principles
  @description: Design System - Content - Writing Style & Guideline: Principles
  -------------------------------------------------------------------------------//

+ds__contentItem('Principles', 'Writing Style & Guideline')
  .ocbc-ds__content__wsg
    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Simple & Direct')
        p.ocbc-ds__body__desc
          | Use plain language and simple sentences. When we use words people understand, our content is more findable, accessible, and inclusive.

        .ocbc-ds__content__wsg__exp
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences
          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Buka aplikasi ONe Mobile dan pilih Taka Hadiah Cashback
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Please open ONe Mobile application and then select Taka Cashback Prizes

            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Silakan membuka aplikasi ONe Mobile dan kemudian pilih Taka Hadiah Cashback
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Open ONe Mobile application and select Taka Cashback Hadiah

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Concise')
        p.ocbc-ds__body__desc
          | Keep the sentences short and sweet. Craft sentences at 25 words or fewer, whenever possible. Try to varying sentence length. Switching things up helps you keep readers interested.

        .ocbc-ds__content__wsg__exp
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences

          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Solusi perbankan OCBC NISP siap bantu kamu penuhi semua aspirasi dalam hidup. #TAYTB
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Manage Your Finances & Make Your Dreams Come True
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Solusi perbankan serba ada dari OCBC NISP  yang siap membantu kamu penuhi semua aspirasi hidup. #TAYTB
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Manage Finances Better for the Sake of to Make Your Dreams Come True

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('All Reading Levels')
        p.ocbc-ds__body__desc
          | Write in a way that suits the situation. Ask yourself: Who is going to read this? What do they need to know? How might they be feeling? Respect the complexity of our users’ experiences and make sure it works for them.

        .ocbc-ds__content__wsg__exp
          p.ocbc-ds__content__wsg__exp__title
            | Example Sentences

          .ocbc-ds__content__wsg__exp__list
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                  | Should Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Tabungan aman dapat cashback Rp600 Ribu di tangan
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Check Foreign Exchange Rates Today
            .ocbc-ds__content__wsg__exp__item
              .ocbc-ds__content__wsg__exp__box
                p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                  | Shouldn’t Do
                p.ocbc-ds__content__wsg__exp__item__desc
                  | Tabungan Kamu tetap aman dan dapat cashback Rp600 Ribu buat jajan kopi susu kesukaan
                p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                  | Hey you can check foreign exchange rates today
