//-------------------------------------------------------------------------------
  @name: Design System - Content - Writing Style & Guideline: Voice & Tone
  @description: Design System - Content - Writing Style & Guideline: Voice & Tone
  -------------------------------------------------------------------------------//

+ds__contentItem('Voice & Tone', 'Writing Style & Guideline')
  .ocbc-ds__content__wsg
    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Voice')
        p.ocbc-ds__body__desc
          | Our content should illustrate our tone and pitch universally. Just like a trainer, it speaks with a confident, friendly, and actionable voice.
        .ocbc-ds__content__wsg__confident
          .ocbc-ds__content__wsg__confident__item
            h4.ocbc-ds__content__wsg__confident__title
              | Confident
            p.ocbc-ds__content__wsg__confident__desc
              | We are very conscious of catering to the needs of the customer specifically and commit together for realizing goals

            .ocbc-ds__content__wsg__confident__list
              .ocbc-ds__content__wsg__confident__list__item
                p.ocbc-ds__content__wsg__confident__list__item__title.ocbc-ds__content__wsg__confident__list__item__title--god
                  | Make it
                p.ocbc-ds__content__wsg__confident__list__item__val
                  | clear, direct, professional
              .ocbc-ds__content__wsg__confident__list__item
                p.ocbc-ds__content__wsg__confident__list__item__title.ocbc-ds__content__wsg__confident__list__item__title--bad
                  | Not
                p.ocbc-ds__content__wsg__confident__list__item__val
                  | patronizing, blunt, shallow
            .ocbc-ds__content__wsg__exp
              p.ocbc-ds__content__wsg__exp__title
                | Example Sentences

              .ocbc-ds__content__wsg__exp__list
                .ocbc-ds__content__wsg__exp__item
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                      | Should Do
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Bawa bisnis berkembang lebih besar dan sukses dengan berbagai solusi dari OCBC NISP.
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Bring business to grow bigger and more successful with various solutions from OCBC NISP.
                .ocbc-ds__content__wsg__exp__item
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                      | Shouldn’t Do
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Percayakan bisnis pada OCBC NISP, karena tanpa mereka, bisnis tidak akan berjalan dan berkembang pesat.
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Always trust your business with OCBC NISP. Your business will stay small without us.

          .ocbc-ds__content__wsg__confident__item
            h4.ocbc-ds__content__wsg__confident__title
              | Friendly
            p.ocbc-ds__content__wsg__confident__desc
              | We understand and recognized customer's potential with every goal they want to achieve

            .ocbc-ds__content__wsg__confident__list
              .ocbc-ds__content__wsg__confident__list__item
                p.ocbc-ds__content__wsg__confident__list__item__title.ocbc-ds__content__wsg__confident__list__item__title--god
                  | Make it
                p.ocbc-ds__content__wsg__confident__list__item__val
                  | approachable, engaging, informative
              .ocbc-ds__content__wsg__confident__list__item
                p.ocbc-ds__content__wsg__confident__list__item__title.ocbc-ds__content__wsg__confident__list__item__title--bad
                  | Not
                p.ocbc-ds__content__wsg__confident__list__item__val
                  | arrogant, beating the bush, one-way
            .ocbc-ds__content__wsg__exp
              p.ocbc-ds__content__wsg__exp__title
                | Example Sentences
              .ocbc-ds__content__wsg__exp__list
                .ocbc-ds__content__wsg__exp__item
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                      | Should Do
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Nabung Mata Uang Asing Sejak Dini untuk Persiapan Liburan Nanti
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Starts Saving Foreign Currencies for Your Dream Holidays
                .ocbc-ds__content__wsg__exp__item
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                      | Shouldn’t Do
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Nabung Mata Uang Asing Sejak Dini Karena Sejak Awal Investasi Mesti Dijalani dengan Serius
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Starts Saving Foreing Currencies Because Investment Have to Be Serious

          .ocbc-ds__content__wsg__confident__item
            h4.ocbc-ds__content__wsg__confident__title
              | Actionable
            p.ocbc-ds__content__wsg__confident__desc
              | We are always encouraging as we help people getting their finances in shape for whatever their aspirations are

            .ocbc-ds__content__wsg__confident__list
              .ocbc-ds__content__wsg__confident__list__item
                p.ocbc-ds__content__wsg__confident__list__item__title.ocbc-ds__content__wsg__confident__list__item__title--god
                  | Make it
                p.ocbc-ds__content__wsg__confident__list__item__val
                  | useful, guided, explanatory
              .ocbc-ds__content__wsg__confident__list__item
                p.ocbc-ds__content__wsg__confident__list__item__title.ocbc-ds__content__wsg__confident__list__item__title--bad
                  | Not
                p.ocbc-ds__content__wsg__confident__list__item__val
                  | superficial, half-truth, tricks
            .ocbc-ds__content__wsg__exp
              p.ocbc-ds__content__wsg__exp__title
                | Example Sentences
              .ocbc-ds__content__wsg__exp__list
                .ocbc-ds__content__wsg__exp__item
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--good
                      | Should Do
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Efisiensi waktu dan biaya dengan transaksi online dan realtime dengan VelocityMobile.
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Time and cost efficient with online and realtime transactions with VelocityMobile.
                .ocbc-ds__content__wsg__exp__item
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__lbl.ocbc-ds__content__wsg__exp__item__lbl--bad
                      | Shouldn’t Do
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | VelocityMobile pastikan transaksi bisnis bisa diwujudkan dengan sempurna kapan pun Anda mau.
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Use VelocityMobile to get the perfect business transaction everytime you want.

    .ocbc-ds__content__wsg__item
      //- ds__contentBodyItem
      +ds__contentBodyItem('Tone')
        p.ocbc-ds__body__desc
          | Different tone applies to different situations. Basically, we write on a spectrum rather than a fixed tone all of the time. The tone ranges within the spectrum will allow us to express the appropriate tone for each situation and find balance within our principles.
        .ocbc-ds__content__wsg__list
          .ocbc-ds__content__wsg__item
            h4.ocbc-ds__content__wsg__list__title
              | Positive
            ul.ocbc-ds__content__wsg__list__ul
              li.ocbc-ds__content__wsg__list__li
                | Be encouraging and guide the user to get the information they need
              li.ocbc-ds__content__wsg__list__li
                | Express genuine optimism for user
            .ocbc-ds__content__wsg__exp
              p.ocbc-ds__content__wsg__exp__title
                | Example Sentences
              .ocbc-ds__content__wsg__exp__list
                .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Rachel siap bantu kamu mulai dan kembangkan investasi secara efektif dengan rekomendasi produk Wealth Management.
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Rachel is always ready to help you start and develop investments with Wealth Management product recommendations.
          .ocbc-ds__content__wsg__item
            h4.ocbc-ds__content__wsg__list__title
              | Neutral
            ul.ocbc-ds__content__wsg__list__ul
              li.ocbc-ds__content__wsg__list__li
                | Explain the specific information
              li.ocbc-ds__content__wsg__list__li
                | Provide enough detail to give users confidence in the process
            .ocbc-ds__content__wsg__exp
              p.ocbc-ds__content__wsg__exp__title
                | Example Sentences
              .ocbc-ds__content__wsg__exp__list
                .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | OCBC NISP membuka jalan bagi para mahasiswa untuk merasakan langsung pengalaman bekerja di dunia perbankan dan berkesempatan untuk mengerjakan proyek nyata.
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | OCBC NISP open up the way for students to experience firsthand working in the banking world and give the opportunity to work on real banking projects.

          .ocbc-ds__content__wsg__item
            h4.ocbc-ds__content__wsg__list__title
              | Negative
            ul.ocbc-ds__content__wsg__list__ul
              li.ocbc-ds__content__wsg__list__li
                | Be clear about the problem and how users will be affected
              li.ocbc-ds__content__wsg__list__li
                | Be clear about what went wrong and how users can fix it
            .ocbc-ds__content__wsg__exp
              p.ocbc-ds__content__wsg__exp__title
                | Example Sentences
              .ocbc-ds__content__wsg__exp__list
                .ocbc-ds__content__wsg__exp__item.ocbc-ds__content__wsg__exp__item--full
                  .ocbc-ds__content__wsg__exp__box
                    p.ocbc-ds__content__wsg__exp__item__desc
                      | Oops, Terjadi Kesalahan pada Halaman ini <br/> Coba kembali ke halaman ini beberapa saat lagi
                    p.ocbc-ds__content__wsg__exp__item__desc.ocbc-ds__content__wsg__exp__item__desc--italic
                      | Oops, An Error Has Occurred on This Page <br/> Try returning to this page in a few moments
