//-------------------------------------------------------------------------------
  @name: SME - Achievement
  @description: SME - Achievement
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Pencapaian',
    card: [
      {
        logo: 'default-circle-black.png',
        date: 'September 2019',
        from: 'Indonesia Public Company Award',
        award: 'Retail Banking Awards',
        location: 'Alpha Southeast Asia Singapore'
      },
      {
        logo: 'default-circle-black.png',
        date: 'September 2019',
        from: 'Indonesia Public Company Award',
        award: 'Retail Banking Awards',
        location: 'Alpha Southeast Asia Singapore'
      },
      {
        logo: 'default-circle-black.png',
        date: 'September 2019',
        from: 'Indonesia Public Company Award',
        award: 'Retail Banking Awards',
        location: 'Alpha Southeast Asia Singapore'
      },
      {
        logo: 'default-circle-black.png',
        date: 'September 2019',
        from: 'Indonesia Public Company Award',
        award: 'Retail Banking Awards',
        location: 'Alpha Southeast Asia Singapore'
      },
      {
        logo: 'default-circle-black.png',
        date: 'September 2019',
        from: 'Indonesia Public Company Award',
        award: 'Retail Banking Awards',
        location: 'Alpha Southeast Asia Singapore'
      },
      {
        logo: 'default-circle-black.png',
        date: 'September 2019',
        from: 'Indonesia Public Company Award',
        award: 'Retail Banking Awards',
        location: 'Alpha Southeast Asia Singapore'
      }
    ]
  };
include ../../layout/card-achievement.pug
