//-------------------------------------------------------------------------------
  @name: SME - Head Product
  @description: SME - Head Product
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Produk dan layanan yang menjawab semua kebutuhan',
    card: [
      {
        image: 'sme-1.jpg',
        title: 'Simpanan & Investasi',
        to: '#'
      },
      {
        image: 'sme-2.jpg',
        title: 'Pinjaman',
        to: '#'
      },
      {
        image: 'sme-3.jpg',
        title: 'Treasury',
        to: '#'
      },
      {
        image: 'sme-4.jpg',
        title: 'Layanan',
        to: '#'
      }
    ]
  };

include ../../layout/card-head-product.pug
