//-------------------------------------------------------------------------------
  @name: SME - Card needs
  @description: SME - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
    light: true,
    title: 'Jadikan usahamu menghasilkan',
    card: [
      {
        target: 'ekspansi-bisnis-global',
        title: 'Ekspansi Bisnis Global',
        image: 'universal.svg'
      },
      {
        target: 'rencana-bisnis-baru',
        title: 'Kembangkan Rencana Bisnis Baru',
        image: 'light-bulb.svg'
      },
      {
        target: 'berbisnis-profit',
        title: 'Berbisnis dengan Profit',
        image: 'graph.svg'
      },
      {
        target: 'koneksi-bisnis-baru',
        title: 'Buat Koneksi Bisnis Baru',
        image: 'network.svg'
      },
      {
        target: 'pembiayaan-operasional',
        title: 'Cari Pembiayaan untuk Operasional',
        image: 'operational.svg'
      }
    ]
  };

include ../../layout/card-needs.pug
