//-------------------------------------------------------------------------------
  @name: SME - Highlight Promo
  @description: SME - Highlight Promo
  -------------------------------------------------------------------------------//

-
  data = {
    icon: '',
    title: 'Highlight Promo',
    card: [
      {
        isRectangle: true,
        to: 'promo-detail.html',
        title: 'Resort World Sentosaa',
        img: 'sme-1.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'sme-2.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'sme-3.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'sme-4.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'sme-5.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      }
    ],
    hasMore: true
  };

include ../../layout/highlight-promo.pug
