//-------------------------------------------------------------------------------
  @name: SME - Main Banner
  @description: SME - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      light: true,
      image: {
        desktop: 'sme-d.jpg',
        mobile: 'sme-m.jpg'
      },
      title: 'Yakin Jalankan Bisnis Jauh dari Pesimis',
      description: 'OCBC NISP hadirkan solusi beragam untuk penuhi semua kepentingan bisnis'
    }
  ];

include ../../layout/main-banner.pug
