//-------------------------------------------------------------------------------
  @name: SME - One Mobile
  @description: SME - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'default',
    image: {
      desktop: 'sme-d.jpg',
      mobile: 'sme-m.jpg'
    },
    title: 'Akses Tak Terbatas dari Semua Tempat',
    description: 'Efisiensi waktu dan biaya dengan transaksi online dan realtime dengan Velocity Mobile',
    button: {
      text: 'Lihat Kelebihannya',
      to: '#'
    }
  }

include ../../components/one-mobile.pug
