//-------------------------------------------------------------------------------
  @name: SME - Promo Banner
  @description: SME - Promo Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      light: true,
      image: {
        desktop: 'sme-d.jpg',
        mobile: 'sme-m.jpg'
      },
      label: 'Promosi',
      title: 'Elevate your days with Everyday Deals!',
      description: 'Gunakan Kartu Kredit OCBC NISP Periode hingga 31 Desember 2019',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    },
    {
      image: {
        desktop: 'individu-d.jpg',
        mobile: 'individu-m.jpg'
      },
      label: 'Promosi - SME',
      title: 'Elevate your days with Everyday Deals!',
      description: 'Gunakan Kartu Kredit OCBC NISP Periode hingga 31 Desember 2019',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    },
    {
      image: {
        desktop: 'default-2-d.jpg',
        mobile: 'default-2-m.jpg'
      },
      label: 'Promosi - SME',
      title: 'Memastikan Anda Selalu Jadi Prioritas',
      description: 'Temukan private bank partner yang selalu memahami gaya hidup Anda',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    }
  ];

include ../../layout/promo-banner.pug
