//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Asuransi  - Product Category Card
  @description: Individu - Wealth Management - Asuransi  - Product Category Card
  -------------------------------------------------------------------------------//

-
  data = {
    sectionLanding: true,
    card: [
      {
        to: '#',
        image: 'product-category-9.jpg',
        title: 'Great Optima Link',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-10.jpg',
        title: 'Great Optima Link 102',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-11.jpg',
        title: 'Super Investlink Plan 101',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-11.jpg',
        title: 'WorldCare',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-9.jpg',
        title: 'MaxPrestige Heritage Protector',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-10.jpg',
        title: 'Legacy Protector',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-10.jpg',
        title: 'LiveSmart Protector',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-11.jpg',
        title: 'PREVINAlink Assurance Account',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-9.jpg',
        title: 'Great Treasure Assurance',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-11.jpg',
        title: 'Home Partner',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-9.jpg',
        title: 'PRUCapital Protection',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      }
    ]
  }

include ../../layout/card-product-category.pug
