//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Tabel Afiliasi
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Tabel Afiliasi
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'governance';
    title = '';
    subTitle = 'Hubungan afiliasi antara anggota direksi dengan anggota komisaris';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th(rowspan=2) Pemegang Saham
    th.ocbc-tbl-striped__th(colspan=3) Hubungan Keuangan
    th.ocbc-tbl-striped__th(colspan=3) Hubungan Keluarga
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th Pemegang Saham Pengendali
    th.ocbc-tbl-striped__th Dewan Komisaris
    th.ocbc-tbl-striped__th Direksi
    th.ocbc-tbl-striped__th Pemegang Saham Pengendali
    th.ocbc-tbl-striped__th Dewan Komisaris
    th.ocbc-tbl-striped__th Direksi

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Pramukti Surjaudaja
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Hartati
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Emilya Tjahjadi
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Martin Widjaja
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Andrae Krishnawan W.
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Johannes Husin
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Low Seh Kiat
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Joseph Chan Fook Onn
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Mirah Wiryoatmodjo
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
