//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Tabel Afiliasi
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Tabel Afiliasi
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'governance';
    title = 'Tabel Hubungan Afiliasi Dewan Komisaris';
    subTitle = 'Hubungan afiliasi antara anggota dewan komisaris dengan anggota komisaris lainnya';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th(rowspan=2) Pemegang Saham
    th.ocbc-tbl-striped__th(colspan=3) Hubungan Keuangan
    th.ocbc-tbl-striped__th(colspan=3) Hubungan Keluarga
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th Pemegang Saham Pengendali
    th.ocbc-tbl-striped__th Dewan Komisaris
    th.ocbc-tbl-striped__th Direksi
    th.ocbc-tbl-striped__th Pemegang Saham Pengendali
    th.ocbc-tbl-striped__th Dewan Komisaris
    th.ocbc-tbl-striped__th Direksi

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Pramukti Surjaudaja
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Peter Eko Sutioso
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Samuel Nag Tsien
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Jusuf Halim
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Lai Teck Poh (Dua Teck Poh)
    td.ocbc-tbl-striped__td
      ='\n'
      i.ocbc-fi.ocbc-fi-checklist
      |!{''}
      |
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Kwan Chiew Choi
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Hardi Juganda
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Betti S. Alisjahbana
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
