//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Business Smart
  @description: Bunga & Biaya SME - Vertical Tab - Business Smart
  -------------------------------------------------------------------------------//


include table/business-smart.pug
