//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Deposito Berjangka
  @description: Bunga & Biaya SME - Vertical Tab - Deposito Berjangka
  -------------------------------------------------------------------------------//


include table/deposito-berjangka.pug
