//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Deposito Devisa Hasil Ekspor
  @description: Bunga & Biaya SME - Vertical Tab - Deposito Devisa Hasil Ekspor
  -------------------------------------------------------------------------------//


include table/deposito-devisa-hasil-ekspor.pug
