//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Giro Umum
  @description: Bunga & Biaya SME - Vertical Tab - Giro Umum
  -------------------------------------------------------------------------------//


include table/giro-umum.pug
