//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Multicurrency
  @description: Bunga & Biaya SME - Vertical Tab - Multicurrency
  -------------------------------------------------------------------------------//


include table/multicurrency.pug
