//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP 90°N
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP 90°N
  -------------------------------------------------------------------------------//

include table/90n.pug
