//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit
  -------------------------------------------------------------------------------//

include table/debit.pug
