//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit GPN
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit GPN
  -------------------------------------------------------------------------------//

include table/gpn.pug
