//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit Online
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit Online
  -------------------------------------------------------------------------------//

include table/online.pug
