//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Platinum
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Platinum
  -------------------------------------------------------------------------------//

include table/platinum.pug
