//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit Premier
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Debit Premier
  -------------------------------------------------------------------------------//

include table/premier.pug
