//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Titanium
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP Titanium
  -------------------------------------------------------------------------------//

include table/voyage.pug
