//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Pengumuman - 2016
  @description: Tentang Kami - Informasi - Tab - Pengumuman - 2016
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Laporan Pelaksanaan Rapat Umum Pemegang Saham
-
  data = [
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '20 Desember 2016 - Kegiatan Operasional Bank OCBC NISP Sehubungan Dengan Hari Raya Natal 2016 Dan Tahun Baru 2017'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '13 Desember 2016 - Pelunasan Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2016 Dengan Tingkat Bunga Tetap Seri B'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2016 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2016 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '20 Desember 2016 - Kegiatan Operasional Bank OCBC NISP Sehubungan Dengan Hari Raya Natal 2016 Dan Tahun Baru 2017'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '13 Desember 2016 - Pelunasan Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2016 Dengan Tingkat Bunga Tetap Seri B'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2016 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2016 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    }
  ];
include ../../../../layout/announcement-list.pug
