//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Pengumuman - 2018
  @description: Tentang Kami - Informasi - Tab - Pengumuman - 2018
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Laporan Pelaksanaan Rapat Umum Pemegang Saham
-
  data = [
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '20 Desember 2018 - Kegiatan Operasional Bank OCBC NISP Sehubungan Dengan Hari Raya Natal 2018 Dan Tahun Baru 2019'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '13 Desember 2018 - Pelunasan Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2018 Dengan Tingkat Bunga Tetap Seri B'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2018 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2018 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '20 Desember 2018 - Kegiatan Operasional Bank OCBC NISP Sehubungan Dengan Hari Raya Natal 2018 Dan Tahun Baru 2019'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '13 Desember 2018 - Pelunasan Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2018 Dengan Tingkat Bunga Tetap Seri B'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2018 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2018 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    }
  ];
include ../../../../layout/announcement-list.pug
