//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Pengumuman - 2020
  @description: Tentang Kami - Informasi - Tab - Pengumuman - 2020
  -------------------------------------------------------------------------------//

h4.ocbc-announcement__title
  | Laporan Pelaksanaan Rapat Umum Pemegang Saham
-
  data = [
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '20 Desember 2020 - Kegiatan Operasional Bank OCBC NISP Sehubungan Dengan Hari Raya Natal 2020 Dan Tahun Baru 2021'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '13 Desember 2020 - Pelunasan Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2019 Dengan Tingkat Bunga Tetap Seri B'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2020 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2020 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '20 Desember 2020 - Kegiatan Operasional Bank OCBC NISP Sehubungan Dengan Hari Raya Natal 2020 Dan Tahun Baru 2021'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '13 Desember 2020 - Pelunasan Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2019 Dengan Tingkat Bunga Tetap Seri B'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2020 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2020 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '18 Oktober 2020 - Perubahan Nama Pengirim Untuk SMS Banking'
    },
    {
      to: '#',
      iconOld: 'fragment-default.svg',
      title: '16 September 2020 - Penyesuaian Biaya Administrasi Pembelian Produk Indosat'
    }
  ];
include ../../../../layout/announcement-list.pug

-
  data = {
    prevTo: '#',
    nextTo: '#',
    list: [
      {
        text: '1',
        to: '#'
      },
      {
        text: '2',
        to: '#'
      },
      {
        text: '3',
        to: '#'
      },
      {
        text: '4',
        to: '#'
      }
    ]
  };
include ../../../../components/pagination.pug
