//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Giro iB Wadiah
  @description: Bunga & Biaya Syariah - Vertical Tab - Giro iB Wadiah
  -------------------------------------------------------------------------------//

include table/giro-ib-wadiah.pug
