//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Giro iB Mudharabah
  @description: Bunga & Biaya Syariah - Vertical Tab - Giro iB Mudharabah
  -------------------------------------------------------------------------------//

include table/giro-ib-mudharabah.pug
