//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - SimPel iB
  @description: Bunga & Biaya Syariah - Vertical Tab - SimPel iB
  -------------------------------------------------------------------------------//

include table/simpel-ib.pug
