//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - TabunganKu iB
  @description: Bunga & Biaya Syariah - Vertical Tab - TabunganKu iB
  -------------------------------------------------------------------------------//

include table/tabunganku-ib.pug
