//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Tabungan Haji iB
  @description: Bunga & Biaya Syariah - Vertical Tab - Tabungan Haji iB
  -------------------------------------------------------------------------------//


include table/tabungan-haji-ib.pug
