//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Tanda iB Easy Gold
  @description: Bunga & Biaya Syariah - Vertical Tab - Tanda iB Easy Gold
  -------------------------------------------------------------------------------//


include table/tanda-ib-easy-gold.pug
