//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Tanda Mudharabah iB Plus
  @description: Bunga & Biaya Syariah - Vertical Tab - Tanda Mudharabah iB Plus
  -------------------------------------------------------------------------------//

include table/tanda-mudharabah-ib-plus.pug
