//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Tanda iB USD
  @description: Bunga & Biaya Syariah - Vertical Tab - Tanda iB USD
  -------------------------------------------------------------------------------//


include table/tanda-ib-usd.pug
