//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Tanda iB
  @description: Bunga & Biaya Syariah - Vertical Tab - Tanda iB
  -------------------------------------------------------------------------------//

include table/tanda-ib.pug
