//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Tanda Mudharabah iB
  @description: Bunga & Biaya Syariah - Vertical Tab - Tanda Mudharabah iB
  -------------------------------------------------------------------------------//

include table/tanda-mudharabah-ib.pug
