//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Laporan Tahunan - Laporan Tahunan
  @description: Tentang Kami - Hubungan Investor - Tab - Laporan Tahunan - Laporan Tahunan
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Laporan Tahunan',
    list: [
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2019',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2019
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2018',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2018
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2017',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2017
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2016',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2016
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2015',
        button: {
          to: '#',
          text: 'Baca'
        }
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2014',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2013',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Tahunan 2012',
        button: {
          to: '#',
          text: 'Baca'
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      }
    ]
  }

include ../../../../layout/card-report
