//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Laporan Tahunan - Laporan Keberlanjutan
  @description: Tentang Kami - Hubungan Investor - Tab - Laporan Tahunan - Laporan Keberlanjutan
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Laporan Keberlanjutan',
    list: [
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2019',
        button: {
          to: '#',
          text: 'Baca'
        }
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2018',
        button: {
          to: '#',
          text: 'Baca'
        }
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2017',
        button: {
          to: '#',
          text: 'Baca'
        }
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2016',
        button: {
          to: '#',
          text: 'Baca'
        }
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2015',
        button: {
          to: '#',
          text: 'Baca'
        }
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2014',
        button: {
          to: '#',
          text: 'Baca',
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2013',
        button: {
          to: '#',
          text: 'Baca',
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2012',
        button: {
          to: '#',
          text: 'Baca',
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      },
      {
        image: 'placeholder-report.jpg',
        title: 'Laporan Keberlanjutan 2011',
        button: {
          to: '#',
          text: 'Baca',
        },
        sectionText: 'Baca per Bagian',
        year: 2015
      }
    ]
  }

include ../../../../layout/card-report
