//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Table
  @description: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Table
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'bunga-biaya';
    title = 'Giro iB Wadiah';
    subTitle = '';

block tableHead 
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Kelas
    th.ocbc-tbl-striped__th
      | Per Hari
    th.ocbc-tbl-striped__th
      | Per Bulan

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Non Premier
    td.ocbc-tbl-striped__td ≤ Setara USD 5,000
    td.ocbc-tbl-striped__td ≤ Setara USD 50,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Premier
    td.ocbc-tbl-striped__td ≤ Setara USD 10,000
    td.ocbc-tbl-striped__td ≤ Setara USD 100,000
