//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Table - Individu
  @description: Jasa Layanan - Vertical Tab - Table - Individu
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'jasa-layanan-individu';
    title = '';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Tipe
    th.ocbc-tbl-striped__th
      | Ukuran (cm)
    th.ocbc-tbl-striped__th
      | Biaya Sewa (IDR)
    th.ocbc-tbl-striped__th
      | PPn (10%)
    th.ocbc-tbl-striped__th
      | Uang Jaminan (IDR)
    th.ocbc-tbl-striped__th
      | AUM Nasabah (IDR)


block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Kecil
    td.ocbc-tbl-striped__td 7,5 x 25 x 60
    td.ocbc-tbl-striped__td 400.000
    td.ocbc-tbl-striped__td 40.000
    td.ocbc-tbl-striped__td 1.000.000
    td.ocbc-tbl-striped__td ≥ 10.000.000,-

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Sedang
    td.ocbc-tbl-striped__td 12,5 x 25 x 60
    td.ocbc-tbl-striped__td 500.000
    td.ocbc-tbl-striped__td 50.000
    td.ocbc-tbl-striped__td 1.000.000
    td.ocbc-tbl-striped__td ≥ 100.000.000,-

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Besar
    td.ocbc-tbl-striped__td 25 x 25 x 60
    td.ocbc-tbl-striped__td 750.000
    td.ocbc-tbl-striped__td 75.000
    td.ocbc-tbl-striped__td 1.000.000
    td.ocbc-tbl-striped__td ≥ 500.000.000,-

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Lemari Besi
    td.ocbc-tbl-striped__td
    td.ocbc-tbl-striped__td 750.000
    td.ocbc-tbl-striped__td 75.000
    td.ocbc-tbl-striped__td 1.000.000
    td.ocbc-tbl-striped__td ≥ 500.000.000,-
