//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Table - Premier Banking
  @description: Jasa Layanan - Vertical Tab - Table - Premier Banking
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'premier-banking';
    title = '';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Nilai Penempatan Dana (AUM dalam Rupiah)
    th.ocbc-tbl-striped__th(colspan='4')
      | Ukuran Safe Deposit Box*
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
    th.ocbc-tbl-striped__th
      | Small**
    th.ocbc-tbl-striped__th
      | Medium**
    th.ocbc-tbl-striped__th
      | Large**


block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td ≥ IDR 500 Juta - < Rp 2 Milyar
    td.ocbc-tbl-striped__td Gratis
    td.ocbc-tbl-striped__td Diskon 50%
    td.ocbc-tbl-striped__td Diskon 50%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td ≥ IDR 2 Milyar - < 5 Milyar
    td.ocbc-tbl-striped__td Gratis
    td.ocbc-tbl-striped__td Gratis
    td.ocbc-tbl-striped__td Diskon 50%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td ≥ Rp 5 Milyar
    td.ocbc-tbl-striped__td Gratis
    td.ocbc-tbl-striped__td Gratis
    td.ocbc-tbl-striped__td Gratis
