//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Table - Individu
  @description: Jasa Layanan - Vertical Tab - Table - Individu
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'valuta-asing';
    title = '';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Transfer Valuta Asing
    th.ocbc-tbl-striped__th
      | Biaya

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Biaya Telex
    td.ocbc-tbl-striped__td IDR  50 Ribu
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td
      |
      | Biaya Provisi:
      ='\n'
      ul.ocbc-tbl__ul
        li.ocbc-tbl__li
          | Tanpa biaya penukaran
        li.ocbc-tbl__li
          | Dengan biaya penukaran
    td.ocbc-tbl-striped__td
      |
      | 0,125% (minimal USD 10, maksimal USD 150/ekuivalen)
      ='\n'
      ul.ocbc-tbl__ul
        li.ocbc-tbl__li
          | Giro Valas: Gratis (Hanya biaya telex)
        li.ocbc-tbl__li
          | Multicurrency: Gratis (hanya biaya telex)
