//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Data Pendukung Laporan SPT
  @description: Jasa Layanan - Vertical Tab - Data Pendukung Laporan SPT
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Data Pendukung Laporan SPT (Surat Pemberitahuan Tahunan)
  p.ocbc-vt-content__p Kini, pelaporan SPT jadi lebih mudah dengan Data Pendukung Laporan SPT. Layanan baru yang dihadirkan Bank OCBC NISP efektif per Januari 2018 ini berisi kompilasi/rangkuman atas seluruh aset, pinjaman, pendapatan dari penempatan aset milik Anda di Bank OCBC NISP, beserta besaran pajaknya.
  p.ocbc-vt-content__p Layanan Data Pendukung Laporan SPT ini diperuntukkan bagi Nasabah individu dan bisnis Bank OCBC NISP, sebagai referensi yang memudahkan proses pengisian laporan SPT.
  p.ocbc-vt-content__subtitle Produk dalam Data Pendukung Laporan SPT
  p.ocbc-vt-content__p Semua produk milik Nasabah yang akan dirangkum dalam Data Pendukung Laporan SPT, tersedia sejak tahun 2016 dan dapat dilihat pembagiannya per bulan atau rangkuman setahun penuh, meliputi:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Produk simpanan (Giro, Tabungan, Deposito)*
    li.ocbc-vt-content__li Produk Wealth Management (Reksadana, Obligasi, Bancassurance)*
    li.ocbc-vt-content__li Pinjaman (Kartu Kredit, KPR, Pinjaman Bisnis, dan lain-lain)
  p.ocbc-vt-content__p * Khusus  produk Syariah, Reksadana dan Bancassurance, data yang ditampilkan hanya data outstanding (tidak termasuk pendapatan & pajak)
  p.ocbc-vt-content__subtitle Dapatkan Data Pendukung Laporan SPT melalui:
  ol.ocbc-vt-content__ol
    li.ocbc-vt-content__li Web statement di <a class="ocbc-lnk" href="https://online.ocbcnisp.com/statement/tax" target="_blank">https://online.ocbcnisp.com/statement/tax.</a>
    li.ocbc-vt-content__li Call OCBC NISP di 1500-999.
    li.ocbc-vt-content__li Cabang Bank OCBC NISP terdekat.
  ='\n'
  iframe.ocbc-vt-content__iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

