//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - E-Tax
  @description: Jasa Layanan - Vertical Tab - E-Tax
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black e-Tax

  p.ocbc-vt-content__p Layanan elektronik pengiriman data dan pembayaran pajak secara real time dan online

  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Cabang
    li.ocbc-vt-content__li E-tax client yang sudah di-install pada komputer nasabah

  p.ocbc-vt-content__subtitle Syarat dan Ketentuan:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Sudah mendaftar dengan melengkapi Cash Management Form
    li.ocbc-vt-content__li Sudah memiliki rekening Giro Bank OCBC NISP
    li.ocbc-vt-content__li
      |
      | Cut Off Time
      ='\n'
      ol.ocbc-vt-content__ol.ocbc-vt-content__ol--numeric
        li.ocbc-vt-content__li Batch 1: mulai dari 12.00
        li.ocbc-vt-content__li Batch 2: mulai dari 15.00
