//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Individu
  @description: Jasa Layanan - Vertical Tab - Individu
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Safe Deposit Box Individu

  p.ocbc-vt-content__p Jasa penyewaan kotak penyimpanan untuk aset atau surat berharga yang dirancang secara khusus untuk memberikan rasa aman dan kenyamanan kepada Anda
  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Kantor Cabang Umum Cibeunying Bandung
    li.ocbc-vt-content__li Kantor Asia Afrika
    li.ocbc-vt-content__li Kantor Buah Batu
    li.ocbc-vt-content__li Kantor Gunung Sahari
    li.ocbc-vt-content__li Kantor Kelapa Gading
    li.ocbc-vt-content__li Kantor Alamanx da Tower
    li.ocbc-vt-content__li Kantor Menara OCBC NISP Kelapa Gading
    li.ocbc-vt-content__li Kantor OCBC NISP Tower
    li.ocbc-vt-content__li Kantor Pemuda Surabaya
    li.ocbc-vt-content__li Kantor Ngagel
    li.ocbc-vt-content__li Kantor Cabang Batam-Palm
    li.ocbc-vt-content__li Kantor Polonia Medan
    li.ocbc-vt-content__li Kantor R. Soekamto
    li.ocbc-vt-content__li Kantor Cabang Pembantu Bogor-Juanda
    li.ocbc-vt-content__li Kantor Alam Sutera
    li.ocbc-vt-content__li Kantor Cabang Bogor-Pajajaran
    li.ocbc-vt-content__li Kantor Yogyakarta
    li.ocbc-vt-content__li Kantor Makassar Pettarani
    li.ocbc-vt-content__li Kantor Balikpapan
    li.ocbc-vt-content__li Kantor Samarinda

  p.ocbc-vt-content__subtitle Syarat Pembukaan / Penyewaan SDB
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Mengisi formulir permohonan Safe Deposite Box (SDB)
    li.ocbc-vt-content__li Melampirkan bukti identitas diri
    li.ocbc-vt-content__li Memiliki rekening relasi berupa Tabungan/Giro Bank OCBC NISP

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  include table/individu-tarif-biaya.pug
