//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Pembayaran Tagihan
  @description: Jasa Layanan - Vertical Tab - Pembayaran Tagihan
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Pembayaran Tagihan
  p.ocbc-vt-content__p Pembayaran Tagihan adalah jasa perbankan yang memudahkan nasabah dalam membayar tagihan-tagihan rutin maupun tidak rutin, seperti tagihan listrik, air, telepon, handphone hingga pembayaran tagihan cicilan. Nasabah dapat melakukan beberapa pembayaran tagihan sekaligus, mendaftarkan nomor-nomor tagihan rutin dan melakukan pengaturan pembayaran berkala secara otomatis.

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li ATM
    li.ocbc-vt-content__li Internet Banking
    li.ocbc-vt-content__li Mobile Banking
    li.ocbc-vt-content__li Phone Banking
    li.ocbc-vt-content__li EDC

  p.ocbc-vt-content__subtitle Syarat dan Ketentuan:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Registrasi dan aktivasi Internet Banking dan Mobile Banking
    li.ocbc-vt-content__li Memiliki Kartu Debit dan PIN bisa melalui ATM
    li.ocbc-vt-content__li Memiliki PIN Non-Cash bisa melalui Phone Banking

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Biaya transaksi pembayaran PLN: IDR  2.500 per transaksi
    li.ocbc-vt-content__li Biaya transaksi pembayaran Telkom : IDR 2.500 per transaksi
    li.ocbc-vt-content__li Biaya transaksi pembayaran AETRA/PALYJA: IDR 2.500 per transaksi
    li.ocbc-vt-content__li Biaya transasksi pembayaran PDAM Kota Bogor: IDR 2.500 per transaksi
    li.ocbc-vt-content__li Biaya transaksi pembayaran kartu kredit lain: IDR 3.500 per transaksi
    li.ocbc-vt-content__li Biaya transaksi pembayaran Rumah Zakat: IDR 3.000 per transaksi
    li.ocbc-vt-content__li Untuk pembayaran tagihan lain tidak dikenakan biaya
