//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Premier Banking
  @description: Jasa Layanan - Vertical Tab - Premier Banking
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Safe Deposit Box Premier Banking

  p.ocbc-vt-content__p Ketentuan untuk pemberian diskon atau pembebesan biaya sewa SDB bagi nasabah Premier

  include table/premier-banking.pug

  .ocbc-vt-content__label-table
    p.ocbc-vt-content__p *) Hanya dapat memilih salah satu fasilitas diskon/gratis dari skema diatas
    p.ocbc-vt-content__p **) Selama ukuran SDB tersedia

  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Apabila nasabah sudah mempunyai SDB maka fasilitas diskon/gratis akan diberikan pada saat perpanjangan sewa SDB
    li.ocbc-vt-content__li Layanan SDB diskon/gratis diperpanjang selama nasabah masih menjadi nasabah Premier Banking dan AUM memenuhi syarat
    li.ocbc-vt-content__li Setiap nasabah yang akan menyewa SDB harus memiliki rekening relasi tabungan atau giro yang akan digunakan untuk pendebetan biaya-biaya
    li.ocbc-vt-content__li Setiap penggunaan jasa/penyewaan SDB harus berdasarkan permohonan tertulis dari nasabah dengan mengisi dan menandatangani: Formulir Permohonan Penyewaan SDB Perjanjian Sewa Menyewa SDB
