//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Remittance
  @description: Jasa Layanan - Vertical Tab - Remittance
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Remittance

  p.ocbc-vt-content__p Jasa pengiriman uang dalam mata uang valuta asing ke bank lain di dalam ataupun luar Indonesia

  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  p.ocbc-vt-content__i Cut Off Time
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Outgoing TT: setelah 15:00
    li.ocbc-vt-content__li Incoming TT: sebelum 14:00

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  include table/valuta-asing.pug
