//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Surat Referensi Bank
  @description: Jasa Layanan - Vertical Tab - Surat Referensi Bank
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Surat Referensi Bank
  p.ocbc-vt-content__p Surat Referensi Bank merupakan surat keterangan yang dikeluarkan oleh Bank atas permohonan nasabah

  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  p.ocbc-vt-content__p.ocbc-vt-content__p--no-margin Semua cabang Bank OCBC NISP, dengan cara:
  ol.ocbc-vt-content__ol
    li.ocbc-vt-content__li Nasabah mengajukan permohonan penerbitan Surat Referensi Bank secara tertulis di cabang atau melalui <i>marketing</i> yang mengelola rekening nasabah
    li.ocbc-vt-content__li Ditandatangani sesuai <i>specimen</i>

  p.ocbc-vt-content__subtitle Syarat dan Ketentuan:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Bersifat umum <br/> misal: untuk keperluan pembukaan rekening di Bank lain, melanjutkan sekolah ke luar negeri, dsb
    li.ocbc-vt-content__li Memiliki rekening Tabungan dan/atau Giro
    li.ocbc-vt-content__li Sudah menjadi nasabah Bank OCBC NISP minimal 3 bulan
    li.ocbc-vt-content__li Pengendapan saldo sekurang-kurangnya adalah sejumlah saldo minimum sesuai dengan ketentuan yang berlaku di Bank. Apabila nasabah memiliki rekening Tabungan dan Giro maka kedua jenis rekening tersebut tidak boleh bersaldo di bawah ketentuan saldo minimum

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Nasabah dikenakan biaya IDR 50 Ribu/lembar
