//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Surat Konfirmasi Bank
  @description: Jasa Layanan - Vertical Tab - Surat Konfirmasi Bank
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Surat Konfirmasi Bank
  p.ocbc-vt-content__p Surat Konfirmasi Bank yang diterbitkan oleh Bank atas pemintaan nasabah untuk kepentingan auditor eksternal yang ditunjuk oleh nasabah

  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li
      |
      | Semua cabang Bank OCBC NISP, dengan cara:
      ='\n'
      ol.ocbc-vt-content__ol
        li.ocbc-vt-content__li Nasabah mengajukan permohonan penerbitan Surat Referensi Bank secara tertulis di cabang atau melalui <i>marketing</i> yang mengelola rekening nasabah
        li.ocbc-vt-content__li Ditandatangani sesuai <i>specimen</i>
    li.ocbc-vt-content__li Melalui Online Banking

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Nasabah dikenakan biaya IDR 100 Ribu/lembar
