//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Surat Dukungan Bank
  @description: Jasa Layanan - Vertical Tab - Surat Dukungan Bank
  -------------------------------------------------------------------------------//


.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Surat Dukungan Bank
  p.ocbc-vt-content__p Surat Dukungan Bank merupakan surat yang dikeluarkan oleh Bank atas permintaan nasabah yang akan mengikuti pra tender suatu proyek

  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  p.ocbc-vt-content__p.ocbc-vt-content__p--no-margin Semua cabang Bank OCBC NISP, dengan cara:
  ol.ocbc-vt-content__ol
    li.ocbc-vt-content__li Nasabah mengajukan permohonan penerbitan Surat Dukungan Bank secara tertulis di cabang atau melalui <i>marketing</i> yang mengelola rekening nasabah
    li.ocbc-vt-content__li Ditandatangani sesuai <i>specimen</i>

  p.ocbc-vt-content__subtitle Syarat dan Ketentuan:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Memiliki rekening Tabungan dan/atau Giro di Bank OCBC NISP minimal 3 bulan dengan status aktif dan saldo minimal sesuai dengan ketentuan masing-masing produk. Apabila nasabah memiliki fasilitas pinjaman, maka harus mempunyai rekening Tabungan atau Giro dengan status aktif dan pinjaman dengan status lancar
    li.ocbc-vt-content__li Melampirkan dokumen pendukung terkait dengan proyek yang akan diikutinya seperti Undangan Tender
    li.ocbc-vt-content__li Rekening tidak sedang dalam status blokir karena permintaan instansi berwenang

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Nasabah dikenakan biaya IDR 150 Ribu/lembar
