//-------------------------------------------------------------------------------
  @name: Jasa Layanan - Vertical Tab - Transfer Rupiah
  @description: Jasa Layanan - Vertical Tab - Transfer Rupiah
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black Transfer Rupiah

  p.ocbc-vt-content__p Jasa pengiriman uang dalam mata uang Rupiah ke Bank lain di seluruh Indonesia

  p.ocbc-vt-content__subtitle Jasa ini Tersedia di:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li Semua cabang Bank OCBC NISP
    li.ocbc-vt-content__li Melalui Online Banking

  p.ocbc-vt-content__subtitle Payment Point Community
  p.ocbc-vt-content__i Cut Off Time
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li SKN : 13.30
    li.ocbc-vt-content__li RTGS : 15.00

  p.ocbc-vt-content__subtitle Tarif dan Biaya:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li SKN : IDR 5 Ribu
    li.ocbc-vt-content__li RTGS : IDR 25 Ribu
