//-------------------------------------------------------------------------------
  @name: Basic Page - Sitemap - Content
  @description: Basic Page - Sitemap - Content
  -------------------------------------------------------------------------------//

//- Basic Page Template
extends ../../layout/basic-page.pug

//- Head
block head
  - modifier = 'sitemap';

//- Content
block content
  include data.pug
  //sitemap
  .ocbc-sitemap
    //sitemap__title
    h1.ocbc-sitemap__title
      | !{data.title}
    each valSection in data.section
      ='\n\n'
      //sitemap__section
      .ocbc-sitemap__section
        if valSection.title
          //sitemap__section__title
          h2.ocbc-sitemap__section__title
            | !{valSection.title}
        //ocbc-sitemap__row
        .ocbc-sitemap__row
          each valCol in valSection.columns
            //sitemap__col
            .ocbc-sitemap__col
              if valCol.title
                h4.ocbc-sitemap__col__title
                  | !{valCol.title}
              ul.ocbc-sitemap__list
                each valItem in valCol.list
                  li.ocbc-sitemap__item
                    ='\n'
                    a.ocbc-sitemap__lnk(href=valItem.to)
                      | !{valItem.text}
                    |!{''}
                    |
    ='\n\n'
