//-------------------------------------------------------------------------------
  @name: Basic Page - Sitemap - Data
  @description: Basic Page - Sitemap - Data
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'OCBC NISP Site Map',
    section: [
      {
        columns: [
          {
            title: 'Beranda',
            list: [
              {
                to: '#',
                text: 'Beranda Umum'
              },
              {
                to: '#',
                text: 'Beranda Individu'
              },
              {
                to: '#',
                text: 'Beranda SME'
              },
              {
                to: '#',
                text: 'Beranda Korporasi'
              },
              {
                to: '#',
                text: 'Beranda Syariah'
              },
              {
                to: '#',
                text: 'Beranda Tentang Kami'
              },
              {
                to: '#',
                text: 'Beranda Karir'
              },
              {
                to: '#',
                text: 'Jadi Nasabah'
              },
              {
                to: '#',
                text: 'Promosi'
              },
              {
                to: '#',
                text: 'ONe Update'
              },
              {
                to: '#',
                text: 'Suku Bunga Dasar'
              },
              {
                to: '#',
                text: 'FAQ'
              }
            ]
          },
          {
            title: 'Digital Channel',
            list: [
              {
                to: '#',
                text: 'Beranda Digital Channel'
              },
              {
                to: '#',
                text: 'ONe Mobile'
              },
              {
                to: '#',
                text: 'Internet Banking'
              },
              {
                to: '#',
                text: 'SMS Banking'
              },
              {
                to: '#',
                text: 'ATM OCBC NISP'
              },
              {
                to: '#',
                text: 'EDC OCBC NISP'
              }
            ]
          },
          {
            title: 'Bunga & Biaya',
            list: [
              {
                to: '#',
                text: 'Beranda Bunga & Biaya'
              },
              {
                to: '#',
                text: 'Bunga & Biaya Individu'
              },
              {
                to: '#',
                text: 'Bunga & Biaya SME'
              },
              {
                to: '#',
                text: 'Bunga & Biaya Korporasi'
              },
              {
                to: '#',
                text: 'Bunga & Biaya Syariah'
              },
              {
                to: '#',
                text: 'Bunga & Biaya Digital Channel'
              }
            ]
          },
          {
            title: 'Kalkulator',
            list: [
              {
                to: '#',
                text: 'Beranda Kalkulator'
              },
              {
                to: '#',
                text: 'Kalkulator Pendidikan'
              },
              {
                to: '#',
                text: 'Kalkulator Perlindungan Kesehatan'
              },
              {
                to: '#',
                text: 'Kalkulator Kepemilikan Rumah'
              },
              {
                to: '#',
                text: 'Kalkulator Pensiun'
              },
              {
                to: '#',
                text: 'Kalkulator Kredit Kepemilikan Mobil'
              },
              {
                to: '#',
                text: 'Kalkulator KTA'
              }
            ]
          },
          {
            title: 'Karir',
            list: [
              {
                to: '#',
                text: 'Beranda Karir'
              },
              {
                to: '#',
                text: 'Be The ONe'
              },
              {
                to: '#',
                text: 'Live As The ONe'
              },
              {
                to: '#',
                text: 'For The ONe'
              }
            ]
          },
          {
            title: 'Hubungi Kami',
            list: [
              {
                to: '#',
                text: 'Beranda Hubungi Kami'
              },
              {
                to: '#',
                text: 'e-Form'
              },
              {
                to: '#',
                text: 'Cabang OCBC NISP'
              },
              {
                to: '#',
                text: 'Mekanisme Pengaduan Nasabah'
              }
            ]
          },
          {
            title: 'Akun',
            list: [
              {
                to: '#',
                text: 'Internet Banking'
              },
              {
                to: '#',
                text: 'Velocity'
              },
              {
                to: '#',
                text: 'e-Statement'
              }
            ]
          },
          {
            title: 'Ecosystem Kami',
            list: [
              {
                to: '#',
                text: 'Campaign'
              },
              {
                to: '#',
                text: 'Poin Seru'
              },
              {
                to: '#',
                text: 'OCBC NISP Ventura'
              },
              {
                to: '#',
                text: 'ONe Labs'
              }
            ]
          }
        ]
      },
      {
        title: 'Individu',
        columns: [
          {
            title: 'Nyala',
            list: [
              {
                to: '#',
                text: 'Beranda Nyala'
              },
              {
                to: '#',
                text: 'Nyala'
              },
              {
                to: '#',
                text: 'Nyala Individu'
              },
              {
                to: '#',
                text: 'Nyala Bisnis'
              }
            ]
          },
          {
            title: 'Simpanan',
            list: [
              {
                to: '#',
                text: 'Beranda Simpanan'
              },
              {
                to: '#',
                text: 'Tabungan'
              },
              {
                to: '#',
                text: 'Tabungan Berjangka'
              },
              {
                to: '#',
                text: 'Deposito'
              }
            ]
          },
          {
            title: 'Kartu Transaksi',
            list: [
              {
                to: '#',
                text: 'Beranda Kartu Transaksi'
              },
              {
                to: '#',
                text: 'Kartu Debit'
              },
              {
                to: '#',
                text: 'Kartu Kredit'
              }
            ]
          },
          {
            title: 'Pinjaman',
            list: [
              {
                to: '#',
                text: 'Beranda Pinjaman'
              },
              {
                to: '#',
                text: 'KPR'
              },
              {
                to: '#',
                text: 'KPM'
              },
              {
                to: '#',
                text: 'On Cash Loan'
              }
            ]
          },
          {
            title: 'Wealth Management',
            list: [
              {
                to: '#',
                text: 'Beranda Wealth Management'
              },
              {
                to: '#',
                text: 'Reksa Dana'
              },
              {
                to: '#',
                text: 'Treasuri'
              },
              {
                to: '#',
                text: 'Asuransi'
              },
              {
                to: '#',
                text: 'Rachel'
              },
              {
                to: '#',
                text: 'Life Goals Pendidikan'
              },
              {
                to: '#',
                text: 'Life Goals KPR'
              },
              {
                to: '#',
                text: 'Life Goals Pensiun'
              },
              {
                to: '#',
                text: 'Life Goals Kesehatan'
              }
            ]
          },
          {
            title: 'Premier Banking',
            list: [
              {
                to: '#',
                text: 'Beranda Premier Banking'
              },
              {
                to: '#',
                text: 'Privilages'
              },
              {
                to: '#',
                text: 'Wealth Solution'
              },
              {
                to: '#',
                text: 'Market Insights'
              }
            ]
          },
          {
            title: 'Private Banking',
            list: [
              {
                to: '#',
                text: 'Beranda Private Banking'
              },
              {
                to: '#',
                text: 'Privilages'
              },
              {
                to: '#',
                text: 'Wealth Solution'
              },
              {
                to: '#',
                text: 'Market Insights'
              }
            ]
          }
        ]
      },
      {
        title: 'SME',
        columns: [
          {
            title: 'Simpanan & Investasi',
            list: [
              {
                to: '#',
                text: 'Beranda Simpanan & Investasi'
              },
              {
                to: '#',
                text: 'Giro'
              },
              {
                to: '#',
                text: 'Deposito'
              }
            ]
          },
          {
            title: 'Pinjaman',
            list: [
              {
                to: '#',
                text: 'Beranda Pinjaman'
              },
              {
                to: '#',
                text: 'Kredit Modal Kerja'
              },
              {
                to: '#',
                text: 'Kredit Investasi'
              },
              {
                to: '#',
                text: 'Kredit Modal'
              }
            ]
          },
          {
            title: 'Treasuri',
            list: [
              {
                to: '#',
                text: 'Beranda Treasuri'
              },
              {
                to: '#',
                text: 'FX dan FX Derivative'
              },
              {
                to: '#',
                text: 'Interest Rate Derivative'
              },
              {
                to: '#',
                text: 'Structured Product'
              },
              {
                to: '#',
                text: 'Debt Securities'
              }
            ]
          },
          {
            title: 'Layanan',
            list: [
              {
                to: '#',
                text: 'Beranda Layanan'
              },
              {
                to: '#',
                text: 'Cash Management'
              },
              {
                to: '#',
                text: 'Trade Finance'
              },
              {
                to: '#',
                text: 'Supply Chain'
              }
            ]
          }
        ]
      },
      {
        title: 'Korporasi',
        columns: [
          {
            title: 'Simpanan & Investasi',
            list: [
              {
                to: '#',
                text: 'Beranda Simpanan & Investasi'
              },
              {
                to: '#',
                text: 'Giro'
              },
              {
                to: '#',
                text: 'Deposito'
              }
            ]
          },
          {
            title: 'Pinjaman',
            list: [
              {
                to: '#',
                text: 'Beranda Pinjaman'
              },
              {
                to: '#',
                text: 'Kredit Modal Kerja'
              },
              {
                to: '#',
                text: 'Kredit Investasi'
              },
              {
                to: '#',
                text: 'Kredit Modal'
              }
            ]
          },
          {
            title: 'Treasuri',
            list: [
              {
                to: '#',
                text: 'Beranda Treasuri'
              },
              {
                to: '#',
                text: 'FX dan FX Derivative'
              },
              {
                to: '#',
                text: 'Interest Rate Derivative'
              },
              {
                to: '#',
                text: 'Structured Product'
              },
              {
                to: '#',
                text: 'Debt Securities'
              }
            ]
          },
          {
            title: 'Layanan',
            list: [
              {
                to: '#',
                text: 'Beranda Layanan'
              },
              {
                to: '#',
                text: 'Cash Management'
              },
              {
                to: '#',
                text: 'Trade Finance'
              },
              {
                to: '#',
                text: 'Supply Chain'
              }
            ]
          }
        ]
      },
      {
        title: 'Syariah',
        columns: [
          {
            title: 'Simpanan',
            list: [
              {
                to: '#',
                text: 'Beranda Simpanan'
              },
              {
                to: '#',
                text: 'Giro iB Mudharabah'
              },
              {
                to: '#',
                text: 'Giro iB Wadiah'
              },
              {
                to: '#',
                text: 'Tanda iB'
              },
              {
                to: '#',
                text: 'Tanda Mudharabah iB'
              },
              {
                to: '#',
                text: 'Tanda iB Easy Gold'
              },
              {
                to: '#',
                text: 'Tanda Mudharabah iB Plus'
              },
              {
                to: '#',
                text: 'Tabungan Haji iB'
              }
            ]
          },
          {
            title: 'Simpanan Berjangka',
            list: [
              {
                to: '#',
                text: 'Beranda Simpanan Berjangka'
              },
              {
                to: '#',
                text: 'Taka iB Installment'
              },
              {
                to: '#',
                text: 'Taka iB'
              },
              {
                to: '#',
                text: 'Taka iB Insurance'
              },
              {
                to: '#',
                text: 'Deposito iB'
              }
            ]
          },
          {
            title: 'Pembiayaan',
            list: [
              {
                to: '#',
                text: 'Beranda Pembiayaan'
              },
              {
                to: '#',
                text: 'KPR iB Murabahah'
              },
              {
                to: '#',
                text: 'KPR iB MMQ'
              },
              {
                to: '#',
                text: 'KPR iB'
              }
            ]
          },
          {
            title: 'Jasa & Layanan',
            list: [
              {
                to: '#',
                text: 'Beranda Jasa & Layanan'
              },
              {
                to: '#',
                text: 'Syariah Investa Optima'
              },
              {
                to: '#',
                text: 'Pembayaran ZIS & Kurban'
              }
            ]
          }
        ]
      },
      {
        title: 'Tentang Kami',
        columns: [
          {
            title: 'Profil OCBC NISP',
            list: [
              {
                to: '#',
                text: 'Beranda Profil OCBC NISP'
              },
              {
                to: '#',
                text: 'Sejarah Singkat'
              },
              {
                to: '#',
                text: 'Visi & Misi'
              },
              {
                to: '#',
                text: 'Struktur Manajemen'
              },
              {
                to: '#',
                text: 'Pencapaian'
              }
            ]
          },
          {
            title: 'Hubungan Investor',
            list: [
              {
                to: '#',
                text: 'Beranda Hubungan Investor'
              },
              {
                to: '#',
                text: 'Kepemilikan Saham'
              },
              {
                to: '#',
                text: 'Informasi Keuangan'
              },
              {
                to: '#',
                text: 'Laporan Tahunan'
              },
              {
                to: '#',
                text: 'Peringkat Kredit'
              },
              {
                to: '#',
                text: 'Informasi Saham & Obligasi'
              }
            ]
          },
          {
            title: 'Tata Kelola',
            list: [
              {
                to: '#',
                text: 'Beranda Tata Kelola'
              },
              {
                to: '#',
                text: 'Tata Kelola Perusahaan'
              },
              {
                to: '#',
                text: 'Tata Kelola Terintegrasi'
              },
              {
                to: '#',
                text: 'KYC/AML'
              }
            ]
          },
          {
            title: 'CSR',
            list: [
              {
                to: '#',
                text: 'Beranda CSR'
              },
              {
                to: '#',
                text: 'Overview CSR OCBC NISP'
              },
              {
                to: '#',
                text: 'Berita CSR'
              }
            ]
          },
          {
            title: 'Informasi',
            list: [
              {
                to: '#',
                text: 'Beranda Informasi'
              },
              {
                to: '#',
                text: 'Siaran Pers'
              },
              {
                to: '#',
                text: 'Pengumuman'
              },
              {
                to: '#',
                text: 'Info Lelang'
              },
              {
                to: '#',
                text: 'Tax Amnesty'
              },
              {
                to: '#',
                text: 'Partner Kami'
              },
              {
                to: '#',
                text: 'Lembaga/Profesi Penunjang Pasar Modal'
              }
            ]
          }
        ]
      }
    ]
  };
