//-------------------------------------------------------------------------------
  @name: Design System - Components - Content
  @description: Design System - Components - Content
  -------------------------------------------------------------------------------//

//ocbc-ds__content
.ocbc-ds__content

  //- components
  include components/index.pug
