//-------------------------------------------------------------------------------
  @name: Design System - Components - Navigation Content
  @description: Design System - Components - Navigation Content
  -------------------------------------------------------------------------------//

extend ../design-system/navigation.pug

//- menu content
block menu
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-brand-guideline.html') Brand Guideline
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-elements.html') Elements
    |!{''}
    |
  h5.ocbc-ds__menu__title.ocbc-ds__menu__title--active
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-components.html') Components
    |!{''}
    |
  -
    componentsMenu = [
      {
        target: 'dsBanner',
        text: 'Banner'
      },
      {
        target: 'dsCard',
        text: 'Card'
      },
      {
        target: 'dsForm',
        text: 'Form'
      },
      {
        target: 'dsTable',
        text: 'Table'
      },
      {
        target: 'dsCalculatorResult',
        text: 'Calculator Result'
      },
      {
        target: 'dsContentDetail',
        text: 'Content Detail'
      },
      {
        target: 'dsFaqAccordion',
        text: 'Faq Accordion'
      },
      {
        target: 'dsPopup',
        text: 'Popup'
      },
      {
        target: 'dsRegularContent',
        text: 'Regular Content'
      },
      {
        target: 'dsBasicPage',
        text: 'Basic Page'
      },
      {
        target: 'dsSuccessState',
        text: 'Success State'
      },
      {
        target: 'dsHeader',
        text: 'Header'
      },
      {
        target: 'dsFooter',
        text: 'Footer'
      },
      {
        target: 'dsFragment',
        text: 'Fragment'
      }
    ];

  ul.ocbc-ds__menu-list
    each val, index in componentsMenu
      li.ocbc-ds__menu-list__item(class=(index == 0 ? 'ocbc-ds__menu-list__item--active' : ''))
        |!{''}
        |
        a.ocbc-ds__menu-list__link.js-ds-menu-list-link(href='#'+val.target)
          | !{val.text}

  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-writing-style-guideline.html') Writing Style & Guideline
    |!{''}
    |
