//-------------------------------------------------------------------------------
  @name: Design System - Content
  @description: Design System - Content
  -------------------------------------------------------------------------------//

//ocbc-ds__content
.ocbc-ds__content
  //- home
  include home/index.pug
