//-------------------------------------------------------------------------------
  @name: Design System - Mixin
  @description: Design System - Mixin
  -------------------------------------------------------------------------------//

//- ds__contentSection
mixin ds__contentSection(item)
  //ocbc-ds__content__section
  .ocbc-ds__content__section(data-ds-section='ds'+item.replace(' ', ''), class='ocbc-ds__content__'+item.toLowerCase())
    block
  ='\n'

//- ds__contentItem
mixin ds__contentItem(title, section)
  //ocbc-ds__content__item
  .ocbc-ds__content__item(data-ds-item='ds'+title.replace(/ /g, ''))
    .ocbc-ds__content__header
      ='\n'
      img.ocbc-ds__content__header__aleph-logo(src='img/ds/aleph-white-logo.svg', alt='Aleph Logo')/
      |!{''}
      |
      .ocbc-ds__content__header__txt
        p.ocbc-ds__content__header__section
          | !{section}
        h2.ocbc-ds__content__header__title
          | !{title}
    .ocbc-ds__content__wrapper
      .ocbc-ds__content__body
        block

//- ds__contentBodyItem
mixin ds__contentBodyItem(title)
  //ocbc-ds__body__item
  .ocbc-ds__body__item
    h3.ocbc-ds__body__title
      | !{title}
    .ocbc-ds__body__wrapper
      block

//- ds__componentsSection
mixin ds__componentsSection(title)
  //ocbc-ds__components-section
  .ocbc-ds__components-section
    h4.ocbc-txt--medium.ocbc-ds__components__title
      | !{title}
    .ocbc-ds__components-wrapper
      block

//- ds__componentsItem
mixin ds__componentsItem(title, inverseBg = false, noPadding = false)
  //ocbc-ds__components-section
  .ocbc-ds__components-item
    p.ocbc-txt__label.ocbc-txt--gray-2.ocbc-ds__components-item-label
      | !{title}
    .ocbc-ds__components-visualxcode
      -
        className = (inverseBg ? 'ocbc-ds__components-visual--inverse-bg' : '');
        className = (noPadding ? className + 'ocbc-ds__components-visual--no-padding' : className);
      .ocbc-ds__components-visual.js-ds-visual-block(class=className)
        block
      .ocbc-ds__components-code
        button.ocbc-ds__components-code__toggle.js-show-code
          | Show Code
        .ocbc-ds__components-tabs
          ul.ocbc-ds__components-tabs__control
            li.ocbc-ds__components-tabs__control__item.js-ds-components-tabs.ocbc-ds__components-tabs__control__item--active(data-target='html') HTML
            //- li.ocbc-ds__components-tabs__control__item.js-ds-components-tabs(data-target='pug') PUG
          .ocbc-ds__components-tabs__content.js-ds-code-block
            button.ocbc-ds__components__copy-code.js-ds-copy-code(type='button') Copy Code
            .ocbc-ds__components-tabs__pane.ocbc-ds__components-tabs__pane--active(data-code='html')
            //- .ocbc-ds__components-tabs__pane(data-code='pug')
