//-------------------------------------------------------------------------------
  @name: Design System - Navigation
  @description: Design System - Navigation
  -------------------------------------------------------------------------------//

//ocbc-ds__nav
.ocbc-ds__nav
  //ocbc-ds__nav__header
  .ocbc-ds__nav__header
    //ocbc-ds__brand
    .ocbc-ds__brand
      ='\n'
      a.ocbc-ds__brand__link(href='design-system.html')
        ='\n'
        img.ocbc-ds__brand__logo(src='img/logo/ocbc-red.svg', alt='OCBC NISP')/
        |!{''}
        |
      |!{''}
      |

    //- burger menu
    -
      jsClass = 'js-ds-burger-menu';
    include ../../components/burger-menu.pug

  ='\n'
  //ocbc-ds__nav__content
  .ocbc-ds__nav__content.js-ds-nav-content
    //-
      //ocbc-ds__search-form
      form.ocbc-ds__search-form
        ='\n'
        input.ocbc-ds__text-field(type='text', name='keyword', placeholder='Search')/
        |!{''}
        |

    .ocbc-ds__nav__content__scrollover
      //ocbc-ds__menu
      .ocbc-ds__menu
        block menu
