//-------------------------------------------------------------------------------
  @name: Design System - Navigation - Content
  @description: Design System - Navigation - Content
  -------------------------------------------------------------------------------//

extend navigation.pug

//- menu content
block menu
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-brand-guideline.html') Brand Guideline
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-elements.html') Elements
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-components.html') Components
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-writing-style-guideline.html') Writing Style & Guideline
    |!{''}
    |
