//-------------------------------------------------------------------------------
  @name: Individu - Digital Channel - One Mobile - Breadcrumb
  @description: Individu - Digital Channel - One Mobile - Breadcrumb
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'digital-channel.html',
      text: 'Digital Channel'
    },
    {
      to: 'digital-channel-one-mobile.html',
      text: 'ONe Mobile'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
