//-------------------------------------------------------------------------------
  @name: Digital Channel - One Mobile - FAQ Dropdown
  @description: Digital Channel - One Mobile - FAQ Dropdown
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Pertanyaan Populer Tentang ONe Mobile',
    question: [
      {
        val: 1,
        text: 'Bagaimana dengan keamanan menggunakan ONe Mobile?'
      },
      {
        val: 2,
        text: 'Cara bertransaksi dengan QR Payment di ONe Mobile'
      },
      {
        val: 3,
        text: 'Apa itu ONe Mobile'
      },
      {
        val: 4,
        text: 'Apakah ONe Mobile aman untuk bertransaksi'
      }
    ],
    answer: [
      {
        val: 1,
        text: 'A: ONe Mobile menggunakan Two-Factor Authentication (2FA) di mana pengguna menggunakan User ID, Password serta PIN transaksi yang hanya diketahui oleh pengguna.<br/>Pastikan Anda tidak memberikan informasi User ID, Password, Kode OTP maupun PIN transaksi yang Anda miliki kepada siapa pun.'
      },
      {
        val: 2,
        text: 'Cukup satu aplikasi untuk kemudahan dan kenyamanan transaksi perbankan Anda. Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      },
      {
        val: 3,
        text: 'ONe mobile adalah sebuah aplikasi berbasis digital yang siap membantu Anda betransaksi lebih mudah dan cepat'
      },
      {
        val: 4,
        text: 'Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      }
    ],
  }

//ocbc-faq-dd__prod-detail
.ocbc-faq-dd__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          include ../../components/faq-dropdown.pug
