//-------------------------------------------------------------------------------
  @name: Digital Channel - One Mobile - Feature
  @description: Digital Channel - One Mobile - Feature
  -------------------------------------------------------------------------------//

//- Feature
include ../../layout/one-mobile-scroll.pug
