//-------------------------------------------------------------------------------
  @name: Digital Channel - One Mobile - Main Banner
  @description: Digital Channel - One Mobile - Main Banner
  -------------------------------------------------------------------------------//

include ../../components/one-mobile-banner.pug
