//-------------------------------------------------------------------------------
  @name: Digital Channel - One Mobile - One Mobile
  @description: Digital Channel - One Mobile - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'velocity',
    image: {
      desktop: 'one-mobile-short-d.jpg',
      mobile: 'one-mobile-short-m.jpg'
    },
    title: 'Download ONe Mobile'
  }

include ../../components/one-mobile.pug
