//-------------------------------------------------------------------------------
  @name: FAQ - FAQ Accordion - Pembukaan Rekening
  @description: FAQ - FAQ Accordion - Pembukaan Rekening
  -------------------------------------------------------------------------------//

extends ../../../../../components/faq-accordion.pug

block head
  -
    title = 'Pembukaan Rekening OCBC NISP';
    
block content
  h6.ocbc-faq-ac__h6
    | Apa saja syarat membuka rekening tabungan untuk perorangan?
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Bukti identitas diri yang masih berlaku
      ul.ocbc-faq-ac__ul
        li.ocbc-faq-ac__li WNI: KTP (musiman/permanen) atau SIM
        li.ocbc-faq-ac__li WNA: Passport dan KIMS/KITAS/KITAP
    li.ocbc-faq-ac__li NPWP, ika belum mempunyai NPWP dapat menggunakan NPWP orang tua dan jika orang tua tidak memiliki NPWP dapat mengisi formulis pernyataan tidak memiliki NPWP
    li.ocbc-faq-ac__li Mengisi Formulir Pembukaan Rekening, specimen tanda tangan dan biaya materai IDR 6.000
    li.ocbc-faq-ac__li Saldo awal untuk pembukaan rekening yang disesuaikan dengan jenis tabungan yang dipilih

  h6.ocbc-faq-ac__h6
    | Apa saja syarat membuka rekening deposito untuk perorangan?
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Mengisi dan melengkapi formulir penempatan deposito
    li.ocbc-faq-ac__li Menunjukkan dokumen asli berupa: KTP/Paspor atau KIMS/KITAS/KITAP untuk WNA
    li.ocbc-faq-ac__li Setoran awal untuk pembukaan deposito
  
  h6.ocbc-faq-ac__h6
    | Apa saja syarat membuka rekening giro untuk perorangan?
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Minimal berusia 18 tahun atau sudah menikah
    li.ocbc-faq-ac__li Fotokopi identitas diri (contoh: KTP)
    li.ocbc-faq-ac__li Fotokopi NPWP
    li.ocbc-faq-ac__li Surat Referensi Bank
    li.ocbc-faq-ac__li Surat Kuasa
    li.ocbc-faq-ac__li Specimen tanda tangan
    li.ocbc-faq-ac__li Tidak termasuk daftar hitam Bank Indonesia
