//-------------------------------------------------------------------------------
  @name: SME - Presentation Needs - Berbisnis Profit
  @description: SME - Presentation Needs - Berbisnis Profit
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='berbisnis-profit')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Buka Rekening Bisnis',
      description: 'Kelola bisnis dalam rekening khusus dengan bunga hingga 1,5% pertahun',
      image: {
        desktop: 'sme-3-d.jpg',
        mobile: 'sme-3-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan layanan lain untuk dana bisnis',
      button: {
        to: '#',
        text: 'Lihat Semua Produk'
      },
      card: [
        {
          icon: 'hand-dollar.svg',
          title: 'Deposito Devisa Hasil Ekspor',
          description: 'Memiliki deposito dengan pajak yang spesial',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'hand-dollar.svg',
          title: 'Forward Link Deposit',
          description: 'Investasi Valas dengan imbal balik tinggi dari Deposito',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'kurs.svg',
          title: 'Deposito Berjangka',
          description: 'Deposito untuk Bisnis dengan 5 pilihan mata uang',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita Inspirasi Bisnis',
      card: [
        {
          image: 'nyala-1.jpg',
          label: 'SME',
          title: 'Cara Membangun Bisnis yang Tepat',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'individu-3.jpg',
          label: 'SME',
          title: 'Ingin Mencoba Buka Bisnis? Ini Jenis Usaha yang Menjanjikan',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }
  include ../../../layout/card-article.pug
