//-------------------------------------------------------------------------------
  @name: SME - Presentation Needs - Index
  @description: SME - Presentation Needs - Index
  -------------------------------------------------------------------------------//

//- Presentation Needs
//ocbc-presentation-needs
.ocbc-presentation-needs
  //ocbc-presentation-needs__close
  ='\n'
  button(type='button').ocbc-presentation-needs__close.js-close-presentation-needs
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  //ocbc-presentation-needs__wrapper
  .ocbc-presentation-needs__wrapper
    //- Ekspansi Bisnis Global
    include ekspansi-bisnis-global.pug
    //- Kembangkan Rencana Bisnis Baru
    include rencana-bisnis-baru.pug
    //- Berbisnis dengan Profit
    include berbisnis-profit.pug
    //- Buat Koneksi Bisnis Baru
    include koneksi-bisnis-baru.pug
    //- Cari Pembiayaan untuk Operasional
    include pembiayaan-operasional.pug
