//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Cross Currency Swap
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Cross Currency Swap
  -------------------------------------------------------------------------------//

include table/cross.pug
