//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Dual Currency Returns
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Dual Currency Returns
  -------------------------------------------------------------------------------//

include table/dual.pug
