//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Forward Link Deposit
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Forward Link Deposit
  -------------------------------------------------------------------------------//

include table/link.pug
