//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - FX Option Call Spread
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - FX Option Call Spread
  -------------------------------------------------------------------------------//

include table/option.pug
