//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Principal Protected Deposit
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Principal Protected Deposit
  -------------------------------------------------------------------------------//

include table/principal.pug
