//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Swap dan Option
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Swap dan Option
  -------------------------------------------------------------------------------//

include table/swap.pug
