//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - FX Today
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - FX Today
  -------------------------------------------------------------------------------//

include table/today.pug
