//-------------------------------------------------------------------------------
  @name: Individu - Simpanan - Perbandingan Tabungan - Table
  @description: Individu - Simpanan - Perbandingan Tabungan - Table
  -------------------------------------------------------------------------------//

extends ../../../components/table-comparison.pug

block tableHead
  -
    title = "Berapa Biaya & Bunganya?";

block tableBody
  .ocbc-tbl-comp__row(data-title='suku-bunga')
    .ocbc-tbl-comp__data
      | Suku Bunga
