//-------------------------------------------------------------------------------
  @name: Individu - Simpanan - Perbandingan Tabungan - Table
  @description: Individu - Simpanan - Perbandingan Tabungan - Table
  -------------------------------------------------------------------------------//

extends ../../../components/table-comparison.pug

block tableHead
  -
    tableClass = 'syarat-ketentuan';
    title = "Apa Syarat dan Ketentuannya? ";

block tableBody
  .ocbc-tbl-comp__row(data-title='kartu-identitas')
    .ocbc-tbl-comp__data
      | Kartu Identitas
  .ocbc-tbl-comp__row(data-title='usia')
    .ocbc-tbl-comp__data
      | Usia
  .ocbc-tbl-comp__row(data-title='setoran-awal')
    .ocbc-tbl-comp__data
      | Setoran Awal