//-------------------------------------------------------------------------------
  @name: Basic Page - Kebijakan Privasi - Content
  @description: Basic Page - Kebijakan Privasi - Content
  -------------------------------------------------------------------------------//

//- Basic Page Template
extends ../../layout/basic-page.pug

//- Content
block content
  //ocbc-basic-page__head
  .ocbc-basic-page__head
    h2.ocbc-basic-page__title
      | Kebijakan Privasi
    p.ocbc-basic-page__desc
      | Melindungi seluruh informasi Nasabah dan transparansi dengan apa yang kami lakukan terhadap informasi tersebut adalah hal terpenting dalam membangun hubungan dan kepercayaan dengan Nasabah kami.

  //ocbc-basic-page__body
  .ocbc-basic-page__body
    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      h3.ocbc-basic-page__subtitle
        | Peluang Untuk Membuat Pilihan
      p.ocbc-basic-page__desc
        | Seluruh Nasabah OCBC NISP memiliki kesempatan untuk menetapkan pilihan. Ketika Nasabah mempertimbangkan pilihan, kami menganjurkan untuk membuat pilihan yang memungkinkan kami untuk dapat memberikan produk dan layanan yang berkualitas agar dapat dengan lebih baik memenuhi kebutuhan dan tujuan financial Nasabah.

    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      h3.ocbc-basic-page__subtitle
        | Kerahasiaan Informasi Pribadi
      p.ocbc-basic-page__desc
        | Prioritas kami adalah menjaga keamanan identitas personal Nasabah. Guna menjaga informasi tersebut, kami menjaga secara fisik; elektronik; serta melindungi prosedur hukum yang sesuai dengan ketentuan yang berlaku. Kami juga melatih para karyawan untuk dapat menjaga kerahasiaan informasi pribadi dengan cara yang tepat.
      p.ocbc-basic-page__desc
        | Apabila kami bekerjasama dengan institusi atau perusahaan lain yang memberikan pelayanan bagi kami, kami mewajibkan tiap perusahaan tersebut untuk melindungi kerahasiaan informasi pribadi yang mereka terima.

    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      h3.ocbc-basic-page__subtitle
        | Kebijakan Cookie
      p.ocbc-basic-page__desc
        | Situs OCBC NISP menggunakan cookie untuk mengumpulkan informasi untuk memberikan layanan dan penawaran yang lebih baik kepada semua pengunjung. Cookie merupakan sebuah berkas teks berupa informasi yang tersimpan di perangkat masing-masing pengunjung (termasuk tablet dan smartphone). Informasi ini meliputi hal mendasar seperti istilah yang digunakan saat menelusuri situs dan konten yang dibaca. Informasi dari cookie inilah yang membantu situs mengumpulkan informasi statistik dan mengenali pengunjung ketika pengunjung kembali ke situs OCBC NISP.
      p.ocbc-basic-page__desc
        | Beberapa cookie sangat penting untuk layanan situs agar dapat bekerja dengan optimal, cookie yang lain digunakan untuk mengumpulkan informasi statistik pengunjung sehingga dapat membuat situs yang lebih nyaman digunakan dan berguna bagi pengunjung. Beberapa cookie bersifat sementara dan akan hilang ketika browser ditutup, sementara ada pula cookie yang tetap bertahan dan akan tinggal di perangkat untuk beberapa waktu. Situs OCBC NISP juga menggunakan beberapa cookie yang terkait dengan kampanye dan akan hilang ketika kampanye berakhir.
      p.ocbc-basic-page__desc
        | Jika pengunjung memilih untuk tidak menggunakan cookie selama kunjungan, pengunjung harus menyadari bahwa fungsi dan halaman tertentu tidak akan bekerja secera optimal. Jika pengunjung ingin menghapus cookie yang sudah ada di perangkat, silahkan lihat petunjuk browser dengan mengklik "Help" di menu browser.

    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      h3.ocbc-basic-page__subtitle
        | Link Eksternal
      p.ocbc-basic-page__desc
        | Situs Bank OCBC NISP menyediakan URL link ke situs lain yang tidak dikontrol oleh Bank OCBC NISP. Kami tidak bertanggung jawab atas isi dan keamanan dari situs tersebut. Jika pengunjung mengakses situs tersebut, silakan memeriksa kebijakan privasi dan pengamanan mereka.

    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      h3.ocbc-basic-page__subtitle
        | Perubahan kebijakan
      p.ocbc-basic-page__desc
        | Bank OCBC NISP memiliki hak untuk mengganti kebijakan di website ini sewaktu-waktu. Pengunjung dianjurkan untuk mengecek kebijakan privasi situs dari waktu ke waktu agar dapat mengetahui kebijakan privasi terbaru di situs ini.
