/* ==========================================================================
   OCBC Page: Design System Index
   ========================================================================== */

.#{$prefix}ds {
  min-height: 100vh;
  background-color: color(secondary, 15);
  $root: &;
  @import "ocbc-splash-screen";
  @import "ocbc-navigation";
  @import "ocbc-content";
}
