/* ==========================================================================
   OCBC Page: Design System - Navigation
   ========================================================================== */

// --- nav ---
&__nav {
  $parent: &;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-ds-nav;
  height: 100%;
  width: 292px;
  padding: 40px 0;
  background-color: color(white);
  @include large {
    width: 100%;
    bottom: auto;
    height: auto;
    padding: 0;
  }
  #{$root}__brand {
    @include large {
      margin-bottom: 0;
    }
  }
  .ocbc-burger-menu {
    display: none;
    @include large {
      position: absolute;
      top: 12px;
      right: 8px;
      display: block;
    }
  }
  &__header {
    padding: 0 24px;
    @include large {
      padding: 16px;
      margin-bottom: 0;
      position: relative;
      z-index: $z-ds-nav-header;
      box-shadow: 0 2px 8px rgba(color(black), 0.25);
    }
  }
  &__content {
    position: absolute;
    top: 128px;
    bottom: 0;
    left: 0;
    right: 0;
    @include large {
      position: fixed;
      top: 64px;
      background-color: rgba(color(black), 0.8);
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease;
      transition-delay: 0.7s;
      // <pseudo-element/>
      @include element(before) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 272px;
        height: 100%;
        z-index: $z-ds-nav-content-before;
        background-color: color(white);
        transform: scaleX(0);
        transform-origin: center right;
        transition: all 0.5s ease;
        transition-delay: 0.35s;
      }
      // show-navigation
      .ocbc-show-navigation & {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
        // <pseudo-element/>
        @include element(before) {
          transform: scaleX(1);
          transition-delay: 0.2s;
        }
      }
    }
    &__scrollover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      padding-top: 16px;
      padding-bottom: 32px;
      padding-left: 24px;
      @include scroll(y, touch, hide);
      @include large {
        right: 0;
        left: auto;
        width: 272px;
        padding-top: 32px;
        padding-left: 16px;
        z-index: $z-ds-nav-content-scrollover;
        opacity: 0;
        transition: all 0.5s ease;
        transition-delay: 0s;
        transform: translateX(16px);
        // show-navigation
        .ocbc-show-navigation & {
          opacity: 1;
          transition-delay: 0.55s;
          transform: translateX(0);
        }
      }
    }
  }
  #{$root}__search-form {
    padding: 16px 24px;
    @include large {
      width: 272px;
      padding: 24px 16px 12px;
      margin-left: auto;
      position: relative;
      z-index: $z-ds-nav-search-form;
      opacity: 0;
      transition: all 0.5s ease;
      transition-delay: 0.05s;
      transform: translateX(16px);
      // show-navigation
      .ocbc-show-navigation & {
        opacity: 1;
        transition-delay: 0.55s;
        transform: translateX(0);
      }
    }
  }
  #{$root}__menu {
    margin-bottom: 56px;
    &:last-child {
      margin-bottom: 0;
    }
    @include large {
      margin-bottom: 48px;
    }
  }
}
// --- /nav ---

// --- brand ---
&__brand {
  line-height: 1;
  font-size: 0;
  &__link {
    display: inline-block;
  }
  &__logo {
    height: 48px;
    @include large {
      height: 32px;
    }
  }
}
// --- /brand ---

// --- text-field ---
&__text-field {
  width: 100%;
  padding-left: 48px;
  padding-bottom: 8px;
  border: 0;
  outline: 0;
  background: transparent url(../img/icon/search-gray.svg) no-repeat;
  background-position: 8px 2px;
  color: color(white);
  border-bottom: solid 1px color(gray, 2);
  @include placeholder-color(color(gray, 2));
}
// --- /text-field ---

// --- menu ---
&__menu {
  $mn: &;
  &__title {
    font-weight: fw(medium);
    margin: 0 0 1px;
  }
  &__link {
    display: block;
    padding: 12px 24px;
    border-radius: 8px 0 0 8px;
    text-decoration: none;
    color: color(gray, 1);
    font-weight: fw(bold);
    position: relative;
    transition: all 0.25s ease;
    @include font-size(body);
    // -- active, hover state
    #{$mn}__title--active &,
    &:hover {
      color: color(white);
      background-color: color(primary, 2);
    }
  }

  // --- list ---
  &-list {
    $dsml: &;
    padding: 0 0 8px 20px;
    margin: 0;
    list-style: none;
    position: relative;
    &__item {
      padding: 4px;
      position: relative;
      font-size: 0;
      @include element(before) {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: color(primary, 1);
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: -12px;
        opacity: 0;
        transition: opacity .25s ease;
      }
      &--active {
        #{$dsml}__link {
          color: color(gray, 1);
        }
        @include element(before) {
          opacity: 1;
        }
      }
    }
    &__link {
      display: inline-block;
      padding: 8px;
      text-decoration: none;
      color: color(gray, 2);
      transition: all 0.25s ease;
      @include font-size(body);
      &:hover {
        color: color(gray, 1);
      }
    }
  }
}
// --- /menu ---
