/* ==========================================================================
   OCBC Page: Design System - Content | Writing Style & Guideline
   ========================================================================== */

&__content__wsg {
  $wsg: &;
  &__item {
    margin-bottom: 96px;
    &:last-child {
      margin-bottom: 0;
    }
    @include medium {
      margin-bottom: 72px;
    }
    @include small {
      margin-bottom: 64px;
    }
  }
  &__overview {
    color: color(gray, 2);
    &__desc {
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
      @include small {
        margin-bottom: 24px;
      }
    }
  }
  #{$root}__body {
    &__item {
      margin-bottom: 0;
    }
    &__title {
      @include font-size(h2);
      font-weight: fw(bold);
      color: color(gray, 2);
      margin-bottom: 16px;
    }
    &__desc {
      margin-bottom: 40px;
      margin-top: 0;
      color: color(gray, 2);
      @include small {
        margin-bottom: 32px;
      }
      &--mb16 {
        margin-bottom: 16px;
        @include small {
          margin-bottom: 16px;
        }
      }
    }
  }

  &__list {
    $wsgl: &;
    &__title {
      @include font-size(h4);
      margin-bottom: 8px;
      color: color(gray, 1);
    }
    &__desc {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 16px;
    }
    &__ul,
    &__ol {
      margin-bottom: 32px;
      color: color(gray, 2);
      @include small {
        margin-bottom: 24px;
      }
      &--body {
        #{$wsgl}__li {
          @include font-size(body);
        }
      }
    }
    &__li {
      @include font-size(small);
      margin-bottom: 8px;
      padding-left: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    margin-bottom: 64px;
    &:last-child {
      margin-bottom: 0;
    }
    @include medium {
      margin-bottom: 56px;
    }
    @include small {
      margin-bottom: 48px;
    }
  }

  &__exp {
    $exp: &;
    &__title {
      @include font-size(body);
      color: color(gray, 2);
      font-weight: fw(bold);
      margin-bottom: 16px;
    }
    &__list {
      @include clearfix;
      margin-left: -12px;
      margin-right: -12px;
      @include small {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__item {
      width: 50%;
      float: left;
      padding: 0 12px;
      @include small {
        width: 100%;
        float: none;
        margin-bottom: 24px;
        padding: 0;
        &:last-child {
          margin-bottom: 0;
        }
        + br {
          display: none;
        }
      }
      &--full {
        width: 100%;
        margin-bottom: 24px;
        #{$exp}__box {
          padding: 24px 16px;
          min-height: initial;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &--mt24 {
        margin-top: 24px;
        @include small {
          margin-top: 0;
        }
      }
      &__lbl {
        @include font-size(small);
        font-weight: fw(medium);
        margin-bottom: 24px;
        &--good {
          color: color(secondary, 14);
        }
        &--bad {
          color: color(system, error);
        }
        &--mb8 {
          margin-bottom: 8px;
        }
      }
      &__desc {
        @include font-size(small);
        font-weight: fw(medium);
        color: color(gray, 2);
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &--italic {
          font-style: italic;
        }
      }
    }
    &__box {
      min-height: 216px;
      padding: 16px 16px 24px;
      border-radius: 8px;
      background-color: color(white);
      @include shadow(4);
      @include small {
        padding: 24px 16px;
        min-height: initial;
      }
    }
    &--no-mh {
      #{$exp}__box {
        min-height: initial;
      }
    }
    &--mhs {
      #{$exp}__box {
        min-height: 146px;
        @include small {
          min-height: initial;
        }
      }
    }
    &--mb64 {
      margin-bottom: 64px;
      @include medium {
        margin-bottom: 56px;
      }
      @include small {
        margin-bottom: 48px;
      }
    }
    &__ul {
      @include font-size(small);
      margin-bottom: 0;
      &--none {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: fw(medium);
        #{$exp}__li {
          padding-left: 0;
        }
      }
    }
    &__li {
      color: color(gray, 2);
      margin-bottom: 4px;
      padding-left: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__confident {
    &__item {
      margin-bottom: 64px;
      &:last-child {
        margin-bottom: 0;
      }
      @include medium {
        margin-bottom: 56px;
      }
      @include small {
        margin-bottom: 48px;
      }
    }
    &__title {
      @include font-size(h4);
      color: color(gray, 1);
      margin-bottom: 8px;
    }
    &__desc {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 16px;
    }
    &__list {
      margin-bottom: 32px;
      &__item {
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &__title {
          @include font-size(small);
          font-weight: fw(medium);
          margin-bottom: 0;
          &--good {
            color: color(secondary, 14);
          }
          &--bad {
            color: color(system, error);
          }
        }
        &__val {
          @include font-size(small);
          color: color(gray, 2);
          margin-bottom: 0;
        }
      }
      @include small {
        margin-bottom: 24px;
      }
    }
  }
}
