/* ==========================================================================
   OCBC Page: Design System - Splash Screen
   ========================================================================== */

&__splash-screen {
  $sc: &;
  position: fixed;
  z-index: $z-ds-splash-screen;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: lg(primary);
  opacity: 0;
  transition: all 0.75s ease;
  transition-delay: 2s;
  &__desc {
    position: absolute;
    top: 50%;
    opacity: 0;
    transform: translateY(-40%);
    transform-origin: center right;
    transition: all 1s ease;
    transition-delay: 1s;
    left: 64px;
    right: 64px;
    @include large {
      left: 48px;
      right: 48px;
    }
    @include small {
      left: 32px;
      right: 32px;
    }
  }
  &__logo {
    margin-bottom: 64px;
    height: 48px;
    @include small {
      margin-bottom: 24px;
      height: 32px;
    }
  }
  &__title {
    @include font-size(hero);
  }
  &--show {
    opacity: 1;
    transition-delay: 0s;
    + .ocbc-ds {
      display: none;
    }
  }
  &--show-desc {
    #{$sc}__desc {
      opacity: 1;
      transform: translateY(-50%);
      transition-delay: 0s;
    }
  }
}
