/* ==========================================================================
   OCBC Page: Design System - Content | Intro
   ========================================================================== */

&__intro {
  &__title {
    color: color(gray, 2);
    @include font-size(hero);
    margin-bottom: 16px;
  }
  &__desc {
    color: color(gray, 2);
    margin-bottom: 64px;
    @include small {
      margin-bottom: 32px;
    }
  }
  &__screen {
    margin-bottom: 96px;
    &__img {
      display: block;
      max-width: 704px;
      margin: 0 auto;
      @include medium {
        max-width: 100%;
      }
    }
    @include small {
      margin-bottom: 64px;
    }
  }

  &__get-started {
    &__title {
      color: color(gray, 2);
      margin-bottom: 16px;
    }
    &__desc {
      color: color(gray, 2);
      margin-bottom: 20px;
    }
    &__list {
      margin-left: -12px;
      margin-right: -12px;
      @include clearfix;
      @include small {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__item {
      width: 25%;
      float: left;
      padding: 12px;
      @include medium {
        width: 50%;
      }
      @include small {
        width: 100%;
        float: none;
        padding: 0;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        min-width: 28px;
        display: block;
        &-wrapper {
          position: relative;
          width: 32px;
          height: 32px;
          margin-bottom: 8px;
        }
      }
      &__title {
        @include font-size(body);
        margin-bottom: 16px;
        color: color(gray, 1);
      }
      &__desc {
        @include font-size(small);
        margin-bottom: 0;
        color: color(gray, 2);
      }
    }
    &__box {
      min-height: 240px;
      padding: 24px 16px;
      border-radius: 8px;
      background-color: color(white);
      @include shadow(4);
      @include medium {
        min-height: 180px;
      }
      @include small {
        min-height: 160px;
      }
    }
  }
}
