/* ==========================================================================
   OCBC Page: Design System - Content
   ========================================================================== */

&__content {
  $c: &;
  padding-left: 292px;
  @include large {
    padding-left: 0;
  }

  &__header {
    height: 320px;
    position: relative;
    background-image: lg(primary);
    &__aleph-logo {
      position: absolute;
      top: 48px;
      right: 104px;
      z-index: $z-ds-nav-header-aleph;
    }
    &__txt {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 48px 128px;
      color: color(white);
    }
    &__section {
      margin-bottom: 16px;
      @include small {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 0;
      @include font-size(h1, desktop);
      @include small {
        @include font-size(h2, desktop);
      }
    }
    @include mq(1280px) {
      height: 280px;
      &__aleph-logo {
        right: 64px;
      }
      &__txt {
        padding: 48px 64px;
      }
    }
    @include large {
      height: 240px;
      &__aleph-logo {
        top: 32px;
        right: 48px;
      }
      &__txt {
        padding: 48px;
      }
    }
    @include medium {
      height: 220px;
      &__aleph-logo {
        top: 24px;
        right: 32px;
      }
      &__txt {
        padding: 32px 24px;
      }
    }
    @include small {
      height: 200px;
      &__aleph-logo {
        top: 16px;
        right: 16px;
        width: 40px;
      }
      &__txt {
        padding: 24px 16px;
      }
    }
  }

  &__item {
    min-height: 100vh;
    @include large {
      padding-top: 64px;
    }
    // ---- custom
    &[data-ds-item="dsHeader"] {
      .#{$prefix}ds__components-visual {
        min-height: 640px;
        transform: translateZ(0);
        background-color: color(gray, 6);
        .ocbc-scroll-down & {
          .ocbc-header {
            transform: translateY(0);
          }
        }
      }
    }
    &[data-ds-item="dsHeaderCalculator"] {
      .#{$prefix}ds__components-visual {
        min-height: 640px;
        transform: translateZ(0);
        background-color: color(gray, 6);
        .ocbc-scroll-down & {
          .ocbc-header {
            transform: translateY(0);
          }
        }
      }
    }
    &[data-ds-item="dsFragment"] {
      .#{$prefix}ds__components-visual {
        .ocbc-cookies {
          transform: translateY(0);
          position: relative;
        }
        .ocbc-scroll-down & {
          .ocbc-cookies {
            transform: translateY(0);
          }
        }
      }
    }
    &[data-ds-item="dsContentDetail"] {
      body.ocbc-scroll-down{
        .ocbc-scroll-indicator{
          display: none;
        }
      }
      body{
        .ocbc-scroll-indicator{
          display: none;
        }
      }
      .#{$prefix}ds__components-visual {

      }
    }
    &[data-ds-item="dsOneMobileScroll"] {
      .#{$prefix}ds__components-visual {
        min-height: 640px;
        transform: translateZ(0);
        background-color: color(gray, 6);
        .ocbc-scroll-down & {
          .ocbc-header {
            transform: translateY(0);
          }
        }
      }
    }
    &[data-ds-item="dsScrollIndicator"] {
      .#{$prefix}ds__components-visual {
        .ocbc-scroll-indicator{
          opacity: 0;
        }
      }
    }
  }

  &__wrapper {
    $b: &;
    padding: 64px 128px 96px;
    @include mq(1280px) {
      padding: 56px 64px 80px;
    }
    @include large {
      padding: 32px 48px 64px;
    }
    @include medium {
      padding: 32px 24px 48px;
    }
    @include small {
      padding: 24px 16px 40px;
    }
    [class*="ocbc-txt__"] {
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
      @include large {
        margin-bottom: 24px;
      }
      @include small {
        margin-bottom: 16px;
      }
    }
  }

  &__body {
    max-width: 808px;
    .#{$prefix}ds__elements & {
      max-width: 100%;
    }
    .#{$prefix}ds__components & {
      max-width: 100%;
    }
  }

  // overview
  &__overview {
    margin-bottom: 64px;
    #{$c}__body & {
      .ocbc-txt__h3 {
        margin-bottom: 24px;
      }
    }
    @include large {
      margin-bottom: 56px;
    }
    @include small {
      margin-bottom: 48px;
      #{$c}__body & {
        .ocbc-txt__h3 {
          margin-bottom: 16px;
        }
      }
    }
  }

  // table-row
  &__table-row {
    display: table;
    width: 100%;
    @include medium {
      display: block;
    }
  }

  // table-col
  &__table-col {
    display: table-cell;
    vertical-align: top;
    @include medium {
      display: block;
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

&__body {
  $b: &;
  &__item {
    margin-bottom: 64px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    color: color(gray, 2);
    margin-bottom: 48px;
    @include large {
      margin-bottom: 40px;
    }
    @include small {
      margin-bottom: 24px;
    }
  }
  &__desc {
    margin-top: -24px;
    margin-bottom: 64px;
    @include large {
      margin-bottom: 56px;
    }
    @include small {
      margin-top: -16px;
      margin-bottom: 48px;
    }
  }
  &__subtitle {
    #{$b} & {
      &:last-child {
        margin-bottom: 16px;
        @include small {
          margin-bottom: 8px;
        }
      }
    }
  }
}

&__copied-text {
  position: fixed;
  bottom: 48px;
  left: 50%;
  z-index: $z-ds-copied;
  padding: 8px 16px;
  border-radius: 8px;
  color: color(white);
  background-color: rgba(color(black), 0.85);
  @include font-size(small);
  @include shadow(16);
  transition: all 0.5s cubic-bezier(0.7, -0.51, 0.42, 1.56);
  transform: translate(-50%, 24px) scale(0);
  opacity: 0;
  &--show {
    transform: translate(-50%, 0) scale(1);
    opacity: 1;
  }
  @include small {
    bottom: 24px;
  }
}

@import
"ocbc-content-intro",
"ocbc-content-brand",
"ocbc-content-colors",
"ocbc-content-shadow",
"ocbc-content-components",
"ocbc-content-elements",
"ocbc-content-wsg";
