/* ==========================================================================
   OCBC Page: Design System - Content | Colors
   ========================================================================== */

&__colors {
  margin: -24px;
  @include clearfix;
  @include small {
    margin: -16px;
  }
}

&__colors-item {
  float: left;
  width: 224px;
  padding: 24px;
  @include large {
    width: 200px;
  }
  @include small {
    width: 180px;
    padding: 16px;
  }
  @include retina {
    width: 160px;
    padding: 16px;
  }
}

&__colors-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
  @include text-indent-hide;
  &--bordered {
    border: solid 1px color(gray, 6);
  }
}
