/* ==========================================================================
   OCBC Page: Design System - Content | Components
   ========================================================================== */

&__components {
  &-section {
    margin-bottom: 64px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &-item {
    margin-bottom: 32px;
    #{$root}__content__body & {
      .ocbc-txt__label {
        margin-bottom: 16px;
        @include small {
          margin-bottom: 8px;
        }
      }
    }
  }
  &-visual {
    padding: 24px;
    border: solid 1px color(gray, 3);
    border-bottom: 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    background-color: color(white);
    &--inverse-bg {
      background-color: color(black);
    }
    &--no-padding {
      padding: 0;
    }
    @include small {
      padding: 16px;
      &--no-padding {
        padding: 0;
      }
    }
    .#{$prefix}card-needs {
      position: relative;
    }
  }
  &-code {
    overflow: hidden;
    border-radius: 0 0 8px 8px;
    padding-bottom: 40px;
    position: relative;
    background-color: color(gray, 1);
    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      @include font-size(small);
      padding: 9px 16px 8px;
      outline: 0;
      border: 0;
      cursor: pointer;
      z-index: 2;
      background-color: color(primary, 1);
      color: color(white);
      @include small {
        padding: 10px 12px;
      }
    }
  }
  &-tabs {
    display: none;
    &__control {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: color(gray, 1);
      border-bottom: solid 1px color(black);
      @include clearfix;
      &__item {
        $ti: &;
        padding: 8px 16px;
        float: left;
        cursor: pointer;
        color: color(white);
        margin-bottom: -1px;
        border-bottom: solid 2px transparent;
        transition: all 0.2s ease;
        @include font-size(small);
        @include remove-tap-highlight;
        &--active {
          background-color: color(black);
          border-color: color(primary, 1);
        }
        &:hover:not(#{$ti}--active) {
          color: color(primary, 1);
        }
      }
    }
    &__content {
      padding: 24px;
      background-color: color(gray, 1);
      @include small {
        padding: 16px;
      }
    }
    &__pane {
      display: none;
      &--active {
        display: block;
        color: color(white);
      }
    }
    pre {
      margin: 0;
      padding: 0;
    }
    .hljs {
      margin: 0;
      display: block;
      white-space: pre-wrap;
      border: 0;
      border-image: none;
      outline: 0;
      padding: 0;
      line-height: 1.5;
      background-color: transparent;
      @include font-size(small);
    }
  }
  &__copy-code {
    border: solid 1px color(white);
    outline: 0;
    background-color: transparent;
    color: color(white);
    border-radius: 4px;
    padding: 4px 8px;
    transition: all 0.2s ease;
    margin-bottom: 24px;
    @include font-size(micro);
    @include shadow(6);
    &:hover {
      border-color: color(primary, 1);
      background-image: lg(primary);
    }
    &:active {
      background-image: none;
      background-color: color(black);
    }
    @include small {
      margin-bottom: 16px;
      &:hover {
        border-color: color(white);
        background-image: none;
      }
      &:active {
        border-color: color(primary, 1);
        background-image: lg(primary);
      }
    }
  }

  // banner
  &__banner {
    margin-left: -128px;
    margin-right: -128px;
    padding: 0 16px;
    @include mq(1280px) {
      margin-left: -64px;
      margin-right: -64px;
    }
    @include large {
      margin-left: -48px;
      margin-right: -48px;
    }
    @include medium {
      margin-left: -24px;
      margin-right: -24px;
    }
    @include small {
      padding: 0 8px;
      margin-left: -16px;
      margin-right: -16px;
    }
    .#{$prefix} {
      &main-banner,
      &nyala-banner,
      &nyala-htb,
      &one-mobile,
      &one-mobile-banner,
      &one-mobile-rachel,
      &ac-banner,
      &prod-detail-banner,
      &promo-banner,
      &srch-banner,
      &section-banner {
        .#{$prefix}container {
          @include mq(1680px) {
            max-width: 96%;
          }
          @include large {
            max-width: initial;
          }
        }
      }
    }
  }
  // card
  &__card {
    .#{$prefix}card-achievement,
    .#{$prefix}card-head-product,
    .#{$prefix}card-needs {
      .#{$prefix}container {
        padding-left: 32px;
        @include small {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
      .#{$prefix}half-offset-container {
        position: static;
      }
    }
    .#{$prefix}card-career-list {
      margin-top: 0;
    }
  }
  // form
  &__form {
    #{$root}__components-visual[data-select2-id]{
      min-height: 400px;
    }
  }
  // success-state
  &__success-state {
    .#{$prefix}success {
      .#{$prefix}container {
        @include mq(1680px) {
          max-width: 92%;
        }
        @include large {
          max-width: initial;
        }
      }
    }
  }
  // header
  &__header {
    margin-left: -128px;
    margin-right: -128px;
    padding: 0 16px;
    @include mq(1280px) {
      margin-left: -64px;
      margin-right: -64px;
    }
    @include large {
      margin-left: -48px;
      margin-right: -48px;
    }
    @include medium {
      margin-left: -24px;
      margin-right: -24px;
    }
    @include small {
      padding: 0 8px;
      margin-left: -16px;
      margin-right: -16px;
    }
  }
  // footer
  &__footer {
    margin-left: -128px;
    margin-right: -128px;
    padding: 0 16px;
    @include mq(1280px) {
      margin-left: -64px;
      margin-right: -64px;
    }
    @include large {
      margin-left: -48px;
      margin-right: -48px;
    }
    @include medium {
      margin-left: -24px;
      margin-right: -24px;
    }
    @include small {
      padding: 0 8px;
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
