/* ==========================================================================
   OCBC Page: Design System - Content | Colors - Shadow
   ========================================================================== */

&__shadow-item {
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 0;
  }
}

&__shadow-box {
  width: 184px;
  height: 152px;
  border-radius: 8px;
  @include text-indent-hide;
}
