/* ==========================================================================
   OCBC Page: Design System - Content | Brand
   ========================================================================== */

&__brand {
  $b: &;
  #{$root}__content__table-col {
    &:first-child {
      width: 240px;
      @include large {
        width: 224px;
      }
    }
  }
  &__row {
    display: table;
    table-layout: fixed;
  }
  &__col {
    display: table-cell;
    vertical-align: top;
    padding-right: 24px;
    &:last-child {
      padding-right: 0;
    }
  }
  &__fz {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
    @include large {
      margin-bottom: 24px;
    }
    @include small {
      margin-bottom: 24px;
    }
    #{$b}__col {
      &:nth-child(1) {
        width: 104px;
        @include medium {
          width: 96px;
        }
      }
      &:nth-child(2) {
        width: 200px;
        @include medium {
          width: 160px;
        }
      }
      @include small {
        display: block;
        &:nth-child(1),
        &:nth-child(2) {
          width: auto;
          padding-right: 0;
          margin-bottom: 8px;
        }
      }
    }
  }
}

&__content__brand {
  $cb: &;
  &__head {
    color: color(gray, 2);
    padding-bottom: 40px;
    margin-bottom: 64px;
    border-bottom: solid 1px color(gray, 6);
    &__desc {
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include medium {
      padding-bottom: 32px;
      margin-bottom: 48px;
    }
    @include small {
      padding-bottom: 24px;
      margin-bottom: 32px;
    }
  }
  &__item {
    margin-bottom: 96px;
    &:last-child {
      margin-bottom: 0;
    }
    &__title {
      color: color(gray, 2);
      margin-bottom: 16px;
      @include small {
        margin-bottom: 8px;
      }
    }
    &__desc {
      color: color(gray, 2);
      margin-bottom: 40px;
    }
    @include medium {
      margin-bottom: 72px;
      &__desc {
        margin-bottom: 32px;
      }
    }
    @include small {
      margin-bottom: 64px;
      &__desc {
        margin-bottom: 24px;
      }
    }
  }
  // logo
  &__logo {
    &__img {
      display: block;
      &--primary {
        height: 56px;
        margin-left: 32px;
        @include medium {
          height: 48px;
          margin-left: 24px;
        }
        @include small {
          height: 32px;
          margin-left: 16px;
        }
      }
      &--inverse {
        height: 170px;
        @include medium {
          height: 144px;
        }
        @include small {
          height: 96px;
        }
      }
    }
    &__nyala {
      font-size: 0;
      line-height: 1;
      &__item {
        display: inline-block;
        margin-right: 48px;
        &:last-child {
          margin-right: 0;
        }
        @include medium {
          margin-right: 32px;
        }
        @include small {
          margin-right: 16px;
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__img {
        display: block;
        height: 80px;
        &-wrapper {
          padding: 24px 48px;
          border-radius: 8px;
          background-color: color(white);
          @include shadow(4);
          margin-bottom: 16px;
        }
        @include medium {
          height: 72px;
          &-wrapper {
            padding: 24px 40px;
          }
        }
        @include small {
          height: 64px;
          &-wrapper {
            margin-bottom: 8px;
          }
        }
      }
      &__title {
        @include font-size(small);
        margin-bottom: 0;
        color: color(gray, 2);
      }
    }
    &__elevation {
      padding: 40px 48px;
      border-radius: 8px;
      background-color: color(white);
      display: inline-block;
      @include shadow(4);
      &__img {
        display: block;
        height: 72px;
      }
      @include medium {
        padding: 32px 40px;
        &__img {
          height: 64px;
        }
      }
      @include small {
        &__img {
          height: 56px;
        }
      }
    }
  }
  // colors
  &__colors {
    &__list {
      font-size: 0;
      line-height: 1;
      margin: -16px;
      @include medium {
        margin: -12px;
      }
      @include small {
        margin: -8px;
      }
    }
    &__item {
      display: inline-block;
      width: 176px;
      margin: 16px;
      background-color: color(white);
      overflow: hidden;
      border-radius: 8px;
      @include shadow(4);
      @include medium {
        margin: 12px;
      }
      @include small {
        width: 45%;
        max-width: 172px;
        margin: 8px;
      }
      @include retina {
        width: 44%;
      }
    }
    &__bg {
      height: 120px;
      &--red-1 {
        background-color: color(primary, 1);
      }
      &--red-2 {
        background-color: color(primary, 2);
      }
      &--red-3 {
        background-color: color(primary, 3);
      }
      &--grad-red {
        background-image: lg(primary);
      }
      &--black {
        background-color: color(gray, 1);
      }
      &--red {
        background-color: color(primary, 1);
      }
      &--gray {
        background-color: color(gray, 2);
      }
      &--white {
        background-color: color(white);
      }
      &--overlay {
        background-color: rgba(color(secondary, 7), .8);
      }
      &--green {
        background-color: color(secondary, 14);
      }
      &--yellow {
        background-color: color(secondary, 11);
      }
      &--gray-1 {
        background-color: color(gray, 3);
      }
      &--gray-2 {
        background-color: color(gray, 4);
      }
      &--gray-3 {
        background-color: color(gray, 5);
      }
      &--gray-4 {
        background-color: color(gray, 6);
      }
      &--gray-5 {
        background-color: color(gray, 7);
      }
      &--majestic-gold-1 {
        background-color: color(premier, 1);
      }
      &--majestic-gold-2 {
        background-color: color(premier, 2);
      }
      &--majestic-gold-3 {
        background-color: color(premier, 3);
      }
      &--grad-premier-1 {
        background-image: lg(premier);
      }
      &--grad-premier-2 {
        background-image: lg(premier-light);
      }
      &--dark-silver {
        background-color: color(private, 1);
      }
      &--grad-private-1 {
        background-image: lg(private);
      }
      &--grad-private-2 {
        background-image: lg(private-light);
      }
    }
    &__txt {
      padding: 12px 16px;
      @include small {
        padding: 8px 12px;
      }
    }
    &__title {
      margin-bottom: 4px;
      color: color(gray, 1);
      @include small {
        margin-bottom: 0;
      }
      @include retina {
        font-size: 1.2rem;
      }
    }
    &__hex {
      @include font-size(small);
      margin-bottom: 0;
      color: color(gray, 2);
      @include retina {
        font-size: 1.1rem;
      }
    }
  }
  // grid layout
  &__grid-layout {
    &__img {
      display: block;
      @include medium {
        padding-right: 24px;
      }
      @include small {
        padding-right: 16px;
      }
      &--desktop {
        max-width: 802px;
      }
      &--desktop {
        max-width: 802px;
        @include medium {
          width: 802px;
        }
      }
      &--responsive {
        max-width: 340px;
        @include medium {
          width: 340px;
        }
      }
      &-wrapper {
        @include medium {
          margin-left: -24px;
          margin-right: -24px;
          padding-left: 24px;
          padding-right: 24px;
          padding-bottom: 16px;
          @include scroll("x", "touch", "show");
        }
        @include small {
          margin-left: -16px;
          margin-right: -16px;
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
  // object style
  &__object-style {
    #{$cb}__item__title {
      margin-bottom: 40px;
      @include medium {
        margin-bottom: 32px;
      }
      @include small {
        margin-bottom: 16px;
      }
    }
    &__list {
      &__item {
        margin-bottom: 64px;
        &:last-child {
          margin-bottom: 0;
        }
        @include medium {
          margin-bottom: 56px;
        }
        @include small {
          margin-bottom: 48px;
        }
      }
      &__title {
        color: color(gray, 2);
        margin-bottom: 16px;
        font-weight: fw(regular);
      }
    }
    &__line {
      font-size: 0;
      line-height: 1;
      margin: -12px;
      @include medium {
        margin: -8px;
      }
      @include small {
        margin: -12px;
      }
      &__item {
        display: inline-block;
        width: 120px;
        height: 120px;
        margin: 12px;
        border-radius: 8px;
        position: relative;
        border-width: 1px;
        border-style: solid;
        border-color: color(gray, 1);
        @include medium {
          width: 104px;
          height: 104px;
          margin: 8px;
        }
        @include small {
          width: 120px;
          height: 120px;
          margin: 12px;
        }
        &__desc {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 12px 16px;
          color: color(gray, 1);
          margin-bottom: 0;
          @include font-size(small);
        }
        &--1 {
          border-width: 1px;
        }
        &--2 {
          border-width: 2px;
        }
        &--red  {
          border-color: color(primary, 1);
        }
        &--black  {
          border-color: color(gray, 1);
        }
        &--gray {
          border-color: color(gray, 2);
        }
        &--mid-gray {
          border-color: color(gray, 5);
        }
        &--light-gray {
          border-color: color(gray, 6);
        }
        &--gold {
          border-color: color(premier, 1);
        }
        &--white  {
          border-color: color(white);
        }
      }
    }
    &__shadow {
      font-size: 0;
      line-height: 1;
      margin: -16px;
      @include medium {
        margin: -12px;
      }
      &__item {
        display: inline-block;
        width: 144px;
        height: 144px;
        margin: 16px;
        border-radius: 8px;
        position: relative;
        background-color: color(white);
        @include medium {
          margin: 12px;
          width: 132px;
          height: 132px;
        }
        &__desc {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 12px 16px;
          color: color(gray, 1);
          margin-bottom: 0;
          @include font-size(small);
        }
        &--4dp {
          @include shadow(4);
        }
        &--6dp {
          @include shadow(6);
        }
        &--8dp {
          @include shadow(8);
        }
        &--16dp {
          @include shadow(16);
        }
      }
    }
  }
  // typography
  &__typography {
    #{$root}__body {
      &__item {
        margin-bottom: 0;
      }
      &__title {
        @include font-size(h2);
        font-weight: fw(bold);
        color: color(gray, 2);
        margin-bottom: 40px;
        @include medium {
          margin-bottom: 32px;
        }
        @include small {
          margin-bottom: 24px;
        }
      }
      &__subtitle {
        font-weight: fw(bold);
        color: color(gray, 2);
        @include font-size(body);
        margin-bottom: 16px;
      }
    }
  }
  &__fz-label {
    @include font-size(body);
    color: color(gray, 1);
    font-weight: fw(bold);
    margin-bottom: 0;
  }
  // iconography
  &__iconography {
    &__scrollover {
      @include medium {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
        @include scroll("x", "touch", "show");
      }
      @include small {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
      }
    }
    &__tbl {
      border-radius: 8px;
      overflow: hidden;
      @include shadow(4);
      @include medium {
        min-width: 720px;
      }
      &-wrapper {
        @include medium {
          min-width: 744px;
          padding-right: 24px;
        }
        @include small {
          min-width: 736px;
          padding-right: 16px;
        }
      }
    }
    &__row {
      display: table;
      table-layout: fixed;
      width: 100%;
      padding: 16px 12px;
      border-bottom: solid 1px color(gray, 6);
      background-color: color(gray, 7);
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(odd) {
        background-color: color(white);
      }
      &--title {
        color: color(gray, 2);
        border-bottom: solid 1px color(gray, 3);
        &:nth-child(odd) {
          background-color: color(gray, 6);
        }
      }
    }
    &__col {
      display: table-cell;
      vertical-align: middle;
      white-space: normal;
      word-wrap: break-word;
      &:nth-child(1) {
        width: 188px;
        padding-right: 16px;
      }
      &:nth-child(2) {
        width: 72px;
        text-align: center;
      }
      &:nth-child(3) {
        padding-left: 16px;
      }
      .#{$prefix}fi {
        font-size: 2rem;
      }
    }
    &__label {
      color: color(gray, 1);
      font-weight: fw(bold);
      margin-bottom: 0;
    }
    &__name {
      margin-bottom: 0;
    }
    &__tag {
      font-weight: fw(medium);
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    &__icon-img {
      max-height: 32px;
      max-width: 32px;
      width: auto;
      height: auto;
    }
  }
  &__item__img {
    display: block;
    &-wrapper {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__item__list {
    color: color(gray, 2);
    &__desc {
      margin-bottom: 16px;
    }
    &__ul {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      @include medium {
        margin-bottom: 32px;
      }
      @include small {
        margin-bottom: 24px;
      }
    }
    &__li {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

