/* ==========================================================================
   OCBC Page: Design System - Content | Elements
   ========================================================================== */

&__elements {
  $el: &;
  &__box{
    display: inline-block;
    width: 216px;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    margin: 8px;
    vertical-align: top;
    background-color: color(white);
    &-list {
      margin: -8px;
      font-size: 0;
      line-height: 1;
    }
    &__desc {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 8px 12px;
      margin-bottom: 0;
      background-color: color(white);
      @include font-size(micro);
    }
  }
  &__button {
    .#{$prefix}btn {
      margin: 8px;
    }
  }
  &__select {
    #{$root}__components-visual {
      min-height: 320px;
    }
  }
  &__shadow {
    #{$el}__box {
      margin: 12px;
      &-list {
        margin: -12px;
      }
    }
  }
  &__tag-label {
    .#{$prefix}tag-label {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

&__content__elements {
  // utilities
  &__utilities {
    &__scrollover {
      @include medium {
        margin-left: -24px;
        margin-right: -24px;
        padding-left: 24px;
        padding-right: 24px;
        @include scroll("x", "touch", "show");
      }
      @include small {
        margin-left: -16px;
        margin-right: -16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
      }
    }
    &__tbl {
      border-radius: 8px;
      overflow: hidden;
      @include shadow(4);
      @include medium {
        min-width: 720px;
      }
      &-wrapper {
        @include medium {
          min-width: 744px;
          padding-right: 24px;
        }
        @include small {
          min-width: 736px;
          padding-right: 16px;
        }
      }
    }
    &__section {
      width: 100%;
      padding: 16px 12px;
      border-bottom: solid 1px color(gray, 6);
      background-color: color(gray, 8);
    }
    &__row {
      display: table;
      table-layout: fixed;
      width: 100%;
      padding: 16px 12px;
      border-bottom: solid 1px color(gray, 6);
      background-color: color(white);
      &:last-child {
        margin-bottom: 0;
      }
      &--title {
        color: color(gray, 2);
        border-bottom: solid 1px color(gray, 3);
        &:nth-child(odd) {
          background-color: color(gray, 6);
        }
      }
    }
    &__col {
      display: table-cell;
      vertical-align: top;
      white-space: normal;
      word-wrap: break-word;
      &:nth-child(1) {
        width: 320px;
        padding-right: 16px;
      }
    }
    &__label {
      color: color(gray, 1);
      font-weight: fw(bold);
      margin-bottom: 0;
    }
    &__name {
      color: color(gray, 1);
      font-weight: fw(bold);
      margin-bottom: 0;
    }
    &__desc {
      font-size: 1.6rem;
      margin-bottom: 0;
    }
    &__title {
      font-weight: fw(bold);
      margin-bottom: 0;
      color: color(primary, 1);
      &__note {
        font-weight: fw(regular);
        color: color(gray, 2);
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
