//-------------------------------------------------------------------------------
  @name: Individu Simpanan - Main Banner
  @description: Individu Simpanan - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Simpanan',
    description: 'Kelola keuangan untuk memenuhi kebutuhan dan kemudahan bertransaksi',
    image: {
      desktop: 'individu-simpanan-d.jpg',
      mobile: 'individu-simpanan-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
