//-------------------------------------------------------------------------------
  @name: Individu Simpanan - Nyala Banner
  @description: Individu Simpanan - Nyala Banner
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Lengkapi keuntungan Tabungan dengan Nyala',
    description: 'Bebas biaya transaksi kemana saja dan dapatkan cashback Rp50 Ribu setiap bulan',
    button: 'Cari Tahu',
    to: '#'
  }

include ../../components/nyala-banner.pug
