//-------------------------------------------------------------------------------
  @name: Individu Simpanan - Tab
  @description: Individu Simpanan - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      button: {
        to: 'individu-tabungan-perbandingan.html',
        text: 'Bandingkan',
        modifier: 'js-compare-product'
      },
      modifier: 'js-tabs-compare-product',
      item: [
        {
          target: 'individu-tabungan',
          url: 'individu-tabungan-perbandingan.html',
          text: 'Tabungan'
        },
        {
          target: 'individu-tabungan-berjangka',
          url: 'individu-tabungan-berjangka-perbandingan.html',
          text: 'Tabungan Berjangka'
        },
        {
          target: 'individu-deposito',
          url: 'individu-deposito-perbandingan.html',
          text: 'Deposito'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='individu-tabungan')
    include tab-content/tabungan.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='individu-tabungan-berjangka')
    include tab-content/tabungan-berjangka.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='individu-deposito')
    include tab-content/deposito.pug
