//-------------------------------------------------------------------------------
  @name: Components - Achievement Banner
  @subheadlineription: Components - Achievement Banner
  -------------------------------------------------------------------------------//

//ocbc-ac-banner
.ocbc-ac-banner
  .ocbc-ac-banner__img-wrapper
    .ocbc-ac-banner__img-bg.ocbc-ac-banner__img-bg--d(style='background-image: url(img/dummy/banner/achievement/'+data.image.desktop+')')
    .ocbc-ac-banner__img-bg.ocbc-ac-banner__img-bg--m(style='background-image: url(img/dummy/banner/achievement/'+data.image.mobile+')')
  .ocbc-ac-banner__txt-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-ac-banner__txt
            h2.ocbc-ac-banner__title
              | !{data.title}
            h4.ocbc-ac-banner__desc
              | !{data.description}
            ='\n'
            if data.button.popupClass
              button.ocbc-btn.ocbc-btn--secondary-white(data-target=data.button.to, class=data.button.popupClass, type='button')
                | !{data.button.text}
              |!{''}
              |
            else
              a.ocbc-btn.ocbc-btn--secondary-white(href=data.button.to)
                | !{data.button.text}
              |!{''}
              |
          //-  Popup Privileges Market Outlook
          if data.button.to == '.popup-privileges-market-outlook'
            include popup-privileges-market-outlook.pug
