//-------------------------------------------------------------------------------
  @name: Components - Announcement List
  @description: Components - Announcement List
  -------------------------------------------------------------------------------//

//ocbc-announcement__item
.ocbc-announcement__item
  ='\n'
  if data.popupClass
    button.ocbc-announcement__btn-overlay(type='button', data-target=data.target, class=data.popupClass)
      | !{data.title}
  else
    a.ocbc-lnk(href=data.to)
      | !{data.title}
  .ocbc-announcement__icon-box
    ='\n'
    if data.iconOld
      img.ocbc-announcement__icon(src='img/dummy/placeholder/'+data.iconOld, alt=data.title)/
    else
      img.ocbc-announcement__icon(src='img/icon/'+data.icon, alt=data.title)/
    |!{''}
    |
  p.ocbc-announcement__txt
    | !{data.title}

  if data.target == '.popup-policy-report'
    ='\n\n'
    //-  Popup Policy Report
    include popup-policy-report.pug

  if data.target == '.popup-whistleblowing'
    ='\n\n'
    //-  Popup Whistleblowing
    include popup-whistleblowing.pug

  if data.target == '.popup-asean-corporate-governance' && data.title == 'Part A - Hak-hak Pemegang Saham'
    ='\n\n'
    //-  Popup Asea Corporate Governance
    include popup-asean-corporate-governance.pug
