//-------------------------------------------------------------------------------
  @name: Components - Auction Info
  @subtitleription: Components - Auction Info
  -------------------------------------------------------------------------------//

.ocbc-card.ocbc-card--auction-info
  .ocbc-card__box
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/product-category/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      h4.ocbc-card__title
        | !{data.title}
      if data.item
        ul.ocbc-card__list
          each item in data.item
            li.ocbc-card__list__item
              ='\n'
              i.ocbc-fi.ocbc-fi-checklist
              |!{''}
              | !{item}
              |
      else
        p.ocbc-card__desc
          | !{data.description}
