//-------------------------------------------------------------------------------
  @name: Components - Breadcrumbs
  @description: Components - Breadcrumbs
  -------------------------------------------------------------------------------//

//ocbc-breadcrumbs
ul.ocbc-breadcrumbs
  each val in data
    li.ocbc-breadcrumbs__item
      ='\n'
      a.ocbc-lnk(href=val.to)
        | !{val.text}
      |!{''}
      |
