//-------------------------------------------------------------------------------
  @name: Components - Burger Menu
  @description: Components - Burger Menu
  -------------------------------------------------------------------------------//

-
  className = (color == 'white' ? jsClass + ' ocbc-burger-menu--white' : jsClass)
//ocbc-burger-menu
.ocbc-burger-menu(class=className)
  each val in [0,1,2]
    |!{''}
    |
    span.ocbc-burger-menu__bar
  |!{''}
  |
