//-------------------------------------------------------------------------------
  @name: Components - Widget FAQ
  @description: Components - Widget FAQ
  -------------------------------------------------------------------------------//

//ocbc-card-info--faq
.ocbc-card-info.ocbc-card-info--faq
  //ocbc-card-info__head
  .ocbc-card-info__head
    //ocbc-card-info__title
    p.ocbc-card-info__title
      | !{faq.title}
  //ocbc-card-info__body
  form.ocbc-form(action='faq.html')
    //ocbc-card-info__body
    .ocbc-card-info__body
      .ocbc-form__row
        .ocbc-select-wrapper.js-select(data-width='full')
          ='\n'
          select.ocbc-select__element(name='type_card', data-label='Kartu Kredit')
            each val, index in faq.cardTypeList
              if (index === 0)
                option(value=val.val, selected)
                  | !{val.text}
              else
                option(value=val.val)
                  | !{val.text}
          |!{''}
          |

      .ocbc-form__row
        .ocbc-select-wrapper.js-select(data-width='full')
          ='\n'
          select.ocbc-select__element(name='how_to', data-label='One Mobile')
            each val, index in faq.howToList
              if (index === 0)
                option(value=val.val, selected)
                  | !{val.text}
              else
                option(value=val.val)
                  | !{val.text}
          |!{''}
          |

    //ocbc-card-info__btn
    .ocbc-card-info__btn
      ='\n'
      button.ocbc-btn-txt-lnk(type='submit')
        | !{faq.button}
      |!{''}
      |
