//-------------------------------------------------------------------------------
  @name: Components - Card Product Service
  @description: Components - Card Product Service
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-card
  .ocbc-card.ocbc-card--head-product
    .ocbc-card__box
      ='\n'
      a.ocbc-lnk(href=val.to)
        |!{val.title}
      .ocbc-card__img-wrapper
        ='\n'
        img.ocbc-card__img(src='img/dummy/card/head-product/'+val.image, alt=val.title)/
        |!{''}
        |
      .ocbc-card__txt
        if val.isNyala
          ='\n'
          img.ocbc-card__icon-nyala(src='img/logo/start-with-nyala-white.svg', alt='Start with Nyala')/
          p.ocbc-card__desc
            |!{val.description}
        else
          h3.ocbc-card__title
            |!{val.title}
