//-------------------------------------------------------------------------------
  @name: Components - Card Board of Directors - Plain Version
  @description: Components - Card Board of Directors - Plain Version
  -------------------------------------------------------------------------------//

-
  card = data.card;
  
//ocbc-card--bod
.ocbc-card.ocbc-card--bod
  .ocbc-card__img-wrapper
    ='\n'
    img.ocbc-card__img(src='img/dummy/card/bod/'+card.image, alt=card.name)/
    |!{''}
    |
  h4.ocbc-card__name
    | !{card.name}
  p.ocbc-card__position
    | !{card.position}
