//-------------------------------------------------------------------------------
  @name: Components - Code Promo
  @subtitleription: Components - Code Promo
  -------------------------------------------------------------------------------//

//ocbc-card--code-promo
.ocbc-card.ocbc-card--code-promo
  .ocbc-card__box
    p.ocbc-card__title
      | !{data.title}
    .ocbc-card__promo-code
      h4.ocbc-card__promo-code__code
        | !{data.promoCode}
      ='\n'
      button.ocbc-card__promo-code__btn.js-copy-code-promo(type='button', data-text-copied='Kode Disalin')
        ='\n'
        i.ocbc-fi.ocbc-fi-copylink
        ='\n'
        span.ocbc-card__promo-code__txt
          | Copy Code
        |!{''}
        |
      |!{''}
      |
    p.ocbc-card__desc
      | !{data.description}
