//-------------------------------------------------------------------------------
  @name: Components - Card Achievement
  @description: Components - Card Achievement
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-card--achievement
  .ocbc-card.ocbc-card--achievement
    .ocbc-card__box
      .ocbc-card__inner-box
        .ocbc-card__circle
          ='\n'
          img.ocbc-card__logo(src='img/dummy/placeholder/'+val.logo, alt=val.logo)/
          |!{''}
          |
        .ocbc-card__txt
          p.ocbc-card__date
            | !{val.date}
          p.ocbc-card__from
            | !{val.from}
          h4.ocbc-card__award
            | !{val.award}
          p.ocbc-card__location
            | !{val.location}
