//-------------------------------------------------------------------------------
  @name: Components - Risk Profile
  @description: Components - Risk Profile
  -------------------------------------------------------------------------------//

//ocbc-card--risk-profile
.ocbc-card.ocbc-card--risk-profile
  .ocbc-card__box
    p.ocbc-card__title
      | !{data.title}
    .ocbc-field__input-group
      each val in data.list
        .ocbc-field__input.ocbc-field__input--radio
          ='\n'
          input.ocbc-input.ocbc-input--radio.js-risk-profile(type='radio', name='risk_profile', value=val.value, checked=(val.isChecked))/
          ='\n'
          label.ocbc-field__input--radio__label
            | !{val.text}
          |!{''}
          |
    if data.rachel
      .ocbc-card__btn
        ='\n'
        a(href='individu-wealth-management-rachel.html').ocbc-btn.ocbc-btn--primary
          ='\n'
          img.ocbc-card__img(src='img/icon/rachel.png', alt='Rachel Icon')/
          |!{''}
          | Cari Tahu Profil Risiko
          |
        |!{''}
        |
