//-------------------------------------------------------------------------------
  @name: Components - Chosen Product Skeleton
  @subtitleription: Components - Chosen Product Skeleton
  -------------------------------------------------------------------------------//

//- ocbc-card--chosen-skeleton
.ocbc-col-xl-3.ocbc-col-md-4.ocbc-col-sm-6.ocbc-card.ocbc-card--chosen-skeleton
  .ocbc-card__box
    .ocbc-card__plus.js-scroll-to-product