//-------------------------------------------------------------------------------
  @name: Components - Card Product SME
  @subtitleription: Components - Card Product SME
  -------------------------------------------------------------------------------//

//ocbc-card--product-sme
.ocbc-card.ocbc-card--product-sme
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.to)
      | !{data.title}
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/product-sme/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      p.ocbc-card__title
        | !{data.title}
      h3.ocbc-card__desc
        | !{data.description}
