//-------------------------------------------------------------------------------
  @name: Components - Widget Article
  @description: Components - Widget Article
  -------------------------------------------------------------------------------//

//ocbc-card-info--article
.ocbc-card-info.ocbc-card-info--article
  //ocbc-card-info__head
  .ocbc-card-info__head
    //ocbc-card-info__title
    p.ocbc-card-info__title
      | !{article.title}
    //ocbc-card-info__date
    p.ocbc-card-info__date
      | !{article.date}
  //-
    //refresh button
    ='\n'
    //js-refresh-dummy-card-info is class for trigger dummy preloader, change class name js for integration
    button.ocbc-btn-icon.js-refresh-dummy-card-info(type='button')
      ='\n'
      i.ocbc-fi.ocbc-fi-refresh
      |!{''}
      |
  //ocbc-card-info__body
  .ocbc-card-info__body
    .ocbc-card-info--article__list
      //- define data
      - data = article.list;
      include card-info-article-item.pug

  //ocbc-card-info__btn
  .ocbc-card-info__btn
    ='\n'
    a.ocbc-btn-txt-lnk(href='artikel.html')
      | !{article.button}
    |!{''}
    |

  //ocbc-card-info__overlay
  .ocbc-card-info__overlay
    //- preloader
    include preloader.pug
