//-------------------------------------------------------------------------------
  @name: Components - Floating Card Apply
  @description: Components - Floating Card Apply
  -------------------------------------------------------------------------------//

//ocbc-nav--footer
-
  className = (data.btnList.length > 1 ? 'ocbc-card--ca__two-button' : 'ocbc-card--ca__one-button')
.ocbc-card--ca
  .ocbc-card--ca__left(class=className)
    if data.img
      img.ocbc-card--ca-img(src='img/dummy/card/apply/'+data.img, alt=data.img)/
    if data.title
      h4.ocbc-card--ca-txt
        | !{data.title}
  .ocbc-card--ca__right(class=className)
    if data.btnList
      each val in data.btnList
        if val.type === "primary"
          ='\n'
          a.ocbc-btn.ocbc-btn--rounded.ocbc-btn--primary(href=val.to)
            | !{val.txt}
        else
          ='\n'
          a.ocbc-btn.ocbc-btn--rounded.ocbc-btn--secondary(href=val.to)
            | !{val.txt}
      | !{''}
      |
  | !{''}
  |
