//-------------------------------------------------------------------------------
  @name: Components - Chosen Product
  @subtitleription: Components - Chosen Product
  -------------------------------------------------------------------------------//

//ocbc-card--chosen-product
.ocbc-col-xl-3.ocbc-col-md-4.ocbc-col-sm-6.ocbc-card.ocbc-card--chosen-product
  .ocbc-card__box
    ='\n'
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/chosen-product/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      p.ocbc-card__description
        | !{data.description}
      ='\n'
      a(type='button', href=data.link.to).ocbc-btn-txt-lnk.ocbc-card__btn-link
        | !{data.link.text}
      |!{''}
      |
      .ocbc-card__btn
        ='\n'
        a.ocbc-btn.ocbc-btn--primary(href=data.button.to)
          | !{data.button.text}
        |!{''}
        |