//-------------------------------------------------------------------------------
  @name: Components - Card Product Category
  @subtitleription: Components - Card Product Category
  -------------------------------------------------------------------------------//

//ocbc-card--product-category
-
  className = (data.button ? 'ocbc-card--prod-category__with-button' : '')
.ocbc-card.ocbc-card--prod-category(class=className)
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.to)
      | !{data.title}
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/product-category/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      h4.ocbc-card__title
        | !{data.title}
      if data.item
        ul.ocbc-card__list
          each item in data.item
            li.ocbc-card__list__item
              ='\n'
              i.ocbc-fi.ocbc-fi-checklist
              |!{''}
              | !{item}
              |
      else
        p.ocbc-card__desc
          | !{data.description}

    if data.button
      .ocbc-card__btn
        ='\n'
        a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.button.to)
          | !{data.button.text}
        |!{''}
        |

