//-------------------------------------------------------------------------------
  @name: Components - Card Partner
  @description: Components - Card Partner
  -------------------------------------------------------------------------------//

.ocbc-card.ocbc-card--partner
  ='\n'
  img.ocbc-card__img(src="img/dummy/card/partner/"+data.logo, alt=data.name)/
  |!{''}
  |
