//-------------------------------------------------------------------------------
  @name: Components - Card Legend
  @description: Components - Card Legend
  -------------------------------------------------------------------------------//

//ocbc-legend
-
  className = (data.hasDot ? 'ocbc-card--legend--dot' : '')
.ocbc-card.ocbc-card--legend(class=className, data-type=data.type, data-target=data.target)
  ='\n'
  .ocbc-card__box
    if data.hasDot
      span.ocbc-card__dot(style="background-color:" + data.color + ";")
    .ocbc-card__txt
      p.ocbc-card__title
        | !{data.title}
      p.ocbc-card__amount
        | !{data.amount}
      if data.label
        p.ocbc-card__label
          | !{data.label}
