//-------------------------------------------------------------------------------
  @name: Components - Card Nyala Benefit
  @subtitleription: Components - Card Nyala Benefit
  -------------------------------------------------------------------------------//

//ocbc-card--nyala
.ocbc-card.ocbc-card--nyala-benefit
  .ocbc-card__box
    .ocbc-card__txt
      p.ocbc-card__title
        | !{data.title}
      ul.ocbc-card__list
        each item in data.item
          li.ocbc-card__list__item
            ='\n'
            i.ocbc-fi.ocbc-fi-checklist
            |!{''}
            | !{item}
            |
