//-------------------------------------------------------------------------------
  @name: Components - Card Advisor
  @subtitleription: Components - Card Advisor
  -------------------------------------------------------------------------------//

//ocbc-card--advisor
.ocbc-card.ocbc-card--advisor
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.to)
      | !{data.title}
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/advisor/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      h4.ocbc-card__title
        | !{data.title}
      p.ocbc-card__desc
        | !{data.description}
      button(type='button').ocbc-btn-txt-lnk
        | !{data.button}
      |!{''}
      |
