//-------------------------------------------------------------------------------
  @name: Components - Widget Article Item
  @description: Components - Widget Article Item
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-card-info--article__item
  .ocbc-card-info--article__item
    p.ocbc-card-info--article__title
      ='\n'
      a.ocbc-lnk(href='detail-artikel.html')
        | !{val.title}
      |!{''}
      |
    if (val.image)
      .ocbc-card-info--article__img-wrapper
        ='\n'
        a.ocbc-lnk(href='detail-artikel.html')
          | !{val.title}
        ='\n'
        img.ocbc-card-info--article__img(src='img/dummy/card/article/'+val.image, alt=val.title)/
        |!{''}
        |
    else
      p.ocbc-card-info--article__desc
        | !{val.description}
