//-------------------------------------------------------------------------------
  @name: Components - Card USP
  @subtitleription: Components - Card USP
  -------------------------------------------------------------------------------//

-
  srcImage = (data.img != 'placeholder.jpg' ? 'img/icon/' + data.img : 'img/dummy/placeholder/default-white.png');
  altImage = (data.img != 'placeholder.jpg' ? 'Placeholder' : data.title);

//ocbc-card--usp
.ocbc-card.ocbc-card--usp
  .ocbc-card__wrapper
    ='\n'
    img.ocbc-card__logo(src=srcImage, alt=altImage)/
    |!{''}
    |
  .ocbc-card__col
    h3.ocbc-card__title
      | !{data.title}
    p.ocbc-card__desc
      | !{data.description}
