//-------------------------------------------------------------------------------
  @name: Components - Card Mutual Funds
  @subtitleription: Components - Card Mutual Funds
  -------------------------------------------------------------------------------//

//ocbc-card--mutual-funds
.ocbc-card.ocbc-card--mutual-funds
  .ocbc-card__box
    .ocbc-card__risk
      p.ocbc-card__risk__lbl
        | Risk Level: !{data.risk}
      .ocbc-card__risk__meter
        each val in [0, 1, 2, 3, 4]
          ='\n'
          if data.level > val
            span.ocbc-card__risk__bar.ocbc-card__risk__bar--active
          else
            span.ocbc-card__risk__bar
        |!{''}
        |
    .ocbc-card__detail
      p.ocbc-card__type
        | !{data.type}
      p.ocbc-card__company
        | !{data.company}
      .ocbc-card__curr-amount
        each val in data.detail
          .ocbc-card__curr-amount__row
            p.ocbc-card__curr
              | !{val.currency}
            p.ocbc-card__amount
              | !{val.amount}
      .ocbc-card__btn-link
        each val in data.button
          ='\n'
          a.ocbc-btn-txt-lnk(href=val.to)
            | !{val.text}
        |!{''}
        |
