//-------------------------------------------------------------------------------
  @name: Components - Card Icon Title
  @subtitleription: Components - Card Icon Title
  -------------------------------------------------------------------------------//

//ocbc-card--icon-title
.ocbc-card.ocbc-card--icon-title
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.to)
      | !{data.title}
    ='\n'
    img.ocbc-card__img(src='img/icon/'+data.icon, alt=data.title)/
    |!{''}
    |
    p.ocbc-card__title
      | !{data.title}
