//-------------------------------------------------------------------------------
  @name: Components - Card Board of Directors
  @description: Components - Card Board of Directors
  -------------------------------------------------------------------------------//

-
  card = data.card;
  detail = data.detail;

//ocbc-card--bod
.ocbc-card.ocbc-card--bod.js-show-popup-bod(data-popup-photo='img/dummy/card/bod/'+detail.image, data-popup-body=detail.body)
  .ocbc-card__img-wrapper
    ='\n'
    img.ocbc-card__img(src='img/dummy/card/bod/'+card.image, alt=card.name)/
    |!{''}
    |
  h4.ocbc-card__name
    | !{card.name}
  p.ocbc-card__position
    | !{card.position}
