//-------------------------------------------------------------------------------
  @name: Components - Card File Report
  @description: Components - Card File Report
  -------------------------------------------------------------------------------//

//ocbc-file-report
.ocbc-card.ocbc-card--file-report
  ='\n'
  .ocbc-card__box
    ='\n'
    .ocbc-card__icon
      ='\n'
      img(src='img/icon/'+data.icon, alt=data.icon)/
      |!{''}
      |
    .ocbc-card__txt
      p.ocbc-card__title
        |!{data.title}
      .ocbc-card__btn
        ='\n'
        a(href='#').ocbc-btn-txt-lnk
          | Baca
        |!{''}
        |
