//-------------------------------------------------------------------------------
  @name: Components - Exchange Rate
  @description: Components - Exchange Rate
  -------------------------------------------------------------------------------//

//ocbc-card-info--xr
.ocbc-card-info.ocbc-card-info--xr
  //ocbc-card-info__head
  .ocbc-card-info__head
    //ocbc-card-info__title
    p.ocbc-card-info__title
      | Kurs
    //ocbc-card-info__date
    p.ocbc-card-info__date
      | 15 Januari 2020
  //-
    //refresh button
    ='\n'
    //js-refresh-dummy-card-info is class for trigger dummy preloader, change class name js for integration
    button.ocbc-btn-icon.js-refresh-dummy-card-info(type='button')
      ='\n'
      i.ocbc-fi.ocbc-fi-refresh
      |!{''}
      |
  //ocbc-card-info__body
  .ocbc-card-info__body
    -
      exchangeRateList = [
        {
          flag: 'usa.png',
          currency: 'USD',
          buy: '14.000',
          sell: '14.000'
        },
        {
          flag: 'uk.png',
          currency: 'GBP',
          buy: '20.000',
          sell: '20.000'
        },
        {
          flag: 'euro.png',
          currency: 'EUR',
          buy: '18.000',
          sell: '18.000'
        },
        {
          flag: 'japan.png',
          currency: 'JPY',
          buy: '120',
          sell: '120'
        },
        {
          flag: 'singapore.png',
          currency: 'SGD',
          buy: '9.000',
          sell: '9.000'
        }
      ];
    //ocbc-card-info--xr__table
    table.ocbc-card-info--xr__table
      //ocbc-card-info--xr__head
      thead.ocbc-card-info--xr__head
        tr.ocbc-card-info--xr__row
          th.ocbc-card-info--xr__title
            | Mata Uang
          th.ocbc-card-info--xr__title
            | Beli
          th.ocbc-card-info--xr__title
            | Jual
      //ocbc-card-info--xr__body
      tbody.ocbc-card-info--xr__body
        each val in exchangeRateList
          //ocbc-card-info--xr__row
          tr.ocbc-card-info--xr__row
            td.ocbc-card-info--xr__data
              ='\n'
              span.ocbc-card-info--xr__flag
                ='\n'
                img.ocbc-card-info--xr__flag-img(src='img/flag/'+val.flag, alt=val.currency)/
                |!{''}
                |
              |!{''}
              | !{val.currency}
              |
            td.ocbc-card-info--xr__data
              | !{val.buy}
            td.ocbc-card-info--xr__data
              | !{val.sell}
  //ocbc-card-info__btn
  .ocbc-card-info__btn
    ='\n'
    a.ocbc-btn-txt-lnk(href='xr.html')
      | Selengkapnya
    |!{''}
    |
  //ocbc-card-info__overlay
  .ocbc-card-info__overlay
    //- preloader
    include preloader.pug
