//-------------------------------------------------------------------------------
  @name: Components - Card Recommendation
  @subtitleription: Components - Card Recommendation
  -------------------------------------------------------------------------------//


each val, index in data
  if index == 0
    ='\n'
  a.ocbc-card.ocbc-card--rec(href=val.to)
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src=`img/icon/${val.img}`, alt=val.title)/
      |!{''}
      |
    ='\n'
    label.ocbc-card__label
      | !{val.title}
  |!{''}
  |

