//-------------------------------------------------------------------------------
  @name: Components - Needs Card
  @description: Components - Needs Card
  -------------------------------------------------------------------------------//

each val in data
  if val.link
    .ocbc-card.ocbc-card--needs.ocbc-card--needs--lnk
      .ocbc-card__box
        ='\n'
        a.ocbc-lnk(href=val.target)
          |!{val.title}
        ='\n'
        .ocbc-card__img-wrapper
          ='\n'
          img.ocbc-card__img(src='img/icon/'+val.image, alt=val.title)/
          |!{''}
          |
        .ocbc-card__txt
          h4.ocbc-card__desc
            |!{val.title}
  else
    //ocbc-card (arrtibute data-target use for detail presentation needs/detail needs expand)
    .ocbc-card.ocbc-card--needs
      .ocbc-card__box.js-card-needs(data-target=val.target)
        .ocbc-card__img-wrapper
          ='\n'
          img.ocbc-card__img(src='img/icon/'+val.image, alt=val.title)/
          |!{''}
          |
        .ocbc-card__txt
          h4.ocbc-card__desc
            |!{val.title}
