//-------------------------------------------------------------------------------
  @name: Components - Card Country
  @description: Components - Card Country
  -------------------------------------------------------------------------------//

//ocbc-card--country
.ocbc-card.ocbc-card--country
  ='\n'
  input.ocbc-card__input.js-input-country(type='radio', name='country', value=data.value)/
  |!{''}
  |
  .ocbc-card__box
    .ocbc-card__content
      .ocbc-card__country
        .ocbc-card__flag
          ='\n'
          img.ocbc-card__flag-img(src='img/flag/'+data.flag, alt=data.flag)/
          |!{''}
          |
        p.ocbc-card__country__name
          | !{data.name}
      .ocbc-card__cost
        p.ocbc-card__label
          | !{data.label}
        p.ocbc-card__number
          | !{data.cost}
