//-------------------------------------------------------------------------------
  @name: Components - Post Promo
  @description: Components - Post Promo
  -------------------------------------------------------------------------------//

each val in data
  //- conditional for comment
  if val.isRectangle
    //ocbc-card--promo--rectangle: for  post promo variant rectangle
  else
    //ocbc-card--promo

  //- conditional for variant
  -
    className = (val.isRectangle ? 'ocbc-card--promo--rectangle' : '');
    className = (val.isSquare ? className + 'ocbc-card--promo--square' : className);
  .ocbc-card.ocbc-card--promo(class=className)
    .ocbc-card__box
      .ocbc-card__img-wrapper
        ='\n'
        a.ocbc-lnk(href=val.to)
          |!{val.title}
        ='\n'
        img.ocbc-card__img(src='img/dummy/card/promo/'+val.img, alt=val.title)/
        |!{''}
        |
      .ocbc-card__txt
        if val.label
          p.ocbc-card__label
            |!{val.label}
        if val.title
          h4.ocbc-card__title
            ='\n'
            a.ocbc-lnk(href=val.to)
              |!{val.title}
            |!{''}
            |
        if val.date
          p.ocbc-card__date
            |!{val.date}
        if val.description
          p.ocbc-card__desc
            |!{val.description}
