//-------------------------------------------------------------------------------
  @name: Components - Card Article Program
  @subtitleription: Components - Card Article Program
  -------------------------------------------------------------------------------//

//ocbc-card--article-program
.ocbc-card.ocbc-card--article-program
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.button.to)
      | !{data.button.text}
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/article-program/'+data.image, alt=data.title)/
      |!{''}
      |
    .ocbc-card__txt
      h4.ocbc-card__title
        | !{data.title}
      p.ocbc-card__desc
        | !{data.description}
      ='\n'
      button(type='button').ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--white
        | !{data.button.text}
      |!{''}
      |
