//-------------------------------------------------------------------------------
  @name: Components - Card Upselling
  @subtitleription: Components - Card Upselling
  -------------------------------------------------------------------------------//

-
  modifier = (data.border ? 'ocbc-card--upselling--border' : '');
  modifier = (data.small  ? modifier + ' ocbc-card--upselling--small' : modifier );

//ocbc-card--upselling
.ocbc-card.ocbc-card--upselling(class=modifier)
  .ocbc-card__box
    if data.image
      ='\n'
      img.ocbc-card__img.ocbc-card__img--d(src='img/dummy/card/upselling/'+data.image.desktop, alt=data.title)/
      ='\n'
      img.ocbc-card__img.ocbc-card__img--m(src='img/dummy/card/upselling/'+data.image.mobile, alt=data.title)/
      |!{''}
      |
    .ocbc-card__txt
      .ocbc-card__col
        if data.small
          h4.ocbc-card__title.ocbc-card__title-small
            | !{data.title}
        else
          h3.ocbc-card__title
            | !{data.title}
        if data.description
          p.ocbc-card__desc
            | !{data.description}
      .ocbc-card__col
        //- premier
        if data.image
          ='\n'
          a.ocbc-btn.ocbc-btn--premier-white.ocbc-btn--block(href=data.to, target=data.target)
            | !{data.button}
          |!{''}
          |

        //- primary
        else if data.border
          ='\n'
          a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.to, target=data.target)
            | !{data.button}
          |!{''}
          |

        //- primary
        else if data.primary
          ='\n'
          a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.to, target=data.target)
            | !{data.button}
          |!{''}
          |

        //- secondary
        else
          ='\n'
          a.ocbc-btn.ocbc-btn--secondary-white.ocbc-btn--block(href=data.to, target=data.target)
            | !{data.button}
          |!{''}
          |
