//-------------------------------------------------------------------------------
  @name: Components - Card Article
  @subtitleription: Components - Card Article
  -------------------------------------------------------------------------------//

//ocbc-card--article
.ocbc-card.ocbc-card--article
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.button.to)
      | !{data.button.text}
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/article/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      p.ocbc-card__label
        if data.tag
          span.ocbc-card__tag
            | !{data.tag}
        | !{data.label}
      h4.ocbc-card__title
        | !{data.title}
      ='\n'
      button(type='button', class=(data.button.white ? 'ocbc-btn-txt-lnk ocbc-btn-txt-lnk--white' : 'ocbc-btn-txt-lnk ocbc-btn-txt-lnk--white-red'))
        | !{data.button.text}
      |!{''}
      |
