//-------------------------------------------------------------------------------
  @name: Components - Card Address
  @description: Components - Card Address
  -------------------------------------------------------------------------------//

//ocbc-card--address
.ocbc-card.ocbc-card--address
  p.ocbc-card__company-name
    | !{data.company}
  p.ocbc-card__company-desc
    ='\n'
    each address in data.address
      | !{address}
      br/
      |!{''}
      |
    if data.phone
      | !{'Telp: '}
      each phone, idxPhone in data.phone
        a(href='tel:'+phone.to, target='_blank')
          | !{phone.number}
        if idxPhone < (data.phone.length - 1)
          | !{', '}
      br/
      |!{''}
      |
    if data.fax
      | !{'Fax: '}
      each fax, idxFax in data.fax
        a(href='tel:'+fax.to, target='_blank')
          | !{fax.number}
        if idxFax < (data.fax.length - 1)
          | !{', '}
      br/
      |!{''}
      |
    if data.site
      | !{'Situs web: '}
      a(href='http://'+data.site, target='_blank')
        | !{data.site}
    |!{''}
    |
