//-------------------------------------------------------------------------------
  @name: Components - Card Product Comparison
  @description: Components - Card Product Comparison
  -------------------------------------------------------------------------------//

//ocbc-product-comparison
.ocbc-card.ocbc-card--product-comparison
  ='\n'
  .ocbc-card__box
    ='\n'
    .ocbc-card__img
      ='\n'
      img(src='img/dummy/card/product-comparison/'+data.icon, alt=data.icon)/
      |!{''}
      |
    .ocbc-card__txt
      p.ocbc-card__title
        |!{data.title}
  ='\n'
  label.ocbc-card__checkbox--wrapper(for=`comparison-${data.title}`)
    ='\n'
    input.ocbc-filter-checkbox__input.ocbc-card__checkbox.js-product-comparison(type='checkbox', data-id=data.id, value=data.id, data-product=data.product, data-img=data.img, data-description=data.description, data-link-to=(data.link ? data.link.to : ''), data-link-text=(data.link ? data.link.text : ''), data-button-to=(data.button ? data.button.to : ''), data-button-text=(data.button ? data.button.text : '') )
    ='\n'
    span.ocbc-card__ocbc-checkbox
    |!{''}
    |
