//-------------------------------------------------------------------------------
  @name: Components - Card Suggestion
  @description: Components - Card Suggestion
  -------------------------------------------------------------------------------//

//ocbc-card--suggestion
.ocbc-card.ocbc-card--suggestion
  .ocbc-card__box
    .ocbc-card__title-icon
      .ocbc-card__icon
        ='\n'
        img(src='img/icon/'+data.icon, alt=data.title)/
        |!{''}
        |
      h4.ocbc-card__title
        | !{data.title}
    if (data.endless)
      .ocbc-card__auto-slide-image.js-auto-slide
        each val in data.partners
          .ocbc-card__rounded
            .ocbc-card__rounded__wrapper
              ='\n'
              img.ocbc-card__rounded__img(src='img/dummy/partners/'+val.image, alt=val.name)/
              | !{''}
              |
    else
      p.ocbc-card__desc
        | !{data.description}
      .ocbc-card__btn
        ='\n'
        a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.to)
          | !{data.button}
        |!{''}
        |
