//-------------------------------------------------------------------------------
  @name: Components - Career List
  @subtitleription: Components - Career List
  -------------------------------------------------------------------------------//

//ocbc-card--career-list
.ocbc-card.ocbc-card--career-list
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.to)
      | !{data.title}
    p.ocbc-card__title
      | !{data.title}
    p.ocbc-card__desc
      | !{data.description}
