//-------------------------------------------------------------------------------
  @name: Components - Card Article Recommendation
  @subtitleription: Components - Card Article Recommendation
  -------------------------------------------------------------------------------//

//ocbc-nyala-nyala-c
.ocbc-card.ocbc-card--nyala-c
  .ocbc-card__box
    .ocbc-card__txt
      h2.ocbc-card__type
        | !{data.type}
      h4.ocbc-card__title
        | !{data.title}
      ul.ocbc-card__list
        each item in data.item
          li.ocbc-card__list__item
            ='\n'
            i.ocbc-fi.ocbc-fi-checklist
            |!{''}
            | !{item}
            |
      .ocbc-card__btn
        ='\n'
        a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.button.to)
          | !{data.button.text}
        |!{''}
        |
