//-------------------------------------------------------------------------------
  @name: Components - Card Premier Product
  @description: Components - Card Premier Product
  -------------------------------------------------------------------------------//

//ocbc-card
.ocbc-card.ocbc-card--premier-product
  .ocbc-card__box
    ='\n'
    a.ocbc-lnk(href=data.to)
      | !{data.title}
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/premier-product/'+data.image, alt=data.title)/
      |!{''}
      |
    .ocbc-card__txt
      h3.ocbc-card__title
        | !{data.title}
      p.ocbc-card__desc
        | !{data.description}
      ='\n'
      button(type='button').ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--gold-arrow
        | Lihat Detail
      |!{''}
      |
