//-------------------------------------------------------------------------------
  @name: Components - Card Location
  @description: Components - Card Location
  -------------------------------------------------------------------------------//

//ocbc-card--location
.ocbc-card.ocbc-card--location
  .ocbc-card__icon-wrapper
    ='\n'
    img.ocbc-card__icon(src="img/icon/"+data.icon alt=data.title)/
    |!{''}
    |
  .ocbc-card__content
    p.ocbc-card__title
      | !{data.title}
    .ocbc-card__txt
      each desc in data.description
        p.ocbc-card__desc
          | !{desc}

      if data.itemTitle
        p.ocbc-card__title-list
          | !{data.itemTitle}
      if data.item
        ul.ocbc-card__list
          each item in data.item
            li.ocbc-card__item
              ='\n'
              i.ocbc-fi.ocbc-fi-checklist
              |
              | !{item}
              |

  if data.link
    .ocbc-card__lnk
      ='\n'
      a.ocbc-btn-txt-lnk(href=data.link.to, target=data.link.target)
        | !{data.link.text}
      |!{''}
      |
