//-------------------------------------------------------------------------------
  @name: Components - Card Report
  @subtitleription: Components - Card Report
  -------------------------------------------------------------------------------//

//ocbc-card--report
.ocbc-card.ocbc-card--report(class=(data.sectionText ? 'ocbc-card--report--has-section' : ''))
  .ocbc-card__box
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/product-category/'+data.image, alt=data.title)/
      |!{''}
      |
    .ocbc-card__txt
      h4.ocbc-card__title
        | !{data.title}
      .ocbc-card__btn
        ='\n'
        a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.button.to)
          |!{data.button.text}
        |!{''}
        |
  if data.sectionText
    .ocbc-card__btn-more
      ='\n'
      button(type='button', data-target=data.year).ocbc-btn-txt-lnk.js-show-popup-file-report
        |!{data.sectionText}
      |!{''}
      |
