//-------------------------------------------------------------------------------
  @name: Components - Card Article Recommendation
  @subtitleription: Components - Card Article Recommendation
  -------------------------------------------------------------------------------//

//ocbc-card--nyala
.ocbc-card.ocbc-card--nyala
  .ocbc-card__box
    .ocbc-card__img-wrapper
      ='\n'
      img.ocbc-card__img(src='img/dummy/card/nyala/'+data.image, alt=data.image)/
      |!{''}
      |
    .ocbc-card__txt
      p.ocbc-card__title
        | !{data.title}
      ul.ocbc-card__list
        each item in data.item
          li.ocbc-card__item
            i.ocbc-fi.ocbc-fi-checklist
            | !{item}
      .ocbc-card__btn
        ='\n'
        a.ocbc-btn.ocbc-btn--primary.ocbc-btn--block(href=data.button.to)
          | !{data.button.text}
        |!{''}
        |
