//-------------------------------------------------------------------------------
  @name: Components - Circle Description Section
  @description: Components - Circle Description Section
  -------------------------------------------------------------------------------//
block head
-
  className = (data.positionImage ? 'ocbc-circle-desc-sec ocbc-circle-desc-sec--'+data.positionImage : 'ocbc-circle-desc-sec');
  className = (data.gray ? className + ' ocbc-circle-desc-sec ocbc-circle-desc-sec--gray' : className);

//ocbc-circle-desc-sec
div(class=className)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-circle-desc-sec__content
          .ocbc-circle-desc-sec__img
            block image
            - data = image
            include image-circle.pug
          .ocbc-circle-desc-sec__txt
            block content
