//-------------------------------------------------------------------------------
  @name: Components - Company History
  @description: Components - Company History
  -------------------------------------------------------------------------------//

- companyHistory = data;

//ocbc-company-history
.ocbc-company-history
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-company-history__wrapper
          //ocbc-company-history__ctrl
          .ocbc-company-history__ctrl
            .swiper-container.js-year-history
              .swiper-wrapper
                each value, idx in companyHistory.years
                  .swiper-slide
                    .ocbc-company-history__ctrl__item(class='ocbc-company-history__ctrl__item--'+value.color + (idx == 0 ? ' ocbc-company-history__ctrl__item--active' : ''))
                      ='\n'
                      button.ocbc-company-history__ctrl__txt.js-history-about-us(type='button', data-target='year-'+value.number)
                        | !{value.number}
                      | !{''}
                      |
            .swiper-button-prev
            .swiper-button-next
          //ocbc-company-history__content
          .ocbc-company-history__content
            each val, index in companyHistory.content
              .ocbc-company-history__pane(class=(index == 0 ? 'ocbc-company-history__pane--active' : ''), data-pane='year-'+val.year)
                .ocbc-company-history__image
                  -
                    data = val.image
                  include image-circle.pug
                .ocbc-company-history__txt
                  h2.ocbc-company-history__title
                    | !{val.title}
                  p.ocbc-company-history__desc
                    | !{val.desc}
