//-------------------------------------------------------------------------------
  @name: Components - Company Shareholder
  @description: Components - Company Shareholder
  -------------------------------------------------------------------------------//

- companyShareholder = data;

//ocbc-company-shareholder
.ocbc-company-shareholder
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-company-shareholder__content
        .ocbc-company-shareholder__content
          .ocbc-company-shareholder__image
            -
              data = companyShareholder.image
            include image-circle.pug
          .ocbc-company-shareholder__txt
            h2.ocbc-company-shareholder__title
              | !{companyShareholder.title}
            p.ocbc-company-shareholder__desc
              | !{companyShareholder.description}
            .ocbc-company-shareholder__lnk
              ='\n'
              a.ocbc-btn-txt-lnk(href=companyShareholder.link.to)
                | !{companyShareholder.link.text}
              |!{''}
              |
