//-------------------------------------------------------------------------------
  @name: Components - Contact Channel
  @subtitleription: Components - Contact Channel
  -------------------------------------------------------------------------------//

//ocbc-contact-channel
.ocbc-contact-channel
  .ocbc-contact-channel__img-wrapper
    ='\n'
    img.ocbc-contact-channel__img(src=`img/icon/${data.img}`, alt=data.title)/
    |!{''}
    |
  .ocbc-contact-channel_txt
    p.ocbc-contact-channel__title
      | !{data.title}
    p.ocbc-contact-channel__desc
      | !{data.description}
    ='\n'
    a.ocbc-btn.ocbc-btn--primary(href=data.button.to, class=data.button.jsClass, target=data.button.target, data-phone-international=data.button.toInternational)
      | !{data.button.text}
    |!{''}
    |
