//-------------------------------------------------------------------------------
  @name: Components - Cookies
  @description: Components - Cookies
  -------------------------------------------------------------------------------//

//ocbc-cookies
.ocbc-cookies
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-cookies__content
          .ocbc-cookies__txt
            p.ocbc-cookies__desc
              | Kami menggunakan cookies pada situs ini untuk layanan yang lebih baik bagi Anda
          .ocbc-cookies__btn
            button.ocbc-btn.ocbc-btn--primary.js-accept-cookies(type='button')
              | Saya Setuju
