//-------------------------------------------------------------------------------
  @name: Components - CSR Program
  @subtitleription: Components - CSR Program
  -------------------------------------------------------------------------------//

each val in data
  -
    className = (val.reverse ? 'ocbc-csr-program ocbc-csr-program--reverse' : 'ocbc-csr-program')
    className = (val.largeImage ? className + ' ocbc-csr-program--large-img' : className)
  //ocbc-csr-program
  div(class=className)
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-csr-program__content
            .ocbc-csr-program__img-wrapper
              ='\n'
              img.ocbc-csr-program__img(src=`img/dummy/fragment/csr-program/${val.img}`, alt=val.title)/
              |!{''}
              |
            .ocbc-csr-program__txt
              if val.large
                h3.ocbc-csr-program__title.ocbc-csr-program__title--large
                  | !{val.title}
                h3.ocbc-csr-program__desc.ocbc-csr-program__desc--large
                  | !{val.description}
              else
                if val.largeImage
                  h2.ocbc-csr-program__title.ocbc-csr-program__title--x-large
                    | !{val.title}
                  h4.ocbc-csr-program__desc.ocbc-csr-program__desc--medium
                    | !{val.description}
                else
                  h4.ocbc-csr-program__title
                    | !{val.title}
                  p.ocbc-csr-program__desc
                    | !{val.description}
              if val.button
                a.ocbc-btn-txt-lnk(href=val.button.to)
                  | !{val.button.text}
              |!{''}
              |
