//-------------------------------------------------------------------------------
  @name: Components - CSR Description
  @subtitleription: Components - CSR Description
  -------------------------------------------------------------------------------//

-
  text = data.text
//ocbc-csr-description
.ocbc-csr-description
  .ocbc-csr-description__highlight
    // untuk bahasa inggris imagenya tambahin postfix -en.svg (ex: focus-en.svg)
    ='\n'
    img.ocbc-csr-description__img(src=`img/icon/${data.highlight}`, alt=data.title)/
    |!{''}
    |
  .ocbc-csr-description__list
    each val in text
      .ocbc-csr-description__item
        .ocbc-csr-description__icon-wrapper
          ='\n'
          img.ocbc-csr-description__icon(src=`img/dummy/placeholder/${val.icon}`, alt=val.title.replace(/<[^>]*>/g, ''))/
          |!{''}
          |
        h4.ocbc-csr-description__title
          | !{val.title}
