//-------------------------------------------------------------------------------
  @name: Components - Description Section
  @description: Components - Description Section
  -------------------------------------------------------------------------------//

//ocbc-description-section
.ocbc-description-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-description-section__content
          .ocbc-description-section__img-wrapper
            ='\n'
            img.ocbc-description-section__img(src='img/dummy/fragment/rachel/'+data.image, alt=data.title)/
            |!{''}
            |
          .ocbc-description-section__txt
            h3.ocbc-description-section__title
              | !{data.title}
            p.ocbc-description-section__desc
              | !{data.description}
