//-------------------------------------------------------------------------------
  @name: Components - Disclaimer
  @subtitleription: Components - Disclaimer
  -------------------------------------------------------------------------------//

//ocbc-disclaimer
.ocbc-disclaimer
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-disclaimer__content
          h4.ocbc-disclaimer__title
            | !{data.title}
          ol.ocbc-disclaimer__list
            each val in data.description
              li.ocbc-disclaimer__item
                | !{val}
