//-------------------------------------------------------------------------------
  @name: Components - faq Search Form Section
  @description: Components - faq Search Form Section
  -------------------------------------------------------------------------------//

//ocbc-faq-search-section
.ocbc-faq-search-section.ocbc-faq-search-section--inline
  .ocbc-faq-search-section__form-wrapper
    // data-api-suggestion: digunakan untuk list pencarian tautan cepat
    // data-api-list: digunakan untuk list pencarian tautan terkait
    //ocbc-faq-search-section__form
    form.ocbc-faq-search-section__form(action='faq.html', autocomplete='off', data-api-suggestion=dataAPI+'faq-suggestion-list.json', data-api-list=dataAPI+'faq-search-list.json')
      ='\n'
      input.ocbc-input.ocbc-input--minimalize.js-faq-search-input(type='text',  name='keyword')/
      ='\n'
      button.ocbc-btn-icon.ocbc-faq-search-section__submit(type='submit')
        ='\n'
        i.ocbc-fi.ocbc-fi-search
        |!{''}
        |
      |!{''}
      |
  ='\n\n'
  //ocbc-faq-search-section__quick-links
  .ocbc-faq-search-section__quick-links
    // secara default display: none, nanti di trigger ketika data tidak ada, block class tag ocbc-faq-search-section__no-result di show dengan fungsi jQuery $('.ocbc-faq-search-section__no-result').show(timing) atau $('.ocbc-faq-search-section__no-result').fadeIn(timing) atau fungsi show lainnya
    //ocbc-faq-search-section__no-result
    .ocbc-faq-search-section__no-result
      .ocbc-faq-search-section__no-result__icon-wrapper
        ='\n'
        img.ocbc-faq-search-section__no-result__icon(src='img/icon/no-result.svg', alt='No Result')/
        |!{''}
        |
      p.ocbc-faq-search-section__no-result__txt
        | Halaman yang Anda Cari Tidak Tersedia
    ='\n\n'
    //ocbc-faq-search-section__quick-links__wrapper
    .ocbc-faq-search-section__quick-links__wrapper
      // data-text-match: digunakan untuk text tautan terkait, ini di trigger dari JS
      // data-text-shortcut: digunakan untuk text tautan cepat, ini di trigger dari JS
      p.ocbc-faq-search-section__title(data-text-match='Tautan Terkait', data-text-shortcut='Tautan Cepat')
        | Tautan Cepat
      -
        data = [
          'Syarat Pembukaan Rekening Giro',
          'Pembukaan Rekening Online',
          'Rekomendasi Produk Untuk Tabungan',
          'Rekening Tabungan',
          'Reksadana'
        ];
      ='\n'
      // ini hanya dummy tag saja, sebenarnya listnya akan di gantikan oleh data json yang di panggil di JS
      .ocbc-faq-search-section__list-container.js-faq-search-list
        ul.ocbc-faq-search-section__list
          each val in data
            li.ocbc-faq-search-section__item
              ='\n'
              a.ocbc-lnk(href='#')
                | !{val}
              |!{''}
              |
  ='\n\n'
