//-------------------------------------------------------------------------------
  @name: Components - FAQ Dropdown Widget
  @description: Components - FAQ Dropdown Widget
  -------------------------------------------------------------------------------//

.ocbc-faq-dd
  h4.ocbc-faq-dd-txt
    | !{data.title}
  .ocbc-faq-dd__qst
    .ocbc-faq-dd__select.ocbc-select-wrapper.js-select.js-select-faq-dropdown(data-width='full')
      ='\n'
      select.ocbc-select__element(name='faq_answer', data-label=data.title)
        each val, index in data.question
          if (index === 0)
            option(value=val.val, selected='selected')
              | !{val.text}
          else
            option(value=val.val)
              | !{val.text}
      |!{''}
      |
  .ocbc-faq-dd__ans
    each val, index in data.answer
      if (val.val === 1)
        .ocbc-faq-dd__ans-list.ocbc-faq-dd__ans-list--active(data-id= val.val)
          p.ocbc-faq-dd__ans-txt
            | !{val.text}
      else
        .ocbc-faq-dd__ans-list(data-id= val.val)
          p.ocbc-faq-dd__ans-txt
            | !{val.text}
  |!{''}
  |
  .ocbc-faq-dd__line
  .ocbc-faq-dd__btm
    p.ocbc-faq-dd__more
      | Tidak menemukan apa yang Anda Cari?
    ='\n'
    a.ocbc-btn.ocbc-btn--secondary.ocbc-faq-dd__more(href="#")
      | Lihat FAQ
    |!{''}
    |
