//-------------------------------------------------------------------------------
  @name: Components - FAQ Accordion
  @description: Components - FAQ Accordion
  -------------------------------------------------------------------------------//

//ocbc-faq-ac
.ocbc-faq-ac
  block head
  .ocbc-faq-ac__head.js-faq-acc
    ='\n'
    span.ocbc-faq-ac__icon
    |
    | !{title}
    |
  .ocbc-faq-ac__body
    .ocbc-faq-ac__content
      block content
