//-------------------------------------------------------------------------------
  @name: Components - Field Recaptcha
  @description: Components - Field Recaptcha
  -------------------------------------------------------------------------------//

//ocbc-field
.ocbc-field.ocbc-field--recaptcha.js-recaptcha-validation(data-validation='required')
  .ocbc-field__input.ocbc-field__input--recaptcha
    script(type='text/javascript').
      function recaptchaCallback() {
        $('.js-form .js-recaptcha-validation .g-recaptcha > div > div').trigger('click');
      }
      function recaptchaExpired() {
        $('.js-form .js-recaptcha-validation .g-recaptcha > div > div').trigger('click');
      }
    .g-recaptcha(data-sitekey='6Ld4WOoUAAAAAEYZzbIAr0-B_xDsSdiq88Om3Rxy', data-callback='recaptchaCallback', data-expired-callback='recaptchaExpired')
  p.ocbc-field__error(data-required='Captcha wajib diisi')
