//-------------------------------------------------------------------------------
  @name: Components - Field Phone
  @description: Components - Field Phone
  -------------------------------------------------------------------------------//

//ocbc-field
.ocbc-field.js-input-validation(data-validation='required, phone-number')
  p.ocbc-field__label
    | Nomor Telepon
  .ocbc-field__input
    ='\n'
    input.ocbc-input.ocbc-input--minimalize(type='text', name='phone_number', placeholder='Masukkan nomor telepon yang aktif')/
    |!{''}
    |
  p.ocbc-field__error(data-required='Nomor telepon wajib diisi', data-invalid='Nomor telepon tidak valid')
