//-------------------------------------------------------------------------------
  @name: Components - Field Terms
  @description: Components - Field Terms
  -------------------------------------------------------------------------------//

//ocbc-field
.ocbc-field.ocbc-field--aggreement.js-aggreement-validation(data-validation='required')
  .ocbc-field__input.ocbc-field__input--checkbox
    ='\n'
    input.ocbc-input.ocbc-input--checkbox(type='checkbox', name='aggreement', value='1')/
    ='\n'
    label.ocbc-field__input--checkbox__label
      | Dengan ini Saya menyatakan setuju untuk memerikan informasi di atas kepada Bank OCBC NISP
    |!{''}
    |
  p.ocbc-field__error(data-required='Setujui Syarat & Ketentuan untuk melanjutkan')
