//-------------------------------------------------------------------------------
  @name: Components - Field Name
  @description: Components - Field Name
  -------------------------------------------------------------------------------//

//ocbc-field
.ocbc-field.js-input-validation(data-validation='required, name')
  p.ocbc-field__label
    | Nama
  .ocbc-field__input
    ='\n'
    input.ocbc-input.ocbc-input--minimalize(type='text', name='name', placeholder='Masukkan nama lengkap sesuai KTP')/
    |!{''}
    |
  p.ocbc-field__error(data-required='Nama wajib diisi', data-invalid='Nama hanya bisa diisi dengan alfabet')
