//-------------------------------------------------------------------------------
  @name: Components - Field Email
  @description: Components - Field Email
  -------------------------------------------------------------------------------//

//ocbc-field
.ocbc-field.js-input-validation(data-validation='required, email')
  p.ocbc-field__label
    | e-mail
  .ocbc-field__input
    ='\n'
    input.ocbc-input.ocbc-input--minimalize(type='text', name='email', placeholder='Masukkan alamat e-mail, contoh: andi@mail.com')/
    |!{''}
    |
  p.ocbc-field__error(data-required='Alamat e-mail wajib diisi', data-invalid='Wajib diisi sesuai format berlaku')
