//-------------------------------------------------------------------------------
  @name: Components - Field Message
  @description: Components - Field Message
  -------------------------------------------------------------------------------//

//ocbc-field
.ocbc-field.js-input-validation(data-validation='required')
  p.ocbc-field__label
    | Masukkan pesan yang ingin disampaikan
  .ocbc-field__input.ocbc-field__input--textarea
    ='\n'
    textarea.ocbc-input.ocbc-input--textarea-box(name='message')
    |!{''}
    |
  p.ocbc-field__error(data-required='Kotak Pesan wajib diisi')
