//-------------------------------------------------------------------------------
  @name: Components - Field City
  @description: Components - Field City
  -------------------------------------------------------------------------------//

-
  data = [
    {
      val: 1,
      text: 'Jakarta'
    },
    {
      val: 2,
      text: 'Bandung'
    },
    {
      val: 3,
      text: 'Surabaya'
    },
    {
      val: 4,
      text: 'Denpasar'
    },
    {
      val: 5,
      text: 'Medan'
    },
    {
      val: 6,
      text: 'Makassar'
    },
    {
      val: 7,
      text: 'Palembang'
    },
    {
      val: 8,
      text: 'Semarang'
    },
    {
      val: 9,
      text: 'Balikpapan'
    },
    {
      val: 10,
      text: 'Padang'
    }
  ];
//ocbc-field
.ocbc-field.js-select-validation(data-validation='required')
  p.ocbc-field__label
    | Kota
  .ocbc-field__select-search
    .ocbc-select-search
      ='\n'
      select.ocbc-select-search__element.js-select-city(name='city', placeholder='Pilih Kota')
        option(value='')
          | Pilih Kota
        each value in data
          option(value=value.val)
            | !{value.text}
      |!{''}
      |
  p.ocbc-field__error(data-required='Pilih kota')
