//-------------------------------------------------------------------------------
  @name: Components - Search Filter
  @subheadlineription: Components - Search Filter
  -------------------------------------------------------------------------------//

each value in data
  //ocbc-filter__item
  .ocbc-filter__item(data-filter=value.filter)
    -
      className = (value.accordion ? 'ocbc-filter__head--accordion js-filter-accordion': '');
    .ocbc-filter__head(class=className)
      h4.ocbc-filter__title
        | !{value.title}
    .ocbc-filter__body
      .ocbc-filter__element
        if value.element == 'checkbox'
          each val in value.items
            //ocbc-filter-checkbox
            .ocbc-filter-checkbox(class=(val.image ? 'ocbc-filter-checkbox--icon' : ''))
              if val.image
                .ocbc-filter-checkbox__icon-wrapper
                  ='\n'
                  img.ocbc-filter-checkbox__icon(src='img/icon/'+val.image, alt=val.text)/
                  |!{''}
                  |
              if val.checked
                if val.name == 'all'
                  ='\n'
                  input.ocbc-filter-checkbox__input.js-filter-checkbox(type='checkbox', name=val.name, value='1', data-checkbox='all', checked='checked')/
                  |!{''}
                  |
                else
                  ='\n'
                  input.ocbc-filter-checkbox__input.js-filter-checkbox(type='checkbox', name=val.name, value='1', checked='checked')/
                  |!{''}
                  |
              else
                if val.name == 'all'
                  ='\n'
                  input.ocbc-filter-checkbox__input.js-filter-checkbox(type='checkbox', name=val.name, value='1', data-checkbox='all')/
                  |!{''}
                  |
                else
                  ='\n'
                  input.ocbc-filter-checkbox__input.js-filter-checkbox(type='checkbox', name=val.name, value='1')/
                  |!{''}
                  |
              label.ocbc-filter-checkbox__label
                | !{val.text}!{(val.total ? ' ('+val.total+')':'')}
              |!{''}
              |
