//-------------------------------------------------------------------------------
  @name: Components - Filter Card
  @description: Components - Filter Card
  -------------------------------------------------------------------------------//

.ocbc-select-wrapper.js-select(data-width='full', class=(selectClass))
  ='\n'
  select.ocbc-select__element(name='faq_answer', data-label=data[0].text)
    each val, index in data
      if (index === 0)
        option(value=val.val, selected='selected')
          | !{val.text}
      else
        option(value=val.val)
          | !{val.text}
  |!{''}
  |
