//-------------------------------------------------------------------------------
  @name: Components - Footer Nav
  @description: Components - Footer Nav
  -------------------------------------------------------------------------------//

//ocbc-nav--footer
ul.ocbc-nav.ocbc-nav--footer
  each val in data
    li.ocbc-nav__item
      ='\n'
      a.ocbc-lnk(href=val.to)
        | !{val.text}
      |!{''}
      |
