//-------------------------------------------------------------------------------
  @name: Components - Footer Phone
  @description: Components - Footer Phone
  -------------------------------------------------------------------------------//

//ocbc-footer-phone
ul.ocbc-footer-phone
  li.ocbc-footer-phone__item
    ='\n'
    a.ocbc-lnk(href='tel:+62211500999', target='_blank')
      ='\n'
      i.ocbc-fi.ocbc-fi-call
      | 1500-999 (PTSN)
      |!{''}
    |!{''}
    |
  li.ocbc-footer-phone__item
    ='\n'
    a.ocbc-lnk(href='tel:+622126506300', target='_blank')
      ='\n'
      i.ocbc-fi.ocbc-fi-call
      | +62-21-26506300 (IDD)
      |!{''}
    |!{''}
    |
