//-------------------------------------------------------------------------------
  @name: Components - Card Product Service
  @description: Components - Card Product Service
  -------------------------------------------------------------------------------//

//ocbc-form-section
.ocbc-form-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-form-section__content
          .ocbc-form-section__txt
            h2.ocbc-form-section__title
              | !{data.title}
            p.ocbc-form-section__desc
              | !{data.description}
          .ocbc-form-section__field
            form.ocbc-form.js-form-section(method='get', action='halaman-sukses-premier.html')
              //ocbc-field
              .ocbc-field.ocbc-field--white.js-input-validation(data-validation='required, name')
                p.ocbc-field__label
                  | Nama
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize(type='text', name='name')/
                  |!{''}
                  |
                p.ocbc-field__error(data-required='Nama wajib diisi', data-invalid='Nama hanya bisa diisi dengan alfabet')

              //ocbc-field
              .ocbc-field.ocbc-field--white.js-input-validation(data-validation='required, email')
                p.ocbc-field__label
                  | e-mail
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize(type='text', name='email')/
                  |!{''}
                  |
                p.ocbc-field__error(data-required='Alamat e-mail wajib diisi', data-invalid='Wajib diisi sesuai format berlaku')

              //ocbc-field
              .ocbc-field.ocbc-field--white.js-input-validation(data-validation='required, phone-number')
                p.ocbc-field__label
                  | No HP
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize(type='text', name='phone_number')/
                  |!{''}
                  |
                p.ocbc-field__error(data-required='Nomor HP wajib diisi', data-invalid='Nomor HP tidak valid')

              //ocbc-field
              .ocbc-field.ocbc-field--recaptcha.js-recaptcha-validation(data-validation='required')
                .ocbc-field__input.ocbc-field__input--recaptcha
                  script(type='text/javascript').
                    function recaptchaCallback() {
                      $('.js-form-section .js-recaptcha-validation .g-recaptcha > div > div').trigger('click');
                    }
                    function recaptchaExpired() {
                      $('.js-form-section .js-recaptcha-validation .g-recaptcha > div > div').trigger('click');
                    }
                  .g-recaptcha(data-sitekey='6Ld4WOoUAAAAAEYZzbIAr0-B_xDsSdiq88Om3Rxy', data-callback='recaptchaCallback', data-expired-callback='recaptchaExpired')
                p.ocbc-field__error(data-required='Captcha wajib diisi')

              //ocbc-form-section__btn
              .ocbc-form-section__btn
                ='\n'
                input.ocbc-btn.ocbc-btn--primary.js-form-section-submit(type='submit', value='Kirim', disabled='disabled')/
                |!{''}
                |

  ='\n\n'
  //ocbc-form-preloader
  .ocbc-form-preloader.ocbc-form-preloader--inline
    //ocbc-preloader
    .ocbc-preloader
      ='\n'
      svg.ocbc-preloader__spinner(width='44', height='44', version='1.1', xmlns='http://www.w3.org/2000/svg')
        ='\n'
        circle(cx='22', cy='22', r='20')
        |!{''}
        |
      |!{''}
      |
  ='\n\n'
