//-------------------------------------------------------------------------------
  @name: Components - Graph Bar Section
  @description: Components - Graph Bar Section
  -------------------------------------------------------------------------------//

//ocbc-graph-bar-section
.ocbc-graph-bar-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-graph-bar-section__content
          .ocbc-graph-bar-section__head
            h3.ocbc-graph-bar-section__title
              | !{data.title}
            h4.ocbc-graph-bar-section__subtitle
              | !{data.subTitle}
          .ocbc-graph-bar-section__graph
            .ocbc-graph-bar-section__chart
              ='\n'
              img.ocbc-graph-bar-section__chart__img(src='img/dummy/fragment/rachel/'+data.graph.chart.image, alt=data.graph.chart.text)/
              |!{''}
              |
            .ocbc-graph-bar-section__legend
              ='\n'
              img.ocbc-graph-bar-section__legend__img(src='img/dummy/fragment/rachel/'+data.graph.legend.image, alt=data.graph.legend.text)/
              |!{''}
              |
          .ocbc-graph-bar-section__body
            p.ocbc-graph-bar-section__p
              | !{data.body.paragraph}
            ul.ocbc-graph-bar-section__list
              each val in data.body.list
                li.ocbc-graph-bar-section__list__item
                  | !{val}
