//-------------------------------------------------------------------------------
  @name: Components - How To Fragment
  @description: Components - How To Fragment
  -------------------------------------------------------------------------------//

//ocbc-how-to-fr
.ocbc-how-to-fr__item
  .ocbc-how-to-fr__img-wrapper
    ='\n'
    img.ocbc-how-to-fr__img(src='img/dummy/how-to/'+data.img alt=data.title)/
    |!{''}
    |
  .ocbc-how-to-fr__content-wrapper.ocbc-col-xl-8.ocbc-col-md-12
    h4.ocbc-how-to-fr__label
      | !{data.label}
    h2.ocbc-how-to-fr__title
      | !{data.title}
    p.ocbc-how-to-fr__desc
      | !{data.description}
