//-------------------------------------------------------------------------------
  @name: Components - Icon Text
  @description: Components - Icon Text
  -------------------------------------------------------------------------------//

.ocbc-icon-text(class=(data.class ? 'ocbc-icon-text--'+data.class : ''))
  ='\n'
  if data.list
    button.ocbc-icon-text__btn(class=data.classButton, type='button')
      ='\n'
      span.ocbc-icon-text__icon-wrapper
        ='\n'
        img.ocbc-icon-text__icon(src='img/icon/'+val.icon, alt=val.text)/
        |!{''}
        |
      |
      | !{val.label}
      |
    |!{''}
    |
    .ocbc-icon-text__share
      .ocbc-icon-text__share__box
        ='\n'
        button.ocbc-icon-text__close.js-calc-result-share-close(type='button')
          ='\n'
          i.ocbc-fi.ocbc-fi-exit
          |!{''}
          |
        |!{''}
        |
        ul.ocbc-icon-text__share__list.js-calc-result-share-list
          each val in data.list
            li.ocbc-icon-text__share__item
              ='\n'
              if val.text == 'Whatsapp'
                a.ocbc-lnk(href=val.to, target=val.target, data-action=val.action)
                  ='\n'
                  span.ocbc-icon-text__icon-wrapper
                    ='\n'
                    img.ocbc-icon-text__icon(src='img/icon/'+val.icon, alt=val.text)/
                    |!{''}
                    |
                  |
                  | !{val.text}
                  |
              else
                a.ocbc-lnk(href=val.to, target=val.target)
                  ='\n'
                  span.ocbc-icon-text__icon-wrapper
                    ='\n'
                    img.ocbc-icon-text__icon(src='img/icon/'+val.icon, alt=val.text)/
                    |!{''}
                    |
                  |
                  | !{val.text}
                  |
              |!{''}
              |
  else
    button.ocbc-icon-text__btn(class=data.classButton, type='button', data-to=data.to)
      ='\n'
      span.ocbc-icon-text__icon-wrapper
        ='\n'
        img.ocbc-icon-text__icon(src='img/icon/'+val.icon, alt=val.text)/
        |!{''}
        |
      |
      | !{val.label}
      |
    |!{''}
    |
