//-------------------------------------------------------------------------------
  @name: Components - Image Circle
  @description: Components - Image Circle
  -------------------------------------------------------------------------------//
-
  className = (data.color ? 'ocbc-image-circle--'+data.color : '');
  className = (data.large ? className + ' ocbc-image-circle--large' : className);
  className = (data.small ? className + ' ocbc-image-circle--small' : className);

//ocbc-image-circle
.ocbc-image-circle(class=className)
  .ocbc-image-circle__img-wrapper
    ='\n'
    img.ocbc-image-circle__img(src='img/dummy/fragment/image-circle/'+data.img, alt=data.img)/
    |!{''}
    |
