//-------------------------------------------------------------------------------
  @name: Components - Input Range Slider
  @description: Components - Input Range Slider
  -------------------------------------------------------------------------------//


//ocbc-input-range-slider
.ocbc-input-range-slider
  .ocbc-input-range-slider__top
    p.ocbc-input-range-slider__label
      ='\n'
      span.ocbc-input-range-slider__label__txt
        |!{data.label}
      |!{''}
      |
    if data.description
      p.ocbc-input-range-slider__desc
        |!{data.description}
  .ocbc-input-range-slider__input
    ='\n'
    input(type='text', name=data.name, range-type=data.rangeType, data-from=data.from, data-min=data.min, data-max=data.max, data-postfix=data.postfix, data-prefix=data.prefix, class=(data.class ? data.class : 'js-range-slider'))
    |!{''}
    |
