//-------------------------------------------------------------------------------
  @name: Components - Internet Banking How To
  @description: Components - Internet Banking How To
  -------------------------------------------------------------------------------//

//cek saldo
//ocbc-how-to__item
.ocbc-how-to__item(data-category="cek-saldo")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Registrasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Registrasi
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="cek-saldo")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Login')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Login
        p.ocbc-how-to__desc
          | Setelah mendapatkan User ID dan password, lakukan login di <a href='https://online.ocbcnisp.com/' class='ocbc-lnk'>https://online.ocbcnisp.com/</a>
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 3
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="cek-saldo")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Pilih Informasi Rekening')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 3
        h2.ocbc-how-to__title
          | Pilih Informasi Rekening
        p.ocbc-how-to__desc
          | Setelah login, pilih menu informasi rekening untuk mengecek saldo Anda.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end cek saldo

= '\n\n'
//top-up e-wallet
//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Top Up e-Wallet')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Top Up e-Wallet
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 3
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Pilih e-Wallet')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 3
        h2.ocbc-how-to__title
          | Pilih e-Wallet
        p.ocbc-how-to__desc
          | Pilih e-Wallet yang diinginkan dan masukkan nomor handphone yang terdaftar.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 4
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Isi Nominal Saldo')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 4
        h2.ocbc-how-to__title
          | Isi Nominal Saldo
        p.ocbc-how-to__desc
          | Masukkan nominal saldo dan periksa kembali detil Top Up sebelum klik Lanjut.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 5
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Klik Konfirmasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 5
        h2.ocbc-how-to__title
          | Klik Konfirmasi
        p.ocbc-how-to__desc
          | Klik konfirmasi dan proses Top Up telah selesai.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end top-up e-wallet

= '\n\n'
//bayar-tokopedia
//ocbc-how-to__item
.ocbc-how-to__item(data-category="bayar-tokopedia")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Bayar via Tokopedia')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Bayar via Tokopedia
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="bayar-tokopedia")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end bayar-tokopedia

= '\n\n'
//transfer-sosmed
//ocbc-how-to__item
.ocbc-how-to__item(data-category="transfer-sosmed")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Transfer Sosmed')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Transfer Sosmed
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="transfer-sosmed")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end transfer-sosmed

= '\n\n'
//atur-limit
//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-limit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Atur Limit')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Atur Limit
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-limit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end atur-limit

= '\n\n'
//multitransfer
//ocbc-how-to__item
.ocbc-how-to__item(data-category="multitransfer")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Multitransfer')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Multitransfer
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="multitransfer")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end multitransfer

= '\n\n'
//ajukan-pinjaman
//ocbc-how-to__item
.ocbc-how-to__item(data-category="ajukan-pinjaman")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Ajukan Pinjaman')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Ajukan Pinjaman
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="ajukan-pinjaman")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end ajukan-pinjaman

= '\n\n'
//atur-keamanan
//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-keamanan")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-1.jpg', alt='Mudahnya atur Keamanan')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Mudahnya atur Keamanan
        p.ocbc-how-to__desc
          | Lakukan registrasi Internet Banking melalui ATM. Nanti Anda akan menerima User ID dan password untuk login.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-keamanan")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/internet-banking-how-to/screen-step-2.jpg', alt='Menu Pembayaran')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end atur-keamanan

