//-------------------------------------------------------------------------------
  @name: Components - Investment Pie Chart
  @description: Components - Investment Pie Chart
  -------------------------------------------------------------------------------//

//ocbc-inv-pie-chart-container
.ocbc-inv-pie-chart-container
  .ocbc-inv-pie-chart
    ='\n'
    img.ocbc-inv-pie-chart__img.ocbc-inv-pie-chart__img--d(src='img/dummy/fragment/kepemilikan-saham/pie-chart-struktur-pemegang-saham-d.svg', alt='Struktur Pemegang Saham')/
    ='\n'
    img.ocbc-inv-pie-chart__img.ocbc-inv-pie-chart__img--m(src='img/dummy/fragment/kepemilikan-saham/pie-chart-struktur-pemegang-saham-m.svg', alt='Struktur Pemegang Saham')/
    | !{''}
    |
