//-------------------------------------------------------------------------------
  @name: Components - Jasa Nasabah How To
  @description: Components - Jasa Nasabah How To
  -------------------------------------------------------------------------------//

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/jadi-nasabah-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 1
        h2.ocbc-rachel-how-to__title
          | Masuk ke ONe Store
        p.ocbc-rachel-how-to__desc
          | Setelah masuk ONe Store, klik “Ajukan Buka Tabungan” untuk jadi nasabah dan proses pengisian data selanjutnya. Jika sudah mendaftar tapi belum melakukan proses verifikasi via video silakan klik “Mulai Verifikasi”
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/jadi-nasabah-how-to/screen-step-2.jpg', alt='Cari tau risk profile kamu')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 2
        h2.ocbc-rachel-how-to__title
          | Isi Informasi yang diperlukan
        p.ocbc-rachel-how-to__desc
          | Setelah masuk ONe Store, klik “Ajukan Buka Tabungan” untuk jadi nasabah dan proses pengisian data selanjutnya. Jika sudah mendaftar tapi belum melakukan proses verifikasi via video silakan klik “Mulai Verifikasi”
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Langkah 3
          |!{''}
          |

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/jadi-nasabah-how-to/screen-step-3.jpg', alt='Pilih instrumen investasi yang cocok buat kamu')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 3
        h2.ocbc-rachel-how-to__title
          | Validasi data anda
        p.ocbc-rachel-how-to__desc
          | Setelah masuk ONe Store, klik “Ajukan Buka Tabungan” untuk jadi nasabah dan proses pengisian data selanjutnya. Jika sudah mendaftar tapi belum melakukan proses verifikasi via video silakan klik “Mulai Verifikasi”
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Kembali ke Langkah 1
          |!{''}
          |
