//-------------------------------------------------------------------------------
  @name: Components - Journey Section
  @description: Components - Journey Section
  -------------------------------------------------------------------------------//

//ocbc-journey-section
.ocbc-journey-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-journey-section__content
          .ocbc-journey-section__img-wrapper
            .ocbc-journey-section__img-box
              ='\n'
              img.ocbc-journey-section__img(src='img/dummy/fragment/wealth-management/'+data.image, alt=data.title)/
              |!{''}
              |
          .ocbc-journey-section__txt
            h4.ocbc-journey-section__title
              | !{data.title}
            p.ocbc-journey-section__desc
              | !{data.description}
            .ocbc-journey-section__card-journey
              - data = data.cards;
              include ../components/card-needs.pug
