//-------------------------------------------------------------------------------
  @name: Components - Comparison
  @subtitleription: Components - Comparison
  -------------------------------------------------------------------------------//

.ocbc-col-xl-3.ocbc-col-md-4.ocbc-col-sm-6.ocbc-label-comparison__item
  .ocbc-label-comparison__btn-trigger
    img.ocbc-label-comparison__btn-ico(src="img/icon/"+data.icon alt=data.text)/
  | !{data.text}
  
