//-------------------------------------------------------------------------------
  @name: Components - Location Search Form Section
  @description: Components - Location Search Form Section
  -------------------------------------------------------------------------------//

//ocbc-location-search-section
.ocbc-location-search-section.ocbc-location-search-section--inline
  .ocbc-location-search-section__form-wrapper
    // data-api-suggestion: digunakan untuk list pencarian lokasi terpopuler
    // data-api-list: digunakan untuk list pencarian lokasi terkait
    //ocbc-location-search-section__form
    form.ocbc-location-search-section__form(action='hubungi-kami-lokasi-kami.html', autocomplete='off', data-api-suggestion=dataAPI+'location-suggestion-list.json', data-api-list=dataAPI+'location-search-list.json')
      ='\n'
      input.ocbc-input.ocbc-input--minimalize.js-location-search-input(type='text', placeholder='Cari Lokasi', name='keyword')/
      ='\n'
      button.ocbc-btn-icon.ocbc-location-search-section__submit(type='submit')
        ='\n'
        i.ocbc-fi.ocbc-fi-search
        |!{''}
        |
      |!{''}
      |
  ='\n\n'
  //ocbc-location-search-section__quick-links
  .ocbc-location-search-section__quick-links
    // secara default display: none, nanti di trigger ketika data tidak ada, block class tag ocbc-location-search-section__no-result di show dengan fungsi jQuery $('.ocbc-location-search-section__no-result').show(timing) atau $('.ocbc-location-search-section__no-result').fadeIn(timing) atau fungsi show lainnya
    //ocbc-location-search-section__no-result
    .ocbc-location-search-section__no-result
      .ocbc-location-search-section__no-result__icon-wrapper
        ='\n'
        img.ocbc-location-search-section__no-result__icon(src='img/icon/no-result.svg', alt='No Result')/
        |!{''}
        |
      p.ocbc-location-search-section__no-result__txt
        | Halaman yang Anda Cari Tidak Tersedia
    ='\n\n'
    //ocbc-location-search-section__quick-links__wrapper
    .ocbc-location-search-section__quick-links__wrapper
      // data-text-match: digunakan untuk text lokasi terkait, ini di trigger dari JS
      // data-text-shortcut: digunakan untuk text lokasi terpopuler, ini di trigger dari JS
      p.ocbc-location-search-section__title(data-text-match='Lokasi Terkait', data-text-shortcut='Lokasi Terpopuler')
        | Lokasi Terpopuler
      -
        data = [
          'Jakarta - Bendungan Hilir 1',
          'Jakarta - Central Park',
          'Jakarta - Citra Garden Sektor 1',
          'Jakarta - Green Garden',
          'Jakarta - Jelambar'
        ];
      ='\n'
      // ini hanya dummy tag saja, sebenarnya listnya akan di gantikan oleh data json yang di panggil di JS
      .ocbc-location-search-section__list-container.js-location-search-list
        ul.ocbc-location-search-section__list
          each val in data
            li.ocbc-location-search-section__item
              ='\n'
              a.ocbc-lnk(href='#')
                | !{val}
              |!{''}
              |
  ='\n\n'
