//-------------------------------------------------------------------------------
  @name: Components - Main Banner
  @description: Components - Main Banner
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-main-banner__item
  -
    className = (val.light ? 'ocbc-main-banner__item--light' : '');
    className = (val.middle ? className + ' ocbc-main-banner__item--middle' : className );
    className = (val.isRachel ? className + ' ocbc-main-banner__item--rachel' : className );
  .ocbc-main-banner__item(class=className)
    .ocbc-main-banner__img-wrapper
      .ocbc-main-banner__img-bg.ocbc-main-banner__img-bg--d(style='background-image: url(img/dummy/banner/main/'+val.image.desktop+')')
      .ocbc-main-banner__img-bg.ocbc-main-banner__img-bg--m(style='background-image: url(img/dummy/banner/main/'+val.image.mobile+')')
    .ocbc-main-banner__txt-wrapper
      .ocbc-main-banner__middle-align
        .ocbc-container
          .ocbc-row
            .ocbc-col-xl-12
              .ocbc-main-banner__txt
                h2.ocbc-main-banner__title
                  | !{val.title}
                h4.ocbc-main-banner__desc
                  | !{val.description}
                if val.button
                  .ocbc-main-banner__btn
                    ='\n'
                    a.ocbc-btn(href=val.button.to, target=val.button.target, class=(val.button.secondaryWhite ? 'ocbc-btn--secondary-white trigger_chat_button' : 'ocbc-btn--primary'))
                      | !{val.button.text}
                    |!{''}
                    |
                if val.secondaryButton
                  .ocbc-main-banner__btn
                    ='\n'
                    a.ocbc-btn(href=val.secondaryButton.to, target=val.secondaryButton.target, class=(val.light ? 'ocbc-btn--secondary-white' : 'ocbc-btn--secondary'))
                      | !{val.secondaryButton.text}
                    |!{''}
                    |
