//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Button Widget
  @description: Components - Mega Menu Button Widget
  -------------------------------------------------------------------------------//

//ocbc-mega-menu__widget-btn__list
ul.ocbc-mega-menu__widget-btn__list
  each val in data
    li.ocbc-mega-menu__widget-btn__item
      ='\n'
      a(href=val.to).ocbc-btn-widget
        ='\n'
        span.ocbc-btn-widget__icon-wrapper
          ='\n'
          img.ocbc-btn-widget__icon(src='img/icon/'+val.icon.src, alt=val.icon.title)/
          |!{''}
          |
        ='\n'
        | !{val.text}
        |
      |!{''}
      |
