//-------------------------------------------------------------------------------
  @name: Components - Mega Menu List
  @description: Components - Mega Menu List
  -------------------------------------------------------------------------------//

//ocbc-mega-menu__list
ul.ocbc-mega-menu__list
  each val in megaMenuList
    -
      className = (val.mobile ? 'ocbc-mega-menu__item--m' : '')
    if val.mobile
      //ocbc-mega-menu__item--m (show on mobile only)
    li.ocbc-mega-menu__item(class=className)
      ='\n'
      a.ocbc-lnk(href=val.to)
        | !{val.text}
      |!{''}
      |
