//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Link Card
  @description: Components - Mega Menu Link Card
  -------------------------------------------------------------------------------//

each val in data
  -
    className = (val.desktopOnly ? 'ocbc-mega-menu__img-item--lnk-card--d': '');
  if val.desktopOnly
    //ocbc-mega-menu__img-item--lnk-card--d (show on desktop only)
  .ocbc-mega-menu__img-item.ocbc-mega-menu__img-item--lnk-card(class=className)
    ='\n'
    a.ocbc-lnk(href=val.to)
      | !{val.title}
    .ocbc-mega-menu__img-wrapper
      ='\n'
      img.ocbc-mega-menu__img(src='img/dummy/mega-menu/'+val.image, alt=val.title)/
      |!{''}
      |
