//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Image Link
  @description: Components - Mega Menu Image Link
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-mega-menu__img-item ocbc-mega-menu__img-item--lnk
  .ocbc-mega-menu__img-item.ocbc-mega-menu__img-item--lnk
    ='\n'
    a.ocbc-lnk(href=val.to)
      | !{val.title}
    -
      className = (val.square ? 'ocbc-mega-menu__img-wrapper--square' : '')
    .ocbc-mega-menu__img-wrapper(class=className)
      ='\n'
      img.ocbc-mega-menu__img(src='img/dummy/mega-menu/'+val.image, alt=val.title)/
      |!{''}
      |
