//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Title
  @description: Components - Mega Menu Title
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-mega-menu__title (show on mobile only)
  p.ocbc-mega-menu__title
      ='\n'
      a.ocbc-lnk(href=val.to)
        | !{val.title}
      |!{''}
      |
