//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Home Link
  @description: Components - Mega Menu Home Link
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-header__mega-menu__home-lnk (show on mobile only)
  p.ocbc-header__mega-menu__home-lnk
    ='\n'
    a.ocbc-lnk(href=val.to)
      | !{val.title}
    |!{''}
    |
