//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Image Link
  @description: Components - Mega Menu Image Link
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-mega-menu__img-item
  .ocbc-mega-menu__img-item
    .ocbc-mega-menu__img-wrapper
      ='\n'
      img.ocbc-mega-menu__img(src='img/dummy/mega-menu/'+val.image, alt=val.title)/
      |!{''}
      |
