//-------------------------------------------------------------------------------
  @name: Components - Mission Section
  @description: Components - Mission Section
  -------------------------------------------------------------------------------//

- mission = data;

//ocbc-mission-section
.ocbc-mission-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-mission-section__content
          .ocbc-mission-section__image
            - data = mission.image
            include image-circle.pug
          .ocbc-mission-section__txt
            each val in mission.text
              .ocbc-mission-section__item
                h4.ocbc-mission-section__title
                  | !{val.title}
                p.ocbc-mission-section__desc
                  | !{val.description}

