//-------------------------------------------------------------------------------
  @name: Components - Networks
  @description: Components - Networks
  -------------------------------------------------------------------------------//

//ocbc-networks
.ocbc-networks
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          h3.ocbc-networks__title
            | !{data.title}
          .ocbc-networks__scrollover
            .ocbc-networks__content
              .ocbc-networks__companies
                each val in data.companies
                  .ocbc-networks__companies__item
                    ='\n'
                    img.ocbc-networks__logo(src='img/dummy/fragment/networks/'+val.logo, alt=val.name)/
                    |!{''}
                    |
              .ocbc-networks__map-wrapper
                ='\n'
                img.ocbc-networks__map(src='img/dummy/fragment/networks/map.png', alt='World Map')/
                |!{''}
                |
