//-------------------------------------------------------------------------------
  @name: Components - No Result
  @description: Components - No Result
  -------------------------------------------------------------------------------//

='\n'
// secara default display: none, nanti di trigger ketika data tidak ada, block class tag ocbc-no-result di show dengan fungsi jQuery $('.ocbc-no-result').show(timing) atau $('.ocbc-no-result').fadeIn(timing) atau fungsi show lainnya
//ocbc-no-result
.ocbc-no-result
  .ocbc-no-result__img-wrapper
    ='\n'
    img.ocbc-no-result__img(src="img/icon/"+data.icon, alt=data.txt)/
    |!{''}
    |
  p.ocbc-no-result__desc
    | !{data.text}
