//-------------------------------------------------------------------------------
  @name: Components - One Mobile
  @description: Components - One Mobile
  -------------------------------------------------------------------------------//

//ocbc-nyala-htb
.ocbc-nyala-htb
  if data.image
    .ocbc-nyala-htb__img-wrapper
      .ocbc-nyala-htb__img-bg.ocbc-nyala-htb__img-bg--d(style='background-image: url(img/dummy/banner/how-to/'+data.image.desktop+')')
      .ocbc-nyala-htb__img-bg.ocbc-nyala-htb__img-bg--m(style='background-image: url(img/dummy/banner/how-to/'+data.image.mobile+')')
  .ocbc-nyala-htb__txt-wrapper
    .ocbc-nyala-htb__middle-align
      .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            .ocbc-nyala-htb__txt
              if data.title
                h3.ocbc-nyala-htb__title
                  | !{data.title}
              if data.description
                p.ocbc-nyala-htb__desc
                  | !{data.description}
                ='\n'
              .ocbc-nyala-htb__lnk-apps
                ='\n'
                a.ocbc-lnk(target='_blank', href=appsLink.googlePlay)
                  ='\n'
                  img.ocbc-nyala-htb__lnk-img(src='img/badge/google-play.png', alt='Google Play')/
                  |!{''}
                  |
                ='\n'
                a.ocbc-lnk(target='_blank', href=appsLink.appStore)
                  ='\n'
                  img.ocbc-nyala-htb__lnk-img(src='img/badge/app-store.png', alt='App Store')/
                  |!{''}
                  |
                |!{''}
                |
            if data.list
              .ocbc-nyala-htb__list-wrapper
                ul.ocbc-nyala-htb__list
                  each item, index in data.list
                    if index == 0
                      li.ocbc-nyala-htb__list__item
                        ='\n'
                        i.ocbc-fi.ocbc-fi-checklist
                        ='\n'
                        strong
                          | !{item}
                        |!{''}
                        |
                    else
                      li.ocbc-nyala-htb__list__item
                        ='\n'
                        i.ocbc-fi.ocbc-fi-checklist
                        |!{''}
                        | !{item}
                        |
