//-------------------------------------------------------------------------------
  @name: Components - Nyala Banner
  @subtitleription: Components - Nyala Banner
  -------------------------------------------------------------------------------//

//ocbc-nyala-banner
.ocbc-nyala-banner(class=(data.isRed ? 'ocbc-nyala-banner--red' : ''))
  .ocbc-nyala-banner__box
    .ocbc-nyala-banner__txt
      .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            .ocbc-nyala-banner__col
              ='\n'
              img.ocbc-nyala-banner__img(src='img/logo/nyala.svg', alt='Nyala')/
              |!{''}
              |
            .ocbc-nyala-banner__col
              h3.ocbc-nyala-banner__title
                | !{data.title}
              p.ocbc-nyala-banner__desc
                | !{data.description}
            .ocbc-nyala-banner__col
              ='\n'
              a.ocbc-btn.ocbc-btn--secondary-white.ocbc-btn--block(href=data.to)
                | !{data.button}
              |!{''}
              |
