//-------------------------------------------------------------------------------
  @name: Components - Product Detail Banner
  @subheadlineription: Components - Product Detail Banner
  -------------------------------------------------------------------------------//

.ocbc-one-mobile-banner
  //ocbc-one-mobile-banner__img-wrapper
  .ocbc-one-mobile-banner__img-wrapper
    .ocbc-one-mobile-banner__img-bg.ocbc-one-mobile-banner__img-bg--d(style='background-image: url(img/dummy/banner/one-mobile/banner-d.jpg)')
    .ocbc-one-mobile-banner__img-bg.ocbc-one-mobile-banner__img-bg--m(style='background-image: url(img/dummy/banner/one-mobile/banner-m.jpg)')
  //ocbc-one-mobile-banner__content-wrapper
  .ocbc-one-mobile-banner__content-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          //ocbc-one-mobile-banner__content
          .ocbc-one-mobile-banner__content
            //ocbc-one-mobile-banner__txt-wrapper
            .ocbc-one-mobile-banner__txt-wrapper
              .ocbc-one-mobile-banner__middle-align
                //ocbc-one-mobile-banner__txt
                .ocbc-one-mobile-banner__txt
                  h1.ocbc-one-mobile-banner__title
                    | Capai Tujuan Finansial dengan Satu Aplikasi
                  h4.ocbc-one-mobile-banner__desc
                    | Nikmati fitur terkini yang memudahkan kamu menabung sampai investasi hanya via smartphone
                  .ocbc-one-mobile-banner__btn
                    ='\n'
                    button.ocbc-btn.ocbc-btn--primary.js-scroll-to-feature(type='button')
                      | Lihat Fitur
                    |!{''}
                    |

                //ocbc-one-mobile-banner__apps-lnk
                .ocbc-one-mobile-banner__apps-lnk
                    p.ocbc-one-mobile-banner__apps-lnk__title
                      | Download ONe Mobile
                    .ocbc-one-mobile-banner__apps-lnk__list
                      .ocbc-one-mobile-banner__apps-lnk__item
                        ='\n'
                        a.ocbc-lnk(target='_blank', href=appsLink.googlePlay)
                          ='\n'
                          img.ocbc-one-mobile-banner__apps-lnk__img(src='img/badge/google-play.png', alt='Google Play')/
                          |!{''}
                          |
                        |!{''}
                        |
                      .ocbc-one-mobile-banner__apps-lnk__item
                        ='\n'
                        a.ocbc-lnk(target='_blank', href=appsLink.appStore)
                          ='\n'
                          img.ocbc-one-mobile-banner__apps-lnk__img(src='img/badge/app-store.png', alt='App Store')/
                          |!{''}
                          |
                        |!{''}
                        |

            //ocbc-one-mobile-banner__frame
            .ocbc-one-mobile-banner__frame
              .ocbc-one-mobile-banner__frame__item
                ='\n'
                img.ocbc-one-mobile-banner__frame__img(src='img/dummy/page/one-mobile/phone-2.png', alt='Phone Screen')/
                |!{''}
                |
              .ocbc-one-mobile-banner__frame__item
                ='\n'
                img.ocbc-one-mobile-banner__frame__img(src='img/dummy/page/one-mobile/phone-1.png', alt='Phone Screen')/
                |!{''}
                |
              .ocbc-one-mobile-banner__frame__item
                ='\n'
                img.ocbc-one-mobile-banner__frame__img(src='img/dummy/page/one-mobile/phone-3.png', alt='Phone Screen')/
                |!{''}
                |
