//-------------------------------------------------------------------------------
  @name: Components - One Mobile Rachel
  @subtitleription: Components - One Mobile Rachel
  -------------------------------------------------------------------------------//

.ocbc-one-mobile-rachel
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-one-mobile-rachel__content
          .ocbc-one-mobile-rachel__img-wrapper
            = "\n"
            img.ocbc-one-mobile-rachel__img(src='img/bg/ocbc-circle.svg', alt='OCBC Circle')/
            |!{''}
            |
          .ocbc-one-mobile-rachel__txt
            .ocbc-one-mobile-rachel__col
              h3.ocbc-one-mobile-rachel__title
                | !{data.title}
              p.ocbc-one-mobile-rachel__desc
                | !{data.description}
            .ocbc-one-mobile-rachel__col
              ='\n'
              a.ocbc-btn.ocbc-btn--secondary-white.ocbc-btn--block(href=data.button.to, class=data.button.className)
                | !{data.button.text}
              |!{''}
              |
