//-------------------------------------------------------------------------------
  @name: Components - One Mobile How To
  @description: Components - One Mobile How To
  -------------------------------------------------------------------------------//

//buka tabungan
//ocbc-how-to__item
.ocbc-how-to__item(data-category="buka-tabungan")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Buka Tabungan Online
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="buka-tabungan")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end buka tabungan

= '\n\n'
//top-up e-wallet
//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Top Up e-Wallet
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 3
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 3
        h2.ocbc-how-to__title
          | Pilih e-Wallet
        p.ocbc-how-to__desc
          | Pilih e-Wallet yang diinginkan dan masukkan nomor handphone yang terdaftar.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 4
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 4
        h2.ocbc-how-to__title
          | Isi Nominal Saldo
        p.ocbc-how-to__desc
          | Masukkan nominal saldo dan periksa kembali detil Top Up sebelum klik Lanjut.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 5
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="top-up-wallet")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 5
        h2.ocbc-how-to__title
          | Klik Konfirmasi
        p.ocbc-how-to__desc
          | Klik konfirmasi dan proses Top Up telah selesai.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end top-up e-wallet

= '\n\n'
//bayar-tokopedia
//ocbc-how-to__item
.ocbc-how-to__item(data-category="bayar-tokopedia")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Bayar via Tokopedia
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="bayar-tokopedia")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end bayar-tokopedia

= '\n\n'
//transfer-sosmed
//ocbc-how-to__item
.ocbc-how-to__item(data-category="transfer-sosmed")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Transfer Sosmed
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="transfer-sosmed")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end transfer-sosmed

= '\n\n'
//atur-limit
//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-limit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Atur Limit
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-limit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end atur-limit

= '\n\n'
//mulai-investasi
//ocbc-how-to__item
.ocbc-how-to__item(data-category="mulai-investasi")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Mulai Investasi
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="mulai-investasi")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end mulai-investasi

= '\n\n'
//pengajuan-kartu-kredit
//ocbc-how-to__item
.ocbc-how-to__item(data-category="pengajuan-kartu-kredit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Pengajuan Kartu Kredit
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="pengajuan-kartu-kredit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end pengajuan-kartu-kredit

= '\n\n'
//on-cash-loan
//ocbc-how-to__item
.ocbc-how-to__item(data-category="on-cash-loan")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | On Cash Loan (KTA)
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="on-cash-loan")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end on-cash-loan

= '\n\n'
//pengajuan-kpr-kpm
//ocbc-how-to__item
.ocbc-how-to__item(data-category="pengajuan-kpr-kpm")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Pengajuan KPR/KPM
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="pengajuan-kpr-kpm")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end pengajuan-kpr-kpm

= '\n\n'
//atur-limit-online-debit
//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-limit-online-debit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Atur Limit Online Debit
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="atur-limit-online-debit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end atur-limit-online-debit

= '\n\n'
//block-unblock-kartu-debit
//ocbc-how-to__item
.ocbc-how-to__item(data-category="block-unblock-kartu-debit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Block/Unblock Kartu Debit
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="block-unblock-kartu-debit")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end block-unblock-kartu-debit

= '\n\n'
//buka-rekening-investasi
//ocbc-how-to__item
.ocbc-how-to__item(data-category="buka-rekening-investasi")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Buka Rekening Investasi dengan Software Token
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="buka-rekening-investasi")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end buka-rekening-investasi

= '\n\n'
//buka-rekening-via-one-mobile
//ocbc-how-to__item
.ocbc-how-to__item(data-category="buka-rekening-via-one-mobile")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Buka Rekening via ONe Mobile
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="buka-rekening-via-one-mobile")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end buka-rekening-via-one-mobile

= '\n\n'
//jual-beli-valas
//ocbc-how-to__item
.ocbc-how-to__item(data-category="jual-beli-valas")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 1
        h2.ocbc-how-to__title
          | Jual Beli Valas
        p.ocbc-how-to__desc
          | Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-how-to__item
.ocbc-how-to__item(data-category="jual-beli-valas")
  .ocbc-how-to__screen-wrapper
    = "\n"
    img.ocbc-how-to__screen(src='img/dummy/fragment/one-mobile-how-to/screen-step-1.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-how-to__txt-align
    .ocbc-how-to__txt-middle
      .ocbc-how-to__txt
        h4.ocbc-how-to__label
          | Langkah 2
        h2.ocbc-how-to__title
          | Menu Pembayaran
        p.ocbc-how-to__desc
          | Pilih menu Pembayaran &amp; Pembelian kemudian klik rekening sumber dana dan klik Bayar ke biller baru.
        .ocbc-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-how-to-back
            | Kembali ke Langkah 1
          |!{''}
          |
//end jual-beli-valas
