//-------------------------------------------------------------------------------
  @name: Components - One Mobile
  @description: Components - One Mobile
  -------------------------------------------------------------------------------//

if data.type && data.type === "velocity"
  -
    modifierClass = 'ocbc-one-mobile--velocity';

//ocbc-one-mobile
.ocbc-one-mobile(class=modifierClass)
  if data.image
    .ocbc-one-mobile__img-wrapper
      .ocbc-one-mobile__img-bg.ocbc-one-mobile__img-bg--d(style='background-image: url(img/dummy/one-mobile/'+data.image.desktop+')')
      .ocbc-one-mobile__img-bg.ocbc-one-mobile__img-bg--m(style='background-image: url(img/dummy/one-mobile/'+data.image.mobile+')')
  .ocbc-one-mobile__txt-wrapper
    .ocbc-one-mobile__middle-align
      .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            .ocbc-one-mobile__txt
              if data.title
                h2.ocbc-one-mobile__title
                  | !{data.title}
              if data.description
                h4.ocbc-one-mobile__desc
                  | !{data.description}
                ='\n'
              if data.button
                a.ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--white(href=data.button.to)
                  | !{data.button.text}
              |!{''}
              |
              .ocbc-one-mobile__lnk-apps
                ='\n'
                a.ocbc-lnk(target='_blank', href=appsLink.googlePlay)
                  ='\n'
                  img.ocbc-one-mobile__lnk-img(src='img/badge/google-play.png', alt='Google Play')/
                  |!{''}
                  |
                ='\n'
                a.ocbc-lnk(target='_blank', href=appsLink.appStore)
                  ='\n'
                  img.ocbc-one-mobile__lnk-img(src='img/badge/app-store.png', alt='App Store')/
                  |!{''}
                  |
                |!{''}
                |
