//-------------------------------------------------------------------------------
  @name: Components - Pagination
  @description: Components - Pagination
  -------------------------------------------------------------------------------//

//ocbc-pagination-container
- 
  className = (data.modifier ? 'ocbc-pagination--'+data.modifier : '')
.ocbc-pagination-container(class=className)
  .ocbc-pagination
    //ocbc-pagination__item--prev
    .ocbc-pagination__item.ocbc-pagination__item--disabled.ocbc-pagination__item--prev
      ='\n'
      //- a.ocbc-lnk(href=data.prevTo)
      button.ocbc-lnk
        ='\n'
        i.ocbc-fi.ocbc-fi-chevron-left
        |!{''}
        |
      |!{''}
      |

    each val, index in data.list
      if index == 0
        .ocbc-pagination__item.ocbc-pagination__item--active
          //- a.ocbc-lnk(href=val.to)
          ='\n'
          button.ocbc-lnk
            | !{val.text}
          |!{''}
          |
      else
        if val.text == '3dot'
          .ocbc-pagination__item.ocbc-pagination__item--more
            ='\n'
            span.ocbc-pagination__more-icon
            |!{''}
            |
        else
          .ocbc-pagination__item
            //- a.ocbc-lnk(href=val.to)
            ='\n'
            button.ocbc-lnk
              | !{val.text}
            |!{''}
            |

    //ocbc-pagination__item--next
    .ocbc-pagination__item.ocbc-pagination__item--next
      ='\n'
      //- a.ocbc-lnk(href=data.nextTo)
      button.ocbc-lnk
        ='\n'
        i.ocbc-fi.ocbc-fi-chevron-right
        |!{''}
        |
      |!{''}
      |
