//-------------------------------------------------------------------------------
  @name: Components - Popup Policy Report
  @description: Components - Popup Policy Report
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-policy-report';

//- Content
block content
  h3.ocbc-popup-general__title
    | Kebijakan Pelaporan Kepemilikan Saham Direksi dan Dewan Komisaris
  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    ol.ocbc-popup-general__list.ocbc-popup-general__list--h4
      li.ocbc-popup-general__list__item
        |!{''}
        | Latar Belakang
        ='\n'
        p.ocbc-popup-general__desc
          | Berdasarkan Peraturan Otoritas Jasa Keuangan No. 11/POJK.04/2017 tentang Laporan Kepemilikan atau Setiap Perubahan Kepemilikan Saham Perusahaan Terbuka:
        ul.ocbc-popup-general__list.ocbc-popup-general__list--mbm
            li.ocbc-popup-general__list__item
              | pasal 2 ayat (1): anggota Direksi atau anggota Dewan Komisaris wajib melaporkan kepada Otoritas Jasa Keuangan atas kepemilikan dan setiap perubahan kepemilikannya atas saham Perusahaan Terbuka baik langsung maupun tidak langsung,
            li.ocbc-popup-general__list__item
              | pasal 3 ayat (1): Perusahaan Terbuka wajib memiliki kebijakan mengenai kewajiban anggota Direksi dan anggota Dewan Komisaris untuk menyampaikan informasi kepada Perusahaan Terbuka mengenai kepemilikan dan setiap perubahan kepemilikannya atas saham Perusahaan Terbuka.
      li.ocbc-popup-general__list__item
        |!{''}
        | Tujuan
        ='\n'
        p.ocbc-popup-general__desc
          | Memo ini dibuat dalam rangka memenuhi peraturan OJK tersebut dan untuk menjadi acuan bagi anggota Direksi dan Dewan Komisaris dalam melaporkan kepemilikan dan perubahan kepemilikannya atas saham Bank OCBC NISP (Bank).
      li.ocbc-popup-general__list__item
        |!{''}
        | Ketentuan Penyampaian Laporan
        ='\n'
        ul.ocbc-popup-general__list.ocbc-popup-general__list--mbm
          li.ocbc-popup-general__list__item
            | Anggota Direksi atau anggota Dewan Komisaris wajib melaporkan kepada Otoritas Jasa Keuangan dan menyampaikan informasi kepada Bank atas kepemilikan dan setiap perubahan kepemilikannya atas saham Bank baik langsung maupun tidak langsung paling lambat 3 (tiga) hari kerja setelah terjadinya kepemilikan atau setiap perubahan kepemilikan atas saham Bank dalam format sebagaimana terlampir.
          li.ocbc-popup-general__list__item
            | Bank akan meneruskan laporan kepemilikan tersebut kepada Otoritas Jasa Keuangan paling lambat 10 (sepuluh) hari sejak terjadinya kepemilikan atau perubahan kepemilikan atas saham Bank.
      li.ocbc-popup-general__list__item
        |!{''}
        | Masa Berlaku
        ='\n'
        p.ocbc-popup-general__desc
          | Ketentuan ini berlaku sejak memo diterbitkan dan akan ditinjau kembali 1 (satu) tahun kemudian sesuai masa berlaku memo internal atau jika ada perubahan peraturan dari OJK.
