//-------------------------------------------------------------------------------
  @name: Components - Popup BOD
  @description: Components - Popup BOD
  -------------------------------------------------------------------------------//

//ocbc-popup-bod
.ocbc-popup-bod
  ='\n'
  button.ocbc-popup-bod__close.js-hide-popup-bod(type='button')
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  |!{''}
  |
  .ocbc-container
    .ocbc-popup-bod__wrapper
      .ocbc-popup-bod__img-circle(style='background-image: url(img/bg/ocbc-circle-gray.svg)')
      .ocbc-row.ocbc-popup-bod__content
        .ocbc-col-xl-4.ocbc-col-md-12.ocbc-popup-bod__left
          .ocbc-popup-bod__head
            .ocbc-popup-bod__img-wrapper
              ='\n'
              img.ocbc-popup-bod__img(src='img/dummy/card/bod/popup-1.png', alt='Pramukti Surjaudaja')/
              |!{''}
              |
            .ocbc-popup-bod__name-position
              h4.ocbc-popup-bod__name
                | Pramukti Surjaudaja
              p.ocbc-popup-bod__position
                | Presiden Komisaris
        .ocbc-col-xl-8.ocbc-col-md-12.ocbc-popup-bod__right
          .ocbc-popup-bod__body
            .ocbc-popup-bod__body__item
              h4 Biodata
              p
                | Warga Negara Indonesia, 56 tahun
                br
                | Domisili: Jakarta, Indonesia
                br
                | Presiden Komisaris Bank OCBC NISP sejak 16 Desember 2008.
            .ocbc-popup-bod__body__item
              h4 Riwayat Pekerjaan
              p
                | 1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.
                br
                | 1989-1997: Direktur Bank NISP
                br
                | 1997–2000: Komisaris Bank OCBC Indonesia.
                br
                | 1997–2008: Presiden Direktur Bank NISP.
                br
                | 2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura
            .ocbc-popup-bod__body__item
              h4 Riwayat Organisasi
              p
                | Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.
            .ocbc-popup-bod__body__item
              h4 Riwayat Pendidikan
              p
                | Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).
            .ocbc-popup-bod__body__item
              h4 Penghargaan
              p
                | Best CEO Award 2004 – Majalah SWA.
                br
                | Best CEO Award 2006 – Majalah Business Review.
                br
                | Most Prominent banker Award 2006 – Majalah Investor.
                br
                | Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.
            .ocbc-popup-bod__body__item
              h4 Riwayat penunjukan sebagai Anggota Dewan Komisaris
              p
                | Penunjukan pertama kali: 2008.
                br
                | Penunjukan kembali: 2011, 2014 dan 2017.
