//-------------------------------------------------------------------------------
  @name: Components - Popup Asean Corporate Governance
  @description: Components - Popup Asean Corporate Governance
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-asean-corporate-governance';
    fullContent = true;

//- Content
block content
  h3.ocbc-popup-general__title.ocbc-popup-general__title--regular
    | Part A - Hak-hak Pemegang Saham

  //ocbc-popup-general__tbl-select
  .ocbc-popup-general__tbl-select
    //ocbc-popup-general__tbl-select__filter
    .ocbc-popup-general__tbl-select__filter
      -
        noContainer = true;
        selectClass = 'js-filter-table-popup';
        data = [
          {
            val: 'a1',
            text: 'A.1 Basic Shareholder Rights'
          },
          {
            val: 'a2',
            text: 'A.2 Rights to participate un decisions concerning fundamental corporate changes'
          },
          {
            val: 'a3',
            text: 'A.3 Right to participate effectively in and vote in general shareholder meetings and should be informed of the rules, including voting procedures, that govern general shareholder meetings.'
          },
          {
            val: 'a4',
            text: 'A.4 Markets for corporate control should be allowed to function in an efficient and transparent manner'
          },
          {
            val: 'a5',
            text: 'A.5 The exercise of ownership rights by all shareholders, including institutional investors, should be facilitated'
          }
        ];
      include ../layout/filter-card.pug

    //ocbc-popup-general__tbl-select__list
    .ocbc-popup-general__tbl-select__list
      .ocbc-popup-general__tbl-select__item.ocbc-popup-general__tbl-select__item--active(data-table='a1')
        include ../pages/tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a1.pug
      .ocbc-popup-general__tbl-select__item(data-table='a2')
        include ../pages/tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a2.pug
      .ocbc-popup-general__tbl-select__item(data-table='a3')
        include ../pages/tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a3.pug
      .ocbc-popup-general__tbl-select__item(data-table='a4')
        include ../pages/tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a4.pug
      .ocbc-popup-general__tbl-select__item(data-table='a5')
        include ../pages/tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a5.pug
