//-------------------------------------------------------------------------------
  @name: Components - Popup File Report
  @description: Components - Popup File Report
  -------------------------------------------------------------------------------//

//ocbc-popup-file-report
.ocbc-popup-file-report
  ='\n'
  button.ocbc-popup-file-report__close.js-hide-popup-file-report(type='button')
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  |!{''}
  |
  .ocbc-container
    .ocbc-popup-file-report__wrapper
      .ocbc-popup-file-report__content
        .ocbc-popup-file-report__filter
          -
            noContainer = true;
            selectClass = 'js-report-select-year';
            data = [
              {
                val: '',
                text: 'Pilih Tahun'
              },
              {
                val: (option ? 2019 + '-rups' : 2019),
                text: 'Tahun 2019'
              },
              {
                val: (option ? 2018 + '-rups' : 2018),
                text: 'Tahun 2018'
              },
              {
                val: (option ? 2017 + '-rups' : 2017),
                text: 'Tahun 2017'
              },
              {
                val: (option ? 2016 + '-rups' : 2016),
                text: 'Tahun 2016'
              },
              {
                val: (option ? 2015 + '-rups' : 2015),
                text: 'Tahun 2015'
              }
            ]
          include ../layout/filter-card.pug

        .ocbc-popup-file-report__box
          //ocbc-popup-file-report__section
          .ocbc-popup-file-report__section
            h3.ocbc-popup-file-report__title
              | Leverage Ratio

            .ocbc-popup-file-report__card
              -
                data = [
                  {
                    icon: 'report.svg',
                    title: 'Leverage Ratio Common Disclosure - Desember 2019'
                  },
                  {
                    icon: 'report.svg',
                    title: 'Leverage Ratio Common Disclosure - November 2019'
                  },
                  {
                    icon: 'report.svg',
                    title: 'Leverage Ratio Common Disclosure - October 2019'
                  },
                  {
                    icon: 'report.svg',
                    title: 'Leverage Ratio Common Disclosure - September 2019'
                  }
                ]

              include ../layout/card-file-report.pug
