//-------------------------------------------------------------------------------
  @name: Components - Popup Privileges Informasi Komprehensif
  @description: Components - Popup Privileges Informasi Komprehensif
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-privileges-informasi-komprehensif';

//- Content
block content
  h3.ocbc-popup-general__title
    | Laporan Konsolidasi
  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    p.ocbc-popup-general__desc
      | Laporan konsolidasi dikirimkan ke nasabah setiap bulan. Konten dari Laporan Konsolidasi ini mencakup informasi terkait:
    .ocbc-popup-general__list-wrapper
      ul.ocbc-popup-general__list
        li.ocbc-popup-general__list__item
          | Saldo Tabungan, Giro & Deposito
        li.ocbc-popup-general__list__item
          | Saldo Reksa dana & Obligasi
        li.ocbc-popup-general__list__item
          | Saldo Treasury Product (FLD, DCR)
        li.ocbc-popup-general__list__item
          | Akumulasi Pembayaran Premi Bancassurance
        li.ocbc-popup-general__list__item
          | Total Penggunaan Kartu Kredit & Limit
        li.ocbc-popup-general__list__item
          | Saldo Point Kartu Kredit & Tanggal Berlaku
        li.ocbc-popup-general__list__item
          | Saldo Pinjaman (KPR, KMG dll)
        li.ocbc-popup-general__list__item
          | Mutasi transaksi rekening Tabungan & Giro selama 1 (satu) bulan
