//-------------------------------------------------------------------------------
  @name: Components - Popup Whistleblowing
  @description: Components - Popup Whistleblowing
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-whistleblowing';

//- Content
block content
  h3.ocbc-popup-general__title
    | Kebijakan & Perlindungan
  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    h4.ocbc-popup-general__subtitle
      | Tentang Whistleblowing
    p.ocbc-popup-general__desc
      | Whistleblowing adalah sarana untuk melaporkan tindakan penyalahgunaan wewenang, tindakan fraud atau pelanggaran kode etik perusahaan yang dapat merugikan perusahaan. Bank mengembangkan program whistleblowing dengan tujuan agar pelapor tidak merasa khawatir atau takut untuk melaporkan tindakan penyalahgunaan wewenang, tindakan fraud atau pelanggaran kode etik perusahaan yang dilakukan karyawan Bank.

  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    h4.ocbc-popup-general__subtitle
      | Penyampaian Laporan Pelanggaran
    .ocbc-popup-general__list-wrapper
      p.ocbc-popup-general__desc
        | Nasabah atau pihak rekanan Bank dan karyawan dapat melaporkan melalui:
      ul.ocbc-popup-general__list
        li.ocbc-popup-general__list__item
          | !{'Website dengan alamat '}
          a(href='https://whistleblowing.ocbcnisp.com')
            | https://whistleblowing.ocbcnisp.com
        li.ocbc-popup-general__list__item
          | !{'Email: '}
          a(href='mailto:whistleblowing@ocbcnisp.com')
            | whistleblowing@ocbcnisp.com
    .ocbc-popup-general__list-wrapper
      p.ocbc-popup-general__desc
        | Atau karyawan dapat melaporkan kepada pejabat Bank yang ditunjuk:
      ul.ocbc-popup-general__list
        li.ocbc-popup-general__list__item
          | !{'Ketua TPF dengan alamat email: '}
          a(href='mailto:linda.adam@ocbcnisp.com')
            | linda.adam@ocbcnisp.com
        li.ocbc-popup-general__list__item
          | !{'ORM Division Head dengan alamat email: '}
          a(href='mailto:robby.hardijono@ocbcnisp.com')
            | robby.hardijono@ocbcnisp.com
        li.ocbc-popup-general__list__item
          | !{'HC Service Div. Head dengan alamat email: '}
          a(href='mailto:lily.johan@ocbcnisp.com')
            | lily.johan@ocbcnisp.com
        li.ocbc-popup-general__list__item
          | !{'Internal Audit Div. Head dengan alamat email: '}
          a(href='mailto:sani.effendy@ocbcnisp.com')
            | sani.effendy@ocbcnisp.com
        li.ocbc-popup-general__list__item
          | Apabila karyawan merasa kurang nyaman untuk melaporkan kepada pejabat yang sudah ditunjuk, maka dapat juga melaporkan kepada Presiden Direktur atau Presiden Komisaris

  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    h4.ocbc-popup-general__subtitle
      | Penanganan Pengaduan Investigasi
    p.ocbc-popup-general__desc
      | Semua laporan pengaduan yang diterima dari karyawan, nasabah dan pihak rekanan Bank akan dilakukan proses investigasi. Proses investigasi dilakukan oleh Tim Penanganan Fraud.

  //ocbc-popup-general__content__item
  .ocbc-popup-policy__content-item
    h4.ocbc-popup-general__subtitle
      | Sanksi
    p.ocbc-popup-general__desc
      | Management Bank memberikan sanksi yang tegas kepada karyawan yang bersalah. Keputusan sanksi diputuskan oleh Komite Disipliner

