//-------------------------------------------------------------------------------
  @name: Components - Popup Privileges - Airport PickUp
  @description: Components - Popup Privileges - Airport PickUp
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-privileges-airport-pickup';

//- Content
block content
  h3.ocbc-popup-general__title
    | Airport Pick Up Services
  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    //ocbc-popup-general__img-list
    .ocbc-popup-general__img-list
      .ocbc-popup-general__img-list__item
        ='\n'
        img.ocbc-popup-general__image(src='img/dummy/popup/airport-1.png', alt='airport pickup vehicle')/
        |!{''}
        |
      .ocbc-popup-general__img-list__item
        ='\n'
        img.ocbc-popup-general__image(src='img/dummy/popup/airport-2.png', alt='airport pickup vehicle')/
        |!{''}
        |
      .ocbc-popup-general__img-list__item
        ='\n'
        img.ocbc-popup-general__image(src='img/dummy/popup/airport-3.png', alt='airport pickup vehicle')/
        |!{''}
        |

    p.ocbc-popup-general__desc
      | Nikmati fasilitas penjemputan dari Bandara dengan armada Toyota Alphard, Toyota Camry atau Toyota Innova yang kami sediakan, bekerja sama dengan rekanan superior kami khusus untuk Anda.

    .ocbc-popup-general__tbl
      include ../components/table-airport-pickup.pug

    p.ocbc-popup-general__desc
      | Fasilitas berlaku untuk pemilik rekening dan dapat berubah sewaktu-waktu.

    p.ocbc-popup-general__note
      | *Penempatan dana (Asset Under Management / AUM) pada produk Simpanan, yaitu Tabungan, Giro, Depositor dan termasuk diantaranya produk Wealth Management, misalnya Obligasi, Bancassurance, Reksadana, Treasury dan produk investasi lainnya baik dalam mata uang Rupiah maupun valuta asing.
