//-------------------------------------------------------------------------------
  @name: Components - Popup Privileges Market Outlook
  @description: Components - Popup Privileges Market Outlook
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-privileges-market-outlook';

//- Content
block content
  h3.ocbc-popup-general__title
    | Market Outlook
  //ocbc-popup-general__filter
  .ocbc-popup-general__filter
    -
      noContainer = true;
      selectClass = 'js-select-market-outlook';
      data = [
        {
          val: 'april-2020',
          text: 'April 2020'
        },
        {
          val: 'maret-2020',
          text: 'Maret 2020'
        },
        {
          val: 'februari-2020',
          text: 'Februari 2020'
        },
        {
          val: 'desember-2019',
          text: 'Desember 2019'
        },
        {
          val: 'november-2019',
          text: 'November 2019'
        }
      ];
    include ../layout/filter-card.pug

  -
    outlookData = [
        {
          val: 'april-2020',
          text: 'April 2020'
        },
        {
          val: 'maret-2020',
          text: 'Maret 2020'
        },
        {
          val: 'februari-2020',
          text: 'Februari 2020'
        },
        {
          val: 'desember-2019',
          text: 'Desember 2019'
        },
        {
          val: 'november-2019',
          text: 'November 2019'
        }
      ];
  each valOutlook, index in outlookData
    ='\n\n'
    //ocbc-popup-general__content__item
    .ocbc-popup-general__content__item(data-pane=valOutlook.val, class=(index == 0 ? 'ocbc-popup-general__content__item--active' : ''))
      p.ocbc-popup-general__subtitle
        | Pandemic-driven recession !{valOutlook.text}
      p.ocbc-popup-general__desc
        | Virus Corona telah menjadi sorotan di Q120, dengan penambahan jumlah kasus infeksi yang terus meningkat. Amerika Serikat kini telah melampaui Cina dan negara Eropa lain nya untuk menjadi negara dengan kasus dan kematian Covid-19 terbanyak, dengan New York yang menjadi pusat penyebaran utama. Presiden Trump telah memberikan lebih dari USD 2 triliun, terbanyak dibandingkan negara lainnya untuk melawan tekanan ekonomi yang disebabkan oleh virus ini. Hal ini terlihat jelas ketika jumlah orang yang mengklaim tunjangan pengangguran di AS tercatat sekitar 16 juta orang hanya dalam 3 minggu terakhir, dengan tingkat pengangguran meningkat dari 3.5% ke 4.4% di bulan Maret.
      p.ocbc-popup-general__desc
        | Melihat ke Eropa, kami bisa melihat bahwa kurva infeksi mulai flat, dengan penyebaran di Italia, Spanyol, Jerman, dan Paris mulai berkurang. Setelah beberapa bulan yang penuh dengan gejolak, negara-negara di Eropa saat ini dapat sedikit bernafas. Di Britania Raya, Perdana Menteri Inggris Boris Johnson telah keluar dari rumah sakit dan sedang menjalani isolasi diri di tempatnya, sambil melanjutkan perannya sebagai kepala negara. Dalam hal perang harga minyak antara Arab Saudi - Rusia, OPEC dan kelompok G20 pada akhirnya sepakat untuk memangkas produksi minyak hampir 10 atau 9.7 juta barel per hari dalam rangka untuk mendukung dan menstabilkan harga minyak yang pada bulan lalu mencatatkan periode yang paling volatile di dalam sejarah.
      p.ocbc-popup-general__desc
        | Negara-negara di Asia seperti Singapura, Hongkong, dan Cina saat ini sedang mengalami yang dinamakan dengan "gelombang kedua" akan kasus Covid-19, yang terutama disebabkan karena kasus impor dan direspon dengan cepat oleh negara yang terkena. Secara keseluruhan, negara-negara di Asia masih sedang berjuang dengan Covid-19, tetapi jelas bahwa AS dan Eropa mengalami hal yang lebih sulit. Indeks MSCI Asia Pasifik mencatatkan penurunan sebesar 12% di bulan Maret, lebih rendah dibandingkan penurunan rata-rata yang terlihat di Wall Street. Sebagian besar pemerintahan di Asia saat ini masih mempertimbangkan stimulus fiskal yang lebih untuk mendukung perekonomian yang memburuk karena pandemi.
      p.ocbc-popup-general__desc
        | Di dalam negeri, pemerintah pada saat ini sangat memfokuskan penahanan dari Covid-19, yang telah memasuki negara di awal Maret, dan telah meningkat cukup banyak sejak minggu ketiga. Kurangnya peralatan dan aksesoris yang diperlukan telah menjadi penghalang bagi para dokter dalam sistem kesehatan. Seiring dengan tekanan akan Covid-19 meningkat, baik di dalam negeri dan global, pasar ekuitas mencatatkan penurunan yang signifikan ke tingkat rendah yang terakhir terlihat di 2012; dengan imbal hasil dari obligasi pemerintah meningkat cukup tajam. Namun, inflasi tetap stabil, sedikit menurun dari 2.98% menjadi 2.96% masih lebih baik dari ekspektasi. Cadangan devisa turun dari USD 130.4b ke USD 120.97b, yang sudah diekspektasi karena upaya Bank Sentral (tiga intervensi dilakukan di pasar spot, pasar maju domestik, dan pasar obligasi) untuk menstabilkan nilai tukar untuk rupiah terhadap greenback. Selain itu, perjanjian repo antara Bank Indonesia dan The Fed sebesar USD 60b telah meningkatkan optimisme untuk pasar mata uang. Pemerintah juga menurunkan ekspektasi pertumbuhan untuk tahun ini secara signifikan, dari 5.3% ke 2.3%. Secara keseluruhan, bulan Maret telah memberikan tekanan pada pasar modal, tetapi indikator ekonomi masih menunjukkan resistensi dan ketahanan.
  ='\n\n'

