//-------------------------------------------------------------------------------
  @name: Components - Popup Privileges - Medical Check Up
  @description: Components - Popup Privileges - Medical Check Up
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-privileges-medical-check-up';

//- Content
block content
  h3.ocbc-popup-general__title
    | Medical Check Up On Call
  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    p.ocbc-popup-general__subtitle
      | Paket Medical Check Up yang kami berikan:
    .ocbc-popup-general__list-wrapper
      ul.ocbc-popup-general__list
        li.ocbc-popup-general__list__item
          | Fungsi Hati: SGOT, SGPT
        li.ocbc-popup-general__list__item
          | Fungsi Ginjal: Ureum, Kreatinin, urin acid
        li.ocbc-popup-general__list__item
          | Profil Lipid: Total Cholesterol, Triglyceride
        li.ocbc-popup-general__list__item
          | Profil Diabetic Melitus: Fasting Glucose
        li.ocbc-popup-general__list__item
          | Pemeriksaan urin

  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    p.ocbc-popup-general__desc
      if sitePage == 'private'
        | Fasilitas ini diberikan satu kali dalam setahun (berjalan) kepada nasabah OCBC NISP Private Banking yang memiliki rata-rata tiga bulan berturut-turut penempatan dana (Asset Under Management, AUM) minimum: Rp 500 juta pada produk Simpanan yaitu Tabungan, Giro, Deposito termasuk diantaranya produk Wealth Management. Misalnya, Obligasi, Bancassurance, Reksadana, Treasury dan lain-lain, baik dalam mata uang Rupiah maupun valuta asing.
      else
        | Fasilitas ini diberikan satu kali dalam setahun (berjalan) kepada nasabah OCBC NISP Premier Banking yang memiliki rata-rata tiga bulan berturut-turut penempatan dana (Asset Under Management, AUM) minimum: Rp 500 juta pada produk Simpanan yaitu Tabungan, Giro, Deposito termasuk diantaranya produk Wealth Management. Misalnya, Obligasi, Bancassurance, Reksadana, Treasury dan lain-lain, baik dalam mata uang Rupiah maupun valuta asing.

  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    p.ocbc-popup-general__subtitle
      | Laboratorium Klinik Rekanan kami:
    .ocbc-popup-general__list-wrapper
      ul.ocbc-popup-general__list
        li.ocbc-popup-general__list__item
          | Laboratorium Biotest
        li.ocbc-popup-general__list__item
          | Laboratorium Thamrin
        li.ocbc-popup-general__list__item
          | Laboratorium Prodia

  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    p.ocbc-popup-general__desc
      | Fasilitas ini tidak dikenakan biaya untuk nasabah. Dan apabila nasabah ingin memberikan fasilitas ini bagi anggota keluarga nasabah, maka dikenakan biaya sesuai tarif yang berlaku.
