//-------------------------------------------------------------------------------
  @name: Components - Popup Privileges - Promo
  @description: Components - Popup Privileges - Promo
  -------------------------------------------------------------------------------//

extends ../layout/popup-general.pug

//- Head
block head
  -
    classPopup = 'popup-privileges-promo';

//- Content
block content
  h3.ocbc-popup-general__title
    | Promo
  //ocbc-popup-general__content__item
  .ocbc-popup-general__content__item
    p.ocbc-popup-general__desc
      if sitePage == 'private'
        | Nikmati Program KPR khusus bagi nasabah OCBC NISP Private Banking dengan berbagai kemudahan dan keuntungan sebagai berikut:
      else
        | Nikmati Program KPR khusus bagi nasabah OCBC NISP Premier Banking dengan berbagai kemudahan dan keuntungan sebagai berikut:
    .ocbc-popup-general__list-wrapper
      ul.ocbc-popup-general__list
        li.ocbc-popup-general__list__item
          | Persetujuan plafon KPR hingga 6 (enam) kali total dana Anda.
        li.ocbc-popup-general__list__item
          | Nikmati bunga KPR yang kompetitif mulai dari 8% p.a untuk fixed 1 tahun atau 8.5% p.a untuk fixed 5 tahun.
        li.ocbc-popup-general__list__item
          | Biaya provisi 0% untuk KPR take over murni atau biaya provisi 0.5% untuk pengajuan aplikasi KPR baru.
        li.ocbc-popup-general__list__item
          | Biaya provisi 0% untuk KPR take over murni atau biaya provisi 0.5% untuk tambahan jumlah plafon pada pengalihan KPR dengan Top Up.
        li.ocbc-popup-general__list__item
          | Dokumen pengajuan lebih sederhana dan jaminan proses 5 hari kerja hingga keputusan pengajuan kredit dihitung sejak dokumen lengkap diterima.
