//-------------------------------------------------------------------------------
  @name: Components - Preloader Spinner
  @description: Components - Preloader Spinner
  -------------------------------------------------------------------------------//

//ocbc-preloader
.ocbc-preloader
  ='\n'
  svg.ocbc-preloader__spinner(width='36', height='36', version='1.1', xmlns='http://www.w3.org/2000/svg')
    ='\n'
    circle(cx='18', cy='18', r='16')
    |!{''}
    |
  |!{''}
  |
