//-------------------------------------------------------------------------------
  @name: Components - Product category Fragment
  @subtitleription: Components - Product category Fragment
  -------------------------------------------------------------------------------//

-
  imgDir = (data.img.default == 'fragment-default.svg' ? 'img/dummy/placeholder/' : 'img/icon/')

//ocbc-prod-category-fragment
.ocbc-prod-category-fragment
  .ocbc-prod-category-fragment__content
    .ocbc-prod-category-fragment__img-wrapper
      ='\n'
      img.ocbc-prod-category-fragment__img.ocbc-prod-category-fragment__img--default(src=`${imgDir}${data.img.default}`, alt=data.title)/
      ='\n'
      img.ocbc-prod-category-fragment__img.ocbc-prod-category-fragment__img--hover(src=`${imgDir}${data.img.hover}`, alt=data.title)/
      |!{''}
      |
    h3.ocbc-prod-category-fragment__title
      | !{data.title}
    p.ocbc-prod-category-fragment__desc
      | !{data.description}
