//-------------------------------------------------------------------------------
  @name: Components - Product Detail Banner
  @subheadlineription: Components - Product Detail Banner
  -------------------------------------------------------------------------------//

//ocbc-prod-detail-banner
-
  modifier = (data.mode ? 'ocbc-prod-detail-banner--'+data.mode : '');

.ocbc-prod-detail-banner(class=modifier)
  .ocbc-prod-detail-banner__img-wrapper
    .ocbc-prod-detail-banner__img-bg.ocbc-prod-detail-banner__img-bg--d(style='background-image: url(img/dummy/banner/product-detail/'+data.image.desktop+')')
    .ocbc-prod-detail-banner__img-bg.ocbc-prod-detail-banner__img-bg--m(style='background-image: url(img/dummy/banner/product-detail/'+data.image.mobile+')')
  .ocbc-prod-detail-banner__txt-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-prod-detail-banner__txt
            if data.isNyala
              ='\n'
              img.ocbc-section__icon-nyala(src='img/logo/start-with-nyala-red.svg', alt='Start with Nyala')/
              |!{''}
              |
            else
              h1.ocbc-prod-detail-banner__title
                | !{data.title}
            h4.ocbc-prod-detail-banner__desc
              | !{data.description}
            if data.button
              if data.button.primary
                .ocbc-prod-detail-banner__btn
                  ='\n'
                  a.ocbc-btn.ocbc-btn--primary(href=data.button.primary.to)
                    | !{data.button.primary.text}
                  if data.button.outline
                    ='\n'
                    if data.mode === "dark"
                      a.ocbc-btn.ocbc-btn--secondary-white(href=data.button.outline.to)
                        | !{data.button.outline.text}
                    else
                      a.ocbc-btn.ocbc-btn--secondary(href=data.button.outline.to)
                        | !{data.button.outline.text}
                  |!{''}
                  |
