//-------------------------------------------------------------------------------
  @name: Components - Product category Fragment
  @subtitleription: Components - Product category Fragment
  -------------------------------------------------------------------------------//

//ocbc-product-services
.ocbc-product-services
  .ocbc-product-services__content
    .ocbc-product-services__summary
      .ocbc-product-services__img-wrapper
        ='\n'
        img.ocbc-product-services__img(src=`img/icon/${data.img}`, alt=data.title)/
        |!{''}
        |
      h4.ocbc-product-services__title
        | !{data.title}
    .ocbc-product-services__detail
      ul.ocbc-product-services__list-txt
        each val in data.list
          li.ocbc-product-services__list-txt__item
            | !{val}
      if data.note
        p.ocbc-product-services__note
          | !{data.note}
