//-------------------------------------------------------------------------------
  @name: Components - Card Product Section
  @description: Components - Card Product Section
  -------------------------------------------------------------------------------//

//ocbc-product-section
.ocbc-product-section(class=(data.private ? 'ocbc-product-section--private' : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-product-section__content
          .ocbc-product-section__img-wrapper
            ='\n'
            img.ocbc-product-section__img(src='img/dummy/product-section/'+data.image, alt=data.title)/
            |!{''}
            |
          .ocbc-product-section__txt
            h2.ocbc-product-section__title
              | !{data.title}
            p.ocbc-product-section__desc
              | !{data.description}
            if data.button
              .ocbc-product-section__btn
                ='\n'
                a.ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--gold(href=data.button.to)
                  | !{data.button.text}
                |!{''}
                |
