//-------------------------------------------------------------------------------
  @name: Components - Product Category Banner
  @subheadlineription: Components - Product Category Banner
  -------------------------------------------------------------------------------//

//ocbc-prod-category-banner
.ocbc-prod-category-banner
  .ocbc-prod-category-banner__img-wrapper
    .ocbc-prod-category-banner__img-bg.ocbc-prod-category-banner__img-bg--d(style='background-image: url(img/dummy/banner/product-category/'+data.image.desktop+')')
    .ocbc-prod-category-banner__img-bg.ocbc-prod-category-banner__img-bg--m(style='background-image: url(img/dummy/banner/product-category/'+data.image.mobile+')')
  .ocbc-prod-category-banner__txt-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-prod-category-banner__txt
            h2.ocbc-prod-category-banner__title
              | !{data.title}
            h2.ocbc-prod-category-banner__desc
              | !{data.description}
