//-------------------------------------------------------------------------------
  @name: Components - Product Detail Fragment
  @subtitleription: Components - Product Detail Fragment
  -------------------------------------------------------------------------------//

//ocbc-prod-detail-fragment
.ocbc-prod-detail-fragment
  .ocbc-prod-detail-fragment__img-wrapper
    ='\n'
    if data.img != 'fragment-default.svg'
      img.ocbc-prod-detail-fragment__img(src=`img/icon/${data.img}`, alt=data.title)/
    else
      img.ocbc-prod-detail-fragment__img(src=`img/dummy/placeholder/${data.img}`, alt=data.title)/
    |!{''}
    |
  p.ocbc-prod-detail-fragment__title
    | !{data.title}
  p.ocbc-prod-detail-fragment__desc
    | !{data.description}
