//-------------------------------------------------------------------------------
  @name: Components - Promo Banner
  @description: Components - Promo Banner
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-promo-banner__item
  .ocbc-promo-banner__item(class=(val.light ? 'ocbc-promo-banner__item--light' : ''))
    .ocbc-promo-banner__img-wrapper
      .ocbc-promo-banner__img-bg.ocbc-promo-banner__img-bg--d(style='background-image: url(img/dummy/banner/promo/'+val.image.desktop+')')
      .ocbc-promo-banner__img-bg.ocbc-promo-banner__img-bg--m(style='background-image: url(img/dummy/banner/promo/'+val.image.mobile+')')
    .ocbc-promo-banner__txt-wrapper
      .ocbc-promo-banner__middle-align
        .ocbc-container
          .ocbc-row
            .ocbc-col-xl-12
              .ocbc-promo-banner__txt
                p.ocbc-promo-banner__label
                  | !{val.label}
                h2.ocbc-promo-banner__title
                  | !{val.title}
                h4.ocbc-promo-banner__desc
                  | !{val.description}
                ='\n'
                a(href=val.button.to, class=(val.light ? 'ocbc-btn-txt-lnk ocbc-btn-txt-lnk--white-red' : 'ocbc-btn-txt-lnk'))
                  | !{val.button.text}
                |!{''}
                |
