//-------------------------------------------------------------------------------
  @name: Components - Rachel How To
  @description: Components - Rachel How To
  -------------------------------------------------------------------------------//

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/rachel-how-to/screen-step-1.jpg', alt='Tentuin dulu life goalsnya')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 1
        h2.ocbc-rachel-how-to__title
          | Tentuin dulu life goalsnya
        p.ocbc-rachel-how-to__desc
          | Mau Liburan? atau pengen lebih kaya aja? #TAYTB (Tidak Ada Yang Tidak Bisa) guys! Kuncinya tentuin dulu life goals kamu, biar investasi ke depan tetep fokus dan konsisten.
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Langkah 2
          |!{''}
          |

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/rachel-how-to/screen-step-2.jpg', alt='Cari tau risk profile kamu')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 2
        h2.ocbc-rachel-how-to__title
          | Cari tau risk profile kamu
        p.ocbc-rachel-how-to__desc
          |Ini penting banget untuk tau seberapa tahannya kamu sama risiko investasi. Lihat yuk!
        .ocbc-rachel-how-to__risk
          -
            riskData = [
              {
                title: 'Conservative',
                description: 'Suka main aman aja, pilih investasi yang untung sedikit aja daripada resiko rugi',
                risk: 1
              },
              {
                title: 'Balance',
                description: 'Sudah mulai berani cari investasi yang beresiko rendah, supaya cuan lebih tinggi',
                risk: 2
              },
              {
                title: 'Growth',
                description: 'Suka investasi yang untungnya lumayan tinggi, dengan resiko menengah',
                risk: 3
              },
              {
                title: 'Aggresive',
                description: 'Berani ambil resiko tinggi berinvestasi. High risk, high return!',
                risk: 4
              }
            ];
          each val in riskData
            //ocbc-rachel-how-to__risk__item
            .ocbc-rachel-how-to__risk__item
              p.ocbc-rachel-how-to__risk__title
                | !{val.title}
              .ocbc-rachel-how-to__risk__meter
                each valRisk in [0, 1, 2, 3]
                  = "\n"
                  span.ocbc-rachel-how-to__risk__circle(class=(valRisk < val.risk ? 'ocbc-rachel-how-to__risk__circle--active': ''))
                |!{''}
                |
              p.ocbc-rachel-how-to__risk__desc
                | !{val.description}
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Langkah 3
          |!{''}
          |

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/rachel-how-to/screen-step-3.jpg', alt='Pilih instrumen investasi yang cocok buat kamu')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 3
        h2.ocbc-rachel-how-to__title
          | Pilih instrumen investasi yang cocok buat kamu
        p.ocbc-rachel-how-to__desc
          | Mau Liburan? atau pengen lebih kaya aja? #TAYTB (Tidak Ada Yang Tidak Bisa) guys! Kuncinya tentuin dulu life goals kamu, biar investasi ke depan tetep fokus dan konsisten.
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Langkah 4
          |!{''}
          |

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/rachel-how-to/screen-step-4.jpg', alt='Mulai berinvestasi')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 4
        h2.ocbc-rachel-how-to__title
          | Mulai berinvestasi
        p.ocbc-rachel-how-to__desc
          | Cara memulai investasi selanjutnya adalah memulai investasi. Jika jenis yang Anda pilih adalah saham, biasanya, Anda harus membuka rekening di perusahaan sekuritas.
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Langkah 5
          |!{''}
          |

//ocbc-rachel-how-to__item
.ocbc-rachel-how-to__item
  .ocbc-rachel-how-to__screen-wrapper
    = "\n"
    img.ocbc-rachel-how-to__screen(src='img/dummy/fragment/rachel-how-to/screen-step-5.jpg', alt='Pemahaman mengenai investasi')/
    |!{''}
    |
  .ocbc-rachel-how-to__txt-align
    .ocbc-rachel-how-to__txt-middle
      .ocbc-rachel-how-to__txt
        h4.ocbc-rachel-how-to__label
          | Langkah 5
        h2.ocbc-rachel-how-to__title
          | Pemahaman mengenai investasi
        p.ocbc-rachel-how-to__desc
          | Dalam aktivitas berinvestasi, tidak ada jaminan bahwa seorang investor bisa mutlak rugi maupun untung. Bahkan untuk jenis investasi saham yang mampu membawa keuntungan besar saja bisa mengalami kerugian. Di sinilah pemahaman mengenai seluk beluk investasi sangat diperlukan.
        .ocbc-rachel-how-to__next
          = "\n"
          button(type='button').ocbc-btn-txt-lnk.js-rachel-how-to-next
            | Kembali ke Langkah 1
          |!{''}
          |
