//-------------------------------------------------------------------------------
  @name: Components - Regulator
  @description: Components - Regulator
  -------------------------------------------------------------------------------//

//ocbc-regulator
ul.ocbc-regulator
  each val in data
    li.ocbc-regulator__item
      ='\n'
      a.ocbc-lnk(href=val.to, target=val.target)
        ='\n'
        img.ocbc-regulator__logo(src='img/regulator/'+val.img, alt=val.name)/
        |!{''}
        |
      |!{''}
      |
