//-------------------------------------------------------------------------------
  @name: Components - Result List
  @description: Components - Result List
  -------------------------------------------------------------------------------//

//ocbc-result-list__item
.ocbc-result-list__item
  ='\n'
  a.ocbc-lnk(href=data.to)
    | !{data.title}
  .ocbc-result-list__icon-box
    ='\n'
    img.ocbc-result-list__icon(src='img/dummy/placeholder/fragment-default-gray.svg', alt='Placeholder')/
    |!{''}
    |
  .ocbc-result-list__txt
    p.ocbc-result-list__title
      | !{data.title}
    p.ocbc-result-list__desc
      | !{data.description}
