//-------------------------------------------------------------------------------
  @name: Components - Schedule
  @subtitleription: Components - Schedule
  -------------------------------------------------------------------------------//

//ocbc-schedule
.ocbc-schedule__item.ocbc-row
  ='\n'
  span.ocbc-schedule__bullet
  |!{''}
  |
  .ocbc-col-xl-4.ocbc-col-sm-12.ocbc-schedule__date-wrapper
    h4.ocbc-schedule__date
      | !{data.date}
  .ocbc-col-xl-8.ocbc-col-sm-12.ocbc-schedule__content-wrapper
    each content in data.list
      .ocbc-schedule__content
        h6.ocbc-schedule__title
          | !{content.title}
        p.ocbc-schedule__desc
          | !{content.description}
