//-------------------------------------------------------------------------------
  @name: Components - Scroll Indicator
  @subheadlineription: Components - Scroll Indicator
  -------------------------------------------------------------------------------//

//ocbc-scroll-indicator
.ocbc-scroll-indicator.js-scroll-indicator
