//-------------------------------------------------------------------------------
  @name: Components - Search Form Section
  @description: Components - Search Form Section
  -------------------------------------------------------------------------------//
//ocbc-search-section
.ocbc-search-section(class=(inline ? 'ocbc-search-section--inline' : ''))
  .ocbc-search-section__form-wrapper
    // data-api-suggestion: digunakan untuk list pencarian tautan cepat
    // data-api-list: digunakan untuk list pencarian tautan terkait
    //ocbc-search-section__form
    form.ocbc-search-section__form(action='hasil-pencarian.html', autocomplete='off', data-api-suggestion=dataAPI+'suggestion-list.json', data-api-list=dataAPI+'search-list.json')
      ='\n'
      if inline
        input.ocbc-input.ocbc-input--minimalize.js-search-input(type='text', placeholder='', name='keyword')/
        ='\n'
        button.ocbc-btn-icon.ocbc-search-section__submit(type='submit')
          ='\n'
          i.ocbc-fi.ocbc-fi-search
          |!{''}
          |
      else
        button.ocbc-btn-icon.ocbc-search-section__submit(type='submit')
          ='\n'
          i.ocbc-fi.ocbc-fi-search
          ='\n'
        |!{''}
        |
        input.ocbc-input.ocbc-input--box-rounded.js-search-input(type='text', placeholder='Masukkan Pencarian', name='keyword')/
        ='\n'
        button(type='button').ocbc-btn-icon.ocbc-search-section__close.js-header-search-close
          ='\n'
          i.ocbc-fi.ocbc-fi-exit
          ='\n'
      |!{''}
      |
  ='\n\n'
  //ocbc-search-section__quick-links
  .ocbc-search-section__quick-links
    // secara default display: none, nanti di trigger ketika data tidak ada, block class tag ocbc-search-section__no-result di show dengan fungsi jQuery $('.ocbc-search-section__no-result').show(timing) atau $('.ocbc-search-section__no-result').fadeIn(timing) atau fungsi show lainnya
    //ocbc-search-section__no-result
    .ocbc-search-section__no-result
      .ocbc-search-section__no-result__icon-wrapper
        ='\n'
        img.ocbc-search-section__no-result__icon(src='img/icon/no-result.svg', alt='No Result')/
        |!{''}
        |
      p.ocbc-search-section__no-result__txt
        | Halaman yang Anda Cari Tidak Tersedia
    ='\n\n'
    //ocbc-search-section__quick-links__wrapper
    .ocbc-search-section__quick-links__wrapper
      // data-text-match: digunakan untuk text tautan terkait, ini di trigger dari JS
      // data-text-shortcut: digunakan untuk text tautan cepat, ini di trigger dari JS
      p.ocbc-search-section__title(data-text-match='Tautan Terkait', data-text-shortcut='Tautan Cepat')
        | Tautan Cepat
      -
        data = [
          'Simpanan',
          'Kartu Kredit',
          'Investasi',
          'Pinjaman',
          'Karir'
        ];
      ='\n'
      // ini hanya dummy tag saja, sebenarnya listnya akan di gantikan oleh data json yang di panggil di JS
      .ocbc-search-section__list-container.js-search-list
        ul.ocbc-search-section__list
          each val in data
            li.ocbc-search-section__item
              ='\n'
              a.ocbc-lnk(href='#')
                | !{val}
              |!{''}
              |
  ='\n\n'
