//-------------------------------------------------------------------------------
  @name: Components - Search Banner
  @subheadlineription: Components - Search Banner
  -------------------------------------------------------------------------------//

//ocbc-srch-banner
.ocbc-srch-banner
  .ocbc-srch-banner__img-wrapper
    .ocbc-srch-banner__img-bg.ocbc-srch-banner__img-bg--d(style='background-image: url(img/dummy/banner/search-result/'+data.image.desktop+')')
    .ocbc-srch-banner__img-bg.ocbc-srch-banner__img-bg--m(style='background-image: url(img/dummy/banner/search-result/'+data.image.mobile+')')
  .ocbc-srch-banner__content-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-srch-banner__content
            h2.ocbc-srch-banner__title
              | !{data.title}

            if formPage == 'lokasi-kami'
              include ../components/location-search-form-section.pug
            else if formPage == 'faq'
              include ../components/faq-search-form-section.pug
            else
              - inline = true;
              include ../components/search-form-section.pug
