//-------------------------------------------------------------------------------
  @name: Components - Section Image Description
  @description: Components - Section Image Description
  -------------------------------------------------------------------------------//

//ocbc-sec-img-desc
.ocbc-sec-img-desc
  .ocbc-sec-img-desc__img-wrapper
    ='\n'
    img.ocbc-sec-img-desc__img(src='img/dummy/fragment/section-image-description/'+data.image, alt=data.title)/
    |!{''}
    |
  .ocbc-sec-img-desc__content-wrapper
    .ocbc-sec-img-desc__content
      h3.ocbc-sec-img-desc__title
        | !{data.title}
      p.ocbc-sec-img-desc__desc
        | !{data.description}
