//-------------------------------------------------------------------------------
  @name: Components - Section Banner
  @subheadlineription: Components - Section Banner
  -------------------------------------------------------------------------------//

//ocbc-section-banner
-
  className = (data.light ? 'ocbc-section-banner--light' : '');
  className = (data.noBorderBottom ? className + ' ocbc-section-banner--no-bb' : className);
  className = (data.minHeight ? className + ' ocbc-section-banner--min-height' : className);  

.ocbc-section-banner(class=className)
  if data.image
    .ocbc-section-banner__img-wrapper
      .ocbc-section-banner__img-bg.ocbc-section-banner__img-bg--d(style='background-image: url(img/dummy/banner/section/'+data.image.desktop+')')
      .ocbc-section-banner__img-bg.ocbc-section-banner__img-bg--m(style='background-image: url(img/dummy/banner/section/'+data.image.mobile+')')
  .ocbc-section-banner__txt-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-section-banner__txt
            if data.isNyala
              ='\n'
              img.ocbc-section__icon-nyala(src='img/logo/start-with-nyala-red.svg', alt='Start with Nyala')/
              |!{''}
              |
            else
              if data.jadiNasabah
                h4.ocbc-section-banner__title
                  | !{data.title}
              else
                h2.ocbc-section-banner__title
                  | !{data.title}

            if data.item
              ul.ocbc-section-banner__list
                each item in data.item
                  li.ocbc-section-banner__list__item
                    ='\n'
                    i.ocbc-fi.ocbc-fi-checklist
                    |!{''}
                    | !{item}
                    |

            if data.subTitle
              p.ocbc-section-banner__sub-title
                | !{data.subTitle}

            if data.multiDescription
              .ocbc-section-banner__multi-desc-wrapper
                each item in data.multiDescription
                  h4.ocbc-section-banner__multi-desc
                    | !{item}

            if data.description
              h4.ocbc-section-banner__desc
                | !{data.description}

            if data.button
              if data.button.link
                .ocbc-section-banner__btn-lnk
                  ='\n'
                  a.ocbc-btn-txt-lnk(href=data.button.link.to class=data.light ? 'ocbc-btn-txt-lnk--white' : '')
                    | !{data.button.link.text}
                  |!{''}
                  |

              if data.button.linkApps
                .ocbc-section-banner__lnk-apps
                  ='\n'
                  a.ocbc-lnk(target='_blank', href=appsLink.googlePlay)
                    ='\n'
                    img.ocbc-section-banner__lnk-img(src='img/badge/google-play.png', alt='Google Play')/
                    |!{''}
                    |
                  ='\n'
                  a.ocbc-lnk(target='_blank', href=appsLink.appStore)
                    ='\n'
                    img.ocbc-section-banner__lnk-img(src='img/badge/app-store.png', alt='App Store')/
                    |!{''}
                    |
                  |!{''}
                  |

              if data.button.primary
                .ocbc-section-banner__btn
                  ='\n'
                  a.ocbc-btn.ocbc-btn--primary(href=data.button.primary.to, target-section=data.button.primary.targetSection, class=(data.button.primary.targetSection ? 'js-scroll-section' : ''))
                    | !{data.button.primary.text}
                  if data.button.outline
                    ='\n'
                    a.ocbc-btn.ocbc-btn--secondary(href=data.button.outline.to, target-section=data.button.outline.targetSection, class=(data.button.outline.targetSection ? 'js-scroll-section' : ''))
                      | !{data.button.outline.text}
                  if data.button.outlineWhite
                    ='\n'
                    a.ocbc-btn.ocbc-btn--secondary-white(href=data.button.outlineWhite.to, target-section=data.button.outlineWhite.targetSection, class=(data.button.outlineWhite.targetSection ? 'js-scroll-section' : ''))
                      | !{data.button.outlineWhite.text}
                  |!{''}
                  |
