//-------------------------------------------------------------------------------
  @name: Components - Share Content
  @description: Components - Share Content
  -------------------------------------------------------------------------------//

//ocbc-share-content
.ocbc-share-content.js-share-content(class=(isFloating ? 'ocbc-share-content--floating' : ''))
  if isFloating
    p.ocbc-share-content__title
      | Bagikan ke
  ul.ocbc-share-content__list
    li.ocbc-share-content__item.ocbc-share-content__item--facebook
      ='\n'
      a.ocbc-lnk(href='#', target='_blank')
        ='\n'
        i.ocbc-fi.ocbc-fi-facebook
        |!{''}
        |
      |!{''}
      |
    li.ocbc-share-content__item.ocbc-share-content__item--twitter
      ='\n'
      a.ocbc-lnk(href='#', target='_blank')
        ='\n'
        i.ocbc-fi.ocbc-fi-twitter-circle
        |!{''}
        |
      |!{''}
      |
    li.ocbc-share-content__item.ocbc-share-content__item--whatsapp
      ='\n'
      a.ocbc-lnk(href='#', target='_blank')
        ='\n'
        i.ocbc-fi.ocbc-fi-whatsapp
        |!{''}
        |
      |!{''}
      |
    li.ocbc-share-content__item.ocbc-share-content__item--line
      ='\n'
      a.ocbc-lnk(href='#', target='_blank')
        ='\n'
        i.ocbc-fi.ocbc-fi-line
        |!{''}
        |
      |!{''}
      |
    li.ocbc-share-content__item.ocbc-share-content__item--linkedin
      ='\n'
      a.ocbc-lnk(href='#', target='_blank')
        ='\n'
        i.ocbc-fi.ocbc-fi-linkedin
        |!{''}
        |
      |!{''}
      |
    if isFloating
      li.ocbc-share-content__item.ocbc-share-content__item--copy-link
        ='\n'
        button.ocbc-share-content__btn.js-copy-code(type='button', data-text-copied='Tautan Disalin')
          ='\n'
          img.ocbc-share-content__icon(src='img/icon/copylink.svg' alt='Copy Link')/
          ='\n'
          span.ocbc-share-content__btn__txt
            | Copy Link
          |!{''}
          |
        |!{''}
        |
    else
      li.ocbc-share-content__item.ocbc-share-content__item--copy-link
        ='\n'
        button.ocbc-share-content__btn.js-copy-code(type='button')
          ='\n'
          img.ocbc-share-content__icon(src='img/icon/copylink.svg' alt='Copy Link')/
          ='\n'
          span.ocbc-share-content__copied
            | Tautan Disalin
          |!{''}
          |
        |!{''}
        |
