//-------------------------------------------------------------------------------
  @name: Components - Slider Testimonial
  @description: Components - Slider Testimonial
  -------------------------------------------------------------------------------//

each val in data
  //- ocbc-slider-testimonial__item
  .ocbc-slider-testimonial__item
    .ocbc-slider-testimonial__img-wrapper
      ='\n'
      img.ocbc-slider-testimonial__img(src='img/dummy/testimonials/'+val.img, alt=val.name)/
      |!{''}
      |
    .ocbc-slider-testimonial__content-wrapper
      .ocbc-slider-testimonial__content
        ='\n'
        img.ocbc-slider-testimonial__quote(src='img/icon/quote.svg', alt='Quote')/
        h4.ocbc-slider-testimonial__name
          | !{val.name}
        h3.ocbc-slider-testimonial__desc
          | !{val.desc}
        if val.link
          .ocbc-slider-testimonial__btn-lnk
            ='\n'
            a.ocbc-btn-txt-lnk.ocbc-slider-testimonial__lnk(href=val.link.to)
              | !{val.link.title}
            |!{''}
            |
