//-------------------------------------------------------------------------------
  @name: Components - Socmed
  @description: Components - Socmed
  -------------------------------------------------------------------------------//

//ocbc-socmed
ul.ocbc-socmed
  each val in socialMedia
    if val.logo == 'phone-circle'
      li.ocbc-socmed__item.ocbc-socmed__item--desktop
        ='\n'
        a.ocbc-socmed__link(href=val.url[0], class='ocbc-socmed__'+val.network)
          ='\n'
          i.ocbc-fi(class='ocbc-fi-'+val.logo)
          |!{''}
          |
        |!{''}
        |
      li.ocbc-socmed__item.ocbc-socmed__item--mobile
        ='\n'
        a.ocbc-socmed__link(href=val.url[1], class='ocbc-socmed__'+val.network, target='_blank')
          ='\n'
          i.ocbc-fi(class='ocbc-fi-'+val.logo)
          |!{''}
          |
        |!{''}
        |
    else
      li.ocbc-socmed__item
        ='\n'
        a.ocbc-socmed__link(href=val.url, class='ocbc-socmed__'+val.network, target='_blank')
          ='\n'
          i.ocbc-fi(class='ocbc-fi-'+val.logo)
          |!{''}
          |
        |!{''}
        |
