//-------------------------------------------------------------------------------
  @name: Components - Sort Fragment
  @description: Components - Sort Fragment
  -------------------------------------------------------------------------------//

='\n'
//ocbc-sort
='\n'
button.ocbc-sort.js-sort(type='button', data-text-newest='Terbaru', data-text-oldest='Terdahulu')
  ='\n'
  span.ocbc-sort__icon
    ='\n'
    span.ocbc-sort__bar
    ='\n'
    span.ocbc-sort__bar
    ='\n'
    span.ocbc-sort__bar
    |!{''}
    |
  ='\n'
  span.ocbc-sort__text
    | Terbaru
  |!{''}
  |
|!{''}
|
