//-------------------------------------------------------------------------------
  @name: Components - Stock Graph
  @subheadlineription: Components - Stock Graph
  -------------------------------------------------------------------------------//

//ocbc-stock-graph
.ocbc-stock-graph
  h4.ocbc-stock-graph__title
    | !{data.title}
  .ocbc-stock-graph__wrapper
    .ocbc-stock-graph__head
      h3.ocbc-stock-graph__head__title
        | !{data.head.title}
      h3.ocbc-stock-graph__head__source
        ='\n'
        a.ocbc-lnk(href=data.head.link.to, target=data.head.link.target)
          | !{data.head.link.text}
        |!{''}
        |
    .ocbc-stock-graph__body
      .ocbc-stock-graph__legend
        ='\n'
        img.ocbc-stock-graph__legend__img(src='img/dummy/fragment/informasi-saham-obligasi/'+data.body.legend.image, alt=data.body.legend.text)/
        |!{''}
        |
      .ocbc-stock-graph__chart
        ='\n'
        img.ocbc-stock-graph__chart__img(src='img/dummy/fragment/informasi-saham-obligasi/'+data.body.chart.image, alt=data.body.chart.text)/
        |!{''}
        |
