//-------------------------------------------------------------------------------
  @name: Components - Table Striped
  @description: Components - Table Striped
  -------------------------------------------------------------------------------//

.ocbc-tbl-striped-container
  block titleTable
  if title != ''
    h4.ocbc-tbl-striped__title
      | !{title}
  if subTitle != ''
    p.ocbc-tbl-striped__subtitle
      | !{subTitle}
  .ocbc-tbl-striped__wrapper
    .ocbc-tbl-striped__scrollover
      .ocbc-tbl-striped(class=(tableClass ? 'ocbc-tbl-striped--'+tableClass : ''))
        table.ocbc-tbl-striped__tbl
          thead.ocbc-tbl-striped__head
            block tableHead
          ='\n'
          tbody.ocbc-tbl-striped__body
            block tableBody
          ='\n'
