//-------------------------------------------------------------------------------
  @name: Components - Table Bunga dan Biaya
  @description: Components - Table Bunga dan Biaya
  -------------------------------------------------------------------------------//
-
  DocumentRequired = {
    Cur: 'Mata Uang',
    Sta: 'Tingkatan',
    Inr: 'Suku Bunga',
    List: [
      {
        cur: "IDR",
        sti: "<1Juta <br/> 1 - <30Juta <br/> 30 - <100Juta <br/> 100 - <500Juta <br/> 500Juta - 1M <br/> >=1M",
        sta: [
          {
            v: "1 - <30Juta",
            v: "30 - <100Juta",
            v: "100 - <500Juta",
            v: "500Juta - 1M",
            v: ">=1M"
          }
        ],
        ini: "0.00% p.a <br/> 0.10% p.a <br/> 0.15% p.a <br/> 0.25% p.a <br/> 0.75% p.a <br/> 1.00% p.a",
        inr: [
          {
            v: "0.00% p.a",
            v: "0.10% p.a",
            v: "0.15% p.a",
            v: "0.25% p.a",
            v: "0.75% p.a",
            v: "1.00% p.a",
          }
        ]
      },
      {
        cur: "USD",
        sti: "<1,000 <br/> 1,000 - <10,000Juta <br/> 10,000 - <100,000 <br/> >=100,000",
        sta: [
          {
            v: "<1,000",
            v: "1,000 - <10,000Juta",
            v: "10,000 - <100,000",
            v: ">=100,000"
          }
        ],
        ini: "0.00% p.a <br/> 0.10% p.a <br/> 0.25% p.a <br/> 0.50% p.a",
        inr: [
          {
            v: "0.00% p.a",
            v: "0.10% p.a",
            v: "0.25% p.a",
            v: "0.50% p.a"
          }
        ]
      },
      {
        cur: "SGD",
        sti: "<200 <br/> >=200",
        sta: [
          {
            v: "<200",
            v: ">=200"
          }
        ],
        ini: "0.00% p.a <br/> 0.10% p.a",
        inr: [
          {
            v: "0.00% p.a",
            v: "0.10% p.a"
          }
        ]
      },
      {
        cur: "JPY",
        sti: "<1Juta <br/> >=1Juta",
        sta: [
          {
            v: "<1Juta",
            v: ">=1Juta"
          }
        ],
        ini: "0.00% p.a <br/> 0.00% p.a",
        inr: [
          {
            v: "0.00% p.a",
            v: "0.00% p.a"
          }
        ]
      },
      {
        cur: "EUR",
        sti: "<10,000 <br/> 10,000 - <50,000 <br/> 50,000 - <250,000 <br/> <250,000",
        sta: [
          {
            v: "<10,000",
            v: "10,000 - <50,000",
            v: "50,000 - <250,000",
            v: "<250,000"
          }
        ],
        ini: "0.00% p.a <br/> 0.00% p.a <br/> 0.00% p.a <br/> 0.00% p.a",
        inr: [
          {
            v: "0.00% p.a",
            v: "0.00% p.a",
            v: "0.00% p.a",
            v: "0.00% p.a"
          }
        ]
      }
    ]
  };

//ocbc-tbl-bb-container
.ocbc-tbl-bb-container
  .ocbc-tbl-bb-scrollover
    .ocbc-tbl-bb-box
      //ocbc-tbl-bb
      table.ocbc-tbl-bb
        //ocbc-tbl-bb__head
        thead.ocbc-tbl-bb__head
          tr.ocbc-tbl-bb__head__row
            th.ocbc-tbl-bb__th
              | !{DocumentRequired.Cur}
            th.ocbc-tbl-bb__th
              | !{DocumentRequired.Sta}
            th.ocbc-tbl-bb__th
              | !{DocumentRequired.Inr}
        //ocbc-tbl-bb__body
        tbody.ocbc-tbl-bb__body
          each val in DocumentRequired.List
            tr.ocbc-tbl-bb__body__row
              td.ocbc-tbl-bb__td
                | !{val.cur}
              td.ocbc-tbl-bb__td
                | !{val.sti}
              td.ocbc-tbl-bb__td
                | !{val.ini}
                  
