//-------------------------------------------------------------------------------
  @name: Components - Table Comparison
  @description: Components - Table Comparison
  -------------------------------------------------------------------------------//

.ocbc-container.ocbc-tbl-comp-container
  .ocbc-row.ocbc-tbl-comp__wrapper
    .ocbc-tbl-comp__scrollover
      block tableHead
      .ocbc-col-xl-12.ocbc-tbl-comp(class=(tableClass ? 'ocbc-tbl-comp--'+tableClass : ''))
        .ocbc-tbl-comp__tbl
          .ocbc-tbl-comp__head
            | !{title}
          ='\n'
          .ocbc-tbl-comp__body
            block tableBody
          ='\n'
      .ocbc-tbl-comp__data-src
        block hiddenData
