//-------------------------------------------------------------------------------
  @name: Components - Table Calculator
  @description: Components - Table Calculator
  -------------------------------------------------------------------------------//

//ocbc-tbl-calc
.ocbc-tbl-calc
  if data.title
    h4.ocbc-tbl-calc__title
      | !{data.title}
  if data.table
    .ocbc-tbl-calc__tbl
      each val in data.table
        .ocbc-tbl-calc__tbl__row(class=(val.borderTop ? 'ocbc-tbl-calc__tbl__row--bt' : ''))
          .ocbc-tbl-calc__tbl__col
            p.ocbc-tbl-calc__tbl__txt
              | !{val.description}
          .ocbc-tbl-calc__tbl__col
            p.ocbc-tbl-calc__tbl__txt
              strong
                | !{val.value}
  if data.description
    .ocbc-tbl-calc__desc
      each valDes in data.description
        p.ocbc-tbl-calc__desc__txt
          | !{valDes}
