//-------------------------------------------------------------------------------
  @name: Components - Table
  @description: Components - Table
  -------------------------------------------------------------------------------//
.ocbc-tbl-container
  block titleTable
  if title != ''
    h4.ocbc-tbl__title
      | !{title}
  if subTitle != ''
    p.ocbc-tbl__subtitle
      | !{subTitle}
  .ocbc-tbl__wrapper
    .ocbc-tbl__scrollover
      .ocbc-tbl(class=(tableClass ? 'ocbc-tbl--'+tableClass : '') class=(border ? 'ocbc-tbl--border' : ''))
        table.ocbc-tbl__tbl
          thead.ocbc-tbl__head
            block tableHead
          ='\n'
          tbody.ocbc-tbl__body
            block tableBody
          ='\n'
