//-------------------------------------------------------------------------------
  @name: Components - Table Document Required
  @description: Components - Table Document Required
  -------------------------------------------------------------------------------//
-
  DocumentRequired = {
    Doc: 'Dokumen',
    Idv: 'Perorangan',
    Com: 'Perusahaan',
    List: [
      {
        val: 1,
        doc: "Mengisi Formulir Permohonan Kredit",
        idv: 1,
        com: 1
      },
      {
        val: 2,
        doc: "KTP/Passport",
        idv: 1,
        com: 1
      },
      {
        val: 3,
        doc: "NPWP",
        idv: 1,
        com: 1
      },
      {
        val: 4,
        doc: "Surat Referensi",
        idv: 1,
        com: 1
      },
      {
        val: 5,
        doc: "Akte Pendiri dan Perubahannya",
        idv: 0,
        com: 1
      },
      {
        val: 6,
        doc: "SIUP, SITU, TDP",
        idv: 0,
        com: 1
      },
      {
        val: 7,
        doc: "SK Menteri Kehakiman",
        idv: 0,
        com: 1
      },
      {
        val: 8,
        doc: "SK Domisili",
        idv: 0,
        com: 1
      },
      {
        val: 9,
        doc: "Laporan Keuangan",
        idv: 0,
        com: 1
      },
      {
        val: 10,
        doc: "Neraca",
        idv: 0,
        com: 1
      },
      {
        val: 11,
        doc: "Laporan Laba Rugi",
        idv: 0,
        com: 1
      },
      {
        val: 12,
        doc: "Dokumen lainnya",
        idv: 0,
        com: 1
      }
    ]
  };

//ocbc-tbl-dr-container
.ocbc-tbl-dr-container
  .ocbc-tbl-dr-scrollover
    .ocbc-tbl-dr-box
      //ocbc-tbl-dr
      table.ocbc-tbl-dr
        //ocbc-tbl-dr__head
        thead.ocbc-tbl-dr__head
          tr.ocbc-tbl-dr__head__row
            th.ocbc-tbl-dr__th
              | !{DocumentRequired.Doc}
            th.ocbc-tbl-dr__th
              | !{DocumentRequired.Idv}
            th.ocbc-tbl-dr__th
              | !{DocumentRequired.Com}
        //ocbc-tbl-dr__body
        tbody.ocbc-tbl-dr__body
          each val in DocumentRequired.List
            tr.ocbc-tbl-dr__body__row
              td.ocbc-tbl-dr__td
                | !{val.doc}
              td.ocbc-tbl-dr__td.ocbc-tbl-dr__data
                if (val.idv === 1)
                  ='\n'
                  i.ocbc-tbl-dr__checklist.ocbc-fi.ocbc-fi-checklist
                  |!{''}
                  |
                else
                  | -
              td.ocbc-tbl-dr__td.ocbc-tbl-dr__data
                if (val.com === 1)
                  ='\n'
                  i.ocbc-tbl-dr__checklist.ocbc-fi.ocbc-fi-checklist
                  |!{''}
                  |
                else
                  | -
