
//-------------------------------------------------------------------------------
  @name: Components - Table Airport Pickup
  @description: Components - Table Airport Pickup
  -------------------------------------------------------------------------------//

extends table-striped.pug

block titleTable
  -
    tableClass = 'airport-pickup';
    title = '';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th(rowspan=2) Deskripsi Layanan/Fasilitas
    th.ocbc-tbl-striped__th(colspan=3) Minimum saldo rata-rata bulanan selama 3 bulan terakhir (dalam Rp)
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th 2 miliar < 5 miliar*
    th.ocbc-tbl-striped__th 5 miliar < 10 miliar
    th.ocbc-tbl-striped__th > 10 miliar

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 
      | Airport Pickup (Jakarta - Surabaya)
    td.ocbc-tbl-striped__td 
      | 8x per tahun (pemakaian 1x per bulan), kendaraan innova
    td.ocbc-tbl-striped__td 
      | 12x per tahun (pemakaian max 2x per bulan), kendaraan Innova
    td.ocbc-tbl-striped__td 
      | 12x per tahun (pemakaian max 2x per bulan), kendaraan Alphard/Mercedes

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Airport Pickup (Singapura)
    td.ocbc-tbl-striped__td 
    td.ocbc-tbl-striped__td 
      | 12x per tahun (pemakaian max 2x per bulan), kendaraan Innova
    td.ocbc-tbl-striped__td 
      | 12x per tahun (pemakaian max 2x per bulan), kendaraan Alphard/Mercedes