//-------------------------------------------------------------------------------
  @name: Components - Full Page Tab
  @description: Components - Full Page Tab
  -------------------------------------------------------------------------------//

//ocbc-tabs__controll
ul.ocbc-tabs__controll.js-tabs(class=data.modifier)
  each val, index in data.item
    if index == 0
      li.ocbc-tabs__controll__item.ocbc-tabs__controll__item--active(data-target=val.target, data-url=val.url)
        | !{val.text}
    else
      li.ocbc-tabs__controll__item(data-target=val.target, data-url=val.url)
        | !{val.text}
