//-------------------------------------------------------------------------------
  @name: Components - Tagging Tab
  @description: Components - Tagging Tab
  -------------------------------------------------------------------------------//

//ocbc-tagging-tab
ul.ocbc-tagging-tab
  .ocbc-tagging-tab__wrapper
    each val in data
      p.ocbc-tagging-tab__item(data-id=val.id)
        | !{val.text}
