//-------------------------------------------------------------------------------
  @name: Components - Tax Amnesty Section
  @subtitleription: Components - Tax Amnesty Section
  -------------------------------------------------------------------------------//

each val in data
  //ocbc-tax-amnesty-section
  .ocbc-tax-amnesty-section(class=(val.reverse ? 'ocbc-tax-amnesty-section--reverse' : ''))
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-tax-amnesty-section__content
            .ocbc-tax-amnesty-section__img-wrapper
              ='\n'
              img.ocbc-tax-amnesty-section__img(src=`img/dummy/fragment/tax-amnesty-section/${val.img}`, alt=val.title)/
              |!{''}
              |
            .ocbc-tax-amnesty-section__txt
              h4.ocbc-tax-amnesty-section__title
                | !{val.title}
              h4.ocbc-tax-amnesty-section__desc
                | !{val.description}
