//-------------------------------------------------------------------------------
  @name: Components - Text Column
  @subtitleription: Components - Text Column
  -------------------------------------------------------------------------------//

//ocbc-txt-col
.ocbc-txt-col
  h3.ocbc-txt-col__title
    | !{data.title}
  p.ocbc-txt-col__desc
    | !{data.description}
  if data.button
    -
      classButton = (data.button.private ? 'ocbc-btn-txt-lnk ocbc-btn-txt-lnk--gray' : '');
      classButton = (data.button.premier ? 'ocbc-btn-txt-lnk ocbc-btn-txt-lnk--gold' : classButton);
      classButton = (data.button.popupClass ? classButton + ' ' + data.button.popupClass : classButton);
    ='\n'
    if data.button.popupClass
      button(type='button', data-target=data.button.to, class=classButton)
        | !{data.button.text}
      |!{''}
      |
    else
      a(href=data.button.to, class=classButton)
        | !{data.button.text}
      |!{''}
      |
