//-------------------------------------------------------------------------------
  @name: Components - Vertical Tab
  @description: Components - Vertical Tab
  -------------------------------------------------------------------------------//

//ocbc-vertical-tab
ul.ocbc-vertical-tab
  each val, index in data
    if index == 0
      .ocbc-vertical-tab__wrapper.js-vertical-tab.ocbc-vertical-tab__wrapper--active(data-target=val.target class=(val.class ? val.class : ''))
        h4.ocbc-vertical-tab__item
          | !{val.text}
        ='\n'
        i.ocbc-fi.ocbc-fi-chevron-right.ocbc-vertical-tab__icon

        if val.subcategory
          .ocbc-vertical-tab__sub-wrapper
            each subVal, index in val.subcategory
              if index == 0
                .ocbc-vertical-tab__sub.js-sub-vertical-tab.ocbc-vertical-tab__sub--active(data-target=subVal.target class=(val.class ? val.class : ''))
                  h4.ocbc-vertical-tab__sub-item
                    | !{subVal.text}
              else
                .ocbc-vertical-tab__sub.js-sub-vertical-tab(data-target=subVal.target class=(val.class ? val.class : ''))
                  h4.ocbc-vertical-tab__sub-item
                    | !{subVal.text}
    else
      .ocbc-vertical-tab__wrapper.js-vertical-tab(data-target=val.target class=(val.class ? val.class : ''))
        h4.ocbc-vertical-tab__item
          | !{val.text}
        ='\n'
        i.ocbc-fi.ocbc-fi-chevron-right.ocbc-vertical-tab__icon

        if val.subcategory
          .ocbc-vertical-tab__sub-wrapper
            each subVal in val.subcategory
              .ocbc-vertical-tab__sub.js-sub-vertical-tab(data-target=subVal.target class=(subVal.class ? subVal.class : ''))
                h4.ocbc-vertical-tab__sub-item
                  | !{subVal.text}

.ocbc-vertical-tab__dd
  .ocbc-vertical-tab__dd__qst
    .ocbc-vertical-tab__dd__select.ocbc-select-wrapper.js-select(data-width='full')
      ='\n'
      select.ocbc-select__element.js-vt-dd(name='js-vt-dd', data-label=data[0].text)
        each val, index in data
          if (index === 0)
            if (val.target)
              option(value=val.target, selected='selected')
                | !{val.text}
            else
              option
                | !{val.text}
          else
            if (val.target)
              option(value=val.target)
                | !{val.text}
            else
              option(value='')
                | !{val.text}

          //- additional subcategory
          if val.subcategory
            each subVal, idx in val.subcategory
              if idx == 0 && index == 0
                option(value=subVal.target, data-type='sub', selected='selected')
                  | !{subVal.text}
              else
                option(value=subVal.target, data-type='sub')
                  | !{subVal.text}
      |!{''}
      |
