//-------------------------------------------------------------------------------
  @name: Components - Vertical Tab Content
  @description: Components - Vertical Tab Content
  -------------------------------------------------------------------------------//
-
  VTab = {
    ContentTitle: "Dokumen yang dibutuhkan"
  }

.ocbc-vt-content
  h3.ocbc-vt-content__title
    | !{VTab.ContentTitle}
