//-------------------------------------------------------------------------------
  @name: Components - Vision Section
  @description: Components - Vision Section
  -------------------------------------------------------------------------------//

- vision = data;

//ocbc-vision-section
.ocbc-vision-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-vision-section__content
          .ocbc-vision-section__image
            -
              data = vision.image
            include image-circle.pug
          .ocbc-vision-section__txt
            h2.ocbc-vision-section__title
              | !{vision.title}
            h2.ocbc-vision-section__desc
              | !{vision.desc}
