//-------------------------------------------------------------------------------
  @name: Components - Exchange Rate Table
  @description: Components - Exchange Rate Table
  -------------------------------------------------------------------------------//

//ocbc-widget-xr-tbl-container
.ocbc-widget-xr-tbl-container
  .ocbc-widget-xr-tbl-scrollover
    .ocbc-widget-xr-tbl__tab-wrapper
      ='\n'
      button.js-xr-tbl-tab.ocbc-widget-xr-tbl__tab-btn.ocbc-widget-xr-tbl__tab-btn--active(data-type-id='bn')
        | Bank Notes
      ='\n'
      button.js-xr-tbl-tab.ocbc-widget-xr-tbl__tab-btn(data-type-id='tt')
        | Telegraphics Transfer
      |!{''}
      |
    .ocbc-widget-xr-tbl-box
      //ocbc-widget-xr-tbl
      table.ocbc-widget-xr-tbl
        //ocbc-widget-xr-tbl__head
        thead.ocbc-widget-xr-tbl__head
          tr.ocbc-widget-xr-tbl__head__row
            th.ocbc-widget-xr-tbl__th
              | !{data.MU}
            th.ocbc-widget-xr-tbl__th(colspan="2")
              | !{data.BN}
            th.ocbc-widget-xr-tbl__th(colspan="2")
              | !{data.TT}
          tr.ocbc-widget-xr-tbl__head__row
            th.ocbc-widget-xr-tbl__th(data-content='Mata Uang')
            th.ocbc-widget-xr-tbl__th(data-type='bn')
              | Beli
            th.ocbc-widget-xr-tbl__th(data-type='bn')
              | Jual
            th.ocbc-widget-xr-tbl__th(data-type='tt')
              | Beli
            th.ocbc-widget-xr-tbl__th(data-type='tt')
              | Jual
        //ocbc-widget-xr-tbl__body
        tbody.ocbc-widget-xr-tbl__body
          each val in data.currencyList
            tr.ocbc-widget-xr-tbl__body__row
              td.ocbc-widget-xr-tbl__td
                ='\n'
                span.ocbc-widget-xr-tbl__flag
                  ='\n'
                  img.ocbc-widget-xr-tbl__flag-img(src='img/flag/'+val.flag, alt=val.currency)/
                  |!{''}
                  |
                ='\n'
                | !{val.currency}
                |
              td.ocbc-widget-xr-tbl__td.ocbc-widget-xr-tbl__data(data-type='bn')
                | !{val.bnBuy}
              td.ocbc-widget-xr-tbl__td.ocbc-widget-xr-tbl__data(data-type='bn')
                | !{val.bnSell}
              td.ocbc-widget-xr-tbl__td.ocbc-widget-xr-tbl__data(data-type='tt')
                | !{val.ttBuy}
              td.ocbc-widget-xr-tbl__td.ocbc-widget-xr-tbl__data(data-type='tt')
                | !{val.ttSell}
      //ocbc-widget-xr-tbl__overlay
      .ocbc-widget-xr-tbl__overlay
        //- preloader
        include preloader.pug
