//-------------------------------------------------------------------------------
  @name: Components - Widget Kurs Filter
  @description: Components - Widget Kurs Filter
  -------------------------------------------------------------------------------//

//ocbc-widget-xr-calc
.ocbc-widget-xr-calc
  //ocbc-widget-xr-calc__head
  if data.title || data.date
    .ocbc-widget-xr-calc__head
      //ocbc-widget-xr-calc__title
      if data.title
        h3.ocbc-widget-xr-calc__title
          | !{data.title}
      //ocbc-widget-xr-calc__date
      if data.date
        p.ocbc-widget-xr-calc__date
          | !{data.date}
        //js-dummy-refresh-xr-calc-tbl is class for trigger dummy preloader, change class name js for integration
        ='\n'
        button.ocbc-btn-icon.js-dummy-refresh-xr-calc-tbl(type='button')
          ='\n'
          i.ocbc-fi.ocbc-fi-refresh
          |!{''}
          |
  //ocbc-widget-xr-calc__body
  .ocbc-widget-xr-calc__body
    //ocbc-widget-xr-calc__form
    form.ocbc-widget-xr-calc__form(action='')
      //ocbc-widget-xr-calc__form-input
      .ocbc-widget-xr-calc__form-input
        .ocbc-widget-xr-calc__input-col
          p.ocbc-widget-xr-calc__label
            | Saya ingin membeli
          .ocbc-widget-xr-calc__input-group
            .ocbc-widget-xr-calc__input-select
              .ocbc-select-wrapper.js-select(data-width='full')
                ='\n'
                select.ocbc-select__element(name='currency_from', data-label='Currency')
                  each val, index in data.list
                    if (index === 0)
                      option(value=val.val, selected='selected')
                        | !{val.text}
                    else
                      option(value=val.val)
                        | !{val.text}
                |!{''}
                |
            .ocbc-widget-xr-calc__input-txt
              //js-dummy-input-currency is class for validate currency, change class name js for integration
              ='\n'
              input.ocbc-input.ocbc-input--minimalize.js-dummy-input-currency.js-dummy-input-currency-from(type='text', value='1,000,000')/
              |!{''}
              |
        //js-dummy-switch-currency is class for validate currency, change class name js for integration
        .ocbc-widget-xr-calc__switch.js-dummy-switch-currency
          ='\n'
          button.ocbc-btn-icon(type='button')
            ='\n'
            img.ocbc-widget-xr-calc__switch__icon(src='img/icon/switch.svg', alt='Switch Icon')/
            |!{''}
            |
          |!{''}
          |
        .ocbc-widget-xr-calc__input-col
          p.ocbc-widget-xr-calc__label
            | Dari
          .ocbc-widget-xr-calc__input-group
            .ocbc-widget-xr-calc__input-select
              .ocbc-select-wrapper.js-select(data-width='full')
                ='\n'
                select.ocbc-select__element(name='currency_to', data-label='Currency')
                  each val, index in data.list
                    if (index === 1)
                      option(value=val.val, selected='selected')
                        | !{val.text}
                    else
                      option(value=val.val)
                        | !{val.text}
                |!{''}
                |
            .ocbc-widget-xr-calc__input-txt
              //js-dummy-input-currency is class for validate currency, change class name js for integration
              ='\n'
              input.ocbc-input.ocbc-input--minimalize.js-dummy-input-currency.js-dummy-input-currency-to(type='text', value='70')/
              |!{''}
              |
