//-------------------------------------------------------------------------------
  @name: Kalkulator KPR - Calculator Form
  @description: Kalkulator KPR - Calculator Form
  -------------------------------------------------------------------------------//

extends ../../layout/calculator.pug

block title
  -
    title = 'Rencanakan Kepemilikan Rumah Anda';
    form = {
      action: 'hasil-perhitungan-kalkulator-kpr.html',
      label: 'kpr'
    };

block form
  //ocbc-calc__form__content
  .ocbc-calc__form__section.ocbc-calc__form__section--active
    .ocbc-calc__form__content
      //ocbc-calc__flds
      .ocbc-calc__flds
        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          -
            data = {
              class: 'js-rencana-kepemilikan',
              name: 'rencana-kepemilikan',
              label: 'Rencanakan Kepemilikan Rumah Anda',
              rangeType: 'year',
              min: '0',
              max: '20',
              from: '0',
              postfix: ' Tahun'
            };
          include ../../components/input-range-slider.pug

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          //ocbc-calc__flds__row
          .ocbc-calc__flds__row
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              .ocbc-field
                p.ocbc-field__label
                  | Dana Saat Ini
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-dana-saat-ini(type='text', name='nominal', placeholder='Masukkan Dana Saat Ini')/
                  |!{''}
                  |
            //ocbc-calc__flds__col-6
            .ocbc-calc__flds__col-6
              //ocbc-field
              .ocbc-field
                p.ocbc-field__label
                  | Pengembalian Tahunan (%)
                .ocbc-field__input
                  ='\n'
                  input.ocbc-input.ocbc-input--minimalize.js-pengembalian-tahunan(type='text', name='nominal', placeholder='Masukkan Pengembalian Tahunan')/
                  |!{''}
                  |

        //ocbc-calc__flds__item
        .ocbc-calc__flds__item
          .ocbc-field
            p.ocbc-field__label
              | Uang yang disisihkan per Bulan
            .ocbc-field__input
              ='\n'
              input.ocbc-input.ocbc-input--minimalize.js-biaya-perbulan(type='text', name='nominal', placeholder='Masukan Nominal')/
              |!{''}
              |

      //ocbc-calc__submit
      .ocbc-calc__submit
        ='\n'
        button.ocbc-btn.ocbc-btn--primary.js-form-submit(type='submit', disabled='disabled')
          | Hitung
        |!{''}
        |

block image
  -
    image = {
      src: 'kpr.png',
      alt: 'KPR Banner'
    }
