//-------------------------------------------------------------------------------
  @name: Digital Channel - Card Up Selling
  @description: Digital Channel - Card Up Selling
  -------------------------------------------------------------------------------//

-
  modifier = 'more-pb'
  data = {
    border: true,
    title: 'Dapatkan Cashback 100% Bertransaksi',
    description: 'Bayar tagihan pakai ONe Mobile dapatkan cashback hingga 100%',
    button: 'Lihat Promo',
    to: '#'
  }

include ../../layout/card-upselling.pug
