//-------------------------------------------------------------------------------
  @name: Digital Channel - Main Banner
  @description: Digital Channel - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    mode: bannerMode,
    title: 'Mudah dan Cepat Apapun Kegiatan Perbankannya',
    description: 'Akses cepat kegiatan perbankan dengan beragam pilihan transaksi secara online tanpa buang waktu',
    image: {
      desktop: 'digital-channel-d.jpg',
      mobile: 'digital-channel-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
