//-------------------------------------------------------------------------------
  @name: Digital Channel - One Mobile
  @description: Digital Channel - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    image: {
      desktop: 'digital-channel-d.jpg',
      mobile: 'digital-channel-m.jpg'
    },
    title: 'Lakukan Semuanya dengan Smartphone',
    description: 'Mudahnya melakukan transaksi perbankan ditengah kesibukan menggunakan aplikasi ONe Mobile OCBC NISP',
    button: {
      text: 'Lihat Kelebihannya',
      to: '#'
    }
  }

include ../../components/one-mobile.pug
