//-------------------------------------------------------------------------------
  @name: Digital Channel - Promo Card
  @description: Digital Channel - Promo Card
  -------------------------------------------------------------------------------//

-
  data = {
    icon: '',
    title: 'Bebas pilih kemudahan transaksinya',
    card: [
      {
        isRectangle: true,
        img: 'digital-channel-1.jpg',
        to: 'digital-channel-one-mobile.html',
        title: 'ONe Mobile',
        description: 'Capai Tujuan Finansial dengan Satu Aplikasi'
      },
      {
        isSquare: true,
        img: 'digital-channel-2.jpg',
        to: 'digital-channel-internet-banking.html',
        title: 'Internet Banking',
        description: 'Layanan yang membantu kegiatan perbankan tanpa antre di cabang'
      },
      {
        isSquare: true,
        img: 'digital-channel-3.jpg',
        to: 'digital-channel-sms-banking.html',
        title: 'SMS Banking',
        description: 'Layanan transaksi perbankan hanya melalui SMS'
      },
      {
        isSquare: true,
        img: 'digital-channel-4.jpg',
        to: '#',
        title: 'ATM OCBC NISP',
        description: 'Layanan transaksi perbankan yang tersebar di berbagai lokasi strategis'
      },
      {
        isSquare: true,
        img: 'digital-channel-5.jpg',
        to: '#',
        title: 'EDC OCBC NISP',
        description: 'Layanan transaksi pembelanjaan cepat & mudah'
      }
    ]
  };
include ../../layout/highlight-promo.pug
