//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Anggaran Dasar
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Anggaran Dasar
  -------------------------------------------------------------------------------//

//ocbc-announcement
h4.ocbc-announcement__title
  | Kumpulan Akta Anggaran Dasar Bank OCBC NISP

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Anggaran Dasar 9 April 2015
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Akta PKR Anggaran Dasar No. 33'
      }
    ]

  include ../../../../layout/announcement-list.pug

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Anggaran Dasar 17 Mei 2018
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'SK MENHUKHAM - Akta PKR No. 43'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Akta PK RUPST No. 43 - AD Pasal 4'
      }
    ]

  include ../../../../layout/announcement-list.pug
='\n'
// /ocbc-announcement
