//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - ASEAN Corporate Governance
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - ASEAN Corporate Governance
  -------------------------------------------------------------------------------//

// ocbc-announcement
h4.ocbc-announcement__title
  | Laporan Penilaian ASEAN Corporate Governance Scorecard

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | ASEAN Corporate Governance Level 1
  -
    data = [
      {
        icon: 'report.svg',
        title: 'Part A - Hak-hak Pemegang Saham',
        target: '.popup-asean-corporate-governance',
        popupClass: 'js-show-popup-general'
      },
      {
        icon: 'report.svg',
        title: 'Part B - Hak Suara dan Pengungkapan Hak Kepemilikan',
        target: '.popup-asean-corporate-governance',
        popupClass: 'js-show-popup-general'
      },
      {
        icon: 'report.svg',
        title: 'Part C - Peran Pemangku Kepentingan',
        target: '.popup-asean-corporate-governance',
        popupClass: 'js-show-popup-general'
      },
      {
        icon: 'report.svg',
        title: 'Part D - Pengungkapan dan Transparansi',
        target: '.popup-asean-corporate-governance',
        popupClass: 'js-show-popup-general'
      },
      {
        icon: 'report.svg',
        title: 'Part E - Tanggung Jawab Dewan Komisaris',
        target: '.popup-asean-corporate-governance',
        popupClass: 'js-show-popup-general'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Iklan Ringkasan Risalah RUPSLB'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Ringkasan Risalah RUPSLB'
      }
    ];
  include ../../../../layout/announcement-list.pug

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | ASEAN Corporate Governance Level 2
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Bonus',
        target: '.popup-asean-corporate-governance',
        popupClass: 'js-show-popup-general'
      }
    ];
  include ../../../../layout/announcement-list.pug
='\n'
// /ocbc-announcement
