//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Kebijakan Terkait Tata Kelola
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Kebijakan Terkait Tata Kelola
  -------------------------------------------------------------------------------//

//ocbc-announcement
h4.ocbc-announcement__title
  | Kumpulan Kebijakan Terkait Tata Kelola Perusahaan

//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Pedoman Penerapan Tata Kelola Bank'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Piagam Unit Audit Internal'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Kebijakan Manajemen Risiko'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Kebijakan Pengadaan Barang dan/atau Jasa'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Kutipan Kebijakan APU/PPT'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Prosedur Program Whistleblowing (Ringkasan)'
      },
      {
        icon: 'report.svg',
        title: 'Kebijakan Pelaporan Kepemilikan Saham Direksi dan Dewan Komisaris',
        target: '.popup-policy-report',
        popupClass: 'js-show-popup-general'
      }
    ]

  include ../../../../layout/announcement-list.pug

='\n'
// /ocbc-announcement
