//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Kode Etik
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Kode Etik
  -------------------------------------------------------------------------------//

//ocbc-reg-content__body__item
.ocbc-reg-content__body__item
  h4.ocbc-announcement__title
    | Kode Etik yang Harus Dipatuhi Perusahaan
  p.ocbc-reg-content__desc
    | Kode Etik adalah aturan atau tata tertib terdasar dalam perusahaan yang harus dipatuhi segenap karyawan, termasuk jajaran Direksi maupun Dewan Komisaris. Pengelolaan perusahaan tidak dapat dilepaskan dari aturan-aturan main yang didasari pada aturan hukum, moral dan etika yang berlaku. Karena itu Kode Etik senantiasa akan disempurnakan atau diselaraskan, sesuai dengan kondisi perusahaan maupun kondisi masyarakat.

='\n\n'
//ocbc-announcement
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Pedoman Perilaku Kode Etik'
      }
    ];
  include ../../../../layout/announcement-list.pug
='\n'
// /ocbc-announcement
='\n\n'
