//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Laporan Tata Kelola Perusahaan
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Laporan Tata Kelola Perusahaan
  -------------------------------------------------------------------------------//

//ocbc-reg-content__body__item
.ocbc-reg-content__body__item
  h4.ocbc-announcement__title
    | Proses Penerapan Tata Kelola Perusahaan
  p.ocbc-reg-content__desc
    | Bank berkomitmen untuk terus meningkatkan kualitas implementasi prinsip-prinsip Tata Kelola Perusahaan Yang Baik (Good Corporate Governance / ”GCG”) guna memastikan bahwa seluruh proses dan mekanisme internal yang dijalankan di lingkungan Bank telah selaras dengan tujuan Bank, serta berperan dalam mencegah terjadinya penyimpangan.
  p.ocbc-reg-content__desc
    | Bank secara konsisten telah menerapkan prinsip-prinsip Tata Kelola Perusahaan Yang Baik (Good Corporate Governance/GCG) dalam menjalankan seluruh kegiatan dan aktivitas Bank melalui penyusunan kebijakan dan prosedur internal yang komprehensif dan terinternalisasi guna terciptanya sebuah sistem yang dapat menjaga keseimbangan terutama dalam hal pengendalian internal perusahaan guna mencapai tujuan dan harapan seluruh pihak yang berkepentingan sehingga dapat menciptakan nilai tambah kepada para pemangku kepentingan Bank.
  p.ocbc-reg-content__desc
    | Bank memandang bahwa penerapan Tata Kelola yang efektif dan efisien dapat mendukung pencapaian target bisnis Bank melalui perencanaan strategis implementasi Tata Kelola, yaitu dengan membangun komitmen, sistem dan budaya Perusahaan. Terkait hal tersebut, Bank menyadari pentingnya komitmen dari seluruh jajaran manajemen maupun karyawan terhadap peningkatan kualitas penerapan praktik Tata Kelola yang telah ditunjukkan dengan adanya upaya-upaya penyesuaian terhadap praktik Tata Kelola terbaik.

='\n\n'
//ocbc-announcement
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Laporan Implementasi Tata Kelola Perusahaan Tahun 2019'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Laporan Implementasi Tata Kelola Perusahaan Tahun 2018'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Laporan Implementasi Tata Kelola Perusahaan Tahun 2017'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Laporan Implementasi Tata Kelola Perusahaan Tahun 2016'
      }
    ]

  include ../../../../layout/announcement-list.pug
='\n'
// /ocbc-announcement
='\n\n'
