//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Pedoman Kerja
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Pedoman Kerja
  -------------------------------------------------------------------------------//

//ocbc-announcement
h4.ocbc-announcement__title
  | Pedoman Tata Tertib Kerja sebagai Acuan Pelaksanaan Tugas
//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Pedoman Kerja Dewan Komisaris dan Direksi
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Pedoman dan Tata Tertib Kerja Dewan Komisaris'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Pedoman dan Tata Tertib Kerja Direksi'
      }
    ]

  include ../../../../layout/announcement-list.pug

//ocbc-announcement__section
.ocbc-announcement__section
  p.ocbc-announcement__section__title
    | Pedoman Kerja Komite
  -
    data = [
      {
        to: '#',
        icon: 'report.svg',
        title: 'Piagam Komite Audit'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Kode Etik Komite Audit'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Pedoman dan Tata Tertib Kerja Komite Pemantau Risiko'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Pedoman dan Tata Tertib Kerja Komite Remunerasi dan Nominasi'
      },
      {
        to: '#',
        icon: 'report.svg',
        title: 'Kebijakan Nominasi Dewan Komisaris, Direksi, Dewan Pengawas Syariah, Komite Dewan Komisaris'
      }
    ]

  include ../../../../layout/announcement-list.pug

='\n'
// /ocbc-announcement
