//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Rapat Umum Pemegang Saham
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Rapat Umum Pemegang Saham
  -------------------------------------------------------------------------------//

//ocbc-announcement
h4.ocbc-announcement__title
  | Laporan Pelaksanaan Rapat Umum Pemegang Saham
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2020',
        target: '2019-rups',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2019',
        target: '2019-rups',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2018',
        target: '2018-rups',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2017',
        target: '2017-rups',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2016',
        target: '2016-rups',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2015',
        target: '2015-rups',
        popupClass: 'js-show-popup-file-report'
      },
      {
        icon: 'report.svg',
        title: 'RUPS Tahun 2014',
        target: '2015-rups',
        popupClass: 'js-show-popup-file-report'
      }
    ]

  include ../../../../layout/announcement-list.pug

='\n'
// /ocbc-announcement
