//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Tabel Afiliasi
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Tabel Afiliasi
  -------------------------------------------------------------------------------//

//ocbc-tbl-striped__list
.ocbc-tbl-striped__list
  //ocbc-tbl-striped__item
  .ocbc-tbl-striped__item
    //- Table
    include table/komisaris-komisaris.pug
    //- Legend
    .ocbc-tbl-striped__legend
      //ocbc-tbl-striped__legend__item
      .ocbc-tbl-striped__legend__item
        p.ocbc-tbl-striped__legend__txt
          ='\n'
          i.ocbc-fi.ocbc-fi-checklist
          ='\n'
          span.ocbc-tbl-striped__legend__separator :
          |!{''}
          | Ada
          |
      //ocbc-tbl-striped__legend__item
      .ocbc-tbl-striped__legend__item
        p.ocbc-tbl-striped__legend__txt
          |!{''}
          | -
          |!{''}
          span.ocbc-tbl-striped__legend__separator :
          |!{''}
          | Tidak Ada
          |

  //ocbc-tbl-striped__item
  .ocbc-tbl-striped__item
    //- Table
    include table/direksi-komisaris.pug
    //- Legend
    .ocbc-tbl-striped__legend
      //ocbc-tbl-striped__legend__item
      .ocbc-tbl-striped__legend__item
        p.ocbc-tbl-striped__legend__txt
          ='\n'
          i.ocbc-fi.ocbc-fi-checklist
          ='\n'
          span.ocbc-tbl-striped__legend__separator :
          |!{''}
          | Ada
          |
      //ocbc-tbl-striped__legend__item
      .ocbc-tbl-striped__legend__item
        p.ocbc-tbl-striped__legend__txt
          |!{''}
          | -
          |!{''}
          span.ocbc-tbl-striped__legend__separator :
          |!{''}
          | Tidak Ada
          |

