//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Whistleblowing
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Whistleblowing
  -------------------------------------------------------------------------------//


//ocbc-reg-content__body__item
.ocbc-reg-content__body__item
  h4.ocbc-announcement__title
    | Sarana Laporan Pengaduan Pelanggaran
  p.ocbc-reg-content__desc
    | Sebagai salah satu perwujudan komitmen Bank OCBC NISP untuk terus meningkatkan kualitas implementasi Tata Kelola Perusahaan yang Baik (Good Corporate Governance), mengembangkan lingkungan bisnis yang berintegritas dan memberikan customer experience yang optimal bagi nasabah, maka Bank menyediakan sarana pelaporan untuk dapat mencegah atau mendeteksi adanya penyimpangan, pelanggaran kode etik atau indikasi fraud.
  p.ocbc-reg-content__desc
    | Identitas pelapor akan dijamin kerahasiaanya dan laporan dapat dibuat dengan tidak memberikan identitas (anonim). Agar Bank dapat memahami laporan dan segera menindaklanjutinya, kami sangat mengharapkan agar informasi yang disampaikan lengkap dan jelas .
  p.ocbc-reg-content__desc
    | Terima kasih atas kepedulian dan kepercayaan kepada kami.

='\n\n'
//ocbc-reg-content__body__item
.ocbc-reg-content__body__item
  h4.ocbc-announcement__title
    | Anda dapat melaporkan indikasi kejadian sebagai berikut:
  ul.ocbc-reg-content__list
    li.ocbc-reg-content__list__item
      | Indikasi Fraud
    li.ocbc-reg-content__list__item
      | Pelanggaran Kebijakan & Prosedur
    li.ocbc-reg-content__list__item
      | Pelanggaran Kode Etika
    li.ocbc-reg-content__list__item
      | Perubahan Gaya Hidup

='\n\n'
//ocbc-announcement
h4.ocbc-announcement__title
  | Pelapor dapat menyampaikan laporan melalui:

//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        to: 'https://whistleblowing.ocbcnisp.com/report/create.html',
        icon: 'report.svg',
        title: 'Buat Laporan'
      },
      {
        to: 'mailto:whistleblowing@ocbcnisp.com',
        icon: 'email.svg',
        title: 'Buat laporan Melalui e-mail'
      },
      {
        to: 'https://whistleblowing.ocbcnisp.com/report/view.html',
        icon: 'advice.svg',
        title: 'Tindak Lanjut Laporan'
      }
    ]

  include ../../../../layout/announcement-list.pug

//end ocbc-announcement
='\n\n'

//ocbc-management-structure
h4.ocbc-management-structure__title
  | Proses pelaporan Whistleblowing

.ocbc-management-structure__legend
  ='\n'
  img.ocbc-management-structure__legend-img(src='img/dummy/fragment/pelaporan-whistleblowing/whistleblowing-proses-legend.png', alt='Whistleblowing Legend')/
  |!{''}
  |

.ocbc-management-structure__org
  ='\n'
  img.ocbc-management-structure__org__img-d(src='img/dummy/fragment/pelaporan-whistleblowing/whistleblowing-proses.png', alt='Whistleblowing Proses')/
  ='\n'
  img.ocbc-management-structure__org__img-m(src='img/dummy/fragment/pelaporan-whistleblowing/whistleblowing-proses-m.png', alt='Whistleblowing Proses')/
  |!{''}
  |

p.ocbc-management-structure__note
  | *Perlindungan kepada pelapor dapat dilakukan apabila pelapor memberikan data identitas yang dapat dihubungi oleh Whistleblowing Protection Officer
//end cbc-management-structure
='\n\n'

// ocbc-announcement
h4.ocbc-announcement__title
  | Kebijakan & perlindungan
//ocbc-announcement__section
.ocbc-announcement__section
  -
    data = [
      {
        icon: 'document.svg',
        title: 'Lihat Detail',
        target: '.popup-whistleblowing',
        popupClass: 'js-show-popup-general'
      }
    ]

  include ../../../../layout/announcement-list.pug
='\n'
// /ocbc-announcement

='\n\n'
-
  data = {
    small: true,
    border: true,
    title: 'Punya pertanyaan seputar Whistleblowing?',
    description: 'Temukan jawaban paling populer seputar Whistleblowing',
    button: 'Lihat FAQ',
    to: '#'
  }
include ../../../../components/card-upselling.pug
='\n\n'
