//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Asuransi - Card Article
  @description: Hasil Perhitungan Kalkulator Asuransi - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'nyala-1.jpg',
        label: 'Pendidikan',
        title: 'Cara mengamankan pendidikan Anak',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'individu-3.jpg',
        label: 'Pendidikan',
        title: 'Cara mengamankan pendidikan Anak',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

include ../../layout/card-article.pug
