//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Asuransi - Table Result
  @description: Hasil Perhitungan Kalkulator Asuransi - Table Result
  -------------------------------------------------------------------------------//

extends ../../layout/table-result.pug

block tableTitle
  -
    title = 'Hasil Perhitungan Anda';
    modifier = 'no-calc';

block btnOptions
  -
    data = [
      {
        icon: 'print.svg',
        label: 'Print',
        class: 'print',
        to: 'hasil-perhitungan-kalkulator-asuransi-share.html#print',
        classButton: 'js-calc-result-print'
      },
      {
        icon: 'share.svg',
        label: 'Share',
        class: 'share',
        classButton: 'js-calc-result-share',
        list: [
          {
            icon: 'whatsapp.svg',
            text: 'Whatsapp',
            to: 'hasil-perhitungan-kalkulator-asuransi-share.html#whatsapp',
            target: '_blank',
            action: 'share/whatsapp/share'
          },
          {
            icon: 'email.svg',
            text: 'Email',
            to: 'hasil-perhitungan-kalkulator-asuransi-share.html#email',
            target: '_blank',
          },
          {
            icon: 'fragment-default.svg',
            text: 'Simpan',
            to: 'hasil-perhitungan-kalkulator-asuransi-share.html#save',
            target: '_blank'
          }
        ]
      }
    ];

  include ../../layout/icon-text.pug

block table
  -
    data = {
      table : [
        {
          description: 'Anda harus berkontribusi bulanan sebesar',
          value: 'USD1104/mo'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3 juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari. Pengembalian uang penuh untuk transplantasi organ hingga US$ 50k untuk biaya operasi)'
      ]
    }

  include ../../components/table-result.pug

  -
    data = {
      table : [
        {
          description: 'Proteksi Anda',
          value: 'USD1104/mo'
        },
        {
          description: 'Proteksi Pasangan',
          value: 'USD1104/mo'
        },
        {
          borderTop: true,
          description: 'Total Anda harus berkontribusi sebesar <strong>(per bulan)</strong>',
          value: 'USD2208/mo'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3 juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari. Pengembalian uang penuh untuk transplantasi organ hingga US$ 50k untuk biaya operasi)'
      ]
    }

  //Table Hasil Untuk Pasangan
  //include ../../components/table-result.pug

  -
    data = {
      table : [
        {
          description: 'Proteksi Anda',
          value: 'USD1104/mo'
        },
        {
          description: 'Proteksi Tertanggung 1',
          value: 'USD1104/mo'
        },
        {
          description: 'Proteksi Tertanggung 2',
          value: 'USD1104/mo'
        },
        {
          borderTop: true,
          description: 'Total Anda harus berkontribusi sebesar <strong>(per bulan)</strong>',
          value: 'USD 3312/mo'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3 juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari. Pengembalian uang penuh untuk transplantasi organ hingga US$ 50k untuk biaya operasi)'
      ]
    }

  //Table Hasil Untuk Keluarga
  //include ../../components/table-result.pug
