//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A1
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A1
  -------------------------------------------------------------------------------//

extends ../../../../../../components/table.pug

block titleTable
  -
    tableClass = 'asean-governance';
    title = '';
    subTitle = '';
    border = true;

block tableHead
  tr.ocbc-tbl__tr
    th.ocbc-tbl__th(colspan='4') A.1 Basic Shareholder Rights
block tableBody
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.1.1
    td.ocbc-tbl__td
      |!{''}
      | Does the company pay (interim and final/annual) dividends in an equitable and timely manner; that is, all shareholders are treated equally and paid within 30 days after being
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | declared for interim dividends and
        li.ocbc-tbl__list__item
          | approved by shareholders at general meetings for final dividends? In case the company has offered Scrip dividend, did the company paid the dividend within 60 days.
    td.ocbc-tbl__td
      | Interim Dividen
      br/
      |  The Company did not distribute interim dividend for fiscal year 2018.
      br/
      br/
      | Final Dividend
      br/
      | The Company did not distribute final dividend for fiscal year 2018.
    td.ocbc-tbl__td
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          |!{''}
          | Annual Report 2018
          ='\n'
          ol.ocbc-tbl__list
            li.ocbc-tbl__list__item
              | Part Stock Highlight - Dividend Summary  (page 11)
              br/
              | !{'Link: '}
              a.ocbc-lnk(href='https://goo.gl/7XS4NB', target='_blank') https://goo.gl/7XS4NB
            li.ocbc-tbl__list__item
              | Part General Meeting of Shareholders - 2018 AGMS Resolution and Its Realization - Second Agenda (page 154)
              br/
              | !{'Link: '}
              a.ocbc-lnk(href='https://goo.gl/HQK6ot', target='_blank') https://goo.gl/HQK6ot
        li.ocbc-tbl__list__item
          | Company Website - Summary of Minutes of 2018 AGMS Announcement (Second Agenda)
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/HQK6ot
