//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A2
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A2
  -------------------------------------------------------------------------------//

extends ../../../../../../components/table.pug

block titleTable
  -
    tableClass = 'asean-governance';
    title = '';
    subTitle = '';
    border = true;

block tableHead
  tr.ocbc-tbl__tr
    th.ocbc-tbl__th(colspan='4') A.2 Rights to participate un decisions concerning fundamental corporate changes
block tableBody
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td(colspan=1)
    td.ocbc-tbl__td(colspan=2) Do Shareholder have the right to participate in:
    td.ocbc-tbl__td(colspan=1)
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.2.1
    td.ocbc-tbl__td Amendments to the company's constitution?
    td.ocbc-tbl__td Amendment of the Article of Association shall be determined by the GMS where Shareholders have the right to participate.
    td.ocbc-tbl__td
      | Company Website - Article of Association (9 April 2015) - Article 4, Section 5 (Pg.28-29).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/iYDLR1', target='_blank') goo.gl/iYDLR1
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.2.2
    td.ocbc-tbl__td The authorisation of additional shares?
    td.ocbc-tbl__td The share that are still in the portfolio will be issued by the Company based on the GMS Approval where Shareholders have the right to participate in the authorisation of additional shares.
    td.ocbc-tbl__td
      | Company Website - Article of Association (9 April 2015) - Article 4, Section 5 (Pg.28-29).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/iYDLR1', target='_blank') goo.gl/iYDLR1
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.2.3
    td.ocbc-tbl__td The transfer of all or substantially all assets, which in effect results in the sale of the company?
    td.ocbc-tbl__td The legal action to transfer, release the rights or encumber all or most of the Company's assets shall obtain the GMS approval.
    td.ocbc-tbl__td
      | Company Website - Article of Association (9 April 2015) - Article 4, Section 5 (Pg.28-29).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/iYDLR1', target='_blank') goo.gl/iYDLR1
