//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A3
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A3
  -------------------------------------------------------------------------------//

extends ../../../../../../components/table.pug

block titleTable
  -
    tableClass = 'asean-governance';
    title = '';
    subTitle = '';
    border = true;

block tableHead
  tr.ocbc-tbl__tr
    th.ocbc-tbl__th(colspan='4') A.3  Right to participate effectively in and vote in general shareholder meetings and should be informed of the rules, including voting procedures, that govern general shareholder meetings.
block tableBody
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.1
    td.ocbc-tbl__td Do shareholders have the opportunity, evidenced by an agenda item, to approve remuneration (fees, allowances, benefit-in-kind and other emoluments) or any increases in remuneration for the non-executive directors/ commissioners?
    td.ocbc-tbl__td
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | 2016 AGMS - April 7, 2016
          br/
          | Fifth agenda, point 2 (page 3) evidenced that the GMS gave the authorization to majority shareholder to determine the amount of salary or honorarium and allowance to BOC, and  authorized BOC to determine the amount of salary or honorarium ana allowance for BOD. The authorization is valid for 3 years (from the financial year 2017 up to and including the financial year 2019)
        li.ocbc-tbl__list__item
          | Annual Report 2018 - Part Remuneration Policy of Board or Commissioner (BOC) - Page 168 GMS granted the authority to majority shareholders to determine salary/honorarium and allowances for BOC based on recommendation from Remunerartion and Nomination Committee.
    td.ocbc-tbl__td
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | 2016 AGMS - Summary of Minutes of 2016 AGMS - Company Website
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/k5Gtfq', target='_blank') goo.gl/k5Gtfq
        li.ocbc-tbl__list__item
          | Annual Report 2018 Part GCG - Remuneration Policy of BOC (page 168)
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/HQK6ot', target='_blank') https://goo.gl/HQK6ot
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.2
    td.ocbc-tbl__td Does the company provide non-controlling shareholders a right to nominate candidates for board of directors/ commissioners?
    td.ocbc-tbl__td
      |!{''}
      | The Company provide all shareholders (including non-controlling shareholders) the right to nominate candidates for BOD/BOC by giving proposal for GMS as stipulated in:
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Announcement of AGMS - Paragraph 4 - Shareholder may propose agenda to the Company.
        li.ocbc-tbl__list__item
          | Article of Association, Article 12, page 58-61 The carrying out of the GMS is able to be conducted based on request of Shareholders.
    td.ocbc-tbl__td
      |!{''}
      | Company Website:
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Announcement of AGMS - Paragraph 4
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/x6jkPP', target='_blank') https://goo.gl/x6jkPP
        li.ocbc-tbl__list__item
          | Article of Association - Article 12 Point 6 (9 April 2015)
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/iYDLR1', target='_blank') goo.gl/iYDLR1
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.3
    td.ocbc-tbl__td Does the company allow shareholders to elect directors/commissioners individually?
    td.ocbc-tbl__td The Company allow shareholders to elect directors/ commissioners individually, as stated in the Summary of Minutes of 2018 AGMS, Ninth Agenda.
    td.ocbc-tbl__td
      | Company Website - Summary of Minutes of 2018 AGMS
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/84Sifh', target='_blank') https://goo.gl/84Sifh
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.4
    td.ocbc-tbl__td Does the company disclose the voting procedures used before the start of meeting?
    td.ocbc-tbl__td
      | Voting procedure used was stated on Rules of Procedure of AGMS which is presented and read before the GMS started.
      br/
      | Rules of Procedure of AGMS Point 5.
    td.ocbc-tbl__td
      | Company Website - Rules of procedure of AGMS 2018
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/tN18TJ', target='_blank') https://goo.gl/tN18TJ
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.5
    td.ocbc-tbl__td Do the minutes of the most recent AGM record that the shareholders were given the opportunity to ask questions and the questions raised by shareholders and answers given recorded?
    td.ocbc-tbl__td
      |!{''}
      | Shareholders were given the opportunity to ask questions as stated on:
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Rules of Procedure of 2018 AGMS Point 6
        li.ocbc-tbl__list__item
          | Summary of Minutes of 2018 AGMS
      |!{''}
      | Recorded the questions raised by shareholders and answer given.
    td.ocbc-tbl__td
      |!{''}
      | Company Website:
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Rules of procedure of 2018 AGMS - Point 6
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/tN18TJ', target='_blank') https://goo.gl/tN18TJ
        li.ocbc-tbl__list__item
          | Summary of Minutes
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/ZL8W2i', target='_blank') https://goo.gl/ZL8W2i
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.6
    td.ocbc-tbl__td Does the company disclose the voting results including approving, dissenting, and abstaining votes for all resolutions/each agenda item for the most recent AGM?
    td.ocbc-tbl__td
      |!{''}
      | Voting results including approving, dissenting, and abstaining votes for all resolutions/each agenda item for the AGMS was stated in the:
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Announcement of Summary of Minutes of AGMS - Point G.
        li.ocbc-tbl__list__item
          | Annual Report 2018 - Part GMS (Page 154-157)
    td.ocbc-tbl__td
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Company website - Announcement of Summary of Minutes of AGMS - Point G (Meeting Resolution).
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/rQSDrb
        li.ocbc-tbl__list__item
          | Annual Report - Part GMS (Page 154-157)
          br/
          | !{'Link: '}
          a.ocbc-lnk(href='https://goo.gl/HQK6ot', target='_blank') https://goo.gl/HQK6ot
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.7
    td.ocbc-tbl__td Does the company disclose the list of board members who attended the most recent AGM?
    td.ocbc-tbl__td The Company disclose the list of board members who attended the AGM, in Announcement of Summary of Minutes of AGMS - Point B (Members of BOC and BOD attending the Meeting).
    td.ocbc-tbl__td
      | Company Website - Announcement of Summary of Minutes of AGMS - Point B (Members of BOC and BOD attending the Meeting).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/rQSDrb
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.8
    td.ocbc-tbl__td Does the company disclose that all board members and the CEO (if he is not a board member) attended the most recent AGM
    td.ocbc-tbl__td The Company disclosed the attendance of board members and the CEO attended recent AGM in: Announcement of Summary of Minutes of AGMS - Point B (Members of BOC and BOD attending the Meeting).
    td.ocbc-tbl__td
      | Company Website - Announcement of Summary of Minutes of AGMS - Point B (Members of BOC and BOD attending the Meeting).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/rQSDrb
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.9
    td.ocbc-tbl__td Does the company allow for voting in absentia?
    td.ocbc-tbl__td The Company allow for voting in absentia, based on Invitation/Notice for AGMS, Notes No. 3.
    td.ocbc-tbl__td
      | Company Website - Invitation/Notice for AGMS
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/HLR9iP', target='_blank') https://goo.gl/HLR9iP
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.10
    td.ocbc-tbl__td Did the company vote by poll (as opposed to by show of hands) for all resolutions at the most recent AGM?
    td.ocbc-tbl__td
      | The Meeting resolutions shall be adopted by deliberation to reach consensus. If unsuccessful, the resolutions shall be adopted by voting.
      br/
      | Announcement of Summary of Minutes of AGMS - Point G (Meeting Resolution)
    td.ocbc-tbl__td
      | Company Website - Announcement of Summary of Minutes of AGMS - Point G (Meeting Resolution).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/rQSDrb
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.11
    td.ocbc-tbl__td Does the company disclose that it has appointed an independent party (scrutineers/inspectors) to count and/or validate the votes at the AGM?
    td.ocbc-tbl__td
      | The Company appointed Notaris Fathiah Helmi, SH as Public Notary and PT Sirca Datapro Perdana as Share Registrar as independent parties to do quorum calculation and voting for AGMS resolution.
      br/
      | Announcement of Summary of Minutes of AGMS 2018 (Point C)
    td.ocbc-tbl__td
      | Company Website - Announcement of Summary of Minutes of AGMS - Point C (Independent Party to Count the Attendance).
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/rQSDrb
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.12
    td.ocbc-tbl__td Does the company make publicly available by the next working day the result of the votes taken during the most recent AGM for all resolutions?
    td.ocbc-tbl__td
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | AGMS held on April 3, 2018
        li.ocbc-tbl__list__item
          | Summary of Minutes of AGMS was published on April 4, 2018
      |!{''}
      | The AGM result of the vote were available by the next working day.
    td.ocbc-tbl__td
      | Company Website - Announcement of Summary of Minutes of AGMS
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/rQSDrb', target='_blank') https://goo.gl/rQSDrb
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.13
    td.ocbc-tbl__td Do companies provide at least 21 days notice for all AGMs and EGMs?
    td.ocbc-tbl__td
      ul.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | AGMS Announcement: 15 February 2018.
        li.ocbc-tbl__list__item
          | Invitation/Notice: 5 March 2018
        li.ocbc-tbl__list__item
          | Date of AGMS: 3 April 2018
      |!{''}
      | Based on those information, notice for AGMS is provided in 28 days before AGMS.
    td.ocbc-tbl__td
      | Company Website
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/M2p7Ks', target='_blank') https://goo.gl/M2p7Ks
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.14
    td.ocbc-tbl__td Does the company provide the rationale and explanation for each agenda item which require shareholders’ approval in the notice of AGM/circulars and/or the accompanying statement?
    td.ocbc-tbl__td Rational and explanation for each agenda were stated in the Explanation of Agenda of AGMS
    td.ocbc-tbl__td
      | Company Website - Explanation of Agenda of AGMS 2018
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/7fD51J', target='_blank') https://goo.gl/7fD51J
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.3.15
    td.ocbc-tbl__td Does the company give the opportunity for shareholder to place item/s on the agenda of AGM
    td.ocbc-tbl__td Company gives the opportunity for shareholder to place item on the agenda of AGMS as stated in the Announcement of AGMS - Paragraph 4.
    td.ocbc-tbl__td
      | Company website - Announcement of Summary of Minutes of AGMS  (Paragraph 4)
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/exjzpi', target='_blank') https://goo.gl/exjzpi
