//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A4
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A4
  -------------------------------------------------------------------------------//

extends ../../../../../../components/table.pug

block titleTable
  -
    tableClass = 'asean-governance';
    title = '';
    subTitle = '';
    border = true;

block tableHead
  tr.ocbc-tbl__tr
    th.ocbc-tbl__th(colspan='4') A.4 Markets for corporate control should be allowed to function in an efficient and transparent manner
block tableBody
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.4.1
    td.ocbc-tbl__td In cases of mergers, acquisitions and/or takeovers requiring shareholders approval, does the board of directors/commissioners of the offeree company appoint an independent party to evaluate the fairness of the transaction price?
    td.ocbc-tbl__td There is no merger, acquisition and/or takeover in 2018. Annual Report Page 139.
    td.ocbc-tbl__td
      | Annual Report - Part Management Discussion & Analysis - Page 139
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/avXQY2', target='_blank') https://goo.gl/avXQY2
