//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A5
  @description: Tentang Kami - Tata Kelola - Tab - Tata Kelola Perusahaan - Asean Corporate Governance A5
  -------------------------------------------------------------------------------//

extends ../../../../../../components/table.pug

block titleTable
  -
    tableClass = 'asean-governance';
    title = '';
    subTitle = '';
    border = true;

block tableHead
  tr.ocbc-tbl__tr
    th.ocbc-tbl__th(colspan='4') A.5 The exercise of ownership rights by all shareholders, including institutional investors, should be facilitated
block tableBody
  tr.ocbc-tbl__tr
    td.ocbc-tbl__td A.5.1
    td.ocbc-tbl__td Does the company disclose its practices to encourage shareholders to engage with the company beyond AGM?
    td.ocbc-tbl__td
      |!{''}
      | Company facilitates various channels to provide information and engage with the shareholders beyond AGM, among others:
      ='\n'
      ol.ocbc-tbl__list
        li.ocbc-tbl__list__item
          | Company Website - www.ocbcnisp.com - About OCBC NISP - Investor Relations, provides information related to ownership, financial information, annual report, credit ratings, share and bonds information and institutions/ capital market supporting professional.
        li.ocbc-tbl__list__item
          | Annual Report 2018: Part Investor Relations (page 207) describe the Investor Relations Unit activities to deliver relevant and reliable information for the shareholders.
    td.ocbc-tbl__td
      | Annual Report 2018 (page 207)
      br/
      | !{'Link: '}
      a.ocbc-lnk(href='https://goo.gl/5GAfdW', target='_blank') https://goo.gl/5GAfdW
