//-------------------------------------------------------------------------------
  @name: Wealth Management - Advisor Card
  @description: Wealth Management - Advisor Card
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Kami siap mendampingi kamu mencapai tujuan finansial',
    card: [
      {
        image: 'advisor.png',
        to: '#',
        title: 'Untuk yang Sudah Mengenal Investasi',
        description: 'Rencanakan masa depan bersama pakar profesional kami dengan solusi beragam produk Wealth Management',
        button: 'Mulai Simulasi'
      },
      {
        image: 'rachel.png',
        to: '#',
        title: 'Untuk yang Baru Memulai Investasi',
        description: 'Rachel siap bantu kamu mulai dan kembangkan investasi secara efektif dengan rekomendasi wealth management terpilih',
        button: 'Ngobrol sama Rachel'
      }
    ]
  }
include ../../layout/card-advisor.pug
