//-------------------------------------------------------------------------------
  @name: Wealth Management - Journey Section
  @description: Wealth Management - Journey Section
  -------------------------------------------------------------------------------//

-
  data = {
    image: 'image-circle.png',
    title: 'Perencanaan investasi untuk setiap mimpi dan cita-cita',
    description: 'Tentukan tujuanmu lalu kembangkan portfolio yang sesuai mimpi dan cita-cita dengan OCBC NISP Life Goals',
    cards: [
      {
        link: true,
        target: '#',
        title: 'Rencanakan Pendidikan Anak',
        image: 'education.svg'
      },
      {
        link: true,
        target: '#',
        title: 'Perlindungan Diri & Keluarga',
        image: 'insurance.svg'
      },
      {
        link: true,
        target: '#',
        title: 'Rencanakan Hari Tua',
        image: 'live-no-worries.svg'
      },
      {
        link: true,
        target: '#',
        title: 'Membeli Rumah Impian',
        image: 'mortgage.svg'
      }
    ]
  };

include ../../components/journey-section.pug
