//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management  - Main Banner
  @description: Individu - Wealth Management  - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Rencanakan Masa Depan Tanpa Beban',
    description: 'Hidup lebih nyaman, kelola dana jadi lebih aman dengan solusi inovatif OCBC NISP Wealth Management yang sesuai dengan kebutuhan',
    image: {
      desktop: 'wealth-management-d.jpg',
      mobile: 'wealth-management-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
