//-------------------------------------------------------------------------------
  @name: Wealth Management - Velocity Mobile
  @description: Wealth Management - Velocity Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    image: {
      desktop: 'wealth-management-d.jpg',
      mobile: 'wealth-management-m.jpg'
    },
    title: 'Buka Investasi Tinggal Masuk Aplikasi',
    description: 'Optimalkan dana dengan investasi online yang cepat dan mudah lewat ONe Mobile OCBC NISP',
    button: {
      text: 'Lihat Kelebihannya',
      to: '#'
    }
  }

include ../../components/one-mobile.pug
