//-------------------------------------------------------------------------------
  @name: Wealth Management - Product Card
  @description: Wealth Management - Product Card
  -------------------------------------------------------------------------------//

-
  data = {
    paddingTop: true,
    title: 'Pilihan Produk Investasi OCBC NISP',
    card: [
      {
        image: 'wm-landing-1.jpg',
        to: 'individu-wealth-management-reksa-dana.html',
        title: 'Reksa Dana',
        description: 'Fokus mengelola investasi secara profesional dengan imbal hasil yang menguntungkan'
      },
      {
        image: 'wm-landing-2.jpg',
        to: 'individu-wealth-management-treasury.html',
        title: 'Treasury',
        description: 'Mengelola keuangan dengan memberikan perlindungan nilai terhadap fluktuasi mata uang asing'
      },
      {
        image: 'wm-landing-3.jpg',
        to: 'individu-wealth-management-asuransi.html',
        title: 'Asuransi',
        description: 'Mempersiapkan masa depan dengan investasi dan proteksi yang tepat'
      }
    ]
  }

include ../../layout/card-product-sme.pug
