//-------------------------------------------------------------------------------
  @name: Product Detail - Achievement Banner
  @description: Product Detail - Achievement Banner
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Pencapaian',
    description: 'Kumpulan penghargaan atas prestasi OCBC NISP dalam menjaga kualitas dan kepercayaan Anda di dunia Perbankan',
    image: {
      desktop: 'achievement-banner-d.jpg',
      mobile: 'achievement-banner-m.jpg'
    },
    button: {
      text: 'Lihat Pencapaian',
      to: '#'
    }
  }

include ../../components/achievement-banner.pug
