//-------------------------------------------------------------------------------
  @name: Product Detail - Card Article
  @description: Product Detail - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Berita Terbaru',
    card: [
      {
        image: 'tentang-kami-1.jpg',
        label: 'Pengumuman',
        title: 'Pengaturan Jam Layanan Kantor Cabang OCBC NISP Terkait Virus Covid-19',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'tentang-kami-2.jpg',
        label: 'Pengumuman',
        title: 'Pemberitahuan Layanan Perbankan Elektronik untuk Nasabah',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ],
    more: {
      to: '#',
      text: 'Lihat Semua'
    }
  }

//ocbc-card-article__tentang-kami
.ocbc-card-article__tentang-kami
  include ../../layout/card-article.pug
