//-------------------------------------------------------------------------------
  @name: Syariah - Product Service
  @description: Syariah - Product Service
  -------------------------------------------------------------------------------//

-
  data = {
    cardWithNyala: false,
    title: 'Informasi lengkap tentang OCBC NISP',
    card: [
      {
        isNyala: false,
        image: 'tentang-kami-profil.jpg',
        title: 'Profil OCBC',
        to: 'tentang-kami-profil.html'
      },
      {
        isNyala: false,
        image: 'tentang-kami-hubungan-investor.jpg',
        title: 'Hubungan Investor',
        to: 'tentang-kami-hubungan-investor.html'
      },
      {
        isNyala: false,
        image: 'tentang-kami-tata-kelola-perusahaan.jpg',
        title: 'Tata Kelola Perusahaan',
        to: 'tentang-kami-tata-kelola.html'
      },
      {
        isNyala: false,
        image: 'tentang-kami-csr.jpg',
        title: 'CSR',
        to: 'tentang-kami-csr.html'
      },
      {
        isNyala: false,
        image: 'tentang-kami-informasi.jpg',
        title: 'Informasi',
        to: 'tentang-kami-informasi.html'
      }
    ]
  };

include ../../layout/card-head-product.pug
