//-------------------------------------------------------------------------------
  @name: Syariah - Card needs
  @description: Syariah - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
          light: true,
          title: 'Komitmen untuk tumbuh bersama Anda',
          card: [
            {
              target: 'kinerja-ocbc',
              title: 'Kinerja OCBC NISP',
              image: 'fragment-default.svg'
            },
            {
              target: 'pengumuman-penting',
              title: 'Pengumuman Penting OCBC NISP',
              image: 'fragment-default.svg'
            },
            {
              target: 'rups',
              title: 'Pengumuman RUPS',
              image: 'fragment-default.svg'
            },
            {
              target: 'berita-csr',
              title: 'Berita CSR Terkini',
              image: 'fragment-default.svg'
            },
            {
              target: 'kegiatan-ocbc',
              title: 'Kegiatan OCBC NISP',
              image: 'fragment-default.svg'
            },
          ]
        };
include ../../layout/card-needs.pug
