//-------------------------------------------------------------------------------
  @name: Syariah - Main Banner Presentation
  @description: Syariah - Main Banner Presentation Needs
  -------------------------------------------------------------------------------//

.ocbc-main-banner-presentation-needs
  //- Main Banner
  include main-banner.pug

  ='\n\n'
  //ocbc-needs-container
  .ocbc-needs-container
    //- Card Needs
    include card-needs.pug

    ='\n\n'
    //- Presentation Needs
    include presentation-needs/index.pug
