//-------------------------------------------------------------------------------
  @name: Syariah - Main Banner
  @description: Syariah - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            image: {
              desktop: 'tentang-kami-d.jpg',
              mobile: 'tentang-kami-m.jpg'
            },
            title: 'Berinovasi Mendukung Semangat Tiap Generasi',
            description: '79 tahun melangkah bersama untuk membangun hubungan'
          }
        ];
include ../../layout/main-banner.pug
