//-------------------------------------------------------------------------------
  @name: Kalkulator Pendidikan - Calculator Form
  @description: Kalkulator Pendidikan - Calculator Form
  -------------------------------------------------------------------------------//

extends ../../layout/calculator.pug

block title
  -
    title = 'Rencanakan Pendidikan Anak Anda';
    form = {
      action: 'kalkulator-pendidikan-result.html',
      label: 'pendidikan'
    };

block form
  //- Step 1
  include form/step-form-1.pug
  //- Step 2
  include form/step-form-2.pug
  //- Step 3
  include form/step-form-3.pug
  //- Step 4
  include form/step-form-4.pug
  //- Step 5
  include form/step-form-5.pug


block image
  -
    image = {
      src: 'pendidikan.png',
      alt: 'Pendidikan Banner'
    }
