//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Calculator Result - Tidak Tahu Dana
  @description: Hasil Perhitungan Kalkulator Pendidikan - Calculator Result - Tidak Tahu Dana
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-result.pug


block title
  -
    label = 'pendidikan-tidak-tahu-dana';
    fields = 'items-5';

block form

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Jangka Waktu
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-jangka-waktu(type='text', name='jangka_waktu', placeholder='Masukkan Tahun')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    //ocbc-field
    .ocbc-field
      p.ocbc-field__label
        | Tujuan Sekolah
      .ocbc-field__select
        .ocbc-select-wrapper.js-select.js-tujuan-sekolah(data-width='full')
          ='\n'
          select.ocbc-select__element(name='sekolah', data-label='Pilih Tujuan')
            option(value='', selected)
              | Pilih Tujuan
            option(value='1')
              | Amerika Serikat
            option(value='2')
              | Australia
            option(value='3')
              | Indonesia
            option(value='4')
              | Inggris
            option(value='5')
              | Singapore
          |!{''}
          |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Dana Saat Ini
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-dana-saat-ini(type='text', name='dana_saat_ini', placeholder='Masukkan Nominal')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Pengembalian Tahunan
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-pengembalian-tahunan(type='text', name='pengembalian_tahunan', placeholder='Masukkan Nominal')/
        |!{''}
        |
