//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Calculator Result - Tahu Dana
  @description: Hasil Perhitungan Kalkulator Pendidikan - Calculator Result - Tahu Dana
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-result.pug


block title
  -
    label = 'pendidikan-tahu-dana';
    fields = 'items-5';

block form

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Jangka Waktu
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-jangka-waktu(type='text', name='jangka_waktu', placeholder='Masukkan Tahun')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Estimasi Dana
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-estimasi-dana(type='text', name='estimasi_dana', placeholder='Masukkan Nominal')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Dana Saat Ini
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-dana-saat-ini(type='text', name='dana_saat_ini', placeholder='Masukkan Nominal')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Pengembalian Tahunan
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-pengembalian-tahunan(type='text', name='pengembalian_tahunan', placeholder='Masukkan Nominal')/
        |!{''}
        |
