//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Card Suggestion
  @description: Hasil Perhitungan Kalkulator Pendidikan - Card Suggestion
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Lihat Kalkulator Lainnya',
    modifier: 'detail',
    card: [
      {
        icon: 'btn-widget-default.svg',
        title: 'Pensiun',
        description: 'Penjelasan singkat yang dimiliki dari konten tersebut dapat diletakkan disini dengan syarat maksimal panjang 3 baris ke bawah.',
        button: 'Hitung Simulasi',
        to: 'kalkulator-pensiun.html'
      },
      {
        icon: 'btn-widget-default.svg',
        title: 'Perlindungan Kesehatan',
        description: 'Penjelasan singkat yang dimiliki dan konten tersebut dapat diletakkan disini dengan syarat maksimal panjang 3 baris ke bawah',
        button: 'Hitung Simulasi',
        to: 'kalkulator-asuransi.html'
      },
      {
        icon: 'btn-widget-default.svg',
        title: 'Kepemilikan Rumah',
        description: 'Calculate how long it will take you to pay off a balance, depending on the amount of yout repayments and your card type',
        button: 'Hitung Simulasi',
        to: 'kalkulator-kpr.html'
      }
    ]
  };

include ../../layout/card-suggestion.pug
