//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Card Upselling
  @description: Hasil Perhitungan Kalkulator Pensiun - Card Upselling
  -------------------------------------------------------------------------------//

-
  data = {
    border: true,
    title: 'Personal advice on Education Plan',
    description: 'Write Description Here',
    button: 'Ask a Specialist',
    to: '#'
  }

include ../../layout/card-upselling.pug
