//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Disclaimer
  @description: Hasil Perhitungan Kalkulator Pendidikan - Disclaimer
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Disclaimer',
    description: [
      'PT. Bank OCBC NISP, Tbk. (“Bank”) terdaftar dan diawasi oleh Otoritas Jasa Keuangan (OJK).',
      'Informasi ini dipersiapkan oleh Bank dengan mengandung materi informasi dari sumber referensi yang dianggap dapat dipercaya oleh Bank. Namun demikian, Bank tidak menjamin keakuratan dan kelengkapan semua proyeksi, pendapat, atau fakta-fakta statistik lainnya yang tercantum daalam materi informasi tersebut.',
      'Data, proyeksi, pendapat atau fakta-fakta statistik yang tercantum hanya ditujukan sebagai informasi dan tidak bertujuan untuk dijadikan dasar keputusan investasi.',
      'Informasi ini dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya. Untuk informasi lebih lanjut, harap hubungi Call OCBC NISP di nomor 1500-999 / HP 66-999 atau Cabang Bank OCBC NISP terdekat.'
    ]
  }

include ../../components/disclaimer-fragment.pug
