//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pendidikan - Graphic Result - Tahu Dana
  @description: Hasil Perhitungan Kalkulator Pendidikan - Graphic Result - Tahu Dana
  -------------------------------------------------------------------------------//

extends ../../layout/graphic-result.pug

block graphicTitle
  -
    title = 'You are in a Good Shape';
    description = "You are in a good shape! It looks like your children's education plan is where it needs to be";

block btnOptions
  -
    data = [
      {
        icon: 'print.svg',
        label: 'Print',
        class: 'print',
        to: 'hasil-perhitungan-kalkulator-pendidikan-share.html#print',
        classButton: 'js-calc-result-print'
      },
      {
        icon: 'share.svg',
        label: 'Share',
        class: 'share',
        classButton: 'js-calc-result-share',
        list: [
          {
            icon: 'whatsapp.svg',
            text: 'Whatsapp',
            to: 'hasil-perhitungan-kalkulator-pendidikan-share.html#whatsapp',
            target: '_blank',
            action: 'share/whatsapp/share'
          },
          {
            icon: 'email.svg',
            text: 'Email',
            to: 'hasil-perhitungan-kalkulator-pendidikan-share.html#email',
            target: '_blank',
          },
          {
            icon: 'fragment-default.svg',
            text: 'Simpan',
            to: 'hasil-perhitungan-kalkulator-pendidikan-share.html#save',
            target: '_blank'
          }
        ]
      }
    ];

  include ../../layout/icon-text.pug

block graphic
  //- Tahu Dana
  include graphic/tahu-dana.pug
