//-------------------------------------------------------------------------------
  @name:  Individu - Wealth Management - Rachel - Breadcrumbs
  @description:  Individu - Wealth Management - Rachel - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'individu.html',
      text: 'Individu'
    },
    {
      to: 'individu-wealth-management.html',
      text: 'Wealth Management'
    },
    {
      to: 'individu-wealth-management-rachel.html',
      text: 'Rachel'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
