//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rachel - Card Product Category
  @description: Individu - Wealth Management - Rachel - Card Product Category
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Investasi Bisa dalam Bentuk Apa Saja sih?',
    card: [
      {
        to: '#',
        image: 'tabungan.jpg',
        title: 'Tabungan',
        description: 'Investasi memang beda dengan menabung. Tapi, dengan kamu konsisten dan rajin menabung, kamu juga bisa lho mewujudkan cita-cita kamu.'
      },
      {
        to: '#',
        image: 'deposito.jpg',
        title: 'Deposito',
        description: 'Investasi memang beda dengan menabung. Tapi, dengan kamu konsisten dan rajin menabung, kamu juga bisa lho mewujudkan cita-cita kamu.'
      },
      {
        to: '#',
        image: 'reksadana.jpg',
        title: 'Reksadana',
        description: 'Investasi memang beda dengan menabung. Tapi, dengan kamu konsisten dan rajin menabung, kamu juga bisa lho mewujudkan cita-cita kamu.'
      },
      {
        to: '#',
        image: 'obligasi.jpg',
        title: 'Obligasi',
        description: 'Investasi memang beda dengan menabung. Tapi, dengan kamu konsisten dan rajin menabung, kamu juga bisa lho mewujudkan cita-cita kamu.'
      }
    ]
  }

include ../../layout/card-product-category-carousel.pug
