//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rachel - Description Section
  @description: Individu - Wealth Management - Rachel - Description Section
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Tau Gak, 7 dari 10 millenial gak punya Investasi? Kamu Gimana? ',
    description: 'Padahal dengan investasi, kamu bisa bikin uangmu "bekerja" sehingga menghasilkan keuntungan yang lebih besar. Dengan investasi, uang kamu juga gak tergerus inflasi.',
    image: 'rachel-description.png'
  }

include ../../components/description-section.pug
