//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Rachel - Graphics Bar Section
  @description: Individu - Wealth Management - Rachel - Graphics Bar Section
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Yuk Kita Lihat Perbandingannya',
    subTitle: 'Ilustrasi investasi dengan alokasi Rp 500,000/bulan selama 5 tahun atau setara dengan <strong>Rp 30,000,000</strong>',
    body: {
      paragraph: 'Catatan Penting<br/>Ilustrasi tersebut menggunakan data imbal hasil dari periode 2010 hingga 2019:',
      list: [
        'Untuk Tabungan, imbal hasil yang digunakan adalah asumsi bunga 1.0% per tahun neto.',
        'Untuk Deposito, imbal hasil yang digunakan adalah rata-rata tahunan tingkat suku bunga deposito 1 tahun neto (2010-2019).',
        'Untuk Obligasi, imbal hasil yang digunakan adalah rata-rata imbal hasil tahunan dari indeks acuan IBPA Indobex Government Bond dari periode (2013-2019).',
        'Untuk Reksa Dana Saham, mengggunakan rata-rata imbal hasil tahunan Reksa Dana Schroder Dana Prestasi (2010-2019).'
      ]
    },
    graph: {
      chart: {
        text: 'Grafik Bar Chart',
        image: 'grafik-bar-chart.svg'
      },
      legend: {
        text: 'Grafik Bar Legend',
        image: 'grafik-bar-legend.svg'
      }
    }
  }

include ../../components/graph-bar-section.pug
