//-------------------------------------------------------------------------------
  @name:  Individu - Wealth Management - Rachel - Main Banner
  @description:  Individu - Wealth Management - Rachel - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            isRachel: true,
            image: {
              desktop: 'rachel-d.jpg',
              mobile: 'rachel-m.jpg'
            },
            title: 'Pengen kaya tapi gak bisa lepas dari jajan boba?',
            description: 'Cuma 10 menit ngobrol sama aku, kamu langsung melek investasi dan keuangan. #TAYTB',
            button: {
              secondaryWhite: true,
              text: 'Ngobrol sama Rachel',
              to: '#'
            }
          }
        ];
include ../../layout/main-banner.pug
