//-------------------------------------------------------------------------------
  @name:  Individu - Wealth Management - Rachel - One Mobile Rachel
  @description:  Individu - Wealth Management - Rachel - One Mobile Rachel
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Masih Galau Investasi?',
    description: 'Yuk! Saatnya kamu kejar Life Goals dengan investasi. Ngobrol sama aku sekarang! ',
    button: {
      text: 'Ngobrol Sama Rachel',
      className: 'trigger_chat_button',
      to: '#'
    }
  }

include ../../components/one-mobile-rachel.pug
