//-------------------------------------------------------------------------------
  @name:  Individu - Wealth Management - Rachel - Product Detail Fragment
  @description:  Individu - Wealth Management - Rachel - Product Detail Fragment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Paling Tepat Investasi sama Rachel di OCBC NISP',
    isLarge: true,
    list: [
      {
        title: 'Tips & Trick Investasi dari Rachel',
        description: 'Ngobrol bareng Rachel buat cari tau cara investasi yang paling pas buatmu',
        img: 'network.svg'
      },
      {
        title: 'Produk Investasi Terbaik',
        description: 'Pilih produk investasi terpercaya hasil kurasi tim Wealth OCBC NISP',
        img: 'easy-terms.svg'
      },
      {
        title: 'Investasi Ringan',
        description: 'Investasi ringan Mulai dari Rp 10 Ribu.',
        img: 'investation.svg'
      },
      {
        title: 'Transaksi Mudah di ONeMobile',
        description: 'Daftar dan investasi dimana aja, kapan aja, lewat ONe Mobile',
        img: 'smartphone.svg'
      }
    ]
  }

//ocbc-prod-detail-fragment__page
.ocbc-prod-detail-fragment__page.ocbc-prod-detail-fragment__page--more-space
  include ../../layout/product-detail-fragment.pug
