/* ==========================================================================
   OCBC Init: Fonts
   ========================================================================== */

// normal font weight / normal font style
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Regular.woff2") format("woff2"),
    url("../fonts/FiraSans-Regular.woff") format("woff"),
    url("../fonts/FiraSans-Regular.ttf") format("truetype"),
    url("../fonts/FiraSans-Regular.svg#FiraSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

// medium font weight / normal font style
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Medium.eot");
  src: url("../fonts/FiraSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Medium.woff2") format("woff2"),
    url("../fonts/FiraSans-Medium.woff") format("woff"),
    url("../fonts/FiraSans-Medium.ttf") format("truetype"),
    url("../fonts/FiraSans-Medium.svg#FiraSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

// bold font weight / normal font style
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Bold.eot");
  src: url("../fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Bold.woff2") format("woff2"),
    url("../fonts/FiraSans-Bold.woff") format("woff"),
    url("../fonts/FiraSans-Bold.ttf") format("truetype"),
    url("../fonts/FiraSans-Bold.svg#FiraSans-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}

// normal font weight / italic font style
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-Italic.eot");
  src: url("../fonts/FiraSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FiraSans-Italic.woff2") format("woff2"),
    url("../fonts/FiraSans-Italic.woff") format("woff"),
    url("../fonts/FiraSans-Italic.ttf") format("truetype"),
    url("../fonts/FiraSans-Italic.svg#FiraSans-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
}

// medium font weight / italic font style
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-MediumItalic.eot");
  src: url("../fonts/FiraSans-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FiraSans-MediumItalic.woff2") format("woff2"),
    url("../fonts/FiraSans-MediumItalic.woff") format("woff"),
    url("../fonts/FiraSans-MediumItalic.ttf") format("truetype"),
    url("../fonts/FiraSans-MediumItalic.svg#FiraSans-MediumItalic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}

// bold font weight / italic font style
@font-face {
  font-family: "Fira Sans";
  src: url("../fonts/FiraSans-BoldItalic.eot");
  src: url("../fonts/FiraSans-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/FiraSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/FiraSans-BoldItalic.woff") format("woff"),
    url("../fonts/FiraSans-BoldItalic.ttf") format("truetype"),
    url("../fonts/FiraSans-BoldItalic.svg#FiraSans-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
}

// Font Icons
@font-face {
  font-family: "OCBC NISP Icons";
  src: url("../fonts/ocbc-nisp-icon.eot?9dsya5");
  src: url("../fonts/ocbc-nisp-icon.eot?9dsya5#iefix")
      format("embedded-opentype"),
    url("../fonts/ocbc-nisp-icon.ttf?9dsya5") format("truetype"),
    url("../fonts/ocbc-nisp-icon.woff?9dsya5") format("woff"),
    url("../fonts/ocbc-nisp-icon.svg?9dsya5#ocbc-nisp-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
