/* ==========================================================================
   OCBC Init: Default
   ========================================================================== */

body {
  min-width: 320px;
  font-family: ff(family-main);
  font-weight: fw(regular);
  color: color(gray, 1);
  @include font-size(body);
  &.#{$prefix}rm-scroll {
    overflow: hidden;
    // --- for iOS
    touch-action: none;
  }
  &.#{$prefix}hold-transition {
    * {
      transition: none !important;
    }
  }
}

h1 {
  @include font-size(h1);
  font-weight: fw(bold);
}

h2 {
  @include font-size(h2);
  font-weight: fw(bold);
}

h3 {
  @include font-size(h3);
  font-weight: fw(bold);
}

h4 {
  @include font-size(h4);
  font-weight: fw(bold);
}

h5 {
  @include font-size(h5);
  font-weight: fw(bold);
}

h6 {
  @include font-size(h6);
  font-weight: fw(bold);
}

p,
li,
td {
  @include font-size(body);
}

label {
  @include font-size(label);
}

strong,
b {
  font-weight: fw(bold);
}
