//-------------------------------------------------------------------------------
  @name: Hubungi Kami - Card Upselling
  @description: Hubungi Kami - Card Upselling
  -------------------------------------------------------------------------------//

-
  modifier = 'more-pb';
  data = {
    border: true,
    title: 'Mekanisme Pengaduan Nasabah',
    description: 'Lihat mekanisme pengaduan nasabah oleh Bank OCBC NISP',
    button: 'Selengkapnya',
    to: 'hubungi-kami-mekanisme-pengaduan-nasabah.html'
  }

include ../../layout/card-upselling.pug
