//-------------------------------------------------------------------------------
  @name: Hubungi Kami - Contact Channel
  @description: Hubungi Kami - Contact Channel
  -------------------------------------------------------------------------------//

-
  data = {
    classItem: 'ocbc-col-xl-3 ocbc-col-lg-4',
    card: [
      {
        img: 'phone.svg',
        title: 'Call OCBC NISP',
        description: 'Dalam Negeri Hubungi 1500-999<br/>Luar Negeri Hubungi +62-21-26506300',
        button: {
          to: 'tel:+62211500999',
          toInternational: 'tel:+622126506300',
          target: '_blank',
          text: 'Hubungi',
          jsClass: 'js-call-ocbc-nisp'
        }
      },
      {
        img: 'whatsapp.svg',
        title: 'Layanan WhatsApp OCBC NISP',
        description: 'Hubungi +628121500999',
        button: {
          to: 'https://api.whatsapp.com/send?phone=+628121500999&text=Hi OCBC NISP',
          target: '_blank',
          text: 'Chat'
        }
      },
      {
        img: 'email.svg',
        title: 'e-mail OCBC NISP',
        description: 'Kirim e-mail ke<br/>callcenter@ocbcnisp.com',
        button: {
          to: 'mailto:callcenter@ocbcnisp.com',
          target: '_blank',
          text: 'Kirim e-mail'
        }
      },
      {
        img: 'global-business.svg',
        title: 'Kunjungi Cabang OCBC NISP',
        description: 'Datang ke Kantor Cabang OCBC NISP Terdekat',
        button: {
          to: 'hubungi-kami-lokasi-kami.html',
          text: 'Lihat Lokasi'
        }
      },
      {
        img: 'document.svg',
        title: 'e-form',
        description: 'Ajukan pertanyaan melalui e-form',
        button: {
          to: 'bisnis-sme-pinjaman-kmk-pengajuan-pinjaman.html',
          text: 'Kirim e-form'
        }
      },
      {
        img: 'twitter.svg',
        title: 'Twitter Customer Service',
        description: 'Mention @tanyaocbcnisp',
        button: {
          to: 'https://twitter.com/intent/tweet?screen_name=tanyaocbcnisp',
          target: '_blank',
          text: 'Buka Twitter'
        }
      }
    ]
  }

include ../../layout/contact-channel.pug
