//-------------------------------------------------------------------------------
  @name: Hubungi Kami - Product Detail Banner
  @description: Hubungi Kami - Product Detail Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: 'light',
    title: 'Hubungi Kami',
    description: 'Hubungi kami kapanpun dan dimanapun. Tim kami siap menjawab pertanyaan Anda',
    image: {
      desktop: 'hubungi-kami-d.jpg',
      mobile: 'hubungi-kami-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
