//-------------------------------------------------------------------------------
  @name: Individu Nyala Bisnis - Tab - Grow
  @description: Individu Nyala Bisnis - Tab - Grow
  -------------------------------------------------------------------------------//

-
  data = {
    card: [
      {
        title: 'Kelola Keuangan Personal dan Bisnis dengan Tanda 360 Plus',
        item: [
          'Tabungan dengan 12 mata uang dalam satu rekening',
          'Rekening giro dengan 12 mata uang dalam satu rekening',
          'Fasilitas Buku Cek'
        ]
      },
      {
        title: 'Cicil Apapun dengan Kartu Kredit OCBC NISP',
        item: [
          'Cicilan bunga 0% untuk 3 bulan',
          'Cicilan 0,5% hingga 6 bulan',
          'Gratis Biaya Iuran Tahunan'
        ]
      },
      {
        title: 'Dedicated Relationship Manager',
        item: [
          'Advisor solusi keuangan Personal',
          'Advisor solusi keuangan Personal'
        ]
      },
      {
        title: 'Kelola Keuangan Personal dan Bisnis dengan Tanda 360 Plus',
        item: [
          'Tabungan dengan 12 mata uang dalam satu rekening',
          'Rekening giro dengan 12 mata uang dalam satu rekening',
          'Fasilitas Buku Cek'
        ]
      },
      {
        title: 'Cicil Apapun dengan Kartu Kredit OCBC NISP',
        item: [
          'Cicilan bunga 0% untuk 3 bulan',
          'Cicilan 0,5% hingga 6 bulan',
          'Gratis Biaya Iuran Tahunan'
        ]
      }
    ]
  }

include ../../../layout/card-nyala-benefit.pug
