//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Fitch Rating
  @description: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Fitch Rating
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'fitch-rating';
    title = 'Fitch Rating';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Fitch Rating
    th.ocbc-tbl-striped__th
      | 2020

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Outlook - National - Long Term
    td.ocbc-tbl-striped__td Stable
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td National - Long - Term
    td.ocbc-tbl-striped__td
      | !{'AAA '}
      sub (idn)
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Foreign Currency, Long - Term IDR
    td.ocbc-tbl-striped__td BBB
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Foreign Currency, Short - Term IDR
    td.ocbc-tbl-striped__td F2
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Local Currency (IDR)
    td.ocbc-tbl-striped__td A
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Support Ratings
    td.ocbc-tbl-striped__td Z
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Obligasi Berkelanjutan II Bank OCBC NISP Tahap II, III, dan IV
    td.ocbc-tbl-striped__td
      | !{'AAA '}
      sub (idn)
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Obligasi Berkelanjutan III Bank OCBC NISP Tahap I
    td.ocbc-tbl-striped__td
      | !{'AAA '}
      sub (idn)
