//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Pefindo
  @description: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Pefindo
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'pefindo';
    title = 'Pefindo';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Pefindo
    th.ocbc-tbl-striped__th
      | 10 Februari 2020 - 1 Februari 2021

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Outlook
    td.ocbc-tbl-striped__td Stable
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Corporate Rating
    td.ocbc-tbl-striped__td
      sub id
      | !{' AAA'}
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Berkelanjutan Obligasi Berkelanjutan II Bank OCBC NISP
    td.ocbc-tbl-striped__td
      sub id
      | !{' AAA'}
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Berkelanjutan Obligasi Berkelanjutan III Bank OCBC NISP
    td.ocbc-tbl-striped__td
      sub id
      | !{' AAA'}
