//-------------------------------------------------------------------------------
  @name: Kalkulator Pensiun - Field Form - Step 1
  @description: Kalkulator Pensiun - Field Form - Step 1
  -------------------------------------------------------------------------------//

// ocbc-calc__form__section
.ocbc-calc__form__section.ocbc-calc__form__section--active(data-step='step-1')
  // ocbc-calc__form__content
  .ocbc-calc__form__content
    // ocbc-calc__flds
    .ocbc-calc__flds
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-input-range-slider
        .ocbc-input-range-slider
          .ocbc-input-range-slider__top
            p.ocbc-input-range-slider__label
              span.ocbc-input-range-slider__label__txt Berapa Usia Anda
          .ocbc-input-range-slider__input
            input.js-usia-anda(type='text' name='usia_anda' range-type='year' data-from='0' data-min='0' data-max='100' data-postfix=' Tahun')
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-input-range-slider
        .ocbc-input-range-slider
          .ocbc-input-range-slider__top
            p.ocbc-input-range-slider__label
              span.ocbc-input-range-slider__label__txt Usia pensiun
            p.ocbc-input-range-slider__desc (Usia harus melebihi usia Anda)
          .ocbc-input-range-slider__input
            input.js-usia-pensiun(type='text' name='usia_pensiun' range-type='year' data-from='0' data-min='0' data-max='100' data-postfix=' Tahun')
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-input-range-slider
        .ocbc-input-range-slider
          .ocbc-input-range-slider__top
            p.ocbc-input-range-slider__label
              span.ocbc-input-range-slider__label__txt Masa Pensiun Hingga Usia 
            p.ocbc-input-range-slider__desc (Usia harus melebihi usia Pensiun)
          .ocbc-input-range-slider__input
            input.js-masa-pensiun(type='text' name='masa_pensiun' range-type='year' data-from='0' data-min='0' data-max='100' data-postfix=' Tahun')
    // ocbc-calc__submit
    .ocbc-calc__submit
      button.ocbc-btn.ocbc-btn--primary.js-form-next(type='button' data-next='step-2' disabled='disabled') Selanjutnya
