//-------------------------------------------------------------------------------
  @name: Kalkulator Pensiun - Field Form - Step 2
  @description: Kalkulator Pensiun - Field Form - Step 2
  -------------------------------------------------------------------------------//

// ocbc-calc__form__section
.ocbc-calc__form__section(data-step='step-5')
  .ocbc-calc__form__content
    // ocbc-calc__flds
    .ocbc-calc__flds
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Gambaran kondisi keuangan anda
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_1' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') Pendapatan saya tidak tetap dan tidak rutin setiap bulan
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Harapan potensi keuntungan dan potensi yang dapat Saya tanggung adalah
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') Imbal hasil kecil tidak masalah, yang penting modal investasi tidak berkurang
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Seberapa dalam kah pengetahuan Anda mengenai investasi?
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') di bawah 1 tahun
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Seberapa dalam kah pengetahuan Anda mengenai investasi?
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') Sangat terbatas
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Investasi yang pernah/sedang Saya lakukan 
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1')
                    | Pasar Uang (Deposito, Reksa Dana Pasar Uang dan sejenisnya)  atau Structured product
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Apakah anda pernah berinvestasi di structured product?
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element.js-apa-sudah-pernah-structuredproduct(name='riskp_2' data-label='Rumah' data-item='sudah-pernah-structuredproduct')
                  option(selected='selected') Pilih
                  option(value='1') Pernah
                  option(value='2') Tidak Pernah
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item.ocbc-calc__flds__item--hide(data-item='sudah-pernah-structuredproduct')
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Rata - rata jangka waktu Investasi di Structured Product
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') Pendek (di bawah 1 bulan)
                  option(value='2') menengah (1-3 bulan)
                  option(value='3') Lama (di atas 3 bulan)
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item.ocbc-calc__flds__item--hide(data-item='sudah-pernah-structuredproduct')
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Rata - rata dana yang ditempatkan di suatu Structured Product
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') di bawah USD 100,000 (ekuivalen)
                  option(value='2') di atas USD 100,000 (ekuivalen)
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item.ocbc-calc__flds__item--hide(data-item='sudah-pernah-structuredproduct')
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Frekuensi penempatan dana pada berbagai Structured Product dalam 1 tahun
            .ocbc-filter-card__wrapper.ocbc-select--full
              .ocbc-select-wrapper.js-select(data-width='full')
                select.ocbc-select__element(name='riskp_2' data-label='Rumah')
                  option(selected='selected') Pilih
                  option(value='1') di bawah 10 kali
                  option(value='2') di atas 10 kali
    // ocbc-calc__submit
    .ocbc-calc__submit
      .ocbc-calc__submit__col
        button.ocbc-btn-round.js-back-form(type='button' data-back='step-3')
          i.ocbc-fi.ocbc-fi-chevron-left
      .ocbc-calc__submit__col
        button.ocbc-btn.ocbc-btn--primary.js-form-submit(type='submit') Selanjutnya


