//-------------------------------------------------------------------------------
  @name: Design System - Elements - Content
  @description: Design System - Elements - Content
  -------------------------------------------------------------------------------//

//ocbc-ds__content
.ocbc-ds__content
  //- elements
  include elements/index.pug
