//-------------------------------------------------------------------------------
  @name: Design System - Elements - Navigation Content
  @description: Design System - Elements - Navigation Content
  -------------------------------------------------------------------------------//

extend ../design-system/navigation.pug

//- menu content
block menu
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-brand-guideline.html') Brand Guideline
    |!{''}
    |
  h5.ocbc-ds__menu__title.ocbc-ds__menu__title--active
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-elements.html') Elements
    |!{''}
    |
  -
    elementsMenu = [
      {
        target: 'dsColors',
        text: 'Colors'
      },
      {
        target: 'dsBackground',
        text: 'Background'
      },
      {
        target: 'dsBurgerMenu',
        text: 'Burger Menu'
      },
      {
        target: 'dsButtons',
        text: 'Buttons'
      },
      {
        target: 'dsImage',
        text: 'Image'
      },
      {
        target: 'dsInput',
        text: 'Input'
      },
      {
        target: 'dsList',
        text: 'List'
      },
      {
        target: 'dsPreloader',
        text: 'Preloader'
      },
      {
        target: 'dsSelect',
        text: 'Select'
      },
      {
        target: 'dsShadows',
        text: 'Shadows'
      },
      {
        target: 'dsTagLabel',
        text: 'Tag Label'
      },
      {
        target: 'dsText',
        text: 'Text'
      },
      {
        target: 'dsVideo',
        text: 'Video'
      },
      {
        target: 'dsIframe',
        text: 'Iframe'
      },
      {
        target: 'dsUtilities',
        text: 'Utilities'
      }
    ]
  ul.ocbc-ds__menu-list
    each val, index in elementsMenu
      li.ocbc-ds__menu-list__item(class=(index == 0 ? 'ocbc-ds__menu-list__item--active' : ''))
        |!{''}
        |
        a.ocbc-ds__menu-list__link.js-ds-menu-list-link(href='#'+val.target)
          | !{val.text}
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-components.html') Components
    |!{''}
    |
  h5.ocbc-ds__menu__title
    ='\n'
    a.ocbc-ds__menu__link(href='design-system-writing-style-guideline.html') Writing Style & Guideline
    |!{''}
    |
