//-------------------------------------------------------------------------------
  @name: Individu Premier Banking - Tab - Market Insights
  @description: Individu Premier Banking - Tab - Market Insights
  -------------------------------------------------------------------------------//

//ocbc-content-tab
.ocbc-content-tab
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-content-tab__content
          //ocbc-content-tab__content__item
          .ocbc-content-tab__content__item
            h3.ocbc-content-tab__title
              | Wealth Panel
            p.ocbc-content-tab__desc
              | Bank OCBC NISP yang selalu fokus kepada kebutuhan nasabah, senantiasa ingin memberikan layanan dan produk yang bernilai tambah, khususnya untuk segmen nasabah Premier Banking. Kondisi perekonomian dan market yang kerap bergejolak membuat nasabah harus semakin cermat dalam memilih produk produk investasi dan berhati-hati dalam mengelola pundi-pundi keuangannya. Berangkat dari hal inilah Bank OCBC NISP meluncurkan layanan OCBC NISP Wealth Panel, sebagai bagian dari layanan pengelolaan finansial.
          //ocbc-content-tab__content__item
          .ocbc-content-tab__content__item
            ='\n'
            iframe.ocbc-content-tab__iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            |!{''}
            |

='\n'
// card board
-
  data = {
    title: 'Jajaran Wealth Panel',
    list: [
      {
        card: {
          image: 'card-1.jpg',
          name: 'Ka Jit',
          position: 'Senior Corporate Executive<br/>OCBC NISP Bank'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Senior Corporate Executive Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      },
      {
        card: {
          image: 'card-1.jpg',
          name: 'Juky Mariska',
          position: 'Wealth Advisory Head<br/>OCBC NISP Bank'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Wealth Advisory Head Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      },
      {
        card: {
          image: 'card-1.jpg',
          name: 'Novelina Luciana',
          position: 'Head of Treasury Advisory<br/>OCBC NISP Bank'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head of Treasury Advisory Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      },
      {
        card: {
          image: 'card-1.jpg',
          name: 'Richard Jerram',
          position: 'Head of Treasury Advisory<br/>OCBC NISP Bank'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head of Treasury Advisory Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      },
      {
        card: {
          image: 'card-1.jpg',
          name: 'Vasu Menon',
          position: 'Head, Content & Research Wealth Management Singapore - OCBC Bank'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head, Content & Research Wealth Management Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      },
      {
        card: {
          image: 'card-1.jpg',
          name: 'Hou Wey Fook',
          position: 'Chief Investment Officer<br/>Bank of Singapore'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Chief Investment Officer Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      },
      {
        card: {
          image: 'card-1.jpg',
          name: 'Wellian Wiranto',
          position: 'Economist<br/>OCBC Bank'
        },
        detail: {
          image: 'popup-1.png',
          body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Economist Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
        }
      }
    ]
  }

include ../../../layout/card-bod-section.pug

//- achievement card
-
  data = {
    title: 'Market Outlook',
    description: 'Informasi dan Ulasan Analisa Pasar Terkini.',
    image: {
      desktop: 'achievement-banner-d.jpg',
      mobile: 'achievement-banner-m.jpg'
    },
    button: {
      to: '.popup-privileges-market-outlook',
      popupClass: 'js-show-popup-general',
      text: 'Lihat Market Outlook'
    }
  }

include ../../../components/achievement-banner.pug
