//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Tab - Privileges
  @description: Individu - Premier - Layananan - Tab - Privileges
  -------------------------------------------------------------------------------//

//- Tim Premier Banking Terpilih
include privileges-tab-content/tim-premier-banking-terpilih.pug

//- Premier Center
include privileges-tab-content/premier-center.pug

//- Informasi Komprehensif
include privileges-tab-content/informasi-komprehensif.pug

//- Kemudahan Transaksi
include privileges-tab-content/kemudahan-transaksi.pug

//- Tarif Biaya Khusus
include privileges-tab-content/tarif-biaya-khusus.pug

//- Text Column
include privileges-tab-content/text-column.pug
