//-------------------------------------------------------------------------------
  @name: Individu Premier Banking - Tab - Wealth Solution
  @description: Individu Premier Banking - Tab - Wealth Solution
  -------------------------------------------------------------------------------//

-
  modifierClass = 'tab-mb';
  selectClass = 'js-select-service-category';
  data = [
    {
      val: 'all',
      text: 'Semua'
    },
    {
      val: 'simpanan',
      text: 'Simpanan'
    },
    {
      val: 'proteksi',
      text: 'Proteksi'
    },
    {
      val: 'investasi',
      text: 'Investasi'
    },
    {
      val: 'pembiayaan',
      text: 'Pembiayaan'
    }
  ]

include ../../../layout/filter-card.pug

-
  data = {
    category: 'simpanan',
    title: 'Simpanan',
    premier: true,
    card: [
      {
        to: '#',
        image: 'product-category-12.jpg',
        title: 'Tanda 360 Plus',
        item: [
          'Simpanan',
          'Bebas Biaya Administrasi',
          'Benefit 3'
        ]
      },
      {
        to: '#',
        image: 'product-category-13.jpg',
        title: 'Tanda Premium',
        item: [
          'Pembiayaan',
          'Bebas Biaya Administrasi',
          'Benefit 3'
        ]
      },
      {
        to: '#',
        image: 'product-category-15.jpg',
        title: 'Tabungan Berjangka',
        item: [
          'Proteksi',
          'Bebas Biaya Administrasi',
          'Benefit 3'
        ]
      },
      {
        to: '#',
        image: 'product-category-16.jpg',
        title: 'Tanda Valas',
        item: [
          'Investasi',
          'Bebas Biaya Administrasi',
          'Benefit 3'
        ]
      }
    ]
  }

include ../../../layout/card-product-category.pug

-
  data = {
    category: 'proteksi',
    title: 'Proteksi',
    premier: true,
    card: [
      {
        to: '#',
        image: 'product-category-15.jpg',
        title: 'Legacy Protector',
        description: 'Untuk memastikan berbagai tujuan perlindungan Anda, kami hadirkan solusi perencanaan keuangan'
      },
      {
        to: '#',
        image: 'product-category-16.jpg',
        title: 'MaxPrestige Heritage Protector',
        description: 'Untuk memastikan berbagai tujuan perlindungan Anda, kami hadirkan solusi perencanaan keuangan'
      }
    ]
  }

include ../../../layout/card-product-category.pug

-
  data = {
    category: 'investasi',
    title: 'Investasi',
    premier: true,
    card: [
      {
        to: '#',
        image: 'product-category-12.jpg',
        title: 'Reksa Dana',
        description: 'Berinvestasi melalui instrumen keuangan merupakan alternatif pilihan menarik untuk memperoleh pertumbuhan aset yang optimal '
      },
      {
        to: '#',
        image: 'product-category-15.jpg',
        title: 'Treasury',
        description: 'Berinvestasi melalui instrumen keuangan merupakan alternatif pilihan menarik untuk memperoleh pertumbuhan aset yang optimal '
      }
    ]
  }

include ../../../layout/card-product-category.pug

-
  data = {
    category: 'pembiayaan',
    title: 'Pembiayaan',
    premier: true,
    card: [
      {
        to: '#',
        image: 'product-category-16.jpg',
        title: 'Kartu Kredit',
        description: 'Berinvestasi melalui instrumen keuangan merupakan alternatif pilihan menarik untuk memperoleh pertumbuhan aset yang optimal '
      },
      {
        to: '#',
        image: 'product-category-13.jpg',
        title: 'Kredit Multiguna',
        description: 'Berinvestasi melalui instrumen keuangan merupakan alternatif pilihan menarik untuk memperoleh pertumbuhan aset yang optimal '
      },
      {
        to: '#',
        image: 'product-category-15.jpg',
        title: 'KPR',
        description: 'Berinvestasi melalui instrumen keuangan merupakan alternatif pilihan menarik untuk memperoleh pertumbuhan aset yang optimal '
      },
      {
        to: '#',
        image: 'product-category-12.jpg',
        title: 'Treasury',
        description: 'Berinvestasi melalui instrumen keuangan merupakan alternatif pilihan menarik untuk memperoleh pertumbuhan aset yang optimal '
      }
    ]
  }

include ../../../layout/card-product-category.pug
