/* ==========================================================================
   OCBC Component: Table Calculator
   ========================================================================== */

.#{$prefix}tbl-calc {
  &__title {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__tbl {
    $tbl: &;
    padding: 24px;
    background-color: color(gray, 1);
    border-radius: 8px;
    overflow: hidden;
    @include shadow(16);
    @media print {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding: 24px 16px;
      border-radius: 0;
    }
    &__row {
      display: table;
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      &--bt {
        border-top: solid 1px color(gray, 2);
        #{$tbl}__col {
          padding-top: 16px;
        }
      }
    }
    &__col {
      display: table-cell;
      vertical-align: top;
      color: color(white);
      @media print {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }
      &:last-child {
        width: 120px;
        text-align: right;
      }
    }
    &__txt {
      @include font-size(body);
      margin-bottom: 0; 
    }
  }
  &__desc {
    margin-top: 16px;
    max-width: 704px;
    &__txt {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include small {
      padding-right: 24px;
    }
  }
}
