/* ==========================================================================
   OCBC Components: Table Comparison 
   ========================================================================== */

.#{$prefix}tbl-comp {
  $tc: &;
  margin-bottom: 8px;
  float: none;
  &__head {
    padding: 16px 0;
    @include font-size(body, desktop);
    font-weight: fw(bold);
    border-bottom: 1px solid color(gray, 3 );
  }
  &__row {
    padding: 24px 0;
    border-bottom: 1px solid color(gray, 5);
    @include element(after) {
      content: '';
      display: block;
      clear: both;
    }
    &:last-child , &:only-child {
      border-bottom: none;
    }
  }
  &__p {
    margin-top: 8px;
    margin-bottom: 24px
  }
  &__data {
    padding: 0 24px;
    float: left;
    width: 25%;
    color: color(gray, 2);
    vertical-align: top;
    .#{$prefix}fi {
      @include font-size(h3, desktop);
      color: color(secondary, 14);
    }
    &:first-child {
      color: color(gray,1);
    }
    @include medium {
      width: 33.3333%;
    }
    @include small {
      padding: 0 24px 24px 0;
      width: 50%;
      float: none;
      display: inline-block;
      &:first-child{
        width: 100%;
        display: block;
        padding: 0 0 8px;
      }
    }
    &-src {
      display: none;
    }
  }

  // modifier/variant
  &--syarat-ketentuan {
    margin-bottom: 32px;
  }
}