/* ==========================================================================
   OCBC Component: File Report
   ========================================================================== */

&--file-report {
  position: relative;
  display: block;
  @include medium {
    max-width: initial;
  }
  #{$c}__box {
    border-radius: 8px;
    padding: 24px 24px 48px 80px;
    background-color: color(white);
    @include shadow(5);
    transition: all 0.3s ease;
    min-height: 136px;
    @include large {
      min-height: 148px;
    }
    @include small {
      min-height: 120px;
      padding: 16px 24px 48px 64px;
    }
  }
  #{$c}__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 24px;
    top: 28px;
    @include small {
      width: 24px;
      height: 24px;
      left: 24px;
      top: 16px;
    }
  }
  #{$c}__txt {
    position: static;
    color: color(gray, 1);
    padding: 0;
  }
  #{$c}__title {
    @include font-size(body);
    font-weight: fw(bold);
  }
  #{$c}__btn{
    position: absolute;
    bottom: 16px;
    left: 80px;
    @include small {
      left: 64px;
    }
  }
}
