/* ==========================================================================
   OCBC Component: Sort Fragment
   ========================================================================== */

.#{$prefix}sort {
  $sof: &;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: color(gray, 1);
  background-color: transparent;
  font-size: 2rem;
  line-height: 3.2rem;
  @include small {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    @include small {
      height: 20px;
      width: 20px;
      padding: 3px 0;
    }
  }
  &__bar {
    display: block;
    height: 2px;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: color(gray, 1);
    transition: all .35s ease;
    &:nth-child(1) {
      width: 20px;
    }
    &:nth-child(2) {
      width: 13px;
    }
    &:nth-child(3) {
      background-color: color(primary, 1);
      width: 7px;
      margin-bottom: 0;
    }
    @include small {
      margin-bottom: 3px;
      &:nth-child(1) {
        width: 18px;
      }
      &:nth-child(2) {
        width: 11px;
      }
      &:nth-child(3) {
        width: 5px;
      }
    }
  }
  &--oldest {
    #{$sof}__bar {
      &:nth-child(1) {
        width: 7px;
        background-color: color(primary, 1);
      }
      &:nth-child(3) {
        width: 20px;
        background-color: color(gray, 1);
      }
      @include small {
        &:nth-child(1) {
          width: 5px;
        }
        &:nth-child(3) {
          width: 18px;
        }
      }
    }
  }
}
