/* ==========================================================================
   OCBC Component: How To Fragment
   ========================================================================== */

//  --- how to fr
.#{$prefix}how-to-fr {
  &__item {
    display: block;
    position: relative;
    margin-bottom: 16px;
    @include element(after){
      content: '';
      display: block;
      clear: both;
    }
  }
  &__img {
    &-wrapper {
      float: left;
      width: 276px;
      padding: 0 16px;

      @include medium {
        float: none;
        margin: auto;
      }
    }
  }
  &__content {
    &-wrapper {
      position: absolute;
      top: 50%;
      right: 0;
      resize: vertical;
      transform: translateY(-50%);
      padding-left: 40px;

      @include medium {
        position: relative;
        top: initial;
        right: initial;
        transform: none;
        padding-left: 0;
        text-align: center;
      }
    }
  }
  &__label {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 4px;
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    width: 70%;

    @include medium {
      margin: auto;
      width: 80%;
    }
    @include small {
      width: 95%;
    }
  }
}