/* ==========================================================================
   OCBC Component: Search Filter
   ========================================================================== */

.#{$prefix}filter-container {
  margin-bottom: 40px;
  &:last-child{
    margin-bottom: 0;
  }
}

.#{$prefix}filter-title{
  margin-bottom: 16px;
  &__txt{
    margin-bottom: 0;
  }
}

.#{$prefix}filter-checkbox {
  $fc: &;
  position: relative;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid color(gray, 5);
  @include element(after) {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-filter-checkbox-before;
    border-radius: 4px;
    background-color: color(white);
    box-shadow: inset 0 1px 3px 0 rgba(color(black), .25);
    transition: all .3s ease;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &__icon {
    width: 100%;
    vertical-align: top;
    &-wrapper {
      display: block;
      width: 24px;
      height: 24px;
      padding: 2px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-filter-checkbox-icon;
    }
  }
  &__label {
    display: block;
    padding-left: 0;
    padding-right: 32px;
    color: color(gray, 2);
    @include font-size(body);
    transition: color .3s ease;
    position: relative;
    @include element(before){
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: $z-filter-checkbox-input-before;
      border-radius: 4px;
      opacity: 0;
      background-color: color(white);
      background-image: lg(primary);
      transition: all .3s ease;
    }
    @include element(after){
      position: absolute;
      font-size: 1.6rem;
      color: color(white);
      right: 4px;
      top: 4px;
      z-index: $z-filter-checkbox-input-after;
      transition: all .3s ease;
      transform: scale(0);
      @include font-icon("\e905");
    }
  }
  &__input {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    outline: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    opacity: 0;
    z-index: $z-filter-checkbox-input;
    &:checked{
      + #{$fc}__label{
        color: color(gray, 1);
        font-weight: fw(bold);
        @include element(before){
          opacity: 1;
        }
        @include element(after){
          transform: scale(1);
        }
      }
    }
  }
  // --icon
  &--icon {
    #{$fc}__label {
      padding-left: 32px;
    }
  }
}
