/* ==========================================================================
   OCBC Component: Mega Menu
   ========================================================================== */

.#{$prefix}mega-menu {
  $mm: &;
  height: 100%;
  padding: 32px 0 174px;
  position: relative;

  @include large {
    padding: 0;
  }

  &__row {
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;

    @include large {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__col {
    float: left;
    padding: 0 12px;
    width: 16.6666666%;

    @include large {
      float: none;
      width: 100%;
      padding: 0;

      &.#{$prefix}mega-menu-accordion-lvl-2--expand {
        border-bottom: 0;

        #{$mm}__item {
          opacity: 1;
          transform: translateX(0);
        }

        #{$mm}__title {
          @include element(after) {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }

  &__img-wrapper {
    width: 100%;
    height: 92px;
    border-radius: 8px;
    overflow: hidden;
    // --- for safari
    // remove bug google chrome
    // -webkit-mask-image: -webkit-radial-gradient(white, black);

    &--square {
      height: 184px;
    }
  }

  &__img {
    display: block;
    transition: all 0.35s ease;
    @include image(cover, center center);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @include large {
      padding-left: 8px;
      padding-bottom: 8px;
      display: none;
    }
  }

  &__img-item {
    margin-bottom: 8px;

    @include large {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    /* ~~~--~~~
    @modifier: ocbc-mega-menu__img-item--lnk
    @description: card link image
    ~~~--~~~ */
    &--lnk {
      position: relative;

      .#{$prefix}lnk {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-card-lnk-overlay;
        opacity: 0;
      }

      &:hover {
        #{$mm}__img {
          transform: scale(1.1);
        }
      }

      @include large {
        display: none;
      }
    }

    /* ~~~--~~~
    @modifier: ocbc-mega-menu__img-item--lnk-card
    @description: card link image with text
    ~~~--~~~ */
    &--lnk-card {
      margin-top: 16px;
      position: relative;
      overflow: hidden;

      #{$mm}__img-wrapper{
        // <pseudo-element/>
        @include element(after) {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: $z-card-img-grad;
          background-image: linear-gradient(90deg, rgba(color(black), .8) 0%, rgba(color(black),0) 116%);
          border-radius: inherit;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &--d {
        #{$mm}__img-wrapper{
          // <pseudo-element/>
          @include element(after) {
            background-image: linear-gradient(to bottom, rgba(color(black), 0) 35%, rgba(color(black), 0.6) 109%);
          }
        }
      }

      @include large {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 8px;
        border-bottom: solid 1px color(gray, 6);

        &--d {
          display: none;
        }

        #{$mm}__img-wrapper{
          display: none;
        }

      }

      #{$mm} & {
        .#{$prefix}lnk {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 8px 16px;
          font-weight: fw(bold);
          color: color(white);
          z-index: $z-card-lnk-overlay;
          // ini kebutuhannya untuk > large screen saja
          font-size: fz(body, desktop);
          line-height: lh(body, desktop);
          font-weight: fw(bold);

          // <pseudo-element/>
          @include element(after) {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            top: -200%;
            width: 100%;
            bottom: 0;
            opacity: 0;
          }

          @include large {
            position: static;
            padding: 4px 8px;
            color: color(gray, 1);
            font-weight: fw(regular);
            font-size: fz(small, mobile);
            line-height: lh(small, mobile);

            @include element(after) {
              content: none;
              display: none;
            }
          }
        }
      }

      &:hover {
        #{$mm}__img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__title {
    // ini kebutuhannya untuk > large screen saja
    font-size: fz(body, desktop);
    line-height: lh(body, desktop);
    font-weight: fw(bold);
    margin-bottom: 16px;
    position: relative;
    display: none;

    @include large {
      display: block;
      font-weight: fw(regular);
      font-size: fz(small, mobile);
      line-height: lh(small, mobile);
      margin-bottom: 0;
      padding-top: 12px;
      padding-bottom: 4px;
      border-bottom: solid 1px color(gray, 6);
    }

    // <pseudo-element/>
    @include element(after) {
      display: none;

      @include large {
        @include font-icon("\e906");
        position: absolute;
        font-size: 1.6rem;
        bottom: 10px;
        right: 8px;
        display: block;
        z-index: $z-header-nav-dropdown;
        transition: all 0.35s ease;
        color: color(gray, 2);
      }
    }

    .#{$prefix}lnk {
      transition: color 0.3s ease;
      @include remove-tap-highlight;

      &:hover {
        color: color(primary, 1);
        // -- premier site
        .#{$prefix}premier-site & {
          color: color(premier, 1);
        }
        // -- private site
        .#{$prefix}private-site & {
          color: color(private, 1);
        }
      }

      @include large {
        display: block;
        padding: 4px 8px;
        position: relative;
        z-index: $z-header-nav-link;

        &:hover {
          color: color(gray, 1);
          // -- premier site
          .#{$prefix}premier-site &,
          // -- private site
          .#{$prefix}private-site & {
            color: color(gray, 1);
          }
        }
      }
    }
  }

  &__item {
    margin-bottom: 8px;
    @include font-size(small);

    &--m {
      display: none;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .#{$prefix}lnk {
      transition: color 0.3s ease;

      &:hover {
        color: color(primary, 1);
        // -- premier site
        .#{$prefix}premier-site & {
          color: color(premier, 1);
        }
        // -- private site
        .#{$prefix}private-site & {
          color: color(private, 1);
        }
      }
    }

    @include large {
      margin-bottom: 0;
      padding-top: 12px;
      padding-bottom: 4px;
      border-bottom: solid 1px color(gray, 6);
      opacity: 0;
      transform: translateX(8px);
      transition: all 0.5s ease;

      &--m {
        display: block;
      }

      .#{$prefix}lnk {
        padding: 4px 8px;
        display: inline-block;
        &:hover {
          color: color(gray, 1);
          // -- premier site
          .#{$prefix}premier-site &,
          // -- private site
          .#{$prefix}private-site & {
            color: color(gray, 1);
          }
        }
      }
    }
  }

  .#{$prefix}lnk {
    text-decoration: none;
    color: color(gray, 1);
  }

  // --- widget-btn
  &__widget-btn {
    position: absolute;
    bottom: 56px;
    left: 0;
    right: 0;

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
      @include clearfix;
    }

    &__item {
      float: left;
      padding: 0 12px;
      width: 16.6666666%;
    }

    @include large {
      position: static;
      margin-top: 24px;

      &__item {
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
