/* ==========================================================================
   OCBC Component: Basic Pages
   ========================================================================== */

.#{$prefix}basic-pages {
  padding-bottom: 32px;
  @include small{
    padding-bottom: 16px;
  }
  &-container{
    max-width: 808px;
  }    
  &--section-header{
    margin-bottom: 40px;
  }   
  &--content-item{
    margin-bottom: 32px;
  }  
  &__title{
    @include small{
      margin-bottom: 8px;
    }
  }   
  &__sub-title{
    @include small{
      margin-bottom: 8px;
    }
  }  
  &__description{
    color: color(gray, 2);
    margin-bottom: 24px;
  }
  &__list-container{
    color: color(gray, 2);
    margin-bottom: 32px;
  }  
  &__list-item{
    margin-bottom: 24px;
    list-style-position: outside;
    &:last-child{
      margin-bottom: 0;
    }
  }  
  &__sub-item{
    list-style-type: disc; 
    list-style-position: outside;
  } 
  &__table-title{
    font-weight: fw(regular);
  }  
  &__table-description{
    color: color(gray, 2);
  }
  &__list-title{
    color: color(gray, 2);
    margin-bottom: 0;
  }
  &__table-wrapper{
    margin-bottom: 16px;
  }
}
