/* ==========================================================================
   OCBC Component: Card Info FAQ
   ========================================================================== */

&--faq {
  #{$w}__body {
    padding-top: 32px;
    @include small {
      padding-top: 48px;
    }
  }
  .#{$prefix}form__row {
    margin-bottom: 32px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
