/* ==========================================================================
   OCBC Component: FAQ Dropdown
   ========================================================================== */

.#{$prefix}faq-dd {
  $fdd: &;
  padding: 64px 0;
  max-width: 700px;

  @include medium {
    max-width: initial;
    padding: 48px 0;
  }

  &-txt {
    font-weight: fw(bold);
    @include font-size(h4);
    margin-bottom: 40px;

    @include medium {
      margin-bottom: 16px;
    }
  }

  &__qst {
    margin-bottom: 32px;
  }

  &__ans-list {
    display: none;

    &--active {
      display: block;
    }
  }

  &__ans-txt {
    margin-bottom: 32px;
    color: color(gray, 2);

    a {
      text-decoration: none;
      transition: all .3s ease;

      &:hover {
        text-decoration: underline;
        color: color(primary, 1);
      }
    }
  }

  &__prod-detail {
    background-color: color(gray, 7);
  }

  &__internship {
    background-color: color(gray, 7);
    margin-top: 32px;

    @include medium {
      margin-top: 48px;
    }
  }

  &__line {
    height: 1px;
    border-bottom: 1px;
    width: 100%;
    background-color: color(gray, 3);
    margin-bottom: 36px;
  }

  &__btm {
    display: table;

    @include small {
      display: block;
    }
  }

  &__more {
    display: table-cell;
    vertical-align: middle;

    @include small {
      display: block;

      &:last-child {
        width: 48px;
      }
    }
  }

  #{$fdd}__more {
    padding-right: 16px;

    @include small {
      padding-right: 0;
    }
  }
}
