/* ==========================================================================
   OCBC Component: Breadcrumbs
   ========================================================================== */

.#{$prefix}breadcrumbs {
  $br: &;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: color(white);
  @include ellipsis;
  &--dark {
    #{$br}__item {
      color: color(white);
    }
  }
  &--light {
    #{$br}__item {
      color: color(gray, 1);
    }
  }
  &__item {
    @include font-size(label);
    display: inline;
    margin-right: 16px;
    color: color(gray, 1);
    @include medium {
      margin-right: 8px;
    }
    @include small {
      margin-right: 4px;
    }
    // <pseudo-element/>
    @include element(after) {
      font-size: 1rem;
      margin-left: 16px;
      @include font-icon("\e908");
      @include medium {
        margin-left: 8px;
      }
      @include small {
        margin-left: 4px;
      }
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      font-weight: fw(medium);
      // <pseudo-element/>
      @include element(after) {
        display: none;
      }
    }
  }
  .#{$prefix}lnk {
    text-decoration: none;
  }
  &__page {
    position: absolute;
    width: 100%;
    top: 120px;
    z-index: $z-breadcrumbs;
    transition: all .5s ease .5s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(4px);
    }
    @include large {
      top: 88px;
    }
  }
}
