/* ==========================================================================
   OCBC Component: Card Info Exchange Rate
   ========================================================================== */

&--xr {
  $er: &;

  @include small {
    padding-bottom: 48px;
  }

  &__table {
    margin: 16px 0;
    width: 100%;
    border-collapse: collapse;

    @include small {
      margin: 8px 0 0;
    }
  }

  &__title {
    padding: 8px;
    vertical-align: middle;
    @include font-size(small);
    font-weight: fw(bold);

    &:first-child {
      text-align: left;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: 64px;
      text-align: center;
    }

    &:nth-child(2) {
      padding-right: 40px;

      @include small {
        padding-right: 24px;
      }
    }
  }

  &__data {
    padding: 8px;
    @include font-size(small);
    vertical-align: middle;

    &:nth-child(2),
    &:nth-child(3) {
      width: 64px;
      text-align: right;
    }

    &:nth-child(2) {
      padding-right: 40px;

      @include small {
        padding-right: 24px;
      }
    }
  }

  &__flag {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 16px;
    border: solid 1px color(gray, 6);

    &-img {
      @include image(cover, center center);
    }
  }
}
