/* ==========================================================================
   OCBC Component: Card Achievement
   ========================================================================== */

&--achievement {
  padding-top: 40px;
  #{$c}__box {
    width: 392px;
    overflow: visible;
    @include small {
      width: 288px;
    }
  }
  #{$c}__inner-box {
    padding: 44px 0 8px;
    position: relative;
    border-radius: 8px;
    text-align: center;
    @include shadow(8);
    @include element(before){
      content: '';
      display: block;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background-color: color(white);
      position: absolute;
      top: -36px;
      left: 50%;
      margin-left: -44px;
      z-index: $z-card-achievement-before;
      @include shadow(8);
    }
    @include element(after){
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: $z-card-achievement-after;
      border-radius: 8px;
      background-color: color(white);
    }
  }
  #{$c}__circle {
    position: absolute;
    width: 72px;
    height: 72px;
    top: -28px;
    left: 50%;
    z-index: $z-card-achievement-circle;
    margin-left: -36px;
  }
  #{$c}__logo {
    @include image(cover, center center)
  }
  #{$c}__txt {
    padding: 16px 16px 64px;
    position: relative;
    z-index: $z-card-achievement-text;
    transition: none;
    @include element(after){
      content: '';
      position: absolute;
      bottom: -8px;
      height: 8px;
      left: 0;
      width: 100%;
      border-radius: 0 0 8px 8px;
      background-image: linear-gradient(to right, #eeeeee, #dfe0e4 36%, #dadbe1 63%, color(white));
    }
  }
  #{$c}__date,
  #{$c}__from,
  #{$c}__location {
    color: color(gray, 2);
    @include font-size(small);
  }
  #{$c}__date,
  #{$c}__location{
    margin-bottom: 0;
  }
  #{$c}__date {
    max-width: 294px;
    margin: 0 auto;
    margin-bottom: 4px;
  }
  #{$c}__from {
    max-width: 294px;
    margin: 0 auto;
  }
  #{$c}__award {
    color: color(gray, 1);
    min-height: 96px;
    max-width: 294px;
    margin: 0 auto;
    margin-top: 16px;
  }
  #{$c}__location{
    position: absolute;
    bottom: 32px;
    left: 16px;
    right: 16px;
  }
}
