/* ==========================================================================
   OCBC Component: Card Icon Title
   ========================================================================== */

&--icon-title {
  display: block;

  #{$c}__box {
    height: 132px;
    border-radius: 8px;
    position: relative;
    background-color: color(white);
    @include shadow(6);
    padding: 16px;
    white-space: normal;
    transition: transform .3s ease, shadow .3s ease;
    &:hover {
      transform: translateY(-2px);
      @include shadow(8);
    }
  }
  #{$c}__img {
    width: 32px;
    height: 32px;
  }
  #{$c}__title {
    @include font-size(body);
    color: color(gray, 1);
    font-weight: fw(bold);
    margin: 16px 0 0;
  }
}
