/* ==========================================================================
   OCBC Component: Card Nyala Comparison
   ========================================================================== */

&--nyala-c {
  position: relative;
  display: block;
  max-width: 392px;
  background-color: color(white);
  @include medium {
    max-width: initial;
    white-space: normal;
  }
  #{$c}__box {
    min-height: 600px;
    border-radius: 8px;
    transition: all 0.35s ease;
    @include shadow(8);
    @include large {
      min-height: 664px;
    }
    @include medium {
      min-height: 640px;
    }
    @include small {
      min-height: 568px;
    }
  }
  #{$c}__txt {
    padding: 24px 24px 96px;
    position: static;
    color: color(gray, 1);
  }
  #{$c}__type {
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(primary, 1);
    margin-bottom: 32px;
    @include medium {
      margin-bottom: 24px;
    }
  }
  #{$c}__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 24px;
    @include medium {
      margin-bottom: 16px;
    }
  }
  #{$c}__list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: color(gray, 2);
  }
  #{$c}__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: color(gray, 2);
    &__item {
      margin-bottom: 8px;
      padding-left: 24px;
      position: relative;
      @include font-size(body);
      &:last-child{
        margin-bottom: 0;
      }
      .#{$prefix}fi {
        position: absolute;
        top: 4px;
        left: 0;
        color: color(primary, 1);
      }
    }
  }
  #{$c}__btn {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
  }
}
