/* ==========================================================================
   OCBC Component: Disclaimer
   ========================================================================== */

.#{$prefix}disclaimer {
  padding: 48px 0;
  background-color: color(gray, 7);
  @media print {
    background-color: color(gray, 7);
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
  &__content {
    max-width: 808px;
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__list {
    list-style: decimal;
    margin-bottom: 0;
    padding-left: 18px;
  }
  &__item {
    font-weight: fw(regular);
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 24px;
    padding-left: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
