/* ==========================================================================
   OCBC Component: Floating Card Apply
   ========================================================================== */

&--ca {
  $ca: &;
  min-height: 80px;
  border-radius: 8px;
  padding: 16px 120px;
  background-color: color(white);
  opacity: 1;
  @include shadow(8);

  @include element(after) {
    content: "";
    display: block;
    clear: both;
  }

  .ocbc-btn {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }

    @include element(after) {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
    text-align: right;
    font-size: 0;
    line-height: 1;
  }

  &__one-button {
    @include small {
      float: none;
      display: table-cell;
      vertical-align: middle;

      &:first-child {
        width: 55%
      }

      &:last-child {
        width: 45%;
      }
    }

    @include retina {
      &:first-child {
        width: 49%
      }

      &:last-child {
        width: 51%;
      }
    }
  }

  &__two-button {
    @include medium {
      float: none;
      display: block;
      width: 100%;

      &:last-child {
        margin-top: 8px;
        text-align: center;
      }
      .ocbc-btn {
        width: 47%;
        margin-right: 8px;
        &:last-child {
          margin-right: 0;
        }
      }
      #{$ca}-txt {
        padding: 0;
      }
    }
    @include retina {
      .ocbc-btn {
        width: auto;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &-img,
  &-txt {
    display: inline-block;
    vertical-align: middle;
  }

  &-img {
    height: 48px;
    margin-right: 24px;
  }

  &-txt {
    @include font-size(h4);
    font-weight: fw(bold);
    margin: 0;
    padding: 8px 0;
    @include small {
      padding: 0;
    }
  }

  &__prod-detail {
    padding: 8px 0;
    position: fixed;
    transform: translateY(100%);
    transition: transform 0.35s ease;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-scrollify-dots;
  }

  // --floating
  &--floating {
    position: fixed;
    transform: translateY(0);
    transition: transform 0.5s ease;
  }

  @include large {
    padding: 16px 80px;
  }


  @include medium {
    padding: 16px 32px;
  }

  @include small {
    padding: 16px;
    display: table;
    width: 100%;

    &-img {
      display: none;
    }
  }
}
