/* ==========================================================================
   OCBC Component: Vertical Tab
   ========================================================================== */

.#{$prefix}vertical-tab{
  $vt: &;
  display: inline-block;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 288px;
  @include large {
    display: none;
  }
  &__wrapper {
    position: relative;
    &--active {
      #{$vt}__item {
        color: color(gray, 1);
        font-weight: fw(bold);
        border-bottom: 1px solid color(primary, 1);
      }
      #{$vt}__icon {
        opacity: 1;
        transform: translateX(0);
      }
      #{$vt}__sub {
        &-wrapper {
          height: auto;
        }
        &-item {
          opacity: 1;
          transform: none;
        }
      }
      @include large {
        @include element(after) {
          content: '';
          position: absolute;
          width: 32px;
          height: 2px;
          background-color: color(primary, 1);
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    @include large {
      width: 100%;
      opacity: 0;
      border-bottom: 0;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      transition: all .5s ease;
      text-align: center;
      &--active {
        opacity: 1;
        transition: all 1s ease;
      }
    }
  }
  &__sub {
    &:first-child {
      padding-top: 8px;
    }
    &:last-child {
      padding-bottom: 16px;
    }
    &-wrapper {
      height: 0;
      overflow: hidden;
      padding-left: 16px;
    }
    &-item {
      @include font-size(label, desktop);
      font-weight: fw(regular);
      color: color(gray, 4);
      margin: 0;
      padding: 8px 0;
      cursor: pointer;
      transition: color .2s ease, opacity .35s ease, transform .35s ease;
      opacity: 0;
      transform: translateX(8px);
      &:hover {
        color: color(gray, 1);
      }
    }
    &--active {
      #{$vt}__sub {
        &-item {
          font-weight: fw(bold);
          color: color(gray, 1);
        }
      }
    }
  }
  &__item {
    margin: 0;
    @include font-size(body);
    color: color(gray, 4);
    border-bottom: 1px solid color(gray, 4);
    font-weight: fw(regular);
    vertical-align: middle;
    padding: 16px 0;
    transition: color .3s ease;
    display: block;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: color(gray, 1);
    }
    @include large {
      display: inline-block;
      margin: auto;
      padding-top: 0;
    }
  }
  &__icon {
    @include font-size(body);
    vertical-align: middle;
    color: color(gray, 1);
    position: absolute;
    top: 16px;
    right: 0;
    opacity: 0;
    transition: all .25s ease;
    transform: translateX(-8px);
    @include large {
      display: none;
    }
  }
  &__small-icon {
    @include font-size(body);
    position: absolute;
    color: color(gray, 1);
    display: none;
    opacity: 1;
    transition: all .5 ease;
    z-index: $z-vertical-tab-small-icon;
    @include large {
      display: inline-block;
      top: 0;
      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
      &--hide {
        display: none;
      }
    }
  }
  &__page {
    padding: 32px 0 64px;
    &--faq {
      padding-top: 48px;
    }
    .#{$prefix}tabs__content & {
      padding-bottom: 32px;
    }
    @include large {
      display: block;
      padding: 32px 0 48px;
      &--faq {
        padding-top: 48px;
      }
      .#{$prefix}tabs__content & {
        padding-bottom: 0;
      }
      .#{$prefix}tabs__content .ocbc-tabs__pane[data-pane="internship"] & {
        padding-bottom: 28px;
      }
    }
    @include small {
      &--faq {
        padding-top: 40px;
      }
      .#{$prefix}tabs__content & {
        padding-bottom: 24px;
      }
      .#{$prefix}tabs__content .ocbc-tabs__pane[data-pane="internship"] & {
        padding-bottom: 24px;
      }
    }
  }
  &__dd {
    display: none;
    @include large {
      display: block;
    }
    &-txt {
      font-weight: fw(bold);
    }
    &__select {
      .ocbc-select {
        &__text {
          @include font-size(h4);
          font-weight: fw(bold);
        }
      }
    }
    &__qst {
      margin-bottom: 24px;
    }
    &__ans-list {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &--about {
    display: none;
    visibility: hidden;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 0.35s ease;
    &__active {
      display: block;
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
