/* ==========================================================================
   OCBC Component: Search Banner
   ========================================================================== */

.#{$prefix}srch-banner {
  position: relative;
  z-index: $z-search-banner;
  min-height: 320px;
  background-color: color(gray, 5);
  @include small {
    min-height: 340px;
  }
  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-banner-img;
    height: 100%;
    width: 100%;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, right center);
    &--m {
      display: none;
    }
    @include small {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__content {
    max-width: 496px;
    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 136px 0 72px;
      z-index: $z-banner-txt;
    }
    @include medium {
      max-width: 400px;
    }
    @include small {
      &-wrapper {
        padding: 112px 0 140px;
      }
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  // component modifier goes here
}
