/* ==========================================================================
   OCBC Component: Tax Amnesty Section
   ========================================================================== */

.#{$prefix}tax-amnesty-section {
  $csp: &;
  overflow: hidden;
  position: relative;
  padding: 64px 0;
  @include small {
    padding: 48px 0;
  }
  &--reverse {
    #{$csp}__img-wrapper{
      left: auto;
      right: 0;
      @include large {
        right: 0;
      }
      @include medium {
        right: auto;
        left: 0;
      }
    }
    #{$csp}__txt{
      padding-left: 0;
      padding-right: 728px;
      @include large {
        padding-right: 512px;
      }
      @include medium {
        padding-right: 0;
      }
    }
  }
  &__content{
    min-height: 600px;
    display: table;
    width: 100%;
    position: relative;
    border-radius: 50%;
    margin: 0;
    left: 0;
    // --- firefox
    @include firefox-browser {
      height: 600px;
    }
    @include large {
      min-height: 480px;
      // --- firefox
      @include firefox-browser {
        height: 480px;
      }
    }
    @include medium {
      display: block;
      min-height: initial;
      // --- firefox
      @include firefox-browser {
        height: auto;
      }
    }
  }
  &__img {
    width: 100%;
    height: auto;
    &-wrapper {
      width: 600px;
      position: absolute;
      left: 0;
      top: 0;
      @include large {
        width: 480px;
        left: 0;
      }
      @include medium {
        width: 400px;
        position: static;
        margin-left: -72px;
        margin-bottom: 40px;
      }
      @include small {
        margin-left: 0;
        margin-left: -56px;
      }
      @include retina {
        width: 360px;
        margin-bottom: 32px;
      }
    }
  }
  &__txt {
    display: table-cell;
    vertical-align: middle;
    padding-left: 728px;
    @include large {
      padding-left: 536px;
    }
    @include medium {
      padding-left: 0;
      display: block;
    }
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
    @include small {
      margin-bottom: 16px;
    }
  }
  &__desc {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
  }
}
