/* ==========================================================================
   OCBC Component: Widget Kurs Filter
   ========================================================================== */

.#{$prefix}widget-xr-calc {
  $f: &;

  // __head
  &__head {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 64px;

    @include medium {
      margin-bottom: 16px;
    }

    .#{$prefix}btn-icon {
      //hide content
      display: none;
      position: absolute;
      right: -4px;
      top: 4px;

      .#{$prefix}fi {
        font-size: 1.6rem;
        margin-top: -8px;
        margin-left: -8px;
      }

      @include small {
        top: 0;
      }
    }
  }

  &__title {
    display: table-cell;
    vertical-align: middle;
    font-weight: fw(regular);
    @include font-size(h4);
  }

  &__label {
    @include font-size(body);
    color: color(gray, 2);
    display: block;
    margin-bottom: 16px;

    @include small {
      margin-bottom: 8px;
    }
  }

  &__date {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 24px;
    @include font-size(body);
    //hide content
    display: none;
  }

  // __body
  &__body {
    background-color: color(white);
    border-radius: 8px;
    padding: 32px 104px;
    @include shadow(16);

    @include large {
      padding: 32px 64px;
    }

    @include medium {
      padding: 32px 24px;
    }
  }

  &__type {
    margin-bottom: 24px;

    @include medium {
      margin-bottom: 48px;
    }

    &-text,
    &-option {
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
    }

    &-text {
      font-weight: fw(bold);
      @include font-size(body);
      margin-bottom: 0;

      @include retina {
        margin-right: 24px;
      }
    }

    &-option {
      @include large {
        margin-right: 32px;
      }

      @include retina {
        margin-right: 24px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__form-input {
    width: 100%;
    display: table;

    @include medium {
      display: block;
    }
  }

  &__input-col,
  &__switch,
  &__input-select,
  &__input-txt,
  &__input-btn {
    display: table-cell;
    vertical-align: middle;
  }

  &__input-col {
    width: 400px;
    @include medium {
      display: block;
      width: auto;
    }
  }

  &__input-group {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  &__input-select {
    width: 104px;
    @include small {
      width: 72px;
    }
  }

  &__input-txt {
    padding-left: 24px;

    @include small {
      padding-left: 16px;
    }
  }

  &__switch {
    padding: 0 88px;
    text-align: center;
    $sw: &;

    .#{$prefix}btn-icon {
      width: 32px;
      height: 32px;
      padding: 0;
    }

    &__icon {
      width: 100%;
      transition: all 0.25s ease;
    }

    // --switched
    &--switched {
      .#{$prefix}btn-icon {
        #{$sw}__icon {
          transform: rotateY(180deg);
        }
      }
    }

    @include large {
      padding: 0 48px;
    }

    @include medium {
      display: block;
      width: auto;
      margin: 24px 0 4px;
      text-align: center;
      padding: 0 24px;

      .#{$prefix}btn-icon {
        transform: rotate(90deg);
        transform-origin: center center;
      }
    }
  }

  &__input-btn {
    text-align: right;
    padding-left: 64px;

    @include large {
      padding-left: 32px;
    }

    @include medium {
      display: block;
      margin-top: 48px;
      text-align: initial;
      padding-left: 0;

      .#{$prefix}btn {
        width: 100%;
      }
    }
  }

  .#{$prefix}input {
    font-weight: fw(bold);
    border-color: color(black);
    @include font-size(h3);
    padding: 0 8px 8px;

    @include small {
      padding-bottom: 4px;
    }
  }

  .#{$prefix}select {
    &__text {
      font-weight: fw(bold);
      border-color: color(black);
      @include font-size(h3);
      padding-left: 8px;

      @include element(after) {
        right: 8px;
        bottom: 16px;

        @include small {
          right: 4px;
          bottom: 8px;
        }
      }

      @include small {
        padding-bottom: 4px;
      }
    }

    &__item {
      color: color(gray, 1);
      padding-right: 32px;
      padding-left: 16px;

      @include element(after) {
        right: 12px;
      }

      &--selected {
        color: color(primary, 1);
      }

      @include small {
        padding-right: 32px;
        padding-left: 8px;

        @include element(after) {
          right: 8px;
        }
      }
    }
  }
}
