/* ==========================================================================
   OCBC Component: Icon Text
   ========================================================================== */

.#{$prefix}icon-text {
  $it: &;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  &--print {
    @include small {
      display: none;
    }
  }
  &__btn {
    @include font-size(h4);
    font-weight: fw(normal);
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    @include remove-tap-highlight;
    #{$it}__icon-wrapper {
      margin-top: 4px;
      @include small {
        margin-top: 0;
      }
    }
  }
  &__icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    &-wrapper {
      width: 24px;
      height: 24px;
      display: inline-block;
      position: relative;
      vertical-align: top;
      margin-right: 8px;
    }
  }

  &__share {
    position: absolute;
    left: -4px;
    z-index: $z-share;
    padding-top: 8px;
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
    transform: translateY(4px);
    @include large {
      left: auto;
      right: 0;
    }
    @include small {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: $z-share-mobile;
      transform: none;
      background-color: rgba(color(secondary, 7), .8);
      transition-delay: .15s;
    }
    .show-share-list & {
      visibility: visible;
      opacity: 1;
      transform: none;
      @include small {
        transition-delay: 0s;
      }
    }
    &__box {
      border-radius: 8px;
      overflow: hidden;
      background-color: color(white);
      min-width: 168px;
      text-align: left;
      white-space: nowrap;
      padding: 8px 0;
      @include shadow(16);
      @include small {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 44px;
        border-radius: 8px 8px 0 0;
        transform: translateY(100%);
        transition: all .3s ease;
        transition-delay: 0s;
        .show-share-list & {
          transform: none;
          transition-delay: .15s;
        }
      }
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__item {
      padding: 0;
      margin: 0;
    }
    .#{$prefix}lnk {
      display: block;
      text-decoration: none;
      padding: 8px 16px;
      @include font-size(body);
      color: color(gray, 1);
      transition: all .3s ease;
      &:hover {
        background-color: color(gray, 6);
        color: color(primary, 1);
      }
      @include small {
        padding: 12px 16px;
        &:hover {
          background-color: transparent;
          color: color(gray, 1);
        }
        &:active {
          background-color: color(gray, 6);
          color: color(primary, 1);
        }
      }
    }
  }
  &__close {
    display: none;
    @include small {
      padding: 8px 0;
      border: 0;
      display: block;
      width: 32px;
      height: 32px;
      line-height: 1;
      border-radius: 50%;
      position: absolute;
      z-index: $z-share-close;
      top: 16px;
      right: 16px;
      color: color(white);
      text-align: center;
      background-color: color(gray, 4);
      .#{$prefix}fi {
        font-size: 1.6rem;
      }
    }
  }
}
