/* ==========================================================================
   OCBC Component: Card Board of Directors
   ========================================================================== */

&--bod {
  display: block;
  cursor: pointer;
  #{$c}__img {
    position: absolute;
    top: 0;
    left: 0;
    @include image(cover, center top);
    &-wrapper {
      width: 100%;
      min-height: 256px;
      padding-bottom: 65%;
      overflow: hidden;
      border-radius: 8px;
      margin-bottom: 8px;
      @include element(after) {
        content: none;
        display: none;
      }
      @include large {
        min-height: initial;
      }
    }
  }
  #{$c}__name {
    margin-bottom: 0;
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    transition: color .3s ease;
  }
  #{$c}__position {
    margin-bottom: 0;
    @include font-size(body);
    color: color(gray, 2);
    transition: color .3s ease;
  }
  &:hover {
    #{$c}__img {
      transform: scale(1.05);
    }
    #{$c}__name {
      color: color(primary, 1);
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(premier, 1);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(private, 1);
      }
    }
    #{$c}__position {
      color: color(gray, 1);
    }
  }
}
