/* ==========================================================================
   OCBC Component: Widget Kurs Table
   ========================================================================== */

.#{$prefix}widget-xr-tbl {
  $t: &;
  width: 100%;
  margin-bottom: 0;

  &-scrollover {
    font-size: 0;
    line-height: 1;

    @include small {
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
      margin-left: -16px;
      margin-right: -16px;
      @include scroll("x", "touch", "hide");
    }
  }

  &-container {
    @include small {
      position: relative;
    }
  }

  &__tab-wrapper {
    display: none;

    @include small {
      margin-bottom: 16px;
      display: block;
    }
  }

  &__tab-btn {
    @include small {
      @include font-size(h4);
      padding: 0 8px 16px 16px;
      color: color(gray, 2);
      position: relative;
      background-color: transparent;
      border: 0;

      @include element(after) {
        content: '';
        position: absolute;
        width: 32px;
        height: 4px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: color(primary, 1);
        transition: all .25s ease;
        transform: scaleX(0);
      }

      &--active {
        font-weight: fw(bold);
        color: color(gray, 1);

        @include element(after) {
          transform: scaleX(1);
        }
      }
    }
  }

  &-box {
    display: block;
    background-color: color(white);
    overflow-x: auto;
    border-radius: 8px;
    position: relative;
    @include shadow(4);

    @include small {
      overflow: hidden;
      display: inline-block;
    }

    @include retina {
      margin-right: 16px;
    }
  }

  &__head {
    &__row {
      @include small {
        &:first-child {
          display: none;
        }
      }

      &:first-child {
        #{$t}__th {
          padding: 16px 8px;
          font-weight: fw(bold);
          text-align: center;

          &:nth-child(1) {
            text-align: left;
            padding-left: 106px;

            @include large {
              padding-left: 64px;
            }

            @include medium {
              padding-left: 24px;
            }
          }

          &:nth-child(2) {
            padding-right: 200px;

            @include mq(1280px) {
              padding-right: 160px;
            }

            @include large {
              padding-right: 88px;
            }

            @include medium {
              padding-right: 32px;
            }
          }

          &:nth-child(3) {
            padding-right: 104px;

            @include large {
              padding-right: 48px;
            }

            @include medium {
              padding-right: 24px;
            }
          }
        }
      }
    }
  }

  &__th {
    padding: 16px;
    background-color: color(gray, 3);
    border-bottom: solid 1px color(gray, 4);
    color: color(white);
    text-align: center;
    font-weight: fw(regular);
    vertical-align: middle;
    @include font-size(body);

    @include small {
      background-color: color(gray, 3);
      color: color(white);

      &[data-type='tt'] {
        display: none;
      }

      &[data-content='Mata Uang'] {
        @include element(after) {
          content: attr(data-content);
          display: block;
          color: color(white);
          text-align: center;
        }
      }

      &:nth-child(1) {
        padding-left: 24px;
      }
    }

    &:nth-child(3) {
      width: 288px;
      padding-right: 200px;

      @include mq(1280px) {
        width: 248px;
        padding-right: 160px;
      }

      @include large {
        width: 176px;
        padding-right: 88px;
      }

      @include medium {
        width: 120px;
        padding-right: 32px;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      width: 144px;
      padding-right: 56px;

      @include large {
        width: 120px;
        padding-right: 32px;
      }

      @include medium {
        width: 112px;
        padding-right: 24px;
      }
    }

    &:nth-child(5) {
      width: 192px;
      padding-right: 104px;

      @include large {
        width: 136px;
        padding-right: 48px;
      }

      @include medium {
        width: 112px;
        padding-right: 24px;
      }
    }
  }

  &__body {
    &__row {
      &:nth-child(odd) {
        #{$t}__td {
          background-color: color(white);
        }
      }

      &:nth-child(even) {
        #{$t}__td {
          background-color: color(gray, 7);
        }
      }
    }
  }

  &__td {
    padding: 16px 8px;
    text-align: right;
    vertical-align: middle;
    @include font-size(body);
    color: color(gray, 2);

    @include small {
      &[data-type="tt"] {
        display: none;
      }
    }

    &:nth-child(1) {
      text-align: left;
      padding-left: 106px;

      @include large {
        padding-left: 64px;
      }

      @include medium {
        padding-left: 24px;
      }
    }

    &:nth-child(3) {
      width: 288px;
      padding-right: 200px;

      @include mq(1280px) {
        width: 248px;
        padding-right: 160px;
      }

      @include large {
        width: 176px;
        padding-right: 88px;
      }

      @include medium {
        width: 120px;
        padding-right: 32px;
      }
    }

    &:nth-child(2),
    &:nth-child(4) {
      width: 144px;
      padding-right: 56px;

      @include large {
        width: 120px;
        padding-right: 32px;
      }

      @include medium {
        width: 112px;
        padding-right: 24px;
      }
    }

    &:nth-child(5) {
      width: 192px;
      padding-right: 104px;

      @include large {
        width: 136px;
        padding-right: 48px;
      }

      @include medium {
        width: 120px;
        padding-right: 32px;
      }
    }
  }

  &__flag {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 16px;
    border: solid 1px color(gray, 6);

    &-img {
      @include image(cover, center center);
    }
  }

  // ---overload-preloader
  @include overload-preloader;
}
