/* ==========================================================================
   OCBC Component: Regulator
   ========================================================================== */

.#{$prefix}regulator {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 1;
  &__item {
    margin: 0 16px 0 0;
    display: inline-block;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
    @include mq(1280px) {
      margin-right: 12px;
    }
    @include small {
      margin-right: 16px;
    }
  }
  .#{$prefix}lnk {
    display: block;
    transition: all 0.25s ease;
    &:hover {
      transform: translateY(-2px);
    }
  }
  &__logo {
    height: 32px;
    @include small {
      height: 30px;
    }
  }
}
