/* ==========================================================================
   OCBC Component: Card Head Product
   ========================================================================== */

&--head-product {
  #{$c}__icon-nyala {
    margin-bottom: 0;
  }
  #{$c}__desc {
    margin-top: 16px;
  }
  #{$c}__box {
    width: 392px;
    height: 568px;
    // --- for safari
    // remove bug google chrome
    // -webkit-mask-image: -webkit-radial-gradient(white, black);
    @include large {
      width: 306px;
      height: 442px;
    }
    @include small {
      width: 254px;
      height: 368px;
    }
  }
  &:hover {
    #{$c}__txt {
      transform: translateY(-8px);
    }
    #{$c}__img {
      transform: scale(1.125);
    }
  }
}
