/* ==========================================================================
   OCBC Component: Form Section
   ========================================================================== */

.#{$prefix}form-section {
  position: relative;
  background-color: color(gray, 7);
  // -- premier site
  .#{$prefix}premier-site & {
    background-color: color(premier, 3);
  }
  // -- private site
  .#{$prefix}private-site & {
    background-color: color(private, 3);
  }
  &__content {
    min-height: 564px;
    position: relative;
    @include medium {
      padding: 56px 0;
      min-height: initial;
    }
    @include small {
      padding: 48px 0;
    }
  }
  &__txt {
    padding: 198px 0;
    max-width: 600px;
    position: relative;
    z-index: $z-form-section-txt;
    @include large {
      max-width: 480px;
    }
    @include medium {
      max-width: initial;
      padding: 0 24px 0 0;
      margin-bottom: 32px;
    }
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 24px;
    // -- premier site
    .#{$prefix}premier-site &,
    // -- private site
    .#{$prefix}private-site & {
      color: color(white);
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    // -- premier site
    .#{$prefix}premier-site &,
    // -- private site
    .#{$prefix}private-site & {
      color: color(white);
    }
  }
  &__field {
    position: absolute;
    z-index: $z-form-section-field;
    width: 496px;
    top: 0;
    right: 0;
    padding: 48px 0;
    .#{$prefix}field {
      margin-bottom: 8px;
    }
    @include large {
      width: 440px;
    }
    @include medium {
      width: 100%;
      padding: 0;
      position: static;
    }
  }
  &__btn {
    margin-top: 24px;
  }
}
