/* ==========================================================================
   OCBC Component: Section Banner
   ========================================================================== */

.#{$prefix}prod-category-banner {
  position: relative;
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, center top);
    &--m {
      display: none;
    }
    @include small {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
  }
  &__txt {
    text-align: center;
    padding: 188px 0 116px;
    color: color(white);
    border-bottom: solid 1px color(gray, 3);
    @include small {
      padding: 144px 0 292px;
    }
  }
  &__title {
    width: 100%;
    font-weight: fw(regular);
    @include font-size(h2);
    margin-bottom: 0;
  }
  &__desc {
    width: 100%;
    font-weight: fw(regular);
    @include font-size(h2);
    margin-bottom: 0;
  }
}
