/* ==========================================================================
   OCBC Component: Card Head Product
   ========================================================================== */

&--premier-product {
  #{$c}__box {
    width: 100%;
    height: 488px;
    @include small {
      height: 400px;
    }
    @include retina {
      height: 380px;
    }
  }
  #{$c}__img-wrapper {
    // <pseudo-element/>
    @include element(after) {
      top: auto;
      bottom: 0;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(color(black), 0), rgba(color(black), .79) 58%, color(black));
      transition: height .25s ease;
       // -- premier site
      .#{$prefix}premier-site & {
         background-image: linear-gradient(to bottom, rgba(69, 69, 69, 0), rgba(51, 51, 51, .79) 58%, #212121);
      }
      // -- private site
      .#{$prefix}private-site & {
         background-image: linear-gradient(to bottom, rgba(color(private, 1), 0), rgba(color(private, 1), .79) 58%, color(private, 1));
      }
    }
  }
  #{$c}__txt {
    padding: 16px 24px;
    @include small {
      padding: 16px 56px 16px 24px;
    }
    @include retina {
      padding: 16px 48px 16px 24px;
    }
  }
  #{$c}__title {
    @include font-size(h3);
    color: color(white);
    margin-bottom: 8px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 3);
    }
    @include large {
      height: 64px;
    }
    @include medium {
      height: auto;
    }
  }
  #{$c}__desc {
    color: color(white);
    height: 72px;
    margin-bottom: 24px;
    @include large {
      height: 96px;
    }
    @include medium {
      height: 72px;
    }
    @include small {
      height: auto;
    }
  }
  &:hover {
    #{$c}__img {
      transform: scale(1.1);
      &-wrapper {
        // <pseudo-element/>
        @include element(after) {
          height: 296px;
        }
      }
    }
    .#{$prefix}btn-txt-lnk--gold-arrow {
      @include element(after) {
        transform: translateX(4px);
      }
    }
  }
}
