/* ==========================================================================
   OCBC Component: Nav
   ========================================================================== */

.#{$prefix}nav {
  $n: &;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
  &__item {
    display: inline-block;
    vertical-align: top;
    @include font-size(body);
    @include large {
      position: relative;
      padding-top: 12px;
      padding-bottom: 4px;
      border-bottom: solid 1px color(gray, 6);
    }
    &:last-child {
      margin-right: 0;
    }
    > .#{$prefix}lnk {
      padding: 24px 16px;
      display: block;
      position: relative;
      color: color(gray, 1);
      transition: color 0.3s ease;
      text-decoration: none;
      // -- premier site
      .#{$prefix}premier-site .#{$prefix}header &,
      // -- private site
      .#{$prefix}private-site .#{$prefix}header & {
        color: color(white);
      }
      @include mq(1279px) {
        padding: 24px 12px;
      }
      @include large {
        position: relative;
        z-index: $z-header-nav-link;
        padding: 4px 8px;
        @include remove-tap-highlight;
        // -- premier site
        .#{$prefix}premier-site .#{$prefix}header &,
        // -- private site
        .#{$prefix}private-site .#{$prefix}header & {
          color: color(gray, 1);
        }
      }
      // <pseudo-element/>
      @include element(after) {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 24px;
        left: 50%;
        margin-left: -12px;
        z-index: $z-header-nav-after;
        background-color: color(primary, 1);
        transition: all 0.3s ease;
        transform: scaleX(0);
        transform-origin: center center;
        // -- premier site
        .#{$prefix}premier-site &,
        // -- private site
        .#{$prefix}private-site & {
          background-color: color(gray, 1);
        }
        @include large {
          content: none;
          display: none;
        }
      }
      &:hover {
        color: color(primary, 1);
        @include large {
          color: color(gray, 1);
        }
        // -- premier site
        .#{$prefix}premier-site &,
        // -- private site
        .#{$prefix}private-site & {
          color: color(gray, 1);
        }
      }
    }
    &--active {
      color: color(primary, 1);
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        color: color(gray, 1);
      }
      #{$n} & {
        > .#{$prefix}lnk {
          color: color(primary, 1);
          // <pseudo-element/>
          @include element(after) {
            transform: scaleX(1);
          }
          // -- premier site
          .#{$prefix}premier-site & {
            color: color(gray, 1);
            @include large {
              color: color(premier, 1);
            }
          }
          // -- private site
          .#{$prefix}private-site & {
            color: color(gray, 1);
            @include large {
              color: color(private, 1);
            }
          }
        }
      }
    }
    &--mega-menu {
      // <pseudo-element/>
      @include element(after) {
        display: none;
        @include large {
          @include font-icon("\e906");
          position: absolute;
          font-size: 1.6rem;
          top: 22px;
          right: 8px;
          display: block;
          z-index: $z-header-nav-dropdown;
          transition: all 0.35s ease;
          color: color(gray, 2);
        }
      }

      /* ocbc-nav__item--mega-menu--show (show mega menu on hover)
         ========================================================================== */
      &--show {
        .#{$prefix}header__mega-menu {
          visibility: visible;
          z-index: $z-header-mega-menu + 1;
          .#{$prefix}mega-menu {
            &__col,
            &__widget-btn__item {
              opacity: 1;
              visibility: visible;
              transform: none;
            }
            &__col {
              transition: all 0.3s ease;
              @for $i from 1 through 6 {
                $timer: 0 + ($i * 50);
                &:nth-child(#{$i}) {
                  transition-delay: #{$timer}ms;
                }
              }
            }
            &__widget-btn__item {
              transition: all 0.3s ease;
              @for $i from 1 through 6 {
                $timer: 100 + ($i * 50);
                &:nth-child(#{$i}) {
                  transition-delay: #{$timer}ms;
                }
              }
            }
          }
        }
      }
      @include large {
        &.#{$prefix}mega-menu-accordion-lvl-1--expand {
          border-bottom: 0;
          @include element(after) {
            transform: rotateX(180deg);
          }
        }
      }
    }
    @include large {
      margin-right: 0;
      display: block;
    }
  }

  /* ocbc-nav--footer
   ========================================================================== */
  &--footer {
    $fn: &;
    font-size: initial;
    line-height: initial;
    #{$n}__item {
      display: block;
      margin: 0 0 16px;
      @include font-size(micro);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .#{$prefix}lnk {
      padding: 0;
      display: initial;
      transition: color 0.25s ease;
      @include border-bottom-hover-slide;
      &:hover {
        color: color(primary, 1);
        // <pseudo-element/>
        @include element(after) {
          transform: scaleX(1);
        }
      }
    }
    @include mq(1279px) {
      .#{$prefix}lnk {
        padding: 0;
      }
    }
    @include large {
      #{$n}__item {
        padding: 0;
        border-bottom: 0;
      }
      .#{$prefix}lnk {
        padding: 0;
      }
    }
    @include small {
      display: none;
      padding-bottom: 8px;
      #{$n}__item {
        opacity: 0;
        transform: translateX(8px);
        transition: all 0.5s ease;
        transition-delay: 0s;
        .#{$prefix}accordion--expand & {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
