/* ==========================================================================
   OCBC Component: Card Chosen Skeleton
   ========================================================================== */

&--chosen-skeleton {
  position: relative;
  float: none;
  padding: 0 12px;

  #{$c}__plus {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('../img/icon/plus.svg');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #{$c}__box {
    height: 370px;
    border-radius: 8px;
    border: solid 2px color(gray, 5);
    @include small {
      width: 100%;
      height: 440px;
    }
  }
}