/* ==========================================================================
   OCBC Component: Card Risk Profile
   ========================================================================== */

&--risk-profile {
  width: 100%;
  @include small {
    width: auto;
    display: block;
  }
  #{$c}__box {
    position: relative;
    padding: 24px 316px 24px 24px;
    border-radius: 8px;
    background-color: color(white);
    @include shadow(4);
    @include small {
      padding: 24px 16px 120px;
    }
  }

  #{$c}__title {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 24px;
    @include small {
      margin-bottom: 16px;
    }
  }

  #{$c}__btn {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    .#{$prefix}btn {
      min-width: 225px;
    }

    #{$c}__img {
      display: block;
      position: absolute;
      width: 72px;
      height: 72px;
      top: 50%;
      left: -38px;
      margin-top: -36px;
    }
    @include small {
      top: auto;
      transform: none;
      bottom: 32px;
      left: 48px;
      right: 16px;
      .#{$prefix}btn {
        width: 100%;
        min-width: initial;
      }
    }
  }

  @include medium {
    .#{$prefix}field__input-group {
      .#{$prefix}field__input {
        width: 50%;
        margin-right: 0;
        padding-right: 24px;
        margin-bottom: 24px;
        &:nth-last-child(2),
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
