/* ==========================================================================
   OCBC Component: Description Section
   ========================================================================== */

.#{$prefix}description-section {
  background-color: color(gray, 7);
  overflow: hidden;
  &__content {
    position: relative;
    min-height: 328px;
    @include medium {
      min-height: 360px;
    }
  }
  &__img{
    display: block;
    &-wrapper {
      width: 800px;
      position: absolute;
      z-index: $z-desc-sec-img;
      right: -202px;
      bottom: -48px;
      @include mq(1280px) {
        width: 760px;
        bottom: -32px;
      }
      @include large {
        width: 720px;
      }
      @include medium {
        width: 560px;
        right: -280px;
      }
      @include small {
        width: 343px;
        right: -176px;
        bottom: -22px;
      }
    }
  }
  &__txt {
    padding: 88px 0;
    position: relative;
    z-index: $z-desc-sec-txt;
    @include large {
      padding: 72px 0;
    }
    @include small{
      padding: 48px 0;
    }
  }
  &__title{
    max-width: 392px;
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__desc{
    max-width: 496px;
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 0;
  }
}
