/* ==========================================================================
   OCBC Component: Product Section
   ========================================================================== */

.#{$prefix}product-section {
  $pf: &;
  padding: 64px 0 32px;
  position: relative;
  @include medium {
    padding: 56px 0;
  }
  @include small {
    padding: 48px 0;
  }
  &__content {
    font-size: 0;
    line-height: 1;
  }
  &__img {
    width: auto;
    height: 100%;
    display: block;
    &-wrapper {
      display: inline-block;
      height: 320px;
    }
    @include large {
      &-wrapper {
        height: 280px;
      }
    }
    @include medium {
      &-wrapper {
        margin-bottom: 16px;
      }
    }
    @include small {
      height: auto;
      max-height: 280px;
      &-wrapper {
        display: block;
        height: auto;
        margin-bottom: 0;
      }
    }
  }
  &__txt {
    position: absolute;
    z-index: $z-product-section-txt;
    top: 50%;
    transform: translateY(-50%);
    left: 520px;
    @include large {
      padding-right: 32px;
      left: 458px;
    }
    @include medium {
      position: static;
      transform: none;
      padding-right: 0;
    }
  }
  &__title {
    max-width: 600px;
    @include font-size(h2);
    font-weight: fw(bold);
    margin-bottom: 16px;
    color: color(gray, 1);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(gray, 1);
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    max-width: 528px;
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    // -- private site
    .#{$prefix}private-site & {
      color: color(gray, 1);
    }
  }
  &__btn {
    margin-top: 24px;
  }
  // --- private
  &--private {
    padding: 80px 0;
    background: url(../img/bg/private-product-section.jpg) no-repeat center center / cover;
    #{$pf}__img-wrapper {
      padding: 0 64px;
      height: 240px;
      @include large {
        height: 216px;
        padding: 0 48px;
      }
      @include medium {
        height: 200px;
        padding: 0;
        margin-bottom: 24px;
      }
      @include small {
        height: auto;
      }
    }
    @include large {
      padding: 72px 0;
    }
    @include medium {
      padding: 56px 0;
    }
    @include small {
      padding: 48px 0;
      #{$pf}__img {
        max-height: 168px;
      }
    }
  }
}
