/* ==========================================================================
   OCBC Component: Product Services
   ========================================================================== */

.#{$prefix}product-services {
  $ps: &;
  &__content {
    min-height: 288px;
    padding: 80px 12px;
    position: relative;
    cursor: pointer;
    @include remove-tap-highlight;
    @include small {
      min-height: initial;
      padding: 0 24px 0 0;
    }
  }
  &__summary {
    text-align: center;
    transition: all .3s ease .1s;
    @include small {
      text-align: left;
      margin-bottom: 8px;
      transition: none;
    }
  }
  &__img{
    width: 100%;
    display: block;
    &-wrapper {
      width: 40px;
      height: 40px;
      margin: 0 auto 16px;
      @include small {
        width: 32px;
        height: 32px;
        margin: 0 0 16px;
      }
    }
  }
  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin: 0 auto;
    max-width: 200px;
    @include small {
      max-width: initial;
      margin: 0;
    }
  }
  &__detail {
    position: absolute;
    z-index: $z-product-serices-detail;
    left: 12px;
    right: 12px;
    top: 0;
    height: 100%;
    opacity: 0;
    transform: scale(0.9);
    visibility: hidden;
    padding: 56px 48px 48px 32px;
    background-image: linear-gradient(to right, color(private, 5), color(private, 4));
    transition: all .3s ease 0.1s;
    @include large {
      padding: 48px 24px 32px 16px;
    }
    @include medium {
      padding: 56px 48px 48px 32px;
    }
    @include small {
      position: static;
      padding: 0;
      background-image: none;
      transform: none;
      transition: none;
      visibility: visible;
      opacity: 1;
    }
  }
  &__list-txt {
    margin: 0 0 0 16px;
    padding: 0;
    opacity: 0;
    transform: translateY(8px);
    transition: all .25s ease 0s;
    &__item {
      @include font-size(body, desktop);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
      @include large {
        @include font-size(label, desktop);
      }
      @include medium {
        @include font-size(body, desktop);
      }
      @include small {
        @include font-size(body, mobile);
        font-weight: fw(regular);
        margin-bottom: 0;
      }
    }
    @include small {
      margin-left: 20px;
      opacity: 1;
      transform: none;
      transition: none;
    }
  }
  &__note {
    @include font-size(micro);
    color: color(gray, 2);
    margin-top: 24px;
    margin-bottom: 0;
    opacity: 0;
    transform: translateY(8px);
    transition: all .25s ease 0s;
    @include small {
      margin-top: 8px;
      opacity: 1;
      transform: none;
      transition: none;
    }
  }
  &:hover {
    #{$ps}__summary {
      opacity: 0;
      transform: translateY(-24px);
      transition-delay: 0s;
    }
    #{$ps}__detail {
      opacity: 1;
      transform: none;
      visibility: visible;
      transition-delay: 0s;
    }
    #{$ps}__list-txt,
    #{$ps}__note {
      opacity: 1;
      transform: none;
      transition-delay: .15s;
    }
  }
}
