/* ==========================================================================
   OCBC Component: Exchange Rate Filter
   ========================================================================== */

  .#{$prefix}exchange-rate-filter {
    $f: &;
    &__head {
      display: table;
      width: 100%;
      position: relative;
      margin-bottom: 24px;
      .ocbc-btn-icon {
        position: absolute;
        top: 2px;
        right: -4px;
      }
    }
    &__type {
      &-text, &-option {
        display: inline-block;
        vertical-align: top;
        margin-right: 40px;
      }
    }
    &__title, &__date {
      display: table-cell;
      vertical-align: middle;
    }
    &__date {
      text-align: right;
      padding-right: 24px;
    }
    &__body {
      background-color: color(black);
      color: color(white);
      border-radius: 8px;
      padding: 32px 56px;
      @include shadow(8);
      .ocbc-btn-icon {
        color: color(white);
      }
      .ocbc-input {
        &--minimalize {
          font-size: 2.4rem;
          font-weight: fw(bold);
          line-height: 3.2rem;
          border-bottom: 1px solid #fff;
          padding: 7px;
          color: color(white);
        }
      }
      .ocbc-select {
        &__text {
          font-size: 2.4rem;
          line-height: 3.2rem;
          border-bottom: 1px solid #fff;
          padding-top: 6px;
        }
        &__item {
          &__text {
            color: color(gray, 1);
          }
        }
      }
    }
    &__form-input {
      @include element(after) {
        content: '';
        display: block;
        clear: both;
      }
    }
    &__input-left , 
    &__group-wrapper , 
    &__select-wrapper , 
    &__input-wrapper , 
    &__input-switch {
      float: left;
      @include element(after) {
        content: '';
        display: block;
        clear: both;
      }
    }
    &__input-switch {
      margin: 10px 24px;
    }
    &__group-wrapper {
      &:first-child {
        #{$f}__select-wrapper , #{$f}__input-wrapper {
          margin-right: 32px;
        }
      }
      &:last-child {
        #{$f}__select-wrapper , #{$f}__input-wrapper {
          margin-left: 32px;
        }
      }
    }
    &__input-right {
      float: right;
      text-align: right;
    }
    &__select-wrapper {
      width: 94px;
    }
    &__input-wrapper {
      width: 216px;
    }
  }