/* ==========================================================================
   OCBC Component: Promo Banner
   ========================================================================== */

.#{$prefix}promo-banner {
  $pb: &;
  &__item {
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
    &--light {
      #{$pb}__txt {
        color: color(white);
      }
    }
  }
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, center top);
    &--m {
      display: none;
    }
    @include small {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    display: table;
    table-layout: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
    min-height: 554px;
    .#{$prefix}promo-banner--landing & {
      min-height: 592px;
    }
    // --- firefox
    @include firefox-browser {
      height: 554px;
      .#{$prefix}promo-banner--landing & {
        height: 592px;
      }
    }
    @include small {
      min-height: 360px;
      .#{$prefix}promo-banner--landing & {
        min-height: 420px;
      }
      // --- firefox
      @include firefox-browser {
        height: 360px;
        .#{$prefix}promo-banner--landing & {
          height: 420px;
        }
      }
    }
  }
  &__middle-align {
    padding: 48px 0;
    display: table-cell;
    vertical-align: middle;
    .#{$prefix}promo-banner--landing & {
      padding-top: 102px;
      @include small {
        padding-top: 84px;
      }
    }
  }
  &__txt {
    max-width: 460px;
    color: color(gray, 1);
    @include small {
      max-width: 240px;
    }
  }
  &__label {
    @include font-size(body);
    font-weight: fw(medium);
    margin-bottom: 0;
    opacity: 0;
    transform: translateX(16px);
    transition: all 0.75s ease;
    transition-delay: 0s;
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    margin-bottom: 16px;
    opacity: 0;
    transform: translateX(16px);
    transition: all 0.75s ease;
    transition-delay: 0s;
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    @include font-size(h4);
    font-weight: fw(regular);
    margin-bottom: 24px;
    opacity: 0;
    transform: translateX(16px);
    transition: all 0.75s ease;
    transition-delay: 0s;
  }
  .#{$prefix}btn-txt-lnk {
    opacity: 0;
    transform: translateX(16px);
    transition: opacity 0.75s ease 0s, transform 0.75s ease 0s,
      color 0.3s ease 0s;
  }
}
