/* ==========================================================================
   OCBC Component: Card Info
   ========================================================================== */

&-info {
  position: relative;
  $w: &;
  max-width: 392px;
  height: 392px;
  padding: 24px 24px 76px;
  border-radius: 8px;
  background-color: color(white);
  @include shadow(16);
  @include medium {
    max-width: initial;
  }
  @include small {
    height: auto;
    min-height: 330px;
    padding: 24px 16px 56px;
  }
  &__head {
    display: table;
    width: 100%;
    position: relative;
    padding-bottom: 12px;
    border-bottom: solid 1px color(gray, 5);
    @include small {
      padding-bottom: 16px;
    }
    /* -- button refresh remove
    .#{$prefix}btn-icon {
      position: absolute;
      top: 2px;
      right: -4px;
      .#{$prefix}fi {
        font-size: 1.6rem;
        margin-left: -8px;
        margin-top: -8px;
      }
      @include small {
        top: 0;
      }
    }
    */
  }
  &__title {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    @include font-size(body);
    font-weight: fw(bold);
  }
  &__date {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    @include font-size(micro);
  }

  &__btn {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    font-size: 0;
    @include medium {
      left: 16px;
      right: 16px;
      bottom: 16px;
    }
  }


  // ---overload-preloader
  @include overload-preloader;

  @import "ocbc-card-info-faq";
  @import "ocbc-card-info-article";
  @import "ocbc-card-info-exchange-rate";
}
