/* ==========================================================================
   OCBC Component: Pagination
   ========================================================================== */

.#{$prefix}pagination {
  // pindah ke layout
  &-container{
    margin-top: 52px;
    @include medium {
      margin-top: 32px;
    }
  }
  $p: &;
  text-align: center;
  font-size: 0;
  line-height: 1;
  &__item {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0 4px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: color(white);
    @include shadow(4);
    @include retina {
      width: 36px;
      height: 36px;
      margin: 0 3px;
    }
    .#{$prefix}lnk {
      outline: 0;
      border: 0;
      padding: 0;
      background-color: transparent;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: color(gray, 1);
      z-index: $z-pagination-lnk;
      @include font-size(body);
      line-height: 40px;
      @include small {
        line-height: 40px;
      }
      @include retina {
        line-height: 36px;
      }
    }
    .#{$prefix}fi {
      line-height: 40px;
      @include retina {
        line-height: 36px;
      }
    }
    &--prev {
      margin-left: 0;
    }
    &--next {
      margin-right: 0;
    }
    // psuedo-element
    @include element(after) {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $z-pagination-overlay;
      background-image: lg(primary);
      opacity: 0;
      transition: opacity .3s ease;
    }
    &:hover:not(#{$p}__item--disabled):not(#{$p}__item--more),
    &--active {
      @include element(after) {
        opacity: 1;
      }
      .#{$prefix}lnk {
        color: color(white);
      }
    }
    &--disabled {
      .#{$prefix}lnk {
        cursor: default;
        opacity: 0.5;
        pointer-events: none;
      }
      @include element(after) {
        content: none;
        display: none;
      }
    }
    &--more {
      width: 36px;
      box-shadow: none;
      background-color: transparent;
      font-size: 0;
      line-height: 1;
      padding: 18px 0;
      @include element(after) {
        content: none;
        display: none;
      }
      @include retina {
        padding: 16px 0;
      }
    }
  }
  &__more-icon {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: color(gray, 3);
    position: relative;
    @include element(before) {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      left: -8px;
      top: 0;
      background-color: color(gray, 3);
    }
    @include element(after) {
      content: '';
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      right: -8px;
      top: 0;
      background-color: color(gray, 3);
    }
  }

  //modifier
  &--landing{
    margin-top: 24px;
    margin-bottom: 64px;
    @include small{
      margin-top: 0;
      margin-bottom: 48px;
    }
  }
}
