/* ==========================================================================
   OCBC Component: Section Banner
   ========================================================================== */

.#{$prefix}section-banner {
  $sb: &;
  position: relative;
  background-color: color(gray, 5);
  &--light {
    #{$sb}__txt { 
      color: color(white);
    }
  }
  &--no-bb {
    #{$sb}__txt {
      border-bottom: 0;
    }
  }
  &__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-banner-img;
    height: 100%;
    width: 100%;
    // // <pseudo-element/>
    // @include element(before) {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: $z-banner-img-grad;
    //   background-image: linear-gradient(
    //     180deg,
    //     rgba(color(white), 0) 23%,
    //     rgba(color(white), 0.26) 43%,
    //     color(white) 96%
    //   );
    // }
    // // <pseudo-element/>
    // @include element(after) {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: $z-banner-img-grad + 1;
    //   background-image: linear-gradient(270deg, rgba(color(white), 0) 55%, rgba(color(white), 0.9) 89%);
    //   @include medium {
    //     background-image: linear-gradient(270deg, rgba(color(white), 0) 0%, rgba(color(white), 0.9) 50%);
    //   }
    // }
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, center top);
    &--m {
      display: none;
    }
    @include small {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
  }
  &__txt {
    padding: 64px 0 40px;
    color: color(black);
    border-bottom: solid 1px color(gray, 3);
  }
  &__icon-nyala {
    display: block;
    width: auto;
    height: 168px;
    @include medium {
      height: 120px;
    }
  }
  &__title {
    max-width: 704px;
    font-weight: fw(bold);
    @include font-size(h2);
    margin-bottom: 0;
  }
  &__desc {
    max-width: 704px;
    font-weight: fw(regular);
    @include font-size(h4);
    margin-top: 16px;
    margin-bottom: 0;
  }
  &__btn-lnk {
    margin-top: 24px;
    @include small {
      margin-top: 16px;
    }
  }
  &__btn {
    font-size: 0;
    line-height: 1;
    margin-top: 48px;
    @include small {
      margin-top: 32px;
    }
    .#{$prefix}btn {
      &:first-child {
        margin-right: 24px;
      }
      @include small {
        display: table;
        &:first-child {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
  &__sub-title{
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: fw(bold);
    @include font-size(body);
  }
  &__multi-desc-wrapper{
    margin-bottom: 16px;
  }
  &__multi-desc{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: fw(regular);
    @include font-size(body);
  }
  &__lnk-apps{
    margin-top: 24px;
    font-size: 0;
    line-height: 1;
    .#{$prefix}lnk {
      display: inline-block;
      margin-right: 16px;
      transition: all 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
    @include small {
      margin-top: 24px;
      .#{$prefix}lnk {
        margin-right: 16px;
      }
    }
    @include retina {
      margin-top: 32px;
    }
  }
  &__lnk-img {
    height: 48px;
    @include mq(370px) {
      height: 44px;
    }
    @include mq(350px) {
      height: 40px;
    }
  }

  //--- modifier
  &--min-height{
    min-height: 368px;
    #{$sb}__title {
      max-width: 704px;
      font-weight: fw(bold);
      @include font-size(h4);
      margin-bottom: 0;
    }
    #{$sb}__list {
      list-style: none;
      padding: 0;
      margin-top: 8px;
      &__item {
        margin-bottom: 8px;
        @include font-size(body);
        &:last-child{
          margin-bottom: 0;
        }
        .#{$prefix}fi {
          margin-right: 4px;
        }
      }
    }
    #{$sb}__btn-lnk{
      margin-top: 0;
    }
    #{$sb}__txt {
      @include small{
        padding: 32px 0;
      }
    }
  }
}
