/* ==========================================================================
   OCBC Component: Section Scroll
   ========================================================================== */

.#{$prefix}section-scroll {
  &__relative {
    position: relative;
  }
  &-dots {
    $ssd: &;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: $z-scrollify-dots;
    // --- total 40px from item
    left: 36px;
    // --- total 108px from item
    bottom: 96px;
    // --- white color
    &--white {
      #{$ssd}__dot {
        // <pseudo-element/>
        @include element(after) {
          background-color: color(white);
        }
        &:hover {
          // <pseudo-element/>
          @include element(after) {
            background-color: color(white);
          }
        }
      }
    }
    // --- hide
    &--hide {
      #{$ssd}__item {
        opacity: 0;
        transform: translateY(8px);
      }
    }
    @include mq(1366px) {
      left: 20px;
    }
    @include mq(1280px) {
      display: none;
    }
    &__item {
      border: 0;
      outline: 0;
      padding: 0;
      line-height: 1;
      margin: 8px 0;
      transition: all 0.75s ease;
      @for $i from 1 through 6 {
        $timer: 1250 + ($i * 100);
        &:nth-child(#{$i}) {
          transition-delay: #{$timer}ms;
        }
      }
    }
    &__dot {
      border: 0;
      outline: 0;
      padding: 0;
      display: block;
      line-height: 1;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.25s ease;
      position: relative;
      background-color: transparent;
      @include remove-tap-highlight;
      // <pseudo-element/>
      @include element(after) {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: color(primary, 1);
        transition: all 0.25s ease;
      }
      &--active {
        height: 60px;
        // <pseudo-element/>
        @include element(after) {
          height: 52px;
        }
      }
      &:hover {
        // <pseudo-element/>
        @include element(after) {
          background-color: color(primary, 3);
        }
      }
    }
  }
}
