/* ==========================================================================
   OCBC Component: Company History
   ========================================================================== */

.#{$prefix}company-history {
  $ch: &;
  overflow: hidden;
  margin-bottom: -88px;
  position: relative;
  z-index: $z-history;
  @include medium {
    margin-bottom: 0;
    min-height: 512px;
    padding-bottom: 48px;
  }
  &__wrapper {
    position: relative;
  }
  &__ctrl {
    position: absolute;
    left: -40px;
    top: 56px;
    z-index: $z-history-controll;
    padding: 40px 0;
    @include mq(1280px) {
      left: 0;
      top: 40px;
    }
    @include medium {
      top: 64px;
    }
    .swiper-slide{
      height: auto !important;
    }
    .swiper-container{
      height: 472px;
      margin-left: 8px;
      padding: 168px 0 64px;
      z-index: $z-history-swiper;
      @include large {
        height: 352px;
        padding: 120px 0 40px;
      }
      @include medium {
        height: 360px;
        padding: 128px 0 48px;
      }
    }
    @include element(before){
      content: '';
      display: block;
      position: absolute;
      left: 16px;
      top: 8px;
      bottom: 12px;
      z-index: $z-history-controll-line;
      border-left: solid 1px color(gray, 5);
    }
    @include large {
      left: -8px;
    }
    @include small {
      left: 0;
    }
    &__item{
      line-height: 1;
      &--blue {
        #{$ch}__ctrl__txt {
          &:hover{
            color: color(secondary, 9);
            @include element(before) {
              background-color: color(secondary, 9);
            }
          }
        }
      }
      &--red {
        #{$ch}__ctrl__txt {
          &:hover{
            color: color(primary, 1);
            @include element(before) {
              background-color: color(primary, 1);
            }
          }
        }
      }
      &--active {
        #{$ch}__ctrl__txt{
          font-size: 2.4rem;
          font-weight: fw(bold);
          @include element(before) {
            transform: scale(2);
          }
          @include medium {
            font-size: 1.8rem;
          }
        }
        &#{$ch}__ctrl__item--blue {
          #{$ch}__ctrl__txt {
            color: color(secondary, 9);
            @include element(before) {
              background-color: color(secondary, 9);
            }
          }
        }
        &#{$ch}__ctrl__item--red {
          #{$ch}__ctrl__txt {
            color: color(primary, 1);
            @include element(before) {
              background-color: color(primary, 1);
            }
          }
        }
      }
    }
    &__txt {
      outline: 0;
      padding: 0 0 0 28px;
      border: 0;
      background-color: transparent;
      position: relative;
      color: color(gray, 2);
      cursor: pointer;
      z-index: $z-history-controll-button;
      transition: all .3s ease;
      font-size: 1.8rem;
      line-height: 3.2rem;
      @include medium {
        line-height: 2.4rem;
        padding-left: 24px;
      }
      @include element(before) {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        left: 4px;
        background-color: color(gray, 2);
        transition: all .3s ease;
        transform-origin: center center;
      }
    }
    // --- override
    .swiper-button-prev,
    .swiper-button-next {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      position: absolute;
      margin-top: 0;
      left: 0;
      outline: 0;
      right: auto;
      cursor: pointer;
      color: color(white);
      z-index: $z-history-controll-pag;
      background-color: color(gray, 4);
      @include remove-tap-highlight;
      @include shadow(6);
      @include element(after) {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: $z-history-controll-pag-after;
        background-image: lg(primary, 131deg, 0%, 99%);
        transition: all .3s ease;
      }
      @include element(before) {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.4rem;
        z-index: $z-history-controll-pag-before;
        transform: translate(-50%, -50%);
      }
      &.swiper-button-disabled{
        opacity: 1;
        cursor: default;
        @include element(after) {
          opacity: 0;
        }
      }
    }
    .swiper-button-prev {
      top: 0;
      @include element(before) {
        @include font-icon("\e909");
      }
    }
    .swiper-button-next {
      top: auto;
      bottom: 0;
      @include element(before) {
        @include font-icon("\e906");
      }
    }
    .swiper-notification {
      display: none;
    }
    // --- /override
  }
  &__content{
    min-height: 707px;
    padding-left: 104px;
    position: relative;
    z-index: $z-history-content;
    @include mq(1280px) {
      padding-left: 128px;
    }
    @include large {
      min-height: 552px;
    }
    @include medium {
      min-height: initial;
      padding-left: 104px;
    }
    @include small {
      padding-left: 90px;
    }
  }
  &__pane {
    display: none;
    &--active {
      display: block;
    }
  }
  &__image {
    position: absolute;
    right: -132px;
    top: 24px;
    @include large {
      right: -140px;
    }
    @include medium {
      right: -116px;
      top: -116px;
      bottom: auto;
    }
    @include small {
      right: -128px;
      top: -144px;
    }
    @include mq(374px) {
      right: -140px;
    }
  }
  &__txt {
    max-width: 456px;
    padding: 206px 0 80px;
    @include large {
      padding: 128px 0 72px;
    }
    @include medium {
      padding: 296px 0 0;
    }
    @include small {
      padding-top: 280px;
    }
    @include retina {
      padding-top: 240px;
    }
  }
  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    margin-bottom: 16px;
    color: color(gray, 1);
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    margin-bottom: 0;
    color: color(gray, 2);
  }
}
