/* ==========================================================================
   OCBC Component: Share Content
   ========================================================================== */

.#{$prefix}share-content {
  $sc: &;
  display: inline-block;
  vertical-align: middle;
  &__title {
    @include font-size(body);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 1;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    &--facebook:hover {
      .#{$prefix}lnk {
        color: color(social, facebook);
      }
    }
    &--twitter:hover {
      .#{$prefix}lnk {
        color: color(social, twitter);
      }
    }
    &--whatsapp:hover {
      .#{$prefix}lnk {
        color: color(social, whatsapp);
      }
    }
    &--line:hover {
      .#{$prefix}lnk {
        color: color(social, line);
      }
    }
    &--linkedin:hover {
      .#{$prefix}lnk {
        color: color(social, linkedin);
      }
    }
  }
  .#{$prefix}lnk {
    display: block;
    text-decoration: none;
    line-height: 1;
    color: color(gray, 1);
    transition: all 0.25s ease;
    &:hover {
      transform: translateY(-2px);
      text-decoration: none;
    }
    .#{$prefix}vt-content__share-wrapper & {
      text-decoration: none;
    }
  }
  .#{$prefix}fi {
    font-size: 2.4rem;
    height: 24px;
    display: block;
    vertical-align: top;
  }
  &__icon {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
  }
  &__btn {
    display: block;
    padding: 0;
    background-color: transparent;
    border: 0;
    line-height: 1;
    position: relative;
    transition: all 0.25s ease;
    color: color(gray, 1);
    @include remove-tap-highlight;
    &:hover {
      color: color(primary, 1);
      transform: translateY(-2px);
    }
    &__txt {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
      @include font-size(micro);
      transition: all 0.25s ease;
    }
    &--copied {
      #{$sc}__copied {
        opacity: 1;
        transform: translate(-50%, 0);
        @include medium {
          transform: none;
        }
        @include small {
          transform: translate(-50%, 0);
        }
      }
    }
  }
  &__copied {
    position: absolute;
    top: 32px;
    left: 50%;
    padding: 4px 24px;
    margin-left: -4px;
    transform: translate(-50%, 2px);
    opacity: 0;
    background-color: color(white);
    @include font-size(micro);
    color: color(gray, 1);
    display: inline-block;
    white-space: nowrap;
    border-radius: 8px;
    transition: all .25s ease;
    @include shadow(4px);
    @include element(after) {
      content: '';
      position: absolute;
      top: -4px;
      display: block;
      width: 8px;
      height: 8px;
      left: 50%;
      margin-left: -4px;
      border-radius: 1px;
      background-color: color(white);
      transform-origin: center center;
      transform: rotate(45deg);
    }
    @include large {
      .#{$prefix}vt-content__share-wrapper & {
        left: auto;
        right: 0;
        margin-left: 0;
        transform: none;
        @include element(after) {
          left: auto;
          right: 10px;
        }
      }
    }
    @include medium {
      left: auto;
      right: 0;
      margin-left: 0;
      transform: none;
      @include element(after) {
        left: auto;
        right: 10px;
      }
    }
    @include small {
      left: 50%;
      right: auto;
      margin-left: -4px;
      transform: translate(-50%, 2px);
      @include element(after) {
        left: 50%;
        right: auto;
      }
      .#{$prefix}vt-content__share-wrapper & {
        left: auto;
        right: 0;
        margin-left: 0;
        transform: none;
        @include element(after) {
          left: auto;
          right: 10px;
        }
      }
    }
  }
  // --- floating
  &--floating {
    #{$sc} {
      &__item {
        &:nth-last-child(2){
          margin-right: 0;
        }
        &--copy-link {
          display: block;
          margin-top: 8px;
          padding-top: 8px;
          border-top: solid 1px color(gray, 6);
          #{$sc}__btn {
            &:hover {
              transform: none;
            }
          }
        }
      }
    }
  }
}
