/* ==========================================================================
   OCBC Component: Tagging Tab
   ========================================================================== */

.#{$prefix}tagging-tab {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  &__wrapper {
    overflow: scroll;
    white-space: nowrap;
    padding: 16px 107px 0 107px;
    @include medium {
      padding: 16px 16px 0 16px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
  }
  &__item {
    color: color(gray, 1);
    @include font-size(body);
    font-weight: fw(regular);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 16px 16px 0;
    padding: 6px 24px;
    height: 40px;
    border-radius: 32px;
    border: solid 1px #313131;
    &--active {
      color: color(white);
      background-color: color(primary, 1);
      border: 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
