/* ==========================================================================
   OCBC Component: Card Upselling
   ========================================================================== */

&--upselling {
  width: 100%;
  #{$c}__box {
    border-radius: 8px;
    background-image: lg(primary);
    @include medium {
      min-height: 264px;
    }
  }
  #{$c}__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-card-img;
    @include image(cover, center center);
    &--m {
      display: none;
    }
    @include medium {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  #{$c}__txt {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    z-index: $z-card-txt;
    padding: 24px 120px;
    @include large {
      padding: 24px 32px;
    }
    @include medium {
      min-height: 264px;
      padding: 24px 24px 96px;
      display: block;
    }
  }
  #{$c}__col {
    display: table-cell;
    vertical-align: middle;
    color: color(white);
    &:first-child {
      padding-right: 24px;
    }
    &:last-child {
      width: 344px;
      @include large {
        width: 272px;
      }
    }
    @include medium {
      display: block;
      &:first-child {
        padding-right: 0;
      }
      &:last-child {
        width: auto;
        position: absolute;
        left: 24px;
        right: 24px;
        bottom: 24px;
      }
    }
    @include retina {
      &:first-child {
        margin-bottom: 48px;
      }
    }
  }
  #{$c}__title {
    font-weight: fw(bold);
    margin-bottom: 4px;
    @include font-size(h3);
    @include medium {
      margin-bottom: 16px;
    }
    &-small{
      @include font-size(h4);
    }
  }
  #{$c}__desc {
    margin-bottom: 0;
    @include font-size(body);
  }
  // modifier
  &--border {
    #{$c}__box {
      background-image: none;
      border-radius: 0;
      border-top: 1px solid color(gray, 6);
      border-bottom: 1px solid color(gray, 6);
      @include medium {
        min-height: initial;
      }
    }
    #{$c}__txt {
      @include large {
        min-height: initial;
        padding-right: 64px;
        padding-left: 64px;
      }
      @include medium {
        padding: 40px 0;
        min-height: initial;
      }
    }
    #{$c}__title {
      // -- premier site
      .#{$prefix}premier-site & {
        max-width: 308px;
      }
      @include small {
        margin-bottom: 8px;
      }
    }
    #{$c}__col {
      color: color(gray, 1);
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(premier, 1);
      }
      @include medium {
        margin-bottom: 32px;
        &:last-child {
          position: static;
          margin-bottom: 0;
        }
      }
      @include retina {
        &:first-child {
          margin-bottom: 32px;
        }
      }
    }
  }

  &--small{
    #{$c}__box {
      @include medium {
        min-height: initial;
      }
    }
    #{$c}__txt {
      padding-left: 48px;
      padding-right: 48px;
      @include medium {
        padding: 40px 0;
      }
    }
    #{$c}__col {
      #{$c}__desc{
        @include medium {
          margin-bottom: 32px;
        }
      }
      &:last-child{
        width: initial;
        @include medium {
          position: static;
        }
      }
    }
  }
}
