/* ==========================================================================
   OCBC Components: Label Comparison 
   ========================================================================== */

   .#{$prefix}label-comparison {
    $c: &;
    &__button {
      touch-action: none;
      left: -10px;
      position: relative;
      opacity: 0;
      visibility: hidden;
      transition: all .5s ease;
      @include small {
        display: none;
      }
      &__active {
        left: 0;
        opacity: 1;
        visibility: visible;
      }
    }
    &__item {
      padding-top: 12px;
      padding-bottom: 12px;
      font-weight: fw(bold);
      position: relative;

      @include medium {
        float: none;
        display: inline-block;
      }
    }
    &__btn {
      &-trigger {
        display: inline-block;
        margin-right: 8px;
        vertical-align: top;
        cursor: pointer;
      }
    }
  }