/* ==========================================================================
   OCBC Component: Card Needs
   ========================================================================== */

&--needs {
  position: relative;
  border-radius: 8px;
  @include shadow(6);
  // <pseudo-element/>
  @include element(after) {
    content: "";
    position: absolute;
    bottom: -2px;
    z-index: $z-card-needs-triangle;
    width: 24px;
    height: 24px;
    left: 50%;
    border-radius: 4px 0 4px 0;
    background-image: lg(primary, 123deg, 14%, 86%);
    transform: rotate(45deg) translateX(-50%);
    transform-origin: center top;
    transition: bottom 0.25s ease;
    @include small {
      width: 22px;
      height: 22px;
    }
  }
  #{$c}__img {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-wrapper {
      position: absolute;
      width: 40px;
      height: 40px;
      right: 24px;
      bottom: 24px;
      transition: all .3s ease;
      // <pseudo-element/>
      @include element(after) {
        content: none;
        display: none;
      }
    }
  }
  #{$c}__box {
    cursor: pointer;
    width: 288px;
    height: 144px;
    border-radius: 8px;
    position: relative;
    z-index: $z-card-needs-box;
    background-color: color(white);
    overflow: hidden;
    // --- for safari
    // remove bug google chrome
    // -webkit-mask-image: -webkit-radial-gradient(white, black);
    @include remove-tap-highlight;
    @include small {
      width: 254px;
      height: 128px;
    }
    // <pseudo-element/>
    @include element(after) {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 10px;
      z-index: $z-card-needs-bar-active;
      background-image: lg(primary, 91deg, 13%, 88%);
      transition: all 0.25s ease;
      transform: scaleY(0);
      transform-origin: center bottom;
      @include small {
        height: 9px;
      }
    }
  }
  #{$c}__txt {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px 24px;
    color: color(gray, 1);
  }
  #{$c}__desc {
    max-width: 200px;
    font-weight: fw(regular);
    @include font-size(h4);
    @include small {
      max-width: 164px;
    }
  }
  &:hover {
    #{$c}__img {
      &-wrapper {
        transform: translateY(-2px);
      }
    }
  }
  // --- lnk
  &--lnk {
    transition: transform .3s ease, shadow .3s ease;
    // <pseudo-element/>
    @include element(after) {
      content: none;
      display: none;
    }
    #{$c}__box {
      // <pseudo-element/>
      @include element(after) {
        content: none;
        display: none;
      }
    }
    &:hover {
      transform: translateY(-2px);
      @include shadow(8);
    }
  }
  // --- showed
  &--showed {
    // <pseudo-element/>
    @include element(after) {
      bottom: -23px;
      @include small {
        bottom: -21px;
      }
    }
    #{$c}__box {
      // <pseudo-element/>
      @include element(after) {
        transform: scaleY(1);
      }
    }
  }
}
