/* ==========================================================================
   OCBC Components: Journey Section
   ========================================================================== */

.#{$prefix}journey-section {
  position: relative;
  padding: 40px 0;
  overflow: hidden;

  @include large {
    padding: 32px 0;
  }

  @include mq(1024px) {
    padding: 24px 0;
  }

  @include medium {
    padding: 64px 0 48px;
  }

  @include small {
    // padding-bottom: 40+16 = 48px
    padding: 40px 0;
  }

  &__content {
    position: relative;
    min-height: 600px;
    display: table;
    width: 100%;
    table-layout: fixed;
    // --- firefox
    @include firefox-browser {
      height: 600px;
    }

    @include large {
      min-height: 480px;
      // --- firefox
      @include firefox-browser {
        height: 480px;
      }
    }

    @include medium {
      display: block;
      min-height: initial;
      // --- firefox
      @include firefox-browser {
        height: auto;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: auto;

    @include medium {
      margin-left: auto;
      margin-right: auto;
    }

    &-wrapper {
      position: absolute;
      left: -40px;
      top: 50%;
      transform: translateY(-50%);

      @include mq(1024px) {
        left: -80px;
      }

      @include medium {
        position: static;
        transform: none;
        margin-left: -32px;
        margin-right: -32px;
        margin-bottom: 40px;
        text-align: center;
      }
    }

    &-box {
      width: 600px;

      @include large {
        width: 460px;
      }

      @include mq(1024px) {
        width: 416px;
      }

      @include medium {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  &__txt {
    display: table-cell;
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 600px;

    @include large {
      padding-top: 32px;
      padding-bottom: 32px;
      width: 592px;
    }

    @include mq(1024px) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @include medium {
      width: auto;
      padding: 0;
      display: block;
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 16px;
    color: color(gray, 1);

    @include small {
      margin-bottom: 8px;
    }
  }

  &__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 32px;

    @include large {
      margin-bottom: 28px;
    }

    @include medium {
      margin-bottom: 40px;
    }

    @include small {
      margin-bottom: 32px;
    }
  }

  &__card-journey {
    margin-left: -12px;
    margin-right: -12px;
    font-size: 0;
    line-height: 1;

    .#{$prefix}card {
      margin: 16px 12px;
    }

    @include large {
      margin-left: -8px;
      margin-right: -8px;

      .#{$prefix}card {
        margin: 12px 8px;
      }
    }

    @include medium {
      margin: 0 -32px;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 16px;
      @include scroll("x", "touch", "hide");

      .#{$prefix}card {
        margin: 0 16px 0 0;

        &:last-child {
          margin-right: 0;
        }

        &__txt {
          white-space: normal;
        }
      }
    }

    @include small {
      margin: 0 -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
