/* ==========================================================================
   OCBC Component: Main Banner
   ========================================================================== */

.#{$prefix}main-banner {
  $mb: &;
  @include main-banner;
  &__item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    &--light {
      #{$mb}__title,
      #{$mb}__desc {
        color: color(white);
        // -- premier site
        .#{$prefix}premier-site &,
        // -- private site
        .#{$prefix}private-site & {
          color: color(white);
        }
      }
    }
    &--middle,
    &--rachel {
      #{$mb}__txt {
        margin-top: 32px;
        @include small {
          margin-top: -36px;
          .ios-browser & {
            // --- iphone 8
            @media screen and (max-height: 553px) {
              margin-top: 0;
            }
          }
        }
      }
    }
    &--rachel {
      #{$mb}__img-wrapper {
        background-image: lg(primary);
      }
      #{$mb}__img-bg {
        @include bg-image(cover, right bottom);
      }
    }
  }
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
    opacity: 0;
    transform: scale(1.25);
    transition: all 5s ease;
    transition-delay: 0s;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, right center);
    &--m {
      display: none;
    }
    @include medium {
      background-position: right bottom;
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
  }
  &__middle-align {
    display: table-cell;
    vertical-align: middle;
  }
  &__txt {
    max-width: 664px;
    margin-top: -104px;
    word-wrap: break-word;
    @include small {
      max-width: 312px;
      margin-top: -155px;
    }
  }
  &__title {
    margin-bottom: 16px;
    opacity: 0;
    transform: translateX(16px);
    transition: all 1.25s ease;
    transition-delay: 0.25s;
    color: color(primary, 1);
    font-weight: fw(bold);
    @include font-size(hero);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(gray, 1);
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    max-width: 600px;
    margin-bottom: 0;
    opacity: 0;
    transform: translateX(16px);
    transition: all 1.25s ease;
    transition-delay: 0s;
    font-weight: fw(regular);
    @include font-size(h4);
    color: color(gray, 1);
    // -- premier site
    .#{$prefix}premier-site &,
    // -- private site
    .#{$prefix}private-site & {
      color: color(gray, 2);
    }
  }
  &__btn{
    display: inline-block;
    margin-right: 24px;
    margin-top: 32px;
    opacity: 0;
    transform: translateX(16px);
    transition: all 1.25s ease;
    transition-delay: 0s;
    @include small {
      margin-top: 24px;
    }
  }
}
