/* ==========================================================================
   OCBC Component: Visi Section
   ========================================================================== */

.#{$prefix}vision-section {
  overflow: hidden;
  &__content{
    position: relative;
  }
  &__image {
    position: absolute;
    right: -298px;
    top: -308px;
    @include large {
      right: -240px;
      top: -152px;
    }
    @include medium {
      right: -116px;
      top: -116px;
    }
    @include small {
      right: -128px;
      top: -144px;
    }
  }
  &__txt {
    padding: 88px 0 200px;
    max-width: 496px;
    @include medium {
      padding: 88px 0;
      max-width: 400px;
    }
    @include small {
      padding: 264px 0 48px;
      max-width: initial;
    }
    @include retina {
      padding: 224px 0 40px;
    }
  }
  &__title {
    color: color(primary, 1);
    font-weight: fw(bold);
    @include font-size(h2);
    margin-bottom: 24px;
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    color: color(gray, 1);
    font-weight: fw(bold);
    @include font-size(h2);
    margin-bottom: 0;
  }
}
