/* ==========================================================================
   OCBC Component: Vertical Tab Content
   ========================================================================== */

.#{$prefix}vt-content {
  width: 100%;
  display: none;
  vertical-align: top;
  padding: 16px 0 0 104px;
  $vtc: &;

  &[data-pane='prizes'] {
    #{$vtc}__content-wrapper {
      font-size: 0;
      width: 74.25%;

      @include small {
        width: 100%;
      }
    }
    #{$vtc}__p-narrow {
      @include small {
        margin-bottom: 0;
      }
    }
  }

  @include large {
    padding: 16px 0 0 0;
  }

  &__title {
    font-weight: fw(regular);
    margin-bottom: 16px;

    &--narrow {
      margin-bottom: 8px;
    }

    &--black {
      color: color(gray, 1);
    }

    &--bold {
      font-weight: fw(bold);
    }
  }

  &--active {
    display: block;

    @include large {
      display: block;
    }

    ul {
      color: color(gray, 2);
    }
  }

  &__syarat {
    font-weight: fw(regular);
  }

  &__table {
    width: 100%;
  }

  &__label-table {
    margin-top: 24px;
    margin-bottom: 0;
  }

  &__body {
    @include font-size(body);
    color: color(gray, 2);

    .#{$prefix}schedule {
      &__desc {
        &:last-child {
          margin-bottom: 24px;

          @include small {
            margin-bottom: 16px;
          }
        }
      }
    }

    p {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }

      strong {
        color: color(gray, 1);
      }
    }

    ol {
      padding-left: 0;
      margin-left: 24px;

      &:last-child {
        margin-bottom: 0;
      }

      >li {
        padding-left: 8px;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      ul {
        margin-top: 8px;
        list-style: disc;

        &:last-child {
          margin-bottom: 0;
        }

        >li {
          padding-left: 8px;
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    #{$vtc}__iframe,
    iframe {
      height: 453px;
      width: 100%;
      margin-bottom: 32px;

      @include medium {
        height: 420px;
      }

      @include small {
        height: 192px;
        margin-bottom: 24px;
      }
    }

    #{$vtc}__about {
      position: relative;

      #{$vtc}__iframe {
        &-wrapper {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
        }
      }

      #{$vtc}__iframe,
      iframe {
        height: 100%;
        width: 100%;
        margin: 0;
      }
    }
  }

  &--karir {
    .#{$prefix}vt-content {

      &__p,
      p,
      &__ol,
      ol,
      &__ul,
      ul {
        margin-bottom: 24px;
      }

      &__li,
      li {
        margin-bottom: 0px;
        padding-left: 0;
      }

      &__ul,
      ul {
        padding-left: 12px;
      }

      &__ol,
      ol {
        margin-left: 16px;
      }

      &__ul,
      ul {

        &__li,
        li {
          list-style-type: none;
          position: relative;

          @include element(after) {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background: color(gray, 2);
            top: 9px;
            left: -12px;
            border-radius: 50%;
          }
        }
      }

      &__b,
      b,
      &__i,
      i {
        display: block;
      }
    }
  }

  &__img-prizes {
    display: inline-block;
    width: 50%;

    @include small {
      width: 100%;
      margin: 8px 0;
    }
  }

  &__img-content {
    width: 100%;
    margin-bottom: 32px;
  }

  &__content-wrapper {
    margin-bottom: 64px;

    @include small {
      margin-bottom: 48px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    &--mb-4 {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      @include small {
        margin-bottom: 40px;
      }
    }
  }

  &__share-wrapper {
    text-align: right;
    margin-bottom: 8px;

    @include small {
      margin-bottom: 16px;
    }

    ul {
      color: color(black);
    }
  }

  &__li {
    margin-bottom: 8px;
    padding-left: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__ul {
    padding-left: 12px;
  }

  &__ul {
    #{$vtc}__li {
      list-style-type: none;
      position: relative;

      @include element(after) {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        background: color(gray, 2);
        top: 9px;
        left: -12px;
        border-radius: 50%;
      }
    }
  }

  a,
  .#{$prefix}lnk {
    text-decoration: none;
    transition: color .25s ease;

    &:hover {
      color: color(primary, 1);
      text-decoration: underline;
    }
  }

  &--landing-detail {
    .#{$prefix}vt-content {

      &__subtitle {
        font-weight: fw(bold);
        margin-bottom: 8px;
      }

      &__p,
      p,
      &__ol,
      ol,
      &__ul,
      ul {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__p--no-margin {
        margin-bottom: 0;
      }

      &__p-narrow {
        margin-bottom: 16px;
      }

      &__li,
      li {
        margin-bottom: 0px;
        padding-left: 0;
      }

      &__ul,
      ul {
        padding-left: 12px;
      }

      &__ul--no-margin {
        margin-bottom: 0;
      }

      &__ol,
      ol {
        margin-left: 16px;
      }

      &__b,
      b,
      &__strong,
      strong {
        font-weight: fw(bold);
        color: inherit;
      }

      &__i {
        font-style: italic;
      }

      &__ul,
      ul {

        &__li,
        li {
          list-style-type: none;
          position: relative;

          @include element(after) {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background: color(gray, 2);
            top: 9px;
            left: -12px;
            border-radius: 50%;
          }
        }
      }

      &__label-table {

        &__p,
        p {
          margin-bottom: 0;
        }
      }

      &__ol,
      ol {

        &__li,
        li {
          list-style: decimal;

          @include element(after) {
            content: initial;
          }
        }
      }
    }
  }
}
