/* ==========================================================================
   OCBC Component: Card
   ========================================================================== */

.#{$prefix}card {
  $c: &;
  display: inline-block;
  vertical-align: middle;

  &__box {
    overflow: hidden;
    position: relative;
  }

  .#{$prefix}lnk {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-indent: -99999px;
    opacity: 0;
    z-index: $z-card-lnk-overlay;
  }

  &__img {
    @include image(cover, center center);
    transition: all 0.4s ease;

    &-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: $z-card-img;

      // <pseudo-element/>
      @include element(after) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-card-img-grad;
        background-image: linear-gradient(0deg,
            rgba(color(black), 0.6) 0%,
            rgba(color(black), 0.02) 45%,
            rgba(color(black), 0) 50%);
      }
    }
  }

  &__txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 32px 24px;
    z-index: $z-card-txt;
    color: color(white);
    transition: all 0.35s ease;

    @include large {
      padding: 32px 24px;
    }

    @include small {
      padding: 24px 16px;
    }
  }

  &__title {
    margin-bottom: 0;
    @include font-size(h3);
  }

  &__desc {
    margin-bottom: 0;
    @include font-size(body);
  }

  &__icon-nyala {
    max-width: initial;
    height: 128px;
    width: auto;
    margin-bottom: 16px;
    display: block;

    .owl-carousel .owl-item & {
      height: 128px;
      width: auto;
    }

    @include small {
      height: 80px;

      .owl-carousel .owl-item & {
        height: 80px;
      }
    }
  }

  // --- needs
  @import "ocbc-card-needs";

  // --- head-product
  @import "ocbc-card-head-product";

  // --- promo
  @import "ocbc-card-promo";

  // --- information
  @import "ocbc-card-info";

  // --- themes
  @import "ocbc-card-themes";

  // --- upselling
  @import "ocbc-card-upselling";

  // --- article
  @import "ocbc-card-article";

  // --- suggestion
  @import "ocbc-card-suggestion";

  // --- nyala
  @import "ocbc-card-nyala";

  // --- nyala
  @import "ocbc-card-nyala-benefit";

  // --- product category
  @import "ocbc-card-product-category";

  // --- usp
  @import "ocbc-card-usp";

  // --- recommendation
  @import "ocbc-card-recommendation";

  // --- apply
  @import "ocbc-card-apply";

  // --- product SME
  @import "ocbc-card-product-sme";

  // --- achievement
  @import "ocbc-card-achievement";

  // --- nyala comparison
  @import "ocbc-card-nyala-comparison";

  // ---- bod
  @import "ocbc-card-bod";

  // ---- address
  @import "ocbc-card-address";

  // --- auction info
  @import "ocbc-card-auction-info";

  // --- partner
  @import "ocbc-card-partner";

  // --- advisor
  @import "ocbc-card-advisor";

  // --- mutual funds
  @import "ocbc-card-mutual-funds";

  // --- file report
  @import "ocbc-card-file-report";

  // --- Report
  @import "ocbc-card-report";

  // --- Country
  @import "ocbc-card-country";

  // --- Legend
  @import "ocbc-card-legend";

  // --- Risk Profil
  @import "ocbc-card-risk-profile";

  // --- Code Promo
  @import "ocbc-card-code-promo";

  // --- Premier Product
  @import "ocbc-card-premier-product";

  // --- Article Program
  @import "ocbc-card-article-program";

  // --- Location
  @import "ocbc-card-location";

  // --- Career List
  @import "ocbc-card-career-list";

  // --- Icon Title
  @import "ocbc-card-icon-title";

  // --- Product Comparison
  @import "ocbc-card-product-comparison";

  // --- Chosen Product
  @import "ocbc-card-chosen-product";

  // --- Chosen Skeleton
  @import "ocbc-card-chosen-skeleton";
}
