/* ==========================================================================
   OCBC Component: Card Country
   ========================================================================== */

&--country {
  display: block;
  position: relative;

  #{$c}__box {
    border-radius: 8px;
    background-color: color(white);
    border: solid 1px transparent;
    @include shadow(6);
    transition: all .25s ease;
  }

  #{$c}__input {
    outline: 0;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: $z-card-lnk-overlay;
    opacity: 0;
    @include remove-tap-highlight;

    &:hover {
      +#{$c}__box {
        transform: translateY(-2px);
        @include shadow(8);

        @include large {
          transform: none;
          @include shadow(6);
        }
      }
    }

    &:checked {
      +#{$c}__box {
        border-color: color(primary, 1);
      }
    }
  }

  #{$c}__content {
    display: table;
    width: 100%;
    min-height: 64px;
    @include firefox-browser {
      height: 64px;
    }

    @include small {
      display: block;
      padding: 16px;
      @include firefox-browser {
        height: auto;
      }
    }
  }

  #{$c}__country {
    display: table-cell;
    vertical-align: middle;
    padding: 16px 24px;
    font-size: 0;
    line-height: 1;

    &__name {
      @include font-size(body);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
    }

    @include small {
      display: block;
      padding: 0;
      margin-bottom: 24px;
    }
  }

  #{$c}__flag {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin-right: 16px;
    border: solid 1px color(gray, 6);

    &.riskprofile{
      width: 32px;
      height: 32px;
      border-radius: 0;
      border: none;
    }

    &-img {
      @include image(cover, center center);
    }
  }

  #{$c}__cost {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 16px 24px;
    font-size: 0;
    line-height: 1;

    @include small {
      display: block;
      padding: 0;
      text-align: left;
    }
  }

  #{$c}__label {
    @include font-size(small);
    color: color(gray, 2);
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;

    @include small {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  #{$c}__number {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;

    @include small {
      display: block;
    }
  }


}
