/* ==========================================================================
   OCBC Component: CSR Description
   ========================================================================== */

.#{$prefix}csr-description {
  &__highlight {
    margin-left: -42px;
    height: 180px;
    @include mq(1280px) {
      margin-left: -16px;
    }
    @include large {
      height: 136px;
    }
    @include medium {
      height: 88px;
    }
    @include small {
      margin-left: 0;
    }
    @include mq(374px) {
      height: 80px;
    }
    @include retina {
      height: 72px;
    }
  }
  &__img{
    height: 100%;
    width: auto;
  }
  &__list {
    margin-top: -32px;
    position: $z-csr-list;
  }
  &__item {
    display: table;
    width: 100%;
    max-width: 624px;
    margin-bottom: 32px;
    &:last-child{
      margin-bottom: 0;
    }
    @include large {
      max-width: 560px;
    }
  }
  &__icon {
    width: 100%;
    &-wrapper {
      display: table-cell;
      width: 64px;
      height: 64px;
      vertical-align: top;
      @include small {
        width: 48px;
        height: 48px;
      }
    }
  }
  &__title {
    vertical-align: top;
    padding-left: 32px;
    display: table-cell;
    font-weight: fw(regular);
    @include font-size(h4);
    color: color(gray, 2);
    strong {
      color: color(gray, 1);
    }
    @include large {
      padding-left: 28px;
    }
    @include small {
      padding-left: 24px;
    }
  }
}
