/* ==========================================================================
   OCBC Component: Table Striped
   ========================================================================== */

.#{$prefix}tbl-striped {
  $ts: &;
  margin-bottom: 0;

  @include small {
    min-width: 600px;
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  &__subtitle {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    margin-top: 8px;
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 8px;
    @include shadow(4);

    @include small {
      border-radius: 0;
      overflow: initial;
      box-shadow: none;
      margin-bottom: -16px;
    }
  }

  &__scrollover {
    @include scroll("x", "touch", "show");

    @include small {
      padding-left: 16px;
      padding-right: 16px;
      margin-left: -16px;
      margin-right: -16px;
      padding-bottom: 16px;

      .#{$prefix}tbl-striped {
        padding-right: 16px;
      }
    }
  }

  table,
  &__tbl {
    white-space: normal;
    width: 100%;
    margin-bottom: 0;

    @include small {
      overflow: hidden;
      border-radius: 8px;
      @include shadow(4);
    }
  }

  thead tr,
  &__head tr,
  &__row-head {
    &:not(:first-child) {
      #{$ts}__th {
        border-top: solid 1px color(white);
      }
    }

    &:only-child {
      #{$ts}__th {
        border-top: none;
      }
    }
  }

  thead th,
  &__head th,
  &__th {
    padding: 16px;
    background-color: color(gray, 3);
    color: color(white);
    text-align: center;
    font-weight: fw(bold);
    vertical-align: middle;
    @include font-size(body);
  }

  tbody,
  &__body {
    #{$ts}__tr {
      &:nth-child(odd) {
        #{$ts}__td {
          background: color(white);

          &[colspan] {
            background: color(gray, 6);
          }
        }
      }

      &:nth-child(even) {
        #{$ts}__td {
          background: color(gray, 7);

          &[colspan] {
            background: color(gray, 6);
          }
        }
      }
    }
  }

  tbody td,
  &__body td,
  &__td {
    padding: 16px;
    vertical-align: middle;
    color: color(gray, 2);
    @include font-size(body);

    &[colspan] {
      font-weight: fw(bold);
      color: color(gray, 1);
    }

    strong {
      color: color(gray, 1);
    }
  }

  &__list,
  ol,
  ul {
    padding-left: 0;
    margin-left: 18px;
    $l: &;
    margin-bottom: 0;
    &__item,
    li {
      padding-left: 4px;
      margin-bottom: 0;
    }
  }

  &__legend {
    margin-top: 32px;
    font-size: 0;
    line-height: 1;
    padding: 0 16px;

    @include small {
      margin-top: 24px;
    }

    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__txt {
      @include font-size(body);
      color: color(gray, 1);
      margin-bottom: 0;
    }

    &__separator {
      display: inline-block;
      vertical-align: middle;
      margin: 0 8px;
    }

    .#{$prefix}fi {
      color: color(secondary, 6);
      font-size: 1.6rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  // -- shareholders
  &--shareholders {
    @include small {
      min-width: 700px;
    }

    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        &:first-child {
          width: 256px;
        }

        &:nth-child(2),
        &:nth-child(4) {
          text-align: right;
          padding-right: 40px;
        }

        &:nth-child(3),
        &:nth-child(5) {
          text-align: center;
        }
      }
    }
  }

  // -- largest-shareholders
  &--largest-shareholders {
    @include small {
      min-width: 700px;
    }

    thead,
    #{$ts}__head {
      th,
      #{$ts}__th {
        &:nth-child(1) {
          text-align: left;
        }

        &:nth-child(3) {
          text-align: center;
          padding-right: 48px;
          width: 116px;
        }
      }
    }

    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        &:nth-child(2) {
          width: 256px;
          text-align: center;
        }

        &:nth-child(3) {
          text-align: right;
          padding-right: 48px;
        }
      }
    }
  }

  // financial-overview
  &--financial-overview {
    @include small {
      min-width: 808px;
    }

    thead,
    #{$ts}__head {
      th,
      #{$ts}__th {
        &:nth-child(1) {
          text-align: left;
        }
      }
    }

    tbody,
    #{$ts}__body {
      tr,
      #{$ts}__tr {
        &:nth-child(odd) {
          td,
          #{$ts}__td {
            background: color(gray, 7);
          }
        }

        &:nth-child(even) {
          td,
          #{$ts}__td {
            background: color(white);
          }
        }
      }

      td,
      #{$ts}__td {
        &:not(:first-child) {
          text-align: center;
        }

        &:first-child {
          width: 256px;
        }
      }
    }
  }

  // -- fitch-rating, --pefindo
  &--fitch-rating,
  &--pefindo {
    thead,
    #{$ts}__head {
      th,
      #{$ts}__th {
        &:nth-child(1) {
          text-align: left;
        }

        &:nth-child(2) {
          width: 292px;

          @include small {
            width: 200px;
          }
        }
      }
    }

    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        &:nth-child(2) {
          text-align: center;
          width: 292px;

          @include small {
            width: 200px;
          }
        }
      }
    }
  }

  // -- equity-action
  &--equity-action {
    @include small {
      min-width: 872px;
    }

    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        padding: 16px 8px;
        vertical-align: top;

        &:first-child {
          padding-left: 16px;
        }

        &:last-child {
          padding-right: 16px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7) {
          text-align: center;
        }

        &:nth-child(6) {
          text-align: right;
        }

        &:nth-child(7) {
          width: 129px;
        }
      }
    }
  }

  // -- stock-transactions
  &--stock-transactions {
    thead,
    #{$ts}__head {
      th,
      #{$ts}__th {
        padding-top: 16px;
        vertical-align: top;

        &:first-child {
          width: 176px;
          text-align: left;
          padding-right: 8px;
          padding-left: 16px;
        }

        &:not(:first-child) {
          width: 122px;
          padding-left: 12px;
          padding-right: 12px;
        }

        &:last-child {
          padding-right: 16px;
        }
      }
    }

    tbody,
    #{$ts}__body {
      tr,
      #{$ts}__tr {
        &:nth-child(odd) {
          #{$ts}__td {
            background: color(gray, 7);
          }
        }

        &:nth-child(even) {
          #{$ts}__td {
            background: color(white);
          }
        }
      }

      td,
      #{$ts}__td {
        &:first-child {
          width: 161px;
        }

        &:not(:first-child) {
          text-align: right;
          padding-right: 24px;
        }
      }
    }
  }

  // -- bond-action
  &--bond-action {
    @include small {
      min-width: 872px;
    }

    thead,
    #{$ts}__head {
      th,
      #{$ts}__th {
        padding-left: 8px;
        padding-right: 8px;

        &:first-child {
          text-align: left;
          padding-left: 16px;
        }

        &:nth-child(8) {
          width: 80px;
        }

        &:last-child {
          text-align: right;
          width: 122px;
          padding-right: 16px;
        }
      }
    }

    tbody,
    #{$ts}__body {
      tr,
      #{$ts}__tr {
        &:last-child {
          #{$ts}__td {
            vertical-align: top;
            background: color(gray, 7);
          }
        }
      }

      td,
      #{$ts}__td {
        word-break: break-word;

        &:not(:first-child) {
          vertical-align: top;
          text-align: center;
          padding: 16px 0px;
        }

        &:first-child {
          width: 88px;
          padding-right: 0;
        }

        &:nth-child(4) {
          width: 64px;
        }

        &:last-child {
          padding-right: 8px;
        }
      }
    }
  }

  // --sbdb-idr
  &--sbdb-idr {
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        text-align: center;
      }
    }
  }

  // --sbdb-usd
  &--sbdb-usd {
    thead,
    #{$ts}__head {
      tr,
      #{$ts}__row-head {
        &:not(:first-child) {
          th,
          #{$ts}__th {
            font-weight: fw(regular);
          }
        }

        th,
        #{$ts}__th {
          &:first-child {
            width: 208px;
          }
        }
      }
    }

    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        text-align: center;
      }
    }
  }

  // --sbdk
  &--sbdk {
    tbody,
    #{$ts}__body {
      tr,
      #{$ts}__tr {
        text-align: center;

        &:first-child {
          td,
          #{$ts}__td {
            &:last-child {
              font-weight: fw(regular);
              background-color: color(white);
              color: color(gray, 2);
            }
          }
        }
      }
    }
  }

  // --- governance
  &--governance {
    thead,
    #{$ts}__head {
      tr,
      #{$ts}__row-head {
        &:last-child {
          th,
          #{$ts}__th {
            font-weight: fw(regular);
            @include font-size(label);
            width: 96px;
          }
        }
      }

      th,
      #{$ts}__th {
        border: solid 1px color(gray, 5);
      }
    }

    tbody,
    #{$ts}__body {
      tr,
      #{$ts}__tr {
        td,
        #{$ts}__td {
          .#{$prefix}fi {
            color: color(secondary, 6);
          }

          &:nth-child(n + 2) {
            text-align: center;
          }
        }
      }
    }
  }

  // --- airport pickup
  &--airport-pickup {
    @include small {
      min-width: 1016px;
    }

    thead,
    #{$ts}__head {
      tr,
      #{$ts}__row-head {
        &:first-child {
          th,
          #{$ts}__th {
            &:first-child {
              text-align: left;
              padding-left: 72px;
            }
          }
        }
        &:last-child {
          th,
          #{$ts}__th {
            font-weight: fw(regular);
            border-top: transparent;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              width: 208px;
            }
          }
        }
      }
    }
    tbody,
    #{$ts}__body {
      tr,
      #{$ts}__tr {
        td,
        #{$ts}__td {
          padding-left: 20px;
          padding-right: 20px;
          &:first-child {
            text-align: left;
            padding-left: 72px;
          }
        }
      }
    }
  }

  // faq biaya transaksi
  &--faq-biaya-transaksi {
    @include small {
      min-width: 400px;
    }
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        &:nth-child(1) {
          padding-left: 112px;
          @include small {
            padding-left: 32px;
          }
        }
        &:nth-child(2) {
          text-align: center;
        }
      }
    }
  }

  // premier banking
  &--premier-banking {
    @include small {
      min-width: 800px;
    }
    thead,
    #{$ts}__head {
      tr,
      #{$ts}__row-head {
        &:not(:first-child) {
          th,
          #{$ts}__th {
            font-weight: fw(regular);
          }
        }
        th,
        #{$ts}__th {
          &:first-child {
            padding-left: 59px;
            text-align: left;
            width: 275px;
          }
        }
      }
    }
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        text-align: center;
      }
    }
  }

  // jasa layanan individu
  &--jasa-layanan-individu {
    @include small {
      min-width: 800px;
    }
    thead,
    #{$ts}__head {
      tr,
      #{$ts}__row-head {
        th,
        #{$ts}__th {
          &:first-child {
            width: 128px;
          }
          &:nth-child(2) {
            width: 128px;
          }
        }
      }
    }
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        text-align: center;
      }
    }
  }

  // jasa layanan individu
  &--valuta-asing {
    @include small {
      min-width: 800px;
    }
    thead,
    #{$ts}__head {
      tr,
      #{$ts}__row-head {
        th,
        #{$ts}__th {
          &:first-child {
            width: 50%;
          }
          &:nth-child(2) {
            width: 50%;
          }
        }
      }
    }
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        &:first-child {
          padding-left: 102px;
        }
        // text-align: center;
      }
    }
  }

  // ---Bunga Biaya
  &--bunga-biaya {
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        &:first-child {
          padding-left: 48px;
        }
        &:not(:first-child) {
          text-align: center;
        }
      }
    }
  }

  // ---pembayaran-pembelian
  &--pembayaran-pembelian {
    @include small {
      min-width: 650px;
    }
    tbody td,
    &__body td,
    &__td {
      &:first-child{
        padding-left: 40px;
      }
      &:last-child {
        padding-right: 40px;
        text-align: right;
      }
      &[colspan] {
        text-align: left;
        background: color(white);
        font-weight: fw(bold);
        color: color(gray, 1);
      }
    }

    tbody,
    &__body {
      #{$ts}__tr {
        &:nth-child(odd) {
          #{$ts}__td {
            background: color(white);

            &[colspan] {
              color: color(gray, 2);
              background: color(white);
            }
          }
        }

        &:nth-child(even) {
          #{$ts}__td {
            background: color(gray, 7);

            &[colspan] {
              color: color(gray, 2);
              background: color(gray, 7);
            }
          }
        }
      }
    }
  }

  // ---limit-transaksi
  &--limit-transaksi {
    @include small {
      min-width: 650px;
    }
    tbody,
    #{$ts}__body {
      td,
      #{$ts}__td {
        strong{
          color: color(gray, 2);
        }
        &:not(:first-child) {
          text-align: center;
        }
        &:first-child{
          padding-left: 40px;
        }
        &:last-child {
          padding-right: 40px;
          text-align: right;
        }
      }

      tr,
      #{$ts}__tr {
        &:nth-child(odd) {
          #{$ts}__td {
            background: color(white);
            
            &[colspan] {
              color: color(gray, 2);
              background: color(white);
            }
          }
        }

        &:nth-child(even) {
          #{$ts}__td {
            background: color(gray, 7);

            &[colspan] {
              color: color(gray, 2);
              background: color(gray, 7);
            }
          }
        }

        #{$ts}__td {
          &[colspan] {
            text-align: initial;
          }
        }
      }
    }
  }
}
