/* ==========================================================================
   OCBC Component: One Mobile
   ========================================================================== */

.#{$prefix}nyala-htb {
  $om: &;
  min-height: 400px;
  position: relative;
  overflow: hidden;
  background-color: color(primary, 1);
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, center top);
    &--m {
      display: none;
    }
    @include medium {
      background-position: center bottom;
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    display: table;
    table-layout: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
  }
  &__middle-align {
    padding: 88px 0 56px;
    display: table-cell;
    vertical-align: middle;
    @include medium {
      padding: 32px 0 85%;
    }
    @include small {
      padding-bottom: 92.5%;
    }
    @include retina {
      padding-bottom: 100%;
    }
  }
  &__txt {
    color: color(white);
    max-width: 392px;
    position: relative;
    z-index: $z-banner-txt-ht-l;
    @include medium {
      max-width: initial;
      margin-bottom: 40px;
    }
    @include retina {
      margin-bottom: 32px;
    }
  }
  &__title {
    @include font-size(h3);
    margin-bottom: 0;
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    margin-bottom: 0;
    margin-top: 24px;
    @include medium {
      margin-top: 8px;
    }
  }
  &__lnk-apps {
    margin-top: 48px;
    font-size: 0;
    line-height: 1;
    .#{$prefix}lnk {
      display: inline-block;
      margin-right: 24px;
      transition: all 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
    @include medium {
      margin-top: 24px;
      .#{$prefix}lnk {
        margin-right: 16px;
      }
    }
    @include retina {
      margin-top: 16px;
    }
  }
  &__lnk-img {
    height: 40px;
    @include small {
      height: 48px;
    }
    @include mq(374px) {
      height: 40px;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: color(white);
    &-wrapper{
      position: absolute;
      top: 50%;
      left: 59.5%;
      margin-top: -16px;
      transform: translateY(-50%);
      z-index: $z-banner-txt-ht-r;
    }
    &__item {
      margin-bottom: 16px;
      padding-left: 40px;
      position: relative;
      @include font-size(h4);
      &:last-child{
        margin-bottom: 0;
      }
      .#{$prefix}fi {
        font-size: 1.6rem;
        position: absolute;
        top: 8px;
        left: 0;
        @include small {
          top: 4px;
        }
      }
    }
    @include medium {
      &-wrapper{
        position: static;
        transform: none;
        margin-top: 0;
      }
      &__item {
        margin-bottom: 8px;
        padding-left: 24px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
