/* ==========================================================================
   OCBC Component: Investment Pie Chart
   ========================================================================== */

.#{$prefix}inv-pie-chart {
  &__img {
    display: block;
    &--m {
      display: none;
    }
    @include small {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
}
