/* ==========================================================================
   OCBC Component: Announcement List
   ========================================================================== */

.#{$prefix}announcement {
  $rl: &;
  &__item {
    min-height: 64px;
    position: relative;
    padding: 16px 64px 16px 24px;
    border-radius: 8px;
    color: color(gray, 1);
    transition: all .3s ease;
    @include shadow(4);
    @include element(after) {
      @include font-icon("\e908");
      position: absolute;
      top: 50%;
      right: 24px;
      z-index: $z-announcement-list-after;
      font-size: 1.6rem;
      margin-top: -8px;
    }
    .#{$prefix}lnk {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: $z-announcement-list-link;
    }
    &:hover {
      color: color(primary, 1);
      transform: translateY(-2px);
      @include shadow(8);
    }
    @include small {
      padding: 16px 64px;
      min-height: initial;
      @include element(after) {
        top: 20px;
        margin-top: 0;
      }
    }
  }
  &__btn-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    @include remove-tap-highlight;
    z-index: $z-announcement-list-link;
  }
  &__icon {
    width: 32px;
    &-box {
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }
    @include small {
      width: 24px;
      &-box {
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 16px;
        left: 24px;
        margin-right: 0;
      }
    }
  }
  &__txt {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    @include font-size(body);
    font-weight: fw(regular);
    transition: color .3s ease;
    max-width: 520px;
    @include small {
      display: block;
    }
  }
}
