/* ==========================================================================
   OCBC Component: Cookies
   ========================================================================== */

.#{$prefix}cookies {
  $c: &;
  position: fixed;
  z-index: $z-cookies;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(color(secondary, 7), 0.8);
  transition: transform 0.35s ease;
  transform: translateY(-100%);
  //--- show cookies
  .#{$prefix}show-cookies & {
    transform: translateY(72px);
    @include large {
      transform: translateY(64px);
    }
  }
  // window scroll
  .#{$prefix}show-cookies.#{$prefix}scroll-down & {
    transform: none;
    transition: transform 0.5s ease;
  }
  &__content {
    width: 100%;
    display: table;
    padding: 28px 0;
    @include large {
      padding: 24px 0;
    }
    @include small {
      display: block;
      padding: 16px 0;
    }
  }
  &__txt {
    display: table-cell;
    vertical-align: middle;
    @include small {
      display: block;
      text-align: center;
      margin-bottom: 16px;
    }
  }
  &__desc {
    @include font-size(body);
    color: color(white);
    margin-bottom: 0;
  }
  &__btn {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-left: 32px;
    @include small {
      display: block;
      padding-left: 0;
      text-align: center;
    }
  }
}
