/* ==========================================================================
   OCBC Component: Card Location
   ========================================================================== */

&--location {
  display: block;
  position: relative;
  padding-top: 28px;
  padding-bottom: 24px;
  padding-left: 48px;
  border-bottom: 1px solid color(gray, 6);
  min-height: 364px;
  @include large {
    min-height: 388px;
  }
  @include medium {
    min-height: initial;
  }
  #{$c}__icon {
    display: block;
    &-wrapper {
      width: 32px;
      height: 32px;
      position: absolute;
      left: 0;
      top: 24px;
    }
  }
  #{$c}__title {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
  }
  #{$c}__txt {
    position: static;
    padding: 0;
    color: color(gray, 2);
    .#{$prefix}lnk,
    a {
      text-decoration: none;
      transition: color .25s ease;
      &:hover {
        text-decoration: underline;
        color: color(primary, 1);
      }
    }
  }
  #{$c}__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 16px;
    max-width: 320px;
    &:last-child {
      margin-bottom: 0;
    }
    @include medium {
      max-width: initial;
    }
  }
  #{$c}__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #{$c}__item {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 8px;
    padding-left: 28px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    .#{$prefix}fi {
      position: absolute;
      top: 4px;
      left: 0;
      font-size: 1.6rem;
      color: color(primary, 1);
    }
  }
  #{$c}__title-list {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 4px;
  }
  #{$c}__lnk {
    font-size: 0;
    line-height: 1;
    position: absolute;
    left: 48px;
    bottom: 24px;
    @include medium {
      position: static;
      margin-top: 24px;
    }
  }
}
