/* ==========================================================================
   OCBC Component: Visi Section
   ========================================================================== */

.#{$prefix}mission-section {
  background-color: color(gray, 7);
  overflow: hidden;

  &__content {
    position: relative;
    padding-left: 33.3333333%;

    @include large {
      padding-left: 25%;
    }

    @include medium {
      padding-left: 0;
    }
  }

  &__image {
    position: absolute;
    left: -272px;
    top: -156px;

    @include large {
      top: 50%;
      transform: translateY(-50%);
    }

    @include medium {
      left: -80px;
      top: -96px;
      transform: none;
    }
  }

  &__txt {
    padding: 88px 0 80px 44px;
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;

    @include large {
      padding: 72px 0 64px 48px;
    }

    @include medium {
      padding: 338px 0 48px;
      margin-left: 0;
      margin-right: 0;
    }

    @include retina {
      padding: 292px 0 40px;
    }
  }

  &__item {
    float: left;
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 72px;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(2n+1) {
      clear: both;
    }

    @include large {
      margin-bottom: 48px;
    }

    @include small {
      float: none;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 48px;

      &:nth-last-child(2) {
        margin-bottom: 48px;
      }
    }

    @include retina {
      margin-bottom: 40px;

      &:nth-last-child(2) {
        margin-bottom: 40px;
      }
    }
  }

  &__title {
    color: color(gray, 1);
    @include font-size(h4);
    margin-bottom: 8px;
  }

  &__desc {
    margin-bottom: 0;
    color: color(gray, 2);
  }
}
