/* ==========================================================================
   OCBC Component: Slider Testimonial
   ========================================================================== */

.#{$prefix}slider-testimonial {
  $st: &;
  &__item {
    position: relative;
    @include medium {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include small {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__img {
    &-wrapper {
      width: calc(50% + 12px);
      padding-right: 0;
      position: relative;
      z-index: $z-slider-testimonial-img-d;
      @include medium {
        width: 100%;
        z-index: $z-slider-testimonial-img-m;
      }
    }
  }
  &__content {
    // 116px: 104 + 12
    padding: 48px 0 48px 116px;
    float: right;
    width: 50%;
    @include mq(1280px) {
      padding: 32px 0 32px 84px;
    }
    @include large {
      padding: 16px 0 16px 52px;
    }
    @include medium {
      float: none;
      width: 100%;
      padding: 0 24px 0 0;
    }
    &-wrapper {
      max-width: $container-max-width;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
      padding-left: 12px;
      padding-right: 12px;
      z-index: $z-slider-testimonial-txt-d;
      @include large {
        padding-left: 32px;
        padding-right: 32px;
      }
      @include medium {
        position: relative;
        padding: 0;
        margin-top: -40px;
        z-index: $z-slider-testimonial-txt-m;
      }
      @include retina {
        margin-top: -35px;
      }
    }
  }
  &__quote,
  &__name,
  &__desc,
  &__btn-lnk {
    opacity: 0;
    transition: all .75s ease;
    transition-delay: 0s;
    transform: translateX(16px);
  }
  &__quote {
    width: 149px;
    margin-bottom: 40px;
    display: block;
    @include mq(1280px) {
      width: 136px;
    }
    @include large {
      width: 92px;
    }
    @include medium {
      margin-bottom: 16px;
    }
    @include retina {
      width: 80px;
    }
  }
  &__name {
    margin-bottom: 16px;
    @include medium {
      margin-bottom: 8px;
    }
  }
  &__desc {
    font-weight: fw(regular);
    margin-bottom: 24px;
    max-width: 392px;
    @include medium {
      margin-bottom: 16px;
      max-width: initial;
    }
  }

  // --reverse
  &--reverse{
    @include clearfix;
    #{$st}__img {
      &-wrapper {
        float: right;
        @include medium {
          float: none;
        }
      }
    }
    #{$st}__content {
      padding: 48px 116px 48px 0;
      float: none;
      @include mq(1280px) {
        padding: 32px 84px 32px 0;
      }
      @include large {
        padding: 16px 52px 16px 0;
      }
      @include medium {
        padding: 0;
      }
    }
  }

}
