/* ==========================================================================
   OCBC Component: Networks
   ========================================================================== */

.#{$prefix}networks {
  padding: 64px 0;
  @include medium {
    padding: 56px 0;
  }
  @include small {
    padding: 48px 0;
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }
  &__scrollover {
    @include medium {
      padding-bottom: 8px;
      margin-left: -32px;
      margin-right: -32px;
      padding-left: 32px;
      padding-right: 32px;
      @include scroll("x", "touch", "show");
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  &__content {
    @include medium {
      width: 1248px;
      padding-left: 12px;
      padding-right: 44px;
    }
    @include small {
      padding-left: 12px;
      padding-right: 28px;
    }
  }
  &__companies {
    padding-bottom: 16px;
    border-bottom: 1px solid color(gray, 5);
    margin-left: -12px;
    margin-right: -12px;
    @include clearfix;
    &__item {
      float: left;
      width: 16.66666667%;
      height: 80px;
      padding-left: 12px;
      padding-right: 12px;
      position: relative;
      overflow: hidden;
      @include large {
        height: 62px;
      }
      @include medium {
        height: 80px;
      }
    }
  }
  &__logo {
    display: block;
  }
  &__map {
    width: 808px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &-wrapper {
      width: 100%;
      padding-top: 64px;
    }
  }
}
