/* ==========================================================================
   OCBC Component: Social Media
   ========================================================================== */

.#{$prefix}socmed {
  $fp: &;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
  &__item {
    display: inline-block;
    margin-right: 8px;
    @include small {
      margin-right: 16px;
    }
    &:last-child{
      margin-right: 0;
    }
    &--desktop {
      @include small {
        display: none;
      }
    }
    &--mobile {
      display: none;
      @include small {
        display: inline-block;
      }
    }
  }
  &__link {
    display: block;
    text-align: center;
    color: inherit;
    transition: all 0.25s ease;
    text-decoration: none;
    line-height: 1;
    .#{$prefix}fi {
      display: block;
      font-size: 3.2rem;
      line-height: 1;
    }
    @include small {
      .#{$prefix}footer-nav & {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &:hover {
      transform: translateY(-2px);
    }
  }
  &__phone:hover{
    color: color(primary, 1);
  }
  &__facebook:hover {
    color: color(social, facebook);
  }
  &__instagram:hover {
    color: color(social, instagram);
  }
  &__twitter:hover {
    color: color(social, twitter);
  }
  &__youtube:hover {
    color: color(social, youtube);
  }
  &__whatsapp:hover {
    color: color(social, whatsapp);
  }
  &__line:hover {
    color: color(social, line);
  }
  &__linkedin:hover {
    color: color(social, linkedin);
  }
}
