/* ==========================================================================
   OCBC Component: Search Filter
   ========================================================================== */

.#{$prefix}filter {
  $sf: &;

  &__head {
    position: relative;

    &--accordion {
      cursor: pointer;
      @include remove-tap-highlight;
      transition: all .5s ease;

      @include element(after) {
        @include font-icon("\e906");
        font-size: 1.6rem;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        transform: rotateX(180deg);
        transform-origin: center center;
        transition: all .5s ease;
      }

      &[data-accordion="mobile"] {
        cursor: default;

        @include element(after) {
          display: none;
        }

        @include small {
          cursor: pointer;

          @include element(after) {
            display: block;
          }
        }
      }
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  &__body {
    margin-top: 16px;
  }

  &__element {
    opacity: 1;
    transition: all .5s ease;
  }

  &__item {
    &--accordion-collapse {
      #{$sf}__head--accordion {
        @include element(after) {
          transform: none;
        }
      }

      #{$sf}__element {
        opacity: 0;
        transform: translateX(8px);
      }
    }
  }

}
