/* ==========================================================================
   OCBC Component: Search Section
   ========================================================================== */

.#{$prefix}search-section {
  $ss: &;
  &__form-wrapper {
    opacity: 0;
    visibility: hidden;
    transform: translateX(8px);
    transition: all 0.45s ease;
    transition-delay: 200ms;
    margin-bottom: 16px;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition-delay: 300ms;
    }
    @include large {
      padding: 12px 0;
      margin-bottom: 0;
      transform: translateY(4px);
      position: relative;
      z-index: $z-header-search-form-wrapper;
      // --- ocbc-search-form--show
      .#{$prefix}search-form--show & {
        transform: translateY(0);
      }
    }
  }
  &__form {
    position: relative;
    width: 100%;
    .#{$prefix}input {
      padding-left: 44px;
      padding-right: 40px;
    }
  }
  .#{$prefix}fi {
    font-size: 1.6rem;
    margin-left: -8px;
    margin-top: -8px;
  }
  &__submit {
    position: absolute;
    left: 8px;
    top: 8px;
    color: color(gray, 1);
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .#{$prefix}input {
    width: 100%;
  }
  &__quick-links {
    padding: 16px 24px;
    background-color: color(white);
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
    transition-delay: 175ms;
    height: 296px;
    @include shadow(16);
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 1;
      visibility: visible;
      transition-delay: 350ms;
    }
    @include large {
      position: absolute;
      top: 64px;
      left: 16px;
      right: 16px;
      bottom: 0;
      padding-bottom: 16px;
      z-index: $z-header-search-quick-links;
      @include scroll(y, touch, hide);
      @include element(before) {
        content: none;
        display: none;
      }
    }
  }
  &__no-result{
    display: none;
    text-align: center;
    padding: 72px 24px;
    &__icon{
      width: 56px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-wrapper{
        position: relative;
        width: 56px;
        height: 56px;
        margin: 0 auto 40px;
        @include large {
          margin-bottom: 32px;
        }
      }
    }
    &__txt{
      color: color(gray, 1);
      @include font-size(body);
      margin-bottom: 0;
    }
    @include large {
      padding: 64px 24px;
    }
  }
  &__title {
    margin-bottom: 8px;
    color: color(gray, 1);
    @include font-size(body);
    font-weight: fw(bold);
    opacity: 0;
    visibility: hidden;
    transform: translateX(8px);
    transition: all 0.45s ease;
    transition-delay: 150ms;
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition-delay: 350ms;
    }
    @include large {
      transform: translateY(4px);
      // --- ocbc-search-form--show
      .#{$prefix}search-form--show & {
        transform: translateY(0);
      }
    }
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0 16px 8px 0;
    &-container{
      margin-right: -16px;
      max-height: 232px;
    }
  }
  // --- override
  .mCSB_inside > .mCSB_container{
    margin-right: 0;
  }
  .mCSB_scrollTools{
    width: 4px;
    opacity: 1;
  }
  .mCSB_scrollTools .mCSB_draggerRail{
    display: none;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 4px;
    border-radius: 2px;
    background-color: color(gray, 5);
  }
  // --- /override
  &__item {
    padding: 10px 0;
    border-bottom: solid 1px color(gray, 6);
    opacity: 0;
    visibility: hidden;
    transform: translateX(8px);
    transition: all 0.35s ease;
    line-height: 1;
    @include ellipsis;
    @for $i from 1 through 6 {
      $timer: 150 - ($i * 25);
      &:nth-child(#{$i}) {
        transition-delay: #{$timer}ms;
      }
    }
    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      @for $i from 1 through 6 {
        $timer: 350 + ($i * 50);
        &:nth-child(#{$i}) {
          transition-delay: #{$timer}ms;
        }
      }
    }
    @include large {
      transform: translateY(4px);
      // --- ocbc-search-form--show
      .#{$prefix}search-form--show & {
        transform: translateY(0);
      }
    }
  }
  .#{$prefix}lnk {
    text-decoration: none;
    @include font-size(body);
    transition: color 0.3s ease;
    text-transform: capitalize;
    &:hover {
      color: color(primary, 1);
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(premier, 1);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(private, 1);
      }
    }
  }
  &__highlight{
    font-weight: fw(bold);
  }
  // modifier
  &--inline{
    position: relative;
    #{$ss}__form {
      .#{$prefix}input {
        padding: 16px 96px 15px 0;
        @include small {
          padding: 8px 32px 7px 0;
        }
      }
      #{$ss}__submit {
        left: auto;
        right: 0;
        top: 16px;
        z-index: $z-search-btn;
        @include small {
          top: 8px;
        }
      }
      .#{$prefix}fi {
        font-size: 2.4rem;
        margin-left: -12px;
        margin-top: -12px;
      }
    }
    #{$ss}__form-wrapper {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      margin-bottom: 0;
      @include large {
        padding: 0;
      }
    }
    #{$ss}__quick-links {
      position: absolute;
      right: 0;
      left: 0;
      margin-top: 8px;
      .#{$prefix}search-form--show & {
        opacity: 0;
        visibility: hidden;
        transition-delay: 175ms;
      }
      .#{$prefix}search-form--show-inline & {
        opacity: 1;
        visibility: visible;
        transition-delay: 350ms;
      }
      @include large {
        top: auto;
        bottom: auto;
      }
    }
    #{$ss}__title {
      .#{$prefix}search-form--show & {
        opacity: 0;
        visibility: hidden;
        transform: translateX(8px);
        transition-delay: 150ms;
      }
      // --- ocbc-search-form--show
      .#{$prefix}search-form--show-inline & {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        transition-delay: 350ms;
      }
      @include large {
        // --- ocbc-search-form--show
        .#{$prefix}search-form--show & {
          transform: translateY(4px);
        }
        .#{$prefix}search-form--show-inline & {
          transform: translateY(0);
        }
      }
    }
    #{$ss}__item {
      .#{$prefix}search-form--show & {
        opacity: 0;
        visibility: hidden;
        transform: translateX(8px);
      }
      .#{$prefix}search-form--show-inline & {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        @for $i from 1 through 6 {
          $timer: 350 + ($i * 50);
          &:nth-child(#{$i}) {
            transition-delay: #{$timer}ms;
          }
        }
      }
      @include large {
        // --- ocbc-search-form--show
        .#{$prefix}search-form--show-inline & {
          transform: translateY(0);
        }
      }
    }

  }
}
