/* ==========================================================================
   OCBC Component: Post Promo
   ========================================================================== */

.#{$prefix}post-promo {
  $pp: &;
  width: 33.3333333%;
  float: left;
  padding: 12px;
  &--rectangle {
    width: 66.6666666%;
    #{$pp}__box {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      height: 360px;
      @include retina {
        height: 328px;
      }
    }
    #{$pp}__img-wrapper {
      height: 100%;
      position: static;
      margin-bottom: 0;
      // <pseudo-element/>
      @include element(after) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-card-img-grad;
        background-image: linear-gradient(
          180deg,
          rgba(color(black), 0) 50%,
          rgba(color(black), 0.5) 74%,
          rgba(color(black), 0.8) 100%
        );
      }
    }
    #{$pp}__txt {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px 24px;
      color: color(white);
      z-index: $z-card-txt;
      @include small {
        padding: 16px;
      }
    }
    #{$pp}__label {
      margin-bottom: 0;
    }
    #{$pp}__title {
      .#{$prefix}lnk {
        color: color(white);
      }
    }
    &:hover {
      .#{$prefix}post-promo__title {
        .#{$prefix}lnk {
          text-decoration: underline;
        }
      }
    }
  }
  @include medium {
    width: 50%;
    &--rectangle {
      width: 100%;
    }
  }
  @include small {
    width: 100%;
    float: none;
    margin-bottom: 16px;
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__box {
    height: 360px;
    @include medium {
      height: auto;
    }
  }
  &__img-wrapper {
    height: 260px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
    @include small {
      height: 256px;
    }
    @include retina {
      height: 224px;
    }
    .#{$prefix}lnk {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-card-lnk-overlay;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:hover {
      #{$pp}__img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    transition: all 0.5s ease;
    @include image(cover, center center);
  }
  &__label {
    margin-bottom: 0;
    @include font-size(label);
  }
  &__title {
    margin-bottom: 0;
    @include font-size(h3);
    .#{$prefix}lnk {
      color: color(gray, 1);
      transition: color 0.3s ease;
      text-decoration: none;
      &:hover {
        color: color(primary, 1);
      }
    }
  }
  &__date {
    margin-bottom: 0;
    @include font-size(small);
  }
}
