/* ==========================================================================
   OCBC Component: Schedule
   ========================================================================== */

.#{$prefix}schedule {
  &__item {
    position: relative;
    @include element(before) {
      content: '';
      display: block;
      position: absolute;
      z-index: $z-schedule-line;
      left: 19px;
      top: 16px;
      bottom: -16px;
      border-left: solid 1px color(gray, 6);
    }
    @include element(after) {
      content: '';
      display: table;
      clear: both;
    }
    &:last-child {
      @include element(before) {
        display: none;
        content: none;
      }
    }
  }
  &__bullet {
    position: absolute;
    z-index: $z-schedule-bullet;
    left: 12px;
    top: 8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: color(primary, 1);
  }
  &__date {
    @include font-size(h4);
    color: color(gray, 1);
    padding-left: 32px;

    @include small {
      @include font-size(h2, mobile);
      margin-bottom: 8px;
    }
  }
  &__content {
    &-wrapper {
      padding-bottom: 24px;
      padding-left: 48px;

      @include small {
        padding-left: 40px;
      }
    }
  }
  &__title , b {
    @include font-size(body);
    margin-bottom: 8px;
  }
  &__desc {
    @include font-size(body);
    margin-bottom: 24px;
  }
}
