/* ==========================================================================
   OCBC Component: Card Recommendation
   ========================================================================== */

&--rec {
  border-radius: 8px;
  padding: 16px 16px 8px;
  text-align: center;
  width: 184px;
  min-height: 84px;
  margin-right: 24px;
  position: relative;
  text-decoration: none;
  background-color: color(white);
  vertical-align: top;
  transition: all .3s ease;
  @include shadow(6);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: translateY(-4px);
  }

  &__desc {
    color: color(gray, 2);
    margin-bottom: 8px;
  }

  @include small {
    width: 160px;
    margin-right: 0;
    margin-bottom: 16px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }

    @include element(after) {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__scrollover {
    font-size: 0;
    line-height: 1;
  }

  #{$c}__img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: none;

    &-wrapper {
      width: 22px;
      height: 22px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8px;

      @include element(after) {
        content: none;
      }

      @include small {
        width: 24px;
        height: 24px;
      }
    }
  }

  #{$c}__label {
    display: block;
  }
}
