/* ==========================================================================
   OCBC Component: Tabs Controll
   ========================================================================== */

&__controll {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
  &__item {
    padding: 20px 0;
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 2);
    display: inline-block;
    vertical-align: middle;
    margin-right: 32px;
    position: relative;
    transition: color .3s ease;
    cursor: pointer;
    @include remove-tap-highlight;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(white);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(white);
    }
    &:last-child {
      margin-right: 0;
    }
    @include element(after){
      content: '';
      display: block;
      width: 48px;
      height: 4px;
      background-color: color(primary, 1);
      z-index: $z-tab-active-border;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -24px;
      transition: all .3s ease;
      transform: scaleX(0);
      transform-origin: center center;
      // -- premier site
      .#{$prefix}premier-site & {
        background-color: color(white);
      }
      // -- private site
      .#{$prefix}private-site & {
        background-color: color(white);
      }
    }
    &--active {
      color: color(gray, 1);
      font-weight: fw(bold);
      @include element(after){
        transform: scaleX(1);
      }
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(white);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
      }
    }
    &:hover {
      color: color(gray, 1);
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(white);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
      }
    }
  }
  @include medium {
    &__item {
      padding: 16px 0;
      margin-right: 24px;
      @include element(after){
        width: 40px;
        margin-left: -20px;
      }
    }
  }
  @include medium {
    &__item {
      @include element(after){
        width: 32px;
        margin-left: -16px;
      }
    }
  }
}
