/* ==========================================================================
   OCBC Component: Achievement Banner
   ========================================================================== */

.#{$prefix}ac-banner {
  $ab: &;
  position: relative;
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, center top);
    &--m {
      display: none;
    }
    @include small {
      @include bg-image(cover, center bottom);
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
    padding: 80px 0 96px;
    min-height: 368px;
    @include small {
      min-height: auto;
      padding: 48px 0 184px;
    }
  }
  &__txt {
    max-width: 612px;
    word-wrap: break-word;
    @include small {
      max-width: 320px;
    }
  }
  &__title {
    font-weight: fw(bold);
    @include font-size(h2);
    margin-bottom: 16px;
    color: color(white);
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    font-weight: fw(regular);
    @include font-size(h4);
    min-height: 64px;
    margin-bottom: 24px;
    color: color(white);
    @include small {
      min-height: 96px;
    }
  }
}
