/* ==========================================================================
   OCBC Component: One Mobile
   ========================================================================== */

.#{$prefix}one-mobile {
  $om: &;
  min-height: 392px;
  position: relative;
  overflow: hidden;
  &--velocity {
    min-height: auto;
    #{$om}__middle-align {
      padding: 32px 0 32px;
      @include small {
        padding: 40px 0 65%;
      }
    }
    #{$om}__title {
      margin-bottom: 0;
      @include small {
        margin-bottom: 0;
      }
    }
    #{$om}__lnk-apps {
      margin-top: 32px;
      @include small {
        margin-top: 19px;
      }
    }
    #{$om}__lnk-img {
      height: 56px;
      @include small {
        height: 46px;
      }
    }
  }
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, center center);
    &--m {
      display: none;
    }
    @include large {
      @include bg-image(cover, 53% center);
    }
    @include small {
      background-position: center bottom;
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    display: table;
    table-layout: fixed;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
  }
  &__middle-align {
    padding: 56px 0 48px;
    display: table-cell;
    vertical-align: middle;
    @include small {
      padding: 40px 0 72%;
    }
    @include mq(370px) {
      padding-bottom: 77.5%;
    }
  }
  &__txt {
    color: color(white);
    max-width: 704px;
    @include large {
      max-width: 576px;
    }
    @include medium {
      max-width: 440px;
    }
    @include small {
      max-width: initial;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__desc {
    margin-bottom: 24px;
    font-weight: fw(regular);
    @include small {
      margin-bottom: 56px;
    }
    @include retina {
      margin-bottom: 48px;
    }
  }
  &__lnk-apps {
    margin-top: 56px;
    font-size: 0;
    line-height: 1;
    .#{$prefix}lnk {
      display: inline-block;
      margin-right: 24px;
      transition: all 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
    @include small {
      margin-top: 24px;
      .#{$prefix}lnk {
        margin-right: 16px;
      }
    }
    @include retina {
      margin-top: 16px;
    }
  }
  &__lnk-img {
    height: 64px;
    @include medium {
      height: 56px;
    }
    @include small {
      height: 48px;
    }
    @include mq(370px) {
      height: 44px;
    }
    @include mq(350px) {
      height: 40px;
    }
  }
}
