/* ==========================================================================
   OCBC Component: Card Address
   ========================================================================== */

&--address {
  width: 392px;
  background: color(gray, 7);
  min-height: 280px;
  padding: 24px;
  border-radius: 8px;
  @include large {
    min-height: 320px;
    width: 29.5vw;
  }
  @include medium {
    min-height: 292px;
    width: 44.25vw;
  }
  @include small {
    min-height: 292px;
    width: 100%;
  }
  #{$c}__company-name {
    @include font-size(body);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(gray, 1);
  }
  #{$c}__company-desc {
    @include font-size(body);
    margin-bottom: 0;
    color: color(gray, 2);
    a {
      text-decoration: none;
      transition: color .25s ease;
      &:hover {
        color: color(primary, 1);
        text-decoration: underline;
      }
    }
  }
}
