/* ==========================================================================
   OCBC Component: Product Comparison
   ========================================================================== */

&--product-comparison {
  position: relative;
  display: block;

  @include medium {
    max-width: initial;
  }

  #{$c}__box {
    border-radius: 8px;
    padding: 36px 36px 36px 108px;
    background-color: color(white);
    @include shadow(5);
    transition: all 0.3s ease;
    min-height: 96px;
  }

  #{$c}__img {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 8px;
    top: 8px;
    border-radius: 8px;
    overflow: hidden;
  }

  #{$c}__txt {
    position: static;
    color: color(gray, 1);
    padding: 0;
  }

  #{$c}__title {
    @include font-size(body);
    font-weight: fw(bold);
    margin: 0;
  }

  #{$c}__checkbox {
    position: absolute;
    top: 36px;
    right: 24px;

    &:checked {
      +#{$c}__ocbc-checkbox {
        @include element(before) {
          opacity: 1;
        }

        @include element(after) {
          transform: scale(1);
        }
      }
    }

    &--wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;

      @include element(after) {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        top: 36px;
        right: 24px;
        z-index: $z-filter-checkbox-before;
        border-radius: 4px;
        background-color: color(white);
        box-shadow: inset 0 1px 3px 0 rgba(color(black), .25);
        transition: all .3s ease;
      }
    }
  }

  #{$c}__ocbc-checkbox {
    display: block;

    @include element(before) {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 36px;
      right: 24px;
      z-index: $z-filter-checkbox-input-before;
      border-radius: 4px;
      opacity: 0;
      background-color: color(white);
      background-image: lg(primary);
      transition: all .3s ease;
    }

    @include element(after) {
      position: absolute;
      font-size: 1.6rem;
      color: color(white);
      right: 28px;
      top: 40px;
      z-index: $z-filter-checkbox-input-after;
      transition: all .3s ease;
      transform: scale(0);
      @include font-icon("\e905");
    }
  }
}
