/* ==========================================================================
   OCBC Component: One Mobile Rachel
   ========================================================================== */

.#{$prefix}one-mobile-rachel {
  background-image: lg(primary);
  &__content {
    position: relative;
    overflow: hidden;
  }
  &__img {
    opacity: 0.18;
    &-wrapper {
      position: absolute;
      top: -32px;
      right: 12px;
      width: 534px;
      z-index: $z-card-img;
      @include medium {
        width: 480px;
        right: 0;
      }
      @include small {
        width: 228px;
        top: 0;
        right: -108px;
      }
    }
  }
  &__txt {
    position: relative;
    display: table;
    width: 100%;
    z-index: $z-card-txt;
    padding: 64px 0;
    @include medium {
      padding: 48px 0;
    }
  }
  &__col {
    display: table-cell;
    vertical-align: middle;
    color: color(white);
    &:first-child {
      padding-right: 64px;
    }
    &:last-child {
      width: 344px;
    }
    @include medium {
      display: block;
      &:first-child {
        padding-right: 0;
        margin-bottom: 24px;
      }
      &:last-child {
        width: auto;
      }
    }
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    margin-bottom: 8px;
  }
  &__desc {
    @include font-size(body);
    margin-bottom: 0;
  }
}
