/* ==========================================================================
   OCBC Component: Card Career List
   ========================================================================== */

&--career-list {
  display: block;
  #{$c}__box {
    height: 136px;
    border-radius: 8px;
    position: relative;
    background-color: color(white);
    @include shadow(6);
    padding: 16px;
    white-space: normal;
    transition: transform .3s ease, shadow .3s ease;
    &:hover {
      transform: translateY(-2px);
      @include shadow(8);
    }
  }
  #{$c}__title {
    @include font-size(body);
    color: color(gray, 1);
    font-weight: fw(bold);
  }
  #{$c}__desc {
    position: absolute;
    bottom: 16px;
    left: 16px;
    @include font-size(body);
    color: color(gray, 2);
    font-weight: fw(regular);
  }
}
