/* ==========================================================================
   OCBC Component: No Result
   ========================================================================== */

.#{$prefix}no-result {
  padding: 112px 0;
  text-align: center;
  display: none;

  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrapper {
      width: 56px;
      height: 56px;
      margin: 0 auto 24px;
      position: relative;
    }
  }

  &__desc {
    margin-bottom: 0;
  }

  // page modifier
  &--pencapaian {
    display: block;
    clear: both;
  }
}
