/* ==========================================================================
   OCBC Component: Text Column
   ========================================================================== */

.#{$prefix}txt-col {
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 24px;
    max-width: 496px;
    @include small {
      max-width: initial;
    }
  }
}
