/* ==========================================================================
   OCBC Component: Card Partner
   ========================================================================== */

&--partner {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  background-color: color(gray, 7);
  position: relative;
  @include retina {
    height: 176px;
  }
  #{$c}__img {
    display: block;
    width: 224px;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq(374px) {
      width: 208px;
    }
    @include retina {
      width: 176px;
    }
  }
}
