/* ==========================================================================
   OCBC Component: Image Promo
   ========================================================================== */

.#{$prefix}image-promo__item {
  $ip: &;
  position: relative;
  width: 100%;
  height: 480px;
  @include small{
    height: 260px;
  }
  &--img-wrapper  {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  &--img {
    @include image(cover, center center);
  }
}
