/* ==========================================================================
   OCBC Component: Table Bunga & Biaya
   ========================================================================== */

.#{$prefix}tbl-bb {
  $dr: &;
  width: 100%;
  margin-bottom: 0;

  &-scrollover {
    @include small {
      padding: 16px;
      margin-left: -16px;
      margin-right: -16px;
      @include scroll("x", "touch", "hide");
    }
  }

  &-container {
    @include large {
      margin-bottom: 40px;
    }

    @include small {
      position: relative;
    }
  }

  &-box {
    display: block;
    background-color: color(white);
    overflow-x: auto;
    border-radius: 8px;
    position: relative;
    @include shadow(6);

    @include small {
      display: inline-block;
      padding: 0;
      overflow: hidden;
    }
  }

  &__th,
  &__td {
    border-right: 1px solid color(gray, 6);
  }

  &__th {
    padding: 16px;
    background-color: color(gray, 3);
    border-bottom: solid 1px color(gray, 4);
    color: color(white);
    text-align: center;
    font-weight: fw(regular);
    vertical-align: middle;
    @include font-size(body);

    @include small {
      background-color: color(gray, 3);
      color: color(white);
    }
  }

  &__body {
    &__row {
      &:nth-child(odd) {
        #{$dr}__td {
          background: color(white);
        }
      }

      &:nth-child(even) {
        #{$dr}__td {
          background: color(gray, 7);
        }
      }
    }
  }

  &__td {
    padding: 8px;
    text-align: center;
    vertical-align: top;
    color: color(gray, 1);
    @include font-size(body);

    &:nth-child(1) {
      width: 200px;
    }

    &:nth-child(2) {
      text-align: left;
      padding-left: 32px;

      @include small {
        padding-left: 8px;
      }
    }

    &:nth-child(3) {
      text-align: right;
      padding-right: 48px;

      @include small {
        padding-right: 24px;
      }
    }
  }

  &__checklist {
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: color(secondary, 6);
  }
}
