/* ==========================================================================
   OCBC Component: Result List
   ========================================================================== */

.#{$prefix}result-list {
  $rl: &;
  &__item {
    position: relative;
    padding-left: 80px;
    padding-bottom: 16px;
    border-bottom: 1px solid color(gray, 5);
    transition: border-color .3s ease;
    @include small {
      padding-bottom: 12px;
      padding-left: 64px;
    }
    .#{$prefix}lnk {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: $z-card-txt;
    }
    &:hover {
      border-color: color(primary, 1);
      #{$rl}__title {
        color: color(primary, 1);
      }
      #{$rl}__desc {
        color: color(gray, 1);
      }
      #{$rl}__txt {
        @include element(after){
          color: color(primary, 1);
          transform: translateX(4px);
        }
      }
    }
  }
  &__icon {
    width: 32px;
    &-box {
      width: 64px;
      height: 64px;
      padding: 16px;
      border-radius: 8px;
      position: absolute;
      left: 0;
      top: 0;
      @include shadow(6);
      @include small {
        padding: 12px;
        width: 48px;
        height: 48px;
      }
    }
  }
  &__txt {
    min-height: 64px;
    padding-right: 56px;
    padding-top: 8px;
    position: relative;
    @include small {
      min-height: 48px;
      padding-top: 0;
    }
    @include element(after) {
      position: absolute;
      top: 50%;
      right: 8px;
      z-index: $z-search-list-after;
      font-size: 1.6rem;
      margin-top: -8px;
      color: color(gray, 1);
      @include font-icon("\e908");
      transition: all .3s ease;
    }
  }
  &__title {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 4px;
    transition: color .3s ease;
  }
  &__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 0;
    max-width: 496px;
    @include ellipsis;
    transition: color .3s ease;
    @include small {
      white-space: normal;
      @include multiline-ellipsis(3);
    }
  }
}
