/* ==========================================================================
   OCBC Component: Section Image Description
   ========================================================================== */

.#{$prefix}sec-img-desc {
  $st: &;
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  background-color: color(gray, 7);
  @include medium {
    display: block;
    padding: 56px 32px;
  }
  @include small {
    padding: 48px 16px;
  }
  &__img {
    width: 100%;
    height: auto;
    display: block;
    &-wrapper {
      width: calc(50% + 24px);
      display: table-cell;
      vertical-align: middle;
      @include medium {
        width: 100%;
        display: block;
        margin-bottom: 24px;
      }
    }
  }
  &__content {
    padding-left: 104px;
    &-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
    @include mq(1272px) {
      padding-left: 80px;
      &-wrapper {
        padding-right: 32px;
      }
    }
    @include large {
      padding-left: 48px;
    }
    @include medium {
      padding-left: 0;
      &-wrapper {
        display: block;
        padding-right: 0;
      }
    }
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    margin-bottom: 16px;
    color: color(gray, 1);
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    max-width: 496px;
    @include medium {
      max-width: 100%;
    }
  }

}
