/* ==========================================================================
   OCBC Component: Card Promo
   ========================================================================== */

&--promo {
  display: block;
  $pp: &;
  max-width: 416px;
  @include large {
    max-width: 475px;
  }
  @include small {
    max-width: initial;
  }
  #{$c}__box {
    height: 360px;
    @include medium {
      height: auto;
    }
  }
  #{$c}__img-wrapper {
    height: 260px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
    position: relative;
    // <pseudo-element/>
    @include element(after) {
      content: none;
      display: none;
    }
    @include small {
      height: 256px;
    }
    @include retina {
      height: 224px;
    }
    .#{$prefix}lnk {
      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-card-lnk-overlay;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    &:hover {
      #{$c}__img {
        transform: scale(1.1);
      }
    }
  }
  #{$c}__img {
    transition: all 0.5s ease;
    @include image(cover, center center);
    @include small {
      object-position: right center;
    }
  }
  #{$c}__txt {
    position: static;
    padding: 0;
    color: color(gray, 1);
  }
  #{$c}__label {
    margin-bottom: 0;
    color: color(gray, 2);
    @include font-size(label);
  }
  #{$c}__title {
    margin-bottom: 0;
    @include font-size(h4);
    .#{$prefix}lnk {
      color: color(gray, 1);
      transition: color 0.3s ease;
      text-decoration: none;
      position: static;
      text-indent: initial;
      opacity: initial;
      &:hover {
        color: color(primary, 1);
      }
    }
  }
  #{$c}__date {
    margin-bottom: 0;
    color: color(gray, 2);
    @include font-size(small);
  }
  // --- modifier
  &--rectangle,
  &--square {
    max-width: 832px;
    @include large {
      max-width: initial;
    }
    @include small {
      max-width: initial;
    }
    #{$c}__box {
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }
    #{$c}__img-wrapper {
      height: 100%;
      position: static;
      margin-bottom: 0;
      // <pseudo-element/>
      @include element(after) {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-card-img-grad;
        background-image: linear-gradient(
          180deg,
          rgba(color(black), 0) 50%,
          rgba(color(black), 0.5) 74%,
          rgba(color(black), 0.8) 100%
        );
      }
      @include small {
        height: 100%;
      }
      @include retina {
        height: 100%;
      }
    }
    #{$c}__txt {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 16px 24px;
      color: color(white);
      z-index: $z-card-txt;
      @include small {
        padding: 16px;
      }
    }
    #{$c}__label {
      margin-bottom: 0;
      color: color(white);
    }
    #{$c}__date {
      color: color(white);
    }
    #{$c}__title {
      .#{$prefix}lnk {
        color: color(white);
      }
    }
    &:hover {
      #{$c}__title {
        .#{$prefix}lnk {
          text-decoration: underline;
        }
      }
    }
  }
  &--rectangle {
    #{$c}__box {
      height: 360px;
      @include medium {
        height: 360px;
      }
      @include retina {
        height: 328px;
      }
    }
  }
  &--square {
    #{$c}__box {
      height: 360px;
      @include medium {
        height: 264px;
      }
      @include retina {
        height: 232px;
      }
    }
  }
  &__prod-detail {
    .#{$prefix}highlight-promo {
      &__title {
        font-weight: fw(bold);
      }
    }
    @include medium {
      margin: -16px 0 -48px;
    }
  }
}
