/* ==========================================================================
   OCBC Component: Circle Description Section
   ========================================================================== */

.#{$prefix}circle-desc-sec {
  $cds: &;
  overflow: hidden;
  &__content {
    position: relative;
    min-height: 464px;
    padding-left: 520px;
    @include large {
      min-height: 408px;
      padding-left: 340px;
    }
    @include medium {
      min-height: initial;
      padding-left: 0;
      padding-top: 56px;
      padding-bottom: 56px;
    }
    @include small {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
  &__img {
    position: absolute;
    left: -232px;
    top: 40px;
    @include medium {
      position: static;
      margin-left: -56px;
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 32px;
    }
  }
  &__txt {
    padding: 64px 0;
    @include medium {
      padding: 0;
    }
    &__item {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
      @include medium {
        margin-bottom: 32px;
      }
    }
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__subtitle {
    @include font-size(h4);
    color: color(gray, 1);
    margin-bottom: 8px;
  }
  &__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 24px;
    max-width: 600px;
    @include medium {
      max-width: initial;
    } 
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__list {
    margin-top: -8px;
    margin-bottom: 8px;
    padding-left: 24px;
    &__item {
      @include font-size(body);
      color: color(gray, 2);
      margin-bottom: 8px;
      max-width: 600px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__note {
    @include font-size(micro);
    color: color(gray, 2);
    margin-bottom: 16px;
  }
  &__txt-col {
    padding-top: 8px;
    @include clearfix;
    margin-left: -20px;
    margin-right: -20px;
    &__item {
      float: left;
      width: 50%;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 40px;
      &:nth-last-child(2),
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
    }
    @include large {
      margin-left: -16px;
      margin-right: -16px;
      &__item {
        padding-left: 16px;
        padding-left: 16px;
      }
    }
    @include medium {
      margin-left: -20px;
      margin-right: -20px;
      &__item {
        padding-left: 20px;
        padding-left: 20px;
      }
    }
    @include small {
      padding-top: 16px;
      margin-left: 0;
      margin-right: 0;
      &__item {
        width: auto;
        float: none;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 32px;
        &:nth-last-child(2) {
          margin-bottom: 32px;
        }
        &:nth-child(2n+1) {
          clear: initial;
        }
      }
    }
  }

  &__thumbs {
    padding-top: 40px;
    position: relative;
    @include small {
      padding-top: 0;
    }
    &__list {
      margin-left: -12px;
      margin-right: -12px;
      @include clearfix;
      @include small {
        margin-left: 0;
        margin-right: 0;
      }
    }
    &__more {
      position: absolute;
      top: 0;
      right: 0;
      @include small {
        position: static;
        margin-top: 24px;
      }
    }
    &__item {
      width: 50%;
      float: left;
      padding-left: 12px;
      padding-right: 12px;
      @include small {
        width: 100%;
        float: none;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__img {
      @include image(cover, center center);
      &-wrapper {
        width: 100%;
        height: 176px;
        overflow: hidden;
        border-radius: 8px;
      }
      @include small {
        height: auto;
        &-wrapper {
          height: auto;
        }
      }
    }
  }

  // bg
  &--gray {
    background-color: color(gray, 7);
  }

  // position

  &--img-r {
    #{$cds} {
      &__content {
        padding-left: 0;
        padding-right: 416px;
        @include large {
          padding-left: 0;
          padding-right: 320px;
        }
        @include medium {
          padding-right: 0;
        }
      }
      &__img {
        left: auto;
        right: -232px;
      }
    }
  }

  &--img-bl {
    &--center{
      #{$cds} {
        &__txt {
          padding: 124px 0;
          @include large {
            padding: 108px 0;
          }
          @include medium {
            padding: 0;
          }
        }
      }
    }
    #{$cds} {
      &__content {
        padding-left: 416px;
        @include large {
          padding-left: 320px;
        }
        @include medium {
          padding-left: 0;
        }
      }
      &__img {
        bottom: -96px;
        @include large {
          bottom: -24px;
        }
      }
    }
  }
  &--img-br-loc {
    #{$cds} {
      &__content {
        padding-left: 0;
        padding-right: 416px;
        @include large {
          padding-left: 0;
          padding-right: 320px;
        }
        @include medium {
          padding-right: 0;
        }
      }
      &__img {
        top: auto;
        left: auto;
        right: -232px;
        bottom: -96px;
        @include large {
          top: auto;
          bottom: -24px;
        }
      }
    }
  }
  &--img-br {
    #{$cds} {
      &__content {
        padding-left: 0;
        padding-right: 416px;
        @include large {
          padding-left: 0;
          padding-right: 320px;
        }
        @include medium {
          padding-right: 0;
        }
      }
      &__txt {
        padding: 124px 0;
        @include large {
          padding: 108px 0;
        }
        @include medium {
          padding: 0;
        }
      }
      &__img {
        top: auto;
        left: auto;
        right: -232px;
        bottom: -176px;
        @include large {
          bottom: -104px;
        }
      }
    }
  }
  &--img-tl {
    #{$cds} {
      &__txt {
        padding: 148px 0;
        @include large {
          padding: 120px 0;
        }
        @include medium {
          padding: 0;
        }
      }
      &__img {
        top: -176px;
        @include large {
          top: -120px;
        }
      }
    }
  }  
  &--img-tr {
    #{$cds} {
      &__content {
        padding-left: 0;
        padding-right: 416px;
        @include large {
          padding-left: 0;
          padding-right: 320px;
        }
        @include medium {
          padding-right: 0;
        }
      }
      &__txt {
        padding: 148px 0;
        @include large {
          padding: 120px 0;
        }
        @include medium {
          padding: 0;
        }
      }
      &__img {
        top: -176px;
        left: auto;
        right: -232px;
        bottom: -176px;
        @include large {
          top: -120px;
          bottom: -104px;
        }
      }
    }
  }
}
