/* ==========================================================================
   OCBC Component: Card Article Program
   ========================================================================== */

&--article-program {
  display: block;
  max-width: 600px;
  #{$c}__box {
    height: 280px;
    border-radius: 8px;
    position: relative;
  }
  #{$c}__img-wrapper {
    // <pseudo-element/>
    @include element(after) {
      background-image: linear-gradient(270deg, rgba(color(black), 0) 29%, rgba(color(black), .65) 69%, color(black) 100%);
      // -- premier site
      .#{$prefix}premier-site & {
        background-image: linear-gradient(270deg, rgba(92,92,92,0.00) 29%, rgba(111,93,75,0.65) 69%, #6f5d4b 100%);
      }
      // -- private site
      .#{$prefix}private-site & {
        background-image: linear-gradient(to right, #6a6d73 19%, rgba(131, 132, 138, 0.44) 42%, rgba(170, 167, 174, 0) 59%)
      }
    }
  }
  #{$c}__txt {
    padding: 16px 24px;
  }
  #{$c}__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 8px;
    max-width: 324px;
  }
  #{$c}__desc {
    @include font-size(body);
    font-weight: fw(regular);
    margin-bottom: 16px;
    max-width: 324px;
  }
  &:hover {
    #{$c}__img {
      transform: scale(1.1);
    }
    .#{$prefix}btn-txt-lnk {
      @include element(after) {
        transform: translateX(4px);
      }
    }
  }
}
