/* ==========================================================================
   OCBC Component: Lang
   ========================================================================== */

.#{$prefix}lang {
  $l: &;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
  &__item {
    display: inline-block;
    padding: 0 10px 0 8px;
    position: relative;
    // <pseudo-element/>
    @include element(after) {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      right: 0;
      border-right: solid 2px color(gray, 1);
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      // <pseudo-element/>
      @include element(after) {
        content: none;
        display: none;
      }
    }
    &--selected {
      #{$l} & {
        .#{$prefix}lnk {
          font-weight: fw(bold);
          color: color(primary, 1);
          // -- premier site
          .#{$prefix}premier-site & {
            color: color(gray, 1);
            @include large {
              color: color(premier, 1);
            }
          }
          // -- private site
          .#{$prefix}private-site & {
            color: color(gray, 1);
            @include large {
              color: color(private, 1);
            }
          }
        }
      }
    }
  }
  .#{$prefix}lnk {
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.25s ease;
    color: color(gray, 1);
    @include font-size(body);
    // -- premier site
    .#{$prefix}premier-site &,
    // -- private site
    .#{$prefix}private-site & {
      color: color(white);
      @include large {
        color: color(gray, 1);
      }
    }
    &:hover {
      color: color(primary, 1);
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(white);
        @include large {
          color: color(premier, 1);
        }
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
        @include large {
          color: color(private, 1);
        }
      }
    }
    @include large {
      padding: 2px;
    }
  }
}
