/* ==========================================================================
   OCBC Component: Image Circle
   ========================================================================== */

.#{$prefix}image-circle {
  $ic: &;
  position: relative;
  width: 683px;
  height: 683px;
  border-radius: 50%;
  user-select: none;
  @include large {
    width: 528px;
    height: 528px;
  }
  @include medium {
    width: 400px;
    height: 400px;
  }
  @include retina {
    width: 360px;
    height: 360px;
  }
  &__img-wrapper {
    height: 505px;
    width: 505px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include large {
      height: 385px;
      width: 385px;
    }
    @include medium {
      width: 292px;
      height: 292px;
    }
    @include retina {
      width: 264px;
      height: 264px;
    }
  }
  &__img {
    @include image(cover, center center);
  }
  &--red {
    background-color: color(primary, 3);
  }
  &--blue {
    background-color: color(secondary, 9);
  }
  &--gray {
    background-color: color(gray, 6);
  }
  &--premier {
    background-image: linear-gradient(to bottom, color(premier, 3), color(premier, 1));
  }  
  &--private {
    background-image: linear-gradient(to bottom, color(private, 1), color(private, 3));
  }

  &--large {
    width: 854px;
    height: 854px;
    @include large {
      width: 698px;
      height: 698px;
    }
    @include medium {
      width: 400px;
      height: 400px;
    }
    @include retina {
      width: 360px;
      height: 360px;
    }

    #{$ic}__img-wrapper {
      width: 656px;
      height: 656px;
      @include large {
        width: 536px;
        height: 536px;
      }
      @include medium {
        width: 292px;
        height: 292px;
      }
      @include retina {
        width: 264px;
        height: 264px;
      }
    }
  }
  &--small {
    width: 600px;
    height: 600px;
    @include large {
      width: 516px;
      height: 516px;
    }
    @include medium {
      width: 456px;
      height: 456px;
    }
    @include small{
      width: 400px;
      height: 400px;
    }
    @include retina {
      width: 344px;
      height: 344px;
    }
    #{$ic}__img-wrapper {
      width: 520px;
      height: 520px;
      @include large {
        width: 440px;
        height: 440px;
      }
      @include medium {
        width: 384px;
        height: 384px;
      }
      @include small{
        width: 330px;
        height: 330px;
      }
      @include retina {
        width: 284px;
        height: 284px;
      }
    }
  }
}
