/* ==========================================================================
   OCBC Component: Card Advisor
   ========================================================================== */

&--advisor {
  display: block;

  #{$c}__box {
    background-color: color(white);
    min-height: 288px;
    padding: 40px 64px 24px 288px;
    border-radius: 8px;
    position: relative;
    @include shadow(6);
    display: table;
    width: 100%;

    // --- firefox
    @include firefox-browser {
      height: 288px;
    }

    @include large {
      min-height: 300px;
      padding: 32px 32px 24px 204px;
      // --- firefox
      @include firefox-browser {
        height: 300px;
      }
    }

    @include medium {
      padding: 16px 8px 16px 138px;
    }

    @include small {
      min-height: 288px;
      // --- firefox
      @include firefox-browser {
        height: 288px;
      }
    }

    @include mq(374px) {
      padding-left: 132px;
    }

    @include retina {
      padding-left: 96px;
    }
  }

  #{$c}__img {
    height: auto;

    &-wrapper {
      position: absolute;
      width: 260px;
      padding: 0 40px;
      height: auto;
      bottom: 0;
      left: 0;
      overflow: hidden;

      // <pseudo-element/>
      @include element(after) {
        display: none;
        content: none;
      }

      @include large {
        width: 204px;
        padding: 0 24px;
      }

      @include medium {
        width: 180px;
        padding: 0;
        left: -60px;
      }

      @include mq(374px) {
        left: -64px;
      }

      @include retina {
        width: 164px;
        left: -80px;
      }
    }
  }

  #{$c}__txt {
    display: table-cell;
    vertical-align: middle;
    position: static;
    padding: 0;
    max-width: 248px;

    @include medium {
      max-width: initial;
    }
  }

  #{$c}__label {
    margin-bottom: 0;
    font-weight: fw(medium);
    @include font-size(small);
  }

  #{$c}__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
  }

  #{$c}__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 24px;

    @include medium {
      margin-bottom: 16px;
    }
  }

  &:hover {
    #{$c}__img {
      transform: scale(1.1);
    }

    .#{$prefix}btn-txt-lnk {
      color: color(primary, 1);

      @include element(after) {
        transform: translateX(4px);
      }
    }
  }
}
