/* ==========================================================================
   OCBC Component: Nyala Banner
   ========================================================================== */

.#{$prefix}nyala-banner {
  $nb: &;
  &--red {
    #{$nb}__box{
      background-image: linear-gradient(97deg, #f14545 13%, #c41432 88%);
    }
  }
  &__box {
    display: table;
    height: 100%;
    width: 100%;
    background-color: color(gray, 1);
    @include small {
      display: block;
    }
  }
  &__txt {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    z-index: $z-card-txt;
    padding: 48px 0;
    @include medium {
      padding: 32px 0;
    }
    @include small {
      display: block;
      padding: 24px 0;
    }
  }
  .#{$prefix}col-xl-12{
    display: table;
    table-layout: fixed;
  }
  &__col {
    display: table-cell;
    vertical-align: middle;
    color: color(white);
    &:first-child {
      width: 204px;
      padding-right: 40px;
    }
    &:nth-child(2) {
      padding-right: 32px;
    }
    &:nth-child(3) {
      width: 344px;
    }
    @include large {
      &:first-child {
        width: 144px;
        padding-right: 32px;
      }
      &:nth-child(2) {
        padding-right: 24px;
      }
      &:nth-child(3) {
        width: 180px;
      }
    }
    @include small {
      display: block;
      &:first-child {
        width: auto;
        padding-right: 0;
        margin-bottom: 24px;
      }
      &:nth-child(2) {
        padding-right: 0;
        margin-bottom: 24px;
      }
      &:nth-child(3) {
        width: auto;
      }
    }
    .#{$prefix}btn{
      max-width: 344px;
    }
  }
  &__img {
    width: 164px;
    display: block;
    @include large {
      width: 112px;
    }
    @include small {
      width: 137px;
    }
  }
  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    margin-bottom: 8px;
    @include small {
      margin-bottom: 16px;
    }
  }
  &__desc {
    @include font-size(body);
    margin-bottom: 0;
  }

  // special page
  &__prod-detail {
    margin-top: 32px;
  }
}
