/* ==========================================================================
   OCBC Component: Card Product Category
   ========================================================================== */

&--prod-category {
  position: relative;
  max-width: 392px;
  @include medium {
    display: block;
    max-width: initial;
    .#{$prefix}card-prod-category-carousel & {
      max-width: 392px;
      display: inline-block;
    }
  }
  @include small {
    .#{$prefix}card-prod-category-carousel & {
      max-width: 310px;
    }
  }
  @include mq(374px) { 
    .#{$prefix}card-prod-category-carousel & {
      max-width: 300px;
    }
  }
  @include retina {
    .#{$prefix}card-prod-category-carousel & {
      max-width: 272px;
    }
  }
  #{$c}__box {
    height: 376px;
    border-radius: 8px;
    background-color: color(white);
    @include shadow(8);
    transition: all .3s ease;
    &:hover{
      transform: translateY(-4px);
      @include shadow(16);
    }
  }
  #{$c}__img-wrapper {
    height: 176px;
    @include element(after) {
      content: none;
      display: none;
    }
  }
  #{$c}__img {
    @include image(cover, center center);
  }
  #{$c}__txt {
    padding: 24px 24px 16px;
    position: static;
    color: color(gray, 1);
  }
  #{$c}__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 8px;
  }
  #{$c}__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: color(gray, 2);
    &__item {
      margin-bottom: 8px;
      padding-left: 24px;
      position: relative;
      @include font-size(body);
      &:last-child{
        margin-bottom: 0;
      }
      .#{$prefix}fi {
        position: absolute;
        top: 4px;
        left: 0;
        color: color(primary, 1);
        // -- premier site
        .#{$prefix}premier-site & {
          color: color(premier, 1);
        }
        // -- private site
        .#{$prefix}private-site & {
          color: color(private, 1);
        }
      }
    }
  }
  #{$c}__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 0;
  }

  #{$c}__btn {
    content: '';
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
  }

  //modifier
  &__with-button{
    #{$c}__box {
      height: 432px;
    }
  }
}
