/* ==========================================================================
   OCBC Component: Table
   ========================================================================== */

.#{$prefix}tbl {
  $ts: &;
  margin-bottom: 0;

  @include medium {
    .#{$prefix}popup-general & {
      min-width: 1224px;
    }
  }

  @include small {
    min-width: 860px;
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  &__subtitle {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    margin-top: 8px;
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 8px;
    @include shadow(6);

    .#{$prefix}tbl-container & {
      margin-top: 16px;
    }

    @include medium {
      .#{$prefix}popup-general & {
        border-radius: 0;
        overflow: initial;
        box-shadow: none;
        margin-bottom: -16px;
      }
    }

    @include small {
      border-radius: 0;
      overflow: initial;
      box-shadow: none;
      margin-bottom: -16px;
    }
  }

  &__scrollover {
    @include scroll("x", "touch", "show");

    @include medium {
      .#{$prefix}popup-general & {
        padding-left: 32px;
        padding-right: 32px;
        margin-left: -32px;
        margin-right: -32px;
        padding-bottom: 16px;

        .#{$prefix}tbl {
          padding-right: 32px;
        }
      }
    }

    @include small {
      padding-left: 16px;
      padding-right: 16px;
      margin-left: -16px;
      margin-right: -16px;
      padding-bottom: 16px;

      .#{$prefix}tbl {
        padding-right: 16px;
      }

      .#{$prefix}popup-general & {
        padding-left: 16px;
        padding-right: 16px;
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 16px;

        .#{$prefix}tbl {
          padding-right: 16px;
        }
      }
    }
  }

  table,
  &__tbl {
    white-space: normal;
    width: 100%;
    margin-bottom: 0;

    @include medium {
      .#{$prefix}popup-general & {
        overflow: hidden;
        border-radius: 8px;
        @include shadow(6);
      }
    }

    @include small {
      overflow: hidden;
      border-radius: 8px;
      @include shadow(6);
    }
  }

  thead tr,
  &__head tr,
  &__row-head {
    &:not(:first-child) {
      #{$ts}__th {
        border-top: solid 1px color(white);
      }
    }

    &:only-child {
      #{$ts}__th {
        border-top: none;
      }
    }
  }

  thead th,
  &__head th,
  &__th {
    padding: 16px;
    background-color: color(gray, 3);
    color: color(white);
    text-align: center;
    vertical-align: top;
    @include font-size(body);
    font-weight: fw(bold);
  }

  tbody,
  &__body {
    #{$ts}__td {
      background: color(white);

      &[colspan] {
        background: color(gray, 7);
      }
    }

    #{$ts}__tr {
      &--title {
        #{$ts}__td {
          &[colspan] {
            background: color(gray, 3);
            color: color(white);
          }
        }
      }
    }
  }

  tbody td,
  &__body td,
  &__td {
    padding: 16px;
    vertical-align: top;
    color: color(gray, 2);
    @include font-size(body);

    &[colspan] {
      font-weight: fw(bold);
      color: color(gray, 1);
    }

    strong {
      color: color(gray, 1);
    }
  }

  a,
  .#{$prefix}lnk {
    color: color(secondary, 13);
    text-decoration: none;
    font-weight: fw(medium);

    &:hover {
      text-decoration: underline;
    }
  }

  &__list , ol , ul {
    padding-left: 16px;
    $l: &;
    margin-bottom: 0;
    &__item , li {
      padding-left: 4px;
      margin-bottom: 0;
    }
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;
    }
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: square;
    }

    #{$ts}__list__item {
      padding-left: 0;
    }
  }

  // modifier : border
  &--border {

    #{$ts}__td,
    td {
      border-right: 1px solid color(gray, 4);
      border-top: 1px solid color(gray, 4);

      &[colspan] {
        border: 0;
        position: relative;

        @include element(after) {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          height: 1px;
          background: color(gray, 7);
          z-index: $z-table-after;
        }
      }

      &[colspan="1"],
      &[colspan="2"] {
        border-right: 1px solid color(gray, 4);
      }

      &:last-child {
        border-right: 0;
      }
    }
  }

  // page modifier : asean-governance
  &--asean-governance {

    #{$ts}__th,
    th {
      text-align: left;
      padding-left: 24px;
      padding-right: 24px;
    }

    #{$ts}__td,
    td {
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 32px;

      &[colspan] {
        padding-bottom: 16px;
      }

      &:nth-child(1) {
        width: 40px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        &:not([colspan]) {
          width: 416px;
        }
      }

      &:nth-child(4) {
        width: 312px;
      }
    }
  }
}
