/* ==========================================================================
   OCBC Component: How To
   ========================================================================== */

.#{$prefix}how-to {
  $omht: &;

  &__item {
    padding-left: 49%;
    position: relative;

    @include medium {
      padding-left: 0;
      padding-bottom: 88px;
      padding-top: 616px;

      .#{$prefix}feature--digital-channel & {
        padding-top: 632px;
      }

      .#{$prefix}feature--digital-channel.#{$prefix}feature--has-sub & {
        padding-top: 688px;
      }

      // Desktop App
      .#{$prefix}feature--desktop & {
        padding-top: 524px;
      }

      .#{$prefix}feature--desktop.#{$prefix}feature--has-sub & {
        padding-top: 580px;
      }
    }

    @include small {
      .#{$prefix}feature--digital-channel & {
        padding-top: 616px;
      }

      .#{$prefix}feature--digital-channel.#{$prefix}feature--has-sub & {
        padding-top: 672px;
      }

      // Desktop App
      .#{$prefix}feature--desktop & {
        padding-top: 424px;
      }

      .#{$prefix}feature--desktop.#{$prefix}feature--has-sub & {
        padding-top: 480px;
      }
    }

    @include retina {

      // Desktop App
      .#{$prefix}feature--desktop & {
        padding-top: 408px;
      }

      .#{$prefix}feature--desktop.#{$prefix}feature--has-sub & {
        padding-top: 464px;
      }
    }
  }

  &__screen {
    width: 100%;
    display: block;

    &-wrapper {
      width: 252px;
      overflow: hidden;
      position: absolute;
      margin-top: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .35s ease-out;

      .#{$prefix}feature--digital-channel & {
        border-radius: 24px;
      }

      // Desktop App
      .#{$prefix}feature--desktop & {
        width: 306px;
        height: 182px;
        border-radius: 0;
      }

      @include large {
        width: 218px;

        // Desktop App
        .#{$prefix}feature--desktop & {
          width: 214px;
          height: 127px;
        }
      }

      @include medium {
        margin-top: 0;
        width: 196px;
        height: 408px;
        padding: 8px 8px;
        top: 184px;
        background: url(../img/bg/iphone-x-frame.png) no-repeat center center;
        background-size: 200px 417px;
        transform: translate(-50%, 0);
        border-radius: 32px;
        overflow: hidden;
        @include shadow(16);

        .#{$prefix}feature--digital-channel & {
          top: 200px;
        }

        .#{$prefix}feature--digital-channel.#{$prefix}feature--has-sub & {
          top: 256px;
        }

        // Desktop App
        .#{$prefix}feature--desktop & {
          width: 480px;
          height: 324px;
          background: url(../img/bg/macbook-frame.png) no-repeat center center;
          background-size: 480px 324px;
          box-shadow: none;
          padding: 16px 56px 88px;
        }
      }

      @include small {
        .#{$prefix}feature--digital-channel & {
          top: 184px;
        }

        .#{$prefix}feature--digital-channel.#{$prefix}feature--has-sub & {
          top: 240px;
        }

        // Desktop App
        .#{$prefix}feature--desktop & {
          width: 344px;
          height: 232px;
          background-size: 344px 232px;
          padding: 12px 40px 64px;
        }
      }

      @include retina {

        // Desktop App
        .#{$prefix}feature--desktop & {
          width: 300px;
          height: 202px;
          background-size: 300px 202px;
          padding: 10px 34px 54px;
        }
      }
    }
  }

  &__txt {
    margin-top: 16px;

    &-align {
      display: table;
      width: 100%;
      min-height: 800px;

      // --- firefox
      @include firefox-browser {
        height: 800px;
      }
    }

    &-middle {
      display: table-cell;
      padding-left: 232px;
      vertical-align: middle;
    }

    @include large {
      &-middle {
        padding-left: 160px;
      }
    }

    @include medium {
      margin-top: 0;

      &-align {
        min-height: initial;
        display: block;
      }

      &-middle {
        display: block;
        padding-left: 0;
      }
    }
  }

  &__label {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 4px;
  }

  &__title {
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }

  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;

    .#{$prefix}lnk {
      text-decoration: none;
      transition: all .25s ease;

      &:hover {
        color: color(primary, 1);
        text-decoration: underline;
      }
    }
  }

  &__risk {
    margin-top: 32px;

    &__item {
      position: relative;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      @include font-size(body);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 8px;
    }

    &__meter {
      position: absolute;
      right: 0;
      top: 6px;
      font-size: 0;
      line-height: 0;
    }

    &__circle {
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-right: 8px;
      background-color: color(gray, 5);

      &:last-child {
        margin-right: 0;
      }

      &--active {
        background-color: color(primary, 1);
      }
    }

    &__desc {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 0;
    }

    @include small {
      margin-top: 24px;
    }
  }

  &__next {
    margin-top: 32px;

    @include medium {
      display: none;
    }
  }
}
