/* ==========================================================================
   OCBC Component: Product Detail Banner
   ========================================================================== */

.#{$prefix}prod-detail-banner {
  $db: &;
  position: relative;
  height: 512px;
  width: 100%;
  display: table;
  table-layout: fixed;
  overflow: hidden;
  @include medium {
    height: 432px;
  }
  @include small {
    height: 592px;
  }
  &--light {
    #{$db}__title{
      color: color(gray, 1);
    }
    #{$db}__desc {
      color: color(gray, 2);
    }
  }
  &--dark {
    #{$db}__title,
    #{$db}__desc{
      color: color(white);
    }
  }
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
    transition: all 1.5s ease 0s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: scale(1.1);
    }
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, right top);
    &--m {
      display: none;
    }
    @include large {
      background-position: 75% top;
    }
    @include small {
      background-position: right bottom;
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__txt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
    display: table-cell;
    vertical-align: middle;
    padding-top: 48px;
    @include small {
      padding-top: 144px;
      vertical-align: top;
    }
  }
  &__txt {
    color: color(gray, 1);
    word-wrap: break-word;
  }
  &__icon-nyala {
    display: block;
    width: auto;
    height: 168px;
    @include medium {
      height: 120px;
    }
  }
  &__title {
    margin-bottom: 0;
    max-width: 600px;
    @include font-size(h2);
    font-weight: fw(bold);
    color: color(gray, 1);
    transition: all 1s ease 0.8s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
  }
  &__desc {
    margin-top: 16px;
    margin-bottom: 0;
    max-width: 496px;
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 2);
    transition: all 1s ease 1s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
    @include medium {
      margin-top: 8px;
    }
    @include small {
      @include font-size(body);
      padding-right: 32px;
    }
  }
  &__btn {
    margin-top: 32px;
    transition: all 1s ease 1.2s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(16px);
    }
    @include medium {
      margin-top: 24px;
    }
    .#{$prefix}btn {
      &:first-child {
        margin-right: 24px;
      }
      @include small {
        display: table;
        &:first-child {
          margin-right: 0;
          margin-bottom: 16px;
        }
      }
    }
  }
}
