/* ==========================================================================
   OCBC Component: Card USP
   ========================================================================== */

&--usp {
  #{$c}__col {
    width: 100%;
    height: 100%;
    padding: 24px 16px 16px 144px;
    @include large {
      padding-top: 16px;
    }
    @include small {
      padding: 16px 16px 16px 120px;
    }
  }

  #{$c}__wrapper {
    position: absolute;
    width: 128px;
    height: 100%;
    top: 0;
    background-color: color(gray, 4);
    @include small {
      width: 104px;
    }
  }

  #{$c}__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45px;
  }

  #{$c}__title {
    color: color(gray, 1);
    @include font-size(body);
    margin-bottom: 8px;
    @include small {
      margin-bottom: 4px;
    }
  }

  #{$c}__desc {
    margin-bottom: 0;
    color: color(gray, 2);
    @include font-size(body);
    @include small {
      @include font-size(label, mobile);
    }
  }

  &__overlap {
    position: relative;
    margin-top: -84px;
    z-index: $z-card-usp-overlap;
    margin-bottom: 40px;
    transition: all 0.75s ease 1.3s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateY(8px);
    }
    @include large {
      margin-top: -44px;
      margin-bottom: 48px;
    }
    @include small {
      margin-top: -54px;
    }
  }
}
