/* ==========================================================================
   OCBC Component: Chosen Product
   ========================================================================== */

&--chosen-product {
  position: relative;
  transition: all 1s ease;
  float: none;

  #{$c}__box {
    height: 370px;
    border-radius: 8px;
    background-color: color(white);
    // @include shadow(8);
    transition: all 1s ease;
    @include small {
      height: 440px;
    }
  }
  #{$c}__img-wrapper {
    height: 162px;
    @include element(after) {
      content: none;
      display: none;
    }
  }
  #{$c}__img {
    border-radius: 8px;
    @include image(cover, center center);
  }
  #{$c}__txt {
    padding: 16px 0 0 0;
    position: static;
    color: color(gray, 2);
  }
  #{$c}__description{
    @include multiline-ellipsis(3);
    margin-bottom: 24px;
    display: block;
    text-overflow: initial;
    line-clamp: initial;
    box-orient: initial;
    white-space: normal;
    overflow-x: auto;
  }
  #{$c}__btn {
    position: absolute;
    bottom: 0;
    left: 0;
    @include small {
      right: 0;
      .#{$prefix}btn {
        min-width: 100%;
      }
    }
  }  
  #{$c}__btn-link {
    position: absolute;
    bottom: 72px;
    left: 0;
    appearance: none;
    -webkit-appearance: none;
  }
}
