/* ==========================================================================
   OCBC Component: Card Code Promo
   ========================================================================== */

&--code-promo {
  display: block;
  #{$c}__box {
    background-color: color(gray, 2);
    padding: 16px 24px;
    min-height: 180px;
    width: 100%;
    max-width: 392px;
    border-radius: 8px;
    position: relative;
    color: color(white);
    overflow: hidden;
    @include shadow(6);
  }
  #{$c}__title {
    @include font-size(body);
  }
  #{$c}__promo-code {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: solid 1px color(gray, 6);
    padding-right: 100px;
    &__code {
      @include font-size(h4, desktop);
      font-weight: fw(bold);
      margin-bottom: 0;
    }
    &__btn {
      position: absolute;
      top: 6px;
      right: 0;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
      color: color(white);
      font-size: 0;
      line-height: 1;
      @include remove-tap-highlight;
    }
    .#{$prefix}fi{
      font-size: 2rem;
      display: inline-block;
      vertical-align: middle;
    }
    &__txt {
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px;
      @include font-size(micro);
      transition: all 0.25s ease;
    }
  }

  #{$c}__copy-text {
    display: inline-block;
    @include font-size(micro);
    margin-bottom: 0;

    vertical-align: middle;
    margin-left: 4px;
  }

  #{$c}__description {
    @include font-size(body);
    margin-bottom: 0;
  }
}
