/* ==========================================================================
   OCBC Component: Card Mutual Funds
   ========================================================================== */

&--mutual-funds {
  display: block;
  #{$c}__box {
    min-height: 272px;
    border-radius: 8px;
    @include shadow(6);
  }
  #{$c}__risk {
    position: relative;
    background-color: color(gray, 7);
    width: 100%;
    padding: 10px 16px 10px 24px;
    @include small {
      padding: 10px 16px;
    }
    @include retina {
      padding: 10px 12px;
    }
    &__lbl {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 0;
    }
    &__meter {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      @include retina {
        right: 12px;
      }
    }
    &__bar {
      display: inline-block;
      vertical-align: middle;
      background-color: color(gray, 5);
      height: 8px;
      width: 20px;
      border-radius: 4px;
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
      &--active {
        background-color: color(primary, 1);
      }
      @include small {
        width: 32px;
      }
      @include mq(374px) {
        width: 28px;
      }
      @include retina {
        width: 20px;
      }
    }
  }
  #{$c}__detail {
    padding: 16px 24px 48px;
    @include small {
      padding: 16px 16px 48px;
    }
    @include retina {
      padding: 16px 12px 48px;
    }
  }
  #{$c}__type {
    @include font-size(small);
    color: color(gray, 2);
    margin-bottom: 2px;
  }
  #{$c}__company {
    max-width: 240px;
    @include font-size(body);
    font-weight: fw(bold);
    min-height: 48px;
    margin-bottom: 24px;
  }
  #{$c}__curr-amount {
    padding: 8px 0;
    border-top: 1px solid color(gray, 6);
    border-bottom: 1px solid color(gray, 6);
    &__row {
      display: table;
      width: 100%;
      margin-bottom: 2px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  #{$c}__curr {
    display: table-cell;
    vertical-align: middle;
    @include font-size(small);
    color: color(gray, 2);
    margin-bottom: 0;
  }
  #{$c}__amount {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    @include font-size(small);
    color: color(gray, 1);
    font-weight: fw(medium);
    margin-bottom: 0;
  }
  #{$c}__btn-link {
    position: absolute;
    bottom: 12px;
    left: 24px;
    right: 24px;
    @include small {
      left: 16px;
      right: 16px;
    }
    @include retina {
      left: 12px;
      right: 12px;
    }
    .#{$prefix}btn-txt-lnk {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
      @include large {
        margin-right: 32px;
      }
      @include mq(374px) {
        margin-right: 24px;
      }
      @include retina {
        margin-right: 12px;
      }
    }
  }
}
