/* ==========================================================================
   OCBC Component: Card Article
   ========================================================================== */

&--article {
  display: block;
  max-width: 600px;
  @include small {
    max-width: initial;
  }
  #{$c}__box {
    height: 338px;
    border-radius: 8px;
    position: relative;
    @include small {
      height: 343px;
    }
    @include retina {
      height: 320px;
    }
  }
  #{$c}__img-wrapper {
    // <pseudo-element/>
    @include element(after) {
      background-image: linear-gradient(to top, #151927 -7%, rgba(79, 83, 94, 0.3) 45%, rgba(color(black), 0) 88%);
      // -- private site
      .#{$prefix}private-site & {
        background-image: linear-gradient(to top, #4c5058, rgba(79, 80, 85, 0.47) 59%, rgba(170, 167, 174, 0));
      }
    }
  }
  #{$c}__txt {
    max-width: 446px;
    padding: 16px 24px;
  }
  #{$c}__label {
    margin-bottom: 4px;
    font-weight: fw(medium);
    @include font-size(small);
  }
  #{$c}__tag {
    display: inline-block;
    vertical-align: middle;
    max-width: 72.095%;
    @include ellipsis;
    @include large {
      max-width: 65%;
    }
    @include medium {
      max-width: 65.039%;
    }
    @include small {
      max-width: 70%;
    }
    @include mq(374px) {
      max-width: 69%;
    }
    @include retina {
      max-width: 64%;
    }
  }
  #{$c}__title {
    margin-bottom: 16px;
    font-weight: fw(bold);
    @include font-size(h4);
  }
  &:hover {
    #{$c}__img {
      transform: scale(1.1);
    }
    .#{$prefix}btn-txt-lnk {
      @include element(after) {
        transform: translateX(4px);
      }
    }
  }
}
