/* ==========================================================================
   OCBC Component: Graph Bar Section
   ========================================================================== */

.#{$prefix}graph-bar-section {
  background-color: color(gray, 7);
  overflow: hidden;
  min-height: 542px;
  padding: 64px 0;
  @include large {
    min-height: 440px;
  }
  @include medium {
    padding: 56px 0;
    min-height: initial;
  }
  @include small {
    padding: 48px 0;
  }

  &__content {
    position: relative;
    padding-left: 50%;
    @include medium {
      padding-left: 0;
    }
  }

  &__head {
    color: color(gray, 1);
    margin-bottom: 32px;
    padding-left: 12px;
    @include large {
      margin-bottom: 24px;
    }
    @include medium {
      margin-bottom: 56px;
      padding-left: 0;
    }
    @include retina {
      margin-bottom: 48px;
    }
  }

  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    margin-bottom: 16px;
  }

  &__subtitle {
    @include font-size(h4);
    font-weight: fw(regular);
    margin-bottom: 0;
  }

  &__graph {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    padding-right: 32px;
    @include medium {
      position: static;
      width: auto;
      padding-right: 0;
      margin-bottom: 32px;
    }
    @include retina {
      margin-bottom: 24px;
    }
  }

  &__chart {
    margin-bottom: 16px;
    &__img {
      display: block;
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 12px;
      margin-bottom: 8px;
      @include scroll("x", "touch", "show");
      &__img {
        width: 580px;
        max-width: initial;
        padding-right: 16px;
      }
    }
    @include retina {
      margin-bottom: 12px;
      &__img {
        width: 560px;
      }
    }
  }

  &__legend {
    padding-left: 88px;
    &__img {
      display: block;
    }
    @include small {
      padding-left: 0;
      &__img {
        max-width: initial;
        max-height: 16px;
      }
    }
  }

  &__body {
    color: color(gray, 2);
    padding-left: 12px;
    @include medium {
      padding-left: 0;
    }
  }
  &__p {
    @include font-size(small);
    margin-bottom: 0;
  }
  &__list {
    padding-left: 24px;
    margin-bottom: 0;
    &__item {
      @include font-size(small);
      margin-bottom: 0;
    }
  }
}
