/* ==========================================================================
   OCBC Component: Footer Phone
   ========================================================================== */

.#{$prefix}footer-phone {
  $fp: &;
  list-style: none;
  margin: 0;
  padding: 0;
  @include small {
    font-size: 0;
    line-height: 1;
  }
  &__item {
    padding: 0;
    margin: 0 0 16px;
    @include font-size(micro);
    &:last-child {
      margin-bottom: 0;
    }
    @include small {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    @include retina {
      margin-right: 16px;
    }
  }
  .#{$prefix}lnk {
    text-decoration: none;
    position: relative;
    transition: color 0.25s ease;
    @include remove-tap-highlight;
    @include border-bottom-hover-slide;
    // <pseudo-element/>
    @include element(after) {
      left: 32px;
      @include small {
        content: "";
        display: none;
      }
    }
    &:hover {
      color: color(primary, 1);
      // <pseudo-element/>
      @include element(after) {
        transform: scaleX(1);
      }
      .#{$prefix}fi {
        animation: shake-phone 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
    .#{$prefix}fi {
      display: inline-block;
      margin-right: 8px;
      vertical-align: middle;
      font-size: 2.4rem;
      @include small {
        font-size: 1.6rem;
      }
    }
  }
}

// [[[animation]: shake-phone
@keyframes shake-phone {
  10%,
  50% {
    transform: rotate(-10deg);
  }
  30%,
  70% {
    transform: rotate(10deg);
  }
}
