/* ==========================================================================
   OCBC Component: Contact Channel
   ========================================================================== */

.#{$prefix}contact-channel {
  $ps: &;
  &__img{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    &-wrapper {
      position: relative;
      width: 32px;
      height: 32px;
      margin-bottom: 16px;
    }
  }
  &__title {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
  }
  &__desc {
    @include font-size(body);
    min-height: 56px;
    color: color(gray, 2);
    margin-bottom: 16px;
    @include small {
      min-height: initial;
      padding-right: 24px;
    }
    a{
      &[href*="tel"]{
        text-decoration: none;
        pointer-events: none;
      }
    }
  }
}
