/* ==========================================================================
   OCBC Component: Rachel How To
   ========================================================================== */

.#{$prefix}rachel-how-to {
  $rht: &;

  &__item {
    padding-left: 49%;
    position: relative;

    @include medium {
      padding-left: 0;
      padding-bottom: 80px;
      padding-top: 600px;
    }
  }

  &__screen {
    width: 100%;
    display: block;

    &-wrapper {
      width: 258px;
      overflow: hidden;
      position: absolute;
      margin-top: 2px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include large {
        width: 218px;
      }

      @include medium {
        margin-top: 0;
        width: 200px;
        height: 417px;
        padding: 56px 7px;
        top: 136px;
        background: url(../img/bg/iphone-frame.png) no-repeat center center;
        background-size: 200px 417px;
        transform: translate(-50%, 0);
        border-radius: 32px;
        overflow: hidden;
        @include shadow(16);
      }
    }
  }

  &__txt {
    margin-top: 16px;

    &-align {
      display: table;
      width: 100%;
      min-height: 708px;

      // --- firefox
      @include firefox-browser {
        height: 708px;
      }
    }

    &-middle {
      display: table-cell;
      padding-left: 232px;
      vertical-align: middle;
    }

    @include large {
      &-middle {
        padding-left: 160px;
      }
    }

    @include medium {
      margin-top: 0;

      &-align {
        min-height: initial;
        display: block;

        // --- firefox
        @include firefox-browser {
          height: auto;
        }
      }

      &-middle {
        display: block;
        padding-left: 0;
      }
    }
  }

  &__label {
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 8px;
  }

  &__title {
    @include font-size(h3);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 16px;
  }

  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
  }

  &__risk {
    margin-top: 32px;

    &__item {
      position: relative;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      @include font-size(body);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 8px;
    }

    &__meter {
      position: absolute;
      right: 0;
      top: 6px;
      font-size: 0;
      line-height: 0;
    }

    &__circle {
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-right: 8px;
      background-color: color(gray, 5);

      &:last-child {
        margin-right: 0;
      }

      &--active {
        background-color: color(primary, 1);
      }
    }

    &__desc {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 0;
    }

    @include small {
      margin-top: 24px;
    }
  }

  &__next {
    margin-top: 32px;

    @include medium {
      display: none;
    }
  }
}
