/* ==========================================================================
   OCBC Component: Nyala Benefit
   ========================================================================== */

&--nyala-benefit {
  #{$c}__box {
    padding: 24px;
    width: 392px;
    min-height: 296px;
    border-radius: 8px;
    transition: all 0.35s ease;
    @include shadow(6);
    @include medium {
      width: 320px;
    }
    @include small {
      width: 288px;
    }
    @include retina {
      width: 272px;
    }
  }
  #{$c}__txt {
    padding: 0;
    position: static;
    color: color(gray, 1);
  }
  #{$c}__title {
    @include font-size(body);
    font-weight: fw(bold);
    margin-bottom: 24px;
  }
  #{$c}__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: color(gray, 2);
    &__item {
      margin-bottom: 8px;
      padding-left: 24px;
      position: relative;
      @include font-size(body);
      &:last-child{
        margin-bottom: 0;
      }
      .#{$prefix}fi {
        position: absolute;
        top: 4px;
        left: 0;
        color: color(primary, 1);
      }
    }
  }
}
