/* ==========================================================================
   OCBC Component: Footer Nav Section
   ========================================================================== */

.#{$prefix}footer-nav {
  $fns: &;
  &--accordion {
    #{$fns}__title {
      position: relative;
      // <pseudo-element/>
      @include element(after) {
        display: none;
        @include small {
          @include font-icon("\e906");
          position: absolute;
          right: 0;
          top: 50%;
          font-size: 1.6rem;
          margin-top: -8px;
          transition: all 0.5s ease;
          display: block;
          z-index: $z-footer-accordion;
          transform-origin: center center;
        }
      }
    }
  }
  &__title {
    margin-bottom: 16px;
    color: color(gray, 1);
    font-weight: fw(bold);
    @include font-size(small);
    &:last-child {
      margin-bottom: 0;
    }
    + .#{$prefix}lnk__logo {
      margin-top: 54px;
    }
    @include small {
      margin-bottom: 0;
      #{$fns}--accordion & {
        cursor: pointer;
        @include remove-tap-highlight;
      }
      + .#{$prefix}lnk__logo {
        margin-top: 28px;
      }
    }
  }
  .#{$prefix}lnk {
    text-decoration: none;
    position: relative;
    transition: color 0.25s ease;
    @include remove-tap-highlight;
    @include border-bottom-hover-slide;
    &:hover:not([class*="ocbc-socmed"]) {
      color: color(primary, 1);
      // <pseudo-element/>
      @include element(after) {
        transform: scaleX(1);
      }
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(premier, 1);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(private, 1);
      }
    }
    @include small {
      display: inline-block;
      padding: 4px 8px;
      margin-left: -8px;
      margin-right: -8px;
      // <pseudo-element/>
      @include element(after) {
        content: none;
        display: none;
      }
    }
  }
  @include small {
    &.#{$prefix}accordion--expand {
      #{$fns}__title {
        // <pseudo-element/>
        @include element(after) {
          transform: rotateX(180deg);
        }
      }
      #{$fns}__title {
        color: color(primary, 1);
        &__link {
          color: color(primary, 1);
        }
        // -- premier site
        .#{$prefix}premier-site & {
          color: color(premier, 1);
        }
        // -- private site
        .#{$prefix}private-site & {
          color: color(private, 1);
        }
      }
    }
  }
  &__logo {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-height: 100%;
    max-width: initial;
  }
}
