/* ==========================================================================
   OCBC Component: Card Product SME
   ========================================================================== */

&--product-sme {
  display: block;
  #{$c}__box {
    height: 360px;
    border-radius: 8px;
    position: relative;
    @include retina {
      height: 320px;
    }
  }
  #{$c}__img-wrapper {
    // <pseudo-element/>
    @include element(after) {
      background-image: linear-gradient(to top, #151927 -7%, rgba(79, 83, 94, 0.3) 45%, rgba(color(black), 0) 88%);
    }
  }
  #{$c}__txt {
    max-width: 446px;
    padding: 16px 24px 32px;
    @include small {
      padding: 16px;
    }
  }
  #{$c}__label {
    margin-bottom: 0;
    font-weight: fw(medium);
    @include font-size(small);
  }
  #{$c}__title {
    margin-bottom: 8px;
    font-weight: fw(bold);
    @include font-size(h3);
  }
  #{$c}__desc {
    font-weight: fw(regular);
    @include font-size(body);
  }
  &:hover {
    #{$c}__img {
      transform: scale(1.1);
    }
  }
}
