/* ==========================================================================
   OCBC Component: Card Nyala
   ========================================================================== */

&--nyala {
  position: relative;
  display: block;
  max-width: 392px;
  @include medium {
    max-width: initial;
  }
  #{$c}__box {
    min-height: 394px;
    border-radius: 8px;
    @include remove-tap-highlight;
    transition: all 0.35s ease;
    @include shadow(6);
    @include large {
      min-height: 428px;
    }
    @include medium {
      min-height: 356px;
    }
  }
  #{$c}__img-wrapper {
    height: 120px;
    @include large {
      height: 104px;
    }
    @include medium {
      height: 160px;
    }
    @include small {
      height: 104px;
    }
    @include retina {
      height: 96px;
    }
  }
  #{$c}__img {
    @include image(cover, center top);
    @include medium {
      @include image(cover, center center);
    }
    @include small {
      @include image(cover, center top);
    }
  }
  #{$c}__txt {
    padding: 24px 24px 96px;
    position: static;
    color: color(gray, 1);
  }
  #{$c}__title {
    @include font-size(body);
    font-weight: fw(bold);
    margin-bottom: 24px;
    @include medium {
      margin-bottom: 16px;
    }
  }
  #{$c}__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #{$c}__item {
    padding-left: 24px;
    margin: 0 0 8px;
    @include font-size(small);
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    .#{$prefix}fi {
      font-size: 1.6rem;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }
  #{$c}__btn {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
  }
}
