/* ==========================================================================
   OCBC Component: Input Range Slider
   ========================================================================== */

.#{$prefix}input-range-slider {
  $rs: &;

  &__top {
    margin-bottom: 16px;
  }

  &__label {
    margin-bottom: 0;
    font-size: 0;
    line-height: 1;
    &__txt {
      @include font-size(body);
      font-weight: fw(bold);
      color: color(gray, 1);
      display: inline-block;
      vertical-align: middle;
      &__reg {
        font-weight: fw(regular);
      }
    }
    &__desc {
      @include font-size(body);
      font-weight: fw(regular);
      color: color(gray, 2);
      margin-left: 8px;
    }
    .#{$prefix}calc__flds__del__btn {
      margin-left: 16px;
    }
  }

  &__desc{
    @include font-size(small);
    color: color(gray, 2);
    margin-bottom: 0;
    .#{$prefix}calc__flds__item--error-desc & {
      color: color(system, error);
    }
  }

}
