/* ==========================================================================
   OCBC Component: Card Report
   ========================================================================== */

&--report {
  display: block;
  max-width: 392px;
  @include medium {
    max-width: initial;
  }
  #{$c}__box {
    min-height: 376px;
    border-radius: 8px;
    transition: all 0.35s ease;
    @include remove-tap-highlight;
    position: relative;
    @include shadow(6);
    @include retina {
      min-height: 360px;
    }
  }
  #{$c}__img-wrapper {
    height: 208px;
    @include element(after) {
      display: none;
      content: none;
    }
    @include retina {
      height: 180px;
    }
  }
  #{$c}__img {
    @include image(cover, center top);
    @include small {
      @include image(cover, center top);
    }
  }
  #{$c}__txt {
    padding: 24px 24px 80px;
    position: static;
    color: color(gray, 1);
  }
  #{$c}__title {
    font-weight: fw(bold);
  }
  #{$c}__btn {
    position: absolute;
    bottom: 16px;
    left: 24px;
    right: 24px;
  }
  #{$c}__btn-more {
    margin-top: 24px;
    @include retina {
      margin-top: 16px;
    }
  }
}
