/* ==========================================================================
   OCBC Component: Company Shareholder
   ========================================================================== */

.#{$prefix}company-shareholder {
  $cs: &;
  overflow: hidden;
  &__content{
    position: relative;
    padding-left: 50%;
    @include medium {
      padding-left: 0;
    }
  }
  &__image {
    position: absolute;
    left: -132px;
    top: 0;
    @include large {
      left: -72px;
    }
    @include small {
      left: -64px;
    }
  }
  &__txt{
    min-height: 683px;
    padding: 208px 0 184px;
    @include large {
      min-height: 528px;
      padding: 112px 0 72px 24px;
    }
    @include medium {
      padding: 432px 0 24px;
    }
    @include retina {
      padding-top: 392px;
    }
  }
  &__title{
    color: color(gray, 1);
    @include font-size(h2);
    margin-bottom: 16px;
    @include medium {
      margin-bottom: 8px;
    }
  }
  &__desc{
    margin-bottom: 44px;
    color: color(gray, 2);
    @include medium {
      margin-bottom: 24px;
    }
  }
}
