/* ==========================================================================
   OCBC Component: Card Suggestion
   ========================================================================== */

&--suggestion {
  display: block;
  max-width: 392px;
  @include medium {
    max-width: 100%;
  }
  #{$c}__box {
    min-height: 296px;
    border-radius: 8px;
    padding: 24px 24px 96px;
    @include shadow(6);
    @include medium {
      min-height: 320px;
    }
  }
  #{$c}__title-icon {
    display: table;
    margin-bottom: 32px;
    width: 100%;
    table-layout: fixed;
    @include small {
      margin-bottom: 24px;
    }
  }
  #{$c}__icon {
    display: table-cell;
    vertical-align: top;
    padding-top: 4px;
    width: 24px;
    text-align: center;
    @include large {
      padding-top: 0;
    }
    img {
      max-width: 24px;
      max-height: 24px;
      width: auto;
      height: auto;
    }
  }
  #{$c}__title {
    display: table-cell;
    padding-left: 16px;
    vertical-align: top;
    font-weight: fw(bold);
    margin-bottom: 0;
    @include font-size(h4, desktop);
    padding-right: 8px;
    @include large {
      padding-right: 0;
      @include font-size(h4, mobile);
    }
  }
  #{$c}__desc {
    color: color(gray, 2);
  }
  #{$c}__btn {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 24px;
  }
  #{$c}__top,
  #{$c}__bottom {
    position: absolute;
    white-space: nowrap;
    font-size: 0;
  }
  #{$c}__top {
    bottom: 120px;
    @include small {
      bottom: 112px;
    }
  }
  #{$c}__bottom {
    bottom: 24px;
    margin-left: -48px;
    @include small {
      margin-left: -40px;
    }
  }
  #{$c}__rounded {
    width: 88px;
    height: 88px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: color(white);
    position: relative;
    @include shadow(6);
    @include small {
      width: 80px;
      height: 80px;
      margin: 0 8px;
    }
    &__wrapper {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -28px;
      margin-top: -28px;
    }
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
    }
  }
}
