/* ==========================================================================
  OCBC Components: Stock Graph
  ========================================================================== */

.#{$prefix}stock-graph {
  &__title{
    @include font-size(h4);
    font-weight: fw(regular);
    color: color(gray, 1);
    margin-bottom: 40px;
    @include medium  {
      margin-bottom: 32px;
    }
    @include small {
      margin-bottom: 24px;
    }
  }
  &__head{
    margin-bottom: 8px;
    &__title{
      @include font-size(h3);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 8px;
    }
    &__source{
      @include font-size(h3);
      font-weight: fw(regular);
      color: color(gray, 2);
      margin-bottom: 0;
      .#{$prefix}lnk{
        text-decoration: none;
        transition: color .3s ease;
        &:hover {
          color: color(primary, 1);
          text-decoration: underline;
        }
      }
    }
    @include small {
      margin-bottom: 16px;
    }
  }
  &__body {
    @include small {
      margin-bottom: -16px;
    }
  }
  &__legend {
    text-align: right;
    margin-bottom: 32px;
    @include medium  {
      margin-bottom: 24px;
    }
    @include small {
      text-align: left;
      margin-bottom: 32px;
    }
  }
  &__chart {
    margin-left: -94px;
    &__img {
      width: 100%;
      height: auto;
    }
    @include large {
      margin-left: 0;
    }
    @include small {
      margin-left: -16px;
      margin-right: -16px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 16px;
      @include scroll("x", "touch", "show");
      &__img {
        width: auto;
        max-width: initial;
        height: 488px;
      }
    }
    @include retina {
      &__img {
        height: 440px;
      }
    }
  }
}
