/* ==========================================================================
   OCBC Component: Field
   ========================================================================== */

.#{$prefix}field {
  $fld: &;
  margin-bottom: 24px;

  &--white {
    #{$fld}__label {
      color: color(white);
    }
    .#{$prefix}input {
      color: color(white);
      border-bottom: 1px solid color(white);
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: color(white);
        font-size: fz(body, desktop);
        line-height: lh(body, desktop);
        font-weight: fw(regular);
        animation-name: autofilFormText;
        animation-fill-mode: both;
        box-shadow: inset 0 0 0 48px color(gray, 7);
        // -- premier site
        .#{$prefix}premier-site & {
          box-shadow: inset 0 0 0 48px color(premier, 3);
        }
        // -- private site
        .#{$prefix}private-site & {
          box-shadow: inset 0 0 0 48px color(private, 3);
        }
      }
    }
  }

  &--textarea {
    margin-bottom: 40px;

    @include small {
      margin-bottom: 24px;
    }
  }

  &--recaptcha {
    margin-bottom: 44px;

    @include small {
      margin-bottom: 24px;
    }
  }

  &--aggreement {
    margin-bottom: 40px;

    #{$fld}__error {
      padding-left: 40px;
    }

    @include small {
      margin-bottom: 24px;
    }
  }

  &--is-error {
    #{$fld}__error {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .#{$prefix}input {
      border-color: color(system, error);
    }

    .#{$prefix}select {
      .#{$prefix}select__text {
        border-color: color(primary, 1);
      }
    }
  }

  &__label {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 8px;
    &--mbm {
      margin-bottom: 24px;
    }
  }

  &__input {

    &--textarea {
      padding-top: 8px;
    }

    &--checkbox {
      padding-top: 0;
      position: relative;

      .#{$prefix}input {
        opacity: 0;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: $z-input-checkbox-element;

        &:checked {
          +#{$fld}__input--checkbox__label {
            @include element(after) {
              transform: scale(1);
            }
          }
        }
      }

      &__label {
        position: relative;
        display: block;
        padding-left: 40px;
        color: color(gray, 1);
        @include font-size(body);

        @include element(before) {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: color(white);
          position: absolute;
          top: 4px;
          left: 0;
          z-index: $z-input-checkbox-before;
          box-shadow: inset 0 1px 3px 0 rgba(color(black), .25);
        }

        @include element(after) {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          z-index: $z-input-checkbox-after;
          top: 8px;
          left: 4px;
          background-image: lg(primary);
          transition: all .25s ease;
          transform: scale(0);
        }
      }

      &__txt {
        padding-left: 40px;
      }
    }

    &--radio {
      padding-top: 0;
      position: relative;

      .#{$prefix}input {
        opacity: 0;
        border: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: $z-input-checkbox-element;

        &:checked {
          +#{$fld}__input--radio__label {
            @include element(after) {
              transform: scale(1);
            }
          }
        }
      }

      &__label {
        position: relative;
        display: block;
        padding-left: 24px;
        color: color(gray, 1);
        @include font-size(body);

        @include element(before) {
          content: '';
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: color(white);
          position: absolute;
          top: 4px;
          left: 0;
          z-index: $z-input-checkbox-before;
          box-shadow: inset 0 1px 3px 0 rgba(color(black), .25);
        }

        @include element(after) {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          position: absolute;
          z-index: $z-input-checkbox-after;
          top: 8px;
          left: 4px;
          background-image: lg(primary);
          transition: all .25s ease;
          transform: scale(0);
        }
      }
    }

    &--recaptcha {
      padding-top: 0;

      iframe {
        display: block;
      }
    }

    &-group {
      font-size: 0;
      line-height: 1;
      #{$fld}__input {
        display: inline-block;
        vertical-align: middle;
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__select {
    .#{$prefix}select {
      &__text {
        color: rgba(color(gray, 2), 0.6);
      }

      &--filled {
        .#{$prefix}select__text {
          color: color(gray, 1);
        }
      }
    }
  }

  &__error {
    font-weight: fw(regular);
    @include font-size(micro);
    color: color(system, error);
    margin: 8px 0 0;
    opacity: 0;
    min-height: 16px;
    visibility: hidden;
    transform: translateY(2px);
    transition: all .15s ease;
  }

  &__note {
    font-weight: fw(regular);
    @include font-size(micro);
    color: color(gray, 2);
    margin: 8px 0 0;
  }

  // error note
  &--error-note {
    #{$fld}__note {
      color: color(system, error);
    }
  }
}

@keyframes autofilFormWhite {
  to {
    color: color(white);
    background: transparent;
  }
}
