/* ==========================================================================
   OCBC Component: Subscribe Form
   ========================================================================== */

.#{$prefix}subscribe-form {
  $sf: &;
  width: 100%;
  position: relative;
  .#{$prefix}input {
    @include font-size(micro);
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    outline: 0;
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-color: transparent;
    color: color(gray, 1);
    .#{$prefix}fi {
      font-size: 1.6rem;
      position: absolute;
      top: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      &:first-child {
        opacity: 0;
        z-index: $z-btn-icon-first;
        transform: translate(-125%, -50%);
      }
      &:last-child {
        z-index: $z-btn-icon-last;
      }
    }
    &:hover {
      color: color(primary, 1);
      .#{$prefix}fi {
        &:first-child {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
        &:last-child {
          opacity: 0;
          transform: translate(25%, -50%);
        }
      }
    }
  }
}
