/* ==========================================================================
   OCBC Component: Card Info Article
   ========================================================================== */

&--article {
  $wa: &;
  &__item {
    height: 130px;
    padding: 16px 0;
    border-bottom: solid 1px color(gray, 5);
    &:last-child {
      border-bottom: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    @include small {
      height: auto;
      padding: 16px 0 24px;
    }
  }
  &__img-wrapper {
    width: 131px;
    height: 68px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    @include small {
      width: 123px;
      height: 64px;
    }
    // <pseudo-element/>
    @include element(after) {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: -16px;
      z-index: $z-card-icon-after;
      @include font-icon("\e917");
      font-size: 3.2rem;
      color: color(white);
      @include small {
        font-size: 2.4rem;
        margin-top: -12px;
        margin-left: -12px;
      }
    }
    .#{$prefix}lnk {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: $z-card-lnk-overlay;
    }
    &:hover {
      #{$wa}__img {
        transform: scale(1.1);
      }
    }
  }
  &__img {
    transition: all 0.5s ease;
    @include image(cover, center center);
  }
  &__title {
    @include font-size(small);
    font-weight: fw(bold);
    margin-bottom: 8px;
  }
  .#{$prefix}lnk {
    color: color(gray, 1);
    transition: color 0.3s ease;
    text-decoration: none;
    &:hover {
      color: color(primary, 1);
    }
  }
  &__desc {
    @include font-size(small);
    margin-bottom: 0;
    @include large {
      height: 44px;
      @include multiline-ellipsis(2);
    }
    @include medium {
      height: auto;
      @include multiline-ellipsis(8);
    }
  }
}
