/* ==========================================================================
   OCBC Component: One Mobile Banner
   ========================================================================== */

.#{$prefix}one-mobile-banner {
  $db: &;
  overflow: hidden;
  @include main-banner;
  &__img-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: $z-banner-img;
    transition: opacity 1s ease, transform 10s ease;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: scale(1.25);
    }
  }
  &__img-bg {
    width: 100%;
    height: 100%;
    @include bg-image(cover, right top);
    &--m {
      display: none;
    }
    @include large {
      background-position: 75% top;
    }
    @include medium {
      background-position: right bottom;
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }
  }
  &__content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: $z-banner-txt;
  }
  .#{$prefix}container,
  .#{$prefix}row,
  .#{$prefix}col-xl-12, {
    height: 100%;
  }
  &__content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__txt-wrapper {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    z-index: $z-banner-txt;
  }
  &__middle-align {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  &__txt {
    margin-top: -32px;
    max-width: 600px;
    color: color(white);
    @include large {
      padding-right: 48px;
    }
    @include medium {
      padding-right: 0;
    }
    @include small {
      padding-right: 32px;
    }
  }
  &__title {
    @include font-size(hero, desktop);
    font-weight: fw(bold);
    margin-bottom: 0;
    transition: all 1s ease 1.5s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(-32px);
    }
    @include large {
      @include font-size(h1, desktop);
    }
    @include small {
      @include font-size(hero, mobile);
    }
    @include retina {
      @include font-size(h1, mobile);
    }
  }
  &__desc {
    margin-top: 16px;
    margin-bottom: 0;
    @include font-size(h4);
    font-weight: fw(regular);
    transition: all 1s ease 1.7s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(-32px);
    }
    @include small {
      margin-top: 8px;
    }
  }
  &__btn {
    margin-top: 64px;
    transition: all 1s ease 1.9s;
    .#{$prefix}site-content--hide & {
      opacity: 0;
      transform: translateX(-32px);
    }
    .#{$prefix}btn {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    @include small {
      margin-top: 24px;
    }
  }
  &__apps-lnk {
    position: absolute;
    bottom: 56px;
    left: 0;
    z-index: $z-banner-txt + 1;
    @include medium {
      bottom: 32px;
    }
    @include small {
      bottom: 16px;
    }
    &__title {
      @include font-size(body);
      color: color(white);
      margin-bottom: 16px;
      transition: all 1s ease 2.1s;
      .#{$prefix}site-content--hide & {
        opacity: 0;
        transform: translateX(-32px);
      }
      @include small {
        margin-bottom: 8px;
      }
    }
    &__list {
      font-size: 0;
      line-height: 1;
    }
    &__item{
      display: inline-block;
      margin-right: 16px;
      transition: all 1s ease;
      font-size: 0;
      line-height: 1;
      transition-delay: 2.3s;
      &:last-child {
        margin-right: 0;
        transition-delay: 2.5s;
      }
      .#{$prefix}site-content--hide & {
        opacity: 0;
        transform: translateY(32px);
      }
      @include small {
        margin-right: 8px;
      }
    }
    .#{$prefix}lnk {
      display: inline-block;
      transition: all .25s ease;
      &:hover {
        transform: translateY(-2px);
      }
    }
    &__img {
      width: auto;
      height: 48px;
      @include small {
        height: 32px;
      }
    }
  }
  &__frame {
    @include medium {
      position: absolute;
      z-index: $z-banner-frame;
      bottom: 24px;
      right: -8px;
      font-size: 0;
      line-height: 0;
    }
    @include small {
      bottom: 12px;
      right: -56px;
    }
    &__item {
      @include shadow(16);
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      z-index: $z-banner-frame;
      border-radius: 32px;
      transition: all 1.5s ease;
      .#{$prefix}site-content--hide & {
        opacity: 0;
        transform: translateY(-45%) scale(1.05);
      }
      @include medium {
        position: relative;
        top: auto;
        transform: none;
        display: inline-block;
        vertical-align: middle;
        .#{$prefix}site-content--hide & {
          transform: translateY(8px) scale(1.05);
        }
      }
      &:nth-child(1),
      &:nth-child(3) {
        width: 204px;
        height: auto;
        @include large {
          width: 130px;
        }
        @include small {
          width: 72px;
        }
        @include retina {
          width: 56px;
        }
      }
      &:nth-child(2) {
        width: 244px;
        @include large {
          width: 170px;
        }
        @include medium {
          margin-left: -12px;
          margin-right: -12px;
        }
        @include small {
          width: 92px;
          margin-left: -8px;
          margin-right: -8px;
        }
        @include retina {
          width: 76px;
        }
      }
      &:nth-child(1) {
        right: 348px;
        transition-delay: 2.7s;
        @include large {
          right: 246px;
        }
        @include medium {
          right: auto;
        }
      }
      &:nth-child(2) {
        right: 136px;
        border-radius: 24px;
        z-index: $z-banner-frame + 1;
        transition-delay: 2.9s;
        @include large {
          right: 96px;
        }
        @include medium {
          right: auto;
        }
      }
      &:nth-child(3) {
        right: -36px;
        transition-delay: 3.1s;
        @include large {
          right: -16px;
        }
        @include medium {
          right: auto;
        }
      }
      &__img {
        display: block;
      }
    }
  }
}
