/* ==========================================================================
   OCBC Component: Product Detail Fragment
   ========================================================================== */

.#{$prefix}prod-detail-fragment {
  &__img {
    width: 100%;
    &-wrapper {
      width: 32px;
      height: 32px;
      padding: 2px;
      margin-bottom: 16px;
    }
  }
  &__title {
    font-weight: fw(bold);
    @include font-size(body);
    margin-bottom: 8px;
  }
  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 0;
    a {
      text-decoration: none;
      transition: color .3s ease;
      &:hover {
        color: color(primary, 1);
      }
    }
  }
  &__page {
    padding: 16px 0;
    @include large {
      height: 100%;
      padding: 0;
    }
    &--more-space {
      padding: 64px 0 44px;
      @include large {
        padding: 56px 0 36px;
      }
      @include medium {
        padding: 56px 0;
      }
      @include small {
        padding: 32px 0;
      }
    }
    &--more-space-b {
      padding: 0 0 32px;
      @include large {
        padding-bottom: 40px;
      }
      @include small {
        .#{$prefix}prod-detail-fragments {
          padding: 0;
        }
      }
    }
  }
  &__more {
    font-weight: fw(bold);
    @include font-size(h4);
    margin-bottom: 32px;
    &--large{
      @include font-size(h3);
      margin-bottom: 48px;
      @include large {
        .#{$prefix}prod-detail-fragment__page--more-space & {
          margin-bottom: 32px;
        }
      }
      @include small {
        .#{$prefix}prod-detail-fragment__page--more-space & {
          margin-bottom: 24px;
        }
      }
    }
  }
}
