/* ==========================================================================
   OCBC Component: Dropdown Tagging
   ========================================================================== */

.#{$prefix}dd-tag {
  $dt: &;
  &__wrapper {
    max-width: 392px;
    @include small {
      max-width: 100%;
    }
  }
  &__select {
    .#{$prefix}select {
      &__list {
        width: calc(100% - 48px);
      }
      &__item {
        padding: 6px 55px 8px 24px;
        &:last-child {
          margin-bottom: 4px;
        }
        &__text {
          @include font-size(body);
        }
      }
      &__text {
        @include font-size(h3);
        font-weight: fw(bold);
        padding-top: 8px;
      }
    }
  }
}
