/* ==========================================================================
   OCBC Component: Graphic Bar
   ========================================================================== */

.#{$prefix}graphic-bar {
  $gb: &;

  @include medium {
    white-space: normal;
  }

  &__box {
    height: 256px;
    padding-top: 16px;
    background-color: color(gray, 7);
    border-radius: 8px 8px 0 0;
    margin-bottom: 24px;
    transition: all 0.5s ease;
    transition-delay: 1200ms;

    .#{$prefix}site-content--hide & {
      opacity: 0;
    }
  }

  &__visual {
    height: 100%;
    position: relative;

    &__bar {
      position: absolute;
      z-index: $z-grap-bar;
      width: 48px;
      bottom: 0;
      cursor: pointer;
      border-radius: 16px 16px 0 0;
      @include remove-tap-highlight;
      transition: transform 0.5s ease 1400ms;
      transform-origin: center bottom;
      -webkit-backface-visibility: hidden;

      @media print {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
      }

      &--left-tooltip {
        #{$gb}__tooltip {
          right: 100%;
          left: auto;
          margin-right: 0;
          margin-right: 10px;
          opacity: 0;
          transform: translate(-4px, -50%);

          @include element(after) {
            left: auto;
            right: 0;
          }
        }
      }

      &--show-tooltip {
        z-index: $z-grap-bar + 1;

        #{$gb}__tooltip {
          opacity: 1;
          visibility: visible;
          transform: translate(0, -50%);
        }
      }

      .#{$prefix}site-content--hide & {
        transform: scaleY(0);
      }
    }

    &__area {
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      border-bottom: 0px solid color(gray, 6);
      border-right: 0px solid color(gray, 6);
      border-top: 0px solid transparent;
      left: 24px;
      z-index: $z-grap-bar-area;
      transition: transform 0.5s ease 1600ms, border-color .25s ease;
      transform-origin: left bottom;
      -webkit-backface-visibility: hidden;

      &--dark {
        //  !important for die css dom JS
        border-bottom-color: color(gray, 5) !important;
        border-right-color: color(gray, 5) !important;
        z-index: $z-grap-bar-area - 2;
      }

      #{$gb}__tooltip {
        width: 184px;
        margin-left: -92px;
        top: auto;
        transform: translateY(4px);

        @include element(after) {
          content: none;
          display: none;
        }
      }

      &--show-tooltip {
        //  !important for die css dom JS
        border-bottom-color: color(gray, 4) !important;
        border-right-color: color(gray, 4) !important;
        z-index: $z-grap-bar-area - 1;

        #{$gb}__tooltip {
          opacity: 1;
          visibility: visible;
          transform: none;
        }
      }

      .#{$prefix}site-content--hide & {
        transform: scaleY(0);
      }
    }
  }

  &__tooltip {
    position: absolute;
    left: 100%;
    top: 50%;
    z-index: $z-grap-bar-tooltip;
    background-color: color(white);
    padding: 8px;
    border-radius: 8px;
    margin-left: 10px;
    width: 160px;
    user-select: none;
    opacity: 0;
    visibility: hidden;
    transform: translate(4px, -50%);
    transition: all .2s ease;
    @include shadow(6);

    @include element(after) {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      left: -7px;
      top: 50%;
      border-radius: 2px;
      background-color: color(white);
      transform-origin: center center;
      transform: rotate(45deg) translateY(-50%);
    }
  }

  &__percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__txt {
      @include font-size(small);
      font-weight: fw(bold);
      color: color(white);
      margin-bottom: 0;
    }
  }

  &__title {
    color: color(gray, 2);
    @include font-size(micro);
    margin-bottom: 0;
  }

  &__amount {
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  &__label {
    @include font-size(micro);
    color: color(gray, 2);
    margin-bottom: 0;
  }

  &__range {
    position: relative;
    min-height: 54px;

    @include element(after) {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 11px;
      z-index: $z-grap-bar-range-line;
      border-bottom: solid 1px color(gray, 5);
      transition: all 0.75s ease;
      transition-delay: 1800ms;

      .#{$prefix}site-content--hide & {
        transform: scaleX(0);
        transform-origin: center center;
      }
    }

    &__item {
      position: absolute;
      z-index: $z-grap-bar-range-item;
      top: 0;
      text-align: center;
      padding: 0 8px;
      background-color: color(white);
      transition: all 0.5s ease;
      transition-delay: 1800ms;

      .#{$prefix}site-content--hide & {
        opacity: 0;
        transform: translateY(2px);
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &__txt {
      @include font-size(small);
      color: color(gray, 2);
      margin-bottom: 0;
    }

    &__number {
      @include font-size(h4);
      font-weight: fw(bold);
      color: color(gray, 1);
      margin-bottom: 0;
    }
  }

}
