/* ==========================================================================
   OCBC Component: Legend
   ========================================================================== */

&--legend {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  transition: all 0.3s ease;

  #{$c}__box {
    width: 184px;
    height: 88px;
    border-radius: 8px;
    padding: 8px 16px 8px 8px;
    background-color: color(white);
    transition: all 0.3s ease;
    border: 1px solid transparent;
    user-select: none;
    cursor: pointer;
    @include shadow(6);
    @include remove-tap-highlight;
    @include large {
      width: 178px;
    }
  }

  #{$c}__dot{
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    left: 8px;
    background-color: color(gray, 3);
    @media print {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
  }

  #{$c}__txt{
    padding: 0;
    position: static;
    color: color(gray, 1);
  }

  #{$c}__title{
    color: color(gray, 2);
    @include font-size(micro);
    @include multiline-ellipsis(2);
    margin-bottom: 0;
  }

  #{$c}__amount{
    @include font-size(body);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 0;
  }

  #{$c}__label{
    @include font-size(micro);
    color: color(gray, 2);
    margin-bottom: 0;
  }

  //modifier
  &--dot{
    #{$c}__box {
      padding-left: 24px;
    }
  }

  &--selected {
    #{$c}__box {
      border-color: color(primary, 1);
    }
  }

  @include medium {
    white-space: normal;
  }
}
