/* ==========================================================================
   OCBC Component: Auction Info
   ========================================================================== */

&--auction-info {
  position: relative;
  display: block;
  max-width: 392px;

  @include medium {
    max-width: initial;
  }

  #{$c}__box {
    border-radius: 8px;
    background-color: color(white);
    @include shadow(8);
    transition: all .3s ease;
  }

  #{$c}__img-wrapper {
    height: 176px;

    @include element(after) {
      content: none;
      display: none;
    }
  }

  #{$c}__img {
    @include image(cover, center top);

    @include medium {
      @include image(cover, center center);
    }

    @include small {
      @include image(cover, center top);
    }
  }

  #{$c}__txt {
    padding: 24px 24px 16px;
    position: static;
    color: color(gray, 1);
  }

  #{$c}__title {
    @include font-size(h4);
    font-weight: fw(bold);
    margin-bottom: 8px;
  }

  #{$c}__list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: color(gray, 2);

    &__item {
      margin-bottom: 8px;
      padding-left: 24px;
      position: relative;
      @include font-size(body);

      &:last-child {
        margin-bottom: 0;
      }

      .#{$prefix}fi {
        position: absolute;
        top: 4px;
        left: 0;
        color: color(primary, 1);
      }
    }
  }

  #{$c}__desc {
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 0;
  }
}
