/* ==========================================================================
   OCBC Component: CSR Program
   ========================================================================== */

.#{$prefix}csr-program {
  $csp: &;
  overflow: hidden;
  position: relative;
  margin-bottom: -56px;
  .#{$prefix}private-site & {
    margin-bottom: -48px;
    @include medium {
      margin-bottom: 56px;
    }
    @include small {
      margin-bottom: 48px;
    }

    @include retina {
      margin-bottom: 40px;
    }
  }

  &:last-child{
    margin-bottom: 0;
    // -- private site
    .#{$prefix}private-site & {
      margin-bottom: -120px;
      @include medium {
        margin-bottom: 0;
      }
    }
  }

  @include medium {
    margin-bottom: 56px;
  }

  @include small {
    margin-bottom: 48px;
  }

  @include retina {
    margin-bottom: 40px;
  }

  &-container{
    padding-bottom: 32px;
    &--mobile-pb {
      padding-bottom: 0;
    }
    @include medium {
      padding-bottom: 24px;
      &--mobile-pb {
        padding-bottom: 56px;
      }
    }
    @include small {
      &--mobile-pb {
        padding-bottom: 48px;
      }
    }
  }

  &__content {
    min-height: 600px;
    display: table;
    width: 100%;
    position: relative;
    // --- firefox
    @include firefox-browser {
      height: 600px;
    }

    @include large {
      min-height: 480px;
      // --- firefox
      @include firefox-browser {
        height: 480px;
      }
    }

    @include medium {
      display: block;
      min-height: initial;
      // --- firefox
      @include firefox-browser {
        height: auto;
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;

    &-wrapper {
      width: 600px;
      position: absolute;
      left: -72px;
      top: 0;

      @include large {
        width: 480px;
        left: -56px;
      }

      @include medium {
        width: 400px;
        position: static;
        margin-left: -72px;
        margin-bottom: 32px;
      }

      @include small {
        margin-left: -56px;
      }

      @include retina {
        width: 360px;
        margin-bottom: 24px;
      }
    }
  }

  &__txt {
    display: table-cell;
    vertical-align: middle;
    padding-left: 648px;
    padding-right: 72px;

    @include large {
      padding-left: 504px;
      padding-right: 32px;
    }

    @include medium {
      padding-left: 0;
      padding-right: 0;
      display: block;
    }
  }

  &__title {
    @include font-size(h4);
    font-weight: fw(bold);
    color: color(gray, 1);
    margin-bottom: 24px;

    @include small {
      margin-bottom: 16px;
    }

    &--large {
      @include font-size(h3);
      margin-bottom: 8px;

      @include small {
        margin-bottom: 8px;
      }
    }
    &--x-large {
      @include font-size(h2);
      margin-bottom: 16px;

      @include small {
        margin-bottom: 8px;
      }
    }
  }

  &__desc {
    @include font-size(body);
    font-weight: fw(regular);
    color: color(gray, 2);
    margin-bottom: 32px;

    @include small {
      margin-bottom: 24px;
    }

    &--large {
      @include font-size(h3);
      margin-bottom: 0;

      @include small {
        margin-bottom: 0;
      }
    }

    &--medium {
      @include font-size(h4);
      margin-bottom: 0;

      @include small {
        margin-bottom: 0;
      }
    }
  }


  &--reverse {
    #{$csp}__img-wrapper {
      left: auto;
      right: -72px;

      @include large {
        right: -56px;
      }

      @include medium {
        right: auto;
        left: -72px;
      }
    }

    #{$csp}__txt {
      padding-left: 0;
      padding-right: 648px;
      padding-left: 72px;

      @include large {
        padding-right: 504px;
        padding-left: 32px;
      }

      @include medium {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &--large-img {
    #{$csp} {
      &__content {
        min-height: 856px;
        // --- firefox
        @include firefox-browser {
          height: 856px;
        }
        @include large {
          min-height: 600px;
          // --- firefox
          @include firefox-browser {
            height: 600px;
          }
        }
      }
      &__img {
        &-wrapper {
          width: 856px;
          left: -228px;
          @include large {
            width: 600px;
            left: -120px;
          }
          @include medium {
            width: 400px;
          }
        }
      }
      &__txt {
        padding-left: 728px;
        padding-right: 0;
        @include large {
          padding-left: 524px;
        }
        @include medium {
          padding-left: 0;
        }
      }
    }
    &#{$csp}--reverse {
      #{$csp} {
        &__img {
          &-wrapper {
            right: -228px;
            left: auto;
            @include large {
              right: -120px;
            }
          }
        }
        &__txt {
          padding-right: 728px;
          padding-left: 0;
          @include large {
            padding-right: 524px;
          }
          @include medium {
            padding-right: 0;
          }
        }
      }
    }
  }

}
