/* ==========================================================================
   OCBC Component: Product Category Fragment
   ========================================================================== */

.#{$prefix}prod-category-fragment {
  $pcf: &;
  padding: 48px 56px 56px 40px;
  position: relative;
  min-height: 296px;
  overflow: hidden;
  @include large {
    min-height: 304px;
    padding: 48px 40px 40px 32px;
  }
  @include medium {
    min-height: initial;
    padding: 32px 56px 32px 40px;
  }
  @include small {
    padding: 32px 40px 32px 24px;
  }
  @include element(before) {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-product-category-bg;
    opacity: 0;
    transform: scale(0.9);
    background-image: lg(primary, 123deg, 14%, 86%);
    transition: all .35s ease;
    @include medium {
      background-image: lg(primary, 115deg, 14%, 86%);
    }
    // -- premier site
    .#{$prefix}premier-site & {
      background-image: lg(premier-light, 180deg, 0%, 100%);
      @include medium {
        background-image: lg(premier-light, 180deg, 0%, 100%);
      }
    }
    // -- private site
    .#{$prefix}private-site & {
      background-image: lg(private-light, 90deg, 0%, 100%);
      @include medium {
        background-image: lg(private-light, 90deg, 0%, 100%);
      }
    }
  }
  &__content{
    position: relative;
    z-index: $z-product-category-content;
  }
  &__img{
    width: 100%;
    display: block;
    position: absolute;
    transition: all .35s ease;
    &--default{
      z-index: $z-product-category-img-default;
      transform: scale(1);
    }
    &--hover{
      z-index: $z-product-category-img-hover;
      opacity: 0;
      transform: scale(1.1);
    }
    &-wrapper {
      width: 40px;
      height: 40px;
      margin-bottom: 24px;
      position: relative;
      overflow: hidden;
      @include small {
        width: 32px;
        height: 32px;
      }
    }
  }
  &__title {
    font-weight: fw(bold);
    @include font-size(h3);
    margin-bottom: 16px;
    max-width: 168px;
    transition: color .3s ease;
    color: color(gray, 1);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(gray, 1);
    }
    @include medium {
      max-width: initial;
    }
    @include small {
      margin-bottom: 8px;
    }
  }
  &__desc {
    font-weight: fw(regular);
    @include font-size(body);
    color: color(gray, 2);
    margin-bottom: 0;
    max-width: 312px;
    transition: color .3s ease;
  }
  &:hover{
    @include element(before) {
      opacity: 1;
      transform: scale(1);
    }
    #{$pcf}__img{
      &--default{
        opacity: 0;
        transform: scale(0.9);
      }
      &--hover{
        opacity: 1;
        transform: scale(1);
      }
    }
    #{$pcf}__title,
    #{$pcf}__desc{
      color: color(white);
      // -- private site
      .#{$prefix}private-site & {
        color: color(gray, 1);
      }
    }

    @include large {
      @include element(before) {
        opacity: 0;
        transform: scale(0.9);
      }
      #{$pcf}__img{
        &--default{
          opacity: 1;
          transform: scale(1);
        }
        &--hover{
          opacity: 0;
          transform: scale(1.1);
        }
      }
      #{$pcf}__title {
        color: color(gray, 1);
      }
      #{$pcf}__desc{
        color: color(gray, 2);
      }
    }
  }
  &:active{
    @include element(before) {
      opacity: 1;
      transform: scale(1);
    }
    #{$pcf}__img{
      &--default{
        opacity: 0;
        transform: scale(0.9);
      }
      &--hover{
        opacity: 1;
        transform: scale(1);
      }
    }
    #{$pcf}__title,
    #{$pcf}__desc{
      color: color(white);
      // -- private site
      .#{$prefix}private-site & {
        color: color(gray, 1);
      }
    }
  }
}
