/* ==========================================================================
   OCBC Component: Card Themes
   ========================================================================== */

&--theme {
  // --- nyala
  &-nyala {
    #{$c}__box {
      background-color: color(gray, 1);
    }
  }
  // --- secondary
  &-secondary {
    // --- secondary-1
    &-1 {
      #{$c}__box {
        background-color: color(secondary, 1);
      }
    }
    // --- secondary-2
    &-2 {
      #{$c}__box {
        background-color: color(secondary, 2);
      }
    }
    // --- secondary-3
    &-3 {
      #{$c}__box {
        background-color: color(secondary, 3);
      }
    }
    // --- secondary-4
    &-4 {
      #{$c}__box {
        background-color: color(secondary, 4);
      }
    }
    // --- secondary-5
    &-5 {
      #{$c}__box {
        background-color: color(secondary, 5);
      }
    }
  }
  // --- independence
  &-independence {
    #{$c}__box {
      background-image: lg(independence);
    }
  }
  // --- eid
  &-eid {
    #{$c}__box {
      background-image: lg(eid);
    }
  }
  // --- year-end
  &-year-end {
    #{$c}__box {
      background-image: lg(year-end);
    }
  }
  // --- anniversary
  &-anniversary {
    #{$c}__box {
      background-image: lg(anniversary);
    }
  }
}
