//-------------------------------------------------------------------------------
  @name: Individu Premier - Breadcrumbs
  @description: Individu Premier - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'individu.html',
      text: 'Individu'
    },
    {
      to: 'individu-premier.html',
      text: 'Premier Banking'
    },
    {
      to: 'individu-premier-banking-layanan-premier.html',
      text: 'Layanan Premier'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
