//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Main Banner
  @description: Individu - Premier - Layananan - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Layanan Premier',
    description: 'Layanan Perbankan Istimewa dengan Penawaran Eksklusif Hanya untuk Anda Nasabah Premier Banking.',
    image: {
      desktop: 'premier-d.jpg',
      mobile: 'premier-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
