//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Tab
  @description: Individu - Premier - Layananan - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'privileges',
          text: 'Privileges'
        },
        {
          target: 'wealth-solution',
          text: 'Wealth Solution'
        },
        {
          target: 'market-insights',
          text: 'Market Insights'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='privileges')
    include tab-content/privileges.pug
  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='wealth-solution')
    include tab-content/wealth-solution.pug
  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='market-insights')
    include tab-content/market-insights.pug

