//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPM - Calculator Result
  @description: Hasil Perhitungan Kalkulator KPM - Calculator Result
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-result.pug

block title
  -
    label = 'kpm';
    fields = 'items-5';

block form

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    //ocbc-field
    .ocbc-field
      p.ocbc-field__label
        | Wilayah
      .ocbc-field__select
        .ocbc-select-wrapper.js-select.js-select-zone(data-width='full')
          ='\n'
          select.ocbc-select__element(name='wilayah', data-label='Pilih Wilayah')
            option(value='', selected)
              | Pilih Wilayah
            option(value='1')
              | Wilayah 1: Sumatera & Kepulauan Sekitarnya
            option(value='2')
              | Wilayah 2: DKI, Banten & Jabar
            option(value='3')
              | Wilayah 3: Selain Wilayah 1 & Wilayah 2
          |!{''}
          |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Harga On the Road
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-input-otd(type='text', name='nominal', placeholder='Masukkan Nominal')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Uang Muka (%)
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-input-dp(data-payment='uang-muka', type='text', name='uang_muka')/
        |!{''}
        |
      p.ocbc-field__note
        | min. 25%

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    //ocbc-field
    .ocbc-field
      p.ocbc-field__label
        | Tenor
      .ocbc-field__select
        .ocbc-select-wrapper.js-select.js-select-tenor(data-width='full')
          ='\n'
          select.ocbc-select__element(name='tenor', data-label='Pilih Tenor')
            option(value='', selected)
              | Pilih Tenor
            option(value='1')
              | 12 Bulan
            option(value='2')
              | 24 Bulan
            option(value='3')
              | 36 Bulan
            option(value='4')
              | 48 Bulan
          |!{''}
          |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    //ocbc-field
    .ocbc-field
      p.ocbc-field__label
        | Angsuran
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-input-installment(data-payment='angsuran',type='text', name='angsuran')/
        |!{''}
        |
