//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPM - Card Article
  @description: Hasil Perhitungan Kalkulator KPM - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'individu-4.jpg',
        label: 'KPM',
        title: 'Mengapa KPM OCBC NISP Jauh lebih menguntungkan',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'individu-5.jpg',
        label: 'KPM',
        title: 'Lakukan Cara Merawat Mesin Mobil ini Agar Performa Tetap Stabil',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

include ../../layout/card-article.pug
