//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPM - Product Category
  @description: Hasil Perhitungan Kalkulator KPM - Product Category
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Solusi untuk Kepemilikan Mobil',
    card: [
      {
        to: '#',
        image: 'product-category-4.jpg',
        title: 'KPM',
        item: [
          'Uang Muka dimulai dari Rp 300,000,000',
          'Bebas Biaya Administrasi',
          'Bebas Biaya Tarik Tunai'
        ]
      }
    ]
  }

include ../../layout/card-product-category.pug
