//-------------------------------------------------------------------------------
  @name: Artikel Detail - Breadcrumbs
  @description: Artikel Detail - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'artikel.html',
      text: 'ONe Update'
    },
    {
      to: 'artikel-detail.html',
      text: 'Bagaimana Generasi Milenial Mengatur Keuangannya'
    }
  ],
  mode = 'ocbc-breadcrumbs--light';

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
