//-------------------------------------------------------------------------------
  @name: Promo - Detail - Card Article
  @description: Promo - Detail - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'is-more-pb',
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'informasi-1.jpg',
        tag: 'Tips & Tricks',
        label: ' - 8 Mar 2020',
        title: 'Tips mengatur keuangan selama #DirumahAja',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'informasi-4.jpg',
        tag: 'Berita Bank',
        label: ' - 15 Apr 2020',
        title: 'Daftar Cabang yang Tetap Beroperasi',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ],
    more: {
      to: 'artikel.html',
      text: 'Lihat Semua'
    }
  }

include ../../layout/card-article.pug
