//-------------------------------------------------------------------------------
  @name: Artikel Detail - Content Detail
  @description: Artikel Detail - Content Detail
  -------------------------------------------------------------------------------//

extends ../../layout/content-detail.pug

//- head
block head
  -
    data = {
      title: 'Bagaimana Generasi Milenial Mengatur Keuangannya',
      date: 'Jakarta, 15 Apr 2020',
      author: 'Ditulis oleh: Yogie Christian',
      images: [
        {
          src: 'artikel.jpg',
          alt: 'Bagaimana Generasi Milenial Mengatur Keuangannya'
        }
      ]
    }

//- body
block body
  p.ocbc-content-detail__desc
    | Untuk teman-teman yang belum pernah mendengar istilah generasi “Milenial”, mungkin akan bertanya-tanya siapa saja yang termasuk ke dalam generasi tersebut? Apakah saya sendiri termasuk di generasi Milenial? Istilah generasi milenial adalah istilah yang populer menggantikan Generasi Y (Gen Y). Generasi Milenial adalah mereka yang lahir di antara tahun 1980 dan 2000. Dengan kata lain, generasi milenial adalah anak-anak muda yang saat ini berusia antara 17 sampai 37 tahun. Apakah kamu termasuk generasi milenial? Jika ya, kamu mungkin ingin lanjut membaca artikel ini, karena kami akan mengulik lebih dalam bagaimana perilaku generasi milenial yang mungkin selama ini tidak teman-teman sadari.<br><br>Akhir-akhir ini generasi milenial banyak diperbincangkan, mulai dari segi pendidikan, moral dan budaya, etika, penggunaan teknologi hingga masalah keuangan. Teman-teman juga mungkin sudah sering mendengar atau bahkan mengalami beberapa fakta atau mitos tentang generasi milenial. Lahir dan besar di zaman internet dan cepatnya perkembangan teknologi membuat generasi milenial lebih cepat beradaptasi terhadap teknologi-teknologi baru.<br>Bagaimana Kaum Milenial Menggunakan Uang Mereka Generasi milenial memiliki kharakteristik yang khas, dengan prioritas yang berbeda dari generasi seblumnya.<br><br>Teknologi terbaru seperti ponsel pintar dan koneksi internet menjadi kebutuhan utama, selalu berusaha untuk terkoneksi di manapun mereka berada, dan eksistensi di media sosial menjadi makanan sehari-hari generasi milenial. Gaya “kekinian” itu membuat generasi milenial cenderung mengikuti tren teknologi terbaru, mengganti hp setiap tahun sudah menjadi hal yang biasa, koneksi internet tanpa batas yang biayanya tidak murah juga menjadi senjata wajib untuk mempertahankan eksistensi.<br><br>Kebiasaan konsumtif ini menjadikan generasi milenial cenderung memiliki pengeluaran yang besar setiap bulannya, bahkan lebih besar dibandingkan generasi X atau baby boomer. Sementara itu, bertepatan dengan resesi global yang terjadi di awal tahun 2000-an, membuat generasi milenial memiliki akses yang terbatas terhadap uang karena level pengangguran yang masih tinggi dan level gaji yang relatif rendah. Jadi sangatlah penting bagi generasi milenial untuk mengatur keuangan dan prioritas pengeluaran mereka.<br><br>Beberapa survei juga menyatakan bahwa dengan tingkat pendapatan kaum milenial sekarang serta tingkat kenaikan harga properti, generasi tersebut akan sulit untuk membeli rumah di perkotaan. Survei yang lain juga memberikan hasil bahwa 70% responden mengatakan bahwa motivasi mereka bekerja adalah untuk membiayai biaya traveling dan juga membayar kebutuhan dasar lainnya.
  p.ocbc-content-detail__subtitle-content
    | Bagaimana Cara Mereka Mencukupi Kebutuhan?
  p.ocbc-content-detail__desc
    | Salah satu masalah terbesar kaum milenial yang perlu diperhatikan adalah apakah dengan perilaku yang konsumtif saat ini, mereka dapat menghasilkan uang yang cukup untuk membiayai biaya pensiun mereka di masa depan. Teman-teman mungkin belum memikirkan berapa uang yang harus disisihkan untuk menjamin masa pensiun yang tenang dan damai tanpa terbelit masalah keuangan. Meskipun masa pensiun masih lama, kaum milenial perlu disadarkan bahwa jika tidak memulai menabung dari saat ini, besar kemungkinan kaum milenial akan menjalani masa pensiun dengan masalah keuangan yang serius. Beberapa survei menyatakan bahwa kaun milenial perlu menyisihkan 10 hingga 15 persen dari penghasilan bulanannya untuk menghindari kehabisan uang saat menjalani masa pensiun. Beberapa estimasi bahkan menyatakan bahwa kaum milenial perlu menyisihkan hingga 25% setiap bulannya untuk mencukup kebutuhan mereka pada saat pensiun.<br><br>Namun jika para pekerja muda tidak mampu menyimpan porsi yang cukup bear setiap bulannya, kami sangat menyarankan untuk memulai menabung dan juga berinvestasi. Kaum milenial mungkin mempunyai segudang alasan untuk tidak menabung. Namun jika ada pertanyaan kapan saya harus memulai menabung untuk hari tua, jawabannya adalah saat ini. Sedikit demi sedikit, lama kelamaan menjadi bukit. Inilah solusi yang dapat menjawab masalah yang dihadapi kaum milenial saat ini. Sekaranglah saatnya menabung dan mulai berinvestasi!

//- tag
block tag
  -
    data = [
      'Individu',
      'Tips & Tricks',
      'Keuangan',
      'Milenial',
      'Generari',
      'Pensiun',
      'Menabung',
      'Survei'
    ];
