//-------------------------------------------------------------------------------
  @name: Digital Channel - Internet Banking - Breadcrumb
  @description: Digital Channel - Internet Banking - Breadcrumb
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'digital-channel.html',
      text: 'Digital Channel'
    },
    {
      to: 'digital-channel-internet-banking.html',
      text: 'Internet Banking'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
