//-------------------------------------------------------------------------------
  @name: Digital Channel - Internet Banking - Card Upselling
  @description: Digital Channel - Internet Banking - Card Upselling
  -------------------------------------------------------------------------------//

-
  modifier = 'more-py';
  data = {
    border: true,
    title: 'Login untuk mulai transaksi online',
    description: 'Waktunya menikmati kemudahan bertransaksi online',
    button: 'Login',
    to: '#'
  }

include ../../layout/card-upselling.pug
