//-------------------------------------------------------------------------------
  @name: Digital Channel - Internet Banking - FAQ Dropdown
  @description: Digital Channel - Internet Banking - FAQ Dropdown
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Pertanyaan Terkait Internet Banking',
    question: [
      {
        val: 1,
        text: 'Bagaimana cara mengakses Internet Banking OCBC NISP?'
      },
      {
        val: 2,
        text: 'Apa itu ONe Mobile'
      },
      {
        val: 3,
        text: 'Apakah ONe Mobile aman untuk bertransaksi'
      }
    ],
    answer: [
      {
        val: 1,
        text: "Anda dapat mengakses Internet Banking OCBC NISP melalui <a href='https://www.ocbcnisp.com/' class='ocbc-lnk'>https://www.ocbcnisp.com/</a>"
      },
      {
        val: 2,
        text: 'ONe mobile adalah sebuah aplikasi berbasis digital yang siap membantu Anda betransaksi lebih mudah dan cepat'
      },
      {
        val: 3,
        text: 'Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
      }
    ],
  }

//ocbc-faq-dd__prod-detail
.ocbc-faq-dd__prod-detail
  include ../../layout/faq-dropdown.pug
