//-------------------------------------------------------------------------------
  @name: Individu - Digital Channel - Internet Banking - Main Banner
  @description: Individu - Digital Channel - Internet Banking - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Internet Banking',
    description: 'Layanan yang memberikan kemudahan melakukan kegiatan perbankan tanpa antre di kantor cabang',
    image: {
      desktop: 'digital-channel-internet-banking-d.jpg',
      mobile: 'digital-channel-internet-banking-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
