//-------------------------------------------------------------------------------
  @name: Individu - Digital Channel - Internet Banking - Product Detail Fragment
  @description: Individu - Digital Channel - Internet Banking - Product Detail Fragment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Keuntungan yang Anda dapatkan',
    list: [
      {
        title: 'Bebas Cek Informasi Rekening',
        description: 'Nikmati kebebasan dalam mengecek informasi rekening tabungan',
        img: 'account.svg'
      },
      {
        title: 'Transfer Cepat',
        description: 'Nikmati layanan transfer real time secara online',
        img: 'transfer.svg'
      },
      {
        title: 'Transaksi Mudah',
        description: 'Nikmati kemudahan pembayaran tagihan rutin dan transaksi sehari-hari',
        img: 'transaction.svg'
      },
      {
        title: 'Multitransfer & Multipayment',
        description: 'Transaksi pembayaran ke beberapa rekening sekaligus',
        img: 'separated-account.svg'
      }
    ]
  }

//ocbc-prod-detail-fragment__page
.ocbc-prod-detail-fragment__page.ocbc-prod-detail-fragment__page--more-space
  include ../../layout/product-detail-fragment.pug
