/* ==========================================================================
   OCBC Grid System
   ========================================================================== */

// Container
.#{$prefix}container {
  max-width: $container-max-width;
  @include container-fixed;
}

// half offset container
.#{$prefix}half-offset-container {
  position: absolute;
  left: calc(50% - 612px);
  right: 0;
  z-index: $z-half-offset-container;
  @include mq(1272px) {
    position: static;
    margin-right: -32px;
  }
  @include small {
    margin-right: -16px;
    z-index: initial;
  }
}

// Fluid container
.#{$prefix}container-fluid {
  @include container-fixed;
}

// Row
.#{$prefix}row {
  @include make-row;
}
.#{$prefix}row-no-padding {
  @include make-row;
  > [class*="#{$prefix}col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

// Columns
@include make-grid-columns;

// Extra Large
@include make-grid($xl-prefix);

// Large
@media only screen and (max-width: screen(large)) {
  @include make-grid($lg-prefix);
}

// Medium
@media only screen and (max-width: screen(medium)) {
  @include make-grid($md-prefix);
}

// Small
@media only screen and (max-width: screen(small)) {
  @include make-grid($sm-prefix);
}

// Extra Small
@media only screen and (max-width: screen(extra-small)) {
  @include make-grid($xs-prefix);
}
