/* ==========================================================================
   OCBC Grid Mixin
   ========================================================================== */

// Grid system
// Centered container element
@mixin container-fixed(
  $gutter: $grid-gutter-width,
  $gutter-mobile: $grid-gutter-width-mobile
) {
  margin-right: auto;
  margin-left: auto;
  padding-left: floor(($gutter / 2));
  padding-right: ceil(($gutter / 2));
  width: 100%;
  @include clearfix;
  @include mq(1272px) {
    padding-left: floor(($gutter / 2)) * 2 + 8;
    padding-right: ceil(($gutter / 2)) * 2 + 8;
  }
  @include small {
    padding-left: floor(($gutter-mobile / 2)) * 2;
    padding-right: ceil(($gutter-mobile / 2)) * 2;
  }
}

// Creates a wrapper for a series of columns
@mixin make-row(
  $gutter: $grid-gutter-width,
  $gutter-mobile: $grid-gutter-width-mobile
) {
  margin-left: ceil(($gutter / -2));
  margin-right: floor(($gutter / -2));
  @include clearfix;
  @include small {
    margin-left: ceil(($gutter-mobile / -2));
    margin-right: floor(($gutter-mobile / -2));
  }
}

// // [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin make-grid-columns(
  $i: 1,
  $list:
    ".#{$prefix}col-#{$xs-prefix}-#{$i}, .#{$prefix}col-#{$sm-prefix}-#{$i}, .#{$prefix}col-#{$md-prefix}-#{$i}, .#{$prefix}col-#{$lg-prefix}-#{$i}, , .#{$prefix}col-#{$xl-prefix}-#{$i}"
) {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .#{$prefix}col-#{$xs-prefix}-#{$i}, .#{$prefix}col-#{$sm-prefix}-#{$i}, .#{$prefix}col-#{$md-prefix}-#{$i}, .#{$prefix}col-#{$lg-prefix}-#{$i}, , .#{$prefix}col-#{$xl-prefix}-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left: ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
    @include small {
      padding-left: ceil(($grid-gutter-width-mobile / 2));
      padding-right: floor(($grid-gutter-width-mobile / 2));
    }
  }
}

// // [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin float-grid-columns(
  $class,
  $i: 1,
  $list: ".#{$prefix}col-#{$class}-#{$i}"
) {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .#{$prefix}col-#{$class}-#{$i}";
  }
  #{$list} {
    float: left;
  }
}

@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .#{$prefix}col-#{$class}-#{$index} {
      width: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index > 0) {
    .#{$prefix}col-#{$class}-push-#{$index} {
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index == 0) {
    .#{$prefix}col-#{$class}-push-0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .#{$prefix}col-#{$class}-pull-#{$index} {
      right: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .#{$prefix}col-#{$class}-pull-0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .#{$prefix}col-#{$class}-offset-#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
  }
}

// // [converter] This is defined recursively in LESS, but Sass supports real loops
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}

// // Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
}
