//-------------------------------------------------------------------------------
  @name: For The ONe - Location
  @description: For The ONe - Location
  -------------------------------------------------------------------------------//

extends ../../layout/search-result.pug

//- filter
block filter
  -
    data = [
      {
        title: 'Periode',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Hasil',
            checked: true
          },
          {
            name: 'juni-2020',
            text: 'Juni 2020'
          },
          {
            name: 'juli-2020',
            text: 'Juli 2020'
          },
          {
            name: 'agustus-2020',
            text: 'Agustus 2020'
          }
        ]
      },
      {
        title: 'Lokasi',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Hasil',
            checked: true
          },
          {
            name: 'bandung',
            text: 'Bandung'
          },
          {
            name: 'jakarta',
            text: 'Jakarta'
          },
          {
            name: 'medan',
            text: 'Medan'
          },
          {
            name: 'palangkaraya',
            text: 'Palangkaraya'
          },
          {
            name: 'surabaya',
            text: 'Surabaya'
          }
        ]
      }
    ]
  include ../../layout/filter.pug

//- result
block result
  //ocbc-search-result__sort
  .ocbc-search-result__sort
    include ../../components/sort-fragment.pug
  .ocbc-result-list-container
      // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-result-list-wrapper di hide dengan fungsi jQuery $('.ocbc-result-list-wrapper').hide(timing) atau $('.ocbc-result-list-wrapper').fadeOut(timing) atau fungsi hide lainnya
      .ocbc-result-list-wrapper
        .ocbc-result-list
          -
            modifier = 'career';
            data = [
              {
                icon: 'calendar.svg',
                title: 'Job Fair Binus Anggrek',
                description: [
                  'Tanggal: 1 Juni 2020',
                  'Waktu: 08.00 - 10.00 WIB',
                  'Lokasi: Jl. Raya Kb. Jeruk No.27, Kb. Jeruk, Kec. Kb. Jeruk, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11530'
                ],
                itemTitle: 'Kriteria:',
                item: [
                  'Minimal berusia 17 tahun',
                  'Membawa CV dan fotokopi KTP'
                ]
              },
              {
                icon: 'calendar.svg',
                title: '#TAYTB Fest',
                description: [
                  'Tanggal: 4 - 7 Juni 2020',
                  'Waktu: 17.00 WIB - selesai',
                  'Lokasi: The Tribrata Darmawangsa Jakarta Jl. Darmawangsa III No.2, Pulo, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12160'
                ],
                link: {
                  text: 'Beli Tiket',
                  to: '#'
                }
              },
              {
                icon: 'calendar.svg',
                title: 'Job Fair Universitas Tarumanegara',
                description: [
                  'Tanggal: 12 Juli 2020',
                  'Waktu: 08.00 - 10.00 WIB',
                  'Lokasi: Jl. Letjen S. Parman St No.1, Tomang, Grogol petamburan, West Jakarta City, Jakarta 11440'
                ],
                itemTitle: 'Kriteria:',
                item: [
                  'Minimal berusia 17 tahun',
                  'Membawa CV dan fotokopi KTP'
                ]
              },
              {
                icon: 'calendar.svg',
                title: 'ICON OCBC NISP di ITB, Bandung',
                description: [
                  'Tanggal: 14 Juli 2020',
                  'Waktu: 09.00 - 12.00 WIB',
                  'Lokasi: Aula 1, Institut Teknologi Bandung Jl. Ganesha No.10, Lb. Siliwangi, Kecamatan Coblong, Kota Bandung, Jawa Barat 40132'
                ],
                itemTitle: 'Kriteria:',
                item: [
                  'Mahasiswa/i Institut Teknologi Bandung',
                  'Minimal GPA 3.00',
                  'Aktif berorganisasi dalam/luar kampus'
                ],
                link: {
                  text: 'Selengkapnya',
                  to: 'artikel.html'
                }
              },
              {
                icon: 'calendar.svg',
                title: 'Job Fair Binus Anggrek',
                description: [
                  'Tanggal: 1 Agustus 2020',
                  'Waktu: 08.00 - 10.00 WIB',
                  'Lokasi: Jl. Raya Kb. Jeruk No.27, Kb. Jeruk, Kec. Kb. Jeruk, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11530'
                ],
                itemTitle: 'Kriteria:',
                item: [
                  'Minimal berusia 17 tahun',
                  'Membawa CV dan fotokopi KTP'
                ]
              },
              {
                icon: 'calendar.svg',
                title: '#TAYTB Fest',
                description: [
                  'Tanggal: 4 - 7 Agustus 2020',
                  'Waktu: 17.00 WIB - selesai',
                  'Lokasi: The Tribrata Darmawangsa Jakarta Jl. Darmawangsa III No.2, Pulo, Kec. Kby. Baru, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12160'
                ],
                link: {
                  text: 'Beli Tiket',
                  to: '#'
                }
              },
              {
                icon: 'calendar.svg',
                title: 'Job Fair Universitas Tarumanegara',
                description: [
                  'Tanggal: 18 Agustus 2020',
                  'Waktu: 08.00 - 10.00 WIB',
                  'Lokasi: Jl. Letjen S. Parman St No.1, Tomang, Grogol petamburan, West Jakarta City, Jakarta 11440'
                ],
                itemTitle: 'Kriteria:',
                item: [
                  'Minimal berusia 17 tahun',
                  'Membawa CV dan fotokopi KTP'
                ]
              },
              {
                icon: 'calendar.svg',
                title: 'ICON OCBC NISP di ITB, Bandung',
                description: [
                  'Tanggal: 20 Agustus 2020',
                  'Waktu: 09.00 - 12.00 WIB',
                  'Lokasi: Aula 1, Institut Teknologi Bandung Jl. Ganesha No.10, Lb. Siliwangi, Kecamatan Coblong, Kota Bandung, Jawa Barat 40132'
                ],
                itemTitle: 'Kriteria:',
                item: [
                  'Mahasiswa/i Institut Teknologi Bandung',
                  'Minimal GPA 3.00',
                  'Aktif berorganisasi dalam/luar kampus'
                ],
                link: {
                  text: 'Selengkapnya',
                  to: 'artikel.html'
                }
              }
            ]

          include ../../layout/card-location.pug

      -
        data = {
          prevTo: '#',
          nextTo: '#',
          list: [
            {
              to: '#',
              text: '1'
            },
            {
              to: '#',
              text: '2'
            },
            {
              to: '#',
              text: '3'
            },
            {
              to: '#',
              text: '3dot'
            },
            {
              to: '#',
              text: '25'
            }
          ]
        }
      include ../../components/pagination.pug

      -
        data = {
          icon: 'no-result.svg',
          text: 'Halaman yang Anda Cari Tidak Tersedia'
        }
      include ../../components/no-result.pug
