//-------------------------------------------------------------------------------
  @name: Karir - For The ONe  - Product Banner
  @description: Karir - For The ONe  - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'For The ONe',
    description: 'Cari tahu keseruan yang sedang ada di OCBC NISP saat ini',
    image: {
      desktop: 'detail-karir-d.jpg',
      mobile: 'detail-karir-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
