//-------------------------------------------------------------------------------
  @name: FAQ - Search Banner
  @description: FAQ - Search Banner
  -------------------------------------------------------------------------------//
-
  formPage = 'faq';
  data = {
    title: 'FAQ',
    image: {
      desktop: 'search-banner-d.jpg',
      mobile: 'search-banner-m.jpg'
    },
    placeholder: ''
  }
include ../../components/search-banner.pug
