//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab
  @description: FAQ - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'General',
      subcategory: [
        {
          text: 'Biaya Transaksi',
          target: 'biaya-transaksi'
        },
        {
          text: 'Password',
          target: 'password'
        },
        {
          text: 'Kartu ATM',
          target: 'kartu-atm'
        }
      ]
    },
    {
      text: 'Individu',
      subcategory: [
        {
          text: 'Simpanan',
          target: 'simpanan'
        },
        {
          text: 'Pinjaman',
          target: 'pinjaman'
        },
        {
          text: 'Nyala',
          target: 'nyala'
        },
        {
          text: 'Kartu Transaksi',
          target: 'kartu-transaksi'
        },
        {
          text: 'Life Goals',
          target: 'life-goals'
        },
        {
          text: 'Premier Banking',
          target: 'premier-banking'
        },
        {
          text: 'Private Banking',
          target: 'private-banking'
        }
      ]
    },
    {
      text: 'SME',
      target: 'sme'
    },
    {
      text: 'Korporasi',
      target: 'korporasi'
    },
    {
      text: 'Syariah',
      target: 'syariah'
    },{
      text: 'Digital Channel',
      subcategory: [
        {
          text: 'ONe Mobile',
          target: 'one-mobile'
        },
        {
          text: 'Internet Banking',
          target: 'internet-banking'
        },
        {
          text: 'ATM OCBC NISP',
          target: 'atm-ocbc-nisp'
        },
        {
          text: 'SMS Banking OCBC NISP',
          target: 'sms-ocbc-nisp'
        },
        {
          text: 'Velocity Mobile',
          target: 'velocity-mobile'
        }
      ]
    },
    {
      text: 'Karir',
      target: 'karir'
    },
    {
      text: 'Tentang OCBC NISP',
      target: 'tentang-ocbc-nisp'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page.ocbc-vertical-tab__page--faq
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='biaya-transaksi')
          include tab-content/biaya-transaksi.pug
        .ocbc-vt-content(data-pane='password')
          include tab-content/password.pug
        .ocbc-vt-content(data-pane='kartu-atm')
          include tab-content/kartu-atm.pug
        .ocbc-vt-content(data-pane='simpanan')
          include tab-content/simpanan.pug
        .ocbc-vt-content(data-pane='pinjaman')
          include tab-content/pinjaman.pug
        .ocbc-vt-content(data-pane='nyala')
          include tab-content/nyala.pug
        .ocbc-vt-content(data-pane='kartu-transaksi')
          include tab-content/kartu-transaksi.pug
        .ocbc-vt-content(data-pane='life-goals')
          include tab-content/life-goals.pug
        .ocbc-vt-content(data-pane='premier-banking')
          include tab-content/premier-banking.pug
        .ocbc-vt-content(data-pane='private-banking')
          include tab-content/private-banking.pug
        .ocbc-vt-content(data-pane='sme')
          include tab-content/sme.pug
        .ocbc-vt-content(data-pane='korporasi')
          include tab-content/korporasi.pug
        .ocbc-vt-content(data-pane='syariah')
          include tab-content/syariah.pug
        .ocbc-vt-content(data-pane='one-mobile')
          include tab-content/one-mobile.pug
        .ocbc-vt-content(data-pane='internet-banking')
          include tab-content/internet-banking.pug
        .ocbc-vt-content(data-pane='atm-ocbc-nisp')
          include tab-content/atm-ocbc-nisp.pug
        .ocbc-vt-content(data-pane='sms-ocbc-nisp')
          include tab-content/sms-ocbc-nisp.pug
        .ocbc-vt-content(data-pane='velocity-mobile')
          include tab-content/velocity-mobile.pug
        .ocbc-vt-content(data-pane='karir')
          include tab-content/karir.pug
        .ocbc-vt-content(data-pane='tentang-ocbc-nisp')
          include tab-content/tentang-ocbc-nisp.pug
