//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - Bank Academy
  @description: Karir - Be The ONe - Vertical Tab - Bank Academy
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Bank Academy
    ='\n'
    img.ocbc-vt-content__img-content(src='img/dummy/page/karir/bank-academy-1.jpg', alt='Image Karir')/
    |!{''}
    |

    h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold.ocbc-vt-content__title--narrow
      | Banking For IT
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold
      | BE THE ONe TO SHAPE THE FUTURE OF BANKING
    p.ocbc-vt-content__p
      | Siapkan dirimu menjadi seseorang yang bisa membawa inovasi untuk banyak orang melalui pengetahuan, kemampuan, dan minat di bidang teknologi. OCBC NISP Banking Academy memberikan pengalaman belajar yang komprehensif melalui kurikulum terstruktur yang dirancang khusus dan terbagi menjadi in-class training, observasi, dan on-the-job training (OJT).
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--narrow
      | Kualifikasi:
    ul.ocbc-vt-content__ul
      li.ocbc-vt-content__li
        | Fresh graduate dengan konsentrasi di bidang komputer dan teknologi
      li.ocbc-vt-content__li
        | Minimal IPK 3.00/4.00
      li.ocbc-vt-content__li
        | Maksimal 2 tahun pengalaman kerja

  .ocbc-vt-content__content-wrapper
    ='\n'
    img.ocbc-vt-content__img-content(src='img/dummy/page/karir/bank-academy-2.jpg', alt='Image Karir')/
    |!{''}
    |
    h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold.ocbc-vt-content__title--narrow
      | Banking For Sales
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold
      | BE THE ONe TO CONNECT BANKING SOLUTIONS WITH PEOPLE
    p.ocbc-vt-content__p
      | OCBC NISP mencari fresh graduates yang siap mengembangkan karir di bidang sales perbankan dan menjadi agen perubahan finansial buat banyak orang. Temukan pengalaman belajar yang komprehensif melalui kurikulum terstruktur yang dirancang khusus untuk setiap jalur karir di program Banking Academy yang terbagi menjadi classroom training, observasi, dan on-the-job training (OJT).
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--narrow
      | Kualifikasi:
    ul.ocbc-vt-content__ul
      li.ocbc-vt-content__li
        | Fresh graduate, min. S1 dari segala jurusan atau sudah memiliki pengalaman kerja di bidang sales maksimal 2 tahun
      li.ocbc-vt-content__li
        | Memiliki IPK min. 2.75
      li.ocbc-vt-content__li
        | Memiliki kemampuan komunikasi dan interpersonal skill yang baik
      li.ocbc-vt-content__li
        | Memiliki motivasi yang tinggi dan menyukai tantangan
      li.ocbc-vt-content__li
        | Menyukai bidang penjualan
