//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - Young Bankers
  @description: Karir - Be The ONe - Vertical Tab - Young Bankers
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black
    | Young Bankers
  ='\n'
  iframe.ocbc-vt-content__iframe(src='https://www.youtube.com/embed/wxA2Kd7-5os' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold.ocbc-vt-content__title--narrow
    | Kami Percaya Bahwa Semua Orang Punya Kesempatan Sukses
  h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold
    | BE THE ONe TO LEAD THE FUTURE OF BANKING
  p.ocbc-vt-content__p
    | Wujudkan keinginan berkarir di dalam manajemen perbankan dan jawab tantangan dengan program OCBC NISP Young Bankers.
  p.ocbc-vt-content__p
    | Dapatkan proses pembelajaran yang terstruktur selama 18 bulan untuk membangun fondasi yang kuat mengenai dunia perbankan. Proses pembelajaran meliputi program training secara komprehensif, penugasan dalam rotasi proyek, dan mentoring oleh senior management.

  h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--narrow
    | Kualifikasi:
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li
      | Fresh graduates atau memiliki pengalaman kerja maksimal 2 taun
    li.ocbc-vt-content__li
      | S1/S2 dari universitas terkemuka
    li.ocbc-vt-content__li
      | Minimal IPK 3.00/4.00
    li.ocbc-vt-content__li
      | Fasih dalam bahasa Inggris

  p.ocbc-vt-content__p
    | Tentukan pilihan karir Anda, kirimkan CV dan transkrip nilai ke graduate@ocbcnisp.com
