/* ==========================================================================
   OCBC Element: Select Search
   ========================================================================== */

.#{$prefix}select-search {
  $s: &;
  position: relative;
  display: inline-block;
  z-index: $z-select;
  width: 100%;
  &__element {
    display: none;
  }
  // --- override
  .select2-container {
    min-width: 100%;
    + .select2-container {
      top: 40px !important;
      left: 0 !important;
      bottom: auto !important;
      @include small {
        top: 36px !important;
      }
    }
  }
  .select2-container--default .select2-selection--single {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    height: auto;
    padding-bottom: 8px;
    border-bottom: solid 1px color(gray, 3);
    &:active,
    &:focus {
      outline: 0;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    @include font-size(body);
    color: color(gray, 2);
    padding: 0;
  }
  .select2-container--focus.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: color(gray, 1);
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: auto;
    top: 4px;
    right: 16px;
    width: auto;
    line-height: 0;
    b {
      display: none;
    }
    // <pseudo-element/>
    @include element(after) {
      z-index: $z-card-icon-after;
      @include font-icon("\e906");
      font-size: 1.6rem;
      transition: all .3s ease;
      display: block;
    }
  }
  .select2-container--open.select2-container--default .select2-selection--single .select2-selection__arrow {
    // <pseudo-element/>
    @include element(after) {
      transform: rotateX(180deg);
    }
  }
  .select2-results {
    max-height: 184px;
    overflow: hidden;
  }
  .select2-container--default .select2-results .select2-results__options {
    max-height: initial;
    overflow: initial;
  }
  .select2-search--dropdown {
    padding: 0;
  }
  .select2-container--default .select2-search--dropdown .select2-search__field {
    padding: 10px 24px;
    border: 0;
    outline: 0;
    @include font-size(body);
    color: color(gray, 1);
    border-bottom: solid 1px color(gray, 3);
  }
  .select2-container--open .select2-dropdown--below {
    border: 0;
    overflow: hidden;
    border-radius: 8px;
    background-color: color(white);
    @include shadow(16);
  }
  .select2-results__option {
    padding: 10px 56px 10px 24px;
    color: color(gray, 1);
    position: relative;
    transition: all .3s ease;
  }
  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: color(gray, 6);
    color: color(gray, 1);
  }
  .select2-container--default .select2-results__option--selected {
    background-color: transparent;
    color: color(primary, 1);
    // <pseudo-element/>
    @include element(after) {
      position: absolute;
      top: 14px;
      right: 24px;
      z-index: $z-card-icon-after;
      @include font-icon("\e905");
      font-size: 1.6rem;
      color: color(primary, 1);
    }
  }
  // --- if not scrollable
  .mCustomScrollBox[style="max-height: none;"] {
    .mCSB_scrollTools_vertical {
      display: none !important;
    }
  }
  .mCSB_scrollTools {
    width: 12px;
  }
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
  .mCSB_scrollTools .mCSB_draggerContainer {
    top: 4px;
    bottom: 4px;
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    display: none;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 4px;
    background-color: color(gray, 6);
    opacity: 1;
  }
  .mCS-inset-3.mCSB_scrollTools
    .mCSB_dragger.mCSB_dragger_onDrag
    .mCSB_dragger_bar {
    background-color: blue;
  }
  // --- /override
}
