/* ==========================================================================
   OCBC Element: Burger Menu
   ========================================================================== */

.#{$prefix}burger-menu {
  $bm: &;
  width: 40px;
  height: 40px;
  font-size: 0;
  line-height: 1;
  padding: 12px 10px;
  text-align: right;
  cursor: pointer;
  @include remove-tap-highlight;
  &__bar {
    width: 20px;
    height: 2px;
    display: inline-block;
    margin-bottom: 5px;
    background-color: color(gray, 1);
    border-radius: 1px;
    transition: all 0.35s ease;
    transition-delay: 0.4s;
    transform-origin: center center;
    &:nth-child(1) {
      width: 18px;
      margin-top: 1px;
    }
    &:nth-child(2) {
      width: 16px;
      opacity: 1;
      transform: scaleX(1);
    }
    &:nth-child(3) {
      margin-bottom: 0;
    }
    // -- premier site
    .#{$prefix}premier-site &,
    // -- private site
    .#{$prefix}private-site & {
      background-color: color(white);
    }
  }
  // variant
  &--white {
    #{$bm}__bar {
      background-color: color(white);
    }
  }
  // show-navigation
  .ocbc-show-navigation & {
    &__bar {
      &:nth-child(1) {
        width: 20px;
        transform: rotate(135deg) translate(4px, -4px);
        transition-delay: 0.3s;
      }
      &:nth-child(2) {
        transform: scaleX(0);
        opacity: 0;
        transition-delay: 0s;
      }
      &:nth-child(3) {
        transform: rotate(-135deg) translate(6px, 6px);
        transition-delay: 0.3s;
      }
    }
  }
}
