/* ==========================================================================
   OCBC Element: Icons
   ========================================================================== */

 [class^="#{$prefix}fi-"],
 [class*=" #{$prefix}fi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: ff(family-icon);
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$prefix}fi {
  &-linkedin:before {
    content: "\e91c";
  }
  &-whatsapp:before {
    content: "\e91d";
  }
  &-line:before {
    content: "\e91e";
  }
  &-copylink:before {
    content: "\e91b";
  }
  &-add:before {
    content: "\e900";
  }
  &-arrow-right:before {
    content: "\e901";
  }
  &-burger-menu:before {
    content: "\e902";
  }
  &-calendar:before {
    content: "\e903";
  }
  &-call:before {
    content: "\e904";
  }
  &-checklist:before {
    content: "\e905";
  }
  &-chevron-down:before {
    content: "\e906";
  }
  &-chevron-left:before {
    content: "\e907";
  }
  &-chevron-right:before {
    content: "\e908";
  }
  &-chevron-up:before {
    content: "\e909";
  }
  &-ewallet:before {
    content: "\e90a";
  }
  &-exit:before {
    content: "\e90b";
  }
  &-facebook:before {
    content: "\e90c";
  }
  &-instagram:before {
    content: "\e90d";
  }
  &-login:before {
    content: "\e90e";
  }
  &-pie-chart:before {
    content: "\e90f";
  }
  &-question-mark:before {
    content: "\e910";
  }
  &-refresh:before {
    content: "\e911";
  }
  &-search:before {
    content: "\e912";
  }
  &-switch:before {
    content: "\e913";
  }
  &-twitter:before {
    content: "\e914";
  }
  &-youtube:before {
    content: "\e915";
  }
  &-exit-small:before {
    content: "\e916";
  }
  &-play-button:before {
    content: "\e917";
  }
  &-twitter-circle:before {
    content: "\e918";
  }
  &-instagram-circle:before {
    content: "\e919";
  }
  &-phone-circle:before {
    content: "\e91a";
  }

}
