/* ==========================================================================
   OCBC Element: List
   ========================================================================== */

.#{$prefix}list {
  padding-left: 24px;

  &--ol {
    list-style-type: decimal;
  }

  &__item {
    @include font-size(body);
    margin-bottom: 0;
  }
}
