/* ==========================================================================
   OCBC Component: Sort Fragment
   ========================================================================== */

.#{$prefix}input-range-slider__input {
  &>.irs {
    height: auto;
    padding-top: 48px;
    padding-bottom: 40px;

    @include small {
      padding-top: 40px;
    }

    &>.irs {
      position: static;

      .irs-line {
        top: 0;
        height: 8px;
        background-color: color(gray, 6);

        &::before {
          content: "";
          background-color: color(gray, 5);
          position: absolute;
          top: 0;
          left: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }

        &::after {
          content: "";
          background-color: color(gray, 5);
          position: absolute;
          top: 0;
          right: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }

      .irs-min,
      .irs-max {
        padding: 0;
        background-color: transparent;
        top: auto;
        bottom: 0;
        color: color(gray, 2);
        font-family: "Fira Sans";
        font-weight: fw(regular);
        @include font-size(body);
        visibility: visible !important;
      }

      .irs-single {
        padding: 0;
        color: color(gray, 1);
        background-color: transparent;
        font-family: "Fira Sans";
        @include font-size(h4);
        font-weight: fw(bold);

        &::before {
          display: none;
        }
      }
    }

    .irs-bar {
      background-color: transparent;
    }

    .irs-handle {
      top: 40px;
      border: 5px solid color(primary, 3);
      background-color: color(white);
      cursor: pointer;
      box-shadow: 0 10px 20px 0 rgba(color(black), .05), 0 3px 30px 3px rgba(color(black), .05), inset 0 1px 3px 0 rgba(color(black), .5);

      &:hover {
        background-color: color(white);
      }

      @include small {
        top: 32px;
      }
    }
  }
}
