/* ==========================================================================
   OCBC Element: Tag Label
   ========================================================================== */

.#{$prefix}tag-label {
  @include font-size(body);
  color: color(gray, 2);
  display: inline-block;
  padding: 6px 24px;
  border-radius: 32px;
  border: solid 2px color(gray, 2);
}
