/* ==========================================================================
   OCBC Elemeny: Scroll Indicator
   ========================================================================== */

.#{$prefix}scroll-indicator {
  height: 8px;
  width: 0;
  background-color: color(primary, 1);
  position: fixed;
  z-index: $z-scroll-indicator;
  top: 72px;
  transition: transform 0.35s ease;
  // window scroll
  .#{$prefix}scroll-down & {
    transform: translateY(-72px);
    transition: transform 0.5s ease;
  }
  @include large {
    top: 64px;
    // window scroll
    .#{$prefix}scroll-down & {
      transform: translateY(-64px);
    }
  }
}
