/* ==========================================================================
   OCBC Element: Preloader
   ========================================================================== */

.#{$prefix}preloader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: color(white);
  text-align: center;
  &__spinner {
    margin: 6px auto;
    fill: transparent;
    stroke: color(primary, 1);
    stroke-width: 4;
    animation: preloader-spinner-dash 1.75s ease infinite, preloader-spinner-rotate 1.75s linear infinite;
    // -- premier site
    .#{$prefix}premier-site & {
      stroke: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      stroke: color(private, 1);
    }
    .#{$prefix}form-preloader & {
      stroke-linecap: round;
      animation: preloader-spinner-dash-form 2s ease infinite, preloader-spinner-rotate 2s linear infinite;
    }
  }
}

@keyframes preloader-spinner-dash {
  0% {
    stroke-dasharray: 1, 95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -93;
  }
}

@keyframes preloader-spinner-dash-form {
  0% {
    stroke-dasharray: 1, 125;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 92, 125;
    stroke-dashoffset: -34;
  }
  100% {
    stroke-dasharray: 92, 125;
    stroke-dashoffset: -124;
  }
}

@keyframes preloader-spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
