/* ==========================================================================
   OCBC Element: Button Text Link
   ========================================================================== */

&-txt-lnk {
  $ba: &;
  display: inline-block;
  text-decoration: none;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.3s ease;
  background-color: transparent;
  color: color(gray, 1);
  // desktop karena di mobile masih sama ukurannya
  @include font-size(body, desktop);
  @include remove-tap-highlight;


  // <pseudo-element/>
  @include element(after) {
    @include font-icon("\e901");
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    transition: all 0.3s ease;
    line-height: 2.4rem;
    color: color(primary, 1);
  }

  &:hover {
    color: color(primary, 1);

    // <pseudo-element/>
    @include element(after) {
      transform: translateX(4px);
    }
  }

  // ---- modifier
  @include modifier(btn-txt-lnk);
}
