/* ==========================================================================
   OCBC Element: Button Rounded
   ========================================================================== */

&-round {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid color(primary, 1);
  padding: 13px 0;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  @include remove-tap-highlight;
  .#{$prefix}fi {
    display: inline-block;
    vertical-align: middle;
    transition: all .2s ease;
    position: relative;
    font-size: 2rem;
    transition: all .3s ease;
  }
  &:hover {
    background-color: rgba(color(secondary, 8),.05);
    .#{$prefix}fi {
      &-chevron {
        &-left {
          transform: translateX(-2px);
        }
        &-right {
          transform: translateX(2px);
        }
      }
    }
  }
}
