/* ==========================================================================
   OCBC Element: Image
   ========================================================================== */

.#{$prefix}img {
  &--full {
    display: block;
    width: 100%;
  }
  &--d {
    display: block;
  }
  &--m {
    display: none;
  }
  @include small {
    &--d {
      display: none;
    }
    &--m {
      display: block;
    }
  }
}
