/* ==========================================================================
   OCBC Element: Text
   ========================================================================== */

.#{$prefix}txt {
  // ---- modifier
  @include modifier(font-weight);
  @include modifier(color);

  // ---- RWD (default desktop + mobile)
  &__hero {
    @include font-size(hero);
  }
  &__h1 {
    @include font-size(h1);
  }
  &__h2 {
    @include font-size(h2);
  }
  &__h3 {
    @include font-size(h3);
  }
  &__h4 {
    @include font-size(h4);
  }
  &__h5 {
    @include font-size(h5);
  }
  &__h6 {
    @include font-size(h6);
  }
  &__body {
    @include font-size(body);
  }
  &__label {
    @include font-size(label);
  }
  &__small {
    @include font-size(small);
  }
  &__micro {
    @include font-size(micro);
  }

  // ---- mobile size on desktop
  &__m-hero {
    @include font-size(hero, mobile);
  }
  &__m-h1 {
    @include font-size(h1, mobile);
  }
  &__m-h2 {
    @include font-size(h2, mobile);
  }
  &__m-h3 {
    @include font-size(h3, mobile);
  }
  &__m-h4 {
    @include font-size(h4, mobile);
  }
  &__m-h5 {
    @include font-size(h5, mobile);
  }
  &__m-h6 {
    @include font-size(h6, mobile);
  }
  &__m-body {
    @include font-size(body, mobile);
  }
  &__m-label {
    @include font-size(label, mobile);
  }
  &__m-small {
    @include font-size(small, mobile);
  }
  &__m-micro {
    @include font-size(micro, mobile);
  }
}
