/* ==========================================================================
   OCBC Element: Button Icon
   ========================================================================== */

&-icon {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: 0;
  padding: 4px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  background-color: transparent;
  .#{$prefix}fi {
    font-size: 2.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
  &:hover {
    color: color(primary, 1);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
  }
}
