/* ==========================================================================
   OCBC Element: Link
   ========================================================================== */

.#{$prefix}lnk {
  font-size: inherit;
  line-height: inherit;
}
