/* ==========================================================================
   OCBC Element: Button Icon Text
   ========================================================================== */

&-icon-txt {
  $bit: &;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  outline: 0;
  border: 0;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  color: color(gray, 1);
  line-height: 1;
  font-size: 0;
  transition: color 0.3s ease;
  text-align: center;
  &:hover {
    color: color(primary, 1);
    #{$bit}__icon__img {
      &--default {
        opacity: 0;
      }
      &--hover {
        opacity: 1;
      }
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 8px;
    .#{$prefix}fi {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 2.4rem;
    }
    &__img {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transition: opacity .3s ease;
      &--hover {
        opacity: 0;
      }
    }
  }
  &__txt {
    display: inline-block;
    vertical-align: middle;
    @include font-size(button);
  }
}
