/* ==========================================================================
   OCBC Element: Aspect Ratio
   ========================================================================== */

@mixin aspect-ratio-media {
  width: 100%;
  position: relative;
  iframe, embed, video, object {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: fz(small);
    font-weight: fw(regular);
  }
}

.#{$prefix}aspect-ratio {
  padding-top: 50%;
  @include aspect-ratio-media;
  &-21by9 {
    padding-top: 42.8671428%;
    @include aspect-ratio-media;
  }
  &-16by9 {
    padding-top: 56.25%;
    @include aspect-ratio-media;
  }
  &-8by5 {
    padding-top: 62.5%;
    @include aspect-ratio-media;
  }
  &-4by3{
    padding-top: 75%;
    @include aspect-ratio-media;
  }
  &-3by2{
    padding-top: 66.6666666%;
    @include aspect-ratio-media;
  }
  &-2by1{
    padding-top: 50%;
    @include aspect-ratio-media;
  }
  &-1by1{
    padding-top: 100%;
    @include aspect-ratio-media;
  }
}
