/* ==========================================================================
   OCBC Element: Background
   ========================================================================== */

.#{$prefix}bg {
  // ---- modifier
  @include modifier(bg-color);

  // --- overlay
  &-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: $z-bg-overlay;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(color(secondary, 7), 0.8);
    transition: all 0.25s ease;
    transition-delay: 0.1s;

    // --- ocbc-mega-menu--show
    .#{$prefix}mega-menu--show & {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;

      @include element(after) {
        transform: scaleY(1);
        transition-delay: 0s;
      }
    }

    // --- ocbc-search-form--show
    .#{$prefix}search-form--show & {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }
  }
}
