/* ==========================================================================
   OCBC Element: Button Rachel
   ========================================================================== */

&-rachel {
  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
}
