/* ==========================================================================
   OCBC Element: Select
   ========================================================================== */

.#{$prefix}select {
  $s: &;
  position: relative;
  display: inline-block;
  z-index: $z-select;
  &--full {
    width: 100%;
    display: block;
  }
  &__text {
    margin-bottom: 0;
    @include font-size(body);
    padding-bottom: 8px;
    border-bottom: solid 1px color(gray, 3);
    position: relative;
    padding-right: 48px;
    cursor: pointer;
    @include remove-tap-highlight;
    // <pseudo-element/>
    @include element(after) {
      position: absolute;
      bottom: 14px;
      right: 16px;
      z-index: $z-card-icon-after;
      @include font-icon("\e906");
      font-size: 1.6rem;
    }
  }
  &__element {
    display: none;
  }
  &__list {
    position: absolute;
    left: 0;
    right: 0;
    margin: 8px 0 0;
    background-color: color(white);
    border-radius: 8px;
    @include scroll(y, touch, show);
    max-height: 185px;
    opacity: 0;
    transform: translateY(-8px);
    visibility: hidden;
    transition: all 0.25s ease 0.1s;
    max-width: 100%;
    white-space: nowrap;
    @include shadow(16);
    @include large {
      padding-top: 8px;
      padding-bottom: 4px;
    }
  }
  &__item {
    white-space: normal;
    max-width: 100%;
    padding: 8px 56px 8px 24px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    transform: translateY(8px);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s, background-color 0.25s ease 0s;
    &-sub {
      padding-left: 32px;
    }
    @include small {
      padding: 8px 48px 8px 16px;
      &-sub {
        padding-left: 32px;
      }
    }
    &--sub-label {
      color: color(gray, 2);
    }
    // <pseudo-element/>
    @include element(after) {
      position: absolute;
      top: 11px;
      right: 24px;
      z-index: $z-card-icon-after;
      @include font-icon("\e905");
      font-size: 1.6rem;
      display: none;
      @include small {
        right: 16px;
      }
    }
    &__text {
      @include font-size(small);
      margin-bottom: 0;
    }
    &--selected {
      color: color(primary, 1);
      // <pseudo-element/>
      @include element(after) {
        display: block;
      }
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(premier, 1);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(private, 1);
      }
    }
    &:hover {
      background-color: color(gray, 6);
    }
  }
  // state
  &--show {
    z-index: $z-select + 1;
    #{$s}__list {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition-delay: 0s;
    }
    #{$s}__item {
      opacity: 1;
      transform: translateY(0);
      transition: transform 0.2s ease 0.1s, opacity 0.2s ease 0.1s, background-color 0.25s ease 0s;
    }
  }
  // --- override
  // --- if not scrollable
  .mCustomScrollBox[style="max-height: none;"] {
    .mCSB_scrollTools_vertical {
      display: none !important;
    }
  }
  .mCSB_scrollTools {
    width: 12px;
  }
  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }
  .mCSB_scrollTools .mCSB_draggerContainer {
    top: 4px;
    bottom: 4px;
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    display: none;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    border-radius: 4px;
    background-color: color(gray, 6);
    opacity: 1;
  }
  .mCS-inset-3.mCSB_scrollTools
    .mCSB_dragger.mCSB_dragger_onDrag
    .mCSB_dragger_bar {
    background-color: blue;
  }
  // --- /override
}
