/* ==========================================================================
   OCBC Element: Input
   ========================================================================== */

.#{$prefix}input {
  outline: 0;
  padding: 4px 12px;
  color: color(gray, 1);
  @include font-size(body);
  // ---- modifier
  @include modifier(input);
  &::-ms-clear {
    display: none;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: color(gray, 1);
    font-size: fz(body, desktop);
    line-height: lh(body, desktop);
    font-weight: fw(regular);
    animation-name: autofilFormText;
    animation-fill-mode: both;
    box-shadow: inset 0 0 0 48px color(white);
  }
}

@keyframes autofilFormText {
  to {
    color: color(gray, 1);
    background-color: transparent;
  }
}
