/* ==========================================================================
   OCBC Element: Button
   ========================================================================== */

.#{$prefix}btn {
  $b: &;
  // desktop karena di mobile masih sama ukurannya
  @include font-size(button, desktop);
  display: inline-block;
  min-width: 184px;
  height: 48px;
  padding: 10px 24px;
  border-radius: 24px;
  text-decoration: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease;
  background-color: transparent;
  @include remove-tap-highlight;

  @include small {
    padding: 10px 16px;
  }

  // --- modifier
  @include modifier(btn);

  // ~~~~~~ VARIANT ~~~~~~
  // --- widget
  @import "ocbc-button-widget";

  // --- icon
  @import "ocbc-button-icon";

  // --- icon-text
  @import "ocbc-button-icon-text";

  // --- text-link
  @import "ocbc-button-text-link";

  // rounded
  @import "ocbc-button-rounded";

  // rachel
  @import "ocbc-button-rachel";
}
