/* ==========================================================================
   OCBC Element: Button Widget
   ========================================================================== */

&-widget {
  @include font-size(button);
  display: inline-block;
  min-width: 144px;
  width: 100%;
  height: 48px;
  padding: 10px 16px 10px 56px;
  border-radius: 8px;
  text-decoration: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: left;
  vertical-align: middle;
  transition: all 0.3s ease;
  background-color: color(white);
  @include remove-tap-highlight;
  @include shadow(6);
  position: relative;
  transition: all 0.3s ease;
  color: color(gray, 1);
  &:hover {
    transform: translateY(-4px);
    color: color(primary, 1);
    @include shadow(16);
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(private, 1);
    }
  }
  @include medium {
    padding: 12px 16px 12px 56px;
  }
  &__icon-wrapper {
    width: 24px;
    height: 24px;
    text-align: center;
    display: block;
    position: absolute;
    left: 16px;
    top: 50%;
    margin-top: -12px;
  }
  &__icon {
    max-width: 24px;
    max-height: 24px;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .#{$prefix}fi {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.4rem;
    transform: translate(-50%, -50%);
  }
}
