extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = '403';
    page = 'error-state';

//- siteContent
block siteContent
  -
    data = {
      image: {
        desktop: '403.jpg',
        mobile: '403-m.jpg'
      },
      title: '403',
      subTitle: 'Oops, halaman ini tidak dapat kamu akses',
      description: 'Halaman yang kamu tuju memiliki akses yang terbatas',
      button: [
        {
          class: 'ocbc-btn--primary',
          to: 'index.html',
          text: 'Ke Beranda'
        }
      ],
      cardsList: {
        title: 'Tapi halaman di bawah ini bebas kamu kunjungi kapan saja:',
        list: [
          {
            img: 'card-recommendation.svg',
            to: '#',
            title: 'OCBC Life Goals'
          },
          {
            img: 'card-recommendation.svg',
            to: '#',
            title: 'Solusi Dana Repatriasi'
          },
          {
            img: 'card-recommendation.svg',
            to: '#',
            title: 'Personal Financial Check Up'
          }
        ]
      }
    }
  include ../layout/error-state.pug
