extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = '404';
    page = 'error-state';

//- siteContent
block siteContent
  -
    data = {
      image: {
        desktop: '404.jpg',
        mobile: '404-m.jpg'
      },
      title: '404',
      subTitle: 'Maaf, Halaman Tidak Ditemukan',
      description: 'Halaman yang dibuka sudah tidak ada atau pindah dari sini',
      button: [
        {
          class: 'ocbc-btn--primary',
          to: 'index.html',
          text: 'Ke Beranda'
        }
      ],
      cardsList: {
        title: "Kamu bisa cek rekomendasi kami:",
        list: [
          {
            img: 'card-recommendation.svg',
            to: '#',
            title: 'Tanda 360 Plus'
          },
          {
            img: 'card-recommendation.svg',
            to: '#',
            title: 'Taka Bunga'
          },
          {
            img: 'card-recommendation.svg',
            to: '#',
            title: 'Deposito'
          }
        ]
      }
    }
  include ../layout/error-state.pug
