extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = '500';
    page = 'error-state';

//- siteContent
block siteContent
  -
    data = {
      image: {
        desktop: '500.jpg',
        mobile: '500-m.jpg'
      },
      title: '500',
      subTitle: 'Oops, Terjadi Kesalahan pada Halaman ini',
      description: 'Coba kembali ke halaman ini beberapa saat lagi',
      button: [
        {
          class: 'ocbc-btn--primary',
          to: '#destination-page',
          text: 'Coba Lagi'
        },
        {
          class: 'ocbc-btn--secondary',
          to: 'index.html',
          text: 'Ke Beranda'
        }
      ]
    }
  include ../layout/error-state.pug
