extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Artikel';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'light';
  ='\n\n'
  //- Main Banner
  include artikel/main-banner.pug

  ='\n\n'
  //- Content
  include artikel/content.pug
  ='\n'
