extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Artikel - Detail';
    activeMenu = '';
    page = 'article-detail';

//- siteContent
block siteContent

  //- Breadcrumbs
  ='\n\n'
  include artikel-detail/breadcrumbs.pug

  //- Content Detail
  ='\n\n'
  include artikel-detail/content-detail.pug

  ='\n\n'
  //- Card Article
  include artikel-detail/card-article.pug
  ='\n\n'
