extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Bunga & Biaya';
    activeMenu = '';
    page = 'bunga-biaya';

//- siteContent
block siteContent

  - bannerMode = 'dark';

  ='\n\n'
  //- Product Banner
  include bunga-dan-biaya/product-banner.pug

  ='\n\n'
  //- Card Suggestion
  include bunga-dan-biaya/card-suggestion.pug
  ='\n\n'
