extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Bunga & Biaya - Bunga & Biaya Digital Channel';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'dark';

  ='\n\n'
  //- Breadcrumbs
  include bunga-dan-biaya-digital-channel/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include bunga-dan-biaya-digital-channel/product-banner.pug

  ='\n\n'
  //- Tab
  include bunga-dan-biaya-digital-channel/tab.pug
  ='\n\n'
