extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Bunga & Biaya - Bunga & Biaya Individu';
    activeMenu = '';
    page = 'bunga-biaya';

//- siteContent
block siteContent

  - bannerMode = 'dark';

  ='\n\n'
  //- Breadcrumbs
  include bunga-dan-biaya-individu/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include bunga-dan-biaya-individu/product-banner.pug

  ='\n\n'
  //- Tab
  include bunga-dan-biaya-individu/tab.pug
