extends ../templates/design-system-template.pug

//--- Mixin ---
include design-system/mixin.pug

block siteHeader
  -
    siteTitle = 'Design System | Brand Guideline';

block content

  ='\n\n'
  //- navigation
  include design-system-brand-guideline/navigation-content.pug

  ='\n\n'
  //- content
  include design-system-brand-guideline/content.pug
  ='\n'
