extends ../templates/design-system-template.pug

//--- Mixin ---
include design-system/mixin.pug

block siteHeader
  -
    siteTitle = 'Design System';

block content
  ='\n\n'
  //ocbc-ds__splash-screen
  .ocbc-ds__splash-screen.ocbc-ds__splash-screen--show
    .ocbc-ds__splash-screen__desc
      img.ocbc-ds__splash-screen__logo(src='img/logo/ocbc-white.svg', alt='OCBC NISP')/
      |!{''}
      |
      h1.ocbc-ds__splash-screen__title.ocbc-txt--white
        | Official Website
        br/
        | Design System

  ='\n\n'
  //- navigation
  include design-system/navigation-content.pug

  ='\n\n'
  //- content
  include design-system/content.pug
  ='\n'
