extends ../templates/design-system-template.pug

//--- Mixin ---
include design-system/mixin.pug

block siteHeader
  -
    siteTitle = 'Design System | Components';

block content
  ='\n\n'
  //- navigation
  include design-system-components/navigation-content.pug

  ='\n\n'
  //- content
  .ocbc-ds__components
    include design-system-components/content.pug

  ='\n\n'
  .ocbc-ds__copied-text Copied!
  ='\n'
