extends ../templates/design-system-template.pug

//--- Mixin ---
include design-system/mixin.pug

block siteHeader
  -
    siteTitle = 'Design System | Elements';

block content

  ='\n\n'
  //- navigation
  include design-system-elements/navigation-content.pug

  ='\n\n'
  //- content
  .ocbc-ds__elements
    include design-system-elements/content.pug

  ='\n\n'
  .ocbc-ds__copied-text Copied!
  ='\n'
