extends ../templates/design-system-template.pug

//--- Mixin ---
include design-system/mixin.pug

block siteHeader
  -
    siteTitle = 'Design System | Writing Style & Guideline';

block content

  ='\n\n'
  //- content
  include design-system-writing-style-guideline/navigation-content.pug

  ='\n\n'
  //- content
  include design-system-writing-style-guideline/content.pug
  ='\n'
