extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Digital Channel';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'light';

  //- Main Banner
  include digital-channel/main-banner.pug

  ='\n\n'
  //- Product Card
  include digital-channel/promo-card.pug

  ='\n\n'
  //- Card Upselling
  include digital-channel/card-upselling.pug

  ='\n\n'
  //- One Mobile
  include digital-channel/one-mobile.pug
  ='\n\n'
