extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Digital Channel - Internet Banking';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include digital-channel-internet-banking/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include digital-channel-internet-banking/main-banner.pug

  ='\n\n'
  //- Product Detail Fragment
  include digital-channel-internet-banking/product-detail-fragment.pug

  ='\n\n'
  //- How To
  include digital-channel-internet-banking/how-to.pug

  ='\n\n'
  //- FAQ Dropdown
  include digital-channel-internet-banking/faq-dropdown.pug

  ='\n\n'
  //- Card Upselling
  include digital-channel-internet-banking/card-upselling.pug
