extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Digital Channel - One Mobile';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include digital-channel-one-mobile/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include digital-channel-one-mobile/main-banner.pug

  ='\n\n'
  //- Feature
  include digital-channel-one-mobile/feature.pug

  ='\n\n'
  //- How To
  include digital-channel-one-mobile/how-to.pug

  ='\n\n'
  //- How To
  include digital-channel-one-mobile/faq-dropdown.pug

  ='\n\n'
  //- How To
  include digital-channel-one-mobile/one-mobile.pug
