extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Disclaimer';
    activeMenu = '';

//- siteContent
block siteContent

  //- Content
  include disclaimer/content.pug
