extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'FAQ';
    activeMenu = 'individu';

//- siteContent
block siteContent

  ='\n\n'
  //- Search Banner
  - bannerMode = "dark";
  include faq/search-banner.pug

  ='\n\n'
  //- Vertical Tab
  include faq/vertical-tab.pug

  ='\n\n'
  include faq/card-upselling.pug
  ='\n\n'
