extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Success Page Premier';
    page = 'form-success';

//- siteContent
block siteContent
  -
    data = {
      image: {
        desktop: 'eform-premier.jpg',
        mobile: 'eform-premier-m.jpg'
      },
      icon: {
        src: 'checklist-gold.svg',
        alt: 'Checklist'
      },
      subTitle: 'Formulir Berhasil Terkirim',
      description: 'Tim OCBC NISP siap menghubungi Anda secepatnya',
      button: [
        {
          class: 'ocbc-btn--premier',
          to: '#',
          text: 'Oke'
        }
      ]
    }
  include ../layout/success-state.pug
