extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator KPR';
    activeMenu = 'individu';
    page = 'calculator-result-chart';

//- siteContent
block siteContent

  //- Calculator Result
  include hasil-perhitungan-kalkulator-kpr/calculator-result.pug

  //- Graphic Result
  include hasil-perhitungan-kalkulator-kpr/graphic-result.pug

  //- Card Product Category
  include hasil-perhitungan-kalkulator-kpr/card-product-category.pug

  //- Card Upselling
  include hasil-perhitungan-kalkulator-kpr/card-upselling.pug

  //- Card Article
  include hasil-perhitungan-kalkulator-kpr/card-article.pug

  //- Card Suggestion
  include hasil-perhitungan-kalkulator-kpr/card-suggestion.pug

  //- Card Suggestion
  include hasil-perhitungan-kalkulator-kpr/disclaimer.pug
