extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator Asuransi - Share';
    page = 'share';

//- siteContent
block siteContent

  //- Index
  include hasil-perhitungan-kalkulator-asuransi-share/index.pug
