extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator Pendidikan - Tahu Dana';
    activeMenu = 'individu';
    page = 'calculator-result-chart';

//- siteContent
block siteContent

  //- Calculator Result Tahu Dana
  include hasil-perhitungan-kalkulator-pendidikan/calculator-result-tahu-dana.pug

  //- Graphic Result
  include hasil-perhitungan-kalkulator-pendidikan/graphic-result-tahu-dana.pug

  //- Card Product Category
  include hasil-perhitungan-kalkulator-pendidikan/card-product-category.pug

  //- Card Upselling
  include hasil-perhitungan-kalkulator-pendidikan/card-upselling.pug

  //- Card Article
  include hasil-perhitungan-kalkulator-pendidikan/card-article.pug

  //- Card Suggestion
  include hasil-perhitungan-kalkulator-pendidikan/card-suggestion.pug

  //- Card Suggestion
  include hasil-perhitungan-kalkulator-pendidikan/disclaimer.pug
