extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator KPR - Share';
    page = 'share-chart';

//- siteContent
block siteContent

  //- Index
  include hasil-perhitungan-kalkulator-kpr-share/index.pug
