extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator Pensiun';
    activeMenu = 'individu';
    page = 'calculator-result';


  include kalkulator-pensiun/calculator-header.pug


//- siteContent
block siteContent

  //- Calculator Result
  include hasil-perhitungan-kalkulator-pensiun/calculator-result.pug

  //- Table Result
  include hasil-perhitungan-kalkulator-pensiun/table-result.pug

  include hasil-perhitungan-kalkulator-pensiun/cta.pug
    

  //- Card Suggestion
  include hasil-perhitungan-kalkulator-pensiun/disclaimer.pug
