extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator Pensiun - Share';
    page = 'share';

//- siteContent
block siteContent

  //- Index
  include hasil-perhitungan-kalkulator-pensiun-share/index.pug
