extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator KPM';
    activeMenu = 'individu';
    page = 'calculator-result';

//- siteContent
block siteContent

  //- Calculator Result
  include hasil-perhitungan-kalkulator-kpm/calculator-result.pug

  //- Table Result
  include hasil-perhitungan-kalkulator-kpm/table-result.pug

  //- Card Recommendation
  include hasil-perhitungan-kalkulator-kpm/card-product-category.pug

  //- Card Upselling
  include hasil-perhitungan-kalkulator-kpm/card-upselling.pug

  //- Card Article
  include hasil-perhitungan-kalkulator-kpm/card-article.pug
