extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Pencarian';
    activeMenu = '';

//- siteContent
block siteContent

  //- Main Banner
  include hasil-pencarian/banner.pug

  ='\n\n'
  //- Search Result
  include hasil-pencarian/search-result.pug
  ='\n\n'
