extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator Asuransi';
    activeMenu = 'individu';
    page = 'calculator-result';

//- siteContent
block siteContent

  ='\n\n'
  //- Table Result
  include hasil-perhitungan-kalkulator-asuransi/table-result.pug

  ='\n\n'
  //- Card Product Category
  include hasil-perhitungan-kalkulator-asuransi/card-product-category.pug

  ='\n\n'
  //- Card Upselling
  include hasil-perhitungan-kalkulator-asuransi/card-upselling.pug

  ='\n\n'
  //- Card Article
  include hasil-perhitungan-kalkulator-asuransi/card-article.pug

  ='\n\n'
  //- Card Suggestion
  include hasil-perhitungan-kalkulator-asuransi/card-suggestion.pug
