extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hasil Perhitungan Kalkulator Pendidikan - Tidak Tahu Dana';
    activeMenu = 'individu';
    page = 'calculator-result-chart';


  include kalkulator-pendidikan/calculator-header.pug


//- siteContent
block siteContent

  //- Calculator Result Tidak Tahu Dana
  include hasil-perhitungan-kalkulator-pendidikan/calculator-result-tidak-tahu-dana.pug

  //- Graphic Result
  include hasil-perhitungan-kalkulator-pendidikan/graphic-result-tidak-tahu-dana.pug

  include hasil-perhitungan-kalkulator-pendidikan/cta.pug
    
  //- Card Suggestion
  include hasil-perhitungan-kalkulator-pendidikan/disclaimer.pug
