extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hubungi Kami';
    activeMenu = '';

//- siteContent
block siteContent

  ='\n\n'
  //- Product Detail Banner
  include hubungi-kami/product-detail-banner.pug

  ='\n\n'
  //- Contact Channel
  include hubungi-kami/contact-channel.pug

  ='\n\n'
  //- Card Upselling
  include hubungi-kami/card-upselling.pug
  ='\n\n'
