extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hubungi Kami - Lokasi Kami';
    activeMenu = '';

//- siteContent
block siteContent

  ='\n\n'
  //- Main Banner
  include hubungi-kami-lokasi-kami/banner.pug

  ='\n\n'
  //- Result List
  include hubungi-kami-lokasi-kami/result-list.pug
  ='\n\n'
