extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Hubungi Kami - Mekanisme Pengaduan Nasabah';
    activeMenu = '';

//- siteContent
block siteContent

  ='\n\n'
  //- Content
  include hubungi-kami-mekanisme-pengaduan-nasabah/content.pug
  ='\n\n'
