extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Homepage';
    activeMenu = '';
    page = 'home';

//- siteContent
block siteContent

  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='main-banner')
    //- Main Banner and Presentation Needs
    include home/main-banner-presentation-needs.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-head-product')
    //- Card Head Product
    include home/card-head-product.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='banner')
    ='\n\n'
    //- One Mobile
    include home/one-mobile.pug
    ='\n\n'
