extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Rencana Pendidikan Anak';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include individu-wealth-management-pendidikan/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include individu-wealth-management-pendidikan/product-banner.pug

  ='\n\n'
  //- Card USP
  include individu-wealth-management-pendidikan/card-usp.pug

  ='\n\n'
  //- CSR Program
  include individu-wealth-management-pendidikan/csr-program.pug

  ='\n\n'
  //- CSR Program
  include individu-wealth-management-pendidikan/card-upselling.pug

  ='\n\n'
  //- Card Article
  include individu-wealth-management-pendidikan/card-article.pug


  ='\n\n'
  //- Card Apply
  include individu-wealth-management-pendidikan/card-apply.pug
