extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Treasury - FX Today & Non Today';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-wealth-management-treasury-fx-today-non-today/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include individu-wealth-management-treasury-fx-today-non-today/product-banner.pug

  ='\n\n'
  //- Card USP
  include individu-wealth-management-treasury-fx-today-non-today/card-usp.pug

  ='\n\n'
  //- Product Detail Fragment
  include individu-wealth-management-treasury-fx-today-non-today/product-detail-fragment.pug

  ='\n\n'
  //- Vertical Tab
  include individu-wealth-management-treasury-fx-today-non-today/vertical-tab.pug

  ='\n\n'
  //- Achievement Banner
  include individu-wealth-management-treasury-fx-today-non-today/achievement-banner.pug

  ='\n\n'
  //- FAQ Dropdown
  include individu-wealth-management-treasury-fx-today-non-today/faq-dropdown.pug

  ='\n\n'
  //- Card Apply
  include individu-wealth-management-treasury-fx-today-non-today/card-apply.pug
  ='\n\n'
