extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Membeli Rumah Impian';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include individu-wealth-management-kpr/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include individu-wealth-management-kpr/product-banner.pug

  ='\n\n'
  //- Card USP
  include individu-wealth-management-kpr/card-usp.pug

  ='\n\n'
  //- CSR Program
  include individu-wealth-management-kpr/csr-program.pug

  ='\n\n'
  //- CSR Program
  include individu-wealth-management-kpr/card-upselling.pug

  ='\n\n'
  //- Card Article
  include individu-wealth-management-kpr/card-article.pug


  ='\n\n'
  //- Card Apply
  include individu-wealth-management-kpr/card-apply.pug
