extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu';
    activeMenu = 'individu';

//- siteContent
block siteContent

  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='main-banner')
    //- Main Banner and Presentation Needs
    include individu/main-banner-presentation-needs.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-head-product')
    //- Card Head Product
    include individu/card-head-product.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='promo')
    //- Promo Banner
    include individu/promo-banner.pug

    ='\n\n'
    //- Highlight Promo
    include individu/highlight-promo.pug
    ='\n\n'

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-information')
    //- Card Information
    include individu/card-information.pug

    ='\n\n'
    //- One Mobile
    include individu/one-mobile.pug
    ='\n\n'
  ='\n\n'
