extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Premier Banking - Layanan Premier';
    activeMenu = 'individu';
    site = 'premier';
    page = 'premier';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-premier-banking-layanan-premier/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-premier-banking-layanan-premier/main-banner.pug

  ='\n\n'
  //- Tab
  include individu-premier-banking-layanan-premier/tab.pug
  ='\n\n'
