extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Private Banking';
    activeMenu = 'individu';
    site = 'private';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include individu-private/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-private/main-banner.pug

  ='\n\n'
  //- Category Fragment
  include individu-private/product-category-fragment.pug

  ='\n\n'
  //- CSR Program
  include individu-private/csr-program.pug

  ='\n\n'
  //- Product Services
  include individu-private/product-services.pug

  ='\n\n'
  //- Product Section
  include individu-private/product-section.pug

  ='\n\n'
  //- Card Upselling
  include individu-private/card-upselling.pug

  ='\n\n'
  //- Card Article Program
  include individu-private/card-article-program.pug

  ='\n\n'
  //- Card Article
  include individu-private/card-article.pug
  ='\n\n'
