extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Premier Banking';
    activeMenu = 'individu';
    site = 'premier';
    enableRecapthca = true;

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-premier/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-premier/main-banner.pug

  ='\n\n'
  //- Category Fragment
  include individu-premier/product-category-fragment.pug

  ='\n\n'
  //- Card Premier Product
  include individu-premier/card-premier-product.pug

  ='\n\n'
  //- Product Section
  include individu-premier/product-section.pug

  ='\n\n'
  //- Form Section
  include individu-premier/form-section.pug

  ='\n\n'
  //- Card Upselling
  include individu-premier/card-upselling.pug

  ='\n\n'
  //- Card Article Program
  include individu-premier/card-article-program.pug
  ='\n\n'
