extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Simpanan';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include individu-simpanan/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-simpanan/main-banner.pug

  ='\n\n'
  //- Tab
  include individu-simpanan/tab.pug

  ='\n\n'
  //- Nyala Banner
  include individu-simpanan/nyala-banner.pug

  ='\n\n'
  //- One Mobile
  include individu-simpanan/one-mobile.pug
  ='\n\n'
