extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-wealth-management/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-wealth-management/main-banner.pug

  ='\n\n'
  //- WM Landing Framgnet
  include individu-wealth-management/journey-section.pug

  ='\n\n'
  //- Advisor Card
  include individu-wealth-management/advisor-card.pug

  ='\n\n'
  //- Product Card
  include individu-wealth-management/product-card.pug

  ='\n\n'
  //- One Mobile
  include individu-wealth-management/one-mobile.pug
