extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Nyala';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-nyala/breadcrumbs.pug

  //- Main Banner
  include individu-nyala/main-banner.pug

  ='\n\n'
  //- Category Fragment
  include individu-nyala/product-category-fragment.pug

  ='\n\n'
  //- Slider Testimonial
  include individu-nyala/slider-testimonial.pug

  ='\n\n'
  //- Nyala Card
  include individu-nyala/nyala-card.pug

  ='\n\n'
  //- Card Article
  include individu-nyala/card-article.pug

  ='\n\n'
  //- One Mobile
  include individu-nyala/one-mobile.pug
  ='\n\n'
