extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Rachel';
    activeMenu = 'individu';
    page = 'rachel';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-wealth-management-rachel/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-wealth-management-rachel/main-banner.pug

  ='\n\n'
  //- Description Section
  include individu-wealth-management-rachel/description-section.pug

  ='\n\n'
  //- Card Product Category
  include individu-wealth-management-rachel/card-product-category.pug

  ='\n\n'
  //- Graphics Bar Section
  include individu-wealth-management-rachel/graphics-bar-section.pug

  ='\n\n'
  //- Product Detail Fragment
  include individu-wealth-management-rachel/product-detail-fragment.pug

  ='\n\n'
  //- How To
  include individu-wealth-management-rachel/how-to.pug

  ='\n\n'
  //- Product Detail Fragment
  include individu-wealth-management-rachel/one-mobile-rachel.pug
