extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Simpanan';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include tanda360/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include tanda360/main-banner.pug

  ='\n\n'
  //- Card USP
  include tanda360/card-usp.pug

  ='\n\n'
  //- Product Detail Fragment
  include tanda360/product-detail-fragment.pug

  ='\n\n'
  //- Vertical Tab
  include tanda360/vertical-tab.pug

  ='\n\n'
  //- Nyala Banner
  include tanda360/nyala-banner.pug

  ='\n\n'
  //- Highlight Promo
  include tanda360/highlight-promo.pug

  ='\n\n'
  //- Card Article
  include tanda360/card-article.pug

  ='\n\n'
  //- FAQ Dropdown
  include tanda360/faq-dropdown.pug

  ='\n\n'
  //- Card Apply
  include tanda360/card-apply.pug

  ='\n\n'
  //- One Mobile
  include tanda360/one-mobile.pug
  ='\n\n'
