extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Perbandingan Tabungan';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include individu-tabungan-perbandingan/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include individu-tabungan-perbandingan/product-banner.pug

  ='\n\n'
  //- Saving Comparison
  include individu-tabungan-perbandingan/saving-comparison.pug

  ='\n\n'
  //- Nyala Banner
  include individu-tabungan-perbandingan/nyala-banner.pug

  ='\n\n'
  //- One Mobile
  include individu-tabungan-perbandingan/one-mobile.pug
  ='\n\n'
