extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Private Banking - Layanan Private';
    activeMenu = 'individu';
    site = 'private';
    page = 'private';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include individu-private-banking-layanan-private/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-private-banking-layanan-private/main-banner.pug

  ='\n\n'
  //- Tab
  include individu-private-banking-layanan-private/tab.pug
  ='\n\n'
