extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Nyala - Nyala Bisnis';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-nyala-bisnis/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include individu-nyala-bisnis/main-banner.pug

  ='\n\n'
  //- Card USP
  include individu-nyala-bisnis/card-usp.pug

  ='\n\n'
  //- Tab
  include individu-nyala-bisnis/tab.pug

  ='\n\n'
  //- Nyala How To Banner
  include individu-nyala-bisnis/nyala-how-to.pug

  ='\n\n'
  //- FAQ Dropdown
  include individu-nyala-bisnis/faq-dropdown.pug

  ='\n\n'
  //- Product Category Card
  include individu-nyala-bisnis/product-category-card.pug

  ='\n\n'
  //- One Mobile
  include individu-nyala-bisnis/one-mobile.pug
  ='\n\n'
