extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Asuransi - Great Optima Link';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-wealth-management-asuransi-great-optima-link/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include individu-wealth-management-asuransi-great-optima-link/product-banner.pug

  ='\n\n'
  //- Card USP
  include individu-wealth-management-asuransi-great-optima-link/card-usp.pug

  ='\n\n'
  //- Product Detail Fragment
  include individu-wealth-management-asuransi-great-optima-link/product-detail-fragment.pug

  ='\n\n'
  //- Vertical Tab
  include individu-wealth-management-asuransi-great-optima-link/vertical-tab.pug

  ='\n\n'
  //- FAQ Dropdown
  include individu-wealth-management-asuransi-great-optima-link/faq-dropdown.pug

  ='\n\n'
  //- Card Apply
  include individu-wealth-management-asuransi-great-optima-link/card-apply.pug
  ='\n\n'
