extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Reksa Dana';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-wealth-management-reksa-dana/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include individu-wealth-management-reksa-dana/product-banner.pug

  ='\n\n'
  //- Card USP
  include individu-wealth-management-reksa-dana/card-usp.pug

  ='\n\n'
  //- Filter and Card
  include individu-wealth-management-reksa-dana/filter-and-card.pug

  ='\n\n'
  //- FAQ Dropdown
  include individu-wealth-management-reksa-dana/faq-dropdown.pug

  ='\n\n'
  //- One Mobile
  include individu-wealth-management-reksa-dana/one-mobile.pug

  ='\n\n'
  //- Card Apply
  include individu-wealth-management-reksa-dana/card-apply.pug
  ='\n\n'
