extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu - Wealth Management - Asuransi';
    activeMenu = 'individu';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include individu-wealth-management-asuransi/breadcrumbs.pug

  ='\n\n'
  //- Product Detail Banner
  include individu-wealth-management-asuransi/product-detail-banner.pug

  ='\n\n'
  //- Product Category
  include individu-wealth-management-asuransi/product-category-card.pug
