extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Jadi Nasabah';
    activeMenu = 'jadi-nasabah';

//- siteContent
block siteContent
  ='\n\n'
  //- Main Banner and Presentation Needs
  include jadi-nasabah/main-banner-presentation-needs.pug
