extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Individu';
    activeMenu = '';

//- siteContent
block siteContent

  ='\n\n'
  //- Product Banner
  - bannerMode = "dark";
  include jasa-layanan/product-banner.pug

  ='\n\n'
  //- Vertical Tab
  include jasa-layanan/vertical-tab.pug
  ='\n\n'
