extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Kalkulator';
    activeMenu = '';

//- siteContent
block siteContent

  - bannerMode = 'light';

  ='\n\n'
  //- Main Banner
  include kalkulator/main-banner.pug

  ='\n\n'
  //- Tab
  include kalkulator/tab.pug
  ='\n\n'
