extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Kalkulator Pendidikan';
    page = 'calculator';
    headerBack = {
      to: '#',
      text: 'Kembali'
    }


  include kalkulator-pensiun/calculator-header.pug


//- siteContent
block siteContent

  ='\n\n'
  //- Calculator Form
  include kalkulator-pendidikan/calculator-pickproduct.pug
