extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Kalkulator KPR';
    page = 'calculator';
    headerBack = {
      to: '#',
      text: 'Kembali'
    }

//- siteContent
block siteContent

  ='\n\n'
  //- Calculator Form
  include kalkulator-kpr/calculator-form.pug
