extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Kalkulator Pensiun';
    page = 'calculator';


  include kalkulator-pensiun/calculator-header.pug


//- siteContent
block siteContent

  ='\n\n'
  //- Calculator Form
  include kalkulator-pensiun/calculator-pickproduct.pug
