extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Karir';
    activeMenu = 'karir';

//- siteContent
block siteContent
  ='\n\n'
  //- Main Banner and Presentation Needs
  include karir/main-banner-presentation-needs.pug

  ='\n\n'
  //- Card Head Product
  include karir/card-head-product.pug

  ='\n\n'
  //- Section Image Description
  include karir/section-image-description.pug

  ='\n\n'
  //- Networks
  include karir/networks.pug
  ='\n\n'
