extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Karir - Live As The ONe';
    activeMenu = 'karir';

//- siteContent
block siteContent

  ='\n\n'
  - bannerMode = 'dark';
  //- Breadcrumbs
  include karir-live-as-the-one/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include karir-live-as-the-one/product-banner.pug

  ='\n\n'
  //- Card Article
  include karir-live-as-the-one/card-article.pug

  ='\n\n'
  //- Slider Testimonial
  include karir-live-as-the-one/slider-testimonial.pug

  ='\n\n'
  //- Slider Testimonial
  include karir-live-as-the-one/card-upselling.pug
  ='\n\n'
