extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Karir - Be The ONe';
    activeMenu = 'karir';
    page = 'career-be-the-one';

//- siteContent
block siteContent

  - bannerMode = 'dark';

  ='\n\n'
  //- Breadcrumbs
  include karir-be-the-one/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include karir-be-the-one/product-banner.pug

  ='\n\n'
  //- Tab
  include karir-be-the-one/tab.pug
  ='\n\n'
