extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Karir - For The ONe';
    activeMenu = 'karir';

//- siteContent
block siteContent

  ='\n\n'
  - bannerMode = 'dark';
  //- Breadcrumbs
  include karir-for-the-one/breadcrumbs.pug

  ='\n\n'
  //- Product Banner
  include karir-for-the-one/product-banner.pug

  ='\n\n'
  //- Location
  include karir-for-the-one/location.pug
  ='\n\n'
