extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Kebijakan Privasi';
    activeMenu = '';

//- siteContent
block siteContent

  //- Content
  include kebijakan-privasi/content.pug
