extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman';
    activeMenu = 'korporasi';
    enableRecapthca = true;

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include korporasi-pinjaman-kredit-modal-kerja-pengajuan-pinjaman/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include korporasi-pinjaman-kredit-modal-kerja-pengajuan-pinjaman/main-banner.pug

  ='\n\n'
  //- Form
  include korporasi-pinjaman-kredit-modal-kerja-pengajuan-pinjaman/form.pug
