extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Korporasi - Pinjaman - Kredit Modal Kerja';
    activeMenu = 'korporasi';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include korporasi-pinjaman-kredit-modal-kerja/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include korporasi-pinjaman-kredit-modal-kerja/main-banner.pug

  ='\n\n'
  //- Card USP
  include korporasi-pinjaman-kredit-modal-kerja/card-usp.pug

  ='\n\n'
  //- Product Detail Fragment
  include korporasi-pinjaman-kredit-modal-kerja/product-detail-fragment.pug

  ='\n\n'
  //- Vertical Tab
  include korporasi-pinjaman-kredit-modal-kerja/vertical-tab.pug

  ='\n\n'
  //- Highlight Promo
  include korporasi-pinjaman-kredit-modal-kerja/highlight-promo.pug

  ='\n\n'
  //- Card Article
  include korporasi-pinjaman-kredit-modal-kerja/card-article.pug

  ='\n\n'
  //- FAQ Dropdown
  include korporasi-pinjaman-kredit-modal-kerja/faq-dropdown.pug

  ='\n\n'
  //- Card Apply
  include korporasi-pinjaman-kredit-modal-kerja/card-apply.pug

  ='\n\n'
  //- One Mobile
  include korporasi-pinjaman-kredit-modal-kerja/one-mobile.pug
  ='\n\n'
