extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Korporasi';
    activeMenu = 'korporasi';

//- siteContent
block siteContent

  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='main-banner')
    //- Main Banner and Presentation Needs
    include korporasi/main-banner-presentation-needs.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-head-product')
    //- Card Head Product
    include korporasi/card-head-product.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='promo')
    //- Promo Banner
    include korporasi/promo-banner.pug

    ='\n\n'
    //- Highlight Promo
    include korporasi/highlight-promo.pug
    ='\n\n'

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-information')
    //- Widget Information
    include korporasi/card-information.pug

    ='\n\n'
    //- One Mobile
    include korporasi/one-mobile.pug
    ='\n\n'
  ='\n\n'
