extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Korporasi - Layanan';
    activeMenu = 'korporasi';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include korporasi-layanan/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include korporasi-layanan/main-banner.pug

  ='\n\n'
  //- Tab
  include korporasi-layanan/tab.pug
  ='\n\n'
