extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Lembaga Penjamin Simpanan';
    activeMenu = '';

//- siteContent
block siteContent

  //- Content
  include lembaga-penjamin-simpanan/content.pug
