extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Kurs';
    activeMenu = 'individu';

//- siteContent
block siteContent

  ='\n\n'
  - bannerMode = 'dark';

  //- Product Banner
  include nilai-tukar-mata-uang-asing/product-banner.pug

  ='\n\n'
  //- Currency Calculator
  include nilai-tukar-mata-uang-asing/currency-calculator.pug

  ='\n\n'
  //- Currency Table
  include nilai-tukar-mata-uang-asing/currency-table.pug
  ='\n\n'
