extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Promo - Detail';
    activeMenu = '';
    page = 'article-detail';

//- siteContent
block siteContent

  //- Breadcrumbs
  ='\n\n'
  include promo-detail/breadcrumbs.pug

  //- Content Detail
  ='\n\n'
  include promo-detail/content-detail.pug

  ='\n\n'
  //- Card Product Category
  include promo-detail/card-product-category.pug
  ='\n\n'
