extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Promo';
    activeMenu = '';

//- siteContent
block siteContent
  ='\n\n'
  //- Main Banner
  include promo/promo-banner.pug

  ='\n\n'
  //- Content
  include promo/content.pug

  ='\n\n'
  //- Card Suggestion
  include promo/card-suggestion.pug
  ='\n\n'
