extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Sitemap Dev';
    page = 'sitemap-dev';

//- siteContent
block siteContent
  ='\n\n'
  //ocbc-sitemap-dev-header
  .ocbc-sitemap-dev-header
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          //ocbc-sitemap-dev-header__logo
          .ocbc-sitemap-dev-header__logo
            ='\n'
            a.ocbc-lnk(href='index.html')
              ='\n'
              img.ocbc-img(src='img/logo/ocbc-red.svg', alt='OCBC NISP')/
              ='\n'
            |!{''}
            |
          //ocbc-sitemap-dev-header__title
          h4.ocbc-sitemap-dev-header__title
            | OCBC NISP Public Site
            br/
            | Sitemap Dev

  ='\n\n'
  -
    data = [
      {
        section: 'Feature Page',
        pages: [
          {
            to: 'design-system.html',
            text: 'Design System'
          },
          {
            to: 'sitemap-dev.html',
            text: 'Sitemap Dev'
          }
        ]
      },
      {
        section: 'Main Page',
        pages: [
          {
            to: 'index.html',
            text: 'Home'
          },
          {
            to: 'individu.html',
            text: 'Individu'
          },
          {
            to: 'sme.html',
            text: 'SME'
          },
          {
            to: 'korporasi.html',
            text: 'Korporasi'
          },
          {
            to: 'syariah.html',
            text: 'Syariah'
          },
          {
            to: 'tentang-kami.html',
            text: 'Tentang Kami'
          },
          {
            to: 'digital-channel.html',
            text: 'Digital Channel'
          },
          {
            to: 'hasil-pencarian.html',
            text: 'Hasil Pencarian'
          },
          {
            to: 'artikel.html',
            text: 'Artikel'
          },
          {
            to: 'promo.html',
            text: 'Promo'
          },
          {
            to: 'hubungi-kami.html',
            text: 'Hubungi Kami'
          },
          {
            to: 'karir.html',
            text: 'Karir'
          },
          {
            to: 'bunga-dan-biaya.html',
            text: 'Bunga & Biaya'
          },
          {
            to: 'jadi-nasabah.html',
            text: 'Jadi Nasabah'
          }
        ]
      },
      {
        section: 'Category Page',
        pages: [
          {
            to: 'individu-simpanan.html',
            text: 'Individu - Simpanan'
          },
          {
            to: 'individu-nyala.html',
            text: 'Individu - Nyala'
          },
          {
            to: 'individu-premier.html',
            text: 'Individu - Premier'
          },
          {
            to: 'individu-private.html',
            text: 'Individu - Private'
          },
          {
            to: 'korporasi-layanan.html',
            text: 'Korporasi - Layanan'
          },
          {
            to: 'individu-wealth-management.html',
            text: 'Individu - Wealth Management'
          },
          {
            to: 'individu-wealth-management-reksa-dana.html',
            text: 'Individu - Wealth Management - Reksa Dana'
          },
          {
            to: 'individu-wealth-management-rachel.html',
            text: 'Individu - Wealth Management - Rachel'
          },
          {
            to: 'individu-wealth-management-pendidikan.html',
            text: 'Individu - Wealth Management - Pendidikan'
          },
          {
            to: 'individu-wealth-management-kpr.html',
            text: 'Individu - Wealth Management - KPR'
          },
          {
            to: 'individu-wealth-management-pensiun.html',
            text: 'Individu - Wealth Management - Pensiun'
          },
          {
            to: 'individu-wealth-management-kesehatan.html',
            text: 'Individu - Wealth Management - Kesehatan'
          },
          {
            to: 'individu-wealth-management-asuransi.html',
            text: 'Individu - Wealth Management - Asuransi'
          },
          {
            to: 'individu-wealth-management-treasury.html',
            text: 'Individu - Wealth Management - Treasury'
          },
          {
            to: 'digital-channel-internet-banking.html',
            text: 'Digital Channel - Internet Banking'
          },
          {
            to: 'digital-channel-one-mobile.html',
            text: 'Digital Channel - One Mobile'
          },
          {
            to: 'bunga-dan-biaya-individu.html',
            text: 'Bunga & Biaya - Bunga & Biaya Individu'
          },
          {
            to: 'bunga-dan-biaya-sme.html',
            text: 'Bunga & Biaya - Bunga & Biaya SME'
          },
          {
            to: 'bunga-dan-biaya-syariah.html',
            text: 'Bunga & Biaya - Bunga & Biaya Syariah'
          },
          {
            to: 'bunga-dan-biaya-korporasi.html',
            text: 'Bunga & Biaya - Bunga & Biaya Korporasi'
          },
          {
            to: 'bunga-dan-biaya-digital-channel.html',
            text: 'Bunga & Biaya - Bunga & Biaya Digital Channel'
          }
        ]
      },
      {
        section: 'Detail Page',
        pages: [
          {
            to: 'individu-simpanan-tabungan-tanda360.html',
            text: 'Individu - Simpanan - Tabungan Tanda 360'
          },
          {
            to: 'korporasi-pinjaman-kredit-modal-kerja.html',
            text: 'Korporasi - Pinjaman - Kredit Modal Kerja'
          },
          {
            to: 'individu-nyala-nyala-bisnis.html',
            text: 'Individu - Nyala - Nyala Bisnis'
          },
          {
            to: 'tentang-kami-profil.html',
            text: 'Tentang Kami - Profil'
          },
          {
            to: 'tentang-kami-csr.html',
            text: 'Tentang Kami - CSR'
          },
          {
            to: 'tentang-kami-informasi.html',
            text: 'Tentang Kami - Informasi'
          },
          {
            to: 'tentang-kami-hubungan-investor.html',
            text: 'Tentang Kami - Hubungan Investor'
          },
          {
            to: 'tentang-kami-tata-kelola.html',
            text: 'Tentang Kami - Tata Kelola'
          },
          {
            to: 'nilai-tukar-mata-uang-asing.html',
            text: 'Nilai Tukar Mata Uang Asing'
          },
          {
            to: 'individu-premier-banking-layanan-premier.html',
            text: 'Individu - Premier Banking - Layanan Premier'
          },
          {
            to: 'individu-private-banking-layanan-private.html',
            text: 'Individu - Private Banking - Layanan Private'
          },
          {
            to: 'individu-wealth-management-asuransi-great-optima-link.html',
            text: 'Individu - Wealth Management - Asuransi - Great Optima Link'
          },
          {
            to: 'individu-wealth-management-treasury-fx-today-non-today.html',
            text: 'Individu - Wealth Management - Treasury - FX Today & Non Today'
          },
          {
            to: 'artikel-detail.html',
            text: 'Artikel - Detail'
          },
          {
            to: 'promo-detail.html',
            text: 'Promo - Detail'
          },
          {
            to: 'hubungi-kami-mekanisme-pengaduan-nasabah.html',
            text: 'Hubungi Kami - Mekanisme Pengaduan Nasabah'
          },
          {
            to: 'hubungi-kami-lokasi-kami.html',
            text: 'Hubungi Kami - Lokasi Kami'
          },
          {
            to: 'jasa-layanan.html',
            text: 'Jasa & Layanan'
          },
          {
            to: 'karir-live-as-the-one.html',
            text: 'Karir - Live As The ONe'
          },
          {
            to: 'karir-be-the-one.html',
            text: 'Karir - Be The ONe'
          },
          {
            to: 'karir-for-the-one.html',
            text: 'Karir - For The ONe'
          },
          {
            to: 'faq.html',
            text: 'FAQ'
          },
          {
            to: 'individu-tabungan-perbandingan.html',
            text: 'Individu - Simpanan - Perbandingan Tabungan'
          }
        ]
      },
      {
        section: 'Calculator Page',
        pages: [
          {
            to: 'kalkulator.html',
            text: 'Kalkulator - Landing'
          },
          {
            to: 'kalkulator-pensiun.html',
            text: 'Kalkulator - Pensiun'
          },
          {
            to: 'kalkulator-asuransi.html',
            text: 'Kalkulator - Asuransi'
          },
          {
            to: 'kalkulator-kpm.html',
            text: 'Kalkulator - KPM'
          },
          {
            to: 'kalkulator-pendidikan.html',
            text: 'Kalkulator - Pendidikan'
          },
          {
            to: 'kalkulator-kpr.html',
            text: 'Kalkulator - KPR'
          },
          {
            to: 'hasil-perhitungan-kalkulator-pensiun.html',
            text: 'Hasil Perhitungan - Kalkulator Pensiun'
          },
          {
            to: 'hasil-perhitungan-kalkulator-pensiun-share.html',
            text: 'Hasil Perhitungan - Kalkulator Pensiun - Share'
          },
          {
            to: 'hasil-perhitungan-kalkulator-asuransi.html',
            text: 'Hasil Perhitungan - Kalkulator Asuransi'
          },
          {
            to: 'hasil-perhitungan-kalkulator-asuransi-share.html',
            text: 'Hasil Perhitungan - Kalkulator Asuransi - Share'
          },
          {
            to: 'hasil-perhitungan-kalkulator-kpm.html',
            text: 'Hasil Perhitungan - Kalkulator KPM'
          },
          {
            to: 'hasil-perhitungan-kalkulator-kpm-share.html',
            text: 'Hasil Perhitungan - Kalkulator KPM - Share'
          },
          {
            to: 'hasil-perhitungan-kalkulator-pendidikan-tahu-dana.html',
            text: 'Hasil Perhitungan - Kalkulator Pendidikan - Tahu Dana'
          },
          {
            to: 'hasil-perhitungan-kalkulator-pendidikan-tidak-tahu-dana.html',
            text: 'Hasil Perhitungan - Kalkulator Pendidikan - Tidak Tahu Dana'
          },
          {
            to: 'hasil-perhitungan-kalkulator-pendidikan-share.html',
            text: 'Hasil Perhitungan - Kalkulator Pendidikan - Share'
          },
          {
            to: 'hasil-perhitungan-kalkulator-kpr.html',
            text: 'Hasil Perhitungan - Kalkulator KPR'
          },
          {
            to: 'hasil-perhitungan-kalkulator-kpr-share.html',
            text: 'Hasil Perhitungan - Kalkulator KPR - Share'
          }
        ]
      },
      {
        section: 'e-Form',
        pages: [
          {
            to: 'korporasi-pinjaman-kredit-modal-kerja-pengajuan-pinjaman.html',
            text: 'Korporasi - Pinjaman - Kredit Modal Kerja - Pengajuan Pinjaman'
          },
          {
            to: 'halaman-sukses.html',
            text: 'Halaman Sukses'
          },
          {
            to: 'halaman-sukses-premier.html',
            text: 'Halaman Sukses Premier'
          }
        ]
      },
      {
        section: 'Basic Page',
        pages: [
          {
            to: 'disclaimer.html',
            text: 'Disclaimer'
          },
          {
            to: 'kebijakan-privasi.html',
            text: 'Kebijakan Privasi'
          },
          {
            to: 'lembaga-penjamin-simpanan.html',
            text: 'Lembaga Penjamin Simpanan'
          },
          {
            to: 'suku-bunga-dasar.html',
            text: 'Suku Bunga Dasar'
          },
          {
            to: 'sitemap.html',
            text: 'Sitemap'
          }
        ]
      },
      {
        section: 'Error Page',
        pages: [
          {
            to: '403.html',
            text: 'Error 403'
          },
          {
            to: '404.html',
            text: 'Error 404'
          },
          {
            to: '500.html',
            text: 'Error 500'
          }
        ]
      }
    ];

  //ocbc-sitemap-dev-content
  .ocbc-sitemap-dev-content
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          each value in data
            //ocbc-sitemap-dev-section
            .ocbc-sitemap-dev-section
              h4.ocbc-sitemap-dev-title
                | !{value.section}
              ul.ocbc-sitemap-dev-list
                each val in value.pages
                  li.ocbc-sitemap-dev-item
                    a.ocbc-lnk(href=val.to)
                      | !{val.text}
