extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Sitemap';
    activeMenu = '';
    page = 'sitemap';

//- siteContent
block siteContent

  //- Content
  include sitemap/content.pug
