extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'SME';
    activeMenu = 'sme';

//- siteContent
block siteContent

  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='main-banner')
    //- Main Banner and Presentation Needs
    include sme/main-banner-presentation-needs.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-head-product')
    //- Card Head Product
    include sme/card-head-product.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='testimonial-achievement')
    //- Testimonial
    include sme/testimonial.pug

    ='\n\n'
    //- Achievement
    include sme/achievement.pug
    ='\n\n'

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='promo')
    //- Promo Banner
    include sme/promo-banner.pug

    ='\n\n'
    //- Highlight Promo
    include sme/highlight-promo.pug
    ='\n\n'

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-information')
    //- Card Information
    include sme/card-information.pug

    ='\n\n'
    //- One Mobile
    include sme/one-mobile.pug
    ='\n\n'
  ='\n\n'
