extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Suku Bunga Dasar';
    activeMenu = '';

//- siteContent
block siteContent

  //- Content
  include suku-bunga-dasar/content.pug
