extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Syariah';
    activeMenu = 'syariah';

//- siteContent
block siteContent

  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='main-banner')
    //- Main Banner and Presentation Needs
    include syariah/main-banner-presentation-needs.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-head-product')
    //- Card Head Product
    include syariah/card-head-product.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='promo')
    //- Promo Banner
    include syariah/promo-banner.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll.js-section-scroll(data-section='card-information')
    //- Widget Information
    include syariah/card-information.pug

    ='\n\n'
    //- One Mobile
    include syariah/one-mobile.pug
    ='\n\n'
  ='\n\n'
