extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Tentang Kami - Informasi';
    activeMenu = 'tentang-kami';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include tentang-kami-informasi/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include tentang-kami-informasi/main-banner.pug

  ='\n\n'
  //- Tab
  include tentang-kami-informasi/tab.pug
