extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Tentang Kami - Hubungan Investor';
    activeMenu = 'tentang-kami';
    page = 'about-us-investor-relations';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include tentang-kami-hubungan-investor/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include tentang-kami-hubungan-investor/main-banner.pug

  ='\n\n'
  //- Tab
  include tentang-kami-hubungan-investor/tab.pug
