extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Tentang Kami';
    activeMenu = 'tentang-kami';

//- siteContent
block siteContent

  //ocbc-section-scroll
  .ocbc-section-scroll(data-section='main-banner')
    //- Main Banner and Presentation Needs
    include tentang-kami/main-banner-presentation-needs.pug

  ='\n\n'
  //ocbc-section-scroll
  .ocbc-section-scroll(data-section='card-head-product')
    //- Card Head Product
    include tentang-kami/card-head-product.pug

    ='\n\n'
    //- Card Article
    include tentang-kami/card-article.pug

    ='\n\n'
    //- Achievement Banner
    include tentang-kami/achievement-banner.pug
    ='\n\n'
