extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Tentang Kami - CSR';
    activeMenu = 'tentang-kami';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include tentang-kami-csr/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include tentang-kami-csr/main-banner.pug

  ='\n\n'
  //- CSR Description
  include tentang-kami-csr/csr-description.pug

  ='\n\n'
  //- CSR Program
  include tentang-kami-csr/csr-program.pug

  ='\n\n'
  //- Card Article
  include tentang-kami-csr/card-article.pug
