extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Tentang Kami - Tata Kelola';
    activeMenu = 'tentang-kami';
    page = 'about-us-governance';

//- siteContent
block siteContent

  - bannerMode = 'dark';
  //- Breadcrumbs
  include tentang-kami-tata-kelola/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include tentang-kami-tata-kelola/main-banner.pug

  ='\n\n'
  //- Tab
  include tentang-kami-tata-kelola/tab.pug
