extends ../templates/master-template.pug

//- siteHeader
block siteHeader
  -
    siteTitle = 'Tentang Kami - Profil OCBC NISP';
    activeMenu = 'tentang-kami';
    page = 'about-us-profile';

//- siteContent
block siteContent

  - bannerMode = 'light';
  //- Breadcrumbs
  include tentang-kami-profil/breadcrumbs.pug

  ='\n\n'
  //- Main Banner
  include tentang-kami-profil/main-banner.pug

  ='\n\n'
  //- Tab
  include tentang-kami-profil/tab.pug
