//-------------------------------------------------------------------------------
  @name: Individu - Simpanan - Perbandingan Tabungan - Breadcrumbs
  @description: Individu - Simpanan - Perbandingan Tabungan - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'individu.html',
      text: 'Individu'
    },
    {
      to: 'individu-simpanan.html',
      text: 'Simpanan'
    },
    {
      to: 'individu-simpanan-tabungan-tanda360.html',
      text: 'Tabungan'
    },
    {
      to: 'individu-tabungan-perbandingan.html',
      text: 'Perbandingan Tabungan'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
