//-------------------------------------------------------------------------------
  @name: Individu - Simpanan - Perbandingan Tabungan - Nyala Banner
  @description: Individu - Simpanan - Perbandingan Tabungan - Nyala Banner
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Lengkapi keuntungan Simpanan dengan Nyala',
    description: 'Bebas biaya transaksi kemana saja dan dapatkan cashback Rp50 Ribu setiap bulan',
    button: 'Selengkapnya',
    to: 'individu-nyala.html'
  }

include ../../components/nyala-banner.pug
