//-------------------------------------------------------------------------------
  @name: Individu - Simpanan - Perbandingan Tabungan - ONe Mobile
  @description: Individu - Simpanan - Perbandingan Tabungan - ONe Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'velocity',
    image: {
      desktop: 'one-mobile-short-d.jpg',
      mobile: 'one-mobile-short-m.jpg'
    },
    title: 'Download ONe Mobile'
  }

include ../../components/one-mobile.pug
