//-------------------------------------------------------------------------------
  @name: Individu - Simpanan - Perbandingan Tabungan - Product Banner
  @description: Individu - Simpanan - Perbandingan Tabungan - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Perbandingan Tabungan',
    description: 'Bandingkan untuk tahu Tabungan mana yang tepat untuk Anda',
    image: {
      desktop: 'individu-tabungan-perbandingan-d.jpg',
      mobile: 'individu-tabungan-perbandingan-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
