//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Graphic Result
  @description: Hasil Perhitungan Kalkulator KPR - Graphic Result
  -------------------------------------------------------------------------------//

extends ../../layout/graphic-result-share.pug

block graphic
  //- Graphic
  include graphic/solusi-kpr.pug
