//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME  - Product Banner
  @description: Bunga & Biaya SME - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Bunga & Biaya SME',
    description: 'Informasi lengkap bunga dan biaya transaksi untuk produk SME OCBC NISP',
    image: {
      desktop: 'bunga-biaya-d.jpg',
      mobile: 'bunga-biaya-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
