//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya SME - Tab
  @description: Bunga & Biaya - Bunga & Biaya SME - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'simpanan-investasi',
          text: 'Simpanan & Investasi'
        },
        {
          target: 'pinjaman',
          text: 'Pinjaman'
        },
        {
          target: 'treasury',
          text: 'Treasury'
        },
        {
          target: 'layanan',
          text: 'Layanan'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='simpanan-investasi')
    include tab-content/simpanan-investasi.pug
  .ocbc-tabs__pane(data-pane='pinjaman')
    include tab-content/pinjaman.pug
  .ocbc-tabs__pane(data-pane='treasury')
    include tab-content/treasury.pug
  .ocbc-tabs__pane(data-pane='layanan')
    include tab-content/layanan.pug
