//-------------------------------------------------------------------------------
  @name: Home - Presentation Needs - Cek Nilai Kurs
  @description: Home - Presentation Needs - Cek Nilai Kurs
  -------------------------------------------------------------------------------//

//cek-nilai-kurs
.ocbc-presentation-needs__pane(data-presentation='cek-nilai-kurs')

  //- exchange-rate-calculator-table
  -
    data = {
      image: {
        desktop: 'home-nilai-kurs-d.jpg',
        mobile: 'home-nilai-kurs-m.jpg'
      }
    };

  include ../../../layout/cek-nilai-kurs-calculator-table.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Nilai Kurs Khusus untuk Anda',
      description: 'Bergabung di premier banking Anda akan mendapatkan tarif dan biaya khusus',
      button: 'Upgrade ke Premiere',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: 'individu-premier.html'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi',
      card: [
        {
          image: 'nyala-1.jpg',
          label: 'Kurs',
          title: 'Lihat Kurs Rupiah Menguat',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'individu-3.jpg',
          label: 'Kurs',
          title: 'Tips Menukar Valas Ketika Mau Liburan',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }

  include ../../../layout/card-article.pug
