//-------------------------------------------------------------------------------
  @name: Home - Presentation Needs - Index
  @description: Home - Presentation Needs - Index
  -------------------------------------------------------------------------------//

//- Presentation Needs
//ocbc-presentation-needs
.ocbc-presentation-needs
  //ocbc-presentation-needs__close
  ='\n'
  button(type='button').ocbc-presentation-needs__close.js-close-presentation-needs
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  //ocbc-presentation-needs__wrapper
  .ocbc-presentation-needs__wrapper
    //- Cek Nilai Kurs
    include cek-nilai-kurs.pug
    //- Berbisnis Dengan Profit
    include berbisnis-dengan-profit.pug
    //- Rencana Bisnis Baru
    include rencana-bisnis-baru.pug
    //- Menabung Untuk Naik Haji
    include naik-haji.pug
    //- Pengumuman Penting OCBC NISP
    include pengumuman-penting-ocbc.pug
