//-------------------------------------------------------------------------------
  @name: Home - Presentation Needs - Menabung Untuk Naik Haji
  @description: Home - Presentation Needs - Menabung Untuk Naik Haji
  -------------------------------------------------------------------------------//

//naik-haji
.ocbc-presentation-needs__pane(data-presentation='naik-haji')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Menjalankan Ibadah Penuh Berkah',
      description: 'Buka Tabungan Haji iB untuk kepastian berangkat ke Tanah Suci',
      image: {
        desktop: 'naik-haji-d.jpg',
        mobile: 'naik-haji-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan Tabungan untuk Ibadah Haji',
      button: {
        to: '#',
        text: 'Lihat Semua Produk'
      },
      card: [
        {
          icon: 'saving-star.svg',
          title: 'Tanda Mudharabah iB Plus',
          description: 'Tabungan dengan prinsip syariah yang dikelola berdasarkan akad Mudharabah Mutlaqah',
          button: 'Selengkapnya',
          to: '#'
        },
        {
          icon: 'deposit-star.svg',
          title: 'Deposito iB',
          description: 'Tabungan atau investasi dana nasabah uang penarikannya dapat dilakukan sesuai kesepakatan',
          button: 'Selengkapnya',
          to: '#'
        },
        {
          icon: 'deposit-star.svg',
          title: 'Giro iB Wadiah',
          description: 'Tabungan yang dapat ditarik sewaktu-waktu dengan menggunakan cek atau bilyet giro',
          button: 'Selengkapnya',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita Untuk Inspirasi',
      card: [
        {
          image: 'haji-1.jpg',
          label: 'Simpanan',
          title: 'Kenali Manfaat Membuka Tabungan untuk Haji',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'haji-2.jpg',
          label: 'Simpanan',
          title: 'Siapkan Dana Naik Haji Sedini Mungkin',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }
  include ../../../layout/card-article.pug
