//-------------------------------------------------------------------------------
  @name: Home - Presentation Needs - Pengumuman Penting OCBC NISP
  @description: Home - Presentation Needs - Pengumuman Penting OCBC NISP
  -------------------------------------------------------------------------------//

//pengumuman-penting-ocbc
.ocbc-presentation-needs__pane(data-presentation='pengumuman-penting-ocbc')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Perubahan Ketentuan Penukaran Mileage di www.pakaipoin.com',
      description: '',
      image: {
        desktop: 'pengumuman-penting-d.jpg',
        mobile: 'pengumuman-penting-m.jpg'
      },
      button: {
        outlineWhite: {
          text: 'Berita Lainnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug
