//-------------------------------------------------------------------------------
  @name: Home - Presentation Needs - Rencana Bisnis Baru
  @description: Home - Presentation Needs - Rencana Bisnis Baru
  -------------------------------------------------------------------------------//

//rencana-bisnis-baru
.ocbc-presentation-needs__pane(data-presentation='rencana-bisnis-baru')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Pembiayaan Kebutuhan Operasional Usaha',
      description: 'Layanan pembiayaan dengan proses kredit sederhana, cepat, dan nyaman',
      image: {
        desktop: 'kembangkan-rencena-bisnis-baru-d.jpg',
        mobile: 'kembangkan-rencena-bisnis-baru-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Cari Tahu',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Pilihan layanan lain untuk kebutuhan bisnis',
      button: {
        to: '#',
        text: 'Lihat Semua Produk'
      },
      card: [
        {
          icon: 'global-business.svg',
          title: 'Letter of Credit (LC)',
          description: 'Layanan transaksi pembelian barang dan jasa Internasional',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'supply-chain.svg',
          title: 'Supply Chain',
          description: 'Layanan yang membantu memaksimalkan cash flow bisnis',
          button: 'Cari Tahu',
          to: '#'
        },
        {
          icon: 'insurance.svg',
          title: 'Shipping Guarantee',
          description: 'Proses pengeluaran barang impor lebih cepat dengan penerbitan Shipping Guarantee',
          button: 'Cari Tahu',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- article
  -
    data = {
      title: 'Cerita Inspirasi Bisnis',
      card: [
        {
          image: 'nyala-1.jpg',
          label: 'Bisnis',
          title: 'Lihat Peraturan Baru Pemerintah Soal Impor Barang',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        },
        {
          image: 'individu-3.jpg',
          label: 'Bisnis',
          title: 'Tips Menggunakan Jasa Internasional yang Aman',
          button: {
            text: 'Baca',
            to: 'artikel-detail.html'
          }
        }
      ],
      more: {
        to: 'artikel.html',
        text: 'Lihat Semua'
      }
    }
  include ../../../layout/card-article.pug
