//-------------------------------------------------------------------------------
  @name: Config
  @description: Config wesbite
  -------------------------------------------------------------------------------//

-
  // Suffix Title
  suffixSiteTitle = '| OCBC NISP - Bank OCBC NISP - With You';
  suffixSiteDescription = '| OCBC NISP - Bank OCBC NISP - With You';
  suffixSiteKeywords = 'ocbc nisp, bank ocbc nisp, with you';

  // Time Refresh
  timeRefresh = 900;

  // Site Domain
  siteDomain = 'ocbcnisp.com';

  // Site URL
  siteURL = 'https://www.ocbcnisp.com';

  // Site Theme
  siteTheme = '#f14545';

  // Author
  author = 'OCBC NISP - Bank OCBC NISP - With You';
  copyright = '2020 OCBC NISP. All Right Reserved';

  // SEO Frienldy
  seoFriendly = true;
  cannonical = 'https://www.ocbcnisp.com';

  // OG Facebook
  ogFacebook = {
    enable: true,
    url: 'https://www.facebook.com/bankocbcnisp',
    type: 'website',
    section: 'product',
    published_time: '2019-04-26 17:35:30T+07:00',
    modified_time: '2019-04-26 17:35:30T+07:00',
    expiration_time: '2019-04-26 17:35:30T+07:00',
    image: 'img/default/og-facebook.jpg',
    imageType: 'image/jpeg'
  };

  // Twitter Card
  twitterCard = {
    enable: true,
    twitterId: '@bankocbcnisp',
    sizeCard: 'summary_large_image',
    image: 'img/default/twitter-card.jpg'
  };

  // Manifest
  manifest = 'js/data/manifest.json';

  // Icons
  icons = {

    // Web Favicon
    webFavicon: 'img/homescreen/favicon.ico',

    // Add to Home Screen
    homescreen: {

      // Android
      android: {
        s16: 'img/homescreen/favicon-16x16.png',
        s32: 'img/homescreen/favicon-32x32.png',
        s96: 'img/homescreen/favicon-96x96.png',
        s144: 'img/homescreen/android-icon-144x144.png',
        s192: 'img/homescreen/android-icon-192x192.png'
      },

      // Microsoft
      microsoft: {
        s144: 'img/homescreen/ms-icon-144x144.png'
      },

      // iOS
      iOS: {
        default: 'img/homescreen/apple-icon.png',
        s57: 'img/homescreen/apple-icon-57x57.png',
        s60: 'img/homescreen/apple-icon-60x60.png',
        s72: 'img/homescreen/apple-icon-72x72.png',
        s76: 'img/homescreen/apple-icon-76x76.png',
        s114: 'img/homescreen/apple-icon-114x114.png',
        s120: 'img/homescreen/apple-icon-120x120.png',
        s144: 'img/homescreen/apple-icon-144x144.png',
        s152: 'img/homescreen/apple-icon-152x152.png',
        s180: 'img/homescreen/apple-icon-180x180.png'
      }
    }
  };

  //- Social Media
  socialMedia = [
    //- {
    //-   network: 'phone',
    //-   url: ['hubungi-kami.html', 'tel:+62211500999'],
    //-   logo: 'phone-circle'
    //- },
    {
      network: 'youtube',
      url: 'https://www.youtube.com/BankOCBCNISP',
      logo: 'youtube'
    },
    {
      network: 'facebook',
      url: 'https://www.facebook.com/bankocbcnisp',
      logo: 'facebook'
    },
    {
      network: 'instagram',
      url: 'https://www.instagram.com/ocbc_nisp',
      logo: 'instagram-circle'
    },
    {
      network: 'twitter',
      url: 'https://twitter.com/bankocbcnisp',
      logo: 'twitter-circle'
    }
  ];

  //- Apps
  appsLink = {
    googlePlay: 'https://play.google.com/store/apps/details?id=com.ocbcnisp.onemobileapp&hl=en',
    appStore: 'https://apps.apple.com/id/app/ocbc-nisp-one-mobile/id1194942386'
  }


  //- holdTransitionClass
  holdTransitionClass = 'ocbc-hold-transition';

  //- Data API
  //- Production - Staging
  //dataAPI = 'http://webdev-ocbc.xituz.com/js/data/';
  //- Dev
  dataAPI = 'http://localhost:3000/js/data/';


  //=======================================================
  //--------------------- ASSETS --------------------------
  //=======================================================

  // CSS
  //--- CSS: Main
  cssMain = 'css/main.min.css';

  //--- CSS: Custom
  cssBotCustom = 'css/chat-bot-custom.css';
  cssCustom = 'css/custom-style.css';

  //--- CSS: Design System
  cssDsHljs = 'css/design-system/hljs-default.min.css';
  cssDsHljsTheme = 'css/design-system/hljs-monokai-sublime.min.css';

  //--- JS
  //--- JS: Recaptcha
  jsRecaptcha = 'https://www.google.com/recaptcha/api.js';

  //--- JS: Vendor
  jsVendor = 'js/vendor.min.js';

  //--- JS: Design System
  jsHljs = 'js/design-system/highlight.min.js';
  jsClipboard = 'js/design-system/clipboard.min.js';
  jsDesignSystem = 'js/design-system/design-system-main.js';

  //--- JS: Main
  jsMain = 'js/main.min.js';

  //--- JS: Custom
  jsCustom = 'js/custom-script.js';
  jsCalculator = 'js/calculator.js';
  jsCalculatorChart = 'js/calculator-chart.js';
  jsCalculatorResult = 'js/calculator-result.js';
