//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pendidikan - Card Article
  @description: Individu - Wealth Management - Pendidikan - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'life-goals-1.png',
        label: 'Pendidikan',
        title: 'Cara mengamankan pendidikan Anak',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'life-goals-2.png',
        label: 'Pendidikan',
        title: 'Cara mengamankan pendidikan Anak',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

//ocbc-card-article__prod-detail
.ocbc-card-article__prod-detail
  include ../../layout/card-article.pug
