//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pendidikan - CSR Program
  @description: Individu - Wealth Management - Pendidikan - CSR Program
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Kebutuhan Pendidikan Anak tidak Terpenuhi',
      description: '46% orang tua berada di jalur yang salah dalam memenuhi kebutuhan finansial keluarga, termasuk urusan pendidikan anak',
      img: 'pendidikan-1.png',
      large: true
    },
    {
      reverse: true,
      title: 'Biaya Pendidikan di Indonesia Naik Setiap Tahunnya',
      description: 'Biaya pendidikan akan mengalami kenaikan 10% sampai dengan 20 % per tahunnya',
      img: 'pendidikan-2.png',
      large: true
    },
    {
      title: 'Penggunaan Teknologi di Dunia Pendidikan',
      description: 'Belajar dengan berbasis teknologi menjadi salah satu solusi untuk pola pembelajaran yang aktif',
      img: 'bidang-pendidikan.png',
      large: true
    }
  ]

include ../../layout/csr-program.pug
