//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pendidikan - Product Banner
  @description: Individu - Wealth Management - Pendidikan - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Rencanakan Pendidikan Anak',
    description: 'Masa depan anak cemerlang dengan memberikan peluang pendidikan terbaik',
    image: {
      desktop: 'life-goals-1-d.png',
      mobile: 'life-goals-1-m.png'
    },
    button: {
      primary: {
        text: 'Mulai Simulasi',
        to: 'kalkulator-pendidikan.html'
      }
    }
  }

include ../../components/product-detail-banner.pug
