//-------------------------------------------------------------------------------
  @name: Karir - Live As The One - Breadcrumbs
  @description: Karir - Live As The One - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'karir.html',
      text: 'Karir'
    },
    {
      to: 'karir-live-as-the-one.html',
      text: 'Live As The ONe'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
