//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPM - Card Upselling
  @description: Hasil Perhitungan Kalkulator KPM - Card Upselling
  -------------------------------------------------------------------------------//

-
  modifier = 'more-py';
  data = {
    border: true,
    title: 'Explore Our Teams Further',
    description: 'It’s a place where your talent and skills can take you in unexpected directions.',
    button: 'Browse Jobs',
    to: '#'
  }

include ../../layout/card-upselling.pug
