//-------------------------------------------------------------------------------
  @name: Karir - Live As The One - Card Article
  @description: Karir - Live As The One - Card Article
  -------------------------------------------------------------------------------//

//- article
-
  data = {
    modifier: 'is-more-pt',
    title: 'Keseruan di OCBC NISP',
    card: [
      {
        image: 'karir-1.jpg',
        label: 'The Caring ONe',
        title: 'OCBC NISP Communities',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'karir-4.jpg',
        label: 'The Progressive ONe',
        title: 'Celebration Kartini Day 2019',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ],
    more: {
      to: 'artikel.html',
      text: 'Lihat Semua'
    }
  }
include ../../layout/card-article.pug

//- article
-
  data = {
    modifier: 'is-more-pb',
    title: 'Berbuat baik bagi sesama bersama OCBC NISP',
    card: [
      {
        image: 'karir-2.jpg',
        label: 'The ONe Deliver',
        title: 'Blood Donation 2019',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'karir-3.jpg',
        label: 'The ONe Deliver',
        title: 'Blood Donation 2018',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ],
    more: {
      to: 'tentang-kami-informasi.html',
      text: 'Lihat Semua'
    }
  }
include ../../layout/card-article.pug
