//-------------------------------------------------------------------------------
  @name: Karir - Live As The One  - Product Banner
  @description: Karir - Live As The One  - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Live As The ONe',
    description: 'Segala hal yang kamu butuhin ada di OCBC NISP. Mulai dari sarana menyalurkan hobi, mendapatkan work-life balance, hingga sarana kesehatan.',
    image: {
      desktop: 'detail-karir-d.jpg',
      mobile: 'detail-karir-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
