//-------------------------------------------------------------------------------
  @name: Karir - Live As The One - Slider Testimonial
  @description: Karir - Live As The One - Slider Testimonial
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'm-no-padding',
    list: [
      {
        img: 'thumbnail-1.jpg',
        name: 'Sharona Fransiska',
        desc: 'Di OCBC NISP saya mendapatkan banyak pengalaman menarik',
        link: {
          title: 'Baca Selengkapnya',
          to: '#'
        }
      },
      {
        img: 'thumbnail-2.jpg',
        name: 'Tika Francine - Pengusaha Tas Kulit',
        desc: 'Menjadi nasabah OCBC NISP merupakan keputusan tepat, usaha saya tumbuh secara progressive',
        link: {
          title: 'Baca Selengkapnya',
          to: '#'
        }
      },
      {
        img: 'thumbnail-3.jpg',
        name: 'Yogie Adiyasa - Pemilik Toko Furnitur',
        desc: 'Punya usaha yang berkembang dan tertata bisa jadi nyata bersama OCBC NISP',
        link: {
          title: 'Baca Selengkapnya',
          to: '#'
        }
      }
    ]
  }
include ../../layout/slider-testimonial.pug
