//-------------------------------------------------------------------------------
  @name: Hubungi Kami - Mekanisme Pengaduan Nasabah - Content
  @description: Hubungi Kami - Mekanisme Pengaduan Nasabah - Content
  -------------------------------------------------------------------------------//

//- Basic Page Template
extends ../../layout/basic-page.pug

//- Content
block content
  //ocbc-basic-page__head
  .ocbc-basic-page__head
    h2.ocbc-basic-page__title
      | Mekanisme Pengaduan Nasabah
    p.ocbc-basic-page__desc
      | Sesuai ketentuan Otoritas Jasa Keuangan (OJK), Bank OCBC NISP wajib menginformasikan Mekanisme Pengaduan Nasabah sebagai komitmen Bank untuk menjamin hak Nasabah dalam mengajukan pengaduan atas produk/jasa/layanan yang diberikan.
    p.ocbc-basic-page__desc
      | Berikut ini mekanisme penyampaian pengaduan baik secara lisan maupun tertulis:

  //ocbc-basic-page__body
  .ocbc-basic-page__body
    -
      data = {
        card: [
          {
            img: 'phone.svg',
            title: 'Call OCBC NISP',
            description: 'Dalam Negeri Hubungi 1500-999<br/>Luar Negeri Hubungi +62-21-26506300',
            button: {
              to: 'tel:+62211500999',
              toInternational: 'tel:+622126506300',
              target: '_blank',
              text: 'Hubungi',
              jsClass: 'js-call-ocbc-nisp'
            }
          },
          {
            img: 'whatsapp.svg',
            title: 'Layanan WhatsApp OCBC NISP',
            description: 'Hubungi +628121500999',
            button: {
              to: 'https://api.whatsapp.com/send?phone=+628121500999&text=Hi OCBC NISP',
              target: '_blank',
              text: 'Chat'
            }
          },
          {
            img: 'email.svg',
            title: 'e-mail OCBC NISP',
            description: 'Kirim e-mail ke callcenter@ocbcnisp.com',
            button: {
              to: 'mailto:callcenter@ocbcnisp.com',
              target: '_blank',
              text: 'Kirim e-mail'
            }
          },
          {
            img: 'global-business.svg',
            title: 'Kunjungi Cabang OCBC NISP',
            description: 'Datang ke Kantor Cabang OCBC NISP Terdekat',
            button: {
              to: 'hubungi-kami-lokasi-kami.html',
              text: 'Lihat Lokasi'
            }
          },
          {
            img: 'document.svg',
            title: 'e-form',
            description: 'Ajukan pertanyaan melalui e-form',
            button: {
              to: 'bisnis-sme-pinjaman-kmk-pengajuan-pinjaman.html',
              text: 'Kirim e-form'
            }
          },
          {
            img: 'twitter.svg',
            title: 'Twitter Customer Service',
            description: 'Mention @tanyaocbcnisp',
            button: {
              to: 'https://twitter.com/intent/tweet?screen_name=tanyaocbcnisp',
              target: '_blank',
              text: 'Buka Twitter'
            }
          }
        ]
      }

    //ocbc-contact-channel__list
    .ocbc-row.ocbc-contact-channel__list
      each val in data.card
        //ocbc-contact-channel__item
        div(class='ocbc-col-xl-6 ocbc-col-xs-12 ocbc-contact-channel__item')
          //- define data
          - data = val;
          include ../../components/contact-channel.pug

    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      p.ocbc-basic-page__desc
        | Dokumen yang dilampirkan untuk pengaduan adalah sebagai berikut:
      ol.ocbc-basic-page__list
        li.ocbc-basic-page__list__item
          | Fotokopi bukti identitas nasabah yang masih berlaku.
        li.ocbc-basic-page__list__item
          | Fotokopi dokumen pendukung, antara lain dapat berupa bukti setoran/penarikan, bukti transfer, Statement of Account, dan/atau dokumen pendukung lainnya yang terkait dengan pengaduan yang disampaikan.
        li.ocbc-basic-page__list__item
          |!{''}
          | Apabila penyampaian pengaduan dilakukan oleh Perwakilan Nasabah, maka diperlukan dokumen tambahan sebagai berikut:
          ='\n'
          ul.ocbc-basic-page__list
            li.ocbc-basic-page__list__item
              | Fotokopi bukti identitas Perwakilan Nasabah
            li.ocbc-basic-page__list__item
              | Surat Kuasa khusus dari Nasabah kepada Perwakilan Nasabah yang menyatakan bahwa Nasabah memberikan kewenangan kepada kuasa yang ditunjuk (Perorangan, Lembaga, atau Badan Hukum) untuk mewakilinya dan bertindak atas nama Nasabah
            li.ocbc-basic-page__list__item
              | Jika Perwakilan Nasabah berupa lembaga dan/atau badan hukum, maka Perwakilan Nasabah tersebut harus menyertakan dokumen yang menyatakan kewenangannya.

    //ocbc-basic-page__chart
    .ocbc-basic-page__chart
      //ocbc-basic-page__chart__legend
      .ocbc-basic-page__chart__legend
        ='\n'
        img.ocbc-basic-page__chart__legend__img-d(src='img/dummy/fragment/hubungi-kami/legend-hubungi-kami-d.png', alt='Hubungi Kami Legend')/
        ='\n'
        img.ocbc-basic-page__chart__legend__img-m(src='img/dummy/fragment/hubungi-kami/legend-hubungi-kami-m.png', alt='Hubungi Kami Legend')/
        |!{''}
        |
      //ocbc-basic-page__chart__diagram
      .ocbc-basic-page__chart__diagram
        ='\n'
        img.ocbc-basic-page__chart__diagram__img(src='img/dummy/fragment/hubungi-kami/grafik-hubungi-kami.png', alt='Whistleblowing Proses')/
        |!{''}
        |

    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      ol.ocbc-basic-page__list
        li.ocbc-basic-page__list__item
          | Nasabah/Non-Nasabah/Perwakilan Nasabah mengajukan pengaduan ke Bank OCBC NISP melalui:
          ul.ocbc-basic-page__list
            li.ocbc-basic-page__list__item
              | Telepon ke Call OCBC NISP <a href='tel:+62211500999' target='_blank'>1500-999</a>
            li.ocbc-basic-page__list__item
              | <a href='hubungi-kami-lokasi-kami.html'>Kantor cabang Bank OCBC NISP terdekat</a>
            li.ocbc-basic-page__list__item
              | Email ke <a class='ocbc-lnk' href='mailto:callcenter@ocbcnisp.com' target='_blank'>callcenter@ocbcnisp.com</a>
            li.ocbc-basic-page__list__item
              | Situs web <a class='ocbc-lnk' href='http://www.ocbcnisp.com'>www.ocbcnisp.com</a> pada menu “Dukungan & Bantuan”, sub-menu “Pertanyaan”
            li.ocbc-basic-page__list__item
              | Media sosial OCBC NISP (<a href='https://twitter.com/intent/tweet?screen_name=tanyaocbcnisp' target='_blank'>Twitter</a>)
          p.ocbc-basic-page__desc
            | Khusus Perwakilan Nasabah, pengaduan dapat disampaikan hanya melalui kantor cabang Bank OCBC NISP terdekat dengan menyertakan kuasa dari Nasabah.

        li.ocbc-basic-page__list__item
          | Petugas Bank OCBC NISP akan menerima, menggali informasi dan mencatatkan pengaduan di sistem Customer Handling Management.
        li.ocbc-basic-page__list__item
          | Nasabah akan menerima nomor registrasi pengaduan yang dapat digunakan jika ingin menanyakan proses penyelesaian pengaduannya.
        li.ocbc-basic-page__list__item
          | Petugas Bank OCBC NISP akan memberikan solusi atas pengaduan Nasabah. Jika petugas Bank OCBC NISP yang menerima pengaduan belum dapat memberikan solusi, maka pengaduan akan ditindaklanjuti oleh bagian terkait untuk mendapatkan solusi. Selanjutnya hasil penyelesaian pengaduan akan disampaikan ke Nasabah baik melalui telepon, bertemu dengan Nasabah dan mengirimkan pemberitahuan tertulis.
        li.ocbc-basic-page__list__item
          | Pengaduan yang Nasabah sampaikan akan diselesaikan sesuai Service Level Agreement (SLA) berdasarkan kategori pengaduan. Jangka waktu penyelesaian adalah 5 hari kerja untuk pengaduan lisan dan maksimal 20 hari Kerja untuk pengaduan tertulis. Jika penyelesaian membutuhkan waktu lebih dari 20 hari kerja, maka Bank dapat memperpanjang sampai dengan 20 hari kerja berikutnya dengan menginformasikan kepada Nasabah.
        li.ocbc-basic-page__list__item
          | Bank OCBC NISP wajib menyampaikan hasil penyelesaian pengaduan kepada nasabah. Jika Nasabah sepakat dengan hasil penyelesaian yang disampaikan maka Pengaduan Nasabah dianggap selesai. Dalam hal Nasabah tidak menerima hasil penyelesaian yang disampaikan, Nasabah dapat meminta petugas Bank OCBC NISP untuk melakukan eskalasi kembali atas keberatan hasil penyelesaian.
        li.ocbc-basic-page__list__item
          | Jika Nasabah tetap tidak menerima hasil penyelesaian, maka Nasabah dapat menggunakan penyelesaian melalui External Dispute Resolution (EDR) yaitu melalui:
          ul.ocbc-basic-page__list
            li.ocbc-basic-page__list__item
              | Mediasi perbankan yang difasilitasi oleh Bank Indonesia
            li.ocbc-basic-page__list__item
              | Lembaga Alternatif Penyelesaian Sengketa Perbankan Indonesia (LAPSPI)
          p.ocbc-basic-page__desc
            | Persyaratan, proses dan penyelesaian melalui External Dispute Resolution mengikuti ketentuan yang berlaku dari regulator.
        li.ocbc-basic-page__list__item
          | Jika Nasabah tetap tidak menerima hasil penyelesaian, maka Nasabah dapat menggunakan penyelesaian melalui pengadilan.

