//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Fresh Graduate
  @description: Karir - Be The ONe - Fresh Graduate
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Young Bankers',
      target: 'young-bankers'
    },
    {
      text: 'Bank Academy',
      target: 'bank-academy'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--landing-detail.ocbc-vt-content--active(data-pane='young-bankers')
          include vtc-fresh-graduated/young-bankers.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='bank-academy')
          include vtc-fresh-graduated/bank-academy.pug

-
  data = {
    border: true,
    title: 'Apa yang kamu yang kita cari?',
    description: 'Kirim CV dan transkrip nilai kamu',
    button: 'Kirim E-mail',
    to: 'mailto:academy@ocbcnisp.com',
    target: '_blank'
  }

include ../../../layout/card-upselling.pug
