//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Internship
  @description: Karir - Be The ONe - Internship
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Internship',
      target: 'internship'
    },
    {
      text: 'Ideation',
      subcategory: [
        {
          text: 'About',
          target: 'about',
          class: 'js-career-about-content'
        },
        {
          text: 'Prizes',
          target: 'prizes'
        },
        {
          text: 'Judges',
          target: 'judges'
        },
        {
          text: 'Dates and Schedule',
          target: 'dates-schedule'
        },
        {
          text: 'How To Join',
          target: 'how-to-join'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--landing-detail.ocbc-vt-content--active(data-pane='internship')
          include vtc-internship/internship.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='about')
          include vtc-internship/about.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='prizes')
          include vtc-internship/prizes.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='judges')
          include vtc-internship/judges.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='dates-schedule')
          include vtc-internship/dates-schedule.pug
        .ocbc-vt-content.ocbc-vt-content--landing-detail(data-pane='how-to-join')
          include vtc-internship/how-to-join.pug

.ocbc-vertical-tab--about
  -
    data = {
      title: 'Pertanyaan Populer Tentang Ideation',
      question: [
        {
          val: 1,
          text: 'Bolehkah peserta mendaftarkan solusi yang sudah pernah di lombakan sebelumnya?'
        },
        {
          val: 2,
          text: 'Apa itu ONe Mobile'
        },
        {
          val: 3,
          text: 'Apakah ONe Mobile aman untuk bertransaksi'
        }
      ],
      answer: [
        {
          val: 1,
          text: "Tidak, solusi yang sudah pernah di lombakan di kompetisi lainnya tidak diperkenankan untuk mengikuti Ideation 2020."
        },
        {
          val: 2,
          text: 'ONe mobile adalah sebuah aplikasi berbasis digital yang siap membantu Anda betransaksi lebih mudah dan cepat'
        },
        {
          val: 3,
          text: 'Dengan ONe Mobile Bank OCBC NISP, transaksi perbankan sehari-hari cukup dilakukan dengan sentuhan jari.'
        }
      ],
    }

  .ocbc-faq-dd__internship
    include ../../../layout/faq-dropdown.pug

  -
    data = {
      modifier: 'internship',
      list: [
        {
          img: 'ideation-1.jpg',
          name: 'Kebon - Winner Ideation 2019',
          desc: 'Winning this competition isn\'t easy, from day 1 to day 3, our idea gone through lot of processes. We are proud to be the winner. Thank you @peopleatocbcnisp @ocbc_nisp',
          link: {
            title: 'Baca Selengkapnya',
            to: '#'
          }
        },
        {
          img: 'ideation-1.jpg',
          name: 'Tika Francine - Pengusaha Tas Kulit',
          desc: 'Menjadi nasabah OCBC NISP merupakan keputusan tepat, usaha saya tumbuh secara progressive',
          link: {
            title: 'Baca Selengkapnya',
            to: '#'
          }
        },
        {
          img: 'ideation-1.jpg',
          name: 'Yogie Adiyasa - Pemilik Toko Furnitur',
          desc: 'Bisa punya usaha yang berkembang dan tertata bisa jadi nyata bersama OCBC NISP',
          link: {
            title: 'Baca Selengkapnya',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/slider-testimonial.pug

-
  modifier =  '';
  data = {
    border: true,
    title: 'Apakah Anda The ONe yang kita cari?',
    description: 'Kirim CV dan transkrip nilai kamu',
    button: 'Kirim E-mail',
    to: 'mailto:academy@ocbcnisp.com',
    target: '_blank'
  }

include ../../../layout/card-upselling.pug
