//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Professionals
  @description: Karir - Be The ONe - Professionals
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'ProHire',
      target: 'pro-hire'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--landing-detail.ocbc-vt-content--active(data-pane='pro-hire')
          include vtc-professionals/pro-hire.pug
  -
    data = {
      title: 'Kesempatan Karir di OCBC NISP',
      card: [
        {
          to: '#',
          title: 'Corporate Communication',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Premier Banking Manager',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Credit Card Retail Manager',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Digital Marketing',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Secure Loan Officer',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Emerging Business Relationship Manager',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Retail Funding Relationship Manager',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Graduate Development Program - Banking Academy',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Graduate Development Program - Banking Academy',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Emerging Business Relationship Manager',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Premier Banking Manager',
          description: 'Jabodetabek'
        },
        {
          to: '#',
          title: 'Secure Loan Officer',
          description: 'Jabodetabek'
        }
      ]
    }

  include ../../../layout/card-career-list.pug

  -
    data = {
      title: 'Yang Perlu Diperhatikan',
      description: 'Cari tahu semua hal yang perlu dipersiapkan, informasi dan tips untuk aplikasi posisi yang diinginkan di OCBC NISP',
      image: {
        desktop: 'prohire-d.jpg',
        mobile: 'prohire-m.jpg'
      },
      button: {
        to: '#',
        text: 'Selengkapnya'
      }
    }

  include ../../../components/achievement-banner.pug
