//-------------------------------------------------------------------------------
  @name: Product Detail - Floating Card
  @description: Product Detail - Floating Card
  -------------------------------------------------------------------------------//

//ocbc-card--ca__prod-detail
.ocbc-card--ca__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          -
            data = {
              img: "ocbc-card.png",
              title: "Menabung dengan Tanda 360 Plus",
              btnList: [
                {
                  type: "primary",
                  to: "#",
                  txt: "Ajukan"
                }
              ]
            }
          include ../../components/card-apply.pug
