//-------------------------------------------------------------------------------
  @name: Product Detail - Card USP
  @description: Product Detail - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: '12 Mata Uang di 1 tabungan',
      description: 'Berbagai pilihan mata uang transaksi',
      img: 'placeholder.jpg'
    },
    {
      title: 'Bebas Biaya Transaksi',
      description: 'Nikmati gratis biaya transaksi',
      img: 'placeholder.jpg'
    },
    {
      title: 'Nilai Tukar Valas Terbaik',
      description: 'Dapatkan keuntungan jual beli valas',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
