//-------------------------------------------------------------------------------
  @name: Product Detail - Card Article
  @description: Product Detail - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'product-detail-2.jpg',
        label: 'Pinjaman',
        title: 'Ingin mengumpulkan modal usaha? lihat tipsnya',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'product-detail-1.jpg',
        label: 'Pinjaman',
        title: 'Tips Memulai Bisnis Makanan',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

//ocbc-card-article__prod-detail
.ocbc-card-article__prod-detail
  include ../../layout/card-article.pug
