//-------------------------------------------------------------------------------
  @name: Product Detail - Main Banner
  @description: Product Detail - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Tanda 360 Plus',
    description: 'Tabungan dengan pilihan mata uang yang bervariasi untuk kemudahan bertransaksi',
    image: {
      desktop: 'product-detail-4-d.jpg',
      mobile: 'product-detail-4-m.jpg'
    },
    button: {
      primary: {
        text: 'Ajukan',
        to: '#'
      }
    }
  }

include ../../components/product-detail-banner.pug
