//-------------------------------------------------------------------------------
  @name: Product Detail - Nyala Banner
  @description: Product Detail - Nyala Banner
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Lengkapi keuntungan Tanda 360 Plus dengan Nyala',
    description: 'Bebas biaya transaksi kemana saja dan dapatkan cashback Rp50 Ribu setiap bulan',
    button: 'Cari Tahu',
    to: '#',
    isRed: true
  }

//ocbc-nyala-banner__prod-detail
.ocbc-nyala-banner__prod-detail
  include ../../components/nyala-banner.pug
