//-------------------------------------------------------------------------------
  @name: Individu - One Mobile
  @description: Individu - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'velocity',
    image: {
      desktop: 'one-mobile-short-d.jpg',
      mobile: 'one-mobile-short-m.jpg'
    },
    title: 'Ajukan Tanda 360 di ONeMobile'
  }

include ../../components/one-mobile.pug
