//-------------------------------------------------------------------------------
  @name: Product Detail - Product Detail Fragment
  @description: Product Detail - Product Detail Fragment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Keuntugan Lainnya',
    list: [
      {
        title: 'Transaksi Nyaman',
        description: 'Kenyamanan transaksi di berbagai merchant yang bekerja sama dengan OCBCB NISP ',
        img: 'fragment-default.svg'
      },
      {
        title: 'Debit Tanpa Beban',
        description: 'Bebas biaya menggunakan ATM Debit VISA, Debit BCA/Prima untuk transaksi dalam rupiah',
        img: 'fragment-default.svg'
      },
      {
        title: 'Reward Point',
        description: 'Kumpulkan poin sebanyak-banyaknya dan dapatkan hadiah menarik hanya untuk Anda',
        img: 'fragment-default.svg'
      },
      {
        title: 'Promo Istimewa',
        description: 'Penawaran menarik khusus untuk Anda dari berbagai merchant terbaik',
        img: 'fragment-default.svg'
      }
    ]
  }
  

//ocbc-prod-detail-fragment__page
.ocbc-prod-detail-fragment__page
  include ../../layout/product-detail-fragment.pug
