//-------------------------------------------------------------------------------
  @name: Product Detail - Vertical Tab
  @description: Product Detail - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Syarat & Ketentuan',
      target: 'syarat-ketentuan'
    },
    {
      text: 'Bunga & Biaya',
      target: 'bunga-biaya'
    },
    {
      text: 'Katalog Hadiah',
      target: 'katalog-hadiah'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12.ocbc-col-sm-12
        include ../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12.ocbc-col-sm-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='syarat-ketentuan')
          include tab-content/syarat-ketentuan.pug
        .ocbc-vt-content(data-pane='bunga-biaya')
          include tab-content/bunga-biaya.pug
        .ocbc-vt-content(data-pane='katalog-hadiah')
          include tab-content/katalog-hadiah.pug
