//-------------------------------------------------------------------------------
  @name: Artikel - Content
  @description: Artikel - Content
  -------------------------------------------------------------------------------//

extends ../../layout/press-conference.pug

block filter
  -
    data = [
      {
        title: 'Kategori',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Kategori',
            checked: true
          },
          {
            name: 'nyala',
            text: 'Nyala'
          },
          {
            name: 'individu',
            text: 'Individu'
          },
          {
            name: 'premier-banking',
            text: 'Premier Banking'
          },
          {
            name: 'sme',
            text: 'SME'
          },
          {
            name: 'korporasi',
            text: 'Korporasi'
          },
          {
            name: 'syariah',
            text: 'Syariah'
          }
        ]
      },
      {
        title: 'Tema',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Tema',
            checked: true
          },
          {
            name: 'tips-and-tricks',
            text: 'Tips & Tricks'
          },
          {
            name: 'events',
            text: 'Events'
          },
          {
            name: 'life-series',
            text: 'Life Series'
          }
        ]
      }
    ]
  include ../../layout/filter.pug

block list
  -
    data = {
      card: [
        {
          image: 'artikel-1.jpg',
          tag: 'Tips & Tricks',
          label: ' - 15 Apr 2020',
          title: 'Bagaimana Generasi Milenial Mengatur Keuangannya',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-2.jpg',
          tag: 'Tips & Tricks, Life Series, Events, Bisnis',
          label: ' - 15 Apr 2020',
          title: 'Tips Mengatur Keuangan Selama #DirumahAja',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-3.jpg',
          tag: 'Tips & Tricks',
          label: ' - 15 Apr 2020',
          title: 'Daftar Cabang yang Tetap Beroperasi',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-4.jpg',
          tag: 'Tips & Tricks',
          label: ' - 15 Apr 2020',
          title: 'Bank OCBC NISP Raih Penghargaan',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-5.jpg',
          tag: 'Lingkungan',
          label: ' - 19 Des 2019',
          title: 'Melestarikan Lingkungan Lewat #ONCleanday',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-6.jpg',
          tag: 'Sosial',
          label: ' - 19 Des 2019',
          title: 'Bantu Kembalikan Senyum Masyarakat Lombok, Bank OCBC NISP Resmikan Fasilitas Umum di Dusun Mentigi',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-7.jpg',
          tag: 'Sosial',
          label: ' - 10 Des 2019',
          title: 'Bank OCBC NISP Beri Bantuan Pendidikan ke Anak-anak Penderita Thalassemia',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'artikel-8.jpg',
          tag: 'Sosial',
          label: ' - 17 Agustus 2019',
          title: 'Dukung Pembangunan Lombok Pasca Gempa, Bank OCBC NISP Bangun Fasilitas Umum',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  //ocbc-card-article__sortss
  .ocbc-card-article__sort
    include ../../components/sort-fragment.pug
  //ocbc-card-article__lists
  .ocbc-row.ocbc-card-article__list
    each val in data.card
      .ocbc-col-xl-6.ocbc-col-md-12.ocbc-card-article__item
        - data = val;
        include ../../components/card-article.pug
