//-------------------------------------------------------------------------------
  @name: Artikel - Main Banner
  @description: Artikel - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'ONe Update',
    description: 'Kumpulan artikel, berita dan kegiatan terbaru dari Bank OCBC NISP',
    image: {
      desktop: 'artikel-d.jpg',
      mobile: 'artikel-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
