//-------------------------------------------------------------------------------
  @name: Tentang Kami - Tata Kelola  - Main Banner
  @description: Tentang Kami - Tata Kelola  - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Tata Kelola OCBC NISP',
    description: 'Kumpulan informasi terkait pelaksanaan Tata Kelola OCBC NISP',
    image: {
      desktop: 'tata-kelola-d.jpg',
      mobile: 'tata-kelola-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
