//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil  - Tab
  @description: Tentang Kami - Profil  - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'tata-kelola-perusahaan',
          text: 'Tata Kelola Perusahaan'
        },
        {
          target: 'tata-kelola-terintegrasi',
          text: 'Tata Kelola Terintegrasi',
        },
        {
          target: 'kyc-aml',
          text: 'KYC/AML'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='tata-kelola-perusahaan')
    include tab-content/tata-kelola-perusahaan.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='tata-kelola-terintegrasi')
    include tab-content/tata-kelola-terintegrasi.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='kyc-aml')
    include tab-content/kyc-aml.pug
