//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pensiun - Breadcrumbs
  @description: Individu - Wealth Management - Pensiun - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'individu.html',
      text: 'Individu'
    },
    {
      to: 'individu-wealth-management.html',
      text: 'Wealth Management'
    },
    {
      to: 'individu-wealth-management-pensiun.html',
      text: 'Rencanakan Hari Tua'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
