//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pensiun - Card Article
  @description: Individu - Wealth Management - Pensiun - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'life-goals-5.png',
        label: 'Perencanaan Pensiun',
        title: 'Tips Mempersiapkan Masa Tua',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'life-goals-6.png',
        label: 'Perencanaan Pensiun',
        title: 'Tips Mempersiapkan Masa Tua',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

//ocbc-card-article__prod-detail
.ocbc-card-article__prod-detail
  include ../../layout/card-article.pug
