//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pensiun - Card USP
  @description: Individu - Wealth Management - Pensiun - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Perencanaan Matang',
      description: 'Merencanakan investasi sesuai dengan prioritas hidup',
      img: 'placeholder.jpg'
    },
    {
      title: 'Portfolio yang Tepat',
      description: 'Disesuaikan dengan kebutuhan hidup untuk hasil yang optimal',
      img: 'placeholder.jpg'
    },
    {
      title: 'Peninjauan Ulang',
      description: 'Secara berkala dilihat apakah hasilnya sesuai dengan tujuan',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
