//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pensiun - CSR Program
  @description: Individu - Wealth Management - Pensiun - CSR Program
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Investasi Sejak Dini',
      description: 'Jika memulai investasi mulai usia 20 tahun, hasil saat masa pensiun pun bisa besar sekitar 73 Milyar',
      img: 'pensiun-1.png',
      large: true
    },
    {
      reverse: true,
      title: 'Penghasilan Setelah Pensiun',
      description: '66% pensiunan berharap mereka menabung lebih banyak uang ketika masih bekerja',
      img: 'pensiun-2.png',
      large: true
    },
    {
      title: 'Penghasilan Setelah Pensiun',
      description: 'Penghasilan selama masa pensiun 20% berasal dari tabungan dan investasi',
      img: 'pensiun-3.png',
      large: true
    }
  ]

include ../../layout/csr-program.pug
