//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Pensiun - Product Banner
  @description: Individu - Wealth Management - Pensiun - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Rencanakan Hari Tua',
    description: 'Nikmati masa pensiun dengan tenang tanpa khawatir dengan kebutuhan finansial',
    image: {
      desktop: 'life-goals-3-d.png',
      mobile: 'life-goals-3-m.png'
    },
    button: {
      primary: {
        text: 'Mulai Simulasi',
        to: 'kalkulator-pensiun.html'
      }
    }
  }

include ../../components/product-detail-banner.pug
