//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Tab - Privileges - Kemudahan Transaksi
  @description: Individu - Premier - Layananan - Tab - Privileges - Kemudahan Transaksi
  -------------------------------------------------------------------------------//

extends ../../../../components/circle-description-section

//- Head
block head
  -
    data = {
      gray: true,
      positionImage: 'img-br'
    }


//- Image
block image
  -
    image = {
      color: 'premier',
      img: 'image-circle-8.jpg',
      small: true
    }


//- Content
block content
  h3.ocbc-circle-desc-sec__title
    | Kemudahan Bertransaksi
  //ocbc-circle-desc-sec__txt__wrapper
  .ocbc-circle-desc-sec__txt__wrapper
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      p.ocbc-circle-desc-sec__desc
        | Untuk memudahkan transaksi nasabah, khususnya untuk Produk Valuta Asing, di seluruh Premier Center OCBC NISP kami menyediakan fasilitas Phone Recording. Melalui fasilitas ini, Anda dapat melakukan transaksi Produk Valuta Asing melalui telepon, tanpa harus datang ke cabang.
      p.ocbc-circle-desc-sec__desc
        | Fasilitas ini dapat nasabah apabila sudah melengkapi dokumen yang dibutuhkan sesuai dengan ketentuan yang berlaku.
