//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Tab - Privileges - Premier Center
  @description: Individu - Premier - Layananan - Tab - Privileges - Premier Center
  -------------------------------------------------------------------------------//

extends ../../../../components/circle-description-section

//- Head
block head
  -
    data = {
      gray: true,
      positionImage: 'img-br-loc',
    }

//- Image
block image
  -
    image = {
      color: 'premier',
      img: 'image-circle-6.jpg',
      small: true
    }

//- Content
block content
  h3.ocbc-circle-desc-sec__title
    | Premier Center
  //ocbc-circle-desc-sec__txt__wrapper
  .ocbc-circle-desc-sec__txt__wrapper
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      p.ocbc-circle-desc-sec__desc
        | Kami menyediakan Premier Center yang tersebar di beberapa kota di Indonesia yang disediakan khusus untuk kenyamanan Anda. Serta memberikan privasi bagi Anda yang membutuhkan tempat untuk pertemuan dengan relasi serta transaksi perbankan.
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      //ocbc-circle-desc-sec__thumbs
      .ocbc-circle-desc-sec__thumbs
        .ocbc-circle-desc-sec__thumbs__list
          .ocbc-circle-desc-sec__thumbs__item
            .ocbc-circle-desc-sec__thumbs__img-wrapper
              ='\n'
              img.ocbc-circle-desc-sec__thumbs__img(src=`img/dummy/fragment/layanan-premier/thumb-1.png`, alt='Preview Card')/
              | !{''}
              |
          .ocbc-circle-desc-sec__thumbs__item
            .ocbc-circle-desc-sec__thumbs__img-wrapper
              ='\n'
              img.ocbc-circle-desc-sec__thumbs__img(src=`img/dummy/fragment/layanan-premier/thumb-2.png`, alt='Preview Card')/
              | !{''}
              |
        .ocbc-circle-desc-sec__thumbs__more
          ='\n'
          a.ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--gold(href='hubungi-kami-lokasi.html')
            | Lihat Semua Lokasi
          | !{''}
          |
