//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Tab - Privileges - Tarif Biaya Khusus
  @description: Individu - Premier - Layananan - Tab - Privileges - Tarif Biaya Khusus
  -------------------------------------------------------------------------------//

extends ../../../../components/circle-description-section

//- Image
block image
  -
    image = {
      color: 'premier',
      img: 'image-circle-9.jpg',
      small: true
    }


//- Content
block content
  h3.ocbc-circle-desc-sec__title
    | Tarif & Biaya Khusus
  //ocbc-circle-desc-sec__txt__wrapper
  .ocbc-circle-desc-sec__txt__wrapper
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      p.ocbc-circle-desc-sec__desc
        | Untuk kenyamanan Anda dalam bertransaksi kami mempersembahkan tarif dan biaya yang dirancang khusus untuk Anda, Nasabah Premier Banking kami.
      ul.ocbc-circle-desc-sec__list
        li.ocbc-circle-desc-sec__list__item
          | Bebas biaya tarik tunai dalam mata uang asing sampai dengan maksimal USD 50,000 dalam sebulan
        li.ocbc-circle-desc-sec__list__item
          | Bebas biaya transfer antar Bank (SKN dan online) tanpa batas
        li.ocbc-circle-desc-sec__list__item
          | Bebas 10X biaya RTGS per bulan
        li.ocbc-circle-desc-sec__list__item
          | Bebas 2X biaya TT ke bank manapun per bulan dan transaksi wajib dilakukan melalui ONe Mobile (berlaku hingga 31 Desember 2020)
      p.ocbc-circle-desc-sec__note
        | *Bebas biaya menggunakan metode refund.
      p.ocbc-circle-desc-sec__desc
        | Efektif 15 Mei 2020 bebas biaya transaksi berlaku otomatis saat Anda bertransaksi selama saldo rata-rata gabungan bulan sebelumnya terjaga minimum Rp 500.000.000 (lima ratus juta rupiah).
      p.ocbc-circle-desc-sec__desc
        | Catatan : Khusus untuk transaksi pembayaran, biaya akan dikreditkan H+1 setelah bertransaksi.
      a.ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--gold(href='#')
        | Lihat Detail
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      p.ocbc-circle-desc-sec__desc
        | Biaya istimewa untuk sewa Safe Deposit Box untuk mempermudah Anda menyimpan berbagai barang berharga Anda dengan aman. Nikmati diskon 50% bahkan gratis biaya sewa Safe Deposit Box khusus bagi Anda nasabah OCBC NISP Premier Banking.
      a.ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--gold(href='#')
        | Lihat Detail
