//-------------------------------------------------------------------------------
  @name: Individu - Premier - Layananan - Tab - Privileges - Text Column
  @description: Individu - Premier - Layananan - Tab - Privileges - Text Column
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'gray',
    text: [
      {
        title: 'Medical Check Up On Call',
        description: 'Di tengah kesibukan, Anda bisa tetap memeriksa kesehatan dengan menggunakan salah satu fasilitas khusus yaitu Medical Check-Up On Call yang kami sediakan khusus untuk Anda.',
        button: {
          premier: true,
          to: '.popup-privileges-medical-check-up',
          popupClass: 'js-show-popup-general',
          text: 'Lihat Detail'
        }
      },
      {
        title: 'Airport Pick Up Services',
        description: 'Untuk menambah kemudahan serta menghemat waktu berharga Anda dalam perjalanan, kami menyediakan fasilitas penjemputan dari Bandara ke tempat tujuan Anda. Fasilitas ini tersedia di Indonesia yaitu, Jakarta (Bandara Internasional Soekarno - Hatta), Surabaya (Bandara Internasional Juanda) dan Singapura (Bandara Internasional Changi).',
        button: {
          premier: true,
          to: '.popup-privileges-airport-pickup',
          popupClass: 'js-show-popup-general',
          text: 'Lihat Detail'
        }
      },
      {
        title: 'Berbagai Acara Istimewa Ekslusif',
        description: 'Ikuti acara istimewa eksklusif hanya untuk nasabah OCBC NISP Premier Banking dan nikmati harga spesial dari berbagai merchant yang bekerja sama.',
        button: {
          premier: true,
          to: 'artikel.html?kategori=premier-banking&tema=events',
          text: 'Lihat Detail'
        }
      },
      {
        title: 'Promo',
        description: 'Nikmati Program KPR khusus bagi nasabah OCBC NISP Premier Banking dengan berbagai kemudahan dan keuntungan.',
        button: {
          premier: true,
          to: '.popup-privileges-promo',
          popupClass: 'js-show-popup-general',
          text: 'Lihat Promo'
        }
      }
    ]
  }
include ../../../../layout/text-column.pug
