//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Kredit Investasi
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Kredit Investasi
  -------------------------------------------------------------------------------//

include table/investasi.pug
