//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Kredit Modal Kerja
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Kredit Modal Kerja
  -------------------------------------------------------------------------------//

include table/modal.pug
