//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Kredit Program
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Kredit Program
  -------------------------------------------------------------------------------//

include table/program.pug
