//-------------------------------------------------------------------------------
  @name: @name: Tentang Kami - Profil - Tab - Struktur Manajemen - Komite
  @description: @name: Tentang Kami - Profil - Tab - Struktur Manajemen - Komite
  -------------------------------------------------------------------------------//

h4.ocbc-management-structure__title--people
  | Komite
-
  data = [
    {
      card: {
        image: 'card-1.jpg',
        name: 'Pramukti Surjaudaja',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Peter Eko Sutioso',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Samuel Nag Tsien',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Lai Teck Poh',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Jusuf Halim',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Kwan Chiew Choi',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Hardi Juganda',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Betti S. Alisjahbana',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    },
    {
      card: {
        image: 'card-1.jpg',
        name: 'Rama P. Kusumaputra',
        position: 'Komite'
      },
      detail: {
        image: 'popup-1.png',
        body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komite Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
      }
    }
  ];
include ../../../../layout/card-bod.pug
