//-------------------------------------------------------------------------------
  @name: @name: Tentang Kami - Profil - Tab - Struktur Manajemen - Struktur Organisasi
  @description: @name: Tentang Kami - Profil - Tab - Struktur Manajemen - Struktur Organisasi
  -------------------------------------------------------------------------------//

h4.ocbc-management-structure__title
  | Struktur Organisasi
.ocbc-management-structure__org
  ='\n'
  img.ocbc-management-structure__org__img-d(src='img/dummy/fragment/struktur-organisasi/organisasi-d.png', alt='Struktur Organisasi')/
  ='\n'
  img.ocbc-management-structure__org__img-m(src='img/dummy/fragment/struktur-organisasi/organisasi-m.png', alt='Struktur Organisasi')/
  |!{''}
  |
