//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab - Digital Channel
  @description: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab - Digital Channel
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Digital Channel',
      subcategory: [
        {
          text: 'ONe Mobile',
          target: 'one-mobile'
        },
        {
          text: 'Internet Banking',
          target: 'internet-banking'
        },
        {
          text: 'ATM OCBC NISP',
          target: 'atm-ocbc'
        },
        {
          text: 'SMS Banking OCBC NISP',
          target: 'sms-banking'
        },
        {
          text: 'Velocity Mobile',
          target: 'velocity-mobile'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='one-mobile')
          include vtc-digital-channel/one-mobile.pug
        .ocbc-vt-content(data-pane='internet-banking')
          include vtc-digital-channel/internet-banking.pug
        .ocbc-vt-content(data-pane='atm-ocbc')
          include vtc-digital-channel/atm-ocbc.pug
        .ocbc-vt-content(data-pane='sms-banking')
          include vtc-digital-channel/sms-banking.pug
        .ocbc-vt-content(data-pane='velocity-mobile')
          include vtc-digital-channel/velocity-mobile.pug
