//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Bulk Payment
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Bulk Payment
  -------------------------------------------------------------------------------//

include table/bulk-payment.pug
