//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Local Outward Documentary Collection (Inkaso Keluar)
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Local Outward Documentary Collection (Inkaso Keluar)
  -------------------------------------------------------------------------------//

include table/inkaso-keluar.pug
