//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Letter of Credit
  @description: Bunga & Biaya SME - Vertical Tab - Letter of Credit
  -------------------------------------------------------------------------------//


include table/letter-of-credit.pug
