//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Outward Documentary Collection
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Outward Documentary Collection
  -------------------------------------------------------------------------------//

include table/outward-documentary-collection.pug
