//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Remittance
  @description: Bunga & Biaya SME - Vertical Tab - Remittance
  -------------------------------------------------------------------------------//


include table/remittance.pug
