//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Supply Chain Solution Financing Services
  @description: Bunga & Biaya SME - Vertical Tab - Supply Chain Solution Financing Services
  -------------------------------------------------------------------------------//


include table/supply-chain-solution.pug
