//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - FX Today & Non Today - Tab Content - Syarat & Ketentuan
  @description: Individu - Wealth Management - Treasury - FX Today & Non Today - Tab Content - Syarat & Ketentuan
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Syarat &amp; ketentuan yang perlu diketahui
.ocbc-vt-content__body
  ul.ocbc-vt-content__ul
    li.ocbc-vt-content__li
      | Mengisi Formulir Pembukaan Rekening
    li.ocbc-vt-content__li
      | Tidak termasuk dalam Daftar Hitam Bank Indonesia dan OCBC NISP
    li.ocbc-vt-content__li
      | Warna Negara Indonesia (WNI)
