//-------------------------------------------------------------------------------
  @name: FAQ - FAQ Accordion - Penggunaan ONe Mobile
  @description: FAQ - FAQ Accordion - Penggunaan ONe Mobile
  -------------------------------------------------------------------------------//

extends ../../../../../components/faq-accordion.pug

block head
  -
    title = 'Daftar ONe Mobile';

block content
  p.ocbc-faq-ac__b
    | Apa yang harus dilakukan jika lupa User ID ONe Mobile saya?
  p.ocbc-faq-ac__p
    | Anda dapat melakukan pengecekan User ID ONe Mobile melalui:

  p.ocbc-faq-ac__b
    | ONe Mobile OCBC NISP
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Klik “Masuk” pada halaman utama, kemudian klik “Lupa ID Pengguna”
    li.ocbc-faq-ac__li Masukkan nomor Kartu Debit OCBC NISP Anda
    li.ocbc-faq-ac__li Masukkan nomor ponsel Anda yang terdaftar di Bank OCBC NISP
    li.ocbc-faq-ac__li Masukkan tanggal lahir Anda
    li.ocbc-faq-ac__li Masukkan nomor PIN Kartu Debit OCBC NISP Anda
    li.ocbc-faq-ac__li User ID akan dikirim melalui SMS ke nomor ponsel Anda
  p.ocbc-faq-ac__b
    | Internet Banking OCBC NISP
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Klik “Lupa ID Pengguna” pada halaman utama
    li.ocbc-faq-ac__li Masukkan nomor Kartu Debit OCBC NISP Anda
    li.ocbc-faq-ac__li Masukkan nomor ponsel Anda yang terdaftar di Bank OCBC NISP
    li.ocbc-faq-ac__li Masukkan tanggal lahir Anda
    li.ocbc-faq-ac__li Masukkan kode Captcha
    li.ocbc-faq-ac__li Masukkan nomor PIN Kartu Debit OCBC NISP Anda
    li.ocbc-faq-ac__li User ID akan dikirim melalui SMS ke nomor ponsel Anda
  p.ocbc-faq-ac__b
    | ATM OCBC NISP
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Pilih menu “Lainnya” pada layar ATM kemudian pilih menu “ADM / Daftar E-Banking”
    li.ocbc-faq-ac__li Klik menu "Online Banking" dan klik menu "Cek User ID"
    li.ocbc-faq-ac__li User ID Anda akan tertera di layar mesin ATM dan tercetak pada tanda terima ATM
