//-------------------------------------------------------------------------------
  @name: Basic Page - Suku Bunga Dasar - Content - SBDB -Table IDR
  @description: Basic Page - Suku Bunga Dasar - Content - SBDB -Table IDR
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'sbdb-idr';
    title = 'Suku Bunga Deposito Berjangka (SBDB)';
    subTitle = 'Indonesian Rupiah (IDR)';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Tenor
    th.ocbc-tbl-striped__th
      | Suku Bunga

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td ≥ 1 bulan
    td.ocbc-tbl-striped__td 4.75%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 3 bulan
    td.ocbc-tbl-striped__td 4.75%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td > 3 - < 12 bulan
    td.ocbc-tbl-striped__td 4.75%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 12 bulan
    td.ocbc-tbl-striped__td 4.75%
