//-------------------------------------------------------------------------------
  @name: Basic Page - Suku Bunga Dasar - Content - SBDB -Table USD
  @description: Basic Page - Suku Bunga Dasar - Content - SBDB -Table USD
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'sbdb-usd';
    title = '';
    subTitle = 'United States Dollar (USD)';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Tenor
    th.ocbc-tbl-striped__th(colspan='4')
      | Suku Bunga
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
    th.ocbc-tbl-striped__th
      | < USD 10 ribu
    th.ocbc-tbl-striped__th
      | USD 10 - 50 ribu
    th.ocbc-tbl-striped__th
      | USD 50 - 100 ribu
    th.ocbc-tbl-striped__th
      | > USD 100 ribu


block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 1 bulan
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.35%
    td.ocbc-tbl-striped__td 0.35%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 3 bulan
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.35%
    td.ocbc-tbl-striped__td 0.35%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 6 bulan
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.35%
    td.ocbc-tbl-striped__td 0.35%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 12 bulan
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.25%
    td.ocbc-tbl-striped__td 0.35%
    td.ocbc-tbl-striped__td 0.35%
