//-------------------------------------------------------------------------------
  @name: Basic Page - Suku Bunga Dasar - Content - SBDK -Table
  @description: Basic Page - Suku Bunga Dasar - Content - SBDK -Table
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'sbdk';
    title = 'Suku Bunga Dasar Kredit (SBDK)';
    subTitle = 'Suku Bunga Dasar Kredit (Prime Lending Rate) Bank OCBC NISP - per Tanggal 15 April 2020';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th(colspan='4')
      | Berdasarkan Segmen Kredit

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Kredit
    td.ocbc-tbl-striped__td Kredit
    td.ocbc-tbl-striped__td(colspan='2') Kredit Konsumsi
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Korporasi
    td.ocbc-tbl-striped__td Ritel (*)
    td.ocbc-tbl-striped__td KPR
    td.ocbc-tbl-striped__td Non KPR
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td 10,25%
    td.ocbc-tbl-striped__td 11,50%
    td.ocbc-tbl-striped__td 10,20%
    td.ocbc-tbl-striped__td 10,75%
