//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Tab - Dokumen
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Tab - Dokumen
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Dokumen yang dibutuhkan untuk Kredit Modal Kerja
.ocbc-vt-content__table
  include ../../../components/table-document-required.pug
