//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Syarat Ketentuan
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Syarat Ketentuan
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Syarat &amp; ketentuan yang perlu diketahui
ul
  li
    | Isi formulir pembukaan rekening OCBC NISP
  li
    | Membawa KTP dan kartu NPWP
  li
    | Pilih 1 base currency yang akan menjadi mata uang utama
  li
    | Mata uang lainnya akan terbentuk secara otomatis
  li
    | Setoran awal menyesuaikan base currency yang dipilih
