//-------------------------------------------------------------------------------
  @name: Result Share Pendidikan- Graphic - Tidak Tahu Dana
  @description: Result Share Pendidikan- Graphic - Tidak Tahu Dana
  -------------------------------------------------------------------------------//

extends ../../../layout/calculator-graphic.pug

block title
  -
    calcChart = 'pendidikan-tidak-tahu-dana';

block chart
//-
  -
    data = [
      {
        hasDot: true,
        title: 'Dana Saat Ini',
        amount: 'Rp500,000,000',
        color: '#329989',
        type: 'bar',
        target: 0
      },
      {
        hasDot: true,
        title: 'Dana di tahun ke-6',
        amount: 'Rp909,924,437',
        color: '#d6ad14',
        type: 'bar',
        target: 1
      },
      {
        hasDot: true,
        title: 'Biaya sekolah pada tahun 2026',
        amount: 'Rp2,578,616,310',
        color: '#c41432',
        type: 'bar',
        target: 2
      },
      {
        title: 'Selisih Biaya',
        amount: 'Rp1,688,691,873',
        type: 'area',
        target: 1
      },
      {
        title: 'Dana yang harus disisihkan per bulan (Selama 6 Tahun)',
        amount: 'Rp5,230,000',
        type: 'area',
        target: 2
      }
    ];
  include ../../../layout/card-legend.pug

  //ocbc-graphic-bar
  .ocbc-graphic-bar
    //ocbc-graphic-bar__box
    .ocbc-graphic-bar__box
      //ocbc-graphic-bar__visual
      .ocbc-graphic-bar__visual
        .ocbc-graphic-bar__visual__area-wrapper
          .ocbc-graphic-bar__visual__area(style="border-bottom-width: 24px;border-top-width: 120px;border-right-width: 800px;")
          .ocbc-graphic-bar__visual__area.ocbc-graphic-bar__visual__area--dark(style="border-bottom-width: 24px;border-top-width: 216px;border-right-width: 864px;")
            .ocbc-graphic-bar__tooltip(style="bottom: 84px;left: 432px;")
              p.ocbc-graphic-bar__title
                | Selisih Biaya
              p.ocbc-graphic-bar__amount
                | Rp1,688,691,873
          .ocbc-graphic-bar__visual__area.ocbc-graphic-bar__visual__area--dark(style="border-bottom-width: 24px;border-top-width: 216px;border-right-width: 864px;")
            .ocbc-graphic-bar__tooltip(style="bottom: 84px;left: 432px;")
              p.ocbc-graphic-bar__title
                | Dana yang harus disisihkan per bulan (Selama 6 Tahun)
              p.ocbc-graphic-bar__amount
                | Rp5,230,000

        .ocbc-graphic-bar__visual__bar-wrapper
          .ocbc-graphic-bar__visual__bar(style="height: 24px;left:0;background-color: #449b94;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dana Saat Ini
              p.ocbc-graphic-bar__amount
                | Rp500,000,000

          .ocbc-graphic-bar__visual__bar.ocbc-graphic-bar__visual__bar--left-tooltip(style="height: 144px;right:64px;background-color: #d6ad14;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dana di tahun ke-6
              p.ocbc-graphic-bar__amount
                | Rp909,924,437

          .ocbc-graphic-bar__visual__bar.ocbc-graphic-bar__visual__bar--left-tooltip(style="height: 100%;right:0;background-color: #c41432;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Biaya sekolah pada tahun 2026
              p.ocbc-graphic-bar__amount
                | Rp2,578,616,310

    //ocbc-graphic-bar__range
    .ocbc-graphic-bar__range
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 0
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item(style="right:0;")
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 6

block description
  -
    data = [
      'Per orang: (Termasuk US$3juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk  dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari.'
    ];
