//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Tab
  @description: Bunga & Biaya - Bunga & Biaya Individu - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'simpanan',
          text: 'Simpanan'
        },
        {
          target: 'pinjaman',
          text: 'Pinjaman'
        },
        {
          target: 'kartu-transaksi',
          text: 'Kartu Transaksi'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='simpanan')
    include tab-content/simpanan.pug
  .ocbc-tabs__pane(data-pane='pinjaman')
    include tab-content/pinjaman.pug
  .ocbc-tabs__pane(data-pane='kartu-transaksi')
    include tab-content/kartu-transaksi.pug
