/* ==========================================================================
   OCBC Utilities: Padding
   ========================================================================== */

.#{$prefix}p {
  @for $i from 0 through 50 {
    $p: $i * 8;
    &-#{$i} {
      padding: #{$p}px;
    }
    &x-#{$i} {
      padding-left: #{$p}px;
      padding-right: #{$p}px;
    }
    &y-#{$i} {
      padding-top: #{$p}px;
      padding-bottom: #{$p}px;
    }
    &t-#{$i} {
      padding-top: #{$p}px;
    }
    &r-#{$i} {
      padding-right: #{$p}px;
    }
    &b-#{$i} {
      padding-bottom: #{$p}px;
    }
    &l-#{$i} {
      padding-left: #{$p}px;
    }
  }
}
