/* ==========================================================================
   OCBC Utilities: Text Transform
   ========================================================================== */

.#{$prefix}tt {
  &-lowercase {
    text-transform: lowercase;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-capitalize {
    text-transform: capitalize;
  }
}
