/* ==========================================================================
   OCBC Utilities: Font Style
   ========================================================================== */

.#{$prefix}fs {
  &-normal {
    font-style: normal;
  }

  &-italic {
    font-style: italic;
  }

  &-oblique {
    font-style: oblique;
  }
}
