/* ==========================================================================
   OCBC Utilities: Margin
   ========================================================================== */

.#{$prefix}m {
  &-auto {
    margin: auto;
  }
  &x-auto {
    margin-left: auto;
    margin-right: auto;
  }
  &y-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
  &t-auto {
    margin-top: auto;
  }
  &r-auto {
    margin-right: auto;
  }
  &b-auto {
    margin-bottom: auto;
  }
  &l-auto {
    margin-left: auto;
  }
  @for $i from 0 through 50 {
    $p: $i * 8;
    &-#{$i} {
      margin: #{$p}px;
    }
    &x-#{$i} {
      margin-left: #{$p}px;
      margin-right: #{$p}px;
    }
    &y-#{$i} {
      margin-top: #{$p}px;
      margin-bottom: #{$p}px;
    }
    &t-#{$i} {
      margin-top: #{$p}px;
    }
    &r-#{$i} {
      margin-right: #{$p}px;
    }
    &b-#{$i} {
      margin-bottom: #{$p}px;
    }
    &l-#{$i} {
      margin-left: #{$p}px;
    }
  }
}
