/* ==========================================================================
   OCBC Utilities: Font Weight
   ========================================================================== */

.#{$prefix}fw {
  &-regular {
    font-weight: fw(regular);
  }

  &-medium {
    font-weight: fw(medium);
  }

  &-bold {
    font-weight: fw(bold);
  }
}
