/* ==========================================================================
   OCBC Utilities: Font Size
   ========================================================================== */

.#{$prefix}fz {
  // ---- RWD (default desktop + mobile)
  &-hero {
    @include font-size(hero);
  }
  &-h1 {
    @include font-size(h1);
  }
  &-h2 {
    @include font-size(h2);
  }
  &-h3 {
    @include font-size(h3);
  }
  &-h4 {
    @include font-size(h4);
  }
  &-h5 {
    @include font-size(h5);
  }
  &-h6 {
    @include font-size(h6);
  }
  &-body {
    @include font-size(body);
  }
  &-label {
    @include font-size(label);
  }
  &-small {
    @include font-size(small);
  }
  &-micro {
    @include font-size(micro);
  }

  // ---- mobile size on desktop
  &-m-hero {
    @include font-size(hero, mobile);
  }
  &-m-h1 {
    @include font-size(h1, mobile);
  }
  &-m-h2 {
    @include font-size(h2, mobile);
  }
  &-m-h3 {
    @include font-size(h3, mobile);
  }
  &-m-h4 {
    @include font-size(h4, mobile);
  }
  &-m-h5 {
    @include font-size(h5, mobile);
  }
  &-m-h6 {
    @include font-size(h6, mobile);
  }
  &-m-body {
    @include font-size(body, mobile);
  }
  &-m-label {
    @include font-size(label, mobile);
  }
  &-m-small {
    @include font-size(small, mobile);
  }
  &-m-micro {
    @include font-size(micro, mobile);
  }
  @for $i from 8 through 128 {
    &-#{$i} {
      font-size: #{$i}px;
    }
  }
}
