/* ==========================================================================
   OCBC Utilities: Vertical Align
   ========================================================================== */

.#{$prefix}va {
  &-t {
    vertical-align: top;
  }
  &-m {
    vertical-align: middle;
  }
  &-b {
    vertical-align: bottom;
  }
  &-bl {
    vertical-align: baseline;
  }
}
