//-------------------------------------------------------------------------------
  @name: Home - Product Service
  @description: Home - Product Service
  -------------------------------------------------------------------------------//

-
  data = {
    cardWithNyala: false,
    title: 'Hadirkan layanan perbankan terbaik untuk semua kebutuhan',
    card: [
      {
        isNyala: false,
        image: 'home-individu.jpg',
        title: 'Individu',
        to: 'individu.html'
      },
      {
        isNyala: false,
        image: 'home-sme.jpg',
        title: 'SME',
        to: 'sme.html'
      },
      {
        isNyala: false,
        image: 'home-korporasi.jpg',
        title: 'Korporasi',
        to: 'korporasi.html'
      },
      {
        isNyala: false,
        image: 'home-syariah.jpg',
        title: 'Syariah',
        to: 'syariah.html'
      }
    ]
  };

include ../../layout/card-head-product.pug
