//-------------------------------------------------------------------------------
  @name: Home - Card needs
  @description: Home - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
          light: true,
          title: 'Semua dimulai dari sini',
          card: [
            {
              target: 'cek-nilai-kurs',
              title: 'Cek Nilai Kurs Hari Ini',
              image: 'kurs.svg'
            },
            {
              target: 'berbisnis-dengan-profit',
              title: 'Berbisnis Dengan Profit',
              image: 'graph.svg'
            },
            {
              target: 'rencana-bisnis-baru',
              title: 'Kembangkan Rencana Bisnis Baru',
              image: 'light-bulb.svg'
            },
            {
              target: 'naik-haji',
              title: 'Menabung Untuk Naik Haji',
              image: 'hajj.svg'
            },
            {
              target: 'pengumuman-penting-ocbc',
              title: 'Pengumuman Penting OCBC NISP',
              image: 'important.svg'
            }
          ]
        };
include ../../layout/card-needs.pug
