//-------------------------------------------------------------------------------
  @name: Home - Main Banner
  @description: Home - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            image: {
              desktop: 'home-d.jpg',
              mobile: 'home-m.jpg'
            },
            title: 'Capai Tujuan di Setiap Tahapan Kehidupan',
            description: 'Bersama OCBC NISP wujudkan rencana hidup dengan solusi tanpa batas'
          }
        ];
include ../../layout/main-banner.pug
