//-------------------------------------------------------------------------------
  @name: Home - One Mobile
  @description: Home - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'default',
    image: {
      desktop: 'digital-channel-d.jpg',
      mobile: 'digital-channel-m.jpg'
    },
    title: 'Transaksi Mudah di Mana Saja',
    description: 'Cukup satu aplikasi OCBC NISP ONe Mobile, transaksi perbankan sehari-hari hanya dengan sentuhan jari',
    button: {
      text: 'Lihat Kelebihannya',
      to: '#'
    }
  }

include ../../components/one-mobile.pug
