//-------------------------------------------------------------------------------
  @name: Individu - Private - Card Article Program
  @description: Individu - Private - Card Article Program
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Program Istimewa untuk Anda',
    card: [
      {
        image: 'artikel-1.jpg',
        title: 'Awal yang Special',
        description: 'Dapatkan welcome gift berupa cashback hingga Rp1.650.000 dengan berhabung di OCBC NISP Premier Banking',
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      },
      {
        image: 'artikel-2.jpg',
        title: 'Ajak Kerabat jadi Bagian dari Premiere Banking',
        description: 'Dapatkan Cashback dan Poin Seru hinggal 37.500 poin dengan mengajak kerabat bergabung di OCBC NISP Premier Banking',
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    ]
  }

include ../../layout/card-article-program.pug
