//-------------------------------------------------------------------------------
  @name: Individu - Private - Card Article
  @description: Individu - Private - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'more-pb',
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'tentang-kami-1.jpg',
        label: 'Private Banking',
        title: 'Akses ke Jaringan Informasi Ekslusif',
        button: {
          text: 'Baca',
          to: '#',
          white: true
        }
      },
      {
        image: 'artikel-3.jpg',
        label: 'Private Banking',
        title: 'Referensi perencanaan masa depan',
        button: {
          text: 'Baca',
          to: '#',
          white: true
        }
      }
    ]
  }

include ../../layout/card-article.pug
