//-------------------------------------------------------------------------------
  @name: Individu - Private - Card Up Selling
  @description: Individu - Private - Card Up Selling
  -------------------------------------------------------------------------------//

-
  modifier = 'more-pt';
  data = {
    title: 'Informasi Private Banking terupdate khusus untuk Anda',
    button: 'Selengkapnya',
    to: 'https://www.linkedin.com/showcase/ocbc-nisp-private-banking/',
    target: '_blank',
    image: {
      desktop: 'private-d.jpg',
      mobile: 'private-m.jpg'
    }
  }

include ../../layout/card-upselling.pug
