//-------------------------------------------------------------------------------
  @name: Individu - Private - CSR Program
  @description: Individu - Private - CSR Program
  -------------------------------------------------------------------------------//

-
  containerModifier = 'mobile-pb';
  data = [
    {
      reverse: true,
      largeImage: true,
      title: 'Solusi Personal yang Memahami Setiap Kebutuhan',
      description: 'Dedicated private bankers kami merancang semua kebutuhan finansial dengan Tailor Made Solution untuk personal aset Anda, seperti investasi portofolio dan trading aktif.',
      img: 'private-1.png'
    },
    {
      largeImage: true,
      title: 'Membangun, Melindungi & Meneruskan Kekayaan',
      description: 'Layanan wealth management, perencanaan keuangan, dan asuransi menyeluruh memberikan Anda alokasi keuangan terstruktur untuk memaksimalkan aset dan portfolio.',
      img: 'private-2.png'
    },
  ];

include ../../layout/csr-program.pug
