//-------------------------------------------------------------------------------
  @name: Individu - Private - Main Banner
  @description: Individu - Private - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            middle: true,
            image: {
              desktop: 'private-d.jpg',
              mobile: 'private-m.jpg'
            },
            title: 'Menjaga Baik Pencapaian Hari ini untuk Penerus',
            description: 'OCBC NISP Private Banking memastikan kerja keras Anda hingga kini menjadi peninggalan terbaik untuk generasi penerus berikutnya.',
            button: {
              text: 'Selengkapnya',
              to: '#'
            },
            secondaryButton: {
              text: 'Hubungi Kami',
              to: 'tel:+622150811999',
              target: '_blank'
            },
          }
        ];
include ../../layout/main-banner.pug
