//-------------------------------------------------------------------------------
  @name: Individu - Private - Product Category Fragment
  @description: Individu - Private - Product Category Fragment
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Tailor Made Solution',
      description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
      img: {
        default: 'tailor-made-solution-private.svg',
        hover: 'tailor-made-solution-private-black.svg'
      }
    },
    {
      title: 'Wealth Management',
      description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
      img: {
        default: 'wealth-management-private.svg',
        hover: 'wealth-management-private-black.svg'
      }
    },
    {
      title: 'Legacy Transfer Plan',
      description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
      img: {
        default: 'legacy-transfer-plan-private.svg',
        hover: 'legacy-transfer-plan-private-black.svg'
      }
    }
  ]
include ../../layout/product-category-fragment.pug
