//-------------------------------------------------------------------------------
  @name: Individu - Private - Product Section
  @description: Individu - Private - Product Section
  -------------------------------------------------------------------------------//

-
  data = {
    private: true,
    title: 'Pengalaman Private Banking Sempurna dengan Layanan Personal 24/7',
    description: 'OCBC NISP Voyage melengkapi kebutuhan perbankan harian Anda dengan layanan ekslusif selayaknya asisten pribadi.',
    image: 'private-card.png',
  };

include ../../components/product-section.pug
