//-------------------------------------------------------------------------------
  @name: Individu - Private - Product Services
  @description: Individu - Private - Product Services
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Memastikan Anda selalu jadi yang utama dengan layanan dan produk berkualitas',
    card: [
      {
        title: 'Layanan Perbankan harian',
        img: 'cabang-private.svg',
        list: [
          'Instrumen Pasar Uang',
          'Valuta Asing'
        ]
      },
      {
        title: 'Produk Investasi',
        img: 'investasi-private.svg',
        list: [
          'Instrumen Pasar Uang',
          'Valuta Asing',
          'Reksa Dana Pihak Ketiga',
          'Investasi Pada Obligasi',
          'Produk Terstruktur'
        ]
      },
      {
        title: 'Perencanaan Kekayaan',
        img: 'moneybag-private.svg',
        list: [
          'Perencanaan Keuangan',
          'Asuransi Jiwa*'
        ],
        note: 'Layanan asuransi disediakan oleh pihak eksternal yang diperkenalkan Bank'
      },
      {
        title: 'Layanan Trust',
        img: 'layan-trust-private.svg',
        list: [
          'Administrasi Trust'
        ]
      },
    ]
  }
include ../../layout/product-services.pug
