//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Cash Management',
      subcategory: [
        {
          text: 'Remittance',
          target: 'remittance'
        },
        {
          text: 'Bulk Payment',
          target: 'bulk'
        },
        {
          text: 'Layanan Pembayaran Pajak - MPN G2',
          target: 'pajak'
        },
        {
          text: 'Virtual Account',
          target: 'va'
        },
        {
          text: 'Cash Pick Up & Delivery Service',
          target: 'pickup'
        }
      ]
    },
    {
      text: 'Trade Finance',
      subcategory: [
        {
          text: 'Letter of Credit',
          target: 'lc'
        },
        {
          text: 'Surat Kredit Berdokumen Dalam Negeri (SKBDN)',
          target: 'skbdn'
        },
        {
          text: 'Inward Documentary Collection (Inkaso Masuk)',
          target: 'inward'
        },
        {
          text: 'Advise LC',
          target: 'advise-lc'
        },
        {
          text: 'Advise SKBDN',
          target: 'advise-skbdn'
        },
        {
          text: 'Outward Dcoumentary Collection',
          target: 'outward'
        },
        {
          text: 'Local Outward Documentary Collection (Inkaso Keluar)',
          target: 'local-outward'
        }
      ]
    },
    {
      text: 'Supply Chain',
      subcategory: [
        {
          text: 'Supply Chain Solution Financing Services for Distributors and Suppliers',
          target: 'supply'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Cash Management
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='remittance')
          include vtc-layanan/remittance.pug
        .ocbc-vt-content(data-pane='bulk')
          include vtc-layanan/bulk.pug
        .ocbc-vt-content(data-pane='pajak')
          include vtc-layanan/pajak.pug
        .ocbc-vt-content(data-pane='va')
          include vtc-layanan/va.pug
        .ocbc-vt-content(data-pane='pickup')
          include vtc-layanan/pickup.pug
        // Trade Finance
        .ocbc-vt-content(data-pane='lc')
          include vtc-layanan/lc.pug
        .ocbc-vt-content(data-pane='skbdn')
          include vtc-layanan/skbdn.pug
        .ocbc-vt-content(data-pane='inward')
          include vtc-layanan/inward.pug
        .ocbc-vt-content(data-pane='advise-lc')
          include vtc-layanan/advise-lc.pug
        .ocbc-vt-content(data-pane='advise-skbdn')
          include vtc-layanan/advise-skbdn.pug
        .ocbc-vt-content(data-pane='outward')
          include vtc-layanan/outward.pug
        .ocbc-vt-content(data-pane='local-outward')
          include vtc-layanan/local-outward.pug
        // Trade Finance
        .ocbc-vt-content(data-pane='supply')
          include vtc-layanan/supply.pug
