//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Pinjaman',
      subcategory: [
        {
          text: 'Kredit Modal Kerja',
          target: 'modal'
        },
        {
          text: 'Kredit Investasi',
          target: 'investasi'
        },

        {
          text: 'Kredit Program',
          target: 'program'
        }
      ]
    },
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Pinjaman
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='modal')
          include vtc-pinjaman/modal.pug
        .ocbc-vt-content(data-pane='investasi')
          include vtc-pinjaman/investasi.pug
        .ocbc-vt-content(data-pane='program')
          include vtc-pinjaman/program.pug
