//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Giro',
      subcategory: [
        {
          text: 'Business Smart',
          target: 'smart'
        },
        {
          text: 'Business Signature',
          target: 'signature'
        },
        {
          text: 'Giro Umum',
          target: 'umum'
        },
        {
          text: 'Multicurrency',
          target: 'multicurrency'
        }
      ]
    },
    {
      text: 'Deposito',
      subcategory: [
        {
          text: 'Deposito Berjangka',
          target: 'berjangka'
        },
        {
          text: 'Deposito Devisa Hasil Ekspor',
          target: 'devisa'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Giro
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='smart')
          include vtc-simpanan/smart.pug
        .ocbc-vt-content(data-pane='signature')
          include vtc-simpanan/signature.pug
        .ocbc-vt-content(data-pane='umum')
          include vtc-simpanan/umum.pug
        .ocbc-vt-content(data-pane='multicurrency')
          include vtc-simpanan/multicurrency.pug
        // Deposito
        .ocbc-vt-content(data-pane='berjangka')
          include vtc-simpanan/berjangka.pug
        .ocbc-vt-content(data-pane='devisa')
          include vtc-simpanan/devisa.pug
