//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'FX & FX Derivative',
      subcategory: [
        {
          text: 'FX Today',
          target: 'today'
        },
        {
          text: 'Tomorrow dan Spot',
          target: 'tomorrow'
        },
        {
          text: 'FX Forward',
          target: 'forward'
        },
        {
          text: 'Swap dan Option',
          target: 'swap'
        },
        {
          text: 'FX Option Call Spread',
          target: 'option'
        }
      ]
    },
    {
      text: 'Interest Rate Derivative',
      subcategory: [
        {
          text: 'Cross Currency Swap',
          target: 'cross'
        },
        {
          text: 'Interest Rate Swap',
          target: 'interest'
        }
      ]
    },
    {
      text: 'Structured Product',
      subcategory: [
        {
          text: 'Dual Currency Returns',
          target: 'dual'
        },
        {
          text: 'Forward Link Deposit',
          target: 'link'
        },
        {
          text: 'Principal Protected Deposit',
          target: 'principal'
        }
      ]
    },
    {
      text: 'Debt Securities',
      subcategory: [
        {
          text: 'Obligasi Pemerintah',
          target: 'pemerintah'
        },
        {
          text: 'Obligasi Korporasi',
          target: 'korporasi'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // FX & FX Derivative
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='today')
          include vtc-treasury/today.pug
        .ocbc-vt-content(data-pane='tomorrow')
          include vtc-treasury/tomorrow.pug
        .ocbc-vt-content(data-pane='forward')
          include vtc-treasury/forward.pug
        .ocbc-vt-content(data-pane='swap')
          include vtc-treasury/swap.pug
        .ocbc-vt-content(data-pane='option')
          include vtc-treasury/option.pug
        // Interest Rate Derivative
        .ocbc-vt-content(data-pane='cross')
          include vtc-treasury/cross.pug
        .ocbc-vt-content(data-pane='interest')
          include vtc-treasury/interest.pug
        // Structured Product
        .ocbc-vt-content(data-pane='dual')
          include vtc-treasury/dual.pug
        .ocbc-vt-content(data-pane='link')
          include vtc-treasury/link.pug
        .ocbc-vt-content(data-pane='principal')
          include vtc-treasury/principal.pug
        // Debt Securities
        .ocbc-vt-content(data-pane='pemerintah')
          include vtc-treasury/pemerintah.pug
        .ocbc-vt-content(data-pane='korporasi')
          include vtc-treasury/korporasi.pug
