//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor  - Tab - Informasi Keuangan
  @description: Tentang Kami - Hubungan Investor  - Tab - Informasi Keuangan
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Laporan Publikasi Triwulan',
      target: 'laporan-publikasi-triwulan'
    },
    {
      text: 'Laporan Keuangan',
      target: 'laporan-keuangan'
    },
    {
      text: 'Presentasi Kinerja',
      target: 'presentasi-kinerja'
    },
    {
      text: 'Leverage Ratio',
      target: 'leverage-ratio'
    },
    {
      text: 'Pengungkapan Basel III',
      target: 'pengungkapan-basel'
    },
    {
      text: 'LCR (Liquidity Coverage Ratio)',
      target: 'lcr'
    },
    {
      text: 'NSFR (Net Stable Funding Ratio)',
      target: 'nsfr'
    },
    {
      text: 'Informasi Kuantitatif Exposure Risiko',
      target: 'informasi-kuantitatif-exposure-risiko'
    },
    {
      text: 'Ikhtisar Data Keuangan Penting',
      target: 'ikhtisar-data-keuangan-penting'
    },
    {
      text: 'Informasi Penggabungan',
      target: 'informasi-penggabungan'
    },
    {
      text: 'Laporan Keuangan Entitas Induk (OCBC Bank)',
      target: 'laporan-keuangan-entitas-induk'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='laporan-publikasi-triwulan')
          include vtc-informasi-keuangan/laporan-publikasi-triwulan.pug
        .ocbc-vt-content(data-pane='laporan-keuangan')
          include vtc-informasi-keuangan/laporan-keuangan.pug
        .ocbc-vt-content(data-pane='presentasi-kinerja')
          include vtc-informasi-keuangan/presentasi-kinerja.pug
        .ocbc-vt-content(data-pane='leverage-ratio')
          include vtc-informasi-keuangan/leverage-ratio.pug
        .ocbc-vt-content(data-pane='pengungkapan-basel')
          include vtc-informasi-keuangan/pengungkapan-basel.pug
        .ocbc-vt-content(data-pane='lcr')
          include vtc-informasi-keuangan/lcr.pug
        .ocbc-vt-content(data-pane='nsfr')
          include vtc-informasi-keuangan/nsfr.pug
        .ocbc-vt-content(data-pane='informasi-kuantitatif-exposure-risiko')
          include vtc-informasi-keuangan/informasi-kuantitatif-exposure-risiko.pug
        .ocbc-vt-content(data-pane='ikhtisar-data-keuangan-penting')
          include vtc-informasi-keuangan/ikhtisar-data-keuangan-penting.pug
        .ocbc-vt-content(data-pane='informasi-penggabungan')
          include vtc-informasi-keuangan/informasi-penggabungan.pug
        .ocbc-vt-content(data-pane='laporan-keuangan-entitas-induk')
          include vtc-informasi-keuangan/laporan-keuangan-entitas-induk.pug

