//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Aksi Korporasi Ekuitas',
      target: 'aksi-korporasi-ekuitas'
    },
    {
      text: 'Grafik Harga Saham',
      target: 'grafik-harga-saham'
    },
    {
      text: 'Transaksi Saham',
      target: 'transaksi-saham'
    },
    {
      text: 'Informasi Dividen',
      target: 'informasi-dividen'
    },
    {
      text: 'Kebijakan Dividen',
      target: 'kebijakan-dividen'
    },
    {
      text: 'Aksi Korporasi Obligasi',
      target: 'aksi-korporasi-obligasi'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='aksi-korporasi-ekuitas')
          include vtc-informasi-saham-obligasi/aksi-korporasi-ekuitas.pug
        .ocbc-vt-content(data-pane='grafik-harga-saham')
          include vtc-informasi-saham-obligasi/grafik-harga-saham.pug
        .ocbc-vt-content(data-pane='transaksi-saham')
          include vtc-informasi-saham-obligasi/transaksi-saham.pug
        .ocbc-vt-content(data-pane='informasi-dividen')
          include vtc-informasi-saham-obligasi/informasi-dividen.pug
        .ocbc-vt-content(data-pane='kebijakan-dividen')
          include vtc-informasi-saham-obligasi/kebijakan-dividen.pug
        .ocbc-vt-content(data-pane='aksi-korporasi-obligasi')
          include vtc-informasi-saham-obligasi/aksi-korporasi-obligasi.pug
