//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham
  @description: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Struktur Kelompok Pemegang Saham',
      target: 'struktur-kelompok-pemegang-saham'
    },
    {
      text: 'Struktur Pemegang Saham',
      target: 'struktur-pemegang-saham'
    },
    {
      text: '20 Pemegang Saham Terbesar',
      target: '20-pemegang-saham-terbesar'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='struktur-kelompok-pemegang-saham')
          include vtc-kepemilikan-saham/struktur-kelompok-pemegang-saham.pug
        .ocbc-vt-content(data-pane='struktur-pemegang-saham')
          include vtc-kepemilikan-saham/struktur-pemegang-saham.pug
        .ocbc-vt-content(data-pane='20-pemegang-saham-terbesar')
          include vtc-kepemilikan-saham/20-pemegang-saham-terbesar.pug
