//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Laporan Tahunan
  @description: Tentang Kami - Hubungan Investor - Tab - Laporan Tahunan
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Laporan Tahunan',
      target: 'laporan-tahunan'
    },
    {
      text: 'Laporan Keberlanjutan',
      target: 'laporan-keberlanjutan'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='laporan-tahunan')
          include vtc-laporan-tahunan/laporan-tahunan.pug
        .ocbc-vt-content(data-pane='laporan-keberlanjutan')
          include vtc-laporan-tahunan/laporan-keberlanjutan.pug
