//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit
  @description: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Fitch Rating',
      target: 'fitch-rating'
    },
    {
      text: 'Pefindo',
      target: 'pefindo'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='fitch-rating')
          include vtc-peringkat-kredit/fitch-rating.pug
        .ocbc-vt-content(data-pane='pefindo')
          include vtc-peringkat-kredit/pefindo.pug
