//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - Product Detail Banner
  @description: Individu - Wealth Management - Treasury - Product Detail Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Treasury',
    description: 'Hidup lebih nyaman, kelola dana jadi lebih aman dengan solusi inovatif OCBC NISP Wealth Management yang sesuai dengan kebutuhan',
    image: {
      desktop: 'treasury-d.jpg',
      mobile: 'treasury-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
