//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - Product Category Card
  @description: Individu - Wealth Management - Treasury - Product Category Card
  -------------------------------------------------------------------------------//

-
  data = {
    sectionLanding: true,
    card: [
      {
        to: '#',
        image: 'product-category-6.jpg',
        title: 'FX Today & Non Today',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-8.jpg',
        title: 'Extended Flexi Multi Currency Transaction',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-7.jpg',
        title: 'Dual Currency Return',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-8.jpg',
        title: 'Dual Currency Return (DCR) – European Knock-In (EKI)',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-7.jpg',
        title: 'Dual Currency Return (DCR) – Knock In Knock Out (KIKO)',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-6.jpg',
        title: 'Forward Linked Deposit',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-7.jpg',
        title: 'Principle Protected Deposit – Dual No Touch (PPD-DNT)',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-6.jpg',
        title: 'Principle Protected Deposit (PPD) – One Touch (OT)',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-8.jpg',
        title: 'FUTURES Contract (Kontrak Berjangka)',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-6.jpg',
        title: 'Obligasi Korporasi',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      },
      {
        to: '#',
        image: 'product-category-8.jpg',
        title: 'Obligasi Pemerintah IDR - USD',
        item: [
          'Nilai Valas Kompetitif',
          'Transaksi Mudah',
          'Banyak Pilihan Mata Uang'
        ]
      }
    ]
  }

include ../../layout/card-product-category.pug
