//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Deposito IDR
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Deposito IDR
  -------------------------------------------------------------------------------//

include table/deposito-idr.pug
