//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Deposito Valas
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Deposito Valas
  -------------------------------------------------------------------------------//

include table/deposito-valas.pug
