//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP SimPel
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - OCBC NISP SimPel
  -------------------------------------------------------------------------------//

include table/ocbc-nisp-simpel.pug
