//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tabungan Berjangka
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tabungan Berjangka
  -------------------------------------------------------------------------------//

include table/tabungan-berjangka.pug
