//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - TabunganKu
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - TabunganKu
  -------------------------------------------------------------------------------//

include table/tabunganku.pug
