//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Taka Bunga Pasti
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Taka Bunga Pasti
  -------------------------------------------------------------------------------//

include table/taka-bunga-pasti.pug
