//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Taka Hadiah
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Taka Hadiah
  -------------------------------------------------------------------------------//

include table/taka-hadiah.pug
