//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda 360 Plus
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda 360 Plus
  -------------------------------------------------------------------------------//

include table/tanda-360-plus.pug
