//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda Valas SGD
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda Valas SGD
  -------------------------------------------------------------------------------//

include table/tanda-valas-sgd.pug
