//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda Junior
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda Junior
  -------------------------------------------------------------------------------//

include table/tanda-junior.pug
