//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda Premium
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Tanda Premium
  -------------------------------------------------------------------------------//

include table/tanda-premium.pug
