//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman - Breadcrumbs
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'korporasi.html',
      text: 'Korporasi'
    },
    {
      to: 'korporasi-layanan.html',
      text: 'Pinjaman'
    },
    {
      to: 'korporasi-pinjaman-kredit-modal-kerja.html',
      text: 'Kredit Modal Kerja'
    },
    {
      to: 'korporasi-pinjaman-kredit-modal-kerja-pengajuan-pinjaman.html',
      text: 'Pengajuan Pinjaman'
    }
  ];
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
