//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman - Form
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman - Form
  -------------------------------------------------------------------------------//

extends ../../layout/form.pug

//- variation
block fields
  //- field name
  include ../../components/field-name.pug

  //- field city
  include ../../components/field-city.pug

  //- field phone
  include ../../components/field-phone.pug

  //- field email
  include ../../components/field-email.pug

  //- field message
  include ../../components/field-message.pug

  //- field recaptcha
  include ../../components/field-recaptcha.pug

  //- field terms
  include ../../components/field-terms.pug
