//-------------------------------------------------------------------------------
  @name: Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman - Main Banner
  @description: Korporasi - Pinjaman - Kredit Modal Kerja - Pengjuan Pinjaman - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Pengajuan Pinjaman',
    description: 'Tim kami siap membantu Anda memberikan informasi lengkap seputar layanan OCBC NISP',
    image: {
      desktop: 'pengajuan-pinjaman-d.jpg',
      mobile: 'pengajuan-pinjaman-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
