//-------------------------------------------------------------------------------
  @name: Basic Page - Disclaimer - Content
  @description: Basic Page - Disclaimer - Content
  -------------------------------------------------------------------------------//

//- Basic Page Template
extends ../../layout/basic-page.pug

//- Content
block content
  //ocbc-basic-page__head
  .ocbc-basic-page__head
    h2.ocbc-basic-page__title
      | Disclaimer
    p.ocbc-basic-page__desc
      | Bank OCBC NISP tidak bertanggung jawab atas setiap penyalahgunaan data yang diberikan oleh Nasabah atau Calon Nasabah kepada pihak-pihak lain yang tidak bekerja sama dengan Bank OCBC NISP.

  //ocbc-basic-page__body
  .ocbc-basic-page__body
    //ocbc-basic-page__body__item
    .ocbc-basic-page__body__item
      h3.ocbc-basic-page__subtitle
        | Informasi
      p.ocbc-basic-page__desc
        | Informasi yang tercantum dalam website ini merupakan publikasi dari perusahaan yang ada pada saat informasi ini dimasukkan dalam website. Informasi ini dapat sudah lewat waktu dan tidak akurat lagi. Bank OCBC NISP tidak memiliki kewajiban mengikat apapun untuk memperbaharui informasi, baik yang merupakan informasi baru, kejadian yang akan datang atau sebaliknya. Informasi mengenai perkiraan di masa yang akan datang mengandung resiko dan ketidakpastian.
      p.ocbc-basic-page__desc
        | Informasi yang ada dalam website ini hanya untuk keperluan informasi. Bank OCBC NISP tidak menjamin akurasi dan kelengkapan dari informasi yang ada atau tersedia melalui website ini, dan tidak bertanggung jawab atas ketidakakuratan dan kekeliruan. Calon investor pembeli saham Bank OCBC NISP dianjurkan mencari pendapat profesional sebelum berinvestasi.
      p.ocbc-basic-page__desc
        | Dengan mengakses website ini, anda menerima kondisi-kondisi di atas. Materi-materi yang ada merupakan copyright dari Bank OCBC NISP.
