//-------------------------------------------------------------------------------
  @name: Individu - Head Product
  @description: Individu - Head Product
  -------------------------------------------------------------------------------//

-
  data = {
    cardWithNyala: true,
    title: 'Bersama produk dan layanan yang menjawab semua kebutuhan',
    card: [
      {
        isNyala: true,
        image: 'individu-nyala.jpg',
        title: 'Start with Nyala',
        description: 'Kembangkan bisnis dan kelola keuangan pribadi sekaligus dalam satu tempat',
        to: 'nyala.html'
      },
      {
        isNyala: false,
        image: 'individu-simpanan.jpg',
        title: 'Simpanan',
        to: 'simpanan.html'
      },
      {
        isNyala: false,
        image: 'individu-kartu-kredit.jpg',
        title: 'Kartu Kredit',
        to: 'kratu-kredit.html'
      },
      {
        isNyala: false,
        image: 'individu-pinjaman.jpg',
        title: 'Pinjaman',
        to: 'pinjaman.html'
      },
      {
        isNyala: false,
        image: 'individu-investasi.jpg',
        title: 'Investasi',
        to: 'investasi.html'
      }
    ]
  };

include ../../layout/card-head-product.pug
