//-------------------------------------------------------------------------------
  @name: Individu - Card Information
  @description: Individu - Card Information
  -------------------------------------------------------------------------------//

//ocbc-card-info-section
.ocbc-card-info-section
  .ocbc-container
    .ocbc-row
      //ocbc-card-info__item
      .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-info__item
        include ../../components/card-info-exchange-rate.pug

      ='\n\n'
      //ocbc-card-info__item
      .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-info__item
        -
          article = {
            title: 'Artikel',
            date: '15 Januari 2020',
            list: [
              {
                title: 'Perubahan suku bunga dasar tabungan 360',
                description: 'Bangun nyali, kejar mimpi. Apa pun halangan di depan, apa pun kata orang, maju terus.',
              },
              {
                title: 'Kejar Mimpi Lebih Besar dengan Ikutan #TAYTB',
                image: 'video-widget.jpg'
              }
            ],
            button: 'Artikel Lainnya'
          };

        include ../../components/card-info-article.pug

      ='\n\n'
      .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-info__item
        -
          faq = {
            title: 'Tanya OCBC NISP',
            button: 'Cari Tahu',
            cardTypeList: [
              {
                val: 1,
                text: 'Kartu Kredit'
              },
              {
                val: 2,
                text: 'Kartu Debit'
              },
              {
                val: 3,
                text: 'e-Banking'
              },
              {
                val: 4,
                text: 'Pay Now'
              },
              {
                val: 5,
                text: 'One Mobile'
              },
              {
                val: 6,
                text: 'Kartu Kredit'
              },
              {
                val: 7,
                text: 'Kartu Debit'
              },
              {
                val: 8,
                text: 'e-Banking'
              },
              {
                val: 9,
                text: 'Pay Now'
              },
              {
                val: 10,
                text: 'One Mobile'
              }
            ],
            howToList: [
              {
                val: 1,
                text: 'One Mobile'
              },
              {
                val: 2,
                text: 'Cara melakukan membuka kartu kredit'
              },
              {
                val: 3,
                text: 'Cara melakukan membayar tagihan kartu kredit'
              },
              {
                val: 4,
                text: 'Cara melakukan melihat tagihan kartu kredit'
              },
              {
                val: 5,
                text: 'Cara melakukan redeem point kartu kredit'
              }
            ]
          };

        include ../../components/card-info-faq.pug
      ='\n\n'
