//-------------------------------------------------------------------------------
  @name: Individu - Card needs
  @description: Individu - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
          title: 'Mulai semua dari sini',
          card: [
            {
              target: 'kelola-keuangan-pribadi',
              title: 'Kelola Keuangan Pribadi Anda',
              image: 'fragment-default.svg'
            },
            {
              target: 'promo-terbaru',
              title: 'Cari Tahu Promo Terbaru',
              image: 'fragment-default.svg'
            },
            {
              target: 'cek-nilai-kurs',
              title: 'Cek Nilai Kurs Hari Ini',
              image: 'fragment-default.svg'
            },
            {
              target: 'tarif-biaya-suku-bunga',
              title: 'Lihat Update Tarif, Biaya, dan Suku Bunga',
              image: 'fragment-default.svg'
            },
            {
              target: 'rencanakan-liburan',
              title: 'Rencanakan Liburan Bersama Orang Terdekat',
              image: 'fragment-default.svg'
            },
            {
              target: 'tukar-poin-seru',
              title: 'Tukar Poin Seru Dengan Hadiah Menarik',
              image: 'fragment-default.svg'
            },
            {
              target: 'mulai-investasi',
              title: 'Mulai Lakukan Investasi',
              image: 'fragment-default.svg'
            },
            {
              target: 'rumah-impian',
              title: 'Wujudkan Rumah Impian',
              image: 'fragment-default.svg'
            },
            {
              target: 'pendidikan-anak',
              title: 'Rencanakan Pendidikan Anak',
              image: 'fragment-default.svg'
            },
            {
              target: 'perlindungan-terbaik',
              title: 'Temukan Perlindungan Terbaik',
              image: 'fragment-default.svg'
            }
          ]
        };
include ../../layout/card-needs.pug
