//-------------------------------------------------------------------------------
  @name: Individu - Highlight Promo
  @description: Individu - Highlight Promo
  -------------------------------------------------------------------------------//

-
  data = {
    icon: 'elevation.png',
    title: 'Elevation Promo',
    card: [
      {
        isRectangle: true,
        to: 'promo-detail.html',
        title: 'Resort World Sentosaa',
        img: 'individu-1.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'individu-2.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'individu-3.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'individu-4.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'individu-5.jpg',
        label: 'Kartu Kredit, Kartu Debit, e-Channel',
        date: '1 Sept 2019 - 1 Sept 2020'
      }
    ],
    hasMore: true
  };

include ../../layout/highlight-promo.pug
