//-------------------------------------------------------------------------------
  @name: Individu - Main Banner
  @description: Individu - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            image: {
              desktop: 'individu-d.jpg',
              mobile: 'individu-m.jpg'
            },
            title: 'Hidup Lebih Nyala Jadikan Semua Nyata',
            description: 'Berhenti bermimpi untuk berani mencapai tujuan finansialmu #TAYTB'
          },
          {
            image: {
              desktop: 'default-1-d.jpg',
              mobile: 'default-1-m.jpg'
            },
            title: 'Layanan Terpilih untuk Nasabah Istimewa',
            description: 'Nikmati layanan eksklusif Premier Banking untuk semua kebutuhan perbankan Anda'
          },
          {
            image: {
              desktop: 'default-2-d.jpg',
              mobile: 'default-2-m.jpg'
            },
            title: 'Memastikan Anda Selalu Jadi Prioritas',
            description: 'Temukan private bank partner yang selalu memahami gaya hidup Anda'
          }
        ];
include ../../layout/main-banner.pug
