//-------------------------------------------------------------------------------
  @name: Individu - One Mobile
  @description: Individu - One Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'default',
    image: {
      desktop: 'individu-d.jpg',
      mobile: 'individu-m.jpg'
    },
    title: 'Kemudahan Transaksi dari Ujung Jari',
    description: 'Bebas lakukan aktivitas perbankan di mana saja tanpa harus datang ke cabang dengan aplikasi ONe Mobile OCBC NISP.',
    button: {
      text: 'Lihat Kelebihannya',
      to: '#'
    }
  }

include ../../components/one-mobile.pug
