//-------------------------------------------------------------------------------
  @name: Individu - Promo Banner
  @description: Individu - Promo Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      image: {
        desktop: 'individu-d.jpg',
        mobile: 'individu-m.jpg'
      },
      label: 'Promosi - Elevation',
      title: 'Elevate your days with Everyday Deals!',
      description: 'Gunakan Kartu Kredit OCBC NISP Periode hingga 31 Desember 2019',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    },
    {
      image: {
        desktop: 'default-1-d.jpg',
        mobile: 'default-1-m.jpg'
      },
      label: 'Promosi - Elevation',
      title: 'Layanan Terpilih untuk Nasabah Istimewa',
      description: 'Nikmati layanan eksklusif Premier Banking untuk semua kebutuhan perbankan Anda',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    },
    {
      image: {
        desktop: 'default-2-d.jpg',
        mobile: 'default-2-m.jpg'
      },
      label: 'Promosi - Elevation',
      title: 'Memastikan Anda Selalu Jadi Prioritas',
      description: 'Temukan private bank partner yang selalu memahami gaya hidup Anda',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    }
  ];

include ../../layout/promo-banner.pug
