//-------------------------------------------------------------------------------
  @name: Individu - Private - Layananan - Tab - Privileges - Informasi Komprehensif
  @description: Individu - Private - Layananan - Tab - Privileges - Informasi Komprehensif
  -------------------------------------------------------------------------------//

extends ../../../../components/circle-description-section

//- Head
block head
  -
    data = {
      gray: true,
      positionImage: 'img-tr'
    }

//- Image
block image
  -
    image = {
      color: 'private',
      img: 'image-circle-7.jpg',
      small: true
    }

//- Content
block content
  h3.ocbc-circle-desc-sec__title
    | Informasi Rekening yang Komprehensif
  //ocbc-circle-desc-sec__txt__wrapper
  .ocbc-circle-desc-sec__txt__wrapper
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      p.ocbc-circle-desc-sec__desc
        | Khusus bagi nasabah Private Banking OCBC NISP secara berkala disediakan Laporan Konsolidasi sebagai sumber informasi terkait total relasi nasabah dengan Bank OCBC NISP baik berupa rekening produk keuangan Bank dan Non Bank.
      button.ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--gray.js-show-popup-general(type='button', data-target='.popup-privileges-informasi-komprehensif')
        | Lihat Detail
  //-  Popup Privileges Komprehensif
  include ../../../../components/popup-privileges-informasi-komprehensif.pug
