//-------------------------------------------------------------------------------
  @name: Individu - Private - Layananan - Tab - Privileges - Text Column
  @description: Individu - Private - Layananan - Tab - Privileges - Text Column
  -------------------------------------------------------------------------------//

-
  data = {
    text: [
      {
        page: 'private',
        title: 'Medical Check Up On Call',
        description: 'Di tengah kesibukan, Anda bisa tetap memeriksa kesehatan dengan menggunakan salah satu fasilitas khusus yaitu Medical Check-Up On Call yang kami sediakan khusus untuk Anda.',
        button: {
          private: true,
          to: '.popup-privileges-medical-check-up',
          popupClass: 'js-show-popup-general',
          text: 'Lihat Detail'
        }
      },
      {
        page: 'private',
        title: 'Airport Pick Up Services',
        description: 'Untuk menambah kemudahan serta menghemat waktu berharga Anda dalam perjalanan, kami menyediakan fasilitas penjemputan dari Bandara ke tempat tujuan Anda. Fasilitas ini tersedia di Indonesia yaitu, Jakarta (Bandara Internasional Soekarno - Hatta), Surabaya (Bandara Internasional Juanda) dan Singapura (Bandara Internasional Changi).',
        button: {
          private: true,
          to: '.popup-privileges-airport-pickup',
          popupClass: 'js-show-popup-general',
          text: 'Lihat Detail'
        }
      },
      {
        title: 'Berbagai Acara Istimewa Ekslusif',
        description: 'Ikuti acara istimewa eksklusif hanya untuk nasabah OCBC NISP Private Banking dan nikmati harga spesial dari berbagai merchant yang bekerja sama.',
        button: {
          private: true,
          to: 'artikel.html?kategori=private-banking&tema=events',
          text: 'Lihat Detail'
        }
      },
      {
        page: 'private',
        title: 'Promo',
        description: 'Nikmati Program KPR khusus bagi nasabah OCBC NISP Private Banking dengan berbagai kemudahan dan keuntungan.',
        button: {
          private: true,
          to: '.popup-privileges-promo',
          popupClass: 'js-show-popup-general',
          text: 'Lihat Promo'
        }
      }
    ]
  }
include ../../../../layout/text-column.pug
