//-------------------------------------------------------------------------------
  @name: Individu - Private - Layananan - Tab - Privileges - Tim Private banking Terpilih
  @description: Individu - Private - Layananan - Tab - Privileges - Tim Private banking Terpilih
  -------------------------------------------------------------------------------//

extends ../../../../components/circle-description-section

//- Head
block head
  -
    data = {
      positionImage: 'img-bl',
    }

//- Image
block image
  -
    image = {
      color: 'private',
      img: 'image-circle-5.jpg',
      small: true
    };

//- Content
block content
  h3.ocbc-circle-desc-sec__title
    | Tim Private Banking Terpilih
  //ocbc-circle-desc-sec__txt__wrapper
  .ocbc-circle-desc-sec__txt__wrapper
    //ocbc-circle-desc-sec__txt__item
    .ocbc-circle-desc-sec__txt__item
      //ocbc-circle-desc-sec__txt-col
      .ocbc-circle-desc-sec__txt-col
        //ocbc-circle-desc-sec__txt-col__item
        .ocbc-circle-desc-sec__txt-col__item
          h4.ocbc-circle-desc-sec__subtitle
            | Private Banking Manager
          p.ocbc-circle-desc-sec__desc
            | Private Banking Manager Anda siap untuk membantu Anda dalam memenuhi kebutuhan perbankan/finansial serta kebutuhan dalam pengembangan dan perlindungan aset kekayaan Anda.

        //ocbc-circle-desc-sec__txt-col__item
        .ocbc-circle-desc-sec__txt-col__item
          h4.ocbc-circle-desc-sec__subtitle
            | Private Banking Assistant
          p.ocbc-circle-desc-sec__desc
            | Membantu untuk memastikan kemudahan, keamanan, dan kenyamanan dalam bertransaksi di Private Center.

        //ocbc-circle-desc-sec__txt-col__item
        .ocbc-circle-desc-sec__txt-col__item
          h4.ocbc-circle-desc-sec__subtitle
            | Wealth Management Specialist
          p.ocbc-circle-desc-sec__desc
            | Kami didukung oleh tim Wealth Management Specialist yang khusus didedikasikan untuk memberikan wawasan dan strategi dalam pemenuhan kebutuhan finansial sesuai dengan profil Anda.

        //ocbc-circle-desc-sec__txt-col__item
        .ocbc-circle-desc-sec__txt-col__item
          h4.ocbc-circle-desc-sec__subtitle
            | Foreign Exchange Specialist
          p.ocbc-circle-desc-sec__desc
            | Tim Forex Specialist khusus didedikasikan untuk memberikan wawasan dan strategi dalam setiap keputusan transaksi valuta asing (valas) Anda, serta memprioritaskan kemudahan Anda dalam bertransaksi valas.
