/* ==========================================================================
   OCBC Mixin: Modifier Color
   ========================================================================== */

@mixin modifier-color {
  // primary
  &--primary-1 {
    color: color(primary, 1);
  }
  &--primary-2 {
    color: color(primary, 2);
  }
  &--primary-3 {
    color: color(primary, 3);
  }
  // secondary
  &--secondary-1 {
    color: color(secondary, 1);
  }
  &--secondary-2 {
    color: color(secondary, 2);
  }
  &--secondary-3 {
    color: color(secondary, 3);
  }
  &--secondary-4 {
    color: color(secondary, 4);
  }
  &--secondary-5 {
    color: color(secondary, 5);
  }
  &--secondary-6 {
    color: color(secondary, 6);
  }
  &--secondary-7 {
    color: color(secondary, 7);
  }
  &--secondary-8 {
    color: color(secondary, 8);
  }
  &--secondary-9 {
    color: color(secondary, 9);
  }
  &--secondary-10 {
    color: color(secondary, 10);
  }
  &--secondary-11 {
    color: color(secondary, 11);
  }
  &--secondary-12 {
    color: color(secondary, 12);
  }
  &--secondary-13 {
    color: color(secondary, 13);
  }
  &--secondary-14 {
    color: color(secondary, 14);
  }
  &--secondary-15 {
    color: color(secondary, 15);
  }
  // premier
  &--premier-1 {
    color: color(premier, 1);
  }
  &--premier-2 {
    color: color(premier, 2);
  }
  &--premier-3 {
    color: color(premier, 3);
  }
  // private
  &--private-1 {
    color: color(private, 1);
  }
  &--private-2 {
    color: color(private, 2);
  }
  &--private-3 {
    color: color(private, 3);
  }
  &--private-4 {
    color: color(private, 4);
  }
  &--private-5 {
    color: color(private, 5);
  }
  // gray
  &--gray-1 {
    color: color(gray, 1);
  }
  &--gray-2 {
    color: color(gray, 2);
  }
  &--gray-3 {
    color: color(gray, 3);
  }
  &--gray-4 {
    color: color(gray, 4);
  }
  &--gray-5 {
    color: color(gray, 5);
  }
  &--gray-6 {
    color: color(gray, 6);
  }
  &--gray-7 {
    color: color(gray, 7);
  }
  // white
  &--white {
    color: color(white);
  }
  // black
  &--black {
    color: color(black);
  }
  // social
  &--social-facebook {
    color: color(social, facebook);
  }
  &--social-instagram {
    color: color(social, instagram);
  }
  &--social-twitter {
    color: color(social, twitter);
  }
  &--social-youtube {
    color: color(social, youtube);
  }
  &--social-whatsapp {
    color: color(social, whatsapp);
  }
  &--social-line {
    color: color(social, line);
  }
  &--social-linkedin {
    color: color(social, linkedin);
  }
  // error
  &--error {
    color: color(system, error);
  }
  // success
  &--success {
    color: color(system, success);
  }
}
