/* ==========================================================================
   OCBC Mixin: Modifier Font Weight
   ========================================================================== */

@mixin modifier-font-weight {
  &--regular {
    font-weight: fw(regular);
  }

  &--medium {
    font-weight: fw(medium);
  }

  &--bold {
    font-weight: fw(bold);
  }
}
