/* ==========================================================================
   OCBC Mixin: Modifier Button
   ========================================================================== */

// icon-text-slide
@mixin icon-slide($direction) {
  .#{$prefix}fi {
    transition: transform 0.3s ease, opacity 0.2s ease;
    &:first-child {
      opacity: 1;
      z-index: $z-btn-icon-first;
    }
    &:last-child {
      opacity: 0;
      z-index: $z-btn-icon-last;
    }
  }
  &:hover {
    .#{$prefix}fi {
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
      }
    }
  }

  // direction
  // --- left
  @if $direction == "left" {
    .#{$prefix}fi {
      &:last-child {
        transform: translateX(8px);
      }
    }
    &:hover {
      .#{$prefix}fi {
        &:first-child {
          transform: translateX(-8px);
        }
        &:last-child {
          transform: translateX(0);
        }
      }
    }

    // --- right
  } @else if $direction == "right" {
    .#{$prefix}fi {
      &:last-child {
        transform: translateX(-8px);
      }
    }
    &:hover {
      .#{$prefix}fi {
        &:first-child {
          transform: translateX(8px);
        }
        &:last-child {
          transform: translateX(0);
        }
      }
    }

    // --- top
  } @else if $direction == "top" {
    .#{$prefix}fi {
      &:last-child {
        transform: translateY(8px);
      }
    }
    &:hover {
      .#{$prefix}fi {
        &:first-child {
          transform: translateY(-8px);
        }
        &:last-child {
          transform: translateY(0);
        }
      }
    }

    // --- bottom
  } @else if $direction == "bottom" {
    .#{$prefix}fi {
      &:last-child {
        transform: translateY(-8px);
      }
    }
    &:hover {
      .#{$prefix}fi {
        &:first-child {
          transform: translateY(8px);
        }
        &:last-child {
          transform: translateY(0);
        }
      }
    }
  }
}

// modifier-button
@mixin modifier-button {
  /* ~~~--~~~
  @modifier: ocbc-btn--primary
  @description: Primary Button Active State
  ~~~--~~~ */
  &--primary {
    background-image: lg(primary, 113deg, 0%, 50%);
    background-size: 200% 1px;
    transition: background-position .35s ease;
    color: color(white);
    // -- premier site
    .#{$prefix}premier-site & {
      background-image: lg(premier, 113deg, 0%, 50%);
    }
    // -- private site
    .#{$prefix}private-site & {
      background-image: lg(private, 113deg, 0%, 50%);
    }
    &:hover {
      background-position: 100% 1px;
    }
    &[disabled] {
      cursor: default;
      pointer-events: none;
      color: color(white);
      background-image: none;
      background-color: color(gray, 3);
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--primary-inactive
  @description: Primary Button Inactive State
  ~~~--~~~ */
  &--primary-inactive {
    cursor: default;
    pointer-events: none;
    color: color(white);
    background-color: color(gray, 3);
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--secondary
  @description: Secondary Button Active State
  ~~~--~~~ */
  &--secondary {
    color: color(primary, 1);
    border: solid 2px color(primary, 1);
    padding: 8px 24px;
    // -- premier site
    .#{$prefix}premier-site & {
      color: color(premier, 1);
      border-color: color(premier, 1);
    }
    // -- private site
    .#{$prefix}private-site & {
      color: color(gray, 1);
      border-color: color(gray, 1);
    }
    &:hover {
      background-color: rgba(color(secondary, 8),.05);
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--secondary-white
  @description: Secondary White Button Active State
  ~~~--~~~ */
  &--secondary-white {
    color: color(white);
    border: solid 2px color(white);
    padding: 8px 24px;
    &:hover {
      background-color: color(white);
      color: color(primary, 1);
      // -- premier site
      .#{$prefix}premier-site & {
        color: color(premier, 1);
      }
      // -- private site
      .#{$prefix}private-site & {
        color: color(private, 1);
      }
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--premier
  @description: Premier Button Active State
  ~~~--~~~ */
  &--premier {
    background-image: lg(premier, 113deg, 0%, 50%);
    background-size: 200% 1px;
    transition: background-position .35s ease;
    color: color(white);
    &:hover {
      background-position: 100% 1px;
    }
    &[disabled] {
      cursor: default;
      pointer-events: none;
      color: color(white);
      background-image: none;
      background-color: color(gray, 3);
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--premier-white
  @description: Premier White Button Active State
  ~~~--~~~ */
  &--premier-white {
    color: color(white);
    border: solid 2px color(white);
    padding: 8px 24px;
    &:hover {
      color: color(premier, 1);
      background-color: color(white);
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--private
  @description: Private Button Active State
  ~~~--~~~ */
  &--private {
    background-image: lg(private, 113deg, 0%, 50%);
    background-size: 200% 1px;
    transition: background-position .35s ease;
    color: color(white);
    &:hover {
      background-position: 100% 1px;
    }
    &[disabled] {
      cursor: default;
      pointer-events: none;
      color: color(white);
      background-image: none;
      background-color: color(gray, 3);
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--private-white
  @description: Private White Button Active State
  ~~~--~~~ */
  &--private-white {
    color: color(white);
    border: solid 2px color(white);
    padding: 8px 24px;
    &:hover {
      color: color(private, 1);
      background-color: color(white);
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--secondary-inactive
  @description: Secondary Button Inactive State
  ~~~--~~~ */
  &--secondary-inactive {
    cursor: default;
    pointer-events: none;
    color: color(gray, 2);
    border: solid 2px color(gray, 2);
    padding: 8px 24px;
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--block
  @description: Block Button/Full width Button
  ~~~--~~~ */
  &--block {
    display: block;
    width: 100%;
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--apply
  @description: Apply Button
  ~~~--~~~ */
  &--apply {
    height: 40px;
    min-width: 132px;
    padding: 4px 16px;
    &.#{$prefix}btn--secondary {
      // -- premier site
      .#{$prefix}premier-site &,
      // -- private site
      .#{$prefix}private-site & {
        color: color(white);
        border-color: color(white);
      }
    }
    @include large {
      &.#{$prefix}btn--secondary {
        // -- premier site
        .#{$prefix}premier-site & {
          color: color(premier, 1);
          border-color: color(premier, 1);
        }
        // -- private site
        .#{$prefix}private-site & {
          color: color(private, 1);
          border-color: color(private, 1);
        }
      }
    }
    @include small {
      min-width: 104px;
      padding: 4px 16px;
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--small
  @description: Small Button
  ~~~--~~~ */
  &--small {
    height: 40px;
    min-width: 132px;
    padding: 4px 16px;
    @include small {
      min-width: 104px;
      padding: 4px 16px;
    }
  }

  /* ~~~--~~~
  @modifier: ocbc-btn--rounded
  @description: Rounded Button
  ~~~--~~~ */
  &--rounded {
    border-radius: 24px;
    min-width: 136px;
    @include small {
      min-width: 88px;
      padding: 10px 12px;
    }
  }

  // Icon Only
  &-icon--slide {
    &-left {
      @include icon-slide(left);
    }
    &-right {
      @include icon-slide(right);
    }
    &-top {
      @include icon-slide(top);
    }
    &-bottom {
      @include icon-slide(bottom);
    }
  }
  // Icon Text
  &-icon-txt--slide {
    &-left {
      @include icon-slide(left);
    }
    &-right {
      @include icon-slide(right);
    }
    &-top {
      @include icon-slide(top);
    }
    &-bottom {
      @include icon-slide(bottom);
    }
  }
}
