/* ==========================================================================
   OCBC Mixin: Modifier Shadow
   ========================================================================== */

@mixin modifier-shadow {
  &--16 {
    @include shadow(16);
  }
  &--8 {
    @include shadow(8);
  }
  &--6 {
    @include shadow(6);
  }
  &--4 {
    @include shadow(4);
  }
}
