/* ==========================================================================
   OCBC Mixin: Modifier Button Text Link
   ========================================================================== */

// modifier-button-text-link
@mixin modifier-button-text-link {
  &--white {
    color: color(white);

    // <pseudo-element/>
    @include element(after) {
      color: color(white);
    }
    &:hover {
      color: color(white);
      @include element(after) {
        color: color(white);
      }
    }
  }

  &--gold {
    // <pseudo-element/>
    @include element(after) {
      color: color(premier, 3);
    }
    &:hover {
      color: color(premier, 1);
      @include element(after) {
        color: color(premier, 1);
      }
    }
  }

  &--gold-arrow {
    color: color(premier, 3);

    // <pseudo-element/>
    @include element(after) {
      color: color(premier, 3);
    }
    &:hover {
      color: color(premier, 1);
      @include element(after) {
        color: color(premier, 1);
      }
    }
  }

  &--gray {
    // <pseudo-element/>
    @include element(after) {
      color: color(gray, 1);
    }
    &:hover {
      color: color(gray, 1);
      @include element(after) {
        color: color(gray, 1);
      }
    }
  }

  &--gray-arrow {
    color: color(gray, 1);

    // <pseudo-element/>
    @include element(after) {
      color: color(gray, 1);
    }
    &:hover {
      color: color(gray, 1);
      @include element(after) {
        color: color(gray, 1);
      }
    }
  }

  &--white-red {
    color: color(white);

    @include element(after) {
      color: color(primary, 1);
    }
    &:hover {
      color: color(white);
      @include element(after) {
        color: color(primary, 1);
      }
    }
  }

  &[disabled] {
    cursor: default;
    pointer-events: none;
    color: color(gray, 2);

    @include element(after) {
      color: color(gray, 2);
    }
  }
}
