/* ==========================================================================
   OCBC Mixin: Modifier Input
   ========================================================================== */

@mixin modifier-input {
  &--box-rounded {
    padding: 8px 16px;
    height: 40px;
    border: 0;
    border-radius: 8px;
    background-color: color(white);
    @include shadow(6);
  }
  &--minimalize {
    width: 100%;
    border: 0;
    padding: 7px 4px 8px;
    background-color: transparent;
    border-radius: 0;
    border-bottom: solid 1px color(gray, 3);
    @include placeholder-color(color(gray, 3));
    transition: border-colo .25s ease;
    @include ellipsis;
    @include small {
      padding-left: 8px;
      padding-right: 8px;
    }
    .#{$prefix}field__input & {
      padding: 0 0 8px;
      @include placeholder-color(rgba(color(gray, 2), 0.6));
    }
    &[readonly] {
      border-color: transparent;
      cursor: default;
    }
  }
  &--textarea-box{
    display: block;
    width: 100%;
    height: 200px;
    padding: 16px;
    background-color: transparent;
    border-radius: 0;
    border: solid 1px color(gray, 3);
    resize: none;
    @include placeholder-color(rgba(color(gray, 2), 0.6));
  }
}
