//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab
  @description: Karir - Be The ONe - Vertical Tab
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Tentang Ideation
    ='\n'
    iframe.ocbc-vt-content__iframe(src='https://www.youtube.com/embed/D8Tk_BeCLEg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold
      | Building the future workforce of Indonesia: Developing augmented human for any job, anytime, anywhere
    p.ocbc-vt-content__p
      | Ideation 2020 merupakan kompetisi nasional bagi para mahasiswa/i Indonesia berambisi tinggi dan ingin menyuarakan ide nya demi Indonesia yang lebih baik. Bank OCBC NISP percaya, untuk mendorong inovasi dalam perbankan, Kami pun harus turut berpartisipasi aktif dalam meningkatkan kemampuan manusia melalui pendidikan.
    p.ocbc-vt-content__p
      | Pendaftaran registrasi dibuka <strong class="ocbc-vt-content__b">6 Januari s/d 22 Maret 2020</strong>
