//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - Dates Schedule
  @description: Karir - Be The ONe - Vertical Tab - Dates Schedule
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Informasi Penting Mengenai Tanggal dan Jadwal
    -
      className = 'dates-schedule';
      data = [
        {
          date: '6 Jan - 22 Mar 2020',
          list: [
            {
              title: 'Pendaftaran Registrasi Dibuka',
              description: 'Kirimkan idemu sebanyak-banyaknya'
            }
          ]
        },
        {
          date: '1 Feb - 31 Mar 2020',
          list: [
            {
              title: 'Road to Ideation (RIDE) 2020',
              description: 'Rangkaian kegiatan yang bertujuan untuk membekali peserta sebelum mengikuti Ideation 2020. RIDE 2020 terbagi menjadi 2 sesi berbeda yang akan diselenggarakan di 4 kampus, yaitu Universitas Gadjah Mada, Universitas Indonesia, Universitas Prasetiya Mulya, dan Institut Teknologi Bandung.'
            },
            {
              title: 'Road To Ideation I: Edu-Tech as an Enabler to Human Capital in Indonesia',
              description: 'Peserta akan dibekali berbagai wawasan dan pembahasan komprehensif mengenai peran pendidikan dan kaitannya terhadap pembentukan future workforce di Indonesia.'
            },
            {
              title: 'Road To Ideation II: Workshop \"Be The Solutions\"',
              description: 'Peserta akan dipersiapkan dengan berbagai tips dan trik dalam merumuskan solusi yang tepat bagi permasahalan yang ditemui.'
            }
          ]
        },
        {
          date: '22 Mar 2020',
          list: [
            {
              title: 'Batas Waktu Pengiriman Ide',
              description: 'Hari terakhir pengiriman ide untuk Ideation'
            }
          ]
        },
        {
          date: '30 Mar 2020',
          list: [
            {
              title: 'Pengumuman 10 Tim Terpilih',
              description: 'Finalis terpilih akan mengikuti rangkaian workshop acara Ideation'
            }
          ]
        },
        {
          date: '14 Apr 2020',
          list: [
            {
              title: 'Ideation Hari Pertama',
              description: 'Diadakan di OCBC NISP Tower, Jakarta lantai 23'
            }
          ]
        },
        {
          date: '15 Apr 2020',
          list: [
            {
              title: 'Ideation Hari Kedua',
              description: 'Diadakan di OCBC NISP Tower, Jakarta lantai 23'
            }
          ]
        },
        {
          date: '16 Apr 2020',
          list: [
            {
              title: 'Presentasi Final',
              description: 'Diadakan di Ballroom C, Hotel Grand Hyatt Thamrin, Jakarta'
            }
          ]
        }
      ]

    include ../../../../layout/schedule.pug
