//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - How To Join
  @description: Karir - Be The ONe - Vertical Tab - How To Join
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Kriteria Peserta

    ul.ocbc-vt-content__ul--no-margin
      li.ocbc-vt-content__li
        | Warga Negara Indonesia
      li.ocbc-vt-content__li
        | Terdaftar sebagai mahasiswa/i aktif di perguruan tinggi
      li.ocbc-vt-content__li
        | Tim dengan 3 – 4 orang anggota

    -
      data = {
        block: true,
        modifierClass: 'how-to-join',
        list: [
          {
            title: 'Step 1',
            description: 'Daftarkan tim kamu melalui: bit.ly/ideation2020',
            img: 'form.svg'
          },
          {
            title: 'Step 2',
            description: 'Sampaikan ide kamu melalui video (maks. 3 menit) dengan tema:Building the future workforce of Indonesia."',
            img: 'idea.svg'
          },
          {
            title: 'Step 3',
            description: 'Unggah video kamu ke YouTube dengan judul: OCBC NISP Ideation 2020 – [Nama tim kamu] #TAYTB',
            img: 'upload.svg'
          },
          {
            title: 'Step 4',
            description: 'Kumpulkan link video kamu melalui form registrasi dan tunggu email konfirmasi.',
            img: 'email.svg'
          }
        ]
      }

    include ../../../../layout/product-detail-fragment.pug
