//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - Internship
  @description: Karir - Be The ONe - Vertical Tab - Internship
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Internship
    ='\n'
    img.ocbc-vt-content__img-content(src='img/dummy/page/karir/internship.jpg', alt='OCBC Internship')/
    |!{''}
    |
    h3.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--bold
      | Kesempatan Mendapatkan Pengalaman di Industri Perbankan
    p.ocbc-vt-content__p
      | OCBC NISP membuka jalan bagi para mahasiswa untuk merasakan langsung pengalaman bekerja di dunia perbankan dan berkesempatan untuk mengerjakan  proyek nyata. Pilih divisi untuk program magang yang beragam dari CREATIVE, TECHNOLOGY, BUSINESS, hingga PEOPLE.
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black.ocbc-vt-content__title--narrow
      | Kualifikasi:
    ='\n'
    ul.ocbc-vt-content__ul
      li.ocbc-vt-content__li
        | Prestasi akademis yang baik dan aktif dalam kegiatan ekstra kurikuler
      li.ocbc-vt-content__li
        | Energik, antusias, dan pekerja keras
      li.ocbc-vt-content__li
        | Memiliki kualitas kepemimpinan yang kuat dan keterampilan interpersonal yang baik
      li.ocbc-vt-content__li
        | Menyukai tantangan
