//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - Judges
  @description: Karir - Be The ONe - Vertical Tab - Judges
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Ideation Judges 2020
    -
      data = [
        {
          card: {
            image: 'ka-jit.jpg',
            name: 'Ka Jit',
            position: 'Head of Strategy and Innovation Group'
          },
          detail: {
            image: 'popup-1.png',
            body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head of Strategy and Innovation Group sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
          }
        },
        {
          card: {
            image: 'komang.jpg',
            name: 'Komang Arthayasa',
            position: 'Chief Technology Officer'
          },
          detail: {
            image: 'popup-1.png',
            body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Chief Technology Officer sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
          }
        },
        {
          card: {
            image: 'julie.jpg',
            name: 'Julie Anwar',
            position: 'Head of Human Resource'
          },
          detail: {
            image: 'popup-1.png',
            body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head of Human Resource sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
          }
        },
        {
          card: {
            image: 'altona.jpg',
            name: 'Altona Widjaja',
            position: 'Business Incubation Lead'
          },
          detail: {
            image: 'popup-1.png',
            body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Business Incubation Lead sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
          }
        },
        {
          card: {
            image: 'ayu.jpg',
            name: 'Ayu Kartika Dewi',
            position: 'Staf Khusus Presiden RI'
          },
          detail: {
            image: 'popup-1.png',
            body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Staf Khusus Presiden RI sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
          }
        }
      ];
    include ../../../../layout/card-bod.pug
