//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Vertical Tab - Prizes
  @description: Karir - Be The ONe - Vertical Tab - Prizes
  -------------------------------------------------------------------------------//

.ocbc-vt-content__body
  //ocbc-vt-content__share-wrapper
  .ocbc-vt-content__share-wrapper
    include ../../../../components/share-content.pug

  .ocbc-vt-content__content-wrapper
    h4.ocbc-vt-content__title.ocbc-vt-content__title--black
      | Mengapa Kamu harus ikut Ideation 2020!
    p.ocbc-vt-content__p--no-margin
      | Sepuluh tim terpilih akan mendapatkan kesempatan untuk:
    ul.ocbc-vt-content__ul
      li.ocbc-vt-content__li
        | Mengikuti acara Networking Night bersama pimpinan-pimpinan OCBC NISP
      li.ocbc-vt-content__li
        | Coaching session dengan konsultan serta pakar dari berbagai bidang
      li.ocbc-vt-content__li
        | Magang di berbagai project yang ada di OCBC NISP
    p.ocbc-vt-content__p.ocbc-vt-content__p-narrow
      | Menangkan hadiah berupa:
    ='\n'
    img.ocbc-vt-content__img-prizes(src='img/dummy/page/karir/prize-1.jpg' alt='1st Prize')/
    ='\n'
    img.ocbc-vt-content__img-prizes(src='img/dummy/page/karir/prize-2.jpg' alt='2nd Prize')/
    ='\n'
    img.ocbc-vt-content__img-prizes(src='img/dummy/page/karir/prize-3.jpg' alt='3rd Prize')/
    ='\n'
    img.ocbc-vt-content__img-prizes(src='img/dummy/page/karir/prize-4.jpg' alt='4th Prize')/
    |!{''}
    |
