//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor  - Main Banner
  @description: Tentang Kami - Hubungan Investor  - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Hubungan Investor',
    description: 'Kumpulan informasi penting dan terkini seputar Hubungan Investor',
    image: {
      desktop: 'hubungan-investor-d.jpg',
      mobile: 'hubungan-investor-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
