//-------------------------------------------------------------------------------
  @name: Tentang Kami - Profil  - Tab
  @description: Tentang Kami - Profil  - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'kepemilikan-saham',
          text: 'Kepemilikan Saham'
        },
        {
          target: 'informasi-keuangan',
          text: 'Informasi Keuangan',
        },
        {
          target: 'laporan-tahunan',
          text: 'Laporan Tahunan'
        },
        {
          target: 'peringkat-kredit',
          text: 'Peringkat Kredit'
        },
        {
          target: 'informasi-saham-obligasi',
          text: 'Informasi Saham dan Obligasi'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='kepemilikan-saham')
    include tab-content/kepemilikan-saham.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='informasi-keuangan')
    include tab-content/informasi-keuangan.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='laporan-tahunan')
    include tab-content/laporan-tahunan.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='peringkat-kredit')
    include tab-content/peringkat-kredit.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='informasi-saham-obligasi')
    include tab-content/informasi-saham-obligasi.pug
