//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Reksa Dana - Card USP
  @description: Individu - Wealth Management - Reksa Dana - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Mudah dan Aman',
      description: 'Dikelola secara profesional oleh Manajer Investasi',
      img: 'placeholder.jpg'
    },
    {
      title: 'Menurunkan Resiko',
      description: 'Dapat mengurangi risiko investasi ',
      img: 'placeholder.jpg'
    },
    {
      title: 'Likuid & Fleksibel',
      description: 'Pencairan Reksa Dana setiap hari sesuai dengan harga pasar',
      img: 'placeholder.jpg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
