//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Reksa Dana - Card Apply
  @description: Individu - Wealth Management - Reksa Dana - Card Apply
  -------------------------------------------------------------------------------//

//ocbc-card--ca__prod-detail
.ocbc-card--ca__prod-detail
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          -
            data = {
              title: "Berinvestasi dengan Reksa Dana",
              btnList: [
                {
                  type: "primary",
                  to: "#",
                  txt: "Ajukan"
                }
              ]
            }
          include ../../components/card-apply.pug
