
//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Reksa Dana - Filter and Card
  @description: Individu - Wealth Management - Reksa Dana - Filter and Card
  -------------------------------------------------------------------------------//

extends ../../layout/mutual-funds.pug

block filter
  -
    data = [
      {
        title: 'Risk Level',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Risk Level',
            checked: true
          },
          {
            name: 'conservative',
            text: 'Conservative'
          },
          {
            name: 'balance',
            text: 'Balance'
          },
          {
            name: 'growth',
            text: 'Growth'
          },
          {
            name: 'aggressive',
            text: 'Aggressive'
          }
        ]
      },
      {
        title: 'Reksa Dana',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Reksa Dana',
            checked: true
          },
          {
            name: 'reksa_dana_pasar_uang',
            text: 'Reksa Dana Pasar Uang'
          },
          {
            name: 'reksa_dana_pendapatan_tetap',
            text: 'Reksa Dana Pendapatan Tetap'
          },
          {
            name: 'reksa_dana_campuran',
            text: 'Reksa Dana Campuran'
          },
          {
            name: 'reksa_dana_saham',
            text: 'Reksa Dana Saham'
          },
          {
            name: 'reksa_dana_terproteksi',
            text: 'Reksa Dana Terproteksi'
          },
          {
            name: 'reksa_dana_berjangka',
            text: 'Reksa Dana Berjangka'
          }
        ]
      },
      {
        title: 'Manajer Investasi',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Manajer Investasi',
            checked: true
          },
          {
            name: 'aberdeen_standard',
            text: 'Aberdeen Standard'
          },
          {
            name: 'schroders',
            text: 'Schroders'
          },
          {
            name: 'ashmore',
            text: 'Ashmore'
          },
          {
            name: 'bnp_paribas',
            text: 'BNP Paribas'
          },
          {
            name: 'manulife',
            text: 'Manulife'
          },
          {
            name: 'batavia',
            text: 'Batavia'
          }
        ]
      }
    ]
  include ../../layout/filter.pug

block list
  -
    data = {
      card: [
        {
          risk: 'Conservative',
          level: 1,
          type: 'Reksa Dana Pasar Uang',
          company: 'Aberdeen Standard Indonesia Money Market Fund',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'Conservative',
          level: 1,
          type: 'Reksa Dana Pasar Uang',
          company: 'Ashmore Dana Pasar Uang Nusantara',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'Highly aggressive',
          level: 5,
          type: 'Reksa Dana Pendapatan Tetap',
          company: 'BNP Paribas Prima USD',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'Balance',
          level: 2,
          type: 'Reksa Dana Terproteksi',
          company: 'Batavia Proteksi Cemerlang 68',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'Growth',
          level: 3,
          type: 'Reksa Dana Pendapatan Campuran',
          company: 'Aberdeen Standard Indonesia Balanced Growth Fund',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'Growth',
          level: 3,
          type: 'Reksa Dana Pendapatan Campuran',
          company: 'BNP Paribas Equitra',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'Aggressive',
          level: 4,
          type: 'Reksa Dana Pendapatan Saham',
          company: 'BNP Paribas Greater China Equity Syariah USD',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        },
        {
          risk: 'highly Aggressive',
          level: 5,
          type: 'Reksa Dana Pendapatan Saham',
          company: 'Manulife Saham Syariah Asia Pasifik Dollar AS',
          detail : [
            {
              currency: 'NAB',
              amount: 'Rp 1,398.00'
            },
            {
              currency: 'AUM',
              amount: '130.32 miliar'
            }
          ],
          button: [
            {
              text: 'Prospectus',
              to: '#'
            },
            {
              text: 'Fund Factsheet',
              to: '#'
            }
          ]
        }
      ]
    }
  include ../../layout/card-mutual-funds.pug
