//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Reksa Dana - Product Banner
  @description: Individu - Wealth Management - Reksa Dana - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Reksa Dana',
    description: 'Investasi untuk masa depan Anda yang dikelola secara profesional oleh Manajer Investasi berpengalaman',
    image: {
      desktop: 'mutual-funds-d.jpg',
      mobile: 'mutual-funds-m.jpg'
    },
    button: {
      primary: {
        text: 'Ajukan',
        to: '#'
      }
    }
  }

include ../../components/product-detail-banner.pug
