//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Kepemilikan Saham - 20 Pemegang Saham Terbesar
  @description: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Kepemilikan Saham - 20 Pemegang Saham Terbesar
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'largest-shareholders';
    title = '20 Pemegang Saham Terbesar';
    subTitle = 'Per 31 Maret 2020';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Pemegang Saham
    th.ocbc-tbl-striped__th
      | Jumlah Saham
    th.ocbc-tbl-striped__th
      | %

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td OCBC OVERSEAS INVESTMENTS PTE. LTD
    td.ocbc-tbl-striped__td 19,521,391,224
    td.ocbc-tbl-striped__td 85.08%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td HSBC-FUND SERVICES, CAM-GTF LTD
    td.ocbc-tbl-striped__td 535,597,684
    td.ocbc-tbl-striped__td 2.33%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PT UDAYAWIRA UTAMA
    td.ocbc-tbl-striped__td 497,950,936
    td.ocbc-tbl-striped__td 2.17%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PT SURYASONO SENTOSA
    td.ocbc-tbl-striped__td 494,512,602
    td.ocbc-tbl-striped__td 2.16%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td BP2S LUXEMBOURG/ABERDEEN STANDARD SICAVI-ASIAN SMALLER COMPANIES FUND
    td.ocbc-tbl-striped__td 467,174,924
    td.ocbc-tbl-striped__td 2.04%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td BP2S LONDON S/A ABERDEEN STANDARD ASIA FOCUS PLC
    td.ocbc-tbl-striped__td 379,629,166
    td.ocbc-tbl-striped__td 1.65%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td BNYMSANV RE BNYMIL RE FS INV ICVC - STEWART INVESTOR
    td.ocbc-tbl-striped__td 270,918,300
    td.ocbc-tbl-striped__td 1.18%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td HSBC-FUND SERVICES, RAFFLES-ASIA INVESTMENT COMPANY
    td.ocbc-tbl-striped__td 156,306,652
    td.ocbc-tbl-striped__td 0.68%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td JPMCB NA RE-PACIFIC ASSETS TRUST PLC
    td.ocbc-tbl-striped__td 150,252,000
    td.ocbc-tbl-striped__td 0.65%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td JPMCB NA AIF CLT RE-THE SCOTTISH ORIENTAL 8
    td.ocbc-tbl-striped__td 86,000,700
    td.ocbc-tbl-striped__td 0.37%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td RBC S/A QUAESTIO CAPITAL MANAGEMENT
    td.ocbc-tbl-striped__td 63,785,300
    td.ocbc-tbl-striped__td 0.28%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td BP2S LUXEMBOURG/ABERDEEN STANDARD SICAVI-EMERGING MARKETS SMALLER COMPANIES FUND
    td.ocbc-tbl-striped__td 61,209,486
    td.ocbc-tbl-striped__td 0.27%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td JPMCB NA AIF CLT RE - SCOTGEMS PLC
    td.ocbc-tbl-striped__td 51,766,800
    td.ocbc-tbl-striped__td 0.23%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td SSB AM4N S/A ABERDEEN EMERG MRKT SM CF
    td.ocbc-tbl-striped__td 47,736,390
    td.ocbc-tbl-striped__td 0.21%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td BP2S SINGAPORE
    td.ocbc-tbl-striped__td 34,567,266
    td.ocbc-tbl-striped__td 0.15%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td BNYM RE FLORIDA RETIREMENT SYSTEM
    td.ocbc-tbl-striped__td 21,373,600
    td.ocbc-tbl-striped__td 0.09%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td RBC S/A DANSKE INVEST SICAV-GLOBAL EMERGING MARKETS
    td.ocbc-tbl-striped__td 11,629,300
    td.ocbc-tbl-striped__td 0.05%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td DANSKE BK/CLIENTS, UCITSHOLMENS KANAL
    td.ocbc-tbl-striped__td 6,650,350
    td.ocbc-tbl-striped__td 0.03%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td KARMAKA SURJAUDAJA
    td.ocbc-tbl-striped__td 6,461,286
    td.ocbc-tbl-striped__td 0.03%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td NOMURA PB NOMINEES LTD
    td.ocbc-tbl-striped__td 5,624,100
    td.ocbc-tbl-striped__td 0.02%
