//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Kepemilikan Saham - Struktur Pemegang Saham
  @description: Tentang Kami - Hubungan Investor - Tab - Peringkat Kredit - Kepemilikan Saham - Struktur Pemegang Saham
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'shareholders';
    title = 'Struktur Pemegang Saham';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Pemegang Saham
    th.ocbc-tbl-striped__th(colspan='2')
      | 31 Desember 2018
    th.ocbc-tbl-striped__th(colspan='2')
      | 31 Desember 2019
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
    th.ocbc-tbl-striped__th Lembar Saham
    th.ocbc-tbl-striped__th %
    th.ocbc-tbl-striped__th Lembar Saham
    th.ocbc-tbl-striped__th %

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td OCBC Overseas Investment Pte. Ltd. (Pemegang Saham Pengendali)
    td.ocbc-tbl-striped__td 19,521,391,224
    td.ocbc-tbl-striped__td 85.08%
    td.ocbc-tbl-striped__td 19,521,391,224
    td.ocbc-tbl-striped__td 85.08%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='5') Dewan Komisaris
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Pramukti Surjaudaja
    td.ocbc-tbl-striped__td 451,942
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 451,942
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='5') Direksi
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Parwati Surjaudaja
    td.ocbc-tbl-striped__td 3,046,420
    td.ocbc-tbl-striped__td 0.01%
    td.ocbc-tbl-striped__td 3,006,420
    td.ocbc-tbl-striped__td 0.01%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Emilya Tjahjadi
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Hartati
    td.ocbc-tbl-striped__td 36,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Martin Widjaja
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Andrae Krishnawan W
    td.ocbc-tbl-striped__td 36,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Johannes Husin
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Joseph Chan Fook Onn
    td.ocbc-tbl-striped__td 36,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Mirah D. Wiryoatmodjo
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
    td.ocbc-tbl-striped__td 72,000
    td.ocbc-tbl-striped__td 0.00%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Pemegang Saham Lainnya (kepemilikan masing-masing di bawah 5%)
    td.ocbc-tbl-striped__td 3,420,231,386
    td.ocbc-tbl-striped__td 14.91%
    td.ocbc-tbl-striped__td 3,419,939,386
    td.ocbc-tbl-striped__td 14.91%
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td
      strong Jumlah
    td.ocbc-tbl-striped__td
      strong 22,945,296,972
    td.ocbc-tbl-striped__td
      strong 100.00%
    td.ocbc-tbl-striped__td
      strong 22,945,296,972
    td.ocbc-tbl-striped__td
      strong 100.00%
