//-------------------------------------------------------------------------------
  @name: Promo - Card Suggestion
  @description: Promo - Card Suggestion
  -------------------------------------------------------------------------------//
-
  data = {
    title: 'Promo Lainnya',
    card: [
      {
        icon: 'global-business.svg',
        title: 'Regional',
        description: 'Fasilitas pembiayaan piutang menggunakan metode pembiayaan open account',
        button: 'Selengkapnya',
        to: '#'
      },
      {
        icon: 'mastercard.svg',
        title: 'Mastercard',
        description: 'Penerusan LC ekspor oleh bank OCBC NISP kepada penerima LC',
        button: 'Selengkapnya',
        to: '#'
      },
      {
        icon: 'visa.svg',
        title: 'Visa',
        description: 'Jasa penagihan atas dokumen tanpa LC',
        button: 'Selengkapnya',
        to: '#'
      }
    ]
  };

include ../../layout/card-suggestion.pug
