//-------------------------------------------------------------------------------
  @name: Promo - Content
  @description: Promo - Content
  -------------------------------------------------------------------------------//

extends ../../layout/card-promo.pug

block filter
  -
    data = [
      {
        title: 'Promo',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Promo',
            image: 'all-result.svg',
            checked: true
          },
          {
            name: 'ocbc',
            text: 'OCBC NISP',
            image: 'ocbc-logo.svg',
          },
          {
            name: 'elevation',
            text: 'Elevation',
            image: 'elevation.png',
          },
          {
            name: 'sme',
            text: 'SME',
            image: 'handshake.svg',
          },
          {
            name: 'bisnis',
            text: 'Bisnis',
            image: 'suitcase.svg',
          },
        ]
      },
      {
        title: 'Kategori',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Kategori',
            image: 'all-result.svg',
            checked: true
          },
          {
            name: 'dining',
            text: 'Dining',
            image: 'dining.svg',
          },
          {
            name: 'hotel-travel',
            text: 'Hotel & Travel',
            image: 'plane.svg',
          },
          {
            name: 'installment',
            text: 'Installment',
            image: 'hand-dollar.svg',
          },
          {
            name: 'online',
            text: 'Online',
            image: 'wifi.svg',
          },
          {
            name: 'shopping',
            text: 'Shopping',
            image: 'shopping-bag.svg',
          },
          {
            name: 'special-event',
            text: 'Special Event',
            image: 'party.svg',
          },
        ]
      },
      {
        title: 'Tipe',
        accordion: true,
        element: 'checkbox',
        items: [
          {
            name: 'all',
            text: 'Semua Tipe',
            image: 'all-result.svg',
            checked: true
          },
          {
            name: 'titanium',
            text: 'Kartu Kredit Titanium',
            image: 'mastercard-gift.svg',
          },
          {
            name: 'platinum',
            text: 'Kartu Kredit Platinum',
            image: 'mastercard-gift.svg',
          },
          {
            name: 'voyage',
            text: 'Kartu Kredit Voyage',
            image: 'mastercard-voyage.svg',
          },
          {
            name: 'debit',
            text: 'Kartu Debit',
            image: 'mastercard.svg',
          },
          {
            name: 'gpn',
            text: 'Kartu Debit GPN',
            image: 'mastercard-bird.svg',
          },
          {
            name: 'premier',
            text: 'Kartu Debit Premier',
            image: 'mastercard-diamond.svg',
          },
          {
            name: 'online',
            text: 'Kartu Debit Online',
            image: 'mastercard-global.svg',
          }
        ]
      }
    ]
  include ../../layout/filter.pug

block list
  -
    data = [
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'product-category-1.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'product-category-2.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'product-category-3.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'promo-1.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'promo-2.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'promo-3.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'promo-4.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          },
          {
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'promo-5.jpg',
            label: 'Tanda 360 Plus',
            date: '1 Sept 2019 - 1 Sept 2020'
          }
        ];
  include ../../components/card-promo.pug
