//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham - 20 Pemegang Saham Terbesar
  @description: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham - 20 Pemegang Saham Terbesar
  -------------------------------------------------------------------------------//

//- Table
include table/20-pemegang-saham-terbesar.pug
