//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham - Struktur Kelompok Pemegang Saham
  @description: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham - Struktur Kelompok Pemegang Saham
  -------------------------------------------------------------------------------//

h4.ocbc-management-structure__title
  | Struktur Kelompok Pemegang Saham
.ocbc-management-structure__org
  ='\n'
  img.ocbc-management-structure__org__img-d(src='img/dummy/fragment/kepemilikan-saham/kelompok-pemegang-saham-d.png', alt='Struktur Organisasi')/
  ='\n'
  img.ocbc-management-structure__org__img-m.ocbc-management-structure__org__img-s(src='img/dummy/fragment/kepemilikan-saham/kelompok-pemegang-saham-m.png', alt='Struktur Organisasi')/
  |!{''}
  |
