//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham - Struktur Pemegang Saham
  @description: Tentang Kami - Hubungan Investor - Tab - Kepemilikan Saham - Struktur Pemegang Saham
  -------------------------------------------------------------------------------//
-
  data = {
    total: '1.000.000.000',
    chart: [
      {
        title: 'OCBC Overseas Investment',
        percentage: '80%',
        amount: '800.000.000 Lembar'
      },
      {
        title: 'Others',
        percentage: '20%',
        amount: '200.000.000 Lembar'
      }
    ]
  }

//- Investment Pio Chart
include ../../../../components/investment-pie-chart.pug

//- Table
include table/struktur-pemegang-saham.pug
