//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Asuransi - Calculator Result
  @description: Hasil Perhitungan Kalkulator Asuransi - Calculator Result
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-result.pug


block title
  -
    label = 'pensiun';
    fields = 'items-5';

block form

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Umur Sekarang
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-usia-anda(type='text', name='usia_anda', placeholder='Masukkan Usia Anda')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Usia Pensiun
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-usia-pensiun(type='text', name='usia_pensiun', placeholder='Masukkan Usia Pensiun')/
        |!{''}
        |
      p.ocbc-field__note
        | > Usia Anda

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Masa Pensiun
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-masa-pensiun(type='text', name='masa_pensiun', placeholder='Masukkan Masa Pensiun')/
        |!{''}
        |
      p.ocbc-field__note
        | > Usia Pensiun Anda

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Dana Saat Ini
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-dana-saat-ini(type='text', name='dana_saat_ini', placeholder='Masukkan Dana Saat Ini')/
        |!{''}
        |

  //ocbc-calc-result__flds__item
  .ocbc-calc-result__flds__item
    .ocbc-field
      p.ocbc-field__label
        | Pengembalian Tahunan
      .ocbc-field__input
        ='\n'
        input.ocbc-input.ocbc-input--minimalize.js-pengembalian-tahunan(type='text', name='pengembalian_tahunan', placeholder='Masukkan Pengembalian Tahunan')/
        |!{''}
        |
