//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Pensiun - Card Upselling
  @description: Hasil Perhitungan Kalkulator Pensiun - Card Upselling
  -------------------------------------------------------------------------------//

-
  data = {
    border: true,
    title: 'Personal Advice on Health Protection Plan',
    description: 'Tim kami siap membantu memberikan solusi',
    button: 'Ask a Specialist',
    to: '#'
  }

include ../../layout/card-upselling.pug
