//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator Asuransi - Card Article
  @description: Hasil Perhitungan Kalkulator Asuransi - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Cerita untuk Inspirasi',
    card: [
      {
        image: 'individu-6.jpg',
        label: 'Pensiun',
        title: 'Plan Ahead, Ahead of Plan for your retirement',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'individu-7.jpg',
        label: 'Pensiun',
        title: 'Plan Ahead, Ahead of Plan for your retirement',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ]
  }

include ../../layout/card-article.pug
