.ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          h4.ocbc-card-advisor__title Kami siap mendampingi kamu mencapai tujuan finansial
          .ocbc-row.ocbc-card-advisor__list
            .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-advisor__item
              // ocbc-card--advisor
              .ocbc-card.ocbc-card--advisor
                .ocbc-card__box
                  a.ocbc-lnk(href='#')
                    | Untuk yang Sudah Punya Rekening OCBC NISP
                  .ocbc-card__img-wrapper
                    img.ocbc-card__img(src='img/dummy/wmcta-on.png' alt='')
                  .ocbc-card__txt
                    h4.ocbc-card__title Untuk yang Sudah Punya Rekening OCBC NISP
                    p.ocbc-card__desc Langsung mulai beli produk investasi di ONe Mobile
                    button.ocbc-btn-txt-lnk(type='button') Yuk Buka ONe Mobile
            .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-advisor__item
              // ocbc-card--advisor
              .ocbc-card.ocbc-card--advisor
                .ocbc-card__box
                  a.ocbc-lnk(href='#')
                    | Untuk kamu yang belum gabung di OCBC NISP
                  .ocbc-card__img-wrapper
                    img.ocbc-card__img(src='img/dummy/wmcta-rachel.png' alt='')
                  .ocbc-card__txt
                    h4.ocbc-card__title Untuk kamu yang belum gabung di OCBC NISP
                    p.ocbc-card__desc
                      | Bergabung dan rencanakan masa denpan bersama kami dengan berbagai solusi investasi
                    button.ocbc-btn-txt-lnk(type='button') Join OCBC NISP