//-------------------------------------------------------------------------------
  @name: Tentang Kami - Presentation Needs - Berita CSR
  @description: Tentang Kami - Presentation Needs - Berita CSR
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='berita-csr')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Dukung Pembangunan Lombok Pasca Gempa, Bank OCBC NISP Bangun Fasilitas Umum',
      description: ' ',
      button: {
        primary: {
          text: 'Baca',
          to: '#'
        },
        outline: {
          text: 'Lihat Lainnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
