//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Index
  @description: Individu - Presentation Needs - Index
  -------------------------------------------------------------------------------//

//- Presentation Needs
//ocbc-presentation-needs
.ocbc-presentation-needs.ocbc-presentation-needs--no-pb
  //ocbc-presentation-needs__close
  ='\n'
  button(type='button').ocbc-presentation-needs__close.js-close-presentation-needs
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  //ocbc-presentation-needs__wrapper
  .ocbc-presentation-needs__wrapper
    //- Kinerja OCBC
    include kinerja-ocbc.pug

    //- Pengumuman Penting
    include pengumuman-penting.pug

    //- Pengumuman RUPS
    include rups.pug

    //- Berita CSR
    include berita-csr.pug

    //- Kegiatan OCBC
    include kegiatan-ocbc.pug
