//-------------------------------------------------------------------------------
  @name: Tentang Kami - Presentation Needs - Kegiatan OCBC
  @description: Tentang Kami - Presentation Needs - Kegiatan OCBC
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='kegiatan-ocbc')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Bank OCBC NISP siap memberikan Fasilitas Channeling untuk AwanTunai',
      description: ' ',
      button: {
        primary: {
          text: 'Baca',
          to: '#'
        },
        outline: {
          text: 'Lihat Lainnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
