//-------------------------------------------------------------------------------
  @name: Tentang Kami - Presentation Needs - Kinerja OCBC
  @description: Tentang Kami - Presentation Needs - Kinerja OCBC
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='kinerja-ocbc')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Laporan Keuangan Bulanan Januari 2020',
      description: 'Lihat informasi laporan keuangan OCBC NISP tahun 2020',
      button: {
        primary: {
          text: 'Baca',
          to: '#'
        },
        outline: {
          text: 'Laporan Lainnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
