//-------------------------------------------------------------------------------
  @name: Tentang Kami - Presentation Needs - Pengumuman Penting
  @description: Tentang Kami - Presentation Needs - Pengumuman Penting
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='pengumuman-penting')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Perubahan Ketentuan Penukaran Mileage di www.pakaipoin.com',
      description: ' ',
      button: {
        primary: {
          text: 'Baca',
          to: '#'
        },
        outline: {
          text: 'Berita Lainnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
