//-------------------------------------------------------------------------------
  @name: Tentang Kami - Presentation Needs - RUPS
  @description: Tentang Kami - Presentation Needs - RUPS
  -------------------------------------------------------------------------------//

.ocbc-presentation-needs__pane(data-presentation='rups')

  //- section-banner
  -
    data = {
      light: true,
      noBorderBottom: true,
      title: 'Ringkasan Risalah RUPS Tahunan 2 April 2020',
      description: 'Cek untuk informasi lengkap hasil Rapat Umum Pemegang Saham Tahunan OCBC NISP tahun 2020',
      button: {
        primary: {
          text: 'Baca',
          to: '#'
        },
        outline: {
          text: 'Lihat Lainnya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug
