//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Partner - Kartu Kredit
  @description: Tentang Kami - Informasi - Tab - Partner - Kartu Kredit
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Daftar Partner OCBC NISP untuk Kartu Kredit',
    list: [
      {
        logo: 'partner2.png',
        name: 'CekAja.com'
      }
    ]
  }

include ../../../../layout/card-partner.pug
