//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Partner - Kredit Kepemilikan Rumah
  @description: Tentang Kami - Informasi - Tab - Partner - Kredit Kepemilikan Rumah
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Daftar Partner OCBC NISP untuk Kredit Kepemilikan Rumah',
    list: [
      {
        logo: 'partner3.png',
        name: 'Loan Market'
      },
      {
        logo: 'partner5.png',
        name: 'UrbanAce'
      },
      {
        logo: 'partner4.png',
        name: 'KPR.Online'
      },
      {
        logo: 'partner2.png',
        name: 'CekAja.com'
      }
    ]
  }

include ../../../../layout/card-partner.pug
