//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Partner - ON Cash Loan
  @description: Tentang Kami - Informasi - Tab - Partner - ON Cash Loan
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Daftar Partner OCBC NISP untuk ON Cash Loan',
    list: [
      {
        logo: 'partner2.png',
        name: 'CekAja.com'
      },
      {
        logo: 'partner1.png',
        name: 'Cermati'
      }
    ]
  }

include ../../../../layout/card-partner.pug
