//-------------------------------------------------------------------------------
  @name: Individu - Presentation Needs - Index
  @description: Individu - Presentation Needs - Index
  -------------------------------------------------------------------------------//

//- Presentation Needs
//ocbc-presentation-needs
.ocbc-presentation-needs
  //ocbc-presentation-needs__close
  ='\n'
  button(type='button').ocbc-presentation-needs__close.js-close-presentation-needs
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  //ocbc-presentation-needs__wrapper
  .ocbc-presentation-needs__wrapper
    //- Rumah Idaman
    include rumah-idaman.pug
    //- Kewajiban Zakat
    include kewajiban-zakat.pug
    //- Naik Haji
    include naik-haji.pug
    //- Mengatur Syariah
    include mengatur-syariah.pug
    //- Berinvestasi Syariah
    include berinvestasi-syariah.pug
