//-------------------------------------------------------------------------------
  @name: Syariah - Presentation Needs - Mengatur Syariah
  @description: Syariah - Presentation Needs - Mengatur Syariah
  -------------------------------------------------------------------------------//

//mengatur-syariah
.ocbc-presentation-needs__pane(data-presentation='mengatur-syariah')

  //- section-banner
  -
    data = {
      title: 'Title of Needs Journey',
      description: 'Buka TAKA Bunga Pasti untuk kepastian target dana dengan suku bunga hingga 5.25%',
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      button: {
        link: {
          text: 'Selengkapnya',
          to: '#'
        },
        primary: {
          text: 'Buka Tabungan',
          to: '#'
        },
        outline: {
          text: 'Lihat Biaya',
          to: '#'
        }
      }
    }
  include ../../../components/section-banner.pug

  //- card suggestion
  -
    data = {
      title: 'Produk lainnya untuk setiap rencana yang siap diwujudkan',
      button: {
        to: '#',
        text: 'Lihat Suku Bunga & Biaya Lainnya'
      },
      card: [
        {
          icon: 'btn-widget-default.svg',
          title: 'Tabungan Haji iB',
          description: 'Tabungan yang bebas dari biaya transaksi & admin',
          button: 'Buka Tabungan',
          to: '#'
        },
        {
          icon: 'card-suggestion-2.svg',
          title: 'Deposito iB',
          description: 'Nikmati cicilan 0% 3 bulan untuk semua transaksi tanpa minimum ',
          button: 'Ajukan',
          to: '#'
        },
        {
          icon: 'card-suggestion-3.svg',
          title: 'Taka iB',
          description: 'Bebas kendalikan bunga KPR berdasarkan 80% dari saldo tabungan',
          button: 'Ajukan',
          to: '#'
        }
      ]
    };
  include ../../../layout/card-suggestion.pug

  //- card-upselling
  -
    data = {
      title: 'Dapatkan Suku Bunga dan Layanan Spesial',
      description: 'Simpan dana Rp500 Juta ke atas dan nikmati fasilitas pengelolaan keuangan',
      button: 'Upgrade ke Premier Banking',
      image: {
        desktop: 'perbankan-eksklusif-d.jpg',
        mobile: 'perbankan-eksklusif-m.jpg'
      },
      to: '#'
    }
  include ../../../layout/card-upselling.pug

  //- article
  -
    data = {
      title: 'Cerita untuk Inspirasi',
      card: [
        {
          image: 'placeholder.jpg',
          label: 'Suku Bunga',
          title: 'Suku Bunga Turun, Investasi Properti Meningkat',
          button: {
            text: 'Baca',
            to: '#'
          }
        },
        {
          image: 'placeholder.jpg',
          label: 'Suku Bunga',
          title: 'Tren Paylater, kenali hitungan bunganya',
          button: {
            text: 'Baca',
            to: '#'
          }
        }
      ]
    }
  include ../../../layout/card-article.pug
