//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - FX Today & Non Today - Achievement Banner
  @description: Individu - Wealth Management - Treasury - FX Today & Non Today - Achievement Banner
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Market Update',
    description: 'Kumpulan penghargaan atas prestasi OCBC NISP dalam menjaga kualitas dan kepercayaan Anda di dunia Perbankan',
    image: {
      desktop: 'treasury-fx-d.jpg',
      mobile: 'treasury-fx-m.jpg'
    },
    button: {
      text: 'Lihat Market Update',
      to: '#'
    }
  }

include ../../components/achievement-banner.pug
