//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - FX Today & Non Today - Breadcrumbs
  @description: Individu - Wealth Management - Treasury - FX Today & Non Today - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'individu.html',
      text: 'Individu'
    },
    {
      to: 'individu-wealth-management.html',
      text: 'Wealth Management'
    },
    {
      to: 'individu-wealth-management-treasury.html',
      text: 'Treasury'
    },
    {
      to: 'individu-wealth-management-treasury-fx-today-non-today.html',
      text: 'FX Today & Non Today'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode;

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
