//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - FX Today & Non Today - Card USP
  @description: Individu - Wealth Management - Treasury - FX Today & Non Today - Card USP
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Transaksi Valas',
      description: 'Memberikan fasilitas untuk melakukan transaksi valas',
      img: 'exchange-value.svg'
    },
    {
      title: 'Mudah',
      description: 'Mudah melakukan transaksi kapanpun dan dimanapun',
      img: 'easy-terms-white.svg'
    },
    {
      title: 'Pilihan Mata Uang',
      description: 'Tersedia dalam berbagai pilihan mata uang',
      img: 'foreign-currency-white.svg'
    }
  ]

//ocbc-card--usp__overlap
.ocbc-card--usp__overlap
  include ../../layout/card-usp.pug
