//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - FX Today & Non Today - Product Detail Fragment
  @description: Individu - Wealth Management - Treasury - FX Today & Non Today - Product Detail Fragment
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Keuntungan Lainnya',
    list: [
      {
        title: 'Transaksi di Seluruh Cabang',
        description: 'Bisa ditransaksikan di seluruh cabang Bank OCBC NISP',
        img: 'cabang.svg'
      },
      {
        title: 'Transaksi Semua Valuta',
        description: 'Transaksi mulai dari valuta Tom hingga valuta Forward 12 bulan',
        img: 'kurs.svg'
      },
      {
        title: 'Jaringan Luas',
        description: 'Akses ribuan ATM di Indonesia, Singapura, dan Malaysia',
        img: 'global-business.svg'
      },
      {
        title: 'Notifikasi Langsung',
        description: 'Notifikasi melalui SMS atau email untuk kemudahan dan keamanan Anda',
        img: 'smartphone.svg'
      }
    ]
  }

//ocbc-prod-detail-fragment__page
.ocbc-prod-detail-fragment__page.ocbc-prod-detail-fragment__page--more-space-b
  include ../../layout/product-detail-fragment.pug
