//-------------------------------------------------------------------------------
  @name: Individu - Wealth Management - Treasury - FX Today & Non Today - Product Banner
  @description: Individu - Wealth Management - Treasury - FX Today & Non Today - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'FX Today & Non Today',
    description: 'Transaksi valas lebih fleksibel dengan kurs kompetitif',
    image: {
      desktop: 'treasury-fx-d.jpg',
      mobile: 'treasury-fx-m.jpg'
    },
    button: {
      primary: {
        text: 'Ajukan',
        to: '#'
      }
    }
  }

include ../../components/product-detail-banner.pug
