//-------------------------------------------------------------------------------
  @name: Tentang Kami - CSR - Breadcrumbs
  @description: Tentang Kami - CSR - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'tentang-kami.html',
      text: 'Tentang Kami'
    },
    {
      to: 'tentang-kami-csr.html',
      text: 'CSR'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
