//-------------------------------------------------------------------------------
  @name: Tentang Kami - CSR - Card Article
  @description: Tentang Kami - CSR - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Program CSR Terkini',
    card: [
      {
        image: 'csr-1.jpg',
        label: 'Berita CSR',
        title: 'Bank OCBC NISP Sebarkan Pesan Pelestarian Lingkungan',
        button: {
          text: 'Baca',
          to: '#'
        }
      },
      {
        image: 'csr-2.jpg',
        label: 'Berita CSR',
        title: 'Bank OCBC NISP Sebarkan Pesan Pelestarian Lingkungan',
        button: {
          text: 'Baca',
          to: '#'
        }
      }
    ],
    more: {
      to: '#',
      text: 'Lihat Semua'
    }
  }

//ocbc-card-article__prod-detail
.ocbc-card-article__prod-detail
  include ../../layout/card-article.pug
