//-------------------------------------------------------------------------------
  @name: Tentang Kami - CSR - CSR Description
  @description: Tentang Kami - CSR - CSR Description
  -------------------------------------------------------------------------------//

-
  data = {
    image: 'main.jpg',
    definition: 'Corporate Social Responsibility (CSR) yang OCBC NISP lakukan merupakan tanggung jawab sosial kami bagi kesejahteraan masyarakat, dengan komitmen untuk selalu tumbuh bersama, memberi makna serta nilai tambah setiap saat.',
    content: [
      {
        highlight: 'spirit.svg',
        title: 'Spirit',
        text: [
          {
            title: '<strong>Bermitra</strong> dengan setiap stakeholder menggunakan prinsip kesetaraan',
            icon: 'fragment-default-gray.svg',
          },
          {
            title: '<strong>Bernilai Tambah</strong> dengan mengutamakan pemberdayaan masyarakat demi terciptanya kemandirian',
            icon: 'fragment-default-gray.svg',
          },
          {
            title: '<strong>Berkesinambungan</strong> memberikan manfaat bagi semua pihak yang terlibat',
            icon: 'fragment-default-gray.svg',
          }
        ]
      },
      {
        highlight: 'focus.svg',
        title: 'Fokus',
        text: [
          {
            title: '<strong>Kebutuhan untuk masyarakat dan/atau lingkungan</strong> sehingga setiap program demi terciptanya kemandirian yang dijalankan dapat memberikan manfaat untuk masyarakat',
            icon: 'fragment-default-gray.svg',
          },
          {
            title: '<strong>Keterlibatan aktif karyawan</strong> agar dapat berkembang bersama masyarakat',
            icon: 'fragment-default-gray.svg',
          }
        ]
      }
    ]
  }

include ../../layout/csr-description.pug
