//-------------------------------------------------------------------------------
  @name: Tentang Kami - CSR - CSR Program
  @description: Tentang Kami - CSR - CSR Program
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Bidang Pendidikan',
      description: 'Program edukasi perbankan dan budaya menabung sejak tahun 2007, seperti “Ayo ke Bank” dan “Bank Goes To School” untuk siswa usia sekolah serta program “One Day Workshop”, kegiatan di mana para mahasiswa dibekali pengetahuan untuk persiapan masuk dalam dunia usaha atau bisnis.<br/><br/>Program beasiswa berkesinambungan juga menjadi perhatian kami. Bekerja sama dengan beberapa mitra, kami menyalurkan beasiswa langsung bagi siswa SMA dan mahasiswa berprestasi yang kurang mampu secara finansial.',
      img: 'bidang-pendidikan.png',
      button: {
        text: 'Lihat Berita',
        to: '#'
      }
    },
    {
      reverse: true,
      title: 'Bidang Sosial',
      description: 'Penyelenggaraan donor darah rutin setiap 3 bulan sejak tahun 2003 di beberapa kantor dan kota sebagai salah satu bentuk kepedulian akan pentingnya kesehatan masyarakat.<br/><br/>Selain itu kami juga berpartisipasi aktif di hari raya keagamaan seperti pembagian sembako gratis, bazaar sembako murah bagi warga kurang mampu. ',
      img: 'bidang-sosial.png',
      button: {
        text: 'Lihat Berita',
        to: '#'
      }
    },
    {
      title: 'Bidang Lingkungan',
      description: 'Agar tercipta lingkungan hidup bersih dan tertata baik bagi masyarakat, program Go Green dilakukan secara berkelanjutan, baik secara internal bersama karyawan maupun aksi nyata bersama masyarakat sekitar.',
      img: 'bidang-lingkungan.png',
      button: {
        text: 'Lihat Berita',
        to: '#'
      }
    }
  ]

include ../../layout/csr-program.pug
