//-------------------------------------------------------------------------------
  @name: Tentang Kami - CSR - Main Banner
  @description: Tentang Kami - CSR - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'CSR',
    description: 'Kami Ada, Kami Peduli, Kami Bertanggung Jawab untuk Masyarakat dan Lingkungan',
    image: {
      desktop: 'tentang-kami-csr-d.jpg',
      mobile: 'tentang-kami-csr-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
