//-------------------------------------------------------------------------------
  @name: Result Share KPM - Contact
  @description: Result Share KPM - Contact
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Ada Pertanyaan lebih Lanjut? Hubungi',
    layout: 3,
    list: [
      {
        title: 'Call Center OCBC NISP',
        description: 'Dalam Negeri Hubungi <a href="telp:1500999" target="_blank">1500-999</a><br/> Luar Negeri Hubungi <a href="telp:+622126506300" target="_blank">+62-21-26506300</a>',
        img: 'phone.svg'
      },
      {
        title: 'Layanan WhatsApp OCBC NISP',
        description: 'Hubungi <a href="telp:+628121500999" target="_blank">+628121500999</a>',
        img: 'phone.svg'
      },
      {
        title: 'Email OCBC NISP',
        description: 'Kirim email ke <br/> <a href="mailto:callcenter@ocbcnisp.com?subject=" target="_blank">callcenter@ocbcnisp.com</a>',
        img: 'fragment-default.svg'
      }
    ]
  }

include ../../layout/product-detail-fragment.pug
