//-------------------------------------------------------------------------------
  @name: Result Share KPM - Table
  @description: Result Share KPM - Table
  -------------------------------------------------------------------------------//

extends ../../layout/table-result-share.pug

block table
  -
    data = {
      title: 'Total Pembayaran Pertama',
      table : [
        {
          description: 'Uang Muka',
          value: 'Rp135,000,000'
        },
        {
          description: 'Angsuran Pertama',
          value: 'Rp14,303,625'
        },
        {
          description: 'Administrasi',
          value: 'Rp750,000'
        },
        {
          description: 'Premi Asuransi All Risk',
          value: 'Rp11,880,000'
        },
        {
          description: 'Biaya Polis Asuransi',
          value: 'Rp30,000'
        },
        {
          description: 'Provisi',
          value: 'Rp4,500,000',
        },
        {
          borderTop: true,
          description: 'Total Pembayaran Pertama',
          value: 'Rp166,463,625'
        }
      ]
    }

  include ../../components/table-result.pug

  -
    data = {
      title: 'Angsuran Per Bulan',
      table : [
        {
          description: 'Pembiayaan',
          value: 'Rp315,000,000'
        },
        {
          description: 'Bunga',
          value: 'Rp28,287,000'
        },
        {
          borderTop: true,
          description: 'Total Hutang',
          value: 'Rp343,287,000'
        },
        {
          description: 'Tenor',
          value: '24 Bulan'
        },
        {
          description: 'Angsuran',
          value: 'Rp20,433,750/bulan'
        }
      ],
      description: [
        'Perhitungan berdasarkan ketentuan dan peraturan Bank. Dimana DP akan berpengaruh pada asset daripada si Calon Debitur'
      ]
    }

  include ../../components/table-result.pug
