// START STEP 3
// ocbc-calc__form__section
.ocbc-calc__form__section(data-step='step-3')
  .ocbc-calc__form__content
    // ocbc-calc__flds
    .ocbc-calc__flds
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          .ocbc-field
            p.ocbc-field__label Dana Saat Ini
            .ocbc-field__input
              input.ocbc-input.ocbc-input--minimalize.js-dana-saat-ini(type='text' name='dana_saat_ini' placeholder='Masukkan Nominal')
    // ocbc-calc__submit
    .ocbc-calc__submit
      .ocbc-calc__submit__col
        button.ocbc-btn-round.js-back-form(type='button' data-back='step-1')
          i.ocbc-fi.ocbc-fi-chevron-left
      .ocbc-calc__submit__col
        button.ocbc-btn.ocbc-btn--primary.js-form-next(type='submit' data-next='step-4' disabled='disabled') Selanjutnya
