// ocbc-calc__form__section
.ocbc-calc__form__section(data-step='step-2')
  // ocbc-calc__form__content
  .ocbc-calc__form__content
    // ocbc-calc__flds
    .ocbc-calc__flds
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          p.ocbc-field__label.ocbc-field__label--mbm Dimana Anda ingin Anak Anda Bersekolah Pada Tahun 2026?
          // ocbc-card-country
          .ocbc-card-country
            // ocbc-card--country
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-country(type='radio' name='country' value='1')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag
                      img.ocbc-card__flag-img(src='img/flag/australia.png' alt='australia.png')
                    p.ocbc-card__country__name Australia
                  .ocbc-card__cost
                    p.ocbc-card__label Dana yang dibutuhkan
                    p.ocbc-card__number Rp1,400,000,000
            // ocbc-card--country
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-country(type='radio' name='country' value='2')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag
                      img.ocbc-card__flag-img(src='img/flag/usa.png' alt='usa.png')
                    p.ocbc-card__country__name Amerika Serikat
                  .ocbc-card__cost
                    p.ocbc-card__label Dana yang dibutuhkan
                    p.ocbc-card__number Rp2,400,000,000
            // ocbc-card--country
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-country(type='radio' name='country' value='3')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag
                      img.ocbc-card__flag-img(src='img/flag/id.png' alt='id.png')
                    p.ocbc-card__country__name Indonesia
                  .ocbc-card__cost
                    p.ocbc-card__label Dana yang dibutuhkan
                    p.ocbc-card__number Rp500,000,000
            // ocbc-card--country
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-country(type='radio' name='country' value='4')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag
                      img.ocbc-card__flag-img(src='img/flag/uk.png' alt='uk.png')
                    p.ocbc-card__country__name Inggris
                  .ocbc-card__cost
                    p.ocbc-card__label Dana yang dibutuhkan
                    p.ocbc-card__number Rp1,200,000,000
            // ocbc-card--country
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-country(type='radio' name='country' value='5')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag
                      img.ocbc-card__flag-img(src='img/flag/singapore.png' alt='singapore.png')
                    p.ocbc-card__country__name Singapore
                  .ocbc-card__cost
                    p.ocbc-card__label Dana yang dibutuhkan
                    p.ocbc-card__number Rp1,000,000,000
    // ocbc-calc__submit
    .ocbc-calc__submit
      .ocbc-calc__submit__col
        button.ocbc-btn-round.js-back-form(type='button' data-back='step-1')
          i.ocbc-fi.ocbc-fi-chevron-left
      .ocbc-calc__submit__col
        button.ocbc-btn.ocbc-btn--primary.js-form-next(type='submit' data-next='step-3' disabled='disabled') Selanjutnya
