// START STEP 4
// ocbc-calc__form__section
.ocbc-calc__form__section(data-step='step-4')
  .ocbc-calc__form__content
    // ocbc-calc__flds
    .ocbc-calc__flds
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-calc__flds
        .ocbc-calc__flds
          p.ocbc-field__label.ocbc-field__label--mbm Apa profil risiko kamu dalam berinvestasi?
          input.ocbc-input.ocbc-input--minimalize.js-pengembalian-tahunan.text-box.single-line(name='CalculatorInput.AnnualReturnRateString' placeholder='Masukkan Return Tahunan' type='text' style='display:none;' value='10')
          // ocbc-card-riskprofile
          .ocbc-card-country
            // ocbc-card--riskprofile
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-riskprofile(type='radio' name='riskp' value='1')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag.riskprofile
                      img.ocbc-card__flag-img(src='img/riskprofile/riskprofile-1.png' alt='riskprofile-1.png')
                    p.ocbc-card__country__name Conservative
                  .ocbc-card__cost
                    p.ocbc-card__label Risiko rendah
            // ocbc-card--riskprofile
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-riskprofile(type='radio' name='riskp' value='2')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag.riskprofile
                      img.ocbc-card__flag-img(src='img/riskprofile/riskprofile-2.png' alt='riskprofile-2.png')
                    p.ocbc-card__country__name Balance
                  .ocbc-card__cost
                    p.ocbc-card__label Risiko rendah-menengah
            // ocbc-card--riskprofile
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-riskprofile(type='radio' name='riskp' value='3')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag.riskprofile
                      img.ocbc-card__flag-img(src='img/riskprofile/riskprofile-3.png' alt='riskprofile-3.png')
                    p.ocbc-card__country__name Growth
                  .ocbc-card__cost
                    p.ocbc-card__label Risiko menengah-tinggi
            // ocbc-card--riskprofile
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-riskprofile(type='radio' name='riskp' value='4')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag.riskprofile
                      img.ocbc-card__flag-img(src='img/riskprofile/riskprofile-4.png' alt='riskprofile-4.png')
                    p.ocbc-card__country__name Aggresive
                  .ocbc-card__cost
                    p.ocbc-card__label Risiko tinggi
            // ocbc-card--riskprofile
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-riskprofile(type='radio' name='riskp' value='5')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag.riskprofile
                      img.ocbc-card__flag-img(src='img/riskprofile/riskprofile-5.png' alt='riskprofile-5.png')
                    p.ocbc-card__country__name Highly Aggresive
                  .ocbc-card__cost
                    p.ocbc-card__label Risiko sangat tinggi
            // ocbc-card--riskprofile
            .ocbc-card.ocbc-card--country
              input.ocbc-card__input.js-input-riskprofile(type='radio' name='riskp' value='0')
              .ocbc-card__box
                .ocbc-card__content
                  .ocbc-card__country
                    .ocbc-card__flag.riskprofile
                      img.ocbc-card__flag-img(src='img/riskprofile/riskprofile-0.png' alt='riskprofile-0.png')
                    p.ocbc-card__country__name Belum tahu
                  .ocbc-card__cost
                    p.ocbc-card__label Cari tahu profil risiko saya
    // ocbc-calc__submit
    .ocbc-calc__submit
      .ocbc-calc__submit__col
        button.ocbc-btn-round.js-back-form(type='button' data-back='step-3')
          i.ocbc-fi.ocbc-fi-chevron-left
      .ocbc-calc__submit__col
        button.ocbc-btn.ocbc-btn--primary.js-form-next(type='submit' data-next='step-5' disabled='disabled') Selanjutnya
