// ocbc-calc__form__section
.ocbc-calc__form__section.ocbc-calc__form__section--active(data-step='step-1')
  .ocbc-calc__form__content
    // ocbc-calc__flds
    .ocbc-calc__flds
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        // ocbc-input-range-slider
        .ocbc-input-range-slider
          .ocbc-input-range-slider__top
            p.ocbc-input-range-slider__label
              span.ocbc-input-range-slider__label__txt Berapa lama waktu yang Anda miliki untuk menyiapkan dana?
          .ocbc-input-range-slider__input
            input.js-persiapan-dana(type='text' name='persiapan_dana' range-type='year' data-from='0' data-min='0' data-max='20' data-postfix=' Tahun')
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item
        .ocbc-field
          p.ocbc-field__label Apakah Anda sudah tahu Jumlah Biaya yang Anda Butuhkan
          .ocbc-field__input-group
            .ocbc-field__input.ocbc-field__input--radio
              input.ocbc-input.ocbc-input--radio.js-apa-sudah-tahu-biaya(type='radio' name='tahu_biaya' value='1')
              label.ocbc-field__input--radio__label Sudah Tahu
            .ocbc-field__input.ocbc-field__input--radio
              input.ocbc-input.ocbc-input--radio.js-apa-sudah-tahu-biaya(type='radio' name='tahu_biaya' value='2')
              label.ocbc-field__input--radio__label Belum
      // ocbc-calc__flds__item
      .ocbc-calc__flds__item.ocbc-calc__flds__item--hide(data-item='sudah-tahu')
        .ocbc-field
          p.ocbc-field__label Biaya Sekolah
          .ocbc-field__input
            input.ocbc-input.ocbc-input--minimalize.js-biaya-sekolah(type='text' name='biaya_sekolah' placeholder='Masukkan Nominal')
    // ocbc-calc__submit
    .ocbc-calc__submit
      button.ocbc-btn.ocbc-btn--primary.js-form-next(type='button' data-next='step-2' disabled='disabled') Selanjutnya
