//-------------------------------------------------------------------------------
  @name: FAQ - Vertical Tab - Table - Biaya Transaksi
  @description: FAQ - Vertical Tab - Table - Biaya Transaksi
  -------------------------------------------------------------------------------//

extends ../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'faq-biaya-transaksi';
    title = '';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Jaringan ATM
    th.ocbc-tbl-striped__th
      | Biaya Tarik Tunai (Rp)
block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Bersama/Prima
    td.ocbc-tbl-striped__td 8.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td OCBC Bank Singapura
    td.ocbc-tbl-striped__td 10.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Bank Card Malaysia
    td.ocbc-tbl-striped__td 15.000