//-------------------------------------------------------------------------------
  @name: Individu - Private - Layananan - Tab - Privileges
  @description: Individu - Private - Layananan - Tab - Privileges
  -------------------------------------------------------------------------------//

//- Tim Private Banking Terpilih
include privileges-tab-content/tim-private-banking-terpilih.pug

//- Informasi Komprehensif
include privileges-tab-content/informasi-komprehensif.pug

//- Kemudahan Transaksi
include privileges-tab-content/kemudahan-transaksi.pug

//- Tarif Biaya Khusus
include privileges-tab-content/tarif-biaya-khusus.pug

//- Text Column
include privileges-tab-content/text-column.pug
