//-------------------------------------------------------------------------------
  @name: Jadi Nasabah - Card needs
  @description: Jadi Nasabah - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
          light: true,
          title: 'Semua dimulai dari sini',
          card: [
            {
              target: 'one-store',
              title: 'Jadi Nasabah via ONe Store',
              image: 'dream-home.svg'
            },
            {
              target: 'one-mobile',
              title: 'Jadi Nasabah via ONe Mobile',
              image: 'smartphone.svg' 
            },
            {
              target: 'kunjungi-cabang',
              title: 'Kunjungi Cabang OCBC NISP',
              image: 'cabang.svg'
            }
          ]
        };
include ../../layout/card-needs.pug
