//-------------------------------------------------------------------------------
  @name: Jadi Nasabah - Main Banner
  @description: Jadi Nasabah - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            image: {
              desktop: 'jadi-nasabah-d.jpg',
              mobile: 'jadi-nasabah-m.jpg'
            },
            title: 'Menabung, Berbisnis dan Berinvestasi',
            description: 'Jadi Nasabah OCBC NISP untuk pengalaman perbankan mudah dan nyaman'
          }
        ];
include ../../layout/main-banner.pug
