//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Graphic - Index
  @description: Hasil Perhitungan Kalkulator KPR - Graphic - Index
  -------------------------------------------------------------------------------//

extends ../../../layout/tabs.pug


//- variation
block variation
  - tabsCalcutator = true

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'solusi-kpr',
          text: 'Solusi dengan KPR'
        },
        {
          target: 'solusi-return',
          text: 'Solusi untuk Optimalkan Return'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='solusi-kpr')
    //ocbc-calc__flds
    .ocbc-calc__flds.ocbc-calc__flds--box
      //ocbc-calc__flds__item
      .ocbc-calc__flds__item
        -
          data = {
            class: 'js-tenor-pinjaman',
            name: 'tenor_pinjaman',
            label: 'Tenor Pinjaman <span class="ocbc-input-range-slider__label__desc">(Ganti Tenor Pinjaman sesuai kemauan Anda)</span>',
            rangeType: 'year',
            min: '05',
            max: '25',
            from: '5',
            postfix: ' Tahun'
          };
        include ../../../components/input-range-slider.pug
    include solusi-kpr.pug

  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='solusi-return')
    -
      data = {
        rachel: true,
        title: 'Pilih Profil Risiko Anda (Anda bisa ganti sesuai dengan Profil Risiko Anda)',
        list: [
          {
            value: 1,
            isChecked: true,
            text: 'Conservative'
          },
          {
            value: 2,
            isChecked: false,
            text: 'Balance'
          },
          {
            value: 3,
            isChecked: false,
            text: 'Growth'
          },
          {
            value: 4,
            isChecked: false,
            text: 'Aggresive'
          }
        ]
      };

    include ../../../components/card-risk-profile.pug

    include solusi-return.pug
