//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Solusi Return
  @description: Hasil Perhitungan Kalkulator KPR - Solusi Return
  -------------------------------------------------------------------------------//

extends ../../../layout/calculator-graphic.pug

block title
  -
    calcChart = 'kpr-solusi-return';

block chart
//-
  -
    data = [
      {
        hasDot: true,
        title: 'Dana Saat Ini',
        amount: 'Rp100,000,000',
        color: '#329989',
        type: 'bar',
        target: 0
      },
      {
        title: 'Simpanan per Bulan (Selama 10 Tahun)',
        amount: 'Rp3,000,000 ',
        label: 'Pengembalian 5%',
        type: 'area',
        target: 0
      },
      {
        hasDot: true,
        title: 'Dana yang terkumpul (DP)',
        amount: 'Rp615,693,594',
        color: '#d6ad14',
        type: 'bar',
        target: 1
      },
      {
        hasDot: true,
        title: 'Target Harga Rumah',
        amount: 'Rp3,078,697,970',
        color: '#d16701',
        type: 'bar',
        target: 3
      },
      {
        hasDot: true,
        title: 'Dengan Conservative Dana yang bisa terkumpul',
        amount: 'Rp3,078,697,970',
        color: '#c41432',
        type: 'bar',
        target: 2
      }
    ];
  include ../../../layout/card-legend.pug

  //ocbc-graphic-bar
  .ocbc-graphic-bar
    //ocbc-graphic-bar__box
    .ocbc-graphic-bar__box
      //ocbc-graphic-bar__visual
      .ocbc-graphic-bar__visual
        .ocbc-graphic-bar__visual__area-wrapper
          .ocbc-graphic-bar__visual__area(style="border-bottom-width: 24px;border-top-width:62px;border-right-width: 736px;")
            .ocbc-graphic-bar__tooltip(style="bottom: 8px;left: 368px;")
              p.ocbc-graphic-bar__title
                | Simpanan per Bulan (Selama 10 Tahun)
              p.ocbc-graphic-bar__amount
                | Rp3,000,000
              p.ocbc-graphic-bar__label
                | Pengembalian 5%

        .ocbc-graphic-bar__visual__bar-wrapper
          .ocbc-graphic-bar__visual__bar(style="height: 24px;left:0;background-color: #329989;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dana Saat Ini
              p.ocbc-graphic-bar__amount
                | Rp100,000,000

          .ocbc-graphic-bar__visual__bar.ocbc-graphic-bar__visual__bar--left-tooltip(style="height: 86px;right:128px;background-color: #d6ad14;")
            .ocbc-graphic-bar__percentage
              p.ocbc-graphic-bar__percentage__txt 5%
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dana yang terkumpul (DP)
              p.ocbc-graphic-bar__amount
                | Rp615,693,594

          .ocbc-graphic-bar__visual__bar.ocbc-graphic-bar__visual__bar--left-tooltip(style="height: 116px;right:64px;background-color: #c41432;")
            .ocbc-graphic-bar__percentage
              p.ocbc-graphic-bar__percentage__txt 7.18%
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dengan Conservative Dana yang bisa terkumpul
              p.ocbc-graphic-bar__amount
                | Rp3,078,697,970

          .ocbc-graphic-bar__visual__bar.ocbc-graphic-bar__visual__bar--left-tooltip(style="height: 100%;right:0;background-color: #d16701;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Target Harga Rumah
              p.ocbc-graphic-bar__amount
                | Rp3,078,697,970

    //ocbc-graphic-bar__range
    .ocbc-graphic-bar__range
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 0
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item(style="right:0;")
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 10

block description
  -
    data = [
      'Per orang: (Termasuk US$3juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk  dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari.'
    ];
