//-------------------------------------------------------------------------------
  @name: Product Detail - Tab Content - 
  @description: Product Detail - Tab Content -
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Syarat mengikuti Amnesti Pajak
p Wajib Pajak harus memiliki NPWP
ul
  li
    | Bagi yang memiliki NPWP sejak tahun 2015 dan sebelumnya, harus sudah melaporkan SPT 2015
  li
    | Sanksi atas telat lapor ditiadakan
  li
    | Harta dan Hutang yang belum dilaporkan di SPT 2015 akan dihitung dan dikenakan tarif tebusan
  li
    | Harta dan Hutang yang belum dilaporkan di SPT 2015 akan dihitung dan dikenakan tarif tebusan
p Bagi yang belum memiliki NPWP
ul
  li 
    | Daftar NPWP di tahun 2016 sebelum mengikuti Amnesti Pajak
  li
    | Seluruh harta dan hutang yang dimiliki akan dihitung dan dikenakan tarif tebusan
