//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Deposito Berjangka
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Deposito Berjangka
  -------------------------------------------------------------------------------//

include table/berjangka.pug
