//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Deposito Devisa Hasil Ekspor
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Deposito Devisa Hasil Ekspor
  -------------------------------------------------------------------------------//

include table/devisa.pug
