//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Multicurrency
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Multicurrency
  -------------------------------------------------------------------------------//

include table/multicurrency.pug
