//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Business Smart
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Business Smart
  -------------------------------------------------------------------------------//

include table/smart.pug
