//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Giro Umum
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Giro Umum
  -------------------------------------------------------------------------------//

include table/umum.pug
