//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Deposito iB USD
  @description: Bunga & Biaya Syariah - Vertical Tab - Deposito iB USD
  -------------------------------------------------------------------------------//


include table/deposito-ib-usd.pug
