//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Deposito iB
  @description: Bunga & Biaya Syariah - Vertical Tab - Deposito iB
  -------------------------------------------------------------------------------//


include table/deposito-ib.pug
