//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Taka iB
  @description: Bunga & Biaya Syariah - Vertical Tab - Taka iB
  -------------------------------------------------------------------------------//


include table/taka-ib.pug
