//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Taka iB Insurance
  @description: Bunga & Biaya Syariah - Vertical Tab - Taka iB Insurance
  -------------------------------------------------------------------------------//


include table/taka-ib-insurance.pug
