//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Syariah - Tab
  @description: Bunga & Biaya - Bunga & Biaya Syariah - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'simpanan',
          text: 'Simpanan'
        },
        {
          target: 'simpanan-berjangka',
          text: 'Simpanan Berjangka'
        },
        {
          target: 'pembiayaan',
          text: 'Pembiayaan'
        },
        {
          target: 'jasa-layanan',
          text: 'Jasa & Layanan'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='simpanan')
    include tab-content/simpanan.pug
  .ocbc-tabs__pane(data-pane='simpanan-berjangka')
    include tab-content/simpanan-berjangka.pug
  .ocbc-tabs__pane(data-pane='pembiayaan')
    include tab-content/pembiayaan.pug
  .ocbc-tabs__pane(data-pane='jasa-layanan')
    include tab-content/jasa-layanan.pug
