//-------------------------------------------------------------------------------
  @name: Hasil Perhitungan Kalkulator KPR - Graphic - Solusi KPR
  @description: Hasil Perhitungan Kalkulator KPR - Graphic - Solusi KPR
  -------------------------------------------------------------------------------//

extends ../../../layout/calculator-graphic.pug

block title
  -
    calcChart = 'kpr-solusi-return';

block chart
//-
  -
    data = [
      {
        hasDot: true,
        title: 'Dana Saat Ini',
        amount: 'Rp100,000,000',
        color: '#329989',
        type: 'bar',
        target: 0
      },
      {
        title: 'Simpanan per Bulan (Selama 10 Tahun)',
        amount: 'Rp3,000,000 ',
        label: 'Pengembalian 5%',
        type: 'area',
        target: 0
      },
      {
        hasDot: true,
        title: 'Dana yang terkumpul (DP)',
        amount: 'Rp615,693,594',
        color: '#d6ad14',
        type: 'bar',
        target: 1
      },
      {
        hasDot: true,
        title: 'Target Harga Rumah',
        amount: 'Rp3,078,697,970',
        color: '#d16701',
        type: 'bar',
        target: 2
      },
      {
        title: 'Pembayaran KPR per Bulan (Selama <strong>5 Tahun</strong>)',
        amount: 'Rp62,052,555',
        type: 'area',
        target: 1
      }
    ];
  include ../../../layout/card-legend.pug

  //ocbc-graphic-bar
  .ocbc-graphic-bar
    //ocbc-graphic-bar__box
    .ocbc-graphic-bar__box
      //ocbc-graphic-bar__visual
      .ocbc-graphic-bar__visual
        .ocbc-graphic-bar__visual__area-wrapper
          .ocbc-graphic-bar__visual__area(style="border-bottom-width: 24px;border-top-width:72px;border-right-width: 432px;")
            .ocbc-graphic-bar__tooltip(style="bottom: 12px;left: 216px;")
              p.ocbc-graphic-bar__title
                | Simpanan per Bulan (Selama 10 Tahun)
              p.ocbc-graphic-bar__amount
                | Rp3,000,000
              p.ocbc-graphic-bar__label
                | Pengembalian 5%
          .ocbc-graphic-bar__visual__area(style="left:456px;border-bottom-width: 96px;border-top-width: 144px;border-right-width: 432px;")
              .ocbc-graphic-bar__tooltip(style="bottom: 48px;left: 216px;")
                p.ocbc-graphic-bar__title
                  | Pembayaran KPR per Bulan (Selama <strong>5 Tahun</strong>)
                p.ocbc-graphic-bar__amount
                  | Rp62,052,555

        .ocbc-graphic-bar__visual__bar-wrapper
          .ocbc-graphic-bar__visual__bar(style="height: 24px;left:0;background-color: #329989;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dana Saat Ini
              p.ocbc-graphic-bar__amount
                | Rp100,000,000

          .ocbc-graphic-bar__visual__bar(style="height: 96px;left:432px;background-color: #d6ad14;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Dana yang terkumpul (DP)
              p.ocbc-graphic-bar__amount
                | Rp615,693,594

          .ocbc-graphic-bar__visual__bar.ocbc-graphic-bar__visual__bar--left-tooltip(style="height: 100%;right:0;background-color: #d16701;")
            .ocbc-graphic-bar__tooltip
              p.ocbc-graphic-bar__title
                | Target Harga Rumah
              p.ocbc-graphic-bar__amount
                | Rp3,078,697,970

    //ocbc-graphic-bar__range
    .ocbc-graphic-bar__range
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 0
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item(style="left:420px;")
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 10
      //ocbc-graphic-bar__range__item
      .ocbc-graphic-bar__range__item(style="right:0;")
        p.ocbc-graphic-bar__range__txt
          | Tahun ke
        h4.ocbc-graphic-bar__range__number
          | 15

block description
  -
    data = [
      'Per orang: (Termasuk US$3juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk  dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari.'
    ];
