//-------------------------------------------------------------------------------
  @name: Korporasi - Layanan - Breadcrumbs
  @description: Korporasi - Layanan - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'korporasi.html',
      text: 'Korporasi'
    },
    {
      to: '#',
      text: 'Layanan'
    }
  ],
  mode = "ocbc-breadcrumbs--"+bannerMode

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
