//-------------------------------------------------------------------------------
  @name: Korporasi - Layanan - Main Banner
  @description: Korporasi - Layanan - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Layanan',
    description: 'Kelola bisnis domestik dan internasional jadi lebih mudah',
    image: {
      desktop: 'binis-sme-landing-d.jpg',
      mobile: 'binis-sme-landing-m.jpg'
    }
  }

//ocbc-prod-detail-banner--sme-landing
.ocbc-prod-detail-banner--sme-landing
  include ../../components/product-detail-banner.pug
