//-------------------------------------------------------------------------------
  @name: Korporasi - Layanan - Tab
  @description: Korporasi - Layanan - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'cash-management',
          text: 'Cash Management'
        },
        {
          target: 'trade-finance',
          text: 'Trade Finance'
        },
        {
          target: 'supply-chain',
          text: 'Supply Chain'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='cash-management')
    include tab-content/cash-management.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='trade-finance')
    include tab-content/trade-finance.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='supply-chain')
    include tab-content/supply-chain.pug
