//-------------------------------------------------------------------------------
  @name: Layout - Achievement
  @description: Layout - Achievement
  -------------------------------------------------------------------------------//

//- ocbc-achievement
.ocbc-achievement
  .ocbc-container
    .ocbc-row
      //ocbc-achievement__filter
      .ocbc-col-xl-4.ocbc-col-sm-12.ocbc-achievement__filter
          block filter
          |!{''}
          |
      //ocbc-achievement__list
      .ocbc-col-xl-8.ocbc-col-sm-12.ocbc-achievement__list
        // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-achievement__container di hide dengan fungsi jQuery $('.ocbc-achievement__container').hide(timing) atau $('.ocbc-achievement__container').fadeOut(timing) atau fungsi hide lainnya
        .ocbc-achievement__container
          //ocbc-achievement__wrapper
          .ocbc-achievement__wrapper
            block list
            |!{''}
            |
          -
            data = {
              prevTo: '#',
              nextTo: '#',
              list: [
                {
                  to: '#',
                  text: '1'
                },
                {
                  to: '#',
                  text: '2'
                },
                {
                  to: '#',
                  text: '3'
                },
                {
                  to: '#',
                  text: '4'
                }
              ]
            }
          include ../components/pagination.pug
        -
          data = {
            icon: 'no-result.svg',
            text: 'Halaman yang Anda Cari Tidak Tersedia'
          }
        include ../components/no-result.pug
|!{''}
|
