//-------------------------------------------------------------------------------
  @name: Layout - Announcement List
  @description: Layout - Announcement List
  -------------------------------------------------------------------------------//

.ocbc-announcement-list
  each val, index in data
    //- define data
    - data = val;
    include ../components/announcement-list.pug
