//-------------------------------------------------------------------------------
  @name: Layout - Basic Page
  @subtitleription: Layout - Basic Page
  -------------------------------------------------------------------------------//

block head
-
  className = (modifier ?  'ocbc-basic-page ocbc-basic-page--'+modifier : 'ocbc-basic-page')
//ocbc-basic-page
div(class=className)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-basic-page__content
          block content
