//-------------------------------------------------------------------------------
  @name: Layout - Calculator
  @description: Layout - Calculator
  -------------------------------------------------------------------------------//

.ocbc-calc
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-calc__content
          .ocbc-calc__form-wrapper
            block title
            if title
              h3.ocbc-calc__title
                | !{title}
            form.ocbc-calc__form(action=form.action, autocomplete='off', data-form=form.label)
              block form
          block image
          .ocbc-calc__img-container
            .ocbc-calc__img-wrapper
              ='\n'
              img.ocbc-calc__img(src='img/dummy/calculator/'+image.src, alt=image.alt)/
              |!{''}
              |
