//-------------------------------------------------------------------------------
  @name: Layout - Calculator Share
  @description: Layout - Calculator Share
  -------------------------------------------------------------------------------//

.ocbc-share-result.js-share-result#shareResult
  //ocbc-calc-share__bg
  .ocbc-share-result__bg
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-share-result__bg__content
            .ocbc-share-result__bg__img-wrapper
              ='\n'
              img.ocbc-share-result__bg__img(src='img/bg/ocbc-circle-gray.svg', alt="OCBC Logo Circle")/
              |!{''}
              |
  //ocbc-calc-share__content
  .ocbc-share-result__content
    block head
    //ocbc-calc-share__head
    .ocbc-share-result__head
      .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            .ocbc-share-result__logo
              //isi dengan domain yaa
              ='\n'
              a(href='#').ocbc-lnk
                ='\n'
                img.ocbc-share-result__logo__img(src='img/logo/ocbc-red.svg', alt='OCBC NISP Logo')/
                |!{''}
                |
              |!{''}
              |
            .ocbc-share-result__desc
              h3.ocbc-share-result__desc__title
                | !{head.title}
              h4.ocbc-share-result__desc__note
                | !{head.note}
            .ocbc-share-result__calc
              h4.ocbc-share-result__calc__title
                | !{calc.title}
              if calc.note
                ='\n'
                // ini untuk hasil perhitungan KPR jika memiliki profil risiko (Solusi Untuk Optimalkan Return)
                h4.ocbc-share-result__calc__note
                  | !{calc.note}
                ='\n'
                // /ini untuk hasil perhitungan KPR jika memiliki profil risiko (Solusi Untuk Optimalkan Return)
              h4.ocbc-share-result__calc__date
                | !{calc.date}

    ='\n\n'
    //ocbc-calc-share__body
    .ocbc-share-result__body
      block body
