//-------------------------------------------------------------------------------
  @name: Layout - Calculator Graphic
  @description: Layout - Calculator Graphic
  -------------------------------------------------------------------------------//

//ocbc-calc-graphic
block title
.ocbc-calc-graphic
  //ocbc-calc-graphic__chart (draw from JS)
  .ocbc-calc-graphic__chart.js-calc-graphic-chart(data-chart=calcChart)
    block chart
  block description
  if data
    //ocbc-calc-graphic__desc
    .ocbc-calc-graphic__desc
      each val in data
        p.ocbc-calc-graphic__desc__txt
          | !{val}

