//-------------------------------------------------------------------------------
  @name: Components - Calculator Result
  @description: Components - Calculator Result
  -------------------------------------------------------------------------------//

//ocbc-calc-result
.ocbc-calc-result
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-calc-result__content
          .ocbc-calc-result__form-wrapper
            block title
            form.ocbc-calc-result__form(action='#', autocomplete='off', data-form=label)
              .ocbc-calc-result__flds-wrapper
                .ocbc-calc-result__flds(class=(fields ? 'ocbc-calc-result__flds--'+fields : ''))
                  block form
              .ocbc-calc-result__submit
                p.ocbc-calc-result__label
                  | Hitung Ulang
                .ocbc-calc-result__submit__btn
                  ='\n'
                  button(type='button', disabled='disabled').ocbc-btn-txt-lnk.js-form-submit-calc-result
                    | Hitung Ulang
                  |!{''}
                  |
                |!{''}
                |
                button(type='button').ocbc-calc-result__btn-arrow.js-calc-result-accordion
                  ='\n'
                  i.ocbc-fi.ocbc-fi-chevron-down
                  |!{''}
                  |
