//-------------------------------------------------------------------------------
  @name: Layout - Card Nyala
  @description: Layout - Card Nyala
  -------------------------------------------------------------------------------//

//ocbc-card-nyala
.ocbc-card-nyala
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-card-nyala__title
        h4.ocbc-card-nyala__title
          | !{data.title}
        //ocbc-card-nyala__list
        .ocbc-row.ocbc-card-nyala__list
          each val in data.card
            .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-nyala__item
              //- define data
              - data = val;
              include ../components/card-nyala.pug
