//-------------------------------------------------------------------------------
  @name: Layout - Card Achievement
  @description: Layout - Card Achievement
  -------------------------------------------------------------------------------//

//ocbc-card-achievement
.ocbc-card-achievement
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-half-offset-container
          .ocbc-card-achievement__content
            //ocbc-card-achievement__title
            h4.ocbc-card-achievement__title
              | !{data.title}
            //ocbc-card-achievement__list
            .ocbc-card-achievement__list.owl-carousel.js-card-achievement-list
              //- define data
              - data = data.card;
              include ../components/card-achievement.pug
