//-------------------------------------------------------------------------------
  @name: Layout - Card Article Program
  @description: Layout - Card Article Program
  -------------------------------------------------------------------------------//

//ocbc-card-article-program
.ocbc-card-article-program(class=data.modifier ? 'ocbc-card-article-program--' + data.modifier : '')
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        h4.ocbc-card-article-program__title
          | !{data.title}
        .ocbc-row.ocbc-card-article-program__list
          each val in data.card
            .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-article-program__item
              - data = val;
              include ../components/card-article-program.pug
