//-------------------------------------------------------------------------------
  @name: Layout - Card Needs
  @description: Layout - Card Needs
  -------------------------------------------------------------------------------//

//ocbc-card-needs
-
  className = (data.light ? 'ocbc-card-needs__light' : '')
.ocbc-card-needs
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-half-offset-container
          .ocbc-card-needs__content
            //ocbc-card-needs__title
            h4.ocbc-card-needs__title(class=className)
              | !{data.title}
            //ocbc-card-needs__list
            .ocbc-card-needs__list.owl-carousel.js-card-needs-list
              //- define data
              - data = data.card;
              include ../components/card-needs.pug
