//-------------------------------------------------------------------------------
  @name: Layout - Card Icon Title
  @description: Layout - Card Icon Title
  -------------------------------------------------------------------------------//

//ocbc-card-icon-title
.ocbc-card-icon-title
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-card-icon-title__list
          .ocbc-row
            each val in data.card
              .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-icon-title__item
                - data = val;
                include ../components/card-icon-title.pug
