//-------------------------------------------------------------------------------
  @name: Layout - Card Upselling
  @description: Layout - Card Upselling
  -------------------------------------------------------------------------------//

//ocbc-card-upselling
.ocbc-card-upselling(class=(modifier ? 'ocbc-card-upselling--'+modifier : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        - data = data;
        include ../components/card-upselling.pug
