//-------------------------------------------------------------------------------
  @name: Layout - Card Promo
  @description: Layout - Card Promo
  -------------------------------------------------------------------------------//

//ocbc-card-promo
.ocbc-card-promo
  .ocbc-container
    .ocbc-row
      //ocbc-promo__filter
      .ocbc-col-xl-4.ocbc-col-sm-12.ocbc-card-promo__filter
          block filter
          |!{''}
          |
      //ocbc-promo__list
      .ocbc-col-xl-8.ocbc-col-sm-12.ocbc-card-promo__list
        //ocbc-card-promo__sort
        .ocbc-card-promo__sort
          include ../components/sort-fragment.pug
        ='\n'
        // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-promo__container di hide dengan fungsi jQuery $('.ocbc-card-promo__container').hide(timing) atau $('.ocbc-card-promo__container').fadeOut(timing) atau fungsi hide lainnya
        .ocbc-card-promo__container
          //ocbc-promo__wrapper
          .ocbc-card-promo__wrapper
            block list
            |!{''}
            |
          -
            data = {
              prevTo: '#',
              nextTo: '#',
              list: [
                {
                  to: '#',
                  text: '1'
                },
                {
                  to: '#',
                  text: '2'
                },
                {
                  to: '#',
                  text: '3'
                },
                {
                  to: '#',
                  text: '3dot'
                },
                {
                  to: '#',
                  text: '25'
                }
              ]
            }
          include ../components/pagination.pug
        -
          data = {
            icon: 'no-result.svg',
            text: 'Halaman yang Anda Cari Tidak Tersedia'
          }
        include ../components/no-result.pug
