//-------------------------------------------------------------------------------
  @name: Layout - Card Report
  @description: Layout - Card Report
  -------------------------------------------------------------------------------//

//ocbc-card-report
.ocbc-card-report
  h4.ocbc-card-report__title
    | !{data.title}
  .ocbc-row.ocbc-card-report__list
    each val in data.list
      .ocbc-col-xl-6.ocbc-col-lg-4.ocbc-col-md-6.ocbc-col-sm-12.ocbc-card-report__item
        //- define data
        - data = val;
        include ../components/card-report.pug
