//-------------------------------------------------------------------------------
  @name: Layout - Auction Infos
  @description: Layout - Auction Infos
  -------------------------------------------------------------------------------//

//ocbc-card-auction-info
.ocbc-card-auction-info
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        if data.title
          h4.ocbc-card-auction-info__title
            | !{data.title}
        .ocbc-row.ocbc-card-auction-info__list
          each val in data.card
            .ocbc-col-xl-4.ocbc-col-md-6.ocbc-col-sm-12.ocbc-card-auction-info__item
              //- define data
              - data = val;
              include ../components/auction-info.pug
        -
          data = {
            prevTo: '#',
            nextTo: '#',
            list: [
              {
                text: '1',
                to: '#'
              },
              {
                text: '2',
                to: '#'
              },
              {
                text: '3',
                to: '#'
              },
              {
                text: '4',
                to: '#'
              }
            ]
          }
        include ../components/pagination.pug

