//-------------------------------------------------------------------------------
  @name: Layout - Card Mutual Funds
  @description: Layout - Card Mutual Funds
  -------------------------------------------------------------------------------//
//ocbc-card-mutual-funds__sort
.ocbc-card-article__sort
  .ocbc-filter-card__wrapper
    .ocbc-select-wrapper.js-select(data-width='full')
      select.ocbc-select__element
        option(selected='selected') Urut berdasarkan
        option(value='1') Return tertinggi-terendah
        option(value='2') Return terendah-tertinggi
        option(value='3') Nama Produk A-Z
        option(value='4') Nama Produk Z-A
//ocbc-card-mutual-funds__wrapper
.ocbc-row.ocbc-card-mutual-funds__wrapper
    each val in data.card
      .ocbc-col-xl-6.ocbc-col-lg-12.ocbc-card-mutual-funds__item
        - data = val;
        include ../components/card-mutual-funds.pug
