//-------------------------------------------------------------------------------
  @name: Layout - Head Product
  @description: Layout - Head Product
  -------------------------------------------------------------------------------//

//ocbc-card-head-product
.ocbc-card-head-product
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-half-offset-container
          .ocbc-card-head-product__content
            //ocbc-card-head-product__title
            h4.ocbc-card-head-product__title
              | !{data.title}

            - className = (data.cardWithNyala ? 'ocbc-card-head-product__list--with-nyala' : '');
            //ocbc-card-head-product__list
            .ocbc-card-head-product__list(class=className).owl-carousel.js-card-head-product-list
              //- define data
              - data = data.card;
              include ../components/card-head-product.pug
