//-------------------------------------------------------------------------------
  @name: Layout - Card Product SME
  @description: Layout - Card Product SME
  -------------------------------------------------------------------------------//

//ocbc-card-product-sme
.ocbc-card-product-sme(class=(data.paddingTop ? 'ocbc-card-product-sme--pt-sec': ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        h4.ocbc-card-product-sme__title
          | !{data.title}
        .ocbc-row.ocbc-card-product-sme__list
          each val in data.card
            .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-product-sme__item
              - data = val;
              include ../components/card-product-sme.pug
