//-------------------------------------------------------------------------------
  @name: Layout - Card Advisor
  @description: Layout - Card Advisor
  -------------------------------------------------------------------------------//

//ocbc-card-advisor
.ocbc-card-advisor
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        h4.ocbc-card-advisor__title
          | !{data.title}
        .ocbc-row.ocbc-card-advisor__list
          each val in data.card
            .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-advisor__item
              - data = val;
              include ../components/card-advisor.pug
