//-------------------------------------------------------------------------------
  @name: Layout - Card USP
  @description: Layout - Card USP
  -------------------------------------------------------------------------------//

//ocbc-card-usp

.ocbc-container
  .ocbc-row.ocbc-card-usp__margin
    .ocbc-col-xl-12
        .ocbc-card-usp__list
          each val in data
            .ocbc-card-usp__item
              //- define data
              - data = val;
              include ../components/card-usp.pug
