//-------------------------------------------------------------------------------
  @name: Layout - Card Chosen Product
  @description: Layout - Card Chosen Product
  -------------------------------------------------------------------------------//

.ocbc-card-chosen-prod
  .ocbc-container
    .ocbc-row.ocbc-card-chosen-prod__wrapper
      .ocbc-col-xl-3.ocbc-col-md-4.ocbc-card-chosen-prod__space
        if data.skeleton
        else
          each val in data
            - data = val;
            include ../components/card-chosen-product.pug
      include ../components/card-chosen-skeleton.pug
    