//-------------------------------------------------------------------------------
  @name: Layout - Card Recommendation
  @description: Layout - Card Recommendation
  -------------------------------------------------------------------------------//

//ocbc-card--rec
.ocbc-container.ocbc-card--rec-container
  .ocbc-row
    .ocbc-col-xl-12
      p.ocbc-card--rec__desc
        | !{data.title}
    .ocbc-col-xl-12.ocbc-card--rec__scrollover.js-card-rec
      - data = data.list;
      include ../components/card-recommendation.pug
