//-------------------------------------------------------------------------------
  @name: Layout - Card Board of Directors
  @description: Layout - Card Board of Directors
  -------------------------------------------------------------------------------//

//ocbc-card-bod-container
.ocbc-card-bod-container
  .ocbc-row
    each val in data
      .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-bod__item
        - data = val;
        if data.detail
          include ../components/card-bod.pug
        else
          include ../components/card-bod-plain.pug
