//-------------------------------------------------------------------------------
  @name: Layout - Card Article Recommendation
  @description: Layout - Card Article Recommendation
  -------------------------------------------------------------------------------//

- isMore = data.more;

//ocbc-card-article
.ocbc-card-article(class=data.modifier ? 'ocbc-card-article--' + data.modifier : '')
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        h4.ocbc-card-article__title
          | !{data.title}
        .ocbc-row.ocbc-card-article__list
          each val in data.card
            .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-article__item
              - data = val;
              include ../components/card-article.pug
        if isMore
          .ocbc-card-article__more
            ='\n'
            a.ocbc-btn-txt-lnk(href=isMore.to)
              | !{isMore.text}
            | !{''}
            |
