//-------------------------------------------------------------------------------
  @name: Layout - Card Product Comparison
  @description: Layout - Card Product Comparison
  -------------------------------------------------------------------------------//

//ocbc-card-product-comparison
.ocbc-card-product-comparison
  .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          h4.ocbc-card-product-comparison__title
            | !{data.title}
          .ocbc-card-product-comparison__scrollover
            .ocbc-card-product-comparison__clearfix
              each val in data.card
                .ocbc-card-product-comparison__item
                  //- define data
                  - data = val;
                  include ../components/card-product-comparison.pug
