//-------------------------------------------------------------------------------
  @name: Layout - Card Legend
  @description: Layout - Card Legend
  -------------------------------------------------------------------------------//

//ocbc-card-legend
.ocbc-card-legend
  each val in data
    - data = val;
    include ../components/card-legend.pug
