//-------------------------------------------------------------------------------
  @name: Layout - Card Suggestion
  @description: Layout - Card Suggestion
  -------------------------------------------------------------------------------//
-
  title = data.title;
  button = data.button;
  innerTabs = data.innerTabs;

//ocbc-card-suggestion
.ocbc-card-suggestion(class=(data.modifier ? 'ocbc-card-suggestion--'+data.modifier : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        if title
          //ocbc-card-suggestion__title
          h4.ocbc-card-suggestion__title
            | !{title}
        //ocbc-card-suggestion__list
        .ocbc-row.ocbc-card-suggestion__list
          if innerTabs
            each val in data.card
              .ocbc-col-xl-4.ocbc-col-md-6.ocbc-col-sm-12.ocbc-card-suggestion__item
                //- define data
                - data = val;
                include ../components/card-suggestion.pug
          else
            each val in data.card
              .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-suggestion__item
                //- define data
                - data = val;
                include ../components/card-suggestion.pug
        if button
          //ocbc-card-suggestion__btn
          .ocbc-card-suggestion__btn
            ='\n'
            a.ocbc-btn-txt-lnk(href=button.to)
              | !{button.text}
            | !{''}
            |
