//-------------------------------------------------------------------------------
  @name: Layout - Card Board
  @description: Layout - Card Board
  -------------------------------------------------------------------------------//

//ocbc-card-bod-section
.ocbc-card-bod-section
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-card-bod-section__content
          if data.title
            h4.ocbc-card-bod-section__title
              | !{data.title}
          .ocbc-row.ocbc-card-bod-section__list
            each val in data.list
              .ocbc-col-xl-4.ocbc-col-md-6.ocbc-col-sm-12.ocbc-card-bod-section__item
                - data = val;
                include ../components/card-bod.pug
