//-------------------------------------------------------------------------------
  @name: Layout - Card Nyala Benefit
  @description: Layout - Card Nyala Benefit
  -------------------------------------------------------------------------------//

//ocbc-card-nyala-benefit
.ocbc-card-nyala-benefit
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-half-offset-container
          .ocbc-card-nyala-benefit__content
            //ocbc-card-nyala-benefit__list
            .ocbc-row.ocbc-card-nyala-benefit__list.js-nyala-benefit
              each val in data.card 
                //- define data
                - data = val;
                include ../components/card-nyala-benefit.pug
