//-------------------------------------------------------------------------------
  @name: Layout - Card Career List
  @description: Layout - Card Career List
  -------------------------------------------------------------------------------//

//ocbc-card-career-list
.ocbc-card-career-list
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        h4.ocbc-card-career-list__title
          | !{data.title}
        .ocbc-card-career-list__list
          .ocbc-row
            each val in data.card
              .ocbc-col-xl-3.ocbc-col-md-6.ocbc-col-sm-3.ocbc-card-career-list__item
                - data = val;
                include ../components/card-career-list.pug
