//-------------------------------------------------------------------------------
  @name: Layout - Card Country
  @description: Layout - Card Country
  -------------------------------------------------------------------------------//

//ocbc-card-country
.ocbc-card-country
  each val in data
    - data = val;
    include ../components/card-country.pug
