//-------------------------------------------------------------------------------
  @name: Layout - Card Partner
  @description: Layout - Card Partner
  -------------------------------------------------------------------------------//

//ocbc-card-partner
.ocbc-card-partner
  h4.ocbc-card-partner__title
    | !{data.title}

  .ocbc-row.ocbc-card-partner__list
    each val in data.list
      - data = val
      //ocbc-card-partner__item
      .ocbc-col-xl-6.ocbc-col-sm-12.ocbc-card-partner__item
        include ../components/card-partner.pug
