//-------------------------------------------------------------------------------
  @name: Layout - Card Product Category Carousel
  @description: Layout - Card Product Category Carousel
  -------------------------------------------------------------------------------//

//.ocbc-card-prod-category-carousel
.ocbc-card-prod-category-carousel
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-half-offset-container
          .ocbc-card-prod-category-carousel__content
            h3.ocbc-card-prod-category-carousel__title
              | !{data.title}
            //.ocbc-card-prod-category-carousel__list
            .ocbc-row.ocbc-card-prod-category-carousel__list.js-product-category-carousel
              each val in data.card
                //- define data
                - data = val;
                include ../components/card-product-category.pug
