//-------------------------------------------------------------------------------
  @name: Layout - Card Product Category
  @description: Layout - Card Product Category
  -------------------------------------------------------------------------------//

-
  className = (data.sectionDetail ? 'ocbc-card-prod-category--detail' : '')
  className = (data.sectionLanding ? 'ocbc-card-prod-category--landing' : className)

//ocbc-card-prod-category
.ocbc-card-prod-category(class=className, data-category=data.category)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        if data.title
          h4.ocbc-card-prod-category__title
            | !{data.title}
        .ocbc-row.ocbc-card-prod-category__list
          each val in data.card
            .ocbc-col-xl-4.ocbc-col-md-6.ocbc-col-sm-12.ocbc-card-prod-category__item
              //- define data
              - data = val;
              include ../components/card-product-category.pug
