//-------------------------------------------------------------------------------
  @name: Layout - Floating Card Apply
  @description: Layout - Floating Card Apply
  -------------------------------------------------------------------------------//

//ocbc-card--ca-wrapper
.ocbc-card--ca-wrapper
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../components/card-apply.pug
        |!{''}
        |
