//-------------------------------------------------------------------------------
  @name: Layout - File Report
  @description: Layout - File Report
  -------------------------------------------------------------------------------//

//ocbc-card-file-report__list
.ocbc-row.ocbc-card-file-report__list
  each val in data
    .ocbc-col-xl-4.ocbc-col-md-6.ocbc-col-sm-12.ocbc-card-file-report__item
      //- define data
      - data = val;
      include ../components/card-file-report.pug
