//-------------------------------------------------------------------------------
  @name: Layout - Card Nyala
  @description: Layout - Card Nyala
  -------------------------------------------------------------------------------//

//ocbc-card-nyala-c
.ocbc-card-nyala-c
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-card-nyala-c__title
        h4.ocbc-card-nyala-c__title
          | !{data.title}
        //ocbc-card-nyala-c__list
        .ocbc-row.ocbc-card-nyala-c__list
          each val in data.card
            .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-nyala-c__item(class=(val.focus ? 'js-focus-nyala-card' : ''))
              //- define data
              - data = val;
              include ../components/card-nyala-comparison.pug
