//-------------------------------------------------------------------------------
  @name: Layout - Card Location
  @description: Layout - Card Location
  -------------------------------------------------------------------------------//

//ocbc-card-location-container
.ocbc-card-location-container(class=(modifier ? 'ocbc-card-location-container--'+modifier : ''))
  .ocbc-row.ocbc-card-location__list
    each val in data
      //ocbc-card-location__item
      .ocbc-col-xl-6.ocbc-col-md-12.ocbc-card-location__item
        - data = val;
        include ../components/card-location.pug
