//-------------------------------------------------------------------------------
  @name: Layout - Card Address
  @description: Layout - Card Address
  -------------------------------------------------------------------------------//

//ocbc-card-address
.ocbc-card-address
  .ocbc-container
    //ocbc-card-address__title
    h4.ocbc-card-address__title
      | !{data.title}
    //ocbc-card-address__container
    .ocbc-row.ocbc-card-address__container
      .ocbc-col-xl-12
        //ocbc-card-address__wrapper
        .ocbc-card-address__wrapper
          each value in data.list
            //ocbc-card-address__list
            .ocbc-card-address__list
              p.ocbc-card-address__list__title
                | !{value.institution}
              each val in value.cards
                //ocbc-card-address__item
                .ocbc-card-address__item
                  - data = val
                  include ../components/card-address.pug
