//-------------------------------------------------------------------------------
  @name: Layout - Card Premier Product
  @description: Layout - Card Premier Product
  -------------------------------------------------------------------------------//

//ocbc-card-premier-product
.ocbc-card-premier-product
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-card-premier-product__content
          //ocbc-card-premier-product__title
          h4.ocbc-card-premier-product__title
            | !{data.title}

          .ocbc-card-premier-product__list
            //- define data
            each val in data.card
              - data = val
              include ../components/card-premier-product.pug
