//-------------------------------------------------------------------------------
  @name: Layout - Exchange Rate Calculator Table
  @description: Layout - Exchange Rate Calculator Table
  -------------------------------------------------------------------------------//

//xr-calc-tbl
.ocbc-xr-calc-tbl
  //-- cek-nilai-kurs-kalkulator
  - data = data;
  include cek-nilai-kurs-calculator.pug

  //-- cek-nilai-kurs-table
  include cek-nilai-kurs-table.pug
