//-------------------------------------------------------------------------------
  @name: Layout - Cek Nilai Kurs Calculator
  @description: Layout - Cek Nilai Kurs Calculator
  -------------------------------------------------------------------------------//

-
  image = {
    desktop: 'cek-nilai-kurs-d.jpg',
    mobile:'cek-nilai-kurs-m.jpg'
  };
  className = 'ocbc-xr-calc';

if data.image.desktop != undefined
  -
    image = {
      desktop: data.image.desktop,
      mobile: data.image.mobile
    };
    className = 'ocbc-xr-calc ocbc-xr-calc--light';

//-default
-
  data = {
    title: 'Nilai Tukar Mata Uang Asing',
    currency: {
      title: 'Kalkulator Kurs',
      date: '21 Januari 2020',
      list: [
        {
          val: 1,
          text: 'IDR'
        },
        {
          val: 2,
          text: 'USD'
        },
        {
          val: 3,
          text: 'SGD'
        },
        {
          val: 4,
          text: 'EUR'
        },
        {
          val: 5,
          text: 'GBP'
        },
        {
          val: 6,
          text: 'AUD'
        },
        {
          val: 7,
          text: 'NZD'
        },
        {
          val: 8,
          text: 'JPY'
        },
        {
          val: 9,
          text: 'HKD'
        },
        {
          val: 10,
          text: 'CHF'
        },
        {
          val: 11,
          text: 'CAD'
        },
        {
          val: 12,
          text: 'CNH'
        }
      ]
    }
  };

//ocbc-xr-calc
div(class=className)
  .ocbc-xr-calc__img-wrapper
    .ocbc-xr-calc__img-bg.ocbc-xr-calc__img-bg--d(style='background-image: url(img/dummy/banner/section/'+image.desktop+')')
    .ocbc-xr-calc__img-bg.ocbc-xr-calc__img-bg--m(style='background-image: url(img/dummy/banner/section/'+image.mobile+')')
  .ocbc-xr-calc__txt-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          h2.ocbc-xr-calc__title
            | !{data.title}
          -
            data = data.currency
          .ocbc-xr-calc__container
            include ../components/widget-exchange-rate-calculator.pug
