//-------------------------------------------------------------------------------
  @name: Layout - Cek Nilai Kurs Table
  @description: Layout - Cek Nilai Kurs Table
  -------------------------------------------------------------------------------//

-
  data = {
    MU: 'Mata Uang',
    BN: 'Bank Notes (BN)',
    TT: 'Telegraphics Transfer (TT)',
    currencyList: [
      {
        val: 1,
        flag: 'usa.png',
        currency: 'USD',
        bnBuy: '13,610.00',
        bnSell: '13,710.00',
        ttBuy: '14,610.00',
        ttSell: '14,710.00'
      },
      {
        val: 2,
        flag: 'uk.png',
        currency: 'GBP',
        bnBuy: '17,618.55',
        bnSell: '17,892.00',
        ttBuy: '7,618.55',
        ttSell: '1,892.00'
      },
      {
        val: 3,
        flag: 'euro.png',
        currency: 'EUR',
        bnBuy: '15,054.34',
        bnSell: '15,249.03',
        ttBuy: '1,054.34',
        ttSell: '5,249.03'
      },
      {
        val: 4,
        flag: 'japan.png',
        currency: 'JPY',
        bnBuy: '122.69',
        bnSell: '125.22',
        ttBuy: '122.69',
        ttSell: '125.22'
      },
      {
        val: 5,
        flag: 'singapore.png',
        currency: 'SGD',
        bnBuy: '10,090.22',
        bnSell: '10,191.90',
        ttBuy: '10,090.22',
        ttSell: '10,191.90'
      }
    ]
  };

//ocbc-xr-tbl
.ocbc-xr-tbl
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12

        -
          data = data;
        //- widget-exchange-rate-table
        include ../components/widget-exchange-rate-table.pug

        //ocbc-xr-tbl__btn
        .ocbc-xr-tbl__btn
          = "\n"
          a.ocbc-btn-txt-lnk(href='nilai-tukar-mata-uang-asing.html')
            | Selengkapnya
          |!{''}
          |
