//-------------------------------------------------------------------------------
  @name: Layout - Contact Channel
  @description: Layout - Contact Channel
  -------------------------------------------------------------------------------//

- classItem = data.classItem;
//ocbc-contact-channel-container
.ocbc-contact-channel-container
  .ocbc-container
    //ocbc-contact-channel__list
    .ocbc-row.ocbc-contact-channel__list
      each val in data.card
        //ocbc-contact-channel__item
        div(class=`${classItem} ocbc-col-md-6 ocbc-col-xs-12 ocbc-contact-channel__item`)
          //- define data
          - data = val;
          include ../components/contact-channel.pug
