//-------------------------------------------------------------------------------
  @name: Layout - Content Detail
  @description: Layout - Content Detail
  -------------------------------------------------------------------------------//

//ocbc-content-detail
.ocbc-content-detail
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-content-detail__content
        .ocbc-content-detail__content
          //ocbc-content-detail__share-floating
          .ocbc-content-detail__share-floating
            -
              isFloating = true;
            include ../components/share-content.pug
          block head
          //ocbc-content-detail__head
          .ocbc-content-detail__head
            h2.ocbc-content-detail__title
              | !{data.title}
            .ocbc-content-detail__row
              .ocbc-content-detail__col
                p.ocbc-content-detail__date-author
                  strong.ocbc-content-detail__date
                    | !{data.date}
                  if data.author
                    |  !{data.author}
              .ocbc-content-detail__col
                -
                  isFloating = false;
                include ../components/share-content.pug
          //ocbc-content-detail__img
          .ocbc-content-detail__img.owl-carousel.js-content-detail-image
            each val in data.images
              .ocbc-content-detail__img__item
                ='\n'
                img.ocbc-content-detail__img__el(src='img/dummy/page/detail/'+val.src, alt=val.alt)/
                |!{''}
                |
          //ocbc-content-detail__body
          .ocbc-content-detail__body
            //ocbc-content-detail__txt
            .ocbc-content-detail__txt
              block body
            block tag
            //ocbc-content-detail__tag-label
            .ocbc-content-detail__tag-label
              ='\n'
              each val in data
                span.ocbc-tag-label
                    | !{val}
                |!{''}
                |
