//-------------------------------------------------------------------------------
  @name: Layout - CSR Description
  @description: Layout - CSR Description
  -------------------------------------------------------------------------------//

//ocbc-csr-description-container
.ocbc-csr-description-container
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-csr-description-content
          h4.ocbc-csr-description__definition
            | !{data.definition}
          .ocbc-csr-description__img-circle-wrapper
            ='\n'
            img.ocbc-csr-description__img-circle(src=`img/dummy/fragment/csr-description/${data.image}`, alt='CSR Description')/
            |!{''}
            |
          .ocbc-csr-description-wrapper
            each val in data.content
              //- define data
              - data = val;
              include ../components/csr-description.pug
