//-------------------------------------------------------------------------------
  @name: Layout - CSR Program
  @subtitleription: Layout - CSR Program
  -------------------------------------------------------------------------------//

//ocbc-csr-program-container
.ocbc-csr-program-container(class=(containerModifier ? 'ocbc-csr-program-container--' + containerModifier : ''))
  - data = data
  include ../components/csr-program.pug
