//-------------------------------------------------------------------------------
  @name: Layout - Error
  @description: Layout - Error
  -------------------------------------------------------------------------------//

='\n\n'
//ocbc-err
.ocbc-err
  //ocbc-err__img-wrapper
  .ocbc-err__img-wrapper
    .ocbc-err__img-bg.ocbc-err__img-bg--d(style='background-image: url(img/dummy/banner/error/'+data.image.desktop+')')
    .ocbc-err__img-bg.ocbc-err__img-bg--m(style='background-image: url(img/dummy/banner/error/'+data.image.mobile+')')
  //ocbc-err__v-align
  .ocbc-err__v-align
    .ocbc-err__container
      .ocbc-container.ocbc-err-top
        .ocbc-row
          .ocbc-col-xl-12
            h1.ocbc-err__hero
              | !{data.title}
            h2.ocbc-err__sub
              | !{data.subTitle}
            p.ocbc-err__desc
              | !{data.description}
            .ocbc-err__btn-wrapper
              each val, index in data.button
                if index == 0
                  ='\n'
                a.ocbc-btn(class=val.class, href=val.to)
                  | !{val.text}
                |!{''}
                |

      if data.cardsList
        - data = data.cardsList;
        include card-recommendation.pug
