//-------------------------------------------------------------------------------
  @name: Layout - Exchange Rate Calculator Table
  @description: Layout - Exchange Rate Calculator Table
  -------------------------------------------------------------------------------//

-
  data = data;

//ocbc-xr-calc
.ocbc-xr-calc.ocbc-xr-calc--currency
  .ocbc-xr-calc__txt-wrapper
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-xr-calc__container
            include ../components/widget-exchange-rate-calculator.pug
