//-------------------------------------------------------------------------------
  @name: Layout - FAQ Dropdown
  @description: Layout - FAQ Dropdown
  -------------------------------------------------------------------------------//

.ocbc-faq-dd-wrapper
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../components/faq-dropdown.pug
      | !{''}
      |
