//-------------------------------------------------------------------------------
  @name: Layout - Feature
  @description: Layout - Feature
  -------------------------------------------------------------------------------//

// ocbc-feature

block head
-
  classModifier = modifier ? ' ocbc-feature--' + modifier : ''; 
  classModifier = inverse ? ' ocbc-feature--inverse' : classModifier;

div(class='ocbc-feature' + classModifier)
  .ocbc-feature__img-wrapper
    ='\n'
    if inverse
      img.ocbc-feature__img(src='img/bg/ocbc-circle-white.svg', alt='OCBC Circle')/    
    else
      img.ocbc-feature__img(src='img/bg/ocbc-circle.svg', alt='OCBC Circle')/
    |!{''}
    |
  .ocbc-feature__content
    block content
