//-------------------------------------------------------------------------------
  @name: Layout - Filter Card
  @description: Layout - Filter Card
  -------------------------------------------------------------------------------//


//ocbc-filter-card
.ocbc-filter-card(class=(modifierClass ? 'ocbc-filter-card--'+modifierClass : ''))
  if noContainer
    .ocbc-filter-card__wrapper
      - selectClass = selectClass;
      include ../components/filter-card.pug
  else
    .ocbc-container
      .ocbc-filter-card__wrapper
        if titleFilter
          h4.ocbc-filter-card__title
            | !{titleFilter}
        - selectClass = selectClass;
        include ../components/filter-card.pug
