//-------------------------------------------------------------------------------
  @name: Layout - Filter
  @description: Layout - Filter
  -------------------------------------------------------------------------------//

//ocbc-filter
.ocbc-filter
  //ocbc-filter__show
  .ocbc-filter__show
    ='\n'
    button(type='button').ocbc-filter__show__btn.js-show-filter
      ='\n'
      span.ocbc-filter__show__icon-wrapper
        ='\n'
        img.ocbc-filter__show__icon(src='img/icon/filter.svg', alt='Filter Icon')/
        |!{''}
        |
      ='\n'
      span.ocbc-filter__show__txt
        | Filter
      |!{''}
      |
    |!{''}
    |
  //ocbc-filter__scrollover
  .ocbc-filter__scrollover
    .ocbc-filter__wrapper
      //ocbc-filter__close
      .ocbc-filter__close
        ='\n'
        button(type='button').ocbc-filter__close__btn.js-close-filter
          ='\n'
          i.ocbc-fi.ocbc-fi-exit.ocbc-filter__close__icon
          |!{''}
          |
        |!{''}
        |
      //ocbc-filter__list
      .ocbc-filter__list
        - data = data
        include ../components/filter.pug
      //ocbc-filter__apply
      .ocbc-filter__apply
        ='\n'
        button(type='button').ocbc-btn.ocbc-btn--block.ocbc-btn--primary.js-apply-filter
          | Pencarian
        |!{''}
        |
