//-------------------------------------------------------------------------------
  @name: Layout - Footer
  @description: Layout - Footer
  -------------------------------------------------------------------------------//

='\n\n'
//ocbc-footer
.ocbc-footer
  .ocbc-container
    //ocbc-footer__top
    .ocbc-row.ocbc-footer__top
      //ocbc-footer-nav
      .ocbc-footer-nav.ocbc-footer-nav--accordion.js-footer-accordion
        //ocbc-footer-nav__title
        p.ocbc-footer-nav__title
          ='\n'
          a.ocbc-lnk(href='individu.html')
            | Individu
          |!{''}
          |

        //- Footer Nav
        -
          data = [
                  {
                    text: 'Nyala',
                    to: 'nyala.html'
                  },
                  {
                    text: 'Simpanan',
                    to: 'simpanan.html'
                  },
                  {
                    text: 'Kartu Transaksi',
                    to: 'kartu-transaksi.html'
                  },
                  {
                    text: 'Pinjaman',
                    to: 'pinjaman.html'
                  },
                  {
                    text: 'Wealth Management',
                    to: 'wealth-management.html'
                  },
                  {
                    text: 'Premier Banking',
                    to: 'premier-banking.html'
                  },
                  {
                    text: 'Private Banking',
                    to: 'private-banking.html'
                  }
                ];
        include ../components/footer-nav.pug

      ='\n\n'
      //ocbc-footer-nav
      .ocbc-footer-nav.ocbc-footer-nav--accordion.js-footer-accordion
        //ocbc-footer-nav__title
        p.ocbc-footer-nav__title
          ='\n'
          a.ocbc-lnk(href='sme.html')
            | SME
          |!{''}
          |

        //- Footer Nav
        -
          data = [
                  {
                    text: 'Simpanan & Investasi',
                    to: '#'
                  },
                  {
                    text: 'Pinjaman',
                    to: '#'
                  },
                  {
                    text: 'Treasuri',
                    to: '#'
                  },
                  {
                    text: 'Layanan',
                    to: '#'
                  }
                ];
        include ../components/footer-nav.pug

      ='\n\n'
      //ocbc-footer-nav
      .ocbc-footer-nav.ocbc-footer-nav--accordion.js-footer-accordion
        //ocbc-footer-nav__title
        p.ocbc-footer-nav__title
          ='\n'
          a.ocbc-lnk(href='korporasi.html')
            | Korporasi
          |!{''}
          |

        //- Footer Nav
        -
          data = [
                  {
                    text: 'Simpanan & Investasi',
                    to: '#'
                  },
                  {
                    text: 'Pinjaman',
                    to: '#'
                  },
                  {
                    text: 'Treasuri',
                    to: '#'
                  },
                  {
                    text: 'Layanan',
                    to: '#'
                  }
                ];
        include ../components/footer-nav.pug

      ='\n\n'
      //ocbc-footer-nav
      .ocbc-footer-nav.ocbc-footer-nav--accordion.js-footer-accordion
        //ocbc-footer-nav__title
        p.ocbc-footer-nav__title
          ='\n'
          a.ocbc-lnk(href='syariah.html')
            | Syariah
          |!{''}
          |

        //- Footer Nav
        -
          data = [
                  {
                    text: 'Simpanan',
                    to: 'simpanan.html'
                  },
                  {
                    text: 'Simpanan Berjangka',
                    to: 'simpanan-berjangka.html'
                  },
                  {
                    text: 'Pembiayaan',
                    to: 'pembiayaan.html'
                  },
                  {
                    text: 'Jasa & Layanan',
                    to: 'jasa-layanan.html'
                  }
                ];
        include ../components/footer-nav.pug

      ='\n\n'
      //ocbc-footer-nav
      .ocbc-footer-nav.ocbc-footer-nav--accordion.js-footer-accordion
        //ocbc-footer-nav__title
        p.ocbc-footer-nav__title
          ='\n'
          a.ocbc-lnk(href='tentang-ocbc-nisp.html')
            | Tentang Kami
          |!{''}
          |

        //- Footer Nav
        -
          data = [
                  {
                    text: 'Profil OCBC NISP',
                    to: 'profil-ocbc-nisp.html'
                  },
                  {
                    text: 'Hubungan Investor',
                    to: 'hubungan-investor.html'
                  },
                  {
                    text: 'Tata Kelola',
                    to: 'tata-kelola.html'
                  },
                  {
                    text: 'CSR',
                    to: 'csr.html'
                  },
                  {
                    text: 'Informasi',
                    to: 'informasi.html'
                  }
                ];
        include ../components/footer-nav.pug

      ='\n\n'

      //ocbc-footer-nav
      .ocbc-footer-nav
        -
          data = [
                  {
                    text: 'Promo',
                    to: 'promo.html'
                  },
                  {
                    text: 'ONe Update',
                    to: 'artikel.html'
                  },
                  {
                    text: 'Bunga dan Biaya',
                    to: 'bunga-dan-biaya.html'
                  },
                  {
                    text: 'Kurs',
                    to: 'nilai-tukar-mata-uang-asing.html'
                  },
                  {
                    text: 'Suku Bunga',
                    to: 'suku-bunga-dasar.html'
                  },
                  {
                    text: 'FAQ',
                    to: 'faq.html'
                  },
                  {
                    text: 'Jasa & Layanan',
                    to: 'jasa-layanan.html'
                  }
                ];
        each val in data
          //ocbc-footer-nav__title
          p.ocbc-footer-nav__title
            ='\n'
            a.ocbc-lnk(href=val.to)
              | !{val.text}
            |!{''}
            |

      ='\n\n'
      //ocbc-footer-nav
      .ocbc-footer-nav
        //ocbc-footer__ecosystem
        .ocbc-footer__ecosystem
          //ocbc-footer-nav__title
          p.ocbc-footer-nav__title
            ='\n'
            a.ocbc-lnk(href='lokasi.html')
              | Lokasi
            |!{''}
            |
          ='\n'
          a.ocbc-lnk__logo(href='https://poinseru.com/', target='_blank')
            ='\n'
            img.ocbc-footer-nav__logo(src='img/logo/poinseru.svg', alt='Poinseru')/
            |!{''}
            |
          ='\n'
          a.ocbc-lnk__logo(href='https://ocbcnispventura.com/', target='_blank')
            ='\n'
            img.ocbc-footer-nav__logo(src='img/logo/ocbc-nisp-ventura.png', alt='ocbc-nisp-ventura')/
            |!{''}
            |
          |!{''}
          |

        //ocbc-footer__contact
        .ocbc-footer__contact
          //ocbc-footer-nav__title
          p.ocbc-footer-nav__title
            ='\n'
            a.ocbc-lnk(href='hubungi-kami.html')
              | Terhubung dengan Kami
            |!{''}
            |
          //- Social Media
          include ../components/socmed.pug
      ='\n\n'

    ='\n\n'
    //ocbc-footer__bottom
    .ocbc-row.ocbc-footer__bottom
      .ocbc-col-xl-12
        .ocbc-footer__bottom__wrapper
          .ocbc-row
            //ocbc-footer__basic-pg-lnk
            .ocbc-col-xl-5.ocbc-col-lg-6.ocbc-col-md-12.ocbc-footer__basic-pg-lnk
              //- Basic Page Link
              -
                data = [
                  {
                    to: 'kebijakan-privasi.html',
                    text: 'Kebijakan Privasi'
                  },
                  {
                    to: 'disclaimer.html',
                    text: 'Disclaimer'
                  },
                  {
                    to: 'sitemap.html',
                    text: 'Sitemap'
                  }
                ];
              //ocbc-footer__basic-pg-lnk-list
              ul.ocbc-footer__basic-pg-lnk-list
                each val in data
                  li.ocbc-footer__basic-pg-lnk__item
                    ='\n'
                    a.ocbc-lnk(href=val.to)
                      | !{val.text}
                    |!{''}
                    |

            ='\n\n'
            //ocbc-footer__copyright
            .ocbc-col-xl-7.ocbc-col-lg-6.ocbc-col-md-12.ocbc-footer__copyright
              //- Regulator
              -
                data = [
                  {
                    img: 'ojk.png',
                    name: 'Otoritas Jasa Keuangan',
                    to: 'https://ojk.go.id/id',
                    target: '_blank'
                  },
                  {
                    img: 'lps.png',
                    name: 'Lembaga Penjamin Simpanan',
                    to: 'lembaga-penjamin-simpanan.html'
                  },
                  {
                    img: 'perbankan-syariah.png',
                    name: 'Perbankan Syariah',
                    to: 'http://www.bi.go.id',
                    target: '_blank'
                  }
                ];
              include ../components/regulator.pug

              //ocbc-footer__copyright__txt
              p.ocbc-footer__copyright__txt
                | 2020. PT. Bank OCBC NISP, Tbk terdaftar dan diawasi oleh OJK dan merupakan peserta penjaminan LPS
            ='\n\n'
