//-------------------------------------------------------------------------------
  @name: Layout - Form
  @description: Layout - Form
  -------------------------------------------------------------------------------//

//ocbc-form
.ocbc-form-container
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        form.ocbc-form.js-form(method='get', action='halaman-sukses.html')
          block fields
          ='\n'
          input.ocbc-btn.ocbc-btn--primary.js-form-submit(type='submit', value='Kirim', disabled='disabled')/
          |!{''}
          |

='\n\n'
//ocbc-form-preloader
.ocbc-form-preloader
  //ocbc-preloader
  .ocbc-preloader
    ='\n'
    svg.ocbc-preloader__spinner(width='44', height='44', version='1.1', xmlns='http://www.w3.org/2000/svg')
      ='\n'
      circle(cx='22', cy='22', r='20')
      |!{''}
      |
    |!{''}
    |
='\n\n'
