//-------------------------------------------------------------------------------
  @name: Layout - Graphic Result
  @description: Layout - Graphic Result
  -------------------------------------------------------------------------------//

block graphicTitle
//ocbc-graphic-result
.ocbc-graphic-result(class=(modifier ? 'ocbc-graphic-result--'+modifier : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-graphic-result__content
          //ocbc-graphic-result__head
          .ocbc-graphic-result__head
            .ocbc-graphic-result__head__left
              h3.ocbc-graphic-result__title
                | !{title}
              if description
                p.ocbc-graphic-result__desc
                  | !{description}
            .ocbc-graphic-result__head__right
              block btnOptions
          //ocbc-graphic-result__body
          .ocbc-graphic-result__body
            block graphic

