//-------------------------------------------------------------------------------
  @name: Layout - Graphic Result Share
  @description: Layout - Graphic Result Share
  -------------------------------------------------------------------------------//

//ocbc-graphic-result
.ocbc-graphic-result.ocbc-graphic-result--share
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-graphic-result__content
          //ocbc-graphic-result__body
          .ocbc-graphic-result__body
            block graphic
