//-------------------------------------------------------------------------------
  @name: Layout - Header
  @description: Layout - Header
  -------------------------------------------------------------------------------//

//ocbc-header
.ocbc-header
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-header__wrapper
        .ocbc-header__wrapper
          //ocbc-header__top
          .ocbc-header__top
            //ocbc-header__logo
            .ocbc-header__logo
              ='\n'
              a.ocbc-lnk(href='index.html')
                ='\n'
                if site == 'premier'
                  img.ocbc-img(src='img/logo/ocbc-white-premier.svg', alt='OCBC NISP Premier Banking')/
                else if site == 'private'
                  img.ocbc-img(src='img/logo/ocbc-white-private.png', alt='OCBC NISP Private Banking')/
                else
                  img.ocbc-img(src='img/logo/ocbc-red.svg', alt='OCBC NISP')/
                ='\n'
              |!{''}
              |

            //ocbc-header__search-btn
            .ocbc-header__search-btn
              ='\n'
              button(type='button').ocbc-btn-icon.js-header-search-show
                ='\n'
                i.ocbc-fi.ocbc-fi-search
                ='\n'
              |!{''}
              |

            //ocbc-header__region
            .ocbc-header__region.js-header-login-show
              ='\n'
              a.ocbc-btn-icon-txt(href='#')
                ='\n'
                span.ocbc-btn-icon-txt__icon
                  ='\n'
                  if site == 'premier' || site == 'private'
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/region-white.svg', alt='Login Icon')/
                    ='\n'
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/region-gray.svg', alt='Login Icon')/
                  else
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/region.svg', alt='Login Icon')/
                    ='\n'
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/region-primary.svg', alt='Login Icon')/
                  |!{''}
                  |
                ='\n'
                span.ocbc-btn-icon-txt__txt
                  | &nbsp;
                |!{''}
                |
              .ocbc-header__log-lnk__wrapper
                .ocbc-header__log-lnk
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://www.ocbc.com/group/gateway', target='_blank')
                    | Singapore
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://www.ocbc.com.my/group/group-home.html', target='_blank')
                    | Malaysia
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://www.ocbcwhhk.com/web/home.html', target='_blank')
                    | Hongkong
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://www.ocbc.com.cn/group/CN/group-home.html', target='_blank')
                    | China
                  |!{''}
                  |

            //ocbc-header__login
            .ocbc-header__login.js-header-login-show
              ='\n'
              a.ocbc-btn-icon-txt(href='#')
                ='\n'
                span.ocbc-btn-icon-txt__icon
                  ='\n'
                  if site == 'premier' || site == 'private'
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/login-white.svg', alt='Login Icon')/
                    ='\n'
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/login-gray.svg', alt='Login Icon')/
                  else
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/login.svg', alt='Login Icon')/
                    ='\n'
                    img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/login-primary.svg', alt='Login Icon')/
                  |!{''}
                  |
                ='\n'
                span.ocbc-btn-icon-txt__txt
                  | Login
                |!{''}
                |
              .ocbc-header__log-lnk__wrapper
                .ocbc-header__log-lnk
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://online.ocbcnisp.com/statement/session', target='_blank')
                    | e-Statement
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://online.ocbcnisp.com/', target='_blank')
                    | Internet Banking
                  ='\n'
                  a.ocbc-header__log-lnk__a(href='https://newvelocity.ocbcnisp.com/', target='_blank')
                    | Velocity
                  |!{''}
                  |

            //ocbc-header__burger-menu
            .ocbc-header__burger-menu
              //- burger menu
              -
                jsClass = 'js-burger-menu';
              include ../components/burger-menu.pug

          ='\n\n'
          //ocbc-header__side-menu
          .ocbc-header__side-menu.js-side-menu
            //ocbc-header__side-menu__bg
            .ocbc-header__side-menu__bg
            //ocbc-header__side-menu__scrollover
            .ocbc-header__side-menu__scrollover
              //ocbc-header__register
              .ocbc-header__register
                ='\n'
                a.ocbc-btn.ocbc-btn--secondary.ocbc-btn--apply(href='register.html')
                  | Jadi Nasabah
                |!{''}
                |

              ='\n\n'
              //ocbc-header__lang
              .ocbc-header__lang
                //ocbc-lang
                ul.ocbc-lang
                  li.ocbc-lang__item.ocbc-lang__item--selected
                    ='\n'
                    a.ocbc-lnk(href="#id")
                      | Id
                    |!{''}
                    |
                  li.ocbc-lang__item
                    ='\n'
                    a.ocbc-lnk(href="#en")
                      | En
                    |!{''}
                    |

              ='\n\n'
              //ocbc-nav
              ul.ocbc-nav
                -
                  className = (activeMenu == 'individu' ? 'ocbc-nav__item--active': '')
                li.ocbc-nav__item.ocbc-nav__item--mega-menu(class=className).js-mega-menu
                  ='\n'
                  a.ocbc-lnk(href='individu.html')
                    | Individu
                  |!{''}
                  |

                  //- mega-menu
                  include mega-menu-individu.pug

                -
                  className = (activeMenu == 'sme' ? 'ocbc-nav__item--active': '')
                li.ocbc-nav__item.ocbc-nav__item--mega-menu(class=className).js-mega-menu
                  ='\n'
                  a.ocbc-lnk(href='sme.html')
                    | SME
                  |!{''}
                  |

                  //- mega-menu
                  include mega-menu-sme.pug

                -
                  className = (activeMenu == 'korporasi' ? 'ocbc-nav__item--active': '')
                li.ocbc-nav__item.ocbc-nav__item--mega-menu(class=className).js-mega-menu
                  ='\n'
                  a.ocbc-lnk(href='korporasi.html')
                    | Korporasi
                  |!{''}
                  |

                  //- mega-menu
                  include mega-menu-korporasi.pug

                -
                  className = (activeMenu == 'syariah' ? 'ocbc-nav__item--active': '')
                li.ocbc-nav__item.ocbc-nav__item--mega-menu(class=className).js-mega-menu
                  ='\n'
                  a.ocbc-lnk(href='syariah.html')
                    | Syariah
                  |!{''}
                  |

                  //- mega-menu
                  include mega-menu-syariah.pug

                -
                  className = (activeMenu == 'tentang-kami' ? 'ocbc-nav__item--active': '')
                li.ocbc-nav__item.ocbc-nav__item--mega-menu(class=className).js-mega-menu
                  ='\n'
                  a.ocbc-lnk(href='tentang-kami.html')
                    | Tentang Kami
                  |!{''}
                  |

                  //- mega-menu
                  include mega-menu-tentang-kami.pug

                -
                  className = (activeMenu == 'karir' ? 'ocbc-nav__item--active': '')
                li.ocbc-nav__item(class=className)
                  ='\n'
                  a.ocbc-lnk(href='karir.html')
                    | Karir
                  |!{''}
                  |

              ='\n\n'
              //ocbc-header__contact-us
              .ocbc-header__contact-us
                ='\n'
                a.ocbc-btn-icon-txt(href='kontak-kami.html')
                  ='\n'
                  span.ocbc-btn-icon-txt__icon
                    ='\n'
                    if site == 'premier' || site == 'private'
                      img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/phone-white.svg', alt='Phone Icon')/
                      ='\n'
                      img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/phone-gray.svg', alt='Phone Icon')/
                    else
                      img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/phone.svg', alt='Phone Icon')/
                      ='\n'
                      img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/phone-primary.svg', alt='Phone Icon')/
                    |!{''}
                    |
                  ='\n'
                  span.ocbc-btn-icon-txt__txt
                    | Hubungi Kami
                  |!{''}
                  |
                |!{''}
                |

          ='\n\n'
          //ocbc-header__search
          .ocbc-header__search
            include ../components/search-form-section.pug
