//-------------------------------------------------------------------------------
  @name: Layout - Header Calc
  @description: Layout - Header Calc
  -------------------------------------------------------------------------------//

//ocbc-header-calc
.ocbc-header-calc
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-header-calc__wrapper
        .ocbc-header-calc__wrapper
          //ocbc-header-calc__logo
          .ocbc-header-calc__logo
            ='\n'
            a.ocbc-lnk(href='index.html')
              ='\n'
              img.ocbc-img(src='img/logo/ocbc-red.svg', alt='OCBC NISP')/
              ='\n'
            |!{''}
            |
          //ocbc-header-calc__btn
          .ocbc-header-calc__btn
            ='\n'
            a.ocbc-btn.ocbc-btn--secondary.ocbc-btn--small(href=headerBack.to)
              | !{headerBack.text}
            |!{''}
            |
