//-------------------------------------------------------------------------------
  @name: Layout - Highlight Promo
  @description: Layout - Highlight Promo
  -------------------------------------------------------------------------------//

- hasMore = data.hasMore;

//ocbc-highlight-promo
.ocbc-highlight-promo(class=(data.innerTabs ? 'ocbc-highlight-promo--inner-tabs' : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        //ocbc-highlight-promo__title
        h4.ocbc-highlight-promo__title
          if (data.icon != '')
            ='\n'
            img.ocbc-highlight-promo__icon(src='img/logo/'+data.icon, alt=data.title)/
            | Promo
            |
          else
            | !{data.title}
        //ocbc-highlight-promo__list
        .ocbc-highlight-promo__list
          //- define data
          - data = data.card;
          include ../components/card-promo.pug

        if hasMore
          //ocbc-highlight-promo__lnk-all
          .ocbc-highlight-promo__lnk-all
            ='\n'
            a.ocbc-btn-txt-lnk(href='promo.html')
              | Lihat Semua Promo
            |!{''}
            |
