//-------------------------------------------------------------------------------
  @name: Layout - How To Fragment
  @description: Layout - How To Fragment
  -------------------------------------------------------------------------------//

//- ocbc-how-to-fragment
.ocbc-how-to-fragment
  each val in data
    - 
      data = val;
    
    include ../components/how-to-fragment.pug