//-------------------------------------------------------------------------------
  @name: Layout - Icon Text
  @description: Layout - Icon Text
  -------------------------------------------------------------------------------//

.ocbc-icon-text-container
  each val in data
    - data = val
    include ../components/icon-text.pug
