//-------------------------------------------------------------------------------
  @name: Layout - Internet Banking How To
  @description: Layout - Internet Banking How To
  -------------------------------------------------------------------------------//

extends feature.pug

block head
  - modifier = 'digital-channel ocbc-feature--desktop';

block content
  // ocbc-how-to
  .ocbc-how-to
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-how-to__content
            //ocbc-how-to__step
            .ocbc-how-to__step
              h3.ocbc-how-to__step__title
                | Temukan cara mudah:
              //ocbc-how-to__filter
              .ocbc-how-to__filter.js-how-to-filter
                -
                  noContainer = true;
                  data = [
                    {
                      val: 'cek-saldo',
                      text: 'Cek Saldo',
                    },
                    {
                      val: 'pembayaran-tagihan',
                      text: 'Pembayaran Tagihan'
                    },
                    {
                      val: 'multitransfer',
                      text: 'Multitransfer'
                    },
                    {
                      val: 'ajukan-pinjaman',
                      text: 'Ajukan Pinjaman'
                    },
                    {
                      val: 'atur-keamanan',
                      text: 'Mudahnya atur Keamanan'
                    }
                  ];
                include filter-card.pug

                //ocbc-how-to__sub-filter
                .ocbc-how-to__sub-filter
                  //ocbc-how-to__sub-filter__pane
                  .ocbc-how-to__sub-filter__pane(data-category='pembayaran-tagihan')
                    ul.ocbc-how-to__sub-filter__list
                      li.ocbc-how-to__sub-filter__item.ocbc-how-to__sub-filter__item--active(data-subcategory='top-up-wallet')
                        | Top Up e-Wallet
                      li.ocbc-how-to__sub-filter__item(data-subcategory='bayar-tokopedia')
                        | Bayar via Tokopedia
                      li.ocbc-how-to__sub-filter__item(data-subcategory='transfer-sosmed')
                        | Transfer via Sosmed
                      li.ocbc-how-to__sub-filter__item(data-subcategory='atur-limit')
                        | Atur Limit

            //ocbc-how-to__frame-wrapper
            .ocbc-how-to__frame-wrapper
              = '\n'
              img.ocbc-how-to__frame(src='img/bg/macbook-frame.png', alt='Macbook Frame')/
              |!{''}
              |

            //ocbc-how-to__carousel
            .ocbc-how-to__carousel.js-how-to-carousel
              include ../components/internet-banking-how-to.pug
