//-------------------------------------------------------------------------------
  @name: Layout - Jasa Nasabah How To
  @description: Layout - Jasa Nasabah How To
  -------------------------------------------------------------------------------//

extends feature.pug

block head
  - inverse = true;

block content
  // ocbc-rachel-how-to
  .ocbc-rachel-how-to.ocbc-rachel-how-to--inverse
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-rachel-how-to__content
            //ocbc-rachel-how-to__step
            .ocbc-rachel-how-to__step
              h3.ocbc-rachel-how-to__step__title
                | Bagaimana cara menjadi nasabah via ONe Store?
              ul.ocbc-rachel-how-to__step__list.js-rachel-how-to-step
                li.ocbc-rachel-how-to__step__item.ocbc-rachel-how-to__step__item--active
                  | Masuk ke ONe Store
                li.ocbc-rachel-how-to__step__item
                  | Isi Informasi yang diperlukan
                li.ocbc-rachel-how-to__step__item
                  | Validasi data Anda
            //ocbc-rachel-how-to__frame-wrapper
            .ocbc-rachel-how-to__frame-wrapper
              = "\n"
              img.ocbc-rachel-how-to__frame(src='img/bg/iphone-frame.png', alt='iPhone Frame')/
              |!{''}
              |
            .ocbc-rachel-how-to__carousel.js-rachel-how-to-carousel
              include ../components/jadi-nasabah-how-to.pug
