//-------------------------------------------------------------------------------
  @name: Layout - Comparison
  @description: Layout - Comparison
  -------------------------------------------------------------------------------//

.ocbc-label-comparison
  .ocbc-container
    .ocbc-row.ocbc-label-comparison__scrollable
      .ocbc-col-xl-3.ocbc-col-md-4.ocbc-label-comparison__button.js-scroll-to-product
        a.ocbc-btn.ocbc-btn--secondary(href=data.link.to)
          | !{data.link.text}
        |!{''}
        |
      if data.list
        each val in data.list
          - data = val
          include ../components/label-comparison.pug