//-------------------------------------------------------------------------------
  @name: Layout - Main Banner
  @description: Layout - Main Banner
  -------------------------------------------------------------------------------//

//ocbc-main-banner
//- .ocbc-main-banner.owl-carousel.js-main-banner
.ocbc-main-banner.owl-carousel.js-main-banner
  //- define data
  - data = data;
  include ../components/main-banner.pug
