//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Syariah
  @description: Components - Mega Menu Syariah
  -------------------------------------------------------------------------------//

//ocbc-header__mega-menu
.ocbc-header__mega-menu
  //-mega home link
  -
    data = [
      {
        to: 'syariah.html',
        title: 'Beranda Syariah'
      }
    ]
  include ../components/mega-menu-home-link.pug

  .ocbc-header__mega-menu__wrapper
    .ocbc-container
      .ocbc-mega-menu
        //ocbc-mega-menu__row
        .ocbc-mega-menu__row
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'simpanan.html',
                  title: 'Simpanan',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'simpanan.html',
                  title: 'Simpanan'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'giro-ib-mudharabah.html',
                  text: 'Giro iB Mudharabah'
                },
                {
                  to: 'giro-ib-wadiah.html',
                  text: 'Giro iB Wadiah'
                },
                {
                  to: 'tanda-ib.html',
                  text: 'Tanda iB'
                },
                {
                  to: 'tanda-mudharabah-ib.html',
                  text: 'Tanda Mudharabah iB'
                },
                {
                  to: 'tanda-ib-easy-gold.html',
                  text: 'Tanda iB Easy Gold'
                },
                {
                  to: 'tanda-mudharabah-ib-plus.html',
                  text: 'Tanda Mudharabah iB Plus'
                },
                {
                  to: 'tabungan-haji-ib.html',
                  text: 'Tabungan Haji iB'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'simpananan-berjangka.html',
                  title: 'Simpanan Berjangka',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'simpanan-berjangka.html',
                  title: 'Simpanan Berjangka',
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'taka-ib-installment.html',
                  text: 'Taka iB Installment'
                },
                {
                  to: 'taka-ib.html',
                  text: 'Taka iB'
                },
                {
                  to: 'taka-ib-insurance.html',
                  text: 'Taka iB Insurance'
                },
                {
                  to: 'deposito-ib.html',
                  text: 'Deposito iB'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'pembiayaan.html',
                  title: 'Pembiayaan',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'pembiayaan.html',
                  title: 'Pembiayaan'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'kpr-ib-murabahah.html',
                  text: 'KPR iB Murabahah'
                },
                {
                  to: 'kpr-ib-mmq.html',
                  text: 'KPR iB MMQ'
                },
                {
                  to: 'kpr-ib.html',
                  text: 'KPR iB'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'jasa-layanan.html',
                  title: 'Jasa & Layanan',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'jasa-layanan.html',
                  title: 'Jasa & Layanan'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'syariah-investa-optima.html',
                  text: 'Syariah Investa Optima'
                },
                {
                  to: 'pembayaran-zis-kurban.html',
                  text: 'Pembayaran ZIS & Kurban'
                }
              ];
            include ../components/mega-menu-list.pug

        //ocbc-mega-menu__row
        .ocbc-mega-menu__row.ocbc-mega-menu__widget-btn
          -
            data = [
              {
                icon: {
                  src: 'mega-menu-widget-1.svg',
                  title: 'Default Icon'
                },
                text: 'e-Channel'
              },
              {
                icon: {
                  src: 'mega-menu-widget-2.svg',
                  title: 'Default Icon'
                },
                text: 'Calculator'
              },
              {
                icon: {
                  src: 'mega-menu-widget-3.svg',
                  title: 'Default Icon'
                },
                text: 'Poin Seru'
              },
              {
                icon: {
                  src: 'mega-menu-widget-4.svg',
                  title: 'Default Icon'
                },
                text: 'News & Event'
              },
              {
                icon: {
                  src: 'mega-menu-widget-5.svg',
                  title: 'Default Icon'
                },
                text: 'Promo'
              },
              {
                icon: {
                  src: 'mega-menu-widget-6.svg',
                  title: 'Default Icon'
                },
                text: 'Campaign'
              }
            ]
          include ../components/mega-menu-button-widget.pug
