//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Individu
  @description: Components - Mega Menu Individu
  -------------------------------------------------------------------------------//

//ocbc-header__mega-menu
.ocbc-header__mega-menu
  //-mega home link
  -
    data = [
      {
        to: 'individu.html',
        title: 'Beranda Individu'
      }
    ]
  include ../components/mega-menu-home-link.pug

  .ocbc-header__mega-menu__wrapper
    .ocbc-container
      .ocbc-mega-menu
        //ocbc-mega-menu__row
        .ocbc-mega-menu__row
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu image link
            -
              data = [
                {
                  to: 'nyala-landing.html',
                  title: 'Nyala',
                  image: 'individu-nyala.jpg',
                  square: true
                }
              ]
            include ../components/mega-menu-image-link.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'nyala-landing.html',
                  title: 'Layanan Nyala'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: 'nyala-landing.html',
                  text: 'Tentang Nyala'
                },
                {
                  to: 'nyala-nyala.html',
                  text: 'Nyala'
                },
                {
                  to: 'nyala-individu.html',
                  text: 'Nyala Individu'
                },
                {
                  to: 'nyala-bisnis.html',
                  text: 'Nyala Bisnis'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'simpanan.html',
                  title: 'Simpanan',
                  image: 'individu-simpanan.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'simpanan.html',
                  title: 'Simpanan'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: 'simpanan.html',
                  text: 'Kategori Produk'
                },
                {
                  to: 'simpanan-tabungan.html',
                  text: 'Tabungan'
                },
                {
                  to: 'simpanan-tabungan-berjangka.html',
                  text: 'Tabungan Berjangka'
                },
                {
                  to: 'simpanan-deposito.html',
                  text: 'Deposito'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'kartu-transaksi.html',
                  title: 'Kartu Transaksi',
                  image: 'individu-kartu-transaksi.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'kartu-transaksi.html',
                  title: 'Kartu Transaksi',
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: 'kartu-transaksi.html',
                  text: 'Kategori Produk'
                },
                {
                  to: 'kartu-transaksi-kartu-debit.html',
                  text: 'Kartu Debit'
                },
                {
                  to: 'kartu-transaksi-kartu-kredit.html',
                  text: 'Kartu Kredit'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'pinjaman.html',
                  title: 'Pinjaman',
                  image: 'individu-pinjaman.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'pinjaman.html',
                  title: 'Pinjaman'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: 'pinjaman.html',
                  text: 'Kategori Produk'
                },
                {
                  to: 'pinjaman-kpr.html',
                  text: 'KPR'
                },
                {
                  to: 'pinjaman-kpm.html',
                  text: 'KPM'
                },
                {
                  to: 'pinjaman-on-cash-loan.html',
                  text: 'On Cash Loan'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'wealth-management.html',
                  title: 'Wealth Management',
                  image: 'individu-wealth-management.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'wealth-management.html',
                  title: 'Wealth Management'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: 'wealth-management.html',
                  text: 'Kategori Produk'
                },
                {
                  to: 'wealth-management-reksa-dana.html',
                  text: 'Reksa Dana'
                },
                {
                  to: 'wealth-management-tresuri.html',
                  text: 'Tresuri'
                },
                {
                  to: 'wealth-management-asuransi.html',
                  text: 'Asuransi'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'premier-banking.html',
                  title: 'Premier Banking',
                  image: 'individu-premier-banking.jpg'
                },
                {
                  to: 'private-banking.html',
                  title: 'Private Banking',
                  image: 'individu-private-banking.jpg'
                }
              ]
            include ../components/mega-menu-link-card.pug

        //ocbc-mega-menu__row
        .ocbc-mega-menu__row.ocbc-mega-menu__widget-btn
          -
            data = [
              {
                icon: {
                  src: 'mega-menu-widget-1.svg',
                  title: 'Default Icon'
                },
                text: 'e-Channel'
              },
              {
                icon: {
                  src: 'mega-menu-widget-2.svg',
                  title: 'Default Icon'
                },
                text: 'Calculator'
              },
              {
                icon: {
                  src: 'mega-menu-widget-3.svg',
                  title: 'Default Icon'
                },
                text: 'Poin Seru'
              },
              {
                icon: {
                  src: 'mega-menu-widget-4.svg',
                  title: 'Default Icon'
                },
                text: 'News & Event'
              },
              {
                icon: {
                  src: 'mega-menu-widget-5.svg',
                  title: 'Default Icon'
                },
                text: 'Promo'
              },
              {
                icon: {
                  src: 'mega-menu-widget-6.svg',
                  title: 'Default Icon'
                },
                text: 'Campaign'
              }
            ]
          include ../components/mega-menu-button-widget.pug
