//-------------------------------------------------------------------------------
  @name: Components - Mega Menu SME
  @description: Components - Mega Menu SME
  -------------------------------------------------------------------------------//

//ocbc-header__mega-menu
.ocbc-header__mega-menu
  //-mega home link
  -
    data = [
      {
        to: 'sme.html',
        title: 'Beranda SME'
      }
    ]
  include ../components/mega-menu-home-link.pug

  .ocbc-header__mega-menu__wrapper
    .ocbc-container
      .ocbc-mega-menu
        //ocbc-mega-menu__row
        .ocbc-mega-menu__row
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: '#',
                  title: 'Simpanan & Investasi',
                  image: 'sme-1.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: '#',
                  title: 'Simpanan & Investasi'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: '#',
                  text: 'Kategori Produk'
                },
                {
                  to: '#',
                  text: 'Giro'
                },
                {
                  to: '#',
                  text: 'Deposito'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: '#',
                  title: 'Pinjaman',
                  image: 'sme-2.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: '#',
                  title: 'Pinjaman',
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: '#',
                  text: 'Kategori Produk'
                },
                {
                  to: '#',
                  text: 'Kredit Modal Kerja'
                },
                {
                  to: '#',
                  text: 'Kredit Investasi'
                },
                {
                  to: '#',
                  text: 'Kredit Program'
                },
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: '#',
                  title: 'Treasuri',
                  image: 'sme-3.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: '#',
                  title: 'Treasuri',
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: '#',
                  text: 'Kategori Produk'
                },
                {
                  to: '#',
                  text: 'FX dan FX Derivative'
                },
                {
                  to: '#',
                  text: 'Interest Rate Derivative'
                },
                {
                  to: '#',
                  text: 'Structured Product'
                },
                {
                  to: '#',
                  text: 'Debt Securities'
                },
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: '#',
                  title: 'Layanan',
                  image: 'sme-4.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: '#',
                  title: 'Layanan',
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  mobile: true,
                  to: '#',
                  text: 'Kategori Produk'
                },
                {
                  to: '#',
                  text: 'Cash Management'
                },
                {
                  to: '#',
                  text: 'Trade Finance'
                },
                {
                  to: '#',
                  text: 'Supply Chain'
                },
              ];
            include ../components/mega-menu-list.pug

        //ocbc-mega-menu__row
        .ocbc-mega-menu__row.ocbc-mega-menu__widget-btn
          -
            data = [
              {
                icon: {
                  src: 'e-channel.svg',
                  title: 'e-Channel'
                },
                text: 'Digital Channel'
              },
              {
                icon: {
                  src: 'calculator.svg',
                  title: 'Calculator'
                },
                text: 'Kalkulator'
              },
              {
                icon: {
                  src: 'document.svg',
                  title: 'News'
                },
                text: 'Berita'
              },
              {
                icon: {
                  src: 'promo.svg',
                  title: 'Promo'
                },
                text: 'Promo'
              }
            ]
          include ../components/mega-menu-button-widget.pug
