//-------------------------------------------------------------------------------
  @name: Components - Mega Menu Tentang Kami
  @description: Components - Mega Menu Tentang Kami
  -------------------------------------------------------------------------------//

//ocbc-header__mega-menu
.ocbc-header__mega-menu
  //-mega home link
  -
    data = [
      {
        to: 'tentang-kami.html',
        title: 'Beranda Tentang Kami'
      }
    ]
  include ../components/mega-menu-home-link.pug

  .ocbc-header__mega-menu__wrapper
    .ocbc-container
      .ocbc-mega-menu
        //ocbc-mega-menu__row
        .ocbc-mega-menu__row
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'profil-ocbc-nisp.html',
                  title: 'Profil OCBC NISP',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'profil-ocbc-nisp.html',
                  title: 'Profil OCBC NISP'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'sejarah-singkat.html',
                  text: 'Sejarah Singkat'
                },
                {
                  to: 'visi-misi.html',
                  text: 'Visi & Misi'
                },
                {
                  to: 'struktur-manajemen.html',
                  text: 'Struktur & Manajemen'
                },
                {
                  to: 'pencapaian.html',
                  text: 'Pencapaian'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'hubungan-investor.html',
                  title: 'Hubungan Investor',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'hubungan-investor.html',
                  title: 'Hubungan Investor',
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'kepemilikan-saham.html',
                  text: 'Kepemilikan Saham'
                },
                {
                  to: 'informasi-keuangan.html',
                  text: 'Informasi Keuangan'
                },
                {
                  to: 'laporan-tahunan.html',
                  text: 'Laporan Tahunan'
                },
                {
                  to: 'peringkat-kredit.html',
                  text: 'Peringkat Kredit'
                },
                {
                  to: 'informasi-saham-obligasi.html',
                  text: 'Informasi Saham & Obligasi'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'tata-kelola.html',
                  title: 'Tata Kelola',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'tata-kelola.html',
                  title: 'Tata Kelola'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'tata-kelola-perusahaan.html',
                  text: 'Tata Kelola Perusahaan'
                },
                {
                  to: 'tata-kelola-terintegrasi.html',
                  text: 'Tata Kelola Terintegrasi'
                },
                {
                  to: 'kyc-aml.html',
                  text: 'KYC/AML'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'csr.html',
                  title: 'CSR',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'csr.html',
                  title: 'CSR'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'overview-csr-ocbc-nisp.html',
                  text: 'Overview CSR OCBC NISP'
                },
                {
                  to: 'berita-csr.html',
                  text: 'Berita CSR'
                }
              ];
            include ../components/mega-menu-list.pug

          ='\n\n'
          //ocbc-mega-menu__col
          .ocbc-mega-menu__col
            //-mega menu link card
            -
              data = [
                {
                  to: 'informasi.html',
                  title: 'Informasi',
                  image: 'placeholder.jpg',
                  desktopOnly: true
                }
              ]
            include ../components/mega-menu-link-card.pug

            //-mega menu title
            -
              data = [
                {
                  to: 'informasi.html',
                  title: 'Informasi'
                }
              ]
            include ../components/mega-menu-title.pug

            //-mega menu list
            -
              megaMenuList = [
                {
                  to: 'siaran-pers.html',
                  text: 'Siaran Pers'
                },
                {
                  to: 'pengumuman.html',
                  text: 'Pengumuman'
                },
                {
                  to: 'info-lelang.html',
                  text: 'Info Lelang'
                },
                {
                  to: 'tax-amnesty.html',
                  text: 'Tax Amnesty'
                },
                {
                  to: 'partner-kami.html',
                  text: 'Partner Kami'
                },
                {
                  to: 'lembaga.html',
                  text: 'Lembaga/Profesi Penunjang Pasar Modal'
                }
              ];
            include ../components/mega-menu-list.pug
