//-------------------------------------------------------------------------------
  @name: Layout - Mutual Funds
  @description: Layout - Mutual Funds
  -------------------------------------------------------------------------------//

//- ocbc-mutual-funds
.ocbc-mutual-funds
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-4.ocbc-col-sm-12.ocbc-mutual-funds__filter
        block filter
      .ocbc-col-xl-8.ocbc-col-sm-12.ocbc-mutual-funds__list
        // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-achievement__container di hide dengan fungsi jQuery $('.ocbc-mutual-funds__container').hide(timing) atau $('.ocbc-mutual-funds__container').fadeOut(timing) atau fungsi hide lainnya
        .ocbc-mutual-funds__container
          block list
          -
            data = {
              prevTo: '#',
              nextTo: '#',
              list: [
                {
                  to: '#',
                  text: '1'
                },
                {
                  to: '#',
                  text: '2'
                },
                {
                  to: '#',
                  text: '3'
                },
                {
                  to: '#',
                  text: '3dot'
                },
                {
                  to: '#',
                  text: '25'
                }
              ]
            }
          include ../components/pagination.pug
        -
          data = {
            icon: 'no-result.svg',
            text: 'Halaman yang Anda Cari Tidak Tersedia'
          }
        include ../components/no-result.pug
