//-------------------------------------------------------------------------------
  @name: Layout - One Mobile Scroll
  @description: Layout - One Mobile Scroll
  -------------------------------------------------------------------------------//

//ocbc-one-mobile-scroll
//- .ocbc-one-mobile-scroll
.ocbc-one-mobile-scroll.js-one-mobile-scroll
  //ocbc-one-mobile-scroll__section--1
  .ocbc-one-mobile-scroll__section.ocbc-one-mobile-scroll__section--1
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-one-mobile-scroll__content
            .ocbc-one-mobile-scroll__phone(data-center-bottom='opacity:0;top:65%;', data-bottom-top='opacity:0;top:45%;', data-bottom='opacity:1;top:55%;', data-center-top='opacity:1;top:55%;', data-anchor-target='.ocbc-one-mobile-scroll')
              .ocbc-one-mobile-scroll__phone__frame
              .ocbc-one-mobile-scroll__phone__circle
                .ocbc-one-mobile-scroll__phone__circle__item(data-top='width:232px;height:232px;top:-20px;left:-78px;', data-center='width:136px;height:136px;top:44px;left:-162px;', data-bottom='width:232px;height:232px;top:132px;left:-148px;', data-anchor-target='.ocbc-one-mobile-scroll')
                .ocbc-one-mobile-scroll__phone__circle__item(data-top='width:72px;height:72px;top:362px;left:-172px;', data-center='width:210px;height:210px;top:336px;left:-76px;', data-bottom='width:72px;height:72px;top:386px;left:238px;', data-anchor-target='.ocbc-one-mobile-scroll')
                .ocbc-one-mobile-scroll__phone__circle__item(data-top='width:162px;height:162px;top:272px;left:172px;', data-center='width:114px;height:114px;top:60px;left:184px;', data-bottom='width:162px;height:162px;top:-44px;left:148px;', data-anchor-target='.ocbc-one-mobile-scroll')
              .ocbc-one-mobile-scroll__phone__img-wrapper
                ='\n'
                img.ocbc-one-mobile-scroll__phone__img(src='img/dummy/page/one-mobile/screen-1.png', alt='Phone Screen', data-center='opacity:1;', data-center-bottom='opacity:0;', data-center-top='opacity:0;', data-anchor-target='.ocbc-one-mobile-scroll__section--1')/
                ='\n'
                img.ocbc-one-mobile-scroll__phone__img(src='img/dummy/page/one-mobile/screen-2.png', alt='Phone Screen', data-center='opacity:1;', data-center-bottom='opacity:0;', data-center-top='opacity:0;', data-anchor-target='.ocbc-one-mobile-scroll__section--2')/
                ='\n'
                img.ocbc-one-mobile-scroll__phone__img(src='img/dummy/page/one-mobile/screen-3.png', alt='Phone Screen', data-center='opacity:1;', data-center-bottom='opacity:0;', data-center-top='opacity:0;', data-anchor-target='.ocbc-one-mobile-scroll__section--3')/
                |!{''}
                |
            .ocbc-one-mobile-scroll__txt(data-center='opacity:1;', data-center-bottom='opacity:0;', data-center-top='opacity:0;', data-anchor-target='.ocbc-one-mobile-scroll__section--1')
              h2.ocbc-one-mobile-scroll__title
                | Optimalkan <span class='ocbc-one-mobile-scroll__title__primary'>Investasi</span>
              p.ocbc-one-mobile-scroll__desc
                | Lihat analisa kinerja portfolio investasi yang dimiliki secara detail dengan tampilan yang mudah dipahami.
  //ocbc-one-mobile-scroll__section--2
  .ocbc-one-mobile-scroll__section.ocbc-one-mobile-scroll__section--2
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-one-mobile-scroll__content
            .ocbc-one-mobile-scroll__phone
              .ocbc-one-mobile-scroll__phone__frame
              .ocbc-one-mobile-scroll__phone__circle
                .ocbc-one-mobile-scroll__phone__circle__item
                .ocbc-one-mobile-scroll__phone__circle__item
                .ocbc-one-mobile-scroll__phone__circle__item
              .ocbc-one-mobile-scroll__phone__img-wrapper
                ='\n'
                img.ocbc-one-mobile-scroll__phone__img(src='img/dummy/page/one-mobile/screen-2.png', alt='Phone Screen')/
                |!{''}
                |
            .ocbc-one-mobile-scroll__txt(data-center='opacity:1;', data-center-bottom='opacity:0;', data-center-top='opacity:0;', data-anchor-target='.ocbc-one-mobile-scroll__section--2')
              h2.ocbc-one-mobile-scroll__title
                | <span class='ocbc-one-mobile-scroll__title__primary'>1 Tap untuk</span> Semua Transaksi
              p.ocbc-one-mobile-scroll__desc
                | Lakukan transfer, pembelian, dan pembayaran ke beberapa rekening sekaligus hanya dengan satu kali transaksi.
  //ocbc-one-mobile-scroll__section--3
  .ocbc-one-mobile-scroll__section.ocbc-one-mobile-scroll__section--3
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-one-mobile-scroll__content
            .ocbc-one-mobile-scroll__phone
              .ocbc-one-mobile-scroll__phone__frame
              .ocbc-one-mobile-scroll__phone__circle
                .ocbc-one-mobile-scroll__phone__circle__item
                .ocbc-one-mobile-scroll__phone__circle__item
                .ocbc-one-mobile-scroll__phone__circle__item
              .ocbc-one-mobile-scroll__phone__img-wrapper
                ='\n'
                img.ocbc-one-mobile-scroll__phone__img(src='img/dummy/page/one-mobile/screen-3.png', alt='Phone Screen')/
                |!{''}
                |
            .ocbc-one-mobile-scroll__txt(data-center='opacity:1;', data-center-bottom='opacity:0;', data-center-top='opacity:0;', data-anchor-target='.ocbc-one-mobile-scroll__section--3')
              h2.ocbc-one-mobile-scroll__title
                | Mudahnya <span class='ocbc-one-mobile-scroll__title__primary'>Transaksi Valas</span>
              p.ocbc-one-mobile-scroll__desc
                | Transaksi dan menabung valas dengan 12 pilihan mata uang tanpa harus ke bank dan nilai tukar yang kompetitif.
