//-------------------------------------------------------------------------------
  @name: Layout - Internet Banking How To
  @description: Layout - Internet Banking How To
  -------------------------------------------------------------------------------//

extends feature.pug

block head
  - modifier = 'digital-channel';

block content
  // ocbc-how-to
  .ocbc-how-to
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-how-to__content
            //ocbc-how-to__step
            .ocbc-how-to__step
              h3.ocbc-how-to__step__title
                | Temukan cara mudah:
              //ocbc-how-to__filter
              .ocbc-how-to__filter.js-how-to-filter
                -
                  noContainer = true;
                  data = [
                    {
                      val: 'buka-tabungan',
                      text: 'Buka Tabungan Online'
                    },
                    {
                      val: 'pembayaran-topup',
                      text: 'Atur Pembayaran & Top Up',
                    },
                    {
                      val: 'mulai-investasi',
                      text: 'Mulai Investasi'
                    },
                    {
                      val: 'ajukan-pinjaman',
                      text: 'Ajukan Pinjaman'
                    },
                    {
                      val: 'atur-keamanan',
                      text: 'Mudahnya Atur Keamanan'
                    },
                    {
                      val: 'mulai-nabung',
                      text: 'Mulai Nabung'
                    }
                  ];
                include filter-card.pug

                //ocbc-how-to__sub-filter
                .ocbc-how-to__sub-filter
                  //ocbc-how-to__sub-filter__pane
                  .ocbc-how-to__sub-filter__pane(data-category='pembayaran-topup')
                    ul.ocbc-how-to__sub-filter__list
                      li.ocbc-how-to__sub-filter__item.ocbc-how-to__sub-filter__item--active(data-subcategory='top-up-wallet')
                        | Top Up e-wallet
                      li.ocbc-how-to__sub-filter__item(data-subcategory='bayar-tokopedia')
                        | Bayar via Tokopedia
                      li.ocbc-how-to__sub-filter__item(data-subcategory='transfer-sosmed')
                        | Transfer via Sosmed
                      li.ocbc-how-to__sub-filter__item(data-subcategory='atur-limit')
                        | Atur Limit
                  //ocbc-how-to__sub-filter__pane
                  .ocbc-how-to__sub-filter__pane(data-category='ajukan-pinjaman')
                    ul.ocbc-how-to__sub-filter__list
                      li.ocbc-how-to__sub-filter__item(data-subcategory='pengajuan-kartu-kredit')
                        | Pengajuan Kartu Kredit
                      li.ocbc-how-to__sub-filter__item(data-subcategory='on-cash-loan')
                        | On Cash Loan (KTA)
                      li.ocbc-how-to__sub-filter__item(data-subcategory='pengajuan-kpr-kpm')
                        | Pengajuan KPR/KPM
                      li.ocbc-how-to__sub-filter__item(data-subcategory='atur-limit-online-debit')
                        | Atur Limit Online Debit
                  //ocbc-how-to__sub-filter__pane
                  .ocbc-how-to__sub-filter__pane(data-category='atur-keamanan')
                    ul.ocbc-how-to__sub-filter__list
                      li.ocbc-how-to__sub-filter__item(data-subcategory='block-unblock-kartu-debit')
                        | Block/Unblock Kartu Debit
                      li.ocbc-how-to__sub-filter__item(data-subcategory='buka-rekening-investasi')
                        | Buka Rekening Investasi dengan Software Token
                  //ocbc-how-to__sub-filter__pane
                  .ocbc-how-to__sub-filter__pane(data-category='mulai-nabung')
                    ul.ocbc-how-to__sub-filter__list
                      li.ocbc-how-to__sub-filter__item(data-subcategory='buka-rekening-via-one-mobile')
                        | Buka Rekening via ONe Mobile
                      li.ocbc-how-to__sub-filter__item(data-subcategory='jual-beli-valas')
                        | Jual Beli Valas

            = '\n\n'
            //ocbc-how-to__frame-wrapper
            .ocbc-how-to__frame-wrapper
              = '\n'
              img.ocbc-how-to__frame(src='img/bg/iphone-x-frame.png', alt='iPhone Frame')/
              |!{''}
              |
            = '\n\n'
            //ocbc-how-to__carousel
            .ocbc-how-to__carousel.js-how-to-carousel
              include ../components/one-mobile-how-to.pug
