//-------------------------------------------------------------------------------
  @name: Layout - Popup General
  @description: Layout - Popup General
  -------------------------------------------------------------------------------//

block head
//ocbc-popup-general
-
  className = (fullContent ? classPopup + ' ocbc-popup-general--full-content' : classPopup);
.ocbc-popup-general(class=className)
  ='\n'
  button.ocbc-popup-general__close.js-hide-popup-general(type='button')
    ='\n'
    i.ocbc-fi.ocbc-fi-exit
    |!{''}
    |
  |!{''}
  |
  .ocbc-container
    .ocbc-popup-general__wrapper
      .ocbc-popup-general__content
        block content
