//-------------------------------------------------------------------------------
  @name: Layout - Press Conference
  @description: Layout - Press Conference
  -------------------------------------------------------------------------------//

//- ocbc-press-conference
.ocbc-press-conference
  .ocbc-container
    .ocbc-row
      //ocbc-press-conference__filter
      .ocbc-col-xl-4.ocbc-col-sm-12.ocbc-press-conference__filter
          block filter
      //ocbc-press-conference__list
      .ocbc-col-xl-8.ocbc-col-sm-12.ocbc-press-conference__list
        // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-press-conference__container di hide dengan fungsi jQuery $('.ocbc-press-conference__container').hide(timing) atau $('.ocbc-press-conference__container').fadeOut(timing) atau fungsi hide lainnya
        .ocbc-press-conference__container
          .ocbc-press-conference__wrapper
            block list
          -
            data = {
              prevTo: '#',
              nextTo: '#',
              list: [
                {
                  text: '1',
                  to: '#'
                },
                {
                  text: '2',
                  to: '#'
                },
                {
                  text: '3',
                  to: '#'
                },
                {
                  text: '4',
                  to: '#'
                }
              ]
            }
          include ../components/pagination.pug
        -
          data = {
            icon: 'no-result.svg',
            text: 'Halaman yang Anda Cari Tidak Tersedia'
          }
        include ../components/no-result.pug
|!{''}
|
