//-------------------------------------------------------------------------------
  @name: Layout - Product Detail Fragment
  @description: Layout - Product Detail Fragment
  -------------------------------------------------------------------------------//

- 
  parentClass = '';
  modifier = '';
  parentClass = data.block ? 'ocbc-prod-detail-fragments__block' : parentClass;
  layoutClass = 'ocbc-col-xl-3';
  layoutClass = data.layout && data.layout == 3 ? 'ocbc-col-xl-4' : layoutClass;
  layoutClass = data.block ? 'ocbc-col-xl-12' : layoutClass;
  isBlock = data.block ? data.block : '';
  modifier = data.modifierClass ? ' ocbc-prod-detail-fragments--'+data.modifierClass : '';
  
//ocbc-prod-detail-fragments
.ocbc-prod-detail-fragments(class=parentClass+modifier)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        if data.title
          if data.isLarge
            h3.ocbc-prod-detail-fragment__more.ocbc-prod-detail-fragment__more--large
              | !{data.title}
          else
            h4.ocbc-prod-detail-fragment__more
              | !{data.title}
        //ocbc-prod-detail-fragments__list
        .ocbc-row.ocbc-prod-detail-fragments__list
          each val in data.list
            .ocbc-col-md-12.ocbc-prod-detail-fragments__item(class=layoutClass)
              //- define data
              - data = val;
              include ../components/product-detail-fragment.pug
            //- if isBlock
            //-   .ocbc-clearfix.ocbc-prod-detail-fragments__clear
