//-------------------------------------------------------------------------------
  @name: Layout - Product Services
  @description: Layout - Product Services
  -------------------------------------------------------------------------------//

//ocbc-product-services-container
.ocbc-product-services-container
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-product-services-container__content
          h3.ocbc-product-services-container__title
            | !{data.title}
          //ocbc-product-services__list
          .ocbc-product-services__list
            each val in data.card
              .ocbc-product-services__item
                //- define data
                - data = val;
                include ../components/product-services.pug
