//-------------------------------------------------------------------------------
  @name: Layout - Product Category Fragment
  @description: Layout - Product Category Fragment
  -------------------------------------------------------------------------------//

//ocbc-prod-category-fragments-container
.ocbc-prod-category-fragments-container
  .ocbc-container
    //ocbc-prod-category-fragments__list
    .ocbc-row.ocbc-prod-category-fragments__list
      each val in data
        .ocbc-col-xl-4.ocbc-col-md-12.ocbc-prod-category-fragments__item
          //- define data
          - data = val;
          include ../components/product-category-fragment.pug
