//-------------------------------------------------------------------------------
  @name: Layout - Promo Banner
  @description: Layout - Promo Banner
  -------------------------------------------------------------------------------//

//ocbc-promo-banner
.ocbc-promo-banner.owl-carousel.js-promo-banner(class=(bannerSection ? 'ocbc-promo-banner--'+bannerSection : ''))
  //- define data
  - data = data;
  include ../components/promo-banner.pug
