//-------------------------------------------------------------------------------
  @name: Layout - Rachel How To
  @description: Layout - Rachel How To
  -------------------------------------------------------------------------------//

extends feature.pug

block content
  // ocbc-rachel-how-to
  .ocbc-rachel-how-to
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          .ocbc-rachel-how-to__content
            //ocbc-rachel-how-to__step
            .ocbc-rachel-how-to__step
              h3.ocbc-rachel-how-to__step__title
                | Gimana Cara Mulai Investasi yang benar?
              ul.ocbc-rachel-how-to__step__list.js-rachel-how-to-step
                li.ocbc-rachel-how-to__step__item.ocbc-rachel-how-to__step__item--active
                  | Tentuin dulu life goalsnya
                li.ocbc-rachel-how-to__step__item
                  | Cari tau risk profile kamu
                li.ocbc-rachel-how-to__step__item
                  | Pilih instrumen investasi yang cocok buat kamu
                li.ocbc-rachel-how-to__step__item
                  | Mulai berinvestasi
                li.ocbc-rachel-how-to__step__item
                  | Pemahaman mengenai investasi
            //ocbc-rachel-how-to__frame-wrapper
            .ocbc-rachel-how-to__frame-wrapper
              = "\n"
              img.ocbc-rachel-how-to__frame(src='img/bg/iphone-frame.png', alt='iPhone Frame')/
              |!{''}
              |
            .ocbc-rachel-how-to__carousel.js-rachel-how-to-carousel
              include ../components/rachel-how-to.pug
