//-------------------------------------------------------------------------------
  @name: Layout - Regular Content
  @description: Layout - Regular Content
  -------------------------------------------------------------------------------//

//- ocbc-reg-content
block head
.ocbc-reg-content
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-reg-content__body
          if bodyMax
            .ocbc-reg-content__max-w
              block body
          else
            block body
