//-------------------------------------------------------------------------------
  @name: Layout - Result List
  @description: Layout - Result List
  -------------------------------------------------------------------------------//

.ocbc-result-list-container
  // secara default display: block, nanti di trigger ketika data tidak ada, block class tag ocbc-result-list-wrapper di hide dengan fungsi jQuery $('.ocbc-result-list-wrapper').hide(timing) atau $('.ocbc-result-list-wrapper').fadeOut(timing) atau fungsi hide lainnya
  .ocbc-result-list-wrapper
    // secara default display: none, nanti di trigger ketika user direct langsung ke page hasil pencarian di show dengan class ocbc-result-list__title-quick-links--show atau dengan jQuery $('.ocbc-result-list__title-quick-links').show(timing) atau $('.ocbc-result-list__title-quick-links').fadeIn(timing) atau fungsi show lainnya
    h4.ocbc-result-list__title-quick-links
      | Tautan Cepat
    p.ocbc-result-list__filtered
      | Semua Hasil (52)
    .ocbc-result-list
      each val in data
        //- define data
        - data = val;
        include ../components/result-list.pug
    -
      data = {
        prevTo: '#',
        nextTo: '#',
        list: [
          {
            to: '#',
            text: '1'
          },
          {
            to: '#',
            text: '2'
          },
          {
            to: '#',
            text: '3'
          },
          {
            to: '#',
            text: '3dot'
          },
          {
            to: '#',
            text: '25'
          }
        ]
      }
    include ../components/pagination.pug

  -
    data = {
      icon: 'no-result.svg',
      text: 'Halaman yang Anda Cari Tidak Tersedia'
    }

  include ../components/no-result.pug
