//-------------------------------------------------------------------------------
  @name: Layout - Schedule
  @description: Layout - Schedule
  -------------------------------------------------------------------------------//

- layoutClass = className ? 'ocbc-schedule--'+className : '';

//ocbc-schedule
.ocbc-schedule__container(class=layoutClass)
  each val in data
    - data = val;
    include ../components/schedule.pug