//-------------------------------------------------------------------------------
  @name: Layout - Search Result
  @description: Layout - Search Result
  -------------------------------------------------------------------------------//

//ocbc-search-result
.ocbc-search-result
  .ocbc-container
    .ocbc-row
      //ocbc-search-result__filter
      .ocbc-col-xl-4.ocbc-col-sm-12.ocbc-search-result__filter
        block filter

      //ocbc-search-result__result
      .ocbc-col-xl-8.ocbc-col-sm-12.ocbc-search-result__result
        block result
