//-------------------------------------------------------------------------------
  @name: Layout - Slider Testimonial
  @description: Layout - Slider Testimonial
  -------------------------------------------------------------------------------//

-
  sliderClass = data.reverse ? 'ocbc-slider-testimonial--reverse' : '';
  sliderClass = data.modifier ? ' ocbc-slider-testimonial--'+ data.modifier : sliderClass;

// ocbc-slider-testimonial
.ocbc-slider-testimonial.owl-carousel.js-slider-testimonial(class=sliderClass)
  - data = data.list
  include ../components/slider-testimonial.pug
