//-------------------------------------------------------------------------------
  @name: Layout - Success
  @description: Layout - Success
  -------------------------------------------------------------------------------//

='\n\n'
//ocbc-success
.ocbc-success
  .ocbc-success__img-wrapper
    .ocbc-success__img-bg.ocbc-success__img-bg--d(style='background-image: url(img/dummy/banner/success/'+data.image.desktop+')')
    .ocbc-success__img-bg.ocbc-success__img-bg--m(style='background-image: url(img/dummy/banner/success/'+data.image.mobile+')')
  //ocbc-success__v-align
  .ocbc-success__v-align
    .ocbc-success__container
      .ocbc-container
        .ocbc-row
          .ocbc-col-xl-12
            .ocbc-success__icon-wrapper
              ='\n'
              img.ocbc-success__icon(src=`img/icon/${data.icon.src}`, alt=data.icon.alt)/
              |!{''}
              |
            h2.ocbc-success__sub
              | !{data.subTitle}
            p.ocbc-success__desc
              | !{data.description}
            .ocbc-success__btn-wrapper
              each val, index in data.button
                ='\n'
                a.ocbc-btn(class=val.class, href=val.to)
                  | !{val.text}
                |!{''}
                |
