//-------------------------------------------------------------------------------
  @name: Layout - Table Comparison
  @description: Layout - Table Comparison
  -------------------------------------------------------------------------------//

extends ../components/table-comparison.pug

block tableHead
  -
    tableClass = data.tableClass;
    title = data.title;

block tableBody
  if data.category
    each val in data.category
      .ocbc-tbl-comp__row(data-title=val.product)
        .ocbc-tbl-comp__data
          | !{val.text}

block hiddenData
  if data.list
    each val in data.list
      .ocbc-tbl-comp__src(data-product=val.product data-slug=val.slug)
        if val.textList
          each list in val.textList
            ='\n'
            strong.ocbc-tbl-comp__bold
              | !{list.title}
            p.ocbc-tbl-comp__p
              | !{list.content}
        else
          |
          | !{val.text}
        |!{''}
        |
