//-------------------------------------------------------------------------------
  @name: Layout - Table Result
  @description: Layout - Table Result
  -------------------------------------------------------------------------------//

block tableTitle
//ocbc-table-result
.ocbc-table-result(class=(modifier ? 'ocbc-table-result--'+modifier : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-table-result__content
          //ocbc-table-result__head
          .ocbc-table-result__head
            .ocbc-table-result__head__left
              h3.ocbc-table-result__title
                | !{title}
            .ocbc-table-result__head__right
              block btnOptions
          //ocbc-table-result__body
          .ocbc-table-result__body
            block table

