//-------------------------------------------------------------------------------
  @name: Layout - Table Result Share
  @description: Layout - Table Result Share
  -------------------------------------------------------------------------------//

//ocbc-table-result
.ocbc-table-result.ocbc-table-result--share
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-table-result__content
          //ocbc-table-result__body
          .ocbc-table-result__body
            block table
