//-------------------------------------------------------------------------------
  @name: Layout - Tab X Full
  @description: Layout - Tab X Full
  -------------------------------------------------------------------------------//

block variation
-
  tabsClass = tabsControllBorder ? 'ocbc-tabs--border-controll' : '';
  tabsClass = tabsCalcutator ? tabsClass + ' ocbc-tabs--calc' : tabsClass;

//ocbc-tabs
.ocbc-tabs.ocbc-tabs--horizonal(class=tabsClass)
  //ocbc-tabs__controll-container
  .ocbc-tabs__controll-container
    .ocbc-container
      .ocbc-row
        .ocbc-col-xl-12
          //ocbc-tabs__controll-wrapper
          .ocbc-tabs__controll-wrapper(class=wrapper)
            block tabControll
            //- controll
            - data = dataControll;
            include ../components/tabs-controll.pug

            if data.button
              //ocbc-tabs__controll__btn
              .ocbc-tabs__controll__btn
                ='\n'
                //value href akan diisi otomatis berdasarkan tab yang active (value dari data-url)
                ='\n'
                a.ocbc-btn.ocbc-btn--secondary(href=data.button.to, class=data.button.modifier)
                  | !{data.button.text}
                |!{''}
                |

  //ocbc-tabs__content
  .ocbc-tabs__content
    block tabContent
