//-------------------------------------------------------------------------------
  @name: Layout - Text Column
  @description: Layout - Text Column
  -------------------------------------------------------------------------------//

//ocbc-txt-col
.ocbc-txt-col-container(class=(data.modifier ? 'ocbc-txt-col-container--' + data.modifier : ''))
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        .ocbc-txt-col__content
          .ocbc-txt-col__list
            each val in data.text
              .ocbc-txt-col__item
                - data = val;
                include ../components/text-column.pug

                if val.button.to == '.popup-privileges-medical-check-up'
                  //-  Popup Privileges MCU
                  - sitePage = val.page
                  include ../components/popup-privileges-medical-check-up.pug

                if val.button.to == '.popup-privileges-airport-pickup'
                  include ../components/popup-privileges-airport-pickup.pug

                if val.button.to == '.popup-privileges-promo'
                  //-  Popup Privileges Promo
                  - sitePage = val.page
                  include ../components/popup-privileges-promo.pug
