//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KMG OCBC NISP
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KMG OCBC NISP
  -------------------------------------------------------------------------------//

include table/kmg-ocbc-nisp.pug
