//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KPM OCBC NISP
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KPM OCBC NISP
  -------------------------------------------------------------------------------//

include table/kpm-ocbc-nisp.pug
