//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KPR OCBC NISP
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KPR OCBC NISP
  -------------------------------------------------------------------------------//

include table/kpr-ocbc-nisp.pug
