//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KPR Kendali
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - KPR Kendali
  -------------------------------------------------------------------------------//

include table/kpr-kendali.pug
