//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Kredit Peminjaman
  @description: Bunga & Biaya - Bunga & Biaya Individu - Vertical Tab - Kredit Peminjaman
  -------------------------------------------------------------------------------//

include table/kredit-peminjaman.pug
