//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Informasi Lelang - Informasi Kontak
  @description: Tentang Kami - Informasi - Tab - Informasi Lelang - Syarat dan Ketentuan
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Bagi para peminat yang ingin menghubungi via telefon
.ocbc-vt-content__body
  p
    strong
      | 021 255 33 888
      br/
      | Asset Recovery Management
  p
    | PT. Bank OCBC NISP. Tbk, Jl. Prof. Dr. Satrio Kav. 25, Jakarta - 12940
