//-------------------------------------------------------------------------------
  @name: Tentang Kami - Informasi - Tab - Informasi Lelang - Syarat dan Ketentuan
  @description: Tentang Kami - Informasi - Tab - Informasi Lelang - Syarat dan Ketentuan
  -------------------------------------------------------------------------------//

h4.ocbc-vt-content__title
  | Syarat & ketentuan yang perlu diketahui
.ocbc-vt-content__body
  ol
    li
      | Menyatakan bahwa mereka bukan shell bank (bank yang tidak memiliki kehadiran secara fisik di negara tempat bank tersebut didirikan dan memperoleh izin, serta tidak berafiliasi dengan kelompok usaha jasa keuangan yang menjadi subjek pengawasan terkonsolidasi efektif).
    li
      | Harga Limit akan diumumkan secara terbuka yang menjadi satu kesatuan dengan pengumuman lelang.
    li
      | Semua pihak peminat dapat menjadi peserta lelang dengan memenuhi syarat-syarat sebagai berikut:
      ul
        li
          | Menyetor uang jaminan penawaran ke rekening KPKNL melalui Bank yang ditunjuk dalam pengumuman lelang sebesar minimal 20%.
        li
          | Apabila lelang dilakukan melalui lelang email maka penyetoran uang jaminan lelang ditujukan ke nomor Virtual Account yang akan ditentukan oleh KPKNL.
        li
          | 1 (satu) penyetoran uang jaminan penawaran lelang hanya berlaku untuk 1 (satu) barang atau paket barang yang ditawar.
        li
          | Syarat-syarat lainnya (apabila ada) akan diinformasikan dalam pengumuman lelang.
    li
      | Barang yang dilelang dalam kondisi apa adanya (as it is)
    li
      | Lelang yang akan dilaksanakan dapat dibatalkan sewaktu-waktu berdasarkan suatu putusan / penetapan lebaga peradilam, putusan pejabat lelang atau atas permintaan penjual.
    li
      | Dalam hal terjadi pembatalan lelang sesuai butir 5 diatas, maka uang jaminan penawaran akan dikembalikan kepada peserta dan peserta tidak berhak menuntut ganti rugi apapun.
    li
      | Uang jaminan penawaran lelang uang telah disetorkan, dikembalikan seluruhnya tanpa potongan kepada peserta yang tidak disahkan sebagai pembeli.
    li
      | Pembeli harus melunasi harga lelang secara tunai / cash atau cek / giro selambat-lambatnya 5 (lima) hari kerja setelah tanggal pelaksanaan lelang.
    li
      | Pembayaran dengan cek / giro dinyatakan sah apabila dana telah efektif diterima Bank sebagai tanda pembayaran pemenang akan diberikan kwitansi atau tanda bukti pembayaran harga lelang oleh bendahara penerimaan KPKNL / pejabat lelang kelas I / balai lelang.
    li
      | Pembeli yang tidak melunasi harga lelang sebagaimana ditentukan pada butir 8 dinyatakan wanprestasi, dibatalkan pengesahannya sebagai pembeli, dan tidak diperbolehkan mengikuti lelang diseluruh wilayah Indonesia dalam waktu 6 (enam) bukan. Uang jaminan penawaran lelang tidak dapat diambil kembali dan disetorkan seluruhnya ke Kas Negara.
