//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya SME - Tab - Layanan
  @description: Bunga & Biaya - Bunga & Biaya SME - Tab - Layanan
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Cash Management',
      subcategory: [
        {
          text: 'Remittance',
          target: 'remittance'
        }, 
        {
          text: 'Bulk Payment',
          target: 'bulk-payment'
        },
        {
          text: 'Layanan Pembayaran Pajak - MPN G2',
          target: 'layanan-pembayaran-pajak'
        },
        {
          text: 'Virtual Account',
          target: 'virtual-account'
        },
        {
          text: 'Cash Pick Up & Delivery Service',
          target: 'cash-pick-up-delivery'
        }
      ]
    },
    {
      text: 'Trade Finance',
      subcategory: [
        {
          text: 'Letter of Credit',
          target: 'letter-of-credit'
        },
        {
          text: 'Surat Kredit Berdokumen Dalam Negeri (SKBDN)',
          target: 'skbdn'
        },
        {
          text: 'Inward Documentary Collection (Inkaso Masuk)',
          target: 'inkaso-masuk'
        },
        {
          text: 'Advise LC',
          target: 'advise-lc'
        },
        {
          text: 'Advise SKBDN',
          target: 'advise-skbdn'
        },
        {
          text: 'Outward Documentary Collection',
          target: 'outward-documentary-collection'
        },
        {
          text: 'Local Outward Documentary Collection (Inkaso Keluar)',
          target: 'inkaso-keluar'
        }
      ]
    },
    {
      text: 'Supply Chain ',
      subcategory: [
        {
          text: 'Supply Chain Solution Financing Services for Distributors and Suppliers',
          target: 'supply-chain-solution'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // Cash Management
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='remittance')
          include vtc-layanan/remittance.pug
        .ocbc-vt-content(data-pane='bulk-payment')
          include vtc-layanan/bulk-payment.pug
        .ocbc-vt-content(data-pane='layanan-pembayaran-pajak')
          include vtc-layanan/layanan-pembayaran-pajak.pug
        .ocbc-vt-content(data-pane='virtual-account')
          include vtc-layanan/virtual-account.pug
        .ocbc-vt-content(data-pane='cash-pick-up-delivery')
          include vtc-layanan/cash-pick-up-delivery.pug
        // Trade Finance
        .ocbc-vt-content(data-pane='letter-of-credit')
          include vtc-layanan/letter-of-credit.pug
        .ocbc-vt-content(data-pane='skbdn')
          include vtc-layanan/skbdn.pug
        .ocbc-vt-content(data-pane='inkaso-masuk')
          include vtc-layanan/inkaso-masuk.pug
        .ocbc-vt-content(data-pane='advise-lc')
          include vtc-layanan/advise-lc.pug
        .ocbc-vt-content(data-pane='advise-skbdn')
          include vtc-layanan/advise-skbdn.pug
        .ocbc-vt-content(data-pane='outward-documentary-collection')
          include vtc-layanan/outward-documentary-collection.pug
        .ocbc-vt-content(data-pane='inkaso-keluar')
          include vtc-layanan/inkaso-keluar.pug
        // Trade Finance
        .ocbc-vt-content(data-pane='supply-chain-solution')
          include vtc-layanan/supply-chain-solution.pug
