//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya SME - Tab - Pinjaman
  @description: Bunga & Biaya - Bunga & Biaya SME - Tab - Pinjaman
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Pinjaman',
      subcategory: [
        {
          text: 'Kredit Modal Kerja',
          target: 'kredit-modal-kerja'
        },
        {
          text: 'Kredit Investigasi',
          target: 'kredit-investigasi'
        },
        {
          text: 'Kredit Program',
          target: 'kredit-program'
        }
      ] 
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='kredit-modal-kerja')
          include vtc-pinjaman/kredit-modal-kerja.pug
        .ocbc-vt-content(data-pane='kredit-investigasi')
          include vtc-pinjaman/kredit-investigasi.pug
        .ocbc-vt-content(data-pane='kredit-program')
          include vtc-pinjaman/kredit-program.pug
          