//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya SME - Tab - Simpanan & Investasi
  @description: Bunga & Biaya - Bunga & Biaya SME - Tab - Simpanan & Investasi
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Giro',
      subcategory: [
        {
          text: 'Business Smart',
          target: 'business-smart'
        },
        {
          text: 'Business Signature',
          target: 'business-signature'
        },
        {
          text: 'Giro Umum',
          target: 'giro-umum'
        },
        {
          text: 'Multicurrency',
          target: 'multicurrency'
        }
      ]
    },
    {
      text: 'Deposito',
      subcategory: [
        {
          text: 'Deposito Berjangka',
          target: 'deposito-berjangka'
        },
        {
          text: 'Deposito Devisa Hasil Ekspor',
          target: 'deposito-ekspor'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='business-smart')
          include vtc-simpanan-investasi/business-smart.pug
        .ocbc-vt-content(data-pane='business-signature')
          include vtc-simpanan-investasi/business-signature.pug
        .ocbc-vt-content(data-pane='giro-umum')
          include vtc-simpanan-investasi/giro-umum.pug
        .ocbc-vt-content(data-pane='multicurrency')
          include vtc-simpanan-investasi/multicurrency.pug
        .ocbc-vt-content(data-pane='deposito-berjangka')
          include vtc-simpanan-investasi/deposito-berjangka.pug
        .ocbc-vt-content(data-pane='deposito-ekspor')
          include vtc-simpanan-investasi/deposito-devisa-hasil-ekspor.pug
