//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya SME - Tab - Treasury
  @description: Bunga & Biaya - Bunga & Biaya SME - Tab - Treasury
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'FX & FX Derivative',
      subcategory: [
        {
          text: 'FX Today',
          target: 'fx-today'
        },
        {
          text: 'Tomorrow dan Spot',
          target: 'tomorrow-spot'
        },
        {
          text: 'FX Forward',
          target: 'fx-forward'
        },
        {
          text: 'Swap dan Option',
          target: 'swap-option'
        }, 
        {
          text: 'FX Option Call Spread',
          target: 'fx-call-spread'
        }
      ]
    },
    {
      text: 'Interest Rate Derivative',
      subcategory: [
        {
          text: 'Cross Currency Swap',
          target: 'cross-currency-swap'
        },
        {
          text: 'Interest Rate Swap',
          target: 'interest-rate-swap'
        }
      ]
    },
    {
      text: 'Structured Product',
      subcategory: [
        {
          text: 'Dual Currency Returns',
          target: 'dual-currency-returns'
        },
        {
          text: 'Forward Link Deposit',
          target: 'forward-link-deposit'
        },
        {
          text: 'Principal Protected Deposit',
          target: 'principal-protected-deposit'
        }
      ]
    },
    {
      text: 'Debt Securities',
      subcategory: [
        {
          text: 'Obligasi Pemerintah',
          target: 'obligasi-pemerintah'
        },
        {
          text: 'Obligasi Korporasi',
          target: 'obligasi-korporasi'
        }
      ]
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        // FX & FX Derivative
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='fx-today')
          include vtc-treasury/fx-today.pug
        .ocbc-vt-content(data-pane='tomorrow-spot')
          include vtc-treasury/tomorrow-spot.pug
        .ocbc-vt-content(data-pane='fx-forward')
          include vtc-treasury/fx-forward.pug
        .ocbc-vt-content(data-pane='swap-option')
          include vtc-treasury/swap-option.pug
        .ocbc-vt-content(data-pane='fx-call-spread')
          include vtc-treasury/fx-call-spread.pug
        // Interest Rate Derivative
        .ocbc-vt-content(data-pane='cross-currency-swap')
          include vtc-treasury/cross-currency-swap.pug        
        .ocbc-vt-content(data-pane='interest-rate-swap')
          include vtc-treasury/interest-rate-swap.pug        
        // Structured Product
        .ocbc-vt-content(data-pane='dual-currency-returns')
          include vtc-treasury/dual-currency-returns.pug   
        .ocbc-vt-content(data-pane='forward-link-deposit')
          include vtc-treasury/forward-link-deposit.pug   
        .ocbc-vt-content(data-pane='principal-protected-deposit')
          include vtc-treasury/principal-protected-deposit.pug   
        // Debt Securities
        .ocbc-vt-content(data-pane='obligasi-pemerintah')
          include vtc-treasury/obligasi-pemerintah.pug        
        .ocbc-vt-content(data-pane='obligasi-korporasi')
          include vtc-treasury/obligasi-korporasi.pug