//-------------------------------------------------------------------------------
  @name: Result Share Pensiun - Index
  @description: Result Share Pensiun - Index
  -------------------------------------------------------------------------------//

extends ../../layout/calculator-share.pug

block head
  -
    head = {
      title: 'Hasil Perhitungan Anda',
      note: 'Terima kasih telah meluangkan waktu untuk menyelesaikan kalkulator kami. Berdasarkan informasi yang Anda masukkan, hasil Anda diilustrasikan dalam tabel di bawah ini.'
    };
    calc = {
      title: 'Life Goals: Pensiun',
      date: 'Tanggal: 14/04/2020 13:07:19'
    }


block body
  //- Table
  include table.pug

  //- Product Category
  include card-product-category.pug

  //- Contact
  include contact.pug

  //- Disclaimer
  include disclaimer.pug
