//-------------------------------------------------------------------------------
  @name: Result Share Pensiun - Table
  @description: Result Share Pensiun - Table
  -------------------------------------------------------------------------------//

extends ../../layout/table-result-share.pug

block table
  -
    data = {
      table : [
        {
          description: 'Uang yang dapat dikumpulkan dalam waktu <strong>40 tahun</strong>',
          value: 'Rp34,452,752,296'
        }
      ]
    };

  include ../../components/table-result.pug

  -
    data = {
      title: 'Untuk mencapai Nominal Tersebut, Anda harus menyisihkan',
      table : [
        {
          description: 'Lump sum (uang yang dibayarkan sekaligus dalam satu waktu)',
          value: 'Rp1,419,363,287'
        },
        {
          borderTop: true,
          description: 'Atau Sisihkan selama 40 tahun',
          value: 'Rp9,868,999/bulan'
        }
      ],
      description: [
        'Per orang: (Termasuk US$3juta untuk layanan darurat di Amerika Serikat (mencakup kecelakaan secara penuh, penyakit hingga USD 25k, dan layanan rawat jalan darurat hingga US$500). Termasuk masuk  dan keluar pasien, jaminan uang kembali untuk perawatan kanker setiap hari.'
      ]
    }

  include ../../components/table-result.pug
