/* ==========================================================================
   OCBC Variable: Grid
   ========================================================================== */

$grid-columns: 12 !default;
$grid-gutter-width: 24px !default;
$grid-gutter-width-mobile: 16px !default;
$container-max-width: (1224px + $grid-gutter-width) !default;

// Prefix Column
$xl-prefix: "xl";
$lg-prefix: "lg";
$md-prefix: "md";
$sm-prefix: "sm";
$xs-prefix: "xs";
