/* ==========================================================================
   OCBC Variable: z-index
   ========================================================================== */

// Design System
$z-ds-splash-screen: 9;
$z-ds-nav: 8;
$z-ds-nav-header: 3;
$z-ds-nav-header-aleph: 3;
$z-ds-nav-content-before: 1;
$z-ds-nav-content-scrollover: 2;
$z-ds-nav-search-form: 2;
$z-ds-copied: 10;

// Website
// header
$z-header: 9;
$z-header-burger-menu: 2;
$z-header-search-btn: 2;
$z-header-search: 4;
$z-header-search-form-wrapper: 3;
$z-header-search-quick-links: 2;
$z-header-login: 2;
$z-header-login-after: 2;
$z-header-register: 2;
$z-header-lang: 2;
$z-header-top: 3;
$z-header-nav-link: 2;
$z-header-nav-dropdown: 1;
$z-header-nav-after: 2;
$z-header-side-menu: 2;
$z-header-side-menu-bg: 2;
$z-header-side-menu-scrollover: 3;
$z-header-mega-menu: 3;
$z-header-mega-menu-after: -1;
$z-header-contact-us: 2;

// Search
$z-search-btn: 2;
$z-search-list-after: 1;
$z-search-banner: 6;

// Filter Checkbox
$z-filter-checkbox-icon: 2;
$z-filter-checkbox-before: 2;
$z-filter-checkbox-input-before: 3;
$z-filter-checkbox-input-after: 4;
$z-filter-checkbox-input: 5;

// main-banner-presentation-needs
$z-main-banner: 1;
$z-needs-container: 1;

// overlay
$z-bg-overlay: 8;

// scrollify-dots
$z-scrollify-dots: 7;

// footer
$z-footer: 1;
$z-footer-accordion: 2;

// half offset container
$z-half-offset-container: 2;

// border-bottom
$z-border-bottom-hover-slide: 1;

// banner
$z-banner-img: 1;
$z-banner-img-grad: 2;
$z-banner-txt: 4;
$z-banner-txt-ht-l: 5;
$z-banner-txt-ht-r: 4;
$z-banner-dots: 5;
$z-banner-nav: 5;
$z-banner-frame: 3;

// card
$z-card-img-grad: 1;
$z-card-icon-after: 1;
$z-card-img: 1;
$z-card-txt: 2;
$z-card-badge: 3;
$z-card-lnk-overlay: 4;

// table
$z-table-grad: 2;
$z-table-after: 1;

// Journey
$z-card-needs: 2;
$z-card-needs-box: 2;
$z-card-needs-txt: 3;
$z-card-needs-triangle: 1;
$z-card-needs-bar-active: 4;
$z-presentation-needs: 3;
$z-presentation-needs-close: 4;
$z-presentation-journey-close: 3;

// Achievement
$z-card-achievement-before: 1;
$z-card-achievement-after: 2;
$z-card-achievement-circle: 3;
$z-card-achievement-text: 4;

// btn-icon
$z-btn-icon-first: 1;
$z-btn-icon-last: 2;

$z-vertical-tab-small-icon: 5;
$z-card-usp-overlap: 6;
$z-card-apply-is-absolute: 0;
$z-breadcrumbs: 6;


// slider-testimonial
$z-slider-testimonial-img-d: 2;
$z-slider-testimonial-img-m: 1;
$z-slider-testimonial-txt-d: 1;
$z-slider-testimonial-txt-m: 2;

$z-product-category: 1;
$z-product-category-bg: 1;
$z-product-category-content: 2;
$z-product-category-img-default: 1;
$z-product-category-img-hover: 2;

$z-tab-active-border: 1;
$z-tab-button: 1;
$z-tab-controll: 2;
$z-tab-border: 1;
$z-filter-card: 2;

// select
$z-select: 2;

// input-checkbox
$z-input-checkbox-element: 3;
$z-input-checkbox-before: 1;
$z-input-checkbox-after: 2;

// widget
$z-widget-overlay: 3;

// pagination
$z-pagination-overlay: 1;
$z-pagination-lnk: 2;

// checkbox
$z-search-filter-mobile: 9;
$z-search-filter-close: 4;
$z-search-filter-apply: 4;

// bod popup
$z-bod-popup: 9;
$z-bod-popup-close: 10;
$z-bod-popup-img-circle: 7;
$z-bod-popup-name-position: 8;
$z-bod-popup-content: 8;

// general popup
$z-general-popup: 9;
$z-general-popup-close: 10;
$z-general-popup-content: 8;

// history
$z-history: 2;
$z-history-controll: 2;
$z-history-controll-button: 3;
$z-history-swiper: 3;
$z-history-controll-pag: 3;
$z-history-controll-pag-after: 3;
$z-history-controll-pag-before: 4;
$z-history-controll-line: 2;
$z-history-content: 1;

// announcement
$z-announcement-list-link: 2;
$z-announcement-list-after: 1;

// CSR
$z-csr-list: 2;

// Share
$z-share: 3;
$z-share-mobile: 11;
$z-share-box: 2;
$z-share-close: 3;

// Table
$z-tbl-head: 2;

// Rachel How To
$z-rachel-how-to-step: 3;
$z-rachel-how-to-frame: 1;
$z-rachel-how-to-carousel: 2;
$z-rachel-how-to-dots: 4;

// Description Section
$z-desc-sec-img: 1;
$z-desc-sec-txt: 2;

// Calcultor
$z-calc-form: 2;
$z-calc-img: 1;

// Feature
$z-feature-img: 1;
$z-feature-content: 2;

//PDF Share
$z-share-result-bg: 1;
$z-share-result-content: 2;

// How To
$z-how-to-step: 3;
$z-how-to-frame: 1;
$z-how-to-carousel: 2;
$z-how-to-dots: 4;

// Graphic Bar
$z-grap-bar: 4;
$z-grap-bar-tooltip: 5;
$z-grap-bar-area: 3;
$z-grap-bar-range-line: 1;
$z-grap-bar-range-item: 2;

// Mobile Scroll
$z-mobile-scroll-phone-frame: 3;
$z-mobile-scroll-phone-img: 4;
$z-mobile-scroll-phone-circle: 2;

// Product Section
$z-product-section-img: 1;
$z-product-section-txt: 2;

// Form Section
$z-form-section-field: 2;
$z-form-section-txt: 1;
$z-form-placeholder: 8;

// Product Services
$z-product-serices-detail: 2;

// Scroll Indicator
$z-scroll-indicator: 8;

// Content Detail
$z-content-detail-head: 2;
$z-content-detail-img: 1;


// Cookies
$z-cookies: 8;

// Product Comparison
$z-floating-comparison: 10;


// Schedule
$z-schedule-line: 1;
$z-schedule-bullet: 2;
