/* ==========================================================================
   OCBC Variable: Typography
   ========================================================================== */

$font-main: "Fira Sans", sans-serif;
$font-icon: "OCBC NISP Icons";

// Font
$font: (
  family-main: $font-main,
  family-icon: $font-icon,
  hero: (
    desktop: (
      font-size: 5.6rem,
      line-height: 7.2rem
    ),
    mobile: (
      font-size: 3.2rem,
      line-height: 4rem
    )
  ),
  h1: (
    desktop: (
      font-size: 4.8rem,
      line-height: 5.6rem
    ),
    mobile: (
      font-size: 2.4rem,
      line-height: 3.2rem
    )
  ),
  h2: (
    desktop: (
      font-size: 3.2rem,
      line-height: 4rem
    ),
    mobile: (
      font-size: 2rem,
      line-height: 3.2rem
    )
  ),
  h3: (
    desktop: (
      font-size: 2.4rem,
      line-height: 3.2rem
    ),
    mobile: (
      font-size: 1.8rem,
      line-height: 2.4rem
    )
  ),
  h4: (
    desktop: (
      font-size: 2rem,
      line-height: 3.2rem
    ),
    mobile: (
      font-size: 1.8rem,
      line-height: 2.4rem
    )
  ),
  h5: (
    desktop: (
      font-size: 1.8rem,
      line-height: 2.4rem
    ),
    mobile: (
      font-size: 1.7rem,
      line-height: 2.2rem
    )
  ),
  h6: (
    desktop: (
      font-size: 1.7rem,
      line-height: 2.2rem
    ),
    mobile: (
      font-size: 1.7rem,
      line-height: 2.2rem
    )
  ),
  body: (
    desktop: (
      font-size: 1.6rem,
      line-height: 2.4rem
    ),
    mobile: (
      font-size: 1.6rem,
      line-height: 2.4rem
    )
  ),
  button: (
    desktop: (
      font-size: 1.6rem,
      line-height: 2.8rem
    ),
    mobile: (
      font-size: 1.6rem,
      line-height: 2.8rem
    )
  ),
  label: (
    desktop: (
      font-size: 1.4rem,
      line-height: 2.4rem
    ),
    mobile: (
      font-size: 1.4rem,
      line-height: 2.4rem
    )
  ),
  small: (
    desktop: (
      font-size: 1.4rem,
      line-height: 2.2rem
    ),
    mobile: (
      font-size: 1.4rem,
      line-height: 2.2rem
    )
  ),
  micro: (
    desktop: (
      font-size: 1.2rem,
      line-height: 1.6rem
    ),
    mobile: (
      font-size: 1.2rem,
      line-height: 1.6rem
    )
  ),
  weight: (
    regular: 400,
    medium: 500,
    bold: 700
  )
);
