/* ==========================================================================
   OCBC Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: (
    1: #eb2629,
    2: #f14545,
    3: #c41432
  ),
  secondary: (
    1: #feb06a,
    2: #e98c61,
    3: #fe8e78,
    4: #e76462,
    5: #e7626f,
    6: #00b852,
    7: #08090f,
    8: #1a1a1a,
    9: #145c93,
    10: #329989,
    11: #d6ad14,
    12: #d16701,
    13: #446eff,
    14: #449B94,
    15: #f8f8f9
  ),
  premier: (
    1: #8b7866, // old: #6e5c4a
    2: #6e5c4a, // old: #c6b3a1
    3: #bfad98 // old: #bba995 & #baa994
  ),
  private: (
    1: #6a6d73,
    2: #72747b,
    3: #aaa7ae,
    4: #bdbdbd,
    5: #e7e7e7
  ),
  gray: (
    1: #313131,
    2: #667584,
    3: #80909f,
    4: #939fab,
    5: #c2c9d1,
    6: #dae0e6, // old: #dbe0e4
    7: #f0f1f5
  ),
  white: #fff,
  black: #000,
  social: (
    facebook: #3b5998,
    instagram: #c13584,
    twitter: #1da1f2,
    youtube: #ff0000,
    whatsapp: #25d366,
    line: #00c300,
    linkedin: #0077b5
  ),
  system: (
    error: #eb2629,
    success: #00893d
  )
);

// gradient
$gradient: (
  primary: (
    0: #f14545,
    100: #c41432
  ),
  premier: (
    0: #8b7866,
    100: #6e5c4a
  ),
  premier-light: (
    0: #bfad98,
    100: #8b7866
  ),
  private: (
    0: #aaa7ae,
    100: #6a6d73
  ),
  private-light: (
    0: #e7e7e7,
    100: #bdbdbd
  ),
  independence: (
    0: #ff474e,
    100: #cc090c
  ),
  eid: (
    0: #d8fd00,
    100: #005500
  ),
  year-end: (
    0: #dd0562,
    100: #60082d
  ),
  anniversary: (
    0: #dd5a05,
    100: #912303
  )
);
