//-------------------------------------------------------------------------------
  @name: Tentang Kami - Hubungan Investor - Tab - Informasi Saham - Aksi Obligasi
  @description: Tentang Kami - Hubungan Investor - Tab - Informasi Saham - Aksi Obligasi
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'bond-action';
    title = 'Aksi Korporasi Obligasi';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Obligasi
    th.ocbc-tbl-striped__th
      | Seri
    th.ocbc-tbl-striped__th
      | Jumlah Nominal
    th.ocbc-tbl-striped__th
      | Tingkat Bunga
    th.ocbc-tbl-striped__th
      | Jangka Waktu
    th.ocbc-tbl-striped__th
      | Tanggal Efektif
    th.ocbc-tbl-striped__th
      | Tanggal Jatuh Tempo
    th.ocbc-tbl-striped__th
      | Peringkat
    th.ocbc-tbl-striped__th
      | Keterangan
    th.ocbc-tbl-striped__th
      | Prospektus

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td
      | Obligasi Berkelanjutan II Bank OCBC NISP Tahap II Tahun 2017 Dengan Tingkat Bunga Tetap
    td.ocbc-tbl-striped__td C
    td.ocbc-tbl-striped__td Rp454 Miliar
    td.ocbc-tbl-striped__td 7,70% per tahun
    td.ocbc-tbl-striped__td 3 Tahun
    td.ocbc-tbl-striped__td 29 April 2016
    td.ocbc-tbl-striped__td 22 Agustus 2020
    td.ocbc-tbl-striped__td idAAA (PEFINDO) & AAA(idn) (PT Fitch Ratings Indonesia)
    td.ocbc-tbl-striped__td Masih Beredar
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td
      | Obligasi Berkelanjutan II Bank OCBC NISP Tahap III Tahun 2017 Dengan Tingkat Bunga Tetap
    td.ocbc-tbl-striped__td C
    td.ocbc-tbl-striped__td Rp609 Miliar
    td.ocbc-tbl-striped__td 7,70% per tahun
    td.ocbc-tbl-striped__td 3 Tahun
    td.ocbc-tbl-striped__td 29 April 2016
    td.ocbc-tbl-striped__td 12 Desember 2020
    td.ocbc-tbl-striped__td idAAA (PEFINDO) & AAA(idn) (PT Fitch Ratings Indonesia)
    td.ocbc-tbl-striped__td Masih Beredar
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td
      | Obligasi Berkelanjutan II Bank OCBC NISP Tahap IV Tahun 2018 Dengan Tingkat Bunga Tetap
    td.ocbc-tbl-striped__td B
    td.ocbc-tbl-striped__td Rp535 Miliar
    td.ocbc-tbl-striped__td 6,90% per tahun
    td.ocbc-tbl-striped__td 3 Tahun
    td.ocbc-tbl-striped__td 29 April 2016
    td.ocbc-tbl-striped__td 10 April 2021
    td.ocbc-tbl-striped__td idAAA (PEFINDO) & AAA(idn) (PT Fitch Ratings Indonesia)
    td.ocbc-tbl-striped__td Masih Beredar
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(rowspan='2')
      | Obligasi Berkelanjutan III Bank OCBC NISP Tahap I Tahun 2018 Dengan Tingkat Bunga Tetap
    td.ocbc-tbl-striped__td B
    td.ocbc-tbl-striped__td Rp3 Miliar
    td.ocbc-tbl-striped__td 7,25% per tahun
    td.ocbc-tbl-striped__td 2 Tahun
    td.ocbc-tbl-striped__td 29 Juni 2018
    td.ocbc-tbl-striped__td 6 Juli 2020
    td.ocbc-tbl-striped__td(rowspan='2') idAAA (PEFINDO) & AAA(idn) (PT Fitch Ratings Indonesia)
    td.ocbc-tbl-striped__td Masih Beredar
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td C
    td.ocbc-tbl-striped__td Rp342 Miliar
    td.ocbc-tbl-striped__td 7,75% per tahun
    td.ocbc-tbl-striped__td 3 Tahun
    td.ocbc-tbl-striped__td 29 Juni 2018
    td.ocbc-tbl-striped__td
    td.ocbc-tbl-striped__td
    td.ocbc-tbl-striped__td
