//-------------------------------------------------------------------------------
  @name:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Aksi Korporasi Ekuitas
  @description:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Aksi Korporasi Ekuitas
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'equity-action';
    title = 'Aksi Korporasi Ekuitas';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Aksi Korporasi
    th.ocbc-tbl-striped__th
      | Tanggal Pencatatan
    th.ocbc-tbl-striped__th
      | Tambahan Saham Baru (Saham)
    th.ocbc-tbl-striped__th
      | Modal Disetor (Jumlah Saham Beredar)
    th.ocbc-tbl-striped__th
      | Saham yang Dicacatkan (Saham)
    th.ocbc-tbl-striped__th
      | Nilai Nominal (Rp)
    th.ocbc-tbl-striped__th
      | Prospektus
block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Perdana
    td.ocbc-tbl-striped__td 20 Oktober 1994
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 62.500.000
    td.ocbc-tbl-striped__td 62.500.000
    td.ocbc-tbl-striped__td 1.000
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Stock Split I (1:1)
    td.ocbc-tbl-striped__td 3 Februari 1997
    td.ocbc-tbl-striped__td 62.500.000
    td.ocbc-tbl-striped__td 125.000.000
    td.ocbc-tbl-striped__td 125.000.000
    td.ocbc-tbl-striped__td 500
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Saham Bonus I (5:2)
    td.ocbc-tbl-striped__td 28 Februari 1997
    td.ocbc-tbl-striped__td 50.000.000
    td.ocbc-tbl-striped__td 175.000.000
    td.ocbc-tbl-striped__td 175.000.000
    td.ocbc-tbl-striped__td 500
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Dividen Saham I (25:9)
    td.ocbc-tbl-striped__td 4 Desember 1998
    td.ocbc-tbl-striped__td 63.000.000
    td.ocbc-tbl-striped__td 238.000.000
    td.ocbc-tbl-striped__td 238.000.000
    td.ocbc-tbl-striped__td 500
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Saham Bonus II (100:33)
    td.ocbc-tbl-striped__td 4 Desember 1998
    td.ocbc-tbl-striped__td 57.750.000
    td.ocbc-tbl-striped__td 295.750.000
    td.ocbc-tbl-striped__td 295.750.000
    td.ocbc-tbl-striped__td 500
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas (Rights Issue) I
    td.ocbc-tbl-striped__td 18 Desember 1998
    td.ocbc-tbl-striped__td 253.471.865
    td.ocbc-tbl-striped__td 549.221.865
    td.ocbc-tbl-striped__td 549.221.865
    td.ocbc-tbl-striped__td 500
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Stock Split II (1:1)
    td.ocbc-tbl-striped__td 4 November 1999
    td.ocbc-tbl-striped__td 549.221.865
    td.ocbc-tbl-striped__td 1.087.459.292
    td.ocbc-tbl-striped__td 1.087.459.292
    td.ocbc-tbl-striped__td 250
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas (Rights Issue) II
    td.ocbc-tbl-striped__td 18 Januari 2001
    td.ocbc-tbl-striped__td 117.432.571
    td.ocbc-tbl-striped__td 1.215.876.301
    td.ocbc-tbl-striped__td 1.203.717.537
    td.ocbc-tbl-striped__td 250
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas (Rights Issue) III
    td.ocbc-tbl-striped__td 2 Juli 2002
    td.ocbc-tbl-striped__td 810.584.200
    td.ocbc-tbl-striped__td 2.026.460.501
    td.ocbc-tbl-striped__td 2.006.195.895
    td.ocbc-tbl-striped__td 250
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Stock Split III (1:1)
    td.ocbc-tbl-striped__td 13 Februari 2003
    td.ocbc-tbl-striped__td 2.026.460.501
    td.ocbc-tbl-striped__td 4.052.921.002
    td.ocbc-tbl-striped__td 4.012.391.792
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Dividen Saham II (4:100)
    td.ocbc-tbl-striped__td 7 Oktober 2003
    td.ocbc-tbl-striped__td 81.058.420
    td.ocbc-tbl-striped__td 4.133.979.422
    td.ocbc-tbl-striped__td 4.092.639.628
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas Rights Issue) IV
    td.ocbc-tbl-striped__td 24 November 2005
    td.ocbc-tbl-striped__td 801.992.008
    td.ocbc-tbl-striped__td 4.935.971.430
    td.ocbc-tbl-striped__td 4.886.611.715
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas (Right Issue) V
    td.ocbc-tbl-striped__td 8 Mei 2007
    td.ocbc-tbl-striped__td 878.602.915
    td.ocbc-tbl-striped__td 5.814.574.345
    td.ocbc-tbl-striped__td 5.756.428.600
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Saham Baru Berkaitan Dengan Merger
    td.ocbc-tbl-striped__td 3 Januari 2011
    td.ocbc-tbl-striped__td 1.227.368.320
    td.ocbc-tbl-striped__td 7.041.942.665
    td.ocbc-tbl-striped__td 6.971.523.238
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas (Right Issue) VI
    td.ocbc-tbl-striped__td 5 Juni 2012
    td.ocbc-tbl-striped__td 1.506.975.730
    td.ocbc-tbl-striped__td 8.548.918.395
    td.ocbc-tbl-striped__td 8.463.403.886
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Prospektus
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Penawaran Umum Terbatas (Right Issue) VII
    td.ocbc-tbl-striped__td 13 November 2013
    td.ocbc-tbl-striped__td 2.923.730.091
    td.ocbc-tbl-striped__td 11.472.648.486
    td.ocbc-tbl-striped__td 11.357.888.016
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
      a.ocbc-btn-txt-lnk(href='#') Download
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Saham Bonis III (1:1)
    td.ocbc-tbl-striped__td 4 Mei 2018
    td.ocbc-tbl-striped__td 11.472.648.486
    td.ocbc-tbl-striped__td 22.945.296.972
    td.ocbc-tbl-striped__td 22.715.776.032
    td.ocbc-tbl-striped__td 125
    td.ocbc-tbl-striped__td
