//-------------------------------------------------------------------------------
  @name:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Transaksi Saham
  @description:  Tentang Kami - Hubungan Investor - Tab - Informasi Saham dan Obligasi - Transaksi Saham
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'stock-transactions';
    title = 'Transaksi Saham';
    subTitle = 'Berikut informasi mengenai transaksi saham perusahaan yang dilakukan oleh Pemegang Saham Pengendali, Dewan Komisaris dan Direksi pada tahun 2019.';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Nama Pemegang Saham
    th.ocbc-tbl-striped__th
      | Kepemilikan per 31 Desember 2018 (lembar saham)
    th.ocbc-tbl-striped__th
      | Penambahan selama tahun 2019 (lembar saham)
    th.ocbc-tbl-striped__th
      | Pengurangan selama tahun 2019 (lembar saham)
    th.ocbc-tbl-striped__th
      | Kepemilikanper 31 Desember 2019 (lembar saham)

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='5') Pemegang Saham Pengendali
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td OCBC Overseas Investments Pte. Ltd
    td.ocbc-tbl-striped__td 19.521.391.224
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 19.521.391.224
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='5') Dewan Komisaris
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Pramukti Surjaudaja
    td.ocbc-tbl-striped__td 451.942
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 451.942
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='5') Direksi
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Purwati Surjaudaja
    td.ocbc-tbl-striped__td 3.006.420
    td.ocbc-tbl-striped__td 40.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 3.046.420
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Emilya Tjahjadi
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 72.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Hartati
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 72.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Martin Widjaja
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 72.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Andrae Krishnawan W
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 72.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Johannes Husin
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 72.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Joseph Chan Fook Onn
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 72.000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Mirah D. Wiryoatmodjo
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 36.000
    td.ocbc-tbl-striped__td -
    td.ocbc-tbl-striped__td 36.000
