//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Layanan Pembayaran ZIS dan Kurban
  @description: Bunga & Biaya Syariah - Vertical Tab - Layanan Pembayaran ZIS dan Kurban
  -------------------------------------------------------------------------------//


include table/layanan-pembayaran.pug
