//-------------------------------------------------------------------------------
  @name: Bunga & Biaya Syariah - Vertical Tab - Syariah Investa Optima
  @description: Bunga & Biaya Syariah - Vertical Tab - Syariah Investa Optima
  -------------------------------------------------------------------------------//


include table/syariah-investa.pug
