//-------------------------------------------------------------------------------
  @name: Nilai Tukar Mata Uang Asing - Currency Table
  @description: Nilai Tukar Mata Uang Asing - Currency Table
  -------------------------------------------------------------------------------//

-
  data = {
    MU: 'Mata Uang',
    BN: 'Bank Notes (BN)',
    TT: 'Telegraphics Transfer (TT)',
    currencyList: [
      {
        val: 1,
        flag: 'usa.png',
        currency: 'USD',
        bnBuy: '15,415.00',
        bnSell: '15,715.00',
        ttBuy: '15,415.00',
        ttSell: '15,715.00'
      },
      {
        val: 2,
        flag: 'singapore.png',
        currency: 'SGD',
        bnBuy: '10,883.85',
        bnSell: '11,125.55',
        ttBuy: '10,883.85',
        ttSell: '11,125.55'
      },
      {
        val: 3,
        flag: 'euro.png',
        currency: 'EUR',
        bnBuy: '16,874.87',
        bnSell: '17,290.42',
        ttBuy: '16,874.87',
        ttSell: '17,290.42'
      },
      {
        val: 4,
        flag: 'uk.png',
        currency: 'GBP',
        bnBuy: '19,363.10',
        bnSell: '19,888.84',
        ttBuy: '19,363.10',
        ttSell: '19,888.84'
      },
      {
        val: 5,
        flag: 'australia.png',
        currency: 'AUD',
        bnBuy: '9,827.88',
        bnSell: '10,111.01',
        ttBuy: '9,827.88',
        ttSell: '10,111.01'
      },
      {
        val: 6,
        flag: 'nz.png',
        currency: 'NZD',
        bnBuy: '9,300.94',
        bnSell: '9,585.75',
        ttBuy: '9,300.94',
        ttSell: '9,585.75'
      },
      {
        val: 7,
        flag: 'japan.png',
        currency: 'JPY',
        bnBuy: '143.09',
        bnSell: '147.55',
        ttBuy: '143.09',
        ttSell: '147.55'
      },
      {
        val: 8,
        flag: 'hk.png',
        currency: 'HKD',
        bnBuy: '1,983.23',
        bnSell: '2,032.78',
        ttBuy: '1,983.23',
        ttSell: '2,032.78'
      },
      {
        val: 9,
        flag: 'swiss.png',
        currency: 'CHF',
        bnBuy: '16,001.98',
        bnSell: '16,384.76',
        ttBuy: '16,001.98',
        ttSell: '16,384.76'
      },
      {
        val: 10,
        flag: 'canada.png',
        currency: 'CAD',
        bnBuy: '11,047.96',
        bnSell: '11,342.96',
        ttBuy: '11,047.96',
        ttSell: '11,342.96'
      },
      {
        val: 11,
        flag: 'china.png',
        currency: 'CNH',
        bnBuy: '2,132.25',
        bnSell: '2,279.30',
        ttBuy: '2,132.25',
        ttSell: '2,279.30'
      }
    ]
  };

//ocbc-xr-tbl
.ocbc-xr-tbl.ocbc-xr-tbl--currency
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        -
          data = data;

        p.ocbc-xr-tbl__caption
          | Last Update : Wednesday, April 15, 2020 - 11:43:25 AM
        //- widget-exchange-rate-table
        include ../../components/widget-exchange-rate-table.pug
