//-------------------------------------------------------------------------------
  @name: Nilai Tukar Mata Uang Asing - Currency Calculator
  @description: Nilai Tukar Mata Uang Asing - Currency Calculator
  -------------------------------------------------------------------------------//

-
  data = {
    list: [
      {
        val: 1,
        text: 'IDR'
      },
      {
        val: 2,
        text: 'USD'
      },
      {
        val: 3,
        text: 'SGD'
      },
      {
        val: 4,
        text: 'EUR'
      },
      {
        val: 5,
        text: 'GBP'
      },
      {
        val: 6,
        text: 'AUD'
      },
      {
        val: 7,
        text: 'NZD'
      },
      {
        val: 8,
        text: 'JPY'
      },
      {
        val: 9,
        text: 'HKD'
      },
      {
        val: 10,
        text: 'CHF'
      },
      {
        val: 11,
        text: 'CAD'
      },
      {
        val: 12,
        text: 'CNH'
      }
    ]
  }

include ../../layout/exchange-rate-calculator.pug
