//-------------------------------------------------------------------------------
  @name: Nilai Tukar Mata Uang Asing - Product Banner
  @description: Nilai Tukar Mata Uang Asing - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Nilai Tukar Mata Uang Asing',
    description: 'Kembangkan aset pribadi secara optimal melalui deposito dengan bunga hinga 6% p.a.',
    image: {
      desktop: 'exchange-rate-d.jpg',
      mobile: 'exchange-rate-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
