//-------------------------------------------------------------------------------
  @name: Kalkulator - Main Banner
  @description: Kalkulator - Main Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Banking Tools & Calculators',
    description: 'Calculators, planners and tools to help you better manage your money.',
    image: {
      desktop: 'layanan-calculator.jpg',
      mobile: 'layanan-calculator-m.jpg'
    }
  }

//ocbc-prod-detail-banner--sme-landing
.ocbc-prod-detail-banner--sme-landing
  include ../../components/product-detail-banner.pug
