//-------------------------------------------------------------------------------
  @name:  Kalkulator - Tab
  @description:  Kalkulator - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'life-goals',
          text: 'Life Goals'
        },
        {
          target: 'loans',
          text: 'Loans'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='life-goals')
    include tab-content/life-goals.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='loans')
    include tab-content/loans.pug
