//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe  - Product Banner
  @description: Karir - Be The ONe  - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Be The ONe',
    description: 'Ambil peluang dan siap untuk jadi bagian dari kami menghadapi perubahan',
    image: {
      desktop: 'detail-karir-d.jpg',
      mobile: 'detail-karir-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
