//-------------------------------------------------------------------------------
  @name: Karir - Be The ONe - Tab
  @description: Karir - Be The ONe - Tab
  -------------------------------------------------------------------------------//

extends ../../layout/tabs.pug

//- tabControll
block tabControll
  -
    dataControll = {
      item: [
        {
          target: 'internship',
          text: 'Internship'
        },
        {
          target: 'fresh-graduate',
          text: 'Fresh Graduates',
        },
        {
          target: 'professionals',
          text: 'Professionals'
        }
      ]
    }

//- tabContent
block tabContent
  //ocbc-tabs__pane
  .ocbc-tabs__pane.ocbc-tabs__pane--active(data-pane='internship')
    include tab-content/internship.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='fresh-graduate')
    include tab-content/fresh-graduate.pug

  ='\n\n'
  //ocbc-tabs__pane
  .ocbc-tabs__pane(data-pane='professionals')
    include tab-content/professionals.pug
