//-------------------------------------------------------------------------------
  @name: Jadi Nasabah - Presentation Needs - Kunjungi Cabang OCBC NISP
  @description: Jadi Nasabah - Presentation Needs - Kunjungi Cabang OCBC NISP
  -------------------------------------------------------------------------------//

//kunjungi-cabang
.ocbc-presentation-needs__pane(data-presentation='kunjungi-cabang')

  //- section-banner
  -
    data = {
      minHeight: true,
      light: true, 
      noBorderBottom: true,
      title: 'Kunjungi Cabang OCBC NISP',
      item: [ 
        'Lokasi cabang tersebar luas',
        'Apply semua jenis produk',
        'Customer Service yang ramah'
      ],
      subTitle: 'Kantor Pusat OCBC NISP',
      multiDescription: [
        'Jl. Prof. DR. Satrio Blok C4 No.25, Kuningan, Jakarta 12950'
      ],
      image: {
        desktop: 'kunjungi-nasabah-d.jpg',
        mobile: 'kunjungi-nasabah-m.jpg'
      },
      button: {
        primary: {
          text: 'Lokasi Lainnya',
          to: 'hubungi-kami-lokasi-kami.html'
        },
      }
    }
  include ../../../components/section-banner.pug
