//-------------------------------------------------------------------------------
  @name: Jadi Nasabah - Presentation Needs - Jadi Nasabah via ONe Mobile
  @description: Jadi Nasabah - Presentation Needs - Jadi Nasabah via ONe Mobile
  -------------------------------------------------------------------------------//

//one-mobile
.ocbc-presentation-needs__pane(data-presentation='one-mobile')

  //- section-banner
  -
    data = {
      minHeight: true,
      light: true,
      noBorderBottom: true,
      title: 'Daftar jadi nasabah di ONe Mobile dan nikmati mudahnya melakukan aktivitas perbankan',
      item: [
        'Pengajuan dilakukan di mana saja',
        'Proses onboarding',
        'Verfikasi mudah via KYC online'
      ],
      image: {
        desktop: 'one-mobile-d.jpg',
        mobile: 'one-mobile-m.jpg'
      },
      button: {
        linkApps: true,
        link: {
          text: 'Selengkapnya',
          to: 'digital-channel-one-mobile.html'
        }
      }
    }
  include ../../../components/section-banner.pug
