//-------------------------------------------------------------------------------
  @name: Jadi Nasabah - Presentation Needs - Jadi Nasabah via ONe Store
  @description: Jadi Nasabah - Presentation Needs - Jadi Nasabah via ONe Store
  -------------------------------------------------------------------------------//

//one-store
.ocbc-presentation-needs__pane(data-presentation='one-store')

  //- section-banner
  -
    data = {
      minHeight: true,
      light: true,
      noBorderBottom: true,
      title: 'Sekarang jadi nasabah di OCBC NISP lebih mudah via ONe Store',
      item: [
        'Proses mudah',
        'Pengajuan bisa dimana saja',
        'Hemat waktu'
      ],
      image: {
        desktop: 'one-store-d.jpg',
        mobile: 'one-store-m.jpg'
      },
      button: { 
        primary: {
          text: 'Pilih Produk',
          targetSection: 'product-section',
          to: '#'
        },   
        outlineWhite: {
          text: 'Cara Apply',
          targetSection: 'how-to-apply',
          to: '#'
        },
      }
    }
  include ../../../components/section-banner.pug

  .ocbc-scroll-section(data-target='product-section')
    -
      titleFilter = 'Pilih dan apply produk di ONe Store',
      modifierClass = 'landing-page';
      data = [
        {
          val: 'all',
          text: 'Semua Produk'
        },
        {
          val: 'simpanan',
          text: 'Simpanan'
        },
        {
          val: 'kartu-kredit',
          text: 'Kartu Kredit'
        },
        {
          val: 'pinjaman',
          text: 'Pinjaman'
        },
        {
          val: 'wealth-management',
          text: 'Wealth Management'
        }
      ]

    include ../../../layout/filter-card.pug

    -
      data = {
        sectionLanding: true,
        card: [
          {
            to: '#',
            image: 'product-category-12.jpg',
            title: 'Tanda 360 Plus',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-13.jpg',
            title: 'Tanda Premium',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-12.jpg',
            title: 'Tanda Valas SGD',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-16.jpg',
            title: 'Tabunganku',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-12.jpg',
            title: 'OCBC NISP Simpel',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-15.jpg',
            title: 'Tanda Junior',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-12.jpg',
            title: 'Taka Hadiah',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-15.jpg',
            title: 'Taka Bunga',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          },
          {
            to: '#',
            image: 'product-category-13.jpg',
            title: 'Taka Bunga Pasti',
            item: [
              '12 Mata Uang dalam 1 Tabungan',
              'Bebas Biaya Administrasi',
              'Bebas Biaya Tarik Tunai'
            ],
            button: {
              text: 'Apply',
              to: '#'
            }
          }
        ]
      }

    include ../../../layout/card-product-category.pug


    -
      data = {
        prevTo: '#',
        nextTo: '#',
        modifier: 'landing',
        list: [
          {
            to: '#',
            text: '1'
          },
          {
            to: '#',
            text: '2'
          },
          {
            to: '#',
            text: '3'
          },
          {
            to: '#',
            text: '4'
          }
        ]
      }

    include ../../../components/pagination.pug

  .ocbc-scroll-section(data-target='how-to-apply')
    include ../../../layout/jadi-nasabah-how-to.pug
