//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Background
  @description: Design System - Content - Elements: Background
  -------------------------------------------------------------------------------//

+ds__contentItem('Background', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__bg
    +ds__contentBodyItem('Solid Background')
      +ds__componentsItem('Primary')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--primary-1
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--primary-1
          .ocbc-ds__elements__box.ocbc-bg--primary-2
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--primary-2
          .ocbc-ds__elements__box.ocbc-bg--primary-3
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--primary-3
      +ds__componentsItem('Secondary')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--secondary-1
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-1
          .ocbc-ds__elements__box.ocbc-bg--secondary-2
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-2
          .ocbc-ds__elements__box.ocbc-bg--secondary-3
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-3
          .ocbc-ds__elements__box.ocbc-bg--secondary-4
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-4
          .ocbc-ds__elements__box.ocbc-bg--secondary-5
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-5
          .ocbc-ds__elements__box.ocbc-bg--secondary-6
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-6
          .ocbc-ds__elements__box.ocbc-bg--secondary-7
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-7
          .ocbc-ds__elements__box.ocbc-bg--secondary-8
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-8
          .ocbc-ds__elements__box.ocbc-bg--secondary-9
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-9
          .ocbc-ds__elements__box.ocbc-bg--secondary-10
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-10
          .ocbc-ds__elements__box.ocbc-bg--secondary-11
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-11
          .ocbc-ds__elements__box.ocbc-bg--secondary-12
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-12
          .ocbc-ds__elements__box.ocbc-bg--secondary-13
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-13
          .ocbc-ds__elements__box.ocbc-bg--secondary-14
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-14
          .ocbc-ds__elements__box.ocbc-bg--secondary-15
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--secondary-15
      +ds__componentsItem('Premier')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--premier-1
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--premier-1
          .ocbc-ds__elements__box.ocbc-bg--premier-2
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--premier-2
          .ocbc-ds__elements__box.ocbc-bg--premier-3
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--premier-3
      +ds__componentsItem('Private')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--private-1
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--private-1
          .ocbc-ds__elements__box.ocbc-bg--private-2
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--private-2
          .ocbc-ds__elements__box.ocbc-bg--private-3
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--private-3
          .ocbc-ds__elements__box.ocbc-bg--private-4
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--private-4
          .ocbc-ds__elements__box.ocbc-bg--private-5
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--private-5
      +ds__componentsItem('Gray')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--gray-1
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-1
          .ocbc-ds__elements__box.ocbc-bg--gray-2
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-2
          .ocbc-ds__elements__box.ocbc-bg--gray-3
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-3
          .ocbc-ds__elements__box.ocbc-bg--gray-4
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-4
          .ocbc-ds__elements__box.ocbc-bg--gray-5
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-5
          .ocbc-ds__elements__box.ocbc-bg--gray-6
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-6
          .ocbc-ds__elements__box.ocbc-bg--gray-7
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--gray-7
      +ds__componentsItem('White', inverseBg = true)
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--white
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--white
      +ds__componentsItem('Black')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--black
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--black
      +ds__componentsItem('Social')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--social-facebook
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-facebook
          .ocbc-ds__elements__box.ocbc-bg--social-instagram
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-instagram
          .ocbc-ds__elements__box.ocbc-bg--social-twitter
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-twitter
          .ocbc-ds__elements__box.ocbc-bg--social-youtube
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-youtube
          .ocbc-ds__elements__box.ocbc-bg--social-whatsapp
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-whatsapp
          .ocbc-ds__elements__box.ocbc-bg--social-line
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-line
          .ocbc-ds__elements__box.ocbc-bg--social-linkedin
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--social-linkedin
      +ds__componentsItem('System')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--error
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--error
          .ocbc-ds__elements__box.ocbc-bg--success
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--success
    +ds__contentBodyItem('Gradient Background')
      +ds__componentsItem('Primary')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--grad-primary
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-primary
      +ds__componentsItem('Premier')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--grad-premier
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-premier
          .ocbc-ds__elements__box.ocbc-bg--grad-premier-light
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-premier-light
      +ds__componentsItem('Private')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--grad-private
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-private
          .ocbc-ds__elements__box.ocbc-bg--grad-private-light
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-private-light
      +ds__componentsItem('Thematic')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-bg--grad-independence
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-independence
          .ocbc-ds__elements__box.ocbc-bg--grad-eid
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-eid
          .ocbc-ds__elements__box.ocbc-bg--grad-year-end
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-year-end
          .ocbc-ds__elements__box.ocbc-bg--grad-anniversary
            p.ocbc-ds__elements__box__desc
              | ocbc-bg--grad-anniversary
