//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Burger Menu
  @description: Design System - Content - Elements: Burger Menu
  -------------------------------------------------------------------------------//

+ds__contentItem('Burger Menu', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__burger-menu
    //- ds__contentBodyItem
    +ds__contentBodyItem('Burger Menu')
      +ds__componentsItem('Default')
        -
          color = 'default';
        include ../../../components/burger-menu.pug

      +ds__componentsItem('White', inverseBg = true)
        -
          color = 'white';
        include ../../../components/burger-menu.pug
