//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Button
  @description: Design System - Content - Elements: Button
  -------------------------------------------------------------------------------//

+ds__contentItem('Buttons', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__button
    //- ds__contentBodyItem
    +ds__contentBodyItem('Primary Buttons')
      //- ds__componentsSection
      +ds__componentsSection('Active Button')
        +ds__componentsItem('Default')
          button(type='button').ocbc-btn.ocbc-btn--primary
            | Button
        +ds__componentsItem('Small')
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--primary
            | Button
        +ds__componentsItem('Block')
          button(type='button').ocbc-btn.ocbc-btn--primary.ocbc-btn--block
            | Button

      ='\n'
      //- ds__componentsSection
      +ds__componentsSection('Inactive Button')
        +ds__componentsItem('Default')
          button(type='button').ocbc-btn.ocbc-btn--primary-inactive
            | Button
        +ds__componentsItem('Small')
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--primary-inactive
            | Button
        +ds__componentsItem('Block')
          button(type='button').ocbc-btn.ocbc-btn--primary-inactive.ocbc-btn--block
            | Button

    //- ds__contentBodyItem
    +ds__contentBodyItem('Secondary Buttons')
      //- ds__componentsSection
      +ds__componentsSection('Active Button')
        +ds__componentsItem('Default')
          button(type='button').ocbc-btn.ocbc-btn--secondary
            | Button
        +ds__componentsItem('Small')
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--secondary
            | Button
        +ds__componentsItem('Block')
          button(type='button').ocbc-btn.ocbc-btn--secondary.ocbc-btn--block
            | Button

      ='\n'
      //- ds__componentsSection
      +ds__componentsSection('White')
        +ds__componentsItem('Default', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--secondary-white
            | Button
        +ds__componentsItem('Small', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--secondary-white
            | Button
        +ds__componentsItem('Block', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--secondary-white.ocbc-btn--block
            | Button

      ='\n'
      //- ds__componentsSection
      +ds__componentsSection('Inactive Button')
        +ds__componentsItem('Default')
          button(type='button').ocbc-btn.ocbc-btn--secondary-inactive
            | Button
        +ds__componentsItem('Small')
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--secondary-inactive
            | Button
        +ds__componentsItem('Block')
          button(type='button').ocbc-btn.ocbc-btn--secondary-inactive.ocbc-btn--block
            | Button

    //- ds__contentBodyItem
    +ds__contentBodyItem('Premier Buttons')
      //- ds__componentsSection
      +ds__componentsSection('Active Button')
        +ds__componentsItem('Default')
          button(type='button').ocbc-btn.ocbc-btn--premier
            | Button
        +ds__componentsItem('Small')
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--premier
            | Button
        +ds__componentsItem('Block')
          button(type='button').ocbc-btn.ocbc-btn--premier.ocbc-btn--block
            | Button

      //- ds__componentsSection
      +ds__componentsSection('White')
        +ds__componentsItem('Default', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--premier-white
            | Button
        +ds__componentsItem('Small', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--premier-white
            | Button
        +ds__componentsItem('Block', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--premier-white.ocbc-btn--block
            | Button

    //- ds__contentBodyItem
    +ds__contentBodyItem('Private Buttons')
      //- ds__componentsSection
      +ds__componentsSection('Active Button')
        +ds__componentsItem('Default')
          button(type='button').ocbc-btn.ocbc-btn--private
            | Button
        +ds__componentsItem('Small')
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--private
            | Button
        +ds__componentsItem('Block')
          button(type='button').ocbc-btn.ocbc-btn--private.ocbc-btn--block
            | Button

      //- ds__componentsSection
      +ds__componentsSection('White')
        +ds__componentsItem('Default', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--private-white
            | Button
        +ds__componentsItem('Small', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--small.ocbc-btn--private-white
            | Button
        +ds__componentsItem('Block', inverseBg = true)
          button(type='button').ocbc-btn.ocbc-btn--private-white.ocbc-btn--block
            | Button

    //- ds__contentBodyItem
    +ds__contentBodyItem('Icon Text Buttons')
      +ds__componentsItem('Type 1')
        button(type='button').ocbc-icon-text__btn
          ='\n'
          span.ocbc-icon-text__icon-wrapper
            ='\n'
            img.ocbc-icon-text__icon(src='img/icon/print.svg', alt='print-button')/
            |!{''}
            |
          |
          | Print
          |
        |!{''}
        |
      +ds__componentsItem('Type 2')
        button(type='button').ocbc-btn-icon-txt
          ='\n'
          span.ocbc-btn-icon-txt__icon
            ='\n'
            img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--default(src='img/icon/login.svg', alt='Login Icon')/
            ='\n'
            img.ocbc-btn-icon-txt__icon__img.ocbc-btn-icon-txt__icon__img--hover(src='img/icon/login-primary.svg', alt='Login Icon')/
            |!{''}
            |
          ='\n'
          span.ocbc-btn-icon-txt__txt
            | Login
          |!{''}
          |

    //- ds__contentBodyItem
    +ds__contentBodyItem('Icon Buttons')
      +ds__componentsItem('Default')
        button.ocbc-btn-icon(type='button')
          ='\n'
          i.ocbc-fi.ocbc-fi-refresh
          |!{''}
          |

    //- ds__contentBodyItem
    +ds__contentBodyItem('Rachel Buttons')
      +ds__componentsItem('Default')
        .ocbc-btn-rachel
          ='\n'
          img.ocbc-btn-rachel__icon(src='img/icon/rachel.png', alt='Default Icon')/
          ='\n'
          a(href='individu-wealth-management-rachel.html').ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--white
            | Yuk Ngobrol Sama Rachel
          |!{''}
          |

    //- ds__contentBodyItem
    +ds__contentBodyItem('Rounded Buttons')
      +ds__componentsItem('Default')
        button(type='button').ocbc-btn-round
          ='\n'
          i.ocbc-fi.ocbc-fi-ewallet
          |!{''}
          |
      +ds__componentsItem('Prev')
        button(type='button').ocbc-btn-round
          ='\n'
          i.ocbc-fi.ocbc-fi-chevron-left
          |!{''}
          |
      +ds__componentsItem('Next')
        button(type='button').ocbc-btn-round
          ='\n'
          i.ocbc-fi.ocbc-fi-chevron-right
          |!{''}
          |

    //- ds__contentBodyItem
    +ds__contentBodyItem('Text Link Buttons')
      +ds__componentsItem('Default')
        button(type='button').ocbc-btn-txt-lnk
          | Selengkapnya
      +ds__componentsItem('White', inverseBg = true)
        button(type='button').ocbc-btn-txt-lnk.ocbc-btn-txt-lnk--white
          | Selengkapnya

    //- ds__contentBodyItem
    +ds__contentBodyItem('Widget Buttons')
      +ds__componentsItem('Default')
        button.ocbc-btn-widget
          ='\n'
          span.ocbc-btn-widget__icon-wrapper
            ='\n'
            img.ocbc-btn-widget__icon(src='img/icon/btn-widget-default.svg', alt='Default Icon')/
            |!{''}
            |
          | e-Channel
