//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Color
  @description: Design System - Content - Elements: Color
  -------------------------------------------------------------------------------//

+ds__contentItem('Colors', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__colors
    +ds__componentsItem('Primary')
      p.ocbc-txt__body.ocbc-color--primary-1
        | The quick brown fox jumps over the lazy dog (ocbc-color--primary-1)
      p.ocbc-txt__body.ocbc-color--primary-2
        | The quick brown fox jumps over the lazy dog (ocbc-color--primary-2)
      p.ocbc-txt__body.ocbc-color--primary-3
        | The quick brown fox jumps over the lazy dog (ocbc-color--primary-3)
    +ds__componentsItem('Secondary')
      p.ocbc-txt__body.ocbc-color--secondary-1
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-1)
      p.ocbc-txt__body.ocbc-color--secondary-2
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-2)
      p.ocbc-txt__body.ocbc-color--secondary-3
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-3)
      p.ocbc-txt__body.ocbc-color--secondary-4
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-4)
      p.ocbc-txt__body.ocbc-color--secondary-5
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-5)
      p.ocbc-txt__body.ocbc-color--secondary-6
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-6)
      p.ocbc-txt__body.ocbc-color--secondary-7
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-7)
      p.ocbc-txt__body.ocbc-color--secondary-8
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-8)
      p.ocbc-txt__body.ocbc-color--secondary-9
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-9)
      p.ocbc-txt__body.ocbc-color--secondary-10
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-10)
      p.ocbc-txt__body.ocbc-color--secondary-11
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-11)
      p.ocbc-txt__body.ocbc-color--secondary-12
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-12)
      p.ocbc-txt__body.ocbc-color--secondary-13
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-13)
      p.ocbc-txt__body.ocbc-color--secondary-14
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-14)
      p.ocbc-txt__body.ocbc-color--secondary-15
        | The quick brown fox jumps over the lazy dog (ocbc-color--secondary-15)
    +ds__componentsItem('Premier')
      p.ocbc-txt__body.ocbc-color--premier-1
        | The quick brown fox jumps over the lazy dog (ocbc-color--premier-1)
      p.ocbc-txt__body.ocbc-color--premier-2
        | The quick brown fox jumps over the lazy dog (ocbc-color--premier-2)
      p.ocbc-txt__body.ocbc-color--premier-3
        | The quick brown fox jumps over the lazy dog (ocbc-color--premier-3)
    +ds__componentsItem('Private')
      p.ocbc-txt__body.ocbc-color--private-1
        | The quick brown fox jumps over the lazy dog (ocbc-color--private-1)
      p.ocbc-txt__body.ocbc-color--private-2
        | The quick brown fox jumps over the lazy dog (ocbc-color--private-2)
      p.ocbc-txt__body.ocbc-color--private-3
        | The quick brown fox jumps over the lazy dog (ocbc-color--private-3)
      p.ocbc-txt__body.ocbc-color--private-4
        | The quick brown fox jumps over the lazy dog (ocbc-color--private-4)
      p.ocbc-txt__body.ocbc-color--private-5
        | The quick brown fox jumps over the lazy dog (ocbc-color--private-5)
    +ds__componentsItem('Gray')
      p.ocbc-txt__body.ocbc-color--gray-1
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-1)
      p.ocbc-txt__body.ocbc-color--gray-2
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-2)
      p.ocbc-txt__body.ocbc-color--gray-3
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-3)
      p.ocbc-txt__body.ocbc-color--gray-4
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-4)
      p.ocbc-txt__body.ocbc-color--gray-5
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-5)
      p.ocbc-txt__body.ocbc-color--gray-6
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-6)
      p.ocbc-txt__body.ocbc-color--gray-7
        | The quick brown fox jumps over the lazy dog (ocbc-color--gray-7)
    +ds__componentsItem('White', inverseBg = true)
      p.ocbc-txt__body.ocbc-color--white
        | The quick brown fox jumps over the lazy dog (ocbc-color--white)
    +ds__componentsItem('Black')
      p.ocbc-txt__body.ocbc-color--black
        | The quick brown fox jumps over the lazy dog (ocbc-color--black)
    +ds__componentsItem('Social')
      p.ocbc-txt__body.ocbc-color--social-facebook
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-facebook)
      p.ocbc-txt__body.ocbc-color--social-instagram
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-instagram)
      p.ocbc-txt__body.ocbc-color--social-twitter
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-twitter)
      p.ocbc-txt__body.ocbc-color--social-youtube
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-youtube)
      p.ocbc-txt__body.ocbc-color--social-whatsapp
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-whatsapp)
      p.ocbc-txt__body.ocbc-color--social-line
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-line)
      p.ocbc-txt__body.ocbc-color--social-linkedin
        | The quick brown fox jumps over the lazy dog (ocbc-color--social-linkedin)
    +ds__componentsItem('System')
      p.ocbc-txt__body.ocbc-color--error
        | The quick brown fox jumps over the lazy dog (ocbc-color--error)
      p.ocbc-txt__body.ocbc-color--success
        | The quick brown fox jumps over the lazy dog (ocbc-color--success)
