//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Iframe
  @description: Design System - Content - Elements: Iframe
  -------------------------------------------------------------------------------//

+ds__contentItem('Iframe', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__iframe
    +ds__componentsItem('Default')
      iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('21:9 Aspect Ratio')
      .ocbc-aspect-ratio-21by9
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('16:9 Aspect Ratio')
      .ocbc-aspect-ratio-16by9
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('8:5 Aspect Ratio')
      .ocbc-aspect-ratio-8by5
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('4:3 Aspect Ratio')
      .ocbc-aspect-ratio-4by3
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('3:2 Aspect Ratio')
      .ocbc-aspect-ratio-3by2
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('2:1 Aspect Ratio')
      .ocbc-aspect-ratio-2by1
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    +ds__componentsItem('1:1 Aspect Ratio')
      .ocbc-aspect-ratio-1by1
        iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
