//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Image
  @description: Design System - Content - Elements: Image
  -------------------------------------------------------------------------------//

+ds__contentItem('Image', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__img
    +ds__componentsItem('Default')
      img(src='img/ds/element-img.jpg', alt='Elements Image')/
    +ds__componentsItem('Full')
      img.ocbc-img--full(src='img/ds/element-img.jpg', alt='Elements Image')/
    +ds__componentsItem('Visible Only on Desktop')
      img.ocbc-img--d(src='img/ds/element-img.jpg', alt='Elements Image')/
    +ds__componentsItem('Visible Only on Mobile')
      img.ocbc-img--m(src='img/ds/element-img.jpg', alt='Elements Image')/

