//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements
  @description: Design System - Content - Elements
  -------------------------------------------------------------------------------//

//- ocbc-ds__content__section
+ds__contentSection('Elements')
  //- colors
  include colors.pug
  //- background
  include background.pug
  //- burger-menu
  include burger-menu.pug
  //- button
  include button.pug
  //- image
  include image.pug
  //- input
  include input.pug
  //- list
  include list.pug
  //- preloader
  include preloader.pug
  //- select
  include select.pug
  //- shadows
  include shadows.pug
  //- tag-label
  include tag-label.pug
  //- text
  include text.pug
  //- video
  include video.pug
  //- iframe
  include iframe.pug
  //- Utilities
  include utilities.pug
