//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Input
  @description: Design System - Content - Elements: Input
  -------------------------------------------------------------------------------//

+ds__contentItem('Input', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__input

  //- ds__contentBodyItem
  +ds__contentBodyItem('Input Text')
    +ds__componentsItem('Default')
      input.ocbc-input(type='text', name='default', placeholder='Input Here')/
    +ds__componentsItem('Minimalize')
      input.ocbc-input.ocbc-input--minimalize(type='text', name='minimalize', placeholder='Input Here')/
    +ds__componentsItem('Box Rounded')
      input.ocbc-input.ocbc-input--box-rounded(type='text', name='box_rounded', placeholder='Input Here')/
    +ds__componentsItem('Textarea')
      textarea.ocbc-input.ocbc-input--textarea-box(name='message', placeholder='Input Here')
  +ds__contentBodyItem('Input Radio')
    +ds__componentsItem('Default')
      .ocbc-field__input.ocbc-field__input--radio
        input.ocbc-input.ocbc-input--radio(type='radio', name='gender', value='1')/
        ='\n'
        label.ocbc-field__input--radio__label
          | Male
        |!{''}
        |
      .ocbc-field__input.ocbc-field__input--radio
        input.ocbc-input.ocbc-input--radio(type='radio', name='gender', value='2')/
        ='\n'
        label.ocbc-field__input--radio__label
          | Female
        |!{''}
        |
  +ds__contentBodyItem('Input Google Recaptcha')
    +ds__componentsItem('Default')
      .ocbc-field.ocbc-field--recaptcha
        .ocbc-field__input.ocbc-field__input--recaptcha
          script(type='text/javascript').
            function recaptchaCallback() {
              $('.js-form .js-recaptcha-validation .g-recaptcha > div > div').trigger('click');
            }
            function recaptchaExpired() {
              $('.js-form .js-recaptcha-validation .g-recaptcha > div > div').trigger('click');
            }
          .g-recaptcha(data-sitekey='6Ld4WOoUAAAAAEYZzbIAr0-B_xDsSdiq88Om3Rxy', data-callback='recaptchaCallback', data-expired-callback='recaptchaExpired')
  +ds__contentBodyItem('Input Range Slider')
    +ds__componentsItem('Default')
      -
        data = {
          name: 'usia_anda',
          label: 'Berapa Usia Anda',
          rangeType: 'year',
          min: '0',
          max: '100',
          from: '0',
          postfix: ' Tahun'
        };
      include ../../../components/input-range-slider.pug
