//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: List
  @description: Design System - Content - Elements: List
  -------------------------------------------------------------------------------//

+ds__contentItem('List', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__list
    //- ds__contentBodyItem
    +ds__contentBodyItem('List')
      +ds__componentsItem('Unorder List')
        ul.ocbc-list
          li.ocbc-list__item
            | Nasabah baru wajib isi formulir pembukaan rekening OCBC NISP
          li.ocbc-list__item
            | Nasabah baru wajib membawa KTP dan kartu NPWP
          li.ocbc-list__item
            | Pilih 1 base currency mata uang utama
          li.ocbc-list__item
            | Mata uang lainnya akan terbentuk secara otomatis
          li.ocbc-list__item
            | Setoran awal menyesuaikan base currency
          ='\n'
      +ds__componentsItem('Order List')
        ol.ocbc-list
          li.ocbc-list__item
            | Nasabah baru wajib isi formulir pembukaan rekening OCBC NISP
          li.ocbc-list__item
            | Nasabah baru wajib membawa KTP dan kartu NPWP
          li.ocbc-list__item
            | Pilih 1 base currency mata uang utama
          li.ocbc-list__item
            | Mata uang lainnya akan terbentuk secara otomatis
          li.ocbc-list__item
            | Setoran awal menyesuaikan base currency
          ='\n'
