//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Preloader
  @description: Design System - Content - Elements: Preloader
  -------------------------------------------------------------------------------//

+ds__contentItem('Preloader', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__preloader
    //- ds__contentBodyItem
    +ds__contentBodyItem('Preloader')
      +ds__componentsItem('Default')
        //ocbc-preloader
        .ocbc-preloader
          ='\n'
          svg.ocbc-preloader__spinner(width='36', height='36', version='1.1', xmlns='http://www.w3.org/2000/svg')
            ='\n'
            circle(cx='18', cy='18', r='16')
            |!{''}
            |
          |!{''}
          |
