//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Select
  @description: Design System - Content - Elements: Select
  -------------------------------------------------------------------------------//

+ds__contentItem('Select', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__select
    //- ds__contentBodyItem
    +ds__contentBodyItem('Select')
      +ds__componentsItem('Default')
        -
          data = {
            selectList: [
              {
                val: 1,
                text: 'How does interest applied to this account?'
              },
              {
                val: 2,
                text: 'Cara bertransaksi dengan QR Payment di ONe Mobile'
              },
              {
                val: 3,
                text: 'Apa itu ONe Mobile'
              },
              {
                val: 4,
                text: 'Apakah ONe Mobile aman untuk bertransaksi'
              }
            ]
          }

        .ocbc-select-wrapper.js-select(data-width='full')
          ='\n'
          select.ocbc-select__element(name='currency_from', data-label='Currency')
            each val, index in data.selectList
              if (index === 0)
                option(value=val.val, selected='selected')
                  | !{val.text}
              else
                option(value=val.val)
                  | !{val.text}
          |!{''}
          |
      +ds__componentsItem('With Search')
        -
          data = [
            {
              val: 1,
              text: 'Jakarta'
            },
            {
              val: 2,
              text: 'Bandung'
            },
            {
              val: 3,
              text: 'Surabaya'
            },
            {
              val: 4,
              text: 'Denpasar'
            },
            {
              val: 5,
              text: 'Medan'
            },
            {
              val: 6,
              text: 'Makassar'
            },
            {
              val: 7,
              text: 'Palembang'
            },
            {
              val: 8,
              text: 'Semarang'
            },
            {
              val: 9,
              text: 'Balikpapan'
            },
            {
              val: 10,
              text: 'Padang'
            }
          ];

        .ocbc-select-search
          ='\n'
          select.ocbc-select-search__element.js-select-city(name='city', placeholder='Pilih Kota')
            option(value='')
              | Pilih Kota
            each value in data
              option(value=value.val)
                | !{value.text}
          |!{''}
          |

