//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Shadow
  @description: Design System - Content - Elements: Shadow
  -------------------------------------------------------------------------------//

+ds__contentItem('Shadows', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__shadow
    //- ds__contentBodyItem
    +ds__contentBodyItem('Shadows')
      +ds__componentsItem('Default')
        .ocbc-ds__elements__box-list
          .ocbc-ds__elements__box.ocbc-shadow--16
            p.ocbc-ds__elements__box__desc
              | ocbc-shadow--16
          .ocbc-ds__elements__box.ocbc-shadow--8
            p.ocbc-ds__elements__box__desc
              | ocbc-shadow--8
          .ocbc-ds__elements__box.ocbc-shadow--6
            p.ocbc-ds__elements__box__desc
              | ocbc-shadow--6
          .ocbc-ds__elements__box.ocbc-shadow--4
            p.ocbc-ds__elements__box__desc
              | ocbc-shadow--4
