//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Tag Label
  @description: Design System - Content - Elements: Tag Label
  -------------------------------------------------------------------------------//

+ds__contentItem('Tag Label', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__tag-label
    //- ds__contentBodyItem
    +ds__contentBodyItem('Tag Label')
      +ds__componentsItem('Default')
        -
          data = [
            'Individu',
            'Tips & Tricks',
            'Keuangan',
            'Milenial',
            'Generari',
            'Pensiun',
            'Menabung',
            'Survei'
          ];
        each val in data
          span.ocbc-tag-label
            | !{val}
          |!{''}
          |
