//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Text
  @description: Design System - Content - Elements: Text
  -------------------------------------------------------------------------------//

+ds__contentItem('Text', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__text
    //- ds__contentBodyItem
    +ds__contentBodyItem('Text')
      //- ds__componentsSection
      +ds__componentsSection('Text Desktop')
        +ds__componentsItem('Hero')
          h1.ocbc-txt__hero.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Hero
          h1.ocbc-txt__hero.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Hero
          h1.ocbc-txt__hero.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Hero
        +ds__componentsItem('H1')
          h1.ocbc-txt__h1.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H1
          h1.ocbc-txt__h1.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H1
          h1.ocbc-txt__h1.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H1
        +ds__componentsItem('H2')
          h2.ocbc-txt__h2.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H2
          h2.ocbc-txt__h2.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H2
          h2.ocbc-txt__h2.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H2

        +ds__componentsItem('H3')
          h3.ocbc-txt__h3.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H3
          h3.ocbc-txt__h3.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H3
          h3.ocbc-txt__h3.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H3

        +ds__componentsItem('H4')
          h4.ocbc-txt__h4.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H4
          h4.ocbc-txt__h4.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H4
          h4.ocbc-txt__h4.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H4

        +ds__componentsItem('H5')
          h5.ocbc-txt__h5.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H5
          h5.ocbc-txt__h5.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H5
          h5.ocbc-txt__h5.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H5

        +ds__componentsItem('H6')
          h6.ocbc-txt__h6.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H6
          h6.ocbc-txt__h6.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H6
          h6.ocbc-txt__h6.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H6

        +ds__componentsItem('Body')
          p.ocbc-txt__body.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Body
          p.ocbc-txt__body.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Body
          p.ocbc-txt__body.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Body

        +ds__componentsItem('Label')
          p.ocbc-txt__label.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Label
          p.ocbc-txt__label.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Label
          p.ocbc-txt__label.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Label

        +ds__componentsItem('Small')
          p.ocbc-txt__small.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Small
          p.ocbc-txt__small.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Small
          p.ocbc-txt__small.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Small

        +ds__componentsItem('Micro')
          p.ocbc-txt__micro.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Micro
          p.ocbc-txt__micro.ocbc-txt--medium
              | The quick brown fox jumps over the lazy dog Micro
          p.ocbc-txt__micro.ocbc-txt--regular
              | The quick brown fox jumps over the lazy dog Micro

      //- ds__componentsSection
      +ds__componentsSection('Text Mobile')
        +ds__componentsItem('Hero')
          h1.ocbc-txt__m-hero.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Hero
          h1.ocbc-txt__m-hero.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Hero
          h1.ocbc-txt__m-hero.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Hero
        +ds__componentsItem('H1')
          h1.ocbc-txt__m-h1.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H1
          h1.ocbc-txt__m-h1.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H1
          h1.ocbc-txt__m-h1.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H1
        +ds__componentsItem('H2')
          h2.ocbc-txt__m-h2.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H2
          h2.ocbc-txt__m-h2.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H2
          h2.ocbc-txt__m-h2.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H2

        +ds__componentsItem('H3')
          h3.ocbc-txt__m-h3.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H3
          h3.ocbc-txt__m-h3.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H3
          h3.ocbc-txt__m-h3.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H3

        +ds__componentsItem('H4')
          h4.ocbc-txt__m-h4.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H4
          h4.ocbc-txt__m-h4.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H4
          h4.ocbc-txt__m-h4.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H4

        +ds__componentsItem('H5')
          h5.ocbc-txt__m-h5.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H5
          h5.ocbc-txt__m-h5.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H5
          h5.ocbc-txt__m-h5.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H5

        +ds__componentsItem('H6')
          h6.ocbc-txt__m-h6.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog H6
          h6.ocbc-txt__m-h6.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog H6
          h6.ocbc-txt__m-h6.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog H6

        +ds__componentsItem('Body')
          p.ocbc-txt__m-body.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Body
          p.ocbc-txt__m-body.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Body
          p.ocbc-txt__m-body.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Body

        +ds__componentsItem('Label')
          p.ocbc-txt__m-label.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Label
          p.ocbc-txt__m-label.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Label
          p.ocbc-txt__m-label.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Label

        +ds__componentsItem('Small')
          p.ocbc-txt__m-small.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Small
          p.ocbc-txt__m-small.ocbc-txt--medium
            | The quick brown fox jumps over the lazy dog Small
          p.ocbc-txt__m-small.ocbc-txt--regular
            | The quick brown fox jumps over the lazy dog Small

        +ds__componentsItem('Micro')
          p.ocbc-txt__m-micro.ocbc-txt--bold
            | The quick brown fox jumps over the lazy dog Micro
          p.ocbc-txt__m-micro.ocbc-txt--medium
              | The quick brown fox jumps over the lazy dog Micro
          p.ocbc-txt__m-micro.ocbc-txt--regular
              | The quick brown fox jumps over the lazy dog Micro
