//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Utilities
  @description: Design System - Content - Elements: Utilities
  -------------------------------------------------------------------------------//

+ds__contentItem('Utilities', 'Elements')
  .ocbc-ds__content__elements__utilities__scrollover
    .ocbc-ds__content__elements__utilities__tbl-wrapper
      .ocbc-ds__content__elements__utilities__tbl
        .ocbc-ds__content__elements__utilities__row.ocbc-ds__content__elements__utilities__row--title
          .ocbc-ds__content__elements__utilities__col
            p.ocbc-ds__content__elements__utilities__label
              | Class Name
          .ocbc-ds__content__elements__utilities__col
            p.ocbc-ds__content__elements__utilities__label
              | Description
        -
          utilitiesList = [
            {
              name: 'title',
              desc: 'Color'
            },
            {
              name: '.ocbc-color--$colorCode',
              desc: 'Text color with<br/>$colorCode:<br/>primary-n (n = 1 - 3)<br/>secondary-n (n = 1 - 15)<br/>premier-n (n = 1 - 3)<br/>private-n (n = 1 - 5)<br/>gray-n (n = 1 - 7)<br/>white<br/>black<br/>social-$name ($name = facebook, instagram, twitter, youtube, whatsapp, line, linkedin)<br/>system-$name ($name = error, success)'
            },
            {
              name: 'title',
              desc: 'Background Color'
            },
            {
              name: '.ocbc-bg--$colorCode',
              desc: 'Background color with<br/>$colorCode:<br/>primary-n (n = 1 - 3)<br/>secondary-n (n = 1 - 15)<br/>premier-n (n = 1 - 3)<br/>private-n (n = 1 - 5)<br/>gray-n (n = 1 - 7)<br/>white<br/>black<br/>social-$name ($name = facebook, instagram, twitter, youtube, whatsapp, line, linkedin)<br/>system-$name ($name = error, success)<br/>grad-$name ($name = primary, premier, premier-light, private, private-light, independence, eid, year-end, anniversary)'
            },
            {
              name: 'title',
              desc: 'Shadow'
            },
            {
              name: '.ocbc-shadow--$size',
              desc: 'Shadow with<br/>$size:<br/>16<br/>8<br/>6<br/>4'
            },
            {
              name: 'title',
              desc: 'Font Size'
            },
            {
              name: '.ocbc-fz-$size',
              desc: 'Font size with<br/>$size(with element and label name):<br/>hero, h1, h2, h3, h5, h6, body, label, small, micro, m-hero, m-h1, m-h2, m-h3, m-h5, m-h6, m-body, m-label, m-small, m-micro<br/><br/>$size(with number, units default using px):<br/>8-128'
            },
            {
              name: 'title',
              desc: 'Font Weight'
            },
            {
              name: '.ocbc-fw-$weight',
              desc: 'Font weight with<br/>$weight:<br/>regular (400)<br/>medium (500)<br/>bold (700)'
            },
            {
              name: 'title',
              desc: 'Font Style'
            },
            {
              name: '.ocbc-fs-$style',
              desc: 'Font style with<br/>$style:<br/>normal<br/>italic<br/>oblique'
            },
            {
              name: 'title',
              desc: 'Text Tranform'
            },
            {
              name: '.ocbc-tt-$tranform',
              desc: 'Text transform with<br/>$tranform:<br/>lowercase<br/>uppercase<br/>capitalize'
            },
            {
              name: 'title',
              desc: 'Text Align'
            },
            {
              name: '.ocbc-ta-l',
              desc: 'Text align left'
            },
            {
              name: '.ocbc-ta-c',
              desc: 'Text align center'
            },
            {
              name: '.ocbc-ta-r',
              desc: 'Text align right'
            },
            {
              name: '.ocbc-ta-j',
              desc: 'Text align justify'
            },
            {
              name: 'title',
              desc: 'Vertical Align'
            },
            {
              name: '.ocbc-va-t',
              desc: 'Vertical align top'
            },
            {
              name: '.ocbc-va-m',
              desc: 'Vertical align middle'
            },
            {
              name: '.ocbc-va-b',
              desc: 'Vertical align bottom'
            },
            {
              name: '.ocbc-va-bl',
              desc: 'Vertical align baseline'
            },
            {
              name: 'title',
              desc: 'Aspect Ratio'
            },
            {
              name: '.ocbc-aspect-ratio-$scale',
              desc: 'Rules are directly applied to iframe, embed, video and object elements. Use div with using class aspect radio as parent iframe, video, object elements.  <br/>$scale:<br/>21by9<br/>16by9<br/>8by5<br/>4by3<br/>3by2<br/>2by1<br/>1by1'
            },
            {
              name: 'title',
              desc: 'Grid System<br/><span class="ocbc-ds__content__elements__utilities__title__note">grid system using bootstrap concept</span>'
            },
            {
              name: '.ocbc-container',
              desc: 'Containers provide a means to center and horizontally pad your site’s contents.'
            },
            {
              name: '.ocbc-container-fluid',
              desc: 'Containers provide a means to center and horizontally pad your site’s contents (width 100%)'
            },
            {
              name: '.ocbc-row',
              desc: 'Rows are wrappers for columns'
            },
            {
              name: '.ocbc-col-$breakpoints-$col',
              desc: 'Column width with variable<br/>$breakpoints:<br/>xl (screen >= 1200px)<br/>lg (screen < 1200px)<br/>md (screen < 992px)<br/>sm (screen < 768px)<br/>xs (screen < 578px)<br/><br/>$col:<br/>1 - 12'
            },
            {
              name: '.ocbc-col-$breakpoints-pull-$col',
              desc: 'Column pull with variable<br/>$breakpoints:<br/>xl (screen >= 1200px)<br/>lg (screen < 1200px)<br/>md (screen < 992px)<br/>sm (screen < 768px)<br/>xs (screen < 578px)<br/><br/>$col:<br/>1 - 12'
            },
            {
              name: '.ocbc-col-$breakpoints-push-$col',
              desc: 'Column push with variable<br/>$breakpoints:<br/>xl (screen >= 1200px)<br/>lg (screen < 1200px)<br/>md (screen < 992px)<br/>sm (screen < 768px)<br/>xs (screen < 578px)<br/><br/>$col:<br/>1 - 12'
            },
            {
              name: '.ocbc-col-$breakpoints-offset-$col',
              desc: 'Column offset with variable<br/>$breakpoints:<br/>xl (screen >= 1200px)<br/>lg (screen < 1200px)<br/>md (screen < 992px)<br/>sm (screen < 768px)<br/>xs (screen < 578px)<br/><br/>$col:<br/>1 - 12'
            },
            {
              name: '.ocbc-clearfix',
              desc: 'Clearfix'
            },
            {
              name: '.ocbc-cf',
              desc: 'Clearfix'
            },
            {
              name: 'title',
              desc: 'Spacing with Margin<br/><span class="ocbc-ds__content__elements__utilities__title__note">Rules:<br/><strong>auto</strong><br/><strong>n(number)</strong> = 0 - 50<br/><strong>$spacer</strong> = 8px<br/><strong>$total</strong> = n * $spacer<br/><br/>Example:<br/>m-auto = auto<br/>m-0 = 0px (0*8px)<br/>m-1 = 8px (1x8px)<br/>m-2 = 16px (2x8px)</span>'
            },
            {
              name: '.ocbc-m-auto',
              desc: 'Margin all side (top, right, bottom, left) is auto'
            },
            {
              name: '.ocbc-my-auto',
              desc: 'Coordinate Y: Margin top and Margin bottom is auto'
            },
            {
              name: '.ocbc-mx-auto',
              desc: 'Coordinate X: Margin right and Margin left is auto'
            },
            {
              name: '.ocbc-mt-auto',
              desc: 'Margin top is auto'
            },
            {
              name: '.ocbc-mr-auto',
              desc: 'Margin right is auto'
            },
            {
              name: '.ocbc-mb-auto',
              desc: 'Margin bottom is auto'
            },
            {
              name: '.ocbc-m-n',
              desc: 'Margin all side (top, right, bottom, left) is n * $spacer'
            },
            {
              name: '.ocbc-my-n',
              desc: 'Coordinate Y: Margin top and Margin bottom is n * $spacer'
            },
            {
              name: '.ocbc-mx-n',
              desc: 'Coordinate X: Margin right and Margin left is n * $spacer'
            },
            {
              name: '.ocbc-mt-n',
              desc: 'Margin top is n * $spacer'
            },
            {
              name: '.ocbc-mr-n',
              desc: 'Margin right is n * $spacer'
            },
            {
              name: '.ocbc-mb-n',
              desc: 'Margin bottom is n * $spacer'
            },
            {
              name: '.ocbc-ml-n',
              desc: 'Margin left is n * $spacer'
            },
            {
              name: 'title',
              desc: 'Spacing with Padding<br/><span class="ocbc-ds__content__elements__utilities__title__note">Rules:<br/><strong>n(number)</strong> = 0 - 50<br/><strong>$spacer</strong> = 8px<br/><strong>$total</strong> = n * $spacer<br/><br/>Example:<br/>p-0 = 0px (0*8px)<br/>p-1 = 8px (1x8px)<br/>p-2 = 16px (2x8px)</span>'
            },
            {
              name: '.ocbc-p-n',
              desc: 'Padding all side (top, right, bottom, left) is n * $spacer'
            },
            {
              name: '.ocbc-py-n',
              desc: 'Coordinate Y: Padding top and padding bottom is n * $spacer'
            },
            {
              name: '.ocbc-px-n',
              desc: 'Coordinate X: Padding right and padding left is n * $spacer'
            },
            {
              name: '.ocbc-pt-n',
              desc: 'Padding top is n * $spacer'
            },
            {
              name: '.ocbc-pr-n',
              desc: 'Padding right is n * $spacer'
            },
            {
              name: '.ocbc-pb-n',
              desc: 'Padding bottom is n * $spacer'
            },
            {
              name: '.ocbc-pl-n',
              desc: 'Padding left is n * $spacer'
            }
          ]
        each val in utilitiesList
          if val.name == 'title'
            .ocbc-ds__content__elements__utilities__section
              p.ocbc-ds__content__elements__utilities__title
                | !{val.desc}
          else
            .ocbc-ds__content__elements__utilities__row
              .ocbc-ds__content__elements__utilities__col
                p.ocbc-ds__content__elements__utilities__name
                  | !{val.name}
              .ocbc-ds__content__elements__utilities__col
                p.ocbc-ds__content__elements__utilities__desc
                  | !{val.desc}
