//-------------------------------------------------------------------------------
  @name: Design System - Content - Elements: Video
  @description: Design System - Content - Elements: Video
  -------------------------------------------------------------------------------//

+ds__contentItem('Video', 'Elements')
  .ocbc-ds__elements.ocbc-ds__elements__video
    +ds__componentsItem('Default')
      video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('21:9 Aspect Ratio')
      .ocbc-aspect-ratio-21by9
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('16:9 Aspect Ratio')
      .ocbc-aspect-ratio-16by9
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('8:5 Aspect Ratio')
      .ocbc-aspect-ratio-8by5
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('4:3 Aspect Ratio')
      .ocbc-aspect-ratio-4by3
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('3:2 Aspect Ratio')
      .ocbc-aspect-ratio-3by2
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('2:1 Aspect Ratio')
      .ocbc-aspect-ratio-2by1
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
    +ds__componentsItem('1:1 Aspect Ratio')
      .ocbc-aspect-ratio-1by1
        video(controls)
          source(src='videos/dummy.mp4' type='video/mp4')/
          | Your browser does not support the video tag.
