//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Card Suggestion
  @description: Bunga & Biaya - Card Suggestion
  -------------------------------------------------------------------------------//

-
  data = {
    modifier: 'landing',
    card: [
      {
        icon: 'nyala-individu.svg',
        title: 'Individu',
        description: 'Informasi lengkap bunga dan biaya transaksi untuk produk Individu OCBC NISP',
        button: 'Selengkapnya',
        to: 'bunga-dan-biaya-individu.html'
      },
      {
        icon: 'handshake.svg',
        title: 'SME',
        description: 'Informasi lengkap bunga dan biaya transaksi untuk produk SME OCBC NISP',
        button: 'Selengkapnya',
        to: 'bunga-dan-biaya-sme.html'
      },
      {
        icon: 'suitcase.svg',
        title: 'Korporasi',
        description: 'Informasi lengkap bunga dan biaya transaksi untuk produk Korporasi OCBC NISP',
        button: 'Selengkapnya',
        to: 'bunga-dan-biaya-korporasi.html'
      },
      {
        icon: 'global-business.svg',
        title: 'Syariah',
        description: 'Informasi lengkap bunga dan biaya transaksi untuk produk Syariah OCBC NISP',
        button: 'Selengkapnya',
        to: 'bunga-dan-biaya-syariah.html'
      },
      {
        icon: 'digital-channel.svg',
        title: 'Digital Channel',
        description: 'Informasi lengkap bunga dan biaya transaksi untuk layanan Ditigal Channel OCBC NISP',
        button: 'Selengkapnya',
        to: 'bunga-dan-biaya-digital-channel.html'
      }
    ]
  };

include ../../layout/card-suggestion.pug
