//-------------------------------------------------------------------------------
  @name: Bunga & Biaya  - Product Banner
  @description: Bunga & Biaya - Product Banner
  -------------------------------------------------------------------------------//

-
  data = {
    isNyala: false,
    mode: bannerMode,
    title: 'Bunga & Biaya',
    description: 'Informasi lengkap seputar bunga dan biaya transaksi untuk aktivitas perbankan di OCBC NISP',
    image: {
      desktop: 'bunga-biaya-d.jpg',
      mobile: 'bunga-biaya-m.jpg'
    }
  }

include ../../components/product-detail-banner.pug
