//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Cross Currency Swap
  @description: Bunga & Biaya SME - Vertical Tab - Cross Currency Swap
  -------------------------------------------------------------------------------//

include table/cross-currency-swap.pug
