//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Dual Currency Returns
  @description: Bunga & Biaya SME - Vertical Tab - Dual Currency Returns
  -------------------------------------------------------------------------------//


include table/dual-currency-returns.pug
