//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - FX Forward
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - FX Forward
  -------------------------------------------------------------------------------//

include table/fx-forward.pug
