//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - FX Today
  @description: Bunga & Biaya SME - Vertical Tab - FX Today
  -------------------------------------------------------------------------------//


include table/fx-today.pug
