//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Interest Rate Swap
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Interest Rate Swap
  -------------------------------------------------------------------------------//

include table/interest-rate-swap.pug
