//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Obligasi Korporasi
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Obligasi Korporasi
  -------------------------------------------------------------------------------//

include table/obligasi-korporasi.pug
