//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Obligasi Pemerintah
  @description: Bunga & Biaya SME - Vertical Tab - Obligasi Pemerintah
  -------------------------------------------------------------------------------//


include table/obligasi-pemerintah.pug
