//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Tomorrow dan Spot
  @description: Bunga & Biaya - Bunga & Biaya Korporasi - Vertical Tab - Tomorrow dan Spot
  -------------------------------------------------------------------------------//

include table/tomorrow-spot.pug
