//-------------------------------------------------------------------------------
  @name: Individu Simpanan - Tab - Tabungan
  @description: Individu Simpanan - Tab - Tabungan
  -------------------------------------------------------------------------------//

-
  data = {
    card: [
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-1.jpg',
        title: 'Tanda 360 Plus',
        item: [
          '12 Mata Uang di 1 rekening',
          'Nilai Tukar Valas Terbaik',
          'Bebas Biaya Admin'
        ]
      },
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-2.jpg',
        title: 'Tanda Premium',
        item: [
          'Setoran Awal Ringan',
          'Suku Bunga Kompetitif',
          'Bebas Biaya Admin'
        ]
      },
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-3.jpg',
        title: 'Tanda Valas SGD',
        item: [
          'Bebas Transaksi di Singapura',
          'Setoran Awal Ringan',
          'Bebas Biaya Admin'
        ]
      },
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-2.jpg',
        title: 'Tanda Junior',
        item: [
          '3 Pilihan Mata Uang',
          'Bebas Biaya Perlindungan',
          'Setoran Awal Ringan'
        ]
      },
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-2.jpg',
        title: 'Tabunganku',
        item: [
          'Suku Bunga Terbaik',
          'Setoran Awal Ringan',
          'Bebas Biaya Admin'
        ]
      },
      {
        to: 'individu-simpanan-tabungan-tanda360.html',
        image: 'product-category-2.jpg',
        title: 'OCBC NISP Simpel',
        item: [
          'Rekening Atas Nama Siswa',
          'Setoran Awal Ringan',
          'Bebas Biaya Admin'
        ]
      }
    ]
  }
include ../../../layout/card-product-category.pug

-
  data = {
    innerTabs: true,
    icon: '',
    title: 'Penawaran Khusus untuk Anda',
    card: [
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'product-category-1.jpg',
        label: 'Tanda 360 Plus',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'product-category-2.jpg',
        label: 'Tanda 360 Plus',
        date: '1 Sept 2019 - 1 Sept 2020'
      },
      {
        to: 'promo-detail.html',
        title: 'Extra 10% Disc at Altoro',
        img: 'product-category-3.jpg',
        label: 'Tanda 360 Plus',
        date: '1 Sept 2019 - 1 Sept 2020'
      }
    ]
  };
include ../../../layout/highlight-promo.pug
