//-------------------------------------------------------------------------------
  @name: Promo - Detail - Breadcrumbs
  @description: Promo - Detail - Breadcrumbs
  -------------------------------------------------------------------------------//

-
  data = [
    {
      to: 'promo.html',
      text: 'Promosi'
    },
    {
      to: 'promo-detail.html',
      text: 'Extra 10% Disc at Altoro'
    }
  ],
  mode = 'ocbc-breadcrumbs--light';

//ocbc-breadcrumbs__page
.ocbc-breadcrumbs__page(class=mode)
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-12
        include ../../components/breadcrumbs.pug
