//-------------------------------------------------------------------------------
  @name: Promo Detail - Card Product Category
  @description: Promo Detail - Card Product Category
  -------------------------------------------------------------------------------//

-
  data = {
    sectionDetailL: true,
    title: 'Produk Terkait',
    card: [
      {
        to: '#',
        image: 'nisp-platinum.jpg',
        title: 'OCBC NISP Platinum',
        item: [
          '12 Mata Uang dalam 1 Tabungan',
          'Bebas Biaya Administrasi',
          'Bebas Biaya Tarik Tunai'
        ]
      },
      {
        to: '#',
        image: 'nisp-titanium.jpg',
        title: 'OCBC NISP Titanium',
        item: [
          '12 Mata Uang dalam 1 Tabungan',
          'Bebas Biaya Administrasi',
          'Bebas Biaya Tarik Tunai'
        ]
      },
      {
        to: '#',
        image: 'nisp-voyage.jpg',
        title: 'OCBC NISP Voyage',
        item: [
          '12 Mata Uang dalam 1 Tabungan',
          'Bebas Biaya Administrasi',
          'Bebas Biaya Tarik Tunai'
        ]
      }
    ]
  }

include ../../layout/card-product-category.pug
