//-------------------------------------------------------------------------------
  @name: Promo Detail - Content Detail
  @description: Promo Detail - Content Detail
  -------------------------------------------------------------------------------//

extends ../../layout/content-detail.pug

//- head
block head
  -
    data = {
      title: 'Extra 10% Disc at Altoro',
      date: '1 Sept 2019 - 1 Sept 2020',
      author: '',
      images: [
        {
          src: 'promo-1.jpg',
          alt: 'Extra 10% Disc at Altoro'
        },
        {
          src: 'promo-2.jpg',
          alt: 'Extra 10% Disc at Altoro'
        },
        {
          src: 'promo-3.jpg',
          alt: 'Extra 10% Disc at Altoro'
        }
      ]
    }

//- body
block body
  p.ocbc-content-detail__desc
    | Diskon 10% pakai Kartu Kredit OCBC NISP Platinum berlaku dari 1 Sept 2019 - 1 Sept 2020.
    br/
    | Promo hanya berlaku untuk makanan saja.
  -
    data = {
      title: 'Promo Code',
      promoCode: 'ALTORO10',
      description: 'Pakai kode promo ini di ONe Mobile App (Android dan iOS)',
    };
  include ../../components/card-code-promo.pug

  h4.ocbc-content-detail__title-content
    | Terms and Conditions
  ul.ocbc-content-detail__list
    li.ocbc-content-detail__list__item
      | Promo berlaku untuk pembayaran dengan Kartu Kredit OCBC NISP (Voyage, Platinum, atau Titanium)
    li.ocbc-content-detail__list__item
      | Minimum transaksi Rp500.000
    li.ocbc-content-detail__list__item
      | Tidak berlaku kelipatan dan split bill
    li.ocbc-content-detail__list__item
      | Berlaku setiap hari
    li.ocbc-content-detail__list__item
      | Tidak dapat digabungkan dengan promo lainnya
    li.ocbc-content-detail__list__item
      | Bank OCBC NISP berhak membebankan chargeback ke Nasabah, jika terjadi penyalahgunaan transaksi yang tidak sesuai dengan ketentuan yang berlaku
  h4.ocbc-content-detail__title-content
    | Alamat Outlet
  p.ocbc-content-detail__desc
    | Jalan Raya Kupang Indah
    br/
    | Dukuh Kupang
    br/
    | Kec. Dukuh Pakis, Surabaya

//- tag
block tag
  -
    data = [
      'Dining',
      'Kartu Kredit'
    ];
