/* ==========================================================================
   OCBC Mixin: Image
   ========================================================================== */

@mixin image($size, $post) {
  max-width: initial;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
  object-position: $post;
}
