/* ==========================================================================
   OCBC Mixin: Carousel
   ========================================================================== */

// carousel
@mixin carousel-nav-red($position: 'static') {
  &.owl-carousel {
    @if $position == 'static' {
      position: static;
      .owl-stage-outer {
        overflow: visible;
      }
      .owl-stage {
        position: static;
      }
    }

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: auto;
      z-index: $z-banner-nav;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-image: lg(primary, 131deg, 15%, 85%);
      transition: all 0.3s ease;
      color: color(white);
      text-align: center;
      @include remove-tap-highlight;
      @include shadow(4);
      &.disabled {
        opacity: 0;
        cursor: default;
      }
      span {
        display: none;
      }
      // <pseudo-element/>
      @include element(after) {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.6rem;
      }
    }
    button.owl-prev {
      &.disabled {
        transform: translateX(4px);
      }
      // <pseudo-element/>
      @include element(after) {
        @include font-icon("\e907");
      }
    }
    button.owl-next {
      &.disabled {
        transform: translateX(-4px);
      }
      // <pseudo-element/>
      @include element(after) {
        @include font-icon("\e908");
      }
    }
  }
}

// carousel-nav
@mixin carousel-nav-red-position($nav, $position, $unit) {
  &.owl-carousel {
    @if $nav == "all" {
      button.owl-prev,
      button.owl-next {
        @if $position == bottom {
          bottom: $unit;
        }
      }
    } @else {
      button.owl-#{$nav} {
        @if $position == left {
          left: $unit;
        } @else if $position == right {
          right: $unit;
        }
      }
    }
  }
}
