/* ==========================================================================
   OCBC Mixin: Shadow
   ========================================================================== */

@mixin shadow($size) {
  @if $size == 16 {
    box-shadow: $shadow-16;
  } @else if $size == 8 {
    box-shadow: $shadow-8;
  } @else {
    box-shadow: $shadow-6;
  }
}
