/* ==========================================================================
   OCBC Mixin: Main Banner
   ========================================================================== */

// main-banner
@mixin main-banner {
  min-height: 800px;
  height: 100vh;
  position: relative;
  // --- iPad Landscape
  @include large {
    min-height: 660px;
    .ios-browser & {
      height: 90.5vh;
    }
  }
  // --- iPad Portrait
  @include medium {
    min-height: 916px;
    .ios-browser & {
      height: 92.95vh;
    }
  }
  @include small {
    min-height: 592px;
    .ios-browser & {
      // --- iphone 10 add to home screen
      @media screen and (max-height: 852px) {
        height: 99.95vh;
      }
      // --- iphone 10
      @media screen and (max-height: 720px) {
        height: 86.25vh;
      }
      // --- iphone 8 windows
      @media screen and (max-height: 667px) {
        height: 100vh;
      }
      // --- iphone 8 add to home screen
      @media screen and (max-height: 647px) {
        height: 100vh;
      }
      // --- iphone 8
      @media screen and (max-height: 553px) {
        height: 88vh;
      }
      // --- iphone 10
      height: 86.25vh;
    }
    .android-browser & {
      // --- global
      height: 93.5vh;
      // --- asus zenefone 2
      @media screen and (min-height: 556px) and (max-height: 674px) {
        height: 92.25vh;
      }
      // --- asus zenefone 2 add to home screen
      @media screen and (min-height: 740px) and (max-height: 794px) {
        height: 93.5vh;
      }
      // --- asus zenefone 2 add to home screen
      @media screen and (min-height: 700px) and (max-height: 729px) {
        height: 100vh;
      }
      // --- samsung a30, oppo a7 add to home screen
      @media screen and (min-height: 800px) and (max-height: 862px) {
        height: 100vh;
      }
    }
  }
}
