/* ==========================================================================
   OCBC Mixin: Background Image
   ========================================================================== */

@mixin bg-image($size, $post, $repeat: no-repeat) {
  background-size: $size;
  background-position: $post;
  background-repeat: $repeat;
}
