/* ==========================================================================
   OCBC Mixin: Font Icon
   ========================================================================== */

// font-icon
@mixin font-icon($content: "e900") {
  font-family: ff(family-icon);
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: "#{$content}";
}
