/* ==========================================================================
   OCBC Mixin: Font Size
   ========================================================================== */

// font-size
@mixin font-size($name, $type: "default") {
  @if $type == "mobile" {
    font-size: fz($name, mobile);
    line-height: lh($name, mobile);
  } @else if $type == "desktop" {
    font-size: fz($name, desktop);
    line-height: lh($name, desktop);
  } @else {
    font-size: fz($name, desktop);
    line-height: lh($name, desktop);
    @include small {
      font-size: fz($name, mobile);
      line-height: lh($name, mobile);
    }
  }
}
