/* ==========================================================================
   OCBC Mixin: Border Bottom Hover Slide
   ========================================================================== */

@mixin border-bottom-hover-slide($direction: left) {

  // <pseudo-element/>
  @include element(after) {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-bottom: solid 1px color(primary, 1);
    transition: all 0.25s ease;
    transform: scaleX(0);
    margin-left: 0;
    width: auto;
    height: auto;
    z-index: $z-border-bottom-hover-slide;

    // -- premier site
    .#{$prefix}premier-site & {
      border-color: color(premier, 1);
    }

    // -- private site
    .#{$prefix}private-site & {
      border-color: color(private, 1);
    }

    @if $direction==right {
      transform-origin: right center;
    }

    @else if $direction==center {
      transform-origin: center center;
    }

    @else {
      transform-origin: left center;
    }
  }
}
