/* ==========================================================================
   OCBC Mixin: Overload Preloader
   ========================================================================== */

// overload-preloader
@mixin overload-preloader {
  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $z-widget-overlay;
    border-radius: 8px;
    background-color: rgba(color(gray, 1), 0.5);
    .#{$prefix}preloader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
