//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Jasa & Layanan
  @description: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Jasa & Layanan
  -------------------------------------------------------------------------------//

-
  data = [
  {
      text: 'Layanan Pembayaran ZIS dan Kurban',
      target: 'layanan-pembayaran'
    },
    {
      text: 'Syariah Investa Optima',
      target: 'syariah-investa'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='layanan-pembayaran')
          include vtc-jasa-layanan/layanan-pembayaran.pug
        .ocbc-vt-content(data-pane='syariah-investa')
          include vtc-jasa-layanan/syariah-investa.pug