//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Pembiayaan
  @description: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Pembiayaan
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'KPR iB MMQ',
      target: 'kpr-ib-mmq'
    },
    {
      text: 'KPR iB Murabahah',
      target: 'kpr-ib-murabahah'
    },
    {
      text: 'KPKB iB',
      target: 'kpkb-ib'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='kpr-ib-mmq')
          include vtc-pembiayaan/kpr-ib-mmq.pug        
        .ocbc-vt-content(data-pane='kpr-ib-murabahah')
          include vtc-pembiayaan/kpr-ib-murabahah.pug        
        .ocbc-vt-content(data-pane='kpkb-ib')
          include vtc-pembiayaan/kpkb-ib.pug