//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Simpanan Berjangka
  @description: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Simpanan Berjangka
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Taka iB',
      target: 'taka-ib'
    },
    {
      text: 'Deposito iB',
      target: 'deposito-ib'
    },
    {
      text: 'Taka iB Insurance',
      target: 'taka-ib-insurance'
    },
    {
      text: 'Deposito iB USD',
      target: 'deposito-ib-usd'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='taka-ib')
          include vtc-simpanan-berjangka/taka-ib.pug
        .ocbc-vt-content(data-pane='deposito-ib')
          include vtc-simpanan-berjangka/deposito-ib.pug        
        .ocbc-vt-content(data-pane='taka-ib-insurance')
          include vtc-simpanan-berjangka/taka-ib-insurance.pug        
        .ocbc-vt-content(data-pane='deposito-ib-usd')
          include vtc-simpanan-berjangka/deposito-ib-usd.pug