//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Simpanan
  @description: Bunga & Biaya - Bunga & Biaya Syariah - Tab - Simpanan
  -------------------------------------------------------------------------------//

-
  data = [
    {
      text: 'Tanda iB',
      target: 'tanda-ib'
    },
    {
      text: 'Giro iB Mudharabah',
      target: 'giro-ib-mudharabah'
    },
    {
      text: 'TabunganKu iB',
      target: 'tabunganku-ib'
    },
    {
      text: 'SimPel iB',
      target: 'simpel-ib'
    },
    {
      text: 'Tanda Mudharabah iB',
      target: 'tanda-mudharabah-ib'
    },
    {
      text: 'Tanda Mudharabah iB Plus',
      target: 'tanda-mudharabah-ib-plus'
    },
    {
      text: 'Giro iB Wadiah',
      target: 'giro-ib-wadiah'
    },
    {
      text: 'Tabungan Haji iB',
      target: 'tabungan-haji-ib'
    },
    {
      text: 'Tanda iB Easy Gold',
      target: 'tanda-ib-easy-gold'
    },
    {
      text: 'Tanda iB USD',
      target: 'tanda-ib-usd'
    }
  ]

//ocbc-vertical-tab__page
.ocbc-vertical-tab__page
  .ocbc-container
    .ocbc-row
      .ocbc-col-xl-3.ocbc-col-lg-12
        include ../../../components/vertical-tab.pug
      .ocbc-col-xl-9.ocbc-col-lg-12
        .ocbc-vt-content.ocbc-vt-content--active(data-pane='tanda-ib')
          include vtc-simpanan/tanda-ib.pug
        .ocbc-vt-content(data-pane='giro-ib-mudharabah')
          include vtc-simpanan/giro-ib-mudharabah.pug        
        .ocbc-vt-content(data-pane='tabunganku-ib')
          include vtc-simpanan/tabunganku-ib.pug        
        .ocbc-vt-content(data-pane='simpel-ib')
          include vtc-simpanan/simpel-ib.pug        
        .ocbc-vt-content(data-pane='tanda-mudharabah-ib')
          include vtc-simpanan/tanda-mudharabah-ib.pug
        .ocbc-vt-content(data-pane='tanda-mudharabah-ib-plus')
          include vtc-simpanan/tanda-mudharabah-ib-plus.pug
        .ocbc-vt-content(data-pane='giro-ib-wadiah')
          include vtc-simpanan/giro-ib-wadiah.pug
        .ocbc-vt-content(data-pane='tabungan-haji-ib')
          include vtc-simpanan/tabungan-haji-ib.pug
        .ocbc-vt-content(data-pane='tanda-ib-easy-gold')
          include vtc-simpanan/tanda-ib-easy-gold.pug
        .ocbc-vt-content(data-pane='tanda-ib-usd')
          include vtc-simpanan/tanda-ib-usd.pug
          