//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Card Article
  @description: Individu - Nyala - Card Article
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Inspirasi yang terus menyala',
    card: [
      {
        image: 'nyala-1.jpg',
        label: 'Pendidikan',
        title: 'Kopi Sebagai Ekspresi Banyak Rasa',
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      },
      {
        image: 'nyala-2.jpg',
        label: 'Pendidikan',
        title: 'Cara mengamankan pendidikan Anak',
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    ]
  }

//ocbc-card-article-container
.ocbc-card-article-container.ocbc-card-article-container--gray
  include ../../layout/card-article.pug
