//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Main Banner
  @description: Individu - Nyala - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            light: true,
            middle: true,
            image: {
              desktop: 'nyala-d.jpg',
              mobile: 'nyala-m.jpg'
            },
            title: 'Ketika Mimpi Bukan Sekadar Wacana',
            description: 'Dorong jauh ambisi melebihi mimpi karena tak ada yang tak bisa diwujudkan dengan Nyala OCBC NISP. #TAYTB. Dorong jauh ambisi melebihi mimpi karena tak ada yang tak bisa diwujudkan',
            button: {
              text: 'Temukan Nyalamu',
              to: 'individu-nyala-detail.html'
            }
          }
        ];
include ../../layout/main-banner.pug
