//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Nyala Card
  @description: Individu - Nyala - Nyala Card
  -------------------------------------------------------------------------------//

-
  data = {
    title: 'Pilih layanan Nyala yang sesuai kebutuhanmu',
    card: [
      {
        type: 'Nyala',
        title: 'Kelola keuangan dan optimalkan aset secara digital',
        item: [
          'Saldo Gabungan mulai dari Rp 1 juta untuk nikmati manfaat bebas biaya transaksi dan biaya layanan',
          'Bebas biaya administrasi rekening & biaya dibawah saldo minimum',
          'Bebas biaya layanan senilai Rp 20 ribu/bulan',
          'Bebas biaya transfer antar bank via e-channel metode online & SKN/LLG sebanyak 10x per bulan',
          'Bebas biaya Tarik tunai di ATM jaringan Prima, Bersama, dan OCBC Singapore sebanyak 10x per bulan',
          'Investasi mulai nominal Rp 20 ribu',
          'Bonus penawaran istimewa Rp 250 ribu untuk nasabah baru'
        ],
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      },
      {
        focus: true,
        type: 'Nyala Individu',
        title: 'Kembangkan aset sambil menikmati gaya hidup',
        item: [
          'Saldo Gabungan mulai dari Rp 25 juta untuk nikmati manfaat bebas biaya transaksi dan biaya layanan',
          'Bebas biaya administrasi rekening & biaya dibawah saldo minimum',
          'Bebas biaya layanan senilai Rp50 ribu/bulan',
          'Bebas biaya transfer antar bank via e-channel metode online & SKN/LLG sebanyak 50x per bulan',
          'Bebas biaya Tarik tunai di ATM jaringan Prima, Bersama, dan OCBC Singapore sebanyak 50x per bulan',
          'Bebas biaya pembayaran dan pembelian via ONe Mobile sebanyak 50x per bulan (biaya akan di kembalikan 1 hari setelah transaksi)',
          'Bebas biaya tahun pertama Kartu Kredit OCBC NISP',
          'Cicilan kartu kredit 0% 3 bulan',
          'Investasi mulai nominal Rp20 ribu',
          'Cashback hingga Rp50 ribu per bulan'
        ],
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      },
      {
        type: 'Nyala Bisnis',
        title: 'Fokus pada usaha Anda dengan dukungan keahlian kami',
        item: [
          'Rekening Tanda 360 Plus untuk kebutuhan personal dan Giro Business Smart untuk transaksi bisnis',
          'Saldo Gabungan mulai dari Rp 25 juta untuk nikmati manfaat bebas biaya transaksi dan biaya layanan',
          'Bebas biaya administrasi rekening & biaya dibawah saldo minimum',
          'Bebas biaya layanan senilai Rp 50 ribu/bulan',
          'Bebas biaya transfer antar bank via e-channel metode online & SKN/LLG sebanyak 50x per bulan',
          'Bebas biaya Tarik tunai di ATM jaringan Prima, Bersama, dan OCBC Singapore sebanyak 50x per bulan',
          'Bebas biaya setoran kliring di cabang sebanyak 50x per bulan',
          'Bebas biaya RTGS via e-channel 3x per bulan jika Saldo Gabungan di atas Rp 50 juta',
          'Bebas biaya tahun pertama Kartu Kredit OCBC NISP',
          'Cicilan kartu kredit 0% 3 bulan',
          'Perlindungan asuransi jiwa gratis dengan Uang Pertanggungan hingga Rp 500juta',
          'Solusi digital untuk mendukung bisnis Anda'
        ],
        button: {
          text: 'Selengkapnya',
          to: '#'
        }
      }
    ]
  }

include ../..//layout/card-nyala-comparison.pug
