//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Velocity Mobile
  @description: Individu - Nyala - Velocity Mobile
  -------------------------------------------------------------------------------//

-
  data = {
    type: 'velocity',
    image: {
      desktop: 'one-mobile-short-d.jpg',
      mobile: 'one-mobile-short-m.jpg'
    },
    title: 'Buka Nyala di ONe Mobile'
  }

include ../../components/one-mobile.pug
