//-------------------------------------------------------------------------------
  @name: Individu - Nyala - Product Category Fragment
  @description: Individu - Nyala - Product Category Fragment
  -------------------------------------------------------------------------------//

-
  data = [
    {
      title: 'Manage Your Money Well',
      description: 'Gampang atur keuangan jadi gajian gak numpang lewat',
      img: {
        default: 'fragment-default.svg',
        hover: 'fragment-hover.svg'
      }
    },
    {
      title: 'Optimize & Grow',
      description: 'Bisa beli reksa dana dan kelola investasi lainnya biar makin cuan',
      img: {
        default: 'fragment-default.svg',
        hover: 'fragment-hover.svg'
      }
    },
    {
      title: 'Live No Worries',
      description: 'Saatnya nikmatin hidup karena gak pusing lagi atur keuangan dan investasi',
      img: {
        default: 'fragment-default.svg',
        hover: 'fragment-hover.svg'
      }
    }
  ]
include ../../layout/product-category-fragment.pug
