//-------------------------------------------------------------------------------
  @name: Design System - Component - Banner
  @description: Design System - Component - Banner
  -------------------------------------------------------------------------------//

+ds__contentItem('Banner', 'Components')
  .ocbc-ds__components.ocbc-ds__components__banner
    //- ds__componentsSection
    +ds__componentsSection('Main Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = [
                  {
                    image: {
                      desktop: 'individu-d.jpg',
                      mobile: 'individu-m.jpg'
                    },
                    title: 'Hidup Lebih Nyala Jadikan Semua Nyata',
                    description: 'Berhenti bermimpi untuk berani mencapai tujuan finansialmu #TAYTB'
                  }
                ];
        include ../../../layout/main-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Light', '', noPadding = true)
        -
          data = [
                  {
                    light: true,
                    image: {
                      desktop: 'tentang-kami-d.jpg',
                      mobile: 'tentang-kami-m.jpg'
                    },
                    title: 'Hidup Lebih Nyala Jadikan Semua Nyata',
                    description: 'Berhenti bermimpi untuk berani mencapai tujuan finansialmu #TAYTB',
                    button : {
                      text: 'Temukan Nyalamu',
                      to: '#'
                    }
                  }
                ];
        include ../../../layout/main-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Rachel', '', noPadding = true)
        -
          data = [
                  {
                    light: true,
                    isRachel: true,
                    image: {
                      desktop: 'rachel-d.jpg',
                      mobile: 'rachel-m.jpg'
                    },
                    title: 'Pengen kaya tapi gak bisa lepas dari jajan boba?',
                    description: 'Cuma 10 menit ngobrol sama aku, kamu langsung melek investasi dan keuangan. #TAYTB',
                    button: {
                      secondaryWhite: true,
                      text: 'Ngobrol sama Rachel',
                      to: '#'
                    }
                  }
                ];
        include ../../../layout/main-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Carousel', '', noPadding = true)
        -
          data = [
                  {
                    image: {
                      desktop: 'individu-d.jpg',
                      mobile: 'individu-m.jpg'
                    },
                    title: 'Hidup Lebih Nyala Jadikan Semua Nyata',
                    description: 'Berhenti bermimpi untuk berani mencapai tujuan finansialmu #TAYTB'
                  },
                  {
                    image: {
                      desktop: 'default-1-d.jpg',
                      mobile: 'default-1-m.jpg'
                    },
                    title: 'Layanan Terpilih untuk Nasabah Istimewa',
                    description: 'Nikmati layanan eksklusif Premier Banking untuk semua kebutuhan perbankan Anda'
                  },
                  {
                    image: {
                      desktop: 'default-2-d.jpg',
                      mobile: 'default-2-m.jpg'
                    },
                    title: 'Memastikan Anda Selalu Jadi Prioritas',
                    description: 'Temukan private bank partner yang selalu memahami gaya hidup Anda'
                  }
                ];
        include ../../../layout/main-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Promo Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = [
                  {
                    image: {
                      desktop: 'individu-d.jpg',
                      mobile: 'individu-m.jpg'
                    },
                    label: 'Promosi - Elevation',
                    title: 'Elevate your days with Everyday Deals!',
                    description: 'Gunakan Kartu Kredit OCBC NISP Periode hingga 31 Desember 2019',
                    button: {
                      text: 'Lihat Detail',
                      to: '#'
                    }
                  }
                ];
        include ../../../layout/promo-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Carousel', '', noPadding = true)
        -
          data = [
            {
              image: {
                desktop: 'individu-d.jpg',
                mobile: 'individu-m.jpg'
              },
              label: 'Promosi - Elevation',
              title: 'Elevate your days with Everyday Deals!',
              description: 'Gunakan Kartu Kredit OCBC NISP Periode hingga 31 Desember 2019',
              button: {
                text: 'Lihat Detail',
                to: '#'
              }
            },
            {
              image: {
                desktop: 'default-1-d.jpg',
                mobile: 'default-1-m.jpg'
              },
              label: 'Promosi - Elevation',
              title: 'Layanan Terpilih untuk Nasabah Istimewa',
              description: 'Nikmati layanan eksklusif Premier Banking untuk semua kebutuhan perbankan Anda',
              button: {
                text: 'Lihat Detail',
                to: '#'
              }
            },
            {
              image: {
                desktop: 'default-2-d.jpg',
                mobile: 'default-2-m.jpg'
              },
              label: 'Promosi - Elevation',
              title: 'Memastikan Anda Selalu Jadi Prioritas',
              description: 'Temukan private bank partner yang selalu memahami gaya hidup Anda',
              button: {
                text: 'Lihat Detail',
                to: '#'
              }
            }
          ];
        include ../../../layout/promo-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Section Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            isNyala: false,
            title: 'Suku Bunga Kompetitif Apapun Kebutuhannya',
            description: 'Buka TAKA Bunga Pasti untuk kepastian target dana dengan suku bunga hingga 5.25%',
            image: {
              desktop: 'suku-bunga-d.jpg',
              mobile: 'suku-bunga-m.jpg'
            },
            button: {
              link: {
                text: 'Selengkapnya',
                to: '#'
              },
              primary: {
                text: 'Buka Tabungan',
                to: '#'
              },
              outline: {
                text: 'Lihat Biaya',
                to: '#'
              }
            }
          }
        include ../../../components/section-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Light', '', noPadding = true)
        -
          data = {
            light: true,
            noBorderBottom: true,
            title: 'Semakin Banyak Partner Semakin Untung',
            description: 'Dapatkan fasilitas Kredit hingga Rp 15 Miliar dengan mereferensikan partner bisnis Anda',
            image: {
              desktop: 'sme-4-d.jpg',
              mobile: 'sme-4-m.jpg'
            },
            button: {
              link: {
                text: 'Selengkapnya',
                to: '#'
              },
              primary: {
                text: 'Cari Tahu',
                to: '#'
              },
            }
          }
        include ../../../components/section-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Nyala', '', noPadding = true)
        -
          data = {
            isNyala: true,
            noBorderBottom: true,
            description: 'Layanan gabungan untuk nabung, nyicil rumah, dan investasi dengan mudah di satu tempat',
            image: {
              desktop: 'pendidikan-d.jpg',
              mobile: 'pendidikan-m.jpg'
            },
            button: {
              link: {
                text: 'Selengkapnya',
                to: '#'
              },
              primary: {
                text: 'Aktifkan',
                to: '#'
              },
              outline: {
                text: 'Lihat Simulasi',
                to: '#'
              }
            }
          }
        include ../../../components/section-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Nyala How To Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            type: 'default',
            title: '4 Tahap Buka Nyala Bisnis',
            description: 'Tidak butuh waktu lama untuk mengajukan Nyala Bisnis dengan ONe Mobile',
            button: {
              text: 'Lihat Kelebihannya',
              to: '#'
            },
            list: [
              'Download ONe Mobile',
              'Pilih Nyala Bisnis',
              'Lengkapi data diri dan data usaha',
              'Nikmati layanan Nyala Bisnis'
            ]
          }

        include ../../../components/nyala-how-to-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('One Mobile')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            type: 'default',
            image: {
              desktop: 'individu-d.jpg',
              mobile: 'individu-m.jpg'
            },
            title: 'Kemudahan Transaksi dari Ujung Jari',
            description: 'Bebas lakukan aktivitas perbankan di mana saja tanpa harus datang ke cabang dengan aplikasi ONe Mobile OCBC NISP.',
            button: {
              text: 'Lihat Kelebihannya',
              to: '#'
            }
          }

        include ../../../components/one-mobile.pug

      +ds__componentsItem('Velocity', '', noPadding = true)
        -
          data = {
            type: 'velocity',
            image: {
              desktop: 'velocity-d.jpg',
              mobile: 'velocity-m.jpg'
            },
            title: 'Download Velocity App'
          }

        include ../../../components/one-mobile.pug

    //- ds__componentsSection
    +ds__componentsSection('One Mobile Rachel')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            title: 'Masih Galau Investasi?',
            description: 'Yuk! Saatnya kamu kejar Life Goals dengan investasi. Ngobrol sama aku sekarang! ',
            button: {
              text: 'Ngobrol Sama Rachel',
              to: '#'
            }
          }

        include ../../../components/one-mobile-rachel.pug

    //- ds__componentsSection
    +ds__componentsSection('One Mobile Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        include ../../../components/one-mobile-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Achievement Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            title: 'Market Outlook',
            description: 'Informasi dan Ulasan Analisa Pasar Terkini.',
            image: {
              desktop: 'achievement-banner-d.jpg',
              mobile: 'achievement-banner-m.jpg'
            },
            button: {
              to: '.popup-privileges-market-outlook',
              popupClass: 'js-show-popup-general',
              text: 'Lihat Market Outlook'
            }
          }

        include ../../../components/achievement-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Nyala Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            title: 'Lengkapi keuntungan Tanda 360 dengan Nyala',
            description: 'Bebas biaya transaksi kemana saja dan dapatkan cashback Rp50 Ribu setiap bulan',
            button: 'Cari Tahu',
            to: '#'
          }

        include ../../../components/nyala-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Red', '', true)
        -
          data = {
            title: 'Lengkapi keuntungan Tanda 360 dengan Nyala',
            description: 'Bebas biaya transaksi kemana saja dan dapatkan cashback Rp50 Ribu setiap bulan',
            button: 'Cari Tahu',
            to: '#',
            isRed: true
          }

        include ../../../components/nyala-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Detail Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            isNyala: false,
            mode: 'dark',
            title: 'Tanda 360 Plus',
            description: 'Tabungan dengan pilihan mata uang yang bervariasi untuk kemudahan bertransaksi',
            image: {
              desktop: 'product-detail-1-d.jpg',
              mobile: 'product-detail-1-m.jpg'
            },
            button: {
              primary: {
                text: 'Ajukan',
                to: '#'
              },
              outline: {
                text: 'Lihat Simulasi',
                to: '#'
              }
            }
          }
        include ../../../components/product-detail-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Light', '', noPadding = true)
        -
          data = {
            isNyala: false,
            mode: 'light',
            title: 'Tanda 360 Plus',
            description: 'Tabungan dengan pilihan mata uang yang bervariasi untuk kemudahan bertransaksi',
            image: {
              desktop: 'pengajuan-pinjaman-d.jpg',
              mobile: 'pengajuan-pinjaman-m.jpg'
            },
            button: {
              primary: {
                text: 'Ajukan',
                to: '#'
              },
              outline: {
                text: 'Lihat Simulasi',
                to: '#'
              }
            }
          }
        include ../../../components/product-detail-banner.pug

      //- ds__componentsItem
      +ds__componentsItem('Nyala', '', noPadding = true)
        -
          data = {
            isNyala: false,
            mode: 'dark',
            title: 'Nyala Bisnis',
            description: 'Layanan saldo gabungan untuk mengatur keuangan pribadi dan bisnis secara terpadu',
            image: {
              desktop: 'individu-nyala-bisnis-d.jpg',
              mobile: 'individu-nyala-bisnis-m.jpg'
            },
            button: {
              primary: {
                text: 'Ajukan',
                to: '#'
              }
            }
          }
        include ../../../components/product-detail-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Search Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            title: 'Hasil Pencarian',
            image: {
              desktop: 'search-banner-d.jpg',
              mobile: 'search-banner-m.jpg'
            },
            placeholder: ''
          }
        include ../../../components/search-banner.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Category Banner')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        -
          data = {
            title: 'Dana aman di <b>Simpanan</b>',
            description: 'transaksi nyaman dilakukan',
            image: {
              desktop: 'prod-category-banner-1-d.jpg',
              mobile: 'prod-category-banner-1-m.jpg'
            }
          }
        include ../../../components/product-category-banner.pug
