//-------------------------------------------------------------------------------
  @name: Design System - Component - Basic Page
  @description: Design System - Component - Basic Page
  -------------------------------------------------------------------------------//

+ds__contentItem('Basic Page', 'Components')
  .ocbc-ds__components.ocbc-ds__components__basic-page

    //- ds__componentsSection
    +ds__componentsSection('Basic Page')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        //ocbc-basic-page
        div(class='ocbc-basic-page')
          .ocbc-container
            .ocbc-row
              .ocbc-col-xl-12
                .ocbc-basic-page__content
                  //ocbc-basic-page__head
                  .ocbc-basic-page__head
                    h2.ocbc-basic-page__title
                      | Lembaga Penjamin Simpanan
                    p.ocbc-basic-page__desc
                      | Industri perbankan merupakan salah satu komponen sangat penting dalam perekonomian nasional demi menjaga keseimbangan kemajuan dan kesatuan eknonomi nasional. Stabilitas industri perbankan dimaksud sangat mempengaruhi stabilitas perekonomian secara keseluruhan. Beberapa peristiwa pada penghujung tahun 1997 di antaranya likuidasi 16 Bank yang diikuti dengan krisis moneter dan perbankan pada tahun 1998 telah mengakibatkan tingkat kepercayaan masyarakat pada sistem perbankan di Indonesia menurun, sehingga terjadi penarikan dana masyarakat dari sistem perbankan (Bank Runs) dalam jumlah yang sangat signifikan. Untuk meningkatkan kembali kepercayaan masyarakat terhadap perbankan nasional sekaligus guna menghambat melemahnya nilai tukar rupiah, Pemerintah memberikan jaminan atas seluruh kewajiban pembayaran Bank, termasuk simpanan masyarakat (Blanket Guarantee). Pemberian jaminan tersebut ditetapkan dalam Keputusan Presiden Nomor 26 Tahun 1998 tentang Jaminan Terhadap Kewajiban Pembayaran Bank Umum dan Keputusan Presiden Nomor 193 Tahun 1998 tentang Jaminan Terhadap Kewajiban Pembayaran Bank Perkreditan Rakyat.
                    p.ocbc-basic-page__desc
                      | Sejak 1998 hingga Februari 2004 program penjaminan Pemerintah dilaksanakan oleh Badan Penyehatan Perbankan Nasional (BPPN). Badan ini menangani pelaksanaan penjaminan Pemerintah terhadap kewajiban pembayaran 52 Bank yang dibekukan operasi atau kegiatan usahanya sejak 1998.
                    p.ocbc-basic-page__desc
                      | Pada saat BPPN berakhir tugasnya pada 27 Februari 2004, pelaksanaan program penjaminan Pemerintah dialihkan ke Menteri Keuangan berdasarkan Keputusan Presiden nomor 17 Tahun 2004. Program penjaminan yang belum diselesaikan oleh BPPN selanjutnya dilaksanakan oleh Menteri Keuangan. Untuk melaksanakan program penjaminan Pemerintah ini, Menteri Keuangan diberi wewenang untuk membentuk unit pelaksana penjaminan Pemerintah dalam lingkungan Departemen Keuangan. Berdasarkan hal tersebut, pada tanggal 27 Februari 2004 Menteri Keuangan membentuk Unit Pelaksana Penjaminan Pemerintah (UP3).
                    p.ocbc-basic-page__desc
                      | Dalam pelaksanaannya, penjaminan yang sangat luas tersebut memang terbukti dapat menghentikan arus penarikan dana masyarakat dari sistem perbankan dan secara perlahan menumbuhkan kembali kepercayaan masyarakat terhadap industri perbankan. Namun demikian, luasnya ruang lingkup penjaminan tersebut telah membebani anggaran negara dan dapat menyebabkan timbulnya moral hazard baik dari pengelola Bank maupun dari masyarakat. Pengelola Bank menjadi kurang hati-hati dalam mengelola dana masyarakat, sementara nasabah tidak peduli untuk mengetahui kondisi keuangan Bank karena simpanannya dijamin secara penuh oleh pemerintah. Dengan demikian program penjaminan atas seluruh kewajiban Bank kurang mendorong terciptanya disiplin pasar. Selain itu, penerapan penjaminan secara luas ini yang berdasarkan kepada Keputusan Presiden kurang dapat memberikan kekuatan hukum sehingga menimbulkan permasalahan dalam pelaksanaan penjaminan. Oleh karena itu diperlukan dasar hukum yang lebih kuat dalam bentuk Undang-Undang.
                    p.ocbc-basic-page__desc
                      | Untuk mengatasi hal tersebut di atas dan agar tetap menciptakan rasa aman bagi nasabah penyimpan serta menjaga stabilitas sistem perbankan, program penjaminan yang sangat luas tersebut perlu digantikan dengan sistem penjaminan yang terbatas. Undang-Undang Nomor 10 Tahun 1998 tentang Perbankan mengamanatkan untuk membentuk suatu Lembaga Penjamin Simpanan (LPS) sebagai pelaksana penjaminan dana masyarakat. Pada tanggal 22 September 2004, Presiden Republik Indonesia mengesahkan Undang-undang Republik Indonesia Nomor 24 tentang Lembaga Penjamin Simpanan. Berdasarkan Undang-Undang tersebut, dibentuk LPS, suatu lembaga independen, yang berfungsi menjamin simpanan nasabah penyimpan dan turut aktif dalam memelihara stabilitas sistem perbankan sesuai dengan kewenangannya. Undang-undang tersebut berlaku efektif sejak tanggal 22 September 2005, dan sejak tanggal tersebut LPS resmi beroperasi.

                  //ocbc-basic-page__body
                  .ocbc-basic-page__body
                    //ocbc-basic-page__body__item
                    .ocbc-basic-page__body__item
                      h3.ocbc-basic-page__subtitle
                        | Siapa Yang Dijamin
                      ol.ocbc-basic-page__list
                        li.ocbc-basic-page__list__item
                          | Simpanan yang dijamin meliputi giro, deposito, sertifikat deposito, tabungan, dan atau bentuk lain yang dipersamakan dengan itu.
                        li.ocbc-basic-page__list__item
                          |!{''}
                          | Simpanan nasabah Bank berdasarkan Prinsip Syariah yang dijamin meliputi:
                          ='\n'
                          ul.ocbc-basic-page__list
                            li.ocbc-basic-page__list__item
                              | Giro berdasarkan Prinsip Wadiah.
                            li.ocbc-basic-page__list__item
                              | Tabungan berdasarkan Prinsip Wadiah.
                            li.ocbc-basic-page__list__item
                              | Tabungan berdasarkan Prinsip Mudharabah muthlaqah atau Prinsip Mudharabah muqayyadah yang risikonya ditanggung oleh Bank.
                            li.ocbc-basic-page__list__item
                              | Deposito berdasarkan Prinsip Mudharabah muthlaqah atau Prinsip Mudharabah muqayyadah yang risikonya ditanggung oleh Bank
                            li.ocbc-basic-page__list__item
                              | Simpanan berdasarkan Prinsip Syariah lainnya yang ditetapkan oleh LPS setelah mendapat pertimbangan LPP.
                        li.ocbc-basic-page__list__item
                          | Simpanan yang dijamin merupakan simpanan yang berasal dari masyarakat, termasuk yang berasal dari Bank lain.
                        li.ocbc-basic-page__list__item
                          | Nilai Simpanan yang dijamin LPS mencakup saldo pada tanggal pencabutan izin usaha Bank.
                        li.ocbc-basic-page__list__item
                          |!{''}
                          | Saldo tersebut berupa:
                          ='\n'
                          ul.ocbc-basic-page__list
                            li.ocbc-basic-page__list__item
                              | Pokok ditambah bagi hasil yang telah menjadi hak nasabah, untuk Simpanan yang memiliki komponen bagi hasil yang timbul dari transaksi dengan prinsip syariah.
                            li.ocbc-basic-page__list__item
                              | Pokok ditambah bunga yang telah menjadi hak nasabah, untuk Simpanan yang memiliki komponen bunga.
                            li.ocbc-basic-page__list__item
                              | Nilai sekarang per tanggal pencabutan izin usaha dengan menggunakan tingkat diskonto yang tercatat pada bilyet, untuk Simpanan yang memiliki komponen diskonto.
                        li.ocbc-basic-page__list__item
                          | Saldo yang dijamin untuk setiap nasabah pada satu Bank adalah hasil penjumlahan saldo seluruh rekening Simpanan nasabah pada Bank tersebut, baik rekening tunggal maupun rekening gabungan (joint account).
                        li.ocbc-basic-page__list__item
                          | Untuk rekening gabungan (joint account), saldo rekening yang diperhitungkan bagi satu nasabah adalah saldo rekening gabungan tersebut yang dibagi secara prorata dengan jumlah pemilik rekening.
                        li.ocbc-basic-page__list__item
                          | Dalam hal nasabah memiliki rekening yang dinyatakan secara tertulis diperuntukkan bagi kepentingan pihak lain (beneficiary), maka saldo rekening tersebut diperhitungkan sebagai saldo rekening pihak lain (beneficiary) yang bersangkutan.
                        li.ocbc-basic-page__list__item
                          |!{''}
                          | Saldo yang dijamin untuk setiap nasabah pada satu Bank adalah:
                          ='\n'
                          ul.ocbc-basic-page__list
                            li.ocbc-basic-page__list__item
                              | Seluruhnya, sejak tanggal 22 September 2005 sampai dengan 21 Maret 2006.
                            li.ocbc-basic-page__list__item
                              | Paling tinggi sebesar Rp 5,000,000,000 (lima miliar rupiah), sejak tanggal 22 Maret 2006 sampai dengan 21 September 2006.
                            li.ocbc-basic-page__list__item
                              | Paling tinggi sebesar Rp 1,000,000,000 (satu miliar rupiah), sejak tanggal 22 September 2006 sampai dengan 21 Maret 2007.
                            li.ocbc-basic-page__list__item
                              | Paling tinggi sebesar Rp 100,000,000 (seratus juta rupiah), sejak tanggal 22 Maret 2007

      //- ds__componentsItem
      +ds__componentsItem('V Tab')
        -
          className = (modifier ?  'ocbc-basic-page ocbc-basic-page--'+modifier : 'ocbc-basic-page')
        //ocbc-basic-page
        div(class='ocbc-basic-page ocbc-basic-page--v-tab')
          .ocbc-container
            .ocbc-row
              .ocbc-col-xl-12
                .ocbc-basic-page__content
                  -
                    data = [
                      {
                        text: 'Data Tab 1',
                        target: 'tab-1'
                      },
                      {
                        text: 'Data Tab 1',
                        target: 'tab-2'
                      }
                    ]

                  //ocbc-vertical-tab__page
                  .ocbc-vertical-tab__page
                    .ocbc-row
                      .ocbc-col-xl-3.ocbc-col-lg-12
                        include ../../../components/vertical-tab.pug
                      .ocbc-col-xl-9.ocbc-col-lg-12
                        .ocbc-vt-content.ocbc-vt-content--active(data-pane='tab-1')
                          h3.ocbc-txt__h3.ocbc-txt--bold
                            | Data Tab 1
                        .ocbc-vt-content.ocbc-vt-content(data-pane='tab-2')
                          h3.ocbc-txt__h3.ocbc-txt--bold
                            | Data Tab 2
