//-------------------------------------------------------------------------------
  @name: Design System - Component - Card
  @description: Design System - Component - Card
  -------------------------------------------------------------------------------//

+ds__contentItem('Card', 'Components')
  .ocbc-ds__components.ocbc-ds__components__card

    //- ds__componentsSection
    +ds__componentsSection('Achievement Card', true)
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = [
            {
              logo: 'default-circle-black.png',
              date: 'September 2019',
              from: 'Indonesia Public Company Award',
              award: 'Retail Banking Awards',
              location: 'Alpha Southeast Asia Singapore'
            }
          ];

        include ../../../components/card-achievement.pug

      //- ds__componentsItem
      +ds__componentsItem('Carousel', '', noPadding = true)
        -
          data = {
                  title: 'Mulai semua dari sini',
                  card: [
                    {
                      logo: 'default-circle-black.png',
                      date: 'September 2019',
                      from: 'Indonesia Public Company Award',
                      award: 'Retail Banking Awards',
                      location: 'Alpha Southeast Asia Singapore'
                    },
                    {
                      logo: 'default-circle-black.png',
                      date: 'September 2019',
                      from: 'Indonesia Public Company Award',
                      award: 'Retail Banking Awards',
                      location: 'Alpha Southeast Asia Singapore'
                    },
                    {
                      logo: 'default-circle-black.png',
                      date: 'September 2019',
                      from: 'Indonesia Public Company Award',
                      award: 'Retail Banking Awards',
                      location: 'Alpha Southeast Asia Singapore'
                    },
                    {
                      logo: 'default-circle-black.png',
                      date: 'September 2019',
                      from: 'Indonesia Public Company Award',
                      award: 'Retail Banking Awards',
                      location: 'Alpha Southeast Asia Singapore'
                    },
                    {
                      logo: 'default-circle-black.png',
                      date: 'September 2019',
                      from: 'Indonesia Public Company Award',
                      award: 'Retail Banking Awards',
                      location: 'Alpha Southeast Asia Singapore'
                    },
                    {
                      logo: 'default-circle-black.png',
                      date: 'September 2019',
                      from: 'Indonesia Public Company Award',
                      award: 'Retail Banking Awards',
                      location: 'Alpha Southeast Asia Singapore'
                    }
                  ]
                };
        include ../../../layout/card-achievement.pug

    //- ds__componentsSection
    +ds__componentsSection('Address Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
              company: 'PT Sirca Datapro Perdana',
              address: [
                'Jl. Johar No. 18, Menteng',
                'Jakarta 10340 – Indonesia'
              ],
              phone: [
                {
                  to: '+62213140032',
                  number: '(62-21) 314 0032'
                },
                {
                  to: '+62213900645',
                  number: '390 0645'
                }
              ],
              fax: [
                {
                  to: '+62213900652',
                  number: '(62-21) 390 0652'
                },
                {
                  to: '+62213900671',
                  number: '390 0671'
                }
              ],
              site: 'www.sircadp.com'
            };

        include ../../../components/card-address.pug
      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Daftar Lembaga/Profesi Penunjang Pasar Modal',
            list: [
              {
                institution: 'Biro Administrasi Efek (BAE)',
                cards: [
                  {
                    company: 'PT Sirca Datapro Perdana',
                    address: [
                      'Jl. Johar No. 18, Menteng',
                      'Jakarta 10340 – Indonesia'
                    ],
                    phone: [
                      {
                        to: '+62213140032',
                        number: '(62-21) 314 0032'
                      },
                      {
                        to: '+62213900645',
                        number: '390 0645'
                      }
                    ],
                    fax: [
                      {
                        to: '+62213900652',
                        number: '(62-21) 390 0652'
                      },
                      {
                        to: '+62213900671',
                        number: '390 0671'
                      }
                    ],
                    site: 'www.sircadp.com'
                  }
                ]
              },
              {
                institution: 'Akuntan Publik',
                cards: [
                  {
                    company: 'Kantor Akuntan Publik Tanudiredja,<br/>Wibisana, Rintis & Rekan',
                    address: [
                      '(firma anggota Jaringan Global PwC)',
                      'Jl. HR. Rasuna Said Kav. X-7 No. 6',
                      'Jakarta 12940 – Indonesia'
                    ],
                    phone: [
                      {
                        to: '+622152112901',
                        number: '(62-21) 5211 2901'
                      }
                    ],
                    fax: [
                      {
                        to: '+622152905555',
                        number: '(62-21) 5290 5555'
                      }
                    ],
                    site: 'www.pwc.com/id'
                  }
                ]
              },
              {
                institution: 'Wali Amanat',
                cards: [
                  {
                    company: 'PT Bank Mega Tbk',
                    address: [
                      'Menara Bank Mega Lt. 16',
                      'Kav. 12-14 A',
                      'Jakarta 12790'
                    ],
                    phone: [
                      {
                        to: '+622179175000',
                        number: '(62-21) 7917 5000'
                      }
                    ],
                    fax: [
                      {
                        to: '+62217990720',
                        number: '(62-21) 799 0720'
                      }
                    ],
                    site: 'www.bankmega.com'
                  }
                ]
              },
              {
                institution: 'Pemeringkat Efek',
                cards: [
                  {
                    company: 'Domestik<br/>PT Pemeringkat Efek Indonesia (Pefindo)',
                    address: [
                      'Panin Tower, Senayan City Lt. 17',
                      'Jl. Asia Afrika Lot 19',
                      'Jakarta 10270 – Indonesia'
                    ],
                    phone: [
                      {
                        to: '+622172782380',
                        number: '(62-21) 7278 2380'
                      }
                    ],
                    fax: [
                      {
                        to: '+622172782370',
                        number: '(62-21) 7278 2370'
                      }
                    ],
                    site: 'www.pefindo.com'
                  },
                  {
                    company: 'Internasional<br/>Fitch Ratings Singapore Pte, Ltd',
                    address: [
                      'One Raffles Quay',
                      'South Tower # 22-11',
                      'Singapore 048583'
                    ],
                    phone: [
                      {
                        to: '+6567967200',
                        number: '(65) 6796 7200'
                      }
                    ],
                    site: 'www.fitchratings.com'
                  },
                  {
                    company: 'PT Fitch Ratings Indonesia',
                    address: [
                      'DBS Bank Tower, Lt. 24, Suite 2403',
                      'Jl. Prof Dr. Satrio Kav. 3-5',
                      'Jakarta 12940–Indonesia'
                    ],
                    phone: [
                      {
                        to: '+622129886800',
                        number: '(62-21) 2988 6800'
                      }
                    ],
                    fax: [
                      {
                        to: '+622129886822',
                        number: '(62-21) 2988 6822'
                      }
                    ],
                    site: 'www.fitchratings.co.id'
                  }
                ]
              },
              {
                institution: 'Notaris',
                cards: [
                  {
                    company: 'Notaris Fathiah Helmi',
                    address: [
                      'Graha Irama Lt. 6-C',
                      'Jl. HR Rasuna Said Kav. 1-2 BI X-1',
                      'Jakarta 12940 – Indonesia'
                    ],
                    phone: [
                      {
                        to: '+622152907304',
                        number: '(62-21) 5290 7304'
                      },
                      {
                        to: '+622152907306',
                        number: '(62-21) 5290 7306'
                      }
                    ],
                    fax: [
                      {
                        to: '+62215261136',
                        number: '(62-21) 526 1136'
                      }
                    ]
                  }
                ]
              },
              {
                institution: 'Kustodian',
                cards: [
                  {
                    company: 'PT Kustodian Sentral Efek Indonesia',
                    address: [
                      'Gedung Bursa Efek Indonesia',
                      'Tower I, Lantai 5',
                      'Jl. Jendral Sudirman Kav. 52–53',
                      'Jakarta 12190'
                    ],
                    phone: [
                      {
                        to: '+622152991099',
                        number: '(62-21) 5299 1099'
                      }
                    ],
                    fax: [
                      {
                        to: '+622152991199',
                        number: '(62-21) 5299 1199'
                      }
                    ],
                    site: 'www.ksei.co.id'
                  }
                ]
              }
            ]
          };

        include ../../../layout/card-address.pug

    //- ds__componentsSection
    +ds__componentsSection('Advisor Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data =  {
            image: 'advisor.png',
            to: '#',
            title: 'Untuk yang Sudah Mengenal Investasi',
            description: 'Rencanakan masa depan bersama pakar profesional kami dengan solusi beragam produk Wealth Management',
            button: 'Mulai Simulasi'
          };

        include ../../../components/card-advisor.pug

    //- ds__componentsSection
    +ds__componentsSection('Apply Card')
      //- ds__componentsItem
      +ds__componentsItem('Type 1', '', noPadding = false)
        -
          data = {
            img: "ocbc-card.png",
            title: "Menabung dengan Tanda 360 Plus",
            btnList: [
              {
                type: "primary",
                to: "#",
                txt: "Ajukan"
              }
            ]
          }
        include ../../../layout/card-apply.pug

      //- ds__componentsItem
      +ds__componentsItem('Type 2', '', noPadding = false)
        -
          data = {
            title: "Bisnis Lancar dengan Kredit Modal Kerja",
            btnList: [
              {
                type: "primary",
                to: "#",
                txt: "Ajukan"
              },
              {
                type: "secondary",
                to: "#",
                txt: "Lihat Simulasi"
              }
            ]
          }
        include ../../../layout/card-apply.pug

    //- ds__componentsSection
    +ds__componentsSection('Article Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data =  {
              image: 'individu-1.jpg',
              label: 'Pendidikan',
              title: 'Menjaga Dana Pendidikan Anak dari Sekarang',
              button: {
                text: 'Baca',
                to: '#'
              }
            };

        include ../../../components/card-article.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Cerita untuk Inspirasi Anda',
            card: [
              {
                image: 'individu-1.jpg',
                label: 'Pendidikan',
                title: 'Menjaga Dana Pendidikan Anak dari Sekarang',
                button: {
                  text: 'Baca',
                  to: '#'
                }
              },
              {
                image: 'individu-2.jpg',
                label: 'Pendidikan',
                title: 'Cara mengamankan pendidikan Anak',
                button: {
                  text: 'Baca',
                  to: '#'
                }
              }
            ]
          }

        include ../../../layout/card-article.pug

    //- ds__componentsSection
    +ds__componentsSection('Article Program Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            image: 'artikel-1.jpg',
            title: 'Awal yang Special',
            description: 'Dapatkan welcome gift berupa cashback hingga Rp1.650.000 dengan berhabung di OCBC NISP Premier Banking',
            button: {
              text: 'Selengkapnya',
              to: '#'
            }
          }

        include ../../../components/card-article-program.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Program Istimewa untuk Anda',
            card: [
              {
                image: 'artikel-1.jpg',
                title: 'Awal yang Special',
                description: 'Dapatkan welcome gift berupa cashback hingga Rp1.650.000 dengan berhabung di OCBC NISP Premier Banking',
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              },
              {
                image: 'artikel-2.jpg',
                title: 'Ajak Kerabat jadi Bagian dari Premiere Banking',
                description: 'Dapatkan Cashback dan Poin Seru hinggal 37.500 poin dengan mengajak kerabat bergabung di OCBC NISP Premier Banking',
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              }
            ]
          }

        include ../../../layout/card-article-program.pug

    //- ds__componentsSection
    +ds__componentsSection('Auction Info Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            image: 'product-category-1.jpg',
            title: 'Kode Aset: BGR00007',
            description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
          }

        include ../../../components/auction-info.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            card: [
              {
                image: 'product-category-1.jpg',
                title: 'Kode Aset: BGR00007',
                description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
              },
              {
                image: 'product-category-2.jpg',
                title: 'Kode Aset: BGR00007',
                description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
              },
              {
                image: 'product-category-3.jpg',
                title: 'Kode Aset: BGR00007',
                description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
              },
              {
                image: 'product-category-4.jpg',
                title: 'Kode Aset: BGR00007',
                description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
              },
              {
                image: 'product-category-5.jpg',
                title: 'Kode Aset: BGR00007',
                description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
              },
              {
                image: 'product-category-6.jpg',
                title: 'Kode Aset: BGR00007',
                description: 'Lokasi:<br/>Perumahan Umum Mangunreja Blok C No. 62 & 63, Kelurahan Mangunreja, Kecamatan Mangunreja, Kabupaten Tasikmalaya, Jawa Barat (2 bidang tanah dijual 1 paket)'
              },
            ]
          }

        include ../../../layout/card-auction-info.pug

    //- ds__componentsSection
    +ds__componentsSection('BOD Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            card: {
                image: 'card-1.jpg',
                name: 'Pramukti Surjaudaja',
                position: 'Presiden Komisaris'
              },
              detail: {
                image: 'popup-1.png',
                body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Presiden Komisaris Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
              }
            };

        include ../../../components/card-bod.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              card: {
                image: 'card-1.jpg',
                name: 'Pramukti Surjaudaja',
                position: 'Presiden Komisaris'
              },
              detail: {
                image: 'popup-1.png',
                body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Presiden Komisaris Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
              }
            },
            {
              card: {
                image: 'card-1.jpg',
                name: 'Peter Eko Sutioso',
                position: 'Wakil Presiden Komisaris'
              },
              detail: {
                image: 'popup-1.png',
                body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Wakil Presiden Komisaris Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
              }
            },
            {
              card: {
                image: 'card-1.jpg',
                name: 'Samuel Nag Tsien',
                position: 'Komisaris'
              },
              detail: {
                image: 'popup-1.png',
                body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komisaris Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
              }
            },
            {
              card: {
                image: 'card-1.jpg',
                name: 'Lai Teck Poh',
                position: 'Komisaris'
              },
              detail: {
                image: 'popup-1.png',
                body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Komisaris Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
              }
            }
          ];

        include ../../../layout/card-bod.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout with Title')
        -
          data = {
            title: 'Jajaran Wealth Panel',
            list: [
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Ka Jit',
                  position: 'Senior Corporate Executive<br/>OCBC NISP Bank'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Senior Corporate Executive Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              },
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Juky Mariska',
                  position: 'Wealth Advisory Head<br/>OCBC NISP Bank'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Wealth Advisory Head Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              },
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Novelina Luciana',
                  position: 'Head of Treasury Advisory<br/>OCBC NISP Bank'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head of Treasury Advisory Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              },
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Richard Jerram',
                  position: 'Head of Treasury Advisory<br/>OCBC NISP Bank'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head of Treasury Advisory Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              },
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Vasu Menon',
                  position: 'Head, Content & Research Wealth Management Singapore - OCBC Bank'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Head, Content & Research Wealth Management Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              },
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Hou Wey Fook',
                  position: 'Chief Investment Officer<br/>Bank of Singapore'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Chief Investment Officer Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              },
              {
                card: {
                  image: 'card-1.jpg',
                  name: 'Wellian Wiranto',
                  position: 'Economist<br/>OCBC Bank'
                },
                detail: {
                  image: 'popup-1.png',
                  body: '<div class="ocbc-popup-bod__body__item"><h4>Biodata</h4><p>Warga Negara Indonesia, 56 tahun<br/>Domisili: Jakarta, Indonesia<br/>Economist Bank OCBC NISP sejak 16 Desember 2008.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pekerjaan</h4><p>1987–1989: Executive Trainee Daiwa Bank (sekarang Resona Bank) New York, London dan Tokyo.<br/>1989-1997: Direktur Bank NISP<br/>1997–2000: Komisaris Bank OCBC Indonesia.<br/>1997–2008: Presiden Direktur Bank NISP.<br/>2005–sekarang: Non-executive and Non-independent Director OCBC Bank Singapura</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Organisasi</h4><p>Saat ini menjabat berbagai posisi senior di asosiasi bisnis, universitas dan badan sosial pendidikan.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat Pendidikan</h4><p>Mengikuti Program di berbagai universitas terkemuka, SESPIBI XVI (Sekolah Staff Pimpinan Bank Indonesia), dan program beasiswa bidang International Relations di International University of Japan, Jepang. Memperoleh gelar MBA di bidang Perbankan dari Golden Gate University, USA (1987) dan Bachelor di bidang Perbankan dan Keuangan dari San Francisco State University, USA (1985).</p></div><div class="ocbc-popup-bod__body__item"><h4>Penghargaan</h4><p>Best CEO Award 2004 – Majalah SWA.<br/>Best CEO Award 2006 – Majalah Business Review.<br/>Most Prominent banker Award 2006 – Majalah Investor.<br/>Outstanding Entrepreneur Awards 2008 – Asia Pasific Entrepreneurship.</p></div><div class="ocbc-popup-bod__body__item"><h4>Riwayat penunjukan sebagai Anggota Dewan Komisaris</h4><p>Penunjukan pertama kali: 2008.<br/>Penunjukan kembali: 2011, 2014 dan 2017.</p></div>'
                }
              }
            ]
          }

        include ../../../layout/card-bod-section.pug

    //- ds__componentsSection
    +ds__componentsSection('Career List Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            to: '#',
            title: 'Digital Marketing',
            description: 'Jabodetabek'
          }

        include ../../../components/card-career-list.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout', '', noPadding = true)
        -
          data = {
            title: 'Kesempatan Karir di OCBC NISP',
            card: [
              {
                to: '#',
                title: 'Corporate Communication',
                description: 'Jabodetabek'
              },
              {
                to: '#',
                title: 'Premier Banking Manager',
                description: 'Jabodetabek'
              },
              {
                to: '#',
                title: 'Credit Card Retail Manager',
                description: 'Jabodetabek'
              },
              {
                to: '#',
                title: 'Digital Marketing',
                description: 'Jabodetabek'
              }
            ]
          }

        include ../../../layout/card-career-list.pug

    //- ds__componentsSection
    +ds__componentsSection('Code Promo Card')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            title: 'Promo Code',
            promoCode: 'ALTORO10',
            description: 'Pakai kode promo ini di ONe Mobile App (Android dan iOS)',
          };

        include ../../../components/card-code-promo.pug

    //- ds__componentsSection
    +ds__componentsSection('Country Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            value: 1,
            flag: 'uk.png',
            name: 'Inggris',
            label: 'Dana yang dibutuhkan',
            cost: 'Rp2,400,000,000'
          };

        include ../../../components/card-country.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              value: 1,
              flag: 'usa.png',
              name: 'Amerika',
              label: 'Dana yang dibutuhkan',
              cost: 'Rp2,400,000,000'
            },
            {
              value: 2,
              flag: 'japan.png',
              name: 'Japan',
              label: 'Dana yang dibutuhkan',
              cost: 'Rp 500,000,000'
            },
            {
              value: 3,
              flag: 'uk.png',
              name: 'Inggris',
              label: 'Dana yang dibutuhkan',
              cost: 'Rp 1,200,000,000'
            },
            {
              value: 4,
              flag: 'singapore.png',
              name: 'Singapore',
              label: 'Dana yang dibutuhkan',
              cost: 'Rp 1,000,000,000'
            }
          ]

        include ../../../layout/card-country.pug

    //- ds__componentsSection
    +ds__componentsSection('Card File Report')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            icon: 'report.svg',
            title: 'Leverage Ratio Common Disclosure - Desember 2019'
          };

        include ../../../components/card-file-report.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              icon: 'report.svg',
              title: 'Leverage Ratio Common Disclosure - Desember 2019'
            },
            {
              icon: 'report.svg',
              title: 'Leverage Ratio Common Disclosure - Desember 2019'
            },
            {
              icon: 'report.svg',
              title: 'Leverage Ratio Common Disclosure - Desember 2019'
            },
            {
              icon: 'report.svg',
              title: 'Leverage Ratio Common Disclosure - Desember 2019'
            }
          ]

        include ../../../layout/card-file-report.pug

    //- ds__componentsSection
    +ds__componentsSection('Head Product Card')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [
                    {
                      isNyala: false,
                      image: 'individu-simpanan.jpg',
                      title: 'Simpanan',
                      to: '#'
                    }
                ];
        include ../../../components/card-head-product.pug

      //- ds__componentsItem
      +ds__componentsItem('Nyala')
        -
          data = [
                    {
                      isNyala: true,
                      image: 'individu-nyala.jpg',
                      title: 'Start with Nyala',
                      description: 'Kembangkan bisnis dan kelola keuangan pribadi sekaligus dalam satu tempat',
                      to: '#'
                    }
                ];
        include ../../../components/card-head-product.pug

      //- ds__componentsItem
      +ds__componentsItem('Carousel', '', noPadding = true)
        -
          data = {
            cardWithNyala: false,
            title: 'Bersama produk dan layanan yang menjawab semua kebutuhan',
            card: [
              {
                isNyala: false,
                image: 'bisnis-sme.jpg',
                title: 'SME',
                to: 'sme.html'
              },
              {
                isNyala: false,
                image: 'bisnis-commercial.jpg',
                title: 'Commercial',
                to: 'commercial.html'
              },
              {
                isNyala: false,
                image: 'bisnis-enterprise.jpg',
                title: 'Enterprise',
                to: 'enterprise.html'
              },
              {
                isNyala: false,
                image: 'bisnis-wholesale.jpg',
                title: 'Wholesale',
                to: 'wholesale.html'
              }
            ]
          };
        include ../../../layout/card-head-product.pug


      //- ds__componentsItem
      +ds__componentsItem('Carousel Nyala', '', noPadding = true)
        -
          data = {
            cardWithNyala: true,
            title: 'Bersama produk dan layanan yang menjawab semua kebutuhan',
            card: [
              {
                isNyala: true,
                image: 'individu-nyala.jpg',
                title: 'Start with Nyala',
                description: 'Kembangkan bisnis dan kelola keuangan pribadi sekaligus dalam satu tempat',
                to: 'nyala.html'
              },
              {
                isNyala: false,
                image: 'individu-simpanan.jpg',
                title: 'Simpanan',
                to: 'simpanan.html'
              },
              {
                isNyala: false,
                image: 'individu-kartu-kredit.jpg',
                title: 'Kartu Kredit',
                to: 'kratu-kredit.html'
              },
              {
                isNyala: false,
                image: 'individu-pinjaman.jpg',
                title: 'Pinjaman',
                to: 'pinjaman.html'
              },
              {
                isNyala: false,
                image: 'individu-investasi.jpg',
                title: 'Investasi',
                to: 'investasi.html'
              }
            ]
          };
        include ../../../layout/card-head-product.pug

    //- ds__componentsSection
    +ds__componentsSection('Icon Title Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            to: '#',
            title: 'Support Services',
            icon: 'handshake.svg'
          }

        include ../../../components/card-icon-title.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Kesempatan Karir di OCBC NISP',
            card: [
              {
                to: '#',
                title: 'Retail Banking',
                icon: 'cabang.svg'
              },
              {
                to: '#',
                title: 'Business Banking',
                icon: 'suitcase.svg'
              },
              {
                to: '#',
                title: 'Digital',
                icon: 'digital-channel.svg'
              },
              {
                to: '#',
                title: 'Support Services',
                icon: 'handshake.svg'
              }
            ]
          }

        include ../../../layout/card-icon-title.pug

    //- ds__componentsSection
    +ds__componentsSection('Information Card')
      +ds__componentsItem('Exchange Rate')
        include ../../../components/card-info-exchange-rate.pug

      //- ds__componentsItem
      +ds__componentsItem('Article List')
        -
          article = {
            title: 'Berita Bank',
            date: '15 Januari 2020',
            list: [
              {
                title: 'Perubahan suku bunga dasar tabungan 360',
                description: 'Bangun nyali, kejar mimpi. Apa pun halangan di depan, apa pun kata orang, maju terus.',
              },
              {
                title: 'Membidik Pasar Dosmetik Berama SKBDN',
                description: 'Dalam situasi ekonomi global yang sedang dilandaketidak pastian',
              }
            ],
            button: 'Berita Lainnya'
          };

        include ../../../components/card-info-article.pug

      //- ds__componentsItem
      +ds__componentsItem('Article List with Video')
        -
          article = {
            title: 'Artikel',
            date: '15 Januari 2020',
            list: [
              {
                title: 'Perubahan suku bunga dasar tabungan 360',
                description: 'Bangun nyali, kejar mimpi. Apa pun halangan di depan, apa pun kata orang, maju terus.',
              },
              {
                title: 'Kejar Mimpi Lebih Besar dengan Ikutan #TAYTB',
                image: 'video-widget.jpg'
              }
            ],
            button: 'Artikel Lainnya'
          };

        include ../../../components/card-info-article.pug

      //- ds__componentsItem
      +ds__componentsItem('FAQ')
        -
          faq = {
            title: 'Tanya OCBC NISP',
            button: 'Berita Lainnya',
            cardTypeList: [
              {
                val: 1,
                text: 'Kredit Modal Kerja'
              },
              {
                val: 2,
                text: 'Kartu Debit'
              },
              {
                val: 3,
                text: 'e-Banking'
              },
              {
                val: 4,
                text: 'Pay Now'
              },
              {
                val: 5,
                text: 'One Mobile'
              },
              {
                val: 6,
                text: 'Kartu Kredit'
              },
              {
                val: 7,
                text: 'Kartu Debit'
              },
              {
                val: 8,
                text: 'e-Banking'
              },
              {
                val: 9,
                text: 'Pay Now'
              },
              {
                val: 10,
                text: 'One Mobile'
              }
            ],
            howToList: [
              {
                val: 1,
                text: 'Cara Mengajukan Pinjaman'
              },
              {
                val: 2,
                text: 'Cara melakukan membuka kartu kredit'
              },
              {
                val: 3,
                text: 'Cara melakukan membayar tagihan kartu kredit'
              },
              {
                val: 4,
                text: 'Cara melakukan melihat tagihan kartu kredit'
              },
              {
                val: 5,
                text: 'Cara melakukan redeem point kartu kredit'
              }
            ]
          };
        include ../../../components/card-info-faq.pug

      //- ds__componentsItem
      +ds__componentsItem('All Information', '', noPadding = true)
        //ocbc-card-info-section
        .ocbc-card-info-section
          .ocbc-container
            .ocbc-row
              //ocbc-card-info__item
              .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-info__item
                include ../../../components/card-info-exchange-rate.pug

              ='\n\n'
              //ocbc-card-info__item
              .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-info__item
                -
                  article = {
                    title: 'Berita Bank',
                    date: '15 Januari 2020',
                    list: [
                      {
                        title: 'Perubahan suku bunga dasar tabungan 360',
                        description: 'Bangun nyali, kejar mimpi. Apa pun halangan di depan, apa pun kata orang, maju terus.',
                      },
                      {
                        title: 'Membidik Pasar Dosmetik Berama SKBDN',
                        description: 'Dalam situasi ekonomi global yang sedang dilandaketidak pastian',
                      }
                    ],
                    button: 'Berita Lainnya'
                  };

                include ../../../components/card-info-article.pug

              ='\n\n'
              //ocbc-card-info__item
              .ocbc-col-xl-4.ocbc-col-md-12.ocbc-card-info__item
                -
                  faq = {
                    title: 'Tanya OCBC NISP',
                    button: 'Berita Lainnya',
                    cardTypeList: [
                      {
                        val: 1,
                        text: 'Kredit Modal Kerja'
                      },
                      {
                        val: 2,
                        text: 'Kartu Debit'
                      },
                      {
                        val: 3,
                        text: 'e-Banking'
                      },
                      {
                        val: 4,
                        text: 'Pay Now'
                      },
                      {
                        val: 5,
                        text: 'One Mobile'
                      },
                      {
                        val: 6,
                        text: 'Kartu Kredit'
                      },
                      {
                        val: 7,
                        text: 'Kartu Debit'
                      },
                      {
                        val: 8,
                        text: 'e-Banking'
                      },
                      {
                        val: 9,
                        text: 'Pay Now'
                      },
                      {
                        val: 10,
                        text: 'One Mobile'
                      }
                    ],
                    howToList: [
                      {
                        val: 1,
                        text: 'Cara Mengajukan Pinjaman'
                      },
                      {
                        val: 2,
                        text: 'Cara melakukan membuka kartu kredit'
                      },
                      {
                        val: 3,
                        text: 'Cara melakukan membayar tagihan kartu kredit'
                      },
                      {
                        val: 4,
                        text: 'Cara melakukan melihat tagihan kartu kredit'
                      },
                      {
                        val: 5,
                        text: 'Cara melakukan redeem point kartu kredit'
                      }
                    ]
                  };

                include ../../../components/card-info-faq.pug

    //- ds__componentsSection
    +ds__componentsSection('Legend Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            hasDots: true,
            dotsVariant: 'red',
            title: 'Biaya sekolah di Amerika tahun 2026',
            price: 'Rp2,578,616,310'
          };

        include ../../../components/card-legend.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              hasDots: true,
              dotsVariant: 'green',
              title: 'Dana Saat Ini',
              price: 'Rp500,000,000'
            },
            {
              hasDots: true,
              dotsVariant: 'yellow',
              title: 'Dana di tahun ke-6',
              price: 'Rp909,924,437'
            },
            {
              hasDots: true,
              dotsVariant: 'red',
              title: 'Biaya sekolah di Amerika tahun 2026',
              price: 'Rp2,578,616,310'
            },
            {
              hasDots: true,
              title: 'Selisih Biaya',
              price: 'Rp1,688,691,873'
            },
            {
              title: 'Dana yang harus disisihkan per bulan (Selama 6 Tahun)',
              price: 'Rp5,230,000'
            }
          ]

        include ../../../layout/card-legend.pug

    //- ds__componentsSection
    +ds__componentsSection('Location Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            icon: 'atm.svg',
            title: 'Jakarta - Bendungan Hilir 1',
            description: [
              'OCBC NISP KCP Bendungan Hilir Jl. Bendungan Hilir Raya No. 25 Tanah Abang, Bendungan Hilir, Jakarta 10210'
            ],
            item: [
              'ATM Tanpa Kartu (QR & OTP)',
              'ATM Setor & Tarik Tunai'
            ],
            link: {
              text: 'Lihat Maps',
              to: '#'
            }
          };

        include ../../../components/card-location.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              icon: 'atm.svg',
              title: 'Jakarta - Bendungan Hilir 1',
              description: [
                'OCBC NISP KCP Bendungan Hilir Jl. Bendungan Hilir Raya No. 25 Tanah Abang, Bendungan Hilir, Jakarta 10210'
              ],
              item: [
                'ATM Tanpa Kartu (QR & OTP)',
                'ATM Setor & Tarik Tunai'
              ],
              link: {
                text: 'Lihat Maps',
                to: '#'
              }
            },
            {
              icon: 'cabang-private.svg',
              title: 'Jakarta - Bendungan Hilir 1',
              description: [
                'OCBC NISP KCP Bendungan Hilir <br/> Jl. Bendungan Hilir Raya No. 25 Tanah Abang, Bendungan Hilir, Jakarta 10210 <br/> Telp : (021) 26508459 <br/> Fax : (021) 57900992',
                'Jam Operasional : <br/> Weekday 08.00-15.00 <br/> Weekend 08.00-12.00'
              ],
              link: {
                text: 'Lihat Maps',
                to: '#'
              }
            }
          ]

        include ../../../layout/card-location.pug

    //- ds__componentsSection
    +ds__componentsSection('Mutual Funds Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data =  {
              risk: 'Conservative',
              level: 1,
              type: 'Reksa Dana Pasar Uang',
              company: 'Aberdeen Standard Indonesia Money Market Fund',
              detail : [
                {
                  currency: 'NAB',
                  amount: 'Rp 1,398.00'
                },
                {
                  currency: 'AUM',
                  amount: '130.32 miliar'
                }
              ],
              button: [
                {
                  text: 'Prospectus',
                  to: '#'
                },
                {
                  text: 'Fund Factsheet',
                  to: '#'
                }
              ]
            };

        include ../../../components/card-mutual-funds.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            card: [
              {
                risk: 'Conservative',
                level: 1,
                type: 'Reksa Dana Pasar Uang',
                company: 'Aberdeen Standard Indonesia Money Market Fund',
                detail : [
                  {
                    currency: 'NAB',
                    amount: 'Rp 1,398.00'
                  },
                  {
                    currency: 'AUM',
                    amount: '130.32 miliar'
                  }
                ],
                button: [
                  {
                    text: 'Prospectus',
                    to: '#'
                  },
                  {
                    text: 'Fund Factsheet',
                    to: '#'
                  }
                ]
              },
              {
                risk: 'Conservative',
                level: 1,
                type: 'Reksa Dana Pasar Uang',
                company: 'Ashmore Dana Pasar Uang Nusantara',
                detail : [
                  {
                    currency: 'NAB',
                    amount: 'Rp 1,398.00'
                  },
                  {
                    currency: 'AUM',
                    amount: '130.32 miliar'
                  }
                ],
                button: [
                  {
                    text: 'Prospectus',
                    to: '#'
                  },
                  {
                    text: 'Fund Factsheet',
                    to: '#'
                  }
                ]
              },
              {
                risk: 'Balance',
                level: 2,
                type: 'Reksa Dana Pendapatan Tetap',
                company: 'BNP Paribas Prima USD',
                detail : [
                  {
                    currency: 'NAB',
                    amount: 'Rp 1,398.00'
                  },
                  {
                    currency: 'AUM',
                    amount: '130.32 miliar'
                  }
                ],
                button: [
                  {
                    text: 'Prospectus',
                    to: '#'
                  },
                  {
                    text: 'Fund Factsheet',
                    to: '#'
                  }
                ]
              },
              {
                risk: 'Balance',
                level: 2,
                type: 'Reksa Dana Terproteksi',
                company: 'Batavia Proteksi Cemerlang 68',
                detail : [
                  {
                    currency: 'NAB',
                    amount: 'Rp 1,398.00'
                  },
                  {
                    currency: 'AUM',
                    amount: '130.32 miliar'
                  }
                ],
                button: [
                  {
                    text: 'Prospectus',
                    to: '#'
                  },
                  {
                    text: 'Fund Factsheet',
                    to: '#'
                  }
                ]
              }
            ]
          }

        include ../../../layout/card-mutual-funds.pug

    //- ds__componentsSection
    +ds__componentsSection('Needs Card')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [
                    {
                      title: 'Kelola Keuangan Pribadi Anda',
                      image: 'fragment-default.svg'
                    }
                  ];
        include ../../../components/card-needs.pug

      //- ds__componentsItem
      +ds__componentsItem('Carousel')
        -
          data = {
                  title: 'Mulai semua dari sini',
                  card: [
                    {
                      target: 'kelola-keuangan-pribadi',
                      title: 'Kelola Keuangan Pribadi Anda',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'promo-terbaru',
                      title: 'Cari Tahu Promo Terbaru',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'cek-nilai-kurs',
                      title: 'Cek Nilai Kurs Hari Ini',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'tarif-biaya-suku-bunga',
                      title: 'Lihat Update Tarif, Biaya, dan Suku Bunga',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'rencanakan-liburan',
                      title: 'Rencanakan Liburan Bersama Orang Terdekat',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'tukar-poin-seru',
                      title: 'Tukar Poin Seru Dengan Hadiah Menarik',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'mulai-investasi',
                      title: 'Mulai Lakukan Investasi',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'rumah-impian',
                      title: 'Wujudkan Rumah Impian',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'pendidikan-anak',
                      title: 'Rencanakan Pendidikan Anak',
                      image: 'fragment-default.svg'
                    },
                    {
                      target: 'perlindungan-terbaik',
                      title: 'Temukan Perlindungan Terbaik',
                      image: 'fragment-default.svg'
                    }
                  ]
                };
        include ../../../layout/card-needs.pug

    //- ds__componentsSection
    +ds__componentsSection('Nyala Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            image: 'nyala.jpg',
            title: 'Solusi perbankan individual untuk pengelolaan dana',
            item: [
              'Bebas biaya admin',
              'Bebas biaya transfer dan tarik tunai hingga 10X'
            ],
            button: {
              text: 'Selengkapnya',
              to: '#'
            }
          }

        include ../../../components/card-nyala.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Kenali Nyala yang sesuai untukmu',
            card: [
              {
                image: 'nyala.jpg',
                title: 'Solusi perbankan individual untuk pengelolaan dana',
                item: [
                  'Bebas biaya admin',
                  'Bebas biaya transfer dan tarik tunai hingga 10X',
                ],
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              },
              {
                image: 'nyala-individu.jpg',
                title: 'Solusi perbankan individual untuk mengembangkan aset.',
                item: [
                  'Cashback Rp50 Ribu setiap bulan',
                  'Cicilan kartu kredit 0% selama 3 bulan'
                ],
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              },
              {
                image: 'nyala-bisnis.jpg',
                title: 'Solusi tumbuh kembang dan pengelolaan keuangan bisnis dan pribadi.',
                item: [
                  'Akses pinjaman konfirmasi instan',
                  'Cashback hingga Rp52,5 juta untuk nasabah baru'
                ],
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              }
            ]
          }

        include ../../../layout/card-nyala.pug

      //- ds__componentsItem
      +ds__componentsItem('Benefit (Carousel)')
        -
          data = {
            card: [
              {
                title: 'Kelola Keuangan Personal dan Bisnis dengan Tanda 360 Plus',
                item: [
                  'Tabungan dengan 12 mata uang dalam satu rekening',
                  'Rekening giro dengan 12 mata uang dalam satu rekening',
                  'Fasilitas Buku Cek'
                ]
              },
              {
                title: 'Cicil Apapun dengan Kartu Kredit OCBC NISP',
                item: [
                  'Cicilan bunga 0% untuk 3 bulan',
                  'Cicilan 0,5% hingga 6 bulan',
                  'Gratis Biaya Iuran Tahunan'
                ]
              },
              {
                title: 'Dedicated Relationship Manager',
                item: [
                  'Advisor solusi keuangan Personal',
                  'Advisor solusi keuangan Personal'
                ]
              },
              {
                title: 'Kelola Keuangan Personal dan Bisnis dengan Tanda 360 Plus',
                item: [
                  'Tabungan dengan 12 mata uang dalam satu rekening',
                  'Rekening giro dengan 12 mata uang dalam satu rekening',
                  'Fasilitas Buku Cek'
                ]
              },
              {
                title: 'Cicil Apapun dengan Kartu Kredit OCBC NISP',
                item: [
                  'Cicilan bunga 0% untuk 3 bulan',
                  'Cicilan 0,5% hingga 6 bulan',
                  'Gratis Biaya Iuran Tahunan'
                ]
              }
            ]
          }

        include ../../../layout/card-nyala-benefit.pug

    //- ds__componentsSection
    +ds__componentsSection('Nyala Comparison Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            type: 'Nyala',
            title: 'Untuk yang ingin kebebasan di setiap transaksi harian',
            item: [
              'Bebas biaya admin',
              'Bebas biaya transfer dan tarik tunai hingga 10X',
              'Reksa Dana online mulai dari Rp100 Ribu',
              'Bonus cashback Rp250 Ribu untuk nasabah baru'
            ],
            button: {
              text: 'Selengkapnya',
              to: '#'
            }
          }

        include ../../../components/card-nyala-comparison.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Kenali Nyala yang sesuai untukmu',
            card: [
              {
                type: 'Nyala',
                title: 'Untuk yang ingin kebebasan di setiap transaksi harian',
                item: [
                  'Bebas biaya admin',
                  'Bebas biaya transfer dan tarik tunai hingga 10X',
                  'Reksa Dana online mulai dari Rp100 Ribu',
                  'Bonus cashback Rp250 Ribu untuk nasabah baru'
                ],
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              },
              {
                type: 'Nyala Individu',
                title: 'Untuk yang butuh fokus mengembangkan aset dan uang',
                item: [
                  'Saldo awal mulai dari Rp 1 Juta',
                  'Bebas biaya admin',
                  'Bebas 50X biaya transfer & transaksi online',
                  'Dedicated Relationship Manager',
                  'Cashback Rp50 Ribu setiap bulan',
                  'Cicilan kartu kredit 0% selama 3 bulan'
                ],
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              },
              {
                type: 'Nyala Bisnis',
                title: 'Untuk yang ingin cuan mengatur keuangan bisnis dan pribadi',
                item: [
                  'Penasehat keuangan personal pribadi dan bisnis',
                  'Bebas 50X biaya transfer & tarik tunai',
                  'Penempatan Deposito Online dengan tenor 2 minggu',
                  'Dedicated Relationship Manager',
                  'Akses pinjaman konfirmasi instan',
                  'Cashback Rp50 Ribu setiap bulan'
                ],
                button: {
                  text: 'Selengkapnya',
                  to: '#'
                }
              }
            ]
          }

        include ../../../layout/card-nyala-comparison.pug

    //- ds__componentsSection
    +ds__componentsSection('Partner Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            logo: 'partner1.png',
            name: 'Logo 1'
          };

        include ../../../components/card-partner.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Daftar Partner OCBC NISP untuk ON Cash Loan',
            list: [
              {
                logo: 'partner3.png',
                name: 'Loan Market'
              },
              {
                logo: 'partner5.png',
                name: 'UrbanAce'
              },
              {
                logo: 'partner4.png',
                name: 'KPR Online'
              },
              {
                logo: 'partner2.png',
                name: 'CekAja.com'
              },
              {
                logo: 'partner1.png',
                name: 'Cermati'
              }
            ]
          }
        include ../../../layout/card-partner.pug

    //- ds__componentsSection
    +ds__componentsSection('Premier Product Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
                image: 'card-1.jpg',
                title: 'Personal Assistant',
                description: 'Jajaran analisis terpercaya yang dapat memberikan hasil optimal untuk investasi nasabah',
                to: '#'
          };

        include ../../../components/card-premier-product.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Teristimewa hanya untuk Anda',
            card: [
              {
                image: 'card-1.jpg',
                title: 'Personal Assistant',
                description: 'Jajaran analisis terpercaya yang dapat memberikan hasil optimal untuk investasi nasabah',
                to: '#'
              },
              {
                image: 'card-2.jpg',
                title: 'Asset Management',
                description: 'Mengelola keuangan dan aset yang sesuai dengan kebutuhan finansial nasabah',
                to: '#'
              },
              {
                image: 'card-3.jpg',
                title: 'Premier Lounge',
                description: 'Transaksi tanpa antri dan tempat privasi di OCBC premier Singapura dan Malaysia',
                to: '#'
              },
              {
                image: 'card-4.jpg',
                title: 'Market Outlook',
                description: 'Informasi dan Ulasan Analisa Pasar Terkini',
                to: '#'
              }
            ]
          };

        include ../../../layout/card-premier-product.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Category Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            to: '#',
            image: 'product-category-1.jpg',
            title: 'Surat Kredit Berdokumen Dalam Negeri (SKBDN)',
            description: 'Layanan transaksi pembelian barang atau jasa dari dalam negeri'
          }

        include ../../../components/card-product-category.pug

      //- ds__componentsItem
      +ds__componentsItem('Single Card List')
        -
          data = {
            to: '#',
            image: 'product-category-2.jpg',
            title: 'Advice LC',
            item: [
              'Bunga yang Kompetitif',
              'Advised through: USD 75',
              'Taken by Beneficiary: USD 75'
            ]
          }

        include ../../../components/card-product-category.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Kenali Nyala yang sesuai untukmu',
            card: [
              {
                to: '#',
                image: 'product-category-3.jpg',
                title: 'Advice LC',
                item: [
                  'Bunga yang Kompetitif',
                  'Advised through: USD 75',
                  'Taken by Beneficiary: USD 75'
                ]
              },
              {
                to: '#',
                image: 'product-category-4.jpg',
                title: 'Advice LC',
                item: [
                  'Bunga yang Kompetitif',
                  'Advised through: USD 75',
                  'Taken by Beneficiary: USD 75'
                ]
              },
              {
                to: '#',
                image: 'product-category-5.jpg',
                title: 'Advice LC',
                item: [
                  'Bunga yang Kompetitif',
                  'Advised through: USD 75',
                  'Taken by Beneficiary: USD 75'
                ]
              }
            ]
          }

        include ../../../layout/card-product-category.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Comparison Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card', '', true)
        -
          data = {
            id: 9,
            icon: 'comparison-1.jpg',
            title: 'Tanda 360 Plus'
          };

        include ../../../components/card-product-comparison

      //- ds__componentsItem
      +ds__componentsItem('Layout', '', true)
        -
          data = {
            title: 'Pilih minimal 2 produk untuk perbandingan',
            card: [
              {
                id: 1,
                icon: 'comparison-1.jpg',
                title: 'Tanda 360 Plus'
              },
              {
                id: 2,
                icon: 'comparison-2.jpg',
                title: 'Tanda Premium'
              },
              {
                id: 3,
                icon: 'comparison-3.jpg',
                title: 'Tanda Valas SGD'
              },
              {
                id: 4,
                icon: 'comparison-4.jpg',
                title: 'Tanda Junior'
              },
              {
                id: 5,
                icon: 'comparison-2.jpg',
                title: 'TabunganKu'
              },
              {
                id: 6,
                icon: 'comparison-1.jpg',
                title: 'OCBC NISP SimPel'
              }
            ]
          }

        include ../../../layout/card-product-comparison

    //- ds__componentsSection
    +ds__componentsSection('Product SME Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            image: 'sme-1.jpg',
            to: '#',
            title: 'Simpanan & Investasi',
            description: 'Solusi untuk melancarkan proses berbisnis'
          }

        include ../../../components/card-product-sme.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Jawab tantangan bisnis dengan pilihan produk',
            card: [
              {
                image: 'sme-1.jpg',
                to: '#',
                title: 'Simpanan & Investasi',
                description: 'Solusi untuk melancarkan proses berbisnis'
              },
              {
                image: 'sme-2.jpg',
                to: '#',
                title: 'Pinjaman',
                description: 'Solusi bagi yang membutuhkan modal untuk berjalannya bisnis'
              },
              {
                image: 'sme-3.jpg',
                to: '#',
                title: 'Treasuri',
                description: 'Solusi untuk melindungi nilai dan mengembangkan bisnis'
              },
              {
                image: 'sme-4.jpg',
                to: '#',
                title: 'Layanan',
                description: 'Solusi untuk mengelola bisnis domestik dan internasional'
              }
            ]
          }

        include ../../../layout/card-product-sme.pug

    //- ds__componentsSection
    +ds__componentsSection('Promo Card')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [{
            to: 'promo-detail.html',
            title: 'Extra 10% Disc at Altoro',
            img: 'individu-2.jpg',
            label: 'Kartu Kredit, Kartu Debit, e-Channel',
            date: '1 Sept 2019 - 1 Sept 2020'
          }];
        include ../../../components/card-promo.pug

      //- ds__componentsItem
      +ds__componentsItem('Rectangle')
        -
          data = [{
            isRectangle: true,
            to: 'promo-detail.html',
            title: 'Resort World Sentosaa',
            img: 'individu-1.jpg',
            label: 'Kartu Kredit, Kartu Debit, e-Channel',
            date: '1 Sept 2019 - 1 Sept 2020'
          }];
        include ../../../components/card-promo.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            icon: '',
            title: 'Highlight',
            card: [
              {
                isRectangle: true,
                to: 'promo-detail.html',
                title: 'NTB Program',
                img: 'bisnis-1.jpg',
                label: 'Promo Bisnis',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Refer Your Partner',
                img: 'bisnis-2.jpg',
                label: 'Promo Bisnis',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Upsize Program',
                img: 'bisnis-3.jpg',
                label: 'Promo Bisnis',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Customer Get Customer',
                img: 'bisnis-4.jpg',
                label: 'Promo Bisnis',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Extra 10% Disc at Altoro',
                img: 'individu-3.jpg',
                label: 'Kartu Kredit, Kartu Debit, e-Channel',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
            ]
          };

        include ../../../layout/highlight-promo.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout with Icon')
        -
          data = {
            icon: 'elevation.png',
            title: 'Elevation',
            card: [
              {
                isRectangle: true,
                to: 'promo-detail.html',
                title: 'Resort World Sentosaa',
                img: 'individu-1.jpg',
                label: 'Kartu Kredit, Kartu Debit, e-Channel',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Extra 10% Disc at Altoro',
                img: 'individu-2.jpg',
                label: 'Kartu Kredit, Kartu Debit, e-Channel',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Extra 10% Disc at Altoro',
                img: 'individu-3.jpg',
                label: 'Kartu Kredit, Kartu Debit, e-Channel',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Extra 10% Disc at Altoro',
                img: 'individu-4.jpg',
                label: 'Kartu Kredit, Kartu Debit, e-Channel',
                date: '1 Sept 2019 - 1 Sept 2020'
              },
              {
                to: 'promo-detail.html',
                title: 'Extra 10% Disc at Altoro',
                img: 'individu-5.jpg',
                label: 'Kartu Kredit, Kartu Debit, e-Channel',
                date: '1 Sept 2019 - 1 Sept 2020'
              }
            ]
          };

        include ../../../layout/highlight-promo.pug

    //- ds__componentsSection
    +ds__componentsSection('Recommendation Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = [{
                img: 'card-recommendation.svg',
                link: '#',
                title: 'Tanda 360 Plus'
              }]

        include ../../../components/card-recommendation.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: "Kamu bisa cek rekomendasi kami:",
            list: [
              {
                img: 'card-recommendation.svg',
                link: '#',
                title: 'Tanda 360 Plus'
              },
              {
                img: 'card-recommendation.svg',
                link: '#',
                title: 'Taka Bunga'
              },
              {
                img: 'card-recommendation.svg',
                link: '#',
                title: 'Deposito'
              }
            ]
          }

        include ../../../layout/card-recommendation.pug

    //- ds__componentsSection
    +ds__componentsSection('Report Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            image: 'placeholder-report.jpg',
            title: 'Laporan Keberlanjutan 2014',
            button: {
              to: '#',
              text: 'Baca'
            },
            sectionText: 'Baca per Bagian'
          };

        include ../../../components/card-report.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Laporan Tahunan',
            list: [
              {
                image: 'placeholder-report.jpg',
                title: 'Laporan Tahunan 2019',
                button: {
                  to: '#',
                  text: 'Baca'
                },
                sectionText: 'Baca per Bagian'
              },
              {
                image: 'placeholder-report.jpg',
                title: 'Laporan Tahunan 2018',
                button: {
                  to: '#',
                  text: 'Baca'
                },
                sectionText: 'Baca per Bagian'
              }
            ]
          }

        include ../../../layout/card-report.pug

    //- ds__componentsSection
    +ds__componentsSection('Risk Profile Card')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            title: 'Pilih Profil Risiko Anda (Anda bisa ganti sesuai dengan Profil Risiko Anda)',
            list: [
              {
                value: '1',
                isChecked: true,
                text: 'Conservative'
              },
              {
                value: '2',
                isChecked: false,
                text: 'Balance'
              },
              {
                value: '3',
                isChecked: false,
                text: 'Growth'
              },
              {
                value: '4',
                isChecked: false,
                text: 'Aggresive'
              }
            ]
          };

        include ../../../components/card-risk-profile.pug

    //- ds__componentsSection
    +ds__componentsSection('Suggestion Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
              icon: 'btn-widget-default.svg',
              title: 'Deposito',
              description: 'Bunga lebih optimal dibandingkan pembukaan di counter',
              button: 'Ajukan',
              to: '#'
            };

        include ../../../components/card-suggestion.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Pilihan solusi untuk rencana memiliki rumah',
            button: {
              to: '#',
              text: 'Lihat Produk Lainnya'
            },
            card: [
              {
                icon: 'btn-widget-default.svg',
                title: 'Deposito',
                description: 'Bunga lebih optimal dibandingkan pembukaan di counter',
                button: 'Ajukan',
                to: '#'
              },
              {
                icon: 'btn-widget-default.svg',
                title: 'Taka Bunga Pasti',
                description: 'Menabung untuk beli rumah dengan suku bunga hingga 5,25%',
                button: 'Cari Tahu',
                to: '#'
              },
              {
                icon: 'btn-widget-default.svg',
                title: 'Reksa Dana',
                description: 'Berinvestasi mudah dengan dana mudah mulai dari Rp100 Ribu',
                button: 'Cari Tahu',
                to: '#'
              }
            ]
          };

        include ../../../layout/card-suggestion.pug

      //- ds__componentsItem
      //- +ds__componentsItem('Endless Variant')
        -
          data = {
            title: 'Mau dapat poin atau tukar poin, semua sama serunya!',
            button: {
              to: '#',
              text: 'Cari Tahu Lebih Detail'
            },
            card: [
              {
                icon: 'btn-widget-default.svg',
                title: 'Mitra Poin Seru',
                endless: true,
                partners: [
                  {
                    image: 'mitra-1.png',
                    name: 'Mitra 1'
                  },
                  {
                    image: 'mitra-2.png',
                    name: 'Mitra 2'
                  },
                  {
                    image: 'mitra-3.png',
                    name: 'Mitra 3'
                  },
                  {
                    image: 'mitra-4.png',
                    name: 'Mitra 4'
                  },
                  {
                    image: 'mitra-5.png',
                    name: 'Mitra 5'
                  },
                  {
                    image: 'mitra-6.png',
                    name: 'Mitra 6'
                  },
                  {
                    image: 'mitra-7.png',
                    name: 'Mitra 7'
                  },
                ]
              },
              {
                icon: 'btn-widget-default.svg',
                title: 'Dapat Poin Seru',
                description: 'Dapatkan bonus poin berlipat ganda dengan menabung dan bertransaksi',
                button: 'Dapatkan Sekarang',
                to: '#'
              },
              {
                icon: 'btn-widget-default.svg',
                title: 'Redeem Poin Seru',
                description: 'Menangkan voucher belanja, gadget, dan logam mulia di Lelang Poin dan SurePrize.',
                button: 'Redeem Sekarang',
                to: '#'
              },
            ]
          };

        include ../../../layout/card-suggestion.pug

    //- ds__componentsSection
    +ds__componentsSection('Upselling Card')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            title: 'Ajak temanmu menjadi nasabah OCBC NISP sekarang',
            description: 'Semakin banyak mengajak teman, semakin besar keuntungan yang didapatkan',
            button: 'Ajak Teman',
            to: '#'
          }

        include ../../../components/card-upselling.pug

      +ds__componentsItem('Border')
        -
          data = {
            border: true,
            title: 'Permintaan Amnesti Pajak',
            description: 'Tim kami siap membantu memberikan solusi',
            button: 'Hubungi Kami',
            to: '#'
          }

        include ../../../components/card-upselling.pug

      +ds__componentsItem('Image')
        -
          data = {
            title: 'Dapatkan Tarif dan Biaya Khusus',
            description: 'Nasabah Premier Banking mendapatkan tarif dan biaya khusus bertransaksi',
            button: 'Upgrade ke Premier Banking',
            image: {
              desktop: 'perbankan-eksklusif-d.jpg',
              mobile: 'perbankan-eksklusif-m.jpg'
            },
            to: '#'
          }

        include ../../../components/card-upselling.pug

    //- ds__componentsSection
    +ds__componentsSection('USP Card')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = [
            {
              title: 'Title of USP',
              description: 'Short explanation about the USP',
              img: 'placeholder.jpg'
            }
          ]

        include ../../../layout/card-usp.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              title: 'Title of USP',
              description: 'Short explanation about the USP',
              img: 'placeholder.jpg'
            },
            {
              title: 'Title of USP',
              description: 'Short explanation about the USP',
              img: 'placeholder.jpg'
            },
            {
              title: 'Title of USP',
              description: 'Short explanation about the USP',
              img: 'placeholder.jpg'
            }
          ]

        include ../../../layout/card-usp.pug
