//-------------------------------------------------------------------------------
  @name: Design System - Component - Content Detail
  @description: Design System - Component - Content Detail
  -------------------------------------------------------------------------------//

+ds__contentItem('Content Detail', 'Components')
  .ocbc-ds__components.ocbc-ds__components__content-detail

    //- ds__componentsSection
    +ds__componentsSection('Content Detail', '', noPadding = true)
      //- ds__componentsItem
      +ds__componentsItem('Default')
        //ocbc-content-detail
        .ocbc-content-detail
          .ocbc-container
            .ocbc-row
              .ocbc-col-xl-12
                //ocbc-content-detail__content
                .ocbc-content-detail__content
                  //ocbc-content-detail__share-floating
                  .ocbc-content-detail__share-floating
                    -
                      isFloating = true;
                    include ../../../components/share-content.pug

                  //ocbc-content-detail__head
                  .ocbc-content-detail__head
                    h2.ocbc-content-detail__title
                      | Extra 10% Disc at Altoro
                    .ocbc-content-detail__row
                      .ocbc-content-detail__col
                        p.ocbc-content-detail__date-author
                          strong.ocbc-content-detail__date
                            | 1 Sept 2019 - 1 Sept 2020
                            | Ditulis oleh: Yogie Christian
                      .ocbc-content-detail__col
                        -
                          isFloating = false;
                        include ../../../components/share-content.pug

                  //ocbc-content-detail__img
                  .ocbc-content-detail__img.owl-carousel.js-content-detail-image
                    .ocbc-content-detail__img__item
                      ='\n'
                      img.ocbc-content-detail__img__el(src='img/dummy/page/detail/promo-1.jpg' alt='Extra 10% Disc at Altoro')/
                      |!{''}
                      |
                    .ocbc-content-detail__img__item
                      ='\n'
                      img.ocbc-content-detail__img__el(src='img/dummy/page/detail/promo-2.jpg' alt='Extra 10% Disc at Altoro')/
                      |!{''}
                      |
                    .ocbc-content-detail__img__item
                      ='\n'
                      img.ocbc-content-detail__img__el(src='img/dummy/page/detail/promo-3.jpg' alt='Extra 10% Disc at Altoro')/
                      |!{''}
                      |


                  //ocbc-content-detail__body
                  .ocbc-content-detail__body
                    //ocbc-content-detail__txt
                    .ocbc-content-detail__txt
                      p.ocbc-content-detail__desc
                        | Diskon 10% pakai Kartu Kredit OCBC NISP Platinum berlaku dari 1 Sept 2019 - 1 Sept 2020.
                        br/
                        | Promo hanya berlaku untuk makanan saja.
                      p.ocbc-content-detail__subtitle-content
                        | Bagaimana Cara Mereka Mencukupi Kebutuhan?

                      -
                        data = {
                          title: 'Promo Code',
                          promoCode: 'ALTORO10',
                          description: 'Pakai kode promo ini di ONe Mobile App (Android dan iOS)',
                        };
                      include ../../../components/card-code-promo.pug

                      h4.ocbc-content-detail__title-content
                        | Terms and Conditions
                      ul.ocbc-content-detail__list
                        li.ocbc-content-detail__list__item
                          | Promo berlaku untuk pembayaran dengan Kartu Kredit OCBC NISP (Voyage, Platinum, atau Titanium)
                        li.ocbc-content-detail__list__item
                          | Minimum transaksi Rp500.000
                        li.ocbc-content-detail__list__item
                          | Tidak berlaku kelipatan dan split bill
                        li.ocbc-content-detail__list__item
                          | Berlaku setiap hari
                        li.ocbc-content-detail__list__item
                          | Tidak dapat digabungkan dengan promo lainnya
                        li.ocbc-content-detail__list__item
                          | Bank OCBC NISP berhak membebankan chargeback ke Nasabah, jika terjadi penyalahgunaan transaksi yang tidak sesuai dengan ketentuan yang berlaku
                      h4.ocbc-content-detail__title-content
                        | Alamat Outlet
                      p.ocbc-content-detail__desc
                        | Jalan Raya Kupang Indah
                        br/
                        | Dukuh Kupang
                        br/
                        | Kec. Dukuh Pakis, Surabaya

                    //ocbc-content-detail__tag-label
                    .ocbc-content-detail__tag-label
                      ='\n'
                      span.ocbc-tag-label
                          | Individu
                      |!{''}
                      |
                      ='\n'
                      span.ocbc-tag-label
                          | Tips & Tricks
                      |!{''}
                      |
                      ='\n'
                      span.ocbc-tag-label
                          | Keuangan
                      |!{''}
                      |
                      ='\n'
                      span.ocbc-tag-label
                          | Milenial
                      |!{''}
                      |
