//-------------------------------------------------------------------------------
  @name: Design System - Component - Footer
  @description: Design System - Component - Footer
  -------------------------------------------------------------------------------//

+ds__contentItem('Footer', 'Components')
  .ocbc-ds__components.ocbc-ds__components__footer

    //- ds__componentsSection
    +ds__componentsSection('Footer')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        include ../../../layout/footer.pug

      //- ds__componentsItem
      +ds__componentsItem('Premier', '', noPadding = true)
        .ocbc-premier-site
          include ../../../layout/footer.pug

      //- ds__componentsItem
      +ds__componentsItem('Private', '', noPadding = true)
        .ocbc-premier-site
          include ../../../layout/footer.pug
