//-------------------------------------------------------------------------------
  @name: Design System - Component - Form
  @description: Design System - Component - Form
  -------------------------------------------------------------------------------//

+ds__contentItem('Form', 'Components')
  .ocbc-ds__components.ocbc-ds__components__form

    //- ds__componentsSection
    +ds__componentsSection('Field Name')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-name.pug

    //- ds__componentsSection
    +ds__componentsSection('Field Phone')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-phone.pug

    //- ds__componentsSection
    +ds__componentsSection('Field Email')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-email.pug

    //- ds__componentsSection
    +ds__componentsSection('Field City')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-city.pug

    //- ds__componentsSection
    +ds__componentsSection('Field Message')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-message.pug

    //- ds__componentsSection
    +ds__componentsSection('Field Terms')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-terms.pug

    //- ds__componentsSection
    +ds__componentsSection('Field Recaptcha')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/field-recaptcha.pug

    +ds__componentsSection('Range Slider Field')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
              label: 'Berapa Usia Anda',
              rangeType: 'year',
              min: '0',
              max: '100',
              from: '0',
              postfix: 'Tahun'
            };
        include ../../../components/input-range-slider.pug
