//-------------------------------------------------------------------------------
  @name: Design System - Component - Fragment
  @description: Design System - Component - Fragment
  -------------------------------------------------------------------------------//

+ds__contentItem('Fragment', 'Components')
  .ocbc-ds__components.ocbc-ds__components__fragment

    //- ds__componentsSection
    +ds__componentsSection('Breadcrumbs')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [
            {
              to: 'individu.html',
              text: 'Individu'
            },
            {
              to: 'simpanan.html',
              text: 'Simpanan'
            }
          ]

        include ../../../components/breadcrumbs.pug

    //- ds__componentsSection
    +ds__componentsSection('Announcement List')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            to: '#',
            iconOld: 'fragment-default.svg',
            title: 'Presentasi Kinerja Tahun 2013'
          };

        include ../../../components/announcement-list.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              to: '#',
              iconOld: 'fragment-default.svg',
              title: 'Presentasi Kinerja Tahun 2013'
            },
            {
              to: '#',
              iconOld: 'fragment-default.svg',
              title: 'Presentasi Kinerja Tahun 2012'
            },
            {
              to: '#',
              iconOld: 'fragment-default.svg',
              title: 'Presentasi Kinerja Tahun 2011'
            }
          ];

        include ../../../layout/announcement-list.pug


    //- ds__componentsSection
    +ds__componentsSection('Company History')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            years: [
              {
                number: 1941,
                color: 'blue'
              },
              {
                number: 1963,
                color: 'blue'
              },
              {
                number: 1967,
                color: 'blue'
              },
              {
                number: 2008,
                color: 'red'
              },
              {
                number: 2015,
                color: 'red'
              },
              {
                number: 2019,
                color: 'red'
              }
            ],
            content: [
              {
                year: 1941,
                title: 'Bank NISP Memulai Perjalanan di Dunia Perbankan',
                desc: 'NV Nederlandsch Indische Spaar En Deposito Bank atau dikenal sebagai Bank NISP pertama kali berdiri di Bandung dan beroperasi pada tanggal 4 April 1941.',
                image: {
                  color: 'blue',
                  img: 'image-circle-3.jpg'
                }
              },
              {
                year: 1963,
                title: 'Blanditiis soluta vero asperiores dignissimos harum',
                desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis soluta vero asperiores dignissimos harum earum tenetur ad placeat nulla nostrum, velit',
                image: {
                  color: 'blue',
                  img: 'image-circle-3.jpg'
                }
              },
              {
                year: 1967,
                title: 'Soluta nobis deleniti earum, dolore est',
                desc: 'Eveniet illo officiis nemo illum iure molestias praesentium ut soluta minima porro dolorem ducimus maxime molestiae ullam pariatur et laboriosam est itaque',
                image: {
                  color: 'blue',
                  img: 'image-circle-3.jpg'
                }
              },
              {
                year: 2008,
                title: 'Bersatu untuk Bersinergi',
                desc: 'NV Nederlandsch Indische Spaar En Deposito Bank atau dikenal sebagai Bank NISP pertama kali berdiri di Bandung dan beroperasi pada tanggal 4 April 1941.',
                image: {
                  color: 'red',
                  img: 'image-circle-3.jpg'
                }
              },
              {
                year: 2015,
                title: '2015 OCBC Overseas Investments Pte. Ltd',
                desc: 'OCBC Overseas Investments Pte. Ltd. yang merupakan anak perusahaan dari Oversea-Chinese Banking Corporation Limited (OCBC Bank) telah menjadi pemegang saham mayoritas',
                image: {
                  color: 'red',
                  img: 'image-circle-3.jpg'
                }
              },
              {
                year: 2019,
                title: '2019 OCBC Overseas Investments Pte. Ltd',
                desc: 'Oversea-Chinese Banking Corporation Limited (OCBC Bank) telah menjadi pemegang saham mayoritas, dengan kepemilikan per akhir tahun 2017 sebesar 85,1%',
                image: {
                  color: 'red',
                  img: 'image-circle-3.jpg'
                }
              }
            ]
          }
        include ../../../components/company-history.pug

    //- ds__componentsSection
    +ds__componentsSection('Company Shareholder')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            title: 'Profil Pemegang Saham Pengendali: OCBC BANK',
            description: 'Sejak tahun 2005, OCBC Overseas Investments Pte. Ltd. yang merupakan anak perusahaan dari Oversea-Chinese Banking Corporation Limited (OCBC Bank) telah menjadi pemegang saham mayoritas, dengan kepemilikan per akhir tahun 2017 sebesar 85,1%. Selanjutnya, OCBC Bank sebagai pemegang saham pengendali senantiasa memberikan dukungan penuh kepada Bank OCBC NISP.',
            link: {
              to: '#',
              text: 'Selengkapnya'
            },
            image: {
              color: 'gray',
              img: 'image-circle-2.jpg'
            }
          }
        include ../../../components/company-shareholder.pug

    //- ds__componentsSection
    +ds__componentsSection('Contact Channel')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            img: 'phone.svg',
            title: 'Call OCBC NISP',
            description: 'Dalam Negeri Hubungi 1500-999<br/>Luar Negeri Hubungi +62-21-26506300',
            button: {
              to: 'tel:+62211500999',
              toInternational: 'tel:+622126506300',
              target: '_blank',
              text: 'Hubungi',
              jsClass: 'js-call-ocbc-nisp'
            }
          }

        include ../../../components/contact-channel.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            classItem: 'ocbc-col-xl-3 ocbc-col-lg-4',
            card: [
              {
                img: 'phone.svg',
                title: 'Call OCBC NISP',
                description: 'Dalam Negeri Hubungi 1500-999<br/>Luar Negeri Hubungi +62-21-26506300',
                button: {
                  to: 'tel:+62211500999',
                  toInternational: 'tel:+622126506300',
                  target: '_blank',
                  text: 'Hubungi',
                  jsClass: 'js-call-ocbc-nisp'
                }
              },
              {
                img: 'whatsapp.svg',
                title: 'Layanan WhatsApp OCBC NISP',
                description: 'Hubungi +628121500999',
                button: {
                  to: 'https://api.whatsapp.com/send?phone=+628121500999&text=Hi OCBC NISP',
                  target: '_blank',
                  text: 'Chat'
                }
              },
              {
                img: 'email.svg',
                title: 'e-mail OCBC NISP',
                description: 'Kirim e-mail ke<br/>callcenter@ocbcnisp.com',
                button: {
                  to: 'mailto:callcenter@ocbcnisp.com',
                  target: '_blank',
                  text: 'Kirim e-mail'
                }
              },
              {
                img: 'global-business.svg',
                title: 'Kunjungi Cabang OCBC NISP',
                description: 'Datang ke Kantor Cabang OCBC NISP Terdekat',
                button: {
                  to: 'hubungi-kami-lokasi-kami.html',
                  text: 'Lihat Lokasi'
                }
              },
              {
                img: 'document.svg',
                title: 'e-form',
                description: 'Ajukan pertanyaan melalui e-form',
                button: {
                  to: 'bisnis-sme-pinjaman-kmk-pengajuan-pinjaman.html',
                  text: 'Kirim e-form'
                }
              },
              {
                img: 'twitter.svg',
                title: 'Twitter Customer Service',
                description: 'Mention @tanyaocbcnisp',
                button: {
                  to: 'https://twitter.com/intent/tweet?screen_name=tanyaocbcnisp',
                  target: '_blank',
                  text: 'Buka Twitter'
                }
              }
            ]
          }

        include ../../../layout/contact-channel.pug

    //- ds__componentsSection
    +ds__componentsSection('Cookies')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        include ../../../components/cookies.pug

    //- ds__componentsSection
    +ds__componentsSection('CSR Description')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            highlight: 'spirit.png',
            text: [
              {
                title: '<strong> Bermitra </strong> dengan setiap stakeholder menggunakan prinsip kesetaraan',
                icon: 'fragment-default.svg',
              },
              {
                title: '<strong> Bermitra </strong> dengan setiap stakeholder menggunakan prinsip kesetaraan',
                icon: 'fragment-default.svg',
              },
              {
                title: '<strong> Bermitra </strong> dengan setiap stakeholder menggunakan prinsip kesetaraan',
                icon: 'fragment-default.svg',
              }
            ]
          }

        include ../../../components/csr-description.pug

    //- ds__componentsSection
    +ds__componentsSection('CSR Program')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = [{
            title: 'Penjelasan Amnesti Pajak',
            description: 'Amnesti Pajak merupakan kesempatan bagi wajib pajak untuk berpartisipasi dalam percepatan pembangunan ekonomi Indonesia. Bank OCBC NISP mendukung program Amnesti Pajak melalui layanan perbankan dan produk investasi unggulan untuk mengelola dan mengembangkan dana repatriasi nasabah dari luar negeri.',
            img: 'img-circle-4.jpg'
          }]

        include ../../../components/csr-program.pug

      +ds__componentsItem('Shift Image', '', true)
        -
          data = [{
            shift: true,
            title: 'Bidang Pendidikan',
            description: 'Program edukasi perbankan dan budaya menabung sejak tahun 2007, seperti “Ayo ke Bank” dan “Bank Goes To School” untuk siswa usia sekolah serta program “One Day Workshop”, kegiatan di mana para mahasiswa dibekali pengetahuan untuk persiapan masuk dalam dunia usaha atau bisnis.\n\nProgram beasiswa berkesinambungan juga menjadi perhatian kami. Bekerja sama dengan beberapa mitra, kami menyalurkan beasiswa langsung bagi siswa SMA dan mahasiswa berprestasi yang kurang mampu secara finansial.',
            img: 'img-circle-1.png',
            button: {
              text: 'Lihat Berita',
              to: '#'
            }
          }]

        include ../../../components/csr-program.pug

      //- ds__componentsItem
      +ds__componentsItem('Invert Position', '', true)
        -
          data = [{
            invert: true,
            title: 'Bidang Pendidikan',
            description: 'Program edukasi perbankan dan budaya menabung sejak tahun 2007, seperti “Ayo ke Bank” dan “Bank Goes To School” untuk siswa usia sekolah serta program “One Day Workshop”, kegiatan di mana para mahasiswa dibekali pengetahuan untuk persiapan masuk dalam dunia usaha atau bisnis.\n\nProgram beasiswa berkesinambungan juga menjadi perhatian kami. Bekerja sama dengan beberapa mitra, kami menyalurkan beasiswa langsung bagi siswa SMA dan mahasiswa berprestasi yang kurang mampu secara finansial.',
            img: 'img-circle-1.png',
            button: {
              text: 'Lihat Berita',
              to: '#'
            }
          }]

        include ../../../components/csr-program.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout', '', true)
        -
          data = [
            {
              title: 'Bidang Pendidikan',
              description: 'Program edukasi perbankan dan budaya menabung sejak tahun 2007, seperti “Ayo ke Bank” dan “Bank Goes To School” untuk siswa usia sekolah serta program “One Day Workshop”, kegiatan di mana para mahasiswa dibekali pengetahuan untuk persiapan masuk dalam dunia usaha atau bisnis.\n\nProgram beasiswa berkesinambungan juga menjadi perhatian kami. Bekerja sama dengan beberapa mitra, kami menyalurkan beasiswa langsung bagi siswa SMA dan mahasiswa berprestasi yang kurang mampu secara finansial.',
              img: 'img-circle-1.png',
              button: {
                text: 'Lihat Berita',
                to: '#'
              }
            },
            {
              inver: true,
              title: 'Bidang Pendidikan',
              description: 'Program edukasi perbankan dan budaya menabung sejak tahun 2007, seperti “Ayo ke Bank” dan “Bank Goes To School” untuk siswa usia sekolah serta program “One Day Workshop”, kegiatan di mana para mahasiswa dibekali pengetahuan untuk persiapan masuk dalam dunia usaha atau bisnis.\n\nProgram beasiswa berkesinambungan juga menjadi perhatian kami. Bekerja sama dengan beberapa mitra, kami menyalurkan beasiswa langsung bagi siswa SMA dan mahasiswa berprestasi yang kurang mampu secara finansial.',
              img: 'img-circle-1.png',
              button: {
                text: 'Lihat Berita',
                to: '#'
              }
            },
            {
              title: 'Bidang Pendidikan',
              description: 'Program edukasi perbankan dan budaya menabung sejak tahun 2007, seperti “Ayo ke Bank” dan “Bank Goes To School” untuk siswa usia sekolah serta program “One Day Workshop”, kegiatan di mana para mahasiswa dibekali pengetahuan untuk persiapan masuk dalam dunia usaha atau bisnis.\n\nProgram beasiswa berkesinambungan juga menjadi perhatian kami. Bekerja sama dengan beberapa mitra, kami menyalurkan beasiswa langsung bagi siswa SMA dan mahasiswa berprestasi yang kurang mampu secara finansial.',
              img: 'img-circle-1.png',
              button: {
                text: 'Lihat Berita',
                to: '#'
              }
            }
          ]

        include ../../../components/csr-program.pug

    //- ds__componentsSection
    +ds__componentsSection('Decription Section')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            title: 'Tau Gak, 7 dari 10 millenial gak punya Investasi? Kamu Gimana? ',
            description: 'Padahal dengan investasi, kamu bisa bikin uangmu "bekerja" sehingga menghasilkan keuntungan yang lebih besar. Dengan investasi, uang kamu juga gak tergerus inflasi.',
            image: 'rachel-description.png'
          }

        include ../../../components/description-section.pug

    //- ds__componentsSection
    +ds__componentsSection('Disclaimer Fragment')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            title: 'Disclaimer',
            description: [
              '1. PT. Bank OCBC NISP, Tbk. (“Bank”) terdaftar dan diawasi oleh Otoritas Jasa Keuangan (OJK).',
              '2. Informasi ini dipersiapkan oleh Bank dengan mengandung materi informasi dari sumber referensi yang dianggap dapat dipercaya oleh Bank. Namun demikian, Bank tidak menjamin keakuratan dan kelengkapan semua proyeksi, pendapat, atau fakta-fakta statistik lainnya yang tercantum daalam materi informasi tersebut.',
              '3. Data, proyeksi, pendapat atau fakta-fakta statistik yang tercantum hanya ditujukan sebagai informasi dan tidak bertujuan untuk dijadikan dasar keputusan investasi.',
              '4. Informasi ini dapat berubah sewaktu-waktu tanpa pemberitahuan sebelumnya. Untuk informasi lebih lanjut, harap hubungi Call OCBC NISP di nomor 1500-999 / HP 66-999 atau Cabang Bank OCBC NISP terdekat.'
            ]
          }

        include ../../../components/disclaimer-fragment.pug

    //- ds__componentsSection
    +ds__componentsSection('FAQ Accordion')
      //- ds__componentsItem
      +ds__componentsItem('Single')
        include ../../../pages/faq/tab-content/faq-accordion/general/biaya-transaksi.pug

    //- ds__componentsSection
    +ds__componentsSection('Filter')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', false)
        -
          data = [
            {
              title: 'Filter',
              element: 'checkbox',
              items: [
                {
                  image: 'fragment-default.svg',
                  name: 'all',
                  text: 'Semua Hasil',
                  total: '52',
                  checked: true
                },
                {
                  image: 'fragment-default.svg',
                  name: 'produk',
                  text: 'Produk',
                  total: '7'
                },
                {
                  image: 'fragment-default.svg',
                  name: 'promo',
                  text: 'Promo',
                  total: '30'
                },
                {
                  image: 'fragment-default.svg',
                  name: 'artikel',
                  text: 'Artikel',
                  total: '15'
                },
                {
                  image: 'fragment-default.svg',
                  name: 'lainnya',
                  text: 'Lainnya',
                  total: '0'
                }
              ]
            }
          ]
        include ../../../layout/filter.pug

    //- ds__componentsSection
    +ds__componentsSection('Footer Nav')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [
                  {
                    text: 'Simpanan & Investasi',
                    to: '#'
                  },
                  {
                    text: 'Pinjaman',
                    to: '#'
                  },
                  {
                    text: 'Treasuri',
                    to: '#'
                  },
                  {
                    text: 'Layanan',
                    to: '#'
                  }
                ];

        include ../../../components/footer-nav.pug

    //- ds__componentsSection
    +ds__componentsSection('Graphics Bar Section')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            title: 'Yuk Kita Lihat Perbandingannya',
            subTitle: 'Ilustrasi investasi dengan alokasi Rp 500,000/bulan selama 5 tahun atau setara dengan <strong>Rp 30,000,000</strong>',
            body: {
              paragraph: 'Catatan Penting<br/>Ilustrasi tersebut menggunakan data imbal hasil dari periode 2010 hingga 2019:',
              list: [
                'Untuk Tabungan, imbal hasil yang digunakan adalah asumsi bunga 1.0% per tahun neto.',
                'Untuk Deposito, imbal hasil yang digunakan adalah rata-rata tahunan tingkat suku bunga deposito 1 tahun neto (2010-2019).',
                'Untuk Obligasi, imbal hasil yang digunakan adalah rata-rata imbal hasil tahunan dari indeks acuan IBPA Indobex Government Bond dari periode (2013-2019).',
                'Untuk Reksa Dana Saham, mengggunakan rata-rata imbal hasil tahunan Reksa Dana Schroder Dana Prestasi (2010-2019).'
              ]
            },
            graph: {
              chart: {
                text: 'Grafik Bar Chart',
                image: 'grafik-bar-chart.svg'
              },
              legend: {
                text: 'Grafik Bar Legend',
                image: 'grafik-bar-legend.svg'
              }
            }
          }

        include ../../../components/graph-bar-section.pug

    //- ds__componentsSection
    +ds__componentsSection('How To')
      //- ds__componentsItem
      +ds__componentsItem('Rachel', '', true)
        include ../../../layout/rachel-how-to.pug

      //- ds__componentsItem
      +ds__componentsItem('One Mobile', '', true)
        include ../../../layout/one-mobile-how-to.pug

      //- ds__componentsItem
      +ds__componentsItem('Internet Banking', '', true)
        include ../../../layout/internet-banking-how-to.pug

      //- ds__componentsItem
      +ds__componentsItem('Jadi Nasabah', '', true)
        include ../../../layout/jadi-nasabah-how-to.pug

    //- ds__componentsSection
    +ds__componentsSection('Icon and Text')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [
            {
              icon: 'print.svg',
              label: 'Print',
              class: 'print',
              to: 'hasil-perhitungan-kalkulator-asuransi-share.html#print',
              classButton: 'js-calc-result-print'
            },
            {
              icon: 'share.svg',
              label: 'Share',
              class: 'share',
              classButton: 'js-calc-result-share',
              list: [
                {
                  icon: 'whatsapp.svg',
                  text: 'Whatsapp',
                  to: 'hasil-perhitungan-kalkulator-asuransi-share.html#whatsapp',
                  target: '_blank',
                  action: 'share/whatsapp/share'
                },
                {
                  icon: 'email.svg',
                  text: 'Email',
                  to: 'hasil-perhitungan-kalkulator-asuransi-share.html#email',
                  target: '_blank',
                },
                {
                  icon: 'fragment-default.svg',
                  text: 'Simpan',
                  to: 'hasil-perhitungan-kalkulator-asuransi-share.html#save',
                  target: '_blank'
                }
              ]
            }
          ];

        include ../../../layout/icon-text.pug

    //- ds__componentsSection
    +ds__componentsSection('Image Circle')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            color: 'red',
            img: 'image-circle-1.jpg'
          }

        include ../../../components/image-circle.pug

      //- ds__componentsItem
      +ds__componentsItem('Color Variation')
        -
          data = {
            color: 'blue',
            img: 'image-circle-1.jpg'
          }

        include ../../../components/image-circle.pug

      //- ds__componentsItem
      +ds__componentsItem('Size Variation')
        -
          data = {
            color: 'red',
            img: 'image-circle-3.jpg',
            large: true
          }

        include ../../../components/image-circle.pug

    //- ds__componentsSection
    +ds__componentsSection('Journey Section')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            image: 'image-circle.png',
            title: 'Perencanaan investasi untuk setiap mimpi dan cita-cita',
            description: 'Tentukan tujuanmu lalu kembangkan portfolio yang sesuai mimpi dan cita-cita dengan OCBC NISP Life Goals',
            cards: [
              {
                link: true,
                target: '#',
                title: 'Rencanakan Pendidikan Anak',
                image: 'education.svg'
              },
              {
                link: true,
                target: '#',
                title: 'Perlindungan Diri & Keluarga',
                image: 'insurance.svg'
              },
              {
                link: true,
                target: '#',
                title: 'Rencanakan Hari Tua',
                image: 'live-no-worries.svg'
              },
              {
                link: true,
                target: '#',
                title: 'Membeli Rumah Impian',
                image: 'mortgage.svg'
              }
            ]
          };

        include ../../../components/journey-section.pug

    //- ds__componentsSection
    +ds__componentsSection('Label Comparison')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            link: {
              action: '#',
              text: 'Bandingkan Ulang'
            },
            list: [
              {
                icon: 'close.svg',
                text: 'Tanda 360 Plus'
              },
              {
                icon: 'close.svg',
                text: 'Tanda Valas SGD'
              },
              {
                icon: 'close.svg',
                text: 'TabunganKu'
              }
            ]
          }
        include ../../../layout/label-comparison.pug

    //- ds__componentsSection
    +ds__componentsSection('Mission Section')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            text: [
              {
                title: 'Misi 1',
                description: 'Menyediakan dan mengembangkan pelayanan keuangan yang inovatif, berkualitas dan melebihi harapan masyarakat yang dinamik dengan hasil terbaik.',
              },
              {
                title: 'Misi 1',
                description: 'Menyediakan dan mengembangkan pelayanan keuangan yang inovatif, berkualitas dan melebihi harapan masyarakat yang dinamik dengan hasil terbaik.',
              },
              {
                title: 'Misi 1',
                description: 'Menyediakan dan mengembangkan pelayanan keuangan yang inovatif, berkualitas dan melebihi harapan masyarakat yang dinamik dengan hasil terbaik.',
              },
              {
                title: 'Misi 1',
                description: 'Menyediakan dan mengembangkan pelayanan keuangan yang inovatif, berkualitas dan melebihi harapan masyarakat yang dinamik dengan hasil terbaik.',
              }
            ],
            image: {
              color: 'gray',
              img: 'image-circle-2.jpg'
            }
          }

        include ../../../components/mission-section.pug

    //- ds__componentsSection
    +ds__componentsSection('Networks')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            title: 'Jaringan Kami',
            companies: [
              {
                logo: 'lion-global.png',
                name: 'Lion Global'
              },
              {
                logo: 'great-eastern.png',
                name: 'Great Eastern'
              },
              {
                logo: 'ocbc-nisp.png',
                name: 'OCBC NISP'
              },
              {
                logo: 'ocbc-bank.png',
                name: 'OCBC Bank'
              },
              {
                logo: 'bank-of-ningbo.png',
                name: 'Bank of Ningbo'
              },
              {
                logo: 'ocbc-bank-2.png',
                name: 'OCBC Bank'
              },
              {
                logo: 'ocbc-wing-hang.png',
                name: 'OCBC Wing Hang'
              },
              {
                logo: 'ocbc-al-amin.png',
                name: 'OCBC Al Amin'
              },
              {
                logo: 'ocbc-nisp.png',
                name: 'OCBC NISP'
              },
              {
                logo: 'ocbc-bank.png',
                name: 'OCBC Bank'
              },
              {
                logo: 'bank-of-ningbo.png',
                name: 'Bank of Ningbo'
              },
              {
                logo: 'ocbc-bank-2.png',
                name: 'OCBC Bank'
              }
            ]
          }

        include ../../../components/networks.pug

    //- ds__componentsSection
    +ds__componentsSection('No Result')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            icon: 'no-result.svg',
            text: 'Halaman yang Anda Cari Tidak Tersedia'
          }

        include ../../../components/no-result.pug

    //- ds__componentsSection
    +ds__componentsSection('Pagination')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            prevTo: '#',
            nextTo: '#',
            list: [
              {
                to: '#',
                text: '1'
              },
              {
                to: '#',
                text: '2'
              },
              {
                to: '#',
                text: '3'
              },
              {
                to: '#',
                text: '3dot'
              },
              {
                to: '#',
                text: '25'
              }
            ]
          }

        include ../../../components/pagination.pug

    //- ds__componentsSection
    +ds__componentsSection('Pie Chart')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            total: '1.000.000.000',
            chart: [
              {
                title: 'OCBC Overseas Investment',
                percentage: '80%',
                amount: '800.000.000 Lembar'
              },
              {
                title: 'Others',
                percentage: '20%',
                amount: '200.000.000 Lembar'
              }
            ]
          }

        include ../../../components/investment-pie-chart.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Category Fragment')
      //- ds__componentsItem
      +ds__componentsItem('Single Item')
        -
          data = {
            title: 'Innovative Solution',
            description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
            img: {
              default: 'fragment-default.svg',
              hover: 'fragment-hover.svg'
            }
          }
        include ../../../components/product-category-fragment.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              title: 'Innovative Solution',
              description: 'Rekomendasi personal dan menyeluruh untuk mengembangkan aset',
              img: {
                default: 'fragment-default.svg',
                hover: 'fragment-hover.svg'
              }
            },
            {
              title: 'Mutual Partnership',
              description: 'Bersama menentukan model bisnis yang disesuaikan dengan risiko dan penawaran',
              img: {
                default: 'fragment-default.svg',
                hover: 'fragment-hover.svg'
              }
            },
            {
              title: 'Detailed Management',
              description: 'Bisnis lebih efektif dengan pengelolaan keuangan terencana',
              img: {
                default: 'fragment-default.svg',
                hover: 'fragment-hover.svg'
              }
            }
          ]
        include ../../../layout/product-category-fragment.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Detail Fragment')
      //- ds__componentsItem
      +ds__componentsItem('Single Item')
        -
          data = {
            title: 'Keuntungan Lainnya',
            list: [
              {
                title: '12 Mata Uang di 1 tabungan',
                description: 'Berbagai pilihan mata uang transaksi ',
                img: 'fragment-default.svg'
              }
            ]
          }

        include ../../../layout/product-detail-fragment.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = {
            title: 'Keuntungan Lainnya',
            list: [
              {
                title: '12 Mata Uang di 1 tabungan',
                description: 'Berbagai pilihan mata uang transaksi ',
                img: 'fragment-default.svg'
              },
              {
                title: '12 Mata Uang di 1 tabungan',
                description: 'Berbagai pilihan mata uang transaksi ',
                img: 'fragment-default.svg'
              },
              {
                title: '12 Mata Uang di 1 tabungan',
                description: 'Berbagai pilihan mata uang transaksi ',
                img: 'fragment-default.svg'
              },
              {
                title: '12 Mata Uang di 1 tabungan',
                description: 'Berbagai pilihan mata uang transaksi ',
                img: 'fragment-default.svg'
              }
            ]
          }

        include ../../../layout/product-detail-fragment.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Section')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = {
            title: 'Lengkapi Pengalaman Banking dengan Layanan Personal 24/7',
            description: 'Miliki kartu OCBC NISP Voyage dan nikmati pelayanan prioritas selayaknya asisten pribadi untuk semua kebutuhan perbankan Anda.',
            image: 'premier-card.png',
            button: {
              text: 'Cari Tahu',
              to: '#'
            }
          };

        include ../../../components/product-section.pug

    //- ds__componentsSection
    +ds__componentsSection('Product Services')
      //- ds__componentsItem
      +ds__componentsItem('Single Card')
        -
          data = {
            title: 'Layanan Perbankan harian',
            img: 'cabang-private.svg',
            list: [
              'Instrumen Pasar Uang',
              'Valuta Asing'
            ]
          }

        include ../../../components/product-services.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout', '', true)
        -
          data = {
            title: 'Memastikan Anda selalu jadi yang utama dengan layanan dan produk berkualitas',
            card: [
              {
                title: 'Layanan Perbankan harian',
                img: 'cabang-private.svg',
                list: [
                  'Instrumen Pasar Uang',
                  'Valuta Asing'
                ]
              },
              {
                title: 'Produk Investasi',
                img: 'investasi-private.svg',
                list: [
                  'Instrumen Pasar Uang',
                  'Valuta Asing',
                  'Reksa Dana Pihak Ketiga',
                  'Investasi Pada Obligasi',
                  'Produk Terstruktur'
                ]
              },
              {
                title: 'Perencanaan Kekayaan',
                img: 'moneybag-private.svg',
                list: [
                  'Perencanaan Keuangan',
                  'Asuransi Jiwa*'
                ],
                note: 'Layanan asuransi disediakan oleh pihak eksternal yang diperkenalkan Bank'
              },
              {
                title: 'Layanan Trust',
                img: 'layan-trust-private.svg',
                list: [
                  'Administrasi Trust'
                ]
              },
            ]
          }

        include ../../../layout/product-services.pug

    //- ds__componentsSection
    +ds__componentsSection('Regulator')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [
            {
              img: 'ojk.png',
              name: 'Otoritas Jasa Keuangan',
              to: 'https://ojk.go.id/id',
              target: '_blank'
            },
            {
              img: 'lps.png',
              name: 'Lembaga Penjamin Simpanan',
              to: 'lembaga-penjamin-simpanan.html'
            },
            {
              img: 'perbankan-syariah.png',
              name: 'Perbankan Syariah',
              to: 'http://www.bi.go.id',
              target: '_blank'
            }
          ];

        include ../../../components/regulator.pug

    //- ds__componentsSection
    +ds__componentsSection('Result List')
      //- ds__componentsItem
      +ds__componentsItem('Single Item')
        -
          data = {
            to: '#',
            icon: 'placeholder.png',
            title: 'Credit card selector - OCBC NISP',
            description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
          }

        include ../../../components/result-list.pug

      //- ds__componentsItem
      +ds__componentsItem('Layout')
        -
          data = [
            {
              to: '#',
              icon: 'placeholder.png',
              title: 'Credit card selector - OCBC NISP',
              description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
            },
            {
              to: '#',
              icon: 'placeholder.png',
              title: 'Credit card interest',
              description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
            },
            {
              to: '#',
              icon: 'placeholder.png',
              title: 'Credit card interest',
              description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
            },
            {
              to: '#',
              icon: 'placeholder.png',
              title: 'Credit card interest',
              description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
            },
            {
              to: '#',
              icon: 'placeholder.png',
              title: 'Credit card interest',
              description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
            }
          ]

        include ../../../layout/result-list.pug

    //- ds__componentsSection
    +ds__componentsSection('Schedule')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          className = 'dates-schedule';
          data = [
            {
              date: '6 Jan - 22 Mar 2020',
              list: [
                {
                  title: 'Pendaftaran Registrasi Dibuka',
                  description: 'Kirimkan idemu sebanyak-banyaknya'
                }
              ]
            },
            {
              date: '1 Feb - 31 Mar 2020',
              list: [
                {
                  title: 'Road to Ideation (RIDE) 2020',
                  description: 'Rangkaian kegiatan yang bertujuan untuk membekali peserta sebelum mengikuti Ideation 2020. RIDE 2020 terbagi menjadi 2 sesi berbeda yang akan diselenggarakan di 4 kampus, yaitu Universitas Gadjah Mada, Universitas Indonesia, Universitas Prasetiya Mulya, dan Institut Teknologi Bandung.'
                },
                {
                  title: 'Road To Ideation I: Edu-Tech as an Enabler to Human Capital in Indonesia',
                  description: 'Peserta akan dibekali berbagai wawasan dan pembahasan komprehensif mengenai peran pendidikan dan kaitannya terhadap pembentukan future workforce di Indonesia.'
                },
                {
                  title: 'Road To Ideation II: Workshop \"Be The Solutions\"',
                  description: 'Peserta akan dipersiapkan dengan berbagai tips dan trik dalam merumuskan solusi yang tepat bagi permasahalan yang ditemui.'
                }
              ]
            },
            {
              date: '22 Mar 2020',
              list: [
                {
                  title: 'Batas Waktu Pengiriman Ide',
                  description: 'Hari terakhir pengiriman ide untuk Ideation'
                }
              ]
            },
            {
              date: '30 Mar 2020',
              list: [
                {
                  title: 'Pengumuman 10 Tim Terpilih',
                  description: 'Finalis terpilih akan mengikuti rangkaian workshop acara Ideation'
                }
              ]
            },
            {
              date: '14 Apr 2020',
              list: [
                {
                  title: 'Ideation Hari Pertama',
                  description: 'Diadakan di OCBC NISP Tower, Jakarta lantai 23'
                }
              ]
            },
            {
              date: '15 Apr 2020',
              list: [
                {
                  title: 'Ideation Hari Kedua',
                  description: 'Diadakan di OCBC NISP Tower, Jakarta lantai 23'
                }
              ]
            },
            {
              date: '16 Apr 2020',
              list: [
                {
                  title: 'Presentasi Final',
                  description: 'Diadakan di Ballroom C, Hotel Grand Hyatt Thamrin, Jakarta'
                }
              ]
            }
          ]

        include ../../../layout/schedule.pug

    //- ds__componentsSection
    +ds__componentsSection('Section Image Description')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            image: 'karir.jpg',
            title: 'Be The ONe',
            description: 'Di sini bukan cuma kerja, tapi ditempa biar jadi karyawan tahan banting. Di sini tempat adu ide-ide menawan sekalian ngulik berbagai tren baru layaknya ilmuwan. Di sini semua bisa mutualan sama atasan. Di sini sehabis pulang ngantor bisa seru-seruan bersama teman seperjuangan. Di sini bisa jadi pahlawan dengan mewujudkan impian banyak orang.'
          }

        include ../../../components/section-image-description.pug

    //- ds__componentsSection
    +ds__componentsSection('Share Content')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/share-content.pug

    //- ds__componentsSection
    +ds__componentsSection('Sort Fragment')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        include ../../../components/sort-fragment.pug

    //- ds__componentsSection
    +ds__componentsSection('Stock Graph')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', true)
        -
          data = {
            title: 'Grafik Harga Saham',
            head: {
              title: 'Bank OCBC NISP Tbk. PT',
              link: {
                to: 'https://www.google.com/search?q=idx+ocbc',
                target: '_blank',
                text: 'IDX: NISP'
              }
            },
            body: {
              legend: {
                text: 'Grafik Harga Saham Legend',
                image: 'grafik-harga-saham-legend.svg'
              },
              chart: {
                text: 'Grafik Harga Saham Chart',
                image: 'grafik-harga-saham-chart.svg'
              }
            }
          }

        include ../../../components/stock-graph.pug

    //- ds__componentsSection
    +ds__componentsSection('Tabs')
      //- ds__componentsItem
      +ds__componentsItem('Full Page Tab', '', true)
        -
          data = {
            item: [
              {
                id: 1,
                text: 'Tabungan'
              },
              {
                id: 2,
                text: 'Tabungan Berjangka'
              },
              {
                id: 3,
                text: 'Deposito'
              }
            ]
          }

        include ../../../components/tabs-controll.pug

      //- ds__componentsItem
      +ds__componentsItem('Tagging Tab', '', true)
        -
          data = [
            {
              id: 1,
              text: 'Impor dan Pembelian Domestik'
            },
            {
              id: 2,
              text: 'Ekspor dan Pembelian Domestik'
            },
            {
              id: 3,
              text: 'Garansi'
            }
          ]

        include ../../../components/tagging-tab.pug

      //- ds__componentsItem
      +ds__componentsItem('Vertical Tab', '', true)
        -
          data = [
            {
              id: 1,
              text: 'Tabungan'
            },
            {
              id: 2,
              text: 'Tabungan Berjangka'
            },
            {
              id: 3,
              text: 'Deposito'
            }
          ]

        include ../../../components/vertical-tab.pug

    //- ds__componentsSection
    +ds__componentsSection('Tax Amnesty Section')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        -
          data = [{
            title: 'Penjelasan Amnesti Pajak',
            description: 'Amnesti Pajak merupakan kesempatan bagi wajib pajak untuk berpartisipasi dalam percepatan pembangunan ekonomi Indonesia. Bank OCBC NISP mendukung program Amnesti Pajak melalui layanan perbankan dan produk investasi unggulan untuk mengelola dan mengembangkan dana repatriasi nasabah dari luar negeri.',
            img: 'penjelasan-amnesti-pajak.jpg'
          }]

        include ../../../components/tax-amnesty-section.pug

    //- ds__componentsSection
    +ds__componentsSection('Vision & Mission Section')
      //- ds__componentsItem
      +ds__componentsItem('Vision', '', true)
        -
          data = {
            title: 'Visi',
            desc: 'Menjadi bank pilihan dengan standar dunia yang diakui kepeduliannya dan terpercaya.',
            image: {
              color: 'red',
              img: 'image-circle-3.jpg',
              large: true
            }
          }

        include ../../../components/vision-section.pug

      //- ds__componentsItem
      +ds__componentsItem('Mission', '', true)
        -
          data = {
            text: [
              {
                title: 'Misi 1',
                description: 'Menyediakan dan mengembangkan pelayanan keuangan yang inovatif, berkualitas dan melebihi harapan masyarakat yang dinamik dengan hasil terbaik.',
              },
              {
                title: 'Misi 2',
                description: 'Menciptakan lingkungan kerja yang dapat meningkatkan profesionalisme dan mendorong pembaharuan organisasional dengan semangat kekeluargaan.',
              },
              {
                title: 'Misi 3',
                description: 'Membina jaringan kerjasama yang saling menguntungkan dan dilandasi rasa saling percaya.',
              },
              {
                title: 'Misi 4',
                description: 'Membangun kepercayaan publik melalui perilaku etikal, peduli dan hati-hati (prudent).',
              }
            ],
            image: {
              color: 'gray',
              img: 'image-circle-2.jpg'
            }
          }

        include ../../../components/mission-section.pug
