//-------------------------------------------------------------------------------
  @name: Design System - Component - Header
  @description: Design System - Component - Header
  -------------------------------------------------------------------------------//

+ds__contentItem('Header', 'Components')
  .ocbc-ds__components.ocbc-ds__components__header

    //- ds__componentsSection
    +ds__componentsSection('Header')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
        include ../../../layout/header.pug

      //- ds__componentsItem
      +ds__componentsItem('Premier', '', noPadding = true)
        .ocbc-premier-site
          include ../../../layout/header.pug

      //- ds__componentsItem
      +ds__componentsItem('Private', '', noPadding = true)
        .ocbc-premier-site
          include ../../../layout/header.pug

      //- ds__componentsItem
      +ds__componentsItem('Calculator', '', noPadding = true)
        -
          headerBack = {
            to: '#',
            text: 'Kembali'
          }
        include ../../../layout/header-calc.pug
