//-------------------------------------------------------------------------------
  @name: Design System - Content - Components
  @description: Design System - Content - Components
  -------------------------------------------------------------------------------//

//- ocbc-ds__content__section
+ds__contentSection('Components')
  //- banner
  include banner.pug

  //- card
  include card.pug

  //- form
  include form.pug

  //- table
  include table.pug

  //- calculator-result
  include calculator-result.pug

  //- content-detail
  include content-detail.pug

  //- faq-accordion
  include faq-accordion.pug

  //- popup
  include popup.pug

  //- regular-content
  include regular-content.pug

  //- basic-page
  include basic-page.pug

  //- success-state
  include success-state.pug

  //- header
  include header.pug

  //- footer
  include footer.pug

  //- fragment
  include fragment.pug
