//-------------------------------------------------------------------------------
  @name: Design System - Component - Regular Content
  @description: Design System - Component - Regular Content
  -------------------------------------------------------------------------------//

+ds__contentItem('Regular Content', 'Components')
  .ocbc-ds__components.ocbc-ds__components__reg-content

    //- ds__componentsSection
    +ds__componentsSection('Regular Content')
      //- ds__componentsItem
      +ds__componentsItem('Default')
        .ocbc-reg-content
          .ocbc-container
            .ocbc-row
              .ocbc-col-xl-12
                .ocbc-reg-content__body
                //ocbc-reg-content__body__item
                .ocbc-reg-content__body__item
                  p.ocbc-reg-content__desc
                    | Sejalan dengan perkembangan dunia dan semakin beragamnya modus operandi kejahatan perbankan, seperti kegiatan tindak pidana pencucian uang, maka perlu dilakukan tindakan pencegahan agar sistem perbankan tidak digunakan sebagai sarana atau menjadi sasaran kejahatan pencucian uang, baik yang dilakukan secara langsung maupun tidak langsung oleh pelaku kejahatan.

                  p.ocbc-reg-content__desc
                    | Pemerintah Amerika Serikat telah menetapkan ketentuan mengenai pencegahan pendanaan terhadap terorisme, yang lebih dikenal sebagai USA Patriot Act 2001(Uniting and Strengthening America Providing Appropriate Tools Required to Intercept and Obstruct Terrorism Act 2001 ).

                  p.ocbc-reg-content__desc
                    | USA Patriot Act wajib dilaksanakan oleh lembaga lembaga keuangan Amerika Serikat untuk mencegah digunakannya rekening-rekening pada lembaga tersebut termasuk rekening-rekening koresponden bank asing sebagai sarana untuk pendanaan teroris dan pencucian uang.

                  p.ocbc-reg-content__desc
                    | Untuk memenuhi ketentuan tersebut, lembaga-lembaga keuangan Amerika Serikat mensyaratkan kepada semua bank asing yang telah mempunyai rekening pada mereka untuk mengisi formulir sertifikat yang standar. Formulir yang dikirimkan kepada semua bank asing yang mempunyai rekening koresponden, mensyaratkan bank-bank asing untuk melaksanakan hal-hal berikut:

                //ocbc-reg-content__body__item
                .ocbc-reg-content__body__item
                  p.ocbc-reg-content__desc
                    | Untuk memenuhi persyaratan USA Patriot Act, PT. Bank OCBC NISP, Tbk. telah melengkapi sertifikat mengenai rekening koresponden bank asing. Sertifikat tersebut berlaku untuk semua rekening-rekening yang dibuka untuk PT. Bank OCBC NISP, Tbk. oleh ”Covered Financial Institutions”.

                //ocbc-reg-content__body__item
                .ocbc-reg-content__body__item
                  ul.ocbc-reg-content__list.ocbc-reg-content__list--item-mbm
                    li.ocbc-reg-content__list__item
                      | Menyatakan bahwa mereka bukan shell bank (bank yang tidak memiliki kehadiran secara fisik di negara tempat bank tersebut didirikan dan memperoleh izin, serta tidak berafiliasi dengan kelompok usaha jasa keuangan yang menjadi subjek pengawasan terkonsolidasi efektif).
                    li.ocbc-reg-content__list__item
                      | Menyatakan bahwa mereka tidak akan memperkenankan rekening-rekening koresponden milik lembaga keuangan Amerika Serikat diakses oleh shell bank.
                    li.ocbc-reg-content__list__item
                      | Mengidentifikasi pemilik bank dan
                    li.ocbc-reg-content__list__item
                      | Mengidentifikasi sebuah agen di Amerika Serikat untuk kepentingan proses hukum untuk dan atas kepentingan mereka.

      //- ds__componentsItem
      +ds__componentsItem('Max Width')
        .ocbc-reg-content
          .ocbc-container
            .ocbc-row
              .ocbc-col-xl-12
                .ocbc-reg-content__body
                  .ocbc-reg-content__max-w
                    //ocbc-reg-content__body__item
                    .ocbc-reg-content__body__item
                      p.ocbc-reg-content__desc
                        | Sejalan dengan perkembangan dunia dan semakin beragamnya modus operandi kejahatan perbankan, seperti kegiatan tindak pidana pencucian uang, maka perlu dilakukan tindakan pencegahan agar sistem perbankan tidak digunakan sebagai sarana atau menjadi sasaran kejahatan pencucian uang, baik yang dilakukan secara langsung maupun tidak langsung oleh pelaku kejahatan.

                      p.ocbc-reg-content__desc
                        | Pemerintah Amerika Serikat telah menetapkan ketentuan mengenai pencegahan pendanaan terhadap terorisme, yang lebih dikenal sebagai USA Patriot Act 2001(Uniting and Strengthening America Providing Appropriate Tools Required to Intercept and Obstruct Terrorism Act 2001 ).

                      p.ocbc-reg-content__desc
                        | USA Patriot Act wajib dilaksanakan oleh lembaga lembaga keuangan Amerika Serikat untuk mencegah digunakannya rekening-rekening pada lembaga tersebut termasuk rekening-rekening koresponden bank asing sebagai sarana untuk pendanaan teroris dan pencucian uang.

                      p.ocbc-reg-content__desc
                        | Untuk memenuhi ketentuan tersebut, lembaga-lembaga keuangan Amerika Serikat mensyaratkan kepada semua bank asing yang telah mempunyai rekening pada mereka untuk mengisi formulir sertifikat yang standar. Formulir yang dikirimkan kepada semua bank asing yang mempunyai rekening koresponden, mensyaratkan bank-bank asing untuk melaksanakan hal-hal berikut:

                    //ocbc-reg-content__body__item
                    .ocbc-reg-content__body__item
                      p.ocbc-reg-content__desc
                        | Untuk memenuhi persyaratan USA Patriot Act, PT. Bank OCBC NISP, Tbk. telah melengkapi sertifikat mengenai rekening koresponden bank asing. Sertifikat tersebut berlaku untuk semua rekening-rekening yang dibuka untuk PT. Bank OCBC NISP, Tbk. oleh ”Covered Financial Institutions”.

                    //ocbc-reg-content__body__item
                    .ocbc-reg-content__body__item
                      ul.ocbc-reg-content__list.ocbc-reg-content__list--item-mbm
                        li.ocbc-reg-content__list__item
                          | Menyatakan bahwa mereka bukan shell bank (bank yang tidak memiliki kehadiran secara fisik di negara tempat bank tersebut didirikan dan memperoleh izin, serta tidak berafiliasi dengan kelompok usaha jasa keuangan yang menjadi subjek pengawasan terkonsolidasi efektif).
                        li.ocbc-reg-content__list__item
                          | Menyatakan bahwa mereka tidak akan memperkenankan rekening-rekening koresponden milik lembaga keuangan Amerika Serikat diakses oleh shell bank.
                        li.ocbc-reg-content__list__item
                          | Mengidentifikasi pemilik bank dan
                        li.ocbc-reg-content__list__item
                          | Mengidentifikasi sebuah agen di Amerika Serikat untuk kepentingan proses hukum untuk dan atas kepentingan mereka.
