//-------------------------------------------------------------------------------
  @name: Design System - Component - Success State
  @description: Design System - Component - Success State
  -------------------------------------------------------------------------------//

+ds__contentItem('Success State', 'Components')
  .ocbc-ds__components.ocbc-ds__components__success-state

    //- ds__componentsSection
    +ds__componentsSection('Success State')
      //- ds__componentsItem
      +ds__componentsItem('Default', '', noPadding = true)
          -
            data = {
              image: {
                desktop: 'eform.jpg',
                mobile: 'eform-m.jpg'
              },
              icon: {
                src: 'checklist.svg',
                alt: 'Checklist'
              },
              subTitle: 'Formulir Berhasil Terkirim',
              description: 'Tim OCBC NISP siap menghubungi Anda secepatnya',
              button: [
                {
                  class: 'ocbc-btn--primary',
                  to: '#',
                  text: 'Oke'
                }
              ]
            }
          include ../../../layout/success-state.pug

      //- ds__componentsItem
      +ds__componentsItem('Premier', '', noPadding = true)
          -
            data = {
              image: {
                desktop: 'eform-premier.jpg',
                mobile: 'eform-premier-m.jpg'
              },
              icon: {
                src: 'checklist-gold.svg',
                alt: 'Checklist'
              },
              subTitle: 'Formulir Berhasil Terkirim',
              description: 'Tim OCBC NISP siap menghubungi Anda secepatnya',
              button: [
                {
                  class: 'ocbc-btn--premier',
                  to: '#',
                  text: 'Oke'
                }
              ]
            }
          include ../../../layout/success-state.pug
