//-------------------------------------------------------------------------------
  @name: Design System - Component - Table
  @description: Design System - Component - Table
  -------------------------------------------------------------------------------//

+ds__contentItem('Table', 'Components')
  .ocbc-ds__components.ocbc-ds__components__table
    //- ds__componentsItem
    +ds__componentsItem('Table Striped - Dynamic data', '', noPadding = false)
      include ../../tentang-kami-hubungan-investor/tab-content/vtc-informasi-keuangan/table/ikhtisar-data-keuangan.pug

    +ds__componentsItem('Table - Dynamic data', '', noPadding = false)
      include ../../tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a2.pug
      include ../../tentang-kami-tata-kelola/tab-content/vtc-tata-kelola-perusahaan/table/asean-governance/a3.pug

    //- ds__componentsItem
    +ds__componentsItem('Table Document Required', '', noPadding = false)
      include ../../../components/table-document-required.pug

    //- ds__componentsItem
    +ds__componentsItem('Table Bunga & Biaya', '', noPadding = false)
      include ../../../components/table-bunga-biaya.pug

    //- ds__componentsItem
    +ds__componentsItem('Table Comparison', '', noPadding = false)
      -
        data = {
          title: "Apa Kelebihan dari Produk Ini?",
          category: [
            {
              product: 'kelebihan-utama',
              text: 'Kelebihan Utama'
            }
          ],
          list: [
            {
              slug: 'kelebihan-utama',
              product: 'tanda-360-plus',
              text: '12 Mata Uang dalam 1 Tabungan Bebas Biaya Transaksi Nilai Tukar Valas Kompetitif'
            },
            {
              slug: 'kelebihan-utama',
              product: 'tanda-premium',
              text: 'Tabungan dengan syarat mudah dan ringan untuk mendukung Gerakan Indonesia Menabung'
            },
            {
              slug: 'kelebihan-utama',
              product: 'tanda-valas-sgd',
              text: 'Transaksi Langsung Tanpa Konversi Bebas Akses ATM OCBC Bank Bebas Biaya Admin'
            },
            {
              slug: 'kelebihan-utama',
              product: 'tanda-junior',
              text: '12 Mata Uang dalam 1 Tabungan Bebas Biaya Transaksi Nilai Tukar Valas Kompetitif'
            },
            {
              slug: 'kelebihan-utama',
              product: 'tabunganku',
              text: 'Tabungan dengan syarat mudah dan ringan untuk mendukung Gerakan Indonesia Menabung'
            },
            {
              slug: 'kelebihan-utama',
              product: 'ocbc-nisp-simpel',
              text: '12 Mata Uang dalam 1 Tabungan Bebas Biaya Transaksi Nilai Tukar Valas Kompetitif'
            }
          ]
        }
      include ../../../layout/table-comparison.pug


      -
        data = {
          title: "Apa Kelebihan lainnya dari produk ini?",
          category: [
            {
              product: 'persyaratan-mudah',
              text: 'Persyaratan Mudah'
            },
            {
              product: 'setoran-ringan',
              text: 'Setoran Ringan'
            },
            {
              product: 'kartu-atm',
              text: 'Kartu ATM'
            }
          ],
          list: [
            {
              slug: 'persyaratan-mudah',
              product: 'tanda-360-plus',
              text: '-'
            },
            {
              slug: 'setoran-ringan',
              product: 'tanda-360-plus',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'kartu-atm',
              product: 'tanda-360-plus',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'persyaratan-mudah',
              product: 'tanda-premium',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-ringan',
              product: 'tanda-premium',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'kartu-atm',
              product: 'tanda-premium',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'persyaratan-mudah',
              product: 'tanda-valas-sgd',
              text: '-'
            },
            {
              slug: 'setoran-ringan',
              product: 'tanda-valas-sgd',
              text: '-'
            },
            {
              slug: 'kartu-atm',
              product: 'tanda-valas-sgd',
              text: '-'
            },
            {
              slug: 'persyaratan-mudah',
              product: 'tanda-junior',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-ringan',
              product: 'tanda-junior',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'kartu-atm',
              product: 'tanda-junior',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'persyaratan-mudah',
              product: 'tabunganku',
              text: '-'
            },
            {
              slug: 'setoran-ringan',
              product: 'tabunganku',
              text: '-'
            },
            {
              slug: 'kartu-atm',
              product: 'tabunganku',
              text: '-'
            },
            {
              slug: 'persyaratan-mudah',
              product: 'ocbc-nisp-simpel',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-ringan',
              product: 'ocbc-nisp-simpel',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'kartu-atm',
              product: 'ocbc-nisp-simpel',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            }
          ]
        }
      include ../../../layout/table-comparison.pug

      -
        data = {
          title: "Berapa Biaya & Bunganya?",
          category: [
            {
              product: 'suku-bunga',
              text: 'Suku Bunga'
            }
          ],
          list: [
            {
              slug: 'suku-bunga',
              product: 'tanda-360-plus',
              textList: [
                {
                  title: 'Suku Bunga IDR',
                  content: 'Rp<1 Juta: 0.00 % p.a <br/> Rp1 Juta s/d Rp<30 Juta: 0.10 % p.a <br/> Rp30 Juta sd Rp<100 Juta: 0.15 % p.a <br/>Rp100 Juta sd Rp<500 Juta: 0.25 % p.a <br/> Rp500 Juta sd Rp<1 M: 0.75 % p.a <br/> Rp≥1 M: 1.00 % p.a'
                },
                {
                  title: 'Suku Bunga USD',
                  content: '<1,000: 0.00 % p.a <br/> 1,000 sd <10,000: 0.10 % p.a <br/> 10.000 sd <100.000: 0.25 % p.a <br/> ≥100.000: 0.50 % p.a'
                },
                {
                  title: 'Suku Bunga SGD',
                  content: '<200: 0.00 % p.a <br/> ≥200: 0.00 % p.a'
                },
                {
                  title: 'Suku Bunga JPY',
                  content: '<1 Juta: 0.00 % p.a <br/> ≥1 Juta: 0.00 % p.a'
                },
                {
                  title: 'Suku Bunga EUR',
                  content: '<10.000: 0.00 % p.a <br/> 10.000 sd <50.000: 0.00 % p.a <br/> 50.000 sd <250.000: 0.00 % p.a <br/> ≥250.000: 0.00 % p.a'
                }
              ]
            },
            {
              slug: 'suku-bunga',
              product: 'tanda-premium',
              text: '< SGD 100	: 0.00% per tahun <br/>SGD > 100	: 0.05% per tahun'
            },
            {
              slug: 'suku-bunga',
              product: 'tanda-valas-sgd',
              text: '< SGD 100	: 0.00% per tahun <br/>SGD > 100	: 0.05% per tahun'
            },
            {
              slug: 'suku-bunga',
              product: 'tanda-junior',
              text: '1% per tahun'
            },
            {
              slug: 'suku-bunga',
              product: 'tabunganku',
              text: '1% per tahun'
            },
            {
              slug: 'suku-bunga',
              product: 'ocbc-nisp-simpel',
              text: '1% per tahun'
            }
          ]
        }
      include ../../../layout/table-comparison.pug

      -
        data = {
          tableClass: "syarat-ketentuan",
          title: "Apa Syarat dan Ketentuannya? ",
          category: [
            {
              product: 'kartu-identitas',
              text: 'Kartu Identitas'
            },
            {
              product: 'usia',
              text: 'Usia'
            },
            {
              product: 'setoran-awal',
              text: 'Setoran Awal'
            }
          ],
          list: [
            {
              slug: 'kartu-identitas',
              product: 'tanda-360-plus',
              text: '-'
            },
            {
              slug: 'usia',
              product: 'tanda-360-plus',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-awal',
              product: 'tanda-360-plus',
              text: '-'
            },
            {
              slug: 'kartu-identitas',
              product: 'tanda-premium',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'usia',
              product: 'tanda-premium',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-awal',
              product: 'tanda-premium',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'kartu-identitas',
              product: 'tanda-valas-sgd',
              text: '-'
            },
            {
              slug: 'usia',
              product: 'tanda-valas-sgd',
              text: '-'
            },
            {
              slug: 'setoran-awal',
              product: 'tanda-valas-sgd',
              text: '-'
            },
            {
              slug: 'kartu-identitas',
              product: 'tanda-junior',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'usia',
              product: 'tanda-junior',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-awal',
              product: 'tanda-junior',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'kartu-identitas',
              product: 'tabunganku',
              text: '-'
            },
            {
              slug: 'usia',
              product: 'tabunganku',
              text: '-'
            },
            {
              slug: 'setoran-awal',
              product: 'tabunganku',
              text: '-'
            },
            {
              slug: 'kartu-identitas',
              product: 'ocbc-nisp-simpel',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'usia',
              product: 'ocbc-nisp-simpel',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            },
            {
              slug: 'setoran-awal',
              product: 'ocbc-nisp-simpel',
              text: '<i class="ocbc-fi ocbc-fi-checklist"></i>'
            }
          ]
        }
      include ../../../layout/table-comparison.pug
