//-------------------------------------------------------------------------------
  @name: Search Result - 
  @description: Search Result - 
  -------------------------------------------------------------------------------//
-
  data = {
    title: 'Hasil Pencarian',
    image: {
      desktop: 'search-banner-d.jpg',
      mobile: 'search-banner-m.jpg'
    },
    placeholder: ''
  }
include ../../components/search-banner.pug