//-------------------------------------------------------------------------------
  @name: Search Result - Search Result
  @description: Search Result - Search Result
  -------------------------------------------------------------------------------//

extends ../../layout/search-result.pug

//- filter
block filter
  -
    data = [
      {
        title: 'Filter',
        element: 'checkbox',
        filter: 'filter-search',
        items: [
          {
            image: 'fragment-default.svg',
            name: 'all',
            text: 'Semua Hasil',
            total: '52',
            checked: true
          },
          {
            image: 'fragment-default.svg',
            name: 'produk',
            text: 'Produk',
            total: '7'
          },
          {
            image: 'fragment-default.svg',
            name: 'promo',
            text: 'Promo',
            total: '30'
          },
          {
            image: 'fragment-default.svg',
            name: 'artikel',
            text: 'Artikel',
            total: '15'
          },
          {
            image: 'fragment-default.svg',
            name: 'lainnya',
            text: 'Lainnya',
            total: '0'
          }
        ]
      }
    ]

  include ../../layout/filter.pug

//- result
block result
  -
    data = [
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card selector - OCBC NISP',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      },
      {
        to: '#',
        icon: 'placeholder.png',
        title: 'Credit card interest',
        description: 'For information about our home loan packages and full details of for information about our home loan packages and full details of'
      }
    ]

  include ../../layout/result-list.pug
