//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Kredit Modal Kerja
  @description: Bunga & Biaya SME - Vertical Tab - Kredit Modal Kerja
  -------------------------------------------------------------------------------//


include table/kredit-modal-kerja.pug
