//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Kredit Program
  @description: Bunga & Biaya SME - Vertical Tab - Kredit Program
  -------------------------------------------------------------------------------//


include table/kredit-program.pug
