//-------------------------------------------------------------------------------
  @name: Bunga & Biaya SME - Vertical Tab - Kredit Investigasi
  @description: Bunga & Biaya SME - Vertical Tab - Kredit Investigasi
  -------------------------------------------------------------------------------//


include table/kredit-investigasi.pug
