//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab - Table
  @description: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab - Table
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'limit-transaksi';
    title = '';
    subTitle = '';

block tableHead
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Jenis Transaksi
    th.ocbc-tbl-striped__th(colspan='3')
      | Mata Uang
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
    th.ocbc-tbl-striped__th
      | IDR
    th.ocbc-tbl-striped__th
      | Valas (USD)


block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='3') Transfer Dana Sesama OCBC NISP
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Ke rekening sendiri
    td.ocbc-tbl-striped__td 2,000,000,000
    td.ocbc-tbl-striped__td 25,000 (ekuivalen)*
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Ke rekening OCBC NISP lain
    td.ocbc-tbl-striped__td 1,000,000,000
    td.ocbc-tbl-striped__td 25,000 (ekuivalen)*

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='3') Transfer Dana Ke Bank Lain
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Online
    td.ocbc-tbl-striped__td 200,000,000/hari
    td.ocbc-tbl-striped__td 50,000,000/transaksi
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td LLG
    td.ocbc-tbl-striped__td 1,000,000,000
    td.ocbc-tbl-striped__td N/A
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td RTGS
    td.ocbc-tbl-striped__td 10,000,000,000
    td.ocbc-tbl-striped__td
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Telegraphic Transfer
    td.ocbc-tbl-striped__td
    td.ocbc-tbl-striped__td 25,000 (ekuivalen)*

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td <strong>Pembayaran</strong>
    td.ocbc-tbl-striped__td 500,000,000
    td.ocbc-tbl-striped__td N/A

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td <strong>Pembelian</strong>
    td.ocbc-tbl-striped__td 5,000,000
    td.ocbc-tbl-striped__td N/A
