//-------------------------------------------------------------------------------
  @name: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab - Table
  @description: Bunga & Biaya - Bunga & Biaya Digital Channel - Tab - Table
  -------------------------------------------------------------------------------//

extends ../../../../../components/table-striped.pug

block titleTable
  -
    tableClass = 'pembayaran-pembelian';
    title = '';
    subTitle = '';

block tableHead 
  tr.ocbc-tbl-striped__row-head
    th.ocbc-tbl-striped__th
      | Transaksi
    th.ocbc-tbl-striped__th
      | Biaya

block tableBody
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='2') Transfer Dana
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Transfer ke Bank Lain (Online)
    td.ocbc-tbl-striped__td IDR 6,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Transfer ke Bank Lain (LLG / SKN) – IB / MB only
    td.ocbc-tbl-striped__td IDR 2,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Transfer ke Bank Lain (RTGS) – IB / MB only
    td.ocbc-tbl-striped__td IDR 25,000

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='2') Telegraphic Transfer
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Biaya Telex
    td.ocbc-tbl-striped__td IDR 75,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Biaya Provisi
    td.ocbc-tbl-striped__td Tidak dikenakan biaya

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='2') Biaya Full Amount
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td USD
    td.ocbc-tbl-striped__td USD 25
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td AUD
    td.ocbc-tbl-striped__td AUD 30
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td GBP
    td.ocbc-tbl-striped__td GBP 15
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td HKD
    td.ocbc-tbl-striped__td HKD 300
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td SGD
    td.ocbc-tbl-striped__td SGD 25
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td CNY
    td.ocbc-tbl-striped__td CNY 200
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td CAD
    td.ocbc-tbl-striped__td CAD 25
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td CHF
    td.ocbc-tbl-striped__td CHF 15
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td NZD
    td.ocbc-tbl-striped__td NZD 45
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td JPY
    td.ocbc-tbl-striped__td JPY 4,500

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='2') Pembayaran Tagihan
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PLN Pascabayar
    td.ocbc-tbl-striped__td IDR 2,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Telkom / Indihome
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Rumah Zakat
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Credit Card (kecuali DBS ex-ANZ, Citibank, Danamon, Permata)
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PDAM
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Telkom / Indihome
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Rumah Zakat
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Credit Card (kecuali DBS ex-ANZ, Citibank, Danamon, Permata)
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PDAM
    td.ocbc-tbl-striped__td IDR 2,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PDAM Kota Tangerang
    td.ocbc-tbl-striped__td IDR 3,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Top Up Go-Pay
    td.ocbc-tbl-striped__td IDR 2,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td OVO
    td.ocbc-tbl-striped__td IDR 1,000
    

  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td(colspan='2') Pembayaran Tagihan
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td PLN Prabayar (Token)
    td.ocbc-tbl-striped__td IDR 2,000
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Telkomsel
    td.ocbc-tbl-striped__td IDR 1,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td XL
    td.ocbc-tbl-striped__td IDR 1,500
  tr.ocbc-tbl-striped__tr
    td.ocbc-tbl-striped__td Indosat
    td.ocbc-tbl-striped__td IDR 1,500
    