//-------------------------------------------------------------------------------
  @name: FAQ - FAQ Accordion - Biaya Transaksi
  @description: FAQ - FAQ Accordion - Biaya Transaksi
  -------------------------------------------------------------------------------//

extends ../../../../../components/faq-accordion.pug

block head
  -
    title = 'Password';
    
block content
  h6.ocbc-faq-ac__h6
    | Berapa biaya transaksi di ATM Banking OCBC NISP?
  ol.ocbc-faq-ac__ol
    li.ocbc-faq-ac__li Melalui ATM OCBC NISP
    li.ocbc-faq-ac__li Biaya transaksi di ATM OCBC NISP menggunakan kartu ATM OCBC NISP dapat dilihat di sini
    li.ocbc-faq-ac__li Melalui jaringan ATM lain
