//-------------------------------------------------------------------------------
  @name: FAQ - FAQ Accordion - Biaya Transaksi
  @description: FAQ - FAQ Accordion - Biaya Transaksi
  -------------------------------------------------------------------------------//

extends ../../../../../components/faq-accordion.pug

block head
  -
    title = 'Pemblokiran Kartu ATM melalui ONe Mobile';
    
block content
  h6.ocbc-faq-ac__h6
    | Bagaimana cara memblokir Kartu ATM lewat ONe Mobile?

  -
    data = [
      {
        img: 'phone.jpg',
        label: 'Langkah 1',
        title: 'Download ONe Mobile',
        description: 'Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP'
      },
      {
        img: 'phone.jpg',
        label: 'Langkah 2',
        title: 'Download ONe Mobile',
        description: 'Download aplikasi ONe Mobile, buka aplikasi kemudian klik “Daftar” untuk registrasi bagi Anda yang belum memiliki rekening OCBC NISP'
      }
    ]
  
  include ../../../../../layout/how-to-fragment.pug