//-------------------------------------------------------------------------------
  @name: FAQ - FAQ Accordion - Biaya Transaksi
  @description: FAQ - FAQ Accordion - Biaya Transaksi
  -------------------------------------------------------------------------------//

extends ../../../../../components/faq-accordion.pug

block head
  -
    title = 'Pemblokiran Kartu ATM melalui Call Center OCBC NISP';

block content
  h6.ocbc-faq-ac__h6
    | Bagaimana cara memblokir Kartu ATM jika hilang atau dicuri?
  p.ocbc-faq-ac__p
    | Pemegang kartu ATM cukup menghubungi:
  p.ocbc-faq-ac__p.ocbc-faq-ac__subtitle
    | Call OCBC NISP
  .ocbc-faq-ac__call-center
    .ocbc-faq-ac__ico-wrapper
      img.ocbc-faq-ac__ico(src='img/icon/phone.svg', alt='Phone')/  
    b.ocbc-faq-ac__b
      | 1500-999
  .ocbc-faq-ac__call-center
    .ocbc-faq-ac__ico-wrapper
      img.ocbc-faq-ac__ico(src='img/icon/phone.svg', alt='Phone')/
    b.ocbc-faq-ac__b
      | +62-21-26506300 <span class='ocbc-faq-ac__span'>(dari luar negeri)</span>
  br.ocbc-faq-ac__br/
  p.ocbc-faq-ac__p
    | untuk proses pemblokiran kartu ATM yang hilang dan mengajukan penggantian kartu ATM dengan biaya Rp 100.000
