//-------------------------------------------------------------------------------
  @name: FAQ - FAQ Accordion - Biaya Transaksi
  @description: FAQ - FAQ Accordion - Biaya Transaksi
  -------------------------------------------------------------------------------//

extends ../../../../../components/faq-accordion.pug

block head
  -
    title = 'Cara Penggantian Kartu ATM';

block content
  h6.ocbc-faq-ac__h6
    | Bagaimana cara mengganti Kartu ATM yang hilang atau rusak
  p.ocbc-faq-ac__p
    | Simak tips dan langkah mudah berikut ini:
  ='\n'
  iframe.ocbc-faq-ac__iframe(src='https://www.youtube.com/embed/O0cPu6jgKpY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
  |!{''}
  |
