//-------------------------------------------------------------------------------
  @name: Syariah - Product Service
  @description: Syariah - Product Service
  -------------------------------------------------------------------------------//

-
  data = {
    cardWithNyala: false,
    title: 'Produk dan layanan yang menjawab semua kebutuhan',
    card: [
      {
        isNyala: false,
        image: 'placeholder.jpg',
        title: 'Simpanan',
        to: 'simpanan.html'
      },
      {
        isNyala: false,
        image: 'placeholder.jpg',
        title: 'Simpanan Berjangka',
        to: 'simpanan-berjangka.html'
      },
      {
        isNyala: false,
        image: 'placeholder.jpg',
        title: 'Pembiayaan',
        to: 'pembiayaan.html'
      },
      {
        isNyala: false,
        image: 'placeholder.jpg',
        title: 'Jasa & Layanan',
        to: 'jasa-layanan.html'
      }
    ]
  };

include ../../layout/card-head-product.pug
