//-------------------------------------------------------------------------------
  @name: Syariah - Card needs
  @description: Syariah - Card needs
  -------------------------------------------------------------------------------//

-
  data = {
          title: 'Mulai semua dari sini',
          card: [
            {
              target: 'kewajiban-zakat',
              title: 'Menunaikan Kewajiban Zakat',
              image: 'fragment-default.svg'
            },
            {
              target: 'rumah-idaman',
              title: 'Memiliki Rumah Idaman',
              image: 'fragment-default.svg'
            },
            {
              target: 'naik-haji',
              title: 'Menabung untuk Naik Haji',
              image: 'fragment-default.svg'
            },
            {
              target: 'mengatur-syariah',
              title: 'Mengatur Keuangan dengan Prinsip Syariah',
              image: 'fragment-default.svg'
            },
            {
              target: 'berinvestasi-syariah',
              title: 'Berinvestasi dengan Prinsip Syariah',
              image: 'fragment-default.svg'
            },
          ]
        };
include ../../layout/card-needs.pug
