//-------------------------------------------------------------------------------
  @name: Syariah - Main Banner
  @description: Syariah - Main Banner
  -------------------------------------------------------------------------------//

-
  data = [
          {
            image: {
              desktop: 'placeholder-d.jpg',
              mobile: 'placeholder-m.jpg'
            },
            title: 'Hidup Lebih Nyala Jadikan Semua Nyata',
            description: 'Berhenti bermimpi untuk berani mencapai tujuan finansialmu #TAYTB'
          },
          {
            image: {
              desktop: 'placeholder-d.jpg',
              mobile: 'placeholder-m.jpg'
            },
            title: 'Layanan Terpilih untuk Nasabah Istimewa',
            description: 'Nikmati layanan eksklusif Premier Banking untuk semua kebutuhan perbankan Anda'
          }
        ];
include ../../layout/main-banner.pug
