//-------------------------------------------------------------------------------
  @name: Syariah - Promo Banner
  @description: Syariah - Promo Banner
  -------------------------------------------------------------------------------//

-
  data = [
    {
      image: {
        desktop: 'placeholder-d.jpg',
        mobile: 'placeholder-m.jpg'
      },
      label: 'Promosi - Elevation',
      title: 'Elevate your days with Everyday Deals!',
      description: 'Gunakan Kartu Kredit OCBC NISP Periode hingga 31 Desember 2019',
      button: {
        text: 'Lihat Detail',
        to: '#'
      }
    },
  ];

include ../../layout/promo-banner.pug
